CREATE TABLE [Stage].[TSATripAttributes]
(
	[TTpTripID] bigint NOT NULL,
	[TpTripID] bigint NULL,
	[SubscriberUniqueTransactionID] bigint NULL,
	[AuthorityID] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SubscriberID] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransponderID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CollectorID] bigint NULL,
	[VaultID] bigint NULL,
	[ValidTxnPrimaryKeyID] bigint NULL,
	[SourceTripID] bigint NULL,
	[SourcePKID] bigint NULL,
	[TransactionType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RecordType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ResubmittalReason] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ResubmittalCount] int NULL,
	[LocationType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Facility] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EntryInformation] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Plaza] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Lane] int NULL,
	[LaneMode] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransactionDate] varchar(8) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransactionTime] varchar(12) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransponderStatus] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransponderValidationListFileName] varchar(40) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LicensePlateValidationListFileName] varchar(21) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleClassification] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AxlesExpected] int NULL,
	[AxlesCounted] int NULL,
	[Speed] int NULL,
	[HovdeSignation] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ExitBarrierOrGantryInformation] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleClassificationforTollDetermination] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransponderTollAmount] decimal(19,2) NULL,
	[TransponderDiscountType] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DiscountedTransponderTollAmount] decimal(19,2) NULL,
	[VideoTollAmountWithoutVideoTollPremium] decimal(19,2) NULL,
	[VideoTollAmountWithVideoTollPremium] decimal(19,2) NULL,
	[VideoDiscountType] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DiscountedVideoTollAmountWithoutVideoTollPremium] decimal(19,2) NULL,
	[DiscountedVideoTollAmountWithVideoTollPremium] decimal(19,2) NULL,
	[CashTollAmount] decimal(19,2) NULL,
	[CashDiscountType] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DiscountedCashTollAmount] decimal(19,2) NULL,
	[AmountPaid] decimal(19,2) NULL,
	[UnusualOccurrenceCode] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[NumberOfImages] int NULL,
	[TransactionStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Disposition] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LastValidRecordCount] bigint NULL,
	[OriginalTransactionType] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PostedAmount] decimal(19,2) NULL,
	[CorrectionCount] bigint NULL,
	[OriginalExitTransactionDateTime] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[BMSAlertDate] datetime2(3) NULL,
	[PBMTollAmount] decimal(19,2) NULL,
	[AVITollAmount] decimal(19,2) NULL,
	[InvoiceStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RejectReason] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[BaseFee] decimal(19,2) NULL,
	[VariableFee] decimal(19,2) NULL,
	[InteropTransactionFee] decimal(19,2) NULL,
	[NetPayAmount] decimal(19,2) NULL,
	[SubscriberIDfromFile] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CalculatedVideoAmtWithVideoPremium] decimal(19,2) NULL,
	[CalculatedDiscountedVideoAmtWithVideoPremium] decimal(19,2) NULL,
	[RevenueDate] datetime2(3) NULL,
	[CreatedDate] datetime2(3) NULL,
	[UpdatedDate] datetime2(3) NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([TTpTripID] ASC), DISTRIBUTION = HASH([TTpTripID]))
