CREATE TABLE [Stage].[TxnDispositions]
(
	[DispID] int NOT NULL,
	[DispositionCode] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DispositionDescription] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SourceOfEntry] tinyint NULL,
	[TripStatusCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsFeeApplicable] bit NULL,
	[IsReprocessingAllowed] bit NOT NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([DispID] ASC), DISTRIBUTION = HASH([DispID]))
