CREATE PROC [dbo].[TRUNCATE_CT_TABLES] @TABLE_SCHEMA [varchar](255),@TABLE_NAME [varchar](255) AS
BEGIN 

	IF OBJECT_ID('tempdb..#TRUNCATE_CT_TABLES')<>0
		DROP TABLE #TRUNCATE_CT_TABLES

	CREATE TABLE #TRUNCATE_CT_TABLES
	(
		ROWCOUNTER int ,
		SQLStmt varchar(8000)
	) WITH (LOCATION = USER_DB)

	DECLARE @SQL varchar(8000) = 
	'
		INSERT INTO #TRUNCATE_CT_TABLES
		SELECT 
			  ROW_NUMBER()OVER(ORDER BY (SELECT 1)) AS ROWCOUNTER
			, ''TRUNCATE TABLE ['' + TABLE_CATALOG + ''].['' + TABLE_SCHEMA + ''].['' + TABLE_NAME + '']'' AS SQLStmt
		FROM INFORMATION_SCHEMA.TABLES
		WHERE 
				TABLE_NAME like ''' + @TABLE_NAME + '_CT_%''
			AND TABLE_SCHEMA = ''' + @TABLE_SCHEMA + '''
			--AND TABLE_NAME like ''%_CT_%''
			AND 
				(
					TABLE_NAME <> ''' + @TABLE_NAME + '''
				)

	'

	EXEC (@SQL)

	DECLARE @x INT = 0
	DECLARE @Str varchar(8000) = ''

	DECLARE @xMax int = ISNULL((SELECT  MAX(ROWCOUNTER)+1 FROM #TRUNCATE_CT_TABLES),0);

	WHILE @x < @xMax
	BEGIN
		SET @x = @x + 1

--		IF (SELECT DATA_TYPE FROM #TRUNCATE_CT_TABLES WHERE ORDINAL_POSITION = @x) in ('date','datetime','datetime2')
			SET @Str = @Str + 
					(SELECT SQLStmt FROM #TRUNCATE_CT_TABLES WHERE ROWCOUNTER = @x)

		PRINT @Str
		EXEC(@Str)
		SET @Str = ''

	END


END

