CREATE PROC [IOP_OWNER].[IOP_TXNS_INSERT] AS    /*   Update Stats on CT_INS table to help with de-dupping and update steps   GetFields 'IOP_OWNER','IOP_TXNS'   GetInsertFields2 'IOP_OWNER','IOP_TXNS'  */    EXEC DropStats 'IOP_OWNER','IOP_TXNS_CT_INS'  CREATE STATISTICS STATS_IOP_TXNS_CT_INS_001 ON IOP_OWNER.IOP_TXNS_CT_INS (IOP_TXN_ID)    INSERT INTO IOP_OWNER.IOP_TXNS   (    IOP_TXN_ID, TAG_ID, TAG_IDENTIFIER, TXN_TYPE, ENTRY_TXN_DATE, ENTRY_LANE_ID, ENTRY_LOC, ENTRY_TVL_TAG_STATUS, EXIT_TXN_DATE, EXIT_LANE_ID, EXIT_LOC, EXIT_TVL_TAG_STATUS, EARNED_CLASS, EARNED_REVENUE, POSTED_DATE, LOCAL_POSTED_DATE, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, TXN_STATUS, IS_GUARANTEED, SOURCE_AGCY_ID, AGENCY_CODE, HIA_AGENCY_ID, SOURCE_CODE, SOURCE_TXN_ID, PEER_IOP_TXN_ID, SURCHARGE_FEE_TYPE, SURCHARGE_FEE, LIC_PLATE_STATE, LIC_PLATE_NBR, RESUBMIT_COUNT, REPOST_COUNT, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, IOP_DISPOSITION, ENTRY_REVENUE_TYPE, EXIT_REVENUE_TYPE, ENTRY_TVL_BATCH_ID, EXIT_TVL_BATCH_ID, PROC_FEE_FLAT, PROC_FEE_FLAT_TYPE, PROC_FEE_PCT, PROC_FEE_PCT_TYPE, ATTRIBUTE_2, ATTRIBUTE_3, ATTRIBUTE_4, ATTRIBUTE_5, ATTRIBUTE_6, ATTRIBUTE_7, ATTRIBUTE_8, ATTRIBUTE_9, ATTRIBUTE_10, REV_CHANGED, GL_LINK_ID,     LAST_UPDATE_TYPE, LAST_UPDATE_DATE   )  SELECT      A.IOP_TXN_ID, A.TAG_ID, A.TAG_IDENTIFIER, A.TXN_TYPE, A.ENTRY_TXN_DATE, A.ENTRY_LANE_ID, A.ENTRY_LOC, A.ENTRY_TVL_TAG_STATUS, A.EXIT_TXN_DATE, A.EXIT_LANE_ID, A.EXIT_LOC, A.EXIT_TVL_TAG_STATUS, A.EARNED_CLASS, A.EARNED_REVENUE, A.POSTED_DATE, A.LOCAL_POSTED_DATE, A.DISPOSITION, A.REASON_CODE, A.POSTED_CLASS, A.POSTED_REVENUE, A.TXN_STATUS, A.IS_GUARANTEED, A.SOURCE_AGCY_ID, A.AGENCY_CODE, A.HIA_AGENCY_ID, A.SOURCE_CODE, A.SOURCE_TXN_ID, A.PEER_IOP_TXN_ID, A.SURCHARGE_FEE_TYPE, A.SURCHARGE_FEE, A.LIC_PLATE_STATE, A.LIC_PLATE_NBR, A.RESUBMIT_COUNT, A.REPOST_COUNT, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.IOP_DISPOSITION, A.ENTRY_REVENUE_TYPE, A.EXIT_REVENUE_TYPE, A.ENTRY_TVL_BATCH_ID, A.EXIT_TVL_BATCH_ID, A.PROC_FEE_FLAT, A.PROC_FEE_FLAT_TYPE, A.PROC_FEE_PCT, A.PROC_FEE_PCT_TYPE, A.ATTRIBUTE_2, A.ATTRIBUTE_3, A.ATTRIBUTE_4, A.ATTRIBUTE_5, A.ATTRIBUTE_6, A.ATTRIBUTE_7, A.ATTRIBUTE_8, A.ATTRIBUTE_9, A.ATTRIBUTE_10, A.REV_CHANGED, A.GL_LINK_ID,     'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME  FROM IOP_OWNER.IOP_TXNS_CT_INS A  LEFT JOIN IOP_OWNER.IOP_TXNS B ON A.IOP_TXN_ID = B.IOP_TXN_ID  WHERE B.IOP_TXN_ID IS NULL    

