CREATE PROC [IOP_OWNER].[TVL_TAG_DETAILS_HISTORY_UPDATE] AS
/*
       Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'IOP_OWNER','TVL_TAG_DETAILS_HISTORY_CT_UPD'
CREATE STATISTICS STATS_TVL_TAG_DETAILS_HISTORY_CT_UPD_001 ON IOP_OWNER.TVL_TAG_DETAILS_HISTORY_CT_UPD (TTDH_ID)
CREATE STATISTICS STATS_TVL_TAG_DETAILS_HISTORY_CT_UPD_002 ON IOP_OWNER.TVL_TAG_DETAILS_HISTORY_CT_UPD (TTDH_ID, INSERT_DATETIME)

       UPDATE  IOP_OWNER.TVL_TAG_DETAILS_HISTORY
       SET 

--IOP_OWNER.TVL_TAG_DETAILS_HISTORY.TTDH_ID = B.TTDH_ID
              IOP_OWNER.TVL_TAG_DETAILS_HISTORY.TTD_ID = B.TTD_ID
				, IOP_OWNER.TVL_TAG_DETAILS_HISTORY.HIA_AGCY_ID = B.HIA_AGCY_ID
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.TAG_IDENTIFIER = B.TAG_IDENTIFIER
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.TAG_ID = B.TAG_ID
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.TVL_AGCY_ID = B.TVL_AGCY_ID
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.BATCH_MODE = B.BATCH_MODE
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.TVL_TAG_STATUS = B.TVL_TAG_STATUS
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.LIC_PLATE_NBR = B.LIC_PLATE_NBR
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.LIC_PLATE_STATE = B.LIC_PLATE_STATE
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.VEHICLE_CLASS_CODE = B.VEHICLE_CLASS_CODE
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.REV_TYPE = B.REV_TYPE
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.FIRST_TVL_BATCH_ID = B.FIRST_TVL_BATCH_ID
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.DATE_TVL_EFFECTIVE = B.DATE_TVL_EFFECTIVE
				, IOP_OWNER.TVL_TAG_DETAILS_HISTORY.DATE_TVL_EXPIRED = B.DATE_TVL_EXPIRED
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.LAST_TVL_BATCH_ID = B.LAST_TVL_BATCH_ID
				, IOP_OWNER.TVL_TAG_DETAILS_HISTORY.ATTRIBUTE_1 = B.ATTRIBUTE_1
				, IOP_OWNER.TVL_TAG_DETAILS_HISTORY.ATTRIBUTE_2 = B.ATTRIBUTE_2
				, IOP_OWNER.TVL_TAG_DETAILS_HISTORY.ATTRIBUTE_3 = B.ATTRIBUTE_3
				, IOP_OWNER.TVL_TAG_DETAILS_HISTORY.ATTRIBUTE_4 = B.ATTRIBUTE_4
				, IOP_OWNER.TVL_TAG_DETAILS_HISTORY.ATTRIBUTE_5 = B.ATTRIBUTE_5
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.CREATED_BY = B.CREATED_BY
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.DATE_CREATED = B.DATE_CREATED
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.MODIFIED_BY = B.MODIFIED_BY
                , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.DATE_MODIFIED = B.DATE_MODIFIED
              , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.LAST_UPDATE_TYPE = 'U'
              , IOP_OWNER.TVL_TAG_DETAILS_HISTORY.LAST_UPDATE_DATE = B.INSERT_DATETIME
       FROM IOP_OWNER.TVL_TAG_DETAILS_HISTORY_CT_UPD B
       WHERE IOP_OWNER.TVL_TAG_DETAILS_HISTORY.TTDH_ID = B.TTDH_ID;
