CREATE PROC [IOP_OWNER].[TVL_TAG_DETAILS_DELETE] AS      EXEC DropStats 'IOP_OWNER','TVL_TAG_DETAILS_CT_DEL'  CREATE STATISTICS STATS_TVL_TAG_DETAILS_CT_DEL_001 ON IOP_OWNER.TVL_TAG_DETAILS_CT_DEL (TTD_ID)  CREATE STATISTICS STATS_TVL_TAG_DETAILS_CT_DEL_002 ON IOP_OWNER.TVL_TAG_DETAILS_CT_DEL (TTD_ID, INSERT_DATETIME)        UPDATE IOP_OWNER.TVL_TAG_DETAILS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM IOP_OWNER.TVL_TAG_DETAILS_CT_DEL B  WHERE IOP_OWNER.TVL_TAG_DETAILS.TTD_ID = B.TTD_ID    /*   To Test With:     INSERT INTO IOP_OWNER.VIOLATIONS_CT_DEL   SELECT TOP 1 * FROM IOP_OWNER.VIOLATIONS_CT_DEL      SELECT * FROM IOP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'  */  

