CREATE PROC [IOP_OWNER].[HUB_IOP_TXNS_DELETE] AS


EXEC DropStats 'IOP_OWNER','HUB_IOP_TXNS_CT_DEL'
CREATE STATISTICS STATS_HUB_IOP_TXNS_CT_DEL_001 ON IOP_OWNER.HUB_IOP_TXNS_CT_DEL (HUB_IOP_TXN_ID)




UPDATE IOP_OWNER.HUB_IOP_TXNS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM IOP_OWNER.HUB_IOP_TXNS_CT_DEL B
WHERE IOP_OWNER.HUB_IOP_TXNS.HUB_IOP_TXN_ID = B.HUB_IOP_TXN_ID
