CREATE PROC [IOP_OWNER].[HUB_TVL_TAG_DETAILS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'IOP_OWNER','HUB_TVL_TAG_DETAILS'
	GetInsertFields2 'IOP_OWNER','HUB_TVL_TAG_DETAILS'
*/

EXEC DropStats 'IOP_OWNER','HUB_TVL_TAG_DETAILS_CT_INS'
CREATE STATISTICS STATS_HUB_TVL_TAG_DETAILS_CT_INS_001 ON IOP_OWNER.HUB_TVL_TAG_DETAILS_CT_INS (HUB_TVL_TAG_DETAIL_ID)

INSERT INTO IOP_OWNER.HUB_TVL_TAG_DETAILS
	(
		 HUB_TVL_TAG_DETAIL_ID, HUB_ID, IOP_HOME_AGENCY_ID, IOP_SENT_TO_AGENCY_ID, TAG_AGENCY_ID, TAG_SERIAL_NUMBER, TAG_STATUS, DISCOUNT_PLANS, TAG_TYPE, TAG_CLASS, ACCOUNT_NUMBER, FLEET_INDICATOR, EFFECTIVE_BATCH_ID, BATCH_MODE, DATE_TVL_EFFECTIVE, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	   A.HUB_TVL_TAG_DETAIL_ID, A.HUB_ID, A.IOP_HOME_AGENCY_ID, A.IOP_SENT_TO_AGENCY_ID, A.TAG_AGENCY_ID, A.TAG_SERIAL_NUMBER, A.TAG_STATUS, A.DISCOUNT_PLANS, A.TAG_TYPE, A.TAG_CLASS, A.ACCOUNT_NUMBER, A.FLEET_INDICATOR, A.EFFECTIVE_BATCH_ID, A.BATCH_MODE, A.DATE_TVL_EFFECTIVE, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED,
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM 
	IOP_OWNER.HUB_TVL_TAG_DETAILS_CT_INS A
	LEFT JOIN 
	IOP_OWNER.HUB_TVL_TAG_DETAILS B 
ON 
	A.HUB_TVL_TAG_DETAIL_ID = B.HUB_TVL_TAG_DETAIL_ID
WHERE 
	B.HUB_TVL_TAG_DETAIL_ID IS NULL




