CREATE PROC [IOP_OWNER].[HUB_TXN_BATCH_DETAILS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'IOP_OWNER','HUB_TXN_BATCH_DETAILS'
	GetInsertFields2 'IOP_OWNER','HUB_TXN_BATCH_DETAILS'
*/

EXEC DropStats 'IOP_OWNER','HUB_TXN_BATCH_DETAILS_CT_INS'
CREATE STATISTICS STATS_HUB_TXN_BATCH_DETAILS_CT_INS_001 ON IOP_OWNER.HUB_TXN_BATCH_DETAILS_CT_INS (HUB_IOP_TXN_ID)

INSERT INTO IOP_OWNER.HUB_TXN_BATCH_DETAILS
	(
		 HUB_TXN_BATCH_DETAIL_ID, HUB_TXN_BATCH_ID, HUB_IOP_TXN_ID, RAW_DR_RECORD_TYPE, RAW_DR_ORIGINAL_RECORD_TYPE, RAW_DR_TXN_REFERENCE_ID, RAW_DR_EXIT_TXN_DATE, RAW_DR_FACS_ID, RAW_DR_FACS_DESC, RAW_DR_EXIT_PLAZA, RAW_DR_EXIT_PLAZA_DESC, RAW_DR_EXIT_LANE, RAW_DR_ENTRY_TXN_DATE, RAW_DR_ENTRY_PLAZA, RAW_DR_ENTRY_PLAZA_DESC, RAW_DR_ENTRY_LANE, RAW_DR_TAG_AGENCY_ID, RAW_DR_TAG_SERIAL_NUMBER, RAW_DR_TAG_STATUS, RAW_DR_OCCUPANCY_INDICATOR, RAW_DR_VEHICLE_CLASS, RAW_DR_TOLL_AMT, RAW_DR_DISCOUNT_PLAN, RAW_DR_LIC_PLATE_COUNTRY, RAW_DR_LIC_PLATE_STATE, RAW_DR_LIC_PLATE_NUMBER, RAW_DR_LIC_PLATE_TYPE, RAW_DR_VEHICLE_CLASS_ADJ_FLAG, RAW_DR_SYS_MATCHED_FLAG, FAILED, FAILED_DISPOSITION, FAILED_REASON, FAILED_DISP_STATUS, FAILED_DATE, FAILED_HUB_TXN_BATCH_DETAIL_ID, SYSTEM_ERROR, ADJ_FAILED_DISP_REASON_CODE, INCORRECT_FEE_CHARGED, ACCT_ID, ACCT_BAL_BEFORE_POSTING, ACCT_BAL_AFTER_POSTING, RAW_DR_ADJUSTMENT_DATE, RAW_DR_ADJUSTMENT_REASON, RAW_DR_OTHER_ADJUSTMENT_DESC, RAW_DR_ADJUSTMENT_COUNT, RAW_DR_RESUBMIT_REASON, RAW_DR_RESUBMIT_COUNT, RAW_DR_HOME_TXN_REFERENCE_ID, RAW_DR_RECON_HOME_AGENCY_ID, RAW_DR_IOP_DISPOSITION, RAW_DR_POSTED_AMT, RAW_DR_POSTED_DATE, RAW_DR_POSTED_DISCOUNT_PLAN, RAW_DR_PROC_FEE_FLAT, RAW_DR_PROC_FEE_PCT, RAW_DR_ATTRIBUTE_1, RAW_DR_ATTRIBUTE_2, RAW_DR_ATTRIBUTE_3, RAW_DR_ATTRIBUTE_4, RAW_DR_ATTRIBUTE_5, ATTRIBUTE_6, ATTRIBUTE_7, ATTRIBUTE_8, ATTRIBUTE_9, ATTRIBUTE_10, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.HUB_TXN_BATCH_DETAIL_ID, A.HUB_TXN_BATCH_ID, A.HUB_IOP_TXN_ID, A.RAW_DR_RECORD_TYPE, A.RAW_DR_ORIGINAL_RECORD_TYPE, A.RAW_DR_TXN_REFERENCE_ID, A.RAW_DR_EXIT_TXN_DATE, A.RAW_DR_FACS_ID, A.RAW_DR_FACS_DESC, A.RAW_DR_EXIT_PLAZA, A.RAW_DR_EXIT_PLAZA_DESC, A.RAW_DR_EXIT_LANE, A.RAW_DR_ENTRY_TXN_DATE, A.RAW_DR_ENTRY_PLAZA, A.RAW_DR_ENTRY_PLAZA_DESC, A.RAW_DR_ENTRY_LANE, A.RAW_DR_TAG_AGENCY_ID, A.RAW_DR_TAG_SERIAL_NUMBER, A.RAW_DR_TAG_STATUS, A.RAW_DR_OCCUPANCY_INDICATOR, A.RAW_DR_VEHICLE_CLASS, A.RAW_DR_TOLL_AMT, A.RAW_DR_DISCOUNT_PLAN, A.RAW_DR_LIC_PLATE_COUNTRY, A.RAW_DR_LIC_PLATE_STATE, A.RAW_DR_LIC_PLATE_NUMBER, A.RAW_DR_LIC_PLATE_TYPE, A.RAW_DR_VEHICLE_CLASS_ADJ_FLAG, A.RAW_DR_SYS_MATCHED_FLAG, A.FAILED, A.FAILED_DISPOSITION, A.FAILED_REASON, A.FAILED_DISP_STATUS, A.FAILED_DATE, A.FAILED_HUB_TXN_BATCH_DETAIL_ID, A.SYSTEM_ERROR, A.ADJ_FAILED_DISP_REASON_CODE, A.INCORRECT_FEE_CHARGED, A.ACCT_ID, A.ACCT_BAL_BEFORE_POSTING, A.ACCT_BAL_AFTER_POSTING, A.RAW_DR_ADJUSTMENT_DATE, A.RAW_DR_ADJUSTMENT_REASON, A.RAW_DR_OTHER_ADJUSTMENT_DESC, A.RAW_DR_ADJUSTMENT_COUNT, A.RAW_DR_RESUBMIT_REASON, A.RAW_DR_RESUBMIT_COUNT, A.RAW_DR_HOME_TXN_REFERENCE_ID, A.RAW_DR_RECON_HOME_AGENCY_ID, A.RAW_DR_IOP_DISPOSITION, A.RAW_DR_POSTED_AMT, A.RAW_DR_POSTED_DATE, A.RAW_DR_POSTED_DISCOUNT_PLAN, A.RAW_DR_PROC_FEE_FLAT, A.RAW_DR_PROC_FEE_PCT, A.RAW_DR_ATTRIBUTE_1, A.RAW_DR_ATTRIBUTE_2, A.RAW_DR_ATTRIBUTE_3, A.RAW_DR_ATTRIBUTE_4, A.RAW_DR_ATTRIBUTE_5, A.ATTRIBUTE_6, A.ATTRIBUTE_7, A.ATTRIBUTE_8, A.ATTRIBUTE_9, A.ATTRIBUTE_10, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, 
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM IOP_OWNER.HUB_TXN_BATCH_DETAILS_CT_INS A
LEFT JOIN IOP_OWNER.HUB_TXN_BATCH_DETAILS B ON A.HUB_TXN_BATCH_DETAIL_ID = B.HUB_TXN_BATCH_DETAIL_ID
WHERE B.HUB_TXN_BATCH_DETAIL_ID IS NULL


