CREATE PROC [IOP_OWNER].[HUB_TVL_LIC_PLATE_DETAILS_UPDATE] AS

EXEC DropStats 'IOP_OWNER','HUB_TVL_LIC_PLATE_DETAILS_CT_UPD'
CREATE STATISTICS STATS_HUB_TVL_LIC_PLATE_DETAILS_CT_UPD_001 ON IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS_CT_UPD (HUB_TVL_LIC_PLATE_DETAIL_ID)
CREATE STATISTICS STATS_HUB_TVL_LIC_PLATE_DETAILS_CT_UPD_002 ON IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS_CT_UPD (HUB_TVL_LIC_PLATE_DETAIL_ID, INSERT_DATETIME)

	UPDATE  IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS
	SET 
    
		IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.HUB_TVL_TAG_DETAIL_ID = B.HUB_TVL_TAG_DETAIL_ID
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.IOP_HOME_AGENCY_ID = B.IOP_HOME_AGENCY_ID
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.IOP_SENT_TO_AGENCY_ID = B.IOP_SENT_TO_AGENCY_ID
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.TAG_AGENCY_ID = B.TAG_AGENCY_ID
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.TAG_SERIAL_NUMBER = B.TAG_SERIAL_NUMBER
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.LIC_PLATE_COUNTRY = B.LIC_PLATE_COUNTRY
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.LIC_PLATE_STATE = B.LIC_PLATE_STATE
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.LIC_PLATE_NUMBER = B.LIC_PLATE_NUMBER
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.LIC_PLATE_EFF_FROM = B.LIC_PLATE_EFF_FROM
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.LIC_PLATE_EFF_TO = B.LIC_PLATE_EFF_TO
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.LIC_PLATE_TYPE = B.LIC_PLATE_TYPE
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.CREATED_BY = B.CREATED_BY
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.DATE_CREATED = B.DATE_CREATED
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.MODIFIED_BY = B.MODIFIED_BY
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.DATE_MODIFIED = B.DATE_MODIFIED
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.LAST_UPDATE_TYPE = 'U'
		, IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS_CT_UPD B
	WHERE IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS.HUB_TVL_LIC_PLATE_DETAIL_ID = B.HUB_TVL_LIC_PLATE_DETAIL_ID


