CREATE PROC [IOP_OWNER].[HUB_TVL_BATCH_LIC_PLATES_Update_Stats] AS

EXEC DropStats 'IOP_OWNER','HUB_TVL_BATCH_LIC_PLATES'
CREATE STATISTICS STATS_HUB_TVL_BATCH_LIC_PLATES_001 ON IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES (HUB_TVL_BATCH_LIC_PLATE_ID)
CREATE STATISTICS STATS_HUB_TVL_BATCH_LIC_PLATES_002 ON IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES (HUB_TVL_BATCH_LIC_PLATE_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_HUB_TVL_BATCH_LIC_PLATES_003 ON IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES (LAST_UPDATE_DATE)
