CREATE PROC [IOP_OWNER].[TVL_TAG_DETAILS_HISTORY_Update_Stats] AS

EXEC DropStats 'IOP_OWNER','TVL_TAG_DETAILS_HISTORY'
CREATE STATISTICS STATS_TVL_TAG_DETAILS_HISTORY_001 ON IOP_OWNER.TVL_TAG_DETAILS_HISTORY (TTDH_ID)
CREATE STATISTICS STATS_TVL_TAG_DETAILS_HISTORY_003 ON IOP_OWNER.TVL_TAG_DETAILS_HISTORY (TTDH_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_TVL_TAG_DETAILS_HISTORY_004 ON IOP_OWNER.TVL_TAG_DETAILS_HISTORY (LAST_UPDATE_DATE)
