CREATE PROC [IOP_OWNER].[TVL_TAG_DETAILS_HISTORY_DELETE] AS      
EXEC DropStats 'IOP_OWNER','TVL_TAG_DETAILS_HISTORY_CT_DEL'  

CREATE STATISTICS STATS_TVL_TAG_DETAILS_HISTORY_CT_DEL_001 ON IOP_OWNER.TVL_TAG_DETAILS_HISTORY_CT_DEL (TTDH_ID)  
CREATE STATISTICS STATS_TVL_TAG_DETAILS_HISTORY_CT_DEL_002 ON IOP_OWNER.TVL_TAG_DETAILS_HISTORY_CT_DEL (TTDH_ID, INSERT_DATETIME)        

UPDATE IOP_OWNER.TVL_TAG_DETAILS_HISTORY   
SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  
FROM IOP_OWNER.TVL_TAG_DETAILS_HISTORY_CT_DEL B  
WHERE IOP_OWNER.TVL_TAG_DETAILS_HISTORY.TTDH_ID = B.TTDH_ID 
