CREATE PROC [IOP_OWNER].[HUB_TVL_BATCH_LIC_PLATES_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'IOP_OWNER','HUB_TVL_BATCH_LIC_PLATES'
	GetInsertFields2 'IOP_OWNER','HUB_TVL_BATCH_LIC_PLATES'
*/

EXEC DropStats 'IOP_OWNER','HUB_TVL_BATCH_LIC_PLATES_CT_INS'
CREATE STATISTICS STATS_HUB_TVL_BATCH_LIC_PLATES_CT_INS_001 ON IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES_CT_INS (HUB_TVL_BATCH_LIC_PLATE_ID)

INSERT INTO IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES
	(
		HUB_TVL_BATCH_LIC_PLATE_ID, HUB_TVL_BATCH_ID, HUB_TVL_BATCH_DETAIL_ID, RAW_DR_IOP_HOME_AGENCY_ID, RAW_DR_LIC_PLATE_COUNTRY, RAW_DR_LIC_PLATE_STATE, RAW_DR_LIC_PLATE_NUMBER, RAW_DR_LIC_PLATE_TYPE, RAW_DR_LIC_PLATE_EFF_FROM, RAW_DR_LIC_PLATE_EFF_TO, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, DATE_CREATED_MONTH, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.HUB_TVL_BATCH_LIC_PLATE_ID, A.HUB_TVL_BATCH_ID, A.HUB_TVL_BATCH_DETAIL_ID, A.RAW_DR_IOP_HOME_AGENCY_ID, A.RAW_DR_LIC_PLATE_COUNTRY, A.RAW_DR_LIC_PLATE_STATE, A.RAW_DR_LIC_PLATE_NUMBER, A.RAW_DR_LIC_PLATE_TYPE, A.RAW_DR_LIC_PLATE_EFF_FROM, A.RAW_DR_LIC_PLATE_EFF_TO, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.DATE_CREATED_MONTH, 
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES_CT_INS A
LEFT JOIN IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES B ON A.HUB_TVL_BATCH_LIC_PLATE_ID = B.HUB_TVL_BATCH_LIC_PLATE_ID
WHERE B.HUB_TVL_BATCH_LIC_PLATE_ID IS NULL


