CREATE PROC [IOP_OWNER].[IOP_TXNS_Update_Stats] AS

EXEC DropStats 'IOP_OWNER','IOP_TXNS'
CREATE STATISTICS STATS_IOP_TXNS_001 ON IOP_OWNER.IOP_TXNS (IOP_TXN_ID)
CREATE STATISTICS STATS_IOP_TXNS_003 ON IOP_OWNER.IOP_TXNS (IOP_TXN_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_IOP_TXNS_004 ON IOP_OWNER.IOP_TXNS (LAST_UPDATE_DATE)

