CREATE PROC [IOP_OWNER].[IOP_TXNS_DELETE] AS      EXEC DropStats 'IOP_OWNER','IOP_TXNS_CT_DEL'  CREATE STATISTICS STATS_IOP_TXNS_CT_DEL_001 ON IOP_OWNER.IOP_TXNS_CT_DEL (IOP_TXN_ID)  CREATE STATISTICS STATS_IOP_TXNS_CT_DEL_002 ON IOP_OWNER.IOP_TXNS_CT_DEL (IOP_TXN_ID, INSERT_DATETIME)        UPDATE IOP_OWNER.IOP_TXNS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM IOP_OWNER.IOP_TXNS_CT_DEL B  WHERE IOP_OWNER.IOP_TXNS.IOP_TXN_ID = B.IOP_TXN_ID    
/*   To Test With:     INSERT INTO IOP_OWNER.VIOLATIONS_CT_DEL   SELECT TOP 1 * FROM IOP_OWNER.VIOLATIONS_CT_DEL      SELECT * FROM IOP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'  */  

