CREATE PROC [IOP_OWNER].[HUB_TVL_BATCH_LIC_PLATES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'IOP_OWNER','HUB_TVL_BATCH_LIC_PLATES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'IOP_OWNER','HUB_TVL_BATCH_LIC_PLATES_CT_UPD'
CREATE STATISTICS STATS_HUB_TVL_BATCH_LIC_PLATES_CT_UPD_001 ON IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES_CT_UPD (HUB_TVL_BATCH_LIC_PLATE_ID)
CREATE STATISTICS STATS_HUB_TVL_BATCH_LIC_PLATES_CT_UPD_002 ON IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES_CT_UPD (HUB_TVL_BATCH_LIC_PLATE_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#HUB_TVL_BATCH_LIC_PLATES_CT_UPD_Dups')<>0
	DROP TABLE #HUB_TVL_BATCH_LIC_PLATES_CT_UPD_Dups

CREATE TABLE #HUB_TVL_BATCH_LIC_PLATES_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (HUB_TVL_BATCH_LIC_PLATE_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.HUB_TVL_BATCH_LIC_PLATE_ID, A.INSERT_DATETIME
	FROM IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES_CT_UPD A
	INNER JOIN 
		(
			SELECT HUB_TVL_BATCH_LIC_PLATE_ID
			FROM IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES_CT_UPD
			GROUP BY HUB_TVL_BATCH_LIC_PLATE_ID
			HAVING COUNT(*)>1
		) Dups ON A.HUB_TVL_BATCH_LIC_PLATE_ID = Dups.HUB_TVL_BATCH_LIC_PLATE_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#HUB_TVL_BATCH_LIC_PLATES_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #HUB_TVL_BATCH_LIC_PLATES_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #HUB_TVL_BATCH_LIC_PLATES_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (HUB_TVL_BATCH_LIC_PLATE_ID), LOCATION = USER_DB)
AS
	SELECT  A.HUB_TVL_BATCH_LIC_PLATE_ID, A.HUB_TVL_BATCH_ID, A.HUB_TVL_BATCH_DETAIL_ID, A.RAW_DR_IOP_HOME_AGENCY_ID, A.RAW_DR_LIC_PLATE_COUNTRY, A.RAW_DR_LIC_PLATE_STATE, A.RAW_DR_LIC_PLATE_NUMBER, A.RAW_DR_LIC_PLATE_TYPE, A.RAW_DR_LIC_PLATE_EFF_FROM, A.RAW_DR_LIC_PLATE_EFF_TO, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.DATE_CREATED_MONTH, A.INSERT_DATETIME
	FROM IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES_CT_UPD A
	INNER JOIN 
		(
			SELECT HUB_TVL_BATCH_LIC_PLATE_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #HUB_TVL_BATCH_LIC_PLATES_CT_UPD_Dups
			GROUP BY HUB_TVL_BATCH_LIC_PLATE_ID
		) LastRcrd ON A.HUB_TVL_BATCH_LIC_PLATE_ID = LastRcrd.HUB_TVL_BATCH_LIC_PLATE_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES_CT_UPD 
WHERE EXISTS(SELECT * FROM #HUB_TVL_BATCH_LIC_PLATES_CT_UPD_Dups B WHERE IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES_CT_UPD.HUB_TVL_BATCH_LIC_PLATE_ID = B.HUB_TVL_BATCH_LIC_PLATE_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES_CT_UPD 
	(  HUB_TVL_BATCH_LIC_PLATE_ID, HUB_TVL_BATCH_ID, HUB_TVL_BATCH_DETAIL_ID, RAW_DR_IOP_HOME_AGENCY_ID, RAW_DR_LIC_PLATE_COUNTRY, RAW_DR_LIC_PLATE_STATE, RAW_DR_LIC_PLATE_NUMBER, RAW_DR_LIC_PLATE_TYPE, RAW_DR_LIC_PLATE_EFF_FROM, RAW_DR_LIC_PLATE_EFF_TO, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, DATE_CREATED_MONTH, INSERT_DATETIME)
SELECT  HUB_TVL_BATCH_LIC_PLATE_ID, HUB_TVL_BATCH_ID, HUB_TVL_BATCH_DETAIL_ID, RAW_DR_IOP_HOME_AGENCY_ID, RAW_DR_LIC_PLATE_COUNTRY, RAW_DR_LIC_PLATE_STATE, RAW_DR_LIC_PLATE_NUMBER, RAW_DR_LIC_PLATE_TYPE, RAW_DR_LIC_PLATE_EFF_FROM, RAW_DR_LIC_PLATE_EFF_TO, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, DATE_CREATED_MONTH, INSERT_DATETIME
FROM #HUB_TVL_BATCH_LIC_PLATES_CT_UPD_DuplicateLastRowToReInsert


	UPDATE  IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES
	SET 
    
		IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.HUB_TVL_BATCH_ID = B.HUB_TVL_BATCH_ID
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.HUB_TVL_BATCH_DETAIL_ID = B.HUB_TVL_BATCH_DETAIL_ID
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.RAW_DR_IOP_HOME_AGENCY_ID = B.RAW_DR_IOP_HOME_AGENCY_ID
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.RAW_DR_LIC_PLATE_COUNTRY = B.RAW_DR_LIC_PLATE_COUNTRY
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.RAW_DR_LIC_PLATE_STATE = B.RAW_DR_LIC_PLATE_STATE
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.RAW_DR_LIC_PLATE_NUMBER = B.RAW_DR_LIC_PLATE_NUMBER
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.RAW_DR_LIC_PLATE_TYPE = B.RAW_DR_LIC_PLATE_TYPE
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.RAW_DR_LIC_PLATE_EFF_FROM = B.RAW_DR_LIC_PLATE_EFF_FROM
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.RAW_DR_LIC_PLATE_EFF_TO = B.RAW_DR_LIC_PLATE_EFF_TO
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.CREATED_BY = B.CREATED_BY
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.DATE_CREATED = B.DATE_CREATED
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.MODIFIED_BY = B.MODIFIED_BY
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.DATE_MODIFIED = B.DATE_MODIFIED
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.DATE_CREATED_MONTH = B.DATE_CREATED_MONTH
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.LAST_UPDATE_TYPE = 'U'
		, IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES_CT_UPD B
	WHERE IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.HUB_TVL_BATCH_LIC_PLATE_ID = B.HUB_TVL_BATCH_LIC_PLATE_ID

