CREATE PROC [IOP_OWNER].[HUB_IOP_TXNS_Update_Stats] AS

EXEC DropStats 'IOP_OWNER','HUB_IOP_TXNS'
CREATE STATISTICS STATS_HUB_IOP_TXNS_001 ON IOP_OWNER.HUB_IOP_TXNS (HUB_IOP_TXN_ID)
--CREATE STATISTICS STATS_HUB_IOP_TXNS_002 ON IOP_OWNER.HUB_IOP_TXNS (HUB_IOP_TXN_ID, VIOLATOR_ID)
CREATE STATISTICS STATS_HUB_IOP_TXNS_002 ON IOP_OWNER.HUB_IOP_TXNS (HUB_IOP_TXN_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_HUB_IOP_TXNS_003 ON IOP_OWNER.HUB_IOP_TXNS (LAST_UPDATE_DATE)
