CREATE PROC [IOP_OWNER].[HUB_TVL_BATCH_LIC_PLATES_DELETE] AS


EXEC DropStats 'IOP_OWNER','HUB_TVL_BATCH_LIC_PLATES_CT_DEL'
CREATE STATISTICS STATS_HUB_TVL_BATCH_LIC_PLATES_CT_DEL_001 ON IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES_CT_DEL (HUB_TVL_BATCH_LIC_PLATE_ID)




UPDATE IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES_CT_DEL B
WHERE IOP_OWNER.HUB_TVL_BATCH_LIC_PLATES.HUB_TVL_BATCH_LIC_PLATE_ID = B.HUB_TVL_BATCH_LIC_PLATE_ID
