CREATE PROC [IOP_OWNER].[HUB_IOP_TXNS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'IOP_OWNER','HUB_IOP_TXNS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'IOP_OWNER','HUB_IOP_TXNS_CT_UPD'
CREATE STATISTICS STATS_HUB_IOP_TXNS_CT_UPD_001 ON IOP_OWNER.HUB_IOP_TXNS_CT_UPD (HUB_IOP_TXN_ID)
CREATE STATISTICS STATS_HUB_IOP_TXNS_CT_UPD_002 ON IOP_OWNER.HUB_IOP_TXNS_CT_UPD (HUB_IOP_TXN_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#HUB_IOP_TXNS_CT_UPD_Dups')<>0
	DROP TABLE #HUB_IOP_TXNS_CT_UPD_Dups

CREATE TABLE #HUB_IOP_TXNS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (HUB_IOP_TXN_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.HUB_IOP_TXN_ID, A.INSERT_DATETIME
	FROM IOP_OWNER.HUB_IOP_TXNS_CT_UPD A
	INNER JOIN 
		(
			SELECT HUB_IOP_TXN_ID
			FROM IOP_OWNER.HUB_IOP_TXNS_CT_UPD
			GROUP BY HUB_IOP_TXN_ID
			HAVING COUNT(*)>1
		) Dups ON A.HUB_IOP_TXN_ID = Dups.HUB_IOP_TXN_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#HUB_IOP_TXNS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #HUB_IOP_TXNS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #HUB_IOP_TXNS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (HUB_IOP_TXN_ID), LOCATION = USER_DB)
AS
	SELECT  A.HUB_IOP_TXN_ID, A.RECORD_TYPE, A.TXN_REFERENCE_ID, A.HOST_TXN_ID, A.EXIT_TXN_DATE, A.EXIT_LANE, A.ENTRY_TXN_DATE, A.ENTRY_LANE, A.TAG_AGENCY_ID, A.TAG_SERIAL_NUMBER, A.TAG_STATUS, A.OCCUPANCY_INDICATOR, A.VEHICLE_CLASS, A.EARNED_REVENUE, A.DISCOUNT_PLAN, A.LIC_PLATE_COUNTRY, A.LIC_PLATE_STATE, A.LIC_PLATE_NUMBER, A.LIC_PLATE_TYPE, A.VEHICLE_CLASS_ADJ_FLAG, A.SYS_MATCHED_FLAG, A.TXN_STATUS, A.IS_GUARANTEED, A.SOURCE_CODE, A.DISPOSITION, A.REASON_CODE, A.SYSTEM_ERROR, A.ADJ_FAILED_DISP_REASON_CODE, A.ACCT_ID, A.ACCT_BAL_BEFORE_POSTING, A.ACCT_BAL_AFTER_POSTING, A.TVL_TAG_STATUS, A.ADJUSTMENT_DATE, A.ADJUSTMENT_REASON, A.OTHER_ADJUSTMENT_DESC, A.ADJUSTMENT_COUNT, A.RESUBMIT_REASON, A.RESUBMIT_COUNT, A.HOME_TXN_REFERENCE_ID, A.IOP_AWAY_AGENCY_ID, A.IOP_HOME_AGENCY_ID, A.IOP_DISPOSITION, A.POSTED_DISCOUNT_PLAN, A.POSTED_REVENUE, A.POSTED_DATE, A.LOCAL_POSTED_DATE, A.PROC_FEE_FLAT, A.PROC_FEE_PCT, A.ADJUSTMENT_IDENTIFIER, A.ORIGINAL_HUB_IOP_TXN_ID, A.ATTRIBUTE_1, A.ATTRIBUTE_2, A.ATTRIBUTE_3, A.ATTRIBUTE_4, A.ATTRIBUTE_5, A.ATTRIBUTE_6, A.ATTRIBUTE_7, A.ATTRIBUTE_8, A.ATTRIBUTE_9, A.ATTRIBUTE_10, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.INSERT_DATETIME
	FROM IOP_OWNER.HUB_IOP_TXNS_CT_UPD A
	INNER JOIN 
		(
			SELECT HUB_IOP_TXN_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #HUB_IOP_TXNS_CT_UPD_Dups
			GROUP BY HUB_IOP_TXN_ID
		) LastRcrd ON A.HUB_IOP_TXN_ID = LastRcrd.HUB_IOP_TXN_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM IOP_OWNER.HUB_IOP_TXNS_CT_UPD 
WHERE EXISTS(SELECT * FROM #HUB_IOP_TXNS_CT_UPD_Dups B WHERE IOP_OWNER.HUB_IOP_TXNS_CT_UPD.HUB_IOP_TXN_ID = B.HUB_IOP_TXN_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO IOP_OWNER.HUB_IOP_TXNS_CT_UPD 
	( HUB_IOP_TXN_ID, RECORD_TYPE, TXN_REFERENCE_ID, HOST_TXN_ID, EXIT_TXN_DATE, EXIT_LANE, ENTRY_TXN_DATE, ENTRY_LANE, TAG_AGENCY_ID, TAG_SERIAL_NUMBER, TAG_STATUS, OCCUPANCY_INDICATOR, VEHICLE_CLASS, EARNED_REVENUE, DISCOUNT_PLAN, LIC_PLATE_COUNTRY, LIC_PLATE_STATE, LIC_PLATE_NUMBER, LIC_PLATE_TYPE, VEHICLE_CLASS_ADJ_FLAG, SYS_MATCHED_FLAG, TXN_STATUS, IS_GUARANTEED, SOURCE_CODE, DISPOSITION, REASON_CODE, SYSTEM_ERROR, ADJ_FAILED_DISP_REASON_CODE, ACCT_ID, ACCT_BAL_BEFORE_POSTING, ACCT_BAL_AFTER_POSTING, TVL_TAG_STATUS, ADJUSTMENT_DATE, ADJUSTMENT_REASON, OTHER_ADJUSTMENT_DESC, ADJUSTMENT_COUNT, RESUBMIT_REASON, RESUBMIT_COUNT, HOME_TXN_REFERENCE_ID, IOP_AWAY_AGENCY_ID, IOP_HOME_AGENCY_ID, IOP_DISPOSITION, POSTED_DISCOUNT_PLAN, POSTED_REVENUE, POSTED_DATE, LOCAL_POSTED_DATE, PROC_FEE_FLAT, PROC_FEE_PCT, ADJUSTMENT_IDENTIFIER, ORIGINAL_HUB_IOP_TXN_ID, ATTRIBUTE_1, ATTRIBUTE_2, ATTRIBUTE_3, ATTRIBUTE_4, ATTRIBUTE_5, ATTRIBUTE_6, ATTRIBUTE_7, ATTRIBUTE_8, ATTRIBUTE_9, ATTRIBUTE_10, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, INSERT_DATETIME)
SELECT  HUB_IOP_TXN_ID, RECORD_TYPE, TXN_REFERENCE_ID, HOST_TXN_ID, EXIT_TXN_DATE, EXIT_LANE, ENTRY_TXN_DATE, ENTRY_LANE, TAG_AGENCY_ID, TAG_SERIAL_NUMBER, TAG_STATUS, OCCUPANCY_INDICATOR, VEHICLE_CLASS, EARNED_REVENUE, DISCOUNT_PLAN, LIC_PLATE_COUNTRY, LIC_PLATE_STATE, LIC_PLATE_NUMBER, LIC_PLATE_TYPE, VEHICLE_CLASS_ADJ_FLAG, SYS_MATCHED_FLAG, TXN_STATUS, IS_GUARANTEED, SOURCE_CODE, DISPOSITION, REASON_CODE, SYSTEM_ERROR, ADJ_FAILED_DISP_REASON_CODE, ACCT_ID, ACCT_BAL_BEFORE_POSTING, ACCT_BAL_AFTER_POSTING, TVL_TAG_STATUS, ADJUSTMENT_DATE, ADJUSTMENT_REASON, OTHER_ADJUSTMENT_DESC, ADJUSTMENT_COUNT, RESUBMIT_REASON, RESUBMIT_COUNT, HOME_TXN_REFERENCE_ID, IOP_AWAY_AGENCY_ID, IOP_HOME_AGENCY_ID, IOP_DISPOSITION, POSTED_DISCOUNT_PLAN, POSTED_REVENUE, POSTED_DATE, LOCAL_POSTED_DATE, PROC_FEE_FLAT, PROC_FEE_PCT, ADJUSTMENT_IDENTIFIER, ORIGINAL_HUB_IOP_TXN_ID, ATTRIBUTE_1, ATTRIBUTE_2, ATTRIBUTE_3, ATTRIBUTE_4, ATTRIBUTE_5, ATTRIBUTE_6, ATTRIBUTE_7, ATTRIBUTE_8, ATTRIBUTE_9, ATTRIBUTE_10, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, INSERT_DATETIME
FROM #HUB_IOP_TXNS_CT_UPD_DuplicateLastRowToReInsert


	UPDATE  IOP_OWNER.HUB_IOP_TXNS
	SET 
    
		IOP_OWNER.HUB_IOP_TXNS.RECORD_TYPE = B.RECORD_TYPE
		, IOP_OWNER.HUB_IOP_TXNS.TXN_REFERENCE_ID = B.TXN_REFERENCE_ID
		, IOP_OWNER.HUB_IOP_TXNS.HOST_TXN_ID = B.HOST_TXN_ID
		, IOP_OWNER.HUB_IOP_TXNS.EXIT_TXN_DATE = B.EXIT_TXN_DATE
		, IOP_OWNER.HUB_IOP_TXNS.EXIT_LANE = B.EXIT_LANE
		, IOP_OWNER.HUB_IOP_TXNS.ENTRY_TXN_DATE = B.ENTRY_TXN_DATE
		, IOP_OWNER.HUB_IOP_TXNS.ENTRY_LANE = B.ENTRY_LANE
		, IOP_OWNER.HUB_IOP_TXNS.TAG_AGENCY_ID = B.TAG_AGENCY_ID
		, IOP_OWNER.HUB_IOP_TXNS.TAG_SERIAL_NUMBER = B.TAG_SERIAL_NUMBER
		, IOP_OWNER.HUB_IOP_TXNS.TAG_STATUS = B.TAG_STATUS
		, IOP_OWNER.HUB_IOP_TXNS.OCCUPANCY_INDICATOR = B.OCCUPANCY_INDICATOR
		, IOP_OWNER.HUB_IOP_TXNS.VEHICLE_CLASS = B.VEHICLE_CLASS
		, IOP_OWNER.HUB_IOP_TXNS.EARNED_REVENUE = B.EARNED_REVENUE
		, IOP_OWNER.HUB_IOP_TXNS.DISCOUNT_PLAN = B.DISCOUNT_PLAN
		, IOP_OWNER.HUB_IOP_TXNS.LIC_PLATE_COUNTRY = B.LIC_PLATE_COUNTRY
		, IOP_OWNER.HUB_IOP_TXNS.LIC_PLATE_STATE = B.LIC_PLATE_STATE
		, IOP_OWNER.HUB_IOP_TXNS.LIC_PLATE_NUMBER = B.LIC_PLATE_NUMBER
		, IOP_OWNER.HUB_IOP_TXNS.LIC_PLATE_TYPE = B.LIC_PLATE_TYPE
		, IOP_OWNER.HUB_IOP_TXNS.VEHICLE_CLASS_ADJ_FLAG = B.VEHICLE_CLASS_ADJ_FLAG
		, IOP_OWNER.HUB_IOP_TXNS.SYS_MATCHED_FLAG = B.SYS_MATCHED_FLAG
		, IOP_OWNER.HUB_IOP_TXNS.TXN_STATUS = B.TXN_STATUS
		, IOP_OWNER.HUB_IOP_TXNS.IS_GUARANTEED = B.IS_GUARANTEED
		, IOP_OWNER.HUB_IOP_TXNS.SOURCE_CODE = B.SOURCE_CODE
		, IOP_OWNER.HUB_IOP_TXNS.DISPOSITION = B.DISPOSITION
		, IOP_OWNER.HUB_IOP_TXNS.REASON_CODE = B.REASON_CODE
		, IOP_OWNER.HUB_IOP_TXNS.SYSTEM_ERROR = B.SYSTEM_ERROR
		, IOP_OWNER.HUB_IOP_TXNS.ADJ_FAILED_DISP_REASON_CODE = B.ADJ_FAILED_DISP_REASON_CODE
		, IOP_OWNER.HUB_IOP_TXNS.ACCT_ID = B.ACCT_ID
		, IOP_OWNER.HUB_IOP_TXNS.ACCT_BAL_BEFORE_POSTING = B.ACCT_BAL_BEFORE_POSTING
		, IOP_OWNER.HUB_IOP_TXNS.ACCT_BAL_AFTER_POSTING = B.ACCT_BAL_AFTER_POSTING
		, IOP_OWNER.HUB_IOP_TXNS.TVL_TAG_STATUS = B.TVL_TAG_STATUS
		, IOP_OWNER.HUB_IOP_TXNS.ADJUSTMENT_DATE = B.ADJUSTMENT_DATE
		, IOP_OWNER.HUB_IOP_TXNS.ADJUSTMENT_REASON = B.ADJUSTMENT_REASON
		, IOP_OWNER.HUB_IOP_TXNS.OTHER_ADJUSTMENT_DESC = B.OTHER_ADJUSTMENT_DESC
		, IOP_OWNER.HUB_IOP_TXNS.ADJUSTMENT_COUNT = B.ADJUSTMENT_COUNT
		, IOP_OWNER.HUB_IOP_TXNS.RESUBMIT_REASON = B.RESUBMIT_REASON
		, IOP_OWNER.HUB_IOP_TXNS.RESUBMIT_COUNT = B.RESUBMIT_COUNT
		, IOP_OWNER.HUB_IOP_TXNS.HOME_TXN_REFERENCE_ID = B.HOME_TXN_REFERENCE_ID
		, IOP_OWNER.HUB_IOP_TXNS.IOP_AWAY_AGENCY_ID = B.IOP_AWAY_AGENCY_ID
		, IOP_OWNER.HUB_IOP_TXNS.IOP_HOME_AGENCY_ID = B.IOP_HOME_AGENCY_ID
		, IOP_OWNER.HUB_IOP_TXNS.IOP_DISPOSITION = B.IOP_DISPOSITION
		, IOP_OWNER.HUB_IOP_TXNS.POSTED_DISCOUNT_PLAN = B.POSTED_DISCOUNT_PLAN
		, IOP_OWNER.HUB_IOP_TXNS.POSTED_REVENUE = B.POSTED_REVENUE
		, IOP_OWNER.HUB_IOP_TXNS.POSTED_DATE = B.POSTED_DATE
		, IOP_OWNER.HUB_IOP_TXNS.LOCAL_POSTED_DATE = B.LOCAL_POSTED_DATE
		, IOP_OWNER.HUB_IOP_TXNS.PROC_FEE_FLAT = B.PROC_FEE_FLAT
		, IOP_OWNER.HUB_IOP_TXNS.PROC_FEE_PCT = B.PROC_FEE_PCT
		, IOP_OWNER.HUB_IOP_TXNS.ADJUSTMENT_IDENTIFIER = B.ADJUSTMENT_IDENTIFIER
		, IOP_OWNER.HUB_IOP_TXNS.ORIGINAL_HUB_IOP_TXN_ID = B.ORIGINAL_HUB_IOP_TXN_ID
		, IOP_OWNER.HUB_IOP_TXNS.ATTRIBUTE_1 = B.ATTRIBUTE_1
		, IOP_OWNER.HUB_IOP_TXNS.ATTRIBUTE_2 = B.ATTRIBUTE_2
		, IOP_OWNER.HUB_IOP_TXNS.ATTRIBUTE_3 = B.ATTRIBUTE_3
		, IOP_OWNER.HUB_IOP_TXNS.ATTRIBUTE_4 = B.ATTRIBUTE_4
		, IOP_OWNER.HUB_IOP_TXNS.ATTRIBUTE_5 = B.ATTRIBUTE_5
		, IOP_OWNER.HUB_IOP_TXNS.ATTRIBUTE_6 = B.ATTRIBUTE_6
		, IOP_OWNER.HUB_IOP_TXNS.ATTRIBUTE_7 = B.ATTRIBUTE_7
		, IOP_OWNER.HUB_IOP_TXNS.ATTRIBUTE_8 = B.ATTRIBUTE_8
		, IOP_OWNER.HUB_IOP_TXNS.ATTRIBUTE_9 = B.ATTRIBUTE_9
		, IOP_OWNER.HUB_IOP_TXNS.ATTRIBUTE_10 = B.ATTRIBUTE_10
		, IOP_OWNER.HUB_IOP_TXNS.CREATED_BY = B.CREATED_BY
		, IOP_OWNER.HUB_IOP_TXNS.DATE_CREATED = B.DATE_CREATED
		, IOP_OWNER.HUB_IOP_TXNS.MODIFIED_BY = B.MODIFIED_BY
		, IOP_OWNER.HUB_IOP_TXNS.DATE_MODIFIED = B.DATE_MODIFIED
		, IOP_OWNER.HUB_IOP_TXNS.LAST_UPDATE_TYPE = 'U'
		, IOP_OWNER.HUB_IOP_TXNS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM IOP_OWNER.HUB_IOP_TXNS_CT_UPD B
	WHERE IOP_OWNER.HUB_IOP_TXNS.HUB_IOP_TXN_ID = B.HUB_IOP_TXN_ID
