CREATE PROC [IOP_OWNER].[HUB_TXN_BATCH_DETAILS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'IOP_OWNER','HUB_TXN_BATCH_DETAILS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'IOP_OWNER','HUB_TXN_BATCH_DETAILS_CT_UPD'
CREATE STATISTICS STATS_HUB_TXN_BATCH_DETAILS_CT_UPD_001 ON IOP_OWNER.HUB_TXN_BATCH_DETAILS_CT_UPD (HUB_TXN_BATCH_DETAIL_ID)
CREATE STATISTICS STATS_HUB_TXN_BATCH_DETAILS_CT_UPD_002 ON IOP_OWNER.HUB_TXN_BATCH_DETAILS_CT_UPD (HUB_TXN_BATCH_DETAIL_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#HUB_TXN_BATCH_DETAILS_CT_UPD_Dups')<>0
	DROP TABLE #HUB_TXN_BATCH_DETAILS_CT_UPD_Dups

CREATE TABLE #HUB_TXN_BATCH_DETAILS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (HUB_TXN_BATCH_DETAIL_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.HUB_TXN_BATCH_DETAIL_ID, A.INSERT_DATETIME
	FROM IOP_OWNER.HUB_TXN_BATCH_DETAILS_CT_UPD A
	INNER JOIN 
		(
			SELECT HUB_TXN_BATCH_DETAIL_ID
			FROM IOP_OWNER.HUB_TXN_BATCH_DETAILS_CT_UPD
			GROUP BY HUB_TXN_BATCH_DETAIL_ID
			HAVING COUNT(*)>1
		) Dups ON A.HUB_TXN_BATCH_DETAIL_ID = Dups.HUB_TXN_BATCH_DETAIL_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#HUB_TXN_BATCH_DETAILS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #HUB_TXN_BATCH_DETAILS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #HUB_TXN_BATCH_DETAILS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (HUB_TXN_BATCH_DETAIL_ID), LOCATION = USER_DB)
AS
	SELECT  A.HUB_TXN_BATCH_DETAIL_ID, A.HUB_TXN_BATCH_ID, A.HUB_IOP_TXN_ID, A.RAW_DR_RECORD_TYPE, A.RAW_DR_ORIGINAL_RECORD_TYPE, A.RAW_DR_TXN_REFERENCE_ID, A.RAW_DR_EXIT_TXN_DATE, A.RAW_DR_FACS_ID, A.RAW_DR_FACS_DESC, A.RAW_DR_EXIT_PLAZA, A.RAW_DR_EXIT_PLAZA_DESC, A.RAW_DR_EXIT_LANE, A.RAW_DR_ENTRY_TXN_DATE, A.RAW_DR_ENTRY_PLAZA, A.RAW_DR_ENTRY_PLAZA_DESC, A.RAW_DR_ENTRY_LANE, A.RAW_DR_TAG_AGENCY_ID, A.RAW_DR_TAG_SERIAL_NUMBER, A.RAW_DR_TAG_STATUS, A.RAW_DR_OCCUPANCY_INDICATOR, A.RAW_DR_VEHICLE_CLASS, A.RAW_DR_TOLL_AMT, A.RAW_DR_DISCOUNT_PLAN, A.RAW_DR_LIC_PLATE_COUNTRY, A.RAW_DR_LIC_PLATE_STATE, A.RAW_DR_LIC_PLATE_NUMBER, A.RAW_DR_LIC_PLATE_TYPE, A.RAW_DR_VEHICLE_CLASS_ADJ_FLAG, A.RAW_DR_SYS_MATCHED_FLAG, A.FAILED, A.FAILED_DISPOSITION, A.FAILED_REASON, A.FAILED_DISP_STATUS, A.FAILED_DATE, A.FAILED_HUB_TXN_BATCH_DETAIL_ID, A.SYSTEM_ERROR, A.ADJ_FAILED_DISP_REASON_CODE, A.INCORRECT_FEE_CHARGED, A.ACCT_ID, A.ACCT_BAL_BEFORE_POSTING, A.ACCT_BAL_AFTER_POSTING, A.RAW_DR_ADJUSTMENT_DATE, A.RAW_DR_ADJUSTMENT_REASON, A.RAW_DR_OTHER_ADJUSTMENT_DESC, A.RAW_DR_ADJUSTMENT_COUNT, A.RAW_DR_RESUBMIT_REASON, A.RAW_DR_RESUBMIT_COUNT, A.RAW_DR_HOME_TXN_REFERENCE_ID, A.RAW_DR_RECON_HOME_AGENCY_ID, A.RAW_DR_IOP_DISPOSITION, A.RAW_DR_POSTED_AMT, A.RAW_DR_POSTED_DATE, A.RAW_DR_POSTED_DISCOUNT_PLAN, A.RAW_DR_PROC_FEE_FLAT, A.RAW_DR_PROC_FEE_PCT, A.RAW_DR_ATTRIBUTE_1, A.RAW_DR_ATTRIBUTE_2, A.RAW_DR_ATTRIBUTE_3, A.RAW_DR_ATTRIBUTE_4, A.RAW_DR_ATTRIBUTE_5, A.ATTRIBUTE_6, A.ATTRIBUTE_7, A.ATTRIBUTE_8, A.ATTRIBUTE_9, A.ATTRIBUTE_10, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.INSERT_DATETIME
	FROM IOP_OWNER.HUB_TXN_BATCH_DETAILS_CT_UPD A
	INNER JOIN 
		(
			SELECT HUB_TXN_BATCH_DETAIL_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #HUB_TXN_BATCH_DETAILS_CT_UPD_Dups
			GROUP BY HUB_TXN_BATCH_DETAIL_ID
		) LastRcrd ON A.HUB_TXN_BATCH_DETAIL_ID = LastRcrd.HUB_TXN_BATCH_DETAIL_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM IOP_OWNER.HUB_TXN_BATCH_DETAILS_CT_UPD 
WHERE EXISTS(SELECT * FROM #HUB_TXN_BATCH_DETAILS_CT_UPD_Dups B WHERE IOP_OWNER.HUB_TXN_BATCH_DETAILS_CT_UPD.HUB_TXN_BATCH_DETAIL_ID = B.HUB_TXN_BATCH_DETAIL_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO IOP_OWNER.HUB_TXN_BATCH_DETAILS_CT_UPD 
	(  HUB_TXN_BATCH_DETAIL_ID, HUB_TXN_BATCH_ID, HUB_IOP_TXN_ID, RAW_DR_RECORD_TYPE, RAW_DR_ORIGINAL_RECORD_TYPE, RAW_DR_TXN_REFERENCE_ID, RAW_DR_EXIT_TXN_DATE, RAW_DR_FACS_ID, RAW_DR_FACS_DESC, RAW_DR_EXIT_PLAZA, RAW_DR_EXIT_PLAZA_DESC, RAW_DR_EXIT_LANE, RAW_DR_ENTRY_TXN_DATE, RAW_DR_ENTRY_PLAZA, RAW_DR_ENTRY_PLAZA_DESC, RAW_DR_ENTRY_LANE, RAW_DR_TAG_AGENCY_ID, RAW_DR_TAG_SERIAL_NUMBER, RAW_DR_TAG_STATUS, RAW_DR_OCCUPANCY_INDICATOR, RAW_DR_VEHICLE_CLASS, RAW_DR_TOLL_AMT, RAW_DR_DISCOUNT_PLAN, RAW_DR_LIC_PLATE_COUNTRY, RAW_DR_LIC_PLATE_STATE, RAW_DR_LIC_PLATE_NUMBER, RAW_DR_LIC_PLATE_TYPE, RAW_DR_VEHICLE_CLASS_ADJ_FLAG, RAW_DR_SYS_MATCHED_FLAG, FAILED, FAILED_DISPOSITION, FAILED_REASON, FAILED_DISP_STATUS, FAILED_DATE, FAILED_HUB_TXN_BATCH_DETAIL_ID, SYSTEM_ERROR, ADJ_FAILED_DISP_REASON_CODE, INCORRECT_FEE_CHARGED, ACCT_ID, ACCT_BAL_BEFORE_POSTING, ACCT_BAL_AFTER_POSTING, RAW_DR_ADJUSTMENT_DATE, RAW_DR_ADJUSTMENT_REASON, RAW_DR_OTHER_ADJUSTMENT_DESC, RAW_DR_ADJUSTMENT_COUNT, RAW_DR_RESUBMIT_REASON, RAW_DR_RESUBMIT_COUNT, RAW_DR_HOME_TXN_REFERENCE_ID, RAW_DR_RECON_HOME_AGENCY_ID, RAW_DR_IOP_DISPOSITION, RAW_DR_POSTED_AMT, RAW_DR_POSTED_DATE, RAW_DR_POSTED_DISCOUNT_PLAN, RAW_DR_PROC_FEE_FLAT, RAW_DR_PROC_FEE_PCT, RAW_DR_ATTRIBUTE_1, RAW_DR_ATTRIBUTE_2, RAW_DR_ATTRIBUTE_3, RAW_DR_ATTRIBUTE_4, RAW_DR_ATTRIBUTE_5, ATTRIBUTE_6, ATTRIBUTE_7, ATTRIBUTE_8, ATTRIBUTE_9, ATTRIBUTE_10, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, INSERT_DATETIME)
SELECT  HUB_TXN_BATCH_DETAIL_ID, HUB_TXN_BATCH_ID, HUB_IOP_TXN_ID, RAW_DR_RECORD_TYPE, RAW_DR_ORIGINAL_RECORD_TYPE, RAW_DR_TXN_REFERENCE_ID, RAW_DR_EXIT_TXN_DATE, RAW_DR_FACS_ID, RAW_DR_FACS_DESC, RAW_DR_EXIT_PLAZA, RAW_DR_EXIT_PLAZA_DESC, RAW_DR_EXIT_LANE, RAW_DR_ENTRY_TXN_DATE, RAW_DR_ENTRY_PLAZA, RAW_DR_ENTRY_PLAZA_DESC, RAW_DR_ENTRY_LANE, RAW_DR_TAG_AGENCY_ID, RAW_DR_TAG_SERIAL_NUMBER, RAW_DR_TAG_STATUS, RAW_DR_OCCUPANCY_INDICATOR, RAW_DR_VEHICLE_CLASS, RAW_DR_TOLL_AMT, RAW_DR_DISCOUNT_PLAN, RAW_DR_LIC_PLATE_COUNTRY, RAW_DR_LIC_PLATE_STATE, RAW_DR_LIC_PLATE_NUMBER, RAW_DR_LIC_PLATE_TYPE, RAW_DR_VEHICLE_CLASS_ADJ_FLAG, RAW_DR_SYS_MATCHED_FLAG, FAILED, FAILED_DISPOSITION, FAILED_REASON, FAILED_DISP_STATUS, FAILED_DATE, FAILED_HUB_TXN_BATCH_DETAIL_ID, SYSTEM_ERROR, ADJ_FAILED_DISP_REASON_CODE, INCORRECT_FEE_CHARGED, ACCT_ID, ACCT_BAL_BEFORE_POSTING, ACCT_BAL_AFTER_POSTING, RAW_DR_ADJUSTMENT_DATE, RAW_DR_ADJUSTMENT_REASON, RAW_DR_OTHER_ADJUSTMENT_DESC, RAW_DR_ADJUSTMENT_COUNT, RAW_DR_RESUBMIT_REASON, RAW_DR_RESUBMIT_COUNT, RAW_DR_HOME_TXN_REFERENCE_ID, RAW_DR_RECON_HOME_AGENCY_ID, RAW_DR_IOP_DISPOSITION, RAW_DR_POSTED_AMT, RAW_DR_POSTED_DATE, RAW_DR_POSTED_DISCOUNT_PLAN, RAW_DR_PROC_FEE_FLAT, RAW_DR_PROC_FEE_PCT, RAW_DR_ATTRIBUTE_1, RAW_DR_ATTRIBUTE_2, RAW_DR_ATTRIBUTE_3, RAW_DR_ATTRIBUTE_4, RAW_DR_ATTRIBUTE_5, ATTRIBUTE_6, ATTRIBUTE_7, ATTRIBUTE_8, ATTRIBUTE_9, ATTRIBUTE_10, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, INSERT_DATETIME
FROM #HUB_TXN_BATCH_DETAILS_CT_UPD_DuplicateLastRowToReInsert


	UPDATE  IOP_OWNER.HUB_TXN_BATCH_DETAILS
	SET 
    
		 IOP_OWNER.HUB_TXN_BATCH_DETAILS.HUB_TXN_BATCH_ID = B.HUB_TXN_BATCH_ID
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.HUB_IOP_TXN_ID = B.HUB_IOP_TXN_ID
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_RECORD_TYPE = B.RAW_DR_RECORD_TYPE
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_ORIGINAL_RECORD_TYPE = B.RAW_DR_ORIGINAL_RECORD_TYPE
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_TXN_REFERENCE_ID = B.RAW_DR_TXN_REFERENCE_ID
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_EXIT_TXN_DATE = B.RAW_DR_EXIT_TXN_DATE
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_FACS_ID = B.RAW_DR_FACS_ID
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_FACS_DESC = B.RAW_DR_FACS_DESC
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_EXIT_PLAZA = B.RAW_DR_EXIT_PLAZA
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_EXIT_PLAZA_DESC = B.RAW_DR_EXIT_PLAZA_DESC
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_EXIT_LANE = B.RAW_DR_EXIT_LANE
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_ENTRY_TXN_DATE = B.RAW_DR_ENTRY_TXN_DATE
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_ENTRY_PLAZA = B.RAW_DR_ENTRY_PLAZA
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_ENTRY_PLAZA_DESC = B.RAW_DR_ENTRY_PLAZA_DESC
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_ENTRY_LANE = B.RAW_DR_ENTRY_LANE
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_TAG_AGENCY_ID = B.RAW_DR_TAG_AGENCY_ID
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_TAG_SERIAL_NUMBER = B.RAW_DR_TAG_SERIAL_NUMBER
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_TAG_STATUS = B.RAW_DR_TAG_STATUS
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_OCCUPANCY_INDICATOR = B.RAW_DR_OCCUPANCY_INDICATOR
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_VEHICLE_CLASS = B.RAW_DR_VEHICLE_CLASS
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_TOLL_AMT = B.RAW_DR_TOLL_AMT
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_DISCOUNT_PLAN = B.RAW_DR_DISCOUNT_PLAN
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_LIC_PLATE_COUNTRY = B.RAW_DR_LIC_PLATE_COUNTRY
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_LIC_PLATE_STATE = B.RAW_DR_LIC_PLATE_STATE
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_LIC_PLATE_NUMBER = B.RAW_DR_LIC_PLATE_NUMBER
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_LIC_PLATE_TYPE = B.RAW_DR_LIC_PLATE_TYPE
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_VEHICLE_CLASS_ADJ_FLAG = B.RAW_DR_VEHICLE_CLASS_ADJ_FLAG
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_SYS_MATCHED_FLAG = B.RAW_DR_SYS_MATCHED_FLAG
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.FAILED = B.FAILED
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.FAILED_DISPOSITION = B.FAILED_DISPOSITION
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.FAILED_REASON = B.FAILED_REASON
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.FAILED_DISP_STATUS = B.FAILED_DISP_STATUS
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.FAILED_DATE = B.FAILED_DATE
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.FAILED_HUB_TXN_BATCH_DETAIL_ID = B.FAILED_HUB_TXN_BATCH_DETAIL_ID
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.SYSTEM_ERROR = B.SYSTEM_ERROR
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.ADJ_FAILED_DISP_REASON_CODE = B.ADJ_FAILED_DISP_REASON_CODE
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.INCORRECT_FEE_CHARGED = B.INCORRECT_FEE_CHARGED
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.ACCT_ID = B.ACCT_ID
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.ACCT_BAL_BEFORE_POSTING = B.ACCT_BAL_BEFORE_POSTING
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.ACCT_BAL_AFTER_POSTING = B.ACCT_BAL_AFTER_POSTING
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_ADJUSTMENT_DATE = B.RAW_DR_ADJUSTMENT_DATE
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_ADJUSTMENT_REASON = B.RAW_DR_ADJUSTMENT_REASON
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_OTHER_ADJUSTMENT_DESC = B.RAW_DR_OTHER_ADJUSTMENT_DESC
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_ADJUSTMENT_COUNT = B.RAW_DR_ADJUSTMENT_COUNT
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_RESUBMIT_REASON = B.RAW_DR_RESUBMIT_REASON
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_RESUBMIT_COUNT = B.RAW_DR_RESUBMIT_COUNT
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_HOME_TXN_REFERENCE_ID = B.RAW_DR_HOME_TXN_REFERENCE_ID
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_RECON_HOME_AGENCY_ID = B.RAW_DR_RECON_HOME_AGENCY_ID
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_IOP_DISPOSITION = B.RAW_DR_IOP_DISPOSITION
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_POSTED_AMT = B.RAW_DR_POSTED_AMT
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_POSTED_DATE = B.RAW_DR_POSTED_DATE
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_POSTED_DISCOUNT_PLAN = B.RAW_DR_POSTED_DISCOUNT_PLAN
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_PROC_FEE_FLAT = B.RAW_DR_PROC_FEE_FLAT
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_PROC_FEE_PCT = B.RAW_DR_PROC_FEE_PCT
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_ATTRIBUTE_1 = B.RAW_DR_ATTRIBUTE_1
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_ATTRIBUTE_2 = B.RAW_DR_ATTRIBUTE_2
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_ATTRIBUTE_3 = B.RAW_DR_ATTRIBUTE_3
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_ATTRIBUTE_4 = B.RAW_DR_ATTRIBUTE_4
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.RAW_DR_ATTRIBUTE_5 = B.RAW_DR_ATTRIBUTE_5
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.ATTRIBUTE_6 = B.ATTRIBUTE_6
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.ATTRIBUTE_7 = B.ATTRIBUTE_7
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.ATTRIBUTE_8 = B.ATTRIBUTE_8
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.ATTRIBUTE_9 = B.ATTRIBUTE_9
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.ATTRIBUTE_10 = B.ATTRIBUTE_10
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.CREATED_BY = B.CREATED_BY
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.DATE_CREATED = B.DATE_CREATED
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.MODIFIED_BY = B.MODIFIED_BY
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.DATE_MODIFIED = B.DATE_MODIFIED
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.LAST_UPDATE_TYPE = 'U'
		, IOP_OWNER.HUB_TXN_BATCH_DETAILS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM IOP_OWNER.HUB_TXN_BATCH_DETAILS_CT_UPD B
	WHERE IOP_OWNER.HUB_TXN_BATCH_DETAILS.HUB_TXN_BATCH_DETAIL_ID = B.HUB_TXN_BATCH_DETAIL_ID

