CREATE PROC [IOP_OWNER].[HUB_IOP_TXNS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'IOP_OWNER','HUB_IOP_TXNS'
	GetInsertFields2 'IOP_OWNER','HUB_IOP_TXNS'
*/

EXEC DropStats 'IOP_OWNER','HUB_IOP_TXNS_CT_INS'
CREATE STATISTICS STATS_HUB_IOP_TXNS_CT_INS_001 ON IOP_OWNER.HUB_IOP_TXNS_CT_INS (HUB_IOP_TXN_ID)

INSERT INTO IOP_OWNER.HUB_IOP_TXNS
	(
		HUB_IOP_TXN_ID, RECORD_TYPE, TXN_REFERENCE_ID, HOST_TXN_ID, EXIT_TXN_DATE, EXIT_LANE, ENTRY_TXN_DATE, ENTRY_LANE, TAG_AGENCY_ID, TAG_SERIAL_NUMBER, TAG_STATUS, OCCUPANCY_INDICATOR, VEHICLE_CLASS, EARNED_REVENUE, DISCOUNT_PLAN, LIC_PLATE_COUNTRY, LIC_PLATE_STATE, LIC_PLATE_NUMBER, LIC_PLATE_TYPE, VEHICLE_CLASS_ADJ_FLAG, SYS_MATCHED_FLAG, TXN_STATUS, IS_GUARANTEED, SOURCE_CODE, DISPOSITION, REASON_CODE, SYSTEM_ERROR, ADJ_FAILED_DISP_REASON_CODE, ACCT_ID, ACCT_BAL_BEFORE_POSTING, ACCT_BAL_AFTER_POSTING, TVL_TAG_STATUS, ADJUSTMENT_DATE, ADJUSTMENT_REASON, OTHER_ADJUSTMENT_DESC, ADJUSTMENT_COUNT, RESUBMIT_REASON, RESUBMIT_COUNT, HOME_TXN_REFERENCE_ID, IOP_AWAY_AGENCY_ID, IOP_HOME_AGENCY_ID, IOP_DISPOSITION, POSTED_DISCOUNT_PLAN, POSTED_REVENUE, POSTED_DATE, LOCAL_POSTED_DATE, PROC_FEE_FLAT, PROC_FEE_PCT, ADJUSTMENT_IDENTIFIER, ORIGINAL_HUB_IOP_TXN_ID, ATTRIBUTE_1, ATTRIBUTE_2, ATTRIBUTE_3, ATTRIBUTE_4, ATTRIBUTE_5, ATTRIBUTE_6, ATTRIBUTE_7, ATTRIBUTE_8, ATTRIBUTE_9, ATTRIBUTE_10, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED,  
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.HUB_IOP_TXN_ID, A.RECORD_TYPE, A.TXN_REFERENCE_ID, A.HOST_TXN_ID, A.EXIT_TXN_DATE, A.EXIT_LANE, A.ENTRY_TXN_DATE, A.ENTRY_LANE, A.TAG_AGENCY_ID, A.TAG_SERIAL_NUMBER, A.TAG_STATUS, A.OCCUPANCY_INDICATOR, A.VEHICLE_CLASS, A.EARNED_REVENUE, A.DISCOUNT_PLAN, A.LIC_PLATE_COUNTRY, A.LIC_PLATE_STATE, A.LIC_PLATE_NUMBER, A.LIC_PLATE_TYPE, A.VEHICLE_CLASS_ADJ_FLAG, A.SYS_MATCHED_FLAG, A.TXN_STATUS, A.IS_GUARANTEED, A.SOURCE_CODE, A.DISPOSITION, A.REASON_CODE, A.SYSTEM_ERROR, A.ADJ_FAILED_DISP_REASON_CODE, A.ACCT_ID, A.ACCT_BAL_BEFORE_POSTING, A.ACCT_BAL_AFTER_POSTING, A.TVL_TAG_STATUS, A.ADJUSTMENT_DATE, A.ADJUSTMENT_REASON, A.OTHER_ADJUSTMENT_DESC, A.ADJUSTMENT_COUNT, A.RESUBMIT_REASON, A.RESUBMIT_COUNT, A.HOME_TXN_REFERENCE_ID, A.IOP_AWAY_AGENCY_ID, A.IOP_HOME_AGENCY_ID, A.IOP_DISPOSITION, A.POSTED_DISCOUNT_PLAN, A.POSTED_REVENUE, A.POSTED_DATE, A.LOCAL_POSTED_DATE, A.PROC_FEE_FLAT, A.PROC_FEE_PCT, A.ADJUSTMENT_IDENTIFIER, A.ORIGINAL_HUB_IOP_TXN_ID, A.ATTRIBUTE_1, A.ATTRIBUTE_2, A.ATTRIBUTE_3, A.ATTRIBUTE_4, A.ATTRIBUTE_5, A.ATTRIBUTE_6, A.ATTRIBUTE_7, A.ATTRIBUTE_8, A.ATTRIBUTE_9, A.ATTRIBUTE_10, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, 
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM IOP_OWNER.HUB_IOP_TXNS_CT_INS A
LEFT JOIN IOP_OWNER.HUB_IOP_TXNS B ON A.HUB_IOP_TXN_ID = B.HUB_IOP_TXN_ID
WHERE B.HUB_IOP_TXN_ID IS NULL
