CREATE PROC [IOP_OWNER].[HUB_TVL_LIC_PLATE_DETAILS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'IOP_OWNER','HUB_TVL_LIC_PLATE_DETAILS'
	GetInsertFields2 'IOP_OWNER','HUB_TVL_LIC_PLATE_DETAILS'
*/

EXEC DropStats 'IOP_OWNER','HUB_TVL_LIC_PLATE_DETAILS_CT_INS'
CREATE STATISTICS STATS_HUB_TVL_LIC_PLATE_DETAILS_CT_INS_001 ON IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS_CT_INS (HUB_TVL_LIC_PLATE_DETAIL_ID)

INSERT INTO IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS
	(
		 HUB_TVL_LIC_PLATE_DETAIL_ID, HUB_TVL_TAG_DETAIL_ID, IOP_HOME_AGENCY_ID, IOP_SENT_TO_AGENCY_ID, TAG_AGENCY_ID, TAG_SERIAL_NUMBER, LIC_PLATE_COUNTRY, LIC_PLATE_STATE, LIC_PLATE_NUMBER, LIC_PLATE_EFF_FROM, LIC_PLATE_EFF_TO, LIC_PLATE_TYPE, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	    A.HUB_TVL_LIC_PLATE_DETAIL_ID, A.HUB_TVL_TAG_DETAIL_ID, A.IOP_HOME_AGENCY_ID, A.IOP_SENT_TO_AGENCY_ID, A.TAG_AGENCY_ID, A.TAG_SERIAL_NUMBER, A.LIC_PLATE_COUNTRY, A.LIC_PLATE_STATE, A.LIC_PLATE_NUMBER, A.LIC_PLATE_EFF_FROM, A.LIC_PLATE_EFF_TO, A.LIC_PLATE_TYPE, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, 
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM 
	IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS_CT_INS A
	LEFT JOIN 
	IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS B 
ON 
	A.HUB_TVL_LIC_PLATE_DETAIL_ID = B.HUB_TVL_LIC_PLATE_DETAIL_ID
WHERE 
	B.HUB_TVL_LIC_PLATE_DETAIL_ID IS NULL




