CREATE PROC [IOP_OWNER].[HUB_TVL_LIC_PLATE_DETAILS_Update_Stats] AS

EXEC DropStats 'IOP_OWNER','HUB_TVL_LIC_PLATE_DETAILS'
CREATE STATISTICS STATS_HUB_TVL_LIC_PLATE_DETAILS_001 ON IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS (HUB_TVL_LIC_PLATE_DETAIL_ID)
CREATE STATISTICS STATS_HUB_TVL_LIC_PLATE_DETAILS_003 ON IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS (HUB_TVL_LIC_PLATE_DETAIL_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_HUB_TVL_LIC_PLATE_DETAILS_004 ON IOP_OWNER.HUB_TVL_LIC_PLATE_DETAILS (LAST_UPDATE_DATE)

