CREATE PROC [IOP_OWNER].[TVL_TAG_DETAILS_HISTORY_INSERT] AS    

   
EXEC DropStats 'IOP_OWNER','TVL_TAG_DETAILS_HISTORY_CT_INS'  
CREATE STATISTICS STATS_TVL_TAG_DETAILS_HISTORY_CT_INS_001 ON IOP_OWNER.TVL_TAG_DETAILS_HISTORY_CT_INS (TTDH_ID) 
   
INSERT INTO IOP_OWNER.TVL_TAG_DETAILS_HISTORY   
(  TTDH_ID, TTD_ID, HIA_AGCY_ID, TAG_IDENTIFIER, TAG_ID, TVL_AGCY_ID, BATCH_MODE, TVL_TAG_STATUS, LIC_PLATE_NBR, LIC_PLATE_STATE, VEHICLE_CLASS_CODE, REV_TYPE, FIRST_TVL_BATCH_ID, DATE_TVL_EFFECTIVE, DATE_TVL_EXPIRED, LAST_TVL_BATCH_ID, ATTRIBUTE_1, ATTRIBUTE_2, ATTRIBUTE_3, ATTRIBUTE_4, ATTRIBUTE_5, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, 
LAST_UPDATE_TYPE, LAST_UPDATE_DATE)  
SELECT     
 A.TTDH_ID, A.TTD_ID, A.HIA_AGCY_ID, A.TAG_IDENTIFIER, A.TAG_ID, A.TVL_AGCY_ID, A.BATCH_MODE, A.TVL_TAG_STATUS, A.LIC_PLATE_NBR, A.LIC_PLATE_STATE, A.VEHICLE_CLASS_CODE, A.REV_TYPE, A.FIRST_TVL_BATCH_ID, A.DATE_TVL_EFFECTIVE, A.DATE_TVL_EXPIRED, A.LAST_TVL_BATCH_ID, A.ATTRIBUTE_1, A.ATTRIBUTE_2, A.ATTRIBUTE_3, A.ATTRIBUTE_4, A.ATTRIBUTE_5, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED,
'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME  

FROM IOP_OWNER.TVL_TAG_DETAILS_HISTORY_CT_INS A  
LEFT JOIN IOP_OWNER.TVL_TAG_DETAILS_HISTORY B 
ON A.TTDH_ID = B.TTDH_ID  
WHERE B.TTDH_ID IS NULL 
