CREATE PROC [IOP_OWNER].[TVL_TAG_DETAILS_Update_Stats] AS

EXEC DropStats 'IOP_OWNER','TVL_TAG_DETAILS'
CREATE STATISTICS STATS_TVL_TAG_DETAILS_001 ON IOP_OWNER.TVL_TAG_DETAILS (TTD_ID)
--CREATE STATISTICS STATS_TVL_TAG_DETAILS_002 ON IOP_OWNER.TVL_TAG_DETAILS (TTD_ID, VIOLATOR_ID)
CREATE STATISTICS STATS_TVL_TAG_DETAILS_002 ON IOP_OWNER.TVL_TAG_DETAILS (TTD_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_TVL_TAG_DETAILS_003 ON IOP_OWNER.TVL_TAG_DETAILS (LAST_UPDATE_DATE)
