CREATE PROC [IOP_OWNER].[HUB_TVL_TAG_DETAILS_HISTORY_Update_Stats] AS

EXEC DropStats 'IOP_OWNER','HUB_TVL_TAG_DETAILS_HISTORY'
CREATE STATISTICS STATS_HUB_TVL_TAG_DETAILS_HISTORY_001 ON IOP_OWNER.HUB_TVL_TAG_DETAILS_HISTORY (HUB_TVL_TAG_DETAIL_HISTORY_ID)
CREATE STATISTICS STATS_HUB_TVL_TAG_DETAILS_HISTORY_003 ON IOP_OWNER.HUB_TVL_TAG_DETAILS_HISTORY (HUB_TVL_TAG_DETAIL_HISTORY_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_HUB_TVL_TAG_DETAILS_HISTORY_004 ON IOP_OWNER.HUB_TVL_TAG_DETAILS_HISTORY (LAST_UPDATE_DATE)

