CREATE PROC [IOP_OWNER].[HUB_TVL_TAG_DETAILS_HISTORY_DELETE] AS


EXEC DropStats 'IOP_OWNER','HUB_TVL_TAG_DETAILS_HISTORY_CT_DEL'
CREATE STATISTICS STATS_HUB_TVL_TAG_DETAILS_HISTORY_CT_DEL_001 ON IOP_OWNER.HUB_TVL_TAG_DETAILS_HISTORY_CT_DEL (HUB_TVL_TAG_DETAIL_HISTORY_ID)

UPDATE IOP_OWNER.HUB_TVL_TAG_DETAILS_HISTORY
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM IOP_OWNER.HUB_TVL_TAG_DETAILS_HISTORY_CT_DEL B
WHERE IOP_OWNER.HUB_TVL_TAG_DETAILS_HISTORY.HUB_TVL_TAG_DETAIL_HISTORY_ID = B.HUB_TVL_TAG_DETAIL_HISTORY_ID


