CREATE PROC [IOP_OWNER].[IOP_TXNS_UPDATE] AS
/*
       Use this proc to help write the code
              GetUpdateFields 'IOP_OWNER','IOP_TXNS'
              You will have to remove the Distribution key from what it generates
*/

/*
       Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'IOP_OWNER','IOP_TXNS_CT_UPD'
CREATE STATISTICS STATS_IOP_TXNS_CT_UPD_001 ON IOP_OWNER.IOP_TXNS_CT_UPD (IOP_TXN_ID)
CREATE STATISTICS STATS_IOP_TXNS_CT_UPD_002 ON IOP_OWNER.IOP_TXNS_CT_UPD (IOP_TXN_ID, INSERT_DATETIME)


/*
       Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#IOP_TXNS_CT_UPD_Dups')<>0
       DROP TABLE #IOP_TXNS_CT_UPD_Dups

CREATE TABLE #IOP_TXNS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (IOP_TXN_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
       SELECT A.IOP_TXN_ID, A.INSERT_DATETIME
       FROM IOP_OWNER.IOP_TXNS_CT_UPD A
       INNER JOIN 
              (
                     SELECT IOP_TXN_ID
                     FROM IOP_OWNER.IOP_TXNS_CT_UPD
                     GROUP BY IOP_TXN_ID
                     HAVING COUNT(*)>1
              ) Dups ON A.IOP_TXN_ID = Dups.IOP_TXN_ID

/*
       Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#IOP_TXNS_CT_UPD_DuplicateLastRowToReInsert')<>0
       DROP TABLE #IOP_TXNS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #IOP_TXNS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (IOP_TXN_ID), LOCATION = USER_DB)
AS
       SELECT  A.IOP_TXN_ID, A.TAG_ID, A.TAG_IDENTIFIER, A.TXN_TYPE, A.ENTRY_TXN_DATE, A.ENTRY_LANE_ID, A.ENTRY_LOC, A.ENTRY_TVL_TAG_STATUS, A.EXIT_TXN_DATE, A.EXIT_LANE_ID, A.EXIT_LOC, A.EXIT_TVL_TAG_STATUS, A.EARNED_CLASS, A.EARNED_REVENUE, A.POSTED_DATE, A.LOCAL_POSTED_DATE, A.DISPOSITION, A.REASON_CODE, A.POSTED_CLASS, A.POSTED_REVENUE, A.TXN_STATUS, A.IS_GUARANTEED, A.SOURCE_AGCY_ID, A.AGENCY_CODE, A.HIA_AGENCY_ID, A.SOURCE_CODE, A.SOURCE_TXN_ID, A.PEER_IOP_TXN_ID, A.SURCHARGE_FEE_TYPE, A.SURCHARGE_FEE, A.LIC_PLATE_STATE, A.LIC_PLATE_NBR, A.RESUBMIT_COUNT, A.REPOST_COUNT, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.IOP_DISPOSITION, A.ENTRY_REVENUE_TYPE, A.EXIT_REVENUE_TYPE, A.ENTRY_TVL_BATCH_ID, A.EXIT_TVL_BATCH_ID, A.PROC_FEE_FLAT, A.PROC_FEE_FLAT_TYPE, A.PROC_FEE_PCT, A.PROC_FEE_PCT_TYPE, A.ATTRIBUTE_2, A.ATTRIBUTE_3, A.ATTRIBUTE_4, A.ATTRIBUTE_5, A.ATTRIBUTE_6, A.ATTRIBUTE_7, A.ATTRIBUTE_8, A.ATTRIBUTE_9, A.ATTRIBUTE_10, A.REV_CHANGED, A.GL_LINK_ID, A.INSERT_DATETIME
       FROM IOP_OWNER.IOP_TXNS_CT_UPD A
       INNER JOIN 
              (
                     SELECT IOP_TXN_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
                     FROM #IOP_TXNS_CT_UPD_Dups
                     GROUP BY IOP_TXN_ID
              ) LastRcrd ON A.IOP_TXN_ID = LastRcrd.IOP_TXN_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
       DELETE all the duplicate rows from the target
*/

DELETE FROM IOP_OWNER.IOP_TXNS_CT_UPD 
WHERE EXISTS(SELECT * FROM #IOP_TXNS_CT_UPD_Dups B WHERE IOP_OWNER.IOP_TXNS_CT_UPD.IOP_TXN_ID = B.IOP_TXN_ID);


/*
       Re-insert the LAST ROW for Duplicates
*/
INSERT INTO IOP_OWNER.IOP_TXNS_CT_UPD 
       (IOP_TXN_ID, TAG_ID, TAG_IDENTIFIER, TXN_TYPE, ENTRY_TXN_DATE, ENTRY_LANE_ID, ENTRY_LOC, ENTRY_TVL_TAG_STATUS, EXIT_TXN_DATE, EXIT_LANE_ID, EXIT_LOC, EXIT_TVL_TAG_STATUS, EARNED_CLASS, EARNED_REVENUE, POSTED_DATE, LOCAL_POSTED_DATE, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, TXN_STATUS, IS_GUARANTEED, SOURCE_AGCY_ID, AGENCY_CODE, HIA_AGENCY_ID, SOURCE_CODE, SOURCE_TXN_ID, PEER_IOP_TXN_ID, SURCHARGE_FEE_TYPE, SURCHARGE_FEE, LIC_PLATE_STATE, LIC_PLATE_NBR, RESUBMIT_COUNT, REPOST_COUNT, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, IOP_DISPOSITION, ENTRY_REVENUE_TYPE, EXIT_REVENUE_TYPE, ENTRY_TVL_BATCH_ID, EXIT_TVL_BATCH_ID, PROC_FEE_FLAT, PROC_FEE_FLAT_TYPE, PROC_FEE_PCT, PROC_FEE_PCT_TYPE,  ATTRIBUTE_2, ATTRIBUTE_3, ATTRIBUTE_4, ATTRIBUTE_5, ATTRIBUTE_6, ATTRIBUTE_7, ATTRIBUTE_8, ATTRIBUTE_9, ATTRIBUTE_10, REV_CHANGED, GL_LINK_ID, INSERT_DATETIME)
SELECT IOP_TXN_ID, TAG_ID, TAG_IDENTIFIER, TXN_TYPE, ENTRY_TXN_DATE, ENTRY_LANE_ID, ENTRY_LOC, ENTRY_TVL_TAG_STATUS, EXIT_TXN_DATE, EXIT_LANE_ID, EXIT_LOC, EXIT_TVL_TAG_STATUS, EARNED_CLASS, EARNED_REVENUE, POSTED_DATE, LOCAL_POSTED_DATE, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, TXN_STATUS, IS_GUARANTEED, SOURCE_AGCY_ID, AGENCY_CODE, HIA_AGENCY_ID, SOURCE_CODE, SOURCE_TXN_ID, PEER_IOP_TXN_ID, SURCHARGE_FEE_TYPE, SURCHARGE_FEE, LIC_PLATE_STATE, LIC_PLATE_NBR, RESUBMIT_COUNT, REPOST_COUNT, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, IOP_DISPOSITION, ENTRY_REVENUE_TYPE, EXIT_REVENUE_TYPE, ENTRY_TVL_BATCH_ID, EXIT_TVL_BATCH_ID, PROC_FEE_FLAT, PROC_FEE_FLAT_TYPE, PROC_FEE_PCT, PROC_FEE_PCT_TYPE, ATTRIBUTE_2, ATTRIBUTE_3, ATTRIBUTE_4, ATTRIBUTE_5, ATTRIBUTE_6, ATTRIBUTE_7, ATTRIBUTE_8, ATTRIBUTE_9, ATTRIBUTE_10, REV_CHANGED, GL_LINK_ID, INSERT_DATETIME
FROM #IOP_TXNS_CT_UPD_DuplicateLastRowToReInsert


       UPDATE  IOP_OWNER.IOP_TXNS
       SET 
    
               IOP_OWNER.IOP_TXNS.TAG_ID = B.TAG_ID
              , IOP_OWNER.IOP_TXNS.TAG_IDENTIFIER = B.TAG_IDENTIFIER
              , IOP_OWNER.IOP_TXNS.TXN_TYPE = B.TXN_TYPE
              , IOP_OWNER.IOP_TXNS.ENTRY_TXN_DATE = B.ENTRY_TXN_DATE
              , IOP_OWNER.IOP_TXNS.ENTRY_LANE_ID = B.ENTRY_LANE_ID
              , IOP_OWNER.IOP_TXNS.ENTRY_LOC = B.ENTRY_LOC
              , IOP_OWNER.IOP_TXNS.ENTRY_TVL_TAG_STATUS = B.ENTRY_TVL_TAG_STATUS
              , IOP_OWNER.IOP_TXNS.EXIT_TXN_DATE = B.EXIT_TXN_DATE
              , IOP_OWNER.IOP_TXNS.EXIT_LANE_ID = B.EXIT_LANE_ID
              , IOP_OWNER.IOP_TXNS.EXIT_LOC = B.EXIT_LOC
              , IOP_OWNER.IOP_TXNS.EXIT_TVL_TAG_STATUS = B.EXIT_TVL_TAG_STATUS
              , IOP_OWNER.IOP_TXNS.EARNED_CLASS = B.EARNED_CLASS
              , IOP_OWNER.IOP_TXNS.EARNED_REVENUE = B.EARNED_REVENUE
              , IOP_OWNER.IOP_TXNS.POSTED_DATE = B.POSTED_DATE
              , IOP_OWNER.IOP_TXNS.LOCAL_POSTED_DATE = B.LOCAL_POSTED_DATE
              , IOP_OWNER.IOP_TXNS.DISPOSITION = B.DISPOSITION
              , IOP_OWNER.IOP_TXNS.REASON_CODE = B.REASON_CODE
              , IOP_OWNER.IOP_TXNS.POSTED_CLASS = B.POSTED_CLASS
              , IOP_OWNER.IOP_TXNS.POSTED_REVENUE = B.POSTED_REVENUE
              , IOP_OWNER.IOP_TXNS.TXN_STATUS = B.TXN_STATUS
              , IOP_OWNER.IOP_TXNS.IS_GUARANTEED = B.IS_GUARANTEED
              , IOP_OWNER.IOP_TXNS.SOURCE_AGCY_ID = B.SOURCE_AGCY_ID
              , IOP_OWNER.IOP_TXNS.AGENCY_CODE = B.AGENCY_CODE
              , IOP_OWNER.IOP_TXNS.HIA_AGENCY_ID = B.HIA_AGENCY_ID
              , IOP_OWNER.IOP_TXNS.SOURCE_CODE = B.SOURCE_CODE
              , IOP_OWNER.IOP_TXNS.SOURCE_TXN_ID = B.SOURCE_TXN_ID
              , IOP_OWNER.IOP_TXNS.PEER_IOP_TXN_ID = B.PEER_IOP_TXN_ID
              , IOP_OWNER.IOP_TXNS.SURCHARGE_FEE_TYPE = B.SURCHARGE_FEE_TYPE
              , IOP_OWNER.IOP_TXNS.SURCHARGE_FEE = B.SURCHARGE_FEE
              , IOP_OWNER.IOP_TXNS.LIC_PLATE_STATE = B.LIC_PLATE_STATE
              , IOP_OWNER.IOP_TXNS.LIC_PLATE_NBR = B.LIC_PLATE_NBR
              , IOP_OWNER.IOP_TXNS.RESUBMIT_COUNT = B.RESUBMIT_COUNT
              , IOP_OWNER.IOP_TXNS.REPOST_COUNT = B.REPOST_COUNT
              , IOP_OWNER.IOP_TXNS.CREATED_BY = B.CREATED_BY
              , IOP_OWNER.IOP_TXNS.DATE_CREATED = B.DATE_CREATED
              , IOP_OWNER.IOP_TXNS.MODIFIED_BY = B.MODIFIED_BY
              , IOP_OWNER.IOP_TXNS.DATE_MODIFIED = B.DATE_MODIFIED
              , IOP_OWNER.IOP_TXNS.IOP_DISPOSITION = B.IOP_DISPOSITION
              , IOP_OWNER.IOP_TXNS.ENTRY_REVENUE_TYPE = B.ENTRY_REVENUE_TYPE
              , IOP_OWNER.IOP_TXNS.EXIT_REVENUE_TYPE = B.EXIT_REVENUE_TYPE
              , IOP_OWNER.IOP_TXNS.ENTRY_TVL_BATCH_ID = B.ENTRY_TVL_BATCH_ID
              , IOP_OWNER.IOP_TXNS.EXIT_TVL_BATCH_ID = B.EXIT_TVL_BATCH_ID
              , IOP_OWNER.IOP_TXNS.PROC_FEE_FLAT = B.PROC_FEE_FLAT
              , IOP_OWNER.IOP_TXNS.PROC_FEE_FLAT_TYPE = B.PROC_FEE_FLAT_TYPE
              , IOP_OWNER.IOP_TXNS.PROC_FEE_PCT = B.PROC_FEE_PCT
              , IOP_OWNER.IOP_TXNS.PROC_FEE_PCT_TYPE = B.PROC_FEE_PCT_TYPE
              , IOP_OWNER.IOP_TXNS.ATTRIBUTE_2 = B.ATTRIBUTE_2
              , IOP_OWNER.IOP_TXNS.ATTRIBUTE_3 = B.ATTRIBUTE_3
              , IOP_OWNER.IOP_TXNS.ATTRIBUTE_4 = B.ATTRIBUTE_4
              , IOP_OWNER.IOP_TXNS.ATTRIBUTE_5 = B.ATTRIBUTE_5
              , IOP_OWNER.IOP_TXNS.ATTRIBUTE_6 = B.ATTRIBUTE_6
              , IOP_OWNER.IOP_TXNS.ATTRIBUTE_7 = B.ATTRIBUTE_7
              , IOP_OWNER.IOP_TXNS.ATTRIBUTE_8 = B.ATTRIBUTE_8
              , IOP_OWNER.IOP_TXNS.ATTRIBUTE_9 = B.ATTRIBUTE_9
              , IOP_OWNER.IOP_TXNS.ATTRIBUTE_10 = B.ATTRIBUTE_10
              , IOP_OWNER.IOP_TXNS.REV_CHANGED = B.REV_CHANGED
              , IOP_OWNER.IOP_TXNS.GL_LINK_ID = B.GL_LINK_ID         
              , IOP_OWNER.IOP_TXNS.LAST_UPDATE_TYPE = 'U'
              , IOP_OWNER.IOP_TXNS.LAST_UPDATE_DATE = B.INSERT_DATETIME
       FROM IOP_OWNER.IOP_TXNS_CT_UPD B
       WHERE IOP_OWNER.IOP_TXNS.IOP_TXN_ID = B.IOP_TXN_ID;

