CREATE PROC [IOP_OWNER].[HUB_TXN_BATCH_DETAILS_DELETE] AS


EXEC DropStats 'IOP_OWNER','HUB_TXN_BATCH_DETAILS_CT_DEL'
CREATE STATISTICS STATS_HUB_TXN_BATCH_DETAILS_CT_DEL_001 ON IOP_OWNER.HUB_TXN_BATCH_DETAILS_CT_DEL (HUB_TXN_BATCH_DETAIL_ID)




UPDATE IOP_OWNER.HUB_TXN_BATCH_DETAILS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM IOP_OWNER.HUB_TXN_BATCH_DETAILS_CT_DEL B
WHERE IOP_OWNER.HUB_TXN_BATCH_DETAILS.HUB_TXN_BATCH_DETAIL_ID = B.HUB_TXN_BATCH_DETAIL_ID
