CREATE PROC [IOP_OWNER].[HUB_TVL_TAG_DETAILS_UPDATE] AS

EXEC DropStats 'IOP_OWNER','HUB_TVL_TAG_DETAILS_CT_UPD'
CREATE STATISTICS STATS_HUB_TVL_TAG_DETAILS_CT_UPD_001 ON IOP_OWNER.HUB_TVL_TAG_DETAILS_CT_UPD (HUB_TVL_TAG_DETAIL_ID)
CREATE STATISTICS STATS_HUB_TVL_TAG_DETAILS_CT_UPD_002 ON IOP_OWNER.HUB_TVL_TAG_DETAILS_CT_UPD (HUB_TVL_TAG_DETAIL_ID, INSERT_DATETIME)

	UPDATE  IOP_OWNER.HUB_TVL_TAG_DETAILS
	SET 
    
		IOP_OWNER.HUB_TVL_TAG_DETAILS.HUB_ID = B.HUB_ID
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.IOP_HOME_AGENCY_ID = B.IOP_HOME_AGENCY_ID
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.IOP_SENT_TO_AGENCY_ID = B.IOP_SENT_TO_AGENCY_ID
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.TAG_AGENCY_ID = B.TAG_AGENCY_ID
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.TAG_SERIAL_NUMBER = B.TAG_SERIAL_NUMBER
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.TAG_STATUS = B.TAG_STATUS
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.DISCOUNT_PLANS = B.DISCOUNT_PLANS
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.TAG_TYPE = B.TAG_TYPE
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.TAG_CLASS = B.TAG_CLASS
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.FLEET_INDICATOR = B.FLEET_INDICATOR
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.EFFECTIVE_BATCH_ID = B.EFFECTIVE_BATCH_ID
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.BATCH_MODE = B.BATCH_MODE
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.DATE_TVL_EFFECTIVE = B.DATE_TVL_EFFECTIVE
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.CREATED_BY = B.CREATED_BY
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.DATE_CREATED = B.DATE_CREATED
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.MODIFIED_BY = B.MODIFIED_BY
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.DATE_MODIFIED = B.DATE_MODIFIED
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.LAST_UPDATE_TYPE = 'U'
		, IOP_OWNER.HUB_TVL_TAG_DETAILS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM IOP_OWNER.HUB_TVL_TAG_DETAILS_CT_UPD B
	WHERE IOP_OWNER.HUB_TVL_TAG_DETAILS.HUB_TVL_TAG_DETAIL_ID = B.HUB_TVL_TAG_DETAIL_ID

