CREATE PROC [IOP_OWNER].[HUB_TVL_BATCH_DETAILS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'IOP_OWNER','HUB_TVL_BATCH_DETAILS'
	GetInsertFields2 'IOP_OWNER','HUB_TVL_BATCH_DETAILS'
*/

EXEC DropStats 'IOP_OWNER','HUB_TVL_BATCH_DETAILS_CT_INS'
CREATE STATISTICS STATS_HUB_TVL_BATCH_DETAILS_CT_INS_001 ON IOP_OWNER.HUB_TVL_BATCH_DETAILS_CT_INS (HUB_TVL_BATCH_DETAIL_ID)

INSERT INTO IOP_OWNER.HUB_TVL_BATCH_DETAILS
	(
		HUB_TVL_BATCH_ID, HUB_TVL_BATCH_DETAIL_ID, RAW_DR_IOP_HOME_AGENCY_ID, RAW_DR_TAG_AGENCY_ID, RAW_DR_TAG_SERIAL_NUMBER, RAW_DR_TAG_STATUS, RAW_DR_DISCOUNT_PLANS, RAW_DR_TAG_TYPE, RAW_DR_TAG_CLASS, RAW_DR_ACCOUNT_NUMBER, RAW_DR_FLEET_INDICATOR, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, DATE_CREATED_MONTH, UNIQUE_BKT_ID, BUCKET_SEQ_NUMBER,
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.HUB_TVL_BATCH_ID, A.HUB_TVL_BATCH_DETAIL_ID, A.RAW_DR_IOP_HOME_AGENCY_ID, A.RAW_DR_TAG_AGENCY_ID, A.RAW_DR_TAG_SERIAL_NUMBER, A.RAW_DR_TAG_STATUS, A.RAW_DR_DISCOUNT_PLANS, A.RAW_DR_TAG_TYPE, A.RAW_DR_TAG_CLASS, A.RAW_DR_ACCOUNT_NUMBER, A.RAW_DR_FLEET_INDICATOR, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.DATE_CREATED_MONTH, A.UNIQUE_BKT_ID, A.BUCKET_SEQ_NUMBER,
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM 
	IOP_OWNER.HUB_TVL_BATCH_DETAILS_CT_INS A
	LEFT JOIN 
	IOP_OWNER.HUB_TVL_BATCH_DETAILS B 
ON 
	A.HUB_TVL_BATCH_DETAIL_ID = B.HUB_TVL_BATCH_DETAIL_ID
WHERE 
	B.HUB_TVL_BATCH_DETAIL_ID IS NULL




