CREATE VIEW [dbo].[ExcusalDetailReport] AS SELECT 										
    [SnapshotMonthID] , 										
    [TPTripID] , 										
    [CustomerID], 										
    [VehicleNumber], 										
    [LaneName], 										
    [TripDate], 										
    [ExcusedDateTime], 										
    [TripStatusDate], 										
    [TollAmount], 										
    [TollExcused], 										
    [AdminFee1] , 										
    [AdminFee1Waived], 										
    [AdminFee2] , 										
    [AdminFee2Waived], 										
    [ReasonCode], 										
    [GroupLevel] , 										
    [ExcuseBy] , 										
    [LND_UpdateDate] AS [EDW_UpdateDate]		
 FROM LND_TBOS.Reporting.ExcusalDetailReport;
