CREATE TABLE [dbo].[Dim_Week]
(
	[WeekID] int NULL,
	[WeekBeginDate] date NULL,
	[WeekEndDate] date NULL,
	[WeekDesc] varchar(23) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[WeekOfYear] int NULL,
	[MonthID] int NOT NULL,
	[MonthBeginDate] date NULL,
	[MonthEndDate] date NULL,
	[YearMonthDesc] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MonthYearDesc] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MonthDesc] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MonthOfYear] tinyint NULL,
	[MonthDuration] tinyint NULL,
	[QuarterID] int NULL,
	[QuarterBeginDate] date NULL,
	[QuarterEndDate] date NULL,
	[YearQuarterDesc] varchar(7) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[QuarterYearDesc] varchar(12) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[QuarterDesc] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[QuarterDuration] int NULL,
	[YearID] smallint NULL,
	[YearBeginDate] date NULL,
	[YearDuration] smallint NULL,
	[P1WeekID] int NULL,
	[P2WeekID] int NULL,
	[P3WeekID] int NULL,
	[P4WeekID] int NULL,
	[LastModified] datetime NOT NULL
)
WITH(CLUSTERED INDEX ([WeekID] ASC), DISTRIBUTION = REPLICATE)
