CREATE PROC [HAS_OWNER].[HA_REV_TFC_SUM_DETAILS_Update_Stats] AS    
--EXEC DropStats 'HAS_OWNER','HA_REV_TFC_SUM_DETAILS'  
--CREATE STATISTICS STATS_HA_REV_TFC_SUM_DETAILS_001 ON HAS_OWNER.HA_REV_TFC_SUM_DETAILS (HALD_ID)  
--CREATE STATISTICS STATS_HA_REV_TFC_SUM_DETAILS_002 ON HAS_OWNER.HA_REV_TFC_SUM_DETAILS (HALD_ID, LAST_UPDATE_DATE)  
--CREATE STATISTICS STATS_HA_REV_TFC_SUM_DETAILS_003 ON HAS_OWNER.HA_REV_TFC_SUM_DETAILS (LAST_UPDATE_DATE)

	 UPDATE STATISTICS HAS_OWNER.HA_REV_TFC_SUM_DETAILS

