CREATE PROC [HAS_OWNER].[HA_REV_TFC_SUM_DETAILS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'HAS_OWNER','HA_REV_TFC_SUM_DETAILS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'HAS_OWNER','HA_REV_TFC_SUM_DETAILS_CT_UPD'
CREATE STATISTICS STATS_HA_REV_TFC_SUM_DETAILS_CT_UPD_001 ON HAS_OWNER.HA_REV_TFC_SUM_DETAILS_CT_UPD (HALD_ID)
CREATE STATISTICS STATS_HA_REV_TFC_SUM_DETAILS_CT_UPD_002 ON HAS_OWNER.HA_REV_TFC_SUM_DETAILS_CT_UPD (HALD_ID, INSERT_DATETIME)


/*
--	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 


IF OBJECT_ID('tempdb..#HA_REV_TFC_SUM_DETAILS_CT_UPD_Dups')<>0
	DROP TABLE #HA_REV_TFC_SUM_DETAILS_CT_UPD_Dups

CREATE TABLE #HA_REV_TFC_SUM_DETAILS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (HALD_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.HALD_ID, A.INSERT_DATETIME
	FROM HAS_OWNER.HA_REV_TFC_SUM_DETAILS_CT_UPD A
	INNER JOIN 
		(
			SELECT HALD_ID
			FROM HAS_OWNER.HA_REV_TFC_SUM_DETAILS_CT_UPD
			GROUP BY HALD_ID
			HAVING COUNT(*)>1
		) Dups ON A.HALD_ID = Dups.HALD_ID


--	Create temp table with Last Update 


IF OBJECT_ID('tempdb..#HA_REV_TFC_SUM_DETAILS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #HA_REV_TFC_SUM_DETAILS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #HA_REV_TFC_SUM_DETAILS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (HALD_ID), LOCATION = USER_DB)
AS
	SELECT  
	         A.[SUMMARY_TYPE] 
    ,A.[START_TIME] 
    ,A.[END_TIME] 
    ,A.[SUMM_TIME]
    ,A.[BUS_DAY] 
    ,A.[PMT_TYPE] 
    ,A.[CLASS] 
    ,A.[AXLE_IND_CNT] 
    ,A.[AXLE_EXP_CNT] 
    ,A.[AXLE_ACT_CNT] 
    ,A.[VEH_TOT_CNT] 
    ,A.[VEH_AVI_CNT] 
    ,A.[VEH_AVI_NR_CNT] 
    ,A.[VEH_AVI_INV_CNT] 
    ,A.[VEH_ACM_CNT] 
    ,A.[VEH_CASH_ATT_CNT] 
    ,A.[VEH_NO_FUND_CNT]  
    ,A.[VEH_AT_NR_CNT] 
    ,A.[VEH_PART_VIO_PMT_CNT] 
    ,A.[VEH_AVI_VIO_CNT] 
    ,A.[VEH_VIO_CNT] 
    ,A.[REV_TOT_EARNED] 
    ,A.[REV_TOT_EXP] 
    ,A.[REV_TOT_ACT] 
    ,A.[REV_AVI]
    ,A.[REV_AVI_NR] 
    ,A.[REV_AVI_INV] 
    ,A.[REV_ACM] 
    ,A.[REV_CASH_ATT] 
    ,A.[REV_NO_FUND] 
    ,A.[REV_ATT_NR] 
    ,A.[REV_VIO_CNT] 
    ,A.[REV_AVI_VIO] 
    ,A.[REV_CASH_VIO] 
    ,A.[REV_PART_VIO_PMT] 
    ,A.[LN_MODE] 
    ,A.[MISCLASS_CT] 
    ,A.[SHIFT_ID] 
    ,A.[VPLT_ID] 
    ,A.[ATT_EMPL_ID] 
    ,A.[OPNM_ID] 
    ,A.[AVG_HSHKS] 
    ,A.[EXIT_LOOP] 
    ,A.[MID_LOOP] 
    ,A.[ENT_LOOP] 
    ,A.[FWD_AXLES] 
    ,A.[REV_AXLES] 
    ,A.[HALD_ID] 
    ,A.[LANE_LANE_ID] 
    ,A.[PMTY_ID] 
    ,A.[VCLY_ID] 
    ,A.[GATE_OVERRIDE_CNT] 
    ,A.[HIA_AGCY_ID]
	,A.INSERT_DATETIME
	

	FROM HAS_OWNER.HA_REV_TFC_SUM_DETAILS_CT_UPD A
	INNER JOIN 
		(
			SELECT HALD_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #HA_REV_TFC_SUM_DETAILS_CT_UPD_Dups
			GROUP BY HALD_ID
		) LastRcrd ON A.HALD_ID = LastRcrd.HALD_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME


--	DELETE all the duplicate rows from the target


DELETE FROM HAS_OWNER.HA_REV_TFC_SUM_DETAILS_CT_UPD 
WHERE EXISTS(SELECT * FROM #HA_REV_TFC_SUM_DETAILS_CT_UPD_Dups B WHERE HAS_OWNER.HA_REV_TFC_SUM_DETAILS_CT_UPD.HALD_ID = B.HALD_ID);



--	Re-insert the LAST ROW for Duplicates

INSERT INTO HAS_OWNER.HA_REV_TFC_SUM_DETAILS_CT_UPD 
	(  
	  [SUMMARY_TYPE] 
    ,[START_TIME] 
    ,[END_TIME] 
    ,[SUMM_TIME]
    ,[BUS_DAY] 
    ,[PMT_TYPE] 
    ,[CLASS] 
    ,[AXLE_IND_CNT] 
    ,[AXLE_EXP_CNT] 
    ,[AXLE_ACT_CNT] 
    ,[VEH_TOT_CNT] 
    ,[VEH_AVI_CNT] 
    ,[VEH_AVI_NR_CNT] 
    ,[VEH_AVI_INV_CNT] 
    ,[VEH_ACM_CNT] 
    ,[VEH_CASH_ATT_CNT] 
    ,[VEH_NO_FUND_CNT]  
    ,[VEH_AT_NR_CNT] 
    ,[VEH_PART_VIO_PMT_CNT] 
    ,[VEH_AVI_VIO_CNT] 
    ,[VEH_VIO_CNT] 
    ,[REV_TOT_EARNED] 
    ,[REV_TOT_EXP] 
    ,[REV_TOT_ACT] 
    ,[REV_AVI]
    ,[REV_AVI_NR] 
    ,[REV_AVI_INV] 
    ,[REV_ACM] 
    ,[REV_CASH_ATT] 
    ,[REV_NO_FUND] 
    ,[REV_ATT_NR] 
    ,[REV_VIO_CNT] 
    ,[REV_AVI_VIO] 
    ,[REV_CASH_VIO] 
    ,[REV_PART_VIO_PMT] 
    ,[LN_MODE] 
    ,[MISCLASS_CT] 
    ,[SHIFT_ID] 
    ,[VPLT_ID] 
    ,[ATT_EMPL_ID] 
    ,[OPNM_ID] 
    ,[AVG_HSHKS] 
    ,[EXIT_LOOP] 
    ,[MID_LOOP] 
    ,[ENT_LOOP] 
    ,[FWD_AXLES] 
    ,[REV_AXLES] 
    ,[HALD_ID] 
    ,[LANE_LANE_ID] 
    ,[PMTY_ID] 
    ,[VCLY_ID] 
    ,[GATE_OVERRIDE_CNT] 
    ,[HIA_AGCY_ID]
	,INSERT_DATETIME
	)
SELECT 
      [SUMMARY_TYPE] 
    ,[START_TIME] 
    ,[END_TIME] 
    ,[SUMM_TIME]
    ,[BUS_DAY] 
    ,[PMT_TYPE] 
    ,[CLASS] 
    ,[AXLE_IND_CNT] 
    ,[AXLE_EXP_CNT] 
    ,[AXLE_ACT_CNT] 
    ,[VEH_TOT_CNT] 
    ,[VEH_AVI_CNT] 
    ,[VEH_AVI_NR_CNT] 
    ,[VEH_AVI_INV_CNT] 
    ,[VEH_ACM_CNT] 
    ,[VEH_CASH_ATT_CNT] 
    ,[VEH_NO_FUND_CNT]  
    ,[VEH_AT_NR_CNT] 
    ,[VEH_PART_VIO_PMT_CNT] 
    ,[VEH_AVI_VIO_CNT] 
    ,[VEH_VIO_CNT] 
    ,[REV_TOT_EARNED] 
    ,[REV_TOT_EXP] 
    ,[REV_TOT_ACT] 
    ,[REV_AVI]
    ,[REV_AVI_NR] 
    ,[REV_AVI_INV] 
    ,[REV_ACM] 
    ,[REV_CASH_ATT] 
    ,[REV_NO_FUND] 
    ,[REV_ATT_NR] 
    ,[REV_VIO_CNT] 
    ,[REV_AVI_VIO] 
    ,[REV_CASH_VIO] 
    ,[REV_PART_VIO_PMT] 
    ,[LN_MODE] 
    ,[MISCLASS_CT] 
    ,[SHIFT_ID] 
    ,[VPLT_ID] 
    ,[ATT_EMPL_ID] 
    ,[OPNM_ID] 
    ,[AVG_HSHKS] 
    ,[EXIT_LOOP] 
    ,[MID_LOOP] 
    ,[ENT_LOOP] 
    ,[FWD_AXLES] 
    ,[REV_AXLES] 
    ,[HALD_ID] 
    ,[LANE_LANE_ID] 
    ,[PMTY_ID] 
    ,[VCLY_ID] 
    ,[GATE_OVERRIDE_CNT] 
    ,[HIA_AGCY_ID]
	,INSERT_DATETIME

FROM #HA_REV_TFC_SUM_DETAILS_CT_UPD_DuplicateLastRowToReInsert
*/
	UPDATE  HAS_OWNER.HA_REV_TFC_SUM_DETAILS
	SET 
     HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[SUMMARY_TYPE]                     =B.[SUMMARY_TYPE]            
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[START_TIME] 						 =B.[START_TIME] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[END_TIME] 						 =B.[END_TIME] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[SUMM_TIME]						 =B.[SUMM_TIME]				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[BUS_DAY] 						 =B.[BUS_DAY] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[PMT_TYPE] 						 =B.[PMT_TYPE] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[CLASS] 							 =B.[CLASS] 					
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[AXLE_IND_CNT] 					 =B.[AXLE_IND_CNT] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[AXLE_EXP_CNT] 					 =B.[AXLE_EXP_CNT] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[AXLE_ACT_CNT] 					 =B.[AXLE_ACT_CNT] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[VEH_TOT_CNT] 					 =B.[VEH_TOT_CNT] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[VEH_AVI_CNT] 					 =B.[VEH_AVI_CNT] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[VEH_AVI_NR_CNT] 					 =B.[VEH_AVI_NR_CNT] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[VEH_AVI_INV_CNT] 				 =B.[VEH_AVI_INV_CNT] 		
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[VEH_ACM_CNT] 					 =B.[VEH_ACM_CNT] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[VEH_CASH_ATT_CNT] 				 =B.[VEH_CASH_ATT_CNT] 		
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[VEH_NO_FUND_CNT]  				 =B.[VEH_NO_FUND_CNT]  		
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[VEH_AT_NR_CNT] 					 =B.[VEH_AT_NR_CNT] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[VEH_PART_VIO_PMT_CNT] 			 =B.[VEH_PART_VIO_PMT_CNT] 	
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[VEH_AVI_VIO_CNT] 				 =B.[VEH_AVI_VIO_CNT] 		
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[VEH_VIO_CNT] 					 =B.[VEH_VIO_CNT] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_TOT_EARNED] 					 =B.[REV_TOT_EARNED] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_TOT_EXP] 					 =B.[REV_TOT_EXP] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_TOT_ACT] 					 =B.[REV_TOT_ACT] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_AVI]							 =B.[REV_AVI]					
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_AVI_NR] 						 =B.[REV_AVI_NR] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_AVI_INV] 					 =B.[REV_AVI_INV] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_ACM] 						 =B.[REV_ACM] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_CASH_ATT] 					 =B.[REV_CASH_ATT] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_NO_FUND] 					 =B.[REV_NO_FUND] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_ATT_NR] 						 =B.[REV_ATT_NR] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_VIO_CNT] 					 =B.[REV_VIO_CNT] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_AVI_VIO] 					 =B.[REV_AVI_VIO] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_CASH_VIO] 					 =B.[REV_CASH_VIO] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_PART_VIO_PMT] 				 =B.[REV_PART_VIO_PMT] 		
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[LN_MODE] 						 =B.[LN_MODE] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[MISCLASS_CT] 					 =B.[MISCLASS_CT] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[SHIFT_ID] 						 =B.[SHIFT_ID] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[VPLT_ID] 						 =B.[VPLT_ID] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[ATT_EMPL_ID] 					 =B.[ATT_EMPL_ID] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[OPNM_ID] 						 =B.[OPNM_ID] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[AVG_HSHKS] 						 =B.[AVG_HSHKS] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[EXIT_LOOP] 						 =B.[EXIT_LOOP] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[MID_LOOP] 						 =B.[MID_LOOP] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[ENT_LOOP] 						 =B.[ENT_LOOP] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[FWD_AXLES] 						 =B.[FWD_AXLES] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[REV_AXLES] 						 =B.[REV_AXLES] 				
    --,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[HALD_ID] 						 =B.[HALD_ID] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[LANE_LANE_ID] 					 =B.[LANE_LANE_ID] 			
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[PMTY_ID] 						 =B.[PMTY_ID] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[VCLY_ID] 						 =B.[VCLY_ID] 				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[GATE_OVERRIDE_CNT] 				 =B.[GATE_OVERRIDE_CNT] 		
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[HIA_AGCY_ID]						 =B.[HIA_AGCY_ID]		
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[LAST_UPDATE_TYPE] 				 ='U'				
    ,HAS_OWNER.HA_REV_TFC_SUM_DETAILS.[LAST_UPDATE_DATE] 				 =B.INSERT_DATETIME		
	
	FROM HAS_OWNER.HA_REV_TFC_SUM_DETAILS_CT_UPD B
	WHERE HAS_OWNER.HA_REV_TFC_SUM_DETAILS.HALD_ID = B.HALD_ID

