CREATE PROC [HAS_OWNER].[HA_VIOL_TXNSES_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'HAS_OWNER','HA_VIOL_TXNSES'    You will have to remove the Distribution key from wHVT it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'HAS_OWNER','HA_VIOL_TXNSES_CT_UPD'  CREATE STATISTICS STATS_HA_VIOL_TXNSES_CT_UPD_001 ON HAS_OWNER.HA_VIOL_TXNSES_CT_UPD (HVT_ID)  CREATE STATISTICS STATS_HA_VIOL_TXNSES_CT_UPD_002 ON HAS_OWNER.HA_VIOL_TXNSES_CT_UPD (HVT_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#HA_VIOL_TXNSES_CT_UPD_Dups')<>0   DROP TABLE #HA_VIOL_TXNSES_CT_UPD_Dups    CREATE TABLE #HA_VIOL_TXNSES_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (HVT_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.HVT_ID, A.INSERT_DATETIME   FROM HAS_OWNER.HA_VIOL_TXNSES_CT_UPD A   INNER JOIN     (     SELECT HVT_ID     FROM HAS_OWNER.HA_VIOL_TXNSES_CT_UPD     GROUP BY HVT_ID     HAVING COUNT(*)>1    ) Dups ON A.HVT_ID = Dups.HVT_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#HA_VIOL_TXNSES_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #HA_VIOL_TXNSES_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #HA_VIOL_TXNSES_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (HVT_ID), LOCATION = USER_DB)  AS   SELECT      A.[EARNED_REVENUE]    ,A.[POSTED_REVENUE]    ,A.[BUS_DAY]   ,A.[HVT_ID]    ,A.[TXN_COUNT]    ,A.[LANE_LANE_ID]    ,A.[START_TIME]    ,A.[END_TIME]    ,A.[SUMM_TIME]    ,A.[VEH_NO_FUND_COUNT]       ,A.[VEH_PART_VIO_PMT_CNT]    ,A.[VEH_VIO_CNT]             ,A.[VEH_VIO_REV]             ,A.[TOT_VIO_SENT_CNT]        ,A.[TOT_VIO_SENT_REV]        ,A.[TOT_VIO_POSTED_CNT]      ,A.[TOT_VIO_POSTED_REV]      ,A.[TOT_VIO_PROCESSED_CNT]   ,A.[TOT_VIO_PROCESSED_REV]   ,A.[VEH_ZERO_VIO_CNT]         ,A.[VEH_AVI_VIO_CNT]          ,A.[SUMMARY_TYPE]             ,A.[HIA_AGCY_ID]              ,A.[POSTED_DAY]        ,A.INSERT_DATETIME        FROM HAS_OWNER.HA_VIOL_TXNSES_CT_UPD A   INNER JOIN     (     SELECT HVT_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #HA_VIOL_TXNSES_CT_UPD_Dups     GROUP BY HVT_ID    ) LastRcrd ON A.HVT_ID = LastRcrd.HVT_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM HAS_OWNER.HA_VIOL_TXNSES_CT_UPD   WHERE EXISTS(SELECT * FROM #HA_VIOL_TXNSES_CT_UPD_Dups B WHERE HAS_OWNER.HA_VIOL_TXNSES_CT_UPD.HVT_ID = B.HVT_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO HAS_OWNER.HA_VIOL_TXNSES_CT_UPD    (      [EARNED_REVENUE]    ,[POSTED_REVENUE]    ,[BUS_DAY]   ,[HVT_ID]    ,[TXN_COUNT]    ,[LANE_LANE_ID]    ,[START_TIME]    ,[END_TIME]    ,[SUMM_TIME]    ,[VEH_NO_FUND_COUNT]       ,[VEH_PART_VIO_PMT_CNT]    ,[VEH_VIO_CNT]             ,[VEH_VIO_REV]             ,[TOT_VIO_SENT_CNT]        ,[TOT_VIO_SENT_REV]        ,[TOT_VIO_POSTED_CNT]      ,[TOT_VIO_POSTED_REV]      ,[TOT_VIO_PROCESSED_CNT]   ,[TOT_VIO_PROCESSED_REV]   ,[VEH_ZERO_VIO_CNT]           ,[VEH_AVI_VIO_CNT]            ,[SUMMARY_TYPE]               ,[HIA_AGCY_ID]                ,[POSTED_DAY]                 ,INSERT_DATETIME   )  SELECT        [EARNED_REVENUE]    ,[POSTED_REVENUE]    ,[BUS_DAY]   ,[HVT_ID]    ,[TXN_COUNT]    ,[LANE_LANE_ID]    ,[START_TIME]    ,[END_TIME]    ,[SUMM_TIME]    ,[VEH_NO_FUND_COUNT]       ,[VEH_PART_VIO_PMT_CNT]    ,[VEH_VIO_CNT]             ,[VEH_VIO_REV]             ,[TOT_VIO_SENT_CNT]        ,[TOT_VIO_SENT_REV]        ,[TOT_VIO_POSTED_CNT]      ,[TOT_VIO_POSTED_REV]      ,[TOT_VIO_PROCESSED_CNT]   ,[TOT_VIO_PROCESSED_REV]   ,[VEH_ZERO_VIO_CNT]           ,[VEH_AVI_VIO_CNT]            ,[SUMMARY_TYPE]               ,[HIA_AGCY_ID]                ,[POSTED_DAY]                 ,INSERT_DATETIME    FROM #HA_VIOL_TXNSES_CT_UPD_DuplicateLastRowToReInsert     UPDATE  HAS_OWNER.HA_VIOL_TXNSES   SET         HAS_OWNER.HA_VIOL_TXNSES.[EARNED_REVENUE]                 =B.[EARNED_REVENUE]       ,HAS_OWNER.HA_VIOL_TXNSES.[POSTED_REVENUE]        =B.[POSTED_REVENUE]       ,HAS_OWNER.HA_VIOL_TXNSES.[BUS_DAY]         =B.[BUS_DAY]      ,HAS_OWNER.HA_VIOL_TXNSES.[TXN_COUNT]         =B.[TXN_COUNT]       ,HAS_OWNER.HA_VIOL_TXNSES.[LANE_LANE_ID]        =B.[LANE_LANE_ID]       ,HAS_OWNER.HA_VIOL_TXNSES.[START_TIME]         =B.[START_TIME]       ,HAS_OWNER.HA_VIOL_TXNSES.[END_TIME]         =B.[END_TIME]       ,HAS_OWNER.HA_VIOL_TXNSES.[SUMM_TIME]         =B.[SUMM_TIME]       ,HAS_OWNER.HA_VIOL_TXNSES.[VEH_NO_FUND_COUNT]         =B.[VEH_NO_FUND_COUNT]          ,HAS_OWNER.HA_VIOL_TXNSES.[VEH_PART_VIO_PMT_CNT]      =B.[VEH_PART_VIO_PMT_CNT]       ,HAS_OWNER.HA_VIOL_TXNSES.[VEH_VIO_CNT]               =B.[VEH_VIO_CNT]                ,HAS_OWNER.HA_VIOL_TXNSES.[VEH_VIO_REV]               =B.[VEH_VIO_REV]                ,HAS_OWNER.HA_VIOL_TXNSES.[TOT_VIO_SENT_CNT]          =B.[TOT_VIO_SENT_CNT]           ,HAS_OWNER.HA_VIOL_TXNSES.[TOT_VIO_SENT_REV]          =B.[TOT_VIO_SENT_REV]           ,HAS_OWNER.HA_VIOL_TXNSES.[TOT_VIO_POSTED_CNT]        =B.[TOT_VIO_POSTED_CNT]         ,HAS_OWNER.HA_VIOL_TXNSES.[TOT_VIO_POSTED_REV]        =B.[TOT_VIO_POSTED_REV]         ,HAS_OWNER.HA_VIOL_TXNSES.[TOT_VIO_PROCESSED_CNT]     =B.[TOT_VIO_PROCESSED_CNT]      ,HAS_OWNER.HA_VIOL_TXNSES.[TOT_VIO_PROCESSED_REV]     =B.[TOT_VIO_PROCESSED_REV]      ,HAS_OWNER.HA_VIOL_TXNSES.[VEH_ZERO_VIO_CNT]               =B.[VEH_ZERO_VIO_CNT]             ,HAS_OWNER.HA_VIOL_TXNSES.[VEH_AVI_VIO_CNT]                =B.[VEH_AVI_VIO_CNT]              ,HAS_OWNER.HA_VIOL_TXNSES.[SUMMARY_TYPE]                   =B.[SUMMARY_TYPE]                 ,HAS_OWNER.HA_VIOL_TXNSES.[HIA_AGCY_ID]                    =B.[HIA_AGCY_ID]                  ,HAS_OWNER.HA_VIOL_TXNSES.[POSTED_DAY]                     =B.[POSTED_DAY]                   ,HAS_OWNER.HA_VIOL_TXNSES.[LAST_UPDATE_TYPE]               ='U'            ,HAS_OWNER.HA_VIOL_TXNSES.[LAST_UPDATE_DATE]               =B.[INSERT_DATETIME]                  FROM HAS_OWNER.HA_VIOL_TXNSES_CT_UPD B   WHERE HAS_OWNER.HA_VIOL_TXNSES.HVT_ID = B.HVT_ID  
--CREATE PROC [HAS_OWNER].[HA_VIOL_TXNSES_Update_Stats] AS    EXEC DropStats 'HAS_OWNER','HA_VIOL_TXNSES'  CREATE STATISTICS STATS_HA_VIOL_TXNSES_001 ON HAS_OWNER.HA_VIOL_TXNSES (HVT_ID)  CREATE STATISTICS STATS_HA_VIOL_TXNSES_002 ON HAS_OWNER.HA_VIOL_TXNSES (HVT_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_HA_VIOL_TXNSES_003 ON HAS_OWNER.HA_VIOL_TXNSES (LAST_UPDATE_DATE)
--CREATE PROC [TXNOWNER].[IOP_TRANSACTIONS_DELETE] AS      EXEC DropStats 'TXNOWNER','IOP_TRANSACTIONS_CT_DEL'  CREATE STATISTICS STATS_IOP_TRANSACTIONS_CT_DEL_001 ON TXNOWNER.IOP_TRANSACTIONS_CT_DEL (TRANSACTION_ID)  CREATE STATISTICS STATS_IOP_TRANSACTIONS_CT_DEL_002 ON TXNOWNER.IOP_TRANSACTIONS_CT_DEL (TRANSACTION_ID, INSERT_DATETIME)        UPDATE TXNOWNER.IOP_TRANSACTIONS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TXNOWNER.IOP_TRANSACTIONS_CT_DEL B  WHERE TXNOWNER.IOP_TRANSACTIONS.TRANSACTION_ID = B.TRANSACTION_ID
--CREATE PROC [TXNOWNER].[IOP_TRANSACTIONS_INSERT] AS      EXEC DropStats 'TXNOWNER','IOP_TRANSACTIONS_CT_INS'  CREATE STATISTICS STATS_IOP_TRANSACTIONS_CT_INS_001 ON TXNOWNER.IOP_TRANSACTIONS_CT_INS (TRANSACTION_ID)    INSERT INTO TXNOWNER.IOP_TRANSACTIONS   (         [TRANSACTION_ID]       ,[TRANSACTION_DATE]      ,[AGENCY_CODE]       ,[TAG_ID]       ,[FACILITY_ID]       ,[PLAZA_ID]       ,[LANE_ID]       ,[DISPOSITION]       ,[REASON_CODE]       ,[EARNED_CLASS]       ,[EARNED_REVENUE]      ,[POSTED_CLASS]       ,[POSTED_REVENUE]      ,[POSTED_DATE_TIME]      ,[SOURCE_CODE]       ,[TXID_ID]       ,[CREATION_DATE]      ,[LIC_PLATE_NBR]      ,[LIC_PLATE_STATE]       ,[HIA_AGCY_ID]       ,[TXN_TYPE]      ,[ENTRY_LANE_ID]       ,[ENTRY_TXN_DATE]       ,[ENTRY_TVL_TAG_STATUS]      ,[EXIT_TVL_TAG_STATUS]       ,[REPOST_ATTEMPTS]       ,[ATTRIBUTE_1]       ,[ATTRIBUTE_2]       ,[ATTRIBUTE_3]       ,[ATTRIBUTE_4]       ,[ATTRIBUTE_5]       ,[ATTRIBUTE_6]       ,[ATTRIBUTE_7]       ,[ATTRIBUTE_8]       ,[ATTRIBUTE_9]       ,[ATTRIBUTE_10]      ,[IOP_EARNED_REVENUE]      ,[DET_LINK_ID]       ,[DET_LINK_VTOLL]       ,[TRANSACTION_FILE_DETAIL_ID]       ,[PROC_FEE_FLAT]      ,[PROC_FEE_PCT]      ,[LIC_PLATE_COUNTRY]      ,[LIC_PLATE_TYPE]      ,[RESUBMIT_REASON]      ,[RESUBMIT_COUNT]      ,[HUB_IOP_TXN_ID]      ,[HOME_TXN_REFERENCE_ID]      ,[RECON_HOME_AGENCY_ID]      ,[IOP_DISPOSITION]      ,[TAG_AGENCY_ID]   ,[LAST_UPDATE_TYPE]       ,[LAST_UPDATE_DATE]      )  SELECT          A.[TRANSACTION_ID]       ,A.[TRANSACTION_DATE]      ,A.[AGENCY_CODE]       ,A.[TAG_ID]       ,A.[FACILITY_ID]       ,A.[PLAZA_ID]       ,A.[LANE_ID]       ,A.[DISPOSITION]       ,A.[REASON_CODE]       ,A.[EARNED_CLASS]       ,A.[EARNED_REVENUE]      ,A.[POSTED_CLASS]       ,A.[POSTED_REVENUE]      ,A.[POSTED_DATE_TIME]      ,A.[SOURCE_CODE]       ,A.[TXID_ID]       ,A.[CREATION_DATE]      ,A.[LIC_PLATE_NBR]      ,A.[LIC_PLATE_STATE]       ,A.[HIA_AGCY_ID]       ,A.[TXN_TYPE]      ,A.[ENTRY_LANE_ID]       ,A.[ENTRY_TXN_DATE]       ,A.[ENTRY_TVL_TAG_STATUS]      ,A.[EXIT_TVL_TAG_STATUS]       ,A.[REPOST_ATTEMPTS]       ,A.[ATTRIBUTE_1]       ,A.[ATTRIBUTE_2]       ,A.[ATTRIBUTE_3]       ,A.[ATTRIBUTE_4]       ,A.[ATTRIBUTE_5]       ,A.[ATTRIBUTE_6]       ,A.[ATTRIBUTE_7]       ,A.[ATTRIBUTE_8]       ,A.[ATTRIBUTE_9]       ,A.[ATTRIBUTE_10]      ,A.[IOP_EARNED_REVENUE]      ,A.[DET_LINK_ID]       ,A.[DET_LINK_VTOLL]       ,A.[TRANSACTION_FILE_DETAIL_ID]       ,A.[PROC_FEE_FLAT]      ,A.[PROC_FEE_PCT]      ,A.[LIC_PLATE_COUNTRY]      ,A.[LIC_PLATE_TYPE]      ,A.[RESUBMIT_REASON]      ,A.[RESUBMIT_COUNT]      ,A.[HUB_IOP_TXN_ID]      ,A.[HOME_TXN_REFERENCE_ID]      ,A.[RECON_HOME_AGENCY_ID]      ,A.[IOP_DISPOSITION]      ,A.[TAG_AGENCY_ID]          ,'I' as [LAST_UPDATE_TYPE]       ,A.INSERT_DATETIME     FROM TXNOWNER.IOP_TRANSACTIONS_CT_INS A  LEFT JOIN TXNOWNER.IOP_TRANSACTIONS B ON A.TRANSACTION_ID = B.TRANSACTION_ID  WHERE B.TRANSACTION_ID IS NULL    
--CREATE PROC [TXNOWNER].[IOP_TRANSACTIONS_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TXNOWNER','IOP_TRANSACTIONS'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TXNOWNER','IOP_TRANSACTIONS_CT_UPD'  CREATE STATISTICS STATS_IOP_TRANSACTIONS_CT_UPD_001 ON TXNOWNER.IOP_TRANSACTIONS_CT_UPD (TRANSACTION_ID)  CREATE STATISTICS STATS_IOP_TRANSACTIONS_CT_UPD_002 ON TXNOWNER.IOP_TRANSACTIONS_CT_UPD (TRANSACTION_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#IOP_TRANSACTIONS_CT_UPD_Dups')<>0   DROP TABLE #IOP_TRANSACTIONS_CT_UPD_Dups    CREATE TABLE #IOP_TRANSACTIONS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.TRANSACTION_ID, A.INSERT_DATETIME   FROM TXNOWNER.IOP_TRANSACTIONS_CT_UPD A   INNER JOIN     (     SELECT TRANSACTION_ID     FROM TXNOWNER.IOP_TRANSACTIONS_CT_UPD     GROUP BY TRANSACTION_ID     HAVING COUNT(*)>1    ) Dups ON A.TRANSACTION_ID = Dups.TRANSACTION_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#IOP_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #IOP_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #IOP_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_ID), LOCATION = USER_DB)  AS   SELECT                A.[TRANSACTION_ID]       ,A.[TRANSACTION_DATE]      ,A.[AGENCY_CODE]       ,A.[TAG_ID]       ,A.[FACILITY_ID]       ,A.[PLAZA_ID]       ,A.[LANE_ID]       ,A.[DISPOSITION]       ,A.[REASON_CODE]       ,A.[EARNED_CLASS]       ,A.[EARNED_REVENUE]      ,A.[POSTED_CLASS]       ,A.[POSTED_REVENUE]      ,A.[POSTED_DATE_TIME]      ,A.[SOURCE_CODE]       ,A.[TXID_ID]       ,A.[CREATION_DATE]      ,A.[LIC_PLATE_NBR]      ,A.[LIC_PLATE_STATE]       ,A.[HIA_AGCY_ID]       ,A.[TXN_TYPE]      ,A.[ENTRY_LANE_ID]       ,A.[ENTRY_TXN_DATE]       ,A.[ENTRY_TVL_TAG_STATUS]      ,A.[EXIT_TVL_TAG_STATUS]       ,A.[REPOST_ATTEMPTS]       ,A.[ATTRIBUTE_1]       ,A.[ATTRIBUTE_2]       ,A.[ATTRIBUTE_3]       ,A.[ATTRIBUTE_4]       ,A.[ATTRIBUTE_5]       ,A.[ATTRIBUTE_6]       ,A.[ATTRIBUTE_7]       ,A.[ATTRIBUTE_8]       ,A.[ATTRIBUTE_9]       ,A.[ATTRIBUTE_10]      ,A.[IOP_EARNED_REVENUE]      ,A.[DET_LINK_ID]       ,A.[DET_LINK_VTOLL]       ,A.[TRANSACTION_FILE_DETAIL_ID]       ,A.[PROC_FEE_FLAT]      ,A.[PROC_FEE_PCT]      ,A.[LIC_PLATE_COUNTRY]      ,A.[LIC_PLATE_TYPE]      ,A.[RESUBMIT_REASON]      ,A.[RESUBMIT_COUNT]      ,A.[HUB_IOP_TXN_ID]      ,A.[HOME_TXN_REFERENCE_ID]      ,A.[RECON_HOME_AGENCY_ID]      ,A.[IOP_DISPOSITION]      ,A.[TAG_AGENCY_ID]   ,A.INSERT_DATETIME        FROM TXNOWNER.IOP_TRANSACTIONS_CT_UPD A   INNER JOIN     (     SELECT TRANSACTION_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #IOP_TRANSACTIONS_CT_UPD_Dups     GROUP BY TRANSACTION_ID    ) LastRcrd ON A.TRANSACTION_ID = LastRcrd.TRANSACTION_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TXNOWNER.IOP_TRANSACTIONS_CT_UPD   WHERE EXISTS(SELECT * FROM #IOP_TRANSACTIONS_CT_UPD_Dups B WHERE TXNOWNER.IOP_TRANSACTIONS_CT_UPD.TRANSACTION_ID = B.TRANSACTION_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TXNOWNER.IOP_TRANSACTIONS_CT_UPD    (       [TRANSACTION_ID]       ,[TRANSACTION_DATE]      ,[AGENCY_CODE]       ,[TAG_ID]       ,[FACILITY_ID]       ,[PLAZA_ID]       ,[LANE_ID]       ,[DISPOSITION]       ,[REASON_CODE]       ,[EARNED_CLASS]       ,[EARNED_REVENUE]      ,[POSTED_CLASS]       ,[POSTED_REVENUE]      ,[POSTED_DATE_TIME]      ,[SOURCE_CODE]       ,[TXID_ID]       ,[CREATION_DATE]      ,[LIC_PLATE_NBR]      ,[LIC_PLATE_STATE]       ,[HIA_AGCY_ID]       ,[TXN_TYPE]      ,[ENTRY_LANE_ID]       ,[ENTRY_TXN_DATE]       ,[ENTRY_TVL_TAG_STATUS]      ,[EXIT_TVL_TAG_STATUS]       ,[REPOST_ATTEMPTS]       ,[ATTRIBUTE_1]       ,[ATTRIBUTE_2]       ,[ATTRIBUTE_3]       ,[ATTRIBUTE_4]       ,[ATTRIBUTE_5]       ,[ATTRIBUTE_6]       ,[ATTRIBUTE_7]       ,[ATTRIBUTE_8]       ,[ATTRIBUTE_9]       ,[ATTRIBUTE_10]      ,[IOP_EARNED_REVENUE]      ,[DET_LINK_ID]       ,[DET_LINK_VTOLL]       ,[TRANSACTION_FILE_DETAIL_ID]       ,[PROC_FEE_FLAT]      ,[PROC_FEE_PCT]      ,[LIC_PLATE_COUNTRY]      ,[LIC_PLATE_TYPE]      ,[RESUBMIT_REASON]      ,[RESUBMIT_COUNT]      ,[HUB_IOP_TXN_ID]      ,[HOME_TXN_REFERENCE_ID]      ,[RECON_HOME_AGENCY_ID]      ,[IOP_DISPOSITION]      ,[TAG_AGENCY_ID]   ,INSERT_DATETIME   )  SELECT          [TRANSACTION_ID]       ,[TRANSACTION_DATE]      ,[AGENCY_CODE]       ,[TAG_ID]       ,[FACILITY_ID]       ,[PLAZA_ID]       ,[LANE_ID]       ,[DISPOSITION]       ,[REASON_CODE]       ,[EARNED_CLASS]       ,[EARNED_REVENUE]      ,[POSTED_CLASS]       ,[POSTED_REVENUE]      ,[POSTED_DATE_TIME]      ,[SOURCE_CODE]       ,[TXID_ID]       ,[CREATION_DATE]      ,[LIC_PLATE_NBR]      ,[LIC_PLATE_STATE]       ,[HIA_AGCY_ID]       ,[TXN_TYPE]      ,[ENTRY_LANE_ID]       ,[ENTRY_TXN_DATE]       ,[ENTRY_TVL_TAG_STATUS]      ,[EXIT_TVL_TAG_STATUS]       ,[REPOST_ATTEMPTS]       ,[ATTRIBUTE_1]       ,[ATTRIBUTE_2]       ,[ATTRIBUTE_3]       ,[ATTRIBUTE_4]       ,[ATTRIBUTE_5]       ,[ATTRIBUTE_6]       ,[ATTRIBUTE_7]       ,[ATTRIBUTE_8]       ,[ATTRIBUTE_9]       ,[ATTRIBUTE_10]      ,[IOP_EARNED_REVENUE]      ,[DET_LINK_ID]       ,[DET_LINK_VTOLL]       ,[TRANSACTION_FILE_DETAIL_ID]       ,[PROC_FEE_FLAT]      ,[PROC_FEE_PCT]      ,[LIC_PLATE_COUNTRY]      ,[LIC_PLATE_TYPE]      ,[RESUBMIT_REASON]      ,[RESUBMIT_COUNT]      ,[HUB_IOP_TXN_ID]      ,[HOME_TXN_REFERENCE_ID]      ,[RECON_HOME_AGENCY_ID]      ,[IOP_DISPOSITION]      ,[TAG_AGENCY_ID]   ,INSERT_DATETIME    FROM #IOP_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert     UPDATE  TXNOWNER.IOP_TRANSACTIONS   SET        --TXNOWNER.IOP_TRANSACTIONS.[TRANSACTION_ID]               =B.[TRANSACTION_ID]                  TXNOWNER.IOP_TRANSACTIONS.[TRANSACTION_DATE]     =B.[TRANSACTION_DATE]         ,TXNOWNER.IOP_TRANSACTIONS.[AGENCY_CODE]       =B.[AGENCY_CODE]           ,TXNOWNER.IOP_TRANSACTIONS.[TAG_ID]        =B.[TAG_ID]            ,TXNOWNER.IOP_TRANSACTIONS.[FACILITY_ID]       =B.[FACILITY_ID]           ,TXNOWNER.IOP_TRANSACTIONS.[PLAZA_ID]        =B.[PLAZA_ID]            ,TXNOWNER.IOP_TRANSACTIONS.[LANE_ID]        =B.[LANE_ID]            ,TXNOWNER.IOP_TRANSACTIONS.[DISPOSITION]       =B.[DISPOSITION]           ,TXNOWNER.IOP_TRANSACTIONS.[REASON_CODE]       =B.[REASON_CODE]           ,TXNOWNER.IOP_TRANSACTIONS.[EARNED_CLASS]       =B.[EARNED_CLASS]           ,TXNOWNER.IOP_TRANSACTIONS.[EARNED_REVENUE]      =B.[EARNED_REVENUE]          ,TXNOWNER.IOP_TRANSACTIONS.[POSTED_CLASS]       =B.[POSTED_CLASS]           ,TXNOWNER.IOP_TRANSACTIONS.[POSTED_REVENUE]         =B.[POSTED_REVENUE]         ,TXNOWNER.IOP_TRANSACTIONS.[POSTED_DATE_TIME]     =B.[POSTED_DATE_TIME]         ,TXNOWNER.IOP_TRANSACTIONS.[SOURCE_CODE]       =B.[SOURCE_CODE]           ,TXNOWNER.IOP_TRANSACTIONS.[TXID_ID]        =B.[TXID_ID]            ,TXNOWNER.IOP_TRANSACTIONS.[CREATION_DATE]      =B.[CREATION_DATE]          ,TXNOWNER.IOP_TRANSACTIONS.[LIC_PLATE_NBR]      =B.[LIC_PLATE_NBR]          ,TXNOWNER.IOP_TRANSACTIONS.[LIC_PLATE_STATE]      =B.[LIC_PLATE_STATE]          ,TXNOWNER.IOP_TRANSACTIONS.[HIA_AGCY_ID]       =B.[HIA_AGCY_ID]           ,TXNOWNER.IOP_TRANSACTIONS.[TXN_TYPE]       =B.[TXN_TYPE]           ,TXNOWNER.IOP_TRANSACTIONS.[ENTRY_LANE_ID]          =B.[ENTRY_LANE_ID]          ,TXNOWNER.IOP_TRANSACTIONS.[ENTRY_TXN_DATE]      =B.[ENTRY_TXN_DATE]          ,TXNOWNER.IOP_TRANSACTIONS.[ENTRY_TVL_TAG_STATUS]    =B.[ENTRY_TVL_TAG_STATUS]        ,TXNOWNER.IOP_TRANSACTIONS.[EXIT_TVL_TAG_STATUS]     =B.[EXIT_TVL_TAG_STATUS]         ,TXNOWNER.IOP_TRANSACTIONS.[REPOST_ATTEMPTS]      =B.[REPOST_ATTEMPTS]          ,TXNOWNER.IOP_TRANSACTIONS.[ATTRIBUTE_1]       =B.[ATTRIBUTE_1]           ,TXNOWNER.IOP_TRANSACTIONS.[ATTRIBUTE_2]       =B.[ATTRIBUTE_2]           ,TXNOWNER.IOP_TRANSACTIONS.[ATTRIBUTE_3]       =B.[ATTRIBUTE_3]           ,TXNOWNER.IOP_TRANSACTIONS.[ATTRIBUTE_4]       =B.[ATTRIBUTE_4]           ,TXNOWNER.IOP_TRANSACTIONS.[ATTRIBUTE_5]       =B.[ATTRIBUTE_5]           ,TXNOWNER.IOP_TRANSACTIONS.[ATTRIBUTE_6]       =B.[ATTRIBUTE_6]           ,TXNOWNER.IOP_TRANSACTIONS.[ATTRIBUTE_7]       =B.[ATTRIBUTE_7]           ,TXNOWNER.IOP_TRANSACTIONS.[ATTRIBUTE_8]       =B.[ATTRIBUTE_8]           ,TXNOWNER.IOP_TRANSACTIONS.[ATTRIBUTE_9]       =B.[ATTRIBUTE_9]           ,TXNOWNER.IOP_TRANSACTIONS.[ATTRIBUTE_10]      =B.[ATTRIBUTE_10]          ,TXNOWNER.IOP_TRANSACTIONS.[IOP_EARNED_REVENUE]        =B.[IOP_EARNED_REVENUE]        ,TXNOWNER.IOP_TRANSACTIONS.[DET_LINK_ID]       =B.[DET_LINK_ID]           ,TXNOWNER.IOP_TRANSACTIONS.[DET_LINK_VTOLL]      =B.[DET_LINK_VTOLL]          ,TXNOWNER.IOP_TRANSACTIONS.[TRANSACTION_FILE_DETAIL_ID]   =B.[TRANSACTION_FILE_DETAIL_ID]       ,TXNOWNER.IOP_TRANSACTIONS.[PROC_FEE_FLAT]   =B.[PROC_FEE_FLAT]       ,TXNOWNER.IOP_TRANSACTIONS.[PROC_FEE_PCT]   =B.[PROC_FEE_PCT]       ,TXNOWNER.IOP_TRANSACTIONS.[LIC_PLATE_COUNTRY]   =B.[LIC_PLATE_COUNTRY]       ,TXNOWNER.IOP_TRANSACTIONS.[LIC_PLATE_TYPE]   =B.[LIC_PLATE_TYPE]       ,TXNOWNER.IOP_TRANSACTIONS.[RESUBMIT_REASON]   =B.[RESUBMIT_REASON]       ,TXNOWNER.IOP_TRANSACTIONS.[RESUBMIT_COUNT]   =B.[RESUBMIT_COUNT]       ,TXNOWNER.IOP_TRANSACTIONS.[HUB_IOP_TXN_ID]   =B.[HUB_IOP_TXN_ID]       ,TXNOWNER.IOP_TRANSACTIONS.[HOME_TXN_REFERENCE_ID]   =B.[HOME_TXN_REFERENCE_ID]       ,TXNOWNER.IOP_TRANSACTIONS.[RECON_HOME_AGENCY_ID]   =B.[RECON_HOME_AGENCY_ID]       ,TXNOWNER.IOP_TRANSACTIONS.[IOP_DISPOSITION]   =B.[IOP_DISPOSITION]       ,TXNOWNER.IOP_TRANSACTIONS.[TAG_AGENCY_ID]   =B.[TAG_AGENCY_ID]    , TXNOWNER.IOP_TRANSACTIONS.LAST_UPDATE_TYPE = 'U'   , TXNOWNER.IOP_TRANSACTIONS.LAST_UPDATE_DATE = B.INSERT_DATETIME           FROM TXNOWNER.IOP_TRANSACTIONS_CT_UPD B   WHERE TXNOWNER.IOP_TRANSACTIONS.TRANSACTION_ID = B.TRANSACTION_ID  
--CREATE PROC [TXNOWNER].[IOP_TRANSACTIONS_Update_Stats] AS    EXEC DropStats 'TXNOWNER','IOP_TRANSACTIONS'  CREATE STATISTICS STATS_IOP_TRANSACTIONS_001 ON TXNOWNER.IOP_TRANSACTIONS (TRANSACTION_ID)  CREATE STATISTICS STATS_IOP_TRANSACTIONS_002 ON TXNOWNER.IOP_TRANSACTIONS (TRANSACTION_ID, SOURCE_CODE)  CREATE STATISTICS STATS_IOP_TRANSACTIONS_003 ON TXNOWNER.IOP_TRANSACTIONS (TRANSACTION_ID, SOURCE_CODE, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_IOP_TRANSACTIONS_004 ON TXNOWNER.IOP_TRANSACTIONS (LAST_UPDATE_DATE)
--CREATE PROC [TXNOWNER].[TA_REV_TFC_EVTS_DELETE] AS      EXEC DropStats 'TXNOWNER','TA_REV_TFC_EVTS_CT_DEL'  CREATE STATISTICS STATS_TA_REV_TFC_EVTS_CT_DEL_001 ON TXNOWNER.TA_REV_TFC_EVTS_CT_DEL (TART_ID)  CREATE STATISTICS STATS_TA_REV_TFC_EVTS_CT_DEL_002 ON TXNOWNER.TA_REV_TFC_EVTS_CT_DEL (TART_ID, INSERT_DATETIME)        UPDATE TXNOWNER.TA_REV_TFC_EVTS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TXNOWNER.TA_REV_TFC_EVTS_CT_DEL B  WHERE TXNOWNER.TA_REV_TFC_EVTS.TART_ID = B.TART_ID    /*   To Test With:     INSERT INTO TXNOWNER.VIOLATIONS_CT_DEL   SELECT TOP 1 * FROM TXNOWNER.VIOLATIONS_CT_DEL      SELECT * FROM TXNOWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'  */  
--CREATE PROC [TXNOWNER].[TA_REV_TFC_EVTS_INSERT] AS    /*   Update Stats on CT_INS table to help with de-dupping and update steps   GetFields 'TXNOWNER','TA_REV_TFC_EVTS'   GetInsertFields2 'TXNOWNER','TA_REV_TFC_EVTS'  */    EXEC DropStats 'TXNOWNER','TA_REV_TFC_EVTS_CT_INS'  CREATE STATISTICS STATS_TA_REV_TFC_EVTS_CT_INS_001 ON TXNOWNER.TA_REV_TFC_EVTS_CT_INS (TART_ID)    INSERT INTO TXNOWNER.TA_REV_TFC_EVTS   (    TXN_ID, DATE_TIME, EARNED_REV, ACTUAL_REV, ACTUAL_AXLES, CREATION_DATE, TART_ID, OPNM_ID, TAOC_ID, FACS_ID, PLAZ_ID, LANE_ID, TAOB_ID, TXID_ID, PMTY_ID, VCLY_ID, TAUO_ID, EARNED_AXLES, TRANSACTION_FILE_DETAIL_ID,      LAST_UPDATE_TYPE, LAST_UPDATE_DATE   )  SELECT      A.TXN_ID, A.DATE_TIME, A.EARNED_REV, A.ACTUAL_REV, A.ACTUAL_AXLES, A.CREATION_DATE, A.TART_ID, A.OPNM_ID, A.TAOC_ID, A.FACS_ID, A.PLAZ_ID, A.LANE_ID, A.TAOB_ID, A.TXID_ID, A.PMTY_ID, A.VCLY_ID, A.TAUO_ID, A.EARNED_AXLES, A.TRANSACTION_FILE_DETAIL_ID,      'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME  FROM TXNOWNER.TA_REV_TFC_EVTS_CT_INS A  LEFT JOIN TXNOWNER.TA_REV_TFC_EVTS B ON A.TART_ID = B.TART_ID  WHERE B.TART_ID IS NULL    
--CREATE PROC [TXNOWNER].[TA_REV_TFC_EVTS_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TXNOWNER','TA_REV_TFC_EVTS'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TXNOWNER','TA_REV_TFC_EVTS_CT_UPD'  CREATE STATISTICS STATS_TA_REV_TFC_EVTS_CT_UPD_001 ON TXNOWNER.TA_REV_TFC_EVTS_CT_UPD (TART_ID)  CREATE STATISTICS STATS_TA_REV_TFC_EVTS_CT_UPD_002 ON TXNOWNER.TA_REV_TFC_EVTS_CT_UPD (TART_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#TA_REV_TFC_EVTS_CT_UPD_Dups')<>0   DROP TABLE #TA_REV_TFC_EVTS_CT_UPD_Dups    CREATE TABLE #TA_REV_TFC_EVTS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TART_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.TART_ID, A.INSERT_DATETIME   FROM TXNOWNER.TA_REV_TFC_EVTS_CT_UPD A   INNER JOIN     (     SELECT TART_ID     FROM TXNOWNER.TA_REV_TFC_EVTS_CT_UPD     GROUP BY TART_ID     HAVING COUNT(*)>1    ) Dups ON A.TART_ID = Dups.TART_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#TA_REV_TFC_EVTS_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #TA_REV_TFC_EVTS_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #TA_REV_TFC_EVTS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TART_ID), LOCATION = USER_DB)  AS   SELECT  A.TXN_ID, A.DATE_TIME, A.EARNED_REV, A.ACTUAL_REV, A.ACTUAL_AXLES, A.CREATION_DATE, A.TART_ID, A.OPNM_ID, A.TAOC_ID, A.FACS_ID, A.PLAZ_ID, A.LANE_ID, A.TAOB_ID, A.TXID_ID, A.PMTY_ID, A.VCLY_ID, A.TAUO_ID, A.EARNED_AXLES, A.TRANSACTION_FILE_DETAIL_ID, A.INSERT_DATETIME   FROM TXNOWNER.TA_REV_TFC_EVTS_CT_UPD A   INNER JOIN     (     SELECT TART_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #TA_REV_TFC_EVTS_CT_UPD_Dups     GROUP BY TART_ID    ) LastRcrd ON A.TART_ID = LastRcrd.TART_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TXNOWNER.TA_REV_TFC_EVTS_CT_UPD   WHERE EXISTS(SELECT * FROM #TA_REV_TFC_EVTS_CT_UPD_Dups B WHERE TXNOWNER.TA_REV_TFC_EVTS_CT_UPD.TART_ID = B.TART_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TXNOWNER.TA_REV_TFC_EVTS_CT_UPD    ( TXN_ID, DATE_TIME, EARNED_REV, ACTUAL_REV, ACTUAL_AXLES, CREATION_DATE, TART_ID, OPNM_ID, TAOC_ID, FACS_ID, PLAZ_ID, LANE_ID, TAOB_ID, TXID_ID, PMTY_ID, VCLY_ID, TAUO_ID, EARNED_AXLES, TRANSACTION_FILE_DETAIL_ID, INSERT_DATETIME)  SELECT TXN_ID, DATE_TIME, EARNED_REV, ACTUAL_REV, ACTUAL_AXLES, CREATION_DATE, TART_ID, OPNM_ID, TAOC_ID, FACS_ID, PLAZ_ID, LANE_ID, TAOB_ID, TXID_ID, PMTY_ID, VCLY_ID, TAUO_ID, EARNED_AXLES, TRANSACTION_FILE_DETAIL_ID, INSERT_DATETIME  FROM #TA_REV_TFC_EVTS_CT_UPD_DuplicateLastRowToReInsert     UPDATE  TXNOWNER.TA_REV_TFC_EVTS   SET           TXNOWNER.TA_REV_TFC_EVTS.TXN_ID = B.TXN_ID    , TXNOWNER.TA_REV_TFC_EVTS.DATE_TIME = B.DATE_TIME    , TXNOWNER.TA_REV_TFC_EVTS.EARNED_REV = B.EARNED_REV    , TXNOWNER.TA_REV_TFC_EVTS.ACTUAL_REV = B.ACTUAL_REV    , TXNOWNER.TA_REV_TFC_EVTS.ACTUAL_AXLES = B.ACTUAL_AXLES    , TXNOWNER.TA_REV_TFC_EVTS.CREATION_DATE = B.CREATION_DATE    --, TXNOWNER.TA_REV_TFC_EVTS.TART_ID = B.TART_ID    , TXNOWNER.TA_REV_TFC_EVTS.OPNM_ID = B.OPNM_ID    , TXNOWNER.TA_REV_TFC_EVTS.TAOC_ID = B.TAOC_ID    , TXNOWNER.TA_REV_TFC_EVTS.FACS_ID = B.FACS_ID    , TXNOWNER.TA_REV_TFC_EVTS.PLAZ_ID = B.PLAZ_ID    , TXNOWNER.TA_REV_TFC_EVTS.LANE_ID = B.LANE_ID    , TXNOWNER.TA_REV_TFC_EVTS.TAOB_ID = B.TAOB_ID    , TXNOWNER.TA_REV_TFC_EVTS.TXID_ID = B.TXID_ID    , TXNOWNER.TA_REV_TFC_EVTS.PMTY_ID = B.PMTY_ID    , TXNOWNER.TA_REV_TFC_EVTS.VCLY_ID = B.VCLY_ID    , TXNOWNER.TA_REV_TFC_EVTS.TAUO_ID = B.TAUO_ID    , TXNOWNER.TA_REV_TFC_EVTS.EARNED_AXLES = B.EARNED_AXLES    , TXNOWNER.TA_REV_TFC_EVTS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID    , TXNOWNER.TA_REV_TFC_EVTS.LAST_UPDATE_TYPE = 'U'    , TXNOWNER.TA_REV_TFC_EVTS.LAST_UPDATE_DATE = B.INSERT_DATETIME   FROM TXNOWNER.TA_REV_TFC_EVTS_CT_UPD B   WHERE TXNOWNER.TA_REV_TFC_EVTS.TART_ID = B.TART_ID  
--CREATE PROC [TXNOWNER].[TA_REV_TFC_EVTS_Update_Stats] AS    EXEC DropStats 'TXNOWNER','TA_REV_TFC_EVTS'  CREATE STATISTICS STATS_TA_REV_TFC_EVTS_001 ON TXNOWNER.TA_REV_TFC_EVTS (TART_ID)  CREATE STATISTICS STATS_TA_REV_TFC_EVTS_002 ON TXNOWNER.TA_REV_TFC_EVTS (TART_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_TA_REV_TFC_EVTS_003 ON TXNOWNER.TA_REV_TFC_EVTS (LAST_UPDATE_DATE)
--CREATE PROC [TXNOWNER].[TA_TXN_AVI_DATAS_DELETE] AS      EXEC DropStats 'TXNOWNER','TA_TXN_AVI_DATAS_CT_DEL'  CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_CT_DEL_001 ON TXNOWNER.TA_TXN_AVI_DATAS_CT_DEL (TAD_ID)  CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_CT_DEL_002 ON TXNOWNER.TA_TXN_AVI_DATAS_CT_DEL (TAD_ID, INSERT_DATETIME)        UPDATE TXNOWNER.TA_TXN_AVI_DATAS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TXNOWNER.TA_TXN_AVI_DATAS_CT_DEL B  WHERE TXNOWNER.TA_TXN_AVI_DATAS.TAD_ID = B.TAD_ID    /*   To Test With:     INSERT INTO TXNOWNER.VIOLATIONS_CT_DEL   SELECT TOP 1 * FROM TXNOWNER.VIOLATIONS_CT_DEL      SELECT * FROM TXNOWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'  */  
--CREATE PROC [TXNOWNER].[TA_TXN_AVI_DATAS_INSERT] AS    /*   Update Stats on CT_INS table to help with de-dupping and update steps   GetFields 'TXNOWNER','TA_TXN_AVI_DATAS_CT_INS'   GetInsertFields2 'TXNOWNER','TA_TXN_AVI_DATAS_CT_INS'  */    EXEC DropStats 'TXNOWNER','TA_TXN_AVI_DATAS_CT_INS'  CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_CT_INS_001 ON TXNOWNER.TA_TXN_AVI_DATAS_CT_INS (TAD_ID)    INSERT INTO TXNOWNER.TA_TXN_AVI_DATAS   (     AVI_READER_NBR, AVI_TAG_CLASS, AVI_TAG_ID, AVI_PLAZA_AND_LN_ID, AVI_TAG_STATUS, AVI_HANDSHAKE, AVI_YEAR, AVI_MONTH, AVI_DAY, AVI_HOUR, AVI_MINUTE, AVI_SECOND, TAD_ID, TART_ID, TAG_AGENCY,      LAST_UPDATE_TYPE, LAST_UPDATE_DATE   )  SELECT      A.AVI_READER_NBR, A.AVI_TAG_CLASS, A.AVI_TAG_ID, A.AVI_PLAZA_AND_LN_ID, A.AVI_TAG_STATUS, A.AVI_HANDSHAKE, A.AVI_YEAR, A.AVI_MONTH, A.AVI_DAY, A.AVI_HOUR, A.AVI_MINUTE, A.AVI_SECOND, A.TAD_ID, A.TART_ID, A.TAG_AGENCY,      'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME  FROM TXNOWNER.TA_TXN_AVI_DATAS_CT_INS A  LEFT JOIN TXNOWNER.TA_TXN_AVI_DATAS B ON A.TAD_ID = B.TAD_ID  WHERE B.TAD_ID IS NULL    
--CREATE PROC [TXNOWNER].[TA_TXN_AVI_DATAS_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TXNOWNER','TA_TXN_AVI_DATAS'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TXNOWNER','TA_TXN_AVI_DATAS_CT_UPD'  CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_CT_UPD_001 ON TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD (TAD_ID)  CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_CT_UPD_002 ON TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD (TAD_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#TA_TXN_AVI_DATAS_CT_UPD_Dups')<>0   DROP TABLE #TA_TXN_AVI_DATAS_CT_UPD_Dups    CREATE TABLE #TA_TXN_AVI_DATAS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TAD_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.TAD_ID, A.INSERT_DATETIME   FROM TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD A   INNER JOIN     (     SELECT TAD_ID     FROM TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD     GROUP BY TAD_ID     HAVING COUNT(*)>1    ) Dups ON A.TAD_ID = Dups.TAD_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#TA_TXN_AVI_DATAS_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #TA_TXN_AVI_DATAS_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #TA_TXN_AVI_DATAS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TAD_ID), LOCATION = USER_DB)  AS   SELECT  A.AVI_READER_NBR, A.AVI_TAG_CLASS, A.AVI_TAG_ID, A.AVI_PLAZA_AND_LN_ID, A.AVI_TAG_STATUS, A.AVI_HANDSHAKE, A.AVI_YEAR, A.AVI_MONTH, A.AVI_DAY, A.AVI_HOUR, A.AVI_MINUTE, A.AVI_SECOND, A.TAD_ID, A.TART_ID, A.TAG_AGENCY, A.INSERT_DATETIME   FROM TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD A   INNER JOIN     (     SELECT TAD_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #TA_TXN_AVI_DATAS_CT_UPD_Dups     GROUP BY TAD_ID    ) LastRcrd ON A.TAD_ID = LastRcrd.TAD_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD   WHERE EXISTS(SELECT * FROM #TA_TXN_AVI_DATAS_CT_UPD_Dups B WHERE TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD.TAD_ID = B.TAD_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD    ( AVI_READER_NBR, AVI_TAG_CLASS, AVI_TAG_ID, AVI_PLAZA_AND_LN_ID, AVI_TAG_STATUS, AVI_HANDSHAKE, AVI_YEAR, AVI_MONTH, AVI_DAY, AVI_HOUR, AVI_MINUTE, AVI_SECOND, TAD_ID, TART_ID, TAG_AGENCY, INSERT_DATETIME)  SELECT AVI_READER_NBR, AVI_TAG_CLASS, AVI_TAG_ID, AVI_PLAZA_AND_LN_ID, AVI_TAG_STATUS, AVI_HANDSHAKE, AVI_YEAR, AVI_MONTH, AVI_DAY, AVI_HOUR, AVI_MINUTE, AVI_SECOND, TAD_ID, TART_ID, TAG_AGENCY, INSERT_DATETIME  FROM #TA_TXN_AVI_DATAS_CT_UPD_DuplicateLastRowToReInsert     UPDATE  TXNOWNER.TA_TXN_AVI_DATAS   SET           TXNOWNER.TA_TXN_AVI_DATAS.AVI_READER_NBR = B.AVI_READER_NBR    , TXNOWNER.TA_TXN_AVI_DATAS.AVI_TAG_CLASS = B.AVI_TAG_CLASS    , TXNOWNER.TA_TXN_AVI_DATAS.AVI_TAG_ID = B.AVI_TAG_ID    , TXNOWNER.TA_TXN_AVI_DATAS.AVI_PLAZA_AND_LN_ID = B.AVI_PLAZA_AND_LN_ID    , TXNOWNER.TA_TXN_AVI_DATAS.AVI_TAG_STATUS = B.AVI_TAG_STATUS    , TXNOWNER.TA_TXN_AVI_DATAS.AVI_HANDSHAKE = B.AVI_HANDSHAKE    , TXNOWNER.TA_TXN_AVI_DATAS.AVI_YEAR = B.AVI_YEAR    , TXNOWNER.TA_TXN_AVI_DATAS.AVI_MONTH = B.AVI_MONTH    , TXNOWNER.TA_TXN_AVI_DATAS.AVI_DAY = B.AVI_DAY    , TXNOWNER.TA_TXN_AVI_DATAS.AVI_HOUR = B.AVI_HOUR    , TXNOWNER.TA_TXN_AVI_DATAS.AVI_MINUTE = B.AVI_MINUTE    , TXNOWNER.TA_TXN_AVI_DATAS.AVI_SECOND = B.AVI_SECOND    --, TXNOWNER.TA_TXN_AVI_DATAS.TAD_ID = B.TAD_ID    , TXNOWNER.TA_TXN_AVI_DATAS.TART_ID = B.TART_ID    , TXNOWNER.TA_TXN_AVI_DATAS.TAG_AGENCY = B.TAG_AGENCY    , TXNOWNER.TA_TXN_AVI_DATAS.LAST_UPDATE_TYPE = 'U'    , TXNOWNER.TA_TXN_AVI_DATAS.LAST_UPDATE_DATE = B.INSERT_DATETIME   FROM TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD B   WHERE TXNOWNER.TA_TXN_AVI_DATAS.TAD_ID = B.TAD_ID  
--CREATE PROC [TXNOWNER].[TA_TXN_AVI_DATAS_Update_Stats] AS    EXEC DropStats 'TXNOWNER','TA_TXN_AVI_DATAS'  CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_001 ON TXNOWNER.TA_TXN_AVI_DATAS (TAD_ID)  CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_002 ON TXNOWNER.TA_TXN_AVI_DATAS (TAD_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_003 ON TXNOWNER.TA_TXN_AVI_DATAS (LAST_UPDATE_DATE)
--CREATE PROC [TXNOWNER].[TA_TXN_CLASS_DATAS_DELETE] AS      EXEC DropStats 'TXNOWNER','TA_TXN_CLASS_DATAS_CT_DEL'  CREATE STATISTICS STATS_TA_TXN_CLASS_DATAS_CT_DEL_001 ON TXNOWNER.TA_TXN_CLASS_DATAS_CT_DEL (CD_ID)  CREATE STATISTICS STATS_TA_TXN_CLASS_DATAS_CT_DEL_002 ON TXNOWNER.TA_TXN_CLASS_DATAS_CT_DEL (CD_ID, INSERT_DATETIME)        UPDATE TXNOWNER.TA_TXN_CLASS_DATAS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TXNOWNER.TA_TXN_CLASS_DATAS_CT_DEL B  WHERE TXNOWNER.TA_TXN_CLASS_DATAS.CD_ID = B.CD_ID    /*   To Test With:     INSERT INTO TXNOWNER.VIOLATIONS_CT_DEL   SELECT TOP 1 * FROM TXNOWNER.VIOLATIONS_CT_DEL      SELECT * FROM TXNOWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'  */  
--CREATE PROC [TXNOWNER].[TA_TXN_CLASS_DATAS_INSERT] AS    /*   Update Stats on CT_INS table to help with de-dupping and update steps   GetFields 'TXNOWNER','TA_TXN_CLASS_DATAS_CT_INS'   GetInsertFields2 'TXNOWNER','TA_TXN_CLASS_DATAS_CT_INS'  */    EXEC DropStats 'TXNOWNER','TA_TXN_CLASS_DATAS_CT_INS'  CREATE STATISTICS STATS_TA_TXN_CLASS_DATAS_CT_INS_001 ON TXNOWNER.TA_TXN_CLASS_DATAS_CT_INS (CD_ID)    INSERT INTO TXNOWNER.TA_TXN_CLASS_DATAS   (     REV_AXLE_CT, ATT_AXLES, ATT_CLASS, ATT_FARE, PRE_AXLES, PRE_CLASS, PRE_FARE, MID_LOOP_CTS, ENTRY_LOOP_CTS, EXIT_LOOP_CTS, UNUSUAL_OCC_CD, DISCREPANCY, CD_ID, TART_ID, FWD_AXLE_CT, FWD_AXLES,     LAST_UPDATE_TYPE, LAST_UPDATE_DATE   )  SELECT      A.REV_AXLE_CT, A.ATT_AXLES, A.ATT_CLASS, A.ATT_FARE, A.PRE_AXLES, A.PRE_CLASS, A.PRE_FARE, A.MID_LOOP_CTS, A.ENTRY_LOOP_CTS, A.EXIT_LOOP_CTS, A.UNUSUAL_OCC_CD, A.DISCREPANCY, A.CD_ID, A.TART_ID, A.FWD_AXLE_CT, A.FWD_AXLES,     'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME  FROM TXNOWNER.TA_TXN_CLASS_DATAS_CT_INS A  LEFT JOIN TXNOWNER.TA_TXN_CLASS_DATAS B ON A.CD_ID = B.CD_ID  WHERE B.CD_ID IS NULL    
--CREATE PROC [TXNOWNER].[TA_TXN_CLASS_DATAS_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TXNOWNER','TA_TXN_CLASS_DATAS'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TXNOWNER','TA_TXN_CLASS_DATAS_CT_UPD'  CREATE STATISTICS STATS_TA_TXN_CLASS_DATAS_CT_UPD_001 ON TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD (CD_ID)  CREATE STATISTICS STATS_TA_TXN_CLASS_DATAS_CT_UPD_002 ON TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD (CD_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#TA_TXN_CLASS_DATAS_CT_UPD_Dups')<>0   DROP TABLE #TA_TXN_CLASS_DATAS_CT_UPD_Dups    CREATE TABLE #TA_TXN_CLASS_DATAS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (CD_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.CD_ID, A.INSERT_DATETIME   FROM TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD A   INNER JOIN     (     SELECT CD_ID     FROM TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD     GROUP BY CD_ID     HAVING COUNT(*)>1    ) Dups ON A.CD_ID = Dups.CD_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#TA_TXN_CLASS_DATAS_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #TA_TXN_CLASS_DATAS_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #TA_TXN_CLASS_DATAS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (CD_ID), LOCATION = USER_DB)  AS   SELECT  A.REV_AXLE_CT, A.ATT_AXLES, A.ATT_CLASS, A.ATT_FARE, A.PRE_AXLES, A.PRE_CLASS, A.PRE_FARE, A.MID_LOOP_CTS, A.ENTRY_LOOP_CTS, A.EXIT_LOOP_CTS, A.UNUSUAL_OCC_CD, A.DISCREPANCY, A.CD_ID, A.TART_ID, A.FWD_AXLE_CT, A.FWD_AXLES, A.INSERT_DATETIME   FROM TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD A   INNER JOIN     (     SELECT CD_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #TA_TXN_CLASS_DATAS_CT_UPD_Dups     GROUP BY CD_ID    ) LastRcrd ON A.CD_ID = LastRcrd.CD_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD   WHERE EXISTS(SELECT * FROM #TA_TXN_CLASS_DATAS_CT_UPD_Dups B WHERE TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD.CD_ID = B.CD_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD    (  REV_AXLE_CT, ATT_AXLES, ATT_CLASS, ATT_FARE, PRE_AXLES, PRE_CLASS, PRE_FARE, MID_LOOP_CTS, ENTRY_LOOP_CTS, EXIT_LOOP_CTS, UNUSUAL_OCC_CD, DISCREPANCY, CD_ID, TART_ID, FWD_AXLE_CT, FWD_AXLES, INSERT_DATETIME)  SELECT REV_AXLE_CT, ATT_AXLES, ATT_CLASS, ATT_FARE, PRE_AXLES, PRE_CLASS, PRE_FARE, MID_LOOP_CTS, ENTRY_LOOP_CTS, EXIT_LOOP_CTS, UNUSUAL_OCC_CD, DISCREPANCY, CD_ID, TART_ID, FWD_AXLE_CT, FWD_AXLES, INSERT_DATETIME  FROM #TA_TXN_CLASS_DATAS_CT_UPD_DuplicateLastRowToReInsert     UPDATE  TXNOWNER.TA_TXN_CLASS_DATAS   SET           TXNOWNER.TA_TXN_CLASS_DATAS.REV_AXLE_CT = B.REV_AXLE_CT    , TXNOWNER.TA_TXN_CLASS_DATAS.ATT_AXLES = B.ATT_AXLES    , TXNOWNER.TA_TXN_CLASS_DATAS.ATT_CLASS = B.ATT_CLASS    , TXNOWNER.TA_TXN_CLASS_DATAS.ATT_FARE = B.ATT_FARE    , TXNOWNER.TA_TXN_CLASS_DATAS.PRE_AXLES = B.PRE_AXLES    , TXNOWNER.TA_TXN_CLASS_DATAS.PRE_CLASS = B.PRE_CLASS    , TXNOWNER.TA_TXN_CLASS_DATAS.PRE_FARE = B.PRE_FARE    , TXNOWNER.TA_TXN_CLASS_DATAS.MID_LOOP_CTS = B.MID_LOOP_CTS    , TXNOWNER.TA_TXN_CLASS_DATAS.ENTRY_LOOP_CTS = B.ENTRY_LOOP_CTS    , TXNOWNER.TA_TXN_CLASS_DATAS.EXIT_LOOP_CTS = B.EXIT_LOOP_CTS    , TXNOWNER.TA_TXN_CLASS_DATAS.UNUSUAL_OCC_CD = B.UNUSUAL_OCC_CD    , TXNOWNER.TA_TXN_CLASS_DATAS.DISCREPANCY = B.DISCREPANCY    --, TXNOWNER.TA_TXN_CLASS_DATAS.CD_ID = B.CD_ID    , TXNOWNER.TA_TXN_CLASS_DATAS.TART_ID = B.TART_ID    , TXNOWNER.TA_TXN_CLASS_DATAS.FWD_AXLE_CT = B.FWD_AXLE_CT    , TXNOWNER.TA_TXN_CLASS_DATAS.FWD_AXLES = B.FWD_AXLES    , TXNOWNER.TA_TXN_CLASS_DATAS.LAST_UPDATE_TYPE = 'U'    , TXNOWNER.TA_TXN_CLASS_DATAS.LAST_UPDATE_DATE = B.INSERT_DATETIME   FROM TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD B   WHERE TXNOWNER.TA_TXN_CLASS_DATAS.CD_ID = B.CD_ID  
--CREATE PROC [TXNOWNER].[TA_TXN_CLASS_DATAS_Update_Stats] AS    EXEC DropStats 'TXNOWNER','TA_TXN_CLASS_DATAS'  CREATE STATISTICS STATS_TA_TXN_CLASS_DATAS_001 ON TXNOWNER.TA_TXN_CLASS_DATAS (CD_ID)  CREATE STATISTICS STATS_TA_TXN_CLASS_DATAS_002 ON TXNOWNER.TA_TXN_CLASS_DATAS (CD_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_TA_TXN_CLASS_DATAS_003 ON TXNOWNER.TA_TXN_CLASS_DATAS (LAST_UPDATE_DATE)
--CREATE PROC [TXNOWNER].[TA_TXN_RITE_DATAS_DELETE] AS      EXEC DropStats 'TXNOWNER','TA_TXN_RITE_DATAS_CT_DEL'  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_CT_DEL_001 ON TXNOWNER.TA_TXN_RITE_DATAS_CT_DEL (TURD_ID)  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_CT_DEL_002 ON TXNOWNER.TA_TXN_RITE_DATAS_CT_DEL (TURD_ID, INSERT_DATETIME)        UPDATE TXNOWNER.TA_TXN_RITE_DATAS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_DEL B  WHERE TXNOWNER.TA_TXN_RITE_DATAS.TURD_ID = B.TURD_ID    /*   To Test With:     INSERT INTO TXNOWNER.VIOLATIONS_CT_DEL   SELECT TOP 1 * FROM TXNOWNER.VIOLATIONS_CT_DEL      SELECT * FROM TXNOWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'  */  
--CREATE PROC [TXNOWNER].[TA_TXN_RITE_DATAS_INSERT] AS    /*   Update Stats on CT_INS table to help with de-dupping and update steps   GetFields 'TXNOWNER','TA_TXN_RITE_DATAS_CT_INS'   GetInsertFields2 'TXNOWNER','TA_TXN_RITE_DATAS_CT_INS'  */    EXEC DropStats 'TXNOWNER','TA_TXN_RITE_DATAS_CT_INS'  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_CT_INS_001 ON TXNOWNER.TA_TXN_RITE_DATAS_CT_INS (TURD_ID)    INSERT INTO TXNOWNER.TA_TXN_RITE_DATAS   (    VEH_SPEED, EVENT_IND, LOGON_TIME, ACTIVE_VLT_CH, TURD_ID, TART_TART_ID, LOGON_MEANS, EMPL_ID, VPLT_ID, REV_LANE_IND, ISF_SERIAL_NO, VES_SERIAL_NO, VES_DATE_TIME, STANDBY_MODE_STATUS, ACM_STATUS, AVI_STATUS, VEH_AVC_STATUS, TREADLE_AVC_STATUS, VES_TRIGGER_STATUS, VES_STATUS, ATT_TERM_STATUS, FAC_SRVR_AVI_STATUS, FAC_SRVR_UPLOAD_TXNS, UPS_STATUS, DIGITAL_IO_STATUS, NONREV_EMPL_ID, LN_STRADDLE_IND, ATT_CLASS_ENTERED, VIO_IMAGE_REQ, COIN_REJECTED,     LAST_UPDATE_TYPE, LAST_UPDATE_DATE   )  SELECT      A.VEH_SPEED, A.EVENT_IND, A.LOGON_TIME, A.ACTIVE_VLT_CH, A.TURD_ID, A.TART_TART_ID, A.LOGON_MEANS, A.EMPL_ID, A.VPLT_ID, A.REV_LANE_IND, A.ISF_SERIAL_NO, A.VES_SERIAL_NO, A.VES_DATE_TIME, A.STANDBY_MODE_STATUS, A.ACM_STATUS, A.AVI_STATUS, A.VEH_AVC_STATUS, A.TREADLE_AVC_STATUS, A.VES_TRIGGER_STATUS, A.VES_STATUS, A.ATT_TERM_STATUS, A.FAC_SRVR_AVI_STATUS, A.FAC_SRVR_UPLOAD_TXNS, A.UPS_STATUS, A.DIGITAL_IO_STATUS, A.NONREV_EMPL_ID, A.LN_STRADDLE_IND, A.ATT_CLASS_ENTERED, A.VIO_IMAGE_REQ, A.COIN_REJECTED,      'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME  FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_INS A  LEFT JOIN TXNOWNER.TA_TXN_RITE_DATAS B ON A.TURD_ID = B.TURD_ID  WHERE B.TURD_ID IS NULL    
--CREATE PROC [TXNOWNER].[TA_TXN_RITE_DATAS_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TXNOWNER','TA_TXN_RITE_DATAS'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TXNOWNER','TA_TXN_RITE_DATAS_CT_UPD'  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_CT_UPD_001 ON TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD (TURD_ID)  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_CT_UPD_002 ON TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD (TURD_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#TA_TXN_RITE_DATAS_CT_UPD_Dups')<>0   DROP TABLE #TA_TXN_RITE_DATAS_CT_UPD_Dups    CREATE TABLE #TA_TXN_RITE_DATAS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TURD_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.TURD_ID, A.INSERT_DATETIME   FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD A   INNER JOIN     (     SELECT TURD_ID     FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD     GROUP BY TURD_ID     HAVING COUNT(*)>1    ) Dups ON A.TURD_ID = Dups.TURD_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#TA_TXN_RITE_DATAS_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #TA_TXN_RITE_DATAS_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #TA_TXN_RITE_DATAS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TURD_ID), LOCATION = USER_DB)  AS   SELECT  A.VEH_SPEED, A.EVENT_IND, A.LOGON_TIME, A.ACTIVE_VLT_CH, A.TURD_ID, A.TART_TART_ID, A.LOGON_MEANS, A.EMPL_ID, A.VPLT_ID, A.REV_LANE_IND, A.ISF_SERIAL_NO, A.VES_SERIAL_NO, A.VES_DATE_TIME, A.STANDBY_MODE_STATUS, A.ACM_STATUS, A.AVI_STATUS, A.VEH_AVC_STATUS, A.TREADLE_AVC_STATUS, A.VES_TRIGGER_STATUS, A.VES_STATUS, A.ATT_TERM_STATUS, A.FAC_SRVR_AVI_STATUS, A.FAC_SRVR_UPLOAD_TXNS, A.UPS_STATUS, A.DIGITAL_IO_STATUS, A.NONREV_EMPL_ID, A.LN_STRADDLE_IND, A.ATT_CLASS_ENTERED, A.VIO_IMAGE_REQ, A.COIN_REJECTED, A.INSERT_DATETIME   FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD A   INNER JOIN     (     SELECT TURD_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #TA_TXN_RITE_DATAS_CT_UPD_Dups     GROUP BY TURD_ID    ) LastRcrd ON A.TURD_ID = LastRcrd.TURD_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD   WHERE EXISTS(SELECT * FROM #TA_TXN_RITE_DATAS_CT_UPD_Dups B WHERE TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD.TURD_ID = B.TURD_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD    ( VEH_SPEED, EVENT_IND, LOGON_TIME, ACTIVE_VLT_CH, TURD_ID, TART_TART_ID, LOGON_MEANS, EMPL_ID, VPLT_ID, REV_LANE_IND, ISF_SERIAL_NO, VES_SERIAL_NO, VES_DATE_TIME, STANDBY_MODE_STATUS, ACM_STATUS, AVI_STATUS, VEH_AVC_STATUS, TREADLE_AVC_STATUS, VES_TRIGGER_STATUS, VES_STATUS, ATT_TERM_STATUS, FAC_SRVR_AVI_STATUS, FAC_SRVR_UPLOAD_TXNS, UPS_STATUS, DIGITAL_IO_STATUS, NONREV_EMPL_ID, LN_STRADDLE_IND, ATT_CLASS_ENTERED, VIO_IMAGE_REQ, COIN_REJECTED, INSERT_DATETIME)  SELECT VEH_SPEED, EVENT_IND, LOGON_TIME, ACTIVE_VLT_CH, TURD_ID, TART_TART_ID, LOGON_MEANS, EMPL_ID, VPLT_ID, REV_LANE_IND, ISF_SERIAL_NO, VES_SERIAL_NO, VES_DATE_TIME, STANDBY_MODE_STATUS, ACM_STATUS, AVI_STATUS, VEH_AVC_STATUS, TREADLE_AVC_STATUS, VES_TRIGGER_STATUS, VES_STATUS, ATT_TERM_STATUS, FAC_SRVR_AVI_STATUS, FAC_SRVR_UPLOAD_TXNS, UPS_STATUS, DIGITAL_IO_STATUS, NONREV_EMPL_ID, LN_STRADDLE_IND, ATT_CLASS_ENTERED, VIO_IMAGE_REQ, COIN_REJECTED, INSERT_DATETIME  FROM #TA_TXN_RITE_DATAS_CT_UPD_DuplicateLastRowToReInsert     UPDATE  TXNOWNER.TA_TXN_RITE_DATAS   SET           TXNOWNER.TA_TXN_RITE_DATAS.VEH_SPEED = B.VEH_SPEED    , TXNOWNER.TA_TXN_RITE_DATAS.EVENT_IND = B.EVENT_IND    , TXNOWNER.TA_TXN_RITE_DATAS.LOGON_TIME = B.LOGON_TIME    , TXNOWNER.TA_TXN_RITE_DATAS.ACTIVE_VLT_CH = B.ACTIVE_VLT_CH    --, TXNOWNER.TA_TXN_RITE_DATAS.TURD_ID = B.TURD_ID    , TXNOWNER.TA_TXN_RITE_DATAS.TART_TART_ID = B.TART_TART_ID    , TXNOWNER.TA_TXN_RITE_DATAS.LOGON_MEANS = B.LOGON_MEANS    , TXNOWNER.TA_TXN_RITE_DATAS.EMPL_ID = B.EMPL_ID    , TXNOWNER.TA_TXN_RITE_DATAS.VPLT_ID = B.VPLT_ID    , TXNOWNER.TA_TXN_RITE_DATAS.REV_LANE_IND = B.REV_LANE_IND    , TXNOWNER.TA_TXN_RITE_DATAS.ISF_SERIAL_NO = B.ISF_SERIAL_NO    , TXNOWNER.TA_TXN_RITE_DATAS.VES_SERIAL_NO = B.VES_SERIAL_NO    , TXNOWNER.TA_TXN_RITE_DATAS.VES_DATE_TIME = B.VES_DATE_TIME    , TXNOWNER.TA_TXN_RITE_DATAS.STANDBY_MODE_STATUS = B.STANDBY_MODE_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.ACM_STATUS = B.ACM_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.AVI_STATUS = B.AVI_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.VEH_AVC_STATUS = B.VEH_AVC_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.TREADLE_AVC_STATUS = B.TREADLE_AVC_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.VES_TRIGGER_STATUS = B.VES_TRIGGER_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.VES_STATUS = B.VES_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.ATT_TERM_STATUS = B.ATT_TERM_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.FAC_SRVR_AVI_STATUS = B.FAC_SRVR_AVI_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.FAC_SRVR_UPLOAD_TXNS = B.FAC_SRVR_UPLOAD_TXNS    , TXNOWNER.TA_TXN_RITE_DATAS.UPS_STATUS = B.UPS_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.DIGITAL_IO_STATUS = B.DIGITAL_IO_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.NONREV_EMPL_ID = B.NONREV_EMPL_ID    , TXNOWNER.TA_TXN_RITE_DATAS.LN_STRADDLE_IND = B.LN_STRADDLE_IND    , TXNOWNER.TA_TXN_RITE_DATAS.ATT_CLASS_ENTERED = B.ATT_CLASS_ENTERED    , TXNOWNER.TA_TXN_RITE_DATAS.VIO_IMAGE_REQ = B.VIO_IMAGE_REQ    , TXNOWNER.TA_TXN_RITE_DATAS.COIN_REJECTED = B.COIN_REJECTED    , TXNOWNER.TA_TXN_RITE_DATAS.LAST_UPDATE_TYPE = 'U'    , TXNOWNER.TA_TXN_RITE_DATAS.LAST_UPDATE_DATE = B.INSERT_DATETIME   FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD B   WHERE TXNOWNER.TA_TXN_RITE_DATAS.TURD_ID = B.TURD_ID  
--CREATE PROC [TXNOWNER].[TA_TXN_RITE_DATAS_Update_Stats] AS    EXEC DropStats 'TXNOWNER','TA_TXN_RITE_DATAS'  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_001 ON TXNOWNER.TA_TXN_RITE_DATAS (TURD_ID)  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_002 ON TXNOWNER.TA_TXN_RITE_DATAS (TURD_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_003 ON TXNOWNER.TA_TXN_RITE_DATAS (LAST_UPDATE_DATE)
--CREATE PROC [TSA_OWNER].[TRANSACTION_FILE_DETAILS_DELETE] AS      EXEC DropStats 'TSA_OWNER','TRANSACTION_FILE_DETAILS_CT_DEL'  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_CT_DEL_001 ON TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_DEL (TRANSACTION_FILE_DETAIL_ID)  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_CT_DEL_002 ON TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_DEL (TRANSACTION_FILE_DETAIL_ID, INSERT_DATETIME)        UPDATE TSA_OWNER.TRANSACTION_FILE_DETAILS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_DEL B  WHERE TSA_OWNER.TRANSACTION_FILE_DETAILS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID
--CREATE PROC [TSA_OWNER].[TRANSACTION_FILE_DETAILS_INSERT] AS      EXEC DropStats 'TSA_OWNER','TRANSACTION_FILE_DETAILS_CT_INS'  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_CT_INS_001 ON TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_INS (TRANSACTION_FILE_DETAIL_ID)    INSERT INTO TSA_OWNER.TRANSACTION_FILE_DETAILS   (                   [TRANSACTION_FILE_DETAIL_ID]      ,[SUBS_TRANS_TYPE_CODE]       ,[TRANSACTION_FILE_HEADER_ID]       ,[TRANSACTION_SEQUENCE]       ,[RECORD_TYPE]      ,[SUBSCRIBER_UNIQUE_ID]       ,[REVENUE_DATE]       ,[RECEIVED_DATE]      ,[RESUBMITTAL_REASON]       ,[RESUBMITTAL_COUNT]       ,[TRANSACTION_STATUS]       ,[AUTHORITY_ID]       ,[LOCATION_TYPE]      ,[FACILITY]       ,[SUBSCRIBER_ID]      ,[ENTRY_PLAZA]      ,[ENTRY_LANE]       ,[ENTRY_LANE_MODE]       ,[ENTRY_TRANSACTION_DATE]       ,[ENTRY_TRANSACTION_TIME]       ,[ENTRY_TRANSPONDER_ID]       ,[ENTRY_TRANSPONDER_STATUS]       ,[ENTRY_TVL_FILE_NAME]       ,[ENTRY_LVL_FILE_NAME]       ,[ENTRY_VEHICLE_CLASS]       ,[ENTRY_AXLES_EXPECTED]      ,[ENTRY_AXLES_COUNTED]       ,[ENTRY_SPEED]       ,[ENTRY_HOV_DESIGNATION]       ,[EXIT_PLAZA]      ,[EXIT_LANE]       ,[EXIT_LANE_MODE]      ,[EXIT_TRANSACTION_DATE]       ,[EXIT_TRANSACTION_TIME]       ,[EXIT_TRANSPONDER_ID]       ,[EXIT_TRANSPONDER_STATUS]       ,[EXIT_TVL_FILE_NAME]       ,[EXIT_LVL_FILE_NAME]       ,[EXIT_VEHICLE_CLASS]       ,[EXIT_AXLES_EXPECTED]      ,[EXIT_AXLES_COUNTED]       ,[EXIT_SPEED]       ,[EXIT_HOV_DESIGNATION]       ,[COLLECTOR_ID]      ,[VAULT_ID]       ,[TOLL_DETERMINATION_CLASS]       ,[TRANSPONDER_TOLL_AMT]       ,[TRANSPONDER_DISCOUNT_TYPE]       ,[DISC_TRANSPONDER_TOLL_AMT]       ,[VIDEO_TOLL_AMT_WO_PREM]       ,[VIDEO_TOLL_AMT_W_PREM]       ,[VIDEO_DISCOUNT_TYPE]       ,[DISC_VIDEO_TOLL_AMT_WO_PREM]      ,[DISC_VIDEO_TOLL_AMT_W_PREM]       ,[CASH_TOLL_AMOUNT]       ,[CASH_DISCOUNT_TYPE]       ,[DISC_CASH_TOLL_AMOUNT]       ,[UNUSUAL_OCCURRENCE_CODE]      ,[NUMBER_OF_IMAGES]       ,[AMOUNT_PAID]       ,[IMAGE_REQUEST_SEND_DATE]       ,[IMAGE_RESPONSE_RECEIVED_DATE]      ,[IMAGE_REQUEST_STATUS_CODE]       ,[CREATED_BY]       ,[DATE_CREATED]       ,[MODIFIED_BY]       ,[DATE_MODIFIED]      ,[ADDITIONAL_COMMENTS]       ,[SUBSCRIBER_LIST_ID]       ,[PROCESSED_YN]       ,[LOCKED_TIMESTAMP]       ,[EXIT_TAG_ID]       ,[LAST_UPDATE_TYPE]       ,[LAST_UPDATE_DATE]        )  SELECT                A.[TRANSACTION_FILE_DETAIL_ID]      ,A.[SUBS_TRANS_TYPE_CODE]       ,A.[TRANSACTION_FILE_HEADER_ID]       ,A.[TRANSACTION_SEQUENCE]       ,A.[RECORD_TYPE]      ,A.[SUBSCRIBER_UNIQUE_ID]       ,A.[REVENUE_DATE]       ,A.[RECEIVED_DATE]      ,A.[RESUBMITTAL_REASON]       ,A.[RESUBMITTAL_COUNT]       ,A.[TRANSACTION_STATUS]       ,A.[AUTHORITY_ID]       ,A.[LOCATION_TYPE]      ,A.[FACILITY]       ,A.[SUBSCRIBER_ID]      ,A.[ENTRY_PLAZA]      ,A.[ENTRY_LANE]       ,A.[ENTRY_LANE_MODE]       ,A.[ENTRY_TRANSACTION_DATE]       ,A.[ENTRY_TRANSACTION_TIME]       ,A.[ENTRY_TRANSPONDER_ID]       ,A.[ENTRY_TRANSPONDER_STATUS]       ,A.[ENTRY_TVL_FILE_NAME]       ,A.[ENTRY_LVL_FILE_NAME]       ,A.[ENTRY_VEHICLE_CLASS]       ,A.[ENTRY_AXLES_EXPECTED]      ,A.[ENTRY_AXLES_COUNTED]       ,A.[ENTRY_SPEED]       ,A.[ENTRY_HOV_DESIGNATION]       ,A.[EXIT_PLAZA]      ,A.[EXIT_LANE]       ,A.[EXIT_LANE_MODE]      ,A.[EXIT_TRANSACTION_DATE]       ,A.[EXIT_TRANSACTION_TIME]       ,A.[EXIT_TRANSPONDER_ID]       ,A.[EXIT_TRANSPONDER_STATUS]       ,A.[EXIT_TVL_FILE_NAME]       ,A.[EXIT_LVL_FILE_NAME]       ,A.[EXIT_VEHICLE_CLASS]       ,A.[EXIT_AXLES_EXPECTED]      ,A.[EXIT_AXLES_COUNTED]       ,A.[EXIT_SPEED]       ,A.[EXIT_HOV_DESIGNATION]       ,A.[COLLECTOR_ID]      ,A.[VAULT_ID]       ,A.[TOLL_DETERMINATION_CLASS]       ,A.[TRANSPONDER_TOLL_AMT]       ,A.[TRANSPONDER_DISCOUNT_TYPE]       ,A.[DISC_TRANSPONDER_TOLL_AMT]       ,A.[VIDEO_TOLL_AMT_WO_PREM]       ,A.[VIDEO_TOLL_AMT_W_PREM]       ,A.[VIDEO_DISCOUNT_TYPE]       ,A.[DISC_VIDEO_TOLL_AMT_WO_PREM]      ,A.[DISC_VIDEO_TOLL_AMT_W_PREM]       ,A.[CASH_TOLL_AMOUNT]       ,A.[CASH_DISCOUNT_TYPE]       ,A.[DISC_CASH_TOLL_AMOUNT]       ,A.[UNUSUAL_OCCURRENCE_CODE]      ,A.[NUMBER_OF_IMAGES]       ,A.[AMOUNT_PAID]       ,A.[IMAGE_REQUEST_SEND_DATE]       ,A.[IMAGE_RESPONSE_RECEIVED_DATE]      ,A.[IMAGE_REQUEST_STATUS_CODE]       ,A.[CREATED_BY]       ,A.[DATE_CREATED]       ,A.[MODIFIED_BY]       ,A.[DATE_MODIFIED]      ,A.[ADDITIONAL_COMMENTS]       ,A.[SUBSCRIBER_LIST_ID]       ,A.[PROCESSED_YN]       ,[LOCKED_TIMESTAMP]       ,[EXIT_TAG_ID]       ,'I' as [LAST_UPDATE_TYPE]       ,A.INSERT_DATETIME     FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_INS A  LEFT JOIN TSA_OWNER.TRANSACTION_FILE_DETAILS B ON A.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID  WHERE B.TRANSACTION_FILE_DETAIL_ID IS NULL    
--CREATE PROC [TSA_OWNER].[TRANSACTION_FILE_DETAILS_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TSA_OWNER','TRANSACTION_FILE_DETAILS'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TSA_OWNER','TRANSACTION_FILE_DETAILS_CT_UPD'  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_CT_UPD_001 ON TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD (TRANSACTION_FILE_DETAIL_ID)  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_CT_UPD_002 ON TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD (TRANSACTION_FILE_DETAIL_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#TRANSACTION_FILE_DETAILS_CT_UPD_Dups')<>0   DROP TABLE #TRANSACTION_FILE_DETAILS_CT_UPD_Dups    CREATE TABLE #TRANSACTION_FILE_DETAILS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_FILE_DETAIL_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.TRANSACTION_FILE_DETAIL_ID, A.INSERT_DATETIME   FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD A   INNER JOIN     (     SELECT TRANSACTION_FILE_DETAIL_ID     FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD     GROUP BY TRANSACTION_FILE_DETAIL_ID     HAVING COUNT(*)>1    ) Dups ON A.TRANSACTION_FILE_DETAIL_ID = Dups.TRANSACTION_FILE_DETAIL_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#TRANSACTION_FILE_DETAILS_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #TRANSACTION_FILE_DETAILS_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #TRANSACTION_FILE_DETAILS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_FILE_DETAIL_ID), LOCATION = USER_DB)  AS   SELECT          A.[TRANSACTION_FILE_DETAIL_ID]      ,A.[SUBS_TRANS_TYPE_CODE]       ,A.[TRANSACTION_FILE_HEADER_ID]       ,A.[TRANSACTION_SEQUENCE]       ,A.[RECORD_TYPE]      ,A.[SUBSCRIBER_UNIQUE_ID]       ,A.[REVENUE_DATE]       ,A.[RECEIVED_DATE]      ,A.[RESUBMITTAL_REASON]       ,A.[RESUBMITTAL_COUNT]       ,A.[TRANSACTION_STATUS]       ,A.[AUTHORITY_ID]       ,A.[LOCATION_TYPE]      ,A.[FACILITY]       ,A.[SUBSCRIBER_ID]      ,A.[ENTRY_PLAZA]      ,A.[ENTRY_LANE]       ,A.[ENTRY_LANE_MODE]       ,A.[ENTRY_TRANSACTION_DATE]       ,A.[ENTRY_TRANSACTION_TIME]       ,A.[ENTRY_TRANSPONDER_ID]       ,A.[ENTRY_TRANSPONDER_STATUS]       ,A.[ENTRY_TVL_FILE_NAME]       ,A.[ENTRY_LVL_FILE_NAME]       ,A.[ENTRY_VEHICLE_CLASS]       ,A.[ENTRY_AXLES_EXPECTED]      ,A.[ENTRY_AXLES_COUNTED]       ,A.[ENTRY_SPEED]       ,A.[ENTRY_HOV_DESIGNATION]       ,A.[EXIT_PLAZA]      ,A.[EXIT_LANE]       ,A.[EXIT_LANE_MODE]      ,A.[EXIT_TRANSACTION_DATE]       ,A.[EXIT_TRANSACTION_TIME]       ,A.[EXIT_TRANSPONDER_ID]       ,A.[EXIT_TRANSPONDER_STATUS]       ,A.[EXIT_TVL_FILE_NAME]       ,A.[EXIT_LVL_FILE_NAME]       ,A.[EXIT_VEHICLE_CLASS]       ,A.[EXIT_AXLES_EXPECTED]      ,A.[EXIT_AXLES_COUNTED]       ,A.[EXIT_SPEED]       ,A.[EXIT_HOV_DESIGNATION]       ,A.[COLLECTOR_ID]      ,A.[VAULT_ID]       ,A.[TOLL_DETERMINATION_CLASS]       ,A.[TRANSPONDER_TOLL_AMT]       ,A.[TRANSPONDER_DISCOUNT_TYPE]       ,A.[DISC_TRANSPONDER_TOLL_AMT]       ,A.[VIDEO_TOLL_AMT_WO_PREM]       ,A.[VIDEO_TOLL_AMT_W_PREM]       ,A.[VIDEO_DISCOUNT_TYPE]       ,A.[DISC_VIDEO_TOLL_AMT_WO_PREM]      ,A.[DISC_VIDEO_TOLL_AMT_W_PREM]       ,A.[CASH_TOLL_AMOUNT]       ,A.[CASH_DISCOUNT_TYPE]       ,A.[DISC_CASH_TOLL_AMOUNT]       ,A.[UNUSUAL_OCCURRENCE_CODE]      ,A.[NUMBER_OF_IMAGES]       ,A.[AMOUNT_PAID]       ,A.[IMAGE_REQUEST_SEND_DATE]       ,A.[IMAGE_RESPONSE_RECEIVED_DATE]      ,A.[IMAGE_REQUEST_STATUS_CODE]       ,A.[CREATED_BY]       ,A.[DATE_CREATED]       ,A.[MODIFIED_BY]       ,A.[DATE_MODIFIED]      ,A.[ADDITIONAL_COMMENTS]       ,A.[SUBSCRIBER_LIST_ID]       ,A.[PROCESSED_YN]       ,A.[LOCKED_TIMESTAMP]       ,A.[EXIT_TAG_ID]    ,A.INSERT_DATETIME        FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD A   INNER JOIN     (     SELECT TRANSACTION_FILE_DETAIL_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #TRANSACTION_FILE_DETAILS_CT_UPD_Dups     GROUP BY TRANSACTION_FILE_DETAIL_ID    ) LastRcrd ON A.TRANSACTION_FILE_DETAIL_ID = LastRcrd.TRANSACTION_FILE_DETAIL_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD   WHERE EXISTS(SELECT * FROM #TRANSACTION_FILE_DETAILS_CT_UPD_Dups B WHERE TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD    (  [TRANSACTION_FILE_DETAIL_ID]      ,[SUBS_TRANS_TYPE_CODE]       ,[TRANSACTION_FILE_HEADER_ID]       ,[TRANSACTION_SEQUENCE]       ,[RECORD_TYPE]      ,[SUBSCRIBER_UNIQUE_ID]       ,[REVENUE_DATE]       ,[RECEIVED_DATE]      ,[RESUBMITTAL_REASON]       ,[RESUBMITTAL_COUNT]       ,[TRANSACTION_STATUS]       ,[AUTHORITY_ID]       ,[LOCATION_TYPE]      ,[FACILITY]       ,[SUBSCRIBER_ID]      ,[ENTRY_PLAZA]      ,[ENTRY_LANE]       ,[ENTRY_LANE_MODE]       ,[ENTRY_TRANSACTION_DATE]       ,[ENTRY_TRANSACTION_TIME]       ,[ENTRY_TRANSPONDER_ID]       ,[ENTRY_TRANSPONDER_STATUS]       ,[ENTRY_TVL_FILE_NAME]       ,[ENTRY_LVL_FILE_NAME]       ,[ENTRY_VEHICLE_CLASS]       ,[ENTRY_AXLES_EXPECTED]      ,[ENTRY_AXLES_COUNTED]       ,[ENTRY_SPEED]       ,[ENTRY_HOV_DESIGNATION]       ,[EXIT_PLAZA]      ,[EXIT_LANE]       ,[EXIT_LANE_MODE]      ,[EXIT_TRANSACTION_DATE]       ,[EXIT_TRANSACTION_TIME]       ,[EXIT_TRANSPONDER_ID]       ,[EXIT_TRANSPONDER_STATUS]       ,[EXIT_TVL_FILE_NAME]       ,[EXIT_LVL_FILE_NAME]       ,[EXIT_VEHICLE_CLASS]       ,[EXIT_AXLES_EXPECTED]      ,[EXIT_AXLES_COUNTED]       ,[EXIT_SPEED]       ,[EXIT_HOV_DESIGNATION]       ,[COLLECTOR_ID]      ,[VAULT_ID]       ,[TOLL_DETERMINATION_CLASS]       ,[TRANSPONDER_TOLL_AMT]       ,[TRANSPONDER_DISCOUNT_TYPE]       ,[DISC_TRANSPONDER_TOLL_AMT]       ,[VIDEO_TOLL_AMT_WO_PREM]       ,[VIDEO_TOLL_AMT_W_PREM]       ,[VIDEO_DISCOUNT_TYPE]       ,[DISC_VIDEO_TOLL_AMT_WO_PREM]      ,[DISC_VIDEO_TOLL_AMT_W_PREM]       ,[CASH_TOLL_AMOUNT]       ,[CASH_DISCOUNT_TYPE]       ,[DISC_CASH_TOLL_AMOUNT]       ,[UNUSUAL_OCCURRENCE_CODE]      ,[NUMBER_OF_IMAGES]       ,[AMOUNT_PAID]       ,[IMAGE_REQUEST_SEND_DATE]       ,[IMAGE_RESPONSE_RECEIVED_DATE]      ,[IMAGE_REQUEST_STATUS_CODE]       ,[CREATED_BY]       ,[DATE_CREATED]       ,[MODIFIED_BY]       ,[DATE_MODIFIED]      ,[ADDITIONAL_COMMENTS]       ,[SUBSCRIBER_LIST_ID]       ,[PROCESSED_YN]       ,[LOCKED_TIMESTAMP]       ,[EXIT_TAG_ID]    , INSERT_DATETIME)  SELECT    [TRANSACTION_FILE_DETAIL_ID]      ,[SUBS_TRANS_TYPE_CODE]       ,[TRANSACTION_FILE_HEADER_ID]       ,[TRANSACTION_SEQUENCE]       ,[RECORD_TYPE]      ,[SUBSCRIBER_UNIQUE_ID]       ,[REVENUE_DATE]       ,[RECEIVED_DATE]      ,[RESUBMITTAL_REASON]       ,[RESUBMITTAL_COUNT]       ,[TRANSACTION_STATUS]       ,[AUTHORITY_ID]       ,[LOCATION_TYPE]      ,[FACILITY]       ,[SUBSCRIBER_ID]      ,[ENTRY_PLAZA]      ,[ENTRY_LANE]       ,[ENTRY_LANE_MODE]       ,[ENTRY_TRANSACTION_DATE]       ,[ENTRY_TRANSACTION_TIME]       ,[ENTRY_TRANSPONDER_ID]       ,[ENTRY_TRANSPONDER_STATUS]       ,[ENTRY_TVL_FILE_NAME]       ,[ENTRY_LVL_FILE_NAME]       ,[ENTRY_VEHICLE_CLASS]       ,[ENTRY_AXLES_EXPECTED]      ,[ENTRY_AXLES_COUNTED]       ,[ENTRY_SPEED]       ,[ENTRY_HOV_DESIGNATION]       ,[EXIT_PLAZA]      ,[EXIT_LANE]       ,[EXIT_LANE_MODE]      ,[EXIT_TRANSACTION_DATE]       ,[EXIT_TRANSACTION_TIME]       ,[EXIT_TRANSPONDER_ID]       ,[EXIT_TRANSPONDER_STATUS]       ,[EXIT_TVL_FILE_NAME]       ,[EXIT_LVL_FILE_NAME]       ,[EXIT_VEHICLE_CLASS]       ,[EXIT_AXLES_EXPECTED]      ,[EXIT_AXLES_COUNTED]       ,[EXIT_SPEED]       ,[EXIT_HOV_DESIGNATION]       ,[COLLECTOR_ID]      ,[VAULT_ID]       ,[TOLL_DETERMINATION_CLASS]       ,[TRANSPONDER_TOLL_AMT]       ,[TRANSPONDER_DISCOUNT_TYPE]       ,[DISC_TRANSPONDER_TOLL_AMT]       ,[VIDEO_TOLL_AMT_WO_PREM]       ,[VIDEO_TOLL_AMT_W_PREM]       ,[VIDEO_DISCOUNT_TYPE]       ,[DISC_VIDEO_TOLL_AMT_WO_PREM]      ,[DISC_VIDEO_TOLL_AMT_W_PREM]       ,[CASH_TOLL_AMOUNT]       ,[CASH_DISCOUNT_TYPE]       ,[DISC_CASH_TOLL_AMOUNT]       ,[UNUSUAL_OCCURRENCE_CODE]      ,[NUMBER_OF_IMAGES]       ,[AMOUNT_PAID]       ,[IMAGE_REQUEST_SEND_DATE]       ,[IMAGE_RESPONSE_RECEIVED_DATE]      ,[IMAGE_REQUEST_STATUS_CODE]       ,[CREATED_BY]       ,[DATE_CREATED]       ,[MODIFIED_BY]       ,[DATE_MODIFIED]      ,[ADDITIONAL_COMMENTS]       ,[SUBSCRIBER_LIST_ID]       ,[PROCESSED_YN]       ,[LOCKED_TIMESTAMP]       ,[EXIT_TAG_ID]    , INSERT_DATETIME    FROM #TRANSACTION_FILE_DETAILS_CT_UPD_DuplicateLastRowToReInsert     UPDATE  TSA_OWNER.TRANSACTION_FILE_DETAILS   SET      --TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSACTION_FILE_DETAIL_ID]               =B.[TRANSACTION_FILE_DETAIL_ID]           TSA_OWNER.TRANSACTION_FILE_DETAILS.[SUBS_TRANS_TYPE_CODE]        =B.[SUBS_TRANS_TYPE_CODE]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSACTION_FILE_HEADER_ID]      =B.[TRANSACTION_FILE_HEADER_ID]        ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSACTION_SEQUENCE]        =B.[TRANSACTION_SEQUENCE]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[RECORD_TYPE]         =B.[RECORD_TYPE]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[SUBSCRIBER_UNIQUE_ID]        =B.[SUBSCRIBER_UNIQUE_ID]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[REVENUE_DATE]          =B.[REVENUE_DATE]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[RECEIVED_DATE]         =B.[RECEIVED_DATE]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[RESUBMITTAL_REASON]        =B.[RESUBMITTAL_REASON]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[RESUBMITTAL_COUNT]        =B.[RESUBMITTAL_COUNT]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSACTION_STATUS]        =B.[TRANSACTION_STATUS]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[AUTHORITY_ID]          =B.[AUTHORITY_ID]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[LOCATION_TYPE]         =B.[LOCATION_TYPE]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[FACILITY]           =B.[FACILITY]             ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[SUBSCRIBER_ID]         =B.[SUBSCRIBER_ID]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_PLAZA]         =B.[ENTRY_PLAZA]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_LANE]          =B.[ENTRY_LANE]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_LANE_MODE]         =B.[ENTRY_LANE_MODE]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TRANSACTION_DATE]       =B.[ENTRY_TRANSACTION_DATE]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TRANSACTION_TIME]       =B.[ENTRY_TRANSACTION_TIME]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TRANSPONDER_ID]        =B.[ENTRY_TRANSPONDER_ID]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TRANSPONDER_STATUS]       =B.[ENTRY_TRANSPONDER_STATUS]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TVL_FILE_NAME]        =B.[ENTRY_TVL_FILE_NAME]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_LVL_FILE_NAME]        =B.[ENTRY_LVL_FILE_NAME]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_VEHICLE_CLASS]        =B.[ENTRY_VEHICLE_CLASS]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_AXLES_EXPECTED]       =B.[ENTRY_AXLES_EXPECTED]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_AXLES_COUNTED]        =B.[ENTRY_AXLES_COUNTED]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_SPEED]          =B.[ENTRY_SPEED]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_HOV_DESIGNATION]       =B.[ENTRY_HOV_DESIGNATION]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_PLAZA]         =B.[EXIT_PLAZA]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_LANE]          =B.[EXIT_LANE]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_LANE_MODE]        =B.[EXIT_LANE_MODE]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TRANSACTION_DATE]       =B.[EXIT_TRANSACTION_DATE]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TRANSACTION_TIME]       =B.[EXIT_TRANSACTION_TIME]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TRANSPONDER_ID]        =B.[EXIT_TRANSPONDER_ID]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TRANSPONDER_STATUS]       =B.[EXIT_TRANSPONDER_STATUS]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TVL_FILE_NAME]        =B.[EXIT_TVL_FILE_NAME]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_LVL_FILE_NAME]        =B.[EXIT_LVL_FILE_NAME]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_VEHICLE_CLASS]        =B.[EXIT_VEHICLE_CLASS]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_AXLES_EXPECTED]       =B.[EXIT_AXLES_EXPECTED]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_AXLES_COUNTED]        =B.[EXIT_AXLES_COUNTED]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_SPEED]          =B.[EXIT_SPEED]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_HOV_DESIGNATION]        =B.[EXIT_HOV_DESIGNATION]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[COLLECTOR_ID]         =B.[COLLECTOR_ID]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[VAULT_ID]           =B.[VAULT_ID]             ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TOLL_DETERMINATION_CLASS]       =B.[TOLL_DETERMINATION_CLASS]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSPONDER_TOLL_AMT]        =B.[TRANSPONDER_TOLL_AMT]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSPONDER_DISCOUNT_TYPE]      =B.[TRANSPONDER_DISCOUNT_TYPE]        ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DISC_TRANSPONDER_TOLL_AMT]      =B.[DISC_TRANSPONDER_TOLL_AMT]        ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[VIDEO_TOLL_AMT_WO_PREM]       =B.[VIDEO_TOLL_AMT_WO_PREM]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[VIDEO_TOLL_AMT_W_PREM]       =B.[VIDEO_TOLL_AMT_W_PREM]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[VIDEO_DISCOUNT_TYPE]        =B.[VIDEO_DISCOUNT_TYPE]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DISC_VIDEO_TOLL_AMT_WO_PREM]     =B.[DISC_VIDEO_TOLL_AMT_WO_PREM]       ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DISC_VIDEO_TOLL_AMT_W_PREM]      =B.[DISC_VIDEO_TOLL_AMT_W_PREM]        ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[CASH_TOLL_AMOUNT]         =B.[CASH_TOLL_AMOUNT]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[CASH_DISCOUNT_TYPE]        =B.[CASH_DISCOUNT_TYPE]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DISC_CASH_TOLL_AMOUNT]       =B.[DISC_CASH_TOLL_AMOUNT]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[UNUSUAL_OCCURRENCE_CODE]      =B.[UNUSUAL_OCCURRENCE_CODE]        ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[NUMBER_OF_IMAGES]         =B.[NUMBER_OF_IMAGES]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[AMOUNT_PAID]          =B.[AMOUNT_PAID]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[IMAGE_REQUEST_SEND_DATE]       =B.[IMAGE_REQUEST_SEND_DATE]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[IMAGE_RESPONSE_RECEIVED_DATE]     =B.[IMAGE_RESPONSE_RECEIVED_DATE]       ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[IMAGE_REQUEST_STATUS_CODE]      =B.[IMAGE_REQUEST_STATUS_CODE]        ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[CREATED_BY]          =B.[CREATED_BY]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DATE_CREATED]          =B.[DATE_CREATED]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[MODIFIED_BY]          =B.[MODIFIED_BY]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DATE_MODIFIED]         =B.[DATE_MODIFIED]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ADDITIONAL_COMMENTS]        =B.[ADDITIONAL_COMMENTS]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[SUBSCRIBER_LIST_ID]        =B.[SUBSCRIBER_LIST_ID]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[PROCESSED_YN]          =B.[PROCESSED_YN]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[LOCKED_TIMESTAMP]         =B.[LOCKED_TIMESTAMP]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TAG_ID]          =B.[EXIT_TAG_ID]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[LAST_UPDATE_TYPE]         ='U'          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[LAST_UPDATE_DATE]         =B.INSERT_DATETIME               FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD B   WHERE TSA_OWNER.TRANSACTION_FILE_DETAILS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID  
--CREATE PROC [TSA_OWNER].[TRANSACTION_FILE_DETAILS_Update_Stats] AS    EXEC DropStats 'TSA_OWNER','TRANSACTION_FILE_DETAILS'  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_001 ON TSA_OWNER.TRANSACTION_FILE_DETAILS (TRANSACTION_FILE_DETAIL_ID)  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_002 ON TSA_OWNER.TRANSACTION_FILE_DETAILS (TRANSACTION_FILE_DETAIL_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_003 ON TSA_OWNER.TRANSACTION_FILE_DETAILS (LAST_UPDATE_DATE)
--CREATE PROC [TSA_OWNER].[TRANSACTION_IMAGES_DELETE] AS      EXEC DropStats 'TSA_OWNER','TRANSACTION_IMAGES_CT_DEL'  CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_DEL_001 ON TSA_OWNER.TRANSACTION_IMAGES_CT_DEL (TRANSACTION_IMAGE_ID)  CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_DEL_002 ON TSA_OWNER.TRANSACTION_IMAGES_CT_DEL (TRANSACTION_IMAGE_ID, INSERT_DATETIME)        UPDATE TSA_OWNER.TRANSACTION_IMAGES   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TSA_OWNER.TRANSACTION_IMAGES_CT_DEL B  WHERE TSA_OWNER.TRANSACTION_IMAGES.TRANSACTION_IMAGE_ID = B.TRANSACTION_IMAGE_ID
--CREATE PROC [TSA_OWNER].[TRANSACTION_IMAGES_INSERT] AS      EXEC DropStats 'TSA_OWNER','TRANSACTION_IMAGES_CT_INS'  CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_INS_001 ON TSA_OWNER.TRANSACTION_IMAGES_CT_INS (TRANSACTION_IMAGE_ID)    INSERT INTO TSA_OWNER.TRANSACTION_IMAGES   (               [TRANSACTION_IMAGE_ID]       ,[TRANSACTION_FILE_DETAIL_ID]       ,[IMAGE_FILE_NAME]       ,[IMAGE_LOCATION_TYPE]       ,[IMAGE_FACING_CODE]      ,[IMAGE_SEQUENCE]       ,[LICENSE_PLATE_STATE]       ,[LICENSE_PLATE_STATE_CONF]       ,[LICENSE_PLATE_COUNTRY]      ,[LICENSE_PLATE_COUNTRY_CONF]       ,[LICENSE_PLATE_VALUE]       ,[LICENSE_PLATE_VALUE_CONF]      ,[LICENSE_PLATE_TYPE]      ,[LICENSE_PLATE_TYPE_CONF]       ,[OCR_ENGINE_TYPE]       ,[LICENSE_PLATE_OVERALL_CONF]       ,[ROI_UPPER_LEFT_X]       ,[ROI_UPPER_LEFT_Y]       ,[ROI_LOWER_RIGHT_X]      ,[ROI_LOWER_RIGHT_Y]      ,[LICENSE_PLATE_STATUS]       ,[DAC_OCR_PLATE_STATE]       ,[DAC_OCR_PLATE_VALUE]        ,[DAC_OCR_ROI_X1]       ,[DAC_OCR_ROI_Y1]       ,[DAC_OCR_ROI_X2]       ,[DAC_OCR_ROI_Y2]       ,[CREATED_BY]       ,[DATE_CREATED]       ,[MODIFIED_BY]       ,[DATE_MODIFIED]       --,[ADDITIONAL_COMMENTS]       ,[IMAGE_LOCATION]      ,[ROI_FILE_NAME]       ,[OCR_STATUS]       ,[FAILURE_REASON]      ,[DAC_OCR_LIC_PLATE_OVERALL_CONF]      ,[OCR_SERVER]      ,[LAST_UPDATE_TYPE]       ,[LAST_UPDATE_DATE]          )  SELECT            A.[TRANSACTION_IMAGE_ID]       ,A.[TRANSACTION_FILE_DETAIL_ID]       ,A.[IMAGE_FILE_NAME]       ,A.[IMAGE_LOCATION_TYPE]       ,A.[IMAGE_FACING_CODE]      ,A.[IMAGE_SEQUENCE]       ,A.[LICENSE_PLATE_STATE]       ,A.[LICENSE_PLATE_STATE_CONF]       ,A.[LICENSE_PLATE_COUNTRY]      ,A.[LICENSE_PLATE_COUNTRY_CONF]       ,A.[LICENSE_PLATE_VALUE]       ,A.[LICENSE_PLATE_VALUE_CONF]      ,A.[LICENSE_PLATE_TYPE]      ,A.[LICENSE_PLATE_TYPE_CONF]       ,A.[OCR_ENGINE_TYPE]       ,A.[LICENSE_PLATE_OVERALL_CONF]       ,A.[ROI_UPPER_LEFT_X]       ,A.[ROI_UPPER_LEFT_Y]       ,A.[ROI_LOWER_RIGHT_X]      ,A.[ROI_LOWER_RIGHT_Y]      ,A.[LICENSE_PLATE_STATUS]       ,A.[DAC_OCR_PLATE_STATE]       ,A.[DAC_OCR_PLATE_VALUE]        ,A.[DAC_OCR_ROI_X1]       ,A.[DAC_OCR_ROI_Y1]       ,A.[DAC_OCR_ROI_X2]       ,A.[DAC_OCR_ROI_Y2]       ,A.[CREATED_BY]       ,A.[DATE_CREATED]       ,A.[MODIFIED_BY]       ,A.[DATE_MODIFIED]       --,A.[ADDITIONAL_COMMENTS]       ,A.[IMAGE_LOCATION]      ,A.[ROI_FILE_NAME]       ,A.[OCR_STATUS]       ,A.[FAILURE_REASON]      ,A.[DAC_OCR_LIC_PLATE_OVERALL_CONF]      ,A.[OCR_SERVER]      ,'I' as [LAST_UPDATE_TYPE]       ,A.INSERT_DATETIME     FROM TSA_OWNER.TRANSACTION_IMAGES_CT_INS A  LEFT JOIN TSA_OWNER.TRANSACTION_IMAGES B ON A.TRANSACTION_IMAGE_ID = B.TRANSACTION_IMAGE_ID  WHERE B.TRANSACTION_IMAGE_ID IS NULL    
--CREATE PROC [TSA_OWNER].[TRANSACTION_IMAGES_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TSA_OWNER','TRANSACTION_IMAGES'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TSA_OWNER','TRANSACTION_IMAGES_CT_UPD'  CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_UPD_001 ON TSA_OWNER.TRANSACTION_IMAGES_CT_UPD (TRANSACTION_IMAGE_ID)  CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_UPD_002 ON TSA_OWNER.TRANSACTION_IMAGES_CT_UPD (TRANSACTION_IMAGE_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#TRANSACTION_IMAGES_CT_UPD_Dups')<>0   DROP TABLE #TRANSACTION_IMAGES_CT_UPD_Dups    CREATE TABLE #TRANSACTION_IMAGES_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_IMAGE_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.TRANSACTION_IMAGE_ID, A.INSERT_DATETIME   FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD A   INNER JOIN     (     SELECT TRANSACTION_IMAGE_ID     FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD     GROUP BY TRANSACTION_IMAGE_ID     HAVING COUNT(*)>1    ) Dups ON A.TRANSACTION_IMAGE_ID = Dups.TRANSACTION_IMAGE_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#TRANSACTION_IMAGES_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #TRANSACTION_IMAGES_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #TRANSACTION_IMAGES_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_IMAGE_ID), LOCATION = USER_DB)  AS   SELECT              A.[TRANSACTION_IMAGE_ID]       ,A.[TRANSACTION_FILE_DETAIL_ID]       ,A.[IMAGE_FILE_NAME]       ,A.[IMAGE_LOCATION_TYPE]       ,A.[IMAGE_FACING_CODE]      ,A.[IMAGE_SEQUENCE]       ,A.[LICENSE_PLATE_STATE]       ,A.[LICENSE_PLATE_STATE_CONF]       ,A.[LICENSE_PLATE_COUNTRY]      ,A.[LICENSE_PLATE_COUNTRY_CONF]       ,A.[LICENSE_PLATE_VALUE]       ,A.[LICENSE_PLATE_VALUE_CONF]      ,A.[LICENSE_PLATE_TYPE]      ,A.[LICENSE_PLATE_TYPE_CONF]       ,A.[OCR_ENGINE_TYPE]       ,A.[LICENSE_PLATE_OVERALL_CONF]       ,A.[ROI_UPPER_LEFT_X]       ,A.[ROI_UPPER_LEFT_Y]       ,A.[ROI_LOWER_RIGHT_X]      ,A.[ROI_LOWER_RIGHT_Y]      ,A.[LICENSE_PLATE_STATUS]       ,A.[DAC_OCR_PLATE_STATE]       ,A.[DAC_OCR_PLATE_VALUE]        ,A.[DAC_OCR_ROI_X1]       ,A.[DAC_OCR_ROI_Y1]       ,A.[DAC_OCR_ROI_X2]       ,A.[DAC_OCR_ROI_Y2]       ,A.[CREATED_BY]       ,A.[DATE_CREATED]       ,A.[MODIFIED_BY]       ,A.[DATE_MODIFIED]      -- ,A.[ADDITIONAL_COMMENTS]       ,A.[IMAGE_LOCATION]      ,A.[ROI_FILE_NAME]       ,A.[OCR_STATUS]       ,A.[FAILURE_REASON]      ,A.[DAC_OCR_LIC_PLATE_OVERALL_CONF]      ,A.[OCR_SERVER]   ,A.INSERT_DATETIME        FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD A   INNER JOIN     (     SELECT TRANSACTION_IMAGE_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #TRANSACTION_IMAGES_CT_UPD_Dups     GROUP BY TRANSACTION_IMAGE_ID    ) LastRcrd ON A.TRANSACTION_IMAGE_ID = LastRcrd.TRANSACTION_IMAGE_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD   WHERE EXISTS(SELECT * FROM #TRANSACTION_IMAGES_CT_UPD_Dups B WHERE TSA_OWNER.TRANSACTION_IMAGES_CT_UPD.TRANSACTION_IMAGE_ID = B.TRANSACTION_IMAGE_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TSA_OWNER.TRANSACTION_IMAGES_CT_UPD    (          [TRANSACTION_IMAGE_ID]       ,[TRANSACTION_FILE_DETAIL_ID]       ,[IMAGE_FILE_NAME]       ,[IMAGE_LOCATION_TYPE]       ,[IMAGE_FACING_CODE]      ,[IMAGE_SEQUENCE]       ,[LICENSE_PLATE_STATE]       ,[LICENSE_PLATE_STATE_CONF]       ,[LICENSE_PLATE_COUNTRY]      ,[LICENSE_PLATE_COUNTRY_CONF]       ,[LICENSE_PLATE_VALUE]       ,[LICENSE_PLATE_VALUE_CONF]      ,[LICENSE_PLATE_TYPE]      ,[LICENSE_PLATE_TYPE_CONF]       ,[OCR_ENGINE_TYPE]       ,[LICENSE_PLATE_OVERALL_CONF]       ,[ROI_UPPER_LEFT_X]       ,[ROI_UPPER_LEFT_Y]       ,[ROI_LOWER_RIGHT_X]      ,[ROI_LOWER_RIGHT_Y]      ,[LICENSE_PLATE_STATUS]       ,[DAC_OCR_PLATE_STATE]       ,[DAC_OCR_PLATE_VALUE]        ,[DAC_OCR_ROI_X1]       ,[DAC_OCR_ROI_Y1]       ,[DAC_OCR_ROI_X2]       ,[DAC_OCR_ROI_Y2]       ,[CREATED_BY]       ,[DATE_CREATED]       ,[MODIFIED_BY]       ,[DATE_MODIFIED]      -- ,[ADDITIONAL_COMMENTS]       ,[IMAGE_LOCATION]      ,[ROI_FILE_NAME]       ,[OCR_STATUS]       ,[FAILURE_REASON]      ,[DAC_OCR_LIC_PLATE_OVERALL_CONF]      ,[OCR_SERVER]   , INSERT_DATETIME)  SELECT        [TRANSACTION_IMAGE_ID]       ,[TRANSACTION_FILE_DETAIL_ID]       ,[IMAGE_FILE_NAME]       ,[IMAGE_LOCATION_TYPE]       ,[IMAGE_FACING_CODE]      ,[IMAGE_SEQUENCE]       ,[LICENSE_PLATE_STATE]       ,[LICENSE_PLATE_STATE_CONF]       ,[LICENSE_PLATE_COUNTRY]      ,[LICENSE_PLATE_COUNTRY_CONF]       ,[LICENSE_PLATE_VALUE]       ,[LICENSE_PLATE_VALUE_CONF]      ,[LICENSE_PLATE_TYPE]      ,[LICENSE_PLATE_TYPE_CONF]       ,[OCR_ENGINE_TYPE]       ,[LICENSE_PLATE_OVERALL_CONF]       ,[ROI_UPPER_LEFT_X]       ,[ROI_UPPER_LEFT_Y]       ,[ROI_LOWER_RIGHT_X]      ,[ROI_LOWER_RIGHT_Y]      ,[LICENSE_PLATE_STATUS]       ,[DAC_OCR_PLATE_STATE]       ,[DAC_OCR_PLATE_VALUE]        ,[DAC_OCR_ROI_X1]       ,[DAC_OCR_ROI_Y1]       ,[DAC_OCR_ROI_X2]       ,[DAC_OCR_ROI_Y2]       ,[CREATED_BY]       ,[DATE_CREATED]       ,[MODIFIED_BY]       ,[DATE_MODIFIED]       --,[ADDITIONAL_COMMENTS]       ,[IMAGE_LOCATION]      ,[ROI_FILE_NAME]       ,[OCR_STATUS]       ,[FAILURE_REASON]      ,[DAC_OCR_LIC_PLATE_OVERALL_CONF]      ,[OCR_SERVER]   , INSERT_DATETIME    FROM #TRANSACTION_IMAGES_CT_UPD_DuplicateLastRowToReInsert     UPDATE  TSA_OWNER.TRANSACTION_IMAGES   SET       --TSA_OWNER.TRANSACTION_IMAGES.[TRANSACTION_IMAGE_ID]                 =B.[TRANSACTION_IMAGE_ID]                  TSA_OWNER.TRANSACTION_IMAGES.[TRANSACTION_FILE_DETAIL_ID]     =B.[TRANSACTION_FILE_DETAIL_ID]         ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_FILE_NAME]       =B.[IMAGE_FILE_NAME]           ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_LOCATION_TYPE]      =B.[IMAGE_LOCATION_TYPE]          ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_FACING_CODE]      =B.[IMAGE_FACING_CODE]          ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_SEQUENCE]        =B.[IMAGE_SEQUENCE]            ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_STATE]      =B.[LICENSE_PLATE_STATE]          ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_STATE_CONF]     =B.[LICENSE_PLATE_STATE_CONF]         ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_COUNTRY]     =B.[LICENSE_PLATE_COUNTRY]         ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_COUNTRY_CONF]     =B.[LICENSE_PLATE_COUNTRY_CONF]         ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_VALUE]      =B.[LICENSE_PLATE_VALUE]          ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_VALUE_CONF]    =B.[LICENSE_PLATE_VALUE_CONF]        ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_TYPE]      =B.[LICENSE_PLATE_TYPE]          ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_TYPE_CONF]     =B.[LICENSE_PLATE_TYPE_CONF]         ,TSA_OWNER.TRANSACTION_IMAGES.[OCR_ENGINE_TYPE]       =B.[OCR_ENGINE_TYPE]           ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_OVERALL_CONF]     =B.[LICENSE_PLATE_OVERALL_CONF]         ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_UPPER_LEFT_X]       =B.[ROI_UPPER_LEFT_X]           ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_UPPER_LEFT_Y]       =B.[ROI_UPPER_LEFT_Y]           ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_LOWER_RIGHT_X]      =B.[ROI_LOWER_RIGHT_X]          ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_LOWER_RIGHT_Y]      =B.[ROI_LOWER_RIGHT_Y]          ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_STATUS]      =B.[LICENSE_PLATE_STATUS]          ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_PLATE_STATE]      =B.[DAC_OCR_PLATE_STATE]          ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_PLATE_VALUE]       =B.[DAC_OCR_PLATE_VALUE]           ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_ROI_X1]        =B.[DAC_OCR_ROI_X1]            ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_ROI_Y1]        =B.[DAC_OCR_ROI_Y1]            ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_ROI_X2]        =B.[DAC_OCR_ROI_X2]            ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_ROI_Y2]        =B.[DAC_OCR_ROI_Y2]            ,TSA_OWNER.TRANSACTION_IMAGES.[CREATED_BY]         =B.[CREATED_BY]             ,TSA_OWNER.TRANSACTION_IMAGES.[DATE_CREATED]        =B.[DATE_CREATED]            ,TSA_OWNER.TRANSACTION_IMAGES.[MODIFIED_BY]        =B.[MODIFIED_BY]            ,TSA_OWNER.TRANSACTION_IMAGES.[DATE_MODIFIED]        =B.[DATE_MODIFIED]            --,TSA_OWNER.TRANSACTION_IMAGES.[ADDITIONAL_COMMENTS]      =B.[ADDITIONAL_COMMENTS]          ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_LOCATION]       =B.[IMAGE_LOCATION]           ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_FILE_NAME]        =B.[ROI_FILE_NAME]            ,TSA_OWNER.TRANSACTION_IMAGES.[OCR_STATUS]         =B.[OCR_STATUS]             ,TSA_OWNER.TRANSACTION_IMAGES.[FAILURE_REASON]       =B.[FAILURE_REASON]           ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_LIC_PLATE_OVERALL_CONF]   =B.[DAC_OCR_LIC_PLATE_OVERALL_CONF]       ,TSA_OWNER.TRANSACTION_IMAGES.[OCR_SERVER]         =B.[OCR_SERVER]              ,TSA_OWNER.TRANSACTION_IMAGES.[LAST_UPDATE_TYPE]         ='U'          ,TSA_OWNER.TRANSACTION_IMAGES.[LAST_UPDATE_DATE]         =B.INSERT_DATETIME               FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD B   WHERE TSA_OWNER.TRANSACTION_IMAGES.TRANSACTION_IMAGE_ID = B.TRANSACTION_IMAGE_ID  
--CREATE PROC [TSA_OWNER].[TRANSACTION_IMAGES_Update_Stats] AS    EXEC DropStats 'TSA_OWNER','TRANSACTION_IMAGES'  CREATE STATISTICS STATS_TRANSACTION_IMAGES_001 ON TSA_OWNER.TRANSACTION_IMAGES (TRANSACTION_IMAGE_ID)  CREATE STATISTICS STATS_TRANSACTION_IMAGES_002 ON TSA_OWNER.TRANSACTION_IMAGES (TRANSACTION_IMAGE_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_TRANSACTION_IMAGES_003 ON TSA_OWNER.TRANSACTION_IMAGES (LAST_UPDATE_DATE)
--CREATE PROC [TXNOWNER].[TX_IDENT_TXNS_DELETE] AS      EXEC DropStats 'TXNOWNER','TX_IDENT_TXNS_CT_DEL'  CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_DEL_001 ON TXNOWNER.TX_IDENT_TXNS_CT_DEL (TXII_ID)  CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_DEL_002 ON TXNOWNER.TX_IDENT_TXNS_CT_DEL (TXII_ID, INSERT_DATETIME)        UPDATE TXNOWNER.TX_IDENT_TXNS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TXNOWNER.TX_IDENT_TXNS_CT_DEL B  WHERE TXNOWNER.TX_IDENT_TXNS.TXII_ID = B.TXII_ID    /*   To Test With:     INSERT INTO TXNOWNER.VIOLATIONS_CT_DEL   SELECT TOP 1 * FROM TXNOWNER.VIOLATIONS_CT_DEL      SELECT * FROM TXNOWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'  */  
--CREATE PROC [TXNOWNER].[TX_IDENT_TXNS_INSERT] AS    /*   Update Stats on CT_INS table to help with de-dupping and update steps   GetFields 'TXNOWNER','TX_IDENT_TXNS'   GetInsertFields2 'TXNOWNER','TX_IDENT_TXNS'  */    EXEC DropStats 'TXNOWNER','TX_IDENT_TXNS_CT_INS'  CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_INS_001 ON TXNOWNER.TX_IDENT_TXNS_CT_INS (TXII_ID)    INSERT INTO TXNOWNER.TX_IDENT_TXNS   (    TXN_ID, RECEIVED_DATE, STATUS_FLG, TXII_ID, TXID_ID, DEVN_ID, TXUF_ID,      LAST_UPDATE_TYPE, LAST_UPDATE_DATE   )  SELECT      A.TXN_ID, A.RECEIVED_DATE, A.STATUS_FLG, A.TXII_ID, A.TXID_ID, A.DEVN_ID, A.TXUF_ID,     'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME  FROM TXNOWNER.TX_IDENT_TXNS_CT_INS A  LEFT JOIN TXNOWNER.TX_IDENT_TXNS B ON A.TXII_ID = B.TXII_ID  WHERE B.TXII_ID IS NULL    
--CREATE PROC [TXNOWNER].[TX_IDENT_TXNS_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TXNOWNER','TX_IDENT_TXNS'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TXNOWNER','TX_IDENT_TXNS_CT_UPD'  CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_UPD_001 ON TXNOWNER.TX_IDENT_TXNS_CT_UPD (TXII_ID)  CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_UPD_002 ON TXNOWNER.TX_IDENT_TXNS_CT_UPD (TXII_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#TX_IDENT_TXNS_CT_UPD_Dups')<>0   DROP TABLE #TX_IDENT_TXNS_CT_UPD_Dups    CREATE TABLE #TX_IDENT_TXNS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TXII_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.TXII_ID, A.INSERT_DATETIME   FROM TXNOWNER.TX_IDENT_TXNS_CT_UPD A   INNER JOIN     (     SELECT TXII_ID     FROM TXNOWNER.TX_IDENT_TXNS_CT_UPD     GROUP BY TXII_ID     HAVING COUNT(*)>1    ) Dups ON A.TXII_ID = Dups.TXII_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#TX_IDENT_TXNS_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #TX_IDENT_TXNS_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #TX_IDENT_TXNS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TXII_ID), LOCATION = USER_DB)  AS   SELECT  A.TXN_ID, A.RECEIVED_DATE, A.STATUS_FLG, A.TXII_ID, A.TXID_ID, A.DEVN_ID, A.TXUF_ID, A.INSERT_DATETIME   FROM TXNOWNER.TX_IDENT_TXNS_CT_UPD A   INNER JOIN     (     SELECT TXII_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #TX_IDENT_TXNS_CT_UPD_Dups     GROUP BY TXII_ID    ) LastRcrd ON A.TXII_ID = LastRcrd.TXII_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TXNOWNER.TX_IDENT_TXNS_CT_UPD   WHERE EXISTS(SELECT * FROM #TX_IDENT_TXNS_CT_UPD_Dups B WHERE TXNOWNER.TX_IDENT_TXNS_CT_UPD.TXII_ID = B.TXII_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TXNOWNER.TX_IDENT_TXNS_CT_UPD    ( TXN_ID, RECEIVED_DATE, STATUS_FLG, TXII_ID, TXID_ID, DEVN_ID, TXUF_ID, INSERT_DATETIME)  SELECT TXN_ID, RECEIVED_DATE, STATUS_FLG, TXII_ID, TXID_ID, DEVN_ID, TXUF_ID, INSERT_DATETIME  FROM #TX_IDENT_TXNS_CT_UPD_DuplicateLastRowToReInsert       UPDATE  TXNOWNER.TX_IDENT_TXNS   SET           TXNOWNER.TX_IDENT_TXNS.TXN_ID = B.TXN_ID    , TXNOWNER.TX_IDENT_TXNS.RECEIVED_DATE = B.RECEIVED_DATE    , TXNOWNER.TX_IDENT_TXNS.STATUS_FLG = B.STATUS_FLG    --, TXNOWNER.TX_IDENT_TXNS.TXII_ID = B.TXII_ID    , TXNOWNER.TX_IDENT_TXNS.TXID_ID = B.TXID_ID    , TXNOWNER.TX_IDENT_TXNS.DEVN_ID = B.DEVN_ID    , TXNOWNER.TX_IDENT_TXNS.TXUF_ID = B.TXUF_ID    , TXNOWNER.TX_IDENT_TXNS.LAST_UPDATE_TYPE = 'U'    , TXNOWNER.TX_IDENT_TXNS.LAST_UPDATE_DATE = B.INSERT_DATETIME   FROM TXNOWNER.TX_IDENT_TXNS_CT_UPD B   WHERE TXNOWNER.TX_IDENT_TXNS.TXII_ID = B.TXII_ID  
--CREATE PROC [TXNOWNER].[TX_IDENT_TXNS_Update_Stats] AS    EXEC DropStats 'TXNOWNER','TX_IDENT_TXNS'  CREATE STATISTICS STATS_TX_IDENT_TXNS_001 ON TXNOWNER.TX_IDENT_TXNS (TXII_ID)  CREATE STATISTICS STATS_TX_IDENT_TXNS_002 ON TXNOWNER.TX_IDENT_TXNS (TXII_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_TX_IDENT_TXNS_003 ON TXNOWNER.TX_IDENT_TXNS (LAST_UPDATE_DATE)
--CREATE PROC [TXNOWNER].[VIOL_TRANSACTIONS_DELETE] AS      EXEC DropStats 'TXNOWNER','VIOL_TRANSACTIONS_CT_DEL'  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_CT_DEL_001 ON TXNOWNER.VIOL_TRANSACTIONS_CT_DEL (TRANS_REC_ID)  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_CT_DEL_002 ON TXNOWNER.VIOL_TRANSACTIONS_CT_DEL (TRANS_REC_ID, INSERT_DATETIME)        UPDATE TXNOWNER.VIOL_TRANSACTIONS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TXNOWNER.VIOL_TRANSACTIONS_CT_DEL B  WHERE TXNOWNER.VIOL_TRANSACTIONS.TRANS_REC_ID = B.TRANS_REC_ID    /*   To Test With:     INSERT INTO TXNOWNER.VIOLATIONS_CT_DEL   SELECT TOP 1 * FROM TXNOWNER.VIOLATIONS_CT_DEL      SELECT * FROM TXNOWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'  */  
--CREATE PROC [TXNOWNER].[VIOL_TRANSACTIONS_INSERT] AS    /*   Update Stats on CT_INS table to help with de-dupping and update steps   GetFields 'TXNOWNER','VIOL_TRANSACTIONS'   GetInsertFields2 'TXNOWNER','VIOL_TRANSACTIONS'  */    EXEC DropStats 'TXNOWNER','VIOL_TRANSACTIONS_CT_INS'  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_CT_INS_001 ON TXNOWNER.VIOL_TRANSACTIONS_CT_INS (TRANS_REC_ID)    INSERT INTO TXNOWNER.VIOL_TRANSACTIONS   (    TRANS_REC_ID, HOST_TRANSACTION_ID, VIOL_DATE, PROCESS_FLAG, VIOL_SERIAL_NBR, ISF_SERIAL_NBR, LC_FLG, VIOLATION_ID, AGENCY_CODE, TAG_ID, REASON_CODE, EARNED_CLASS, EARNED_REVENUE, POSTED_DATE, POSTED_CLASS, POSTED_REVENUE, TAG_STATUS, COIN_JAM, ACM_OK, AVI_OK, TAG_CLASS, LANE_ID, VES_TIMESTAMP, CREATION_DATE, CREATED_BY, UPDATED_DATE, UPDATED_BY, DISPOSITION, HIA_AGCY_ID, VIOL_STATUS,     LAST_UPDATE_TYPE, LAST_UPDATE_DATE   )  SELECT      A.TRANS_REC_ID, A.HOST_TRANSACTION_ID, A.VIOL_DATE, A.PROCESS_FLAG, A.VIOL_SERIAL_NBR, A.ISF_SERIAL_NBR, A.LC_FLG, A.VIOLATION_ID, A.AGENCY_CODE, A.TAG_ID, A.REASON_CODE, A.EARNED_CLASS, A.EARNED_REVENUE, A.POSTED_DATE, A.POSTED_CLASS, A.POSTED_REVENUE, A.TAG_STATUS, A.COIN_JAM, A.ACM_OK, A.AVI_OK, A.TAG_CLASS, A.LANE_ID, A.VES_TIMESTAMP, A.CREATION_DATE, A.CREATED_BY, A.UPDATED_DATE, A.UPDATED_BY, A.DISPOSITION, A.HIA_AGCY_ID, A.VIOL_STATUS,     'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME  FROM TXNOWNER.VIOL_TRANSACTIONS_CT_INS A  LEFT JOIN TXNOWNER.VIOL_TRANSACTIONS B ON A.TRANS_REC_ID = B.TRANS_REC_ID  WHERE B.TRANS_REC_ID IS NULL    
--CREATE PROC [TXNOWNER].[VIOL_TRANSACTIONS_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TXNOWNER','VIOL_TRANSACTIONS'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TXNOWNER','VIOL_TRANSACTIONS_CT_UPD'  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_CT_UPD_001 ON TXNOWNER.VIOL_TRANSACTIONS_CT_UPD (TRANS_REC_ID)  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_CT_UPD_002 ON TXNOWNER.VIOL_TRANSACTIONS_CT_UPD (TRANS_REC_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#VIOL_TRANSACTIONS_CT_UPD_Dups')<>0   DROP TABLE #VIOL_TRANSACTIONS_CT_UPD_Dups    CREATE TABLE #VIOL_TRANSACTIONS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANS_REC_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.TRANS_REC_ID, A.INSERT_DATETIME   FROM TXNOWNER.VIOL_TRANSACTIONS_CT_UPD A   INNER JOIN     (     SELECT TRANS_REC_ID     FROM TXNOWNER.VIOL_TRANSACTIONS_CT_UPD     GROUP BY TRANS_REC_ID     HAVING COUNT(*)>1    ) Dups ON A.TRANS_REC_ID = Dups.TRANS_REC_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#VIOL_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #VIOL_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #VIOL_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANS_REC_ID), LOCATION = USER_DB)  AS   SELECT  A.TRANS_REC_ID, A.HOST_TRANSACTION_ID, A.VIOL_DATE, A.PROCESS_FLAG, A.VIOL_SERIAL_NBR, A.ISF_SERIAL_NBR, A.LC_FLG, A.VIOLATION_ID, A.AGENCY_CODE, A.TAG_ID, A.REASON_CODE, A.EARNED_CLASS, A.EARNED_REVENUE, A.POSTED_DATE, A.POSTED_CLASS, A.POSTED_REVENUE, A.TAG_STATUS, A.COIN_JAM, A.ACM_OK, A.AVI_OK, A.TAG_CLASS, A.LANE_ID, A.VES_TIMESTAMP, A.CREATION_DATE, A.CREATED_BY, A.UPDATED_DATE, A.UPDATED_BY, A.DISPOSITION, A.HIA_AGCY_ID, A.VIOL_STATUS, A.INSERT_DATETIME   FROM TXNOWNER.VIOL_TRANSACTIONS_CT_UPD A   INNER JOIN     (     SELECT TRANS_REC_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #VIOL_TRANSACTIONS_CT_UPD_Dups     GROUP BY TRANS_REC_ID    ) LastRcrd ON A.TRANS_REC_ID = LastRcrd.TRANS_REC_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TXNOWNER.VIOL_TRANSACTIONS_CT_UPD   WHERE EXISTS(SELECT * FROM #VIOL_TRANSACTIONS_CT_UPD_Dups B WHERE TXNOWNER.VIOL_TRANSACTIONS_CT_UPD.TRANS_REC_ID = B.TRANS_REC_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TXNOWNER.VIOL_TRANSACTIONS_CT_UPD    (TRANS_REC_ID, HOST_TRANSACTION_ID, VIOL_DATE, PROCESS_FLAG, VIOL_SERIAL_NBR, ISF_SERIAL_NBR, LC_FLG, VIOLATION_ID, AGENCY_CODE, TAG_ID, REASON_CODE, EARNED_CLASS, EARNED_REVENUE, POSTED_DATE, POSTED_CLASS, POSTED_REVENUE, TAG_STATUS, COIN_JAM, ACM_OK, AVI_OK, TAG_CLASS, LANE_ID, VES_TIMESTAMP, CREATION_DATE, CREATED_BY, UPDATED_DATE, UPDATED_BY, DISPOSITION, HIA_AGCY_ID, VIOL_STATUS, INSERT_DATETIME)  SELECT TRANS_REC_ID, HOST_TRANSACTION_ID, VIOL_DATE, PROCESS_FLAG, VIOL_SERIAL_NBR, ISF_SERIAL_NBR, LC_FLG, VIOLATION_ID, AGENCY_CODE, TAG_ID, REASON_CODE, EARNED_CLASS, EARNED_REVENUE, POSTED_DATE, POSTED_CLASS, POSTED_REVENUE, TAG_STATUS, COIN_JAM, ACM_OK, AVI_OK, TAG_CLASS, LANE_ID, VES_TIMESTAMP, CREATION_DATE, CREATED_BY, UPDATED_DATE, UPDATED_BY, DISPOSITION, HIA_AGCY_ID, VIOL_STATUS, INSERT_DATETIME  FROM #VIOL_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert       UPDATE  TXNOWNER.VIOL_TRANSACTIONS   SET           --TXNOWNER.VIOL_TRANSACTIONS.TRANS_REC_ID = B.TRANS_REC_ID    TXNOWNER.VIOL_TRANSACTIONS.HOST_TRANSACTION_ID = B.HOST_TRANSACTION_ID    , TXNOWNER.VIOL_TRANSACTIONS.VIOL_DATE = B.VIOL_DATE    , TXNOWNER.VIOL_TRANSACTIONS.PROCESS_FLAG = B.PROCESS_FLAG    , TXNOWNER.VIOL_TRANSACTIONS.VIOL_SERIAL_NBR = B.VIOL_SERIAL_NBR    , TXNOWNER.VIOL_TRANSACTIONS.ISF_SERIAL_NBR = B.ISF_SERIAL_NBR    , TXNOWNER.VIOL_TRANSACTIONS.LC_FLG = B.LC_FLG    , TXNOWNER.VIOL_TRANSACTIONS.VIOLATION_ID = B.VIOLATION_ID    , TXNOWNER.VIOL_TRANSACTIONS.AGENCY_CODE = B.AGENCY_CODE    , TXNOWNER.VIOL_TRANSACTIONS.TAG_ID = B.TAG_ID    , TXNOWNER.VIOL_TRANSACTIONS.REASON_CODE = B.REASON_CODE    , TXNOWNER.VIOL_TRANSACTIONS.EARNED_CLASS = B.EARNED_CLASS    , TXNOWNER.VIOL_TRANSACTIONS.EARNED_REVENUE = B.EARNED_REVENUE    , TXNOWNER.VIOL_TRANSACTIONS.POSTED_DATE = B.POSTED_DATE    , TXNOWNER.VIOL_TRANSACTIONS.POSTED_CLASS = B.POSTED_CLASS    , TXNOWNER.VIOL_TRANSACTIONS.POSTED_REVENUE = B.POSTED_REVENUE    , TXNOWNER.VIOL_TRANSACTIONS.TAG_STATUS = B.TAG_STATUS    , TXNOWNER.VIOL_TRANSACTIONS.COIN_JAM = B.COIN_JAM    , TXNOWNER.VIOL_TRANSACTIONS.ACM_OK = B.ACM_OK    , TXNOWNER.VIOL_TRANSACTIONS.AVI_OK = B.AVI_OK    , TXNOWNER.VIOL_TRANSACTIONS.TAG_CLASS = B.TAG_CLASS    , TXNOWNER.VIOL_TRANSACTIONS.LANE_ID = B.LANE_ID    , TXNOWNER.VIOL_TRANSACTIONS.VES_TIMESTAMP = B.VES_TIMESTAMP    , TXNOWNER.VIOL_TRANSACTIONS.CREATION_DATE = B.CREATION_DATE    , TXNOWNER.VIOL_TRANSACTIONS.CREATED_BY = B.CREATED_BY    , TXNOWNER.VIOL_TRANSACTIONS.UPDATED_DATE = B.UPDATED_DATE    , TXNOWNER.VIOL_TRANSACTIONS.UPDATED_BY = B.UPDATED_BY    , TXNOWNER.VIOL_TRANSACTIONS.DISPOSITION = B.DISPOSITION    , TXNOWNER.VIOL_TRANSACTIONS.HIA_AGCY_ID = B.HIA_AGCY_ID    , TXNOWNER.VIOL_TRANSACTIONS.VIOL_STATUS = B.VIOL_STATUS    , TXNOWNER.VIOL_TRANSACTIONS.LAST_UPDATE_TYPE = 'U'    , TXNOWNER.VIOL_TRANSACTIONS.LAST_UPDATE_DATE = B.INSERT_DATETIME   FROM TXNOWNER.VIOL_TRANSACTIONS_CT_UPD B   WHERE TXNOWNER.VIOL_TRANSACTIONS.TRANS_REC_ID = B.TRANS_REC_ID  
--CREATE PROC [TXNOWNER].[VIOL_TRANSACTIONS_Update_Stats] AS    EXEC DropStats 'TXNOWNER','VIOL_TRANSACTIONS'  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_001 ON TXNOWNER.VIOL_TRANSACTIONS (TRANS_REC_ID)  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_002 ON TXNOWNER.VIOL_TRANSACTIONS (TRANS_REC_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_003 ON TXNOWNER.VIOL_TRANSACTIONS (LAST_UPDATE_DATE)
