CREATE PROC [HAS_OWNER].[HA_SHIFT_DETAILS_Update_Stats] AS    
--EXEC DropStats 'HAS_OWNER','HA_SHIFT_DETAILS'  
--CREATE STATISTICS STATS_HA_SHIFT_DETAILS_001 ON HAS_OWNER.HA_SHIFT_DETAILS (HSD_ID)  
--CREATE STATISTICS STATS_HA_SHIFT_DETAILS_002 ON HAS_OWNER.HA_SHIFT_DETAILS (HSD_ID, LAST_UPDATE_DATE)  
--CREATE STATISTICS STATS_HA_SHIFT_DETAILS_003 ON HAS_OWNER.HA_SHIFT_DETAILS (LAST_UPDATE_DATE)
	 UPDATE STATISTICS HAS_OWNER.HA_SHIFT_DETAILS

