CREATE PROC [HAS_OWNER].[HA_VIOL_TXNSES_Update_Stats] AS    
--EXEC DropStats 'HAS_OWNER','HA_VIOL_TXNSES' 
-- CREATE STATISTICS STATS_HA_VIOL_TXNSES_001 ON HAS_OWNER.HA_VIOL_TXNSES (HVT_ID)  
-- CREATE STATISTICS STATS_HA_VIOL_TXNSES_002 ON HAS_OWNER.HA_VIOL_TXNSES (HVT_ID, LAST_UPDATE_DATE)  
-- CREATE STATISTICS STATS_HA_VIOL_TXNSES_003 ON HAS_OWNER.HA_VIOL_TXNSES (LAST_UPDATE_DATE)
	 UPDATE STATISTICS HAS_OWNER.HA_SHIFT_DETAILS

