CREATE PROC [TSA_OWNER].[TRANSACTION_IMAGES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'TSA_OWNER','TRANSACTION_IMAGES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TSA_OWNER','TRANSACTION_IMAGES_CT_UPD'
CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_UPD_001 ON TSA_OWNER.TRANSACTION_IMAGES_CT_UPD (TRANSACTION_IMAGE_ID)
CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_UPD_002 ON TSA_OWNER.TRANSACTION_IMAGES_CT_UPD (TRANSACTION_IMAGE_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/
/*
IF OBJECT_ID('tempdb..#TRANSACTION_IMAGES_CT_UPD_Dups')<>0
	DROP TABLE #TRANSACTION_IMAGES_CT_UPD_Dups

CREATE TABLE #TRANSACTION_IMAGES_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_IMAGE_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.TRANSACTION_IMAGE_ID, A.INSERT_DATETIME
	FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD A
	INNER JOIN 
		(
			SELECT TRANSACTION_IMAGE_ID
			FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD
			GROUP BY TRANSACTION_IMAGE_ID
			HAVING COUNT(*)>1
		) Dups ON A.TRANSACTION_IMAGE_ID = Dups.TRANSACTION_IMAGE_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#TRANSACTION_IMAGES_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #TRANSACTION_IMAGES_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #TRANSACTION_IMAGES_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_IMAGE_ID), LOCATION = USER_DB)
AS
	SELECT  
	         A.[TRANSACTION_IMAGE_ID] 
    ,A.[TRANSACTION_FILE_DETAIL_ID] 
    ,A.[IMAGE_FILE_NAME] 
    ,A.[IMAGE_LOCATION_TYPE] 
    ,A.[IMAGE_FACING_CODE]
    ,A.[IMAGE_SEQUENCE] 
    ,A.[LICENSE_PLATE_STATE] 
    ,A.[LICENSE_PLATE_STATE_CONF] 
    ,A.[LICENSE_PLATE_COUNTRY]
    ,A.[LICENSE_PLATE_COUNTRY_CONF] 
    ,A.[LICENSE_PLATE_VALUE] 
    ,A.[LICENSE_PLATE_VALUE_CONF]
    ,A.[LICENSE_PLATE_TYPE]
    ,A.[LICENSE_PLATE_TYPE_CONF] 
    ,A.[OCR_ENGINE_TYPE] 
    ,A.[LICENSE_PLATE_OVERALL_CONF] 
    ,A.[ROI_UPPER_LEFT_X] 
    ,A.[ROI_UPPER_LEFT_Y] 
    ,A.[ROI_LOWER_RIGHT_X]
    ,A.[ROI_LOWER_RIGHT_Y]
    ,A.[LICENSE_PLATE_STATUS] 
    ,A.[DAC_OCR_PLATE_STATE] 
    ,A.[DAC_OCR_PLATE_VALUE]  
    ,A.[DAC_OCR_ROI_X1] 
    ,A.[DAC_OCR_ROI_Y1] 
    ,A.[DAC_OCR_ROI_X2] 
    ,A.[DAC_OCR_ROI_Y2] 
    ,A.[CREATED_BY] 
    ,A.[DATE_CREATED] 
    ,A.[MODIFIED_BY] 
    ,A.[DATE_MODIFIED] 
   -- ,A.[ADDITIONAL_COMMENTS] 
    ,A.[IMAGE_LOCATION]
    ,A.[ROI_FILE_NAME] 
    ,A.[OCR_STATUS] 
    ,A.[FAILURE_REASON]
    ,A.[DAC_OCR_LIC_PLATE_OVERALL_CONF]
    ,A.[OCR_SERVER]
	,A.INSERT_DATETIME
	

	FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD A
	INNER JOIN 
		(
			SELECT TRANSACTION_IMAGE_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #TRANSACTION_IMAGES_CT_UPD_Dups
			GROUP BY TRANSACTION_IMAGE_ID
		) LastRcrd ON A.TRANSACTION_IMAGE_ID = LastRcrd.TRANSACTION_IMAGE_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD 
WHERE EXISTS(SELECT * FROM #TRANSACTION_IMAGES_CT_UPD_Dups B WHERE TSA_OWNER.TRANSACTION_IMAGES_CT_UPD.TRANSACTION_IMAGE_ID = B.TRANSACTION_IMAGE_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO TSA_OWNER.TRANSACTION_IMAGES_CT_UPD 
	(  
	     [TRANSACTION_IMAGE_ID] 
    ,[TRANSACTION_FILE_DETAIL_ID] 
    ,[IMAGE_FILE_NAME] 
    ,[IMAGE_LOCATION_TYPE] 
    ,[IMAGE_FACING_CODE]
    ,[IMAGE_SEQUENCE] 
    ,[LICENSE_PLATE_STATE] 
    ,[LICENSE_PLATE_STATE_CONF] 
    ,[LICENSE_PLATE_COUNTRY]
    ,[LICENSE_PLATE_COUNTRY_CONF] 
    ,[LICENSE_PLATE_VALUE] 
    ,[LICENSE_PLATE_VALUE_CONF]
    ,[LICENSE_PLATE_TYPE]
    ,[LICENSE_PLATE_TYPE_CONF] 
    ,[OCR_ENGINE_TYPE] 
    ,[LICENSE_PLATE_OVERALL_CONF] 
    ,[ROI_UPPER_LEFT_X] 
    ,[ROI_UPPER_LEFT_Y] 
    ,[ROI_LOWER_RIGHT_X]
    ,[ROI_LOWER_RIGHT_Y]
    ,[LICENSE_PLATE_STATUS] 
    ,[DAC_OCR_PLATE_STATE] 
    ,[DAC_OCR_PLATE_VALUE]  
    ,[DAC_OCR_ROI_X1] 
    ,[DAC_OCR_ROI_Y1] 
    ,[DAC_OCR_ROI_X2] 
    ,[DAC_OCR_ROI_Y2] 
    ,[CREATED_BY] 
    ,[DATE_CREATED] 
    ,[MODIFIED_BY] 
    ,[DATE_MODIFIED] 
   -- ,[ADDITIONAL_COMMENTS] 
    ,[IMAGE_LOCATION]
    ,[ROI_FILE_NAME] 
    ,[OCR_STATUS] 
    ,[FAILURE_REASON]
    ,[DAC_OCR_LIC_PLATE_OVERALL_CONF]
    ,[OCR_SERVER]
	, INSERT_DATETIME)
SELECT 
     [TRANSACTION_IMAGE_ID] 
    ,[TRANSACTION_FILE_DETAIL_ID] 
    ,[IMAGE_FILE_NAME] 
    ,[IMAGE_LOCATION_TYPE] 
    ,[IMAGE_FACING_CODE]
    ,[IMAGE_SEQUENCE] 
    ,[LICENSE_PLATE_STATE] 
    ,[LICENSE_PLATE_STATE_CONF] 
    ,[LICENSE_PLATE_COUNTRY]
    ,[LICENSE_PLATE_COUNTRY_CONF] 
    ,[LICENSE_PLATE_VALUE] 
    ,[LICENSE_PLATE_VALUE_CONF]
    ,[LICENSE_PLATE_TYPE]
    ,[LICENSE_PLATE_TYPE_CONF] 
    ,[OCR_ENGINE_TYPE] 
    ,[LICENSE_PLATE_OVERALL_CONF] 
    ,[ROI_UPPER_LEFT_X] 
    ,[ROI_UPPER_LEFT_Y] 
    ,[ROI_LOWER_RIGHT_X]
    ,[ROI_LOWER_RIGHT_Y]
    ,[LICENSE_PLATE_STATUS] 
    ,[DAC_OCR_PLATE_STATE] 
    ,[DAC_OCR_PLATE_VALUE]  
    ,[DAC_OCR_ROI_X1] 
    ,[DAC_OCR_ROI_Y1] 
    ,[DAC_OCR_ROI_X2] 
    ,[DAC_OCR_ROI_Y2] 
    ,[CREATED_BY] 
    ,[DATE_CREATED] 
    ,[MODIFIED_BY] 
    ,[DATE_MODIFIED] 
    --,[ADDITIONAL_COMMENTS] 
    ,[IMAGE_LOCATION]
    ,[ROI_FILE_NAME] 
    ,[OCR_STATUS] 
    ,[FAILURE_REASON]
    ,[DAC_OCR_LIC_PLATE_OVERALL_CONF]
    ,[OCR_SERVER]
	, INSERT_DATETIME

FROM #TRANSACTION_IMAGES_CT_UPD_DuplicateLastRowToReInsert
*/
	UPDATE  TSA_OWNER.TRANSACTION_IMAGES
	SET 

	 --TSA_OWNER.TRANSACTION_IMAGES.[TRANSACTION_IMAGE_ID]                 =B.[TRANSACTION_IMAGE_ID]            
    TSA_OWNER.TRANSACTION_IMAGES.[TRANSACTION_FILE_DETAIL_ID] 			 =B.[TRANSACTION_FILE_DETAIL_ID] 		
    ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_FILE_NAME] 					 =B.[IMAGE_FILE_NAME] 				
    ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_LOCATION_TYPE] 				 =B.[IMAGE_LOCATION_TYPE] 			
    ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_FACING_CODE]					 =B.[IMAGE_FACING_CODE]				
    ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_SEQUENCE] 						 =B.[IMAGE_SEQUENCE] 					
    ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_STATE] 				 =B.[LICENSE_PLATE_STATE] 			
    ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_STATE_CONF] 			 =B.[LICENSE_PLATE_STATE_CONF] 		
    ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_COUNTRY]				 =B.[LICENSE_PLATE_COUNTRY]			
    ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_COUNTRY_CONF] 			 =B.[LICENSE_PLATE_COUNTRY_CONF] 		
    ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_VALUE] 				 =B.[LICENSE_PLATE_VALUE] 			
    ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_VALUE_CONF]			 =B.[LICENSE_PLATE_VALUE_CONF]		
    ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_TYPE]					 =B.[LICENSE_PLATE_TYPE]				
    ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_TYPE_CONF] 			 =B.[LICENSE_PLATE_TYPE_CONF] 		
    ,TSA_OWNER.TRANSACTION_IMAGES.[OCR_ENGINE_TYPE] 					 =B.[OCR_ENGINE_TYPE] 				
    ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_OVERALL_CONF] 			 =B.[LICENSE_PLATE_OVERALL_CONF] 		
    ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_UPPER_LEFT_X] 					 =B.[ROI_UPPER_LEFT_X] 				
    ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_UPPER_LEFT_Y] 					 =B.[ROI_UPPER_LEFT_Y] 				
    ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_LOWER_RIGHT_X]					 =B.[ROI_LOWER_RIGHT_X]				
    ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_LOWER_RIGHT_Y]					 =B.[ROI_LOWER_RIGHT_Y]				
    ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_STATUS] 				 =B.[LICENSE_PLATE_STATUS] 			
    ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_PLATE_STATE] 				 =B.[DAC_OCR_PLATE_STATE] 			
    ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_PLATE_VALUE]  				 =B.[DAC_OCR_PLATE_VALUE]  			
    ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_ROI_X1] 						 =B.[DAC_OCR_ROI_X1] 					
    ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_ROI_Y1] 						 =B.[DAC_OCR_ROI_Y1] 					
    ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_ROI_X2] 						 =B.[DAC_OCR_ROI_X2] 					
    ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_ROI_Y2] 						 =B.[DAC_OCR_ROI_Y2] 					
    ,TSA_OWNER.TRANSACTION_IMAGES.[CREATED_BY] 							 =B.[CREATED_BY] 						
    ,TSA_OWNER.TRANSACTION_IMAGES.[DATE_CREATED] 						 =B.[DATE_CREATED] 					
    ,TSA_OWNER.TRANSACTION_IMAGES.[MODIFIED_BY] 						 =B.[MODIFIED_BY] 					
    ,TSA_OWNER.TRANSACTION_IMAGES.[DATE_MODIFIED] 						 =B.[DATE_MODIFIED] 					
    --,TSA_OWNER.TRANSACTION_IMAGES.[ADDITIONAL_COMMENTS] 				 =B.[ADDITIONAL_COMMENTS] 			
    ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_LOCATION]						 =B.[IMAGE_LOCATION]					
    ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_FILE_NAME] 						 =B.[ROI_FILE_NAME] 					
    ,TSA_OWNER.TRANSACTION_IMAGES.[OCR_STATUS] 							 =B.[OCR_STATUS] 						
    ,TSA_OWNER.TRANSACTION_IMAGES.[FAILURE_REASON]						 =B.[FAILURE_REASON]					
    ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_LIC_PLATE_OVERALL_CONF]		 =B.[DAC_OCR_LIC_PLATE_OVERALL_CONF]	
    ,TSA_OWNER.TRANSACTION_IMAGES.[OCR_SERVER]  						 =B.[OCR_SERVER]  						
    ,TSA_OWNER.TRANSACTION_IMAGES.[LAST_UPDATE_TYPE] 						  ='U'				
    ,TSA_OWNER.TRANSACTION_IMAGES.[LAST_UPDATE_DATE] 						  =B.INSERT_DATETIME				
		
		
	FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD B
	WHERE TSA_OWNER.TRANSACTION_IMAGES.TRANSACTION_IMAGE_ID = B.TRANSACTION_IMAGE_ID

