CREATE PROC [TSA_OWNER].[DISPOSITION_FILE_DETAILS_INSERT] AS    
/*   Update Stats on CT_INS table to help with de-dupping and update steps   GetFields 'TSA_OWNER','DISPOSITION_FILE_DETAILS'   GetInsertFields2 'TSA_OWNER','DISPOSITION_FILE_DETAILS'  */    
	--EXEC DropStats 'TSA_OWNER','DISPOSITION_FILE_DETAILS_CT_INS'  
	--CREATE STATISTICS STATS_DISPOSITION_FILE_DETAILS_CT_INS_001 ON TSA_OWNER.DISPOSITION_FILE_DETAILS_CT_INS (DISPOSITION_FILE_DETAIL_ID)    
	 UPDATE STATISTICS TSA_OWNER.DISPOSITION_FILE_DETAILS_CT_INS

	INSERT INTO TSA_OWNER.DISPOSITION_FILE_DETAILS   (    DISPOSITION_FILE_DETAIL_ID, DISPOSITION_TYPE_CODE, DISPOSITION_FILE_HEADER_ID, SUBSCRIBER_UNIQUE_ID, DISPOSITION_COUNTER, SUBSCRIBER_ID, RECORD_TYPE, RESUBMITTAL_COUNTER, REVENUE_DATE, PAYMENT_DATE, RECONCILED_DATE, RECONCILED_BY, TRANSACTION_DATE, DISPOSITION_DATE, NTTA_DISPOSITION_ID, DISPOSITION_TOLL_TYPE, DISPOSITION_TOLL_AMT, BASE_TRANSACTION_FEE, VARIABLE_TRANSACTION_FEE, IOP_TRANSACTION_FEE, MISC_FEE1, MISC_FEE2, NET_PAYMENT_AMOUNT, DISPOSITION_CODE, DISPOSITION_REASON, DISPOSITION_TRANSPONDER_ID, DISPOSITION_VEHICLE_CLASS, DISPOSITION_LICENSE_STATE, DISPOSITION_LICENSE_PLATE, AVI_POSTED_DATE, AVI_FAILED_DATE, FARE_RULE_CODE, BASE_FEE_TYPE_ID, VARIABLE_FEE_TYPE_ID, IOP_FEE_TYPE_ID, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, TRANSACTION_FILE_DETAIL_ID, INITIAL_PAYMENT_DATE, INITIAL_PAYMENT_METHOD, SUBSCRIBER_LIST_ID, TXN_SOURCE, HOME_AUTHORITY, PREMIUM, INITIAL_PAYMENT_AMOUNT,     LAST_UPDATE_TYPE, LAST_UPDATE_DATE   )  
	SELECT      A.DISPOSITION_FILE_DETAIL_ID, A.DISPOSITION_TYPE_CODE, A.DISPOSITION_FILE_HEADER_ID, A.SUBSCRIBER_UNIQUE_ID, A.DISPOSITION_COUNTER, A.SUBSCRIBER_ID, A.RECORD_TYPE, A.RESUBMITTAL_COUNTER, A.REVENUE_DATE, A.PAYMENT_DATE, A.RECONCILED_DATE, A.RECONCILED_BY, A.TRANSACTION_DATE, A.DISPOSITION_DATE, A.NTTA_DISPOSITION_ID, A.DISPOSITION_TOLL_TYPE, A.DISPOSITION_TOLL_AMT, A.BASE_TRANSACTION_FEE, A.VARIABLE_TRANSACTION_FEE, A.IOP_TRANSACTION_FEE, A.MISC_FEE1, A.MISC_FEE2, A.NET_PAYMENT_AMOUNT, A.DISPOSITION_CODE, A.DISPOSITION_REASON, A.DISPOSITION_TRANSPONDER_ID, A.DISPOSITION_VEHICLE_CLASS, A.DISPOSITION_LICENSE_STATE, A.DISPOSITION_LICENSE_PLATE, A.AVI_POSTED_DATE, A.AVI_FAILED_DATE, A.FARE_RULE_CODE, A.BASE_FEE_TYPE_ID, A.VARIABLE_FEE_TYPE_ID, A.IOP_FEE_TYPE_ID, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.TRANSACTION_FILE_DETAIL_ID, A.INITIAL_PAYMENT_DATE, A.INITIAL_PAYMENT_METHOD, A.SUBSCRIBER_LIST_ID, A.TXN_SOURCE, A.HOME_AUTHORITY, A.PREMIUM, A.INITIAL_PAYMENT_AMOUNT,     'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME  
	FROM TSA_OWNER.DISPOSITION_FILE_DETAILS_CT_INS A  
	LEFT JOIN TSA_OWNER.DISPOSITION_FILE_DETAILS B ON A.DISPOSITION_FILE_DETAIL_ID = B.DISPOSITION_FILE_DETAIL_ID  
	WHERE B.DISPOSITION_FILE_DETAIL_ID IS NULL    

