CREATE PROC [TSA_OWNER].[DISPOSITION_FILE_DETAILS_Update_Stats] AS    
--EXEC DropStats 'TSA_OWNER','DISPOSITION_FILE_DETAILS'  
--CREATE STATISTICS STATS_DISPOSITION_FILE_DETAILS_001 ON TSA_OWNER.DISPOSITION_FILE_DETAILS (DISPOSITION_FILE_DETAIL_ID)  
--CREATE STATISTICS STATS_DISPOSITION_FILE_DETAILS_002 ON TSA_OWNER.DISPOSITION_FILE_DETAILS (DISPOSITION_FILE_DETAIL_ID, LAST_UPDATE_DATE)  
--CREATE STATISTICS STATS_DISPOSITION_FILE_DETAILS_003 ON TSA_OWNER.DISPOSITION_FILE_DETAILS (LAST_UPDATE_DATE)
	 UPDATE STATISTICS TSA_OWNER.DISPOSITION_FILE_DETAILS

