CREATE PROC [TSA_OWNER].[TRANSACTION_IMAGES_Update_Stats] AS    
--EXEC DropStats 'TSA_OWNER','TRANSACTION_IMAGES'  
--CREATE STATISTICS STATS_TRANSACTION_IMAGES_001 ON TSA_OWNER.TRANSACTION_IMAGES (TRANSACTION_IMAGE_ID)  
--CREATE STATISTICS STATS_TRANSACTION_IMAGES_002 ON TSA_OWNER.TRANSACTION_IMAGES (TRANSACTION_IMAGE_ID, LAST_UPDATE_DATE)  
--CREATE STATISTICS STATS_TRANSACTION_IMAGES_003 ON TSA_OWNER.TRANSACTION_IMAGES (LAST_UPDATE_DATE)
	 UPDATE STATISTICS TSA_OWNER.TRANSACTION_IMAGES

