CREATE PROC [TSA_OWNER].[TRANSACTION_IMAGES_DELETE] AS


EXEC DropStats 'TSA_OWNER','TRANSACTION_IMAGES_CT_DEL'
CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_DEL_001 ON TSA_OWNER.TRANSACTION_IMAGES_CT_DEL (TRANSACTION_IMAGE_ID)
CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_DEL_002 ON TSA_OWNER.TRANSACTION_IMAGES_CT_DEL (TRANSACTION_IMAGE_ID, INSERT_DATETIME)



UPDATE TSA_OWNER.TRANSACTION_IMAGES
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM TSA_OWNER.TRANSACTION_IMAGES_CT_DEL B
WHERE TSA_OWNER.TRANSACTION_IMAGES.TRANSACTION_IMAGE_ID = B.TRANSACTION_IMAGE_ID


