CREATE PROC [TSA_OWNER].[TRANSACTION_FILE_DETAILS_Update_Stats] AS

EXEC DropStats 'TSA_OWNER','TRANSACTION_FILE_DETAILS'
CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_001 ON TSA_OWNER.TRANSACTION_FILE_DETAILS (TRANSACTION_FILE_DETAIL_ID)
CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_002 ON TSA_OWNER.TRANSACTION_FILE_DETAILS (TRANSACTION_FILE_DETAIL_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_003 ON TSA_OWNER.TRANSACTION_FILE_DETAILS (LAST_UPDATE_DATE)
