CREATE PROC [TSA_OWNER].[TRANSACTION_FILE_DETAILS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'TSA_OWNER','TRANSACTION_FILE_DETAILS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TSA_OWNER','TRANSACTION_FILE_DETAILS_CT_UPD'
CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_CT_UPD_001 ON TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD (TRANSACTION_FILE_DETAIL_ID)
CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_CT_UPD_002 ON TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD (TRANSACTION_FILE_DETAIL_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#TRANSACTION_FILE_DETAILS_CT_UPD_Dups')<>0
	DROP TABLE #TRANSACTION_FILE_DETAILS_CT_UPD_Dups

CREATE TABLE #TRANSACTION_FILE_DETAILS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_FILE_DETAIL_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.TRANSACTION_FILE_DETAIL_ID, A.INSERT_DATETIME
	FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD A
	INNER JOIN 
		(
			SELECT TRANSACTION_FILE_DETAIL_ID
			FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD
			GROUP BY TRANSACTION_FILE_DETAIL_ID
			HAVING COUNT(*)>1
		) Dups ON A.TRANSACTION_FILE_DETAIL_ID = Dups.TRANSACTION_FILE_DETAIL_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#TRANSACTION_FILE_DETAILS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #TRANSACTION_FILE_DETAILS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #TRANSACTION_FILE_DETAILS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_FILE_DETAIL_ID), LOCATION = USER_DB)
AS
	SELECT  
	     A.[TRANSACTION_FILE_DETAIL_ID]
    ,A.[SUBS_TRANS_TYPE_CODE] 
    ,A.[TRANSACTION_FILE_HEADER_ID] 
    ,A.[TRANSACTION_SEQUENCE] 
    ,A.[RECORD_TYPE]
    ,A.[SUBSCRIBER_UNIQUE_ID] 
    ,A.[REVENUE_DATE] 
    ,A.[RECEIVED_DATE]
    ,A.[RESUBMITTAL_REASON] 
    ,A.[RESUBMITTAL_COUNT] 
    ,A.[TRANSACTION_STATUS] 
    ,A.[AUTHORITY_ID] 
    ,A.[LOCATION_TYPE]
    ,A.[FACILITY] 
    ,A.[SUBSCRIBER_ID]
    ,A.[ENTRY_PLAZA]
    ,A.[ENTRY_LANE] 
    ,A.[ENTRY_LANE_MODE] 
    ,A.[ENTRY_TRANSACTION_DATE] 
    ,A.[ENTRY_TRANSACTION_TIME] 
    ,A.[ENTRY_TRANSPONDER_ID] 
    ,A.[ENTRY_TRANSPONDER_STATUS] 
    ,A.[ENTRY_TVL_FILE_NAME] 
    ,A.[ENTRY_LVL_FILE_NAME] 
    ,A.[ENTRY_VEHICLE_CLASS] 
    ,A.[ENTRY_AXLES_EXPECTED]
    ,A.[ENTRY_AXLES_COUNTED] 
    ,A.[ENTRY_SPEED] 
    ,A.[ENTRY_HOV_DESIGNATION] 
    ,A.[EXIT_PLAZA]
    ,A.[EXIT_LANE] 
    ,A.[EXIT_LANE_MODE]
    ,A.[EXIT_TRANSACTION_DATE] 
    ,A.[EXIT_TRANSACTION_TIME] 
    ,A.[EXIT_TRANSPONDER_ID] 
    ,A.[EXIT_TRANSPONDER_STATUS] 
    ,A.[EXIT_TVL_FILE_NAME] 
    ,A.[EXIT_LVL_FILE_NAME] 
    ,A.[EXIT_VEHICLE_CLASS] 
    ,A.[EXIT_AXLES_EXPECTED]
    ,A.[EXIT_AXLES_COUNTED] 
    ,A.[EXIT_SPEED] 
    ,A.[EXIT_HOV_DESIGNATION] 
    ,A.[COLLECTOR_ID]
    ,A.[VAULT_ID] 
    ,A.[TOLL_DETERMINATION_CLASS] 
    ,A.[TRANSPONDER_TOLL_AMT] 
    ,A.[TRANSPONDER_DISCOUNT_TYPE] 
    ,A.[DISC_TRANSPONDER_TOLL_AMT] 
    ,A.[VIDEO_TOLL_AMT_WO_PREM] 
    ,A.[VIDEO_TOLL_AMT_W_PREM] 
    ,A.[VIDEO_DISCOUNT_TYPE] 
    ,A.[DISC_VIDEO_TOLL_AMT_WO_PREM]
    ,A.[DISC_VIDEO_TOLL_AMT_W_PREM] 
    ,A.[CASH_TOLL_AMOUNT] 
    ,A.[CASH_DISCOUNT_TYPE] 
    ,A.[DISC_CASH_TOLL_AMOUNT] 
    ,A.[UNUSUAL_OCCURRENCE_CODE]
    ,A.[NUMBER_OF_IMAGES] 
    ,A.[AMOUNT_PAID] 
    ,A.[IMAGE_REQUEST_SEND_DATE] 
    ,A.[IMAGE_RESPONSE_RECEIVED_DATE]
    ,A.[IMAGE_REQUEST_STATUS_CODE] 
    ,A.[CREATED_BY] 
    ,A.[DATE_CREATED] 
    ,A.[MODIFIED_BY] 
    ,A.[DATE_MODIFIED]
--    ,A.[ADDITIONAL_COMMENTS] 
    ,A.[SUBSCRIBER_LIST_ID] 
    ,A.[PROCESSED_YN] 
    ,A.[LOCKED_TIMESTAMP] 
    ,A.[EXIT_TAG_ID] 
	,A.INSERT_DATETIME
	

	FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD A
	INNER JOIN 
		(
			SELECT TRANSACTION_FILE_DETAIL_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #TRANSACTION_FILE_DETAILS_CT_UPD_Dups
			GROUP BY TRANSACTION_FILE_DETAIL_ID
		) LastRcrd ON A.TRANSACTION_FILE_DETAIL_ID = LastRcrd.TRANSACTION_FILE_DETAIL_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD 
WHERE EXISTS(SELECT * FROM #TRANSACTION_FILE_DETAILS_CT_UPD_Dups B WHERE TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD 
	(  [TRANSACTION_FILE_DETAIL_ID]
    ,[SUBS_TRANS_TYPE_CODE] 
    ,[TRANSACTION_FILE_HEADER_ID] 
    ,[TRANSACTION_SEQUENCE] 
    ,[RECORD_TYPE]
    ,[SUBSCRIBER_UNIQUE_ID] 
    ,[REVENUE_DATE] 
    ,[RECEIVED_DATE]
    ,[RESUBMITTAL_REASON] 
    ,[RESUBMITTAL_COUNT] 
    ,[TRANSACTION_STATUS] 
    ,[AUTHORITY_ID] 
    ,[LOCATION_TYPE]
    ,[FACILITY] 
    ,[SUBSCRIBER_ID]
    ,[ENTRY_PLAZA]
    ,[ENTRY_LANE] 
    ,[ENTRY_LANE_MODE] 
    ,[ENTRY_TRANSACTION_DATE] 
    ,[ENTRY_TRANSACTION_TIME] 
    ,[ENTRY_TRANSPONDER_ID] 
    ,[ENTRY_TRANSPONDER_STATUS] 
    ,[ENTRY_TVL_FILE_NAME] 
    ,[ENTRY_LVL_FILE_NAME] 
    ,[ENTRY_VEHICLE_CLASS] 
    ,[ENTRY_AXLES_EXPECTED]
    ,[ENTRY_AXLES_COUNTED] 
    ,[ENTRY_SPEED] 
    ,[ENTRY_HOV_DESIGNATION] 
    ,[EXIT_PLAZA]
    ,[EXIT_LANE] 
    ,[EXIT_LANE_MODE]
    ,[EXIT_TRANSACTION_DATE] 
    ,[EXIT_TRANSACTION_TIME] 
    ,[EXIT_TRANSPONDER_ID] 
    ,[EXIT_TRANSPONDER_STATUS] 
    ,[EXIT_TVL_FILE_NAME] 
    ,[EXIT_LVL_FILE_NAME] 
    ,[EXIT_VEHICLE_CLASS] 
    ,[EXIT_AXLES_EXPECTED]
    ,[EXIT_AXLES_COUNTED] 
    ,[EXIT_SPEED] 
    ,[EXIT_HOV_DESIGNATION] 
    ,[COLLECTOR_ID]
    ,[VAULT_ID] 
    ,[TOLL_DETERMINATION_CLASS] 
    ,[TRANSPONDER_TOLL_AMT] 
    ,[TRANSPONDER_DISCOUNT_TYPE] 
    ,[DISC_TRANSPONDER_TOLL_AMT] 
    ,[VIDEO_TOLL_AMT_WO_PREM] 
    ,[VIDEO_TOLL_AMT_W_PREM] 
    ,[VIDEO_DISCOUNT_TYPE] 
    ,[DISC_VIDEO_TOLL_AMT_WO_PREM]
    ,[DISC_VIDEO_TOLL_AMT_W_PREM] 
    ,[CASH_TOLL_AMOUNT] 
    ,[CASH_DISCOUNT_TYPE] 
    ,[DISC_CASH_TOLL_AMOUNT] 
    ,[UNUSUAL_OCCURRENCE_CODE]
    ,[NUMBER_OF_IMAGES] 
    ,[AMOUNT_PAID] 
    ,[IMAGE_REQUEST_SEND_DATE] 
    ,[IMAGE_RESPONSE_RECEIVED_DATE]
    ,[IMAGE_REQUEST_STATUS_CODE] 
    ,[CREATED_BY] 
    ,[DATE_CREATED] 
    ,[MODIFIED_BY] 
    ,[DATE_MODIFIED]
--    ,[ADDITIONAL_COMMENTS] 
    ,[SUBSCRIBER_LIST_ID] 
    ,[PROCESSED_YN] 
    ,[LOCKED_TIMESTAMP] 
    ,[EXIT_TAG_ID] 
	, INSERT_DATETIME)
SELECT 
 [TRANSACTION_FILE_DETAIL_ID]
    ,[SUBS_TRANS_TYPE_CODE] 
    ,[TRANSACTION_FILE_HEADER_ID] 
    ,[TRANSACTION_SEQUENCE] 
    ,[RECORD_TYPE]
    ,[SUBSCRIBER_UNIQUE_ID] 
    ,[REVENUE_DATE] 
    ,[RECEIVED_DATE]
    ,[RESUBMITTAL_REASON] 
    ,[RESUBMITTAL_COUNT] 
    ,[TRANSACTION_STATUS] 
    ,[AUTHORITY_ID] 
    ,[LOCATION_TYPE]
    ,[FACILITY] 
    ,[SUBSCRIBER_ID]
    ,[ENTRY_PLAZA]
    ,[ENTRY_LANE] 
    ,[ENTRY_LANE_MODE] 
    ,[ENTRY_TRANSACTION_DATE] 
    ,[ENTRY_TRANSACTION_TIME] 
    ,[ENTRY_TRANSPONDER_ID] 
    ,[ENTRY_TRANSPONDER_STATUS] 
    ,[ENTRY_TVL_FILE_NAME] 
    ,[ENTRY_LVL_FILE_NAME] 
    ,[ENTRY_VEHICLE_CLASS] 
    ,[ENTRY_AXLES_EXPECTED]
    ,[ENTRY_AXLES_COUNTED] 
    ,[ENTRY_SPEED] 
    ,[ENTRY_HOV_DESIGNATION] 
    ,[EXIT_PLAZA]
    ,[EXIT_LANE] 
    ,[EXIT_LANE_MODE]
    ,[EXIT_TRANSACTION_DATE] 
    ,[EXIT_TRANSACTION_TIME] 
    ,[EXIT_TRANSPONDER_ID] 
    ,[EXIT_TRANSPONDER_STATUS] 
    ,[EXIT_TVL_FILE_NAME] 
    ,[EXIT_LVL_FILE_NAME] 
    ,[EXIT_VEHICLE_CLASS] 
    ,[EXIT_AXLES_EXPECTED]
    ,[EXIT_AXLES_COUNTED] 
    ,[EXIT_SPEED] 
    ,[EXIT_HOV_DESIGNATION] 
    ,[COLLECTOR_ID]
    ,[VAULT_ID] 
    ,[TOLL_DETERMINATION_CLASS] 
    ,[TRANSPONDER_TOLL_AMT] 
    ,[TRANSPONDER_DISCOUNT_TYPE] 
    ,[DISC_TRANSPONDER_TOLL_AMT] 
    ,[VIDEO_TOLL_AMT_WO_PREM] 
    ,[VIDEO_TOLL_AMT_W_PREM] 
    ,[VIDEO_DISCOUNT_TYPE] 
    ,[DISC_VIDEO_TOLL_AMT_WO_PREM]
    ,[DISC_VIDEO_TOLL_AMT_W_PREM] 
    ,[CASH_TOLL_AMOUNT] 
    ,[CASH_DISCOUNT_TYPE] 
    ,[DISC_CASH_TOLL_AMOUNT] 
    ,[UNUSUAL_OCCURRENCE_CODE]
    ,[NUMBER_OF_IMAGES] 
    ,[AMOUNT_PAID] 
    ,[IMAGE_REQUEST_SEND_DATE] 
    ,[IMAGE_RESPONSE_RECEIVED_DATE]
    ,[IMAGE_REQUEST_STATUS_CODE] 
    ,[CREATED_BY] 
    ,[DATE_CREATED] 
    ,[MODIFIED_BY] 
    ,[DATE_MODIFIED]
--    ,[ADDITIONAL_COMMENTS] 
    ,[SUBSCRIBER_LIST_ID] 
    ,[PROCESSED_YN] 
    ,[LOCKED_TIMESTAMP] 
    ,[EXIT_TAG_ID] 
	, INSERT_DATETIME

FROM #TRANSACTION_FILE_DETAILS_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  TSA_OWNER.TRANSACTION_FILE_DETAILS
	SET 

	--TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSACTION_FILE_DETAIL_ID]               =B.[TRANSACTION_FILE_DETAIL_ID]     
    TSA_OWNER.TRANSACTION_FILE_DETAILS.[SUBS_TRANS_TYPE_CODE] 					  =B.[SUBS_TRANS_TYPE_CODE] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSACTION_FILE_HEADER_ID] 			  =B.[TRANSACTION_FILE_HEADER_ID] 	
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSACTION_SEQUENCE] 					  =B.[TRANSACTION_SEQUENCE] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[RECORD_TYPE]							  =B.[RECORD_TYPE]					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[SUBSCRIBER_UNIQUE_ID] 					  =B.[SUBSCRIBER_UNIQUE_ID] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[REVENUE_DATE] 							  =B.[REVENUE_DATE] 					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[RECEIVED_DATE]							  =B.[RECEIVED_DATE]					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[RESUBMITTAL_REASON] 					  =B.[RESUBMITTAL_REASON] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[RESUBMITTAL_COUNT] 					  =B.[RESUBMITTAL_COUNT] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSACTION_STATUS] 					  =B.[TRANSACTION_STATUS] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[AUTHORITY_ID] 							  =B.[AUTHORITY_ID] 					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[LOCATION_TYPE]							  =B.[LOCATION_TYPE]					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[FACILITY] 								  =B.[FACILITY] 						
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[SUBSCRIBER_ID]							  =B.[SUBSCRIBER_ID]					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_PLAZA]							  =B.[ENTRY_PLAZA]					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_LANE] 							  =B.[ENTRY_LANE] 					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_LANE_MODE] 						  =B.[ENTRY_LANE_MODE] 				
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TRANSACTION_DATE] 				  =B.[ENTRY_TRANSACTION_DATE] 		
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TRANSACTION_TIME] 				  =B.[ENTRY_TRANSACTION_TIME] 		
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TRANSPONDER_ID] 					  =B.[ENTRY_TRANSPONDER_ID] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TRANSPONDER_STATUS] 				  =B.[ENTRY_TRANSPONDER_STATUS] 		
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TVL_FILE_NAME] 					  =B.[ENTRY_TVL_FILE_NAME] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_LVL_FILE_NAME] 					  =B.[ENTRY_LVL_FILE_NAME] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_VEHICLE_CLASS] 					  =B.[ENTRY_VEHICLE_CLASS] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_AXLES_EXPECTED]					  =B.[ENTRY_AXLES_EXPECTED]			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_AXLES_COUNTED] 					  =B.[ENTRY_AXLES_COUNTED] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_SPEED] 							  =B.[ENTRY_SPEED] 					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_HOV_DESIGNATION] 				  =B.[ENTRY_HOV_DESIGNATION] 		
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_PLAZA]							  =B.[EXIT_PLAZA]					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_LANE] 							  =B.[EXIT_LANE] 					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_LANE_MODE]						  =B.[EXIT_LANE_MODE]				
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TRANSACTION_DATE] 				  =B.[EXIT_TRANSACTION_DATE] 		
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TRANSACTION_TIME] 				  =B.[EXIT_TRANSACTION_TIME] 		
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TRANSPONDER_ID] 					  =B.[EXIT_TRANSPONDER_ID] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TRANSPONDER_STATUS] 				  =B.[EXIT_TRANSPONDER_STATUS] 		
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TVL_FILE_NAME] 					  =B.[EXIT_TVL_FILE_NAME] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_LVL_FILE_NAME] 					  =B.[EXIT_LVL_FILE_NAME] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_VEHICLE_CLASS] 					  =B.[EXIT_VEHICLE_CLASS] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_AXLES_EXPECTED]					  =B.[EXIT_AXLES_EXPECTED]			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_AXLES_COUNTED] 					  =B.[EXIT_AXLES_COUNTED] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_SPEED] 							  =B.[EXIT_SPEED] 					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_HOV_DESIGNATION] 					  =B.[EXIT_HOV_DESIGNATION] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[COLLECTOR_ID]							  =B.[COLLECTOR_ID]					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[VAULT_ID] 								  =B.[VAULT_ID] 						
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TOLL_DETERMINATION_CLASS] 				  =B.[TOLL_DETERMINATION_CLASS] 		
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSPONDER_TOLL_AMT] 					  =B.[TRANSPONDER_TOLL_AMT] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSPONDER_DISCOUNT_TYPE] 			  =B.[TRANSPONDER_DISCOUNT_TYPE] 	
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DISC_TRANSPONDER_TOLL_AMT] 			  =B.[DISC_TRANSPONDER_TOLL_AMT] 	
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[VIDEO_TOLL_AMT_WO_PREM] 				  =B.[VIDEO_TOLL_AMT_WO_PREM] 		
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[VIDEO_TOLL_AMT_W_PREM] 				  =B.[VIDEO_TOLL_AMT_W_PREM] 		
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[VIDEO_DISCOUNT_TYPE] 					  =B.[VIDEO_DISCOUNT_TYPE] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DISC_VIDEO_TOLL_AMT_WO_PREM]			  =B.[DISC_VIDEO_TOLL_AMT_WO_PREM]	
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DISC_VIDEO_TOLL_AMT_W_PREM] 			  =B.[DISC_VIDEO_TOLL_AMT_W_PREM] 	
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[CASH_TOLL_AMOUNT] 						  =B.[CASH_TOLL_AMOUNT] 				
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[CASH_DISCOUNT_TYPE] 					  =B.[CASH_DISCOUNT_TYPE] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DISC_CASH_TOLL_AMOUNT] 				  =B.[DISC_CASH_TOLL_AMOUNT] 		
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[UNUSUAL_OCCURRENCE_CODE]				  =B.[UNUSUAL_OCCURRENCE_CODE]		
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[NUMBER_OF_IMAGES] 						  =B.[NUMBER_OF_IMAGES] 				
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[AMOUNT_PAID] 							  =B.[AMOUNT_PAID] 					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[IMAGE_REQUEST_SEND_DATE] 				  =B.[IMAGE_REQUEST_SEND_DATE] 		
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[IMAGE_RESPONSE_RECEIVED_DATE]			  =B.[IMAGE_RESPONSE_RECEIVED_DATE]	
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[IMAGE_REQUEST_STATUS_CODE] 			  =B.[IMAGE_REQUEST_STATUS_CODE] 	
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[CREATED_BY] 							  =B.[CREATED_BY] 					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DATE_CREATED] 							  =B.[DATE_CREATED] 					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[MODIFIED_BY] 							  =B.[MODIFIED_BY] 					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DATE_MODIFIED]							  =B.[DATE_MODIFIED]					
--    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ADDITIONAL_COMMENTS] 					  =B.[ADDITIONAL_COMMENTS] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[SUBSCRIBER_LIST_ID] 					  =B.[SUBSCRIBER_LIST_ID] 			
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[PROCESSED_YN] 							  =B.[PROCESSED_YN] 					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[LOCKED_TIMESTAMP] 						  =B.[LOCKED_TIMESTAMP] 					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TAG_ID] 							  =B.[EXIT_TAG_ID] 					
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[LAST_UPDATE_TYPE] 						  ='U'				
    ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[LAST_UPDATE_DATE] 						  =B.INSERT_DATETIME				
		
		
	FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD B
	WHERE TSA_OWNER.TRANSACTION_FILE_DETAILS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID

