CREATE PROC [TXNOWNER].[AVI_TRANSACTIONS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'TXNOWNER','AVI_TRANSACTIONS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TXNOWNER','AVI_TRANSACTIONS_CT_UPD'
CREATE STATISTICS STATS_AVI_TRANSACTIONS_CT_UPD_001 ON TXNOWNER.AVI_TRANSACTIONS_CT_UPD (TRANSACTION_ID)
CREATE STATISTICS STATS_AVI_TRANSACTIONS_CT_UPD_002 ON TXNOWNER.AVI_TRANSACTIONS_CT_UPD (TRANSACTION_ID, SOURCE_CODE)
CREATE STATISTICS STATS_AVI_TRANSACTIONS_CT_UPD_003 ON TXNOWNER.AVI_TRANSACTIONS_CT_UPD (TRANSACTION_ID, SOURCE_CODE, INSERT_DATETIME)
CREATE STATISTICS STATS_AVI_TRANSACTIONS_CT_UPD_004 ON TXNOWNER.AVI_TRANSACTIONS_CT_UPD (INSERT_DATETIME)


	UPDATE  TXNOWNER.AVI_TRANSACTIONS
       SET 
    
			--TXNOWNER.AVI_TRANSACTIONS.TRANSACTION_ID = B.TRANSACTION_ID
               TXNOWNER.AVI_TRANSACTIONS.TRANSACTION_DATE = B.TRANSACTION_DATE
              , TXNOWNER.AVI_TRANSACTIONS.AGENCY_CODE = B.AGENCY_CODE
              , TXNOWNER.AVI_TRANSACTIONS.TAG_ID = B.TAG_ID
              , TXNOWNER.AVI_TRANSACTIONS.FACILITY_ID = B.FACILITY_ID
              , TXNOWNER.AVI_TRANSACTIONS.PLAZA_ID = B.PLAZA_ID
              , TXNOWNER.AVI_TRANSACTIONS.LANE_ID = B.LANE_ID
              , TXNOWNER.AVI_TRANSACTIONS.DISPOSITION = B.DISPOSITION
              , TXNOWNER.AVI_TRANSACTIONS.REASON_CODE = B.REASON_CODE
              , TXNOWNER.AVI_TRANSACTIONS.EARNED_CLASS = B.EARNED_CLASS
              , TXNOWNER.AVI_TRANSACTIONS.EARNED_REVENUE = B.EARNED_REVENUE
              , TXNOWNER.AVI_TRANSACTIONS.POSTED_CLASS = B.POSTED_CLASS
              , TXNOWNER.AVI_TRANSACTIONS.POSTED_REVENUE = B.POSTED_REVENUE
              , TXNOWNER.AVI_TRANSACTIONS.POSTED_DATE_TIME = B.POSTED_DATE_TIME
              , TXNOWNER.AVI_TRANSACTIONS.SOURCE_CODE = B.SOURCE_CODE
              , TXNOWNER.AVI_TRANSACTIONS.TXID_ID = B.TXID_ID
              , TXNOWNER.AVI_TRANSACTIONS.CREATION_DATE = B.CREATION_DATE
              , TXNOWNER.AVI_TRANSACTIONS.ACCT_ID = B.ACCT_ID
              , TXNOWNER.AVI_TRANSACTIONS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID
              , TXNOWNER.AVI_TRANSACTIONS.LAST_UPDATE_TYPE = 'U'
              , TXNOWNER.AVI_TRANSACTIONS.LAST_UPDATE_DATE = B.INSERT_DATETIME
       FROM 
		TXNOWNER.AVI_TRANSACTIONS_CT_UPD B
       WHERE 
		TXNOWNER.AVI_TRANSACTIONS.TRANSACTION_ID = B.TRANSACTION_ID_FOR_UPDATE AND 
		TXNOWNER.AVI_TRANSACTIONS.SOURCE_CODE = B.SOURCE_CODE_FOR_UPDATE
