CREATE PROC [TXNOWNER].[AVI_TRANSACTIONS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'TXNOWNER','AVI_TRANSACTIONS'
	GetInsertFields2 'TXNOWNER','AVI_TRANSACTIONS'
*/

EXEC DropStats 'TXNOWNER','AVI_TRANSACTIONS_CT_INS'
CREATE STATISTICS STATS_AVI_TRANSACTIONS_CT_INS_001 ON TXNOWNER.AVI_TRANSACTIONS_CT_INS (TRANSACTION_ID)
CREATE STATISTICS STATS_AVI_TRANSACTIONS_CT_INS_002 ON TXNOWNER.AVI_TRANSACTIONS_CT_INS (TRANSACTION_ID, SOURCE_CODE)

INSERT INTO TXNOWNER.AVI_TRANSACTIONS
	(
		 TRANSACTION_ID, TRANSACTION_DATE, AGENCY_CODE, TAG_ID, FACILITY_ID, PLAZA_ID, LANE_ID, DISPOSITION, REASON_CODE, EARNED_CLASS, EARNED_REVENUE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE_TIME, SOURCE_CODE, TXID_ID, CREATION_DATE, ACCT_ID, TRANSACTION_FILE_DETAIL_ID, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.TRANSACTION_ID, A.TRANSACTION_DATE, A.AGENCY_CODE, A.TAG_ID, A.FACILITY_ID, A.PLAZA_ID, A.LANE_ID, A.DISPOSITION, A.REASON_CODE, A.EARNED_CLASS, A.EARNED_REVENUE, A.POSTED_CLASS, A.POSTED_REVENUE, A.POSTED_DATE_TIME, A.SOURCE_CODE, A.TXID_ID, A.CREATION_DATE, A.ACCT_ID, A.TRANSACTION_FILE_DETAIL_ID, 
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM TXNOWNER.AVI_TRANSACTIONS_CT_INS A
LEFT JOIN TXNOWNER.AVI_TRANSACTIONS B ON A.TRANSACTION_ID = B.TRANSACTION_ID AND A.SOURCE_CODE = B.SOURCE_CODE
WHERE B.TRANSACTION_ID IS NULL AND B.SOURCE_CODE IS NULL


