CREATE PROC [TXNOWNER].[AU_TXN_ADJ_DETAILS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'TXNOWNER','AU_TXN_ADJ_DETAILS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TXNOWNER','AU_TXN_ADJ_DETAILS_CT_UPD'
CREATE STATISTICS STATS_AU_TXN_ADJ_DETAILS_CT_UPD_001 ON TXNOWNER.AU_TXN_ADJ_DETAILS_CT_UPD (ATD_ID)
CREATE STATISTICS STATS_AU_TXN_ADJ_DETAILS_CT_UPD_002 ON TXNOWNER.AU_TXN_ADJ_DETAILS_CT_UPD (ATD_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#AU_TXN_ADJ_DETAILS_CT_UPD_Dups')<>0
	DROP TABLE #AU_TXN_ADJ_DETAILS_CT_UPD_Dups

CREATE TABLE #AU_TXN_ADJ_DETAILS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ATD_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.ATD_ID, A.INSERT_DATETIME
	FROM TXNOWNER.AU_TXN_ADJ_DETAILS_CT_UPD A
	INNER JOIN 
		(
			SELECT ATD_ID
			FROM TXNOWNER.AU_TXN_ADJ_DETAILS_CT_UPD
			GROUP BY ATD_ID
			HAVING COUNT(*)>1
		) Dups ON A.ATD_ID = Dups.ATD_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#AU_TXN_ADJ_DETAILS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #AU_TXN_ADJ_DETAILS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #AU_TXN_ADJ_DETAILS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ATD_ID), LOCATION = USER_DB)
AS
	SELECT  A.ATD_ID, A.OPNM_OPNM_ID, A.PMTY_PMTY_ID, A.VCLY_VCLY_ID, A.LANE_LANE_ID, A.ATA_ATA_ID, A.TART_TART_ID, A.DUMMY_TART_ID, A.DATE_TIME, A.EAR_REV, A.EXP_REV, A.SIGN_FLG, A.LATEST, A.CREATED_BY, A.CREATION_DATE, A.UPDATED_BY, A.UPDATED_DATE, A.REV_AXLE_CT, A.ATT_CLASS, A.FWD_AXLE_CT, A.EXIT_LOOP_CTS, A.ATT_FARE, A.PRE_CLASS, A.MISCLASS_CT, A.INSERT_DATETIME
	FROM TXNOWNER.AU_TXN_ADJ_DETAILS_CT_UPD A
	INNER JOIN 
		(
			SELECT ATD_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #AU_TXN_ADJ_DETAILS_CT_UPD_Dups
			GROUP BY ATD_ID
		) LastRcrd ON A.ATD_ID = LastRcrd.ATD_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM TXNOWNER.AU_TXN_ADJ_DETAILS_CT_UPD 
WHERE EXISTS(SELECT * FROM #AU_TXN_ADJ_DETAILS_CT_UPD_Dups B WHERE TXNOWNER.AU_TXN_ADJ_DETAILS_CT_UPD.ATD_ID = B.ATD_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO TXNOWNER.AU_TXN_ADJ_DETAILS_CT_UPD 
	( ATD_ID, OPNM_OPNM_ID, PMTY_PMTY_ID, VCLY_VCLY_ID, LANE_LANE_ID, ATA_ATA_ID, TART_TART_ID, DUMMY_TART_ID, DATE_TIME, EAR_REV, EXP_REV, SIGN_FLG, LATEST, CREATED_BY, CREATION_DATE, UPDATED_BY, UPDATED_DATE, REV_AXLE_CT, ATT_CLASS, FWD_AXLE_CT, EXIT_LOOP_CTS, ATT_FARE, PRE_CLASS, MISCLASS_CT, INSERT_DATETIME)
SELECT ATD_ID, OPNM_OPNM_ID, PMTY_PMTY_ID, VCLY_VCLY_ID, LANE_LANE_ID, ATA_ATA_ID, TART_TART_ID, DUMMY_TART_ID, DATE_TIME, EAR_REV, EXP_REV, SIGN_FLG, LATEST, CREATED_BY, CREATION_DATE, UPDATED_BY, UPDATED_DATE, REV_AXLE_CT, ATT_CLASS, FWD_AXLE_CT, EXIT_LOOP_CTS, ATT_FARE, PRE_CLASS, MISCLASS_CT, INSERT_DATETIME
FROM #AU_TXN_ADJ_DETAILS_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  TXNOWNER.AU_TXN_ADJ_DETAILS
	SET 
    
		--TXNOWNER.AU_TXN_ADJ_DETAILS.ATD_ID = B.ATD_ID
		TXNOWNER.AU_TXN_ADJ_DETAILS.OPNM_OPNM_ID = B.OPNM_OPNM_ID
		, TXNOWNER.AU_TXN_ADJ_DETAILS.PMTY_PMTY_ID = B.PMTY_PMTY_ID
		, TXNOWNER.AU_TXN_ADJ_DETAILS.VCLY_VCLY_ID = B.VCLY_VCLY_ID
		, TXNOWNER.AU_TXN_ADJ_DETAILS.LANE_LANE_ID = B.LANE_LANE_ID
		, TXNOWNER.AU_TXN_ADJ_DETAILS.ATA_ATA_ID = B.ATA_ATA_ID
		--, TXNOWNER.AU_TXN_ADJ_DETAILS.TART_TART_ID = B.TART_TART_ID
		, TXNOWNER.AU_TXN_ADJ_DETAILS.DUMMY_TART_ID = B.DUMMY_TART_ID
		, TXNOWNER.AU_TXN_ADJ_DETAILS.DATE_TIME = B.DATE_TIME
		, TXNOWNER.AU_TXN_ADJ_DETAILS.EAR_REV = B.EAR_REV
		, TXNOWNER.AU_TXN_ADJ_DETAILS.EXP_REV = B.EXP_REV
		, TXNOWNER.AU_TXN_ADJ_DETAILS.SIGN_FLG = B.SIGN_FLG
		, TXNOWNER.AU_TXN_ADJ_DETAILS.LATEST = B.LATEST
		, TXNOWNER.AU_TXN_ADJ_DETAILS.CREATED_BY = B.CREATED_BY
		, TXNOWNER.AU_TXN_ADJ_DETAILS.CREATION_DATE = B.CREATION_DATE
		, TXNOWNER.AU_TXN_ADJ_DETAILS.UPDATED_BY = B.UPDATED_BY
		, TXNOWNER.AU_TXN_ADJ_DETAILS.UPDATED_DATE = B.UPDATED_DATE
		, TXNOWNER.AU_TXN_ADJ_DETAILS.REV_AXLE_CT = B.REV_AXLE_CT
		, TXNOWNER.AU_TXN_ADJ_DETAILS.ATT_CLASS = B.ATT_CLASS
		, TXNOWNER.AU_TXN_ADJ_DETAILS.FWD_AXLE_CT = B.FWD_AXLE_CT
		, TXNOWNER.AU_TXN_ADJ_DETAILS.EXIT_LOOP_CTS = B.EXIT_LOOP_CTS
		, TXNOWNER.AU_TXN_ADJ_DETAILS.ATT_FARE = B.ATT_FARE
		, TXNOWNER.AU_TXN_ADJ_DETAILS.PRE_CLASS = B.PRE_CLASS
		, TXNOWNER.AU_TXN_ADJ_DETAILS.MISCLASS_CT = B.MISCLASS_CT
		, TXNOWNER.AU_TXN_ADJ_DETAILS.LAST_UPDATE_TYPE = 'U'
		, TXNOWNER.AU_TXN_ADJ_DETAILS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TXNOWNER.AU_TXN_ADJ_DETAILS_CT_UPD B
	WHERE TXNOWNER.AU_TXN_ADJ_DETAILS.ATD_ID = B.ATD_ID

