CREATE PROC [TXNOWNER].[IOP_TRANSACTIONS_INSERT] AS


EXEC DropStats 'TXNOWNER','IOP_TRANSACTIONS_CT_INS'
CREATE STATISTICS STATS_IOP_TRANSACTIONS_CT_INS_001 ON TXNOWNER.IOP_TRANSACTIONS_CT_INS (TRANSACTION_ID)
CREATE STATISTICS STATS_IOP_TRANSACTIONS_CT_INS_002 ON TXNOWNER.IOP_TRANSACTIONS_CT_INS (TRANSACTION_ID, SOURCE_CODE)

INSERT INTO TXNOWNER.IOP_TRANSACTIONS
	(
		     [TRANSACTION_ID] 
    ,[TRANSACTION_DATE]
    ,[AGENCY_CODE] 
    ,[TAG_ID] 
    ,[FACILITY_ID] 
    ,[PLAZA_ID] 
    ,[LANE_ID] 
    ,[DISPOSITION] 
    ,[REASON_CODE] 
    ,[EARNED_CLASS] 
    ,[EARNED_REVENUE]
    ,[POSTED_CLASS] 
    ,[POSTED_REVENUE]
    ,[POSTED_DATE_TIME]
    ,[SOURCE_CODE] 
    ,[TXID_ID] 
    ,[CREATION_DATE]
    ,[LIC_PLATE_NBR]
    ,[LIC_PLATE_STATE] 
    ,[HIA_AGCY_ID] 
    ,[TXN_TYPE]
    ,[ENTRY_LANE_ID] 
    ,[ENTRY_TXN_DATE] 
    ,[ENTRY_TVL_TAG_STATUS]
    ,[EXIT_TVL_TAG_STATUS] 
    ,[REPOST_ATTEMPTS] 
    ,[ATTRIBUTE_1] 
    ,[ATTRIBUTE_2] 
    ,[ATTRIBUTE_3] 
    ,[ATTRIBUTE_4] 
    ,[ATTRIBUTE_5] 
    ,[ATTRIBUTE_6] 
    ,[ATTRIBUTE_7] 
    ,[ATTRIBUTE_8] 
    ,[ATTRIBUTE_9] 
    ,[ATTRIBUTE_10]
    ,[IOP_EARNED_REVENUE]
    ,[DET_LINK_ID] 
    ,[DET_LINK_VTOLL] 
    ,[TRANSACTION_FILE_DETAIL_ID] 
    ,[PROC_FEE_FLAT]
    ,[PROC_FEE_PCT]
    ,[LIC_PLATE_COUNTRY]
    ,[LIC_PLATE_TYPE]
    ,[RESUBMIT_REASON]
    ,[RESUBMIT_COUNT]
    ,[HUB_IOP_TXN_ID]
    ,[HOME_TXN_REFERENCE_ID]
    ,[RECON_HOME_AGENCY_ID]
    ,[IOP_DISPOSITION]
    ,[TAG_AGENCY_ID]
	,[LAST_UPDATE_TYPE] 
    ,[LAST_UPDATE_DATE] 

	)
SELECT 

     A.[TRANSACTION_ID] 
    ,A.[TRANSACTION_DATE]
    ,A.[AGENCY_CODE] 
    ,A.[TAG_ID] 
    ,A.[FACILITY_ID] 
    ,A.[PLAZA_ID] 
    ,A.[LANE_ID] 
    ,A.[DISPOSITION] 
    ,A.[REASON_CODE] 
    ,A.[EARNED_CLASS] 
    ,A.[EARNED_REVENUE]
    ,A.[POSTED_CLASS] 
    ,A.[POSTED_REVENUE]
    ,A.[POSTED_DATE_TIME]
    ,A.[SOURCE_CODE] 
    ,A.[TXID_ID] 
    ,A.[CREATION_DATE]
    ,A.[LIC_PLATE_NBR]
    ,A.[LIC_PLATE_STATE] 
    ,A.[HIA_AGCY_ID] 
    ,A.[TXN_TYPE]
    ,A.[ENTRY_LANE_ID] 
    ,A.[ENTRY_TXN_DATE] 
    ,A.[ENTRY_TVL_TAG_STATUS]
    ,A.[EXIT_TVL_TAG_STATUS] 
    ,A.[REPOST_ATTEMPTS] 
    ,A.[ATTRIBUTE_1] 
    ,A.[ATTRIBUTE_2] 
    ,A.[ATTRIBUTE_3] 
    ,A.[ATTRIBUTE_4] 
    ,A.[ATTRIBUTE_5] 
    ,A.[ATTRIBUTE_6] 
    ,A.[ATTRIBUTE_7] 
    ,A.[ATTRIBUTE_8] 
    ,A.[ATTRIBUTE_9] 
    ,A.[ATTRIBUTE_10]
    ,A.[IOP_EARNED_REVENUE]
    ,A.[DET_LINK_ID] 
    ,A.[DET_LINK_VTOLL] 
    ,A.[TRANSACTION_FILE_DETAIL_ID] 
    ,A.[PROC_FEE_FLAT]
    ,A.[PROC_FEE_PCT]
    ,A.[LIC_PLATE_COUNTRY]
    ,A.[LIC_PLATE_TYPE]
    ,A.[RESUBMIT_REASON]
    ,A.[RESUBMIT_COUNT]
    ,A.[HUB_IOP_TXN_ID]
    ,A.[HOME_TXN_REFERENCE_ID]
    ,A.[RECON_HOME_AGENCY_ID]
    ,A.[IOP_DISPOSITION]
    ,A.[TAG_AGENCY_ID]    
    ,'I' as [LAST_UPDATE_TYPE] 
    ,A.INSERT_DATETIME 

FROM TXNOWNER.IOP_TRANSACTIONS_CT_INS A
LEFT JOIN TXNOWNER.IOP_TRANSACTIONS B ON A.TRANSACTION_ID = B.TRANSACTION_ID AND A.SOURCE_CODE = B.SOURCE_CODE
WHERE B.TRANSACTION_ID IS NULL AND B.SOURCE_CODE IS NULL


