CREATE PROC [TXNOWNER].[IOP_TRANSACTIONS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'TXNOWNER','IOP_TRANSACTIONS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TXNOWNER','IOP_TRANSACTIONS_CT_UPD'
CREATE STATISTICS STATS_IOP_TRANSACTIONS_CT_UPD_001 ON TXNOWNER.IOP_TRANSACTIONS_CT_UPD (TRANSACTION_ID)
CREATE STATISTICS STATS_IOP_TRANSACTIONS_CT_UPD_002 ON TXNOWNER.IOP_TRANSACTIONS_CT_UPD (TRANSACTION_ID, SOURCE_CODE)
CREATE STATISTICS STATS_IOP_TRANSACTIONS_CT_UPD_003 ON TXNOWNER.IOP_TRANSACTIONS_CT_UPD (TRANSACTION_ID, SOURCE_CODE, INSERT_DATETIME)
CREATE STATISTICS STATS_IOP_TRANSACTIONS_CT_UPD_004 ON TXNOWNER.IOP_TRANSACTIONS_CT_UPD (INSERT_DATETIME)

		--EXPLAIN
	UPDATE  TXNOWNER.IOP_TRANSACTIONS
	SET 
		--TXNOWNER.IOP_TRANSACTIONS.TRANSACTION_ID = B.TRANSACTION_ID
		TXNOWNER.IOP_TRANSACTIONS.TRANSACTION_DATE = B.TRANSACTION_DATE
		, TXNOWNER.IOP_TRANSACTIONS.AGENCY_CODE = B.AGENCY_CODE
		, TXNOWNER.IOP_TRANSACTIONS.TAG_ID = B.TAG_ID
		, TXNOWNER.IOP_TRANSACTIONS.FACILITY_ID = B.FACILITY_ID
		, TXNOWNER.IOP_TRANSACTIONS.PLAZA_ID = B.PLAZA_ID
		, TXNOWNER.IOP_TRANSACTIONS.LANE_ID = B.LANE_ID
		, TXNOWNER.IOP_TRANSACTIONS.DISPOSITION = B.DISPOSITION
		, TXNOWNER.IOP_TRANSACTIONS.REASON_CODE = B.REASON_CODE
		, TXNOWNER.IOP_TRANSACTIONS.EARNED_CLASS = B.EARNED_CLASS
		, TXNOWNER.IOP_TRANSACTIONS.EARNED_REVENUE = B.EARNED_REVENUE
		, TXNOWNER.IOP_TRANSACTIONS.POSTED_CLASS = B.POSTED_CLASS
		, TXNOWNER.IOP_TRANSACTIONS.POSTED_REVENUE = B.POSTED_REVENUE
		, TXNOWNER.IOP_TRANSACTIONS.POSTED_DATE_TIME = B.POSTED_DATE_TIME
		, TXNOWNER.IOP_TRANSACTIONS.SOURCE_CODE = B.SOURCE_CODE
		, TXNOWNER.IOP_TRANSACTIONS.TXID_ID = B.TXID_ID
		, TXNOWNER.IOP_TRANSACTIONS.CREATION_DATE = B.CREATION_DATE
		, TXNOWNER.IOP_TRANSACTIONS.LIC_PLATE_NBR = B.LIC_PLATE_NBR
		, TXNOWNER.IOP_TRANSACTIONS.LIC_PLATE_STATE = B.LIC_PLATE_STATE
		, TXNOWNER.IOP_TRANSACTIONS.HIA_AGCY_ID = B.HIA_AGCY_ID
		, TXNOWNER.IOP_TRANSACTIONS.TXN_TYPE = B.TXN_TYPE
		, TXNOWNER.IOP_TRANSACTIONS.ENTRY_LANE_ID = B.ENTRY_LANE_ID
		, TXNOWNER.IOP_TRANSACTIONS.ENTRY_TXN_DATE = B.ENTRY_TXN_DATE
		, TXNOWNER.IOP_TRANSACTIONS.ENTRY_TVL_TAG_STATUS = B.ENTRY_TVL_TAG_STATUS
		, TXNOWNER.IOP_TRANSACTIONS.EXIT_TVL_TAG_STATUS = B.EXIT_TVL_TAG_STATUS
		, TXNOWNER.IOP_TRANSACTIONS.REPOST_ATTEMPTS = B.REPOST_ATTEMPTS
		, TXNOWNER.IOP_TRANSACTIONS.ATTRIBUTE_1 = B.ATTRIBUTE_1
		, TXNOWNER.IOP_TRANSACTIONS.ATTRIBUTE_2 = B.ATTRIBUTE_2
		, TXNOWNER.IOP_TRANSACTIONS.ATTRIBUTE_3 = B.ATTRIBUTE_3
		, TXNOWNER.IOP_TRANSACTIONS.ATTRIBUTE_4 = B.ATTRIBUTE_4
		, TXNOWNER.IOP_TRANSACTIONS.ATTRIBUTE_5 = B.ATTRIBUTE_5
		, TXNOWNER.IOP_TRANSACTIONS.ATTRIBUTE_6 = B.ATTRIBUTE_6
		, TXNOWNER.IOP_TRANSACTIONS.ATTRIBUTE_7 = B.ATTRIBUTE_7
		, TXNOWNER.IOP_TRANSACTIONS.ATTRIBUTE_8 = B.ATTRIBUTE_8
		, TXNOWNER.IOP_TRANSACTIONS.ATTRIBUTE_9 = B.ATTRIBUTE_9
		, TXNOWNER.IOP_TRANSACTIONS.ATTRIBUTE_10 = B.ATTRIBUTE_10
		, TXNOWNER.IOP_TRANSACTIONS.IOP_EARNED_REVENUE = B.IOP_EARNED_REVENUE
		, TXNOWNER.IOP_TRANSACTIONS.DET_LINK_ID = B.DET_LINK_ID
		, TXNOWNER.IOP_TRANSACTIONS.DET_LINK_VTOLL = B.DET_LINK_VTOLL
		, TXNOWNER.IOP_TRANSACTIONS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID
		, TXNOWNER.IOP_TRANSACTIONS.PROC_FEE_FLAT = B.PROC_FEE_FLAT
		, TXNOWNER.IOP_TRANSACTIONS.PROC_FEE_PCT = B.PROC_FEE_PCT
		, TXNOWNER.IOP_TRANSACTIONS.LIC_PLATE_COUNTRY = B.LIC_PLATE_COUNTRY
		, TXNOWNER.IOP_TRANSACTIONS.LIC_PLATE_TYPE = B.LIC_PLATE_TYPE
		, TXNOWNER.IOP_TRANSACTIONS.RESUBMIT_REASON = B.RESUBMIT_REASON
		, TXNOWNER.IOP_TRANSACTIONS.RESUBMIT_COUNT = B.RESUBMIT_COUNT
		, TXNOWNER.IOP_TRANSACTIONS.HUB_IOP_TXN_ID = B.HUB_IOP_TXN_ID
		, TXNOWNER.IOP_TRANSACTIONS.HOME_TXN_REFERENCE_ID = B.HOME_TXN_REFERENCE_ID
		, TXNOWNER.IOP_TRANSACTIONS.RECON_HOME_AGENCY_ID = B.RECON_HOME_AGENCY_ID
		, TXNOWNER.IOP_TRANSACTIONS.IOP_DISPOSITION = B.IOP_DISPOSITION
		, TXNOWNER.IOP_TRANSACTIONS.TAG_AGENCY_ID = B.TAG_AGENCY_ID
		, TXNOWNER.IOP_TRANSACTIONS.LAST_UPDATE_TYPE = 'U'
		, TXNOWNER.IOP_TRANSACTIONS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TXNOWNER.IOP_TRANSACTIONS_CT_UPD B
	--WHERE TXNOWNER.IOP_TRANSACTIONS.TRANSACTION_ID = B.TRANSACTION_ID AND TXNOWNER.IOP_TRANSACTIONS.SOURCE_CODE = B.SOURCE_CODE
	WHERE TXNOWNER.IOP_TRANSACTIONS.TRANSACTION_ID = B.TRANSACTION_ID_FOR_UPDATE AND TXNOWNER.IOP_TRANSACTIONS.SOURCE_CODE = B.SOURCE_CODE_FOR_UPDATE

