CREATE PROC [TXNOWNER].[TA_TXN_RITE_DATAS_DELETE] AS      EXEC DropStats 'TXNOWNER','TA_TXN_RITE_DATAS_CT_DEL'  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_CT_DEL_001 ON TXNOWNER.TA_TXN_RITE_DATAS_CT_DEL (TURD_ID)  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_CT_DEL_002 ON TXNOWNER.TA_TXN_RITE_DATAS_CT_DEL (TURD_ID, INSERT_DATETIME)        UPDATE TXNOWNER.TA_TXN_RITE_DATAS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_DEL B  WHERE TXNOWNER.TA_TXN_RITE_DATAS.TURD_ID = B.TURD_ID    /*   To Test With:     INSERT INTO TXNOWNER.VIOLATIONS_CT_DEL   SELECT TOP 1 * FROM TXNOWNER.VIOLATIONS_CT_DEL      SELECT * FROM TXNOWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'  */  
--CREATE PROC [TXNOWNER].[TA_TXN_RITE_DATAS_INSERT] AS    /*   Update Stats on CT_INS table to help with de-dupping and update steps   GetFields 'TXNOWNER','TA_TXN_RITE_DATAS_CT_INS'   GetInsertFields2 'TXNOWNER','TA_TXN_RITE_DATAS_CT_INS'  */    EXEC DropStats 'TXNOWNER','TA_TXN_RITE_DATAS_CT_INS'  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_CT_INS_001 ON TXNOWNER.TA_TXN_RITE_DATAS_CT_INS (TURD_ID)    INSERT INTO TXNOWNER.TA_TXN_RITE_DATAS   (    VEH_SPEED, EVENT_IND, LOGON_TIME, ACTIVE_VLT_CH, TURD_ID, TART_TART_ID, LOGON_MEANS, EMPL_ID, VPLT_ID, REV_LANE_IND, ISF_SERIAL_NO, VES_SERIAL_NO, VES_DATE_TIME, STANDBY_MODE_STATUS, ACM_STATUS, AVI_STATUS, VEH_AVC_STATUS, TREADLE_AVC_STATUS, VES_TRIGGER_STATUS, VES_STATUS, ATT_TERM_STATUS, FAC_SRVR_AVI_STATUS, FAC_SRVR_UPLOAD_TXNS, UPS_STATUS, DIGITAL_IO_STATUS, NONREV_EMPL_ID, LN_STRADDLE_IND, ATT_CLASS_ENTERED, VIO_IMAGE_REQ, COIN_REJECTED,     LAST_UPDATE_TYPE, LAST_UPDATE_DATE   )  SELECT      A.VEH_SPEED, A.EVENT_IND, A.LOGON_TIME, A.ACTIVE_VLT_CH, A.TURD_ID, A.TART_TART_ID, A.LOGON_MEANS, A.EMPL_ID, A.VPLT_ID, A.REV_LANE_IND, A.ISF_SERIAL_NO, A.VES_SERIAL_NO, A.VES_DATE_TIME, A.STANDBY_MODE_STATUS, A.ACM_STATUS, A.AVI_STATUS, A.VEH_AVC_STATUS, A.TREADLE_AVC_STATUS, A.VES_TRIGGER_STATUS, A.VES_STATUS, A.ATT_TERM_STATUS, A.FAC_SRVR_AVI_STATUS, A.FAC_SRVR_UPLOAD_TXNS, A.UPS_STATUS, A.DIGITAL_IO_STATUS, A.NONREV_EMPL_ID, A.LN_STRADDLE_IND, A.ATT_CLASS_ENTERED, A.VIO_IMAGE_REQ, A.COIN_REJECTED,      'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME  FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_INS A  LEFT JOIN TXNOWNER.TA_TXN_RITE_DATAS B ON A.TURD_ID = B.TURD_ID  WHERE B.TURD_ID IS NULL    
--CREATE PROC [TXNOWNER].[TA_TXN_RITE_DATAS_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TXNOWNER','TA_TXN_RITE_DATAS'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TXNOWNER','TA_TXN_RITE_DATAS_CT_UPD'  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_CT_UPD_001 ON TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD (TURD_ID)  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_CT_UPD_002 ON TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD (TURD_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#TA_TXN_RITE_DATAS_CT_UPD_Dups')<>0   DROP TABLE #TA_TXN_RITE_DATAS_CT_UPD_Dups    CREATE TABLE #TA_TXN_RITE_DATAS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TURD_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.TURD_ID, A.INSERT_DATETIME   FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD A   INNER JOIN     (     SELECT TURD_ID     FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD     GROUP BY TURD_ID     HAVING COUNT(*)>1    ) Dups ON A.TURD_ID = Dups.TURD_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#TA_TXN_RITE_DATAS_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #TA_TXN_RITE_DATAS_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #TA_TXN_RITE_DATAS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TURD_ID), LOCATION = USER_DB)  AS   SELECT  A.VEH_SPEED, A.EVENT_IND, A.LOGON_TIME, A.ACTIVE_VLT_CH, A.TURD_ID, A.TART_TART_ID, A.LOGON_MEANS, A.EMPL_ID, A.VPLT_ID, A.REV_LANE_IND, A.ISF_SERIAL_NO, A.VES_SERIAL_NO, A.VES_DATE_TIME, A.STANDBY_MODE_STATUS, A.ACM_STATUS, A.AVI_STATUS, A.VEH_AVC_STATUS, A.TREADLE_AVC_STATUS, A.VES_TRIGGER_STATUS, A.VES_STATUS, A.ATT_TERM_STATUS, A.FAC_SRVR_AVI_STATUS, A.FAC_SRVR_UPLOAD_TXNS, A.UPS_STATUS, A.DIGITAL_IO_STATUS, A.NONREV_EMPL_ID, A.LN_STRADDLE_IND, A.ATT_CLASS_ENTERED, A.VIO_IMAGE_REQ, A.COIN_REJECTED, A.INSERT_DATETIME   FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD A   INNER JOIN     (     SELECT TURD_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #TA_TXN_RITE_DATAS_CT_UPD_Dups     GROUP BY TURD_ID    ) LastRcrd ON A.TURD_ID = LastRcrd.TURD_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD   WHERE EXISTS(SELECT * FROM #TA_TXN_RITE_DATAS_CT_UPD_Dups B WHERE TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD.TURD_ID = B.TURD_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD    ( VEH_SPEED, EVENT_IND, LOGON_TIME, ACTIVE_VLT_CH, TURD_ID, TART_TART_ID, LOGON_MEANS, EMPL_ID, VPLT_ID, REV_LANE_IND, ISF_SERIAL_NO, VES_SERIAL_NO, VES_DATE_TIME, STANDBY_MODE_STATUS, ACM_STATUS, AVI_STATUS, VEH_AVC_STATUS, TREADLE_AVC_STATUS, VES_TRIGGER_STATUS, VES_STATUS, ATT_TERM_STATUS, FAC_SRVR_AVI_STATUS, FAC_SRVR_UPLOAD_TXNS, UPS_STATUS, DIGITAL_IO_STATUS, NONREV_EMPL_ID, LN_STRADDLE_IND, ATT_CLASS_ENTERED, VIO_IMAGE_REQ, COIN_REJECTED, INSERT_DATETIME)  SELECT VEH_SPEED, EVENT_IND, LOGON_TIME, ACTIVE_VLT_CH, TURD_ID, TART_TART_ID, LOGON_MEANS, EMPL_ID, VPLT_ID, REV_LANE_IND, ISF_SERIAL_NO, VES_SERIAL_NO, VES_DATE_TIME, STANDBY_MODE_STATUS, ACM_STATUS, AVI_STATUS, VEH_AVC_STATUS, TREADLE_AVC_STATUS, VES_TRIGGER_STATUS, VES_STATUS, ATT_TERM_STATUS, FAC_SRVR_AVI_STATUS, FAC_SRVR_UPLOAD_TXNS, UPS_STATUS, DIGITAL_IO_STATUS, NONREV_EMPL_ID, LN_STRADDLE_IND, ATT_CLASS_ENTERED, VIO_IMAGE_REQ, COIN_REJECTED, INSERT_DATETIME  FROM #TA_TXN_RITE_DATAS_CT_UPD_DuplicateLastRowToReInsert     UPDATE  TXNOWNER.TA_TXN_RITE_DATAS   SET           TXNOWNER.TA_TXN_RITE_DATAS.VEH_SPEED = B.VEH_SPEED    , TXNOWNER.TA_TXN_RITE_DATAS.EVENT_IND = B.EVENT_IND    , TXNOWNER.TA_TXN_RITE_DATAS.LOGON_TIME = B.LOGON_TIME    , TXNOWNER.TA_TXN_RITE_DATAS.ACTIVE_VLT_CH = B.ACTIVE_VLT_CH    --, TXNOWNER.TA_TXN_RITE_DATAS.TURD_ID = B.TURD_ID    , TXNOWNER.TA_TXN_RITE_DATAS.TART_TART_ID = B.TART_TART_ID    , TXNOWNER.TA_TXN_RITE_DATAS.LOGON_MEANS = B.LOGON_MEANS    , TXNOWNER.TA_TXN_RITE_DATAS.EMPL_ID = B.EMPL_ID    , TXNOWNER.TA_TXN_RITE_DATAS.VPLT_ID = B.VPLT_ID    , TXNOWNER.TA_TXN_RITE_DATAS.REV_LANE_IND = B.REV_LANE_IND    , TXNOWNER.TA_TXN_RITE_DATAS.ISF_SERIAL_NO = B.ISF_SERIAL_NO    , TXNOWNER.TA_TXN_RITE_DATAS.VES_SERIAL_NO = B.VES_SERIAL_NO    , TXNOWNER.TA_TXN_RITE_DATAS.VES_DATE_TIME = B.VES_DATE_TIME    , TXNOWNER.TA_TXN_RITE_DATAS.STANDBY_MODE_STATUS = B.STANDBY_MODE_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.ACM_STATUS = B.ACM_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.AVI_STATUS = B.AVI_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.VEH_AVC_STATUS = B.VEH_AVC_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.TREADLE_AVC_STATUS = B.TREADLE_AVC_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.VES_TRIGGER_STATUS = B.VES_TRIGGER_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.VES_STATUS = B.VES_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.ATT_TERM_STATUS = B.ATT_TERM_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.FAC_SRVR_AVI_STATUS = B.FAC_SRVR_AVI_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.FAC_SRVR_UPLOAD_TXNS = B.FAC_SRVR_UPLOAD_TXNS    , TXNOWNER.TA_TXN_RITE_DATAS.UPS_STATUS = B.UPS_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.DIGITAL_IO_STATUS = B.DIGITAL_IO_STATUS    , TXNOWNER.TA_TXN_RITE_DATAS.NONREV_EMPL_ID = B.NONREV_EMPL_ID    , TXNOWNER.TA_TXN_RITE_DATAS.LN_STRADDLE_IND = B.LN_STRADDLE_IND    , TXNOWNER.TA_TXN_RITE_DATAS.ATT_CLASS_ENTERED = B.ATT_CLASS_ENTERED    , TXNOWNER.TA_TXN_RITE_DATAS.VIO_IMAGE_REQ = B.VIO_IMAGE_REQ    , TXNOWNER.TA_TXN_RITE_DATAS.COIN_REJECTED = B.COIN_REJECTED    , TXNOWNER.TA_TXN_RITE_DATAS.LAST_UPDATE_TYPE = 'U'    , TXNOWNER.TA_TXN_RITE_DATAS.LAST_UPDATE_DATE = B.INSERT_DATETIME   FROM TXNOWNER.TA_TXN_RITE_DATAS_CT_UPD B   WHERE TXNOWNER.TA_TXN_RITE_DATAS.TURD_ID = B.TURD_ID  
--CREATE PROC [TXNOWNER].[TA_TXN_RITE_DATAS_Update_Stats] AS    EXEC DropStats 'TXNOWNER','TA_TXN_RITE_DATAS'  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_001 ON TXNOWNER.TA_TXN_RITE_DATAS (TURD_ID)  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_002 ON TXNOWNER.TA_TXN_RITE_DATAS (TURD_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_003 ON TXNOWNER.TA_TXN_RITE_DATAS (LAST_UPDATE_DATE)
--CREATE PROC [TSA_OWNER].[TRANSACTION_FILE_DETAILS_DELETE] AS      EXEC DropStats 'TSA_OWNER','TRANSACTION_FILE_DETAILS_CT_DEL'  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_CT_DEL_001 ON TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_DEL (TRANSACTION_FILE_DETAIL_ID)  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_CT_DEL_002 ON TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_DEL (TRANSACTION_FILE_DETAIL_ID, INSERT_DATETIME)        UPDATE TSA_OWNER.TRANSACTION_FILE_DETAILS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_DEL B  WHERE TSA_OWNER.TRANSACTION_FILE_DETAILS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID
--CREATE PROC [TSA_OWNER].[TRANSACTION_FILE_DETAILS_INSERT] AS      EXEC DropStats 'TSA_OWNER','TRANSACTION_FILE_DETAILS_CT_INS'  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_CT_INS_001 ON TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_INS (TRANSACTION_FILE_DETAIL_ID)    INSERT INTO TSA_OWNER.TRANSACTION_FILE_DETAILS   (                   [TRANSACTION_FILE_DETAIL_ID]      ,[SUBS_TRANS_TYPE_CODE]       ,[TRANSACTION_FILE_HEADER_ID]       ,[TRANSACTION_SEQUENCE]       ,[RECORD_TYPE]      ,[SUBSCRIBER_UNIQUE_ID]       ,[REVENUE_DATE]       ,[RECEIVED_DATE]      ,[RESUBMITTAL_REASON]       ,[RESUBMITTAL_COUNT]       ,[TRANSACTION_STATUS]       ,[AUTHORITY_ID]       ,[LOCATION_TYPE]      ,[FACILITY]       ,[SUBSCRIBER_ID]      ,[ENTRY_PLAZA]      ,[ENTRY_LANE]       ,[ENTRY_LANE_MODE]       ,[ENTRY_TRANSACTION_DATE]       ,[ENTRY_TRANSACTION_TIME]       ,[ENTRY_TRANSPONDER_ID]       ,[ENTRY_TRANSPONDER_STATUS]       ,[ENTRY_TVL_FILE_NAME]       ,[ENTRY_LVL_FILE_NAME]       ,[ENTRY_VEHICLE_CLASS]       ,[ENTRY_AXLES_EXPECTED]      ,[ENTRY_AXLES_COUNTED]       ,[ENTRY_SPEED]       ,[ENTRY_HOV_DESIGNATION]       ,[EXIT_PLAZA]      ,[EXIT_LANE]       ,[EXIT_LANE_MODE]      ,[EXIT_TRANSACTION_DATE]       ,[EXIT_TRANSACTION_TIME]       ,[EXIT_TRANSPONDER_ID]       ,[EXIT_TRANSPONDER_STATUS]       ,[EXIT_TVL_FILE_NAME]       ,[EXIT_LVL_FILE_NAME]       ,[EXIT_VEHICLE_CLASS]       ,[EXIT_AXLES_EXPECTED]      ,[EXIT_AXLES_COUNTED]       ,[EXIT_SPEED]       ,[EXIT_HOV_DESIGNATION]       ,[COLLECTOR_ID]      ,[VAULT_ID]       ,[TOLL_DETERMINATION_CLASS]       ,[TRANSPONDER_TOLL_AMT]       ,[TRANSPONDER_DISCOUNT_TYPE]       ,[DISC_TRANSPONDER_TOLL_AMT]       ,[VIDEO_TOLL_AMT_WO_PREM]       ,[VIDEO_TOLL_AMT_W_PREM]       ,[VIDEO_DISCOUNT_TYPE]       ,[DISC_VIDEO_TOLL_AMT_WO_PREM]      ,[DISC_VIDEO_TOLL_AMT_W_PREM]       ,[CASH_TOLL_AMOUNT]       ,[CASH_DISCOUNT_TYPE]       ,[DISC_CASH_TOLL_AMOUNT]       ,[UNUSUAL_OCCURRENCE_CODE]      ,[NUMBER_OF_IMAGES]       ,[AMOUNT_PAID]       ,[IMAGE_REQUEST_SEND_DATE]       ,[IMAGE_RESPONSE_RECEIVED_DATE]      ,[IMAGE_REQUEST_STATUS_CODE]       ,[CREATED_BY]       ,[DATE_CREATED]       ,[MODIFIED_BY]       ,[DATE_MODIFIED]      ,[ADDITIONAL_COMMENTS]       ,[SUBSCRIBER_LIST_ID]       ,[PROCESSED_YN]       ,[LOCKED_TIMESTAMP]       ,[EXIT_TAG_ID]       ,[LAST_UPDATE_TYPE]       ,[LAST_UPDATE_DATE]        )  SELECT                A.[TRANSACTION_FILE_DETAIL_ID]      ,A.[SUBS_TRANS_TYPE_CODE]       ,A.[TRANSACTION_FILE_HEADER_ID]       ,A.[TRANSACTION_SEQUENCE]       ,A.[RECORD_TYPE]      ,A.[SUBSCRIBER_UNIQUE_ID]       ,A.[REVENUE_DATE]       ,A.[RECEIVED_DATE]      ,A.[RESUBMITTAL_REASON]       ,A.[RESUBMITTAL_COUNT]       ,A.[TRANSACTION_STATUS]       ,A.[AUTHORITY_ID]       ,A.[LOCATION_TYPE]      ,A.[FACILITY]       ,A.[SUBSCRIBER_ID]      ,A.[ENTRY_PLAZA]      ,A.[ENTRY_LANE]       ,A.[ENTRY_LANE_MODE]       ,A.[ENTRY_TRANSACTION_DATE]       ,A.[ENTRY_TRANSACTION_TIME]       ,A.[ENTRY_TRANSPONDER_ID]       ,A.[ENTRY_TRANSPONDER_STATUS]       ,A.[ENTRY_TVL_FILE_NAME]       ,A.[ENTRY_LVL_FILE_NAME]       ,A.[ENTRY_VEHICLE_CLASS]       ,A.[ENTRY_AXLES_EXPECTED]      ,A.[ENTRY_AXLES_COUNTED]       ,A.[ENTRY_SPEED]       ,A.[ENTRY_HOV_DESIGNATION]       ,A.[EXIT_PLAZA]      ,A.[EXIT_LANE]       ,A.[EXIT_LANE_MODE]      ,A.[EXIT_TRANSACTION_DATE]       ,A.[EXIT_TRANSACTION_TIME]       ,A.[EXIT_TRANSPONDER_ID]       ,A.[EXIT_TRANSPONDER_STATUS]       ,A.[EXIT_TVL_FILE_NAME]       ,A.[EXIT_LVL_FILE_NAME]       ,A.[EXIT_VEHICLE_CLASS]       ,A.[EXIT_AXLES_EXPECTED]      ,A.[EXIT_AXLES_COUNTED]       ,A.[EXIT_SPEED]       ,A.[EXIT_HOV_DESIGNATION]       ,A.[COLLECTOR_ID]      ,A.[VAULT_ID]       ,A.[TOLL_DETERMINATION_CLASS]       ,A.[TRANSPONDER_TOLL_AMT]       ,A.[TRANSPONDER_DISCOUNT_TYPE]       ,A.[DISC_TRANSPONDER_TOLL_AMT]       ,A.[VIDEO_TOLL_AMT_WO_PREM]       ,A.[VIDEO_TOLL_AMT_W_PREM]       ,A.[VIDEO_DISCOUNT_TYPE]       ,A.[DISC_VIDEO_TOLL_AMT_WO_PREM]      ,A.[DISC_VIDEO_TOLL_AMT_W_PREM]       ,A.[CASH_TOLL_AMOUNT]       ,A.[CASH_DISCOUNT_TYPE]       ,A.[DISC_CASH_TOLL_AMOUNT]       ,A.[UNUSUAL_OCCURRENCE_CODE]      ,A.[NUMBER_OF_IMAGES]       ,A.[AMOUNT_PAID]       ,A.[IMAGE_REQUEST_SEND_DATE]       ,A.[IMAGE_RESPONSE_RECEIVED_DATE]      ,A.[IMAGE_REQUEST_STATUS_CODE]       ,A.[CREATED_BY]       ,A.[DATE_CREATED]       ,A.[MODIFIED_BY]       ,A.[DATE_MODIFIED]      ,A.[ADDITIONAL_COMMENTS]       ,A.[SUBSCRIBER_LIST_ID]       ,A.[PROCESSED_YN]       ,[LOCKED_TIMESTAMP]       ,[EXIT_TAG_ID]       ,'I' as [LAST_UPDATE_TYPE]       ,A.INSERT_DATETIME     FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_INS A  LEFT JOIN TSA_OWNER.TRANSACTION_FILE_DETAILS B ON A.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID  WHERE B.TRANSACTION_FILE_DETAIL_ID IS NULL    
--CREATE PROC [TSA_OWNER].[TRANSACTION_FILE_DETAILS_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TSA_OWNER','TRANSACTION_FILE_DETAILS'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TSA_OWNER','TRANSACTION_FILE_DETAILS_CT_UPD'  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_CT_UPD_001 ON TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD (TRANSACTION_FILE_DETAIL_ID)  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_CT_UPD_002 ON TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD (TRANSACTION_FILE_DETAIL_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#TRANSACTION_FILE_DETAILS_CT_UPD_Dups')<>0   DROP TABLE #TRANSACTION_FILE_DETAILS_CT_UPD_Dups    CREATE TABLE #TRANSACTION_FILE_DETAILS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_FILE_DETAIL_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.TRANSACTION_FILE_DETAIL_ID, A.INSERT_DATETIME   FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD A   INNER JOIN     (     SELECT TRANSACTION_FILE_DETAIL_ID     FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD     GROUP BY TRANSACTION_FILE_DETAIL_ID     HAVING COUNT(*)>1    ) Dups ON A.TRANSACTION_FILE_DETAIL_ID = Dups.TRANSACTION_FILE_DETAIL_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#TRANSACTION_FILE_DETAILS_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #TRANSACTION_FILE_DETAILS_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #TRANSACTION_FILE_DETAILS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_FILE_DETAIL_ID), LOCATION = USER_DB)  AS   SELECT          A.[TRANSACTION_FILE_DETAIL_ID]      ,A.[SUBS_TRANS_TYPE_CODE]       ,A.[TRANSACTION_FILE_HEADER_ID]       ,A.[TRANSACTION_SEQUENCE]       ,A.[RECORD_TYPE]      ,A.[SUBSCRIBER_UNIQUE_ID]       ,A.[REVENUE_DATE]       ,A.[RECEIVED_DATE]      ,A.[RESUBMITTAL_REASON]       ,A.[RESUBMITTAL_COUNT]       ,A.[TRANSACTION_STATUS]       ,A.[AUTHORITY_ID]       ,A.[LOCATION_TYPE]      ,A.[FACILITY]       ,A.[SUBSCRIBER_ID]      ,A.[ENTRY_PLAZA]      ,A.[ENTRY_LANE]       ,A.[ENTRY_LANE_MODE]       ,A.[ENTRY_TRANSACTION_DATE]       ,A.[ENTRY_TRANSACTION_TIME]       ,A.[ENTRY_TRANSPONDER_ID]       ,A.[ENTRY_TRANSPONDER_STATUS]       ,A.[ENTRY_TVL_FILE_NAME]       ,A.[ENTRY_LVL_FILE_NAME]       ,A.[ENTRY_VEHICLE_CLASS]       ,A.[ENTRY_AXLES_EXPECTED]      ,A.[ENTRY_AXLES_COUNTED]       ,A.[ENTRY_SPEED]       ,A.[ENTRY_HOV_DESIGNATION]       ,A.[EXIT_PLAZA]      ,A.[EXIT_LANE]       ,A.[EXIT_LANE_MODE]      ,A.[EXIT_TRANSACTION_DATE]       ,A.[EXIT_TRANSACTION_TIME]       ,A.[EXIT_TRANSPONDER_ID]       ,A.[EXIT_TRANSPONDER_STATUS]       ,A.[EXIT_TVL_FILE_NAME]       ,A.[EXIT_LVL_FILE_NAME]       ,A.[EXIT_VEHICLE_CLASS]       ,A.[EXIT_AXLES_EXPECTED]      ,A.[EXIT_AXLES_COUNTED]       ,A.[EXIT_SPEED]       ,A.[EXIT_HOV_DESIGNATION]       ,A.[COLLECTOR_ID]      ,A.[VAULT_ID]       ,A.[TOLL_DETERMINATION_CLASS]       ,A.[TRANSPONDER_TOLL_AMT]       ,A.[TRANSPONDER_DISCOUNT_TYPE]       ,A.[DISC_TRANSPONDER_TOLL_AMT]       ,A.[VIDEO_TOLL_AMT_WO_PREM]       ,A.[VIDEO_TOLL_AMT_W_PREM]       ,A.[VIDEO_DISCOUNT_TYPE]       ,A.[DISC_VIDEO_TOLL_AMT_WO_PREM]      ,A.[DISC_VIDEO_TOLL_AMT_W_PREM]       ,A.[CASH_TOLL_AMOUNT]       ,A.[CASH_DISCOUNT_TYPE]       ,A.[DISC_CASH_TOLL_AMOUNT]       ,A.[UNUSUAL_OCCURRENCE_CODE]      ,A.[NUMBER_OF_IMAGES]       ,A.[AMOUNT_PAID]       ,A.[IMAGE_REQUEST_SEND_DATE]       ,A.[IMAGE_RESPONSE_RECEIVED_DATE]      ,A.[IMAGE_REQUEST_STATUS_CODE]       ,A.[CREATED_BY]       ,A.[DATE_CREATED]       ,A.[MODIFIED_BY]       ,A.[DATE_MODIFIED]      ,A.[ADDITIONAL_COMMENTS]       ,A.[SUBSCRIBER_LIST_ID]       ,A.[PROCESSED_YN]       ,A.[LOCKED_TIMESTAMP]       ,A.[EXIT_TAG_ID]    ,A.INSERT_DATETIME        FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD A   INNER JOIN     (     SELECT TRANSACTION_FILE_DETAIL_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #TRANSACTION_FILE_DETAILS_CT_UPD_Dups     GROUP BY TRANSACTION_FILE_DETAIL_ID    ) LastRcrd ON A.TRANSACTION_FILE_DETAIL_ID = LastRcrd.TRANSACTION_FILE_DETAIL_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD   WHERE EXISTS(SELECT * FROM #TRANSACTION_FILE_DETAILS_CT_UPD_Dups B WHERE TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD    (  [TRANSACTION_FILE_DETAIL_ID]      ,[SUBS_TRANS_TYPE_CODE]       ,[TRANSACTION_FILE_HEADER_ID]       ,[TRANSACTION_SEQUENCE]       ,[RECORD_TYPE]      ,[SUBSCRIBER_UNIQUE_ID]       ,[REVENUE_DATE]       ,[RECEIVED_DATE]      ,[RESUBMITTAL_REASON]       ,[RESUBMITTAL_COUNT]       ,[TRANSACTION_STATUS]       ,[AUTHORITY_ID]       ,[LOCATION_TYPE]      ,[FACILITY]       ,[SUBSCRIBER_ID]      ,[ENTRY_PLAZA]      ,[ENTRY_LANE]       ,[ENTRY_LANE_MODE]       ,[ENTRY_TRANSACTION_DATE]       ,[ENTRY_TRANSACTION_TIME]       ,[ENTRY_TRANSPONDER_ID]       ,[ENTRY_TRANSPONDER_STATUS]       ,[ENTRY_TVL_FILE_NAME]       ,[ENTRY_LVL_FILE_NAME]       ,[ENTRY_VEHICLE_CLASS]       ,[ENTRY_AXLES_EXPECTED]      ,[ENTRY_AXLES_COUNTED]       ,[ENTRY_SPEED]       ,[ENTRY_HOV_DESIGNATION]       ,[EXIT_PLAZA]      ,[EXIT_LANE]       ,[EXIT_LANE_MODE]      ,[EXIT_TRANSACTION_DATE]       ,[EXIT_TRANSACTION_TIME]       ,[EXIT_TRANSPONDER_ID]       ,[EXIT_TRANSPONDER_STATUS]       ,[EXIT_TVL_FILE_NAME]       ,[EXIT_LVL_FILE_NAME]       ,[EXIT_VEHICLE_CLASS]       ,[EXIT_AXLES_EXPECTED]      ,[EXIT_AXLES_COUNTED]       ,[EXIT_SPEED]       ,[EXIT_HOV_DESIGNATION]       ,[COLLECTOR_ID]      ,[VAULT_ID]       ,[TOLL_DETERMINATION_CLASS]       ,[TRANSPONDER_TOLL_AMT]       ,[TRANSPONDER_DISCOUNT_TYPE]       ,[DISC_TRANSPONDER_TOLL_AMT]       ,[VIDEO_TOLL_AMT_WO_PREM]       ,[VIDEO_TOLL_AMT_W_PREM]       ,[VIDEO_DISCOUNT_TYPE]       ,[DISC_VIDEO_TOLL_AMT_WO_PREM]      ,[DISC_VIDEO_TOLL_AMT_W_PREM]       ,[CASH_TOLL_AMOUNT]       ,[CASH_DISCOUNT_TYPE]       ,[DISC_CASH_TOLL_AMOUNT]       ,[UNUSUAL_OCCURRENCE_CODE]      ,[NUMBER_OF_IMAGES]       ,[AMOUNT_PAID]       ,[IMAGE_REQUEST_SEND_DATE]       ,[IMAGE_RESPONSE_RECEIVED_DATE]      ,[IMAGE_REQUEST_STATUS_CODE]       ,[CREATED_BY]       ,[DATE_CREATED]       ,[MODIFIED_BY]       ,[DATE_MODIFIED]      ,[ADDITIONAL_COMMENTS]       ,[SUBSCRIBER_LIST_ID]       ,[PROCESSED_YN]       ,[LOCKED_TIMESTAMP]       ,[EXIT_TAG_ID]    , INSERT_DATETIME)  SELECT    [TRANSACTION_FILE_DETAIL_ID]      ,[SUBS_TRANS_TYPE_CODE]       ,[TRANSACTION_FILE_HEADER_ID]       ,[TRANSACTION_SEQUENCE]       ,[RECORD_TYPE]      ,[SUBSCRIBER_UNIQUE_ID]       ,[REVENUE_DATE]       ,[RECEIVED_DATE]      ,[RESUBMITTAL_REASON]       ,[RESUBMITTAL_COUNT]       ,[TRANSACTION_STATUS]       ,[AUTHORITY_ID]       ,[LOCATION_TYPE]      ,[FACILITY]       ,[SUBSCRIBER_ID]      ,[ENTRY_PLAZA]      ,[ENTRY_LANE]       ,[ENTRY_LANE_MODE]       ,[ENTRY_TRANSACTION_DATE]       ,[ENTRY_TRANSACTION_TIME]       ,[ENTRY_TRANSPONDER_ID]       ,[ENTRY_TRANSPONDER_STATUS]       ,[ENTRY_TVL_FILE_NAME]       ,[ENTRY_LVL_FILE_NAME]       ,[ENTRY_VEHICLE_CLASS]       ,[ENTRY_AXLES_EXPECTED]      ,[ENTRY_AXLES_COUNTED]       ,[ENTRY_SPEED]       ,[ENTRY_HOV_DESIGNATION]       ,[EXIT_PLAZA]      ,[EXIT_LANE]       ,[EXIT_LANE_MODE]      ,[EXIT_TRANSACTION_DATE]       ,[EXIT_TRANSACTION_TIME]       ,[EXIT_TRANSPONDER_ID]       ,[EXIT_TRANSPONDER_STATUS]       ,[EXIT_TVL_FILE_NAME]       ,[EXIT_LVL_FILE_NAME]       ,[EXIT_VEHICLE_CLASS]       ,[EXIT_AXLES_EXPECTED]      ,[EXIT_AXLES_COUNTED]       ,[EXIT_SPEED]       ,[EXIT_HOV_DESIGNATION]       ,[COLLECTOR_ID]      ,[VAULT_ID]       ,[TOLL_DETERMINATION_CLASS]       ,[TRANSPONDER_TOLL_AMT]       ,[TRANSPONDER_DISCOUNT_TYPE]       ,[DISC_TRANSPONDER_TOLL_AMT]       ,[VIDEO_TOLL_AMT_WO_PREM]       ,[VIDEO_TOLL_AMT_W_PREM]       ,[VIDEO_DISCOUNT_TYPE]       ,[DISC_VIDEO_TOLL_AMT_WO_PREM]      ,[DISC_VIDEO_TOLL_AMT_W_PREM]       ,[CASH_TOLL_AMOUNT]       ,[CASH_DISCOUNT_TYPE]       ,[DISC_CASH_TOLL_AMOUNT]       ,[UNUSUAL_OCCURRENCE_CODE]      ,[NUMBER_OF_IMAGES]       ,[AMOUNT_PAID]       ,[IMAGE_REQUEST_SEND_DATE]       ,[IMAGE_RESPONSE_RECEIVED_DATE]      ,[IMAGE_REQUEST_STATUS_CODE]       ,[CREATED_BY]       ,[DATE_CREATED]       ,[MODIFIED_BY]       ,[DATE_MODIFIED]      ,[ADDITIONAL_COMMENTS]       ,[SUBSCRIBER_LIST_ID]       ,[PROCESSED_YN]       ,[LOCKED_TIMESTAMP]       ,[EXIT_TAG_ID]    , INSERT_DATETIME    FROM #TRANSACTION_FILE_DETAILS_CT_UPD_DuplicateLastRowToReInsert     UPDATE  TSA_OWNER.TRANSACTION_FILE_DETAILS   SET      --TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSACTION_FILE_DETAIL_ID]               =B.[TRANSACTION_FILE_DETAIL_ID]           TSA_OWNER.TRANSACTION_FILE_DETAILS.[SUBS_TRANS_TYPE_CODE]        =B.[SUBS_TRANS_TYPE_CODE]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSACTION_FILE_HEADER_ID]      =B.[TRANSACTION_FILE_HEADER_ID]        ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSACTION_SEQUENCE]        =B.[TRANSACTION_SEQUENCE]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[RECORD_TYPE]         =B.[RECORD_TYPE]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[SUBSCRIBER_UNIQUE_ID]        =B.[SUBSCRIBER_UNIQUE_ID]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[REVENUE_DATE]          =B.[REVENUE_DATE]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[RECEIVED_DATE]         =B.[RECEIVED_DATE]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[RESUBMITTAL_REASON]        =B.[RESUBMITTAL_REASON]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[RESUBMITTAL_COUNT]        =B.[RESUBMITTAL_COUNT]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSACTION_STATUS]        =B.[TRANSACTION_STATUS]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[AUTHORITY_ID]          =B.[AUTHORITY_ID]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[LOCATION_TYPE]         =B.[LOCATION_TYPE]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[FACILITY]           =B.[FACILITY]             ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[SUBSCRIBER_ID]         =B.[SUBSCRIBER_ID]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_PLAZA]         =B.[ENTRY_PLAZA]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_LANE]          =B.[ENTRY_LANE]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_LANE_MODE]         =B.[ENTRY_LANE_MODE]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TRANSACTION_DATE]       =B.[ENTRY_TRANSACTION_DATE]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TRANSACTION_TIME]       =B.[ENTRY_TRANSACTION_TIME]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TRANSPONDER_ID]        =B.[ENTRY_TRANSPONDER_ID]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TRANSPONDER_STATUS]       =B.[ENTRY_TRANSPONDER_STATUS]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_TVL_FILE_NAME]        =B.[ENTRY_TVL_FILE_NAME]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_LVL_FILE_NAME]        =B.[ENTRY_LVL_FILE_NAME]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_VEHICLE_CLASS]        =B.[ENTRY_VEHICLE_CLASS]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_AXLES_EXPECTED]       =B.[ENTRY_AXLES_EXPECTED]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_AXLES_COUNTED]        =B.[ENTRY_AXLES_COUNTED]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_SPEED]          =B.[ENTRY_SPEED]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ENTRY_HOV_DESIGNATION]       =B.[ENTRY_HOV_DESIGNATION]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_PLAZA]         =B.[EXIT_PLAZA]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_LANE]          =B.[EXIT_LANE]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_LANE_MODE]        =B.[EXIT_LANE_MODE]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TRANSACTION_DATE]       =B.[EXIT_TRANSACTION_DATE]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TRANSACTION_TIME]       =B.[EXIT_TRANSACTION_TIME]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TRANSPONDER_ID]        =B.[EXIT_TRANSPONDER_ID]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TRANSPONDER_STATUS]       =B.[EXIT_TRANSPONDER_STATUS]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TVL_FILE_NAME]        =B.[EXIT_TVL_FILE_NAME]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_LVL_FILE_NAME]        =B.[EXIT_LVL_FILE_NAME]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_VEHICLE_CLASS]        =B.[EXIT_VEHICLE_CLASS]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_AXLES_EXPECTED]       =B.[EXIT_AXLES_EXPECTED]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_AXLES_COUNTED]        =B.[EXIT_AXLES_COUNTED]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_SPEED]          =B.[EXIT_SPEED]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_HOV_DESIGNATION]        =B.[EXIT_HOV_DESIGNATION]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[COLLECTOR_ID]         =B.[COLLECTOR_ID]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[VAULT_ID]           =B.[VAULT_ID]             ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TOLL_DETERMINATION_CLASS]       =B.[TOLL_DETERMINATION_CLASS]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSPONDER_TOLL_AMT]        =B.[TRANSPONDER_TOLL_AMT]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[TRANSPONDER_DISCOUNT_TYPE]      =B.[TRANSPONDER_DISCOUNT_TYPE]        ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DISC_TRANSPONDER_TOLL_AMT]      =B.[DISC_TRANSPONDER_TOLL_AMT]        ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[VIDEO_TOLL_AMT_WO_PREM]       =B.[VIDEO_TOLL_AMT_WO_PREM]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[VIDEO_TOLL_AMT_W_PREM]       =B.[VIDEO_TOLL_AMT_W_PREM]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[VIDEO_DISCOUNT_TYPE]        =B.[VIDEO_DISCOUNT_TYPE]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DISC_VIDEO_TOLL_AMT_WO_PREM]     =B.[DISC_VIDEO_TOLL_AMT_WO_PREM]       ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DISC_VIDEO_TOLL_AMT_W_PREM]      =B.[DISC_VIDEO_TOLL_AMT_W_PREM]        ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[CASH_TOLL_AMOUNT]         =B.[CASH_TOLL_AMOUNT]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[CASH_DISCOUNT_TYPE]        =B.[CASH_DISCOUNT_TYPE]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DISC_CASH_TOLL_AMOUNT]       =B.[DISC_CASH_TOLL_AMOUNT]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[UNUSUAL_OCCURRENCE_CODE]      =B.[UNUSUAL_OCCURRENCE_CODE]        ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[NUMBER_OF_IMAGES]         =B.[NUMBER_OF_IMAGES]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[AMOUNT_PAID]          =B.[AMOUNT_PAID]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[IMAGE_REQUEST_SEND_DATE]       =B.[IMAGE_REQUEST_SEND_DATE]         ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[IMAGE_RESPONSE_RECEIVED_DATE]     =B.[IMAGE_RESPONSE_RECEIVED_DATE]       ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[IMAGE_REQUEST_STATUS_CODE]      =B.[IMAGE_REQUEST_STATUS_CODE]        ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[CREATED_BY]          =B.[CREATED_BY]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DATE_CREATED]          =B.[DATE_CREATED]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[MODIFIED_BY]          =B.[MODIFIED_BY]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[DATE_MODIFIED]         =B.[DATE_MODIFIED]           ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[ADDITIONAL_COMMENTS]        =B.[ADDITIONAL_COMMENTS]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[SUBSCRIBER_LIST_ID]        =B.[SUBSCRIBER_LIST_ID]          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[PROCESSED_YN]          =B.[PROCESSED_YN]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[LOCKED_TIMESTAMP]         =B.[LOCKED_TIMESTAMP]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[EXIT_TAG_ID]          =B.[EXIT_TAG_ID]            ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[LAST_UPDATE_TYPE]         ='U'          ,TSA_OWNER.TRANSACTION_FILE_DETAILS.[LAST_UPDATE_DATE]         =B.INSERT_DATETIME               FROM TSA_OWNER.TRANSACTION_FILE_DETAILS_CT_UPD B   WHERE TSA_OWNER.TRANSACTION_FILE_DETAILS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID  
--CREATE PROC [TSA_OWNER].[TRANSACTION_FILE_DETAILS_Update_Stats] AS    EXEC DropStats 'TSA_OWNER','TRANSACTION_FILE_DETAILS'  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_001 ON TSA_OWNER.TRANSACTION_FILE_DETAILS (TRANSACTION_FILE_DETAIL_ID)  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_002 ON TSA_OWNER.TRANSACTION_FILE_DETAILS (TRANSACTION_FILE_DETAIL_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_003 ON TSA_OWNER.TRANSACTION_FILE_DETAILS (LAST_UPDATE_DATE)
--CREATE PROC [TSA_OWNER].[TRANSACTION_IMAGES_DELETE] AS      EXEC DropStats 'TSA_OWNER','TRANSACTION_IMAGES_CT_DEL'  CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_DEL_001 ON TSA_OWNER.TRANSACTION_IMAGES_CT_DEL (TRANSACTION_IMAGE_ID)  CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_DEL_002 ON TSA_OWNER.TRANSACTION_IMAGES_CT_DEL (TRANSACTION_IMAGE_ID, INSERT_DATETIME)        UPDATE TSA_OWNER.TRANSACTION_IMAGES   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TSA_OWNER.TRANSACTION_IMAGES_CT_DEL B  WHERE TSA_OWNER.TRANSACTION_IMAGES.TRANSACTION_IMAGE_ID = B.TRANSACTION_IMAGE_ID
--CREATE PROC [TSA_OWNER].[TRANSACTION_IMAGES_INSERT] AS      EXEC DropStats 'TSA_OWNER','TRANSACTION_IMAGES_CT_INS'  CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_INS_001 ON TSA_OWNER.TRANSACTION_IMAGES_CT_INS (TRANSACTION_IMAGE_ID)    INSERT INTO TSA_OWNER.TRANSACTION_IMAGES   (               [TRANSACTION_IMAGE_ID]       ,[TRANSACTION_FILE_DETAIL_ID]       ,[IMAGE_FILE_NAME]       ,[IMAGE_LOCATION_TYPE]       ,[IMAGE_FACING_CODE]      ,[IMAGE_SEQUENCE]       ,[LICENSE_PLATE_STATE]       ,[LICENSE_PLATE_STATE_CONF]       ,[LICENSE_PLATE_COUNTRY]      ,[LICENSE_PLATE_COUNTRY_CONF]       ,[LICENSE_PLATE_VALUE]       ,[LICENSE_PLATE_VALUE_CONF]      ,[LICENSE_PLATE_TYPE]      ,[LICENSE_PLATE_TYPE_CONF]       ,[OCR_ENGINE_TYPE]       ,[LICENSE_PLATE_OVERALL_CONF]       ,[ROI_UPPER_LEFT_X]       ,[ROI_UPPER_LEFT_Y]       ,[ROI_LOWER_RIGHT_X]      ,[ROI_LOWER_RIGHT_Y]      ,[LICENSE_PLATE_STATUS]       ,[DAC_OCR_PLATE_STATE]       ,[DAC_OCR_PLATE_VALUE]        ,[DAC_OCR_ROI_X1]       ,[DAC_OCR_ROI_Y1]       ,[DAC_OCR_ROI_X2]       ,[DAC_OCR_ROI_Y2]       ,[CREATED_BY]       ,[DATE_CREATED]       ,[MODIFIED_BY]       ,[DATE_MODIFIED]       --,[ADDITIONAL_COMMENTS]       ,[IMAGE_LOCATION]      ,[ROI_FILE_NAME]       ,[OCR_STATUS]       ,[FAILURE_REASON]      ,[DAC_OCR_LIC_PLATE_OVERALL_CONF]      ,[OCR_SERVER]      ,[LAST_UPDATE_TYPE]       ,[LAST_UPDATE_DATE]          )  SELECT            A.[TRANSACTION_IMAGE_ID]       ,A.[TRANSACTION_FILE_DETAIL_ID]       ,A.[IMAGE_FILE_NAME]       ,A.[IMAGE_LOCATION_TYPE]       ,A.[IMAGE_FACING_CODE]      ,A.[IMAGE_SEQUENCE]       ,A.[LICENSE_PLATE_STATE]       ,A.[LICENSE_PLATE_STATE_CONF]       ,A.[LICENSE_PLATE_COUNTRY]      ,A.[LICENSE_PLATE_COUNTRY_CONF]       ,A.[LICENSE_PLATE_VALUE]       ,A.[LICENSE_PLATE_VALUE_CONF]      ,A.[LICENSE_PLATE_TYPE]      ,A.[LICENSE_PLATE_TYPE_CONF]       ,A.[OCR_ENGINE_TYPE]       ,A.[LICENSE_PLATE_OVERALL_CONF]       ,A.[ROI_UPPER_LEFT_X]       ,A.[ROI_UPPER_LEFT_Y]       ,A.[ROI_LOWER_RIGHT_X]      ,A.[ROI_LOWER_RIGHT_Y]      ,A.[LICENSE_PLATE_STATUS]       ,A.[DAC_OCR_PLATE_STATE]       ,A.[DAC_OCR_PLATE_VALUE]        ,A.[DAC_OCR_ROI_X1]       ,A.[DAC_OCR_ROI_Y1]       ,A.[DAC_OCR_ROI_X2]       ,A.[DAC_OCR_ROI_Y2]       ,A.[CREATED_BY]       ,A.[DATE_CREATED]       ,A.[MODIFIED_BY]       ,A.[DATE_MODIFIED]       --,A.[ADDITIONAL_COMMENTS]       ,A.[IMAGE_LOCATION]      ,A.[ROI_FILE_NAME]       ,A.[OCR_STATUS]       ,A.[FAILURE_REASON]      ,A.[DAC_OCR_LIC_PLATE_OVERALL_CONF]      ,A.[OCR_SERVER]      ,'I' as [LAST_UPDATE_TYPE]       ,A.INSERT_DATETIME     FROM TSA_OWNER.TRANSACTION_IMAGES_CT_INS A  LEFT JOIN TSA_OWNER.TRANSACTION_IMAGES B ON A.TRANSACTION_IMAGE_ID = B.TRANSACTION_IMAGE_ID  WHERE B.TRANSACTION_IMAGE_ID IS NULL    
--CREATE PROC [TSA_OWNER].[TRANSACTION_IMAGES_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TSA_OWNER','TRANSACTION_IMAGES'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TSA_OWNER','TRANSACTION_IMAGES_CT_UPD'  CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_UPD_001 ON TSA_OWNER.TRANSACTION_IMAGES_CT_UPD (TRANSACTION_IMAGE_ID)  CREATE STATISTICS STATS_TRANSACTION_IMAGES_CT_UPD_002 ON TSA_OWNER.TRANSACTION_IMAGES_CT_UPD (TRANSACTION_IMAGE_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#TRANSACTION_IMAGES_CT_UPD_Dups')<>0   DROP TABLE #TRANSACTION_IMAGES_CT_UPD_Dups    CREATE TABLE #TRANSACTION_IMAGES_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_IMAGE_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.TRANSACTION_IMAGE_ID, A.INSERT_DATETIME   FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD A   INNER JOIN     (     SELECT TRANSACTION_IMAGE_ID     FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD     GROUP BY TRANSACTION_IMAGE_ID     HAVING COUNT(*)>1    ) Dups ON A.TRANSACTION_IMAGE_ID = Dups.TRANSACTION_IMAGE_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#TRANSACTION_IMAGES_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #TRANSACTION_IMAGES_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #TRANSACTION_IMAGES_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_IMAGE_ID), LOCATION = USER_DB)  AS   SELECT              A.[TRANSACTION_IMAGE_ID]       ,A.[TRANSACTION_FILE_DETAIL_ID]       ,A.[IMAGE_FILE_NAME]       ,A.[IMAGE_LOCATION_TYPE]       ,A.[IMAGE_FACING_CODE]      ,A.[IMAGE_SEQUENCE]       ,A.[LICENSE_PLATE_STATE]       ,A.[LICENSE_PLATE_STATE_CONF]       ,A.[LICENSE_PLATE_COUNTRY]      ,A.[LICENSE_PLATE_COUNTRY_CONF]       ,A.[LICENSE_PLATE_VALUE]       ,A.[LICENSE_PLATE_VALUE_CONF]      ,A.[LICENSE_PLATE_TYPE]      ,A.[LICENSE_PLATE_TYPE_CONF]       ,A.[OCR_ENGINE_TYPE]       ,A.[LICENSE_PLATE_OVERALL_CONF]       ,A.[ROI_UPPER_LEFT_X]       ,A.[ROI_UPPER_LEFT_Y]       ,A.[ROI_LOWER_RIGHT_X]      ,A.[ROI_LOWER_RIGHT_Y]      ,A.[LICENSE_PLATE_STATUS]       ,A.[DAC_OCR_PLATE_STATE]       ,A.[DAC_OCR_PLATE_VALUE]        ,A.[DAC_OCR_ROI_X1]       ,A.[DAC_OCR_ROI_Y1]       ,A.[DAC_OCR_ROI_X2]       ,A.[DAC_OCR_ROI_Y2]       ,A.[CREATED_BY]       ,A.[DATE_CREATED]       ,A.[MODIFIED_BY]       ,A.[DATE_MODIFIED]      -- ,A.[ADDITIONAL_COMMENTS]       ,A.[IMAGE_LOCATION]      ,A.[ROI_FILE_NAME]       ,A.[OCR_STATUS]       ,A.[FAILURE_REASON]      ,A.[DAC_OCR_LIC_PLATE_OVERALL_CONF]      ,A.[OCR_SERVER]   ,A.INSERT_DATETIME        FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD A   INNER JOIN     (     SELECT TRANSACTION_IMAGE_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #TRANSACTION_IMAGES_CT_UPD_Dups     GROUP BY TRANSACTION_IMAGE_ID    ) LastRcrd ON A.TRANSACTION_IMAGE_ID = LastRcrd.TRANSACTION_IMAGE_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD   WHERE EXISTS(SELECT * FROM #TRANSACTION_IMAGES_CT_UPD_Dups B WHERE TSA_OWNER.TRANSACTION_IMAGES_CT_UPD.TRANSACTION_IMAGE_ID = B.TRANSACTION_IMAGE_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TSA_OWNER.TRANSACTION_IMAGES_CT_UPD    (          [TRANSACTION_IMAGE_ID]       ,[TRANSACTION_FILE_DETAIL_ID]       ,[IMAGE_FILE_NAME]       ,[IMAGE_LOCATION_TYPE]       ,[IMAGE_FACING_CODE]      ,[IMAGE_SEQUENCE]       ,[LICENSE_PLATE_STATE]       ,[LICENSE_PLATE_STATE_CONF]       ,[LICENSE_PLATE_COUNTRY]      ,[LICENSE_PLATE_COUNTRY_CONF]       ,[LICENSE_PLATE_VALUE]       ,[LICENSE_PLATE_VALUE_CONF]      ,[LICENSE_PLATE_TYPE]      ,[LICENSE_PLATE_TYPE_CONF]       ,[OCR_ENGINE_TYPE]       ,[LICENSE_PLATE_OVERALL_CONF]       ,[ROI_UPPER_LEFT_X]       ,[ROI_UPPER_LEFT_Y]       ,[ROI_LOWER_RIGHT_X]      ,[ROI_LOWER_RIGHT_Y]      ,[LICENSE_PLATE_STATUS]       ,[DAC_OCR_PLATE_STATE]       ,[DAC_OCR_PLATE_VALUE]        ,[DAC_OCR_ROI_X1]       ,[DAC_OCR_ROI_Y1]       ,[DAC_OCR_ROI_X2]       ,[DAC_OCR_ROI_Y2]       ,[CREATED_BY]       ,[DATE_CREATED]       ,[MODIFIED_BY]       ,[DATE_MODIFIED]      -- ,[ADDITIONAL_COMMENTS]       ,[IMAGE_LOCATION]      ,[ROI_FILE_NAME]       ,[OCR_STATUS]       ,[FAILURE_REASON]      ,[DAC_OCR_LIC_PLATE_OVERALL_CONF]      ,[OCR_SERVER]   , INSERT_DATETIME)  SELECT        [TRANSACTION_IMAGE_ID]       ,[TRANSACTION_FILE_DETAIL_ID]       ,[IMAGE_FILE_NAME]       ,[IMAGE_LOCATION_TYPE]       ,[IMAGE_FACING_CODE]      ,[IMAGE_SEQUENCE]       ,[LICENSE_PLATE_STATE]       ,[LICENSE_PLATE_STATE_CONF]       ,[LICENSE_PLATE_COUNTRY]      ,[LICENSE_PLATE_COUNTRY_CONF]       ,[LICENSE_PLATE_VALUE]       ,[LICENSE_PLATE_VALUE_CONF]      ,[LICENSE_PLATE_TYPE]      ,[LICENSE_PLATE_TYPE_CONF]       ,[OCR_ENGINE_TYPE]       ,[LICENSE_PLATE_OVERALL_CONF]       ,[ROI_UPPER_LEFT_X]       ,[ROI_UPPER_LEFT_Y]       ,[ROI_LOWER_RIGHT_X]      ,[ROI_LOWER_RIGHT_Y]      ,[LICENSE_PLATE_STATUS]       ,[DAC_OCR_PLATE_STATE]       ,[DAC_OCR_PLATE_VALUE]        ,[DAC_OCR_ROI_X1]       ,[DAC_OCR_ROI_Y1]       ,[DAC_OCR_ROI_X2]       ,[DAC_OCR_ROI_Y2]       ,[CREATED_BY]       ,[DATE_CREATED]       ,[MODIFIED_BY]       ,[DATE_MODIFIED]       --,[ADDITIONAL_COMMENTS]       ,[IMAGE_LOCATION]      ,[ROI_FILE_NAME]       ,[OCR_STATUS]       ,[FAILURE_REASON]      ,[DAC_OCR_LIC_PLATE_OVERALL_CONF]      ,[OCR_SERVER]   , INSERT_DATETIME    FROM #TRANSACTION_IMAGES_CT_UPD_DuplicateLastRowToReInsert     UPDATE  TSA_OWNER.TRANSACTION_IMAGES   SET       --TSA_OWNER.TRANSACTION_IMAGES.[TRANSACTION_IMAGE_ID]                 =B.[TRANSACTION_IMAGE_ID]                  TSA_OWNER.TRANSACTION_IMAGES.[TRANSACTION_FILE_DETAIL_ID]     =B.[TRANSACTION_FILE_DETAIL_ID]         ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_FILE_NAME]       =B.[IMAGE_FILE_NAME]           ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_LOCATION_TYPE]      =B.[IMAGE_LOCATION_TYPE]          ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_FACING_CODE]      =B.[IMAGE_FACING_CODE]          ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_SEQUENCE]        =B.[IMAGE_SEQUENCE]            ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_STATE]      =B.[LICENSE_PLATE_STATE]          ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_STATE_CONF]     =B.[LICENSE_PLATE_STATE_CONF]         ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_COUNTRY]     =B.[LICENSE_PLATE_COUNTRY]         ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_COUNTRY_CONF]     =B.[LICENSE_PLATE_COUNTRY_CONF]         ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_VALUE]      =B.[LICENSE_PLATE_VALUE]          ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_VALUE_CONF]    =B.[LICENSE_PLATE_VALUE_CONF]        ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_TYPE]      =B.[LICENSE_PLATE_TYPE]          ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_TYPE_CONF]     =B.[LICENSE_PLATE_TYPE_CONF]         ,TSA_OWNER.TRANSACTION_IMAGES.[OCR_ENGINE_TYPE]       =B.[OCR_ENGINE_TYPE]           ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_OVERALL_CONF]     =B.[LICENSE_PLATE_OVERALL_CONF]         ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_UPPER_LEFT_X]       =B.[ROI_UPPER_LEFT_X]           ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_UPPER_LEFT_Y]       =B.[ROI_UPPER_LEFT_Y]           ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_LOWER_RIGHT_X]      =B.[ROI_LOWER_RIGHT_X]          ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_LOWER_RIGHT_Y]      =B.[ROI_LOWER_RIGHT_Y]          ,TSA_OWNER.TRANSACTION_IMAGES.[LICENSE_PLATE_STATUS]      =B.[LICENSE_PLATE_STATUS]          ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_PLATE_STATE]      =B.[DAC_OCR_PLATE_STATE]          ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_PLATE_VALUE]       =B.[DAC_OCR_PLATE_VALUE]           ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_ROI_X1]        =B.[DAC_OCR_ROI_X1]            ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_ROI_Y1]        =B.[DAC_OCR_ROI_Y1]            ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_ROI_X2]        =B.[DAC_OCR_ROI_X2]            ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_ROI_Y2]        =B.[DAC_OCR_ROI_Y2]            ,TSA_OWNER.TRANSACTION_IMAGES.[CREATED_BY]         =B.[CREATED_BY]             ,TSA_OWNER.TRANSACTION_IMAGES.[DATE_CREATED]        =B.[DATE_CREATED]            ,TSA_OWNER.TRANSACTION_IMAGES.[MODIFIED_BY]        =B.[MODIFIED_BY]            ,TSA_OWNER.TRANSACTION_IMAGES.[DATE_MODIFIED]        =B.[DATE_MODIFIED]            --,TSA_OWNER.TRANSACTION_IMAGES.[ADDITIONAL_COMMENTS]      =B.[ADDITIONAL_COMMENTS]          ,TSA_OWNER.TRANSACTION_IMAGES.[IMAGE_LOCATION]       =B.[IMAGE_LOCATION]           ,TSA_OWNER.TRANSACTION_IMAGES.[ROI_FILE_NAME]        =B.[ROI_FILE_NAME]            ,TSA_OWNER.TRANSACTION_IMAGES.[OCR_STATUS]         =B.[OCR_STATUS]             ,TSA_OWNER.TRANSACTION_IMAGES.[FAILURE_REASON]       =B.[FAILURE_REASON]           ,TSA_OWNER.TRANSACTION_IMAGES.[DAC_OCR_LIC_PLATE_OVERALL_CONF]   =B.[DAC_OCR_LIC_PLATE_OVERALL_CONF]       ,TSA_OWNER.TRANSACTION_IMAGES.[OCR_SERVER]         =B.[OCR_SERVER]              ,TSA_OWNER.TRANSACTION_IMAGES.[LAST_UPDATE_TYPE]         ='U'          ,TSA_OWNER.TRANSACTION_IMAGES.[LAST_UPDATE_DATE]         =B.INSERT_DATETIME               FROM TSA_OWNER.TRANSACTION_IMAGES_CT_UPD B   WHERE TSA_OWNER.TRANSACTION_IMAGES.TRANSACTION_IMAGE_ID = B.TRANSACTION_IMAGE_ID  
--CREATE PROC [TSA_OWNER].[TRANSACTION_IMAGES_Update_Stats] AS    EXEC DropStats 'TSA_OWNER','TRANSACTION_IMAGES'  CREATE STATISTICS STATS_TRANSACTION_IMAGES_001 ON TSA_OWNER.TRANSACTION_IMAGES (TRANSACTION_IMAGE_ID)  CREATE STATISTICS STATS_TRANSACTION_IMAGES_002 ON TSA_OWNER.TRANSACTION_IMAGES (TRANSACTION_IMAGE_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_TRANSACTION_IMAGES_003 ON TSA_OWNER.TRANSACTION_IMAGES (LAST_UPDATE_DATE)
--CREATE PROC [TXNOWNER].[TX_IDENT_TXNS_DELETE] AS      EXEC DropStats 'TXNOWNER','TX_IDENT_TXNS_CT_DEL'  CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_DEL_001 ON TXNOWNER.TX_IDENT_TXNS_CT_DEL (TXII_ID)  CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_DEL_002 ON TXNOWNER.TX_IDENT_TXNS_CT_DEL (TXII_ID, INSERT_DATETIME)        UPDATE TXNOWNER.TX_IDENT_TXNS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TXNOWNER.TX_IDENT_TXNS_CT_DEL B  WHERE TXNOWNER.TX_IDENT_TXNS.TXII_ID = B.TXII_ID    /*   To Test With:     INSERT INTO TXNOWNER.VIOLATIONS_CT_DEL   SELECT TOP 1 * FROM TXNOWNER.VIOLATIONS_CT_DEL      SELECT * FROM TXNOWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'  */  
--CREATE PROC [TXNOWNER].[TX_IDENT_TXNS_INSERT] AS    /*   Update Stats on CT_INS table to help with de-dupping and update steps   GetFields 'TXNOWNER','TX_IDENT_TXNS'   GetInsertFields2 'TXNOWNER','TX_IDENT_TXNS'  */    EXEC DropStats 'TXNOWNER','TX_IDENT_TXNS_CT_INS'  CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_INS_001 ON TXNOWNER.TX_IDENT_TXNS_CT_INS (TXII_ID)    INSERT INTO TXNOWNER.TX_IDENT_TXNS   (    TXN_ID, RECEIVED_DATE, STATUS_FLG, TXII_ID, TXID_ID, DEVN_ID, TXUF_ID,      LAST_UPDATE_TYPE, LAST_UPDATE_DATE   )  SELECT      A.TXN_ID, A.RECEIVED_DATE, A.STATUS_FLG, A.TXII_ID, A.TXID_ID, A.DEVN_ID, A.TXUF_ID,     'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME  FROM TXNOWNER.TX_IDENT_TXNS_CT_INS A  LEFT JOIN TXNOWNER.TX_IDENT_TXNS B ON A.TXII_ID = B.TXII_ID  WHERE B.TXII_ID IS NULL    
--CREATE PROC [TXNOWNER].[TX_IDENT_TXNS_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TXNOWNER','TX_IDENT_TXNS'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TXNOWNER','TX_IDENT_TXNS_CT_UPD'  CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_UPD_001 ON TXNOWNER.TX_IDENT_TXNS_CT_UPD (TXII_ID)  CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_UPD_002 ON TXNOWNER.TX_IDENT_TXNS_CT_UPD (TXII_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#TX_IDENT_TXNS_CT_UPD_Dups')<>0   DROP TABLE #TX_IDENT_TXNS_CT_UPD_Dups    CREATE TABLE #TX_IDENT_TXNS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TXII_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.TXII_ID, A.INSERT_DATETIME   FROM TXNOWNER.TX_IDENT_TXNS_CT_UPD A   INNER JOIN     (     SELECT TXII_ID     FROM TXNOWNER.TX_IDENT_TXNS_CT_UPD     GROUP BY TXII_ID     HAVING COUNT(*)>1    ) Dups ON A.TXII_ID = Dups.TXII_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#TX_IDENT_TXNS_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #TX_IDENT_TXNS_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #TX_IDENT_TXNS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TXII_ID), LOCATION = USER_DB)  AS   SELECT  A.TXN_ID, A.RECEIVED_DATE, A.STATUS_FLG, A.TXII_ID, A.TXID_ID, A.DEVN_ID, A.TXUF_ID, A.INSERT_DATETIME   FROM TXNOWNER.TX_IDENT_TXNS_CT_UPD A   INNER JOIN     (     SELECT TXII_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #TX_IDENT_TXNS_CT_UPD_Dups     GROUP BY TXII_ID    ) LastRcrd ON A.TXII_ID = LastRcrd.TXII_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TXNOWNER.TX_IDENT_TXNS_CT_UPD   WHERE EXISTS(SELECT * FROM #TX_IDENT_TXNS_CT_UPD_Dups B WHERE TXNOWNER.TX_IDENT_TXNS_CT_UPD.TXII_ID = B.TXII_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TXNOWNER.TX_IDENT_TXNS_CT_UPD    ( TXN_ID, RECEIVED_DATE, STATUS_FLG, TXII_ID, TXID_ID, DEVN_ID, TXUF_ID, INSERT_DATETIME)  SELECT TXN_ID, RECEIVED_DATE, STATUS_FLG, TXII_ID, TXID_ID, DEVN_ID, TXUF_ID, INSERT_DATETIME  FROM #TX_IDENT_TXNS_CT_UPD_DuplicateLastRowToReInsert       UPDATE  TXNOWNER.TX_IDENT_TXNS   SET           TXNOWNER.TX_IDENT_TXNS.TXN_ID = B.TXN_ID    , TXNOWNER.TX_IDENT_TXNS.RECEIVED_DATE = B.RECEIVED_DATE    , TXNOWNER.TX_IDENT_TXNS.STATUS_FLG = B.STATUS_FLG    --, TXNOWNER.TX_IDENT_TXNS.TXII_ID = B.TXII_ID    , TXNOWNER.TX_IDENT_TXNS.TXID_ID = B.TXID_ID    , TXNOWNER.TX_IDENT_TXNS.DEVN_ID = B.DEVN_ID    , TXNOWNER.TX_IDENT_TXNS.TXUF_ID = B.TXUF_ID    , TXNOWNER.TX_IDENT_TXNS.LAST_UPDATE_TYPE = 'U'    , TXNOWNER.TX_IDENT_TXNS.LAST_UPDATE_DATE = B.INSERT_DATETIME   FROM TXNOWNER.TX_IDENT_TXNS_CT_UPD B   WHERE TXNOWNER.TX_IDENT_TXNS.TXII_ID = B.TXII_ID  
--CREATE PROC [TXNOWNER].[TX_IDENT_TXNS_Update_Stats] AS    EXEC DropStats 'TXNOWNER','TX_IDENT_TXNS'  CREATE STATISTICS STATS_TX_IDENT_TXNS_001 ON TXNOWNER.TX_IDENT_TXNS (TXII_ID)  CREATE STATISTICS STATS_TX_IDENT_TXNS_002 ON TXNOWNER.TX_IDENT_TXNS (TXII_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_TX_IDENT_TXNS_003 ON TXNOWNER.TX_IDENT_TXNS (LAST_UPDATE_DATE)
--CREATE PROC [TXNOWNER].[VIOL_TRANSACTIONS_DELETE] AS      EXEC DropStats 'TXNOWNER','VIOL_TRANSACTIONS_CT_DEL'  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_CT_DEL_001 ON TXNOWNER.VIOL_TRANSACTIONS_CT_DEL (TRANS_REC_ID)  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_CT_DEL_002 ON TXNOWNER.VIOL_TRANSACTIONS_CT_DEL (TRANS_REC_ID, INSERT_DATETIME)        UPDATE TXNOWNER.VIOL_TRANSACTIONS   SET  LAST_UPDATE_TYPE = 'D'    , LAST_UPDATE_DATE = B.INSERT_DATETIME  FROM TXNOWNER.VIOL_TRANSACTIONS_CT_DEL B  WHERE TXNOWNER.VIOL_TRANSACTIONS.TRANS_REC_ID = B.TRANS_REC_ID    /*   To Test With:     INSERT INTO TXNOWNER.VIOLATIONS_CT_DEL   SELECT TOP 1 * FROM TXNOWNER.VIOLATIONS_CT_DEL      SELECT * FROM TXNOWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'  */  
--CREATE PROC [TXNOWNER].[VIOL_TRANSACTIONS_INSERT] AS    /*   Update Stats on CT_INS table to help with de-dupping and update steps   GetFields 'TXNOWNER','VIOL_TRANSACTIONS'   GetInsertFields2 'TXNOWNER','VIOL_TRANSACTIONS'  */    EXEC DropStats 'TXNOWNER','VIOL_TRANSACTIONS_CT_INS'  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_CT_INS_001 ON TXNOWNER.VIOL_TRANSACTIONS_CT_INS (TRANS_REC_ID)    INSERT INTO TXNOWNER.VIOL_TRANSACTIONS   (    TRANS_REC_ID, HOST_TRANSACTION_ID, VIOL_DATE, PROCESS_FLAG, VIOL_SERIAL_NBR, ISF_SERIAL_NBR, LC_FLG, VIOLATION_ID, AGENCY_CODE, TAG_ID, REASON_CODE, EARNED_CLASS, EARNED_REVENUE, POSTED_DATE, POSTED_CLASS, POSTED_REVENUE, TAG_STATUS, COIN_JAM, ACM_OK, AVI_OK, TAG_CLASS, LANE_ID, VES_TIMESTAMP, CREATION_DATE, CREATED_BY, UPDATED_DATE, UPDATED_BY, DISPOSITION, HIA_AGCY_ID, VIOL_STATUS,     LAST_UPDATE_TYPE, LAST_UPDATE_DATE   )  SELECT      A.TRANS_REC_ID, A.HOST_TRANSACTION_ID, A.VIOL_DATE, A.PROCESS_FLAG, A.VIOL_SERIAL_NBR, A.ISF_SERIAL_NBR, A.LC_FLG, A.VIOLATION_ID, A.AGENCY_CODE, A.TAG_ID, A.REASON_CODE, A.EARNED_CLASS, A.EARNED_REVENUE, A.POSTED_DATE, A.POSTED_CLASS, A.POSTED_REVENUE, A.TAG_STATUS, A.COIN_JAM, A.ACM_OK, A.AVI_OK, A.TAG_CLASS, A.LANE_ID, A.VES_TIMESTAMP, A.CREATION_DATE, A.CREATED_BY, A.UPDATED_DATE, A.UPDATED_BY, A.DISPOSITION, A.HIA_AGCY_ID, A.VIOL_STATUS,     'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME  FROM TXNOWNER.VIOL_TRANSACTIONS_CT_INS A  LEFT JOIN TXNOWNER.VIOL_TRANSACTIONS B ON A.TRANS_REC_ID = B.TRANS_REC_ID  WHERE B.TRANS_REC_ID IS NULL    
--CREATE PROC [TXNOWNER].[VIOL_TRANSACTIONS_UPDATE] AS  /*   Use this proc to help write the code    GetUpdateFields 'TXNOWNER','VIOL_TRANSACTIONS'    You will have to remove the Distribution key from what it generates  */    /*   Update Stats on CT_UPD table to help with de-dupping and update steps  */    EXEC DropStats 'TXNOWNER','VIOL_TRANSACTIONS_CT_UPD'  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_CT_UPD_001 ON TXNOWNER.VIOL_TRANSACTIONS_CT_UPD (TRANS_REC_ID)  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_CT_UPD_002 ON TXNOWNER.VIOL_TRANSACTIONS_CT_UPD (TRANS_REC_ID, INSERT_DATETIME)      /*   Get Duplicate Records with the INSERT_DATETIME from the CDC Staging   */    IF OBJECT_ID('tempdb..#VIOL_TRANSACTIONS_CT_UPD_Dups')<>0   DROP TABLE #VIOL_TRANSACTIONS_CT_UPD_Dups    CREATE TABLE #VIOL_TRANSACTIONS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANS_REC_ID, INSERT_DATETIME), LOCATION = USER_DB)  AS   SELECT A.TRANS_REC_ID, A.INSERT_DATETIME   FROM TXNOWNER.VIOL_TRANSACTIONS_CT_UPD A   INNER JOIN     (     SELECT TRANS_REC_ID     FROM TXNOWNER.VIOL_TRANSACTIONS_CT_UPD     GROUP BY TRANS_REC_ID     HAVING COUNT(*)>1    ) Dups ON A.TRANS_REC_ID = Dups.TRANS_REC_ID    /*   Create temp table with Last Update   */    IF OBJECT_ID('tempdb..#VIOL_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert')<>0   DROP TABLE #VIOL_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert    CREATE TABLE #VIOL_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANS_REC_ID), LOCATION = USER_DB)  AS   SELECT  A.TRANS_REC_ID, A.HOST_TRANSACTION_ID, A.VIOL_DATE, A.PROCESS_FLAG, A.VIOL_SERIAL_NBR, A.ISF_SERIAL_NBR, A.LC_FLG, A.VIOLATION_ID, A.AGENCY_CODE, A.TAG_ID, A.REASON_CODE, A.EARNED_CLASS, A.EARNED_REVENUE, A.POSTED_DATE, A.POSTED_CLASS, A.POSTED_REVENUE, A.TAG_STATUS, A.COIN_JAM, A.ACM_OK, A.AVI_OK, A.TAG_CLASS, A.LANE_ID, A.VES_TIMESTAMP, A.CREATION_DATE, A.CREATED_BY, A.UPDATED_DATE, A.UPDATED_BY, A.DISPOSITION, A.HIA_AGCY_ID, A.VIOL_STATUS, A.INSERT_DATETIME   FROM TXNOWNER.VIOL_TRANSACTIONS_CT_UPD A   INNER JOIN     (     SELECT TRANS_REC_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME     FROM #VIOL_TRANSACTIONS_CT_UPD_Dups     GROUP BY TRANS_REC_ID    ) LastRcrd ON A.TRANS_REC_ID = LastRcrd.TRANS_REC_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME    /*   DELETE all the duplicate rows from the target  */    DELETE FROM TXNOWNER.VIOL_TRANSACTIONS_CT_UPD   WHERE EXISTS(SELECT * FROM #VIOL_TRANSACTIONS_CT_UPD_Dups B WHERE TXNOWNER.VIOL_TRANSACTIONS_CT_UPD.TRANS_REC_ID = B.TRANS_REC_ID);      /*   Re-insert the LAST ROW for Duplicates  */  INSERT INTO TXNOWNER.VIOL_TRANSACTIONS_CT_UPD    (TRANS_REC_ID, HOST_TRANSACTION_ID, VIOL_DATE, PROCESS_FLAG, VIOL_SERIAL_NBR, ISF_SERIAL_NBR, LC_FLG, VIOLATION_ID, AGENCY_CODE, TAG_ID, REASON_CODE, EARNED_CLASS, EARNED_REVENUE, POSTED_DATE, POSTED_CLASS, POSTED_REVENUE, TAG_STATUS, COIN_JAM, ACM_OK, AVI_OK, TAG_CLASS, LANE_ID, VES_TIMESTAMP, CREATION_DATE, CREATED_BY, UPDATED_DATE, UPDATED_BY, DISPOSITION, HIA_AGCY_ID, VIOL_STATUS, INSERT_DATETIME)  SELECT TRANS_REC_ID, HOST_TRANSACTION_ID, VIOL_DATE, PROCESS_FLAG, VIOL_SERIAL_NBR, ISF_SERIAL_NBR, LC_FLG, VIOLATION_ID, AGENCY_CODE, TAG_ID, REASON_CODE, EARNED_CLASS, EARNED_REVENUE, POSTED_DATE, POSTED_CLASS, POSTED_REVENUE, TAG_STATUS, COIN_JAM, ACM_OK, AVI_OK, TAG_CLASS, LANE_ID, VES_TIMESTAMP, CREATION_DATE, CREATED_BY, UPDATED_DATE, UPDATED_BY, DISPOSITION, HIA_AGCY_ID, VIOL_STATUS, INSERT_DATETIME  FROM #VIOL_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert       UPDATE  TXNOWNER.VIOL_TRANSACTIONS   SET           --TXNOWNER.VIOL_TRANSACTIONS.TRANS_REC_ID = B.TRANS_REC_ID    TXNOWNER.VIOL_TRANSACTIONS.HOST_TRANSACTION_ID = B.HOST_TRANSACTION_ID    , TXNOWNER.VIOL_TRANSACTIONS.VIOL_DATE = B.VIOL_DATE    , TXNOWNER.VIOL_TRANSACTIONS.PROCESS_FLAG = B.PROCESS_FLAG    , TXNOWNER.VIOL_TRANSACTIONS.VIOL_SERIAL_NBR = B.VIOL_SERIAL_NBR    , TXNOWNER.VIOL_TRANSACTIONS.ISF_SERIAL_NBR = B.ISF_SERIAL_NBR    , TXNOWNER.VIOL_TRANSACTIONS.LC_FLG = B.LC_FLG    , TXNOWNER.VIOL_TRANSACTIONS.VIOLATION_ID = B.VIOLATION_ID    , TXNOWNER.VIOL_TRANSACTIONS.AGENCY_CODE = B.AGENCY_CODE    , TXNOWNER.VIOL_TRANSACTIONS.TAG_ID = B.TAG_ID    , TXNOWNER.VIOL_TRANSACTIONS.REASON_CODE = B.REASON_CODE    , TXNOWNER.VIOL_TRANSACTIONS.EARNED_CLASS = B.EARNED_CLASS    , TXNOWNER.VIOL_TRANSACTIONS.EARNED_REVENUE = B.EARNED_REVENUE    , TXNOWNER.VIOL_TRANSACTIONS.POSTED_DATE = B.POSTED_DATE    , TXNOWNER.VIOL_TRANSACTIONS.POSTED_CLASS = B.POSTED_CLASS    , TXNOWNER.VIOL_TRANSACTIONS.POSTED_REVENUE = B.POSTED_REVENUE    , TXNOWNER.VIOL_TRANSACTIONS.TAG_STATUS = B.TAG_STATUS    , TXNOWNER.VIOL_TRANSACTIONS.COIN_JAM = B.COIN_JAM    , TXNOWNER.VIOL_TRANSACTIONS.ACM_OK = B.ACM_OK    , TXNOWNER.VIOL_TRANSACTIONS.AVI_OK = B.AVI_OK    , TXNOWNER.VIOL_TRANSACTIONS.TAG_CLASS = B.TAG_CLASS    , TXNOWNER.VIOL_TRANSACTIONS.LANE_ID = B.LANE_ID    , TXNOWNER.VIOL_TRANSACTIONS.VES_TIMESTAMP = B.VES_TIMESTAMP    , TXNOWNER.VIOL_TRANSACTIONS.CREATION_DATE = B.CREATION_DATE    , TXNOWNER.VIOL_TRANSACTIONS.CREATED_BY = B.CREATED_BY    , TXNOWNER.VIOL_TRANSACTIONS.UPDATED_DATE = B.UPDATED_DATE    , TXNOWNER.VIOL_TRANSACTIONS.UPDATED_BY = B.UPDATED_BY    , TXNOWNER.VIOL_TRANSACTIONS.DISPOSITION = B.DISPOSITION    , TXNOWNER.VIOL_TRANSACTIONS.HIA_AGCY_ID = B.HIA_AGCY_ID    , TXNOWNER.VIOL_TRANSACTIONS.VIOL_STATUS = B.VIOL_STATUS    , TXNOWNER.VIOL_TRANSACTIONS.LAST_UPDATE_TYPE = 'U'    , TXNOWNER.VIOL_TRANSACTIONS.LAST_UPDATE_DATE = B.INSERT_DATETIME   FROM TXNOWNER.VIOL_TRANSACTIONS_CT_UPD B   WHERE TXNOWNER.VIOL_TRANSACTIONS.TRANS_REC_ID = B.TRANS_REC_ID  
--CREATE PROC [TXNOWNER].[VIOL_TRANSACTIONS_Update_Stats] AS    EXEC DropStats 'TXNOWNER','VIOL_TRANSACTIONS'  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_001 ON TXNOWNER.VIOL_TRANSACTIONS (TRANS_REC_ID)  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_002 ON TXNOWNER.VIOL_TRANSACTIONS (TRANS_REC_ID, LAST_UPDATE_DATE)  CREATE STATISTICS STATS_VIOL_TRANSACTIONS_003 ON TXNOWNER.VIOL_TRANSACTIONS (LAST_UPDATE_DATE)
