CREATE PROC [TXNOWNER].[TA_TXN_AVI_DATAS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'TXNOWNER','TA_TXN_AVI_DATAS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TXNOWNER','TA_TXN_AVI_DATAS_CT_UPD'
CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_CT_UPD_001 ON TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD (TAD_ID)
CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_CT_UPD_002 ON TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD (TAD_ID, INSERT_DATETIME)


/*
--	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 


IF OBJECT_ID('tempdb..#TA_TXN_AVI_DATAS_CT_UPD_Dups')<>0
	DROP TABLE #TA_TXN_AVI_DATAS_CT_UPD_Dups

CREATE TABLE #TA_TXN_AVI_DATAS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TAD_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.TAD_ID, A.INSERT_DATETIME
	FROM TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD A
	INNER JOIN 
		(
			SELECT TAD_ID
			FROM TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD
			GROUP BY TAD_ID
			HAVING COUNT(*)>1
		) Dups ON A.TAD_ID = Dups.TAD_ID


--	Create temp table with Last Update 


IF OBJECT_ID('tempdb..#TA_TXN_AVI_DATAS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #TA_TXN_AVI_DATAS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #TA_TXN_AVI_DATAS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TAD_ID), LOCATION = USER_DB)
AS
	SELECT  A.AVI_READER_NBR, A.AVI_TAG_CLASS, A.AVI_TAG_ID, A.AVI_PLAZA_AND_LN_ID, A.AVI_TAG_STATUS, A.AVI_HANDSHAKE, A.AVI_YEAR, A.AVI_MONTH, A.AVI_DAY, A.AVI_HOUR, A.AVI_MINUTE, A.AVI_SECOND, A.TAD_ID, A.TART_ID, A.TAG_AGENCY, A.INSERT_DATETIME
	FROM TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD A
	INNER JOIN 
		(
			SELECT TAD_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #TA_TXN_AVI_DATAS_CT_UPD_Dups
			GROUP BY TAD_ID
		) LastRcrd ON A.TAD_ID = LastRcrd.TAD_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME


--	DELETE all the duplicate rows from the target


DELETE FROM TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD 
WHERE EXISTS(SELECT * FROM #TA_TXN_AVI_DATAS_CT_UPD_Dups B WHERE TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD.TAD_ID = B.TAD_ID);



--	Re-insert the LAST ROW for Duplicates

INSERT INTO TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD 
	( AVI_READER_NBR, AVI_TAG_CLASS, AVI_TAG_ID, AVI_PLAZA_AND_LN_ID, AVI_TAG_STATUS, AVI_HANDSHAKE, AVI_YEAR, AVI_MONTH, AVI_DAY, AVI_HOUR, AVI_MINUTE, AVI_SECOND, TAD_ID, TART_ID, TAG_AGENCY, INSERT_DATETIME)
SELECT AVI_READER_NBR, AVI_TAG_CLASS, AVI_TAG_ID, AVI_PLAZA_AND_LN_ID, AVI_TAG_STATUS, AVI_HANDSHAKE, AVI_YEAR, AVI_MONTH, AVI_DAY, AVI_HOUR, AVI_MINUTE, AVI_SECOND, TAD_ID, TART_ID, TAG_AGENCY, INSERT_DATETIME
FROM #TA_TXN_AVI_DATAS_CT_UPD_DuplicateLastRowToReInsert
*/
	UPDATE  TXNOWNER.TA_TXN_AVI_DATAS
	SET 
    
		TXNOWNER.TA_TXN_AVI_DATAS.AVI_READER_NBR = B.AVI_READER_NBR
		, TXNOWNER.TA_TXN_AVI_DATAS.AVI_TAG_CLASS = B.AVI_TAG_CLASS
		, TXNOWNER.TA_TXN_AVI_DATAS.AVI_TAG_ID = B.AVI_TAG_ID
		, TXNOWNER.TA_TXN_AVI_DATAS.AVI_PLAZA_AND_LN_ID = B.AVI_PLAZA_AND_LN_ID
		, TXNOWNER.TA_TXN_AVI_DATAS.AVI_TAG_STATUS = B.AVI_TAG_STATUS
		, TXNOWNER.TA_TXN_AVI_DATAS.AVI_HANDSHAKE = B.AVI_HANDSHAKE
		, TXNOWNER.TA_TXN_AVI_DATAS.AVI_YEAR = B.AVI_YEAR
		, TXNOWNER.TA_TXN_AVI_DATAS.AVI_MONTH = B.AVI_MONTH
		, TXNOWNER.TA_TXN_AVI_DATAS.AVI_DAY = B.AVI_DAY
		, TXNOWNER.TA_TXN_AVI_DATAS.AVI_HOUR = B.AVI_HOUR
		, TXNOWNER.TA_TXN_AVI_DATAS.AVI_MINUTE = B.AVI_MINUTE
		, TXNOWNER.TA_TXN_AVI_DATAS.AVI_SECOND = B.AVI_SECOND
		--, TXNOWNER.TA_TXN_AVI_DATAS.TAD_ID = B.TAD_ID
		--, TXNOWNER.TA_TXN_AVI_DATAS.TART_ID = B.TART_ID
		, TXNOWNER.TA_TXN_AVI_DATAS.TAG_AGENCY = B.TAG_AGENCY
		, TXNOWNER.TA_TXN_AVI_DATAS.LAST_UPDATE_TYPE = 'U'
		, TXNOWNER.TA_TXN_AVI_DATAS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TXNOWNER.TA_TXN_AVI_DATAS_CT_UPD B
	WHERE TXNOWNER.TA_TXN_AVI_DATAS.TAD_ID = B.TAD_ID

