CREATE PROC [TXNOWNER].[TX_IDENT_TXNS_DELETE] AS


EXEC DropStats 'TXNOWNER','TX_IDENT_TXNS_CT_DEL'
CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_DEL_001 ON TXNOWNER.TX_IDENT_TXNS_CT_DEL (TXII_ID)
CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_DEL_002 ON TXNOWNER.TX_IDENT_TXNS_CT_DEL (TXII_ID, INSERT_DATETIME)



UPDATE TXNOWNER.TX_IDENT_TXNS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM TXNOWNER.TX_IDENT_TXNS_CT_DEL B
WHERE TXNOWNER.TX_IDENT_TXNS.TXII_ID = B.TXII_ID
