CREATE PROC [TXNOWNER].[TX_IDENT_TXNS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'TXNOWNER','TX_IDENT_TXNS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TXNOWNER','TX_IDENT_TXNS_CT_UPD'
CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_UPD_001 ON TXNOWNER.TX_IDENT_TXNS_CT_UPD (TXII_ID)
CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_UPD_002 ON TXNOWNER.TX_IDENT_TXNS_CT_UPD (TXII_ID, INSERT_DATETIME)

	UPDATE  TXNOWNER.TX_IDENT_TXNS
	SET 
    
		TXNOWNER.TX_IDENT_TXNS.TXN_ID = B.TXN_ID
		, TXNOWNER.TX_IDENT_TXNS.RECEIVED_DATE = B.RECEIVED_DATE
		, TXNOWNER.TX_IDENT_TXNS.STATUS_FLG = B.STATUS_FLG
		, TXNOWNER.TX_IDENT_TXNS.MSG_CONTENTS = B.MSG_CONTENTS
		--, TXNOWNER.TX_IDENT_TXNS.TXII_ID = B.TXII_ID
		, TXNOWNER.TX_IDENT_TXNS.TXID_ID = B.TXID_ID
		, TXNOWNER.TX_IDENT_TXNS.DEVN_ID = B.DEVN_ID
		, TXNOWNER.TX_IDENT_TXNS.TXUF_ID = B.TXUF_ID
		, TXNOWNER.TX_IDENT_TXNS.LAST_UPDATE_TYPE = 'U'
		, TXNOWNER.TX_IDENT_TXNS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TXNOWNER.TX_IDENT_TXNS_CT_UPD B
	WHERE TXNOWNER.TX_IDENT_TXNS.TXII_ID = B.TXII_ID
