CREATE PROC [TXNOWNER].[TA_REV_TFC_EVTS_Update_Stats] AS    
--EXEC DropStats 'TXNOWNER','TA_REV_TFC_EVTS'  
--CREATE STATISTICS STATS_TA_REV_TFC_EVTS_001 ON TXNOWNER.TA_REV_TFC_EVTS (TART_ID)  
--CREATE STATISTICS STATS_TA_REV_TFC_EVTS_002 ON TXNOWNER.TA_REV_TFC_EVTS (TART_ID, LAST_UPDATE_DATE)  
--CREATE STATISTICS STATS_TA_REV_TFC_EVTS_003 ON TXNOWNER.TA_REV_TFC_EVTS (LAST_UPDATE_DATE)
	 UPDATE STATISTICS TXNOWNER.TA_REV_TFC_EVTS

