CREATE PROC [TXNOWNER].[TA_REV_TFC_EVTS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'TXNOWNER','TA_REV_TFC_EVTS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TXNOWNER','TA_REV_TFC_EVTS_CT_UPD'
CREATE STATISTICS STATS_TA_REV_TFC_EVTS_CT_UPD_001 ON TXNOWNER.TA_REV_TFC_EVTS_CT_UPD (TART_ID)
CREATE STATISTICS STATS_TA_REV_TFC_EVTS_CT_UPD_002 ON TXNOWNER.TA_REV_TFC_EVTS_CT_UPD (TART_ID, INSERT_DATETIME)


/*
--	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 

IF OBJECT_ID('tempdb..#TA_REV_TFC_EVTS_CT_UPD_Dups')<>0
	DROP TABLE #TA_REV_TFC_EVTS_CT_UPD_Dups

CREATE TABLE #TA_REV_TFC_EVTS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TART_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.TART_ID, A.INSERT_DATETIME
	FROM TXNOWNER.TA_REV_TFC_EVTS_CT_UPD A
	INNER JOIN 
		(
			SELECT TART_ID
			FROM TXNOWNER.TA_REV_TFC_EVTS_CT_UPD
			GROUP BY TART_ID
			HAVING COUNT(*)>1
		) Dups ON A.TART_ID = Dups.TART_ID


--	Create temp table with Last Update 


IF OBJECT_ID('tempdb..#TA_REV_TFC_EVTS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #TA_REV_TFC_EVTS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #TA_REV_TFC_EVTS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TART_ID), LOCATION = USER_DB)
AS
	SELECT  A.TXN_ID, A.DATE_TIME, A.EARNED_REV, A.ACTUAL_REV, A.ACTUAL_AXLES, A.CREATION_DATE, A.TART_ID, A.OPNM_ID, A.TAOC_ID, A.FACS_ID, A.PLAZ_ID, A.LANE_ID, A.TAOB_ID, A.TXID_ID, A.PMTY_ID, A.VCLY_ID, A.TAUO_ID, A.EARNED_AXLES, A.TRANSACTION_FILE_DETAIL_ID, A.INSERT_DATETIME
	FROM TXNOWNER.TA_REV_TFC_EVTS_CT_UPD A
	INNER JOIN 
		(
			SELECT TART_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #TA_REV_TFC_EVTS_CT_UPD_Dups
			GROUP BY TART_ID
		) LastRcrd ON A.TART_ID = LastRcrd.TART_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME


--	DELETE all the duplicate rows from the target


DELETE FROM TXNOWNER.TA_REV_TFC_EVTS_CT_UPD 
WHERE EXISTS(SELECT * FROM #TA_REV_TFC_EVTS_CT_UPD_Dups B WHERE TXNOWNER.TA_REV_TFC_EVTS_CT_UPD.TART_ID = B.TART_ID);



--	Re-insert the LAST ROW for Duplicates

INSERT INTO TXNOWNER.TA_REV_TFC_EVTS_CT_UPD 
	( TXN_ID, DATE_TIME, EARNED_REV, ACTUAL_REV, ACTUAL_AXLES, CREATION_DATE, TART_ID, OPNM_ID, TAOC_ID, FACS_ID, PLAZ_ID, LANE_ID, TAOB_ID, TXID_ID, PMTY_ID, VCLY_ID, TAUO_ID, EARNED_AXLES, TRANSACTION_FILE_DETAIL_ID, INSERT_DATETIME)
SELECT TXN_ID, DATE_TIME, EARNED_REV, ACTUAL_REV, ACTUAL_AXLES, CREATION_DATE, TART_ID, OPNM_ID, TAOC_ID, FACS_ID, PLAZ_ID, LANE_ID, TAOB_ID, TXID_ID, PMTY_ID, VCLY_ID, TAUO_ID, EARNED_AXLES, TRANSACTION_FILE_DETAIL_ID, INSERT_DATETIME
FROM #TA_REV_TFC_EVTS_CT_UPD_DuplicateLastRowToReInsert
*/
	UPDATE  TXNOWNER.TA_REV_TFC_EVTS
	SET 
    
		TXNOWNER.TA_REV_TFC_EVTS.TXN_ID = B.TXN_ID
		, TXNOWNER.TA_REV_TFC_EVTS.DATE_TIME = B.DATE_TIME
		, TXNOWNER.TA_REV_TFC_EVTS.EARNED_REV = B.EARNED_REV
		, TXNOWNER.TA_REV_TFC_EVTS.ACTUAL_REV = B.ACTUAL_REV
		, TXNOWNER.TA_REV_TFC_EVTS.ACTUAL_AXLES = B.ACTUAL_AXLES
		, TXNOWNER.TA_REV_TFC_EVTS.CREATION_DATE = B.CREATION_DATE
		--, TXNOWNER.TA_REV_TFC_EVTS.TART_ID = B.TART_ID
		, TXNOWNER.TA_REV_TFC_EVTS.OPNM_ID = B.OPNM_ID
		, TXNOWNER.TA_REV_TFC_EVTS.TAOC_ID = B.TAOC_ID
		, TXNOWNER.TA_REV_TFC_EVTS.FACS_ID = B.FACS_ID
		, TXNOWNER.TA_REV_TFC_EVTS.PLAZ_ID = B.PLAZ_ID
		, TXNOWNER.TA_REV_TFC_EVTS.LANE_ID = B.LANE_ID
		, TXNOWNER.TA_REV_TFC_EVTS.TAOB_ID = B.TAOB_ID
		, TXNOWNER.TA_REV_TFC_EVTS.TXID_ID = B.TXID_ID
		, TXNOWNER.TA_REV_TFC_EVTS.PMTY_ID = B.PMTY_ID
		, TXNOWNER.TA_REV_TFC_EVTS.VCLY_ID = B.VCLY_ID
		, TXNOWNER.TA_REV_TFC_EVTS.TAUO_ID = B.TAUO_ID
		, TXNOWNER.TA_REV_TFC_EVTS.EARNED_AXLES = B.EARNED_AXLES
		, TXNOWNER.TA_REV_TFC_EVTS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID
		, TXNOWNER.TA_REV_TFC_EVTS.LAST_UPDATE_TYPE = 'U'
		, TXNOWNER.TA_REV_TFC_EVTS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TXNOWNER.TA_REV_TFC_EVTS_CT_UPD B
	WHERE TXNOWNER.TA_REV_TFC_EVTS.TART_ID = B.TART_ID

