CREATE PROC [TXNOWNER].[TX_IDENT_TXNS_Update_Stats] AS    
--EXEC DropStats 'TXNOWNER','TX_IDENT_TXNS'  
--CREATE STATISTICS STATS_TX_IDENT_TXNS_001 ON TXNOWNER.TX_IDENT_TXNS (TXII_ID)  
--CREATE STATISTICS STATS_TX_IDENT_TXNS_002 ON TXNOWNER.TX_IDENT_TXNS (TXII_ID, LAST_UPDATE_DATE)  
--CREATE STATISTICS STATS_TX_IDENT_TXNS_003 ON TXNOWNER.TX_IDENT_TXNS (LAST_UPDATE_DATE)
	 UPDATE STATISTICS TXNOWNER.TX_IDENT_TXNS

