CREATE PROC [TXNOWNER].[TX_IDENT_TXNS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'TXNOWNER','TX_IDENT_TXNS'
	GetInsertFields2 'TXNOWNER','TX_IDENT_TXNS'
*/

EXEC DropStats 'TXNOWNER','TX_IDENT_TXNS_CT_INS'
CREATE STATISTICS STATS_TX_IDENT_TXNS_CT_INS_001 ON TXNOWNER.TX_IDENT_TXNS_CT_INS (TXII_ID)

INSERT INTO TXNOWNER.TX_IDENT_TXNS
	(
		TXN_ID, RECEIVED_DATE, STATUS_FLG, MSG_CONTENTS, TXII_ID, TXID_ID, DEVN_ID, TXUF_ID, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.TXN_ID, A.RECEIVED_DATE, A.STATUS_FLG, A.MSG_CONTENTS, A.TXII_ID, A.TXID_ID, A.DEVN_ID, A.TXUF_ID,
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM TXNOWNER.TX_IDENT_TXNS_CT_INS A
LEFT JOIN TXNOWNER.TX_IDENT_TXNS B ON A.TXII_ID = B.TXII_ID
WHERE B.TXII_ID IS NULL

