CREATE PROC [TXNOWNER].[TA_TXN_CLASS_DATAS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'TXNOWNER','TA_TXN_CLASS_DATAS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TXNOWNER','TA_TXN_CLASS_DATAS_CT_UPD'
CREATE STATISTICS STATS_TA_TXN_CLASS_DATAS_CT_UPD_001 ON TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD (CD_ID)
CREATE STATISTICS STATS_TA_TXN_CLASS_DATAS_CT_UPD_002 ON TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD (CD_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#TA_TXN_CLASS_DATAS_CT_UPD_Dups')<>0
	DROP TABLE #TA_TXN_CLASS_DATAS_CT_UPD_Dups

CREATE TABLE #TA_TXN_CLASS_DATAS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (CD_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.CD_ID, A.INSERT_DATETIME
	FROM TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD A
	INNER JOIN 
		(
			SELECT CD_ID
			FROM TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD
			GROUP BY CD_ID
			HAVING COUNT(*)>1
		) Dups ON A.CD_ID = Dups.CD_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#TA_TXN_CLASS_DATAS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #TA_TXN_CLASS_DATAS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #TA_TXN_CLASS_DATAS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (CD_ID), LOCATION = USER_DB)
AS
	SELECT  A.REV_AXLE_CT, A.ATT_AXLES, A.ATT_CLASS, A.ATT_FARE, A.PRE_AXLES, A.PRE_CLASS, A.PRE_FARE, A.MID_LOOP_CTS, A.ENTRY_LOOP_CTS, A.EXIT_LOOP_CTS, A.UNUSUAL_OCC_CD, A.DISCREPANCY, A.CD_ID, A.TART_ID, A.FWD_AXLE_CT, A.FWD_AXLES, A.INSERT_DATETIME
	FROM TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD A
	INNER JOIN 
		(
			SELECT CD_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #TA_TXN_CLASS_DATAS_CT_UPD_Dups
			GROUP BY CD_ID
		) LastRcrd ON A.CD_ID = LastRcrd.CD_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD 
WHERE EXISTS(SELECT * FROM #TA_TXN_CLASS_DATAS_CT_UPD_Dups B WHERE TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD.CD_ID = B.CD_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD 
	(  REV_AXLE_CT, ATT_AXLES, ATT_CLASS, ATT_FARE, PRE_AXLES, PRE_CLASS, PRE_FARE, MID_LOOP_CTS, ENTRY_LOOP_CTS, EXIT_LOOP_CTS, UNUSUAL_OCC_CD, DISCREPANCY, CD_ID, TART_ID, FWD_AXLE_CT, FWD_AXLES, INSERT_DATETIME)
SELECT REV_AXLE_CT, ATT_AXLES, ATT_CLASS, ATT_FARE, PRE_AXLES, PRE_CLASS, PRE_FARE, MID_LOOP_CTS, ENTRY_LOOP_CTS, EXIT_LOOP_CTS, UNUSUAL_OCC_CD, DISCREPANCY, CD_ID, TART_ID, FWD_AXLE_CT, FWD_AXLES, INSERT_DATETIME
FROM #TA_TXN_CLASS_DATAS_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  TXNOWNER.TA_TXN_CLASS_DATAS
	SET 
    
		TXNOWNER.TA_TXN_CLASS_DATAS.REV_AXLE_CT = B.REV_AXLE_CT
		, TXNOWNER.TA_TXN_CLASS_DATAS.ATT_AXLES = B.ATT_AXLES
		, TXNOWNER.TA_TXN_CLASS_DATAS.ATT_CLASS = B.ATT_CLASS
		, TXNOWNER.TA_TXN_CLASS_DATAS.ATT_FARE = B.ATT_FARE
		, TXNOWNER.TA_TXN_CLASS_DATAS.PRE_AXLES = B.PRE_AXLES
		, TXNOWNER.TA_TXN_CLASS_DATAS.PRE_CLASS = B.PRE_CLASS
		, TXNOWNER.TA_TXN_CLASS_DATAS.PRE_FARE = B.PRE_FARE
		, TXNOWNER.TA_TXN_CLASS_DATAS.MID_LOOP_CTS = B.MID_LOOP_CTS
		, TXNOWNER.TA_TXN_CLASS_DATAS.ENTRY_LOOP_CTS = B.ENTRY_LOOP_CTS
		, TXNOWNER.TA_TXN_CLASS_DATAS.EXIT_LOOP_CTS = B.EXIT_LOOP_CTS
		, TXNOWNER.TA_TXN_CLASS_DATAS.UNUSUAL_OCC_CD = B.UNUSUAL_OCC_CD
		, TXNOWNER.TA_TXN_CLASS_DATAS.DISCREPANCY = B.DISCREPANCY
		--, TXNOWNER.TA_TXN_CLASS_DATAS.CD_ID = B.CD_ID
		--, TXNOWNER.TA_TXN_CLASS_DATAS.TART_ID = B.TART_ID
		, TXNOWNER.TA_TXN_CLASS_DATAS.FWD_AXLE_CT = B.FWD_AXLE_CT
		, TXNOWNER.TA_TXN_CLASS_DATAS.FWD_AXLES = B.FWD_AXLES
		, TXNOWNER.TA_TXN_CLASS_DATAS.LAST_UPDATE_TYPE = 'U'
		, TXNOWNER.TA_TXN_CLASS_DATAS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TXNOWNER.TA_TXN_CLASS_DATAS_CT_UPD B
	WHERE TXNOWNER.TA_TXN_CLASS_DATAS.CD_ID = B.CD_ID

