CREATE PROC [TXNOWNER].[IOP_TRANSACTIONS_Update_Stats] AS    
--EXEC DropStats 'TXNOWNER','IOP_TRANSACTIONS'  
--CREATE STATISTICS STATS_IOP_TRANSACTIONS_001 ON TXNOWNER.IOP_TRANSACTIONS (TRANSACTION_ID)  
--CREATE STATISTICS STATS_IOP_TRANSACTIONS_002 ON TXNOWNER.IOP_TRANSACTIONS (TRANSACTION_ID, SOURCE_CODE)  
--CREATE STATISTICS STATS_IOP_TRANSACTIONS_003 ON TXNOWNER.IOP_TRANSACTIONS (TRANSACTION_ID, SOURCE_CODE, LAST_UPDATE_DATE)  
--CREATE STATISTICS STATS_IOP_TRANSACTIONS_004 ON TXNOWNER.IOP_TRANSACTIONS (LAST_UPDATE_DATE)
	 UPDATE STATISTICS TXNOWNER.IOP_TRANSACTIONS

