CREATE FUNCTION [DBO].[UFN_FORMATPHONE] (@PHONENUMBER [VARCHAR](32)) RETURNS VARCHAR(32)
AS
BEGIN      
	DECLARE  @PHONE CHAR(32)        
	SET @PHONE = @PHONENUMBER        -- CLEANSE PHONE NUMBER STRING      
	WHILE PATINDEX('%[^0-9]%',@PHONENUMBER) > 0        
	SET @PHONENUMBER = REPLACE(@PHONENUMBER, SUBSTRING(@PHONENUMBER,PATINDEX('%[^0-9]%',@PHONENUMBER),1),'')        -- SKIP FOREIGN PHONES      
	IF (SUBSTRING(@PHONENUMBER,1,1) = '1'           OR SUBSTRING(@PHONENUMBER,1,1) = '+'           OR SUBSTRING(@PHONENUMBER,1,1) = '0')         AND LEN(@PHONENUMBER) > 11        
	RETURN @PHONE        -- BUILD US STANDARD PHONE NUMBER      
	SET @PHONE = @PHONENUMBER        
	SET @PHONENUMBER = '(' + SUBSTRING(@PHONENUMBER,1,3) + ') ' +               SUBSTRING(@PHONENUMBER,4,3) + '-' + SUBSTRING(@PHONENUMBER,7,4)        
	IF LEN(@PHONE) - 10 > 1        SET @PHONENUMBER = @PHONENUMBER + ' X' + SUBSTRING(@PHONE,11,LEN(@PHONE) - 10)        
	RETURN @PHONENUMBER    
END
