CREATE VIEW [dbo].[vw_Violator] AS select	v.ViolatorID
,	v.VidSeq
,	v.CURRENT_IND
,	v.HV_NON_HV_IND
,	v.LicPlateNbr
,	v.LicPlateStateLookupID
,	v.VEHICLE_ID
,	v.DocNum
,	v.Vin
,	v.PrimaryViolatorFname
,	v.PrimaryViolatorLname
,	v.SecondaryViolatorFname
,	v.SecondaryViolatorLname
,	v.DriversLicense
,	v.DriversLicenseStateLookupID
,	v.SecondaryDriversLicense
,	v.SecondaryDriversLicenseStateLookupID
,	v.EarliestHvTranDate
,	v.LatestHvTranDate
,	v.AdminCountyLookupID
,	v.RegistrationCountyLookupID
,	v.RegistrationDateNextMonth
,	v.RegistrationDateNextYear
,	v.ViolatorAgencyLookupID	
,	v.ViolatorAddressSourceLookupID
,	v.ViolatorAddressStatusLookupID
,	v.ViolatorAddressActiveFlag
,	v.ViolatorAddressConfirmedFlag
,	v.ViolatorAddress1
,	v.ViolatorAddress2
,	v.ViolatorAddressCity
,	v.ViolatorAddressStateLookupID
,	v.ViolatorAddressZipCode
,	v.ViolatorAddressPlus4
,	v.ViolatorAddressCreatedBy
,	v.ViolatorAddressUpdatedBy
,	vs.ViolatorStatusID
,	vs.ViolatorStatusLookupID
,	vs.ViolatorStatusTermLookupID
,	vs.ViolatorStatusEligRmdyLookupID
,	vs.ViolatorStatusLetterDeterminationLookupID
,	vs.ViolatorStatusLetterBanLookupID
,	vs.ViolatorStatusLetterTermLookupID
,	vs.ViolatorStatusLetterBan2ndLookupID
,	vs.ViolatorStatusLetterVrbLookupID
,	vs.BanByProcessServer
,	vs.BanByDPS
,	vs.BanByUSMail1stBan 
,	vs.ACCT_ID
,	vs.ACCT_STATUS_CODE
,	vs.TAG_DATE_CREATED
,	vs.BanFlag
,	vs.BanCiteWarnFlag
,	vs.BanImpoundFlag
,	vs.BankruptcyInd
,	vs.BanLetterFlag
,	vs.DefaultInd
,	vs.DeterminationLetterFlag
,	vs.EligRmdyFlag
,	vs.HAS_TOLL_TAG_ACCOUNT
,	vs.HVActive
,	vs.HvExemptFlag
,	vs.HvFlag
,	vs.HVRemoved
,	vs.TermFlag
,	vs.TermLetterFlag
,	vs.VrbAcknowledged
,	vs.VrbFlag
,	vs.VrbRemoved
,	vs.VrbRemovalQueued
,	vs.Ban2ndLetterFlag
,	vs.VrbLetterFlag
,	vs.AdminFees
,	vs.BALANCE_AMOUNT
,	vs.BalanceDue
,	vs.BanCiteWarnCount
,	vs.CitationFees
,	vs.CollectableAmount
,	vs.Collections
,	vs.DownPayment
,	vs.ExcusedAmount
,	vs.HvQAmountDue
,	vs.HvQTollsDue
,	vs.HvQTransactions
,	vs.HvQFeesDue
,	vs.MonthlyPaymentAmount
,	vs.PaidInFull
,	vs.PMT_TYPE_CODE
,	vs.REBILL_AMT
,	vs.SettlementAmount
,	vs.TollTransactionCount
,	vs.TotalAmountDue
,	vs.TotalAmountDueInitial
,	vs.TotalCitationCount
,	vs.TotalFeesDue
,	vs.TotalTollsDue
,	vs.TotalTransactionsCount
,	vs.TotalTransactionsInitial
,	vs.BanDPSCount
,	vs.BanPCPCount
,	vs.BanWarnCount
,	vs.BanCitationCount
,	vs.BanImpoundCount
,	vs.BanNoActionCount
,	vs.BanFennellCount
,	v.ViolatorAddressCreateDate
,	v.ViolatorAddressUpdateDate 
,	vs.BAL_LAST_UPDATED
,	vs.BanCiteWarnDate
,	vs.BanDate
,	vs.BanImpoundDate
,	vs.BanLetterDate
,	vs.BanStartDate
,	vs.DeterminationLetterDate
,	vs.EligRmdyDate
,	vs.HvDate
,	vs.HvExemptDate
,	vs.REBILL_DATE
,	vs.TermDate
,	vs.TermLetterDate
,	vs.VrbDate
,	vs.Ban2ndLetterDate
,	vs.VrbLetterDate
,	vc.PhoneNbr
,	vc.WorkPhoneNbr
,	vc.OtherPhoneNbr
,	vc.EmailAddress
from	dbo.Violator  v
  join
		dbo.ViolatorStatus  vs
    on	v.ViolatorID = vs.ViolatorID
    and	v.VidSeq = vs.VidSeq
  join
		dbo.ViolatorContact  vc
    on	v.ViolatorID = vc.ViolatorID
    and	v.VidSeq = vc.VidSeq;
