CREATE VIEW [dbo].[cal_qtr_yr] AS select	cal_id				cal_id
,	cal_qtr_yr_bgn			cal_qtr_yr_bgn
,	cal_qtr_yr_ix			cal_qtr_yr_ix
,	cal_qtrs_yr				cal_qtrs_yr
,	cal_qtr_yr				cal_qtr_yr
,	cal_qtr_yr_sid			cal_qtr_yr_sid
,	cal_qtr_yr_desc_1		cal_qtr_yr_desc_1
,	cal_qtr_yr_desc_2		cal_qtr_yr_desc_2
from	dto.cal_qtr_yr;
