CREATE VIEW [dbo].[vw_VIOLATIONS_STATUS_DATE] AS SELECT  
		[DATE]					AS STATUS_DATE 
	, MONTH_WEEK				AS STATUS_DATEMonthWeek
	, DATE_FULL					AS STATUS_DATEDateStr 
	, DATE_YEAR_MONTH			AS STATUS_DATEYearMonth
	, DATE_QUARTER				AS STATUS_DATEQuarter
	, DATE_YEAR					AS STATUS_DATEYear
FROM dbo.DIM_DATE;
