CREATE VIEW [dbo].[cal_prd_yr] AS select	cal_id				cal_id
,	cal_prd_yr_bgn			cal_prd_yr_bgn
,	cal_prd_yr_ix			cal_prd_yr_ix
,	cal_prds_yr				cal_prds_yr
,	cal_prd_yr				cal_prd_yr
,	cal_prd_yr_sid			cal_prd_yr_sid
,	cal_prd_yr_desc_1		cal_prd_yr_desc_1
,	cal_prd_yr_desc_2		cal_prd_yr_desc_2
from	dto.cal_prd_yr;
