CREATE VIEW [dbo].[vw_VIOLATIONS_DATE_EXCUSED] AS SELECT  
		[DATE]					AS DATE_EXCUSED 
	, MONTH_WEEK				AS DATE_EXCUSEDMonthWeek
	, DATE_FULL					AS DATE_EXCUSEDDateStr 
	, DATE_YEAR_MONTH			AS DATE_EXCUSEDYearMonth
	, DATE_QUARTER				AS DATE_EXCUSEDQuarter
	, DATE_YEAR					AS DATE_EXCUSEDYear
FROM dbo.DIM_DATE;
