CREATE VIEW [dbo].[vw_ViolatorStatus_ViolatorStatusLetterVrbLookup] AS select	ViolatorStatusLetterVrbLookupID
,	[Descr] as ViolatorStatusLetterVrbLookupDesc
FROM dbo.ViolatorStatusLetterVrbLookup;
