CREATE VIEW [dbo].[vw_VIOLATIONS_RECEIVED_DATE] AS SELECT  
		[DATE]					AS RECEIVED_DATE 
	, MONTH_WEEK				AS RECEIVED_DATEMonthWeek
	, DATE_FULL					AS RECEIVED_DATEDateStr 
	, DATE_YEAR_MONTH			AS RECEIVED_DATEYearMonth
	, DATE_QUARTER				AS RECEIVED_DATEQuarter
	, DATE_YEAR					AS RECEIVED_DATEYear
FROM dbo.DIM_DATE;
