CREATE VIEW [dbo].[vw_ViolatorStatus_ViolatorStatusLetterDeterminationLookup] AS SELECT  
	  ViolatorStatusLetterDeterminationLookupId 
	, [Descr] AS ViolatorStatusLetterDetermination
FROM dbo.ViolatorStatusLetterDeterminationLookup;
