CREATE VIEW [dbo].[vw_VIOLATIONS_POST_DATE] AS SELECT  
		[DATE]					AS POST_DATE 
	, MONTH_WEEK				AS POST_DATEMonthWeek
	, DATE_FULL					AS POST_DATEDateStr 
	, DATE_YEAR_MONTH			AS POST_DATEYearMonth
	, DATE_QUARTER				AS POST_DATEQuarter
	, DATE_YEAR					AS POST_DATEYear
FROM dbo.DIM_DATE;
