CREATE VIEW [dbo].[vw_ViolatorStatus_ViolatorStatusLetterBan2ndLookup] AS select	ViolatorStatusLetterBan2ndLookupID
,	[Descr] as ViolatorStatusLetterBan2ndLookupDesc
FROM dbo.ViolatorStatusLetterBan2ndLookup;
