CREATE VIEW [dbo].[vw_VIOLATIONS_VIOL_DATE] AS SELECT  
		[DATE]					AS VIOL_DATE 
	, MONTH_WEEK				AS VIOL_DATEMonthWeek
	, DATE_FULL					AS VIOL_DATEDateStr 
	, DATE_YEAR_MONTH			AS VIOL_DATEYearMonth
	, DATE_QUARTER				AS VIOL_DATEQuarter
	, DATE_YEAR					AS VIOL_DATEYear
FROM dbo.DIM_DATE;
