CREATE VIEW [dbo].[vw_FACT_VIOLATOR_PAYMENT_day_x_cr91] AS select	f.ViolatorID	as ViolatorID
,	f.VidSeq			as VidSeq
,	f.PAYMENT_TXN_ID	as PaymentTransactionID
,	f.LicensePlateID	as ViolatorLicensePlateID
,	f.CARD_CODE			as PaymentCreditCardCode
,	f.PAYMENT_SOURCE_CODE
						as PaymentSourceCodeID
,	f.VIOL_PAY_TYPE		as ViolatorPayTypeID
,	f.PMT_TXN_TYPE		as PaymentTransactionTypeID
,	f.RETAIL_TRANS_ID	as RetailTransactionID
,	f.TRANS_AMT			as PaymentTransactionAmount
,	f.CREATED_BY		as PaymentCreatedBy
,	f.POS_NAME			as PointOfSaleName
,	f.INVOICE_TYPE		as InvoiceTypeID
,	f.INV_TOLL_AMT		as InvoiceTollAmt
,	f.INV_FEES_AMT		as InvoiceFeesAmt
,	f.AMOUNT_DUE		as PaymentDueAmt
,	cx.cal_id			as cal_id
,	cx.cal_x_mxm_id		as cal_x_mxm_id
,	cx.cal_x_1x1_id		as cal_x_1x1_id
,	cx.cal_day_bgn		as cal_day_bgn
,	cx.cal_comp_day_bgn	as cal_comp_day_bgn
,	91					as cal_role_id
from	dbo.FACT_VIOLATOR_PAYMENT  f
  join	dbo.ViolatorStatus  vs
    on	f.ViolatorID = vs.ViolatorID
    and	f.VidSeq = vs.VidSeq
  join	dto.cal_day_x  cx
    on	vs.VrbDate = cx.cal_day_x_bgn;
