CREATE VIEW [dbo].[cal_day_wk] AS select	cal_id				cal_id
,	cal_day_wk_bgn			cal_day_wk_bgn
,	cal_day_wk_ix			cal_day_wk_ix
,	cal_days_wk				cal_days_wk
,	cal_day_wk				cal_day_wk
,	cal_day_wk_sid			cal_day_wk_sid
,	cal_day_wk_desc_1		cal_day_wk_desc_1
,	cal_day_wk_desc_2		cal_day_wk_desc_2
from	dto.cal_day_wk;
