CREATE PROC [ICRS_OWNER].[ICS_FOUND_FILES_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'ICRS_OWNER','ICS_FOUND_FILES'
	GetInsertFields2 'ICRS_OWNER','ICS_FOUND_FILES'
*/

EXEC DropStats 'ICRS_OWNER','ICS_FOUND_FILES_CT_INS'
CREATE STATISTICS STATS_ICS_FOUND_FILES_CT_INS_001 ON ICRS_OWNER.ICS_FOUND_FILES_CT_INS (FF_ID)

INSERT INTO ICRS_OWNER.ICS_FOUND_FILES
	(
		FF_ID, DIR_ID, FHL_ID, FILE_FULL_NAME, FILE_SIZE_BYTES, FILE_TYPE, FILE_CREATED_DATE, DATE_FOUND, LAST_SEEN_DATE, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, STATUS, TAG_FHD_ID, ERR_COMMENT, FILE_SIZE_BYTES_OLD, ARCHIVE_LOCATION, POSTED_DATE, VIOL_DATE, IS_PRIMARY, VENDOR, DIR_NAME, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
		A.FF_ID, A.DIR_ID, A.FHL_ID, A.FILE_FULL_NAME, A.FILE_SIZE_BYTES, A.FILE_TYPE, A.FILE_CREATED_DATE, A.DATE_FOUND, A.LAST_SEEN_DATE, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, A.STATUS, A.TAG_FHD_ID, A.ERR_COMMENT, A.FILE_SIZE_BYTES_OLD, A.ARCHIVE_LOCATION, A.POSTED_DATE, A.VIOL_DATE, A.IS_PRIMARY, A.VENDOR, A.DIR_NAME, 
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM ICRS_OWNER.ICS_FOUND_FILES_CT_INS A
LEFT JOIN ICRS_OWNER.ICS_FOUND_FILES B ON A.FF_ID = B.FF_ID
WHERE B.FF_ID IS NULL


