CREATE PROC [ICRS_OWNER].[ICS_LANE_VIOL_IMAGES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'ICRS_OWNER','ICS_LANE_VIOL_IMAGES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'ICRS_OWNER','ICS_LANE_VIOL_IMAGES_CT_UPD'
CREATE STATISTICS STATS_ICS_LANE_VIOL_IMAGES_CT_UPD_001 ON ICRS_OWNER.ICS_LANE_VIOL_IMAGES_CT_UPD (LANE_VIOL_ID)
CREATE STATISTICS STATS_ICS_LANE_VIOL_IMAGES_CT_UPD_002 ON ICRS_OWNER.ICS_LANE_VIOL_IMAGES_CT_UPD (LANE_VIOL_ID, INSERT_DATETIME)


	UPDATE  ICRS_OWNER.ICS_LANE_VIOL_IMAGES
	SET 
    
		--ICRS_OWNER.ICS_LANE_VIOL_IMAGES.LANE_VIOL_ID = B.LANE_VIOL_ID
		--, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.VIOL_IMAGE_SEQ = B.VIOL_IMAGE_SEQ
		 ICRS_OWNER.ICS_LANE_VIOL_IMAGES.IMAGE_NAME = B.IMAGE_NAME
		, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.IMAGE_LOCATION = B.IMAGE_LOCATION
		, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.IMAGE_STATUS = B.IMAGE_STATUS
		, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.IS_SELECTED = B.IS_SELECTED
		, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.IS_ROI = B.IS_ROI
		, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.ARCHIVE_STATUS = B.ARCHIVE_STATUS
		, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.ARCHIVE_LOC = B.ARCHIVE_LOC
		, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.FF_ID = B.FF_ID
		, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.IS_FRONT = B.IS_FRONT
		, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.DAC_OCR_PLATE_NBR = B.DAC_OCR_PLATE_NBR
		, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.DAC_OCR_PLATE_STATE = B.DAC_OCR_PLATE_STATE
		, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.DAC_OCR_PLATE_CONFID = B.DAC_OCR_PLATE_CONFID
		, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.LAST_UPDATE_TYPE = 'U'
		, ICRS_OWNER.ICS_LANE_VIOL_IMAGES.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM 
		ICRS_OWNER.ICS_LANE_VIOL_IMAGES_CT_UPD B
	WHERE 
		ICRS_OWNER.ICS_LANE_VIOL_IMAGES.LANE_VIOL_ID = B.LANE_VIOL_ID AND
		ICRS_OWNER.ICS_LANE_VIOL_IMAGES.VIOL_IMAGE_SEQ = B.VIOL_IMAGE_SEQ
