CREATE PROC [ICRS_OWNER].[ICS_LANE_VIOL_IMAGES_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'ICRS_OWNER','ICS_LANE_VIOL_IMAGES'
	GetInsertFields2 'ICRS_OWNER','ICS_LANE_VIOL_IMAGES'
*/

EXEC DropStats 'ICRS_OWNER','ICS_LANE_VIOL_IMAGES_CT_INS'
CREATE STATISTICS STATS_ICS_LANE_VIOL_IMAGES_CT_INS_001 ON ICRS_OWNER.ICS_LANE_VIOL_IMAGES_CT_INS (LANE_VIOL_ID)
CREATE STATISTICS STATS_ICS_LANE_VIOL_IMAGES_CT_INS_002 ON ICRS_OWNER.ICS_LANE_VIOL_IMAGES_CT_INS (LANE_VIOL_ID,VIOL_IMAGE_SEQ)

INSERT INTO ICRS_OWNER.ICS_LANE_VIOL_IMAGES
	(
		 LANE_VIOL_ID, VIOL_IMAGE_SEQ, IMAGE_NAME, IMAGE_LOCATION, IMAGE_STATUS, IS_SELECTED, IS_ROI, ARCHIVE_STATUS, ARCHIVE_LOC, FF_ID, IS_FRONT, DAC_OCR_PLATE_NBR, DAC_OCR_PLATE_STATE, DAC_OCR_PLATE_CONFID,  
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
		A.LANE_VIOL_ID, A.VIOL_IMAGE_SEQ, A.IMAGE_NAME, A.IMAGE_LOCATION, A.IMAGE_STATUS, A.IS_SELECTED, A.IS_ROI, A.ARCHIVE_STATUS, A.ARCHIVE_LOC, A.FF_ID, A.IS_FRONT, A.DAC_OCR_PLATE_NBR, A.DAC_OCR_PLATE_STATE, A.DAC_OCR_PLATE_CONFID, 
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM 
	ICRS_OWNER.ICS_LANE_VIOL_IMAGES_CT_INS A LEFT JOIN 
	ICRS_OWNER.ICS_LANE_VIOL_IMAGES B 
ON 
	A.LANE_VIOL_ID = B.LANE_VIOL_ID AND
	A.VIOL_IMAGE_SEQ = B.VIOL_IMAGE_SEQ
WHERE 
	B.LANE_VIOL_ID IS NULL AND
	B.VIOL_IMAGE_SEQ IS NULL

