CREATE PROC [ICRS_OWNER].[ICS_LANE_VIOLATIONS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'ICRS_OWNER','ICS_LANE_VIOLATIONS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'ICRS_OWNER','ICS_LANE_VIOLATIONS_CT_UPD'
CREATE STATISTICS STATS_ICS_LANE_VIOLATIONS_CT_UPD_001 ON ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_UPD (LANE_VIOL_ID)
CREATE STATISTICS STATS_ICS_LANE_VIOLATIONS_CT_UPD_002 ON ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_UPD (LANE_VIOL_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/
/*
IF OBJECT_ID('tempdb..#ICS_LANE_VIOLATIONS_CT_UPD_Dups')<>0
	DROP TABLE #ICS_LANE_VIOLATIONS_CT_UPD_Dups

CREATE TABLE #ICS_LANE_VIOLATIONS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (LANE_VIOL_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.LANE_VIOL_ID, A.INSERT_DATETIME
	FROM ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_UPD A
	INNER JOIN 
		(
			SELECT LANE_VIOL_ID
			FROM ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_UPD
			GROUP BY LANE_VIOL_ID
			HAVING COUNT(*)>1
		) Dups ON A.LANE_VIOL_ID = Dups.LANE_VIOL_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#ICS_LANE_VIOLATIONS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #ICS_LANE_VIOLATIONS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #ICS_LANE_VIOLATIONS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (LANE_VIOL_ID), LOCATION = USER_DB)
AS
	SELECT  A.LANE_VIOL_ID, A.LANE_VIOL_STATUS, A.LC_PLAZA_NBR, A.LC_LANE_NBR, A.VIOL_DATE, A.TIME_NBR, A.SEQUENCE_NBR, A.LANE_MODE, A.EMPLOYEE_ID, A.VEHICLE_CLASS, A.AXLE_COUNT, A.VIOLATION_CODE, A.UNUSUAL_CODE, A.TOLL_DUE, A.TOLL_PAID, A.AGENCY_ID, A.TAG_ID, A.TAG_STATUS, A.VEHICLE_SPEED, A.CONSEC_PREV_VIOL, A.CONSEC_FOLLOW_VIOL, A.POSS_FALSE_TRIGGER, A.DEVICE_STATUS, A.FAIL_REASON, A.LIC_PLATE_NBR, A.OCR_NBR_CONFID, A.LIC_PLATE_STATE, A.OCR_STATE_CONFID, A.IMAGE_NAME, A.ROI_IMAGE_NAME, A.IMAGE_LOC, A.IMAGE_ARCHIVE_LOC, A.OCR_CONFID_CUTOFF, A.STATE_CONFID_CUTOFF, A.REVIEWED_BY, A.PRE_AUDIT_RESULT, A.AUDIT_RESULT, A.CREATED_DATE, A.MODIFIED_DATE, A.LANE_ABBREV, A.VES_NAME, A.SEQUENCE_NBR1, A.LANE_CONTROLLER_TYPE, A.REVIEW_STATUS, A.VIOL_REJECT_TYPE, A.REVIEW_DATE, A.STATUS_DATE, A.VIOL_CREATED, A.REVIEW_USER_ID, A.LC_FACILITY_CODE, A.PLAZA_CODE, A.LANE_CODE, A.LIC_PLATE_NBR_2, A.HOST_TRANSACTION_ID, A.LANE_ID, A.OCR_PLATE_NBR, A.OCR_PLATE_STATE, A.MARK_FOR_DELETE_USER_ID, A.MARK_FOR_DELETE_DATE, A.DELETE_DATE, A.FF_ID, A.REVIEW_TIME_SEC, A.DAC_OCR_PLATE_NBR, A.DAC_OCR_PLATE_STATE, A.DAC_OCR_PLATE_CONFID, A.DAC_OCR_MODIFIED_DATE, A.SOURCE_SERVER, A.FORWARD_AXLES, A.REVERSE_AXLES, A.LIC_PLATE_TYPE, A.OCR_TYPE_RESULTS, A.OCR_TYPE_CONFID, A.PLATE_AUDIT_STATUS, A.PLATE_AUDIT_TAG_ID, A.PLATE_AUDIT_AGENCY_ID, A.CERTIFIED, A.WAVELETS_PURGED_YN, A.VTOLL_DISPOSITION, A.OCR_PLATE_NBR_2ND, A.OCR_PLATE_STATE_2ND, A.OCR_NBR_CONFID_2ND, A.OCR_STATE_CONFID_2ND, A.IMAGE_NAME_2ND, A.ROI_IMAGE_NAME_2ND, A.IMAGE_LOC_2ND, A.PICKED_IMAGE_SEQ, A.PICKED_ROI_SEQ, A.FTD_ID, A.VES_NAME_2ND, A.FF_ID_2ND, A.SEQUENCE_NBR1_2ND, A.STATUS, A.REVIEW_VEHICLE_CLASS, A.PRIMARY_SIDE, A.HOST_CLOSE_DATE, A.FACS_ID, A.PLAZ_ID, A.IMAGE_TYPE, A.PICKED_IMAGE_SEQ_2ND, A.EXCUSED_EVENT_ID, A.SENT_FOR_REREVIEW, A.QA_STATUS, A.RE_REVIEWED_BY, A.RE_REVIEWED_DATE, A.LAST_QA_BY, A.LAST_QA_DATE, A.CAMERA_LIC_PLATE_NBR, A.CAMERA_LIC_PLATE_STATE, A.CAMERA_LIC_PLATE_CONFID, A.ACCESSURL, A.TRANSACTION_FILE_DETAIL_ID, A.SUBSCRIBER_ID, A.INSERT_DATETIME
	FROM ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_UPD A
	INNER JOIN 
		(
			SELECT LANE_VIOL_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #ICS_LANE_VIOLATIONS_CT_UPD_Dups
			GROUP BY LANE_VIOL_ID
		) LastRcrd ON A.LANE_VIOL_ID = LastRcrd.LANE_VIOL_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_UPD 
WHERE EXISTS(SELECT * FROM #ICS_LANE_VIOLATIONS_CT_UPD_Dups B WHERE ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_UPD.LANE_VIOL_ID = B.LANE_VIOL_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_UPD 
	(LANE_VIOL_ID, LANE_VIOL_STATUS, LC_PLAZA_NBR, LC_LANE_NBR, VIOL_DATE, TIME_NBR, SEQUENCE_NBR, LANE_MODE, EMPLOYEE_ID, VEHICLE_CLASS, AXLE_COUNT, VIOLATION_CODE, UNUSUAL_CODE, TOLL_DUE, TOLL_PAID, AGENCY_ID, TAG_ID, TAG_STATUS, VEHICLE_SPEED, CONSEC_PREV_VIOL, CONSEC_FOLLOW_VIOL, POSS_FALSE_TRIGGER, DEVICE_STATUS, FAIL_REASON, LIC_PLATE_NBR, OCR_NBR_CONFID, LIC_PLATE_STATE, OCR_STATE_CONFID, IMAGE_NAME, ROI_IMAGE_NAME, IMAGE_LOC, IMAGE_ARCHIVE_LOC, OCR_CONFID_CUTOFF, STATE_CONFID_CUTOFF, REVIEWED_BY, PRE_AUDIT_RESULT, AUDIT_RESULT, CREATED_DATE, MODIFIED_DATE, LANE_ABBREV, VES_NAME, SEQUENCE_NBR1, LANE_CONTROLLER_TYPE, REVIEW_STATUS, VIOL_REJECT_TYPE, REVIEW_DATE, STATUS_DATE, VIOL_CREATED, REVIEW_USER_ID, LC_FACILITY_CODE, PLAZA_CODE, LANE_CODE, LIC_PLATE_NBR_2, HOST_TRANSACTION_ID, LANE_ID, OCR_PLATE_NBR, OCR_PLATE_STATE, MARK_FOR_DELETE_USER_ID, MARK_FOR_DELETE_DATE, DELETE_DATE, FF_ID, REVIEW_TIME_SEC, DAC_OCR_PLATE_NBR, DAC_OCR_PLATE_STATE, DAC_OCR_PLATE_CONFID, DAC_OCR_MODIFIED_DATE, SOURCE_SERVER, FORWARD_AXLES, REVERSE_AXLES, LIC_PLATE_TYPE, OCR_TYPE_RESULTS, OCR_TYPE_CONFID, PLATE_AUDIT_STATUS, PLATE_AUDIT_TAG_ID, PLATE_AUDIT_AGENCY_ID, CERTIFIED, WAVELETS_PURGED_YN, VTOLL_DISPOSITION, OCR_PLATE_NBR_2ND, OCR_PLATE_STATE_2ND, OCR_NBR_CONFID_2ND, OCR_STATE_CONFID_2ND, IMAGE_NAME_2ND, ROI_IMAGE_NAME_2ND, IMAGE_LOC_2ND, PICKED_IMAGE_SEQ, PICKED_ROI_SEQ, FTD_ID, VES_NAME_2ND, FF_ID_2ND, SEQUENCE_NBR1_2ND, STATUS, REVIEW_VEHICLE_CLASS, PRIMARY_SIDE, HOST_CLOSE_DATE, FACS_ID, PLAZ_ID, IMAGE_TYPE, PICKED_IMAGE_SEQ_2ND, EXCUSED_EVENT_ID, SENT_FOR_REREVIEW, QA_STATUS, RE_REVIEWED_BY, RE_REVIEWED_DATE, LAST_QA_BY, LAST_QA_DATE, CAMERA_LIC_PLATE_NBR, CAMERA_LIC_PLATE_STATE, CAMERA_LIC_PLATE_CONFID, ACCESSURL, TRANSACTION_FILE_DETAIL_ID, SUBSCRIBER_ID, INSERT_DATETIME)
SELECT LANE_VIOL_ID, LANE_VIOL_STATUS, LC_PLAZA_NBR, LC_LANE_NBR, VIOL_DATE, TIME_NBR, SEQUENCE_NBR, LANE_MODE, EMPLOYEE_ID, VEHICLE_CLASS, AXLE_COUNT, VIOLATION_CODE, UNUSUAL_CODE, TOLL_DUE, TOLL_PAID, AGENCY_ID, TAG_ID, TAG_STATUS, VEHICLE_SPEED, CONSEC_PREV_VIOL, CONSEC_FOLLOW_VIOL, POSS_FALSE_TRIGGER, DEVICE_STATUS, FAIL_REASON, LIC_PLATE_NBR, OCR_NBR_CONFID, LIC_PLATE_STATE, OCR_STATE_CONFID, IMAGE_NAME, ROI_IMAGE_NAME, IMAGE_LOC, IMAGE_ARCHIVE_LOC, OCR_CONFID_CUTOFF, STATE_CONFID_CUTOFF, REVIEWED_BY, PRE_AUDIT_RESULT, AUDIT_RESULT, CREATED_DATE, MODIFIED_DATE, LANE_ABBREV, VES_NAME, SEQUENCE_NBR1, LANE_CONTROLLER_TYPE, REVIEW_STATUS, VIOL_REJECT_TYPE, REVIEW_DATE, STATUS_DATE, VIOL_CREATED, REVIEW_USER_ID, LC_FACILITY_CODE, PLAZA_CODE, LANE_CODE, LIC_PLATE_NBR_2, HOST_TRANSACTION_ID, LANE_ID, OCR_PLATE_NBR, OCR_PLATE_STATE, MARK_FOR_DELETE_USER_ID, MARK_FOR_DELETE_DATE, DELETE_DATE, FF_ID, REVIEW_TIME_SEC, DAC_OCR_PLATE_NBR, DAC_OCR_PLATE_STATE, DAC_OCR_PLATE_CONFID, DAC_OCR_MODIFIED_DATE, SOURCE_SERVER, FORWARD_AXLES, REVERSE_AXLES, LIC_PLATE_TYPE, OCR_TYPE_RESULTS, OCR_TYPE_CONFID, PLATE_AUDIT_STATUS, PLATE_AUDIT_TAG_ID, PLATE_AUDIT_AGENCY_ID, CERTIFIED, WAVELETS_PURGED_YN, VTOLL_DISPOSITION, OCR_PLATE_NBR_2ND, OCR_PLATE_STATE_2ND, OCR_NBR_CONFID_2ND, OCR_STATE_CONFID_2ND, IMAGE_NAME_2ND, ROI_IMAGE_NAME_2ND, IMAGE_LOC_2ND, PICKED_IMAGE_SEQ, PICKED_ROI_SEQ, FTD_ID, VES_NAME_2ND, FF_ID_2ND, SEQUENCE_NBR1_2ND, STATUS, REVIEW_VEHICLE_CLASS, PRIMARY_SIDE, HOST_CLOSE_DATE, FACS_ID, PLAZ_ID, IMAGE_TYPE, PICKED_IMAGE_SEQ_2ND, EXCUSED_EVENT_ID, SENT_FOR_REREVIEW, QA_STATUS, RE_REVIEWED_BY, RE_REVIEWED_DATE, LAST_QA_BY, LAST_QA_DATE, CAMERA_LIC_PLATE_NBR, CAMERA_LIC_PLATE_STATE, CAMERA_LIC_PLATE_CONFID, ACCESSURL, TRANSACTION_FILE_DETAIL_ID, SUBSCRIBER_ID, INSERT_DATETIME
FROM #ICS_LANE_VIOLATIONS_CT_UPD_DuplicateLastRowToReInsert
*/

	UPDATE  ICRS_OWNER.ICS_LANE_VIOLATIONS
	SET 
    
		 --ICRS_OWNER.ICS_LANE_VIOLATIONS.LANE_VIOL_ID = B.LANE_VIOL_ID
		 ICRS_OWNER.ICS_LANE_VIOLATIONS.LANE_VIOL_STATUS = B.LANE_VIOL_STATUS
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LC_PLAZA_NBR = B.LC_PLAZA_NBR
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LC_LANE_NBR = B.LC_LANE_NBR
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.VIOL_DATE = B.VIOL_DATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.TIME_NBR = B.TIME_NBR
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.SEQUENCE_NBR = B.SEQUENCE_NBR
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LANE_MODE = B.LANE_MODE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.EMPLOYEE_ID = B.EMPLOYEE_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.VEHICLE_CLASS = B.VEHICLE_CLASS
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.AXLE_COUNT = B.AXLE_COUNT
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.VIOLATION_CODE = B.VIOLATION_CODE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.UNUSUAL_CODE = B.UNUSUAL_CODE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.TOLL_DUE = B.TOLL_DUE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.TOLL_PAID = B.TOLL_PAID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.AGENCY_ID = B.AGENCY_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.TAG_ID = B.TAG_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.TAG_STATUS = B.TAG_STATUS
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.VEHICLE_SPEED = B.VEHICLE_SPEED
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.CONSEC_PREV_VIOL = B.CONSEC_PREV_VIOL
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.CONSEC_FOLLOW_VIOL = B.CONSEC_FOLLOW_VIOL
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.POSS_FALSE_TRIGGER = B.POSS_FALSE_TRIGGER
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.DEVICE_STATUS = B.DEVICE_STATUS
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.FAIL_REASON = B.FAIL_REASON
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LIC_PLATE_NBR = B.LIC_PLATE_NBR
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.OCR_NBR_CONFID = B.OCR_NBR_CONFID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LIC_PLATE_STATE = B.LIC_PLATE_STATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.OCR_STATE_CONFID = B.OCR_STATE_CONFID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.IMAGE_NAME = B.IMAGE_NAME
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.ROI_IMAGE_NAME = B.ROI_IMAGE_NAME
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.IMAGE_LOC = B.IMAGE_LOC
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.IMAGE_ARCHIVE_LOC = B.IMAGE_ARCHIVE_LOC
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.OCR_CONFID_CUTOFF = B.OCR_CONFID_CUTOFF
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.STATE_CONFID_CUTOFF = B.STATE_CONFID_CUTOFF
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.REVIEWED_BY = B.REVIEWED_BY
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.PRE_AUDIT_RESULT = B.PRE_AUDIT_RESULT
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.AUDIT_RESULT = B.AUDIT_RESULT
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.CREATED_DATE = B.CREATED_DATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.MODIFIED_DATE = B.MODIFIED_DATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LANE_ABBREV = B.LANE_ABBREV
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.VES_NAME = B.VES_NAME
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.SEQUENCE_NBR1 = B.SEQUENCE_NBR1
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LANE_CONTROLLER_TYPE = B.LANE_CONTROLLER_TYPE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.REVIEW_STATUS = B.REVIEW_STATUS
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.VIOL_REJECT_TYPE = B.VIOL_REJECT_TYPE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.REVIEW_DATE = B.REVIEW_DATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.STATUS_DATE = B.STATUS_DATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.VIOL_CREATED = B.VIOL_CREATED
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.REVIEW_USER_ID = B.REVIEW_USER_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LC_FACILITY_CODE = B.LC_FACILITY_CODE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.PLAZA_CODE = B.PLAZA_CODE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LANE_CODE = B.LANE_CODE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LIC_PLATE_NBR_2 = B.LIC_PLATE_NBR_2
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.HOST_TRANSACTION_ID = B.HOST_TRANSACTION_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LANE_ID = B.LANE_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.OCR_PLATE_NBR = B.OCR_PLATE_NBR
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.OCR_PLATE_STATE = B.OCR_PLATE_STATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.MARK_FOR_DELETE_USER_ID = B.MARK_FOR_DELETE_USER_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.MARK_FOR_DELETE_DATE = B.MARK_FOR_DELETE_DATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.DELETE_DATE = B.DELETE_DATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.FF_ID = B.FF_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.REVIEW_TIME_SEC = B.REVIEW_TIME_SEC
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.DAC_OCR_PLATE_NBR = B.DAC_OCR_PLATE_NBR
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.DAC_OCR_PLATE_STATE = B.DAC_OCR_PLATE_STATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.DAC_OCR_PLATE_CONFID = B.DAC_OCR_PLATE_CONFID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.DAC_OCR_MODIFIED_DATE = B.DAC_OCR_MODIFIED_DATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.SOURCE_SERVER = B.SOURCE_SERVER
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.FORWARD_AXLES = B.FORWARD_AXLES
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.REVERSE_AXLES = B.REVERSE_AXLES
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LIC_PLATE_TYPE = B.LIC_PLATE_TYPE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.OCR_TYPE_RESULTS = B.OCR_TYPE_RESULTS
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.OCR_TYPE_CONFID = B.OCR_TYPE_CONFID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.PLATE_AUDIT_STATUS = B.PLATE_AUDIT_STATUS
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.PLATE_AUDIT_TAG_ID = B.PLATE_AUDIT_TAG_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.PLATE_AUDIT_AGENCY_ID = B.PLATE_AUDIT_AGENCY_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.CERTIFIED = B.CERTIFIED
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.WAVELETS_PURGED_YN = B.WAVELETS_PURGED_YN
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.VTOLL_DISPOSITION = B.VTOLL_DISPOSITION
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.OCR_PLATE_NBR_2ND = B.OCR_PLATE_NBR_2ND
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.OCR_PLATE_STATE_2ND = B.OCR_PLATE_STATE_2ND
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.OCR_NBR_CONFID_2ND = B.OCR_NBR_CONFID_2ND
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.OCR_STATE_CONFID_2ND = B.OCR_STATE_CONFID_2ND
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.IMAGE_NAME_2ND = B.IMAGE_NAME_2ND
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.ROI_IMAGE_NAME_2ND = B.ROI_IMAGE_NAME_2ND
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.IMAGE_LOC_2ND = B.IMAGE_LOC_2ND
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.PICKED_IMAGE_SEQ = B.PICKED_IMAGE_SEQ
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.PICKED_ROI_SEQ = B.PICKED_ROI_SEQ
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.FTD_ID = B.FTD_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.VES_NAME_2ND = B.VES_NAME_2ND
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.FF_ID_2ND = B.FF_ID_2ND
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.SEQUENCE_NBR1_2ND = B.SEQUENCE_NBR1_2ND
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.STATUS = B.STATUS
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.REVIEW_VEHICLE_CLASS = B.REVIEW_VEHICLE_CLASS
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.PRIMARY_SIDE = B.PRIMARY_SIDE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.HOST_CLOSE_DATE = B.HOST_CLOSE_DATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.FACS_ID = B.FACS_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.PLAZ_ID = B.PLAZ_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.IMAGE_TYPE = B.IMAGE_TYPE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.PICKED_IMAGE_SEQ_2ND = B.PICKED_IMAGE_SEQ_2ND
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.EXCUSED_EVENT_ID = B.EXCUSED_EVENT_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.SENT_FOR_REREVIEW = B.SENT_FOR_REREVIEW
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.QA_STATUS = B.QA_STATUS
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.RE_REVIEWED_BY = B.RE_REVIEWED_BY
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.RE_REVIEWED_DATE = B.RE_REVIEWED_DATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LAST_QA_BY = B.LAST_QA_BY
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LAST_QA_DATE = B.LAST_QA_DATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.CAMERA_LIC_PLATE_NBR = B.CAMERA_LIC_PLATE_NBR
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.CAMERA_LIC_PLATE_STATE = B.CAMERA_LIC_PLATE_STATE
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.CAMERA_LIC_PLATE_CONFID = B.CAMERA_LIC_PLATE_CONFID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.ACCESSURL = B.ACCESSURL
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.SUBSCRIBER_ID = B.SUBSCRIBER_ID
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LAST_UPDATE_TYPE = 'U'
		, ICRS_OWNER.ICS_LANE_VIOLATIONS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_UPD B
	WHERE ICRS_OWNER.ICS_LANE_VIOLATIONS.LANE_VIOL_ID = B.LANE_VIOL_ID

