CREATE PROC [ICRS_OWNER].[ICS_LANE_VIOLATIONS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'ICRS_OWNER','ICS_LANE_VIOLATIONS'
	GetInsertFields2 'ICRS_OWNER','ICS_LANE_VIOLATIONS'
*/

EXEC DropStats 'ICRS_OWNER','ICS_LANE_VIOLATIONS_CT_INS'
CREATE STATISTICS STATS_ICS_LANE_VIOLATIONS_CT_INS_001 ON ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_INS (LANE_VIOL_ID)

INSERT INTO ICRS_OWNER.ICS_LANE_VIOLATIONS
	(
		LANE_VIOL_ID, LANE_VIOL_STATUS, LC_PLAZA_NBR, LC_LANE_NBR, VIOL_DATE, TIME_NBR, SEQUENCE_NBR, LANE_MODE, EMPLOYEE_ID, VEHICLE_CLASS, AXLE_COUNT, VIOLATION_CODE, UNUSUAL_CODE, TOLL_DUE, TOLL_PAID, AGENCY_ID, TAG_ID, TAG_STATUS, VEHICLE_SPEED, CONSEC_PREV_VIOL, CONSEC_FOLLOW_VIOL, POSS_FALSE_TRIGGER, DEVICE_STATUS, FAIL_REASON, LIC_PLATE_NBR, OCR_NBR_CONFID, LIC_PLATE_STATE, OCR_STATE_CONFID, IMAGE_NAME, ROI_IMAGE_NAME, IMAGE_LOC, IMAGE_ARCHIVE_LOC, OCR_CONFID_CUTOFF, STATE_CONFID_CUTOFF, REVIEWED_BY, PRE_AUDIT_RESULT, AUDIT_RESULT, CREATED_DATE, MODIFIED_DATE, LANE_ABBREV, VES_NAME, SEQUENCE_NBR1, LANE_CONTROLLER_TYPE, REVIEW_STATUS, VIOL_REJECT_TYPE, REVIEW_DATE, STATUS_DATE, VIOL_CREATED, REVIEW_USER_ID, LC_FACILITY_CODE, PLAZA_CODE, LANE_CODE, LIC_PLATE_NBR_2, HOST_TRANSACTION_ID, LANE_ID, OCR_PLATE_NBR, OCR_PLATE_STATE, MARK_FOR_DELETE_USER_ID, MARK_FOR_DELETE_DATE, DELETE_DATE, FF_ID, REVIEW_TIME_SEC, DAC_OCR_PLATE_NBR, DAC_OCR_PLATE_STATE, DAC_OCR_PLATE_CONFID, DAC_OCR_MODIFIED_DATE, SOURCE_SERVER, FORWARD_AXLES, REVERSE_AXLES, LIC_PLATE_TYPE, OCR_TYPE_RESULTS, OCR_TYPE_CONFID, PLATE_AUDIT_STATUS, PLATE_AUDIT_TAG_ID, PLATE_AUDIT_AGENCY_ID, CERTIFIED, WAVELETS_PURGED_YN, VTOLL_DISPOSITION, OCR_PLATE_NBR_2ND, OCR_PLATE_STATE_2ND, OCR_NBR_CONFID_2ND, OCR_STATE_CONFID_2ND, IMAGE_NAME_2ND, ROI_IMAGE_NAME_2ND, IMAGE_LOC_2ND, PICKED_IMAGE_SEQ, PICKED_ROI_SEQ, FTD_ID, VES_NAME_2ND, FF_ID_2ND, SEQUENCE_NBR1_2ND, STATUS, REVIEW_VEHICLE_CLASS, PRIMARY_SIDE, HOST_CLOSE_DATE, FACS_ID, PLAZ_ID, IMAGE_TYPE, PICKED_IMAGE_SEQ_2ND, EXCUSED_EVENT_ID, SENT_FOR_REREVIEW, QA_STATUS, RE_REVIEWED_BY, RE_REVIEWED_DATE, LAST_QA_BY, LAST_QA_DATE, CAMERA_LIC_PLATE_NBR, CAMERA_LIC_PLATE_STATE, CAMERA_LIC_PLATE_CONFID, ACCESSURL, TRANSACTION_FILE_DETAIL_ID, SUBSCRIBER_ID, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
		A.LANE_VIOL_ID, A.LANE_VIOL_STATUS, A.LC_PLAZA_NBR, A.LC_LANE_NBR, A.VIOL_DATE, A.TIME_NBR, A.SEQUENCE_NBR, A.LANE_MODE, A.EMPLOYEE_ID, A.VEHICLE_CLASS, A.AXLE_COUNT, A.VIOLATION_CODE, A.UNUSUAL_CODE, A.TOLL_DUE, A.TOLL_PAID, A.AGENCY_ID, A.TAG_ID, A.TAG_STATUS, A.VEHICLE_SPEED, A.CONSEC_PREV_VIOL, A.CONSEC_FOLLOW_VIOL, A.POSS_FALSE_TRIGGER, A.DEVICE_STATUS, A.FAIL_REASON, A.LIC_PLATE_NBR, A.OCR_NBR_CONFID, A.LIC_PLATE_STATE, A.OCR_STATE_CONFID, A.IMAGE_NAME, A.ROI_IMAGE_NAME, A.IMAGE_LOC, A.IMAGE_ARCHIVE_LOC, A.OCR_CONFID_CUTOFF, A.STATE_CONFID_CUTOFF, A.REVIEWED_BY, A.PRE_AUDIT_RESULT, A.AUDIT_RESULT, A.CREATED_DATE, A.MODIFIED_DATE, A.LANE_ABBREV, A.VES_NAME, A.SEQUENCE_NBR1, A.LANE_CONTROLLER_TYPE, A.REVIEW_STATUS, A.VIOL_REJECT_TYPE, A.REVIEW_DATE, A.STATUS_DATE, A.VIOL_CREATED, A.REVIEW_USER_ID, A.LC_FACILITY_CODE, A.PLAZA_CODE, A.LANE_CODE, A.LIC_PLATE_NBR_2, A.HOST_TRANSACTION_ID, A.LANE_ID, A.OCR_PLATE_NBR, A.OCR_PLATE_STATE, A.MARK_FOR_DELETE_USER_ID, A.MARK_FOR_DELETE_DATE, A.DELETE_DATE, A.FF_ID, A.REVIEW_TIME_SEC, A.DAC_OCR_PLATE_NBR, A.DAC_OCR_PLATE_STATE, A.DAC_OCR_PLATE_CONFID, A.DAC_OCR_MODIFIED_DATE, A.SOURCE_SERVER, A.FORWARD_AXLES, A.REVERSE_AXLES, A.LIC_PLATE_TYPE, A.OCR_TYPE_RESULTS, A.OCR_TYPE_CONFID, A.PLATE_AUDIT_STATUS, A.PLATE_AUDIT_TAG_ID, A.PLATE_AUDIT_AGENCY_ID, A.CERTIFIED, A.WAVELETS_PURGED_YN, A.VTOLL_DISPOSITION, A.OCR_PLATE_NBR_2ND, A.OCR_PLATE_STATE_2ND, A.OCR_NBR_CONFID_2ND, A.OCR_STATE_CONFID_2ND, A.IMAGE_NAME_2ND, A.ROI_IMAGE_NAME_2ND, A.IMAGE_LOC_2ND, A.PICKED_IMAGE_SEQ, A.PICKED_ROI_SEQ, A.FTD_ID, A.VES_NAME_2ND, A.FF_ID_2ND, A.SEQUENCE_NBR1_2ND, A.STATUS, A.REVIEW_VEHICLE_CLASS, A.PRIMARY_SIDE, A.HOST_CLOSE_DATE, A.FACS_ID, A.PLAZ_ID, A.IMAGE_TYPE, A.PICKED_IMAGE_SEQ_2ND, A.EXCUSED_EVENT_ID, A.SENT_FOR_REREVIEW, A.QA_STATUS, A.RE_REVIEWED_BY, A.RE_REVIEWED_DATE, A.LAST_QA_BY, A.LAST_QA_DATE, A.CAMERA_LIC_PLATE_NBR, A.CAMERA_LIC_PLATE_STATE, A.CAMERA_LIC_PLATE_CONFID, A.ACCESSURL, A.TRANSACTION_FILE_DETAIL_ID, A.SUBSCRIBER_ID, 
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_INS A
LEFT JOIN ICRS_OWNER.ICS_LANE_VIOLATIONS B ON A.LANE_VIOL_ID = B.LANE_VIOL_ID
WHERE B.LANE_VIOL_ID IS NULL


