CREATE PROC [ICRS_OWNER].[ICS_FOUND_FILES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'ICRS_OWNER','ICS_FOUND_FILES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'ICRS_OWNER','ICS_FOUND_FILES_CT_UPD'
CREATE STATISTICS STATS_ICS_FOUND_FILES_CT_UPD_001 ON ICRS_OWNER.ICS_FOUND_FILES_CT_UPD (FF_ID)
CREATE STATISTICS STATS_ICS_FOUND_FILES_CT_UPD_002 ON ICRS_OWNER.ICS_FOUND_FILES_CT_UPD (FF_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/
/*
IF OBJECT_ID('tempdb..#ICS_FOUND_FILES_CT_UPD_Dups')<>0
	DROP TABLE #ICS_FOUND_FILES_CT_UPD_Dups

CREATE TABLE #ICS_FOUND_FILES_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (FF_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.FF_ID, A.INSERT_DATETIME
	FROM ICRS_OWNER.ICS_FOUND_FILES_CT_UPD A
	INNER JOIN 
		(
			SELECT FF_ID
			FROM ICRS_OWNER.ICS_FOUND_FILES_CT_UPD
			GROUP BY FF_ID
			HAVING COUNT(*)>1
		) Dups ON A.FF_ID = Dups.FF_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#ICS_FOUND_FILES_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #ICS_FOUND_FILES_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #ICS_FOUND_FILES_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (FF_ID), LOCATION = USER_DB)
AS
	SELECT  A.FF_ID, A.DIR_ID, A.FHL_ID, A.FILE_FULL_NAME, A.FILE_SIZE_BYTES, A.FILE_TYPE, A.FILE_CREATED_DATE, A.DATE_FOUND, A.LAST_SEEN_DATE, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, A.STATUS, A.TAG_FHD_ID, A.ERR_COMMENT, A.FILE_SIZE_BYTES_OLD, A.ARCHIVE_LOCATION, A.POSTED_DATE, A.VIOL_DATE, A.IS_PRIMARY, A.VENDOR, A.DIR_NAME, A.INSERT_DATETIME
	FROM ICRS_OWNER.ICS_FOUND_FILES_CT_UPD A
	INNER JOIN 
		(
			SELECT FF_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #ICS_FOUND_FILES_CT_UPD_Dups
			GROUP BY FF_ID
		) LastRcrd ON A.FF_ID = LastRcrd.FF_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM ICRS_OWNER.ICS_FOUND_FILES_CT_UPD 
WHERE EXISTS(SELECT * FROM #ICS_FOUND_FILES_CT_UPD_Dups B WHERE ICRS_OWNER.ICS_FOUND_FILES_CT_UPD.FF_ID = B.FF_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO ICRS_OWNER.ICS_FOUND_FILES_CT_UPD 
	( FF_ID, DIR_ID, FHL_ID, FILE_FULL_NAME, FILE_SIZE_BYTES, FILE_TYPE, FILE_CREATED_DATE, DATE_FOUND, LAST_SEEN_DATE, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, STATUS, TAG_FHD_ID, ERR_COMMENT, FILE_SIZE_BYTES_OLD, ARCHIVE_LOCATION, POSTED_DATE, VIOL_DATE, IS_PRIMARY, VENDOR, DIR_NAME, INSERT_DATETIME)
SELECT FF_ID, DIR_ID, FHL_ID, FILE_FULL_NAME, FILE_SIZE_BYTES, FILE_TYPE, FILE_CREATED_DATE, DATE_FOUND, LAST_SEEN_DATE, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, STATUS, TAG_FHD_ID, ERR_COMMENT, FILE_SIZE_BYTES_OLD, ARCHIVE_LOCATION, POSTED_DATE, VIOL_DATE, IS_PRIMARY, VENDOR, DIR_NAME, INSERT_DATETIME
FROM #ICS_FOUND_FILES_CT_UPD_DuplicateLastRowToReInsert
*/

	UPDATE  ICRS_OWNER.ICS_FOUND_FILES
	SET 
    
		--ICRS_OWNER.ICS_FOUND_FILES.FF_ID = B.FF_ID
		ICRS_OWNER.ICS_FOUND_FILES.DIR_ID = B.DIR_ID
		, ICRS_OWNER.ICS_FOUND_FILES.FHL_ID = B.FHL_ID
		, ICRS_OWNER.ICS_FOUND_FILES.FILE_FULL_NAME = B.FILE_FULL_NAME
		, ICRS_OWNER.ICS_FOUND_FILES.FILE_SIZE_BYTES = B.FILE_SIZE_BYTES
		, ICRS_OWNER.ICS_FOUND_FILES.FILE_TYPE = B.FILE_TYPE
		, ICRS_OWNER.ICS_FOUND_FILES.FILE_CREATED_DATE = B.FILE_CREATED_DATE
		, ICRS_OWNER.ICS_FOUND_FILES.DATE_FOUND = B.DATE_FOUND
		, ICRS_OWNER.ICS_FOUND_FILES.LAST_SEEN_DATE = B.LAST_SEEN_DATE
		, ICRS_OWNER.ICS_FOUND_FILES.DATE_CREATED = B.DATE_CREATED
		, ICRS_OWNER.ICS_FOUND_FILES.CREATED_BY = B.CREATED_BY
		, ICRS_OWNER.ICS_FOUND_FILES.DATE_MODIFIED = B.DATE_MODIFIED
		, ICRS_OWNER.ICS_FOUND_FILES.MODIFIED_BY = B.MODIFIED_BY
		, ICRS_OWNER.ICS_FOUND_FILES.STATUS = B.STATUS
		, ICRS_OWNER.ICS_FOUND_FILES.TAG_FHD_ID = B.TAG_FHD_ID
		, ICRS_OWNER.ICS_FOUND_FILES.ERR_COMMENT = B.ERR_COMMENT
		, ICRS_OWNER.ICS_FOUND_FILES.FILE_SIZE_BYTES_OLD = B.FILE_SIZE_BYTES_OLD
		, ICRS_OWNER.ICS_FOUND_FILES.ARCHIVE_LOCATION = B.ARCHIVE_LOCATION
		, ICRS_OWNER.ICS_FOUND_FILES.POSTED_DATE = B.POSTED_DATE
		, ICRS_OWNER.ICS_FOUND_FILES.VIOL_DATE = B.VIOL_DATE
		, ICRS_OWNER.ICS_FOUND_FILES.IS_PRIMARY = B.IS_PRIMARY
		, ICRS_OWNER.ICS_FOUND_FILES.VENDOR = B.VENDOR
		, ICRS_OWNER.ICS_FOUND_FILES.DIR_NAME = B.DIR_NAME
		, ICRS_OWNER.ICS_FOUND_FILES.LAST_UPDATE_TYPE = 'U'
		, ICRS_OWNER.ICS_FOUND_FILES.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM ICRS_OWNER.ICS_FOUND_FILES_CT_UPD B
	WHERE ICRS_OWNER.ICS_FOUND_FILES.FF_ID = B.FF_ID

