CREATE PROC [ICRS_OWNER].[ICS_LANE_VIOLATIONS_DELETE] AS


EXEC DropStats 'ICRS_OWNER','ICS_LANE_VIOLATIONS_CT_DEL'
CREATE STATISTICS STATS_ICS_LANE_VIOLATIONS_CT_DEL_001 ON ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_DEL (LANE_VIOL_ID)
CREATE STATISTICS STATS_ICS_LANE_VIOLATIONS_CT_DEL_002 ON ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_DEL (LANE_VIOL_ID, INSERT_DATETIME)



UPDATE ICRS_OWNER.ICS_LANE_VIOLATIONS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM ICRS_OWNER.ICS_LANE_VIOLATIONS_CT_DEL B
WHERE ICRS_OWNER.ICS_LANE_VIOLATIONS.LANE_VIOL_ID = B.LANE_VIOL_ID

/*
	To Test With:

	INSERT INTO ICRS_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM ICRS_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM ICRS_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

