CREATE PROC [ICRS_OWNER].[ICS_FOUND_FILES_Update_Stats] AS

EXEC DropStats 'ICRS_OWNER','ICS_FOUND_FILES'
CREATE STATISTICS STATS_ICS_FOUND_FILES_001 ON ICRS_OWNER.ICS_FOUND_FILES (FF_ID)
CREATE STATISTICS STATS_ICS_FOUND_FILES_002 ON ICRS_OWNER.ICS_FOUND_FILES (FF_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_ICS_FOUND_FILES_003 ON ICRS_OWNER.ICS_FOUND_FILES (LAST_UPDATE_DATE)
