CREATE PROC [ICRS_OWNER].[ICS_LANE_VIOL_IMAGES_DELETE] AS


EXEC DropStats 'ICRS_OWNER','ICS_LANE_VIOL_IMAGES_CT_DEL'
CREATE STATISTICS STATS_ICS_LANE_VIOL_IMAGES_CT_DEL_001 ON ICRS_OWNER.ICS_LANE_VIOL_IMAGES_CT_DEL (LANE_VIOL_ID)
CREATE STATISTICS STATS_ICS_LANE_VIOL_IMAGES_CT_DEL_002 ON ICRS_OWNER.ICS_LANE_VIOL_IMAGES_CT_DEL (LANE_VIOL_ID, INSERT_DATETIME)



UPDATE ICRS_OWNER.ICS_LANE_VIOL_IMAGES
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM 
	ICRS_OWNER.ICS_LANE_VIOL_IMAGES_CT_DEL B
WHERE 
	ICRS_OWNER.ICS_LANE_VIOL_IMAGES.LANE_VIOL_ID = B.LANE_VIOL_ID AND 
	ICRS_OWNER.ICS_LANE_VIOL_IMAGES.VIOL_IMAGE_SEQ = B.VIOL_IMAGE_SEQ



