CREATE PROC [ICRS_OWNER].[ICS_LANE_VIOLATIONS_Update_Stats] AS

EXEC DropStats 'ICRS_OWNER','ICS_LANE_VIOLATIONS'
CREATE STATISTICS STATS_ICS_LANE_VIOLATIONS_001 ON ICRS_OWNER.ICS_LANE_VIOLATIONS (LANE_VIOL_ID)
CREATE STATISTICS STATS_ICS_LANE_VIOLATIONS_002 ON ICRS_OWNER.ICS_LANE_VIOLATIONS (LANE_VIOL_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_ICS_LANE_VIOLATIONS_003 ON ICRS_OWNER.ICS_LANE_VIOLATIONS (LAST_UPDATE_DATE)
