CREATE PROC [DBO].[VIOLATIONS_DEDUP_COMBINED_INIT_LOAD] AS 

/*
	Find the duplicates using the distribution key and the Primary key of the table
	This keeps the table from re-distributing 
*/

IF OBJECT_ID('VIOLATIONS_DUPS_KEY')<>0
	DROP TABLE dbo.VIOLATIONS_DUPS_KEY

CREATE TABLE dbo.VIOLATIONS_DUPS_KEY WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VIOLATION_ID))
AS 
-- EXPLAIN
SELECT VIOLATION_ID, COUNT(*) AS RowCnt
FROM VP_OWNER.VIOLATIONS
GROUP BY VIOLATION_ID
HAVING COUNT(*)>1

/*
	Get the Distinct key lookup values plus the max LAST_UPDATE_DATE from Attunity timestamp
	This will be used to ensure we get the latest row values 
	
*/

IF OBJECT_ID('VIOLATIONS_DUPS_LAST_UPDATE')<>0
	DROP TABLE dbo.VIOLATIONS_DUPS_LAST_UPDATE

CREATE TABLE dbo.VIOLATIONS_DUPS_LAST_UPDATE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VIOLATION_ID))
AS 
-- EXPLAIN
SELECT DISTINCT A.VIOLATION_ID, MAX(LAST_UPDATE_DATE) AS LAST_UPDATE_DATE
FROM VP_OWNER.VIOLATIONS A
INNER JOIN dbo.VIOLATIONS_DUPS_KEY B ON A.VIOLATION_ID = B.VIOLATION_ID
GROUP BY A.VIOLATION_ID
OPTION (LABEL = 'VIOLATIONS_DUPS_LAST_UPDATE: VIOLATIONS_DUPS_LAST_UPDATE');

/*
	Get the Distinct row values for the duplicate records. 
	to protect against getting 2 non distinct rows. we also want the max LAST_UPDATE_DATE from Attunity timestamp
	This ensures we not only get the distinct row values but also the latest row
*/

IF OBJECT_ID('VIOLATIONS_DUPS_DISTINCT_RECORDS')<>0
	DROP TABLE dbo.VIOLATIONS_DUPS_DISTINCT_RECORDS

CREATE TABLE dbo.VIOLATIONS_DUPS_DISTINCT_RECORDS WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VIOLATION_ID))
AS 
-- EXPLAIN
SELECT DISTINCT  A.VIOLATOR_ID, A.VIOLATION_ID, LANE_ID, VIOL_DATE, VIOL_TIME, VIOL_MICRO_TIME, VIOL_TYPE, TOLL_DUE, TOLL_PAID, LIC_PLATE_NBR, LIC_PLATE_STATE, VEHICLE_CLASS, VIOL_STATUS, STATUS_DATE, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_COLOR, VEHICLE_YEAR, VEHICLE_BODY, OCCUPANT_DESCR, NO_PAY_ATTEMPT, WINDOW_UP, RECORDED_BY, RECORDER_EMP_ID, DRIVER_LIC_NBR, DRIVER_LIC_STATE, TOLLTAG_ACCT_ID, TAG_ID, AGENCY_ID, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, EXCUSED_REASON, EXCUSED_BY, DATE_EXCUSED, REVIEW_STATUS, LANE_VIOL_ID, NOTIFICATION_DATE, OLD_VIOLATOR_ID, TRANSACTION_ID, DISPOSITION, COMMENT_DATE, UNPAID_TOLL_DATE, HOST_TRANSACTION_ID, VIO_VIOLATION_ID, ICRS_DATE_CREATED, ORIGIN_TYPE, CURRENT_TYPE, TRANSACTION_FILE_DETAIL_ID, POST_DATE, LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM VP_OWNER.VIOLATIONS A
INNER JOIN dbo.VIOLATIONS_DUPS_LAST_UPDATE B ON A.VIOLATION_ID = B.VIOLATION_ID  AND A.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
OPTION (LABEL = 'VIOLATIONS_DUPS_LAST_UPDATE: VIOLATIONS_DUPS_DISTINCT_RECORDS');
/*
	DELETE all the duplicate rows from the target
*/
DELETE FROM VP_OWNER.VIOLATIONS 
WHERE EXISTS(SELECT * FROM dbo.VIOLATIONS_DUPS_KEY B WHERE VP_OWNER.VIOLATIONS.VIOLATION_ID = B.VIOLATION_ID)
OPTION (LABEL = 'VIOLATIONS_DUPS_LAST_UPDATE: DELETE FROM VP_OWNER.VIOLATIONS ');
/*
	Re-insert the distinct row values
*/

INSERT INTO VP_OWNER.VIOLATIONS(VIOLATOR_ID, VIOLATION_ID, LANE_ID, VIOL_DATE, VIOL_TIME, VIOL_MICRO_TIME, VIOL_TYPE, TOLL_DUE, TOLL_PAID, LIC_PLATE_NBR, LIC_PLATE_STATE, VEHICLE_CLASS, VIOL_STATUS, STATUS_DATE, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_COLOR, VEHICLE_YEAR, VEHICLE_BODY, OCCUPANT_DESCR, NO_PAY_ATTEMPT, WINDOW_UP, RECORDED_BY, RECORDER_EMP_ID, DRIVER_LIC_NBR, DRIVER_LIC_STATE, TOLLTAG_ACCT_ID, TAG_ID, AGENCY_ID, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, EXCUSED_REASON, EXCUSED_BY, DATE_EXCUSED, REVIEW_STATUS, LANE_VIOL_ID, NOTIFICATION_DATE, OLD_VIOLATOR_ID, TRANSACTION_ID, DISPOSITION, COMMENT_DATE, UNPAID_TOLL_DATE, HOST_TRANSACTION_ID, VIO_VIOLATION_ID, ICRS_DATE_CREATED, ORIGIN_TYPE, CURRENT_TYPE, TRANSACTION_FILE_DETAIL_ID, POST_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT VIOLATOR_ID, VIOLATION_ID, LANE_ID, VIOL_DATE, VIOL_TIME, VIOL_MICRO_TIME, VIOL_TYPE, TOLL_DUE, TOLL_PAID, LIC_PLATE_NBR, LIC_PLATE_STATE, VEHICLE_CLASS, VIOL_STATUS, STATUS_DATE, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_COLOR, VEHICLE_YEAR, VEHICLE_BODY, OCCUPANT_DESCR, NO_PAY_ATTEMPT, WINDOW_UP, RECORDED_BY, RECORDER_EMP_ID, DRIVER_LIC_NBR, DRIVER_LIC_STATE, TOLLTAG_ACCT_ID, TAG_ID, AGENCY_ID, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, EXCUSED_REASON, EXCUSED_BY, DATE_EXCUSED, REVIEW_STATUS, LANE_VIOL_ID, NOTIFICATION_DATE, OLD_VIOLATOR_ID, TRANSACTION_ID, DISPOSITION, COMMENT_DATE, UNPAID_TOLL_DATE, HOST_TRANSACTION_ID, VIO_VIOLATION_ID, ICRS_DATE_CREATED, ORIGIN_TYPE, CURRENT_TYPE, TRANSACTION_FILE_DETAIL_ID, POST_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM dbo.VIOLATIONS_DUPS_DISTINCT_RECORDS
OPTION (LABEL = 'VIOLATIONS_DUPS_LAST_UPDATE: INSERT INTO VP_OWNER.VIOLATIONS');

--SELECT COUNT(*) AS VIOLATIONS_DUPS_KEY FROM VIOLATIONS_DUPS_KEY
--SELECT COUNT(*) AS VIOLATIONS_DUPS_DISTINCT_RECORDS FROM VIOLATIONS_DUPS_DISTINCT_RECORDS
--SELECT COUNT(*) AS VIOLATIONS_DUPS_DISTINCT_RECORDS FROM VIOLATIONS_DUPS_DISTINCT_RECORDS

IF OBJECT_ID('VIOLATIONS_DUPS_KEY')<>0
	DROP TABLE dbo.VIOLATIONS_DUPS_KEY
	
IF OBJECT_ID('VIOLATIONS_DUPS_DISTINCT_RECORDS')<>0
	DROP TABLE dbo.VIOLATIONS_DUPS_DISTINCT_RECORDS

IF OBJECT_ID('VIOLATIONS_DUPS_DISTINCT_RECORDS')<>0
	DROP TABLE dbo.VIOLATIONS_DUPS_DISTINCT_RECORDS

/*
	-- -- -- -- -- -- -- -- -- -- -- -- 
	-- Check for Dups again
	-- This would be a DataMonitor
	-- top portion would be a stored proc
	-- -- -- -- -- -- -- -- -- -- -- -- 
	SELECT VIOLATION_ID, COUNT(*) AS RowCnt
	FROM lnd_lg_vps.VP_OWNER.VIOLATIONS
	GROUP BY VIOLATION_ID
	HAVING COUNT(*)>1
*/



