CREATE PROC [DBO].[LANE_VIOLATIONS_COMBINE_INIT_LOAD] AS 

TRUNCATE TABLE VP_OWNER.LANE_VIOLATIONS

INSERT INTO VP_OWNER.LANE_VIOLATIONS
( LANE_VIOL_ID, LANE_VIOL_STATUS, LC_PLAZA_NBR, LC_LANE_NBR, VIOL_DATE, TIME_NBR, SEQUENCE_NBR, LANE_MODE, EMPLOYEE_ID
	, VEHICLE_CLASS, AXLE_COUNT, VIOLATION_CODE, UNUSUAL_CODE, TOLL_DUE, TOLL_PAID, AGENCY_ID
	, TAG_ID, TAG_STATUS, VEHICLE_SPEED
	, CONSEC_PREV_VIOL, CONSEC_FOLLOW_VIOL, POSS_FALSE_TRIGGER, DEVICE_STATUS, FAIL_REASON, LIC_PLATE_NBR, OCR_NBR_CONFID
	, LIC_PLATE_STATE, OCR_STATE_CONFID, IMAGE_NAME, ROI_IMAGE_NAME, IMAGE_LOC, IMAGE_ARCHIVE_LOC, OCR_CONFID_CUTOFF
	, STATE_CONFID_CUTOFF, REVIEWED_BY, PRE_AUDIT_RESULT, AUDIT_RESULT, CREATED_DATE, MODIFIED_DATE, LANE_ABBREV, VES_NAME
	, SEQUENCE_NBR1, LANE_CONTROLLER_TYPE, REVIEW_STATUS, VIOL_REJECT_TYPE, REVIEW_DATE, STATUS_DATE, VIOL_CREATED, REVIEW_USER_ID, LC_FACILITY_CODE, PLAZA_CODE, LANE_CODE, LIC_PLATE_NBR_2, HOST_TRANSACTION_ID, LANE_ID, OCR_PLATE_NBR, OCR_PLATE_STATE, DAC_OCR_MODIFIED_DATE, DAC_OCR_PLATE_CONFID, DAC_OCR_PLATE_NBR, DAC_OCR_PLATE_STATE, SOURCE_SERVER, CAMERA_LIC_PLATE_NBR, CAMERA_LIC_PLATE_STATE, CAMERA_LIC_PLATE_CONFID, TRANSACTION_FILE_DETAIL_ID, SUBSCRIBER_ID, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT  LANE_VIOL_ID, LANE_VIOL_STATUS, LC_PLAZA_NBR, LC_LANE_NBR, VIOL_DATE, TIME_NBR, SEQUENCE_NBR, LANE_MODE, EMPLOYEE_ID
	, VEHICLE_CLASS, AXLE_COUNT, VIOLATION_CODE, UNUSUAL_CODE, TOLL_DUE, TOLL_PAID, AGENCY_ID
	, ISNULL(TAG_ID,(LANE_VIOL_ID%100000)*-1) AS TAG_ID, TAG_STATUS, VEHICLE_SPEED
	, CONSEC_PREV_VIOL, CONSEC_FOLLOW_VIOL, POSS_FALSE_TRIGGER, DEVICE_STATUS, FAIL_REASON, LIC_PLATE_NBR, OCR_NBR_CONFID
	, LIC_PLATE_STATE, OCR_STATE_CONFID, IMAGE_NAME, ROI_IMAGE_NAME, IMAGE_LOC, IMAGE_ARCHIVE_LOC, OCR_CONFID_CUTOFF
	, STATE_CONFID_CUTOFF, REVIEWED_BY, PRE_AUDIT_RESULT, AUDIT_RESULT, CREATED_DATE, MODIFIED_DATE, LANE_ABBREV, VES_NAME
	, SEQUENCE_NBR1, LANE_CONTROLLER_TYPE, REVIEW_STATUS, VIOL_REJECT_TYPE, REVIEW_DATE, STATUS_DATE, VIOL_CREATED, REVIEW_USER_ID, LC_FACILITY_CODE, PLAZA_CODE, LANE_CODE, LIC_PLATE_NBR_2, HOST_TRANSACTION_ID, LANE_ID, OCR_PLATE_NBR, OCR_PLATE_STATE, DAC_OCR_MODIFIED_DATE, DAC_OCR_PLATE_CONFID, DAC_OCR_PLATE_NBR, DAC_OCR_PLATE_STATE, SOURCE_SERVER, CAMERA_LIC_PLATE_NBR, CAMERA_LIC_PLATE_STATE, CAMERA_LIC_PLATE_CONFID, TRANSACTION_FILE_DETAIL_ID, SUBSCRIBER_ID, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM 
(
	SELECT  LANE_VIOL_ID, LANE_VIOL_STATUS, LC_PLAZA_NBR, LC_LANE_NBR, VIOL_DATE, TIME_NBR, SEQUENCE_NBR, LANE_MODE, EMPLOYEE_ID, VEHICLE_CLASS, AXLE_COUNT, VIOLATION_CODE, UNUSUAL_CODE, TOLL_DUE, TOLL_PAID, AGENCY_ID, TAG_ID, TAG_STATUS, VEHICLE_SPEED, CONSEC_PREV_VIOL, CONSEC_FOLLOW_VIOL, POSS_FALSE_TRIGGER, DEVICE_STATUS, FAIL_REASON, LIC_PLATE_NBR, OCR_NBR_CONFID, LIC_PLATE_STATE, OCR_STATE_CONFID, IMAGE_NAME, ROI_IMAGE_NAME, IMAGE_LOC, IMAGE_ARCHIVE_LOC, OCR_CONFID_CUTOFF, STATE_CONFID_CUTOFF, REVIEWED_BY, PRE_AUDIT_RESULT, AUDIT_RESULT, CREATED_DATE, MODIFIED_DATE, LANE_ABBREV, VES_NAME, SEQUENCE_NBR1, LANE_CONTROLLER_TYPE, REVIEW_STATUS, VIOL_REJECT_TYPE, REVIEW_DATE, STATUS_DATE, VIOL_CREATED, REVIEW_USER_ID, LC_FACILITY_CODE, PLAZA_CODE, LANE_CODE, LIC_PLATE_NBR_2, HOST_TRANSACTION_ID, LANE_ID, OCR_PLATE_NBR, OCR_PLATE_STATE, DAC_OCR_MODIFIED_DATE, DAC_OCR_PLATE_CONFID, DAC_OCR_PLATE_NBR, DAC_OCR_PLATE_STATE, SOURCE_SERVER, CAMERA_LIC_PLATE_NBR, CAMERA_LIC_PLATE_STATE, CAMERA_LIC_PLATE_CONFID, TRANSACTION_FILE_DETAIL_ID, SUBSCRIBER_ID, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.LANE_VIOLATIONS_2010
	UNION ALL
	SELECT  LANE_VIOL_ID, LANE_VIOL_STATUS, LC_PLAZA_NBR, LC_LANE_NBR, VIOL_DATE, TIME_NBR, SEQUENCE_NBR, LANE_MODE, EMPLOYEE_ID, VEHICLE_CLASS, AXLE_COUNT, VIOLATION_CODE, UNUSUAL_CODE, TOLL_DUE, TOLL_PAID, AGENCY_ID, TAG_ID, TAG_STATUS, VEHICLE_SPEED, CONSEC_PREV_VIOL, CONSEC_FOLLOW_VIOL, POSS_FALSE_TRIGGER, DEVICE_STATUS, FAIL_REASON, LIC_PLATE_NBR, OCR_NBR_CONFID, LIC_PLATE_STATE, OCR_STATE_CONFID, IMAGE_NAME, ROI_IMAGE_NAME, IMAGE_LOC, IMAGE_ARCHIVE_LOC, OCR_CONFID_CUTOFF, STATE_CONFID_CUTOFF, REVIEWED_BY, PRE_AUDIT_RESULT, AUDIT_RESULT, CREATED_DATE, MODIFIED_DATE, LANE_ABBREV, VES_NAME, SEQUENCE_NBR1, LANE_CONTROLLER_TYPE, REVIEW_STATUS, VIOL_REJECT_TYPE, REVIEW_DATE, STATUS_DATE, VIOL_CREATED, REVIEW_USER_ID, LC_FACILITY_CODE, PLAZA_CODE, LANE_CODE, LIC_PLATE_NBR_2, HOST_TRANSACTION_ID, LANE_ID, OCR_PLATE_NBR, OCR_PLATE_STATE, DAC_OCR_MODIFIED_DATE, DAC_OCR_PLATE_CONFID, DAC_OCR_PLATE_NBR, DAC_OCR_PLATE_STATE, SOURCE_SERVER, CAMERA_LIC_PLATE_NBR, CAMERA_LIC_PLATE_STATE, CAMERA_LIC_PLATE_CONFID, TRANSACTION_FILE_DETAIL_ID, SUBSCRIBER_ID, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.LANE_VIOLATIONS_2011
	UNION ALL
	SELECT  LANE_VIOL_ID, LANE_VIOL_STATUS, LC_PLAZA_NBR, LC_LANE_NBR, VIOL_DATE, TIME_NBR, SEQUENCE_NBR, LANE_MODE, EMPLOYEE_ID, VEHICLE_CLASS, AXLE_COUNT, VIOLATION_CODE, UNUSUAL_CODE, TOLL_DUE, TOLL_PAID, AGENCY_ID, TAG_ID, TAG_STATUS, VEHICLE_SPEED, CONSEC_PREV_VIOL, CONSEC_FOLLOW_VIOL, POSS_FALSE_TRIGGER, DEVICE_STATUS, FAIL_REASON, LIC_PLATE_NBR, OCR_NBR_CONFID, LIC_PLATE_STATE, OCR_STATE_CONFID, IMAGE_NAME, ROI_IMAGE_NAME, IMAGE_LOC, IMAGE_ARCHIVE_LOC, OCR_CONFID_CUTOFF, STATE_CONFID_CUTOFF, REVIEWED_BY, PRE_AUDIT_RESULT, AUDIT_RESULT, CREATED_DATE, MODIFIED_DATE, LANE_ABBREV, VES_NAME, SEQUENCE_NBR1, LANE_CONTROLLER_TYPE, REVIEW_STATUS, VIOL_REJECT_TYPE, REVIEW_DATE, STATUS_DATE, VIOL_CREATED, REVIEW_USER_ID, LC_FACILITY_CODE, PLAZA_CODE, LANE_CODE, LIC_PLATE_NBR_2, HOST_TRANSACTION_ID, LANE_ID, OCR_PLATE_NBR, OCR_PLATE_STATE, DAC_OCR_MODIFIED_DATE, DAC_OCR_PLATE_CONFID, DAC_OCR_PLATE_NBR, DAC_OCR_PLATE_STATE, SOURCE_SERVER, CAMERA_LIC_PLATE_NBR, CAMERA_LIC_PLATE_STATE, CAMERA_LIC_PLATE_CONFID, TRANSACTION_FILE_DETAIL_ID, SUBSCRIBER_ID, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.LANE_VIOLATIONS_2012
	UNION ALL
	SELECT  LANE_VIOL_ID, LANE_VIOL_STATUS, LC_PLAZA_NBR, LC_LANE_NBR, VIOL_DATE, TIME_NBR, SEQUENCE_NBR, LANE_MODE, EMPLOYEE_ID, VEHICLE_CLASS, AXLE_COUNT, VIOLATION_CODE, UNUSUAL_CODE, TOLL_DUE, TOLL_PAID, AGENCY_ID, TAG_ID, TAG_STATUS, VEHICLE_SPEED, CONSEC_PREV_VIOL, CONSEC_FOLLOW_VIOL, POSS_FALSE_TRIGGER, DEVICE_STATUS, FAIL_REASON, LIC_PLATE_NBR, OCR_NBR_CONFID, LIC_PLATE_STATE, OCR_STATE_CONFID, IMAGE_NAME, ROI_IMAGE_NAME, IMAGE_LOC, IMAGE_ARCHIVE_LOC, OCR_CONFID_CUTOFF, STATE_CONFID_CUTOFF, REVIEWED_BY, PRE_AUDIT_RESULT, AUDIT_RESULT, CREATED_DATE, MODIFIED_DATE, LANE_ABBREV, VES_NAME, SEQUENCE_NBR1, LANE_CONTROLLER_TYPE, REVIEW_STATUS, VIOL_REJECT_TYPE, REVIEW_DATE, STATUS_DATE, VIOL_CREATED, REVIEW_USER_ID, LC_FACILITY_CODE, PLAZA_CODE, LANE_CODE, LIC_PLATE_NBR_2, HOST_TRANSACTION_ID, LANE_ID, OCR_PLATE_NBR, OCR_PLATE_STATE, DAC_OCR_MODIFIED_DATE, DAC_OCR_PLATE_CONFID, DAC_OCR_PLATE_NBR, DAC_OCR_PLATE_STATE, SOURCE_SERVER, CAMERA_LIC_PLATE_NBR, CAMERA_LIC_PLATE_STATE, CAMERA_LIC_PLATE_CONFID, TRANSACTION_FILE_DETAIL_ID, SUBSCRIBER_ID, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.LANE_VIOLATIONS_2013
	UNION ALL
	SELECT  LANE_VIOL_ID, LANE_VIOL_STATUS, LC_PLAZA_NBR, LC_LANE_NBR, VIOL_DATE, TIME_NBR, SEQUENCE_NBR, LANE_MODE, EMPLOYEE_ID, VEHICLE_CLASS, AXLE_COUNT, VIOLATION_CODE, UNUSUAL_CODE, TOLL_DUE, TOLL_PAID, AGENCY_ID, TAG_ID, TAG_STATUS, VEHICLE_SPEED, CONSEC_PREV_VIOL, CONSEC_FOLLOW_VIOL, POSS_FALSE_TRIGGER, DEVICE_STATUS, FAIL_REASON, LIC_PLATE_NBR, OCR_NBR_CONFID, LIC_PLATE_STATE, OCR_STATE_CONFID, IMAGE_NAME, ROI_IMAGE_NAME, IMAGE_LOC, IMAGE_ARCHIVE_LOC, OCR_CONFID_CUTOFF, STATE_CONFID_CUTOFF, REVIEWED_BY, PRE_AUDIT_RESULT, AUDIT_RESULT, CREATED_DATE, MODIFIED_DATE, LANE_ABBREV, VES_NAME, SEQUENCE_NBR1, LANE_CONTROLLER_TYPE, REVIEW_STATUS, VIOL_REJECT_TYPE, REVIEW_DATE, STATUS_DATE, VIOL_CREATED, REVIEW_USER_ID, LC_FACILITY_CODE, PLAZA_CODE, LANE_CODE, LIC_PLATE_NBR_2, HOST_TRANSACTION_ID, LANE_ID, OCR_PLATE_NBR, OCR_PLATE_STATE, DAC_OCR_MODIFIED_DATE, DAC_OCR_PLATE_CONFID, DAC_OCR_PLATE_NBR, DAC_OCR_PLATE_STATE, SOURCE_SERVER, CAMERA_LIC_PLATE_NBR, CAMERA_LIC_PLATE_STATE, CAMERA_LIC_PLATE_CONFID, TRANSACTION_FILE_DETAIL_ID, SUBSCRIBER_ID, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.LANE_VIOLATIONS_2014
	UNION ALL
	SELECT  LANE_VIOL_ID, LANE_VIOL_STATUS, LC_PLAZA_NBR, LC_LANE_NBR, VIOL_DATE, TIME_NBR, SEQUENCE_NBR, LANE_MODE, EMPLOYEE_ID, VEHICLE_CLASS, AXLE_COUNT, VIOLATION_CODE, UNUSUAL_CODE, TOLL_DUE, TOLL_PAID, AGENCY_ID, TAG_ID, TAG_STATUS, VEHICLE_SPEED, CONSEC_PREV_VIOL, CONSEC_FOLLOW_VIOL, POSS_FALSE_TRIGGER, DEVICE_STATUS, FAIL_REASON, LIC_PLATE_NBR, OCR_NBR_CONFID, LIC_PLATE_STATE, OCR_STATE_CONFID, IMAGE_NAME, ROI_IMAGE_NAME, IMAGE_LOC, IMAGE_ARCHIVE_LOC, OCR_CONFID_CUTOFF, STATE_CONFID_CUTOFF, REVIEWED_BY, PRE_AUDIT_RESULT, AUDIT_RESULT, CREATED_DATE, MODIFIED_DATE, LANE_ABBREV, VES_NAME, SEQUENCE_NBR1, LANE_CONTROLLER_TYPE, REVIEW_STATUS, VIOL_REJECT_TYPE, REVIEW_DATE, STATUS_DATE, VIOL_CREATED, REVIEW_USER_ID, LC_FACILITY_CODE, PLAZA_CODE, LANE_CODE, LIC_PLATE_NBR_2, HOST_TRANSACTION_ID, LANE_ID, OCR_PLATE_NBR, OCR_PLATE_STATE, DAC_OCR_MODIFIED_DATE, DAC_OCR_PLATE_CONFID, DAC_OCR_PLATE_NBR, DAC_OCR_PLATE_STATE, SOURCE_SERVER, CAMERA_LIC_PLATE_NBR, CAMERA_LIC_PLATE_STATE, CAMERA_LIC_PLATE_CONFID, TRANSACTION_FILE_DETAIL_ID, SUBSCRIBER_ID, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.LANE_VIOLATIONS_2015
	UNION ALL
	SELECT  LANE_VIOL_ID, LANE_VIOL_STATUS, LC_PLAZA_NBR, LC_LANE_NBR, VIOL_DATE, TIME_NBR, SEQUENCE_NBR, LANE_MODE, EMPLOYEE_ID, VEHICLE_CLASS, AXLE_COUNT, VIOLATION_CODE, UNUSUAL_CODE, TOLL_DUE, TOLL_PAID, AGENCY_ID, TAG_ID, TAG_STATUS, VEHICLE_SPEED, CONSEC_PREV_VIOL, CONSEC_FOLLOW_VIOL, POSS_FALSE_TRIGGER, DEVICE_STATUS, FAIL_REASON, LIC_PLATE_NBR, OCR_NBR_CONFID, LIC_PLATE_STATE, OCR_STATE_CONFID, IMAGE_NAME, ROI_IMAGE_NAME, IMAGE_LOC, IMAGE_ARCHIVE_LOC, OCR_CONFID_CUTOFF, STATE_CONFID_CUTOFF, REVIEWED_BY, PRE_AUDIT_RESULT, AUDIT_RESULT, CREATED_DATE, MODIFIED_DATE, LANE_ABBREV, VES_NAME, SEQUENCE_NBR1, LANE_CONTROLLER_TYPE, REVIEW_STATUS, VIOL_REJECT_TYPE, REVIEW_DATE, STATUS_DATE, VIOL_CREATED, REVIEW_USER_ID, LC_FACILITY_CODE, PLAZA_CODE, LANE_CODE, LIC_PLATE_NBR_2, HOST_TRANSACTION_ID, LANE_ID, OCR_PLATE_NBR, OCR_PLATE_STATE, DAC_OCR_MODIFIED_DATE, DAC_OCR_PLATE_CONFID, DAC_OCR_PLATE_NBR, DAC_OCR_PLATE_STATE, SOURCE_SERVER, CAMERA_LIC_PLATE_NBR, CAMERA_LIC_PLATE_STATE, CAMERA_LIC_PLATE_CONFID, TRANSACTION_FILE_DETAIL_ID, SUBSCRIBER_ID, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.LANE_VIOLATIONS_PRE_2010
) SUBQuery
OPTION (LABEL = 'LANE_VIOLATIONS_COMBINE_INIT_LOAD: LOAD LANE_VIOLATIONS');






