CREATE PROC [DBO].[VPS_HOST_TRANSACTIONS_COMBINE_INIT_LOAD] AS 
 
TRUNCATE TABLE VP_OWNER.VPS_HOST_TRANSACTIONS

INSERT INTO VP_OWNER.VPS_HOST_TRANSACTIONS
(TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID
	, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE
	, TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID
	, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE
	, ISNULL(TAG_ID,(TRANSACTION_ID%8000)*-1) AS TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM 
(
	SELECT TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.VPS_HOST_TRANSACTIONS_2010
	UNION ALL
	SELECT TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.VPS_HOST_TRANSACTIONS_2011
	UNION ALL
	SELECT TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.VPS_HOST_TRANSACTIONS_2012
	UNION ALL
	SELECT TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.VPS_HOST_TRANSACTIONS_2013
	UNION ALL
	SELECT TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.VPS_HOST_TRANSACTIONS_2014
	UNION ALL
	SELECT TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.VPS_HOST_TRANSACTIONS_2015
	UNION ALL
	SELECT TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	FROM VP_OWNER.VPS_HOST_TRANSACTIONS_PRE_2010
) SUBQuery

OPTION (LABEL = 'VPS_HOST_TRANSACTIONS_COMBINE_INIT_LOAD: LOAD VPS_HOST_TRANSACTIONS');







