CREATE PROC [DBO].[VPS_HOST_TRANSACTIONS_DEDUP_COMBINED_INIT_LOAD] AS 

/*
	Find the duplicates using the distribution key and the Primary key of the table
	This keeps the table from re-distributing 
*/

IF OBJECT_ID('VPS_HOST_TRANSACTIONS_DUPS_KEY')<>0
	DROP TABLE dbo.VPS_HOST_TRANSACTIONS_DUPS_KEY

CREATE TABLE dbo.VPS_HOST_TRANSACTIONS_DUPS_KEY WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_ID))
AS 
-- EXPLAIN
SELECT TRANSACTION_ID, COUNT(*) AS RowCnt
FROM VP_OWNER.VPS_HOST_TRANSACTIONS
GROUP BY TRANSACTION_ID
HAVING COUNT(*)>1
OPTION (LABEL = 'VPS_HOST_TRANSACTIONS_DEDUP_COMBINED_INIT_LOAD: LOAD VPS_HOST_TRANSACTIONS_DUPS_KEY');
/*
	Get the Distinct key lookup values plus the max LAST_UPDATE_DATE from Attunity timestamp
	This will be used to ensure we get the latest row values 
	
*/

IF OBJECT_ID('VPS_HOST_TRANSACTIONS_DUPS_LAST_UPDATE')<>0
	DROP TABLE dbo.VPS_HOST_TRANSACTIONS_DUPS_LAST_UPDATE

CREATE TABLE dbo.VPS_HOST_TRANSACTIONS_DUPS_LAST_UPDATE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_ID))
AS 
-- EXPLAIN
SELECT DISTINCT A.TRANSACTION_ID, MAX(LAST_UPDATE_DATE) AS LAST_UPDATE_DATE
FROM VP_OWNER.VPS_HOST_TRANSACTIONS A
INNER JOIN dbo.VPS_HOST_TRANSACTIONS_DUPS_KEY B ON A.TRANSACTION_ID = B.TRANSACTION_ID
GROUP BY A.TRANSACTION_ID
OPTION (LABEL = 'VPS_HOST_TRANSACTIONS_DEDUP_COMBINED_INIT_LOAD: LOAD VPS_HOST_TRANSACTIONS_DUPS_LAST_UPDATE');

/*
	Get the Distinct row values for the duplicate records. 
	to protect against getting 2 non distinct rows. we also want the max LAST_UPDATE_DATE from Attunity timestamp
	This ensures we not only get the distinct row values but also the latest row
*/

IF OBJECT_ID('VPS_HOST_TRANSACTIONS_DUPS_DISTINCT_RECORDS')<>0
	DROP TABLE dbo.VPS_HOST_TRANSACTIONS_DUPS_DISTINCT_RECORDS

CREATE TABLE dbo.VPS_HOST_TRANSACTIONS_DUPS_DISTINCT_RECORDS WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_ID))
AS 
-- EXPLAIN
SELECT DISTINCT   A.TRANSACTION_ID, A.LIC_PLATE_NBR, A.LIC_PLATE_STATE, A.LANE_ID, A.PLAZ_ID, A.FACS_ID, A.TRANSACTION_DATE, A.VIOL_DATE, A.VIOL_TYPE, A.VIOLATION_ID, A.LANE_VIOL_ID, A.TIME_NBR, A.EARNED_CLASS, A.EARNED_REVENUE, A.MIGRATION_STATUS, A.SOURCE_CODE, A.AGENCY_CODE, A.TAG_ID, A.DISPOSITION, A.REASON_CODE, A.POSTED_CLASS, A.POSTED_REVENUE, A.POSTED_DATE, A.TAG_STATUS_AT_TXN_DATE, A.TAG_STATUS_AT_POSTED_DATE, A.NOTIFICATION_DATE, A.GL_STATUS, A.CREATED_BY, A.DATE_CREATED, A.DATE_MODIFIED, A.MODIFIED_BY, A.VIOL_SERIAL_NBR, A.PROCESS_FLAG, A.PRE_AUDIT_RESULT, A.VTOLL_SEND_DATE, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM VP_OWNER.VPS_HOST_TRANSACTIONS A
INNER JOIN dbo.VPS_HOST_TRANSACTIONS_DUPS_LAST_UPDATE B ON A.TRANSACTION_ID = B.TRANSACTION_ID  AND A.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
OPTION (LABEL = 'VPS_HOST_TRANSACTIONS_DEDUP_COMBINED_INIT_LOAD: LOAD VPS_HOST_TRANSACTIONS_DUPS_DISTINCT_RECORDS');

/*
	DELETE all the duplicate rows from the target
*/
DELETE FROM VP_OWNER.VPS_HOST_TRANSACTIONS 
WHERE EXISTS(SELECT * FROM dbo.VPS_HOST_TRANSACTIONS_DUPS_KEY B WHERE VP_OWNER.VPS_HOST_TRANSACTIONS.TRANSACTION_ID = B.TRANSACTION_ID)
OPTION (LABEL = 'VPS_HOST_TRANSACTIONS_DEDUP_COMBINED_INIT_LOAD: DELETE FROM VP_OWNER.VPS_HOST_TRANSACTIONS ');
/*
	Re-insert the distinct row values
*/			
INSERT INTO VP_OWNER.VPS_HOST_TRANSACTIONS( TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT  TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM dbo.VPS_HOST_TRANSACTIONS_DUPS_DISTINCT_RECORDS
OPTION (LABEL = 'VPS_HOST_TRANSACTIONS_DEDUP_COMBINED_INIT_LOAD: INSERT INTO VP_OWNER.VPS_HOST_TRANSACTIONS');

--SELECT COUNT(*) AS VPS_HOST_TRANSACTIONS_DUPS_KEY FROM VPS_HOST_TRANSACTIONS_DUPS_KEY
--SELECT COUNT(*) AS VPS_HOST_TRANSACTIONS_DUPS_DISTINCT_RECORDS FROM VPS_HOST_TRANSACTIONS_DUPS_DISTINCT_RECORDS
--SELECT COUNT(*) AS VPS_HOST_TRANSACTIONS_DUPS_DISTINCT_RECORDS FROM VPS_HOST_TRANSACTIONS_DUPS_DISTINCT_RECORDS

IF OBJECT_ID('VPS_HOST_TRANSACTIONS_DUPS_KEY')<>0
	DROP TABLE dbo.VPS_HOST_TRANSACTIONS_DUPS_KEY
	
IF OBJECT_ID('VPS_HOST_TRANSACTIONS_DUPS_DISTINCT_RECORDS')<>0
	DROP TABLE dbo.VPS_HOST_TRANSACTIONS_DUPS_DISTINCT_RECORDS

IF OBJECT_ID('VPS_HOST_TRANSACTIONS_DUPS_DISTINCT_RECORDS')<>0
	DROP TABLE dbo.VPS_HOST_TRANSACTIONS_DUPS_DISTINCT_RECORDS

/*
	-- -- -- -- -- -- -- -- -- -- -- -- 
	-- Check for Dups again
	-- This would be a DataMonitor
	-- top portion would be a stored proc
	-- -- -- -- -- -- -- -- -- -- -- -- 
	SELECT TRANSACTION_ID, COUNT(*) AS RowCnt
	FROM lnd_lg_vps.VP_OWNER.VPS_HOST_TRANSACTIONS
	GROUP BY TRANSACTION_ID
	HAVING COUNT(*)>1
*/



