CREATE PROC [dbo].[StatsFullRefresh] AS

 ------SELECT TABLE_SCHEMA, TABLE_NAME FROM INFORMATION_SCHEMA.TABLES  ORDER BY 1,2

exec DropStats 'AGENCIES' 
--  exec CreateStats 'AGENCIES'
CREATE STATISTICS STATS_AGENCIES_001 ON FPL_OWNER.AGENCIES (AGCY_ID)
CREATE STATISTICS STATS_AGENCIES_002 ON FPL_OWNER.AGENCIES (AGCY_ID, ABBREV,NAME,IS_IOP)

exec DropStats 'FACILITIES' 
--  exec CreateStats 'FACILITIES'
CREATE STATISTICS STATS_FACILITIES_001 ON FPL_OWNER.FACILITIES (FACS_ID, ABBREV, NAME)

exec DropStats 'LANES' 
--  exec CreateStats 'LANES'
CREATE STATISTICS STATS_LANES_001 ON FPL_OWNER.LANES (LANE_ID)
CREATE STATISTICS STATS_LANES_002 ON FPL_OWNER.LANES (LANE_ID,PLAZ_ID,NAME,NOTE)

exec DropStats 'PLAZAS' 
--  exec CreateStats 'PLAZAS'
CREATE STATISTICS STATS_PLAZAS_001 ON FPL_OWNER.PLAZAS (PLAZ_ID)
CREATE STATISTICS STATS_PLAZAS_002 ON FPL_OWNER.PLAZAS (PLAZ_ID,ABBREV,NAME)

/*
HV_OWNER	COUNTIES
HV_OWNER	HABITUAL_VIOLATORS
HV_OWNER	HV_DESIGNATED_VIOLATIONS
HV_OWNER	HV_FACILITIES
HV_OWNER	HV_FACT
HV_OWNER	HV_TER_RESPONSE

HV_OWNER	ZIP_CODES
VP_OWNER	ADDRESS_SOURCES
VP_OWNER	ADDRESS_STATUS
VP_OWNER	AP_USERS
VP_OWNER	CA_ACCT_INV_XREF
VP_OWNER	CA_ACCT_STATUS
VP_OWNER	CA_ACCTS
VP_OWNER	CA_COMPANIES
VP_OWNER	CA_INV_STATUS
VP_OWNER	COURT_ACT_VIOL
VP_OWNER	COURT_ACTIONS
VP_OWNER	CREDIT_CARD_TYPES
VP_OWNER	DPS_INV_STATUS
VP_OWNER	FEE_SCHEDULES
VP_OWNER	HOW_DELIVERED
VP_OWNER	LANE_VIOL_STATUS
VP_OWNER	LANE_VIOLATIONS

*/

exec DropStats 'PAYMENT_LINE_ITEMS' 
--  exec CreateStats 'PAYMENT_LINE_ITEMS'
CREATE STATISTICS STATS_PAYMENT_LINE_ITEMS_001 ON VP_OWNER.PAYMENT_LINE_ITEMS (PAYMENT_LINE_ITEM_ID)
CREATE STATISTICS STATS_PAYMENT_LINE_ITEMS_002 ON VP_OWNER.PAYMENT_LINE_ITEMS (LAST_UPDATE_DATE)


/*
VP_OWNER	PAYMENT_SOURCE
VP_OWNER	PAYMENT_STATUS
*/


exec DropStats 'PAYMENT_XREF' 
--  exec CreateStats 'PAYMENT_XREF'
CREATE STATISTICS STATS_PAYMENT_XREF_001 ON VP_OWNER.PAYMENT_XREF (PAYMENT_LINE_ITEM_ID)
CREATE STATISTICS STATS_PAYMENT_XREF_002 ON VP_OWNER.PAYMENT_XREF (PAYMENT_LINE_ITEM_ID, PAYMENT_XREF_ID)
CREATE STATISTICS STATS_PAYMENT_XREF_003 ON VP_OWNER.PAYMENT_XREF (LAST_UPDATE_DATE)


exec DropStats 'PAYMENTS' 
--  exec CreateStats 'PAYMENTS'
CREATE STATISTICS STATS_PAYMENTS_001 ON VP_OWNER.PAYMENTS (VIOLATOR_ID, PAYMENT_TXN_ID)
CREATE STATISTICS STATS_PAYMENTS_002 ON VP_OWNER.PAYMENTS (LAST_UPDATE_DATE)

/*
VP_OWNER	PMT_TXN_TYPES
VP_OWNER	POS_LOCATIONS
VP_OWNER	SHIFTS
VP_OWNER	SOURCE_CODE_TOLL
VP_OWNER	TRANSACTION_TYPES
*/
/*
	VP_OWNER	VB_ACCOUNTS
	VP_OWNER	VB_INV_STATUS
*/

exec DropStats 'VB_INVOICE_BATCHES' 
--  exec CreateStats 'VB_INVOICE_BATCHES'
CREATE STATISTICS STATS_VB_INVOICE_BATCHES_001 ON VP_OWNER.VB_INVOICE_BATCHES (VBB_BATCH_ID)
CREATE STATISTICS STATS_VB_INVOICE_BATCHES_002 ON VP_OWNER.VB_INVOICE_BATCHES (LAST_UPDATE_DATE)


exec DropStats 'VB_INVOICE_BATCHES' 
--  exec CreateStats 'VB_INVOICE_BATCHES'
CREATE STATISTICS STATS_VB_INVOICE_BATCHES_001 ON VP_OWNER.VB_INVOICE_BATCHES (VBB_BATCH_ID)
CREATE STATISTICS STATS_VB_INVOICE_BATCHES_002 ON VP_OWNER.VB_INVOICE_BATCHES (LAST_UPDATE_DATE)

exec DropStats 'VB_INVOICE_VIOL' 
CREATE STATISTICS STATS_VB_INVOICE_VIOL_001 ON [VP_OWNER].VB_INVOICE_VIOL (VBI_INVOICE_ID)
CREATE STATISTICS STATS_VB_INVOICE_VIOL_002 ON [VP_OWNER].VB_INVOICE_VIOL (VBI_INVOICE_ID, LAST_UPDATE_DATE)

/*
VP_OWNER	VB_INVOICE_VIOL_JN
*/

exec DropStats 'VB_INVOICES'  
CREATE STATISTICS STATS_VB_INVOICES_001 ON [VP_OWNER].VB_INVOICES (VBI_INVOICE_ID)
CREATE STATISTICS STATS_VB_INVOICES_002 ON [VP_OWNER].VB_INVOICES (VBI_INVOICE_ID, VIOLATOR_ID, LAST_UPDATE_DATE)
--CREATE STATISTICS STATS_VB_INVOICES_003 ON [VP_OWNER].VB_INVOICES (LAST_UPDATE_TYPE)

/*
VP_OWNER	VB_LANES
VP_OWNER	VB_STATEMENTS
*/

/*
VP_OWNER	VIOL_INV_STATUS
*/

exec DropStats 'VIOL_INVOICE_VIOL' 
CREATE STATISTICS STATS_VIOL_INVOICE_VIOL_001 ON [VP_OWNER].[VIOL_INVOICE_VIOL] (VIOL_INVOICE_ID)

/*
VP_OWNER	VIOL_INVOICE_VIOL_HISTORY
*/
exec DropStats 'VIOL_INVOICES' 
CREATE STATISTICS STATS_VIOL_INVOICES_001 ON [VP_OWNER].[VIOL_INVOICES] (VIOL_INVOICE_ID, VIOLATOR_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VIOL_INVOICES_002 ON [VP_OWNER].[VIOL_INVOICES] (LAST_UPDATE_DATE)


/*
VP_OWNER	VIOL_INVOICES_HISTORY

VP_OWNER	VIOL_PAY_TYPES
VP_OWNER	VIOL_REJECT_TYPES
VP_OWNER	VIOL_STATUS
*/

exec DropStats 'VIOLATIONS' 
CREATE STATISTICS STATS_VIOLATIONS_001 ON [VP_OWNER].[VIOLATIONS] (VIOLATOR_ID, VIOLATION_ID)
CREATE STATISTICS STATS_VIOLATIONS_002 ON [VP_OWNER].[VIOLATIONS] (VIOLATION_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VIOLATIONS_003 ON [VP_OWNER].[VIOLATIONS] (LAST_UPDATE_DATE)

exec DropStats 'VIOLATOR_ADDRESS' 
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_001 ON [VP_OWNER].[VIOLATOR_ADDRESS] (VIOLATOR_ID, VIOLATOR_ADDR_SEQ)
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_002 ON [VP_OWNER].[VIOLATOR_ADDRESS] (VIOLATOR_ID, VIOLATOR_ADDR_SEQ, LAST_UPDATE_DATE)

/*
VP_OWNER	VIOLATOR_TYPES

*/

exec DropStats 'VIOLATORS' 
CREATE STATISTICS STATS_VIOLATORS_001 ON [VP_OWNER].[VIOLATORS] (VIOLATOR_ID)
CREATE STATISTICS STATS_VIOLATORS_002 ON [VP_OWNER].[VIOLATORS] (VIOLATOR_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VIOLATORS_003 ON [VP_OWNER].[VIOLATORS] (LAST_UPDATE_DATE)

/*
VP_OWNER	VPS_EXCUSALS
*/

/*
	SELECT COUNT(*) FROM VP_OWNER.VPS_VARIANCE_IMG_DISCARDS

*/

exec DropStats 'VPS_HOST_TRANSACTIONS' 
--  exec CreateStats 'VPS_HOST_TRANSACTIONS'
CREATE STATISTICS STATS_VPS_HOST_TRANSACTIONS_001 ON [VP_OWNER].VPS_HOST_TRANSACTIONS (TRANSACTION_ID)
CREATE STATISTICS STATS_VPS_HOST_TRANSACTIONS_002 ON [VP_OWNER].VPS_HOST_TRANSACTIONS (LAST_UPDATE_DATE)


/*
VP_OWNER	VPS_INV_AGING_PAYMENT_SUMM
VP_OWNER	VPS_VARIANCE_IMG_DISCARDS
VP_OWNER	VPS_VARIANCE_OTHERS
VP_OWNER	VPS_VARIANCE_SUMMARY
VP_OWNER	VPS_VARIANCE_TXNS
*/





