CREATE PROC [HV_OWNER].[HV_DESIGNATED_VIOLATIONS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'HV_OWNER','LANE_VIOLATIONS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'HV_OWNER','HV_DESIGNATED_VIOLATIONS_CT_UPD'
CREATE STATISTICS STATS_HV_DESIGNATED_VIOLATIONS_CT_UPD_001 ON HV_OWNER.HV_DESIGNATED_VIOLATIONS_CT_UPD (HV_DESGN_VIOL_ID)
CREATE STATISTICS STATS_HV_DESIGNATED_VIOLATIONS_CT_UPD_002 ON HV_OWNER.HV_DESIGNATED_VIOLATIONS_CT_UPD (HV_DESGN_VIOL_ID, INSERT_DATETIME)


	UPDATE  HV_OWNER.HV_DESIGNATED_VIOLATIONS
	SET 
    
		HV_OWNER.HV_DESIGNATED_VIOLATIONS.VIOLATOR_ID = B.VIOLATOR_ID
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.VID_SEQ = B.VID_SEQ
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.ADMIN_HEARING_COUNTY = B.ADMIN_HEARING_COUNTY
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.VIOLATION_ID = B.VIOLATION_ID
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.VIOL_DATE = B.VIOL_DATE
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.VIOL_STATUS = B.VIOL_STATUS
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.LANE_ID = B.LANE_ID
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.POST_DATE = B.POST_DATE
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.TOLL_DUE = B.TOLL_DUE
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.FINE_AMOUNT = B.FINE_AMOUNT
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.IS_1N_ADMIN_FEE = B.IS_1N_ADMIN_FEE
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.IS_2N_ADMIN_FEE = B.IS_2N_ADMIN_FEE
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.TRANSACTION_COUNTY = B.TRANSACTION_COUNTY
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.STATEMENT_ID = B.STATEMENT_ID
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.STATEMENT_DATE = B.STATEMENT_DATE
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.HV_JOB_RUN_DATE = B.HV_JOB_RUN_DATE
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.DATE_CREATED = B.DATE_CREATED
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.CREATED_BY = B.CREATED_BY
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.DATE_MODIFIED = B.DATE_MODIFIED
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.MODIFIED_BY = B.MODIFIED_BY
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.LAST_UPDATE_TYPE = 'U'
		, HV_OWNER.HV_DESIGNATED_VIOLATIONS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM HV_OWNER.HV_DESIGNATED_VIOLATIONS_CT_UPD B
	WHERE HV_OWNER.HV_DESIGNATED_VIOLATIONS.HV_DESGN_VIOL_ID = B.HV_DESGN_VIOL_ID

