CREATE PROC [HV_OWNER].[HV_DESIGNATED_VIOLATIONS_Update_Stats] AS

EXEC DropStats 'HV_OWNER','HV_DESIGNATED_VIOLATIONS'
CREATE STATISTICS STATS_HV_DESIGNATED_VIOLATIONS_001 ON HV_OWNER.HV_DESIGNATED_VIOLATIONS (HV_DESGN_VIOL_ID)
CREATE STATISTICS STATS_HV_DESIGNATED_VIOLATIONS_002 ON HV_OWNER.HV_DESIGNATED_VIOLATIONS (VIOLATION_ID, HV_DESGN_VIOL_ID)
CREATE STATISTICS STATS_HV_DESIGNATED_VIOLATIONS_003 ON HV_OWNER.HV_DESIGNATED_VIOLATIONS (HV_DESGN_VIOL_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_HV_DESIGNATED_VIOLATIONS_004 ON HV_OWNER.HV_DESIGNATED_VIOLATIONS (LAST_UPDATE_DATE)
