CREATE PROC [HV_OWNER].[HV_DESIGNATED_VIOLATIONS_DELETE] AS

EXEC DropStats 'HV_OWNER','HV_DESIGNATED_VIOLATIONS_CT_DEL'
CREATE STATISTICS STATS_HV_DESIGNATED_VIOLATIONS_CT_DEL_001 ON HV_OWNER.HV_DESIGNATED_VIOLATIONS_CT_DEL (HV_DESGN_VIOL_ID)
CREATE STATISTICS STATS_HV_DESIGNATED_VIOLATIONS_CT_DEL_002 ON HV_OWNER.HV_DESIGNATED_VIOLATIONS_CT_DEL (HV_DESGN_VIOL_ID, INSERT_DATETIME)

UPDATE HV_OWNER.HV_DESIGNATED_VIOLATIONS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM HV_OWNER.HV_DESIGNATED_VIOLATIONS_CT_DEL B
WHERE HV_OWNER.HV_DESIGNATED_VIOLATIONS.HV_DESGN_VIOL_ID = B.HV_DESGN_VIOL_ID

/*
	To Test With:

	INSERT INTO VP_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM VP_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

