CREATE PROC [HV_OWNER].[HV_DESIGNATED_VIOLATIONS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'HV_OWNER','HV_DESIGNATED_VIOLATIONS'
	GetInsertFields2 'HV_OWNER','HV_DESIGNATED_VIOLATIONS'
*/

EXEC DropStats 'HV_OWNER','HV_DESIGNATED_VIOLATIONS_CT_INS'
CREATE STATISTICS STATS_HV_DESIGNATED_VIOLATIONS_CT_INS_001 ON HV_OWNER.HV_DESIGNATED_VIOLATIONS_CT_INS (HV_DESGN_VIOL_ID)

INSERT INTO HV_OWNER.HV_DESIGNATED_VIOLATIONS
	(
		 HV_DESGN_VIOL_ID, VIOLATOR_ID, VID_SEQ, ADMIN_HEARING_COUNTY, VIOLATION_ID, VIOL_DATE, VIOL_STATUS, LANE_ID, POST_DATE, TOLL_DUE, FINE_AMOUNT, IS_1N_ADMIN_FEE, IS_2N_ADMIN_FEE, TRANSACTION_COUNTY, VIOL_INVOICE_ID, STATEMENT_ID, STATEMENT_DATE, HV_JOB_RUN_DATE, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.HV_DESGN_VIOL_ID, A.VIOLATOR_ID, A.VID_SEQ, A.ADMIN_HEARING_COUNTY, A.VIOLATION_ID, A.VIOL_DATE, A.VIOL_STATUS, A.LANE_ID, A.POST_DATE, A.TOLL_DUE, A.FINE_AMOUNT, A.IS_1N_ADMIN_FEE, A.IS_2N_ADMIN_FEE, A.TRANSACTION_COUNTY, A.VIOL_INVOICE_ID, A.STATEMENT_ID, A.STATEMENT_DATE, A.HV_JOB_RUN_DATE, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY,
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM HV_OWNER.HV_DESIGNATED_VIOLATIONS_CT_INS A
LEFT JOIN HV_OWNER.HV_DESIGNATED_VIOLATIONS B ON A.HV_DESGN_VIOL_ID = B.HV_DESGN_VIOL_ID
WHERE B.HV_DESGN_VIOL_ID IS NULL


