CREATE PROC [VP_OWNER].[VB_ACCOUNTS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','VB_ACCOUNTS'
	GetInsertFields2 'VP_OWNER','VB_ACCOUNTS'
*/

EXEC DropStats 'VP_OWNER','VB_ACCOUNTS_CT_INS'
CREATE STATISTICS STATS_VB_ACCOUNTS_CT_INS_001 ON VP_OWNER.VB_ACCOUNTS_CT_INS (VBA_ACCOUNT_ID)

INSERT INTO VP_OWNER.VB_ACCOUNTS
	(
		VBA_ACCOUNT_ID, VIOLATOR_ID, VBA_DATE, NEXT_INVOICE_DATE, STATUS, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, CREATED_BY, UNINVOICED_COUNT, OLDEST_UNINVOICED, NEXT_GENERATION_DATE, REPRINT_DATE, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.VBA_ACCOUNT_ID, A.VIOLATOR_ID, A.VBA_DATE, A.NEXT_INVOICE_DATE, A.STATUS, A.DATE_CREATED, A.DATE_MODIFIED, A.MODIFIED_BY, A.CREATED_BY, A.UNINVOICED_COUNT, A.OLDEST_UNINVOICED, A.NEXT_GENERATION_DATE, A.REPRINT_DATE,
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.VB_ACCOUNTS_CT_INS A
LEFT JOIN VP_OWNER.VB_ACCOUNTS B ON A.VBA_ACCOUNT_ID = B.VBA_ACCOUNT_ID
WHERE B.VBA_ACCOUNT_ID IS NULL


