CREATE PROC [VP_OWNER].[VB_STATEMENT_VIOLATIONS_Update_Stats] AS

EXEC DropStats 'VP_OWNER','VB_STATEMENT_VIOLATIONS'
CREATE STATISTICS STATS_VB_STATEMENT_VIOLATIONS_001 ON VP_OWNER.VB_STATEMENT_VIOLATIONS (VBSV_STATEMENT_ID)
CREATE STATISTICS STATS_VB_STATEMENT_VIOLATIONS_002 ON VP_OWNER.VB_STATEMENT_VIOLATIONS (VBSV_STATEMENT_ID,VIOLATION_ID)
CREATE STATISTICS STATS_VB_STATEMENT_VIOLATIONS_003 ON VP_OWNER.VB_STATEMENT_VIOLATIONS (VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID)
CREATE STATISTICS STATS_VB_STATEMENT_VIOLATIONS_004 ON VP_OWNER.VB_STATEMENT_VIOLATIONS (VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID)
CREATE STATISTICS STATS_VB_STATEMENT_VIOLATIONS_005 ON VP_OWNER.VB_STATEMENT_VIOLATIONS (VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VB_STATEMENT_VIOLATIONS_006 ON VP_OWNER.VB_STATEMENT_VIOLATIONS (LAST_UPDATE_DATE)
