CREATE PROC [VP_OWNER].[VB_INVOICE_VIOL_Update_Stats] AS

EXEC DropStats 'VP_OWNER','VB_INVOICE_VIOL'
CREATE STATISTICS STATS_VB_INVOICE_VIOL_001 ON VP_OWNER.VB_INVOICE_VIOL (VBI_INVOICE_ID, VIOLATION_ID)
CREATE STATISTICS STATS_VB_INVOICE_VIOL_002 ON VP_OWNER.VB_INVOICE_VIOL (VBI_INVOICE_ID, VIOLATION_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VB_INVOICE_VIOL_003 ON VP_OWNER.VB_INVOICE_VIOL (LAST_UPDATE_DATE)

