CREATE PROC [VP_OWNER].[VIOLATOR_ADDRESS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','VIOLATOR_ADDRESS'
	GetInsertFields2 'VP_OWNER','VIOLATOR_ADDRESS'
*/

EXEC DropStats 'VP_OWNER','VIOLATOR_ADDRESS_CT_INS'
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_CT_INS_001 ON VP_OWNER.VIOLATOR_ADDRESS_CT_INS (VIOLATOR_ID,VIOLATOR_ADDR_SEQ)

INSERT INTO VP_OWNER.VIOLATOR_ADDRESS
	(
		 VIOLATOR_ID, VIOLATOR_ADDR_SEQ, CO_ALT_FNAME, CO_ALT_LNAME, ADDRESS1, ADDRESS2, CITY, STATE, ZIP_CODE, PLUS4, ADDR_SOURCE_DATE, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, ADDR_STATUS, ADDR_SOURCE, COMMENT_DATE, IS_STS_UPD_BY_SYS, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.VIOLATOR_ID, A.VIOLATOR_ADDR_SEQ, A.CO_ALT_FNAME, A.CO_ALT_LNAME, A.ADDRESS1, A.ADDRESS2, A.CITY, A.STATE, A.ZIP_CODE, A.PLUS4, A.ADDR_SOURCE_DATE, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.ADDR_STATUS, A.ADDR_SOURCE, A.COMMENT_DATE, A.IS_STS_UPD_BY_SYS,
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.VIOLATOR_ADDRESS_CT_INS A
LEFT JOIN VP_OWNER.VIOLATOR_ADDRESS B ON A.VIOLATOR_ID = B.VIOLATOR_ID AND  A.VIOLATOR_ADDR_SEQ = B.VIOLATOR_ADDR_SEQ
WHERE B.VIOLATOR_ID IS NULL AND B.VIOLATOR_ADDR_SEQ IS NULL

