CREATE PROC [VP_OWNER].[VB_STATEMENT_VIOLATIONS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','VB_STATEMENT_VIOLATIONS'
	GetInsertFields2 'VP_OWNER','VB_STATEMENT_VIOLATIONS'
*/

EXEC DropStats 'VP_OWNER','VB_STATEMENT_VIOLATIONS_CT_INS'
CREATE STATISTICS STATS_VB_STATEMENT_VIOLATIONS_CT_INS_001 ON VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_INS (VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID)

INSERT INTO VP_OWNER.VB_STATEMENT_VIOLATIONS
	(
		 VBSV_STATEMENT_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, VIOLATION_ID, VIOL_DATE, LANE_NAME, LANE_DESCRIPTION, VBSV_SV_AMOUNT_DUE, VBSV_SV_AMOUNT_PAID, VBSV_VIOLATION_STATUS, VBSV_NTTA_IND, VBSV_DISCOUNT_CODE, VBSV_TXN_FEE, OCR_NBR_CONFID, POST_DATE, PAID_INDICATOR, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.VBSV_STATEMENT_ID, A.VBI_INVOICE_ID, A.VIOL_INVOICE_ID, A.VIOLATION_ID, A.VIOL_DATE, A.LANE_NAME, A.LANE_DESCRIPTION, A.VBSV_SV_AMOUNT_DUE, A.VBSV_SV_AMOUNT_PAID, A.VBSV_VIOLATION_STATUS, A.VBSV_NTTA_IND, A.VBSV_DISCOUNT_CODE, A.VBSV_TXN_FEE, A.OCR_NBR_CONFID, A.POST_DATE, A.PAID_INDICATOR,
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_INS A
LEFT JOIN VP_OWNER.VB_STATEMENT_VIOLATIONS B ON 
		A.VBSV_STATEMENT_ID = B.VBSV_STATEMENT_ID 
	AND A.VIOLATION_ID = B.VIOLATION_ID 
	AND A.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
	AND A.VBI_INVOICE_ID = B.VBI_INVOICE_ID
WHERE B.VBSV_STATEMENT_ID IS NULL 
	AND B.VIOLATION_ID IS NULL 
	AND B.VIOL_INVOICE_ID IS NULL
	AND B.VBI_INVOICE_ID IS NULL

