CREATE PROC [VP_OWNER].[PERF_IRS_REJ_REP_SUMM_DELETE] AS


EXEC DropStats 'VP_OWNER','PERF_IRS_REJ_REP_SUMM_CT_DEL'
CREATE STATISTICS STATS_PERF_IRS_REJ_REP_SUMM_CT_DEL_001 ON VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_DEL (PIRJ_ID)
CREATE STATISTICS STATS_PERF_IRS_REJ_REP_SUMM_CT_DEL_002 ON VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_DEL (PIRJ_ID, INSERT_DATETIME)



UPDATE VP_OWNER.PERF_IRS_REJ_REP_SUMM
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_DEL B
WHERE VP_OWNER.PERF_IRS_REJ_REP_SUMM.PIRJ_ID = B.PIRJ_ID

/*
	To Test With:

	INSERT INTO VP_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM VP_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

