CREATE PROC [VP_OWNER].[FA_FLEET_TRANSACTIONS_Update_Stats] AS

EXEC DropStats 'VP_OWNER','FA_FLEET_TRANSACTIONS'
CREATE STATISTICS STATS_FA_FLEET_TRANSACTIONS_001 ON VP_OWNER.FA_FLEET_TRANSACTIONS (FLEET_TXN_ID)
CREATE STATISTICS STATS_FA_FLEET_TRANSACTIONS_002 ON VP_OWNER.FA_FLEET_TRANSACTIONS (FLEET_TXN_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_FA_FLEET_TRANSACTIONS_003 ON VP_OWNER.FA_FLEET_TRANSACTIONS (LAST_UPDATE_DATE)
