CREATE PROC [VP_OWNER].[VPS_HOST_TRANSACTIONS_Update_Stats] AS

EXEC DropStats 'VP_OWNER','VPS_HOST_TRANSACTIONS'
CREATE STATISTICS STATS_VPS_HOST_TRANSACTIONS_001 ON VP_OWNER.VPS_HOST_TRANSACTIONS (TRANSACTION_ID)
CREATE STATISTICS STATS_VPS_HOST_TRANSACTIONS_002 ON VP_OWNER.VPS_HOST_TRANSACTIONS (TRANSACTION_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VPS_HOST_TRANSACTIONS_003 ON VP_OWNER.VPS_HOST_TRANSACTIONS (LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VPS_HOST_TRANSACTIONS_004 ON VP_OWNER.VPS_HOST_TRANSACTIONS (TRANSACTION_ID,DISPOSITION)
