CREATE PROC [VP_OWNER].[VPS_HOST_TRANSACTIONS_UPDATE] AS

/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','VPS_HOST_TRANSACTIONS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','VPS_HOST_TRANSACTIONS_CT_UPD'
CREATE STATISTICS STATS_VPS_HOST_TRANSACTIONS_CT_UPD_001 ON VP_OWNER.VPS_HOST_TRANSACTIONS_CT_UPD (TRANSACTION_ID)
CREATE STATISTICS STATS_VPS_HOST_TRANSACTIONS_CT_UPD_002 ON VP_OWNER.VPS_HOST_TRANSACTIONS_CT_UPD (TRANSACTION_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/
/*
IF OBJECT_ID('tempdb..#VPS_HOST_TRANSACTIONS_CT_UPD_Dups')<>0
	DROP TABLE #VPS_HOST_TRANSACTIONS_CT_UPD_Dups

CREATE TABLE #VPS_HOST_TRANSACTIONS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.TRANSACTION_ID, A.INSERT_DATETIME
	FROM VP_OWNER.VPS_HOST_TRANSACTIONS_CT_UPD A
	INNER JOIN 
		(
			SELECT TRANSACTION_ID
			FROM VP_OWNER.VPS_HOST_TRANSACTIONS_CT_UPD
			GROUP BY TRANSACTION_ID
			HAVING COUNT(*)>1
		) Dups ON A.TRANSACTION_ID = Dups.TRANSACTION_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#VPS_HOST_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #VPS_HOST_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #VPS_HOST_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANSACTION_ID), LOCATION = USER_DB)
AS
	SELECT  A.TRANSACTION_ID, A.LIC_PLATE_NBR, A.LIC_PLATE_STATE, A.LANE_ID, A.PLAZ_ID, A.FACS_ID, A.TRANSACTION_DATE, A.VIOL_DATE, A.VIOL_TYPE, A.VIOLATION_ID, A.LANE_VIOL_ID, A.TIME_NBR, A.EARNED_CLASS, A.EARNED_REVENUE, A.MIGRATION_STATUS, A.SOURCE_CODE, A.AGENCY_CODE, A.TAG_ID, A.DISPOSITION, A.REASON_CODE, A.POSTED_CLASS, A.POSTED_REVENUE, A.POSTED_DATE, A.TAG_STATUS_AT_TXN_DATE, A.TAG_STATUS_AT_POSTED_DATE, A.NOTIFICATION_DATE, A.GL_STATUS, A.CREATED_BY, A.DATE_CREATED, A.DATE_MODIFIED, A.MODIFIED_BY, A.VIOL_SERIAL_NBR, A.PROCESS_FLAG, A.PRE_AUDIT_RESULT, A.VTOLL_SEND_DATE, A.INSERT_DATETIME
	FROM VP_OWNER.VPS_HOST_TRANSACTIONS_CT_UPD A
	INNER JOIN 
		(
			SELECT TRANSACTION_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #VPS_HOST_TRANSACTIONS_CT_UPD_Dups
			GROUP BY TRANSACTION_ID
		) LastRcrd ON A.TRANSACTION_ID = LastRcrd.TRANSACTION_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM VP_OWNER.VPS_HOST_TRANSACTIONS_CT_UPD 
WHERE EXISTS(SELECT * FROM #VPS_HOST_TRANSACTIONS_CT_UPD_Dups B WHERE VP_OWNER.VPS_HOST_TRANSACTIONS_CT_UPD.TRANSACTION_ID = B.TRANSACTION_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO VP_OWNER.VPS_HOST_TRANSACTIONS_CT_UPD 
	( TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, INSERT_DATETIME)
SELECT TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, INSERT_DATETIME
FROM #VPS_HOST_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert
*/

	UPDATE  VP_OWNER.VPS_HOST_TRANSACTIONS
	SET 
    
		 VP_OWNER.VPS_HOST_TRANSACTIONS.LIC_PLATE_NBR = B.LIC_PLATE_NBR
		, VP_OWNER.VPS_HOST_TRANSACTIONS.LIC_PLATE_STATE = B.LIC_PLATE_STATE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.LANE_ID = B.LANE_ID
		, VP_OWNER.VPS_HOST_TRANSACTIONS.PLAZ_ID = B.PLAZ_ID
		, VP_OWNER.VPS_HOST_TRANSACTIONS.FACS_ID = B.FACS_ID
		, VP_OWNER.VPS_HOST_TRANSACTIONS.TRANSACTION_DATE = B.TRANSACTION_DATE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.VIOL_DATE = B.VIOL_DATE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.VIOL_TYPE = B.VIOL_TYPE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.VIOLATION_ID = B.VIOLATION_ID
		, VP_OWNER.VPS_HOST_TRANSACTIONS.LANE_VIOL_ID = B.LANE_VIOL_ID
		, VP_OWNER.VPS_HOST_TRANSACTIONS.TIME_NBR = B.TIME_NBR
		, VP_OWNER.VPS_HOST_TRANSACTIONS.EARNED_CLASS = B.EARNED_CLASS
		, VP_OWNER.VPS_HOST_TRANSACTIONS.EARNED_REVENUE = B.EARNED_REVENUE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.MIGRATION_STATUS = B.MIGRATION_STATUS
		, VP_OWNER.VPS_HOST_TRANSACTIONS.SOURCE_CODE = B.SOURCE_CODE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.AGENCY_CODE = B.AGENCY_CODE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.TAG_ID = B.TAG_ID
		, VP_OWNER.VPS_HOST_TRANSACTIONS.DISPOSITION = B.DISPOSITION
		, VP_OWNER.VPS_HOST_TRANSACTIONS.REASON_CODE = B.REASON_CODE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.POSTED_CLASS = B.POSTED_CLASS
		, VP_OWNER.VPS_HOST_TRANSACTIONS.POSTED_REVENUE = B.POSTED_REVENUE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.POSTED_DATE = B.POSTED_DATE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.TAG_STATUS_AT_TXN_DATE = B.TAG_STATUS_AT_TXN_DATE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.TAG_STATUS_AT_POSTED_DATE = B.TAG_STATUS_AT_POSTED_DATE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.NOTIFICATION_DATE = B.NOTIFICATION_DATE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.GL_STATUS = B.GL_STATUS
		, VP_OWNER.VPS_HOST_TRANSACTIONS.CREATED_BY = B.CREATED_BY
		, VP_OWNER.VPS_HOST_TRANSACTIONS.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.VPS_HOST_TRANSACTIONS.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.VPS_HOST_TRANSACTIONS.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.VPS_HOST_TRANSACTIONS.VIOL_SERIAL_NBR = B.VIOL_SERIAL_NBR
		, VP_OWNER.VPS_HOST_TRANSACTIONS.PROCESS_FLAG = B.PROCESS_FLAG
		, VP_OWNER.VPS_HOST_TRANSACTIONS.PRE_AUDIT_RESULT = B.PRE_AUDIT_RESULT
		, VP_OWNER.VPS_HOST_TRANSACTIONS.VTOLL_SEND_DATE = B.VTOLL_SEND_DATE
		, VP_OWNER.VPS_HOST_TRANSACTIONS.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.VPS_HOST_TRANSACTIONS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.VPS_HOST_TRANSACTIONS_CT_UPD B
	WHERE VP_OWNER.VPS_HOST_TRANSACTIONS.TRANSACTION_ID = B.TRANSACTION_ID

