CREATE PROC [VP_OWNER].[VIOLATOR_ADDRESS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','VIOLATOR_ADDRESS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','VIOLATOR_ADDRESS_CT_UPD'
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_CT_UPD_001 ON VP_OWNER.VIOLATOR_ADDRESS_CT_UPD (VIOLATOR_ID,VIOLATOR_ADDR_SEQ)
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_CT_UPD_002 ON VP_OWNER.VIOLATOR_ADDRESS_CT_UPD (VIOLATOR_ID,VIOLATOR_ADDR_SEQ, INSERT_DATETIME)


	UPDATE  VP_OWNER.VIOLATOR_ADDRESS
	SET 
		  VP_OWNER.VIOLATOR_ADDRESS.CO_ALT_FNAME = B.CO_ALT_FNAME
		, VP_OWNER.VIOLATOR_ADDRESS.CO_ALT_LNAME = B.CO_ALT_LNAME
		, VP_OWNER.VIOLATOR_ADDRESS.ADDRESS1 = B.ADDRESS1
		, VP_OWNER.VIOLATOR_ADDRESS.ADDRESS2 = B.ADDRESS2
		, VP_OWNER.VIOLATOR_ADDRESS.CITY = B.CITY
		, VP_OWNER.VIOLATOR_ADDRESS.STATE = B.STATE
		, VP_OWNER.VIOLATOR_ADDRESS.ZIP_CODE = B.ZIP_CODE
		, VP_OWNER.VIOLATOR_ADDRESS.PLUS4 = B.PLUS4
		, VP_OWNER.VIOLATOR_ADDRESS.ADDR_SOURCE_DATE = B.ADDR_SOURCE_DATE
		, VP_OWNER.VIOLATOR_ADDRESS.CREATED_BY = B.CREATED_BY
		, VP_OWNER.VIOLATOR_ADDRESS.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.VIOLATOR_ADDRESS.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.VIOLATOR_ADDRESS.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.VIOLATOR_ADDRESS.ADDR_STATUS = B.ADDR_STATUS
		, VP_OWNER.VIOLATOR_ADDRESS.ADDR_SOURCE = B.ADDR_SOURCE
		, VP_OWNER.VIOLATOR_ADDRESS.COMMENT_DATE = B.COMMENT_DATE
		, VP_OWNER.VIOLATOR_ADDRESS.IS_STS_UPD_BY_SYS = B.IS_STS_UPD_BY_SYS
		, VP_OWNER.VIOLATOR_ADDRESS.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.VIOLATOR_ADDRESS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.VIOLATOR_ADDRESS_CT_UPD B
	WHERE VP_OWNER.VIOLATOR_ADDRESS.VIOLATOR_ID = B.VIOLATOR_ID AND VP_OWNER.VIOLATOR_ADDRESS.VIOLATOR_ADDR_SEQ = B.VIOLATOR_ADDR_SEQ
	

