CREATE PROC [VP_OWNER].[VB_INVOICE_BATCHES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','VB_INVOICE_BATCHES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','VB_INVOICE_BATCHES_CT_UPD'
CREATE STATISTICS STATS_VB_INVOICE_BATCHES_CT_UPD_001 ON VP_OWNER.VB_INVOICE_BATCHES_CT_UPD (VBB_BATCH_ID)
CREATE STATISTICS STATS_VB_INVOICE_BATCHES_CT_UPD_002 ON VP_OWNER.VB_INVOICE_BATCHES_CT_UPD (VBB_BATCH_ID, INSERT_DATETIME)

	UPDATE  VP_OWNER.VB_INVOICE_BATCHES
	SET 
    
		VP_OWNER.VB_INVOICE_BATCHES.DATE_PRODUCED = B.DATE_PRODUCED
		, VP_OWNER.VB_INVOICE_BATCHES.VB_INVOICE_COUNT = B.VB_INVOICE_COUNT
		, VP_OWNER.VB_INVOICE_BATCHES.DATE_PRINTED = B.DATE_PRINTED
		, VP_OWNER.VB_INVOICE_BATCHES.DATE_MAILED = B.DATE_MAILED
		, VP_OWNER.VB_INVOICE_BATCHES.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.VB_INVOICE_BATCHES.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.VB_INVOICE_BATCHES.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.VB_INVOICE_BATCHES.CREATED_BY = B.CREATED_BY
		, VP_OWNER.VB_INVOICE_BATCHES.DUE_DATE = B.DUE_DATE
		, VP_OWNER.VB_INVOICE_BATCHES.VB_INV_BATCH_TYPE_CODE = B.VB_INV_BATCH_TYPE_CODE
		, VP_OWNER.VB_INVOICE_BATCHES.VB_LN_COUNT = B.VB_LN_COUNT
		, VP_OWNER.VB_INVOICE_BATCHES.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.VB_INVOICE_BATCHES.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.VB_INVOICE_BATCHES_CT_UPD B
	WHERE VP_OWNER.VB_INVOICE_BATCHES.VBB_BATCH_ID = B.VBB_BATCH_ID

