CREATE PROC [VP_OWNER].[VB_STATEMENT_INVOICES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','VB_STATEMENT_INVOICES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','VB_STATEMENT_INVOICES_CT_UPD'
CREATE STATISTICS STATS_VB_STATEMENT_INVOICES_CT_UPD_001 ON VP_OWNER.VB_STATEMENT_INVOICES_CT_UPD (VBSI_STATEMENT_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID)
CREATE STATISTICS STATS_VB_STATEMENT_INVOICES_CT_UPD_002 ON VP_OWNER.VB_STATEMENT_INVOICES_CT_UPD (VBSI_STATEMENT_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID, INSERT_DATETIME)


	UPDATE  VP_OWNER.VB_STATEMENT_INVOICES
	SET 
    
		 
		  VP_OWNER.VB_STATEMENT_INVOICES.VBI_INVOICE_STATUS = B.VBI_INVOICE_STATUS
		, VP_OWNER.VB_STATEMENT_INVOICES.VBI_INVOICE_STATUS_DESC = B.VBI_INVOICE_STATUS_DESC
		, VP_OWNER.VB_STATEMENT_INVOICES.VIOL_INVOICE_STATUS = B.VIOL_INVOICE_STATUS
		, VP_OWNER.VB_STATEMENT_INVOICES.VIOL_INVOICE_STATUS_DESC = B.VIOL_INVOICE_STATUS_DESC
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_CA_INVOICE_STATUS = B.VBSI_CA_INVOICE_STATUS
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_INVOICE_NOTICE_TYPE = B.VBSI_INVOICE_NOTICE_TYPE
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_INITIAL_INVOICE_DATE = B.VBSI_INITIAL_INVOICE_DATE
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_VBI_INVOICE_AMOUNT = B.VBSI_VBI_INVOICE_AMOUNT
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_VBI_TOLL_DUE = B.VBSI_VBI_TOLL_DUE
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_VBI_LATE_FEE_AMOUNT = B.VBSI_VBI_LATE_FEE_AMOUNT
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_VBI_INVOICE_DISC = B.VBSI_VBI_INVOICE_DISC
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_VBI_INVOICE_PAID = B.VBSI_VBI_INVOICE_PAID
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_INVOICE_AMOUNT = B.VBSI_INVOICE_AMOUNT
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_INVOICE_DISC = B.VBSI_INVOICE_DISC
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_INVOICE_PAID = B.VBSI_INVOICE_PAID
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_ADMIN_FEE = B.VBSI_ADMIN_FEE
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_ADMIN_FEE_SECOND_NOTICE = B.VBSI_ADMIN_FEE_SECOND_NOTICE
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_NTTA_TOLLS = B.VBSI_NTTA_TOLLS
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_HIGHWAY_TOLLS = B.VBSI_HIGHWAY_TOLLS
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_CITATIONS = B.VBSI_CITATIONS
		, VP_OWNER.VB_STATEMENT_INVOICES.PAID_INDICATOR = B.PAID_INDICATOR
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_PRIOR_ADMIN_FEE = B.VBSI_PRIOR_ADMIN_FEE
		, VP_OWNER.VB_STATEMENT_INVOICES.VBSI_PRIOR_ADMIN_FEE_2 = B.VBSI_PRIOR_ADMIN_FEE_2		
		, VP_OWNER.VB_STATEMENT_INVOICES.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.VB_STATEMENT_INVOICES.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.VB_STATEMENT_INVOICES_CT_UPD B
	WHERE 
			VP_OWNER.VB_STATEMENT_INVOICES.VBSI_STATEMENT_ID = B.VBSI_STATEMENT_ID	
		AND VP_OWNER.VB_STATEMENT_INVOICES.VBI_INVOICE_ID = B.VBI_INVOICE_ID 
		AND VP_OWNER.VB_STATEMENT_INVOICES.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID

