CREATE PROC [VP_OWNER].[MAIL_FILE_DETAILS_Update_Stats] AS

EXEC DropStats 'VP_OWNER','MAIL_FILE_DETAILS'
CREATE STATISTICS STATS_MAIL_FILE_DETAILS_001 ON VP_OWNER.MAIL_FILE_DETAILS (MAIL_FILE_HEADER_ID, MAIL_FILE_DETAIL_ID)
CREATE STATISTICS STATS_MAIL_FILE_DETAILS_002 ON VP_OWNER.MAIL_FILE_DETAILS (MAIL_FILE_DETAIL_ID)
CREATE STATISTICS STATS_MAIL_FILE_DETAILS_003 ON VP_OWNER.MAIL_FILE_DETAILS (MAIL_FILE_DETAIL_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_MAIL_FILE_DETAILS_004 ON VP_OWNER.MAIL_FILE_DETAILS (LAST_UPDATE_DATE)
