CREATE PROC [VP_OWNER].[VIOLATOR_ADDRESS_DELETE] AS

EXEC DropStats 'VP_OWNER','VIOLATOR_ADDRESS_CT_DEL'
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_CT_DEL_001 ON VP_OWNER.VIOLATOR_ADDRESS_CT_DEL (VIOLATOR_ID,VIOLATOR_ADDR_SEQ)
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_CT_DEL_002 ON VP_OWNER.VIOLATOR_ADDRESS_CT_DEL (VIOLATOR_ID,VIOLATOR_ADDR_SEQ, INSERT_DATETIME)



UPDATE VP_OWNER.VIOLATOR_ADDRESS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM VP_OWNER.VIOLATOR_ADDRESS_CT_DEL B
WHERE VP_OWNER.VIOLATOR_ADDRESS.VIOLATOR_ID = B.VIOLATOR_ID AND VP_OWNER.VIOLATOR_ADDRESS.VIOLATOR_ADDR_SEQ = B.VIOLATOR_ADDR_SEQ

/*
	To Test With:

	INSERT INTO VP_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM VP_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

