CREATE PROC [VP_OWNER].[VIOL_INVOICES_Update_Stats] AS

EXEC DropStats 'VP_OWNER','VIOL_INVOICES'
CREATE STATISTICS STATS_VIOL_INVOICES_001 ON VP_OWNER.VIOL_INVOICES (VIOL_INVOICE_ID)
CREATE STATISTICS STATS_VIOL_INVOICES_002 ON VP_OWNER.VIOL_INVOICES (VIOL_INVOICE_ID, LAST_UPDATE_DATE)

