CREATE PROC [VP_OWNER].[VIOL_INVOICES_HISTORY_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','VIOL_INVOICES_HISTORY'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','VIOL_INVOICES_HISTORY_CT_UPD'
CREATE STATISTICS STATS_VIOL_INVOICES_HISTORY_CT_UPD_001 ON VP_OWNER.VIOL_INVOICES_HISTORY_CT_UPD (VIOL_INVOICE_ID,VIOL_INV_SEQ_ID)
CREATE STATISTICS STATS_VIOL_INVOICES_HISTORY_CT_UPD_002 ON VP_OWNER.VIOL_INVOICES_HISTORY_CT_UPD (VIOL_INVOICE_ID,VIOL_INV_SEQ_ID, INSERT_DATETIME)

	UPDATE  VP_OWNER.VIOL_INVOICES_HISTORY
	SET 
    
		  VP_OWNER.VIOL_INVOICES_HISTORY.OLD_VIOL_INV_STS = B.OLD_VIOL_INV_STS
		, VP_OWNER.VIOL_INVOICES_HISTORY.NEW_VIOL_INV_STS = B.NEW_VIOL_INV_STS
		, VP_OWNER.VIOL_INVOICES_HISTORY.STATUS_DATE = B.STATUS_DATE
		, VP_OWNER.VIOL_INVOICES_HISTORY.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.VIOL_INVOICES_HISTORY.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.VIOL_INVOICES_HISTORY.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.VIOL_INVOICES_HISTORY.CREATED_BY = B.CREATED_BY
		, VP_OWNER.VIOL_INVOICES_HISTORY.OLD_GL_STATUS = B.OLD_GL_STATUS
		, VP_OWNER.VIOL_INVOICES_HISTORY.NEW_GL_STATUS = B.NEW_GL_STATUS
		, VP_OWNER.VIOL_INVOICES_HISTORY.OLD_CA_INV_STATUS = B.OLD_CA_INV_STATUS
		, VP_OWNER.VIOL_INVOICES_HISTORY.NEW_CA_INV_STATUS = B.NEW_CA_INV_STATUS
		, VP_OWNER.VIOL_INVOICES_HISTORY.OLD_DPS_INV_STATUS = B.OLD_DPS_INV_STATUS
		, VP_OWNER.VIOL_INVOICES_HISTORY.NEW_DPS_INV_STATUS = B.NEW_DPS_INV_STATUS
		, VP_OWNER.VIOL_INVOICES_HISTORY.DET_LINK_ID = B.DET_LINK_ID
		, VP_OWNER.VIOL_INVOICES_HISTORY.DET_LINK_ID2 = B.DET_LINK_ID2
		, VP_OWNER.VIOL_INVOICES_HISTORY.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.VIOL_INVOICES_HISTORY.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.VIOL_INVOICES_HISTORY_CT_UPD B
	WHERE VP_OWNER.VIOL_INVOICES_HISTORY.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID AND VP_OWNER.VIOL_INVOICES_HISTORY.VIOL_INV_SEQ_ID = B.VIOL_INV_SEQ_ID


