CREATE PROC [VP_OWNER].[VIOLATOR_ADDRESS_Update_Stats] AS

EXEC DropStats 'VP_OWNER','VIOLATOR_ADDRESS'
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_001 ON VP_OWNER.VIOLATOR_ADDRESS (VIOLATOR_ID,VIOLATOR_ADDR_SEQ)
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_002 ON VP_OWNER.VIOLATOR_ADDRESS (VIOLATOR_ID,VIOLATOR_ADDR_SEQ, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_003 ON VP_OWNER.VIOLATOR_ADDRESS (LAST_UPDATE_DATE)
