CREATE PROC [VP_OWNER].[CA_ACCT_INV_XREF_DELETE] AS


EXEC DropStats 'VP_OWNER','CA_ACCT_INV_XREF_CT_DEL'
CREATE STATISTICS STATS_CA_ACCT_INV_XREF_CT_DEL_001 ON VP_OWNER.CA_ACCT_INV_XREF_CT_DEL (CA_ACCT_ID, VIOL_INVOICE_ID)
CREATE STATISTICS STATS_CA_ACCT_INV_XREF_CT_DEL_002 ON VP_OWNER.CA_ACCT_INV_XREF_CT_DEL (CA_ACCT_ID, VIOL_INVOICE_ID, INSERT_DATETIME)



UPDATE VP_OWNER.CA_ACCT_INV_XREF
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM VP_OWNER.CA_ACCT_INV_XREF_CT_DEL B
WHERE VP_OWNER.CA_ACCT_INV_XREF.CA_ACCT_ID = B.CA_ACCT_ID AND VP_OWNER.CA_ACCT_INV_XREF.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID

/*
	To Test With:

	INSERT INTO VP_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM VP_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

