CREATE PROC [VP_OWNER].[VIOL_INVOICE_VIOL_HISTORY_DELETE] AS


EXEC DropStats 'VP_OWNER','VIOL_INVOICE_VIOL_HISTORY_CT_DEL'
CREATE STATISTICS STATS_VIOL_INVOICE_VIOL_HISTORY_CT_DEL_001 ON VP_OWNER.VIOL_INVOICE_VIOL_HISTORY_CT_DEL (VIOLATION_ID,VIOL_INVOICE_ID,VIOL_INV_VIOL_SEQ_ID)
CREATE STATISTICS STATS_VIOL_INVOICE_VIOL_HISTORY_CT_DEL_002 ON VP_OWNER.VIOL_INVOICE_VIOL_HISTORY_CT_DEL (VIOLATION_ID,VIOL_INVOICE_ID,VIOL_INV_VIOL_SEQ_ID, INSERT_DATETIME)



UPDATE VP_OWNER.VIOL_INVOICE_VIOL_HISTORY
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM VP_OWNER.VIOL_INVOICE_VIOL_HISTORY_CT_DEL B
WHERE VP_OWNER.VIOL_INVOICE_VIOL_HISTORY.VIOLATION_ID = B.VIOLATION_ID AND VP_OWNER.VIOL_INVOICE_VIOL_HISTORY.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID AND VP_OWNER.VIOL_INVOICE_VIOL_HISTORY.VIOL_INV_VIOL_SEQ_ID = B.VIOL_INV_VIOL_SEQ_ID
/*
	To Test With:

	INSERT INTO VP_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM VP_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

