CREATE PROC [VP_OWNER].[PAYMENT_LINE_ITEMS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','PAYMENT_LINE_ITEMS'
	GetInsertFields2 'VP_OWNER','PAYMENT_LINE_ITEMS'
*/

EXEC DropStats 'VP_OWNER','PAYMENT_LINE_ITEMS_CT_INS'
CREATE STATISTICS STATS_PAYMENT_LINE_ITEMS_CT_INS_001 ON VP_OWNER.PAYMENT_LINE_ITEMS_CT_INS (PAYMENT_LINE_ITEM_ID)

INSERT INTO VP_OWNER.PAYMENT_LINE_ITEMS
	(
		  PAYMENT_LINE_ITEM_ID, PAYMENT_TXN_ID, PAYMENT_LINE_ITEM_DATE, PMT_TXN_TYPE, PAYMENT_LINE_ITEM_AMOUNT, PAYMENT_FORM, CHECK_MO_DATE, NAME_ON_PAYMENT, CREDIT_CARD_TYPE, DRIVER_LIC_NBR, DRIVER_LIC_STATE, ADDRESS, CITY, STATE, ZIP_CODE, EMAIL_ADDRESS, PAYMENT_STATUS, REF_LINE_ITEM_ID, ONLINE_EVS_TRANS_ID, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.PAYMENT_LINE_ITEM_ID, A.PAYMENT_TXN_ID, A.PAYMENT_LINE_ITEM_DATE, A.PMT_TXN_TYPE, A.PAYMENT_LINE_ITEM_AMOUNT, A.PAYMENT_FORM, A.CHECK_MO_DATE, A.NAME_ON_PAYMENT, A.CREDIT_CARD_TYPE, A.DRIVER_LIC_NBR, A.DRIVER_LIC_STATE, A.ADDRESS, A.CITY, A.STATE, A.ZIP_CODE, A.EMAIL_ADDRESS, A.PAYMENT_STATUS, A.REF_LINE_ITEM_ID, A.ONLINE_EVS_TRANS_ID, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, 
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.PAYMENT_LINE_ITEMS_CT_INS A
LEFT JOIN VP_OWNER.PAYMENT_LINE_ITEMS B ON A.PAYMENT_LINE_ITEM_ID = B.PAYMENT_LINE_ITEM_ID
WHERE B.PAYMENT_LINE_ITEM_ID IS NULL


