CREATE PROC [VP_OWNER].[PAYMENT_LINE_ITEMS_DELETE] AS


EXEC DropStats 'VP_OWNER','PAYMENT_LINE_ITEMS_CT_DEL'
CREATE STATISTICS STATS_PAYMENT_LINE_ITEMS_CT_DEL_001 ON VP_OWNER.PAYMENT_LINE_ITEMS_CT_DEL (PAYMENT_LINE_ITEM_ID)
CREATE STATISTICS STATS_PAYMENT_LINE_ITEMS_CT_DEL_002 ON VP_OWNER.PAYMENT_LINE_ITEMS_CT_DEL (PAYMENT_LINE_ITEM_ID, INSERT_DATETIME)



UPDATE VP_OWNER.PAYMENT_LINE_ITEMS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM VP_OWNER.PAYMENT_LINE_ITEMS_CT_DEL B
WHERE VP_OWNER.PAYMENT_LINE_ITEMS.PAYMENT_LINE_ITEM_ID = B.PAYMENT_LINE_ITEM_ID

/*
	To Test With:

	INSERT INTO VP_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM VP_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

