CREATE PROC [VP_OWNER].[VB_INVOICE_BATCHES_Update_Stats] AS

EXEC DropStats 'VP_OWNER','VB_INVOICE_BATCHES'
CREATE STATISTICS STATS_VB_INVOICE_BATCHES_001 ON VP_OWNER.VB_INVOICE_BATCHES (VBB_BATCH_ID)
CREATE STATISTICS STATS_VB_INVOICE_BATCHES_002 ON VP_OWNER.VB_INVOICE_BATCHES (VBB_BATCH_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VB_INVOICE_BATCHES_003 ON VP_OWNER.VB_INVOICE_BATCHES (LAST_UPDATE_DATE)
