CREATE PROC [VP_OWNER].[PAYMENTS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','PAYMENTS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','PAYMENTS_CT_UPD'
CREATE STATISTICS STATS_PAYMENTS_CT_UPD_001 ON VP_OWNER.PAYMENTS_CT_UPD (PAYMENT_TXN_ID)
CREATE STATISTICS STATS_PAYMENTS_CT_UPD_002 ON VP_OWNER.PAYMENTS_CT_UPD (PAYMENT_TXN_ID, INSERT_DATETIME)


	UPDATE  VP_OWNER.PAYMENTS
	SET 
    
		VP_OWNER.PAYMENTS.PAYMENT_DATE = B.PAYMENT_DATE
		, VP_OWNER.PAYMENTS.AMOUNT_DUE = B.AMOUNT_DUE
		, VP_OWNER.PAYMENTS.AMOUNT_TENDERED = B.AMOUNT_TENDERED
		, VP_OWNER.PAYMENTS.AMOUNT_RETURNED = B.AMOUNT_RETURNED
		, VP_OWNER.PAYMENTS.AMOUNT_REVERSED = B.AMOUNT_REVERSED
		, VP_OWNER.PAYMENTS.AMOUNT_REFUNDED = B.AMOUNT_REFUNDED
		, VP_OWNER.PAYMENTS.DELIVERY_CODE = B.DELIVERY_CODE
		, VP_OWNER.PAYMENTS.REFUND_REQUESTED = B.REFUND_REQUESTED
		, VP_OWNER.PAYMENTS.RECEIPT_REQUESTED = B.RECEIPT_REQUESTED
		, VP_OWNER.PAYMENTS.IS_CHANGE_RETURNED = B.IS_CHANGE_RETURNED
		, VP_OWNER.PAYMENTS.RPT_GENERATED = B.RPT_GENERATED
		, VP_OWNER.PAYMENTS.RPT_GENERATED_DATE = B.RPT_GENERATED_DATE
		, VP_OWNER.PAYMENTS.SHIFT_ID = B.SHIFT_ID
		, VP_OWNER.PAYMENTS.VIOLATOR_ID = B.VIOLATOR_ID
		, VP_OWNER.PAYMENTS.LIC_PLATE_NBR = B.LIC_PLATE_NBR
		, VP_OWNER.PAYMENTS.LIC_PLATE_STATE = B.LIC_PLATE_STATE
		, VP_OWNER.PAYMENTS.PAYMENT_STATUS = B.PAYMENT_STATUS
		, VP_OWNER.PAYMENTS.PAYMENT_SOURCE_CODE = B.PAYMENT_SOURCE_CODE
		, VP_OWNER.PAYMENTS.VIOL_PAY_TYPE = B.VIOL_PAY_TYPE
		, VP_OWNER.PAYMENTS.ONLINE_TXN_ID = B.ONLINE_TXN_ID
		, VP_OWNER.PAYMENTS.REF_TXN_ID = B.REF_TXN_ID
		, VP_OWNER.PAYMENTS.COMMENT_DATE = B.COMMENT_DATE
		, VP_OWNER.PAYMENTS.OLD_PAYMENT_ID = B.OLD_PAYMENT_ID
		, VP_OWNER.PAYMENTS.CREATED_BY = B.CREATED_BY
		, VP_OWNER.PAYMENTS.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.PAYMENTS.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.PAYMENTS.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.PAYMENTS.CA_BANK_DEPOSIT_ID = B.CA_BANK_DEPOSIT_ID
		, VP_OWNER.PAYMENTS.OL_PMT_ID = B.OL_PMT_ID
		, VP_OWNER.PAYMENTS.RETAIL_TRANS_ID = B.RETAIL_TRANS_ID	
		, VP_OWNER.PAYMENTS.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.PAYMENTS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.PAYMENTS_CT_UPD B
	WHERE VP_OWNER.PAYMENTS.PAYMENT_TXN_ID = B.PAYMENT_TXN_ID

