CREATE PROC [VP_OWNER].[VB_STATEMENTS_DELETE] AS

EXEC DropStats 'VP_OWNER','VB_STATEMENTS_CT_DEL'
CREATE STATISTICS STATS_VB_STATEMENTS_CT_DEL_001 ON VP_OWNER.VB_STATEMENTS_CT_DEL (VBS_STATEMENT_ID)
CREATE STATISTICS STATS_VB_STATEMENTS_CT_DEL_002 ON VP_OWNER.VB_STATEMENTS_CT_DEL (VBS_STATEMENT_ID, INSERT_DATETIME)



UPDATE VP_OWNER.VB_STATEMENTS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM VP_OWNER.VB_STATEMENTS_CT_DEL B
WHERE VP_OWNER.VB_STATEMENTS.VBS_STATEMENT_ID = B.VBS_STATEMENT_ID

/*
	To Test With:

	INSERT INTO VP_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM VP_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/
