CREATE PROC [VP_OWNER].[PERF_IRS_REJ_REP_SUMM_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','PERF_IRS_REJ_REP_SUMM'
	GetInsertFields2 'VP_OWNER','PERF_IRS_REJ_REP_SUMM'
*/

EXEC DropStats 'VP_OWNER','PERF_IRS_REJ_REP_SUMM_CT_INS'
CREATE STATISTICS STATS_PERF_IRS_REJ_REP_SUMM_CT_INS_001 ON VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_INS (PIRJ_ID, INSERT_DATETIME)

INSERT INTO VP_OWNER.PERF_IRS_REJ_REP_SUMM
	(
		 REVIEW_DATE, COUNT, LANE_ID, VIOL_REJECT_TYPE, OCR_NBR_CONFID, REVIEW_STATUS, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, PIRJ_ID, SUMMARY_TYPE, START_TIME, END_TIME, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
		A.REVIEW_DATE, A.COUNT, A.LANE_ID, A.VIOL_REJECT_TYPE, A.OCR_NBR_CONFID, A.REVIEW_STATUS, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, A.PIRJ_ID, A.SUMMARY_TYPE, A.START_TIME, A.END_TIME,
		'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_INS A
LEFT JOIN VP_OWNER.PERF_IRS_REJ_REP_SUMM B ON A.PIRJ_ID = B.PIRJ_ID
WHERE B.PIRJ_ID IS NULL


