CREATE PROC [VP_OWNER].[VIOL_INVOICE_VIOL_HISTORY_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','VIOL_INVOICE_VIOL_HISTORY'
	GetInsertFields2 'VP_OWNER','VIOL_INVOICE_VIOL_HISTORY'
*/

EXEC DropStats 'VP_OWNER','VIOL_INVOICE_VIOL_HISTORY_CT_INS'
CREATE STATISTICS STATS_VIOL_INVOICE_VIOL_HISTORY_CT_INS_001 ON VP_OWNER.VIOL_INVOICE_VIOL_HISTORY_CT_INS (VIOLATION_ID,VIOL_INVOICE_ID,VIOL_INV_VIOL_SEQ_ID)

INSERT INTO VP_OWNER.VIOL_INVOICE_VIOL_HISTORY
	(
		 VIOLATION_ID, VIOL_INVOICE_ID, VIOL_INV_VIOL_SEQ_ID, OLD_VIOL_INV_STS, NEW_VIOL_INV_STS, OLD_VIOL_STS, NEW_VIOL_STS, STATUS_DATE, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, CREATED_BY, OLD_GL_STATUS, NEW_GL_STATUS, DET_LINK_ID, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.VIOLATION_ID, A.VIOL_INVOICE_ID, A.VIOL_INV_VIOL_SEQ_ID, A.OLD_VIOL_INV_STS, A.NEW_VIOL_INV_STS, A.OLD_VIOL_STS, A.NEW_VIOL_STS, A.STATUS_DATE, A.DATE_CREATED, A.DATE_MODIFIED, A.MODIFIED_BY, A.CREATED_BY, A.OLD_GL_STATUS, A.NEW_GL_STATUS, A.DET_LINK_ID,
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.VIOL_INVOICE_VIOL_HISTORY_CT_INS A
LEFT JOIN VP_OWNER.VIOL_INVOICE_VIOL_HISTORY B ON A.VIOLATION_ID = B.VIOLATION_ID AND A.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID AND A.VIOL_INV_VIOL_SEQ_ID = B.VIOL_INV_VIOL_SEQ_ID
WHERE B.VIOLATION_ID IS NULL AND B.VIOL_INVOICE_ID IS NULL AND B.VIOL_INV_VIOL_SEQ_ID IS NULL


