CREATE PROC [VP_OWNER].[VPS_HOST_TRANSACTIONS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','VPS_HOST_TRANSACTIONS'
	GetInsertFields2 'VP_OWNER','VPS_HOST_TRANSACTIONS'
*/

EXEC DropStats 'VP_OWNER','VPS_HOST_TRANSACTIONS_CT_INS'
CREATE STATISTICS STATS_VPS_HOST_TRANSACTIONS_CT_INS_001 ON VP_OWNER.VPS_HOST_TRANSACTIONS_CT_INS (TRANSACTION_ID)

INSERT INTO VP_OWNER.VPS_HOST_TRANSACTIONS
	(
		TRANSACTION_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LANE_ID, PLAZ_ID, FACS_ID, TRANSACTION_DATE, VIOL_DATE, VIOL_TYPE, VIOLATION_ID, LANE_VIOL_ID, TIME_NBR, EARNED_CLASS, EARNED_REVENUE, MIGRATION_STATUS, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, POSTED_CLASS, POSTED_REVENUE, POSTED_DATE, TAG_STATUS_AT_TXN_DATE, TAG_STATUS_AT_POSTED_DATE, NOTIFICATION_DATE, GL_STATUS, CREATED_BY, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, VIOL_SERIAL_NBR, PROCESS_FLAG, PRE_AUDIT_RESULT, VTOLL_SEND_DATE, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.TRANSACTION_ID, A.LIC_PLATE_NBR, A.LIC_PLATE_STATE, A.LANE_ID, A.PLAZ_ID, A.FACS_ID, A.TRANSACTION_DATE, A.VIOL_DATE, A.VIOL_TYPE, A.VIOLATION_ID, A.LANE_VIOL_ID, A.TIME_NBR, A.EARNED_CLASS, A.EARNED_REVENUE, A.MIGRATION_STATUS, A.SOURCE_CODE, A.AGENCY_CODE, A.TAG_ID, A.DISPOSITION, A.REASON_CODE, A.POSTED_CLASS, A.POSTED_REVENUE, A.POSTED_DATE, A.TAG_STATUS_AT_TXN_DATE, A.TAG_STATUS_AT_POSTED_DATE, A.NOTIFICATION_DATE, A.GL_STATUS, A.CREATED_BY, A.DATE_CREATED, A.DATE_MODIFIED, A.MODIFIED_BY, A.VIOL_SERIAL_NBR, A.PROCESS_FLAG, A.PRE_AUDIT_RESULT, A.VTOLL_SEND_DATE,
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.VPS_HOST_TRANSACTIONS_CT_INS A
LEFT JOIN VP_OWNER.VPS_HOST_TRANSACTIONS B ON A.TRANSACTION_ID = B.TRANSACTION_ID
WHERE B.TRANSACTION_ID IS NULL


