CREATE PROC [VP_OWNER].[PERF_IRS_REJ_REP_SUMM_Update_Stats] AS

EXEC DropStats 'VP_OWNER','PERF_IRS_REJ_REP_SUMM'
CREATE STATISTICS STATS_PERF_IRS_REJ_REP_SUMM_001 ON VP_OWNER.PERF_IRS_REJ_REP_SUMM (PIRJ_ID)
CREATE STATISTICS STATS_PERF_IRS_REJ_REP_SUMM_002 ON VP_OWNER.PERF_IRS_REJ_REP_SUMM (PIRJ_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_PERF_IRS_REJ_REP_SUMM_003 ON VP_OWNER.PERF_IRS_REJ_REP_SUMM (LAST_UPDATE_DATE)
