CREATE PROC [VP_OWNER].[DMV_MATCHES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','DMV_MATCHES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','DMV_MATCHES_CT_UPD'
CREATE STATISTICS STATS_DMV_MATCHES_CT_UPD_001 ON VP_OWNER.DMV_MATCHES_CT_UPD (ID)
CREATE STATISTICS STATS_DMV_MATCHES_CT_UPD_002 ON VP_OWNER.DMV_MATCHES_CT_UPD (ID, INSERT_DATETIME)


	UPDATE  VP_OWNER.DMV_MATCHES
	SET 
    
		 VP_OWNER.DMV_MATCHES.VIOLATION_ID = B.VIOLATION_ID
		, VP_OWNER.DMV_MATCHES.VIOLATOR_ID = B.VIOLATOR_ID
		, VP_OWNER.DMV_MATCHES.FULL_NAME = B.FULL_NAME
		, VP_OWNER.DMV_MATCHES.FIRST_NAME = B.FIRST_NAME
		, VP_OWNER.DMV_MATCHES.MIDDLE_NAME = B.MIDDLE_NAME
		, VP_OWNER.DMV_MATCHES.LAST_NAME = B.LAST_NAME
		, VP_OWNER.DMV_MATCHES.STREET = B.STREET
		, VP_OWNER.DMV_MATCHES.CITY = B.CITY
		, VP_OWNER.DMV_MATCHES.ZIP = B.ZIP
		, VP_OWNER.DMV_MATCHES.PLUS4 = B.PLUS4
		, VP_OWNER.DMV_MATCHES.TYPE = B.TYPE
		, VP_OWNER.DMV_MATCHES.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.DMV_MATCHES.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.DMV_MATCHES.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.DMV_MATCHES.CREATED_BY = B.CREATED_BY
		, VP_OWNER.DMV_MATCHES.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.DMV_MATCHES.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.DMV_MATCHES_CT_UPD B
	WHERE VP_OWNER.DMV_MATCHES.ID = B.ID

