CREATE PROC [VP_OWNER].[VB_STATEMENT_INVOICES_Update_Stats] AS

EXEC DropStats 'VP_OWNER','VB_STATEMENT_INVOICES'
CREATE STATISTICS STATS_VB_STATEMENT_INVOICES_001 ON VP_OWNER.VB_STATEMENT_INVOICES (VBSI_STATEMENT_ID)
CREATE STATISTICS STATS_VB_STATEMENT_INVOICES_002 ON VP_OWNER.VB_STATEMENT_INVOICES (VBSI_STATEMENT_ID,VBI_INVOICE_ID)
CREATE STATISTICS STATS_VB_STATEMENT_INVOICES_003 ON VP_OWNER.VB_STATEMENT_INVOICES (VBSI_STATEMENT_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID)
CREATE STATISTICS STATS_VB_STATEMENT_INVOICES_004 ON VP_OWNER.VB_STATEMENT_INVOICES (VBSI_STATEMENT_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VB_STATEMENT_INVOICES_005 ON VP_OWNER.VB_STATEMENT_INVOICES (LAST_UPDATE_DATE)
