CREATE PROC [VP_OWNER].[LANE_VIOLATIONS_UPDATE] AS

/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','LANE_VIOLATIONS'
		You will have to remove the Distribution key from what it generates
*/

	UPDATE  VP_OWNER.LANE_VIOLATIONS
	SET 
    
		  VP_OWNER.LANE_VIOLATIONS.LANE_VIOL_STATUS = B.LANE_VIOL_STATUS
		, VP_OWNER.LANE_VIOLATIONS.LC_PLAZA_NBR = B.LC_PLAZA_NBR
		, VP_OWNER.LANE_VIOLATIONS.LC_LANE_NBR = B.LC_LANE_NBR
		, VP_OWNER.LANE_VIOLATIONS.VIOL_DATE = B.VIOL_DATE
		, VP_OWNER.LANE_VIOLATIONS.TIME_NBR = B.TIME_NBR
		, VP_OWNER.LANE_VIOLATIONS.SEQUENCE_NBR = B.SEQUENCE_NBR
		, VP_OWNER.LANE_VIOLATIONS.LANE_MODE = B.LANE_MODE
		, VP_OWNER.LANE_VIOLATIONS.EMPLOYEE_ID = B.EMPLOYEE_ID
		, VP_OWNER.LANE_VIOLATIONS.VEHICLE_CLASS = B.VEHICLE_CLASS
		, VP_OWNER.LANE_VIOLATIONS.AXLE_COUNT = B.AXLE_COUNT
		, VP_OWNER.LANE_VIOLATIONS.VIOLATION_CODE = B.VIOLATION_CODE
		, VP_OWNER.LANE_VIOLATIONS.UNUSUAL_CODE = B.UNUSUAL_CODE
		, VP_OWNER.LANE_VIOLATIONS.TOLL_DUE = B.TOLL_DUE
		, VP_OWNER.LANE_VIOLATIONS.TOLL_PAID = B.TOLL_PAID
		, VP_OWNER.LANE_VIOLATIONS.AGENCY_ID = B.AGENCY_ID
		, VP_OWNER.LANE_VIOLATIONS.TAG_ID = B.TAG_ID
		, VP_OWNER.LANE_VIOLATIONS.TAG_STATUS = B.TAG_STATUS
		, VP_OWNER.LANE_VIOLATIONS.VEHICLE_SPEED = B.VEHICLE_SPEED
		, VP_OWNER.LANE_VIOLATIONS.CONSEC_PREV_VIOL = B.CONSEC_PREV_VIOL
		, VP_OWNER.LANE_VIOLATIONS.CONSEC_FOLLOW_VIOL = B.CONSEC_FOLLOW_VIOL
		, VP_OWNER.LANE_VIOLATIONS.POSS_FALSE_TRIGGER = B.POSS_FALSE_TRIGGER
		, VP_OWNER.LANE_VIOLATIONS.DEVICE_STATUS = B.DEVICE_STATUS
		, VP_OWNER.LANE_VIOLATIONS.FAIL_REASON = B.FAIL_REASON
		, VP_OWNER.LANE_VIOLATIONS.LIC_PLATE_NBR = B.LIC_PLATE_NBR
		, VP_OWNER.LANE_VIOLATIONS.OCR_NBR_CONFID = B.OCR_NBR_CONFID
		, VP_OWNER.LANE_VIOLATIONS.LIC_PLATE_STATE = B.LIC_PLATE_STATE
		, VP_OWNER.LANE_VIOLATIONS.OCR_STATE_CONFID = B.OCR_STATE_CONFID
		, VP_OWNER.LANE_VIOLATIONS.IMAGE_NAME = B.IMAGE_NAME
		, VP_OWNER.LANE_VIOLATIONS.ROI_IMAGE_NAME = B.ROI_IMAGE_NAME
		, VP_OWNER.LANE_VIOLATIONS.IMAGE_LOC = B.IMAGE_LOC
		, VP_OWNER.LANE_VIOLATIONS.IMAGE_ARCHIVE_LOC = B.IMAGE_ARCHIVE_LOC
		, VP_OWNER.LANE_VIOLATIONS.OCR_CONFID_CUTOFF = B.OCR_CONFID_CUTOFF
		, VP_OWNER.LANE_VIOLATIONS.STATE_CONFID_CUTOFF = B.STATE_CONFID_CUTOFF
		, VP_OWNER.LANE_VIOLATIONS.REVIEWED_BY = B.REVIEWED_BY
		, VP_OWNER.LANE_VIOLATIONS.PRE_AUDIT_RESULT = B.PRE_AUDIT_RESULT
		, VP_OWNER.LANE_VIOLATIONS.AUDIT_RESULT = B.AUDIT_RESULT
		, VP_OWNER.LANE_VIOLATIONS.CREATED_DATE = B.CREATED_DATE
		, VP_OWNER.LANE_VIOLATIONS.MODIFIED_DATE = B.MODIFIED_DATE
		, VP_OWNER.LANE_VIOLATIONS.LANE_ABBREV = B.LANE_ABBREV
		, VP_OWNER.LANE_VIOLATIONS.VES_NAME = B.VES_NAME
		, VP_OWNER.LANE_VIOLATIONS.SEQUENCE_NBR1 = B.SEQUENCE_NBR1
		, VP_OWNER.LANE_VIOLATIONS.LANE_CONTROLLER_TYPE = B.LANE_CONTROLLER_TYPE
		, VP_OWNER.LANE_VIOLATIONS.REVIEW_STATUS = B.REVIEW_STATUS
		, VP_OWNER.LANE_VIOLATIONS.VIOL_REJECT_TYPE = B.VIOL_REJECT_TYPE
		, VP_OWNER.LANE_VIOLATIONS.REVIEW_DATE = B.REVIEW_DATE
		, VP_OWNER.LANE_VIOLATIONS.STATUS_DATE = B.STATUS_DATE
		, VP_OWNER.LANE_VIOLATIONS.VIOL_CREATED = B.VIOL_CREATED
		, VP_OWNER.LANE_VIOLATIONS.REVIEW_USER_ID = B.REVIEW_USER_ID
		, VP_OWNER.LANE_VIOLATIONS.LC_FACILITY_CODE = B.LC_FACILITY_CODE
		, VP_OWNER.LANE_VIOLATIONS.PLAZA_CODE = B.PLAZA_CODE
		, VP_OWNER.LANE_VIOLATIONS.LANE_CODE = B.LANE_CODE
		, VP_OWNER.LANE_VIOLATIONS.LIC_PLATE_NBR_2 = B.LIC_PLATE_NBR_2
		, VP_OWNER.LANE_VIOLATIONS.HOST_TRANSACTION_ID = B.HOST_TRANSACTION_ID
		, VP_OWNER.LANE_VIOLATIONS.LANE_ID = B.LANE_ID
		, VP_OWNER.LANE_VIOLATIONS.OCR_PLATE_NBR = B.OCR_PLATE_NBR
		, VP_OWNER.LANE_VIOLATIONS.OCR_PLATE_STATE = B.OCR_PLATE_STATE
		, VP_OWNER.LANE_VIOLATIONS.DAC_OCR_MODIFIED_DATE = B.DAC_OCR_MODIFIED_DATE
		, VP_OWNER.LANE_VIOLATIONS.DAC_OCR_PLATE_CONFID = B.DAC_OCR_PLATE_CONFID
		, VP_OWNER.LANE_VIOLATIONS.DAC_OCR_PLATE_NBR = B.DAC_OCR_PLATE_NBR
		, VP_OWNER.LANE_VIOLATIONS.DAC_OCR_PLATE_STATE = B.DAC_OCR_PLATE_STATE
		, VP_OWNER.LANE_VIOLATIONS.SOURCE_SERVER = B.SOURCE_SERVER
		, VP_OWNER.LANE_VIOLATIONS.CAMERA_LIC_PLATE_NBR = B.CAMERA_LIC_PLATE_NBR
		, VP_OWNER.LANE_VIOLATIONS.CAMERA_LIC_PLATE_STATE = B.CAMERA_LIC_PLATE_STATE
		, VP_OWNER.LANE_VIOLATIONS.CAMERA_LIC_PLATE_CONFID = B.CAMERA_LIC_PLATE_CONFID
		, VP_OWNER.LANE_VIOLATIONS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID
		, VP_OWNER.LANE_VIOLATIONS.SUBSCRIBER_ID = B.SUBSCRIBER_ID
		, VP_OWNER.LANE_VIOLATIONS.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.LANE_VIOLATIONS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.LANE_VIOLATIONS_CT_UPD B
	WHERE VP_OWNER.LANE_VIOLATIONS.LANE_VIOL_ID = B.LANE_VIOL_ID


