CREATE PROC [VP_OWNER].[FA_FLEET_TRANSACTIONS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','FA_FLEET_TRANSACTIONS'
	GetInsertFields2 'VP_OWNER','FA_FLEET_TRANSACTIONS'
*/

EXEC DropStats 'VP_OWNER','FA_FLEET_TRANSACTIONS_CT_INS'
CREATE STATISTICS STATS_FA_FLEET_TRANSACTIONS_CT_INS_001 ON VP_OWNER.FA_FLEET_TRANSACTIONS_CT_INS (FLEET_TXN_ID, INSERT_DATETIME)

INSERT INTO VP_OWNER.FA_FLEET_TRANSACTIONS
	(
		 FLEET_TXN_ID, FLEET_FILE_ID, VIOLATION_ID, BATCH_ID, LIC_PLATE_NBR, VIOL_DATE, CONTRACT_ID, FIRST_NAME, LAST_NAME, ADDRESS1, ADDRESS2, CITY, ZIP, PLUS4, ADDR_STATE, PHONE, DRIVER_LIC_NBR, DRIVER_LIC_STATE, TXN_SEND_DATE, TXN_RETURN_DATE, RENT_START, RENT_END, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, CREATED_BY, LIC_PLATE_STATE, PLATE_TYPE_CODE, BATCH_RECORD_NUMBER, RCA_FILE_SEQUENCE, RCA_RECORD_NUMBER, TOLL_DUE, LANE_NAME, IMAGE_FILENAME, PAYMENT_XREF_ID, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
		A.FLEET_TXN_ID, A.FLEET_FILE_ID, A.VIOLATION_ID, A.BATCH_ID, A.LIC_PLATE_NBR, A.VIOL_DATE, A.CONTRACT_ID, A.FIRST_NAME, A.LAST_NAME, A.ADDRESS1, A.ADDRESS2, A.CITY, A.ZIP, A.PLUS4, A.ADDR_STATE, A.PHONE, A.DRIVER_LIC_NBR, A.DRIVER_LIC_STATE, A.TXN_SEND_DATE, A.TXN_RETURN_DATE, A.RENT_START, A.RENT_END, A.DATE_CREATED, A.DATE_MODIFIED, A.MODIFIED_BY, A.CREATED_BY, A.LIC_PLATE_STATE, A.PLATE_TYPE_CODE, A.BATCH_RECORD_NUMBER, A.RCA_FILE_SEQUENCE, A.RCA_RECORD_NUMBER, A.TOLL_DUE, A.LANE_NAME, A.IMAGE_FILENAME, A.PAYMENT_XREF_ID,
		'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.FA_FLEET_TRANSACTIONS_CT_INS A
LEFT JOIN VP_OWNER.FA_FLEET_TRANSACTIONS B ON A.FLEET_TXN_ID = B.FLEET_TXN_ID
WHERE B.FLEET_TXN_ID IS NULL


