CREATE PROC [VP_OWNER].[VB_INVOICES_UPDATE] AS

/*

	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','VB_INVOICES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','VB_INVOICES_CT_UPD'
CREATE STATISTICS STATS_VB_INVOICES_CT_UPD_001 ON VP_OWNER.VB_INVOICES_CT_UPD (VBI_INVOICE_ID)
CREATE STATISTICS STATS_VB_INVOICES_CT_UPD_002 ON VP_OWNER.VB_INVOICES_CT_UPD (VBI_INVOICE_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#VB_INVOICES_CT_UPD_Dups')<>0
	DROP TABLE #VB_INVOICES_CT_UPD_Dups

CREATE TABLE #VB_INVOICES_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VBI_INVOICE_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.VBI_INVOICE_ID, A.INSERT_DATETIME
	FROM VP_OWNER.VB_INVOICES_CT_UPD A
	INNER JOIN 
		(
			SELECT VBI_INVOICE_ID
			FROM VP_OWNER.VB_INVOICES_CT_UPD
			GROUP BY VBI_INVOICE_ID
			HAVING COUNT(*)>1
		) Dups ON A.VBI_INVOICE_ID = Dups.VBI_INVOICE_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#VB_INVOICES_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #VB_INVOICES_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #VB_INVOICES_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VBI_INVOICE_ID), LOCATION = USER_DB)
AS
	SELECT  A.VBI_INVOICE_ID, A.VBI_ACCOUNT_ID, A.VBI_STATUS, A.VBB_BATCH_ID, A.VIOLATOR_ID, A.VIOLATOR_ADDR_SEQ, A.INVOICE_DATE, A.INVOICE_AMOUNT, A.TOLL_AMOUNT, A.LATE_FEE_AMOUNT, A.MAIL_FEE_AMOUNT, A.PAST_DUE_AMOUNT, A.INVOICE_AMT_DISC, A.INVOICE_AMT_PAID, A.DUE_DATE, A.INV_CLOSED_DATE, A.MAIL_RETURN_DATE, A.EXCUSED_BY, A.DATE_EXCUSED, A.EXCUSED_REASON, A.REMAILED, A.LATE_FEE_GENERATING_INVOICE, A.DATE_CREATED, A.DATE_MODIFIED, A.MODIFIED_BY, A.CREATED_BY, A.PAST_DUE_LATE_FEE_AMOUNT, A.PAST_DUE_MAIL_FEE_AMOUNT, A.WAIVED_LATE_FEE_BY, A.WAIVED_LATE_FEE_DATE, A.VBB_LN_BATCH_ID, A.INVOICE_LOCATION, A.LATE_NOTICE_LOCATION, A.ORIG_DUE_DATE, A.CONVERSION_DATE, A.SOURCE_CODE, A.INSERT_DATETIME
	FROM VP_OWNER.VB_INVOICES_CT_UPD A
	INNER JOIN 
		(
			SELECT VBI_INVOICE_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #VB_INVOICES_CT_UPD_Dups
			GROUP BY VBI_INVOICE_ID
		) LastRcrd ON A.VBI_INVOICE_ID = LastRcrd.VBI_INVOICE_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM VP_OWNER.VB_INVOICES_CT_UPD 
WHERE EXISTS(SELECT * FROM #VB_INVOICES_CT_UPD_Dups B WHERE VP_OWNER.VB_INVOICES_CT_UPD.VBI_INVOICE_ID = B.VBI_INVOICE_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO VP_OWNER.VB_INVOICES_CT_UPD 
	( VBI_INVOICE_ID, VBI_ACCOUNT_ID, VBI_STATUS, VBB_BATCH_ID, VIOLATOR_ID, VIOLATOR_ADDR_SEQ, INVOICE_DATE, INVOICE_AMOUNT, TOLL_AMOUNT, LATE_FEE_AMOUNT, MAIL_FEE_AMOUNT, PAST_DUE_AMOUNT, INVOICE_AMT_DISC, INVOICE_AMT_PAID, DUE_DATE, INV_CLOSED_DATE, MAIL_RETURN_DATE, EXCUSED_BY, DATE_EXCUSED, EXCUSED_REASON, REMAILED, LATE_FEE_GENERATING_INVOICE, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, CREATED_BY, PAST_DUE_LATE_FEE_AMOUNT, PAST_DUE_MAIL_FEE_AMOUNT, WAIVED_LATE_FEE_BY, WAIVED_LATE_FEE_DATE, VBB_LN_BATCH_ID, INVOICE_LOCATION, LATE_NOTICE_LOCATION, ORIG_DUE_DATE, CONVERSION_DATE, SOURCE_CODE,INSERT_DATETIME)
SELECT VBI_INVOICE_ID, VBI_ACCOUNT_ID, VBI_STATUS, VBB_BATCH_ID, VIOLATOR_ID, VIOLATOR_ADDR_SEQ, INVOICE_DATE, INVOICE_AMOUNT, TOLL_AMOUNT, LATE_FEE_AMOUNT, MAIL_FEE_AMOUNT, PAST_DUE_AMOUNT, INVOICE_AMT_DISC, INVOICE_AMT_PAID, DUE_DATE, INV_CLOSED_DATE, MAIL_RETURN_DATE, EXCUSED_BY, DATE_EXCUSED, EXCUSED_REASON, REMAILED, LATE_FEE_GENERATING_INVOICE, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, CREATED_BY, PAST_DUE_LATE_FEE_AMOUNT, PAST_DUE_MAIL_FEE_AMOUNT, WAIVED_LATE_FEE_BY, WAIVED_LATE_FEE_DATE, VBB_LN_BATCH_ID, INVOICE_LOCATION, LATE_NOTICE_LOCATION, ORIG_DUE_DATE, CONVERSION_DATE, SOURCE_CODE,INSERT_DATETIME
FROM #VB_INVOICES_CT_UPD_DuplicateLastRowToReInsert


	UPDATE  VP_OWNER.VB_INVOICES
	SET 
    
		 VP_OWNER.VB_INVOICES.VBI_ACCOUNT_ID = B.VBI_ACCOUNT_ID
		, VP_OWNER.VB_INVOICES.VBI_STATUS = B.VBI_STATUS
		, VP_OWNER.VB_INVOICES.VBB_BATCH_ID = B.VBB_BATCH_ID
		, VP_OWNER.VB_INVOICES.VIOLATOR_ID = B.VIOLATOR_ID
		, VP_OWNER.VB_INVOICES.VIOLATOR_ADDR_SEQ = B.VIOLATOR_ADDR_SEQ
		, VP_OWNER.VB_INVOICES.INVOICE_DATE = B.INVOICE_DATE
		, VP_OWNER.VB_INVOICES.INVOICE_AMOUNT = B.INVOICE_AMOUNT
		, VP_OWNER.VB_INVOICES.TOLL_AMOUNT = B.TOLL_AMOUNT
		, VP_OWNER.VB_INVOICES.LATE_FEE_AMOUNT = B.LATE_FEE_AMOUNT
		, VP_OWNER.VB_INVOICES.MAIL_FEE_AMOUNT = B.MAIL_FEE_AMOUNT
		, VP_OWNER.VB_INVOICES.PAST_DUE_AMOUNT = B.PAST_DUE_AMOUNT
		, VP_OWNER.VB_INVOICES.INVOICE_AMT_DISC = B.INVOICE_AMT_DISC
		, VP_OWNER.VB_INVOICES.INVOICE_AMT_PAID = B.INVOICE_AMT_PAID
		, VP_OWNER.VB_INVOICES.DUE_DATE = B.DUE_DATE
		, VP_OWNER.VB_INVOICES.INV_CLOSED_DATE = B.INV_CLOSED_DATE
		, VP_OWNER.VB_INVOICES.MAIL_RETURN_DATE = B.MAIL_RETURN_DATE
		, VP_OWNER.VB_INVOICES.EXCUSED_BY = B.EXCUSED_BY
		, VP_OWNER.VB_INVOICES.DATE_EXCUSED = B.DATE_EXCUSED
		, VP_OWNER.VB_INVOICES.EXCUSED_REASON = B.EXCUSED_REASON
		, VP_OWNER.VB_INVOICES.REMAILED = B.REMAILED
		, VP_OWNER.VB_INVOICES.LATE_FEE_GENERATING_INVOICE = B.LATE_FEE_GENERATING_INVOICE
		, VP_OWNER.VB_INVOICES.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.VB_INVOICES.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.VB_INVOICES.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.VB_INVOICES.CREATED_BY = B.CREATED_BY
		, VP_OWNER.VB_INVOICES.PAST_DUE_LATE_FEE_AMOUNT = B.PAST_DUE_LATE_FEE_AMOUNT
		, VP_OWNER.VB_INVOICES.PAST_DUE_MAIL_FEE_AMOUNT = B.PAST_DUE_MAIL_FEE_AMOUNT
		, VP_OWNER.VB_INVOICES.WAIVED_LATE_FEE_BY = B.WAIVED_LATE_FEE_BY
		, VP_OWNER.VB_INVOICES.WAIVED_LATE_FEE_DATE = B.WAIVED_LATE_FEE_DATE
		, VP_OWNER.VB_INVOICES.VBB_LN_BATCH_ID = B.VBB_LN_BATCH_ID
		, VP_OWNER.VB_INVOICES.INVOICE_LOCATION = B.INVOICE_LOCATION
		, VP_OWNER.VB_INVOICES.LATE_NOTICE_LOCATION = B.LATE_NOTICE_LOCATION
		, VP_OWNER.VB_INVOICES.ORIG_DUE_DATE = B.ORIG_DUE_DATE
		, VP_OWNER.VB_INVOICES.CONVERSION_DATE = B.CONVERSION_DATE
		, VP_OWNER.VB_INVOICES.SOURCE_CODE = B.SOURCE_CODE	
		, VP_OWNER.VB_INVOICES.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.VB_INVOICES.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.VB_INVOICES_CT_UPD B
	WHERE VP_OWNER.VB_INVOICES.VBI_INVOICE_ID = B.VBI_INVOICE_ID

