CREATE PROC [VP_OWNER].[VB_ACCOUNTS_Update_Stats] AS

EXEC DropStats 'VP_OWNER','VB_ACCOUNTS'
CREATE STATISTICS STATS_VB_ACCOUNTS_001 ON VP_OWNER.VB_ACCOUNTS (VBA_ACCOUNT_ID)
CREATE STATISTICS STATS_VB_ACCOUNTS_002 ON VP_OWNER.VB_ACCOUNTS (VBA_ACCOUNT_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VB_ACCOUNTS_003 ON VP_OWNER.VB_ACCOUNTS (LAST_UPDATE_DATE)
