CREATE PROC [VP_OWNER].[MAIL_FILE_DETAILS_DELETE] AS


EXEC DropStats 'VP_OWNER','MAIL_FILE_DETAILS_CT_DEL'
CREATE STATISTICS STATS_MAIL_FILE_DETAILS_CT_DEL_001 ON VP_OWNER.MAIL_FILE_DETAILS_CT_DEL (MAIL_FILE_HEADER_ID, MAIL_FILE_DETAIL_ID)
CREATE STATISTICS STATS_MAIL_FILE_DETAILS_CT_DEL_002 ON VP_OWNER.MAIL_FILE_DETAILS_CT_DEL (MAIL_FILE_DETAIL_ID, INSERT_DATETIME)



UPDATE VP_OWNER.MAIL_FILE_DETAILS
	SET  LAST_UPDATE_TYPE = 'D', LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM 
	VP_OWNER.MAIL_FILE_DETAILS_CT_DEL B
WHERE 
	VP_OWNER.MAIL_FILE_DETAILS.MAIL_FILE_HEADER_ID = B.MAIL_FILE_HEADER_ID AND 
	VP_OWNER.MAIL_FILE_DETAILS.MAIL_FILE_DETAIL_ID = B.MAIL_FILE_DETAIL_ID
 
/*
	To Test With:

	INSERT INTO VP_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM VP_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

