CREATE PROC [VP_OWNER].[MAIL_FILE_DETAILS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','MAIL_FILE_DETAILS'
	GetInsertFields2 'VP_OWNER','MAIL_FILE_DETAILS'
*/

EXEC DropStats 'VP_OWNER','MAIL_FILE_DETAILS_CT_INS'
CREATE STATISTICS STATS_MAIL_FILE_DETAILS_CT_INS_001 ON VP_OWNER.MAIL_FILE_DETAILS_CT_INS (MAIL_FILE_HEADER_ID, MAIL_FILE_DETAIL_ID)
CREATE STATISTICS STATS_MAIL_FILE_DETAILS_CT_INS_002 ON VP_OWNER.MAIL_FILE_DETAILS_CT_INS (MAIL_FILE_DETAIL_ID)

INSERT INTO VP_OWNER.MAIL_FILE_DETAILS
	(
		  MAIL_FILE_HEADER_ID, MAIL_FILE_DETAIL_ID, STATEMENT_ID, ACCOUNT_ID, ORG_NEXT_GENERATION_DATE, PUSHED_NEXT_GENERATION_DATE, PROCESSED_DATE, STATUS_CODE, STATEMENT_TYPE, STATEMENT_DATE, PRINT_REJ_DATE, PRINT_IND, COMMENTS, NXI, ANK, REPRINT, MAIL_DATE, MS_UNIQUE_ID, LINE_COMMENT, DATE_CREATED, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.MAIL_FILE_HEADER_ID, A.MAIL_FILE_DETAIL_ID, A.STATEMENT_ID, A.ACCOUNT_ID, A.ORG_NEXT_GENERATION_DATE, A.PUSHED_NEXT_GENERATION_DATE, A.PROCESSED_DATE, A.STATUS_CODE, A.STATEMENT_TYPE, A.STATEMENT_DATE, A.PRINT_REJ_DATE, A.PRINT_IND, A.COMMENTS, A.NXI, A.ANK, A.REPRINT, A.MAIL_DATE, A.MS_UNIQUE_ID, A.LINE_COMMENT, A.DATE_CREATED, 
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM 
	VP_OWNER.MAIL_FILE_DETAILS_CT_INS A
LEFT JOIN 
	VP_OWNER.MAIL_FILE_DETAILS B 
	ON 
	A.MAIL_FILE_HEADER_ID = B.MAIL_FILE_HEADER_ID AND 
	A.MAIL_FILE_DETAIL_ID = B.MAIL_FILE_DETAIL_ID
WHERE 
	B.MAIL_FILE_HEADER_ID IS NULL AND 
	B.MAIL_FILE_DETAIL_ID IS NULL
