CREATE PROC [VP_OWNER].[VB_STATEMENT_PAYMENTS_UPDATE] AS

/*

	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','VB_STATEMENT_PAYMENTS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','VB_STATEMENT_PAYMENTS_CT_UPD'
CREATE STATISTICS STATS_VB_STATEMENT_PAYMENTS_CT_UPD_001 ON VP_OWNER.VB_STATEMENT_PAYMENTS_CT_UPD (VBSP_ACTIVITY_ID)
CREATE STATISTICS STATS_VB_STATEMENT_PAYMENTS_CT_UPD_002 ON VP_OWNER.VB_STATEMENT_PAYMENTS_CT_UPD (VBSP_ACTIVITY_ID, INSERT_DATETIME)

	UPDATE  VP_OWNER.VB_STATEMENT_PAYMENTS
	SET 
    
		VP_OWNER.VB_STATEMENT_PAYMENTS.VBSP_STATEMENT_ID = B.VBSP_STATEMENT_ID
		, VP_OWNER.VB_STATEMENT_PAYMENTS.VBI_INVOICE_ID = B.VBI_INVOICE_ID
		, VP_OWNER.VB_STATEMENT_PAYMENTS.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
		, VP_OWNER.VB_STATEMENT_PAYMENTS.VIOLATION_ID = B.VIOLATION_ID
		, VP_OWNER.VB_STATEMENT_PAYMENTS.PAYMENT_LINE_ITEM_ID = B.PAYMENT_LINE_ITEM_ID
		, VP_OWNER.VB_STATEMENT_PAYMENTS.VBSP_ACTIVITY_DATE = B.VBSP_ACTIVITY_DATE
		, VP_OWNER.VB_STATEMENT_PAYMENTS.VBSP_ACTIVITY_TYPE = B.VBSP_ACTIVITY_TYPE
		, VP_OWNER.VB_STATEMENT_PAYMENTS.VBSP_ACTIVITY_AMOUNT = B.VBSP_ACTIVITY_AMOUNT
		, VP_OWNER.VB_STATEMENT_PAYMENTS.VBSP_ACTIVITY_AMOUNT_PAID = B.VBSP_ACTIVITY_AMOUNT_PAID
		, VP_OWNER.VB_STATEMENT_PAYMENTS.VBSP_ACTIVITY_LINE_AMOUNT = B.VBSP_ACTIVITY_LINE_AMOUNT
		, VP_OWNER.VB_STATEMENT_PAYMENTS.VBSP_ACTIVITY_SPLIT_AMOUNT = B.VBSP_ACTIVITY_SPLIT_AMOUNT
		, VP_OWNER.VB_STATEMENT_PAYMENTS.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.VB_STATEMENT_PAYMENTS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.VB_STATEMENT_PAYMENTS_CT_UPD B
	WHERE VP_OWNER.VB_STATEMENT_PAYMENTS.VBSP_ACTIVITY_ID = B.VBSP_ACTIVITY_ID

