CREATE PROC [VP_OWNER].[LANE_VIOLATIONS_DELETE] AS


EXEC DropStats 'VP_OWNER','LANE_VIOLATIONS_CT_DEL'
CREATE STATISTICS STATS_LANE_VIOLATIONS_CT_DEL_001 ON VP_OWNER.LANE_VIOLATIONS_CT_DEL (LANE_VIOL_ID)
CREATE STATISTICS STATS_LANE_VIOLATIONS_CT_DEL_002 ON VP_OWNER.LANE_VIOLATIONS_CT_DEL (LANE_VIOL_ID, INSERT_DATETIME)



UPDATE VP_OWNER.LANE_VIOLATIONS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM VP_OWNER.LANE_VIOLATIONS_CT_DEL B
WHERE VP_OWNER.LANE_VIOLATIONS.LANE_VIOL_ID = B.LANE_VIOL_ID

/*
	To Test With:

	INSERT INTO VP_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM VP_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/
