CREATE PROC [VP_OWNER].[VB_INVOICES_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','VB_INVOICES'
	GetInsertFields2 'VP_OWNER','VB_INVOICES'
*/

EXEC DropStats 'VP_OWNER','VB_INVOICES_CT_INS'
CREATE STATISTICS STATS_VB_INVOICES_CT_INS_001 ON VP_OWNER.VB_INVOICES_CT_INS (VBI_INVOICE_ID)

INSERT INTO VP_OWNER.VB_INVOICES
	(
		 VBI_INVOICE_ID, VBI_ACCOUNT_ID, VBI_STATUS, VBB_BATCH_ID, VIOLATOR_ID, VIOLATOR_ADDR_SEQ, INVOICE_DATE, INVOICE_AMOUNT, TOLL_AMOUNT, LATE_FEE_AMOUNT, MAIL_FEE_AMOUNT, PAST_DUE_AMOUNT, INVOICE_AMT_DISC, INVOICE_AMT_PAID, DUE_DATE, INV_CLOSED_DATE, MAIL_RETURN_DATE, EXCUSED_BY, DATE_EXCUSED, EXCUSED_REASON, REMAILED, LATE_FEE_GENERATING_INVOICE, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, CREATED_BY, PAST_DUE_LATE_FEE_AMOUNT, PAST_DUE_MAIL_FEE_AMOUNT, WAIVED_LATE_FEE_BY, WAIVED_LATE_FEE_DATE, VBB_LN_BATCH_ID, INVOICE_LOCATION, LATE_NOTICE_LOCATION, ORIG_DUE_DATE, CONVERSION_DATE, SOURCE_CODE, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.VBI_INVOICE_ID, A.VBI_ACCOUNT_ID, A.VBI_STATUS, A.VBB_BATCH_ID, A.VIOLATOR_ID, A.VIOLATOR_ADDR_SEQ, A.INVOICE_DATE, A.INVOICE_AMOUNT, A.TOLL_AMOUNT, A.LATE_FEE_AMOUNT, A.MAIL_FEE_AMOUNT, A.PAST_DUE_AMOUNT, A.INVOICE_AMT_DISC, A.INVOICE_AMT_PAID, A.DUE_DATE, A.INV_CLOSED_DATE, A.MAIL_RETURN_DATE, A.EXCUSED_BY, A.DATE_EXCUSED, A.EXCUSED_REASON, A.REMAILED, A.LATE_FEE_GENERATING_INVOICE, A.DATE_CREATED, A.DATE_MODIFIED, A.MODIFIED_BY, A.CREATED_BY, A.PAST_DUE_LATE_FEE_AMOUNT, A.PAST_DUE_MAIL_FEE_AMOUNT, A.WAIVED_LATE_FEE_BY, A.WAIVED_LATE_FEE_DATE, A.VBB_LN_BATCH_ID, A.INVOICE_LOCATION, A.LATE_NOTICE_LOCATION, A.ORIG_DUE_DATE, A.CONVERSION_DATE, A.SOURCE_CODE,
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.VB_INVOICES_CT_INS A
LEFT JOIN VP_OWNER.VB_INVOICES B ON A.VBI_INVOICE_ID = B.VBI_INVOICE_ID
WHERE B.VBI_INVOICE_ID IS NULL


