CREATE PROC [VP_OWNER].[VB_STATEMENT_INVOICES_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','VB_STATEMENT_INVOICES'
	GetInsertFields2 'VP_OWNER','VB_STATEMENT_INVOICES'
*/

EXEC DropStats 'VP_OWNER','VB_STATEMENT_INVOICES_CT_INS'
CREATE STATISTICS STATS_VB_STATEMENT_INVOICES_CT_INS_001 ON VP_OWNER.VB_STATEMENT_INVOICES_CT_INS (VBSI_STATEMENT_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID)

INSERT INTO VP_OWNER.VB_STATEMENT_INVOICES
	(
		  VBSI_STATEMENT_ID, VBI_INVOICE_ID, VBI_INVOICE_STATUS, VBI_INVOICE_STATUS_DESC, VIOL_INVOICE_ID, VIOL_INVOICE_STATUS, VIOL_INVOICE_STATUS_DESC, VBSI_CA_INVOICE_STATUS, VBSI_INVOICE_NOTICE_TYPE, VBSI_INITIAL_INVOICE_DATE, VBSI_VBI_INVOICE_AMOUNT, VBSI_VBI_TOLL_DUE, VBSI_VBI_LATE_FEE_AMOUNT, VBSI_VBI_INVOICE_DISC, VBSI_VBI_INVOICE_PAID, VBSI_INVOICE_AMOUNT, VBSI_INVOICE_DISC, VBSI_INVOICE_PAID, VBSI_ADMIN_FEE, VBSI_ADMIN_FEE_SECOND_NOTICE, VBSI_NTTA_TOLLS, VBSI_HIGHWAY_TOLLS, VBSI_CITATIONS, PAID_INDICATOR, VBSI_PRIOR_ADMIN_FEE, VBSI_PRIOR_ADMIN_FEE_2, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.VBSI_STATEMENT_ID, A.VBI_INVOICE_ID, A.VBI_INVOICE_STATUS, A.VBI_INVOICE_STATUS_DESC, A.VIOL_INVOICE_ID, A.VIOL_INVOICE_STATUS, A.VIOL_INVOICE_STATUS_DESC, A.VBSI_CA_INVOICE_STATUS, A.VBSI_INVOICE_NOTICE_TYPE, A.VBSI_INITIAL_INVOICE_DATE, A.VBSI_VBI_INVOICE_AMOUNT, A.VBSI_VBI_TOLL_DUE, A.VBSI_VBI_LATE_FEE_AMOUNT, A.VBSI_VBI_INVOICE_DISC, A.VBSI_VBI_INVOICE_PAID, A.VBSI_INVOICE_AMOUNT, A.VBSI_INVOICE_DISC, A.VBSI_INVOICE_PAID, A.VBSI_ADMIN_FEE, A.VBSI_ADMIN_FEE_SECOND_NOTICE, A.VBSI_NTTA_TOLLS, A.VBSI_HIGHWAY_TOLLS, A.VBSI_CITATIONS, A.PAID_INDICATOR, A.VBSI_PRIOR_ADMIN_FEE, A.VBSI_PRIOR_ADMIN_FEE_2,
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.VB_STATEMENT_INVOICES_CT_INS A
LEFT JOIN VP_OWNER.VB_STATEMENT_INVOICES B ON A.VBSI_STATEMENT_ID = B.VBSI_STATEMENT_ID AND A.VBI_INVOICE_ID = B.VBI_INVOICE_ID AND A.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
WHERE B.VBSI_STATEMENT_ID IS NULL AND B.VBI_INVOICE_ID IS NULL AND B.VIOL_INVOICE_ID IS NULL

