CREATE PROC [VP_OWNER].[PAYMENT_LINE_ITEMS_Update_Stats] AS

EXEC DropStats 'VP_OWNER','PAYMENT_LINE_ITEMS'
CREATE STATISTICS STATS_PAYMENT_LINE_ITEMS_001 ON VP_OWNER.PAYMENT_LINE_ITEMS (PAYMENT_LINE_ITEM_ID)
CREATE STATISTICS STATS_PAYMENT_LINE_ITEMS_002 ON VP_OWNER.PAYMENT_LINE_ITEMS (PAYMENT_LINE_ITEM_ID, DATE_CREATED)
CREATE STATISTICS STATS_PAYMENT_LINE_ITEMS_003 ON VP_OWNER.PAYMENT_LINE_ITEMS (PAYMENT_LINE_ITEM_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_PAYMENT_LINE_ITEMS_004 ON VP_OWNER.PAYMENT_LINE_ITEMS (LAST_UPDATE_DATE)
