CREATE PROC [VP_OWNER].[PAYMENTS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','PAYMENTS'
	GetInsertFields2 'VP_OWNER','PAYMENTS'
*/

EXEC DropStats 'VP_OWNER','PAYMENTS_CT_INS'
CREATE STATISTICS STATS_PAYMENTS_CT_INS_001 ON VP_OWNER.PAYMENTS_CT_INS (PAYMENT_TXN_ID)

INSERT INTO VP_OWNER.PAYMENTS
	(
		PAYMENT_TXN_ID, PAYMENT_DATE, AMOUNT_DUE, AMOUNT_TENDERED, AMOUNT_RETURNED, AMOUNT_REVERSED, AMOUNT_REFUNDED, DELIVERY_CODE, REFUND_REQUESTED, RECEIPT_REQUESTED, IS_CHANGE_RETURNED, RPT_GENERATED, RPT_GENERATED_DATE, SHIFT_ID, VIOLATOR_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, PAYMENT_STATUS, PAYMENT_SOURCE_CODE, VIOL_PAY_TYPE, ONLINE_TXN_ID, REF_TXN_ID, COMMENT_DATE, OLD_PAYMENT_ID, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, CA_BANK_DEPOSIT_ID, OL_PMT_ID, RETAIL_TRANS_ID,
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.PAYMENT_TXN_ID, A.PAYMENT_DATE, A.AMOUNT_DUE, A.AMOUNT_TENDERED, A.AMOUNT_RETURNED, A.AMOUNT_REVERSED, A.AMOUNT_REFUNDED, A.DELIVERY_CODE, A.REFUND_REQUESTED, A.RECEIPT_REQUESTED, A.IS_CHANGE_RETURNED, A.RPT_GENERATED, A.RPT_GENERATED_DATE, A.SHIFT_ID, A.VIOLATOR_ID, A.LIC_PLATE_NBR, A.LIC_PLATE_STATE, A.PAYMENT_STATUS, A.PAYMENT_SOURCE_CODE, A.VIOL_PAY_TYPE, A.ONLINE_TXN_ID, A.REF_TXN_ID, A.COMMENT_DATE, A.OLD_PAYMENT_ID, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.CA_BANK_DEPOSIT_ID, A.OL_PMT_ID, A.RETAIL_TRANS_ID, 
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.PAYMENTS_CT_INS A
LEFT JOIN VP_OWNER.PAYMENTS B ON A.PAYMENT_TXN_ID = B.PAYMENT_TXN_ID
WHERE B.PAYMENT_TXN_ID IS NULL


