CREATE PROC [VP_OWNER].[VB_STATEMENTS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','VB_STATEMENTS'
	GetInsertFields2 'VP_OWNER','VB_STATEMENTS'
*/

EXEC DropStats 'VP_OWNER','VB_STATEMENTS_CT_INS'
CREATE STATISTICS STATS_VB_STATEMENTS_CT_INS_001 ON VP_OWNER.VB_STATEMENTS_CT_INS (VBS_STATEMENT_ID)

INSERT INTO VP_OWNER.VB_STATEMENTS
	(
		  VBS_STATEMENT_ID, VBA_ACCOUNT_ID, VBSB_BATCH_ID, VBS_STATEMENT_DATE, VBS_GENERATION_DATE, VBS_PAYMENT_DUE_DATE, VBS_AMOUNT_DUE, VBS_PREVIOUS_BALANCE, VBS_UNPAID_BALANCE, VBS_PAYMENTS_TOTAL, VBS_TOLLS_TOTAL, VBS_INV_ADMIN_FEE_TOTAL, VBS_INV_ADMIN_FEE2_TOTAL, VBS_ADJUSTMENTS_TOTAL, VBS_FIRST_NAME, VBS_LAST_NAME, VBS_LICENSE_PLATE, VBS_LIC_PLATE_STATE, VBS_VEHICLE_MAKE, VBS_VEHICLE_MODEL, VBS_VEHICLE_YEAR, VBS_ADDR_VIOL_ID, VBS_ADDR_SEQ_ID, VBS_BILLING_PERIOD_START, VBS_BILLING_PERIOD_END, VBS_STATEMENT_STATUS, VBS_TOLL_TAG_SAVINGS, VBS_IMAGE_NAME, VBS_IMAGE_PATH, VBS_STATEMENT_NOTES, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, VBS_FIRST_NAME_2, VBS_LAST_NAME_2, VBS_UNIQUE_ID, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  
 A.VBS_STATEMENT_ID, A.VBA_ACCOUNT_ID, A.VBSB_BATCH_ID, A.VBS_STATEMENT_DATE, A.VBS_GENERATION_DATE, A.VBS_PAYMENT_DUE_DATE, A.VBS_AMOUNT_DUE, A.VBS_PREVIOUS_BALANCE, A.VBS_UNPAID_BALANCE, A.VBS_PAYMENTS_TOTAL, A.VBS_TOLLS_TOTAL, A.VBS_INV_ADMIN_FEE_TOTAL, A.VBS_INV_ADMIN_FEE2_TOTAL, A.VBS_ADJUSTMENTS_TOTAL, A.VBS_FIRST_NAME, A.VBS_LAST_NAME, A.VBS_LICENSE_PLATE, A.VBS_LIC_PLATE_STATE, A.VBS_VEHICLE_MAKE, A.VBS_VEHICLE_MODEL, A.VBS_VEHICLE_YEAR, A.VBS_ADDR_VIOL_ID, A.VBS_ADDR_SEQ_ID, A.VBS_BILLING_PERIOD_START, A.VBS_BILLING_PERIOD_END, A.VBS_STATEMENT_STATUS, A.VBS_TOLL_TAG_SAVINGS, A.VBS_IMAGE_NAME, A.VBS_IMAGE_PATH, A.VBS_STATEMENT_NOTES, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, A.VBS_FIRST_NAME_2, A.VBS_LAST_NAME_2, A.VBS_UNIQUE_ID,
 'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.VB_STATEMENTS_CT_INS A
LEFT JOIN VP_OWNER.VB_STATEMENTS B ON A.VBS_STATEMENT_ID = B.VBS_STATEMENT_ID
WHERE B.VBS_STATEMENT_ID IS NULL
