CREATE PROC [VP_OWNER].[VIOLATIONS_Update_Stats] AS

EXEC DropStats 'VP_OWNER','VIOLATIONS'
CREATE STATISTICS STATS_VIOLATIONS_001 ON VP_OWNER.VIOLATIONS (VIOLATION_ID)
CREATE STATISTICS STATS_VIOLATIONS_002 ON VP_OWNER.VIOLATIONS (VIOLATOR_ID, VIOLATION_ID)
CREATE STATISTICS STATS_VIOLATIONS_003 ON VP_OWNER.VIOLATIONS (VIOLATION_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VIOLATIONS_004 ON VP_OWNER.VIOLATIONS (LAST_UPDATE_DATE)

