CREATE PROC [VP_OWNER].[GL_TXN_DETAILS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','GL_TXN_DETAILS'
	GetInsertFields2 'VP_OWNER','GL_TXN_DETAILS'
*/

EXEC DropStats 'VP_OWNER','GL_TXN_DETAILS_CT_INS'
CREATE STATISTICS STATS_GL_TXN_DETAILS_CT_INS_001 ON VP_OWNER.GL_TXN_DETAILS_CT_INS (GL_DET_ID, INSERT_DATETIME)

INSERT INTO VP_OWNER.GL_TXN_DETAILS
	(
		 GL_DET_ID, SOURCE_TABLE, SOURCE_COLUMN_1, SOURCE_COLUMN_2, SOURCE_COLUMN_3, SOURCE_COLUMN_4, SOURCE_COLUMN_VALUE_1, SOURCE_COLUMN_VALUE_2, SOURCE_COLUMN_VALUE_3, SOURCE_COLUMN_VALUE_4, AMOUNT, TXN_DATE, GTSM_ID, SUMM_ID, POS_ID, MERCHANT_ID, CARD_CODE, GPTM_ID, DET_LINK_ID, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
		A.GL_DET_ID, A.SOURCE_TABLE, A.SOURCE_COLUMN_1, A.SOURCE_COLUMN_2, A.SOURCE_COLUMN_3, A.SOURCE_COLUMN_4, A.SOURCE_COLUMN_VALUE_1, A.SOURCE_COLUMN_VALUE_2, A.SOURCE_COLUMN_VALUE_3, A.SOURCE_COLUMN_VALUE_4, A.AMOUNT, A.TXN_DATE, A.GTSM_ID, A.SUMM_ID, A.POS_ID, A.MERCHANT_ID, A.CARD_CODE, A.GPTM_ID, A.DET_LINK_ID, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, 
		'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.GL_TXN_DETAILS_CT_INS A
LEFT JOIN VP_OWNER.GL_TXN_DETAILS B ON A.GL_DET_ID = B.GL_DET_ID
WHERE B.GL_DET_ID IS NULL


