CREATE PROC [VP_OWNER].[DMV_MATCHES_Update_Stats] AS

EXEC DropStats 'VP_OWNER','DMV_MATCHES'
CREATE STATISTICS STATS_DMV_MATCHES_001 ON VP_OWNER.DMV_MATCHES (ID)
CREATE STATISTICS STATS_DMV_MATCHES_002 ON VP_OWNER.DMV_MATCHES (ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_DMV_MATCHES_003 ON VP_OWNER.DMV_MATCHES (LAST_UPDATE_DATE)
