CREATE PROC [VP_OWNER].[GL_TXN_DETAILS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','GL_TXN_DETAILS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','GL_TXN_DETAILS_CT_UPD'
CREATE STATISTICS STATS_GL_TXN_DETAILS_CT_UPD_001 ON VP_OWNER.GL_TXN_DETAILS_CT_UPD (GL_DET_ID);
CREATE STATISTICS STATS_GL_TXN_DETAILS_CT_UPD_002 ON VP_OWNER.GL_TXN_DETAILS_CT_UPD (GL_DET_ID, INSERT_DATETIME);

	UPDATE  VP_OWNER.GL_TXN_DETAILS
	SET 
    
		 VP_OWNER.GL_TXN_DETAILS.SOURCE_TABLE = B.SOURCE_TABLE
		, VP_OWNER.GL_TXN_DETAILS.SOURCE_COLUMN_1 = B.SOURCE_COLUMN_1
		, VP_OWNER.GL_TXN_DETAILS.SOURCE_COLUMN_2 = B.SOURCE_COLUMN_2
		, VP_OWNER.GL_TXN_DETAILS.SOURCE_COLUMN_3 = B.SOURCE_COLUMN_3
		, VP_OWNER.GL_TXN_DETAILS.SOURCE_COLUMN_4 = B.SOURCE_COLUMN_4
		, VP_OWNER.GL_TXN_DETAILS.SOURCE_COLUMN_VALUE_1 = B.SOURCE_COLUMN_VALUE_1
		, VP_OWNER.GL_TXN_DETAILS.SOURCE_COLUMN_VALUE_2 = B.SOURCE_COLUMN_VALUE_2
		, VP_OWNER.GL_TXN_DETAILS.SOURCE_COLUMN_VALUE_3 = B.SOURCE_COLUMN_VALUE_3
		, VP_OWNER.GL_TXN_DETAILS.SOURCE_COLUMN_VALUE_4 = B.SOURCE_COLUMN_VALUE_4
		, VP_OWNER.GL_TXN_DETAILS.AMOUNT = B.AMOUNT
		, VP_OWNER.GL_TXN_DETAILS.TXN_DATE = B.TXN_DATE
		, VP_OWNER.GL_TXN_DETAILS.GTSM_ID = B.GTSM_ID
		, VP_OWNER.GL_TXN_DETAILS.SUMM_ID = B.SUMM_ID
		, VP_OWNER.GL_TXN_DETAILS.POS_ID = B.POS_ID
		, VP_OWNER.GL_TXN_DETAILS.MERCHANT_ID = B.MERCHANT_ID
		, VP_OWNER.GL_TXN_DETAILS.CARD_CODE = B.CARD_CODE
		, VP_OWNER.GL_TXN_DETAILS.GPTM_ID = B.GPTM_ID
		, VP_OWNER.GL_TXN_DETAILS.DET_LINK_ID = B.DET_LINK_ID
		, VP_OWNER.GL_TXN_DETAILS.CREATED_BY = B.CREATED_BY
		, VP_OWNER.GL_TXN_DETAILS.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.GL_TXN_DETAILS.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.GL_TXN_DETAILS.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.GL_TXN_DETAILS.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.GL_TXN_DETAILS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.GL_TXN_DETAILS_CT_UPD B
	WHERE VP_OWNER.GL_TXN_DETAILS.GL_DET_ID = B.GL_DET_ID

