CREATE PROC [VP_OWNER].[MAIL_FILE_DETAILS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','MAIL_FILE_DETAILS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','MAIL_FILE_DETAILS_CT_UPD'
CREATE STATISTICS STATS_MAIL_FILE_DETAILS_CT_UPD_001 ON VP_OWNER.MAIL_FILE_DETAILS_CT_UPD (MAIL_FILE_HEADER_ID, MAIL_FILE_DETAIL_ID)
CREATE STATISTICS STATS_MAIL_FILE_DETAILS_CT_UPD_002 ON VP_OWNER.MAIL_FILE_DETAILS_CT_UPD (MAIL_FILE_DETAIL_ID)

	UPDATE  VP_OWNER.MAIL_FILE_DETAILS
	SET 

		 VP_OWNER.MAIL_FILE_DETAILS.STATEMENT_ID = B.STATEMENT_ID
		, VP_OWNER.MAIL_FILE_DETAILS.ACCOUNT_ID = B.ACCOUNT_ID
		, VP_OWNER.MAIL_FILE_DETAILS.ORG_NEXT_GENERATION_DATE = B.ORG_NEXT_GENERATION_DATE
		, VP_OWNER.MAIL_FILE_DETAILS.PUSHED_NEXT_GENERATION_DATE = B.PUSHED_NEXT_GENERATION_DATE
		, VP_OWNER.MAIL_FILE_DETAILS.PROCESSED_DATE = B.PROCESSED_DATE
		, VP_OWNER.MAIL_FILE_DETAILS.STATUS_CODE = B.STATUS_CODE
		, VP_OWNER.MAIL_FILE_DETAILS.STATEMENT_TYPE = B.STATEMENT_TYPE
		, VP_OWNER.MAIL_FILE_DETAILS.STATEMENT_DATE = B.STATEMENT_DATE
		, VP_OWNER.MAIL_FILE_DETAILS.PRINT_REJ_DATE = B.PRINT_REJ_DATE
		, VP_OWNER.MAIL_FILE_DETAILS.PRINT_IND = B.PRINT_IND
		, VP_OWNER.MAIL_FILE_DETAILS.COMMENTS = B.COMMENTS
		, VP_OWNER.MAIL_FILE_DETAILS.NXI = B.NXI
		, VP_OWNER.MAIL_FILE_DETAILS.ANK = B.ANK
		, VP_OWNER.MAIL_FILE_DETAILS.REPRINT = B.REPRINT
		, VP_OWNER.MAIL_FILE_DETAILS.MAIL_DATE = B.MAIL_DATE
		, VP_OWNER.MAIL_FILE_DETAILS.MS_UNIQUE_ID = B.MS_UNIQUE_ID
		, VP_OWNER.MAIL_FILE_DETAILS.LINE_COMMENT = B.LINE_COMMENT
		, VP_OWNER.MAIL_FILE_DETAILS.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.MAIL_FILE_DETAILS.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.MAIL_FILE_DETAILS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM 
		VP_OWNER.MAIL_FILE_DETAILS_CT_UPD B
	WHERE 
		VP_OWNER.MAIL_FILE_DETAILS.MAIL_FILE_HEADER_ID = B.MAIL_FILE_HEADER_ID AND 
		VP_OWNER.MAIL_FILE_DETAILS.MAIL_FILE_DETAIL_ID = B.MAIL_FILE_DETAIL_ID

