CREATE PROC [VP_OWNER].[VB_STATEMENTS_Update_Stats] AS

EXEC DropStats 'VP_OWNER','VB_STATEMENTS'
CREATE STATISTICS STATS_VB_STATEMENTS_001 ON VP_OWNER.VB_STATEMENTS (VBS_STATEMENT_ID)
CREATE STATISTICS STATS_VB_STATEMENTS_002 ON VP_OWNER.VB_STATEMENTS (VBS_STATEMENT_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VB_STATEMENTS_003 ON VP_OWNER.VB_STATEMENTS (VBS_STATEMENT_ID, VBS_STATEMENT_DATE)
CREATE STATISTICS STATS_VB_STATEMENTS_004 ON VP_OWNER.VB_STATEMENTS (VBS_STATEMENT_ID, VBS_STATEMENT_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)


