CREATE PROC [VP_OWNER].[VB_STATEMENT_VIOLATIONS_DELETE] AS


EXEC DropStats 'VP_OWNER','VB_STATEMENT_VIOLATIONS_CT_DEL'
CREATE STATISTICS STATS_VB_STATEMENT_VIOLATIONS_CT_DEL_001 ON VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_DEL (VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID)
CREATE STATISTICS STATS_VB_STATEMENT_VIOLATIONS_CT_DEL_002 ON VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_DEL (VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID, INSERT_DATETIME)



UPDATE VP_OWNER.VB_STATEMENT_VIOLATIONS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_DEL B
WHERE VP_OWNER.VB_STATEMENT_VIOLATIONS.VBSV_STATEMENT_ID = B.VBSV_STATEMENT_ID 
		AND VP_OWNER.VB_STATEMENT_VIOLATIONS.VIOLATION_ID = B.VIOLATION_ID 
		AND VP_OWNER.VB_STATEMENT_VIOLATIONS.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
		AND VP_OWNER.VB_STATEMENT_VIOLATIONS.VBI_INVOICE_ID = B.VBI_INVOICE_ID

/*
	To Test With:

	INSERT INTO VP_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM VP_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

