CREATE PROC [VP_OWNER].[VB_STATEMENT_VIOLATIONS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','VB_STATEMENT_VIOLATIONS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','VB_STATEMENT_VIOLATIONS_CT_UPD'
CREATE STATISTICS STATS_VB_STATEMENT_VIOLATIONS_CT_UPD_001 ON VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_UPD (VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID)
CREATE STATISTICS STATS_VB_STATEMENT_VIOLATIONS_CT_UPD_002 ON VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_UPD (VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/
/*
IF OBJECT_ID('tempdb..#VB_STATEMENT_VIOLATIONS_CT_UPD_Dups')<>0
	DROP TABLE #VB_STATEMENT_VIOLATIONS_CT_UPD_Dups

CREATE TABLE #VB_STATEMENT_VIOLATIONS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.VBSV_STATEMENT_ID, A.VIOLATION_ID, A.VIOL_INVOICE_ID, A.VBI_INVOICE_ID, A.INSERT_DATETIME
	FROM VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_UPD A
	INNER JOIN 
		(
			SELECT VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID
			FROM VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_UPD
			GROUP BY VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID
			HAVING COUNT(*)>1
		) Dups ON A.VBSV_STATEMENT_ID = Dups.VBSV_STATEMENT_ID AND A.VIOLATION_ID = Dups.VIOLATION_ID AND A.VIOL_INVOICE_ID = Dups.VIOL_INVOICE_ID AND A.VBI_INVOICE_ID = Dups.VBI_INVOICE_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#VB_STATEMENT_VIOLATIONS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #VB_STATEMENT_VIOLATIONS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #VB_STATEMENT_VIOLATIONS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID), LOCATION = USER_DB)
AS
	SELECT  A.VBSV_STATEMENT_ID, A.VBI_INVOICE_ID, A.VIOL_INVOICE_ID, A.VIOLATION_ID, A.VIOL_DATE, A.LANE_NAME, A.LANE_DESCRIPTION, A.VBSV_SV_AMOUNT_DUE, A.VBSV_SV_AMOUNT_PAID, A.VBSV_VIOLATION_STATUS, A.VBSV_NTTA_IND, A.VBSV_DISCOUNT_CODE, A.VBSV_TXN_FEE, A.OCR_NBR_CONFID, A.POST_DATE, A.PAID_INDICATOR, A.INSERT_DATETIME
	FROM VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_UPD A
	INNER JOIN 
		(
			SELECT VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #VB_STATEMENT_VIOLATIONS_CT_UPD_Dups
			GROUP BY VBSV_STATEMENT_ID,VIOLATION_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID
		) LastRcrd ON A.VBSV_STATEMENT_ID = LastRcrd.VBSV_STATEMENT_ID AND A.VIOLATION_ID = LastRcrd.VIOLATION_ID AND A.VIOL_INVOICE_ID = LastRcrd.VIOL_INVOICE_ID AND A.VBI_INVOICE_ID = LastRcrd.VBI_INVOICE_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_UPD 
WHERE EXISTS(SELECT * FROM #VB_STATEMENT_VIOLATIONS_CT_UPD_Dups B 
WHERE VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_UPD.VBSV_STATEMENT_ID = B.VBSV_STATEMENT_ID 
	AND VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_UPD.VIOLATION_ID = B.VIOLATION_ID 
	AND VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_UPD.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
	AND VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_UPD.VBI_INVOICE_ID = B.VBI_INVOICE_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_UPD 
	( VBSV_STATEMENT_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, VIOLATION_ID, VIOL_DATE, LANE_NAME, LANE_DESCRIPTION, VBSV_SV_AMOUNT_DUE, VBSV_SV_AMOUNT_PAID, VBSV_VIOLATION_STATUS, VBSV_NTTA_IND, VBSV_DISCOUNT_CODE, VBSV_TXN_FEE, OCR_NBR_CONFID, POST_DATE, PAID_INDICATOR, INSERT_DATETIME)
SELECT VBSV_STATEMENT_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, VIOLATION_ID, VIOL_DATE, LANE_NAME, LANE_DESCRIPTION, VBSV_SV_AMOUNT_DUE, VBSV_SV_AMOUNT_PAID, VBSV_VIOLATION_STATUS, VBSV_NTTA_IND, VBSV_DISCOUNT_CODE, VBSV_TXN_FEE, OCR_NBR_CONFID, POST_DATE, PAID_INDICATOR, INSERT_DATETIME
FROM #VB_STATEMENT_VIOLATIONS_CT_UPD_DuplicateLastRowToReInsert

*/
	UPDATE  VP_OWNER.VB_STATEMENT_VIOLATIONS
	SET 
    
		 
		 VP_OWNER.VB_STATEMENT_VIOLATIONS.VIOL_DATE = B.VIOL_DATE
		, VP_OWNER.VB_STATEMENT_VIOLATIONS.LANE_NAME = B.LANE_NAME
		, VP_OWNER.VB_STATEMENT_VIOLATIONS.LANE_DESCRIPTION = B.LANE_DESCRIPTION
		, VP_OWNER.VB_STATEMENT_VIOLATIONS.VBSV_SV_AMOUNT_DUE = B.VBSV_SV_AMOUNT_DUE
		, VP_OWNER.VB_STATEMENT_VIOLATIONS.VBSV_SV_AMOUNT_PAID = B.VBSV_SV_AMOUNT_PAID
		, VP_OWNER.VB_STATEMENT_VIOLATIONS.VBSV_VIOLATION_STATUS = B.VBSV_VIOLATION_STATUS
		, VP_OWNER.VB_STATEMENT_VIOLATIONS.VBSV_NTTA_IND = B.VBSV_NTTA_IND
		, VP_OWNER.VB_STATEMENT_VIOLATIONS.VBSV_DISCOUNT_CODE = B.VBSV_DISCOUNT_CODE
		, VP_OWNER.VB_STATEMENT_VIOLATIONS.VBSV_TXN_FEE = B.VBSV_TXN_FEE
		, VP_OWNER.VB_STATEMENT_VIOLATIONS.OCR_NBR_CONFID = B.OCR_NBR_CONFID
		, VP_OWNER.VB_STATEMENT_VIOLATIONS.POST_DATE = B.POST_DATE
		, VP_OWNER.VB_STATEMENT_VIOLATIONS.PAID_INDICATOR = B.PAID_INDICATOR
		, VP_OWNER.VB_STATEMENT_VIOLATIONS.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.VB_STATEMENT_VIOLATIONS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.VB_STATEMENT_VIOLATIONS_CT_UPD B
	WHERE 
			VP_OWNER.VB_STATEMENT_VIOLATIONS.VBSV_STATEMENT_ID = B.VBSV_STATEMENT_ID	
		AND VP_OWNER.VB_STATEMENT_VIOLATIONS.VIOLATION_ID = B.VIOLATION_ID 
		AND VP_OWNER.VB_STATEMENT_VIOLATIONS.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
		AND VP_OWNER.VB_STATEMENT_VIOLATIONS.VBI_INVOICE_ID = B.VBI_INVOICE_ID 
