CREATE PROC [VP_OWNER].[LANE_VIOLATIONS_Update_Stats] AS

EXEC DropStats 'VP_OWNER','LANE_VIOLATIONS'
CREATE STATISTICS STATS_LANE_VIOLATIONS_001 ON VP_OWNER.LANE_VIOLATIONS (LANE_VIOL_ID)
CREATE STATISTICS STATS_LANE_VIOLATIONS_002 ON VP_OWNER.LANE_VIOLATIONS (VIOL_DATE, LANE_VIOL_ID)
CREATE STATISTICS STATS_LANE_VIOLATIONS_003 ON VP_OWNER.LANE_VIOLATIONS (LANE_VIOL_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_LANE_VIOLATIONS_004 ON VP_OWNER.LANE_VIOLATIONS (LAST_UPDATE_DATE)
