CREATE PROC [VP_OWNER].[PAYMENT_XREF_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','PAYMENT_XREF'
	GetInsertFields2 'VP_OWNER','PAYMENT_XREF'
*/

EXEC DropStats 'VP_OWNER','PAYMENT_XREF_CT_INS'
CREATE STATISTICS STATS_PAYMENT_XREF_CT_INS_001 ON VP_OWNER.PAYMENT_XREF_CT_INS (PAYMENT_XREF_ID)

INSERT INTO VP_OWNER.PAYMENT_XREF
	(
		 PAYMENT_XREF_ID, PAYMENT_LINE_ITEM_ID, VIOL_INVOICE_ID, VIOLATION_ID, UNPAID_TOLL_ID, SPLIT_AMOUNT, PAYMENT_STATUS, TRANSACTION_TYPE, GL_STATUS, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, DET_LINK_ID, OL_DET_ID, VBI_VBI_INVOICE_ID, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.PAYMENT_XREF_ID, A.PAYMENT_LINE_ITEM_ID, A.VIOL_INVOICE_ID, A.VIOLATION_ID, A.UNPAID_TOLL_ID, A.SPLIT_AMOUNT, A.PAYMENT_STATUS, A.TRANSACTION_TYPE, A.GL_STATUS, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.DET_LINK_ID, A.OL_DET_ID, A.VBI_VBI_INVOICE_ID, 
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.PAYMENT_XREF_CT_INS A
LEFT JOIN VP_OWNER.PAYMENT_XREF B ON A.PAYMENT_XREF_ID = B.PAYMENT_XREF_ID
WHERE B.PAYMENT_XREF_ID IS NULL


