CREATE PROC [VP_OWNER].[VIOL_INVOICE_VIOL_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','VIOL_INVOICE_VIOL'
	GetInsertFields2 'VP_OWNER','VIOL_INVOICE_VIOL'
*/

EXEC DropStats 'VP_OWNER','VIOL_INVOICE_VIOL_CT_INS'
CREATE STATISTICS STATS_VIOL_INVOICE_VIOL_CT_INS_001 ON VP_OWNER.VIOL_INVOICE_VIOL_CT_INS (VIOLATION_ID,VIOL_INVOICE_ID)


INSERT INTO VP_OWNER.VIOL_INVOICE_VIOL
	(
		VIOLATION_ID, VIOL_INVOICE_ID, FINE_AMOUNT, TOLL_DUE_AMOUNT, VIOL_INV_STATUS, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, VIOL_STATUS, GL_STATUS, CLOSE_OUT_DATE, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  
 A.VIOLATION_ID, A.VIOL_INVOICE_ID, A.FINE_AMOUNT, A.TOLL_DUE_AMOUNT, A.VIOL_INV_STATUS, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, A.VIOL_STATUS, A.GL_STATUS, A.CLOSE_OUT_DATE,
 'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.VIOL_INVOICE_VIOL_CT_INS A
LEFT JOIN VP_OWNER.VIOL_INVOICE_VIOL B ON A.VIOLATION_ID = B.VIOLATION_ID AND  A.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
WHERE B.VIOLATION_ID IS NULL AND B.VIOL_INVOICE_ID IS NULL

