CREATE PROC [VP_OWNER].[VB_STATEMENTS_UPDATE] AS

/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','VB_STATEMENTS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','VB_STATEMENTS_CT_UPD'
CREATE STATISTICS STATS_VIOLATIONS_CT_UPD_001 ON VP_OWNER.VB_STATEMENTS_CT_UPD (VBS_STATEMENT_ID)
CREATE STATISTICS STATS_VIOLATIONS_CT_UPD_002 ON VP_OWNER.VB_STATEMENTS_CT_UPD (VBS_STATEMENT_ID, INSERT_DATETIME)


	UPDATE  VP_OWNER.VB_STATEMENTS
	SET 
    
		 VP_OWNER.VB_STATEMENTS.VBA_ACCOUNT_ID = B.VBA_ACCOUNT_ID
		, VP_OWNER.VB_STATEMENTS.VBSB_BATCH_ID = B.VBSB_BATCH_ID
		, VP_OWNER.VB_STATEMENTS.VBS_STATEMENT_DATE = B.VBS_STATEMENT_DATE
		, VP_OWNER.VB_STATEMENTS.VBS_GENERATION_DATE = B.VBS_GENERATION_DATE
		, VP_OWNER.VB_STATEMENTS.VBS_PAYMENT_DUE_DATE = B.VBS_PAYMENT_DUE_DATE
		, VP_OWNER.VB_STATEMENTS.VBS_AMOUNT_DUE = B.VBS_AMOUNT_DUE
		, VP_OWNER.VB_STATEMENTS.VBS_PREVIOUS_BALANCE = B.VBS_PREVIOUS_BALANCE
		, VP_OWNER.VB_STATEMENTS.VBS_UNPAID_BALANCE = B.VBS_UNPAID_BALANCE
		, VP_OWNER.VB_STATEMENTS.VBS_PAYMENTS_TOTAL = B.VBS_PAYMENTS_TOTAL
		, VP_OWNER.VB_STATEMENTS.VBS_TOLLS_TOTAL = B.VBS_TOLLS_TOTAL
		, VP_OWNER.VB_STATEMENTS.VBS_INV_ADMIN_FEE_TOTAL = B.VBS_INV_ADMIN_FEE_TOTAL
		, VP_OWNER.VB_STATEMENTS.VBS_INV_ADMIN_FEE2_TOTAL = B.VBS_INV_ADMIN_FEE2_TOTAL
		, VP_OWNER.VB_STATEMENTS.VBS_ADJUSTMENTS_TOTAL = B.VBS_ADJUSTMENTS_TOTAL
		, VP_OWNER.VB_STATEMENTS.VBS_FIRST_NAME = B.VBS_FIRST_NAME
		, VP_OWNER.VB_STATEMENTS.VBS_LAST_NAME = B.VBS_LAST_NAME
		, VP_OWNER.VB_STATEMENTS.VBS_LICENSE_PLATE = B.VBS_LICENSE_PLATE
		, VP_OWNER.VB_STATEMENTS.VBS_LIC_PLATE_STATE = B.VBS_LIC_PLATE_STATE
		, VP_OWNER.VB_STATEMENTS.VBS_VEHICLE_MAKE = B.VBS_VEHICLE_MAKE
		, VP_OWNER.VB_STATEMENTS.VBS_VEHICLE_MODEL = B.VBS_VEHICLE_MODEL
		, VP_OWNER.VB_STATEMENTS.VBS_VEHICLE_YEAR = B.VBS_VEHICLE_YEAR
		, VP_OWNER.VB_STATEMENTS.VBS_ADDR_VIOL_ID = B.VBS_ADDR_VIOL_ID
		, VP_OWNER.VB_STATEMENTS.VBS_ADDR_SEQ_ID = B.VBS_ADDR_SEQ_ID
		, VP_OWNER.VB_STATEMENTS.VBS_BILLING_PERIOD_START = B.VBS_BILLING_PERIOD_START
		, VP_OWNER.VB_STATEMENTS.VBS_BILLING_PERIOD_END = B.VBS_BILLING_PERIOD_END
		, VP_OWNER.VB_STATEMENTS.VBS_STATEMENT_STATUS = B.VBS_STATEMENT_STATUS
		, VP_OWNER.VB_STATEMENTS.VBS_TOLL_TAG_SAVINGS = B.VBS_TOLL_TAG_SAVINGS
		, VP_OWNER.VB_STATEMENTS.VBS_IMAGE_NAME = B.VBS_IMAGE_NAME
		, VP_OWNER.VB_STATEMENTS.VBS_IMAGE_PATH = B.VBS_IMAGE_PATH
		, VP_OWNER.VB_STATEMENTS.VBS_STATEMENT_NOTES = B.VBS_STATEMENT_NOTES
		, VP_OWNER.VB_STATEMENTS.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.VB_STATEMENTS.CREATED_BY = B.CREATED_BY
		, VP_OWNER.VB_STATEMENTS.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.VB_STATEMENTS.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.VB_STATEMENTS.VBS_FIRST_NAME_2 = B.VBS_FIRST_NAME_2
		, VP_OWNER.VB_STATEMENTS.VBS_LAST_NAME_2 = B.VBS_LAST_NAME_2
		, VP_OWNER.VB_STATEMENTS.VBS_UNIQUE_ID = B.VBS_UNIQUE_ID
		, VP_OWNER.VB_STATEMENTS.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.VB_STATEMENTS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.VB_STATEMENTS_CT_UPD B
	WHERE VP_OWNER.VB_STATEMENTS.VBS_STATEMENT_ID = B.VBS_STATEMENT_ID


