CREATE PROC [VP_OWNER].[VB_INVOICE_BATCHES_DELETE] AS


EXEC DropStats 'VP_OWNER','VB_INVOICE_BATCHES_CT_DEL'
CREATE STATISTICS STATS_VB_INVOICE_BATCHES_CT_DEL_001 ON VP_OWNER.VB_INVOICE_BATCHES_CT_DEL (VBB_BATCH_ID)
CREATE STATISTICS STATS_VB_INVOICE_BATCHES_CT_DEL_002 ON VP_OWNER.VB_INVOICE_BATCHES_CT_DEL (VBB_BATCH_ID, INSERT_DATETIME)



UPDATE VP_OWNER.VB_INVOICE_BATCHES
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM VP_OWNER.VB_INVOICE_BATCHES_CT_DEL B
WHERE VP_OWNER.VB_INVOICE_BATCHES.VBB_BATCH_ID = B.VBB_BATCH_ID

/*
	To Test With:

	INSERT INTO VP_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM VP_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

