CREATE PROC [VP_OWNER].[PAYMENT_XREF_Update_Stats] AS

EXEC DropStats 'VP_OWNER','PAYMENT_XREF'
CREATE STATISTICS STATS_PAYMENT_XREF_001 ON VP_OWNER.PAYMENT_XREF (PAYMENT_XREF_ID)
CREATE STATISTICS STATS_PAYMENT_XREF_002 ON VP_OWNER.PAYMENT_XREF (PAYMENT_XREF_ID, DATE_CREATED)
CREATE STATISTICS STATS_PAYMENT_XREF_003 ON VP_OWNER.PAYMENT_XREF (PAYMENT_XREF_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_PAYMENT_XREF_004 ON VP_OWNER.PAYMENT_XREF (LAST_UPDATE_DATE)





