CREATE PROC [VP_OWNER].[CA_ACCT_INV_XREF_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','CA_ACCT_INV_XREF'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','CA_ACCT_INV_XREF_CT_UPD'
CREATE STATISTICS STATS_CA_ACCT_INV_XREF_CT_UPD_001 ON VP_OWNER.CA_ACCT_INV_XREF_CT_UPD (CA_ACCT_ID)
CREATE STATISTICS STATS_CA_ACCT_INV_XREF_CT_UPD_002 ON VP_OWNER.CA_ACCT_INV_XREF_CT_UPD (CA_ACCT_ID, VIOL_INVOICE_ID)


	UPDATE  VP_OWNER.CA_ACCT_INV_XREF
	SET 
    
		  VP_OWNER.CA_ACCT_INV_XREF.CA_INV_STATUS = B.CA_INV_STATUS
		, VP_OWNER.CA_ACCT_INV_XREF.CA_ACCT_STATUS = B.CA_ACCT_STATUS
		, VP_OWNER.CA_ACCT_INV_XREF.CREATED_BY = B.CREATED_BY
		, VP_OWNER.CA_ACCT_INV_XREF.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.CA_ACCT_INV_XREF.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.CA_ACCT_INV_XREF.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.CA_ACCT_INV_XREF.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.CA_ACCT_INV_XREF.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.CA_ACCT_INV_XREF_CT_UPD B
	WHERE VP_OWNER.CA_ACCT_INV_XREF.CA_ACCT_ID = B.CA_ACCT_ID AND VP_OWNER.CA_ACCT_INV_XREF.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID

