CREATE PROC [VP_OWNER].[VB_STATEMENT_PAYMENTS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','VB_STATEMENT_PAYMENTS'
	GetInsertFields2 'VP_OWNER','VB_STATEMENT_PAYMENTS'
*/

EXEC DropStats 'VP_OWNER','VB_STATEMENT_PAYMENTS_CT_INS'
CREATE STATISTICS STATS_VB_STATEMENT_PAYMENTS_CT_INS_001 ON VP_OWNER.VB_STATEMENT_PAYMENTS_CT_INS (VBSP_ACTIVITY_ID)

INSERT INTO VP_OWNER.VB_STATEMENT_PAYMENTS
	(
		 VBSP_STATEMENT_ID, VBSP_ACTIVITY_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, VIOLATION_ID, PAYMENT_LINE_ITEM_ID, VBSP_ACTIVITY_DATE, VBSP_ACTIVITY_TYPE, VBSP_ACTIVITY_AMOUNT, VBSP_ACTIVITY_AMOUNT_PAID, VBSP_ACTIVITY_LINE_AMOUNT, VBSP_ACTIVITY_SPLIT_AMOUNT,
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.VBSP_STATEMENT_ID, A.VBSP_ACTIVITY_ID, A.VBI_INVOICE_ID, A.VIOL_INVOICE_ID, A.VIOLATION_ID, A.PAYMENT_LINE_ITEM_ID, A.VBSP_ACTIVITY_DATE, A.VBSP_ACTIVITY_TYPE, A.VBSP_ACTIVITY_AMOUNT, A.VBSP_ACTIVITY_AMOUNT_PAID, A.VBSP_ACTIVITY_LINE_AMOUNT, A.VBSP_ACTIVITY_SPLIT_AMOUNT,
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.VB_STATEMENT_PAYMENTS_CT_INS A
LEFT JOIN VP_OWNER.VB_STATEMENT_PAYMENTS B ON A.VBSP_ACTIVITY_ID = B.VBSP_ACTIVITY_ID
WHERE B.VBSP_ACTIVITY_ID IS NULL


