CREATE PROC [VP_OWNER].[VIOL_INVOICES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','VIOL_INVOICES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','VIOL_INVOICES_CT_UPD'
CREATE STATISTICS STATS_VIOL_INVOICES_CT_UPD_001 ON VP_OWNER.VIOL_INVOICES_CT_UPD (VIOL_INVOICE_ID)
CREATE STATISTICS STATS_VIOL_INVOICES_CT_UPD_002 ON VP_OWNER.VIOL_INVOICES_CT_UPD (VIOL_INVOICE_ID, INSERT_DATETIME)

	UPDATE  VP_OWNER.VIOL_INVOICES
	SET 
    
		 VP_OWNER.VIOL_INVOICES.INVOICE_DATE = B.INVOICE_DATE
		, VP_OWNER.VIOL_INVOICES.INVOICE_AMOUNT = B.INVOICE_AMOUNT
		, VP_OWNER.VIOL_INVOICES.INVOICE_AMT_PAID = B.INVOICE_AMT_PAID
		, VP_OWNER.VIOL_INVOICES.VIOL_INV_BATCH_ID = B.VIOL_INV_BATCH_ID
		, VP_OWNER.VIOL_INVOICES.VIOL_INV_STATUS = B.VIOL_INV_STATUS
		, VP_OWNER.VIOL_INVOICES.VIOLATOR_ADDR_SEQ = B.VIOLATOR_ADDR_SEQ
		, VP_OWNER.VIOL_INVOICES.VIOLATOR_ID = B.VIOLATOR_ID
		, VP_OWNER.VIOL_INVOICES.CURR_DUE_DATE = B.CURR_DUE_DATE
		, VP_OWNER.VIOL_INVOICES.MAIL_RETURN_DATE = B.MAIL_RETURN_DATE
		, VP_OWNER.VIOL_INVOICES.INV_CLOSED_DATE = B.INV_CLOSED_DATE
		, VP_OWNER.VIOL_INVOICES.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.VIOL_INVOICES.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.VIOL_INVOICES.CONTESTED = B.CONTESTED
		, VP_OWNER.VIOL_INVOICES.EXCUSED_BY = B.EXCUSED_BY
		, VP_OWNER.VIOL_INVOICES.DATE_EXCUSED = B.DATE_EXCUSED
		, VP_OWNER.VIOL_INVOICES.INV_EXCUSED_REASON = B.INV_EXCUSED_REASON
		, VP_OWNER.VIOL_INVOICES.STATUS_DATE = B.STATUS_DATE
		, VP_OWNER.VIOL_INVOICES.COMMENT_DATE = B.COMMENT_DATE
		, VP_OWNER.VIOL_INVOICES.DPS_DATE = B.DPS_DATE
		, VP_OWNER.VIOL_INVOICES.DPS_REJECT_DATE = B.DPS_REJECT_DATE
		, VP_OWNER.VIOL_INVOICES.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.VIOL_INVOICES.CREATED_BY = B.CREATED_BY
		, VP_OWNER.VIOL_INVOICES.GL_STATUS = B.GL_STATUS
		, VP_OWNER.VIOL_INVOICES.REMAILED = B.REMAILED
		, VP_OWNER.VIOL_INVOICES.CACCTINVXR_VIOL_INVOICE_ID = B.CACCTINVXR_VIOL_INVOICE_ID
		, VP_OWNER.VIOL_INVOICES.INVOICE_AMT_DISC = B.INVOICE_AMT_DISC
		, VP_OWNER.VIOL_INVOICES.CA_INV_STATUS = B.CA_INV_STATUS
		, VP_OWNER.VIOL_INVOICES.IS_VTOLL = B.IS_VTOLL
		, VP_OWNER.VIOL_INVOICES.DPS_INV_STATUS = B.DPS_INV_STATUS
		, VP_OWNER.VIOL_INVOICES.IS_VEA = B.IS_VEA
		, VP_OWNER.VIOL_INVOICES.DET_LINK_ID = B.DET_LINK_ID
		, VP_OWNER.VIOL_INVOICES.VIP_HOLD = B.VIP_HOLD
		, VP_OWNER.VIOL_INVOICES.SOURCE_CODE = B.SOURCE_CODE
		, VP_OWNER.VIOL_INVOICES.INV_ADMIN_FEE = B.INV_ADMIN_FEE
		, VP_OWNER.VIOL_INVOICES.CLOSE_OUT_ELIGIBILITY_DATE = B.CLOSE_OUT_ELIGIBILITY_DATE
		, VP_OWNER.VIOL_INVOICES.CLOSE_OUT_STATUS = B.CLOSE_OUT_STATUS
		, VP_OWNER.VIOL_INVOICES.CLOSE_OUT_DATE = B.CLOSE_OUT_DATE
		, VP_OWNER.VIOL_INVOICES.CLOSE_OUT_TYPE = B.CLOSE_OUT_TYPE
		, VP_OWNER.VIOL_INVOICES.INV_ADMIN_FEE2 = B.INV_ADMIN_FEE2
		, VP_OWNER.VIOL_INVOICES.INV_ADMIN_FEE_POST_DATE = B.INV_ADMIN_FEE_POST_DATE
		, VP_OWNER.VIOL_INVOICES.INV_ADMIN_FEE_2_POST_DATE = B.INV_ADMIN_FEE_2_POST_DATE
		, VP_OWNER.VIOL_INVOICES.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.VIOL_INVOICES.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.VIOL_INVOICES_CT_UPD B
	WHERE VP_OWNER.VIOL_INVOICES.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID

