CREATE PROC [VP_OWNER].[PAYMENT_XREF_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','PAYMENT_XREF'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','PAYMENT_XREF_CT_UPD'
CREATE STATISTICS STATS_PAYMENT_XREF_CT_UPD_001 ON VP_OWNER.PAYMENT_XREF_CT_UPD (PAYMENT_XREF_ID)
CREATE STATISTICS STATS_PAYMENT_XREF_CT_UPD_002 ON VP_OWNER.PAYMENT_XREF_CT_UPD (PAYMENT_XREF_ID, INSERT_DATETIME)


	UPDATE  VP_OWNER.PAYMENT_XREF
	SET 
    
		  VP_OWNER.PAYMENT_XREF.PAYMENT_LINE_ITEM_ID = B.PAYMENT_LINE_ITEM_ID
		, VP_OWNER.PAYMENT_XREF.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
		, VP_OWNER.PAYMENT_XREF.VIOLATION_ID = B.VIOLATION_ID
		, VP_OWNER.PAYMENT_XREF.UNPAID_TOLL_ID = B.UNPAID_TOLL_ID
		, VP_OWNER.PAYMENT_XREF.SPLIT_AMOUNT = B.SPLIT_AMOUNT
		, VP_OWNER.PAYMENT_XREF.PAYMENT_STATUS = B.PAYMENT_STATUS
		, VP_OWNER.PAYMENT_XREF.TRANSACTION_TYPE = B.TRANSACTION_TYPE
		, VP_OWNER.PAYMENT_XREF.GL_STATUS = B.GL_STATUS
		, VP_OWNER.PAYMENT_XREF.CREATED_BY = B.CREATED_BY
		, VP_OWNER.PAYMENT_XREF.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.PAYMENT_XREF.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.PAYMENT_XREF.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.PAYMENT_XREF.DET_LINK_ID = B.DET_LINK_ID
		, VP_OWNER.PAYMENT_XREF.OL_DET_ID = B.OL_DET_ID
		, VP_OWNER.PAYMENT_XREF.VBI_VBI_INVOICE_ID = B.VBI_VBI_INVOICE_ID	
		, VP_OWNER.PAYMENT_XREF.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.PAYMENT_XREF.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.PAYMENT_XREF_CT_UPD B
	WHERE VP_OWNER.PAYMENT_XREF.PAYMENT_XREF_ID = B.PAYMENT_XREF_ID

