CREATE PROC [VP_OWNER].[PERF_IRS_REJ_REP_SUMM_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','PERF_IRS_REJ_REP_SUMM'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','PERF_IRS_REJ_REP_SUMM_CT_UPD'
CREATE STATISTICS STATS_PERF_IRS_REJ_REP_SUMM_CT_UPD_001 ON VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_UPD (PIRJ_ID)
CREATE STATISTICS STATS_PERF_IRS_REJ_REP_SUMM_CT_UPD_002 ON VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_UPD (PIRJ_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#PERF_IRS_REJ_REP_SUMM_CT_UPD_Dups')<>0
	DROP TABLE #PERF_IRS_REJ_REP_SUMM_CT_UPD_Dups

CREATE TABLE #PERF_IRS_REJ_REP_SUMM_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (PIRJ_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.PIRJ_ID, A.INSERT_DATETIME
	FROM VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_UPD A
	INNER JOIN 
		(
			SELECT PIRJ_ID
			FROM VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_UPD
			GROUP BY PIRJ_ID
			HAVING COUNT(*)>1
		) Dups ON A.PIRJ_ID = Dups.PIRJ_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#PERF_IRS_REJ_REP_SUMM_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #PERF_IRS_REJ_REP_SUMM_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #PERF_IRS_REJ_REP_SUMM_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (PIRJ_ID), LOCATION = USER_DB)
AS
	SELECT   A.REVIEW_DATE, A.COUNT, A.LANE_ID, A.VIOL_REJECT_TYPE, A.OCR_NBR_CONFID, A.REVIEW_STATUS, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, A.PIRJ_ID, A.SUMMARY_TYPE, A.START_TIME, A.END_TIME, A.INSERT_DATETIME
	FROM VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_UPD A
	INNER JOIN 
		(
			SELECT PIRJ_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #PERF_IRS_REJ_REP_SUMM_CT_UPD_Dups
			GROUP BY PIRJ_ID
		) LastRcrd ON A.PIRJ_ID = LastRcrd.PIRJ_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_UPD 
WHERE EXISTS(SELECT * FROM #PERF_IRS_REJ_REP_SUMM_CT_UPD_Dups B WHERE VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_UPD.PIRJ_ID = B.PIRJ_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_UPD 
	(    REVIEW_DATE, COUNT, LANE_ID, VIOL_REJECT_TYPE, OCR_NBR_CONFID, REVIEW_STATUS, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, PIRJ_ID, SUMMARY_TYPE, START_TIME, END_TIME, INSERT_DATETIME)
SELECT   REVIEW_DATE, COUNT, LANE_ID, VIOL_REJECT_TYPE, OCR_NBR_CONFID, REVIEW_STATUS, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, PIRJ_ID, SUMMARY_TYPE, START_TIME, END_TIME, INSERT_DATETIME
FROM #PERF_IRS_REJ_REP_SUMM_CT_UPD_DuplicateLastRowToReInsert


	UPDATE  VP_OWNER.PERF_IRS_REJ_REP_SUMM
	SET 
    
		VP_OWNER.PERF_IRS_REJ_REP_SUMM.REVIEW_DATE = B.REVIEW_DATE
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.COUNT = B.COUNT
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.LANE_ID = B.LANE_ID
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.VIOL_REJECT_TYPE = B.VIOL_REJECT_TYPE
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.OCR_NBR_CONFID = B.OCR_NBR_CONFID
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.REVIEW_STATUS = B.REVIEW_STATUS
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.CREATED_BY = B.CREATED_BY
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.SUMMARY_TYPE = B.SUMMARY_TYPE
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.START_TIME = B.START_TIME
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.END_TIME = B.END_TIME
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.PERF_IRS_REJ_REP_SUMM.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.PERF_IRS_REJ_REP_SUMM_CT_UPD B
	WHERE VP_OWNER.PERF_IRS_REJ_REP_SUMM.PIRJ_ID = B.PIRJ_ID

