CREATE PROC [VP_OWNER].[FA_FLEET_TRANSACTIONS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'VP_OWNER','FA_FLEET_TRANSACTIONS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'VP_OWNER','FA_FLEET_TRANSACTIONS_CT_UPD'
CREATE STATISTICS STATS_FA_FLEET_TRANSACTIONS_CT_UPD_001 ON VP_OWNER.FA_FLEET_TRANSACTIONS_CT_UPD (FLEET_TXN_ID)
CREATE STATISTICS STATS_FA_FLEET_TRANSACTIONS_CT_UPD_002 ON VP_OWNER.FA_FLEET_TRANSACTIONS_CT_UPD (FLEET_TXN_ID, INSERT_DATETIME)


	UPDATE  VP_OWNER.FA_FLEET_TRANSACTIONS
	SET 
    
		 VP_OWNER.FA_FLEET_TRANSACTIONS.FLEET_FILE_ID = B.FLEET_FILE_ID
		, VP_OWNER.FA_FLEET_TRANSACTIONS.VIOLATION_ID = B.VIOLATION_ID
		, VP_OWNER.FA_FLEET_TRANSACTIONS.BATCH_ID = B.BATCH_ID
		, VP_OWNER.FA_FLEET_TRANSACTIONS.LIC_PLATE_NBR = B.LIC_PLATE_NBR
		, VP_OWNER.FA_FLEET_TRANSACTIONS.VIOL_DATE = B.VIOL_DATE
		, VP_OWNER.FA_FLEET_TRANSACTIONS.CONTRACT_ID = B.CONTRACT_ID
		, VP_OWNER.FA_FLEET_TRANSACTIONS.FIRST_NAME = B.FIRST_NAME
		, VP_OWNER.FA_FLEET_TRANSACTIONS.LAST_NAME = B.LAST_NAME
		, VP_OWNER.FA_FLEET_TRANSACTIONS.ADDRESS1 = B.ADDRESS1
		, VP_OWNER.FA_FLEET_TRANSACTIONS.ADDRESS2 = B.ADDRESS2
		, VP_OWNER.FA_FLEET_TRANSACTIONS.CITY = B.CITY
		, VP_OWNER.FA_FLEET_TRANSACTIONS.ZIP = B.ZIP
		, VP_OWNER.FA_FLEET_TRANSACTIONS.PLUS4 = B.PLUS4
		, VP_OWNER.FA_FLEET_TRANSACTIONS.ADDR_STATE = B.ADDR_STATE
		, VP_OWNER.FA_FLEET_TRANSACTIONS.PHONE = B.PHONE
		, VP_OWNER.FA_FLEET_TRANSACTIONS.DRIVER_LIC_NBR = B.DRIVER_LIC_NBR
		, VP_OWNER.FA_FLEET_TRANSACTIONS.DRIVER_LIC_STATE = B.DRIVER_LIC_STATE
		, VP_OWNER.FA_FLEET_TRANSACTIONS.TXN_SEND_DATE = B.TXN_SEND_DATE
		, VP_OWNER.FA_FLEET_TRANSACTIONS.TXN_RETURN_DATE = B.TXN_RETURN_DATE
		, VP_OWNER.FA_FLEET_TRANSACTIONS.RENT_START = B.RENT_START
		, VP_OWNER.FA_FLEET_TRANSACTIONS.RENT_END = B.RENT_END
		, VP_OWNER.FA_FLEET_TRANSACTIONS.DATE_CREATED = B.DATE_CREATED
		, VP_OWNER.FA_FLEET_TRANSACTIONS.DATE_MODIFIED = B.DATE_MODIFIED
		, VP_OWNER.FA_FLEET_TRANSACTIONS.MODIFIED_BY = B.MODIFIED_BY
		, VP_OWNER.FA_FLEET_TRANSACTIONS.CREATED_BY = B.CREATED_BY
		, VP_OWNER.FA_FLEET_TRANSACTIONS.LIC_PLATE_STATE = B.LIC_PLATE_STATE
		, VP_OWNER.FA_FLEET_TRANSACTIONS.PLATE_TYPE_CODE = B.PLATE_TYPE_CODE
		, VP_OWNER.FA_FLEET_TRANSACTIONS.BATCH_RECORD_NUMBER = B.BATCH_RECORD_NUMBER
		, VP_OWNER.FA_FLEET_TRANSACTIONS.RCA_FILE_SEQUENCE = B.RCA_FILE_SEQUENCE
		, VP_OWNER.FA_FLEET_TRANSACTIONS.RCA_RECORD_NUMBER = B.RCA_RECORD_NUMBER
		, VP_OWNER.FA_FLEET_TRANSACTIONS.TOLL_DUE = B.TOLL_DUE
		, VP_OWNER.FA_FLEET_TRANSACTIONS.LANE_NAME = B.LANE_NAME
		, VP_OWNER.FA_FLEET_TRANSACTIONS.IMAGE_FILENAME = B.IMAGE_FILENAME
		, VP_OWNER.FA_FLEET_TRANSACTIONS.PAYMENT_XREF_ID = B.PAYMENT_XREF_ID
		, VP_OWNER.FA_FLEET_TRANSACTIONS.LAST_UPDATE_TYPE = 'U'
		, VP_OWNER.FA_FLEET_TRANSACTIONS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM VP_OWNER.FA_FLEET_TRANSACTIONS_CT_UPD B
	WHERE VP_OWNER.FA_FLEET_TRANSACTIONS.FLEET_TXN_ID = B.FLEET_TXN_ID

