CREATE PROC [VP_OWNER].[CA_ACCT_INV_XREF_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','CA_ACCT_INV_XREF'
	GetInsertFields2 'VP_OWNER','CA_ACCT_INV_XREF'
*/

EXEC DropStats 'VP_OWNER','CA_ACCT_INV_XREF_CT_INS'
CREATE STATISTICS STATS_CA_ACCT_INV_XREF_CT_INS_001 ON VP_OWNER.CA_ACCT_INV_XREF_CT_INS (CA_ACCT_ID, VIOL_INVOICE_ID)

INSERT INTO VP_OWNER.CA_ACCT_INV_XREF
	(
		  CA_ACCT_ID, VIOL_INVOICE_ID, CA_INV_STATUS, CA_ACCT_STATUS, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  A.CA_ACCT_ID, A.VIOL_INVOICE_ID, A.CA_INV_STATUS, A.CA_ACCT_STATUS, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED,
	  'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.CA_ACCT_INV_XREF_CT_INS A
LEFT JOIN VP_OWNER.CA_ACCT_INV_XREF B ON A.CA_ACCT_ID = B.CA_ACCT_ID AND A.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
WHERE B.CA_ACCT_ID IS NULL AND B.VIOL_INVOICE_ID IS NULL


