CREATE PROC [VP_OWNER].[VB_STATEMENT_PAYMENTS_Update_Stats] AS

EXEC DropStats 'VP_OWNER','VB_STATEMENT_PAYMENTS'
CREATE STATISTICS STATS_VB_STATEMENT_PAYMENTS_001 ON VP_OWNER.VB_STATEMENT_PAYMENTS (VBSP_ACTIVITY_ID)
CREATE STATISTICS STATS_VB_STATEMENT_PAYMENTS_003 ON VP_OWNER.VB_STATEMENT_PAYMENTS (VBSP_ACTIVITY_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VB_STATEMENT_PAYMENTS_004 ON VP_OWNER.VB_STATEMENT_PAYMENTS (LAST_UPDATE_DATE)
