CREATE PROC [VP_OWNER].[DMV_MATCHES_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'VP_OWNER','DMV_MATCHES'
	GetInsertFields2 'VP_OWNER','DMV_MATCHES'
*/

EXEC DropStats 'VP_OWNER','DMV_MATCHES_CT_INS'
CREATE STATISTICS STATS_DMV_MATCHES_CT_INS_001 ON VP_OWNER.DMV_MATCHES_CT_INS (ID)

INSERT INTO VP_OWNER.DMV_MATCHES
	(
		ID, VIOLATION_ID, VIOLATOR_ID, FULL_NAME, FIRST_NAME, MIDDLE_NAME, LAST_NAME, STREET, CITY, ZIP, PLUS4, TYPE, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, CREATED_BY, 
		LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
		A.ID, A.VIOLATION_ID, A.VIOLATOR_ID, A.FULL_NAME, A.FIRST_NAME, A.MIDDLE_NAME, A.LAST_NAME, A.STREET, A.CITY, A.ZIP, A.PLUS4, A.TYPE, A.DATE_CREATED, A.DATE_MODIFIED, A.MODIFIED_BY, A.CREATED_BY,
		'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM VP_OWNER.DMV_MATCHES_CT_INS A
LEFT JOIN VP_OWNER.DMV_MATCHES B ON A.ID = B.ID
WHERE B.ID IS NULL


