CREATE PROC [VP_OWNER].[VPS_HOST_TRANSACTIONS_DELETE] AS

EXEC DropStats 'VP_OWNER','VPS_HOST_TRANSACTIONS_CT_DEL'
CREATE STATISTICS STATS_VPS_HOST_TRANSACTIONS_CT_DEL_001 ON VP_OWNER.VPS_HOST_TRANSACTIONS_CT_DEL (TRANSACTION_ID)
CREATE STATISTICS STATS_VPS_HOST_TRANSACTIONS_CT_DEL_002 ON VP_OWNER.VPS_HOST_TRANSACTIONS_CT_DEL (TRANSACTION_ID, INSERT_DATETIME)



UPDATE VP_OWNER.VPS_HOST_TRANSACTIONS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM VP_OWNER.VPS_HOST_TRANSACTIONS_CT_DEL B
WHERE VP_OWNER.VPS_HOST_TRANSACTIONS.TRANSACTION_ID = B.TRANSACTION_ID

/*
	To Test With:

	INSERT INTO VP_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM VP_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

