CREATE PROC [VP_OWNER].[VB_VIOL_INVOICES_Update_Stats] AS

EXEC DropStats 'VP_OWNER','VB_VIOL_INVOICES'
CREATE STATISTICS STATS_VB_VIOL_INVOICES_001 ON VP_OWNER.VB_VIOL_INVOICES (VBI_VBI_INVOICE_ID)
CREATE STATISTICS STATS_VB_VIOL_INVOICES_002 ON VP_OWNER.VB_VIOL_INVOICES (VBI_VBI_INVOICE_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VB_VIOL_INVOICES_003 ON VP_OWNER.VB_VIOL_INVOICES (VBI_VBI_INVOICE_ID,INV_VIOL_INVOICE_ID)
CREATE STATISTICS STATS_VB_VIOL_INVOICES_004 ON VP_OWNER.VB_VIOL_INVOICES (INV_VIOL_INVOICE_ID)
CREATE STATISTICS STATS_VB_VIOL_INVOICES_005 ON VP_OWNER.VB_VIOL_INVOICES (INV_VIOL_INVOICE_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VB_VIOL_INVOICES_006 ON VP_OWNER.VB_VIOL_INVOICES (LAST_UPDATE_DATE)

