CREATE PROC [DBO].[DPS_INV_STATUS_LOAD] AS 

IF OBJECT_ID('dbo.DPS_INV_STATUS_NEW')>0
	DROP TABLE dbo.DPS_INV_STATUS_NEW

CREATE TABLE dbo.DPS_INV_STATUS_NEW WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (DPS_INV_STATUS)) 
AS 
-- EXPLAIN
SELECT  DPS_INV_STATUS, DPS_INV_STATUS_DESCR, GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.DPS_INV_STATUS A
OPTION (LABEL = 'DPS_INV_STATUS_LOAD: DPS_INV_STATUS');

IF OBJECT_ID('dbo.DPS_INV_STATUS')>0
	RENAME OBJECT::dbo.DPS_INV_STATUS TO DPS_INV_STATUS_OLD;

RENAME OBJECT::dbo.DPS_INV_STATUS_NEW TO DPS_INV_STATUS;

IF OBJECT_ID('dbo.DPS_INV_STATUS_OLD')>0
	DROP TABLE dbo.DPS_INV_STATUS_OLD

CREATE STATISTICS STATS_DPS_INV_STATUS_001 ON DBO.DPS_INV_STATUS (DPS_INV_STATUS)
