CREATE PROC [DBO].[VIOL_INVOICES_LOAD] AS 


IF OBJECT_ID('dbo.VIOL_INVOICES_NEW')>0	DROP TABLE dbo.VIOL_INVOICES_NEW

CREATE TABLE dbo.VIOL_INVOICES_NEW WITH (CLUSTERED INDEX (VIOL_INVOICE_ID),DISTRIBUTION = HASH(VIOL_INVOICE_ID)) 
AS 
-- EXPLAIN
SELECT 
	  B.ViolatorID, B.VidSeq
	, A.VIOL_INVOICE_ID
	, A.INVOICE_DATE
	, A.INVOICE_AMOUNT
	, A.INVOICE_AMT_PAID
	, A.VIOL_INV_BATCH_ID
	, A.VIOL_INV_STATUS
	, A.DATE_EXCUSED
	, A.INVOICE_DAYS_TO_EXCUSED
	, InvDtl.TOLL_DUE_AMOUNT
	, InvDtl.FINE_AMOUNT
	, GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.VIOL_INVOICES A
INNER JOIN dbo.Violator B ON A.VIOLATOR_ID = B.ViolatorId
INNER JOIN 
	(
		SELECT AA.VIOL_INVOICE_ID, SUM(AA.TOLL_DUE_AMOUNT) AS TOLL_DUE_AMOUNT, SUM(AA.FINE_AMOUNT) AS FINE_AMOUNT 
		FROM EDW_RITE.dbo.VIOL_INVOICE_VIOL AA 
		GROUP BY AA.VIOL_INVOICE_ID
	) InvDtl ON A.VIOL_INVOICE_ID = InvDtl.VIOL_INVOICE_ID
WHERE B.CURRENT_IND = 1

IF OBJECT_ID('dbo.VIOL_INVOICES')>0	RENAME OBJECT::dbo.VIOL_INVOICES TO VIOL_INVOICES_OLD;

RENAME OBJECT::dbo.VIOL_INVOICES_NEW TO VIOL_INVOICES;

IF OBJECT_ID('dbo.VIOL_INVOICES_OLD')>0	DROP TABLE dbo.VIOL_INVOICES_OLD

CREATE STATISTICS STATS_VIOL_INVOICES_001 ON dbo.VIOL_INVOICES (INVOICE_DATE)
CREATE STATISTICS STATS_VIOL_INVOICES_002 ON dbo.VIOL_INVOICES (ViolatorID, VIOL_INVOICE_ID)

