CREATE PROC [DBO].[FACT_TER_PAYMENT_EXPECTED_LOAD] AS
--2018-12-04 Arun Krishna	Created
--2018-12-04 Ranjith Nair	Added logic to Update Expected Payments for old & duplicate plans to zero
--2018-12-10 Arun Krishna   Added paymentplanid desc to the Rank function,added downpayment = 0 for duplicate plans
BEGIN

	--STEP #-1: Create stage table for Expected Payments
	IF OBJECT_ID('EDW_TER.dbo.FACT_TER_PAYMENT_EXPECTED_STAGE ') > 0	DROP TABLE EDW_TER.dbo.FACT_TER_PAYMENT_EXPECTED_STAGE
	CREATE TABLE EDW_TER.DBO.FACT_TER_PAYMENT_EXPECTED_STAGE	WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH (PAYMENTPLANID)) AS
	SELECT	 PL.PAYMENTPLANID
			,M.CAL_MONTHID AS MONTHID
			,CASE WHEN CONVERT(VARCHAR(6), PL.PLANSTARTDATE, 112) = M.CAL_MONTHID THEN PL.DOWNPAYMENTRECEIVED ELSE 0 END AS DOWNPAYMENT
			,CASE WHEN CONVERT(VARCHAR(6), PL.PLANSTARTDATE, 112) = M.CAL_MONTHID THEN 0 WHEN CONVERT(VARCHAR(6), LASTPAYMENTDATE, 112) = M.CAL_MONTHID THEN PL.LASTPAYMENT ELSE PL.MONTHLYPAYMENT END AS MONTHLYPAYMENT
			--SELECT COUNT(1)
	FROM	EDW_TER.DBO.DIM_PAYMENTPLAN PL --1,156,407
	JOIN	EDW_RITE.[DBO].[DIM_MONTH]  M 	ON 	CONVERT(VARCHAR(6), PL.PLANSTARTDATE, 112) = CAL_MONTHID 	
	OR  	M.CAL_MONTHID BETWEEN CONVERT(VARCHAR(6), FIRSTPAYMENTDATE, 112) AND CONVERT(VARCHAR(6),(CASE WHEN PL.DEFAULTEDDATE < PL.LASTPAYMENTDATE THEN PL.DEFAULTEDDATE ELSE PL.LASTPAYMENTDATE END ),112)
	WHERE	PL.PAYMENTPLANSTATUSLOOKUPID > 4 --AND		PL.PAYMENTPLANID IN (37598, 38146)
	--	SELECT * FROM EDW_TER.dbo.FACT_TER_PAYMENT_EXPECTED_STAGE where PAYMENTPLANID IN (37598, 38146) order by 1,2

	--STEP #0: Update Expected Payments for old & duplicate plans to zero
	IF OBJECT_ID('EDW_TER.dbo.FACT_TER_PAYMENT_EXPECTED_DUPS ') > 0	DROP TABLE EDW_TER.dbo.FACT_TER_PAYMENT_EXPECTED_DUPS
	CREATE TABLE EDW_TER.DBO.FACT_TER_PAYMENT_EXPECTED_DUPS	WITH (	CLUSTERED COLUMNSTORE INDEX,DISTRIBUTION = HASH (PAYMENTPLANID)) AS
	WITH P AS 
		(	SELECT PAYMENTPLANID --,[PP#] 
			FROM (	SELECT  D.PAYMENTPLANID,X.VIOLATORID,X.VIDSEQ, X.[VID#] PaymentPlanViolatorSeQ,
							ROW_NUMBER() OVER(PARTITION BY X.VIOLATORID,X.VIDSEQ ORDER BY ActiveAgreementDate DESC,D.PAYMENTPLANID desc) AS [PP#] 
					FROM	EDW_TER.DBO.DIM_PAYMENTPLAN D
					JOIN	(	SELECT	PaymentPlanID, VIOLATORID, VIDSEQ, 
										ROW_NUMBER() OVER(PARTITION BY PaymentPlanID ORDER BY X.VIOLATORID,PaymentPlanID DESC) AS [VID#],
										ROW_NUMBER() OVER(PARTITION BY PaymentPlanID ORDER BY X.VIOLATORID DESC,PaymentPlanID DESC) AS [VID_DESC#] 
								FROM	EDW_TER.DBO.VIOLATOR_PAYMENTPLAN_XREF X --WHERE	PAYMENTPLANID IN (37598, 38146)-- ORDER BY 1,2
							) X	ON		X.PaymentPlanID = D.PaymentPlanID AND ([VID#] = 1 OR [VID_DESC#] = 1)--X.PaymentPlanViolatorSeQ = 1
					WHERE	PAYMENTPLANSTATUSLOOKUPID > 4 --AND		D.PAYMENTPLANID IN (37598, 38146)
					) A WHERE [PP#] > 1
		),-- SELECT * FROM P WHERE PAYMENTPLANID IN (37598, 38146) order by 1
	PP AS(	SELECT	PL.PAYMENTPLANID,M.CAL_MONTHID AS MONTHID ,(CASE WHEN CONVERT(VARCHAR(6), PL.PLANSTARTDATE, 112) = M.CAL_MONTHID THEN PL.DOWNPAYMENTRECEIVED ELSE 0 END + 
					CASE WHEN CONVERT(VARCHAR(6), PL.PLANSTARTDATE, 112) = M.CAL_MONTHID THEN 0 WHEN CONVERT(VARCHAR(6), LASTPAYMENTDATE, 112) = M.CAL_MONTHID THEN PL.LASTPAYMENT ELSE PL.MONTHLYPAYMENT END) AS MONTHLYPAYMENT
			FROM	EDW_TER.DBO.DIM_PAYMENTPLAN PL 
			JOIN	EDW_RITE.DBO.DIM_MONTH  M ON CONVERT(VARCHAR(6), PL.PLANSTARTDATE, 112) = CAL_MONTHID 
			OR		M.CAL_MONTHID BETWEEN CONVERT(VARCHAR(6), FIRSTPAYMENTDATE, 112) AND CONVERT(VARCHAR(6),(CASE WHEN PL.DEFAULTEDDATE < PL.LASTPAYMENTDATE THEN PL.DEFAULTEDDATE ELSE PL.LASTPAYMENTDATE END ),112)
			WHERE	PAYMENTPLANID IN (SELECT PAYMENTPLANID FROM P) 
		),--SELECT * FROM PP
	PMT AS(
			SELECT A1.PAYMENTPLANID, CONVERT(VARCHAR(6), A2.PAYMENT_DATE,112) MONTHID, SUM(A2.SPLIT_AMOUNT) MONTHLYPAYMENT
			FROM DBO.FACT_TER_INVOICE A1
			 JOIN FACT_TER_PAYMENT A2 ON A1.VIOLATOR_ID = A2.VIOLATOR_ID
					AND A1.VIOL_INVOICE_ID = A2.VIOL_INVOICE_ID
					AND A1.VBI_INVOICE_ID = A2.VBI_INVOICE_ID
					AND A1.PAYMENTPLANID = A2.PAYMENTPLANID
			WHERE A1.PAYMENTPLANID IN (SELECT PAYMENTPLANID FROM P) 
			GROUP BY A1.PAYMENTPLANID, CONVERT(VARCHAR(6), A2.PAYMENT_DATE,112)
		)-- SELECT * FROM PMT
	SELECT	COALESCE(PMT.PAYMENTPLANID,PP.PaymentPlanID) PaymentPlanID
			,COALESCE(PMT.MONTHID,PP.MONTHID) MONTHID
			--,PP.MONTHLYPAYMENT,PMT.MONTHLYPAYMENT
	FROM PP
	FULL OUTER JOIN PMT ON PMT.PAYMENTPLANID = PP.PaymentPlanID AND PMT.MONTHID = PP.MONTHID
	WHERE PMT.MONTHLYPAYMENT IS NULL --AND PP.PAYMENTPLANID IN (2988,59043,134679) ORDER BY 1,2
	--	SELECT * FROM EDW_TER.dbo.FACT_TER_PAYMENT_EXPECTED_DUPS where PAYMENTPLANID IN (37598, 38146) order by 1,2;SELECT * FROM EDW_TER.DBO.FACT_TER_PAYMENT_EXPECTED_STAGE where PAYMENTPLANID IN (37598, 38146) order by 1,2;

	--STEP #1: Update Expected Payments for old & duplicate plans to zero
	UPDATE	dbo.FACT_TER_PAYMENT_EXPECTED_STAGE
	SET		MonthlyPayment = 0 , DOWNPAYMENT = 0
	FROM	dbo.FACT_TER_PAYMENT_EXPECTED_DUPS 
	WHERE	FACT_TER_PAYMENT_EXPECTED_DUPS.PaymentPlanID = FACT_TER_PAYMENT_EXPECTED_STAGE.PaymentPlanID
	AND		FACT_TER_PAYMENT_EXPECTED_DUPS.MONTHID = FACT_TER_PAYMENT_EXPECTED_STAGE.MONTHID

	--STEP #2: Replace OLD table with NEW
	IF OBJECT_ID('dbo.FACT_TER_PAYMENT_EXPECTED_OLD') > 0		DROP TABLE dbo.FACT_TER_PAYMENT_EXPECTED_OLD;
	IF OBJECT_ID('dbo.FACT_TER_PAYMENT_EXPECTED') > 0 RENAME OBJECT::dbo.FACT_TER_PAYMENT_EXPECTED TO FACT_TER_PAYMENT_EXPECTED_OLD;
		RENAME OBJECT::dbo.FACT_TER_PAYMENT_EXPECTED_STAGE TO FACT_TER_PAYMENT_EXPECTED;
	IF OBJECT_ID('dbo.FACT_TER_PAYMENT_EXPECTED_OLD') > 0 		DROP TABLE dbo.FACT_TER_PAYMENT_EXPECTED_OLD;
	IF OBJECT_ID('dbo.FACT_TER_PAYMENT_EXPECTED_DUPS') > 0 		DROP TABLE dbo.FACT_TER_PAYMENT_EXPECTED_DUPS;
	--SELECT * FROM EDW_TER.DBO.FACT_TER_PAYMENT_EXPECTED_STAGE where PAYMENTPLANID IN (37598, 38146) order by 1,2; SELECT * FROM EDW_TER.DBO.FACT_TER_PAYMENT_EXPECTED where PAYMENTPLANID IN (37598, 38146) order by 1,2; 
END

