CREATE PROC [DBO].[zzDELETE_TER_RITE_LOAD] AS 


IF OBJECT_ID('dbo.VIOL_INVOICES_NEW')>0
	DROP TABLE dbo.VIOL_INVOICES_NEW

CREATE TABLE dbo.VIOL_INVOICES_NEW WITH (DISTRIBUTION = HASH(ViolatorID), CLUSTERED INDEX (ViolatorID)) 
AS 
-- EXPLAIN
SELECT 
	  B.ViolatorID, B.VidSeq
	, A.VIOL_INVOICE_ID
	, A.INVOICE_DATE
	, A.INVOICE_AMOUNT
	, A.INVOICE_AMT_PAID
	, A.VIOL_INV_BATCH_ID
	, A.VIOL_INV_STATUS
	, InvDtl.TOLL_DUE_AMOUNT
	, InvDtl.FINE_AMOUNT
	, GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.VIOL_INVOICES A
INNER JOIN dbo.Violator B ON A.VIOLATOR_ID = B.ViolatorId
INNER JOIN 
	(
		SELECT AA.VIOLATOR_ID, AA.VIOL_INVOICE_ID, SUM(AA.TOLL_DUE_AMOUNT) AS TOLL_DUE_AMOUNT, SUM(AA.FINE_AMOUNT) AS FINE_AMOUNT 
		FROM EDW_RITE.dbo.VIOL_INVOICE_VIOL AA 
		INNER JOIN Violator BB ON AA.VIOLATOR_ID = BB.ViolatorId
		WHERE BB.CURRENT_IND = 1
		GROUP BY AA.VIOLATOR_ID, AA.VIOL_INVOICE_ID
	) InvDtl ON A.VIOLATOR_ID = InvDtl.VIOLATOR_ID AND A.VIOL_INVOICE_ID = InvDtl.VIOL_INVOICE_ID
WHERE B.CURRENT_IND = 1

RENAME OBJECT::dbo.VIOL_INVOICES TO VIOL_INVOICES_OLD;
RENAME OBJECT::dbo.VIOL_INVOICES_NEW TO VIOL_INVOICES;

IF OBJECT_ID('dbo.VIOL_INVOICES_OLD')>0
	DROP TABLE dbo.VIOL_INVOICES_OLD

CREATE STATISTICS STATS_VIOL_INVOICES_001 ON dbo.VIOL_INVOICES (ViolatorID)
CREATE STATISTICS STATS_VIOL_INVOICES_002 ON dbo.VIOL_INVOICES (ViolatorID, VIOL_INVOICE_ID)

IF OBJECT_ID('dbo.VIOL_INVOICE_VIOL_NEW')>0
	DROP TABLE dbo.VIOL_INVOICE_VIOL_NEW

CREATE TABLE dbo.VIOL_INVOICE_VIOL_NEW WITH (DISTRIBUTION = HASH(ViolatorID), CLUSTERED INDEX (ViolatorID)) 
AS 
-- EXPLAIN
SELECT B.ViolatorID, B.VidSeq,  A.VIOL_INVOICE_ID, A.VIOLATION_ID, A.TOLL_DUE_AMOUNT, A.FINE_AMOUNT, GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.VIOL_INVOICE_VIOL A
INNER JOIN dbo.VIOL_INVOICES B ON A.VIOLATOR_ID = B.ViolatorID AND A.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
-- OPTION (LABEL = 'VIOL_INVOICE_VIOL: VIOL_INVOICE_VIOL');

RENAME OBJECT::dbo.VIOL_INVOICE_VIOL TO VIOL_INVOICE_VIOL_OLD;
RENAME OBJECT::dbo.VIOL_INVOICE_VIOL_NEW TO VIOL_INVOICE_VIOL;

IF OBJECT_ID('dbo.VIOL_INVOICE_VIOL_OLD')>0
	DROP TABLE dbo.VIOL_INVOICE_VIOL_OLD

CREATE STATISTICS STATS_VIOL_INVOICE_VIOL_001 ON DBO.VIOL_INVOICE_VIOL (ViolatorID)
CREATE STATISTICS STATS_VIOL_INVOICE_VIOL_002 ON DBO.VIOL_INVOICE_VIOL (ViolatorID, VIOL_INVOICE_ID)
CREATE STATISTICS STATS_VIOL_INVOICE_VIOL_003 ON DBO.VIOL_INVOICE_VIOL (ViolatorID, VIOLATION_ID)


IF OBJECT_ID('dbo.VIOLATIONS_NEW')>0
	DROP TABLE dbo.VIOLATIONS_NEW

CREATE TABLE dbo.VIOLATIONS_NEW WITH (DISTRIBUTION = HASH(ViolatorID), CLUSTERED INDEX (ViolatorID)) 
AS 
--- EXPLAIN
SELECT   
	  VIOLATION_ID, B.ViolatorID, B.VidSeq
	, LANE_ID, LICENSE_PLATE_ID
	, LICENSE_PLATE_DMV_ID
	, VIOL_STATUS, VIOL_DATE
	, VIOL_TIME_ID, TOLL_DUE, TOLL_PAID
	, TRANSACTION_FILE_DETAIL_ID
	, POST_DATE, POST_TIME_ID
	, DAYS_VIOL_DATE_TO_POST_DATE
	, SUBSCRIBER_UNIQUE_ID, RECEIVED_DATE
	, RECEIVED_TIME_ID, HAS_NEVER_BEEN_INVOICED
	, ZC_INVOICE_COUNT, LAST_ZC_INVOICE_ID, LAST_ZC_INVOICE_DATE
	, LAST_ZC_INVOICE_STATUS, LAST_ZC_INVOICE_VIOL_STATUS, DAYS_VIOL_DATE_TO_LAST_ZC_INVOICE_DATE
	, DAYS_POST_DATE_TO_LAST_ZC_INVOICE_DATE
	, VIOL_INVOICE_COUNT
	, LAST_VIOL_INVOICE_ID
	, LAST_VIOL_INVOICE_DATE
	, LAST_VIOL_INVOICE_STATUS
	, LAST_VIOL_INVOICE_VIOL_STATUS
	, DAYS_VIOL_DATE_TO_LAST_VIOL_INVOICE_DATE
	, DAYS_POST_DATE_TO_LAST_VIOL_INVOICE_DATE
	, HAS_CURRENT_ADDRESS
	, VIOLATION_OR_ZIPCASH
	, DAYS_VIOL_DATE_TO_CURRENT_VIOL_STATUS_DATE
	, DAYS_POST_DATE_TO_CURRENT_VIOL_STATUS_DATE, DAYS_VIOL_DATE_TO_DATE_EXCUSED
	, DAYS_POST_DATE_TO_DATE_EXCUSED
	, DATE_CREATED
	, LANE_VIOL_ID
	, STATUS_DATE
	, DATE_EXCUSED
	, GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.VIOLATIONS_MATCHED A
INNER JOIN Violator B ON A.VIOLATOR_ID = B.ViolatorId
WHERE B.CURRENT_IND = 1
OPTION (LABEL = 'VIOL_INVOICE_VIOL: VIOL_INVOICE_VIOL');

RENAME OBJECT::dbo.VIOLATIONS TO VIOLATIONS_OLD;
RENAME OBJECT::dbo.VIOLATIONS_NEW TO VIOLATIONS;

IF OBJECT_ID('dbo.VIOLATIONS_OLD')>0
	DROP TABLE dbo.VIOLATIONS_OLD

CREATE STATISTICS STATS_VIOLATIONS_001 ON DBO.VIOLATIONS (ViolatorId)
CREATE STATISTICS STATS_VIOLATIONS_002 ON DBO.VIOLATIONS (ViolatorId, VIOLATION_ID)
CREATE STATISTICS STATS_VIOLATIONS_003 ON DBO.VIOLATIONS (LICENSE_PLATE_ID)


IF OBJECT_ID('dbo.DIM_LICENSE_PLATE_NEW')>0
	DROP TABLE dbo.DIM_LICENSE_PLATE_NEW

CREATE TABLE dbo.DIM_LICENSE_PLATE_NEW WITH (DISTRIBUTION = REPLICATE, CLUSTERED COLUMNSTORE INDEX) 
AS 
-- EXPLAIN
SELECT  A.LICENSE_PLATE_ID, A.LICENSE_PLATE_NBR, A.LICENSE_PLATE_STATE
FROM EDW_RITE.dbo.DIM_LICENSE_PLATE A
INNER JOIN dbo.VIOLATIONS B ON A.LICENSE_PLATE_ID = B.LICENSE_PLATE_ID
-- OPTION (LABEL = 'VIOL_INVOICE_VIOL: VIOL_INVOICE_VIOL');

RENAME OBJECT::dbo.DIM_LICENSE_PLATE TO DIM_LICENSE_PLATE_OLD;
RENAME OBJECT::dbo.DIM_LICENSE_PLATE_NEW TO DIM_LICENSE_PLATE;

IF OBJECT_ID('dbo.DIM_LICENSE_PLATE_OLD')>0
	DROP TABLE dbo.DIM_LICENSE_PLATE_OLD

CREATE STATISTICS STATS_DIM_LICENSE_PLATE_001 ON DBO.DIM_LICENSE_PLATE (LICENSE_PLATE_ID)
CREATE STATISTICS STATS_DIM_LICENSE_PLATE_002 ON DBO.DIM_LICENSE_PLATE (LICENSE_PLATE_ID, LICENSE_PLATE_NBR, LICENSE_PLATE_STATE)











