CREATE PROC [DBO].[TABLES_PARAMS_LOAD] AS

/*
USE EDW_TER
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.TABLES_PARAMS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.TABLES_PARAMS_LOAD
GO

EXEC DBO.TABLES_PARAMS_LOAD
*/




IF OBJECT_ID('dbo.TABLES_PARAMS') IS NOT NULL DROP TABLE dbo.TABLES_PARAMS

CREATE TABLE dbo.TABLES_PARAMS WITH (CLUSTERED INDEX (TABLE_NAME), DISTRIBUTION = REPLICATE) AS
WITH CTE_TABLES AS
(
	SELECT t.name AS TABLE_NAME
	FROM SYS.tables T
	JOIN SYS.schemas S ON S.schema_id = T.schema_id AND S.name = 'DBO'
	WHERE T.Name NOT LIKE 'CTE_%' AND T.Name NOT LIKE '%_OLD%' AND T.Name NOT LIKE '%_STAGE%' AND T.Name NOT LIKE '%_NEW%' AND T.Name NOT LIKE '%_SWITCH%' AND T.Name NOT LIKE '%_TRUNCATE%' AND T.Name NOT LIKE '%_PART%' AND T.Name NOT LIKE '%TEMP%' AND T.Name NOT LIKE '%_PREV%' AND T.Name NOT LIKE '%_FINAL%' AND T.Name NOT LIKE '%TEST%'
)
, CTE_TABLE_FULL_LOAD AS
(
	SELECT T.TABLE_NAME, ISNULL(PR.NAME,'') AS FULL_LOAD
	FROM CTE_TABLES AS T
	LEFT JOIN SYS.PROCEDURES AS PR ON PR.name = (T.TABLE_NAME + '_LOAD') -- AND PR.name NOT LIKE '%_INCR%'
)
, CTE_TABLE_INCR_LOAD AS
(
	SELECT T.TABLE_NAME, ISNULL(PR.NAME,'') AS INCR_LOAD
	FROM CTE_TABLES AS T
	LEFT JOIN SYS.PROCEDURES AS PR ON PR.name = (T.TABLE_NAME + '_INCR_LOAD') OR PR.name = (T.TABLE_NAME + '_LOAD_INCR')
)
, CTE_TABLE_STAGE_LOAD AS
(
	SELECT T.TABLE_NAME, ISNULL(PR.NAME,'') AS STAGE_LOAD
	FROM CTE_TABLES AS T
	LEFT JOIN SYS.PROCEDURES AS PR ON PR.name = (T.TABLE_NAME + '_STAGE_LOAD')
)
SELECT 'EDW_TER' AS DB, T.TABLE_NAME, FULL_LOAD, INCR_LOAD, STAGE_LOAD, 
	CAST(0 AS BIGINT) AS NOMBER_ROWS, 0 AS MINUTES_TO_LOAD, CAST(NULL AS INT) AS LOAD_LEVEL
FROM CTE_TABLES AS T
JOIN CTE_TABLE_FULL_LOAD F ON F.TABLE_NAME = T.TABLE_NAME
JOIN CTE_TABLE_INCR_LOAD I ON I.TABLE_NAME = T.TABLE_NAME
JOIN CTE_TABLE_STAGE_LOAD S ON S.TABLE_NAME = T.TABLE_NAME

