CREATE PROC [DBO].[FACT_VIOLATOR_INVOICE_TRANS_LOAD] AS 

IF (SELECT COUNT(*) FROM EDW_RITE.dbo.VIOL_INVOICES) > 0 AND (SELECT COUNT(*) FROM EDW_RITE.dbo.VB_INVOICES) > 0

BEGIN
	IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE_TRANS_NEW')>0 		DROP TABLE dbo.FACT_VIOLATOR_INVOICE_TRANS_NEW

	CREATE TABLE dbo.FACT_VIOLATOR_INVOICE_TRANS_NEW WITH (DISTRIBUTION = HASH(ViolatorID), CLUSTERED COLUMNSTORE INDEX) 
	AS 

	--SELECT TOP 100 * FROM EDW_TER.dbo.FACT_VIOLATOR_INVOICE_TRANS
	--WHERE TRANS_ID IN (
	--SELECT TRANS_ID
	--FROM EDW_TER.dbo.FACT_VIOLATOR_INVOICE_TRANS
	--GROUP BY TRANS_ID
	--HAVING COUNT(1) > 1)


	-- EXPLAIN
	SELECT	
			  VI.Violator_ID AS ViolatorID
			, B.VidSeq
			,'VI' as INVOICE_TYPE
			, VI.VIOL_INVOICE_ID AS INVOICE_ID
			, VIV.VIOLATION_ID AS TRANS_ID
			, VIV.VIOL_STATUS
			, VIV.TOLL_DUE_AMOUNT
			, VIV.FINE_AMOUNT
			, V.TOLL_PAID
			, V.VIOL_DATE
			, V.VIOL_TIME_ID
			, V.POST_DATE
			, V.POST_TIME_ID
			, GETDATE() AS INSERT_DATE
	-- SELECT COUNT(*)
	FROM EDW_RITE.dbo.VIOL_INVOICES vi
	INNER JOIN dbo.Violator B ON VI.VIOLATOR_ID = B.ViolatorId
	INNER JOIN EDW_RITE.dbo.viol_invoice_viol viv ON vi.viol_invoice_id = viv.viol_invoice_id
	INNER JOIN EDW_RITE.dbo.violations v ON viv.violation_id = v.violation_id  
	WHERE B.CURRENT_IND = 1

	UNION ALL 
	-- EXPLAIN 
	SELECT	
			  VI.Violator_ID AS ViolatorID
			, B.VidSeq
			, 'ZC' as INVOICE_TYPE
			, VIV.VBI_INVOICE_ID AS INVOICE_ID
			, VIV.VIOLATION_ID AS TRANS_ID
			, VIV.VIOL_STATUS
			, VIV.TOLL_DUE AS TOLL_DUE_AMOUNT
			, 0 AS FINE_AMOUNT
			, V.TOLL_PAID
			, V.VIOL_DATE
			, V.VIOL_TIME_ID
			, V.POST_DATE
			, V.POST_TIME_ID
			, GETDATE() AS INSERT_DATE

	-- SELECT COUNT(*)
	FROM EDW_RITE.dbo.VB_INVOICES vi
	INNER JOIN dbo.Violator B ON VI.VIOLATOR_ID = B.ViolatorId
	INNER JOIN EDW_RITE.dbo.VB_INVOICE_VIOL viv ON vi.vbi_invoice_id = viv.vbi_invoice_id
	INNER JOIN EDW_RITE.dbo.violations v ON viv.violation_id = v.violation_id  
	WHERE B.CURRENT_IND = 1


	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_001 ON DBO.FACT_VIOLATOR_INVOICE_TRANS_NEW (ViolatorID,VidSeq)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_002 ON DBO.FACT_VIOLATOR_INVOICE_TRANS_NEW (INVOICE_TYPE, INVOICE_ID)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_003 ON DBO.FACT_VIOLATOR_INVOICE_TRANS_NEW (INVOICE_ID)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_004 ON DBO.FACT_VIOLATOR_INVOICE_TRANS_NEW (TRANS_ID)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_005 ON DBO.FACT_VIOLATOR_INVOICE_TRANS_NEW (VIOL_STATUS)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_006 ON DBO.FACT_VIOLATOR_INVOICE_TRANS_NEW (VIOL_DATE, VIOL_TIME_ID)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_007 ON DBO.FACT_VIOLATOR_INVOICE_TRANS_NEW (POST_DATE, POST_TIME_ID)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_008 ON DBO.FACT_VIOLATOR_INVOICE_TRANS_NEW (TRANS_ID)


	IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE_TRANS')>0		RENAME OBJECT::dbo.FACT_VIOLATOR_INVOICE_TRANS TO FACT_VIOLATOR_INVOICE_TRANS_OLD;
	RENAME OBJECT::dbo.FACT_VIOLATOR_INVOICE_TRANS_NEW TO FACT_VIOLATOR_INVOICE_TRANS;

	IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE_TRANS_OLD')>0		DROP TABLE dbo.FACT_VIOLATOR_INVOICE_TRANS_OLD


	
	--exec DropStats 'FACT_VIOLATOR_INVOICE_TRANS' 
	-- exec CreateStats 'FACT_VIOLATOR_INVOICE_TRANS'


	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_001 ON DBO.FACT_VIOLATOR_INVOICE_TRANS (ViolatorID,VidSeq)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_002 ON DBO.FACT_VIOLATOR_INVOICE_TRANS (INVOICE_TYPE, INVOICE_ID)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_003 ON DBO.FACT_VIOLATOR_INVOICE_TRANS (INVOICE_ID)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_004 ON DBO.FACT_VIOLATOR_INVOICE_TRANS (TRANS_ID)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_005 ON DBO.FACT_VIOLATOR_INVOICE_TRANS (VIOL_STATUS)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_006 ON DBO.FACT_VIOLATOR_INVOICE_TRANS (VIOL_DATE, VIOL_TIME_ID)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_007 ON DBO.FACT_VIOLATOR_INVOICE_TRANS (POST_DATE, POST_TIME_ID)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_008 ON DBO.FACT_VIOLATOR_INVOICE_TRANS (TRANS_ID)

END 


--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_002 ON DBO.FACT_VIOLATOR_INVOICE_TRANS (ViolatorID, INVOICE_ID)
--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_003 ON DBO.FACT_VIOLATOR_INVOICE_TRANS (ViolatorID, TRANS_ID)
--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_007 ON [dbo].FACT_VIOLATOR_INVOICE_TRANS (TOLL_DUE_AMOUNT)
--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_008 ON [dbo].FACT_VIOLATOR_INVOICE_TRANS (FINE_AMOUNT)
--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_009 ON [dbo].FACT_VIOLATOR_INVOICE_TRANS (TOLL_PAID)
--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_TRANS_014 ON [dbo].FACT_VIOLATOR_INVOICE_TRANS (INSERT_DATE)
 





