CREATE PROC [DBO].[FACT_TER_INVOICE_LOAD] AS

/*
USE EDW_TER_Dev
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_TER_INVOICE_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_TER_INVOICE_LOAD
GO

EXEC DBO.FACT_TER_INVOICE_LOAD
*/


DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @PROCEDURE_NAME VARCHAR(1000), @LOG_MESSAGE VARCHAR(3000), @ROW_COUNT BIGINT

SELECT  @SOURCE = 'FACT_TER_INVOICE', @LOG_START_DATE = SYSDATETIME(), @PROCEDURE_NAME = 'FACT_TER_INVOICE_LOAD'

SET @LOG_MESSAGE = @PROCEDURE_NAME + ' STARTED'
EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL


IF OBJECT_ID('dbo.FTI_VIOLATOR_HV') IS NOT NULL DROP TABLE dbo.FTI_VIOLATOR_HV

-- First get all HV with payment plans and without
CREATE TABLE dbo.FTI_VIOLATOR_HV 	WITH (CLUSTERED INDEX (VIOLATOR_ID,VIDSEQ,PAYMENTPLANID), DISTRIBUTION = HASH (VIOLATOR_ID))  	AS
WITH CTE_VIOLATOR_PP_HV AS 
(
	SELECT 
		 V.VIOLATORID AS VIOLATOR_ID
		,V.VIDSEQ
		,MV.MAX_VIDSEQ
		,ISNULL(V.HVDATE, CAST('2200-01-01' AS DATE)) AS HVDATE
		,ISNULL(CAST(NULLIF(V.TERMDATE,'1900-01-01') AS DATETIME2(0)), CAST('2200-01-01' AS DATETIME2)) AS TERMDATE
		,P.PAYMENTPLANID AS PAYMENTPLANID
		,CAST(CASE WHEN ISNULL(P.ACTIVEAGREEMENTDATE, CAST('2200-01-01' AS DATETIME2(0))) < P.CREATEDDATE -- (P.ACTIVEAGREEMENTDATE IS NOT NULL AND P.ACTIVEAGREEMENTDATE <= P.CREATEDDATE)
				THEN P.ACTIVEAGREEMENTDATE
			ELSE ISNULL(P.CREATEDDATE, '2200-01-01')
		END AS DATETIME2) AS PAYMENTPLAN_DATE
		,ISNULL(P.PLANSTARTDATE, '2200-01-01') AS PLANSTART_DATE
	FROM dbo.DIM_VIOLATOR AS V
	JOIN (SELECT VIOLATORID, MAX(ISNULL(VIDSEQ, 0)) AS MAX_VIDSEQ FROM dbo.DIM_VIOLATOR GROUP BY VIOLATORID) AS MV ON V.VIOLATORID = MV.VIOLATORID
	LEFT JOIN dbo.VIOLATOR_PAYMENTPLAN_XREF VP ON V.VIOLATORID = VP.VIOLATORID AND V.VIDSEQ = VP.VIDSEQ
	LEFT JOIN DBO.DIM_PAYMENTPLAN P ON P.PAYMENTPLANID = VP.PAYMENTPLANID AND P.DELETEDFLAG = 0 AND P.PAYMENTPLANSTATUSLOOKUPID > 4
)
SELECT 
	VIOLATOR_ID
	,VIDSEQ
	,MAX_VIDSEQ
	,HVDATE
	,TERMDATE
	,PAYMENTPLANID
	,PAYMENTPLAN_DATE
	,PLANSTART_DATE
	,LEAD(DATEADD(SECOND, -1, PAYMENTPLAN_DATE),1,CAST('2200-01-01' AS DATE)) OVER (PARTITION BY VIOLATOR_ID ORDER BY PLANSTART_DATE) AS PLAN_END_DATE
	--,LEAD(HVDATE,1,CAST('2200-01-01' AS DATETIME2)) OVER (PARTITION BY VIOLATORID ORDER BY HVDATE) AS HVEND_DATE
FROM CTE_VIOLATOR_PP_HV AS V
OPTION (LABEL = 'FACT_TER_INVOICE LOAD <<VIOLATOR query>>');

CREATE STATISTICS FTI_VIOLATOR_HV_001 ON [dbo].FTI_VIOLATOR_HV (PAYMENTPLAN_DATE,PLAN_END_DATE)
CREATE STATISTICS FTI_VIOLATOR_HV_002 ON [dbo].FTI_VIOLATOR_HV (HVDATE,TERMDATE)

EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET @LOG_MESSAGE = @PROCEDURE_NAME + ' HV VIOLATORS ready'
EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT


IF OBJECT_ID('dbo.VB_INVOICES_HIST') IS NOT NULL DROP TABLE dbo.VB_INVOICES_HIST

CREATE TABLE dbo.VB_INVOICES_HIST WITH (HEAP, DISTRIBUTION = HASH (VIOLATOR_ID)) AS
-- EXPLAIN
SELECT 
	CAST(H.VBI_INVOICE_ID AS BIGINT) AS VBI_INVOICE_ID
	,I.VIOLATOR_ID
	,H.VBI_STATUS
	,LAG(H.VBI_STATUS,1,'O') OVER (PARTITION BY H.VBI_INVOICE_ID ORDER BY H.JN_DATETIME ASC, H.SEQUENCE_ID ASC) AS OLD_VBI_STATUS
	,CAST(H.JN_DATETIME AS DATETIME2) AS Status_BEGIN
	,LEAD(CAST(H.JN_DATETIME AS DATETIME2),1,CAST('2200-01-01' AS DATETIME2)) OVER (PARTITION BY H.VBI_INVOICE_ID ORDER BY H.JN_DATETIME ASC, H.SEQUENCE_ID ASC) AS Status_END
	,ROW_NUMBER() OVER (PARTITION BY H.VBI_INVOICE_ID ORDER BY H.JN_DATETIME ASC, H.SEQUENCE_ID ASC) AS RN
FROM LND_LG_VPS.VP_OWNER.VB_INVOICES I
JOIN LND_LG_VPS.VP_OWNER.VB_INVOICES_JN H ON H.VBI_INVOICE_ID = I.VBI_INVOICE_ID
WHERE I.VIOLATOR_ID IN (SELECT VIOLATOR_ID FROM dbo.FTI_VIOLATOR_HV)
OPTION (LABEL = 'FACT_TER_INVOICE LOAD VB_INVOICES_HIST');

--WITH CTE_VB_INVOICES_HIST AS
--(
--	SELECT 
--		CAST(H.VBI_INVOICE_ID AS BIGINT) AS VBI_INVOICE_ID
--		,I.VIOLATOR_ID
--		,H.VBI_STATUS
--		,CAST(H.JN_DATETIME AS DATETIME2) AS Status_BEGIN
--		,H.INV_CLOSED_DATE
--		,H.DATE_EXCUSED
--		,CASE WHEN H.VBI_STATUS = I.VBI_STATUS THEN 1 ELSE 0 END AS CURRENT_STATUS_FLG
--	FROM LND_LG_VPS.VP_OWNER.VB_INVOICES I
--	JOIN LND_LG_VPS.VP_OWNER.VB_INVOICES_JN H ON H.VBI_INVOICE_ID = I.VBI_INVOICE_ID
--	WHERE I.VIOLATOR_ID IN (SELECT VIOLATOR_ID FROM dbo.FTI_VIOLATOR_HV)
--)
--SELECT 
--	VBI_INVOICE_ID
--	,VIOLATOR_ID
--	,VBI_STATUS
--	,LAG(VBI_STATUS,1,'O') OVER (PARTITION BY VBI_INVOICE_ID ORDER BY Status_BEGIN ASC, CURRENT_STATUS_FLG ASC, INV_CLOSED_DATE ASC, DATE_EXCUSED ASC) AS OLD_VBI_STATUS
--	,Status_BEGIN
--	,LEAD(Status_BEGIN,1,CAST('2200-01-01' AS DATETIME2)) OVER (PARTITION BY VBI_INVOICE_ID ORDER BY Status_BEGIN ASC, CURRENT_STATUS_FLG ASC, INV_CLOSED_DATE ASC, DATE_EXCUSED ASC) AS Status_END
--	,ROW_NUMBER() OVER (PARTITION BY VBI_INVOICE_ID ORDER BY Status_BEGIN ASC, CURRENT_STATUS_FLG ASC, INV_CLOSED_DATE ASC, DATE_EXCUSED ASC) AS RN
--FROM CTE_VB_INVOICES_HIST

EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET @LOG_MESSAGE = @PROCEDURE_NAME + ' VB HIST ready'
EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

IF OBJECT_ID('dbo.VIOL_INVOICES_HIST') IS NOT NULL DROP TABLE dbo.VIOL_INVOICES_HIST

CREATE TABLE dbo.VIOL_INVOICES_HIST WITH (HEAP, DISTRIBUTION = HASH (VIOLATOR_ID)) AS
SELECT 
	CAST(H.VIOL_INVOICE_ID AS BIGINT) AS VIOL_INVOICE_ID
	,I.VIOLATOR_ID
	,H.NEW_VIOL_INV_STS AS VIOL_STATUS
	,LAG(H.NEW_VIOL_INV_STS,1,'O') OVER (PARTITION BY H.VIOL_INVOICE_ID ORDER BY H.STATUS_DATE, H.VIOL_INV_SEQ_ID) AS OLD_VIOL_STATUS
	--,H.OLD_VIOL_INV_STS AS OLD_VIOL_STATUS
	,CAST(H.STATUS_DATE AS DATETIME2) AS Status_BEGIN
	,LEAD(CAST(H.STATUS_DATE AS DATETIME2),1,CAST('2200-01-01' AS DATETIME2)) OVER (PARTITION BY H.VIOL_INVOICE_ID ORDER BY H.STATUS_DATE, H.VIOL_INV_SEQ_ID) AS Status_END
	,ROW_NUMBER() OVER (PARTITION BY H.VIOL_INVOICE_ID ORDER BY H.STATUS_DATE, H.VIOL_INV_SEQ_ID) AS RN
	-- SELECT TOP 5 *
FROM LND_LG_VPS.VP_OWNER.VIOL_INVOICES I
JOIN LND_LG_VPS.VP_OWNER.VIOL_INVOICES_HISTORY H ON H.VIOL_INVOICE_ID = I.VIOL_INVOICE_ID --WHERE VIOL_INVOICE_ID IN (SELECT VIOL_INVOICE_ID FROM VIOL_INVOICE_HV)
WHERE I.VIOLATOR_ID IN (SELECT VIOLATOR_ID FROM dbo.FTI_VIOLATOR_HV)
OPTION (LABEL = 'FACT_TER_INVOICE LOAD VIOL_INVOICES_HIST');

EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET @LOG_MESSAGE = @PROCEDURE_NAME + ' VIOL HIST ready'
EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT




-- Get all invoices for VH-s - it narrows table a lot
IF OBJECT_ID('dbo.VB_INVOICE_HV') IS NOT NULL DROP TABLE dbo.VB_INVOICE_HV
CREATE TABLE dbo.VB_INVOICE_HV WITH (HEAP, DISTRIBUTION = HASH (VIOLATOR_ID)) AS
	SELECT
		VIOLATOR_ID
		,VBI_INVOICE_ID
		,VB_INVOICE_DATE				AS INVOICE_DATE
		,ISNULL(NULLIF(VB_DATE_EXCUSED,'1900-01-01'), CAST('2200-01-01' AS DATE)) AS DATE_EXCUSED
		,VBI_STATUS						AS VBI_STATUS
		,VB_LATE_FEE_AMOUNT				AS FEES_DUE
		,VB_INVOICE_AMT					AS INVOICE_AMOUNT
		,VB_INVOICE_AMT_DISC			AS INVOICE_AMT_DISC
		,TOLL_AMOUNT AS TOLLS_DUE
	FROM EDW_RITE.dbo.FACT_INVOICES_DATA --FACT_VB_VIOL_INVOICES  
	WHERE VIOLATOR_ID IN (SELECT VIOLATOR_ID FROM dbo.FTI_VIOLATOR_HV) AND VBI_INVOICE_ID > -1
OPTION (LABEL = 'FACT_TER_INVOICE LOAD VB_INVOICE_HV');


IF OBJECT_ID('dbo.VB_MISSED_HIST') IS NOT NULL DROP TABLE dbo.VB_MISSED_HIST
CREATE TABLE dbo.VB_MISSED_HIST WITH (HEAP, DISTRIBUTION = HASH (VIOLATOR_ID)) AS
	SELECT	 
		CAST(H.VBI_INVOICE_ID AS BIGINT) AS VBI_INVOICE_ID
		,H.VIOLATOR_ID
		,ISNULL(H.OLD_VBI_STATUS, 'O') AS VBI_STATUS
		,VB.INVOICE_DATE AS Status_BEGIN
		,H.Status_BEGIN AS Status_END
	FROM (SELECT * FROM dbo.VB_INVOICES_HIST WHERE RN = 1) AS H
	JOIN VB_INVOICE_HV AS VB ON VB.VBI_INVOICE_ID = H.VBI_INVOICE_ID AND VB.INVOICE_DATE < H.Status_BEGIN
OPTION (LABEL = 'FACT_TER_INVOICE LOAD VB_MISSED_HIST');

IF OBJECT_ID('dbo.VB_INVOICE_STATUS') IS NOT NULL DROP TABLE dbo.VB_INVOICE_STATUS
CREATE TABLE dbo.VB_INVOICE_STATUS WITH (HEAP, DISTRIBUTION = HASH (VIOLATOR_ID)) AS
	SELECT 
		VBI.VIOLATOR_ID
		,VBI.VBI_INVOICE_ID
		,VBI.INVOICE_DATE
		,VBI.DATE_EXCUSED
		,VBI.VBI_STATUS AS CURRENT_STATUS
		,ISNULL(VIH.OLD_VBI_STATUS, '-1') AS OLD_STATUS
		,ISNULL(VBI.TOLLS_DUE		 , 0) AS TOLLS_DUE
		,ISNULL(VBI.FEES_DUE		 , 0) AS FEES_DUE
		,ISNULL(VBI.INVOICE_AMOUNT	 , 0) AS INVOICE_AMOUNT
		,ISNULL(VBI.INVOICE_AMT_DISC , 0) AS INVOICE_AMT_DISC
		,ISNULL(VIH.VBI_STATUS,VBI.VBI_STATUS) AS VBI_STATUS
		,ISNULL(VIH.Status_BEGIN,CAST(VBI.INVOICE_DATE AS DATETIME2)) AS Status_BEGIN
		,ISNULL(VIH.Status_END,CAST('2200-01-01' AS DATETIME2)) AS Status_END
	FROM VB_INVOICE_HV VBI
	LEFT JOIN (
				SELECT VBI_INVOICE_ID,VBI_STATUS,OLD_VBI_STATUS, Status_BEGIN,Status_END FROM dbo.VB_INVOICES_HIST
				UNION ALL
				SELECT VBI_INVOICE_ID,VBI_STATUS,'-1' AS OLD_VBI_STATUS, Status_BEGIN,Status_END FROM VB_MISSED_HIST
			) AS VIH ON VBI.VBI_INVOICE_ID = VIH.VBI_INVOICE_ID 
OPTION (LABEL = 'FACT_TER_INVOICE LOAD VB_INVOICE_STATUS');

IF OBJECT_ID('dbo.VIOL_INVOICE_HV') IS NOT NULL DROP TABLE dbo.VIOL_INVOICE_HV
CREATE TABLE dbo.VIOL_INVOICE_HV WITH (HEAP, DISTRIBUTION = HASH (VIOLATOR_ID)) AS
	SELECT 
		VIOLATOR_ID
		,VBI_INVOICE_ID
		,VIOL_INVOICE_ID
		,VIOL_INVOICE_DATE			AS INVOICE_DATE
		,ISNULL(NULLIF(VIOL_INV_DATE_EXCUSED,'1900-01-01'), CAST('2200-01-01' AS DATE)) AS DATE_EXCUSED
		,VIOL_INV_STATUS			AS VIOL_STATUS
		,ISNULL(VIOL_INV_ADMIN_FEE, 0) + ISNULL(VIOL_INV_ADMIN_FEE2, 0) + ISNULL(VIOL_FINE_AMOUNT, 0) AS FEES_DUE
		,VIOL_INVOICE_AMT			AS INVOICE_AMOUNT
		,VIOL_INVOICE_AMT_DISC		AS INVOICE_AMT_DISC
		,TOLL_AMOUNT AS TOLLS_DUE
-- SELECT TOP 5 *
	FROM EDW_RITE.dbo.FACT_INVOICES_DATA --FACT_VB_VIOL_INVOICES VIO 
	WHERE VIOLATOR_ID IN (SELECT VIOLATOR_ID FROM dbo.FTI_VIOLATOR_HV) AND VIOL_INVOICE_ID > -1
OPTION (LABEL = 'FACT_TER_INVOICE LOAD VIOL_INVOICE_HV');

-- All the same for VIOL invoices
IF OBJECT_ID('dbo.VIOL_MISSED_HIST') IS NOT NULL DROP TABLE dbo.VIOL_MISSED_HIST
CREATE TABLE dbo.VIOL_MISSED_HIST WITH (HEAP, DISTRIBUTION = HASH (VIOLATOR_ID)) AS
SELECT	 
		H.VIOL_INVOICE_ID
		,H.VIOLATOR_ID
		,ISNULL(H.OLD_VIOL_STATUS, 'O') AS VIOL_STATUS
		,VI.INVOICE_DATE AS Status_BEGIN
		,H.Status_BEGIN AS Status_END
FROM (SELECT * FROM dbo.VIOL_INVOICES_HIST WHERE RN = 1) AS H
	JOIN VIOL_INVOICE_HV AS VI ON VI.VIOL_INVOICE_ID = H.VIOL_INVOICE_ID AND VI.INVOICE_DATE < H.Status_BEGIN
OPTION (LABEL = 'FACT_TER_INVOICE LOAD VIOL_MISSED_HIST');

IF OBJECT_ID('dbo.VIOL_INVOICE_STATUS') IS NOT NULL DROP TABLE dbo.VIOL_INVOICE_STATUS
CREATE TABLE dbo.VIOL_INVOICE_STATUS WITH (HEAP, DISTRIBUTION = HASH (VIOLATOR_ID)) AS
SELECT 
		VIO.VIOLATOR_ID
		,VIO.VBI_INVOICE_ID
		,VIO.VIOL_INVOICE_ID
		,VIO.INVOICE_DATE
		,VIO.DATE_EXCUSED
		,VIO.VIOL_STATUS AS CURRENT_STATUS
		,ISNULL(VIH.OLD_VIOL_STATUS,'-1') AS OLD_STATUS
		,ISNULL(VIO.TOLLS_DUE		 , 0) AS TOLLS_DUE
		,ISNULL(VIO.FEES_DUE		 , 0) AS FEES_DUE
		,ISNULL(VIO.INVOICE_AMOUNT	 , 0) AS INVOICE_AMOUNT
		,ISNULL(VIO.INVOICE_AMT_DISC , 0) AS INVOICE_AMT_DISC
		,ISNULL(VIH.VIOL_STATUS,VIO.VIOL_STATUS) AS VIOL_STATUS
		,ISNULL(VIH.Status_BEGIN,VIO.INVOICE_DATE) AS Status_BEGIN
		,ISNULL(VIH.Status_END,CAST('2200-01-01' AS DATETIME2)) AS Status_END
	FROM VIOL_INVOICE_HV VIO
	LEFT JOIN (
				SELECT VIOL_INVOICE_ID,VIOL_STATUS,OLD_VIOL_STATUS,Status_BEGIN,Status_END FROM dbo.VIOL_INVOICES_HIST
				UNION ALL
				SELECT VIOL_INVOICE_ID,VIOL_STATUS,'-1' AS OLD_VIOL_STATUS,Status_BEGIN,Status_END FROM VIOL_MISSED_HIST
			) AS  VIH ON VIO.VIOL_INVOICE_ID = VIH.VIOL_INVOICE_ID 
OPTION (LABEL = 'FACT_TER_INVOICE LOAD VIOL_INVOICE_STATUS');

-- Now Should get All open and Excused invoises 
IF OBJECT_ID('dbo.PAYMENTPLAN_VB_INVOICES') IS NOT NULL DROP TABLE dbo.PAYMENTPLAN_VB_INVOICES
CREATE TABLE dbo.PAYMENTPLAN_VB_INVOICES WITH (HEAP, DISTRIBUTION = HASH (VIOLATOR_ID)) AS
SELECT
	V.PAYMENTPLANID
	,V.VIOLATOR_ID
	,V.VIDSEQ
	,V.MAX_VIDSEQ
	,CAST(V.HVDATE AS DATE) HVDATE
	,V.TERMDATE
	,CAST(ISNULL(NULLIF(V.PAYMENTPLAN_DATE, '2200-01-01'),'1900-01-01') AS DATE) PAYMENTPLAN_DATE
	,V.PLANSTART_DATE
	,VBI.VBI_INVOICE_ID
	,VBI.INVOICE_DATE
	,VBI.CURRENT_STATUS
	--,VBI.OLD_STATUS
	,CASE WHEN VBI.CURRENT_STATUS = 'TS' AND CAST(VBI.DATE_EXCUSED AS DATE) BETWEEN CAST(V.PAYMENTPLAN_DATE AS DATE) AND V.PLANSTART_DATE /*V.PLANSTART_DATE*/ THEN VBI.CURRENT_STATUS ELSE VBI.VBI_STATUS END AS VBI_STATUS
	,CASE WHEN VBI.CURRENT_STATUS = 'TS' AND CAST(VBI.DATE_EXCUSED AS DATE) BETWEEN CAST(V.PAYMENTPLAN_DATE AS DATE) AND V.PLANSTART_DATE /*V.PLANSTART_DATE*/ THEN VBI.DATE_EXCUSED ELSE '1900-01-01' END AS DATE_EXCUSED
	,VBI.TOLLS_DUE
	,VBI.FEES_DUE
	,VBI.INVOICE_AMOUNT
	,VBI.INVOICE_AMT_DISC
	,0 AS PP_HV_FLAG
	,ROW_NUMBER() OVER (PARTITION BY V.VIOLATOR_ID, V.PAYMENTPLANID, VBI.VBI_INVOICE_ID ORDER BY V.VIDSEQ DESC) AS RN
FROM dbo.FTI_VIOLATOR_HV AS V
JOIN VB_INVOICE_STATUS AS VBI ON V.VIOLATOR_ID = VBI.VIOLATOR_ID
	AND ((VBI.VBI_STATUS IN (SELECT [status] AS VBI_STATUS FROM LND_LG_VPS.VP_OWNER.Vb_INV_STATUS WHERE is_closed = 'n') AND CAST(V.PAYMENTPLAN_DATE AS DATE) BETWEEN CAST(VBI.Status_BEGIN AS DATE) AND VBI.Status_END)
		OR (VBI.VBI_STATUS IN ('CV','E','F') AND VBI.OLD_STATUS <> VBI.VBI_STATUS AND CAST(VBI.Status_BEGIN AS DATE) BETWEEN CAST(V.PAYMENTPLAN_DATE AS DATE) AND V.PLANSTART_DATE) -- FULLY PAID at the same day - went to downpayments to this PP
		OR (VBI.CURRENT_STATUS = 'TS' AND CAST(VBI.DATE_EXCUSED AS DATE) BETWEEN CAST(V.PAYMENTPLAN_DATE AS DATE) AND V.PLANSTART_DATE)) --AND V.PLANSTART_DATE)) -- Excused at the same day 
WHERE V.PAYMENTPLANID IS NOT NULL
OPTION (LABEL = 'FACT_TER_INVOICE LOAD PAYMENTPLAN_VB_INVOICES');

IF OBJECT_ID('dbo.VIOLATOR_VB_INVOICES') IS NOT NULL DROP TABLE dbo.VIOLATOR_VB_INVOICES
CREATE TABLE dbo.VIOLATOR_VB_INVOICES WITH (HEAP, DISTRIBUTION = HASH (VIOLATOR_ID)) AS
SELECT
	-1 AS PAYMENTPLANID
	,V.VIOLATOR_ID
	,V.VIDSEQ
	,V.MAX_VIDSEQ
	,CAST(V.HVDATE AS DATE) HVDATE
	,V.TERMDATE
	,CAST('1900-01-01' AS DATE) PAYMENTPLAN_DATE
	,CAST('1900-01-01' AS DATE) PLANSTART_DATE
	,VBI.VBI_INVOICE_ID
	,VBI.INVOICE_DATE
	,VBI.CURRENT_STATUS
	,CASE WHEN VBI.CURRENT_STATUS = 'TS' AND CAST(VBI.DATE_EXCUSED AS DATE) BETWEEN CAST(V.HVDATE AS DATE) AND V.TERMDATE THEN VBI.CURRENT_STATUS ELSE VBI.VBI_STATUS END AS VBI_STATUS
	,CASE WHEN VBI.CURRENT_STATUS = 'TS' AND CAST(VBI.DATE_EXCUSED AS DATE) BETWEEN CAST(V.HVDATE AS DATE) AND V.TERMDATE THEN VBI.DATE_EXCUSED ELSE '1900-01-01' END AS DATE_EXCUSED
	,VBI.TOLLS_DUE
	,VBI.FEES_DUE
	,VBI.INVOICE_AMOUNT
	,VBI.INVOICE_AMT_DISC
	,1 AS PP_HV_FLAG
	,ROW_NUMBER() OVER (PARTITION BY V.VIOLATOR_ID, VBI.VBI_INVOICE_ID ORDER BY V.VIDSEQ DESC, VBI.Status_BEGIN DESC) AS RN
FROM dbo.FTI_VIOLATOR_HV AS V
JOIN VB_INVOICE_STATUS AS VBI ON V.VIOLATOR_ID = VBI.VIOLATOR_ID
	AND ((VBI.VBI_STATUS IN (SELECT [status] AS VBI_STATUS FROM LND_LG_VPS.VP_OWNER.Vb_INV_STATUS WHERE is_closed = 'n') AND V.HVDATE <= VBI.Status_END AND V.TERMDATE > VBI.Status_BEGIN)
		OR (VBI.CURRENT_STATUS = 'TS' AND CAST(VBI.DATE_EXCUSED AS DATE) BETWEEN CAST(V.HVDATE AS DATE) AND V.TERMDATE))
	AND NOT EXISTS (SELECT 1 FROM PAYMENTPLAN_VB_INVOICES PPI WHERE PPI.VIOLATOR_ID = V.VIOLATOR_ID /*AND PPI.VIDSEQ = V.VIDSEQ*/ AND PPI.VBI_INVOICE_ID = VBI.VBI_INVOICE_ID)
OPTION (LABEL = 'FACT_TER_INVOICE LOAD VIOLATOR_VB_INVOICES');

IF OBJECT_ID('dbo.PAYMENTPLAN_VIOL_INVOICES') IS NOT NULL DROP TABLE dbo.PAYMENTPLAN_VIOL_INVOICES
CREATE TABLE dbo.PAYMENTPLAN_VIOL_INVOICES WITH (HEAP, DISTRIBUTION = HASH (VIOLATOR_ID)) AS
SELECT
	V.PAYMENTPLANID
	,V.VIOLATOR_ID
	,V.VIDSEQ
	,V.MAX_VIDSEQ
	,CAST(V.HVDATE AS DATE) HVDATE
	,V.TERMDATE
	,CAST(ISNULL(NULLIF(V.PAYMENTPLAN_DATE, '2200-01-01'),'1900-01-01') AS DATE) PAYMENTPLAN_DATE
	,V.PLANSTART_DATE
	,VIO.VBI_INVOICE_ID
	,VIO.VIOL_INVOICE_ID
	,VIO.INVOICE_DATE
	,VIO.CURRENT_STATUS
	,CASE WHEN VIO.CURRENT_STATUS = 'TS' AND CAST(VIO.DATE_EXCUSED AS DATE) BETWEEN CAST(V.PAYMENTPLAN_DATE AS DATE) AND V.PLANSTART_DATE /*V.PLANSTART_DATE*/ THEN VIO.CURRENT_STATUS ELSE VIO.VIOL_STATUS END AS VIOL_STATUS
	,CASE WHEN VIO.CURRENT_STATUS = 'TS' AND CAST(VIO.DATE_EXCUSED AS DATE) BETWEEN CAST(V.PAYMENTPLAN_DATE AS DATE) AND V.PLANSTART_DATE /*V.PLANSTART_DATE*/ THEN VIO.DATE_EXCUSED ELSE '1900-01-01' END AS DATE_EXCUSED
	,VIO.TOLLS_DUE
	,VIO.FEES_DUE
	,VIO.INVOICE_AMOUNT
	,VIO.INVOICE_AMT_DISC
	,0 AS PP_HV_FLAG
	,ROW_NUMBER() OVER (PARTITION BY V.VIOLATOR_ID, V.PAYMENTPLANID, VIO.VIOL_INVOICE_ID ORDER BY V.VIDSEQ DESC) AS RN
FROM dbo.FTI_VIOLATOR_HV AS V
JOIN VIOL_INVOICE_STATUS AS VIO ON V.VIOLATOR_ID = VIO.VIOLATOR_ID
	AND ((VIO.VIOL_STATUS IN (SELECT viol_inv_status AS VIOL_STATUS FROM LND_LG_VPS.VP_OWNER.VIOL_INV_STATUS WHERE is_closed = 'n') AND CAST(V.PAYMENTPLAN_DATE AS DATE) BETWEEN CAST(VIO.Status_BEGIN AS DATE) AND VIO.Status_END)
		OR (VIO.VIOL_STATUS IN('EP','E','F','K') AND VIO.OLD_STATUS <> VIO.VIOL_STATUS AND CAST(VIO.Status_BEGIN AS DATE) BETWEEN CAST(V.PAYMENTPLAN_DATE AS DATE) AND V.PLANSTART_DATE) -- FULLY PAID at the same day - went to downpayments to this PP
		OR (VIO.CURRENT_STATUS = 'TS' AND CAST(VIO.DATE_EXCUSED AS DATE) BETWEEN CAST(V.PAYMENTPLAN_DATE AS DATE) AND V.PLANSTART_DATE /*V.PLANSTART_DATE*/)) -- Excused at the same day 
WHERE V.PAYMENTPLANID IS NOT NULL
OPTION (LABEL = 'FACT_TER_INVOICE LOAD PAYMENTPLAN_VIOL_INVOICES');

IF OBJECT_ID('dbo.VIOLATOR_VIOL_INVOICES') IS NOT NULL DROP TABLE dbo.VIOLATOR_VIOL_INVOICES
CREATE TABLE dbo.VIOLATOR_VIOL_INVOICES WITH (HEAP, DISTRIBUTION = HASH (VIOLATOR_ID)) AS
SELECT
	-1 AS PAYMENTPLANID
	,V.VIOLATOR_ID
	,V.VIDSEQ
	,V.MAX_VIDSEQ
	,CAST(V.HVDATE AS DATE) HVDATE
	,V.TERMDATE
	,CAST('1900-01-01' AS DATE) PAYMENTPLAN_DATE
	,CAST('1900-01-01' AS DATE) PLANSTART_DATE
	,VIO.VBI_INVOICE_ID
	,VIO.VIOL_INVOICE_ID
	,VIO.INVOICE_DATE
	,VIO.CURRENT_STATUS
	,CASE WHEN VIO.CURRENT_STATUS = 'TS' AND CAST(VIO.DATE_EXCUSED AS DATE) BETWEEN CAST(V.HVDATE AS DATE) AND V.TERMDATE THEN VIO.CURRENT_STATUS ELSE VIO.VIOL_STATUS END AS VIOL_STATUS
	,CASE WHEN VIO.CURRENT_STATUS = 'TS' AND CAST(VIO.DATE_EXCUSED AS DATE) BETWEEN CAST(V.HVDATE AS DATE) AND V.TERMDATE THEN VIO.DATE_EXCUSED ELSE '1900-01-01' END AS DATE_EXCUSED
	,VIO.TOLLS_DUE
	,VIO.FEES_DUE
	,VIO.INVOICE_AMOUNT
	,VIO.INVOICE_AMT_DISC
	,1 AS PP_HV_FLAG
	,ROW_NUMBER() OVER (PARTITION BY V.VIOLATOR_ID, VIO.VIOL_INVOICE_ID ORDER BY V.VIDSEQ DESC, VIO.Status_BEGIN DESC) AS RN
FROM dbo.FTI_VIOLATOR_HV AS V -- BOTH - 0, ONLY HV - 1
JOIN VIOL_INVOICE_STATUS AS VIO ON V.VIOLATOR_ID = VIO.VIOLATOR_ID
	AND ((VIO.VIOL_STATUS IN (SELECT viol_inv_status AS VIOL_STATUS FROM LND_LG_VPS.VP_OWNER.VIOL_INV_STATUS WHERE is_closed = 'n') AND V.HVDATE <= VIO.Status_END AND V.TERMDATE > VIO.Status_BEGIN)
		OR (VIO.CURRENT_STATUS = 'TS' AND CAST(VIO.DATE_EXCUSED AS DATE) BETWEEN CAST(V.HVDATE AS DATE) AND V.TERMDATE))
	AND NOT EXISTS (SELECT 1 FROM PAYMENTPLAN_VIOL_INVOICES PPI WHERE PPI.VIOLATOR_ID = V.VIOLATOR_ID /*AND PPI.VIDSEQ = V.VIDSEQ*/ AND PPI.VIOL_INVOICE_ID = VIO.VIOL_INVOICE_ID)
OPTION (LABEL = 'FACT_TER_INVOICE LOAD VIOLATOR_VIOL_INVOICES');


IF OBJECT_ID('dbo.FINAL_QUERY') IS NOT NULL DROP TABLE dbo.FINAL_QUERY
CREATE TABLE dbo.FINAL_QUERY WITH (HEAP, DISTRIBUTION = HASH (LAST_INVOICE_ID)) AS
SELECT
	CASE WHEN VI.VIOL_INVOICE_ID IS NULL THEN CAST(4810000000000 AS BIGINT) + VB.VBI_INVOICE_ID ELSE CAST(41070000000000 AS BIGINT) + VI.VIOL_INVOICE_ID END AS LAST_INVOICE_ID
	,ISNULL(VI.PAYMENTPLANID	, VB.PAYMENTPLANID			) AS PAYMENTPLANID
	,ISNULL(VI.PAYMENTPLAN_DATE	, VB.PAYMENTPLAN_DATE		) AS PAYMENTPLAN_DATE
	,ISNULL(VI.PLANSTART_DATE	, VB.PLANSTART_DATE			) AS PLANSTART_DATE
	,ISNULL(VI.VIOLATOR_ID		, VB.VIOLATOR_ID			) AS VIOLATOR_ID
	,ISNULL(VI.VIDSEQ			, VB.VIDSEQ					) AS VIDSEQ
	,ISNULL(VI.MAX_VIDSEQ		, VB.MAX_VIDSEQ				) AS MAX_VIDSEQ
	,ISNULL(VI.HVDATE			, VB.HVDATE					) AS HVDATE
	,ISNULL(VI.TERMDATE			, VB.TERMDATE				) AS TERMDATE
	,ISNULL(VI.DATE_EXCUSED		, VB.DATE_EXCUSED			) AS DATE_EXCUSED
	--,ISNULL(VI.VBI_INVOICE_ID	, VB.VBI_INVOICE_ID			) AS VBI_INVOICE_ID
	,ISNULL(CASE WHEN VI.VIOL_INVOICE_ID IS NULL 
			THEN VB.VBI_INVOICE_ID	ELSE -1 END, -1			) AS VBI_INVOICE_ID
	,ISNULL(VI.VIOL_INVOICE_ID	, -1						) AS VIOL_INVOICE_ID
	,ISNULL(VI.INVOICE_DATE		, VB.INVOICE_DATE			) AS INVOICE_DATE
	,ISNULL(VI.CURRENT_STATUS	, VB.CURRENT_STATUS			) AS CURRENT_STATUS
	,ISNULL(VI.VIOL_STATUS		, VB.VBI_STATUS				) AS INVOICE_STATUS
	,ISNULL(VI.TOLLS_DUE		, VB.TOLLS_DUE				) AS TOLLS_DUE
	,ISNULL(VI.FEES_DUE			, VB.FEES_DUE				) AS FEES_DUE
	,ISNULL(VI.INVOICE_AMOUNT	, VB.INVOICE_AMOUNT			) AS INVOICE_AMOUNT
	,ISNULL(VI.INVOICE_AMT_DISC	, VB.INVOICE_AMT_DISC		) AS INVOICE_AMT_DISC
	,ISNULL(VI.PP_HV_FLAG		, VB.PP_HV_FLAG				) AS PP_HV_FLAG
FROM (	
		SELECT * FROM PAYMENTPLAN_VB_INVOICES WHERE RN = 1
		UNION ALL
		SELECT * FROM VIOLATOR_VB_INVOICES WHERE RN = 1
		) VB
FULL OUTER JOIN (
		SELECT * FROM PAYMENTPLAN_VIOL_INVOICES WHERE RN = 1
		UNION ALL
		SELECT * FROM VIOLATOR_VIOL_INVOICES WHERE RN = 1
		) VI 
	ON VB.VIOLATOR_ID = VI.VIOLATOR_ID 
	--AND VB.VIDSEQ = VI.VIDSEQ 
	AND VB.VBI_INVOICE_ID = VI.VBI_INVOICE_ID 
	AND ISNULL(VB.PAYMENTPLANID, -1) = ISNULL(VI.PAYMENTPLANID, -1)
OPTION (LABEL = 'FACT_TER_INVOICE LOAD FINAL_QUERY');
--)

IF OBJECT_ID('dbo.FACT_TER_INVOICES_STAGE') IS NOT NULL DROP TABLE dbo.FACT_TER_INVOICES_STAGE
-- EXPLAIN
CREATE TABLE dbo.FACT_TER_INVOICES_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH (LAST_INVOICE_ID)) AS
SELECT 
	 ISNULL(F.LAST_INVOICE_ID,-1)						AS LAST_INVOICE_ID
	,ISNULL(PAYMENTPLANID,-1)							AS PAYMENTPLANID -- Will change it later
	,ISNULL(VIOLATOR_ID, -1)							AS VIOLATOR_ID
	,ISNULL(VIDSEQ, 0)									AS VIDSEQ
	,CAST(PAYMENTPLAN_DATE	AS DATE)					AS PAYMENTPLAN_DATE	
	,CAST(PLANSTART_DATE	AS DATE)					AS PLANSTART_DATE		
	,CAST(HVDATE			AS DATE)					AS HVDATE				
	,CAST(TERMDATE			AS DATE)					AS TERMDATE			
	,DATE_EXCUSED				
	,ISNULL(CAST(F.VBI_INVOICE_ID AS BIGINT), -1)		AS VBI_INVOICE_ID
	,ISNULL(CAST(F.VIOL_INVOICE_ID AS BIGINT), -1)		AS VIOL_INVOICE_ID
	,ISNULL(CAST(INVOICE_DATE AS DATE),'1900-01-01')	AS INVOICE_DATE
	,ISNULL(INVOICE_STATUS, '-1')						AS INVOICE_STATUS
	,ISNULL(CURRENT_STATUS, '-1')						AS CURRENT_STATUS
	,ISNULL(CAST(PP_HV_FLAG AS BIT),0)					AS PP_HV_FLAG
	,ISNULL(CAST(F.TOLLS_DUE AS MONEY),0)				AS TOLLS_DUE
	,ISNULL(CAST(F.FEES_DUE	 AS MONEY),0)				AS FEES_DUE
	,ISNULL(CAST(INVOICE_AMOUNT AS MONEY),0)			AS INVOICE_AMOUNT
	,ISNULL(CAST(INVOICE_AMT_DISC AS MONEY),0)			AS INVOICE_AMOUNT_DISC
	,ISNULL(CAST(P.PAID_AMOUNT AS MONEY),0)				AS INVOICE_PAID_AMOUNT
	,ISNULL(CAST(	CASE 
						WHEN CURRENT_STATUS = 'TS' THEN 0
						ELSE INVOICE_AMOUNT - ISNULL(F.INVOICE_AMT_DISC, 0) - ISNULL(P.PAID_AMOUNT, 0)
					END AS MONEY),0) AS INVOICE_BALANCE
	,ISNULL(CAST(PP.PAID_AMOUNT AS MONEY),0)				AS INVOICE_PAID_AMOUNT_ASOF_PP
	,ISNULL(CAST(	CASE 
						WHEN INVOICE_STATUS = 'TS' THEN 0
						ELSE INVOICE_AMOUNT - ISNULL(F.INVOICE_AMT_DISC, 0) - ISNULL(PP.PAID_AMOUNT, 0)
					END AS MONEY),0) AS INVOICE_BALANCE_ASOF_PP
	--,ISNULL(CAST(0 AS BIT),0) AS DELETED
	--,ISNULL(CAST(	CASE 
	--			WHEN PAYMENTPLANID = -1 AND MAX_VIDSEQ > VIDSEQ THEN 1
	--			WHEN PAYMENTPLANID > -1 THEN 1
	--			ELSE 0
	--		END AS BIT),0) AS LOCKED
FROM FINAL_QUERY F
LEFT JOIN (
				SELECT LAST_INVOICE_ID, SUM(PAID_AMOUNT) PAID_AMOUNT
				FROM EDW_RITE.dbo.FACT_INVOICE_PAYMENTS 
				GROUP BY LAST_INVOICE_ID
			) P ON P.LAST_INVOICE_ID = F.LAST_INVOICE_ID
LEFT JOIN (
				SELECT P.LAST_INVOICE_ID, SUM(P.PAID_AMOUNT) PAID_AMOUNT
				FROM EDW_RITE.dbo.FACT_INVOICE_PAYMENTS P
				JOIN FINAL_QUERY F ON P.LAST_INVOICE_ID = F.LAST_INVOICE_ID AND ISNULL(F.PAYMENTPLANID,-1) > -1 AND P.PAYMENT_DATE < CAST(F.PAYMENTPLAN_DATE AS DATE)
				GROUP BY P.LAST_INVOICE_ID
			) PP ON PP.LAST_INVOICE_ID = F.LAST_INVOICE_ID
OPTION (LABEL = 'FACT_TER_INVOICE LOAD');

/*
	--,CURRENT_STATUS		-- Incremental load will not work with this field
	--,STATUS_START			-- Query erroring with this field - something wrong with query plan...
	--,STATUS_END			-- Don't need it for now
*/

EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

CREATE STATISTICS STATS_FACT_TER_INVOICE_001 ON [dbo].FACT_TER_INVOICES_STAGE (VIOLATOR_ID,VIDSEQ)
CREATE STATISTICS STATS_FACT_TER_INVOICE_002 ON [dbo].FACT_TER_INVOICES_STAGE (PAYMENTPLANID,PAYMENTPLAN_DATE)
CREATE STATISTICS STATS_FACT_TER_INVOICE_003 ON [dbo].FACT_TER_INVOICES_STAGE (VBI_INVOICE_ID)
CREATE STATISTICS STATS_FACT_TER_INVOICE_004 ON [dbo].FACT_TER_INVOICES_STAGE (VIOL_INVOICE_ID)
CREATE STATISTICS STATS_FACT_TER_INVOICE_005 ON [dbo].FACT_TER_INVOICES_STAGE (INVOICE_STATUS)
CREATE STATISTICS STATS_FACT_TER_INVOICE_006 ON [dbo].FACT_TER_INVOICES_STAGE (CURRENT_STATUS)
CREATE STATISTICS STATS_FACT_TER_INVOICE_007 ON [dbo].FACT_TER_INVOICES_STAGE (HVDATE,TERMDATE)

SET @LOG_MESSAGE = @PROCEDURE_NAME + ' FINISHED'
EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

IF OBJECT_ID('dbo.FACT_TER_INVOICE_OLD')  IS NOT NULL DROP TABLE dbo.FACT_TER_INVOICE_OLD;
IF OBJECT_ID('dbo.FACT_TER_INVOICE')  IS NOT NULL RENAME OBJECT::dbo.FACT_TER_INVOICE TO FACT_TER_INVOICE_OLD;
RENAME OBJECT::dbo.FACT_TER_INVOICES_STAGE TO FACT_TER_INVOICE;


IF OBJECT_ID('dbo.FTI_VIOLATOR_HV') IS NOT NULL DROP TABLE dbo.FTI_VIOLATOR_HV
IF OBJECT_ID('dbo.VB_INVOICES_HIST') IS NOT NULL DROP TABLE dbo.VB_INVOICES_HIST
IF OBJECT_ID('dbo.VIOL_INVOICES_HIST') IS NOT NULL DROP TABLE dbo.VIOL_INVOICES_HIST
IF OBJECT_ID('dbo.VB_INVOICE_HV') IS NOT NULL DROP TABLE dbo.VB_INVOICE_HV
IF OBJECT_ID('dbo.VB_MISSED_HIST') IS NOT NULL DROP TABLE dbo.VB_MISSED_HIST
IF OBJECT_ID('dbo.VB_INVOICE_STATUS') IS NOT NULL DROP TABLE dbo.VB_INVOICE_STATUS
IF OBJECT_ID('dbo.VIOL_INVOICE_HV') IS NOT NULL DROP TABLE dbo.VIOL_INVOICE_HV
IF OBJECT_ID('dbo.VIOL_MISSED_HIST') IS NOT NULL DROP TABLE dbo.VIOL_MISSED_HIST
IF OBJECT_ID('dbo.VIOL_INVOICE_STATUS') IS NOT NULL DROP TABLE dbo.VIOL_INVOICE_STATUS
IF OBJECT_ID('dbo.PAYMENTPLAN_VB_INVOICES') IS NOT NULL DROP TABLE dbo.PAYMENTPLAN_VB_INVOICES
IF OBJECT_ID('dbo.VIOLATOR_VB_INVOICES') IS NOT NULL DROP TABLE dbo.VIOLATOR_VB_INVOICES
IF OBJECT_ID('dbo.PAYMENTPLAN_VIOL_INVOICES') IS NOT NULL DROP TABLE dbo.PAYMENTPLAN_VIOL_INVOICES
IF OBJECT_ID('dbo.VIOLATOR_VIOL_INVOICES') IS NOT NULL DROP TABLE dbo.VIOLATOR_VIOL_INVOICES
IF OBJECT_ID('dbo.FINAL_QUERY') IS NOT NULL DROP TABLE dbo.FINAL_QUERY

