CREATE PROC [DBO].[FACT_TER_TTXN_LOAD] AS

/*
USE EDW_TER
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_TER_TTXN_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_TER_TTXN_LOAD
GO


*/

--2018-11-28 Ranjith Nair Created
--2018-11-28 Ranjith Nair ADDED PAYMENTPLANID
--2018-12-02 Ranjith Nair OR INSTEAD OF AND FOR VBI_STATUS != 'TS' AND VIOL_INV_STATUS != 'TS'
--2018-12-06 Ranjith Nair ISNULL(VBI_STATUS,'') != 'TS' AND ISNULL(VIOL_INV_STATUS,'') != 'TS'
--2018-12-31 Arun         Updated date condition (U.DAY_ID BETWEEN EARLIEST_QUALIFIED_TRAN_DATE AND TERMDATE  and added Source_code in ('H','I')
BEGIN

	--STEP #0: DROP STAGE TABLE
IF OBJECT_ID('EDW_TER.dbo.FACT_TER_TTXN_ACCOUNTS ') > 0	DROP TABLE EDW_TER.dbo.FACT_TER_TTXN_ACCOUNTS

--EXPLAIN
CREATE TABLE EDW_TER.dbo.FACT_TER_TTXN_ACCOUNTS	WITH (HEAP,DISTRIBUTION = HASH (VIOLATORID)) AS  --EXPLAIN
	WITH CTE_ACCTs AS
	(
		SELECT H.ACCT_ID, H.TAG_ID, V.HVDATE, ISNULL(NULLIF(V.TERMDATE,'1900-01-01'),'2200-01-01') TERMDATE,V.VIOLATORID, V.VIDSEQ
		FROM EDW_TER.dbo.DIM_VIOLATOR V
		JOIN EDW_RITE.dbo.ACCOUNT_TAG_HISTORY H	ON V.LICENSE_PLATE_ID = H.LICENSE_PLATE_ID 
		GROUP BY H.ACCT_ID, H.TAG_ID, V.HVDATE, V.TERMDATE,V.VIOLATORID, V.VIDSEQ
	)
	SELECT 
		H.ACCT_ID, H.TAG_ID, V.HVDATE, V.TERMDATE,V.VIOLATORID, V.VIDSEQ, H.LICENSE_PLATE_ID, CAST(H.ASSIGNED_DATE AS DATE) ASSIGNED_DATE, ISNULL(CAST(H.EXPIRED_DATE AS DATE), '2200-01-01') EXPIRED_DATE
	FROM CTE_ACCTs V
	JOIN EDW_RITE.dbo.ACCOUNT_TAG_HISTORY H	ON H.ACCT_ID = V.ACCT_ID AND H.TAG_ID = V.TAG_ID AND H.ACCT_TAG_STATUS = 'A'

CREATE STATISTICS STAT_FACT_TER_TTXN_ACCOUNTS_001 ON EDW_TER.dbo.FACT_TER_TTXN_ACCOUNTS(ACCT_ID,TAG_ID,LICENSE_PLATE_ID)
CREATE STATISTICS STAT_FACT_TER_TTXN_ACCOUNTS_002 ON EDW_TER.dbo.FACT_TER_TTXN_ACCOUNTS(HVDATE,TERMDATE)
CREATE STATISTICS STAT_FACT_TER_TTXN_ACCOUNTS_003 ON EDW_TER.dbo.FACT_TER_TTXN_ACCOUNTS(ASSIGNED_DATE,EXPIRED_DATE)

IF OBJECT_ID('EDW_TER.dbo.FACT_TER_TTXN_NEW ') > 0	DROP TABLE EDW_TER.dbo.FACT_TER_TTXN_NEW
--EXPLAIN
CREATE TABLE EDW_TER.dbo.FACT_TER_TTXN_NEW	WITH (CLUSTERED COLUMNSTORE INDEX,DISTRIBUTION = HASH (VIOLATORID)) AS  --EXPLAIN
	WITH CTE_TRANS AS
	(
		SELECT 
			V.VIOLATORID, V.VIDSEQ,	T.SOURCE_CODE,T.TTXN_ID, ASSIGNED_DATE, EXPIRED_DATE, HVDATE, TERMDATE, CAST(CONVERT(VARCHAR(6), T.POSTED_DATE, 112) AS INT) AS MONTH_ID, T.AMOUNT
			, ROW_NUMBER() OVER (PARTITION BY T.TTXN_ID ORDER BY ASSIGNED_DATE DESC, HVDATE DESC, V.VIOLATORID DESC, V.VIDSEQ DESC) AS RN
		FROM EDW_TER.dbo.FACT_TER_TTXN_ACCOUNTS V
		INNER JOIN EDW_RITE.DBO.FACT_TOLL_TRANSACTIONS T ON V.ACCT_ID = T.ACCT_ID 
					AND V.TAG_ID = T.TAG_ID
					AND V.LICENSE_PLATE_ID = T.LICENSE_PLATE_ID
					AND T.POSTED_DATE BETWEEN V.HVDATE AND TERMDATE --AND v.VIOLATORID = 745575121 
					AND T.CREDITED_FLAG = 'N'
					AND T.POSTED_DATE BETWEEN ASSIGNED_DATE AND EXPIRED_DATE
	)

	, CTE AS
	(
		SELECT 
			VIOLATORID, VIDSEQ,	SOURCE_CODE, MONTH_ID,HVDATE,TERMDATE,SUM(AMOUNT) AS TTXN_AMOUNT
		FROM CTE_TRANS
		WHERE RN = 1
		GROUP BY VIOLATORID, VIDSEQ,	SOURCE_CODE, MONTH_ID,HVDATE,TERMDATE
	)
	SELECT ISNULL(P.PAYMENTPLANID,-1) AS PAYMENTPLANID, T.* 
	FROM CTE T 
	LEFT JOIN 	(
					SELECT VP.VIOLATORID,VP.VIDSEQ,VP.PAYMENTPLANID,ROW_NUMBER() OVER(PARTITION BY VIOLATORID,VIDSEQ ORDER BY VP.PAYMENTPLANID DESC) RANC 
					FROM EDW_TER.DBO.VIOLATOR_PAYMENTPLAN_XREF VP 
					JOIN EDW_TER.DBO.DIM_PAYMENTPLAN P ON VP.PAYMENTPLANID = P.PAYMENTPLANID AND P.DELETEDFLAG = 0 AND P.PAYMENTPLANSTATUSLOOKUPID > 4
				) P
	ON T.VIOLATORID = P.VIOLATORID AND T.VIDSEQ = P.VIDSEQ AND RANC = 1

	--SELECT COUNT_BIG(1) FROM EDW_TER.dbo.FACT_TER_TTXN_NEW_SET		-- 5679338
	--SELECT COUNT_BIG(1) FROM EDW_TER.dbo.FACT_TER_TTXN				-- 3041268

	--IF OBJECT_ID('dbo.FACT_TER_TTXN_DEL') > 0		DROP TABLE dbo.FACT_TER_TTXN_DEL;
	--IF OBJECT_ID('dbo.FACT_TER_TTXN') > 0 RENAME OBJECT::dbo.FACT_TER_TTXN TO FACT_TER_TTXN_DEL;
	--RENAME OBJECT::dbo.FACT_TER_TTXN_NEW TO FACT_TER_TTXN;
	--IF OBJECT_ID('dbo.FACT_TER_TTXN_DEL') > 0		DROP TABLE dbo.FACT_TER_TTXN_DEL;
	IF OBJECT_ID('dbo.FACT_TER_TTXN_OLD') > 0		DROP TABLE dbo.FACT_TER_TTXN_OLD;
	IF OBJECT_ID('dbo.FACT_TER_TTXN') > 0 RENAME OBJECT::dbo.FACT_TER_TTXN TO FACT_TER_TTXN_OLD;
	RENAME OBJECT::dbo.FACT_TER_TTXN_NEW TO FACT_TER_TTXN;
	IF OBJECT_ID('dbo.FACT_TER_TTXN_OLD') > 0		DROP TABLE dbo.FACT_TER_TTXN_OLD;


IF OBJECT_ID('EDW_TER.dbo.FACT_TER_TTXN_ACCOUNTS ') > 0	DROP TABLE EDW_TER.dbo.FACT_TER_TTXN_ACCOUNTS

--2418782.35
--SELECT SUM(TTXN_AMOUNT) TTXN_AMOUNT FROM EDW_TER.dbo.FACT_TER_TTXN_NEW WHERE MONTH_ID = 201802			--2418782.35
--SELECT SUM(TTXN_AMOUNT) TTXN_AMOUNT FROM EDW_TER.dbo.FACT_TER_TTXN_NEW_SET WHERE MONTH_ID = 201802		--2513405.54
--SELECT SUM(TTXN_AMOUNT) TTXN_AMOUNT FROM EDW_TER.dbo.FACT_TER_TTXN WHERE MONTH_ID = 201802				--11128309.56
--SELECT SUM(TTXN_AMOUNT) TTXN_AMOUNT FROM EDW_TER.dbo.FACT_TER_TTXN_OLD WHERE MONTH_ID = 201802			--1936958.33

--SELECT 
--SUM(a11.AMOUNT)  TTXN_AMOUNT_BHANU
--FROM   dbo.FACT_TOLL_TRANSACTIONS a11
--       JOIN   dbo.ACCOUNT_TAG_HISTORY    a12
--         ON   (a11.ACCT_ID = a12.ACCT_ID AND 
--       a11.LICENSE_PLATE_ID = a12.LICENSE_PLATE_ID AND 
--       a11.TAG_ID = a12.TAG_ID)
--       JOIN   EDW_TER.dbo.DIM_VIOLATOR   a13
--         ON   (ISNULL(a11.LICENSE_PLATE_ID,-1) = ISNULL(a13.LICENSE_PLATE_ID,-1)) --AND a13.VIOLATORID IN (SELECT VIOLATORID FROM EDW_TER..FACT_TER_TTXN)
--       --JOIN    EDW_TER..Violator A20
--       --  ON   (A20.ViolatorID = A13.VIOLATORID AND A13.VIDSEQ = A20.VidSeq)
--       --JOIN   EDW_TER..VIOLATOR_PAYMENTPLAN_XREF A21
--       --  ON   A21.VIDSEQ = a13.VIDSEQ AND A21.VIOLATORID = a13.VIOLATORID
--       JOIN   dbo.DIM_DAY   a14
--         ON   (CAST(CONVERT(VARCHAR, a11.POSTED_DATE,112) AS INT) = a14.DayID)
--       JOIN   dbo.SOURCE_CODE_TOLL a15
--         ON   (a11.SOURCE_CODE = a15.SOURCE_CODE)
--       JOIN   DIM_DAY       a16
--         ON   (ISNULL(CAST(CONVERT(VARCHAR, a12.EXPIRED_DATE,112) AS INT),19000101) = a16.DayID)
--       JOIN   dbo.DIM_DAY   a17
--         ON   (a11.DAY_ID = a17.DayID)
--       JOIN   DIM_DAY       a18
--         ON   (CAST(CONVERT(VARCHAR, a13.HVDATE,112) AS INT) = a18.DayID)
--       JOIN   DIM_DAY       a19
--         ON   (CAST(CONVERT(VARCHAR, a13.TERMDATE,112) AS INT) = a19.DayID)
--WHERE  (ISNULL(a13.LATESTHVTRANDATE,GETDATE()) <=  ISNULL(EXPIRED_DATE, GETDATE())
--AND a11.POSTED_DATE BETWEEN HVDATE AND CASE WHEN TERMDATE = '1/1/1900' THEN GETDATE() ELSE TERMDATE END
--AND a11.TRANSACTION_DATE >=  HVDATE)
--AND a11.CREDITED_FLAG = 'N'
--AND a14.CAL_MONTHID = 201802 


		--RENAME OBJECT::dbo.FACT_TER_TTXN TO FACT_TER_TTXN_NEW_SET;
		--RENAME OBJECT::dbo.FACT_TER_TTXN_OLD TO FACT_TER_TTXN;
	--IF OBJECT_ID('dbo.FACT_TER_TTXN_OLD') > 0		DROP TABLE dbo.FACT_TER_TTXN_OLD;
	/*
	--STEP #1: CREATE STAGE TABLE
	CREATE TABLE EDW_TER.dbo.FACT_TER_TTXN_STAGE	WITH (CLUSTERED COLUMNSTORE INDEX,DISTRIBUTION = HASH (VIOLATORID)) AS  --EXPLAIN
	WITH	VIOLATOR AS 
	(		
		SELECT DISTINCT VS.VIOLATORID, VS.VIDSEQ
			,  ATH.TAG_ID, ATH.ACCT_ID,ATH.EXPIRED_DATE,VS.HVDATE HV_DESIGNATION_START_DATE
			, CONVERT(VARCHAR,COALESCE(EARLIESTHVTRANDATE,HVDATE),112) AS EARLIEST_QUALIFIED_TRAN_DATE
            , CONVERT(VARCHAR,LATESTHVTRANDATE,112) AS LAST_QUALIFIED_TRAN_DATE-- SELECT COUNT(*)--SELECT TOP 1000 V.*
			, CONVERT(VARCHAR,CASE WHEN VS.TERMDATE = '1900-01-01' THEN GETDATE() ELSE VS.TERMDATE END,112) AS TERMDATE
        FROM EDW_TER.DBO.VIOLATORSTATUS VS --633283
        JOIN EDW_TER.DBO.VIOLATOR V ON VS.VIOLATORID = V.VIOLATORID AND VS.VIDSEQ = V.VIDSEQ --AND V.VIOLATORID = 800037008
		JOIN EDW_TER.dbo.DIM_VIOLATOR
--
        JOIN EDW_TER.DBO.STATELOOKUP SL ON V.LICPLATESTATELOOKUPID = SL.STATELOOKUPID
		JOIN EDW_RITE.DBO.DIM_LICENSE_PLATE LP ON V.LICPLATENBR = LP.LICENSE_PLATE_NBR AND SL.STATECODE = LP.LICENSE_PLATE_STATE
        JOIN EDW_RITE.DBO.ACCOUNT_TAG_HISTORY ATH ON LP.LICENSE_PLATE_ID = ATH.LICENSE_PLATE_ID
	)		  
	,TTXN  AS
	(
		SELECT           
			VIOLATOR_ID AS VIOLATORID
            ,VID_SEQ AS VIDSEQ
			,SOURCE_CODE
			,CONVERT(VARCHAR(6), POSTED_DATE, 112) as MONTH_ID
			,SUM(AMOUNT) AS TTXN_AMOUNT
		FROM 
		(
                                           SELECT   	  S.VIOLATORID AS VIOLATOR_ID
										                  , S.VIDSEQ AS VID_SEQ
                                                          ---, S.HVFLAG
                                                          --, S.LICPLATENBR AS LIC_PLATE_NBR
                                                          --, S.LIC_PLATE_STATE
                                                          , S.LAST_QUALIFIED_TRAN_DATE
                                                          , S.HV_DESIGNATION_START_DATE
                                                          , S.TERMDATE
                                                          --, S.LICENSE_PLATE_ID
                                                          , S.TAG_ID
                                                          , S.ACCT_ID
                                                          , S.EXPIRED_DATE
                                                          , TT.TTXN_ID
                                                          , TT.POSTED_DATE
                                                          , TT.POSTED_TIME_ID
                                                          , RIGHT('00'+CONVERT(VARCHAR(2),DATEPART(MM,TT.POSTED_DATE)),2)  + CONVERT(VARCHAR(4),DATEPART(YYYY,TT.POSTED_DATE))  AS TT_TRANS_MMYYYY
                                                          , TT.AMOUNT
                                                          , TT.LANE_ID
                                                       --   , TT.SOURCE_CODE
                                                          , TT.TRANS_TYPE_ID
                                                          , TT.CREDITED_FLAG
                                                          , TT.TRANSACTION_DATE
                                                          , TT.TRANSACTION_TIME_ID
														  , TT.SOURCE_CODE 
                                                          , ROW_NUMBER()OVER( PARTITION BY TT.TTXN_ID ORDER BY (SELECT 1)) AS RN
                                           -- SELECT COUNT(*)
                                           FROM VIOLATOR S
                                           INNER JOIN EDW_RITE.DBO.FACT_TOLL_TRANSACTIONS TT ON S.ACCT_ID = TT.ACCT_ID AND S.TAG_ID = TT.TAG_ID
                                           WHERE               S.LAST_QUALIFIED_TRAN_DATE <= ISNULL(S.EXPIRED_DATE, GETDATE())
                                                                        AND S.TAG_ID = TT.TAG_ID
                                                                        AND S.ACCT_ID = TT.ACCT_ID
                                                                        AND TT.POSTED_DATE BETWEEN HV_DESIGNATION_START_DATE AND CASE WHEN S.TERMDATE = '1/1/1900' THEN GETDATE() ELSE S.TERMDATE END 
                                                                        AND TT.CREDITED_FLAG <> 'Y'
                                                                        AND TT.TRANSACTION_DATE >= S.HV_DESIGNATION_START_DATE
																		
                             ) THEDATA
              WHERE RN = 1 --AND POSTED_DATE BETWEEN '2018-10-01' AND '2018-10-31'
			  GROUP BY         VIOLATOR_ID
                              , VID_SEQ
							  ,SOURCE_CODE
							  ,CONVERT(VARCHAR(6), POSTED_DATE, 112) 
		) 
		
		SELECT ISNULL(P.PAYMENTPLANID,-1) AS PAYMENTPLANID,T.* 
		FROM TTXN T LEFT JOIN 
		(
		SELECT VP.VIOLATORID,VP.VIDSEQ,VP.PAYMENTPLANID,ROW_NUMBER() OVER(PARTITION BY VIOLATORID,VIDSEQ ORDER BY VP.PAYMENTPLANID DESC) RANC 
		FROM EDW_TER.DBO.VIOLATOR_PAYMENTPLAN_XREF VP 
	    JOIN EDW_TER.DBO.DIM_PAYMENTPLAN P ON VP.PAYMENTPLANID = P.PAYMENTPLANID AND P.DELETEDFLAG = 0 AND P.PAYMENTPLANSTATUSLOOKUPID > 4
		) P
		ON T.VIOLATORID = P.VIOLATORID AND T.VIDSEQ = P.VIDSEQ AND RANC = 1


	     
	--STEP #2: Replace OLD table with NEW
	IF OBJECT_ID('dbo.FACT_TER_TTXN_OLD') > 0		DROP TABLE dbo.FACT_TER_TTXN_OLD;
		IF OBJECT_ID('dbo.FACT_TER_TTXN') > 0 RENAME OBJECT::dbo.FACT_TER_TTXN TO FACT_TER_TTXN_OLD;
		RENAME OBJECT::dbo.FACT_TER_TTXN_STAGE TO FACT_TER_TTXN;
	IF OBJECT_ID('dbo.FACT_TER_TTXN_OLD') > 0		DROP TABLE dbo.FACT_TER_TTXN_OLD;

	--STEP #3: Create Statistics --[dbo].[CreateStats] 'dbo', 'FACT_TER_TTXN'
	CREATE STATISTICS STATS_FACT_TER_TTXN_001 ON [dbo].FACT_TER_TTXN (PAYMENTPLANID,VIOLATORID,VIDSEQ)
	*/
	--SELECT * FROM EDW_TER.dbo.FACT_TER_TTXN ORDER BY 3 desc,1,2
	--SELECT CASE WHEN PAYMENTPLANID = -1 THEN 'HV' ELSE 'PP' END HV_PP, MONTH_ID, SUM(TTXN_AMOUNT) TTXN_AMOUNT FROM EDW_TER.dbo.FACT_TER_TTXN GROUP BY CASE WHEN PAYMENTPLANID = -1 THEN 'HV' ELSE 'PP' END, MONTH_ID ORDER BY 1,2--3 desc--,1,2
END

