CREATE PROC [DBO].[CA_INV_STATUS_LOAD] AS 

IF OBJECT_ID('dbo.CA_INV_STATUS_NEW')>0
	DROP TABLE dbo.CA_INV_STATUS_NEW

CREATE TABLE dbo.CA_INV_STATUS_NEW WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (CA_INV_STATUS)) 
AS 
-- EXPLAIN
SELECT  CA_INV_STATUS, CA_INV_STATUS_DESCR, GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.CA_INV_STATUS A
OPTION (LABEL = 'CA_INV_STATUS_LOAD: CA_INV_STATUS');

IF OBJECT_ID('dbo.CA_INV_STATUS')>0
	RENAME OBJECT::dbo.CA_INV_STATUS TO CA_INV_STATUS_OLD;

RENAME OBJECT::dbo.CA_INV_STATUS_NEW TO CA_INV_STATUS;

IF OBJECT_ID('dbo.CA_INV_STATUS_OLD')>0
	DROP TABLE dbo.CA_INV_STATUS_OLD

CREATE STATISTICS STATS_CA_INV_STATUS_001 ON DBO.CA_INV_STATUS (CA_INV_STATUS)
