CREATE PROC [DBO].[DIM_LICENSE_PLATE_LOAD] AS 

IF OBJECT_ID('dbo.DIM_LICENSE_PLATE_NEW')>0	DROP TABLE dbo.DIM_LICENSE_PLATE_NEW

CREATE TABLE dbo.DIM_LICENSE_PLATE_NEW WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX(LICENSE_PLATE_ID)) 
AS 
-- EXPLAIN
SELECT  DISTINCT A.LICENSE_PLATE_ID, A.LICENSE_PLATE_NBR, A.LICENSE_PLATE_STATE
FROM EDW_RITE.dbo.DIM_LICENSE_PLATE A
INNER JOIN dbo.FACT_VIOLATOR_TRANSACTION B ON A.LICENSE_PLATE_ID = B.LICENSE_PLATE_ID
OPTION (LABEL = 'DIM_LICENSE_PLATE');

IF OBJECT_ID('dbo.DIM_LICENSE_PLATE')>0	RENAME OBJECT::dbo.DIM_LICENSE_PLATE TO DIM_LICENSE_PLATE_OLD;

RENAME OBJECT::dbo.DIM_LICENSE_PLATE_NEW TO DIM_LICENSE_PLATE;

IF OBJECT_ID('dbo.DIM_LICENSE_PLATE_OLD')>0	DROP TABLE dbo.DIM_LICENSE_PLATE_OLD

CREATE STATISTICS STATS_DIM_LICENSE_PLATE_001 ON DBO.DIM_LICENSE_PLATE (LICENSE_PLATE_STATE,LICENSE_PLATE_NBR)



