CREATE PROC [DBO].[VB_INVOICE_VIOL_LOAD] AS 

IF OBJECT_ID('dbo.VB_INVOICE_VIOL_NEW')>0 	DROP TABLE dbo.VB_INVOICE_VIOL_NEW

CREATE TABLE dbo.VB_INVOICE_VIOL_NEW WITH (CLUSTERED INDEX(VIOLATION_ID), DISTRIBUTION = HASH(VBI_INVOICE_ID)) 
AS 
-- EXPLAIN
SELECT B.ViolatorID, B.VidSeq,  A.VBI_INVOICE_ID, A.VIOLATION_ID, A.TOLL_DUE, GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.VB_INVOICE_VIOL A
INNER JOIN EDW_TER.dbo.VB_INVOICES B ON A.VBI_INVOICE_ID = B.VBI_INVOICE_ID
OPTION (LABEL = 'VB_INVOICE_VIOL: VB_INVOICE_VIOL');

IF OBJECT_ID('dbo.VB_INVOICES')>0	RENAME OBJECT::dbo.VB_INVOICE_VIOL TO VB_INVOICE_VIOL_OLD;
RENAME OBJECT::dbo.VB_INVOICE_VIOL_NEW TO VB_INVOICE_VIOL;
IF OBJECT_ID('dbo.VB_INVOICE_VIOL_OLD')>0 	DROP TABLE dbo.VB_INVOICE_VIOL_OLD

CREATE STATISTICS STATS_VB_INVOICE_VIOL_001 ON DBO.VB_INVOICE_VIOL (VBI_INVOICE_ID)
CREATE STATISTICS STATS_VB_INVOICE_VIOL_002 ON DBO.VB_INVOICE_VIOL (ViolatorID, VBI_INVOICE_ID)

