CREATE PROC [dbo].[GetInsertFields] @SchemaName [varchar](255),@TableName [varchar](255) AS
BEGIN 
--	DECLARE @TableName varchar(255) = 'ViolatorStatus'

	IF OBJECT_ID('tempdb..#TEMP')<>0
		DROP TABLE #TEMP

	CREATE TABLE #TEMP
	(
		TABLE_SCHEMA varchar(255),
		TABLE_NAME  varchar(255),
		ORDINAL_POSITION int ,
		COLUMN_NAME varchar(255),
		IS_NULLABLE varchar(3),
		DATA_TYPE varchar(50)
	) WITH (LOCATION = USER_DB)


	INSERT INTO #TEMP
	SELECT TABLE_SCHEMA, TABLE_NAME, ORDINAL_POSITION, COLUMN_NAME, IS_NULLABLE, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS where TABLE_NAME = @TableName --ORDER BY ORDINAL_POSITION
--	SELECT TABLE_SCHEMA, TABLE_NAME, ORDINAL_POSITION, COLUMN_NAME, IS_NULLABLE, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS where TABLE_NAME = 'ViolatorStatus' ORDER BY ORDINAL_POSITION

	DECLARE @x INT = 1
	DECLARE @Str varchar(8000) = ''

	DECLARE @xMax int = ISNULL((SELECT  MAX(ORDINAL_POSITION)+1 FROM #TEMP),0);

	WHILE @x < @xMax
	BEGIN
		SET @Str = @Str + (SELECT ', A.' + COLUMN_NAME 
									FROM #TEMP 
									WHERE ORDINAL_POSITION = @x) 							
--SELECT * FROM #TEMP WHERE ORDINAL_POSITION = @x
--PRINT @Str
--PRINT 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'								
		SET @x = @x + 1
	END

	PRINT RIGHT(@Str, LEN(@Str)-1)

END;


