CREATE PROC [DBO].[VIOLATOR_INVOICE_PAYMENT_POS_LOAD] AS --DROP PROC [DBO].[VIOLATOR_INVOICE_PAYMENT_POS_LOAD]
--2019-04-22 Ranjith Nair Initial Version
--2019-05-03 Ranjith Nair Removed Court Agreements
--2019-05-09 Ranjith Nair Excluded Cash/Lockbox payments

/*	
SELECT * FROM EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_HIST  --35,440,670
SELECT  * FROM EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_STAGE -- 


EXECUTE [DBO].[VIOLATOR_INVOICE_PAYMENT_POS_LOAD]

*/  

	DECLARE @GENERATION_DATE DATE = GETDATE(); 	--PRINT @GENERATION_DATE

	--STEP #1: STAGE truncate table VIOLATOR_INVOICE_PAYMENT_POS_HIST
	IF OBJECT_ID('EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_STAGE')>0 DROP TABLE EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_STAGE--;WITH A1 AS 
	-- EXPLAIN
	CREATE TABLE EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_STAGE WITH (HEAP, DISTRIBUTION = HASH(VIOL_INVOICE_ID)) AS
	WITH CTE_FACT_VIOLATION_PAYMENTS AS
	(-- explain
		SELECT 
			VIOL_INVOICE_ID, 
			CASE WHEN P.VIOL_INVOICE_ID = -1 THEN P.VBI_INVOICE_ID ELSE -1 END AS VBI_INVOICE_ID,
			PAYMENT_FORM,PAYMENT_SOURCE_CODE,DELIVERY_CODE,SHIFT_ID, ROUND(PAYMENT_ID / 1000000000,0,1) AS PAYMENT_TXN_ID
		FROM EDW_RITE.dbo.FACT_VIOLATION_PAYMENTS P
		WHERE IS_VTOLL = 0 AND LAST_INVOICE_ID > 4810000000000 -- At least there is VBI_INVOICE - not only VIOLATIONS
		GROUP BY VIOL_INVOICE_ID, VBI_INVOICE_ID,PAYMENT_FORM,PAYMENT_SOURCE_CODE,DELIVERY_CODE,SHIFT_ID, ROUND(PAYMENT_ID / 1000000000,0,1)
	)
		SELECT --COUNT(DISTINCT FI.VIOL_INVOICE_ID)
			   P.PaymentPlanID
			   ,P.PlanStartDate
			   ,P.FirstPaymentDate
			   ,P.LastPaymentDate
			   ,FI.VIOLATOR_ID
			   ,FI.VBI_INVOICE_ID
			   ,FI.VIOL_INVOICE_ID
			   ,FP.PAYMENT_DATE --19,022--15,423
			   ,POSVI.POS_NAME
			   ,PAYMENT_SOURCE_CODE_DESCR
			   ,DELIVERY_DESCR
			   ,PAYMENT_FORM_DESCR
			   ,UVI.USER_NAME
			   ,PVI.CREATED_BY PMT_CREATED_BY
		FROM EDW_TER.dbo.DIM_PAYMENTPLAN P
		INNER JOIN EDW_TER.dbo.FACT_TER_INVOICE FI ON FI.PAYMENTPLANID = P.PaymentPlanID
			   AND P.PaymentPlanID > 0 --Only PP
			   AND NOT (PaymentPlanRemedySourceLookupID = 4 AND RemainingBalanceDue = SettlementAmt)
			   AND P.PaymentPlanStatusLookupID = 5	-- Only Active Payment Plan			   SELECT * FROM EDW_TER.dbo.Dim_PaymentPlanStatusLookup
		INNER JOIN EDW_TER.dbo.FACT_TER_PAYMENT FP ON FP.PAYMENTPLANID = P.PaymentPlanID
			   AND FP.VIOLATOR_ID = FI.VIOLATOR_ID
			   AND FP.VIDSEQ = FI.VIDSEQ
			   AND FP.VBI_INVOICE_ID = FI.VBI_INVOICE_ID
			   AND FP.VIOL_INVOICE_ID = FI.VIOL_INVOICE_ID
			   AND FP.PAYMENT_DATE >= P.FirstPaymentDate --OR FACT_TER_PAYMENT.PAYMENT_DATE >= LastPaymentDate)
			   AND FP.PAYMENT_DATE >=  GETDATE() - 5 -- '4/1/2019'--
		INNER JOIN CTE_FACT_VIOLATION_PAYMENTS VP ON VP.VIOL_INVOICE_ID = FI.VIOL_INVOICE_ID AND VP.VBI_INVOICE_ID = FI.VBI_INVOICE_ID
		INNER JOIN EDW_RITE.dbo.PAYMENTS_VPS PVI ON PVI.PAYMENT_TXN_ID = VP.PAYMENT_TXN_ID -- PLIVI.PAYMENT_TXN_ID = PVI.PAYMENT_TXN_ID  -- CAST(PLI.PAYMENT_TXN_ID AS BIGINT) * CAST(1000000000 AS BIGINT)
		-- AND PXVI.PAYMENT_DATE >= '4/1/2019' 
		LEFT JOIN EDW_RITE.dbo.PAYMENT_FORMS PF ON PF.PAYMENT_FORM = VP.PAYMENT_FORM
		LEFT JOIN EDW_RITE.dbo.PAYMENT_SOURCE PS ON VP.PAYMENT_SOURCE_CODE = PS.PAYMENT_SOURCE_CODE
		LEFT JOIN EDW_RITE.dbo.HOW_DELIVERED HD ON VP.DELIVERY_CODE = HD.DELIVERY_CODE
		LEFT JOIN LND_LG_VPS.VP_OWNER.SHIFTS SVI ON SVI.SHIFT_ID = VP.SHIFT_ID
		LEFT JOIN LND_LG_VPS.VP_OWNER.AP_USERS UVI ON SVI.AP_USER_ID = UVI.AP_USER_ID
		LEFT JOIN LND_LG_VPS.VP_OWNER.POS_LOCATIONS POSVI ON POSVI.POS_ID = SVI.POS_ID
		WHERE POS_NAME IN ('Chisholm Trail Parkway','DPS South Customer Center','Duncan Solutions - LES','Gleneagles Call Center','Gleneagles Customer Center','MLP10','SH360 Customer Service Center')--UVI.USER_NAME <> PVI.CREATED_BY --'Gleneagles Support Services'--Shift, POS & User
		--AND   DELIVERY_DESCR NOT IN ('US Postal Mail') AND PAYMENT_FORM_DESCR NOT IN ('Cash') 
		--UNION ALL
		----ORDER BY 1,2,3,4,5 --EXPLAIN 
		--SELECT --COUNT(DISTINCT FI.VIOL_INVOICE_ID)
		--	   P.PaymentPlanID
		--	   ,PlanStartDate
		--	   ,FirstPaymentDate
		--	   ,LastPaymentDate
		--	   ,FI.VIOLATOR_ID
		--	   ,FI.VBI_INVOICE_ID
		--	   ,FI.VIOL_INVOICE_ID
		--	   ,FP.PAYMENT_DATE --19,022--15,423
		--	   ,POSV.POS_NAME
		--	   ,PAYMENT_SOURCE_CODE_DESCR
		--	   ,DELIVERY_DESCR
		--	   ,PAYMENT_FORM_DESCR
		--	   ,UV.USER_NAME
		--	   ,PV.CREATED_BY PMT_CREATED_BY --select top 10 *
		--FROM EDW_TER.dbo.DIM_PAYMENTPLAN P
		--INNER JOIN EDW_TER.dbo.FACT_TER_INVOICE FI ON FI.PAYMENTPLANID = P.PaymentPlanID
		--	   AND P.PaymentPlanID > 0 --Only PP 
		--	   --AND P.PaymentPlanID = 37226
		--	   --AND (CASE WHEN PaymentPlanRemedySourceLookupID = 4 AND RemainingBalanceDue = SettlementAmt THEN 1 ELSE 0 END) = 0
		--	   AND P.PaymentPlanStatusLookupID  = 5	-- Only Active Payment Plan			   SELECT * FROM EDW_TER.dbo.Dim_PaymentPlanStatusLookup
		--INNER JOIN EDW_TER.dbo.FACT_TER_PAYMENT FP ON FP.PAYMENTPLANID = P.PaymentPlanID
		--	   AND FP.VIOLATOR_ID = FI.VIOLATOR_ID
		--	   AND FP.VIDSEQ = FI.VIDSEQ
		--	   AND FP.VBI_INVOICE_ID = FI.VBI_INVOICE_ID
		--	   AND FP.VIOL_INVOICE_ID = FI.VIOL_INVOICE_ID
		--	   AND FP.PAYMENT_DATE >= FirstPaymentDate --OR FACT_TER_PAYMENT.PAYMENT_DATE >= LastPaymentDate)
		--	   AND FP.PAYMENT_DATE >= GETDATE() - 5 -- '4/1/2019'-- GETDATE() - 5 -- 
		--INNER JOIN EDW_RITE.dbo.VIOL_INVOICE_VIOL VIV ON FI.VIOL_INVOICE_ID = VIV.VIOL_INVOICE_ID
		--	   --AND FI.VIOLATOR_ID = VIV.VIOLATOR_ID
		--INNER JOIN EDW_RITE.dbo.PAYMENT_XREF_VPS PXV ON PXV.VIOLATION_ID = VIV.VIOLATION_ID
		--	   AND PXV.VIOLATOR_ID = VIV.VIOLATOR_ID
		--INNER JOIN EDW_RITE.dbo.PAYMENT_LINE_ITEMS_VPS PLIV ON PLIV.PAYMENT_LINE_ITEM_ID = PXV.PAYMENT_LINE_ITEM_ID
		--INNER JOIN EDW_RITE.dbo.PAYMENTS_VPS PV ON PLIV.PAYMENT_TXN_ID = PV.PAYMENT_TXN_ID --AND PXV.PAYMENT_DATE >= '4/1/2019'
		--LEFT JOIN EDW_RITE.dbo.PAYMENT_FORMS PF ON PF.PAYMENT_FORM = PLIV.PAYMENT_FORM
		--LEFT JOIN EDW_RITE.dbo.PAYMENT_SOURCE PS ON PV.PAYMENT_SOURCE_CODE = PS.PAYMENT_SOURCE_CODE
		--LEFT JOIN EDW_RITE.dbo.HOW_DELIVERED HD ON PV.DELIVERY_CODE = HD.DELIVERY_CODE
		--LEFT JOIN LND_LG_VPS.VP_OWNER.SHIFTS SV ON SV.SHIFT_ID = PV.SHIFT_ID
		--LEFT JOIN LND_LG_VPS.VP_OWNER.AP_USERS UV ON SV.AP_USER_ID = UV.AP_USER_ID
		--LEFT JOIN LND_LG_VPS.VP_OWNER.POS_LOCATIONS POSV ON POSV.POS_ID = SV.POS_ID
		--WHERE POS_NAME IN ('Chisholm Trail Parkway','DPS South Customer Center','Duncan Solutions - LES','Gleneagles Call Center','Gleneagles Customer Center','MLP10','SH360 Customer Service Center')--UVI.USER_NAME <> PVI.CREATED_BY--,'Gleneagles Support Services'
		--AND   DELIVERY_DESCR NOT IN ('US Postal Mail') AND PAYMENT_FORM_DESCR NOT IN ('Cash') 
		--WHERE UV.USER_NAME <> PV.CREATED_BY
--		ORDER BY 1,2,3,4,5,8 DESC 
	--SELECT * FROM EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_STAGE

	--Exclude Cash/Lockbox payments
	DELETE-- SELECT  DISTINCT  *				--SELECT DISTINCT *
	FROM    EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_STAGE -- WHERE PaymentPlanID = 37226
	WHERE   DELIVERY_DESCR IN ('US Postal Mail') --AND PAYMENT_FORM_DESCR IN ('Cash') 

	--STEP #2: HIST --ALTER TABLE EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_HIST ADD [SETTLEMENT AMOUNT] MONEY NULL DECLARE @GENERATION_DATE DATE = (SELECT CAST(GETDATE() AS DATE)); 
	--IF OBJECT_ID('EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_HIST')>0 DROP TABLE EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_HIST; CREATE TABLE EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_HIST WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(GENERATION_DATE)) AS 	
	--DECLARE @GENERATION_DATE DATE = (SELECT CAST(GETDATE() AS DATE)); -- EXPLAIN
	INSERT INTO EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_HIST --EXPLAIN DECLARE @GENERATION_DATE DATE = (SELECT CAST(GETDATE() AS DATE)); 	EXPLAIN--PRINT @GENERATION_DATE
	SELECT    DISTINCT @GENERATION_DATE	AS GENERATION_DATE, *				--SELECT DISTINCT *
	FROM      EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_STAGE A1 
	WHERE NOT EXISTS (SELECT	P.PaymentPlanID, P.VIOLATOR_ID, P.VBI_INVOICE_ID, P.VIOL_INVOICE_ID,P.PAYMENT_DATE
						FROM	EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_HIST P
						WHERE	P.PaymentPlanID = A1.PaymentPlanID
						AND		P.VIOLATOR_ID = A1.VIOLATOR_ID
						AND		P.VBI_INVOICE_ID = A1.VBI_INVOICE_ID
						AND		P.VIOL_INVOICE_ID = A1.VIOL_INVOICE_ID
						AND		P.PAYMENT_DATE = A1.PAYMENT_DATE) 

	--STEP #3: Drop Stage table with NEW
	IF OBJECT_ID('EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_STAGE')>0 	DROP TABLE EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_STAGE;
	--IF OBJECT_ID('EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_HIST')>0		DROP TABLE EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_HIST;

	--STEP #3: Create Statistics --[dbo].[CreateStats] 'dbo', 'VIOLATOR_INVOICE_PAYMENT_POS_HIST'
	--CREATE STATISTICS STATS_VIOLATOR_INVOICE_PAYMENT_POS_HIST_002 ON [dbo].VIOLATOR_INVOICE_PAYMENT_POS_HIST (GENERATION_DATE)
	UPDATE STATISTICS [dbo].VIOLATOR_INVOICE_PAYMENT_POS_HIST 

	--SELECT  GENERATION_DATE,H.PaymentPlanID,H.PlanStartDate,H.FirstPaymentDate,H.LastPaymentDate,VIOLATOR_ID,
	--		ISNULL(NULLIF(VBI_INVOICE_ID,-1),NULLIF(VIOL_INVOICE_ID,-1)) VIOL_INVOICE_ID,PAYMENT_DATE,POS_NAME,
	--		PAYMENT_SOURCE_CODE_DESCR, DELIVERY_DESCR,PAYMENT_FORM_DESCR,USER_NAME
	--FROM EDW_TER.dbo.VIOLATOR_INVOICE_PAYMENT_POS_HIST H JOIN EDW_TER.dbo.DIM_PAYMENTPLAN ON H.PaymentPlanID = DIM_PAYMENTPLAN.PaymentPlanID AND PaymentPlanStatusLookupID = 5
	--WHERE GENERATION_DATE = (SELECT CAST(GETDATE() AS DATE))--@GENERATION_DATE 	AND USER_NAME <> PMT_CREATED_BY
	--ORDER BY  GENERATION_DATE, PaymentPlanID,VIOLATOR_ID,VIOL_INVOICE_ID


