CREATE PROC [DBO].[DIM_LANE_LOAD] AS 

IF OBJECT_ID('dbo.DIM_LANE_NEW')>0
	DROP TABLE dbo.DIM_LANE_NEW

CREATE TABLE dbo.DIM_LANE_NEW WITH (DISTRIBUTION = REPLICATE, CLUSTERED COLUMNSTORE INDEX) 
AS 
-- EXPLAIN
SELECT     
	 LANE_ID
	,LANE_ABBREV
	,LANE_NAME
	,LANE_DIRECTION
	,PLAZA_ID
	,PLAZA_ABBREV
	,PLAZA_NAME
	,PLAZA_LATITUDE
	,PLAZA_LONGITUDE
	,FACILITY_ID
	,FACILITY_ABBREV
	,FACILITY_NAME
	,AGENCY_ID
    ,AGENCY_ABBREV
    ,AGENCY_NAME
    ,AGENCY_IS_IOP
    ,GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.DIM_LANE A

OPTION (LABEL = 'DIM_LANE_LOAD: DIM_LANE');

IF OBJECT_ID('dbo.DIM_LANE')>0
	RENAME OBJECT::dbo.DIM_LANE TO DIM_LANE_OLD;

RENAME OBJECT::dbo.DIM_LANE_NEW TO DIM_LANE;

IF OBJECT_ID('dbo.DIM_LANE_OLD')>0
	DROP TABLE dbo.DIM_LANE_OLD

CREATE STATISTICS STATS_DIM_LANE_001 ON DBO.DIM_LANE (LANE_ID)


