CREATE PROC [DBO].[CREDIT_CARD_TYPES_LOAD] AS 

IF OBJECT_ID('dbo.CREDIT_CARD_TYPES_NEW')>0
	DROP TABLE dbo.CREDIT_CARD_TYPES_NEW

CREATE TABLE dbo.CREDIT_CARD_TYPES_NEW WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (CARD_CODE)) 
AS 
-- EXPLAIN
SELECT  CONVERT(varchar(2),CARD_CODE) AS CARD_CODE, CARD_NAME, GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.CREDIT_CARD_TYPES A
OPTION (LABEL = 'CREDIT_CARD_TYPES_LOAD: CREDIT_CARD_TYPES');

IF OBJECT_ID('dbo.CREDIT_CARD_TYPES')>0
	RENAME OBJECT::dbo.CREDIT_CARD_TYPES TO CREDIT_CARD_TYPES_OLD;

RENAME OBJECT::dbo.CREDIT_CARD_TYPES_NEW TO CREDIT_CARD_TYPES;

IF OBJECT_ID('dbo.CREDIT_CARD_TYPES_OLD')>0
	DROP TABLE dbo.CREDIT_CARD_TYPES_OLD

CREATE STATISTICS STATS_CREDIT_CARD_TYPES_001 ON DBO.CREDIT_CARD_TYPES (CARD_CODE)


INSERT INTO CREDIT_CARD_TYPES SELECT '-1', '(NUll)', GETDATE() 



