CREATE PROC [DBO].[PAYMENTPLAN_CHARGEBACK_LOAD] AS --DROP PROC [DBO].[PAYMENTPLAN_CHARGEBACK_LOAD]
--2019-05-22 Arun Krishna	CREATED STORED PROC TO GET PAYMENTPLANS WITH CHARGE BACK,BOUNCED PAYMENTS

	DECLARE @GENERATION_DATE DATE = (SELECT CAST(GETDATE() AS DATE)); 	--PRINT @GENERATION_DATE

	--STEP #1: STAGE
	IF OBJECT_ID('EDW_TER.dbo.PAYMENTPLAN_CHARGEBACK_STAGE')>0 DROP TABLE EDW_TER.dbo.PAYMENTPLAN_CHARGEBACK_STAGE--;WITH A1 AS 
	-- EXPLAIN
	CREATE TABLE EDW_TER.dbo.PAYMENTPLAN_CHARGEBACK_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(PAYMENTPLANID)) AS
	    SELECT           P.PAYMENTPLANID
						,p.ACTIVEAGREEMENTDATE
                        ,p.PLANSTARTDATE
                        ,p.FIRSTPAYMENTDATE
                        ,p.LASTPAYMENTDATE
                        --,FI.VIOLATOR_ID
                        --,FI.VBI_INVOICE_ID
                        --,FI.VIOL_INVOICE_ID
                        ,FP.PAYMENT_DATE --19,022--15,423
						,FP.SPLIT_AMOUNT as PAYMENT
						,PXVI.TRANSACTION_TYPE
                        ,POSVI.POS_NAME  
                        ,PAYMENT_SOURCE_CODE_DESCR as PAYMENT_SOURCE
                        ,DELIVERY_DESCR as DELIVERY 
                        ,PAYMENT_FORM_DESCR as PAYMENT_FORM
                        --,UVI.USER_NAME
                       -- ,PVI.CREATED_BY PMT_CREATED_BY
              FROM EDW_TER.dbo.DIM_PAYMENTPLAN P
              INNER JOIN EDW_TER.dbo.FACT_TER_INVOICE FI ON FI.PAYMENTPLANID = P.PaymentPlanID
                        --AND P.PaymentPlanID > 0 --Only PP
                        --AND (CASE WHEN PaymentPlanRemedySourceLookupID = 4 AND RemainingBalanceDue = SettlementAmt THEN 1 ELSE 0 END) = 0
                        AND P.PaymentPlanStatusLookupID  > 4  -- Only Active Payment Plan                 SELECT * FROM EDW_TER.dbo.FACT_TER_invoice
              INNER JOIN EDW_TER.dbo.FACT_TER_PAYMENT FP ON FP.PAYMENTPLANID = P.PaymentPlanID
                        AND FP.VIOLATOR_ID = FI.VIOLATOR_ID
                        AND FP.VIDSEQ = FI.VIDSEQ
                        AND FP.VBI_INVOICE_ID = FI.VBI_INVOICE_ID
                        AND FP.VIOL_INVOICE_ID = FI.VIOL_INVOICE_ID
                        AND FP.PAYMENT_DATE < DATEADD(DAY,1,EOMONTH(P.FirstPaymentDate,-1)) --OR FACT_TER_PAYMENT.PAYMENT_DATE >= LastPaymentDate)
                       -- AND FP.PAYMENT_DATE >=  GETDATE() - 5 -- '4/1/2019'--
              INNER JOIN EDW_RITE.dbo.PAYMENT_XREF_VPS PXVI ON PXVI.VIOL_INVOICE_ID = FI.VIOL_INVOICE_ID
              INNER JOIN EDW_RITE.dbo.PAYMENT_LINE_ITEMS_VPS PLIVI ON PLIVI.PAYMENT_LINE_ITEM_ID = PXVI.PAYMENT_LINE_ITEM_ID
              INNER JOIN EDW_RITE.dbo.PAYMENTS_VPS PVI ON PLIVI.PAYMENT_TXN_ID = PVI.PAYMENT_TXN_ID-- AND PXVI.PAYMENT_DATE >= '4/1/2019'
              LEFT JOIN EDW_RITE.dbo.PAYMENT_FORMS PF ON PF.PAYMENT_FORM = PLIVI.PAYMENT_FORM
              LEFT JOIN EDW_RITE.dbo.PAYMENT_SOURCE PS ON PVI.PAYMENT_SOURCE_CODE = PS.PAYMENT_SOURCE_CODE
              LEFT JOIN EDW_RITE.dbo.HOW_DELIVERED HD ON PVI.DELIVERY_CODE = HD.DELIVERY_CODE
              LEFT JOIN LND_LG_VPS.VP_OWNER.SHIFTS SVI ON SVI.SHIFT_ID = PVI.SHIFT_ID
              LEFT JOIN LND_LG_VPS.VP_OWNER.AP_USERS UVI ON SVI.AP_USER_ID = UVI.AP_USER_ID
              LEFT JOIN LND_LG_VPS.VP_OWNER.POS_LOCATIONS POSVI ON POSVI.POS_ID = SVI.POS_ID
			  WHERE P.PAYMENTPLANID NOT IN (SELECT PAYMENTPLANID FROM EDW_TER.dbo.PAYMENTPLAN_CHARGEBACK_HIST) AND
			  PXVI.TRANSACTION_TYPE in ('BP','CB','VBIP','VBMF','VBP','VBUVP','VCB','VCBIP','VCBMF','VCBUVP')  AND
			  PLIVI.PAYMENT_LINE_ITEM_ID NOT IN (SELECT REF_LINE_ITEM_ID FROM LND_LG_VPS.VP_OWNER.PAYMENT_LINE_ITEMS)

	INSERT INTO EDW_TER.dbo.PAYMENTPLAN_CHARGEBACK_HIST --EXPLAIN DECLARE @GENERATION_DATE DATE = (SELECT CAST(GETDATE() AS DATE)); 	EXPLAIN--PRINT @GENERATION_DATE
	SELECT       @GENERATION_DATE AS GENERATION_DATE
                ,PAYMENTPLANID
				,ACTIVEAGREEMENTDATE
                ,PLANSTARTDATE
                ,FIRSTPAYMENTDATE
                ,LASTPAYMENTDATE
                ,PAYMENT_DATE 
				,PAYMENT
				,TRANSACTION_TYPE
                ,POS_NAME  
                ,PAYMENT_SOURCE
                ,DELIVERY 
                ,PAYMENT_FORM
	FROM EDW_TER.dbo.PAYMENTPLAN_CHARGEBACK_STAGE


	--SELECT      GENERATION_DATE
	--            ,PAYMENTPLANID
	--			,ACTIVEAGREEMENTDATE
 --               ,PLANSTARTDATE
 --               ,FIRSTPAYMENTDATE
 --               ,LASTPAYMENTDATE
 --               ,PAYMENT_DATE 
	--			,PAYMENT
	--			,TRANSACTION_TYPE
 --               ,POS_NAME  
 --               ,PAYMENT_SOURCE
 --               ,DELIVERY 
 --               ,PAYMENT_FORM
	
	--FROM EDW_TER.dbo.PAYMENTPLAN_CHARGEBACK_HIST WHERE GENERATION_DATE = (SELECT CAST(GETDATE() AS DATE))--@GENERATION_DATE
	--ORDER BY  PAYMENTPLANID

	--STEP #3: Drop Stage table with NEW
	IF OBJECT_ID('EDW_TER.dbo.PAYMENTPLAN_CHARGEBACK_STAGE')>0 	DROP TABLE EDW_TER.dbo.PAYMENTPLAN_CHARGEBACK_STAGE;
	--IF OBJECT_ID('EDW_TER.dbo.PAYMENTPLAN_CHARGEBACK_HIST')>0		DROP TABLE EDW_TER.dbo.PAYMENTPLAN_CHARGEBACK;

	--STEP #3: Create Statistics --[dbo].[CreateStats] 'dbo', 'PAYMENTPLAN_CHARGEBACK_HIST'
	--CREATE STATISTICS STATS_PAYMENTPLAN_CHARGEBACK_HIST_001 ON [dbo].PAYMENTPLAN_CHARGEBACK_HIST (PAYMENTPLANID)
	--CREATE STATISTICS STATS_PAYMENTPLAN_CHARGEBACK_HIST_002 ON [dbo].PAYMENTPLAN_CHARGEBACK_HIST (PAYMENTPLANID)
	UPDATE STATISTICS [dbo].PAYMENTPLAN_CHARGEBACK_HIST 


