CREATE PROC [DBO].[VIOLATOR_INVOICE_LOAD] AS --DROP PROC [DBO].[VIOLATOR_INVOICE_LOAD]
--2018-07-09 Ranjith Nair	CREATED
--2018-10-15 Arun			Added SECONDARYVIOLATORLNAME & SECONDARYVIOLATORFNAME	
--2018-11-06 Arun           Modified the PrimaryViolatorname,SecondaryViolatorNames,Email,Phone fields to get it from Paymentplan(instead of VPS Violators)
--2018-11-19 Arun           Modified the Address1,Address2,City,State,Zipcode to pull from LND_TER.DBO.Paymentplan(instead of VPS Violators)
--2019-01-22 Arun           Added AgreementType,StartDate and removed court agreement plans if remaining balance is equal to settlementamt
--2019-02-05 Arun           Renamed Total Fee Due to Total Due, removed Start Date
--2019-02-26 Arun           Commented out CreatedDate,CreatedBy fields 
--2019-03-04 Arun           Renamed InstanceNbr with [NTTAPlan_ID]
--2019-03-27 Aun            Removed AgreementType and SettlementAmount fields from final select

/*	SELECT TOP 100 * FROM EDW_TER.dbo.VIOLATOR_INVOICE_HIST --35,440,670
	SELECT  * FROM EDW_TER.dbo.VIOLATOR_INVOICE_STAGE -- */  

	DECLARE @GENERATION_DATE DATE = (SELECT CAST(GETDATE() AS DATE)); 	--PRINT @GENERATION_DATE

	--STEP #1: STAGE
	IF OBJECT_ID('EDW_TER.dbo.VIOLATOR_INVOICE_STAGE')>0 DROP TABLE EDW_TER.dbo.VIOLATOR_INVOICE_STAGE--;WITH A1 AS 
	CREATE TABLE EDW_TER.dbo.VIOLATOR_INVOICE_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(PAYMENTPLANINSTANCENBR)) AS
	SELECT  [AGREEMENTTYPE]
	        ,PAYMENTPLANINSTANCENBR
			,ACTIVEAGREEMENTDATE
			,PLANSTARTDATE
			,LASTPAYMENTDATE
			,CreatedDate
			,CreatedBy,
			VIOLATOR_ID, 
			INVOICE_ID, 
			PAYMENTPLANSTATUS, 
			[LAST NAME], 
			[FIRST NAME], 
			[VIOLATOR_LNAME2] as SECONDARYVIOLATORLNAME,
	        [VIOLATOR_FNAME2] as SECONDARYVIOLATORFNAME,
			PHONENBR,
			EMAIL,
			LICENSE_PLATE_NBR, 
			ADDRESS1, 
			ADDRESS2, 
			CITY, 
			[STATE] , 
			ZIPCODE, 
			[SETTLEMENT AMOUNT], 
			[DOWN PAYMENT], 
			[MONTHLY PAYMENT AMOUNT] 
	FROM   
	( 
	SELECT DISTINCT PPR.DESCR AS [AGREEMENTTYPE],
		  PA.PAYMENTPLANID AS PAYMENTPLANINSTANCENBR,
		  VIOLATORID AS VIOLATOR_ID ,
		  [LastInvoiceNbr] AS INVOICE_ID,
		  PS.[Descr] AS PAYMENTPLANSTATUS,
		  PL.[LastName] AS [LAST NAME],
		  PL.[FirstName] AS [FIRST NAME],
		  PL.[LastName2nd] as  VIOLATOR_LNAME2,
		  PL.[FirstName2nd] as VIOLATOR_FNAME2,
		  [LicensePlateNbr] AS LICENSE_PLATE_NBR,
		  ISNULL(PL.ADDRESS1,'') AS ADDRESS1,
		  ISNULL(PL.ADDRESS2,'') AS ADDRESS2,
		  ISNULL(PL.CITY,'') AS CITY,
		  ISNULL(PL.ZIPCODE,'') AS ZIPCODE,
		  ISNULL(S.[STATECODE],'') AS [STATE],
		   [SettlementAmt] AS [SETTLEMENT AMOUNT],
		   [DownPaymentReceived] AS [DOWN PAYMENT],
		   [MonthlyPayment] AS [MONTHLY PAYMENT AMOUNT],
		   PL.PLANSTARTDATE,
		   ACTIVEAGREEMENTDATE,
		   TOTALNOOFMONTHS,
		   LASTPAYMENTDATE,
		   PL.[PhoneNbr] AS PHONENBR,
		   PL.EMAIL AS EMAIL,
		   TOLLTAGNBR,
		   PL.CreatedDate,
		   PL.CreatedBy

	FROM LND_TER.dbo.paymentplanviolator PA
	INNER JOIN LND_TER.DBO.PAYMENTPLAN PL on PA.paymentplanid = PL.PAYMENTPLANID
	INNER JOIN LND_TER.[dbo].[PaymentPlanStatusLookup] PS ON PL.[PaymentPlanStatusLookupID] = PS.[PaymentPlanStatusLookupID]
	INNER JOIN LND_TER.DBO.STATELOOKUP S ON PL.STATELOOKUPID = S.STATELOOKUPID
	INNER JOIN LND_TER.DBO.PAYMENTPLANREMEDYSOURCELOOKUP PPR ON PL.PaymentPlanRemedySourceLookupID = PPR.PaymentPlanRemedySourceLookupID
	WHERE PS.[Descr] = 'PAYMENT PLAN'  AND PL.DeletedFlag = 0 
	AND	PL.PAYMENTPLANID NOT IN (SELECT INSTANCENBR FROM EDW_TER.dbo.VIOLATOR_INVOICE_HIST) 
	AND [ACTIVEAGREEMENTDATE] >= '2018-1-1'
	) Q


	--SELECT * FROM EDW_TER.dbo.VIOLATOR_INVOICE_STAGE
	--STEP #2: HIST --ALTER TABLE EDW_TER.dbo.VIOLATOR_INVOICE_HIST ADD [SETTLEMENT AMOUNT] MONEY NULL
	--IF OBJECT_ID('EDW_TER.dbo.VIOLATOR_INVOICE_HIST')>0 DROP TABLE EDW_TER.dbo.VIOLATOR_INVOICE_HIST; CREATE TABLE EDW_TER.dbo.VIOLATOR_INVOICE_HIST WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(INSTANCENBR)) AS 	
	--DECLARE @GENERATION_DATE DATE = (SELECT CAST(GETDATE() AS DATE)); -- EXPLAIN
	INSERT INTO EDW_TER.dbo.VIOLATOR_INVOICE_HIST --EXPLAIN DECLARE @GENERATION_DATE DATE = (SELECT CAST(GETDATE() AS DATE)); 	EXPLAIN--PRINT @GENERATION_DATE
	SELECT    @GENERATION_DATE								 AS GENERATION_DATE,
			  A1.PAYMENTPLANINSTANCENBR                      AS INSTANCENBR , 
			  A1.VIOLATOR_ID                                 AS ALT_VIOLATOR_ID , 
			  ISNULL(CAST(A12.CA_ACCT_ID AS VARCHAR(20)),'') AS CA_ACCT_ID , 
			  A1.[LAST NAME]                                 AS PRIMARYVIOLATORLNAME , 
			  A1.[FIRST NAME]                                AS PRIMARYVIOLATORFNAME , 
			  A1.SECONDARYVIOLATORLNAME,
			  A1.SECONDARYVIOLATORFNAME,
			  PHONENBR , 
			  A1.LICENSE_PLATE_NBR                           AS LICPLATENBR , 
			  A1.ADDRESS1 , 
			  A1.CITY , 
			  A1.ADDRESS2 , 
			  A1.ZIPCODE , 
			  A1.[STATE] , 
			  ISNULL(A1.EMAIL,'')                           AS EMAIL , 
			  (A1.[SETTLEMENT AMOUNT] - A1.[DOWN PAYMENT]) AS REMAININGBALANCE , 
			  A1.[MONTHLY PAYMENT AMOUNT]                  AS MONTHLYPAYMENTAMOUNT , 
			  A12.VIOL_INVOICE_ID , 
			  ( A12.TOLL_DUE_AMOUNT + ( 
			  CASE 
						WHEN ( 
											VIOL_INV_STATUS = 'D' 
								  OR        VIOL_INV_STATUS = 'C' 
								  OR        VIOL_INV_STATUS = 'I' 
								  OR        VIOL_INV_STATUS = 'M' 
								  OR        VIOL_INV_STATUS = 'N' 
								  OR        VIOL_INV_STATUS = 'U' 
								  OR        VIOL_INV_STATUS = 'B' 
								  OR        VIOL_INV_STATUS = 'B' 
								  OR		VIOL_INV_STATUS = 'O' 
								  OR		VIOL_INV_STATUS = 'H' 
								  OR		VIOL_INV_STATUS = 'T' 
								  OR        VIOL_INV_STATUS = 'Z') THEN 35 
						--WHEN ( 
						--					VIOL_INV_STATUS = 'O') THEN 0	--Commented as per Quita's request
						--WHEN ( 
						--					VIOL_INV_STATUS = 'H'			--Commented as per Seth's request
						--		  OR        VIOL_INV_STATUS = 'T') THEN 60 
			  END ) )                               AS TOTAL_FEE_DUE , 
			  CONVERT(VARCHAR, ACTIVEAGREEMENTDATE, 101) AS ACTIVEAGREEMENTDATE , --SELECT CONVERT(VARCHAR, GETDATE(), 101)
			  CONVERT(VARCHAR, LASTPAYMENTDATE, 101) AS DUEDATE, 
			  A1.INVOICE_ID  AS LASTINVOICENBR1,CreatedDate,CreatedBy,
			  A1.[SETTLEMENT AMOUNT],
	          	  A1.AGREEMENTTYPE,
			  CONVERT(VARCHAR, PLANSTARTDATE, 101) AS STARTDATE--SELECT *
	FROM      EDW_TER.dbo.VIOLATOR_INVOICE_STAGE A1 
	LEFT JOIN 
			  ( 
					   SELECT   VIOLATOR_ID , 
								VIOL_INVOICE_ID , 
								CA_ACCT_ID , 
								VIOL_INV_STATUS , 
								VIOL_INV_STATUS_DESCR , 
								INVOICE_DATE , 
								SUM(TOLL_DUE_AMOUNT) TOLL_DUE_AMOUNT 
					   FROM     ( 
										  SELECT    V.VIOLATOR_ID , 
													VIV.VIOL_INVOICE_ID , 
													VIS.VIOL_INV_STATUS , 
													VIOL_INV_STATUS_DESCR , 
													INVOICE_DATE , 
													MAX(CA_ACCT_ID)      CA_ACCT_ID , 
													SUM(TOLL_DUE_AMOUNT) TOLL_DUE_AMOUNT 
													--SELECT * 
										  FROM      EDW_TER.dbo.VIOLATOR_INVOICE_STAGE AS V 
										  LEFT JOIN LND_LG_VPS.VP_OWNER.VIOL_INVOICES VI 
										  ON        V.VIOLATOR_ID = VI.VIOLATOR_ID 
										  AND       VI.VIOL_INVOICE_ID <= V.INVOICE_ID 
										  LEFT JOIN LND_LG_VPS.VP_OWNER.VIOL_INVOICE_VIOL VIV 
										  ON        ( 
															  VIV.VIOL_INVOICE_ID = VI.VIOL_INVOICE_ID)
										  LEFT JOIN LND_LG_VPS.VP_OWNER.VIOL_INV_STATUS VIS 
										  ON        VI.VIOL_INV_STATUS = VIS.VIOL_INV_STATUS 
										  AND       VIS.IS_CLOSED = 'N' 
										  LEFT JOIN 
													( 
															 SELECT   VIOL_INVOICE_ID, 
																	  MAX(CA_ACCT_ID) AS CA_ACCT_ID 
															 FROM     LND_LG_VPS.VP_OWNER.CA_ACCT_INV_XREF
															 GROUP BY VIOL_INVOICE_ID ) CA 
										  ON        CA.VIOL_INVOICE_ID = VI.VIOL_INVOICE_ID 
										  GROUP BY  VIV.VIOL_INVOICE_ID , 
													VIS.VIOL_INV_STATUS , 
													VIOL_INV_STATUS_DESCR , 
													INVOICE_DATE , 
													V.VIOLATOR_ID ) A 
					   GROUP BY VIOLATOR_ID , 
								VIOL_INVOICE_ID , 
								VIOL_INV_STATUS , 
								VIOL_INV_STATUS_DESCR , 
								INVOICE_DATE , 
								CA_ACCT_ID ) A12 
	ON        A1.VIOLATOR_ID = A12.VIOLATOR_ID 
	AND       A12.VIOL_INV_STATUS IS NOT NULL 
	AND       A12.VIOL_INVOICE_ID IS NOT NULL 
	-- CHG0035282: 9/27 Commented below select
	--SELECT  --AGREEMENTTYPE,
	--INSTANCENBR as [NTTAPlan_ID], ALT_VIOLATOR_ID, CA_ACCT_ID, PRIMARYVIOLATORLNAME, PRIMARYVIOLATORFNAME,SECONDARYVIOLATORLNAME,SECONDARYVIOLATORFNAME, PHONENBR, LICPLATENBR, ADDRESS1, ADDRESS2, CITY, [STATE], ZIPCODE, 
	--		EMAIL, REMAININGBALANCE, MONTHLYPAYMENTAMOUNT, VIOL_INVOICE_ID, TOTAL_FEE_DUE as [TOTAL DUE]--,STARTDATE
	--		,DUEDATE, ACTIVEAGREEMENTDATE, LASTINVOICENBR1--,--CreatedDate,CreatedBy,
	--		--[SETTLEMENT AMOUNT] [SETTLEMENT_AMOUNT]--EXEC [dbo].[GetFields] 'dbo','VIOLATOR_INVOICE_HIST'
	--FROM EDW_TER.dbo.VIOLATOR_INVOICE_HIST WHERE GENERATION_DATE = (SELECT CAST(GETDATE() AS DATE))--@GENERATION_DATE
	--AND (CASE WHEN AGREEMENTTYPE = 'COURT' AND REMAININGBALANCE = [SETTLEMENT AMOUNT] THEN 1 ELSE 0 END) = 0
	--ORDER BY  INSTANCENBR, ALT_VIOLATOR_ID DESC, VIOL_INVOICE_ID

	--STEP #3: Drop Stage table with NEW
	IF OBJECT_ID('EDW_TER.dbo.VIOLATOR_INVOICE_STAGE')>0 	DROP TABLE EDW_TER.dbo.VIOLATOR_INVOICE_STAGE;
	--IF OBJECT_ID('EDW_TER.dbo.VIOLATOR_INVOICE_HIST')>0		DROP TABLE EDW_TER.dbo.VIOLATOR_INVOICE_HIST;

	--STEP #3: Create Statistics --[dbo].[CreateStats] 'dbo', 'VIOLATOR_INVOICE_HIST'
	--CREATE STATISTICS STATS_VIOLATOR_INVOICE_HIST_001 ON [dbo].VIOLATOR_INVOICE_HIST (INSTANCENBR)
	--CREATE STATISTICS STATS_VIOLATOR_INVOICE_HIST_002 ON [dbo].VIOLATOR_INVOICE_HIST (GENERATION_DATE)
	UPDATE STATISTICS [dbo].VIOLATOR_INVOICE_HIST 


