CREATE PROC [DBO].[VIOL_STATUS_LOAD] AS 

IF OBJECT_ID('dbo.VIOL_STATUS_NEW')>0
	DROP TABLE dbo.VIOL_STATUS_NEW

CREATE TABLE dbo.VIOL_STATUS_NEW WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VIOL_STATUS)) 
AS 
-- EXPLAIN
SELECT  VIOL_STATUS, VIOL_STATUS_DESCR, GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.VIOL_STATUS A
OPTION (LABEL = 'VIOL_STATUS_LOAD: VIOL_STATUS');

IF OBJECT_ID('dbo.VIOL_STATUS')>0
	RENAME OBJECT::dbo.VIOL_STATUS TO VIOL_STATUS_OLD;

RENAME OBJECT::dbo.VIOL_STATUS_NEW TO VIOL_STATUS;

IF OBJECT_ID('dbo.VIOL_STATUS_OLD')>0
	DROP TABLE dbo.VIOL_STATUS_OLD

CREATE STATISTICS STATS_VIOL_STATUS_001 ON DBO.VIOL_STATUS (VIOL_STATUS)
