CREATE PROC [DBO].[GET_PRINT_TABLE_INFO] @TABLE_NAME [VARCHAR](100),@PROC_NAME [VARCHAR](100) AS

/*

USE EDW_TER
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.GET_PRINT_TABLE_INFO') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.GET_PRINT_TABLE_INFO
GO

-- !!!! EXAMPLE !!!! --

DECLARE @SQL_STRING [VARCHAR](MAX),@PROC_NAME [VARCHAR](100)  = 'GET_SELECT_STRING'

EXEC EDW_TER.DBO.GET_PRINT_TABLE_INFO @TABLE_NAME, 'GET_SELECT_STRING' 

-- !!!! EXAMPLE !!!! --

*/

-- DECLARE @TABLE_NAME = 'DIM_VIOLATOR_ASOF', @PROC_NAME [VARCHAR](100)  = 'GET_SELECT_STRING'
DECLARE @SQL_STRING [VARCHAR](MAX)

IF @PROC_NAME LIKE '%GET_CREATE_STATISTICS_SQL%'
BEGIN
	EXEC EDW_TER.DBO.GET_CREATE_STATISTICS_SQL @TABLE_NAME, NULL, @SQL_STRING  OUTPUT
	EXEC [DBO].[PRINT_LONG_VARIABLE_VALUE] @SQL_STRING
END
IF @PROC_NAME LIKE '%GET_DISRTIBUTION_STRING%'
BEGIN
	EXEC EDW_TER.DBO.GET_DISRTIBUTION_STRING @TABLE_NAME, @SQL_STRING OUTPUT 
	EXEC [DBO].[PRINT_LONG_VARIABLE_VALUE] @SQL_STRING
END
IF @PROC_NAME LIKE '%GET_CREATE_TRUNCATE_TABLE_SQL%'
BEGIN
	EXEC EDW_TER.DBO.GET_CREATE_TRUNCATE_TABLE_SQL @TABLE_NAME, @SQL_STRING OUTPUT 
	EXEC [DBO].[PRINT_LONG_VARIABLE_VALUE] @SQL_STRING
END
IF @PROC_NAME LIKE '%GET_CREATE_TABLE_AS_SQL%'
BEGIN
	EXEC EDW_TER.DBO.GET_CREATE_TABLE_AS_SQL @TABLE_NAME, @SQL_STRING OUTPUT 
	EXEC [DBO].[PRINT_LONG_VARIABLE_VALUE] @SQL_STRING
END
IF @PROC_NAME LIKE '%GET_INDEX_STRING%'
BEGIN
	EXEC EDW_TER.DBO.GET_INDEX_STRING @TABLE_NAME, @SQL_STRING OUTPUT 
	EXEC [DBO].[PRINT_LONG_VARIABLE_VALUE] @SQL_STRING
END
IF @PROC_NAME LIKE '%GET_DROP_STATISTICS_SQL%'
BEGIN
	EXEC EDW_TER.DBO.GET_DROP_STATISTICS_SQL @TABLE_NAME, @SQL_STRING OUTPUT 
	EXEC [DBO].[PRINT_LONG_VARIABLE_VALUE] @SQL_STRING
END
IF @PROC_NAME LIKE '%GET_PARTITION_STRING%'
BEGIN
	EXEC EDW_TER.DBO.GET_PARTITION_STRING @TABLE_NAME, @SQL_STRING OUTPUT 
	EXEC [DBO].[PRINT_LONG_VARIABLE_VALUE] @SQL_STRING
END
IF @PROC_NAME LIKE '%GET_PARTITION_RANGE_STRING%'
BEGIN
	EXEC EDW_TER.DBO.GET_PARTITION_RANGE_STRING @TABLE_NAME, @SQL_STRING OUTPUT 
	EXEC [DBO].[PRINT_LONG_VARIABLE_VALUE] @SQL_STRING
END
IF @PROC_NAME LIKE '%GET_PARTITION_RANGE_DATE_STRING%'
BEGIN
	EXEC EDW_TER.DBO.GET_PARTITION_RANGE_DATE_STRING @TABLE_NAME, @SQL_STRING OUTPUT 
	EXEC [DBO].[PRINT_LONG_VARIABLE_VALUE] @SQL_STRING
END
IF @PROC_NAME LIKE '%GET_RENAME_TABLE_SQL%'
BEGIN
	DECLARE @OLD_TABLE_NAME VARCHAR(100) = @TABLE_NAME + '_NEW_SET'
	EXEC EDW_TER.DBO.GET_RENAME_TABLE_SQL @OLD_TABLE_NAME, @TABLE_NAME, @SQL_STRING OUTPUT 
	EXEC [DBO].[PRINT_LONG_VARIABLE_VALUE] @SQL_STRING
END

-- I suppose no need to print both Select strings "with table" and "without". That is why we check "without" only if "with table" was not found
IF @PROC_NAME LIKE '%GET_SELECT_STRING_WITH_TABLE_NAME%'
BEGIN
	EXEC EDW_TER.DBO.GET_SELECT_STRING_WITH_TABLE_NAME @TABLE_NAME, @SQL_STRING OUTPUT 
	EXEC [DBO].[PRINT_LONG_VARIABLE_VALUE] @SQL_STRING
END
ELSE IF @PROC_NAME LIKE '%GET_SELECT_STRING%'
BEGIN
	EXEC EDW_TER.DBO.GET_SELECT_STRING @TABLE_NAME, @SQL_STRING OUTPUT 
	EXEC [DBO].[PRINT_LONG_VARIABLE_VALUE] @SQL_STRING
END

IF @SQL_STRING IS NULL
BEGIN
	SET @SQL_STRING = 'Procedure named "' + @PROC_NAME + '" was not found. Check proc names below:'
	SET @SQL_STRING = @SQL_STRING + CHAR(13) + 'GET_CREATE_TABLE_AS_SQL				(returning CREATE TABLE WITH(..) AS SELECT.. query)'
	SET @SQL_STRING = @SQL_STRING + CHAR(13) + 'GET_DROP_STATISTICS_SQL				(returning DROP STATISTICS .. queries)'
	SET @SQL_STRING = @SQL_STRING + CHAR(13) + 'GET_CREATE_STATISTICS_SQL			(returning CREATE STATISTICS .. queries)'
	SET @SQL_STRING = @SQL_STRING + CHAR(13) + 'GET_CREATE_TRUNCATE_TABLE_SQL		(returning CREATE EMPTY TABLE WITH TRUNCATE SUFFIX query)'
	SET @SQL_STRING = @SQL_STRING + CHAR(13) + 'GET_RENAME_TABLE_SQL				(returning RENAME TABLE query. Renaming from TableName_NEW_SET to TableName)'
	SET @SQL_STRING = @SQL_STRING + CHAR(13) + 'GET_DISRTIBUTION_STRING				(returning TABLE DISRTIBUTION string for using in CREATE TABLE statement)'
	SET @SQL_STRING = @SQL_STRING + CHAR(13) + 'GET_INDEX_STRING					(returning TABLE INDEX string for using in CREATE TABLE statement)'
	SET @SQL_STRING = @SQL_STRING + CHAR(13) + 'GET_PARTITION_STRING				(returning TABLE PARTITION string for using in CREATE TABLE statement)'
	SET @SQL_STRING = @SQL_STRING + CHAR(13) + 'GET_PARTITION_RANGE_STRING			(returning TABLE PARTITION RANGES <<numbers>> string for using in CREATE TABLE statement)'
	SET @SQL_STRING = @SQL_STRING + CHAR(13) + 'GET_PARTITION_RANGE_DATE_STRING		(returning TABLE PARTITION RANGES <<dates>> string for using in CREATE TABLE statement)'
	SET @SQL_STRING = @SQL_STRING + CHAR(13) + 'GET_SELECT_STRING_WITH_TABLE_NAME	(returning TABLE DISRTIBUTION string for using in SELECT statement)'
	SET @SQL_STRING = @SQL_STRING + CHAR(13) + 'GET_SELECT_STRING					(returning TABLE DISRTIBUTION string for using in SELECT statement)'
	SET @SQL_STRING = @SQL_STRING + CHAR(13) + 'It is possible to call several procs at once, separate them with comma like <<GET_DROP_STATISTICS_SQL, GET_CREATE_STATISTICS_SQL>>'

	EXEC [DBO].[PRINT_LONG_VARIABLE_VALUE] @SQL_STRING
END
