CREATE PROC [DBO].[TRANSACTION_TYPES_LOAD] AS 

IF OBJECT_ID('dbo.TRANSACTION_TYPES_NEW')>0
	DROP TABLE dbo.TRANSACTION_TYPES_NEW

CREATE TABLE dbo.TRANSACTION_TYPES_NEW WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TRANS_TYPE_ID)) 
AS 
-- EXPLAIN
SELECT  TRANS_TYPE_ID, TRANS_TYPE_DESCR, GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.TRANSACTION_TYPES A
OPTION (LABEL = 'TRANSACTION_TYPES_LOAD: TRANSACTION_TYPES');

IF OBJECT_ID('dbo.TRANSACTION_TYPES')>0
	RENAME OBJECT::dbo.TRANSACTION_TYPES TO TRANSACTION_TYPES_OLD;

RENAME OBJECT::dbo.TRANSACTION_TYPES_NEW TO TRANSACTION_TYPES;

IF OBJECT_ID('dbo.TRANSACTION_TYPES_OLD')>0
	DROP TABLE dbo.TRANSACTION_TYPES_OLD

CREATE STATISTICS STATS_TRANSACTION_TYPES_001 ON DBO.TRANSACTION_TYPES (TRANS_TYPE_ID)
