CREATE PROC [DBO].[DIM_FACILITY_LOAD] AS 

IF OBJECT_ID('dbo.DIM_FACILITY_NEW')>0
	DROP TABLE dbo.DIM_FACILITY_NEW

CREATE TABLE dbo.DIM_FACILITY_NEW WITH (DISTRIBUTION = REPLICATE, CLUSTERED COLUMNSTORE INDEX) 
AS 
-- EXPLAIN
SELECT     
	 FACILITY_ID
	,FACILITY_ABBREV
	,FACILITY_NAME
	,AGENCY_ID
    ,AGENCY_ABBREV
    ,AGENCY_NAME
    ,AGENCY_IS_IOP
    ,GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.DIM_FACILITY A
OPTION (LABEL = 'DIM_FACILITY_LOAD: DIM_FACILITY');

IF OBJECT_ID('dbo.DIM_FACILITY')>0
	RENAME OBJECT::dbo.DIM_FACILITY TO DIM_FACILITY_OLD;

RENAME OBJECT::dbo.DIM_FACILITY_NEW TO DIM_FACILITY;

IF OBJECT_ID('dbo.DIM_FACILITY_OLD')>0
	DROP TABLE dbo.DIM_FACILITY_OLD

CREATE STATISTICS STATS_DIM_FACILITY_001 ON DBO.DIM_FACILITY (FACILITY_ID)


