CREATE PROC [DBO].[ACCOUNT_PAYMENT_TYPES_LOAD] AS 

IF OBJECT_ID('dbo.ACCOUNT_PAYMENT_TYPES_NEW')>0
	DROP TABLE dbo.ACCOUNT_PAYMENT_TYPES_NEW

CREATE TABLE dbo.ACCOUNT_PAYMENT_TYPES_NEW WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (PMT_TYPE_CODE)) 
AS 
-- EXPLAIN
SELECT  CONVERT(varchar(2), PMT_TYPE_CODE) AS PMT_TYPE_CODE, PMT_TYPE_DESCR, GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.ACCOUNT_PAYMENT_TYPES A
OPTION (LABEL = 'ACCOUNT_PAYMENT_TYPES_LOAD: ACCOUNT_PAYMENT_TYPES');

IF OBJECT_ID('dbo.ACCOUNT_PAYMENT_TYPES')>0
	RENAME OBJECT::dbo.ACCOUNT_PAYMENT_TYPES TO ACCOUNT_PAYMENT_TYPES_OLD;

RENAME OBJECT::dbo.ACCOUNT_PAYMENT_TYPES_NEW TO ACCOUNT_PAYMENT_TYPES;

IF OBJECT_ID('dbo.ACCOUNT_PAYMENT_TYPES_OLD')>0
	DROP TABLE dbo.ACCOUNT_PAYMENT_TYPES_OLD

CREATE STATISTICS STATS_ACCOUNT_PAYMENT_TYPES_001 ON DBO.ACCOUNT_PAYMENT_TYPES (PMT_TYPE_CODE)


INSERT INTO ACCOUNT_PAYMENT_TYPES 
SELECT '-1', '(Null)', GETDATE() AS INSERT_DATE
WHERE NOT EXISTS(SELECT * FROM ACCOUNT_PAYMENT_TYPES WHERE PMT_TYPE_CODE = '-1')


