CREATE PROC [DBO].[VIOLATOR_SUMMARY_LOAD] AS 
--2018-07-09 Ranjith Nair Renamed ADMIN_INVOICES to [ADMIN_FEE] and CITATION_INVOICES to [ADMIN_FEE2]
--2018-07-10 Ranjith Nair Added 3 new columns: LAST_ZC_INVOICE_ID,LAST_VIOL_INVOICE_ID & TOLLTAG_ACCT_ID
--2018-07-19 Ranjith Nair Added AVI_TOLLS_DUE
--2018-10-02 Ranjith Nair Removed CITATION_INVOICES & added ADMIN_FEE2
--2019-06-04 Shankar Metla Point dbo.VIOLATOR_AVI_TOLLS table to EDW_TER

	IF OBJECT_ID('DBO.VIOLATOR_SUMMARY_NEW')>0
		DROP TABLE DBO.VIOLATOR_SUMMARY_NEW

	CREATE TABLE DBO.VIOLATOR_SUMMARY_NEW WITH (DISTRIBUTION = HASH(VIOLATOR_ID), CLUSTERED COLUMNSTORE INDEX) 
	AS 
	-- EXPLAIN
	SELECT V.VIOLATOR_ID
			,ISNULL(VIOLATOR_FNAME,'') AS VIOLATOR_FNAME
			,ISNULL(VIOLATOR_LNAME,'') AS VIOLATOR_LNAME
			,ISNULL(PHONE_NBR,'') AS PHONE_NBR
			,ISNULL(EMAIL_ADDR,'') AS EMAIL_ADDR
			,ISNULL(VI.VIOL_INVOICE_CNT,0) AS ADMIN_FEE
			--,ISNULL(CITATION_NBR_COUNT,0) AS ADMIN_FEE2
			,ISNULL(VI.VIOL_INVOICE_CNT,0) AS ADMIN_FEE2
			----,ISNULL(SUM(VI.VIOL_INVOICE_CNT),0) AS ADMIN_INVOICES
			--,ISNULL(SUM(CITATION_NBR_COUNT),0) AS CITATION_INVOICES
			,ISNULL(VI.TOLL_DUE,0) AS VIOLATION_TOLLS
			,ISNULL(ZC.TOLL_DUE,0) AS TOLLS_DUE
			,ISNULL(LIC_PLATE_NBR,'') AS LIC_PLATE_NBR
			,ISNULL(LIC_PLATE_STATE,'') AS LIC_PLATE_STATE
			,ISNULL(VEHICLE_MAKE,'') AS VEHICLE_MAKE
			,ISNULL(VEHICLE_MODEL,'') AS VEHICLE_MODEL
			,ISNULL(VEHICLE_BODY,'') AS VEHICLE_BODY
			,ISNULL(VEHICLE_YEAR,'') AS VEHICLE_YEAR
			,ISNULL(VEHICLE_COLOR,'') AS VEHICLE_COLOR
			,ISNULL(DOCNO,'') AS DOCNO
			,ISNULL(VIN,'') AS VIN
			,VIOL_INVOICE_ID AS LAST_INVOICE_ID
			,ACCT_ID		 AS TOLLTAG_ACCT_ID
			,GETDATE() AS INSERT_DATE
			,GETDATE() AS LOAD_DATETIME
	--INTO SANDBOX.[DBO].[VIOLATOR_SUMMARY_LND]
	FROM 
	[LND_LG_VPS].[VP_OWNER].[VIOLATORS] V
	LEFT JOIN 
	(
			--SELECT VBI.VIOLATOR_ID
			--	   ,MAX(VBI.VBI_INVOICE_ID) VBI_INVOICE_ID
			--	   ,SUM(VIV.TOLL_DUE) AS TOLL_DUE
			--FROM LND_LG_VPS.VP_OWNER.VB_INVOICES VBI
			--JOIN LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL VIV ON (VIV.VBI_INVOICE_ID = VBI.VBI_INVOICE_ID)
			--AND (VBI_STATUS NOT IN ('L','V') AND VIOL_STATUS NOT IN ('L','V'))
			----JOIN LND_LG_VPS.[VP_OWNER].[VIOL_STATUS] VIS ON VIV.[VIOL_STATUS] = VIS.[VIOL_STATUS] AND VIS.IS_CLOSED = 'N'
			--JOIN LND_LG_VPS.[VP_OWNER].VB_INV_STATUS VIS ON vbi.vbi_Status = VIS.[STATUS] AND VIS.IS_CLOSED = 'N' 
			--WHERE VBI.[VBI_STATUS] <> 'CV' --AND VIOLATOR_ID = 731648327
			--GROUP BY VBI.VIOLATOR_ID
			--		 --,VBI.VBI_INVOICE_ID
			--IF OBJECT_ID('DBO.VIOLATOR_AVI_TOLLS')>0 	DROP TABLE DBO.VIOLATOR_AVI_TOLLS
			--CREATE TABLE DBO.VIOLATOR_AVI_TOLLS WITH (DISTRIBUTION = HASH(VIOLATOR_ID), CLUSTERED COLUMNSTORE INDEX) AS 
			SELECT VIOLATOR_ID, AVI_TOLLS_DUE AS TOLL_DUE FROM EDW_TER.dbo.VIOLATOR_AVI_TOLLS 
	) ZC ON V.VIOLATOR_ID = ZC.VIOLATOR_ID
	LEFT JOIN 
	(
			SELECT VI.VIOLATOR_ID
				   ,MAX(VI.VIOL_INVOICE_ID) VIOL_INVOICE_ID
				   ,COUNT(DISTINCT VI.VIOL_INVOICE_ID) AS VIOL_INVOICE_CNT--CASE WHEN VI.VIOL_INV_STATUS NOT IN ('O') THEN VI.VIOL_INVOICE_ID END) AS VIOL_INVOICE_CNT
				   ,SUM(ISNULL(VIV.TOLL_DUE_AMOUNT,0)) AS TOLL_DUE
				   --,MAX(ISNULL(CA.CITATION_NBR_COUNT,0)) AS CITATION_NBR_COUNT
			FROM LND_LG_VPS.VP_OWNER.VIOL_INVOICES VI 
			JOIN LND_LG_VPS.VP_OWNER.VIOL_INVOICE_VIOL VIV ON (VIV.VIOL_INVOICE_ID = VI.VIOL_INVOICE_ID)
			AND (VIV.[VIOL_STATUS] NOT IN ('L','V') OR VI.VIOL_INV_STATUS NOT IN ('L','V'))
			JOIN LND_LG_VPS.[VP_OWNER].[VIOL_STATUS] VIS ON VIV.[VIOL_STATUS] = VIS.[VIOL_STATUS] AND VIS.IS_CLOSED = 'N'
			--LEFT JOIN 
			--		(
			--		SELECT CAV.VIOL_INVOICE_ID,COUNT(CA.COURT_ACTION_ID) AS [CITATION_NBR_COUNT]
			--		FROM LND_LG_VPS.[VP_OWNER].[COURT_ACT_VIOL] CAV 
			--		LEFT JOIN LND_LG_VPS.[VP_OWNER].[COURT_ACTIONS] CA ON CAV.COURT_ACTION_ID = CA.COURT_ACTION_ID
			--		GROUP BY CAV.VIOL_INVOICE_ID
			--		) CA ON VI.VIOL_INVOICE_ID = CA.VIOL_INVOICE_ID
			GROUP BY VI.VIOLATOR_ID--,VI.VIOL_INVOICE_ID
	 ) VI ON V.VIOLATOR_ID = VI.VIOLATOR_ID
	 LEFT JOIN  (SELECT ROW_NUMBER() OVER (PARTITION BY LIC_PLATE, [LIC_STATE] ORDER BY ACCT_TAG_SEQ DESC) R1, LIC_PLATE, [LIC_STATE], ACCT_ID
				 FROM LND_LG_TS.[TAG_OWNER].[ACCOUNT_TAGS] WHERE ACCT_TAG_STATUS ='A') A1 
				ON R1= 1 AND V.lic_plate_nbr = A1.lic_plate AND V.[LIC_PLATE_STATE] = A1.[LIC_STATE]
--	Rename
	IF ((SELECT COUNT(1) FROM DBO.VIOLATOR_SUMMARY_NEW) >= (SELECT COUNT(1) FROM DBO.VIOLATOR_SUMMARY)) 
	BEGIN
		IF OBJECT_ID('DBO.VIOLATOR_SUMMARY')>0		RENAME OBJECT::DBO.VIOLATOR_SUMMARY TO VIOLATOR_SUMMARY_OLD;
		RENAME OBJECT::DBO.VIOLATOR_SUMMARY_NEW TO VIOLATOR_SUMMARY;
		IF OBJECT_ID('DBO.VIOLATOR_SUMMARY_OLD')>0	DROP TABLE DBO.VIOLATOR_SUMMARY_OLD
		CREATE STATISTICS STATS_VIOLATOR_SUMMARY_001 ON DBO.VIOLATOR_SUMMARY (VIOLATOR_ID)
	END
	--Return the data
	SELECT  [VIOLATOR_ID], [VIOLATOR_FNAME], [VIOLATOR_LNAME], [PHONE_NBR], [EMAIL_ADDR], ADMIN_FEE, ADMIN_FEE2, [VIOLATION_TOLLS], [TOLLS_DUE], 
			ISNULL([LIC_PLATE_NBR], '') [LIC_PLATE_NBR], ISNULL([LIC_PLATE_STATE], '') [LIC_PLATE_STATE], ISNULL([VEHICLE_MAKE], '') [VEHICLE_MAKE], 
			ISNULL([VEHICLE_MODEL], '') [VEHICLE_MODEL], ISNULL([VEHICLE_BODY], '') [VEHICLE_BODY], ISNULL([VEHICLE_YEAR], '') [VEHICLE_YEAR], 
			ISNULL([VEHICLE_COLOR], '') [VEHICLE_COLOR], 
			[DOCNO], [VIN], LAST_INVOICE_ID,TOLLTAG_ACCT_ID,[INSERT_DATE], [LOAD_DATETIME]
	FROM EDW_TER.[dbo].VIOLATOR_SUMMARY --WHERE LAST_INVOICE_ID > 0

