CREATE PROC [DBO].[FACT_VIOLATOR_INVOICE_LOAD] AS 


IF (SELECT COUNT(*) FROM EDW_RITE.dbo.VIOL_INVOICE_VIOL) > 0 AND (SELECT COUNT(*) FROM EDW_RITE.dbo.VB_INVOICE_VIOL) > 0
BEGIN


	--IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE_VIOL_INVOICE_VIOL_STAGE')>0
	--	DROP TABLE dbo.FACT_VIOLATOR_INVOICE_VIOL_INVOICE_VIOL_STAGE

	--CREATE TABLE dbo.FACT_VIOLATOR_INVOICE_VIOL_INVOICE_VIOL_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID), CLUSTERED INDEX(VIOLATOR_ID, VIOL_INVOICE_ID)) 
	--AS 
	--	SELECT AA.VIOLATOR_ID, AA.VIOL_INVOICE_ID, AA.TOLL_AMOUNT AS TOLL_DUE_AMOUNT, AA.VIOL_FINE_AMOUNT AS FINE_AMOUNT --   SUM(AA.TOLL_DUE_AMOUNT) AS TOLL_DUE_AMOUNT, SUM(AA.FINE_AMOUNT) AS FINE_AMOUNT 
	--	FROM EDW_RITE.dbo.FACT_INVOICES_DATA AA --VIOL_INVOICE_VIOL AA 
	--	INNER JOIN dbo.Violator BB ON AA.VIOLATOR_ID = BB.ViolatorId
	--	WHERE BB.CURRENT_IND = 1 AND AA.VIOL_INVOICE_ID > -1
		--GROUP BY AA.VIOLATOR_ID, AA.VIOL_INVOICE_ID



	--IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE_VB_INVOICE_VIOL_STAGE')>0
	--	DROP TABLE dbo.FACT_VIOLATOR_INVOICE_VB_INVOICE_VIOL_STAGE

	--CREATE TABLE dbo.FACT_VIOLATOR_INVOICE_VB_INVOICE_VIOL_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID), CLUSTERED INDEX(VIOLATOR_ID, VBI_INVOICE_ID)) 
	--AS 
	--	SELECT AA.VIOLATOR_ID, AA.VBI_INVOICE_ID,  AA.TOLL_AMOUNT AS TOLL_DUE_AMOUNT --SUM(AA.TOLL_DUE) AS TOLL_DUE_AMOUNT
	--	FROM EDW_RITE.dbo.FACT_INVOICES_DATA AA --EDW_RITE.dbo.VB_INVOICE_VIOL AA 
	--	INNER JOIN Violator BB ON AA.VIOLATOR_ID = BB.ViolatorId
	--	WHERE BB.CURRENT_IND = 1 AND AA.VBI_INVOICE_ID > -1
	--	--GROUP BY AA.VIOLATOR_ID, AA.VBI_INVOICE_ID


	--IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE_VIOL_INV_VIOLATION_TOLL_PAID_STAGE')>0
	--DROP TABLE dbo.FACT_VIOLATOR_INVOICE_VIOL_INV_VIOLATION_TOLL_PAID_STAGE

	--CREATE TABLE dbo.FACT_VIOLATOR_INVOICE_VIOL_INV_VIOLATION_TOLL_PAID_STAGE WITH (DISTRIBUTION = HASH(VIOL_INVOICE_ID), CLUSTERED INDEX (VIOL_INVOICE_ID)) 
	--AS 
	---- EXPLAIN 
	--SELECT B.VIOL_INVOICE_ID, SUM(B.TOLL_PAID) AS TOLL_PAID
	--FROM EDW_RITE.dbo.FACT_VIOLATION_VB_VIOL_INVOICES B
	--WHERE B.VIOL_INV_STATUS in ('F','TS','EP','K')
	--GROUP BY B.VIOL_INVOICE_ID

	--FROM dbo.Violator A 
	----INNER JOIN EDW_RITE.dbo.VIOLATIONS B ON A.ViolatorId = B.VIOLATOR_ID
	----INNER JOIN EDW_RITE.dbo.VIOL_INVOICE_VIOL C ON B.VIOLATOR_ID = C.VIOLATOR_ID AND B.VIOLATION_ID = C.VIOLATION_ID
	----INNER JOIN EDW_RITE.dbo.VIOL_INVOICES D ON C.VIOLATOR_ID = D.VIOLATOR_ID AND C.VIOL_INVOICE_ID = D.VIOL_INVOICE_ID
	--WHERE A.CURRENT_IND = 1 AND B.VIOL_INV_STATUS in ('F','TS','EP','K')
	--GROUP BY B.VIOLATOR_ID, B.VIOL_INVOICE_ID


	--IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE_VB_INV_VIOLATION_TOLL_PAID_STAGE')>0
	--	DROP TABLE dbo.FACT_VIOLATOR_INVOICE_VB_INV_VIOLATION_TOLL_PAID_STAGE

	--CREATE TABLE dbo.FACT_VIOLATOR_INVOICE_VB_INV_VIOLATION_TOLL_PAID_STAGE WITH (DISTRIBUTION = HASH(VBI_INVOICE_ID), CLUSTERED INDEX (VBI_INVOICE_ID)) 
	--AS 
	---- EXPLAIN  
	--SELECT B.VBI_INVOICE_ID, SUM(B.TOLL_PAID) AS TOLL_PAID
	--FROM EDW_RITE.dbo.FACT_VIOLATION_VB_VIOL_INVOICES B
	--WHERE B.VBI_STATUS in ('F','TS','EP','K')
	--GROUP BY B.VBI_INVOICE_ID
	
	--FROM dbo.Violator A 
	--JOIN EDW_RITE.dbo.FACT_VIOLATION_VB_VIOL_INVOICES B ON A.ViolatorId = B.VIOLATOR_ID
	--INNER JOIN EDW_RITE.dbo.VIOLATIONS B ON A.ViolatorId = B.VIOLATOR_ID
	--INNER JOIN EDW_RITE.dbo.VB_INVOICE_VIOL C ON B.VIOLATOR_ID = C.VIOLATOR_ID AND B.VIOLATION_ID = C.VIOLATION_ID
	--INNER JOIN EDW_RITE.dbo.VB_INVOICES D ON C.VIOLATOR_ID = D.VIOLATOR_ID AND C.VBI_INVOICE_ID = D.VBI_INVOICE_ID
	--WHERE A.CURRENT_IND = 1	AND B.VBI_STATUS in ('F','TS','EP','K')
	--GROUP BY B.VIOLATOR_ID, B.VBI_INVOICE_ID


	IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE_NEW')>0		DROP TABLE dbo.FACT_VIOLATOR_INVOICE_NEW

	CREATE TABLE dbo.FACT_VIOLATOR_INVOICE_NEW WITH (DISTRIBUTION = HASH(ViolatorID), CLUSTERED INDEX (INVOICE_ID)) 
	AS 
	-- EXPLAIN
	SELECT	
		VI.Violator_ID AS ViolatorID, 
		B.VidSeq, 
		'VI' as INVOICE_TYPE,
		CASE WHEN vi.VIOL_invoice_date>='1/1/2007' THEN 2 ELSE -1 END AS ZI_STAGE_ID, 
		vi.VIOL_INVOICE_ID AS INVOICE_ID,
		vi.VIOL_invoice_date AS INVOICE_DATE,
		vi.VIOL_INV_CURR_DUE_DATE AS INVOICE_DUE_DATE, 
		vi.VIOL_INV_date_excused AS DATE_EXCUSED, 
		VI.VIOL_INVOICE_AMT AS INVOICE_AMOUNT, 
		0 AS LATE_FEE_AMOUNT, 
		0 AS PAST_DUE_AMOUNT, 
		vi.VIOL_INV_ADMIN_FEE  AS INV_ADMIN_FEE, 
		vi.VIOL_INV_ADMIN_FEE2 AS INV_ADMIN_FEE2,
		VI.VIOL_INVOICE_AMT_PAID INVOICE_AMT_PAID,
		VI.VIOL_INV_BATCH_ID AS INVOICE_BATCH_ID,
		VI.CA_INV_STATUS, 
		VI.DPS_INV_STATUS, 
		ViolDtl.TOLL_PAID,   
		vi.VIOL_INV_STATUS AS INVOICE_STATUS,
		vi.TOLL_AMOUNT AS TOLL_DUE_AMOUNT,
		vi.VIOL_FINE_AMOUNT AS FINE_AMOUNT,
		VI.VIOL_INV_DATE_MODIFIED AS DATE_MODIFIED,
		GETDATE() AS INSERT_DATE
	FROM EDW_RITE.dbo.FACT_INVOICES_DATA vi --VIOL_INVOICE_VIOL AA 
	INNER JOIN dbo.Violator B ON VI.VIOLATOR_ID = B.ViolatorId
	LEFT JOIN (	
					SELECT B.VIOL_INVOICE_ID, SUM(B.TOLL_PAID) AS TOLL_PAID
					FROM EDW_RITE.dbo.FACT_VIOLATION_VB_VIOL_INVOICES B
					WHERE B.VIOL_INV_STATUS in ('F','TS','EP','K')
					GROUP BY B.VIOL_INVOICE_ID
				) ViolDtl ON VI.VIOL_INVOICE_ID = ViolDtl.VIOL_INVOICE_ID
	WHERE B.CURRENT_IND = 1 AND vi.VIOL_INVOICE_ID > -1
	--FROM EDW_RITE.dbo.VIOL_INVOICES vi
	--INNER JOIN dbo.Violator B ON VI.VIOLATOR_ID = B.ViolatorId
	----INNER JOIN EDW_RITE.dbo.viol_invoice_viol viv ON vi.VIOLATOR_ID = viv.VIOLATOR_ID AND vi.viol_invoice_id = viv.viol_invoice_id
	----INNER JOIN EDW_RITE.dbo.violations v ON viv.VIOLATOR_ID = v.VIOLATOR_ID AND viv.violation_id = v.violation_id  
	--INNER JOIN dbo.FACT_VIOLATOR_INVOICE_VIOL_INVOICE_VIOL_STAGE InvDtl ON VI.VIOLATOR_ID = InvDtl.VIOLATOR_ID AND VI.VIOL_INVOICE_ID = InvDtl.VIOL_INVOICE_ID
	--LEFT JOIN dbo.FACT_VIOLATOR_INVOICE_VIOL_INV_VIOLATION_TOLL_PAID_STAGE ViolDtl ON VI.VIOLATOR_ID = ViolDtl.VIOLATOR_ID AND VI.VIOL_INVOICE_ID = ViolDtl.VIOL_INVOICE_ID
	--WHERE B.CURRENT_IND = 1

	UNION ALL

	-- EXPLAIN
	SELECT	
		VI.Violator_ID AS ViolatorID, 
		B.VidSeq, 
		'ZC' as INVOICE_TYPE,
		CASE WHEN VI.VBB_LN_BATCH_ID IS NULL THEN 1 ELSE 2 END AS ZI_STAGE_ID,
		vi.VBI_INVOICE_ID AS INVOICE_ID,
		vi.VB_INVOICE_DATE AS INVOICE_DATE,
		vi.VB_DUE_DATE AS INVOICE_DUE_DATE, 
		vi.VB_date_excused AS DATE_EXCUSED, 
		VI.VB_INVOICE_AMT AS INVOICE_AMOUNT, 
		VI.VB_LATE_FEE_AMOUNT AS LATE_FEE_AMOUNT, 
		VI.VB_PAST_DUE_AMOUNT AS PAST_DUE_AMOUNT, 
		0 AS INV_ADMIN_FEE, 
		0 AS INV_ADMIN_FEE2, 
		VI.VB_INVOICE_AMT_PAID AS INVOICE_AMT_PAID,
		VI.VBB_BATCH_ID AS INVOICE_BATCH_ID,
		'-1' AS CA_INV_STATUS, 
		'-1' AS DPS_INV_STATUS, 
		ViolDtl.TOLL_PAID,  
		vi.VBI_STATUS AS INVOICE_STATUS,
		VI.TOLL_AMOUNT AS TOLL_DUE_AMOUNT,
		0 AS FINE_AMOUNT,
		VI.VB_DATE_MODIFIED AS DATE_MODIFIED,
		GETDATE() AS INSERT_DATE
	FROM EDW_RITE.dbo.FACT_INVOICES_DATA vi --VIOL_INVOICE_VIOL AA 
	INNER JOIN dbo.Violator B ON VI.VIOLATOR_ID = B.ViolatorId
	LEFT JOIN (	
					SELECT B.VBI_INVOICE_ID, SUM(B.TOLL_PAID) AS TOLL_PAID
					FROM EDW_RITE.dbo.FACT_VIOLATION_VB_VIOL_INVOICES B
					WHERE B.VBI_STATUS in ('F','TS','EP','K')
					GROUP BY B.VBI_INVOICE_ID
				) ViolDtl ON VI.VBI_INVOICE_ID = ViolDtl.VBI_INVOICE_ID
	WHERE B.CURRENT_IND = 1 AND vi.VBI_INVOICE_ID > -1
	OPTION (LABEL = 'FACT_TER_INVOICE LOAD <<VIOLATOR query>>');

	-- SELECT COUNT(*)
	--FROM EDW_RITE.dbo.VB_INVOICES vi
	--INNER JOIN dbo.Violator B ON VI.VIOLATOR_ID = B.ViolatorId
	----INNER JOIN EDW_RITE.dbo.VB_INVOICE_VIOL viv ON vi.VIOLATOR_ID = viv.VIOLATOR_ID AND vi.vbi_invoice_id = viv.vbi_invoice_id
	----INNER JOIN EDW_RITE.dbo.violations v ON viv.VIOLATOR_ID = v.VIOLATOR_ID AND viv.violation_id = v.violation_id  
	--INNER JOIN dbo.FACT_VIOLATOR_INVOICE_VB_INVOICE_VIOL_STAGE InvDtl ON VI.VIOLATOR_ID = InvDtl.VIOLATOR_ID AND VI.vbi_invoice_id = InvDtl.vbi_invoice_id
	--LEFT  JOIN dbo.FACT_VIOLATOR_INVOICE_VB_INV_VIOLATION_TOLL_PAID_STAGE ViolDtl ON VI.VIOLATOR_ID = ViolDtl.VIOLATOR_ID AND VI.VBI_INVOICE_ID = ViolDtl.VBI_INVOICE_ID
	--WHERE B.CURRENT_IND = 1

	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_001 ON dbo.FACT_VIOLATOR_INVOICE_NEW (ViolatorID, VidSeq)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_002 ON dbo.FACT_VIOLATOR_INVOICE_NEW (INVOICE_TYPE, INVOICE_ID)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_003 ON dbo.FACT_VIOLATOR_INVOICE_NEW (ZI_STAGE_ID)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_004 ON dbo.FACT_VIOLATOR_INVOICE_NEW (INVOICE_DATE)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_005 ON dbo.FACT_VIOLATOR_INVOICE_NEW (INVOICE_DUE_DATE)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_006 ON dbo.FACT_VIOLATOR_INVOICE_NEW (DATE_EXCUSED)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_007 ON dbo.FACT_VIOLATOR_INVOICE_NEW (INVOICE_BATCH_ID)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_008 ON dbo.FACT_VIOLATOR_INVOICE_NEW (CA_INV_STATUS)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_009 ON dbo.FACT_VIOLATOR_INVOICE_NEW (DPS_INV_STATUS)
	CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_010 ON dbo.FACT_VIOLATOR_INVOICE_NEW (INVOICE_STATUS)

	IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE')>0		RENAME OBJECT::dbo.FACT_VIOLATOR_INVOICE TO FACT_VIOLATOR_INVOICE_OLD;

	RENAME OBJECT::dbo.FACT_VIOLATOR_INVOICE_NEW TO FACT_VIOLATOR_INVOICE;

	IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE_OLD')>0		DROP TABLE dbo.FACT_VIOLATOR_INVOICE_OLD

	
	--exec DropStats 'FACT_VIOLATOR_INVOICE' 
	-- exec CreateStats 'FACT_VIOLATOR_INVOICE'
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_003 ON [dbo].FACT_VIOLATOR_INVOICE (INVOICE_TYPE)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_005 ON [dbo].FACT_VIOLATOR_INVOICE (INVOICE_ID)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_009 ON [dbo].FACT_VIOLATOR_INVOICE (INVOICE_AMOUNT)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_010 ON [dbo].FACT_VIOLATOR_INVOICE (LATE_FEE_AMOUNT)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_011 ON [dbo].FACT_VIOLATOR_INVOICE (PAST_DUE_AMOUNT)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_012 ON [dbo].FACT_VIOLATOR_INVOICE (INV_ADMIN_FEE)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_013 ON [dbo].FACT_VIOLATOR_INVOICE (INV_ADMIN_FEE2)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_014 ON [dbo].FACT_VIOLATOR_INVOICE (INVOICE_AMT_PAID)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_018 ON [dbo].FACT_VIOLATOR_INVOICE (TOLL_PAID)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_020 ON [dbo].FACT_VIOLATOR_INVOICE (TOLL_DUE_AMOUNT)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_021 ON [dbo].FACT_VIOLATOR_INVOICE (FINE_AMOUNT)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_022 ON [dbo].FACT_VIOLATOR_INVOICE (INSERT_DATE)
	--CREATE STATISTICS STATS_FACT_VIOLATOR_INVOICE_020 ON dbo.FACT_VIOLATOR_INVOICE (INVOICE_ID, INVOICE_TYPE, VidSeq, ViolatorID)



	IF OBJECT_ID('dbo.DIM_INVOICE_STATUS_NEW')>0		DROP TABLE dbo.DIM_INVOICE_STATUS_NEW

	CREATE TABLE dbo.DIM_INVOICE_STATUS_NEW WITH (HEAP, DISTRIBUTION = REPLICATE) 
	AS 

	select 
		 'ZC' AS INVOICE_TYPE
		, [STATUS] AS INVOICE_STATUS
		, [DESCRIPTION] AS INVOICE_STATUS_DESCR
		, MIN([DESCRIPTION]) OVER (PARTITION BY [STATUS]) AS INVOICE_STATUS_DESCR_GROUP
		--, [DESCRIPTION] AS INVOICE_STATUS_DESCR_GROUP
		, GETDATE() AS INSERT_DATE
	FROM LND_LG_VPS.VP_OWNER.VB_INV_STATUS
	UNION ALL
	select 
		 'VI' AS INVOICE_TYPE
		, VIOL_INV_STATUS AS INVOICE_STATUS
		, VIOL_INV_STATUS_DESCR AS INVOICE_STATUS_DESCR
		, MIN(VIOL_INV_STATUS_DESCR) OVER (PARTITION BY VIOL_INV_STATUS) AS INVOICE_STATUS_DESCR_GROUP
		--, VIOL_INV_STATUS_DESCR AS INVOICE_STATUS_DESCR_GROUP
		, GETDATE() AS INSERT_DATE
	FROM LND_LG_VPS.VP_OWNER.VIOL_INV_STATUS

	--IF OBJECT_ID('dbo.DIM_INVOICE_STATUS_STAGE')>0		DROP TABLE dbo.DIM_INVOICE_STATUS_STAGE

	--CREATE TABLE dbo.DIM_INVOICE_STATUS_STAGE WITH (DISTRIBUTION = REPLICATE, HEAP) 
	--AS 
	--SELECT INVOICE_STATUS, MIN(INVOICE_STATUS_DESCR_GROUP) AS INVOICE_STATUS_DESCR_GROUP
	--FROM dbo.DIM_INVOICE_STATUS_NEW
	--GROUP BY INVOICE_STATUS

	--UPDATE dbo.DIM_INVOICE_STATUS_NEW
	--SET INVOICE_STATUS_DESCR_GROUP = B.INVOICE_STATUS_DESCR_GROUP
	--FROM DIM_INVOICE_STATUS_STAGE B 
	--WHERE dbo.DIM_INVOICE_STATUS_NEW.INVOICE_STATUS = B.INVOICE_STATUS

	CREATE STATISTICS STATS_DIM_INVOICE_STATUS_001 ON dbo.DIM_INVOICE_STATUS_NEW (INVOICE_TYPE, INVOICE_STATUS)


	IF OBJECT_ID('dbo.DIM_INVOICE_STATUS')>0		RENAME OBJECT::dbo.DIM_INVOICE_STATUS TO DIM_INVOICE_STATUS_OLD;
	RENAME OBJECT::dbo.DIM_INVOICE_STATUS_NEW TO DIM_INVOICE_STATUS;
	IF OBJECT_ID('dbo.DIM_INVOICE_STATUS_OLD')>0		DROP TABLE dbo.DIM_INVOICE_STATUS_OLD


	IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE_VIOL_INVOICE_VIOL_STAGE')>0		DROP TABLE dbo.FACT_VIOLATOR_INVOICE_VIOL_INVOICE_VIOL_STAGE
	IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE_VB_INVOICE_VIOL_STAGE')>0		DROP TABLE dbo.FACT_VIOLATOR_INVOICE_VB_INVOICE_VIOL_STAGE
	IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE_VIOL_INV_VIOLATION_TOLL_PAID_STAGE')>0		DROP TABLE dbo.FACT_VIOLATOR_INVOICE_VIOL_INV_VIOLATION_TOLL_PAID_STAGE
	IF OBJECT_ID('dbo.FACT_VIOLATOR_INVOICE_VB_INV_VIOLATION_TOLL_PAID_STAGE')>0		DROP TABLE dbo.FACT_VIOLATOR_INVOICE_VB_INV_VIOLATION_TOLL_PAID_STAGE
	--IF OBJECT_ID('dbo.DIM_INVOICE_STATUS_STAGE')>0		DROP TABLE dbo.DIM_INVOICE_STATUS_STAGE

END


