CREATE PROC [DBO].[GET_CREATE_TRUNCATE_TABLE_SQL] @TABLE_NAME [VARCHAR](100),@SQL_STRING [VARCHAR](MAX) OUT AS

/*

USE EDW_TER
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.GET_CREATE_TRUNCATE_TABLE_SQL') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.GET_CREATE_TRUNCATE_TABLE_SQL
GO

-- !!!! EXAMPLE !!!! --

DECLARE @SQL_STRING [VARCHAR](MAX),@TABLE_NAME [VARCHAR](100)  = 'DIM_VIOLATOR_ASOF'

EXEC EDW_TER.DBO.GET_CREATE_TRUNCATE_TABLE_SQL @TABLE_NAME, @SQL_STRING OUTPUT 
PRINT @SQL_STRING

-- !!!! EXAMPLE !!!! --

*/

DECLARE @ERROR VARCHAR(MAX) = ''

IF @TABLE_NAME IS NULL SET @ERROR = @ERROR + 'Table name could not be NULL'

IF LEN(@ERROR) > 0
BEGIN
	PRINT @ERROR
	SET @SQL_STRING = '';
END
ELSE
BEGIN

	DECLARE @TABLE_DISTRIBUTION VARCHAR(100) = ''
	DECLARE @TABLE_PARTITION [VARCHAR](MAX)
	DECLARE @TABLE_INDEX VARCHAR(MAX) = ''
	DECLARE @NEW_TABLE_NAME VARCHAR(100) = @TABLE_NAME + '_TRUNCATE'

	EXEC EDW_TER.DBO.GET_DISRTIBUTION_STRING @TABLE_NAME, @TABLE_DISTRIBUTION OUTPUT 

	EXEC EDW_TER.DBO.GET_INDEX_STRING @TABLE_NAME, @TABLE_INDEX OUTPUT 

	EXEC EDW_TER.DBO.GET_PARTITION_STRING @TABLE_NAME, @TABLE_PARTITION OUTPUT 
	--PRINT 'GOT @TABLE_PARTITION'

	SET @SQL_STRING = 'CREATE TABLE EDW_TER.dbo.[' + @NEW_TABLE_NAME + '] WITH (' + @TABLE_INDEX + ', ' + @TABLE_DISTRIBUTION + @TABLE_PARTITION + ')
	AS 
	SELECT *
	FROM EDW_TER.dbo.[' + @TABLE_NAME + '] AS main_table
	WHERE 1 = 2'

END


















