CREATE PROC [DBO].[VIOLATOR_AVI_TOLLS_LOAD] AS 
--2018-07-09 Ranjith Nair created

	IF OBJECT_ID('DBO.VIOLATOR_AVI_TOLLS')>0 	DROP TABLE DBO.VIOLATOR_AVI_TOLLS

	CREATE TABLE DBO.VIOLATOR_AVI_TOLLS WITH (DISTRIBUTION = HASH(VIOLATOR_ID), CLUSTERED COLUMNSTORE INDEX) 
	AS 
	-- EXPLAIN
	SELECT VIOLATOR_ID,SUM(AVI_INVOICE_RATE) + SUM(AVI_UNINVOICE_RATE) AVI_TOLLS_DUE
	FROM (
		-- NON - TSA INVOICED 
		SELECT V.VIOLATOR_ID,SUM(CAST(CTR.TAG_TOLL AS DECIMAL(10, 2))) AVI_INVOICE_RATE,0 AVI_UNINVOICE_RATE --SELECT COUNT(1)
		FROM [LND_LG_VPS].VP_OWNER.VB_INVOICES VB 
		JOIN [LND_LG_VPS].VP_OWNER.VB_INVOICE_VIOL VBI ON VB.VBI_INVOICE_ID = VBI.VBI_INVOICE_ID
			AND VB.VBI_STATUS IN ('O','B')
		JOIN [LND_LG_VPS].VP_OWNER.VIOLATIONS V ON VBI.VIOLATION_ID = V.VIOLATION_ID 	
			AND V.TRANSACTION_FILE_DETAIL_ID IS NULL
		JOIN [LND_LG_VPS].FPL_OWNER.CURR_TOLL_RATE CTR ON V.VEHICLE_CLASS = CTR.VEHICLE_CLASS
		JOIN [LND_LG_VPS].FPL_OWNER.LANES L ON V.LANE_ID = L.LANE_ID AND L.PLAZ_ID = CTR.PLAZA_ID
		JOIN [LND_LG_VPS].FPL_OWNER.PLAZAS PL ON CTR.PLAZA_ID = PL.PLAZ_ID
			WHERE  V.VIOL_DATE BETWEEN CTR.TOLL_START_TIME AND ISNULL(CTR.TOLL_END_TIME, GETDATE()) 
		GROUP BY V.VIOLATOR_ID

		UNION ALL
	
		--NON-TSA UNINVOICED 
		SELECT V.VIOLATOR_ID,0 AVI_INVOICE_RATE,SUM(CAST(CTR.TAG_TOLL AS DECIMAL(10,2))) AVI_UNINVOICE_RATE
		FROM [LND_LG_VPS].VP_OWNER.VIOLATIONS V
		JOIN [LND_LG_VPS].FPL_OWNER.CURR_TOLL_RATE CTR ON CTR.VEHICLE_CLASS = V.VEHICLE_CLASS AND V.VIOL_DATE BETWEEN CTR.TOLL_START_TIME AND ISNULL(CTR.TOLL_END_TIME, GETDATE())
			AND  VIOL_STATUS = 'ZH'		
			AND V.TRANSACTION_FILE_DETAIL_ID IS NULL
		JOIN [LND_LG_VPS].FPL_OWNER.LANES L ON V.LANE_ID = L.LANE_ID
		JOIN [LND_LG_VPS].FPL_OWNER.PLAZAS PL ON L.PLAZ_ID = PL.PLAZ_ID AND PL.PLAZ_ID = CTR.PLAZA_ID
		GROUP BY V.VIOLATOR_ID
	
		UNION ALL
	
		--TSA INVOICED 
		SELECT V.VIOLATOR_ID  ,SUM ( CAST(TRANSPONDER_TOLL_AMT AS DECIMAL(10,2))) AVI_INVOICE_RATE,0 AVI_UNINVOICE_RATE 
		FROM 
		[LND_LG_VPS].VP_OWNER.VB_INVOICES VB
		JOIN [LND_LG_VPS].VP_OWNER.VB_INVOICE_VIOL VBI ON VB.VBI_INVOICE_ID = VBI.VBI_INVOICE_ID
			AND VB.VBI_STATUS IN ('O', 'B')  
		JOIN [LND_LG_VPS].VP_OWNER.VIOLATIONS V ON  VBI.VIOLATION_ID = V.VIOLATION_ID  
		JOIN LND_LG_HOST.TSA_OWNER.TRANSACTION_FILE_DETAILS TSA ON V.TRANSACTION_FILE_DETAIL_ID = TSA.TRANSACTION_FILE_DETAIL_ID
		GROUP BY V.VIOLATOR_ID
		
		UNION ALL
	
		--- TSA UNINVOICED 
		SELECT V.VIOLATOR_ID,0 AVI_INVOICE_RATE,SUM(CAST(TRANSPONDER_TOLL_AMT AS DECIMAL(10, 2))) AVI_UNINVOICE_RATE
		FROM [LND_LG_VPS].VP_OWNER.VIOLATIONS V
		JOIN LND_LG_HOST.TSA_OWNER.TRANSACTION_FILE_DETAILS TSA ON 	V.TRANSACTION_FILE_DETAIL_ID = TSA.TRANSACTION_FILE_DETAIL_ID
			AND V.VIOL_STATUS = 'ZH'
		GROUP BY V.VIOLATOR_ID
		) Q
	 GROUP BY VIOLATOR_ID --ORDER BY VIOLATOR_ID

	 --SELECT COUNT_BIG(1) FROM VIOLATOR_AVI_TOLLS WHERE AVI_TOLLS_DUE > 0

