CREATE PROC [dbo].[DIM_VIOLATOR_Load] AS 
/*

USE EDW_TER
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.DIM_VIOLATOR_Load') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.DIM_VIOLATOR_Load
GO

EXEC EDW_TER.DBO.DIM_VIOLATOR_Load

 SELECT COUNT_BIG(1) FROM dbo.DIM_VIOLATOR
 SELECT TOP 1000 * FROM dbo.DIM_VIOLATOR

*/

IF OBJECT_ID('dbo.DIM_VIOLATOR_STAGE')>0
	DROP TABLE dbo.DIM_VIOLATOR_STAGE
-- EXPLAIN
CREATE TABLE dbo.DIM_VIOLATOR_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ViolatorID, VidSeq)) 
AS 
SELECT DISTINCT COALESCE(VS.VIOLATORID,F.VIOLATORID) VIOLATORID 
			,   COALESCE(VS.VIDSEQ,F.VIDSEQ) VIDSEQ
			,	V.CURRENT_IND
			,	V.HV_NON_HV_IND
			,	ISNULL(V.LICPLATENBR,F.LicensePlateNbr) AS LICPLATENBR
			,	ISNULL(V.LICPLATESTATELOOKUPID,PV_StateLookupID) AS LICPLATESTATELOOKUPID
			,	StateLookup.StateCode AS LICPLATESTATE
			,	LP.LICENSE_PLATE_ID
			,	V.VEHICLE_ID
			,	V.DOCNUM
			,	V.VIN
			,	ISNULL(V.PRIMARYVIOLATORFNAME,FirstName) AS PRIMARYVIOLATORFNAME
			,	ISNULL(V.PRIMARYVIOLATORLNAME,LASTNAME) AS PRIMARYVIOLATORLNAME
			,	ISNULL(V.SECONDARYVIOLATORFNAME,FIRSTNAME2ND) AS SECONDARYVIOLATORFNAME
			,   ISNULL(V.SECONDARYVIOLATORLNAME,LastName2nd) AS SECONDARYVIOLATORLNAME
			,	V.DRIVERSLICENSE
			,	V.DRIVERSLICENSESTATELOOKUPID
			,	V.SECONDARYDRIVERSLICENSE
			,	V.SECONDARYDRIVERSLICENSESTATELOOKUPID
			,	V.EARLIESTHVTRANDATE
			,	V.LATESTHVTRANDATE
			,	V.ADMINCOUNTYLOOKUPID
			,	COALESCE(V.REGISTRATIONCOUNTYLOOKUPID,F.REGISTRATIONCOUNTYLOOKUPID,-1) as REGISTRATIONCOUNTYLOOKUPID
			,	V.REGISTRATIONDATENEXTMONTH
			,	V.REGISTRATIONDATENEXTYEAR
			,	V.VIOLATORAGENCYLOOKUPID	
			,	V.VIOLATORADDRESSSOURCELOOKUPID
			,	V.VIOLATORADDRESSSTATUSLOOKUPID
			,	V.VIOLATORADDRESSACTIVEFLAG
			,	V.VIOLATORADDRESSCONFIRMEDFLAG
			,	ISNULL(V.VIOLATORADDRESS1,F.Address1) AS VIOLATORADDRESS1
			,	ISNULL(V.VIOLATORADDRESS2,F.Address2) AS VIOLATORADDRESS2
			,	ISNULL(V.VIOLATORADDRESSCITY,F.CITY) AS VIOLATORADDRESSCITY
			,	ISNULL(V.VIOLATORADDRESSSTATELOOKUPID,F.StateLookupID) AS VIOLATORADDRESSSTATELOOKUPID
			,	ISNULL(V.VIOLATORADDRESSZIPCODE,F.ZipCode) AS VIOLATORADDRESSZIPCODE
			,	ISNULL(V.VIOLATORADDRESSPLUS4,Plus4) AS VIOLATORADDRESSPLUS4
			,	V.VIOLATORADDRESSCREATEDBY
			,	V.VIOLATORADDRESSUPDATEDBY
			,	VS.VIOLATORSTATUSID
			,	VS.VIOLATORSTATUSLOOKUPID
			,	VS.VIOLATORSTATUSTERMLOOKUPID
			,	VS.VIOLATORSTATUSELIGRMDYLOOKUPID
			,	VS.VIOLATORSTATUSLETTERDETERMINATIONLOOKUPID
			,	VS.VIOLATORSTATUSLETTERBANLOOKUPID
			,	VS.VIOLATORSTATUSLETTERTERMLOOKUPID
			,	VS.VIOLATORSTATUSLETTERBAN2NDLOOKUPID
			,	VS.VIOLATORSTATUSLETTERVRBLOOKUPID
			,	VS.BANBYPROCESSSERVER
			,	VS.BANBYDPS
			,	VS.BANBYUSMAIL1STBAN 
			,	VS.ACCT_ID
			,	VS.ACCT_STATUS_CODE
			,	VS.TAG_DATE_CREATED
			,	VS.BANFLAG
			,	VS.BANCITEWARNFLAG
			,	VS.BANIMPOUNDFLAG
			,	VS.BANKRUPTCYIND
			,	VS.BANLETTERFLAG
			,	VS.DEFAULTIND
			,	VS.DETERMINATIONLETTERFLAG
			,	VS.ELIGRMDYFLAG
			,	VS.HAS_TOLL_TAG_ACCOUNT
			,	VS.HVACTIVE
			,	VS.HVEXEMPTFLAG
			,	VS.HVFLAG
			,	VS.HVREMOVED
			,	VS.TERMFLAG
			,	VS.TERMLETTERFLAG
			,	VS.VRBACKNOWLEDGED
			,	VS.VRBFLAG
			,	VS.VRBREMOVED
			,	VS.VRBREMOVALQUEUED
			,	VS.BAN2NDLETTERFLAG
			,	VS.VRBLETTERFLAG
			,	VS.ADMINFEES
			,	VS.BALANCE_AMOUNT
			,	VS.BALANCEDUE
			,	VS.BANCITEWARNCOUNT
			,	VS.CITATIONFEES
			,	VS.COLLECTABLEAMOUNT
			,	VS.COLLECTIONS
			,	VS.DOWNPAYMENT
			,	VS.EXCUSEDAMOUNT
			,	VS.HVQAMOUNTDUE
			,	VS.HVQTOLLSDUE
			,	VS.HVQTRANSACTIONS
			,	VS.HVQFEESDUE
			,	VS.MONTHLYPAYMENTAMOUNT
			,	VS.PAIDINFULL
			,	VS.PMT_TYPE_CODE
			,	VS.REBILL_AMT
			,	VS.SETTLEMENTAMOUNT
			,	VS.TOLLTRANSACTIONCOUNT
			,	VS.TOTALAMOUNTDUE
			,	VS.TOTALAMOUNTDUEINITIAL
			,	VS.TOTALCITATIONCOUNT
			,	VS.TOTALFEESDUE
			,	VS.TOTALTOLLSDUE
			,	VS.TOTALTRANSACTIONSCOUNT
			,	VS.TOTALTRANSACTIONSINITIAL
			,	VS.BANDPSCOUNT
			,	VS.BANPCPCOUNT
			,	VS.BANWARNCOUNT
			,	VS.BANCITATIONCOUNT
			,	VS.BANIMPOUNDCOUNT
			,	VS.BANNOACTIONCOUNT
			,	VS.BANFENNELLCOUNT
			,	V.VIOLATORADDRESSCREATEDATE
			,	V.VIOLATORADDRESSUPDATEDATE 
			,	VS.BAL_LAST_UPDATED
			,	VS.BANCITEWARNDATE
			,	VS.BANDATE
			,	VS.BANIMPOUNDDATE
			,	VS.BANLETTERDATE
			,	VS.BANSTARTDATE
			,	VS.DETERMINATIONLETTERDATE
			,	VS.ELIGRMDYDATE
			,	VS.HVDATE
			,	VS.HVEXEMPTDATE
			,	VS.REBILL_DATE
			,	VS.TERMDATE
			,	VS.TERMLETTERDATE
			,	VS.VRBDATE
			,	VS.BAN2NDLETTERDATE
			,	VS.VRBLETTERDATE
			,	ISNULL(VC.PHONENBR,F.PhoneNbr) AS PHONENBR
			,	ISNULL(VC.WORKPHONENBR,F.PhoneNbr) AS WORKPHONENBR
			,	ISNULL(VC.OTHERPHONENBR,F.OtherPhoneNbr) AS OTHERPHONENBR
			,	ISNULL(VC.EMAILADDRESS,F.EMAIL) AS EMAILADDRESS
			,   F.TOLLTAGNBR
			--SELECT COUNT(1)
			FROM EDW_TER.DBO.VIOLATORSTATUS VS
FULL JOIN 
(
SELECT * FROM
  (
   SELECT DISTINCT   VIOLATORID
					,VIDSEQ
					,ROW_NUMBER() OVER(PARTITION BY VIOLATORID,VIDSEQ ORDER BY pv.paymentplanid,VIDSEQ DESC) AS RN
					,LastName	
					,FirstName	
					,LastName2nd	
					,FirstName2nd	
					,Address1	
					,Address2	
					,City	
					,P.STATELOOKUPID
					,ZipCode	
					,Plus4	
					,PhoneNbr	
					,OtherPhoneNbr	
					,Email	
					,TollTagNbr	
					,VehicleMake
					,VehicleModel
					,VehicleYear
					,LicensePlateNbr
					,PV.StateLookupID AS PV_StateLookupID
					FROM LND_TER.DBO.PAYMENTPLANVIOLATOR PV 
					JOIN LND_TER.DBO.PAYMENTPLAN P ON PV.PAYMENTPLANID = P.PAYMENTPLANID AND P.DELETEDFLAG = 0 AND P.PAYMENTPLANSTATUSLOOKUPID > 4
  ) Q 
  LEFT JOIN 
  (
   SELECT VIOLATORID AS DMV_VIOLATORID,rescomptcntyno AS REGISTRATIONCOUNTYLOOKUPID
	   FROM
	   (
	   SELECT DV.VIOLATORID,D.rescomptcntyno,ROW_NUMBER() OVER(PARTITION BY DV.violatorid ORDER BY d.drec_id DESC ) as rn_dmv
       FROM
	   (
	   SELECT DISTINCT PV.VIOLATORID FROM LND_TER.DBO.PAYMENTPLANVIOLATOR PV JOIN LND_TER.DBO.PAYMENTPLAN P ON PV.PAYMENTPLANID = P.PAYMENTPLANID AND P.DELETEDFLAG = 0 AND P.PAYMENTPLANSTATUSLOOKUPID > 4
	   ) DV
	   JOIN LND_LG_VPS.VP_OWNER.VIOLATORS vo ON DV.violatorid = vo.violator_id
       JOIN LND_LG_DMV.DMVLD.DMV_RECORDS d ON vo.lic_plate_nbr = d.regpltno AND vo.vin = d.vin 
	   WHERE vo.lic_plate_state = 'TX' --AND DV.VIDSEQ=0 
	     AND d.status in ('LOADED','DUPLICATE')  
         AND ( d.rescomptcntyno IS NOT NULL)
	   ) q
	   WHERE rn_dmv = 1
  ) DMV ON Q.VIOLATORID = DMV.DMV_VIOLATORID
  WHERE Q.RN =1 
) F
		ON F.VIOLATORID = VS.VIOLATORID
		AND F.VIDSEQ = VS.VIDSEQ 
		LEFT JOIN EDW_TER.DBO.VIOLATOR V
		ON VS.VIOLATORID = V.VIOLATORID
		AND V.VIDSEQ = VS.VIDSEQ
		LEFT JOIN EDW_TER.DBO.VIOLATORCONTACT  VC
		ON V.VIOLATORID = VC.VIOLATORID
		AND	V.VIDSEQ = VC.VIDSEQ
		LEFT JOIN EDW_TER.dbo.StateLookup  
		ON ISNULL(V.LICPLATESTATELOOKUPID,PV_StateLookupID) = StateLookup.StateLookupID
		LEFT JOIN EDW_RITE.dbo.DIM_LICENSE_PLATE LP ON  LP.LICENSE_PLATE_NBR = ISNULL(V.LICPLATENBR,F.LicensePlateNbr) AND LP.LICENSE_PLATE_STATE = StateLookup.StateCode

OPTION (LABEL = 'DIM_VIOLATOR_STAGE_LOAD: DIM_VIOLATOR');

CREATE STATISTICS STATSDIM_VIOLATOR_Load_001 ON EDW_TER.dbo.DIM_VIOLATOR_STAGE (ViolatorID, VidSeq)

--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.DIM_VIOLATOR_OLD') > 0
	DROP TABLE dbo.DIM_VIOLATOR_OLD;

IF OBJECT_ID('dbo.DIM_VIOLATOR') > 0 RENAME OBJECT::dbo.DIM_VIOLATOR TO DIM_VIOLATOR_OLD;
	RENAME OBJECT::dbo.DIM_VIOLATOR_STAGE TO DIM_VIOLATOR;

IF OBJECT_ID('dbo.DIM_VIOLATOR_OLD') > 0
	DROP TABLE dbo.DIM_VIOLATOR_OLD;



