CREATE PROC [DBO].[VIOL_PAY_TYPES_LOAD] AS 

IF OBJECT_ID('dbo.VIOL_PAY_TYPES_NEW')>0
	DROP TABLE dbo.VIOL_PAY_TYPES_NEW

CREATE TABLE dbo.VIOL_PAY_TYPES_NEW WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VIOL_PAY_TYPE)) 
AS 
-- EXPLAIN
SELECT  VIOL_PAY_TYPE, VIOL_PAY_TYPE_DESCR, GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.VIOL_PAY_TYPES A
OPTION (LABEL = 'VIOL_PAY_TYPES_LOAD: VIOL_PAY_TYPES');

IF OBJECT_ID('dbo.VIOL_PAY_TYPES')>0
	RENAME OBJECT::dbo.VIOL_PAY_TYPES TO VIOL_PAY_TYPES_OLD;

RENAME OBJECT::dbo.VIOL_PAY_TYPES_NEW TO VIOL_PAY_TYPES;

IF OBJECT_ID('dbo.VIOL_PAY_TYPES_OLD')>0
	DROP TABLE dbo.VIOL_PAY_TYPES_OLD

CREATE STATISTICS STATS_VIOL_PAY_TYPES_001 ON DBO.VIOL_PAY_TYPES (VIOL_PAY_TYPE)
