CREATE TABLE [dbo].[nagios_programstatus]
(
	[programstatus_id] int NULL,
	[instance_id] smallint NULL,
	[status_update_time] datetime NULL,
	[program_start_time] datetime NULL,
	[program_end_time] datetime NULL,
	[is_currently_running] smallint NULL,
	[process_id] int NULL,
	[daemon_mode] smallint NULL,
	[last_command_check] datetime NULL,
	[last_log_rotation] datetime NULL,
	[notifications_enabled] smallint NULL,
	[active_service_checks_enabled] smallint NULL,
	[passive_service_checks_enabled] smallint NULL,
	[active_host_checks_enabled] smallint NULL,
	[passive_host_checks_enabled] smallint NULL,
	[event_handlers_enabled] smallint NULL,
	[flap_detection_enabled] smallint NULL,
	[failure_prediction_enabled] smallint NULL,
	[process_performance_data] smallint NULL,
	[obsess_over_hosts] smallint NULL,
	[obsess_over_services] smallint NULL,
	[modified_host_attributes] int NULL,
	[modified_service_attributes] int NULL,
	[global_host_event_handler] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[global_service_event_handler] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(2) NOT NULL
)
WITH(HEAP, DISTRIBUTION = HASH([programstatus_id]))
