CREATE TABLE [dbo].[nagios_services]
(
	[service_id] int NULL,
	[instance_id] smallint NULL,
	[config_type] smallint NULL,
	[host_object_id] int NULL,
	[service_object_id] int NULL,
	[display_name] nvarchar(2048) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[importance] int NULL,
	[check_command_object_id] int NULL,
	[check_command_args] nvarchar(2048) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[eventhandler_command_object_id] int NULL,
	[eventhandler_command_args] nvarchar(2048) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[notification_timeperiod_object_id] int NULL,
	[check_timeperiod_object_id] int NULL,
	[failure_prediction_options] nvarchar(64) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[check_interval] float(53) NULL,
	[retry_interval] float(53) NULL,
	[max_check_attempts] smallint NULL,
	[first_notification_delay] float(53) NULL,
	[notification_interval] float(53) NULL,
	[notify_on_warning] smallint NULL,
	[notify_on_unknown] smallint NULL,
	[notify_on_critical] smallint NULL,
	[notify_on_recovery] smallint NULL,
	[notify_on_flapping] smallint NULL,
	[notify_on_downtime] smallint NULL,
	[stalk_on_ok] smallint NULL,
	[stalk_on_warning] smallint NULL,
	[stalk_on_unknown] smallint NULL,
	[stalk_on_critical] smallint NULL,
	[is_volatile] smallint NULL,
	[flap_detection_enabled] smallint NULL,
	[flap_detection_on_ok] smallint NULL,
	[flap_detection_on_warning] smallint NULL,
	[flap_detection_on_unknown] smallint NULL,
	[flap_detection_on_critical] smallint NULL,
	[low_flap_threshold] float(53) NULL,
	[high_flap_threshold] float(53) NULL,
	[process_performance_data] smallint NULL,
	[freshness_checks_enabled] smallint NULL,
	[freshness_threshold] int NOT NULL,
	[passive_checks_enabled] smallint NULL,
	[event_handler_enabled] smallint NULL,
	[active_checks_enabled] smallint NULL,
	[retain_status_information] smallint NULL,
	[retain_nonstatus_information] smallint NULL,
	[notifications_enabled] smallint NULL,
	[obsess_over_service] smallint NULL,
	[failure_prediction_enabled] smallint NULL,
	[notes] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[notes_url] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[action_url] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[icon_image] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[icon_image_alt] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(2) NOT NULL
)
WITH(HEAP, DISTRIBUTION = HASH([service_id]))
