CREATE TABLE [dbo].[nagios_hosts_STAGE]
(
	[host_id] int NOT NULL,
	[instance_id] smallint NOT NULL,
	[config_type] smallint NOT NULL,
	[host_object_id] int NOT NULL,
	[alias] nvarchar(2048) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[display_name] nvarchar(2048) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[address] nvarchar(128) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[importance] int NOT NULL,
	[check_command_object_id] int NOT NULL,
	[check_command_args] nvarchar(2048) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[eventhandler_command_object_id] int NOT NULL,
	[eventhandler_command_args] nvarchar(2048) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[notification_timeperiod_object_id] int NOT NULL,
	[check_timeperiod_object_id] int NOT NULL,
	[failure_prediction_options] nvarchar(64) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[check_interval] float(53) NOT NULL,
	[retry_interval] float(53) NOT NULL,
	[max_check_attempts] smallint NOT NULL,
	[first_notification_delay] float(53) NOT NULL,
	[notification_interval] float(53) NOT NULL,
	[notify_on_down] smallint NOT NULL,
	[notify_on_unreachable] smallint NOT NULL,
	[notify_on_recovery] smallint NOT NULL,
	[notify_on_flapping] smallint NOT NULL,
	[notify_on_downtime] smallint NOT NULL,
	[stalk_on_up] smallint NOT NULL,
	[stalk_on_down] smallint NOT NULL,
	[stalk_on_unreachable] smallint NOT NULL,
	[flap_detection_enabled] smallint NOT NULL,
	[flap_detection_on_up] smallint NOT NULL,
	[flap_detection_on_down] smallint NOT NULL,
	[flap_detection_on_unreachable] smallint NOT NULL,
	[low_flap_threshold] float(53) NOT NULL,
	[high_flap_threshold] float(53) NOT NULL,
	[process_performance_data] smallint NOT NULL,
	[freshness_checks_enabled] smallint NOT NULL,
	[freshness_threshold] int NOT NULL,
	[passive_checks_enabled] smallint NOT NULL,
	[event_handler_enabled] smallint NOT NULL,
	[active_checks_enabled] smallint NOT NULL,
	[retain_status_information] smallint NOT NULL,
	[retain_nonstatus_information] smallint NOT NULL,
	[notifications_enabled] smallint NOT NULL,
	[obsess_over_host] smallint NOT NULL,
	[failure_prediction_enabled] smallint NOT NULL,
	[notes] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[notes_url] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[action_url] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[icon_image] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[icon_image_alt] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[vrml_image] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[statusmap_image] nvarchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[have_2d_coords] smallint NOT NULL,
	[x_2d] smallint NOT NULL,
	[y_2d] smallint NOT NULL,
	[have_3d_coords] smallint NOT NULL,
	[x_3d] float(53) NOT NULL,
	[y_3d] float(53) NOT NULL,
	[z_3d] float(53) NOT NULL,
	[LND_UpdateDate] datetime2(2) NOT NULL
)
WITH(HEAP, DISTRIBUTION = HASH([host_id]))
