CREATE TABLE [dbo].[Dim_Lane]
(
	[LaneID] int NOT NULL,
	[LaneCategoryID] int NOT NULL,
	[LaneCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LaneNumber] varchar(8000) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LaneName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LaneDirection] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LaneLatitude] decimal(23,12) NULL,
	[LaneLongitude] decimal(23,12) NULL,
	[LaneZipCode] int NULL,
	[LaneCountyName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Mileage] decimal(8,2) NOT NULL,
	[ExitLaneCode] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[PlazaID] int NULL,
	[PlazaCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IPS_PlazaCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlazaName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlazaLatitude] decimal(23,12) NULL,
	[PlazaLongitude] decimal(23,12) NULL,
	[PlazaZipCode] int NULL,
	[PlazaCountyName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlazaSortOrder] int NULL,
	[Active] int NOT NULL,
	[FacilityID] int NULL,
	[FacilityCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[FacilityName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IPS_FacilityCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TSAFlag] bit NULL,
	[TSAFacilityID] int NULL,
	[BitMaskID] bigint NULL,
	[SubAgencyAbbrev] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OperationsAgency] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AgencyID] bigint NULL,
	[AgencyType] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AgencyName] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AgencyCode] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AgencyStartDate] datetime2(3) NULL,
	[AgencyEndDate] datetime2(3) NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[EDW_UpdatedDate] datetime2(7) NOT NULL
)
WITH(CLUSTERED INDEX ([LaneID] ASC), DISTRIBUTION = REPLICATE)
