CREATE TABLE [dbo].[Dim_Customer]
(
	[CustomerID] bigint NOT NULL,
	[Title] varchar(4) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[FirstName] varchar(60) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MiddleInitial] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LastName] varchar(60) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Suffix] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AddressType] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[AddressLine1] varchar(150) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[AddressLine2] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[City] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[State] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[Country] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[ZipCode] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[Plus4] varchar(4) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AddressUpdatedDate] datetime2(3) NULL,
	[MobilePhoneNumber] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HomePhoneNumber] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[WorkPhoneNumber] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PreferredPhoneType] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CustomerPlanID] smallint NOT NULL,
	[CustomerPlanDesc] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountCategoryID] int NULL,
	[AccountCategoryDesc] varchar(8) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountTypeID] smallint NOT NULL,
	[AccountTypeCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[AccountTypeDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[AccountStatusID] smallint NOT NULL,
	[AccountStatusCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[AccountStatusDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[AccountStatusDate] date NOT NULL,
	[CustomerStatusID] int NOT NULL,
	[CustomerStatusCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[CustomerStatusDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[RevenueCategoryID] int NOT NULL,
	[RevenueCategoryCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[RevenueCategoryDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[RevenueTypeID] int NOT NULL,
	[RevenueTypeCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RevenueTypeDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChannelID] int NOT NULL,
	[ChannelName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[ChannelDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[RebillAmount] decimal(19,2) NOT NULL,
	[RebillDate] datetime2(3) NULL,
	[AutoReplenishmentID] int NOT NULL,
	[AutoReplenishmentCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[AutoReplenishmentDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TollTagAcctBalance] decimal(19,2) NULL,
	[ZipCashCustBalance] decimal(19,2) NULL,
	[RefundBalance] decimal(19,2) NULL,
	[TollTagDepositBalance] decimal(19,2) NULL,
	[FleetAcctBalance] decimal(19,2) NULL,
	[CompanyCode] varchar(12) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CompanyName] varchar(128) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[FleetFlag] bit NOT NULL,
	[BadAddressFlag] bit NOT NULL,
	[InCollectionsFlag] bit NOT NULL,
	[HVFlag] bit NOT NULL,
	[AdminHearingScheduledFlag] bit NOT NULL,
	[PaymentPlanEstablishedFlag] bit NOT NULL,
	[VRBFlag] bit NOT NULL,
	[CitationIssuedFlag] bit NOT NULL,
	[BankruptcyFlag] bit NOT NULL,
	[WriteOffFlag] bit NOT NULL,
	[GroundTransportationFlag] bit NOT NULL,
	[AutoRecalcReplAmtFlag] bit NOT NULL,
	[AutoRebillFailedFlag] int NOT NULL,
	[AutoRebillFailed_StartDate] datetime2(3) NULL,
	[ExpiredCreditCardFlag] int NOT NULL,
	[ExpiredCreditCard_StartDate] datetime2(3) NULL,
	[TollTagAcctNegBalanceFlag] smallint NOT NULL,
	[TollTagAcctLowBalanceFlag] smallint NOT NULL,
	[ThresholdAmount] decimal(19,2) NULL,
	[LowBalanceDate] datetime2(3) NULL,
	[NegBalanceDate] datetime2(3) NULL,
	[LinkTollTagCustomerID] bigint NULL,
	[ZipCashToTollTagFlag] int NULL,
	[ZipCashToTollTagDate] datetime2(3) NULL,
	[TollTagToZipCashFlag] int NULL,
	[TollTagToZipCashDate] datetime2(3) NULL,
	[DirectAcctFlag] int NOT NULL,
	[Seq1] smallint NULL,
	[Seq2] smallint NULL,
	[ZC_TollTagAcctCreateDate] datetime2(3) NULL,
	[ZipCashAcctCount] smallint NULL,
	[FirstZipCashCustomerID] bigint NULL,
	[FirstZipCashAcctCreateDate] datetime2(3) NULL,
	[LastZipCashCustomerID] bigint NULL,
	[LastZipCashAcctCreateDate] datetime2(3) NULL,
	[AccountCreateDate] datetime2(3) NULL,
	[AccountCreatedBy] varchar(121) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountCreateChannelID] int NULL,
	[AccountCreateChannelName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountCreateChannelDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountCreatePOSID] bigint NULL,
	[AccountOpenDate] datetime2(3) NULL,
	[AccountOpenedBy] varchar(121) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountOpenChannelID] int NULL,
	[AccountOpenChannelName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountOpenChannelDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountOpenPOSID] bigint NULL,
	[AccountLastActiveDate] datetime2(3) NULL,
	[AccountLastActiveBy] varchar(121) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountLastActiveChannelID] int NULL,
	[AccountLastActiveChannelName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountLastActiveChannelDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountLastActivePOSID] bigint NULL,
	[AccountLastCloseDate] datetime2(3) NULL,
	[AccountLastCloseBy] varchar(121) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountLastCloseChannelID] int NULL,
	[AccountLastCloseChannelName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountLastCloseChannelDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountLastClosePOSID] bigint NULL,
	[UpdatedDate] datetime2(3) NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[EDW_UpdateDate] datetime2(3) NULL
)
WITH(CLUSTERED INDEX ([CustomerID] ASC), DISTRIBUTION = HASH([CustomerID]))
