CREATE TABLE [dbo].[Fact_AdjExpectedAmountDetail]
(
	[TpTripID] bigint NOT NULL,
	[CustTripID] bigint NULL,
	[CitationID] bigint NULL,
	[CurrentTxnFlag] bit NULL,
	[TripDayID] int NULL,
	[SourceID] bigint NULL,
	[SourceName] varchar(40) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TollAdjustmentID] int NULL,
	[AdjustmentReason] varchar(250) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TxnSeqAsc] bigint NULL,
	[TxnDate] datetime2(3) NULL,
	[Amount] decimal(38,2) NULL,
	[RunningTotalAmount] decimal(38,2) NULL,
	[RunningAllAdjAmount] decimal(38,2) NULL,
	[RunningTripWithAdjAmount] decimal(38,2) NULL,
	[TxnSeqDesc] bigint NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[EDW_UpdateDate] datetime2(3) NULL
)
WITH(CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TpTripID]), 
	PARTITION ([TripDayID] RANGE RIGHT FOR VALUES (20190101, 20190201, 20190301, 20190401, 20190501, 20190601, 20190701, 20190801, 20190901, 20191001, 20191101, 20191201, 20200101, 20200201, 20200301, 20200401, 20200501, 20200601, 20200701, 20200801, 20200901, 20201001, 20201101, 20201201, 20210101, 20210201, 20210301, 20210401, 20210501, 20210601, 20210701, 20210801, 20210901, 20211001, 20211101, 20211201, 20220101, 20220201, 20220301, 20220401, 20220501, 20220601, 20220701, 20220801, 20220901, 20221001, 20221101, 20221201, 20230101, 20230201, 20230301, 20230401, 20230501, 20230601, 20230701, 20230801, 20230901, 20231001, 20231101, 20231201, 20240101, 20240201, 20240301, 20240401)))
