CREATE TABLE [dbo].[Fact_InvoiceDetail]
(
	[InvoiceNumber] bigint NULL,
	[CitationID] bigint NULL,
	[TPTripID] bigint NOT NULL,
	[CustomerID] bigint NULL,
	[LaneID] int NOT NULL,
	[AgeStageID] int NULL,
	[PaymentStatusID] bigint NULL,
	[TripStageID] int NULL,
	[TripStatusID] int NOT NULL,
	[TransactionTypeID] tinyint NULL,
	[TransactionPostingTypeID] int NOT NULL,
	[InvoiceStatusID] int NULL,
	[CurrentInvFlag] int NOT NULL,
	[WriteOffFlag] bit NULL,
	[HVFlag] int NOT NULL,
	[PPFLAG] int NOT NULL,
	[InvoicedBadAddr] int NOT NULL,
	[TxnDate] date NULL,
	[PostedDate] date NULL,
	[ZCInvoiceDate] date NULL,
	[FNFeesDate] date NULL,
	[SNFeesDate] date NULL,
	[WriteOffDate] date NULL,
	[TxnType] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OutstandingAmount] decimal(19,2) NOT NULL,
	[PBMTollAmount] decimal(19,2) NULL,
	[AVITollAmount] decimal(19,2) NULL,
	[Tolls] decimal(19,2) NULL,
	[TollsPaid] decimal(20,2) NULL,
	[FNFees] decimal(38,6) NULL,
	[SNFees] decimal(38,6) NULL,
	[FNFeesPaid] decimal(38,6) NULL,
	[SNFeesPaid] decimal(38,6) NULL,
	[FNFeesOutstandingAmount] decimal(38,6) NULL,
	[SNFeesOutstandingAmount] decimal(38,6) NULL,
	[WriteOffAmount] decimal(19,2) NULL,
	[DeleteFlag] bit NULL,
	[EDW_UpdateDate] datetime2(3) NOT NULL
)
WITH(CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([InvoiceNumber]), 
	PARTITION ([TxnDate] RANGE RIGHT FOR VALUES ('20110101', '20120101', '20130101', '20140101', '20150101', '20150201', '20150301', '20150401', '20150501', '20150601', '20150701', '20150801', '20150901', '20151001', '20151101', '20151201', '20160101', '20160201', '20160301', '20160401', '20160501', '20160601', '20160701', '20160801', '20160901', '20161001', '20161101', '20161201', '20170101', '20170201', '20170301', '20170401', '20170501', '20170601', '20170701', '20170801', '20170901', '20171001', '20171101', '20171201', '20180101', '20180201', '20180301', '20180401', '20180501', '20180601', '20180701', '20180801', '20180901', '20181001', '20181101', '20181201', '20190101', '20190201', '20190301', '20190401', '20190501', '20190601', '20190701', '20190801', '20190901', '20191001', '20191101', '20191201', '20200101', '20200201', '20200301', '20200401', '20200501', '20200601', '20200701', '20200801', '20200901', '20201001', '20201101')))
