CREATE TABLE [dbo].[Fact_InvoiceAgingSnapshot]
(
	[SnapshotDate] date NULL,
	[SnapshotMonthID] int NOT NULL,
	[CitationID] bigint NOT NULL,
	[CustomerID] bigint NULL,
	[AgeStageID] int NULL,
	[CitationStageID] int NULL,
	[LaneID] int NOT NULL,
	[TPTripID] bigint NOT NULL,
	[InvoiceNumber] bigint NULL,
	[CurrentInvoiceFlag] bit NULL,
	[WriteOffFlag] bit NOT NULL,
	[DeleteFlag] bit NOT NULL,
	[TransactionDate] date NULL,
	[InvoiceDate] date NULL,
	[PostedDate] date NULL,
	[FirstNoticeFeeDate] date NULL,
	[SecondNoticeFeeDate] date NULL,
	[WriteOffDate] date NULL,
	[TollsDue] decimal(19,2) NULL,
	[FirstNoticeFees] decimal(38,6) NULL,
	[SecondNoticeFees] decimal(38,6) NULL,
	[OutstandingAmount] decimal(19,2) NULL,
	[FNFeesOutStandingAmount] decimal(38,6) NULL,
	[SNFeesOutStandingAmount] decimal(38,6) NULL,
	[WriteOffAmount] decimal(19,2) NULL,
	[TxnDate] date NULL,
	[EDW_UpdateDate] datetime2(3) NOT NULL
)
WITH(CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([CitationID]), 
	PARTITION ([SnapshotMonthID] RANGE RIGHT FOR VALUES (202001, 202002, 202003, 202004, 202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012, 202101, 202102, 202103, 202104, 202105, 202106, 202107, 202108, 202109, 202110, 202111, 202112, 202201, 202202, 202203, 202204, 202205, 202206, 202207, 202208, 202209, 202210, 202211, 202212, 202301, 202302, 202303, 202304, 202305, 202306, 202307, 202308, 202309, 202310, 202311, 202312, 202401, 202402, 202403, 202404)))
