CREATE TABLE [dbo].[Dim_AccountStatusTracker]
(
	[CustomerID] decimal(19,0) NULL,
	[AccountStatusSeq] bigint NULL,
	[DataSource] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TableSource] varchar(17) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[CustomerStatusDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountTypeID] bigint NULL,
	[AccountTypeDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountStatusID] bigint NULL,
	[AccountStatusDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountStatusStartDate] datetime2(3) NULL,
	[AccountStatusEndDate] datetime2(3) NOT NULL,
	[CreatedDate] datetime2(3) NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDate] datetime2(3) NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EmployeeID] bigint NULL,
	[UserName] varchar(121) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChannelID] int NULL,
	[ChannelName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChannelDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[POSID] bigint NULL,
	[ICNID] bigint NULL,
	[RITE_Acct_Hist_Seq] int NULL,
	[TRIPS_AccStatusHistID] int NULL,
	[TRIPS_HistID] bigint NULL,
	[RowNumFromFirst] bigint NULL,
	[RowNumFromLast] bigint NULL,
	[EDW_UpdateDate] datetime2(3) NULL
)
WITH(CLUSTERED INDEX ([CustomerID] ASC), DISTRIBUTION = HASH([CustomerID]))
