CREATE TABLE [dbo].[Fact_Invoice]
(
	[InvoiceNumber] bigint NULL,
	[FirstInvoiceID] bigint NULL,
	[CurrentInvoiceID] bigint NULL,
	[CustomerID] bigint NULL,
	[TestCaseFailedFlag] int NULL,
	[MigratedFlag] int NOT NULL,
	[VTollFlag] int NOT NULL,
	[UnassignedFlag] int NOT NULL,
	[AgeStageID] int NULL,
	[CollectionStatusID] bigint NULL,
	[CurrMbsID] bigint NULL,
	[VehicleID] bigint NULL,
	[EDW_InvoiceStatusID] int NULL,
	[ZipCashDate] date NULL,
	[FirstNoticeDate] date NULL,
	[SecondNoticeDate] date NULL,
	[ThirdNoticeDate] date NULL,
	[LegalActionPendingDate] date NULL,
	[CitationDate] date NULL,
	[DueDate] date NULL,
	[CurrMbsGeneratedDate] date NULL,
	[FirstpaymentDate] date NULL,
	[LastPaymentDate] date NULL,
	[FirstFeePaymentDate] date NULL,
	[LastFeePaymentDate] date NULL,
	[TxnCnt] int NULL,
	[InvoiceAmount] decimal(19,2) NULL,
	[PBMTollAmount] decimal(19,2) NULL,
	[AVITollAmount] decimal(19,2) NULL,
	[PremiumAmount] decimal(19,2) NULL,
	[Tolls] decimal(19,2) NULL,
	[FNFees] decimal(19,2) NULL,
	[SNFees] decimal(19,2) NULL,
	[ExpectedAmount] decimal(19,2) NULL,
	[TollsAdjusted] decimal(19,2) NULL,
	[FNFeesAdjusted] decimal(19,2) NULL,
	[SNFeesAdjusted] decimal(19,2) NULL,
	[AdjustedAmount] decimal(19,2) NULL,
	[AdjustedExpectedTolls] decimal(19,2) NULL,
	[AdjustedExpectedFNFees] decimal(19,2) NULL,
	[AdjustedExpectedSNFees] decimal(19,2) NULL,
	[AdjustedExpectedAmount] decimal(19,2) NULL,
	[TollsPaid] decimal(19,2) NULL,
	[FNFeesPaid] decimal(19,2) NULL,
	[SNFeesPaid] decimal(19,2) NULL,
	[PaidAmount] decimal(19,2) NULL,
	[TollOutStandingAmount] decimal(19,2) NULL,
	[FNFeesOutStandingAmount] decimal(19,2) NULL,
	[SNFeesOutStandingAmount] decimal(19,2) NULL,
	[OutstandingAmount] decimal(19,2) NULL,
	[EDW_Update_Date] datetime2(7) NOT NULL
)
WITH(CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([InvoiceNumber]))
