CREATE TABLE [dbo].[Fact_UnifiedTransaction_ThisRun]
(
	[TPTripID] bigint NOT NULL,
	[CustTripID] bigint NULL,
	[CitationID] bigint NULL,
	[TripDayID] int NOT NULL,
	[TripDate] datetime2(3) NULL,
	[TripWith] char(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SourceOfEntry] tinyint NULL,
	[LaneID] int NULL,
	[OperationsMappingID] int NULL,
	[TripIdentMethodID] int NULL,
	[LaneTripIdentMethodID] smallint NOT NULL,
	[RecordTypeID] smallint NOT NULL,
	[TransactionPostingTypeID] int NULL,
	[TripStageID] bigint NULL,
	[TripStatusID] bigint NULL,
	[ReasonCodeID] bigint NULL,
	[CitationStageID] int NULL,
	[TripPaymentStatusID] bigint NULL,
	[CustomerID] bigint NOT NULL,
	[VehicleID] bigint NOT NULL,
	[VehicleNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleState] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CustTagID] bigint NULL,
	[TagRefID] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TagAgency] varchar(6) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TxnAgencyID] bigint NULL,
	[AccountAgencyID] bigint NULL,
	[VehicleClassID] int NULL,
	[BadAddressFlag] smallint NULL,
	[NonRevenueFlag] smallint NULL,
	[BusinessRuleMatchedFlag] smallint NULL,
	[ManuallyReviewedFlag] smallint NOT NULL,
	[OOSPlateFlag] smallint NOT NULL,
	[VTollFlag] smallint NULL,
	[ClassAdjustmentFlag] smallint NOT NULL,
	[Rpt_PaidvsAEA] varchar(4) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[FirstPaidDate] date NULL,
	[LastPaidDate] date NULL,
	[ExpectedBase] decimal(19,2) NULL,
	[ExpectedPremium] decimal(19,2) NULL,
	[ExpectedAmount] decimal(19,2) NULL,
	[AdjustedExpectedAmount] decimal(19,2) NULL,
	[CalcAdjustedAmount] decimal(19,2) NOT NULL,
	[TripWithAdjustedAmount] decimal(19,2) NULL,
	[TollAmount] decimal(19,2) NULL,
	[ActualPaidAmount] decimal(19,2) NOT NULL,
	[OutStandingAmount] decimal(19,2) NOT NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[EDW_UpdateDate] datetime2(3) NULL,
	[BackupDate] datetime2(3) NULL
)
WITH(CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TPTripID]), 
	PARTITION ([TripDayID] RANGE RIGHT FOR VALUES (20190101, 20190401, 20190701, 20191001, 20200101, 20200401, 20200701, 20201001, 20210101, 20210401, 20210701, 20211001, 20220101, 20220401, 20220701, 20221101, 20230101, 20230401, 20230901, 20231001, 20240101, 20240401, 20240901, 20241001)))
