CREATE TABLE [dbo].[Fact_Transaction]
(
	[TPTripID] bigint NOT NULL,
	[TripDayID] int NOT NULL,
	[LaneID] int NOT NULL,
	[TripStageID] int NOT NULL,
	[TripStatusID] int NOT NULL,
	[PaymentStatusID] bigint NOT NULL,
	[SourceTripID] bigint NOT NULL,
	[LinkID] bigint NOT NULL,
	[VehicleID] bigint NOT NULL,
	[TagAgencyID] int NOT NULL,
	[TransactionPostingTypeID] int NOT NULL,
	[IPSTransactionID] bigint NOT NULL,
	[ReasonCodeID] int NOT NULL,
	[VehicleClassID] smallint NOT NULL,
	[TagVehicleClassID] smallint NOT NULL,
	[TripIdentMethodID] smallint NOT NULL,
	[SourceOfEntry] tinyint NOT NULL,
	[RecordType] varchar(4) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[RecordNumber] bigint NOT NULL,
	[VehicleSpeed] int NOT NULL,
	[Disposition] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TripWith] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TripDate] datetime2(3) NOT NULL,
	[TripStatusDate] date NOT NULL,
	[PostedDate] date NOT NULL,
	[NonRevenueFlag] bit NOT NULL,
	[DeleteFlag] bit NOT NULL,
	[TollAmount] decimal(9,2) NOT NULL,
	[FeeAmount] decimal(9,2) NOT NULL,
	[ReceivedTollAmount] decimal(9,2) NOT NULL,
	[OutStandingAmount] decimal(9,2) NOT NULL,
	[PBMTollAmount] decimal(9,2) NOT NULL,
	[AVITollAmount] decimal(9,2) NOT NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[LND_UpdateDate] datetime2(3) NOT NULL,
	[EDW_UpdateDate] datetime2(3) NOT NULL
)
WITH(CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TPTripID]), 
	PARTITION ([TripDayID] RANGE RIGHT FOR VALUES (20170101, 20170201, 20170301, 20170401, 20170501, 20170601, 20170701, 20170801, 20170901, 20171001, 20171101, 20171201, 20180101, 20180201, 20180301, 20180401, 20180501, 20180601, 20180701, 20180801, 20180901, 20181001, 20181101, 20181201, 20190101, 20190201, 20190301, 20190401, 20190501, 20190601, 20190701, 20190801, 20190901, 20191001, 20191101, 20191201, 20200101, 20200201, 20200301, 20200401, 20200501, 20200601, 20200701, 20200801, 20200901, 20201001, 20201101, 20201201, 20210101, 20210201, 20210301, 20210401, 20210501, 20210601, 20210701, 20210801, 20210901, 20211001, 20211101, 20211201, 20220101, 20220201, 20220301, 20220401, 20220501, 20220601, 20220701, 20220801, 20220901, 20221001, 20221101, 20221201, 20230101, 20230201, 20230301, 20230401, 20230501, 20230601, 20230701, 20230801, 20230901, 20231001, 20231101, 20231201, 20240101, 20240201, 20240301, 20240401)))
