CREATE TABLE [dbo].[Dim_HabitualViolator]
(
	[HVID] bigint NOT NULL,
	[CustomerID] bigint NOT NULL,
	[VehicleID] bigint NULL,
	[LicensePlateState] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LicensePlateNumber] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HVStatusLookupID] int NULL,
	[HVCurrentStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HVTerminationReason] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HVTransactionCount] int NULL,
	[AdminHearingCountyID] int NULL,
	[AdminHearingCountyName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AdminHearingStatusID] int NULL,
	[AdminHeaderingStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AdminHearingReason] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AdminHearingRequestedDate] datetime2(3) NULL,
	[VehicleRegistrationCountyID] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleRegistrationCountyName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RovAddressCountyID] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RovAddressCountyName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HVFirstQualifiedTranDate] datetime2(3) NULL,
	[HVLastQualifiedTranDate] datetime2(3) NULL,
	[HVDeterminationDate] datetime2(3) NULL,
	[LatestHVDeterminationLetterMailedDate] datetime2(3) NULL,
	[LatestHVDeterminationLetterDeliveredDate] datetime2(3) NULL,
	[EarliestHVDeterminationLetterMailedDate] datetime2(3) NULL,
	[EarliestHVDeterminationLetterDeliveredDate] datetime2(3) NULL,
	[HVTerminationDate] datetime2(3) NULL,
	[LatestHVTerminationLetterMailedDate] datetime2(3) NULL,
	[LatestHVTerminationLetterDeliveryDate] datetime2(3) NULL,
	[EarliestHVTerminationLetterMailedDate] datetime2(3) NULL,
	[EarliestHVTerminationLetterDeliveredDate] datetime2(3) NULL,
	[EarliestVRBStatusID] int NULL,
	[EarliestVRBStatusDescription] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EarliestVRBRemovalLookupID] int NULL,
	[EarliestVRBRemovallookupDescription] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EarliestVRBRequestedDate] datetime2(3) NULL,
	[EarliestVRBPlacedDate] datetime2(3) NULL,
	[EarliestVRBRemovedDate] datetime2(3) NULL,
	[LatestVRBStatusID] int NULL,
	[LatestVRBStatusDescription] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LatestVRBRemovalLookupID] int NULL,
	[LatestVRBRemovallookupDescription] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LatestVRBRequestedDate] datetime2(3) NULL,
	[LatestVRBPlacedDate] datetime2(3) NULL,
	[LatestVRBRemovedDate] datetime2(3) NULL,
	[LatestVRBLetterMailedDate] datetime2(3) NULL,
	[LatestVRBLetterDeliveredDate] datetime2(3) NULL,
	[EarliestVRBLetterMailedDate] datetime2(3) NULL,
	[EarliestVRBLetterDeliveredDate] datetime2(3) NULL,
	[VBRemovedDate] datetime2(3) NULL,
	[RemovalReasonID] int NULL,
	[RemovalReasonCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VBAppliedDate] datetime2(3) NULL,
	[LatestVehicleBanLetterMailedDate] datetime2(3) NULL,
	[LatestVehicleBanLetterDeliveredDate] datetime2(3) NULL,
	[EarliestVehicleBanLetterMailedDate] datetime2(3) NULL,
	[EarliestVehicleBanLetterDeliveredDate] datetime2(3) NULL,
	[Scheduledhearingdate] datetime2(3) NULL,
	[EarliestCitationDate] datetime2(3) NULL,
	[LatestCitationDate] datetime2(3) NULL,
	[HVTollsDue] decimal(19,2) NULL,
	[HVFeesDue] decimal(19,2) NULL,
	[HVCurrentDue] decimal(19,2) NULL,
	[MBSCurrentDue] decimal(19,2) NULL,
	[EDW_UpdateDate] datetime2(3) NOT NULL
)
WITH(CLUSTERED INDEX ([HVID] ASC), DISTRIBUTION = REPLICATE)
