CREATE TABLE [Ref].[Dim_Month]
(
	[Cal_MonthID] int NOT NULL,
	[SPS_MonthID] int NOT NULL,
	[MonthDate] date NULL,
	[MonthDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Cal_MonthOfYear] tinyint NULL,
	[Sps_MonthOfYear] tinyint NULL,
	[Cal_QuarterID] smallint NULL,
	[Sps_QuarterID] smallint NULL,
	[Cal_YearID] smallint NULL,
	[Sps_YearID] smallint NULL,
	[MonthDuration] tinyint NULL,
	[PrevMonthID] int NULL,
	[Cal_LQMonthID] int NULL,
	[Sps_LQMonthID] int NULL,
	[LYMonthID] int NULL,
	[P2MonthDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[P3MonthID] int NULL,
	[P3MonthDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[P4MonthID] int NULL,
	[P4MonthDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[P5MonthID] int NULL,
	[P5MonthDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[P6MonthID] int NULL,
	[P6MonthDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[P7MonthID] int NULL,
	[P7MonthDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[P8MonthID] int NULL,
	[P8MonthDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[P9MonthID] int NULL,
	[P9MonthDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[P10MonthID] int NULL,
	[P10MonthDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[P11MonthID] int NULL,
	[P11MonthDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[P12MonthID] int NULL,
	[P12MonthDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PrevLYMonthid] int NULL,
	[LYP3Monthid] int NULL,
	[LYP4Monthid] int NULL,
	[LYP5Monthid] int NULL,
	[LYP6Monthid] int NULL,
	[LYP7Monthid] int NULL,
	[LYP8Monthid] int NULL,
	[LYP9Monthid] int NULL,
	[LYP10Monthid] int NULL,
	[LYP11Monthid] int NULL,
	[LYP12Monthid] int NULL
)
WITH(CLUSTERED INDEX ([Cal_MonthID] ASC), DISTRIBUTION = REPLICATE)
