CREATE TABLE [Ref].[Dim_Day]
(
	[DayDate] date NOT NULL,
	[DayID] int NULL,
	[PrevDayID] int NULL,
	[Cal_MonthID] int NULL,
	[Sps_MonthID] int NULL,
	[Cal_QuarterID] smallint NULL,
	[Sps_QuarterID] smallint NULL,
	[Cal_YearID] smallint NULL,
	[Sps_YearID] smallint NULL,
	[PrevDayDate] date NULL,
	[LMDayDate] date NULL,
	[Cal_LQDayDate] date NULL,
	[Sps_LQDayDate] date NULL,
	[LYDayDate] date NULL,
	[Cal_WeekID] int NULL,
	[Sps_WeekID] int NULL,
	[Cal_LWDayDate] date NULL,
	[SPS_LWDayDate] date NULL,
	[DayDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PrevDayDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsWorkDay] int NULL,
	[IsWeekday] int NULL,
	[IsWeekend] int NULL,
	[WorkDaysInMonth] int NULL,
	[WorkDaysLeftInMonth] int NULL,
	[WorkDaysUsedInMonth] int NULL,
	[DaysInMonth] int NULL,
	[LastModified] date NOT NULL
)
WITH(CLUSTERED INDEX ([DayDate] ASC), DISTRIBUTION = REPLICATE)
