CREATE TABLE [Ref].[Bubble_XL_TRIPSDATA_Stage]
(
	[SnapshotMonthID] int NOT NULL,
	[AsOfDayID] int NULL,
	[TripMonthID] int NOT NULL,
	[FacilityID] int NOT NULL,
	[FacilityCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OperationsAgency] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[Mapping] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MappingDetailed] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PursUnpursStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TripIdentMethod] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RecordType] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TripWith] char(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransactionPostingType] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TripStageID] bigint NULL,
	[TripStageCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TripStageDesc] varchar(250) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TripStatusID] bigint NULL,
	[TripStatusCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TripStatusDesc] varchar(250) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ReasonCode] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CitationStageCode] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TripPaymentStatusDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SourceName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[NonRevenueFlag] smallint NULL,
	[BadAddressFlag] smallint NULL,
	[BusinessRuleMatchedFlag] smallint NULL,
	[OOSPlateFlag] smallint NULL,
	[ManuallyReviewedFlag] smallint NULL,
	[FirstPaidMonthID] int NOT NULL,
	[LastPaidMonthID] int NOT NULL,
	[TxnCount] bigint NULL,
	[ExpectedAmount] decimal(19,2) NULL,
	[AdjustedExpectedAmount] decimal(19,2) NULL,
	[ActualPaidAmount] decimal(19,2) NULL,
	[CalcAdjustedAmount] decimal(19,2) NULL,
	[OutStandingAmount] decimal(19,2) NULL,
	[TripWithAdjustedAmount] decimal(19,2) NULL,
	[TollAmount] decimal(19,2) NULL,
	[Rpt_PaidvsAEA] varchar(4) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[Rpt_PurUnP] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[Rpt_LPState] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[Rpt_InvUnInv] varchar(7) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[Rpt_VToll] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[Rpt_IRStatus] varchar(11) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[Rpt_ProcessStatus] varchar(22) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[Rpt_PaidStatus] varchar(18) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[Rpt_IRRejectStatus] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[EDW_UpdateDate] datetime2(3) NULL
)
WITH(HEAP, DISTRIBUTION = ROUND_ROBIN)
