CREATE TABLE [Ref].[Dim_Date]
(
	[DATE] date NOT NULL,
	[MONTH_WEEK] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DATE_DAY] varchar(6) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[DATE_FULL] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DATE_MONTH] varchar(6) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[DATE_YEAR_MONTH] varchar(7) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DATE_QUARTER] varchar(7) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[DATE_YEAR] varchar(6) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[DAY_OF_WEEK_NAME] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[BUSINESS_DAY] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[WEEKEND] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HOLIDAY] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HOLIDAY_NAME] varchar(60) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([DATE] ASC), DISTRIBUTION = REPLICATE)
