CREATE TABLE [Ref].[RiteMigratedInvoice]
(
	[InvoiceNumber] bigint NOT NULL,
	[FirstInvoiceID] int NULL,
	[CurrentInvoiceID] int NULL,
	[CustomerID] bigint NOT NULL,
	[AgeStageID] int NOT NULL,
	[CollectionStatusID] int NULL,
	[CurrMBSID] int NULL,
	[VehicleID] bigint NOT NULL,
	[LIC_PLATE_NBR] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LIC_PLATE_STATE] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[MigratedFlag] int NOT NULL,
	[InvoiceStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[EDW_InvoiceStatusID] int NULL,
	[ZipCashDate] date NOT NULL,
	[FirstNoticeDate] date NULL,
	[vb_inv_date_modified_SecondNoticeDate] date NULL,
	[SecondNoticeDate] date NULL,
	[ThirdNoticeDate] datetime2(7) NULL,
	[CitationDate] datetime2(0) NULL,
	[LegalActionPendingDate] datetime2(7) NULL,
	[DueDate] date NOT NULL,
	[CurrMBSGeneratedDate] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[FirstpaymentDate] date NULL,
	[LastPaymentDate] date NULL,
	[InvoiceAmount] money NOT NULL,
	[PBMTollAmount] int NULL,
	[AVITollAmount] int NULL,
	[PremiumAmount] int NULL,
	[TxnCnt] int NOT NULL,
	[Tolls] money NOT NULL,
	[FNFees] money NULL,
	[SNFees] money NULL,
	[FeesDue] money NULL,
	[ExpectedAmount] money NULL,
	[TollsAdjusted] money NULL,
	[FNFeesAdjusted] money NULL,
	[SNFeesAdjusted] money NULL,
	[AdjustedAmount] money NULL,
	[TollsPaid] money NOT NULL,
	[FNFeesPaid] money NULL,
	[SNFeesPaid] money NULL,
	[PaidAmount] money NOT NULL,
	[LastCACompanyID] bigint NOT NULL,
	[AdjustedExpectedTolls] money NULL,
	[AdjustedExpectedFNFees] money NULL,
	[AdjustedExpectedSNFees] money NULL,
	[AdjustedExpectedAmount] money NULL,
	[TollOutStandingAmount] money NULL,
	[FNFeesOutStandingAmount] money NULL,
	[SNFeesOutStandingAmount] money NULL,
	[OutstandingAmount] money NULL
)
WITH(CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([InvoiceNumber]))
