CREATE TABLE [Ref].[Dim_Lane]
(
	[LaneID] decimal(14,0) NOT NULL,
	[LaneAbbrev] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LaneName] varchar(240) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LaneDirection] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlazaID] decimal(14,0) NOT NULL,
	[PlazaAbbrev] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[PlazaName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[PlazaLatitude] decimal(23,12) NULL,
	[PlazaLongitude] decimal(23,12) NULL,
	[ZipCode] int NULL,
	[County] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SubFacilityAbbrev] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[FacilityID] decimal(14,0) NOT NULL,
	[FacilityAbbrev] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[FacilityName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[FacilityBitmaskID] bigint NOT NULL,
	[SubAgencyAbbrev] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[AgencyID] decimal(14,0) NOT NULL,
	[AgencyAbbrev] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[AgencyName] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[AgencyIsIOP] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LanyID] decimal(14,0) NULL,
	[Mileage] decimal(8,2) NULL,
	[PlazaSortOrder] int NULL,
	[Active] int NOT NULL,
	[LAstUpdateDate] datetime2(2) NOT NULL
)
WITH(CLUSTERED INDEX ([LaneID] ASC), DISTRIBUTION = REPLICATE)
