CREATE TABLE [Stage].[NonMigratedInvoice]
(
	[InvoiceNumber] bigint NULL,
	[FirstInvoiceID] bigint NOT NULL,
	[CurrentInvoiceID] bigint NOT NULL,
	[CustomerID] bigint NULL,
	[MigratedFlag] int NOT NULL,
	[VTollFlag] int NOT NULL,
	[UnassignedFlag] int NOT NULL,
	[AgeStageID] int NULL,
	[CollectionStatusID] bigint NOT NULL,
	[CurrMbsID] bigint NOT NULL,
	[VehicleID] bigint NULL,
	[ZipCashDate] date NULL,
	[FirstNoticeDate] date NULL,
	[SecondNoticeDate] date NULL,
	[ThirdNoticeDate] date NULL,
	[LegalActionPendingDate] date NULL,
	[CitationDate] date NULL,
	[DueDate] date NULL,
	[CurrMbsGeneratedDate] date NOT NULL,
	[FirstPaymentDate] date NULL,
	[LastPaymentDate] date NULL,
	[FirstFeePaymentDate] datetime2(3) NULL,
	[LastFeePaymentDate] datetime2(3) NULL,
	[InvoiceStatusID] int NULL,
	[TxnCnt] int NULL,
	[InvoiceAmount] decimal(19,2) NULL,
	[PBMTollAmount] decimal(19,2) NULL,
	[AVITollAmount] decimal(19,2) NULL,
	[PremiumAmount] decimal(19,2) NULL,
	[Tolls] decimal(19,2) NULL,
	[FNFees] decimal(19,2) NULL,
	[SNFees] decimal(19,2) NULL,
	[ExpectedAmount] decimal(21,2) NULL,
	[TollsAdjusted] decimal(19,2) NULL,
	[FNFeesAdjusted] decimal(19,2) NULL,
	[SNFeesAdjusted] decimal(19,2) NULL,
	[AdjustedAmount] decimal(21,2) NULL,
	[AdjustedExpectedTolls] decimal(20,2) NULL,
	[AdjustedExpectedFNFees] decimal(20,2) NULL,
	[AdjustedExpectedSNFees] decimal(20,2) NULL,
	[AdjustedExpectedAmount] decimal(22,2) NULL,
	[TollsPaid] decimal(19,2) NULL,
	[FNFeesPaid] decimal(19,2) NULL,
	[SNFeesPaid] decimal(19,2) NULL,
	[PaidAmount] decimal(21,2) NULL,
	[TollOutStandingAmount] decimal(38,2) NULL,
	[FNFeesOutStandingAmount] decimal(21,2) NULL,
	[SNFeesOutStandingAmount] decimal(21,2) NULL,
	[OutstandingAmount] decimal(38,2) NULL,
	[EDW_Update_Date] datetime2(7) NOT NULL,
	[InvoiceStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EDW_InvoiceStatusID] int NOT NULL
)
WITH(CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([InvoiceNumber]))
