CREATE TABLE [Stage].[AccountStatusDetail]
(
	[CustomerID] bigint NOT NULL,
	[RegCustRefID] bigint NOT NULL,
	[UserTypeID] bigint NULL,
	[AccountCreateDate] datetime2(3) NULL,
	[AccountCreatedBy] varchar(121) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountCreateChannelID] int NULL,
	[AccountCreateChannelName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountCreateChannelDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountCreatePOSID] bigint NULL,
	[AccountOpenDate] datetime2(3) NULL,
	[AccountOpenedBy] varchar(121) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountOpenChannelID] int NULL,
	[AccountOpenChannelName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountOpenChannelDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountOpenPOSID] bigint NULL,
	[AccountLastActiveDate] datetime2(3) NULL,
	[AccountLastActiveBy] varchar(121) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountLastActiveChannelID] int NULL,
	[AccountLastActiveChannelName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountLastActiveChannelDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountLastActivePOSID] bigint NULL,
	[AccountLastCloseDate] datetime2(3) NULL,
	[AccountLastCloseBy] varchar(121) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountLastCloseChannelID] int NULL,
	[AccountLastCloseChannelName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountLastCloseChannelDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountLastClosePOSID] bigint NULL
)
WITH(CLUSTERED INDEX ([CustomerID] ASC), DISTRIBUTION = HASH([CustomerID]))
