CREATE TABLE [Temp].[Fact_InvoiceAgingSnapshot_TO_INSERT]
(
	[SnapshotDate] date NULL,
	[SnapshotMonthID] int NOT NULL,
	[CitationID] bigint NOT NULL,
	[CustomerID] bigint NULL,
	[AgeStageID] int NULL,
	[CitationStageID] int NULL,
	[LaneID] int NOT NULL,
	[TPTripID] bigint NOT NULL,
	[InvoiceNumber] bigint NULL,
	[CurrentInvoiceFlag] bit NULL,
	[WriteOffFlag] bit NOT NULL,
	[DeleteFlag] bit NOT NULL,
	[TransactionDate] date NULL,
	[InvoiceDate] date NULL,
	[PostedDate] date NULL,
	[FirstNoticeFeeDate] date NULL,
	[SecondNoticeFeeDate] date NULL,
	[WriteOffDate] date NULL,
	[TollsDue] decimal(19,2) NULL,
	[FirstNoticeFees] decimal(38,6) NULL,
	[SecondNoticeFees] decimal(38,6) NULL,
	[OutstandingAmount] decimal(19,2) NULL,
	[FNFeesOutStandingAmount] decimal(38,6) NULL,
	[SNFeesOutStandingAmount] decimal(38,6) NULL,
	[WriteOffAmount] decimal(19,2) NULL,
	[TxnDate] date NULL,
	[EDW_UpdateDate] datetime2(3) NOT NULL,
	[RN] bigint NULL
)
WITH(HEAP, DISTRIBUTION = HASH([CitationID]))
