CREATE TABLE [Temp].[Dim_Vehicle]
(
	[VehicleID] bigint NOT NULL,
	[CustomerID] bigint NOT NULL,
	[LicensePlateNumber] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LicensePlateState] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LicensePlateCountry] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[VehicleYear] int NULL,
	[VehicleMake] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleModel] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleColor] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleStartDate] datetime2(3) NOT NULL,
	[VehicleEndDate] datetime2(3) NOT NULL,
	[VehicleStatusID] int NOT NULL,
	[VehicleStatusCode] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[VehicleStatusDesc] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[VehicleClassID] int NOT NULL,
	[DocNo] varchar(17) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TagID] varchar(12) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[County] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VIN] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ContractualTypeID] int NOT NULL,
	[ContractualTypeCode] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[ContractualTypeDesc] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[ExemptedFlag] int NOT NULL,
	[HVFlag] int NOT NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[LND_UpdateDate] datetime2(3) NOT NULL,
	[EDW_UpdateDate] datetime2(3) NULL
)
WITH(CLUSTERED INDEX ([VehicleID] ASC), DISTRIBUTION = HASH([CustomerID]))
