CREATE TABLE [Temp].[LEFTOVER_OLD_Fact_Transaction_INCR_FULL_LOAD_09182023]
(
	[TPTripID] bigint NOT NULL,
	[TripDayID] int NOT NULL,
	[LaneID] int NOT NULL,
	[TripStageID] int NOT NULL,
	[TripStatusID] int NOT NULL,
	[PaymentStatusID] bigint NOT NULL,
	[SourceTripID] bigint NOT NULL,
	[LinkID] bigint NOT NULL,
	[VehicleID] bigint NOT NULL,
	[TagAgencyID] int NOT NULL,
	[TransactionPostingTypeID] int NOT NULL,
	[IPSTransactionID] bigint NOT NULL,
	[ReasonCodeID] int NOT NULL,
	[VehicleClassID] smallint NOT NULL,
	[TagVehicleClassID] smallint NOT NULL,
	[TripIdentMethodID] smallint NOT NULL,
	[SourceOfEntry] tinyint NOT NULL,
	[RecordType] varchar(4) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[RecordNumber] bigint NOT NULL,
	[VehicleSpeed] int NOT NULL,
	[Disposition] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TripWith] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TripDate] datetime2(3) NOT NULL,
	[TripStatusDate] date NOT NULL,
	[PostedDate] date NOT NULL,
	[NonRevenueFlag] bit NOT NULL,
	[DeleteFlag] bit NOT NULL,
	[TollAmount] decimal(9,2) NOT NULL,
	[FeeAmount] decimal(9,2) NOT NULL,
	[ReceivedTollAmount] decimal(9,2) NOT NULL,
	[OutStandingAmount] decimal(9,2) NOT NULL,
	[PBMTollAmount] decimal(9,2) NOT NULL,
	[AVITollAmount] decimal(9,2) NOT NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[LND_UpdateDate] datetime2(3) NOT NULL,
	[EDW_UpdateDate] datetime2(3) NOT NULL
)
WITH(CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = ROUND_ROBIN)
