CREATE PROC [dbo].[LAST_UPDATE_DATE_FROM_LANDING_TABLE_GET] @TABLE_SCHEMA [varchar](255),@TABLE_NAME [varchar](255),@LAST_UPDATE_DATE [datetime2](7) OUT AS
BEGIN 

	IF (SELECT APPLY_ALL_CHANGES FROM dbo.LANDING_CDC_CONTROL) <> 1 
		BEGIN 

			IF OBJECT_ID('tempdb..#LAST_UPDATE_DATE_FROM_LANDING_TABLE_GET')<>0
				DROP TABLE #LAST_UPDATE_DATE_FROM_LANDING_TABLE_GET

			CREATE TABLE #LAST_UPDATE_DATE_FROM_LANDING_TABLE_GET
			(
				LAST_UPDATE_DATE datetime2(7)
			) WITH (LOCATION = USER_DB)

			DECLARE @SQL varchar(8000) = 
			'
				INSERT INTO #LAST_UPDATE_DATE_FROM_LANDING_TABLE_GET
				SELECT TOP 1 LAST_UPDATE_DATE FROM ' + @TABLE_SCHEMA + '.' + @TABLE_NAME + ' ORDER BY LAST_UPDATE_DATE DESC

				INSERT INTO #LAST_UPDATE_DATE_FROM_LANDING_TABLE_GET
				SELECT ''1/1/1900'' AS LAST_UPDATE_DATE
			'
			EXEC (@SQL)

			SET @LAST_UPDATE_DATE = (SELECT TOP 1 LAST_UPDATE_DATE FROM #LAST_UPDATE_DATE_FROM_LANDING_TABLE_GET ORDER BY LAST_UPDATE_DATE DESC)
			PRINT @LAST_UPDATE_DATE
		END	
	ELSE 
		BEGIN 
			SET @LAST_UPDATE_DATE = '1/1/1900'
			PRINT @LAST_UPDATE_DATE
		END
END


