CREATE PROC [DMVLD].[VEHICLES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'DMVLD','VEHICLES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'DMVLD','VEHICLES_CT_UPD'
CREATE STATISTICS STATS_VEHICLES_CT_UPD_001 ON DMVLD.VEHICLES_CT_UPD (ID)
CREATE STATISTICS STATS_VEHICLES_CT_UPD_002 ON DMVLD.VEHICLES_CT_UPD (ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#VEHICLES_CT_UPD_Dups')<>0
	DROP TABLE #VEHICLES_CT_UPD_Dups

CREATE TABLE #VEHICLES_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.ID, A.INSERT_DATETIME
	FROM DMVLD.VEHICLES_CT_UPD A
	INNER JOIN 
		(
			SELECT ID
			FROM DMVLD.VEHICLES_CT_UPD
			GROUP BY ID
			HAVING COUNT(*)>1
		) Dups ON A.ID = Dups.ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#VEHICLES_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #VEHICLES_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #VEHICLES_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID), LOCATION = USER_DB)
AS
	SELECT  
 A.ID, A.VIN, A.BODY_TYPE, A.CLASS, A.YEAR, A.MODL_ID, A.SOURCE_ID, A.VETY_ID, A.MAKE_ID, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED,
 A.SOURCE_CODE, A.VIN_ON_FILE,A.INSERT_DATETIME

	FROM DMVLD.VEHICLES_CT_UPD A
	INNER JOIN 
		(
			SELECT ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #VEHICLES_CT_UPD_Dups
			GROUP BY ID
		) LastRcrd ON A.ID = LastRcrd.ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM DMVLD.VEHICLES_CT_UPD 
WHERE EXISTS(SELECT * FROM #VEHICLES_CT_UPD_Dups B WHERE DMVLD.VEHICLES_CT_UPD.ID = B.ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO DMVLD.VEHICLES_CT_UPD 
	(  
 ID, VIN, BODY_TYPE, CLASS, YEAR, MODL_ID, SOURCE_ID, VETY_ID, MAKE_ID, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED,
 SOURCE_CODE, VIN_ON_FILE,INSERT_DATETIME
	)
SELECT 
 ID, VIN, BODY_TYPE, CLASS, YEAR, MODL_ID, SOURCE_ID, VETY_ID, MAKE_ID, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED,
 SOURCE_CODE, VIN_ON_FILE,INSERT_DATETIME

FROM #VEHICLES_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  DMVLD.VEHICLES
	SET 
	 
	   DMVLD.VEHICLES.VIN			  =B.VIN
	 , DMVLD.VEHICLES.BODY_TYPE		  =B.BODY_TYPE
	 , DMVLD.VEHICLES.CLASS			  =B.CLASS
	 , DMVLD.VEHICLES.YEAR			  =B.YEAR
	 , DMVLD.VEHICLES.MODL_ID		  =B.MODL_ID
	 , DMVLD.VEHICLES.SOURCE_ID		  =B.SOURCE_ID
	 , DMVLD.VEHICLES.VETY_ID		  =B.VETY_ID
	 , DMVLD.VEHICLES.MAKE_ID		  =B.MAKE_ID
	 , DMVLD.VEHICLES.CREATED_BY	  =B.CREATED_BY
	 , DMVLD.VEHICLES.DATE_CREATED	  =B.DATE_CREATED
	 , DMVLD.VEHICLES.MODIFIED_BY	  =B.MODIFIED_BY
	 , DMVLD.VEHICLES.DATE_MODIFIED	  =B.DATE_MODIFIED
	 , DMVLD.VEHICLES.SOURCE_CODE	  =B.SOURCE_CODE
	 , DMVLD.VEHICLES.VIN_ON_FILE	  =B.VIN_ON_FILE
	 , DMVLD.VEHICLES.LAST_UPDATE_DATE=B.[INSERT_DATETIME]
	 , DMVLD.VEHICLES.LAST_UPDATE_TYPE='U'
	 
	FROM DMVLD.VEHICLES_CT_UPD B
	WHERE DMVLD.VEHICLES.ID = B.ID

