CREATE PROC [DMVLD].[ADDRESSES_DELETE] AS


EXEC DropStats 'DMVLD','ADDRESSES_CT_DEL'
CREATE STATISTICS STATS_ADDRESSES_CT_DEL_001 ON DMVLD.ADDRESSES_CT_DEL (ID)
CREATE STATISTICS STATS_ADDRESSES_CT_DEL_002 ON DMVLD.ADDRESSES_CT_DEL (ID, INSERT_DATETIME)



UPDATE DMVLD.ADDRESSES
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM DMVLD.ADDRESSES_CT_DEL B
WHERE DMVLD.ADDRESSES.ID = B.ID
