CREATE PROC [DMVLD].[VO_ADDR_XREF_DELETE] AS


EXEC DropStats 'DMVLD','VO_ADDR_XREF_CT_DEL'
CREATE STATISTICS STATS_VO_ADDR_XREF_CT_DEL_001 ON DMVLD.VO_ADDR_XREF_CT_DEL (ID)
CREATE STATISTICS STATS_VO_ADDR_XREF_CT_DEL_002 ON DMVLD.VO_ADDR_XREF_CT_DEL (ID, INSERT_DATETIME)



UPDATE DMVLD.VO_ADDR_XREF
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM DMVLD.VO_ADDR_XREF_CT_DEL B
WHERE DMVLD.VO_ADDR_XREF.ID = B.ID
