CREATE PROC [DMVLD].[ADDRESSES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'DMVLD','ADDRESSES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'DMVLD','ADDRESSES_CT_UPD'
CREATE STATISTICS STATS_ADDRESSES_CT_UPD_001 ON DMVLD.ADDRESSES_CT_UPD (ID)
CREATE STATISTICS STATS_ADDRESSES_CT_UPD_002 ON DMVLD.ADDRESSES_CT_UPD (ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#ADDRESSES_CT_UPD_Dups')<>0
	DROP TABLE #ADDRESSES_CT_UPD_Dups

CREATE TABLE #ADDRESSES_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.ID, A.INSERT_DATETIME
	FROM DMVLD.ADDRESSES_CT_UPD A
	INNER JOIN 
		(
			SELECT ID
			FROM DMVLD.ADDRESSES_CT_UPD
			GROUP BY ID
			HAVING COUNT(*)>1
		) Dups ON A.ID = Dups.ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#ADDRESSES_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #ADDRESSES_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #ADDRESSES_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID), LOCATION = USER_DB)
AS
	SELECT  
 A.ID, A.STREET, A.CITY, A.STATE, A.ZIP, A.PLUS4, A.SOURCE_ID, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, A.SOURCE_CODE, A.COUNTRY_CODE, A.INSERT_DATETIME
	

	FROM DMVLD.ADDRESSES_CT_UPD A
	INNER JOIN 
		(
			SELECT ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #ADDRESSES_CT_UPD_Dups
			GROUP BY ID
		) LastRcrd ON A.ID = LastRcrd.ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM DMVLD.ADDRESSES_CT_UPD 
WHERE EXISTS(SELECT * FROM #ADDRESSES_CT_UPD_Dups B WHERE DMVLD.ADDRESSES_CT_UPD.ID = B.ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO DMVLD.ADDRESSES_CT_UPD 
	(  
 ID, STREET, CITY, STATE, ZIP, PLUS4, SOURCE_ID, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, SOURCE_CODE, COUNTRY_CODE
	,INSERT_DATETIME
	)
SELECT 
      ID, STREET, CITY, STATE, ZIP, PLUS4, SOURCE_ID, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, SOURCE_CODE, COUNTRY_CODE
	,INSERT_DATETIME

FROM #ADDRESSES_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  DMVLD.ADDRESSES
	SET 
	    
	     DMVLD.ADDRESSES.STREET				 =B.STREET
	  ,  DMVLD.ADDRESSES.CITY				 =B.CITY
	  ,  DMVLD.ADDRESSES.STATE				 =B.STATE
	  ,  DMVLD.ADDRESSES.ZIP				 =B.ZIP
	  ,  DMVLD.ADDRESSES.PLUS4				 =B.PLUS4
	  ,  DMVLD.ADDRESSES.SOURCE_ID			 =B.SOURCE_ID
	  ,  DMVLD.ADDRESSES.DATE_CREATED		 =B.DATE_CREATED
	  ,  DMVLD.ADDRESSES.CREATED_BY			 =B.CREATED_BY
	  ,  DMVLD.ADDRESSES.DATE_MODIFIED		 =B.DATE_MODIFIED
	  ,  DMVLD.ADDRESSES.MODIFIED_BY		 =B.MODIFIED_BY
	  ,  DMVLD.ADDRESSES.SOURCE_CODE		 =B.SOURCE_CODE
	  ,  DMVLD.ADDRESSES.COUNTRY_CODE		 =B.COUNTRY_CODE
	  ,  DMVLD.ADDRESSES.LAST_UPDATE_DATE	 =B.[INSERT_DATETIME] 
	  ,  DMVLD.ADDRESSES.LAST_UPDATE_TYPE	 ='U'


	FROM DMVLD.ADDRESSES_CT_UPD B
	WHERE DMVLD.ADDRESSES.ID = B.ID

