CREATE PROC [DMVLD].[DMV_RECORDS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'DMVLD','DMV_RECORDS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'DMVLD','DMV_RECORDS_CT_UPD'
CREATE STATISTICS STATS_DMV_RECORDS_CT_UPD_001 ON DMVLD.DMV_RECORDS_CT_UPD (DREC_ID)
CREATE STATISTICS STATS_DMV_RECORDS_CT_UPD_002 ON DMVLD.DMV_RECORDS_CT_UPD (DREC_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#DMV_RECORDS_CT_UPD_Dups')<>0
	DROP TABLE #DMV_RECORDS_CT_UPD_Dups

CREATE TABLE #DMV_RECORDS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (DREC_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.DREC_ID, A.INSERT_DATETIME
	FROM DMVLD.DMV_RECORDS_CT_UPD A
	INNER JOIN 
		(
			SELECT DREC_ID
			FROM DMVLD.DMV_RECORDS_CT_UPD
			GROUP BY DREC_ID
			HAVING COUNT(*)>1
		) Dups ON A.DREC_ID = Dups.DREC_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#DMV_RECORDS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #DMV_RECORDS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #DMV_RECORDS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (DREC_ID), LOCATION = USER_DB)
AS
	SELECT  

	 A.DREC_ID, A.RAW_ID, A.DOCNO, A.REGPLTNO, A.REGEXPYR, A.REGEXPMO, A.REG_EXP_DATE, A.VIN, A.OWNRSHPEVIDCD, A.BNDEDTTLCD, A.DOCTYPECD, A.TTLISSUEDATE, A.TTLPROCSCD,
	  A.PREVOWNRNAME, A.PREVOWNRCITY, A.PREVOWNRSTATE, A.VEHBDYTYPE, A.VEHCLASSCD, A.VEHMK, A.VEHMODLYR, A.VEHMODL, A.VEHTON, A.REPLICAVEHMK, A.REPLICAVEHMODELYR,
	   A.TRLRTYPE, A.VEHBDYVIN, A.VEHLNGTH, A.VEHODMTRBRND, A.VEHODMTRREADNG, A.VEHSALESPRICE, A.VEHSOLDDATE, A.SOLD_DATE, A.VEHEMPTYWT, A.VEHGROSSWT, A.ADDLLIENRECRDINDI,
	    A.AGNCYLOANDINDI, A.DIESELINDI, A.DOTSTNDRDSINDI, A.DPSSTLNINDI, A.EXMPTINDI, A.FXDWTINDI, A.FLOODDMGEINDI, A.GOVTOWNDINDI, A.TTLHOTCKINDI, A.INSPECTNWAINVEDINDI,
		 A.JNKINDI, A.PRMTREQRDINDI, A.PRIORCCOISSUEINDI, A.RECONDCD, A.RECONTINDI, A.SURVSHPRIGHTSINDI, A.TTLREVKINDI, A.VINERRINDI, A.OTHERSTATECNTRY, A.SURRTTLDATE,
		  A.LEGALRESTRNTNO, A.CCOISSUEDATE, A.TTLVEHLOCST, A.TTLVEHLOCCITY, A.TTLVEHLOCSTATE, A.TTLVEHLOCZPCD, A.TTLVEHLOCZPCDP4, A.REGSTKRNO, A.TRANSCD, A.RESCOMPTCNTYNO,
		   A.REGEFFDATE, A.REG_EFF_DATE, A.RECPNTNAME, A.RENWLMAILNGST, A.RENWLMAILNGCITY, A.RENWLMAILNGSTATE, A.RENWLMAILNGZPCD, A.RENWLMAILNGZPCDP4, A.RENWLMAILRTRNINDI,
		    A.DPSSAFTYSUSPINDI, A.HVYVEHUSETAXINDI, A.REGINVLDINDI, A.REGHOTCKINDI, A.PLTSSEIZDINDI, A.STKRSEIZDINDI, A.REGCLASSCD, A.SALVSTATECNTRY, A.PREVPLTNO, A.PREVEXPMO,
			 A.PREVEXPYR, A.OWNRID, A.OWNRTTLNAME, A.OWNRST, A.OWNRCITY, A.OWNRSTATE, A.OWNRZPCD, A.OWNRZPCDP4, A.OWNRCNTRY, A.PRIVACYOPTCD, A.NO_OF_LIENS, A.LIENHLDRNO_1,
			  A.LIENDATE_1, A.LIENHLDRNAME1_1, A.LIENHLDRNAME2_1, A.LIENHLDRST1_1, A.LIENHLDRST2_1, A.LIENHLDRCITY_1, A.LIENHLDRSTATE_1, A.LIENHLDRZPCD_1, A.LIENHLDRZPCDP4_1,
			   A.LIENHLDRCNTRY_1, A.LIENHLDRNO_2, A.LIENDATE_2, A.LIENHLDRNAME1_2, A.LIENHLDRNAME2_2, A.LIENHLDRST1_2, A.LIENHLDRST2_2, A.LIENHLDRCITY_2, A.LIENHLDRSTATE_2,
			    A.LIENHLDRZPCD_2, A.LIENHLDRZPCDP4_2, A.LIENHLDRCNTRY_2, A.LIENHLDRNO_3, A.LIENDATE_3, A.LIENHLDRNAME1_3, A.LIENHLDRNAME2_3, A.LIENHLDRST1_3, A.LIENHLDRST2_3,
				 A.LIENHLDRCITY_3, A.LIENHLDRSTATE_3, A.LIENHLDRZPCD_3, A.LIENHLDRZPCDP4_3, A.LIENHLDRCNTRY_3, A.CREATED_DATE, A.STATUS_OLD, A.PREVEXPDATE, A.TTL_ISSUE_DATE,
				  A.FILE_ID, A.RECORD_NUMBER, A.STATUS, A.LEMONLAWINDI, A.VEHMJRCOLORCD, A.VEHMNRCOLORCD, A.DATE_PROCESSED, A.EXPORTINDI, A.PREVTTLNO, A.PREVVIN, A.PREVTTLJURIS,
				   A.PREVTTLISSUEDATE, A.PREVTTL_ISSUE_DATE, A.INITTTLTRANSCD, A.NMVTISHOLDDATE, A.NMVTISHOLD_DATE,A.INSERT_DATETIME
	

	FROM DMVLD.DMV_RECORDS_CT_UPD A
	INNER JOIN 
		(
			SELECT DREC_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #DMV_RECORDS_CT_UPD_Dups
			GROUP BY DREC_ID
		) LastRcrd ON A.DREC_ID = LastRcrd.DREC_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM DMVLD.DMV_RECORDS_CT_UPD 
WHERE EXISTS(SELECT * FROM #DMV_RECORDS_CT_UPD_Dups B WHERE DMVLD.DMV_RECORDS_CT_UPD.DREC_ID = B.DREC_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO DMVLD.DMV_RECORDS_CT_UPD 
	(  
DREC_ID, RAW_ID, DOCNO, REGPLTNO, REGEXPYR, REGEXPMO, REG_EXP_DATE, VIN, OWNRSHPEVIDCD, BNDEDTTLCD, DOCTYPECD, TTLISSUEDATE, TTLPROCSCD, PREVOWNRNAME,
			  PREVOWNRCITY, PREVOWNRSTATE, VEHBDYTYPE, VEHCLASSCD, VEHMK, VEHMODLYR, VEHMODL, VEHTON, REPLICAVEHMK, REPLICAVEHMODELYR, TRLRTYPE, VEHBDYVIN, VEHLNGTH,
			   VEHODMTRBRND, VEHODMTRREADNG, VEHSALESPRICE, VEHSOLDDATE, SOLD_DATE, VEHEMPTYWT, VEHGROSSWT, ADDLLIENRECRDINDI, AGNCYLOANDINDI, DIESELINDI, DOTSTNDRDSINDI,
			    DPSSTLNINDI, EXMPTINDI, FXDWTINDI, FLOODDMGEINDI, GOVTOWNDINDI, TTLHOTCKINDI, INSPECTNWAINVEDINDI, JNKINDI, PRMTREQRDINDI, PRIORCCOISSUEINDI, RECONDCD,
				 RECONTINDI, SURVSHPRIGHTSINDI, TTLREVKINDI, VINERRINDI, OTHERSTATECNTRY, SURRTTLDATE, LEGALRESTRNTNO, CCOISSUEDATE, TTLVEHLOCST, TTLVEHLOCCITY, TTLVEHLOCSTATE,
				  TTLVEHLOCZPCD, TTLVEHLOCZPCDP4, REGSTKRNO, TRANSCD, RESCOMPTCNTYNO, REGEFFDATE, REG_EFF_DATE, RECPNTNAME, RENWLMAILNGST, RENWLMAILNGCITY, RENWLMAILNGSTATE,
				   RENWLMAILNGZPCD, RENWLMAILNGZPCDP4, RENWLMAILRTRNINDI, DPSSAFTYSUSPINDI, HVYVEHUSETAXINDI, REGINVLDINDI, REGHOTCKINDI, PLTSSEIZDINDI, STKRSEIZDINDI,
				    REGCLASSCD, SALVSTATECNTRY, PREVPLTNO, PREVEXPMO, PREVEXPYR, OWNRID, OWNRTTLNAME, OWNRST, OWNRCITY, OWNRSTATE, OWNRZPCD, OWNRZPCDP4, OWNRCNTRY,
					 PRIVACYOPTCD, NO_OF_LIENS, LIENHLDRNO_1, LIENDATE_1, LIENHLDRNAME1_1, LIENHLDRNAME2_1, LIENHLDRST1_1, LIENHLDRST2_1, LIENHLDRCITY_1, LIENHLDRSTATE_1,
					  LIENHLDRZPCD_1, LIENHLDRZPCDP4_1, LIENHLDRCNTRY_1, LIENHLDRNO_2, LIENDATE_2, LIENHLDRNAME1_2, LIENHLDRNAME2_2, LIENHLDRST1_2, LIENHLDRST2_2, LIENHLDRCITY_2,
					   LIENHLDRSTATE_2, LIENHLDRZPCD_2, LIENHLDRZPCDP4_2, LIENHLDRCNTRY_2, LIENHLDRNO_3, LIENDATE_3, LIENHLDRNAME1_3, LIENHLDRNAME2_3, LIENHLDRST1_3, LIENHLDRST2_3,
					    LIENHLDRCITY_3, LIENHLDRSTATE_3, LIENHLDRZPCD_3, LIENHLDRZPCDP4_3, LIENHLDRCNTRY_3, CREATED_DATE, STATUS_OLD, PREVEXPDATE, TTL_ISSUE_DATE, FILE_ID,
						 RECORD_NUMBER, STATUS, LEMONLAWINDI, VEHMJRCOLORCD, VEHMNRCOLORCD, DATE_PROCESSED, EXPORTINDI, PREVTTLNO, PREVVIN, PREVTTLJURIS, PREVTTLISSUEDATE,
						  PREVTTL_ISSUE_DATE, INITTTLTRANSCD, NMVTISHOLDDATE, NMVTISHOLD_DATE
	,INSERT_DATETIME
	)
SELECT 
      DREC_ID, RAW_ID, DOCNO, REGPLTNO, REGEXPYR, REGEXPMO, REG_EXP_DATE, VIN, OWNRSHPEVIDCD, BNDEDTTLCD, DOCTYPECD, TTLISSUEDATE, TTLPROCSCD, PREVOWNRNAME,
			  PREVOWNRCITY, PREVOWNRSTATE, VEHBDYTYPE, VEHCLASSCD, VEHMK, VEHMODLYR, VEHMODL, VEHTON, REPLICAVEHMK, REPLICAVEHMODELYR, TRLRTYPE, VEHBDYVIN, VEHLNGTH,
			   VEHODMTRBRND, VEHODMTRREADNG, VEHSALESPRICE, VEHSOLDDATE, SOLD_DATE, VEHEMPTYWT, VEHGROSSWT, ADDLLIENRECRDINDI, AGNCYLOANDINDI, DIESELINDI, DOTSTNDRDSINDI,
			    DPSSTLNINDI, EXMPTINDI, FXDWTINDI, FLOODDMGEINDI, GOVTOWNDINDI, TTLHOTCKINDI, INSPECTNWAINVEDINDI, JNKINDI, PRMTREQRDINDI, PRIORCCOISSUEINDI, RECONDCD,
				 RECONTINDI, SURVSHPRIGHTSINDI, TTLREVKINDI, VINERRINDI, OTHERSTATECNTRY, SURRTTLDATE, LEGALRESTRNTNO, CCOISSUEDATE, TTLVEHLOCST, TTLVEHLOCCITY, TTLVEHLOCSTATE,
				  TTLVEHLOCZPCD, TTLVEHLOCZPCDP4, REGSTKRNO, TRANSCD, RESCOMPTCNTYNO, REGEFFDATE, REG_EFF_DATE, RECPNTNAME, RENWLMAILNGST, RENWLMAILNGCITY, RENWLMAILNGSTATE,
				   RENWLMAILNGZPCD, RENWLMAILNGZPCDP4, RENWLMAILRTRNINDI, DPSSAFTYSUSPINDI, HVYVEHUSETAXINDI, REGINVLDINDI, REGHOTCKINDI, PLTSSEIZDINDI, STKRSEIZDINDI,
				    REGCLASSCD, SALVSTATECNTRY, PREVPLTNO, PREVEXPMO, PREVEXPYR, OWNRID, OWNRTTLNAME, OWNRST, OWNRCITY, OWNRSTATE, OWNRZPCD, OWNRZPCDP4, OWNRCNTRY,
					 PRIVACYOPTCD, NO_OF_LIENS, LIENHLDRNO_1, LIENDATE_1, LIENHLDRNAME1_1, LIENHLDRNAME2_1, LIENHLDRST1_1, LIENHLDRST2_1, LIENHLDRCITY_1, LIENHLDRSTATE_1,
					  LIENHLDRZPCD_1, LIENHLDRZPCDP4_1, LIENHLDRCNTRY_1, LIENHLDRNO_2, LIENDATE_2, LIENHLDRNAME1_2, LIENHLDRNAME2_2, LIENHLDRST1_2, LIENHLDRST2_2, LIENHLDRCITY_2,
					   LIENHLDRSTATE_2, LIENHLDRZPCD_2, LIENHLDRZPCDP4_2, LIENHLDRCNTRY_2, LIENHLDRNO_3, LIENDATE_3, LIENHLDRNAME1_3, LIENHLDRNAME2_3, LIENHLDRST1_3, LIENHLDRST2_3,
					    LIENHLDRCITY_3, LIENHLDRSTATE_3, LIENHLDRZPCD_3, LIENHLDRZPCDP4_3, LIENHLDRCNTRY_3, CREATED_DATE, STATUS_OLD, PREVEXPDATE, TTL_ISSUE_DATE, FILE_ID,
						 RECORD_NUMBER, STATUS, LEMONLAWINDI, VEHMJRCOLORCD, VEHMNRCOLORCD, DATE_PROCESSED, EXPORTINDI, PREVTTLNO, PREVVIN, PREVTTLJURIS, PREVTTLISSUEDATE,
						  PREVTTL_ISSUE_DATE, INITTTLTRANSCD, NMVTISHOLDDATE, NMVTISHOLD_DATE
	,INSERT_DATETIME

FROM #DMV_RECORDS_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  DMVLD.DMV_RECORDS
	SET 
	    
		  
		     DMVLD.DMV_RECORDS.RAW_ID                        =B.RAW_ID
		  ,  DMVLD.DMV_RECORDS.DOCNO						 =B.DOCNO
		  ,  DMVLD.DMV_RECORDS.REGPLTNO						 =B.REGPLTNO
		  ,  DMVLD.DMV_RECORDS.REGEXPYR						 =B.REGEXPYR
		  ,  DMVLD.DMV_RECORDS.REGEXPMO						 =B.REGEXPMO
		  ,  DMVLD.DMV_RECORDS.REG_EXP_DATE					 =B.REG_EXP_DATE
		  ,  DMVLD.DMV_RECORDS.VIN							 =B.VIN
		  ,  DMVLD.DMV_RECORDS.OWNRSHPEVIDCD				 =B.OWNRSHPEVIDCD
		  ,  DMVLD.DMV_RECORDS.BNDEDTTLCD					 =B.BNDEDTTLCD
		  ,  DMVLD.DMV_RECORDS.DOCTYPECD					 =B.DOCTYPECD
		  ,  DMVLD.DMV_RECORDS.TTLISSUEDATE					 =B.TTLISSUEDATE
		  ,  DMVLD.DMV_RECORDS.TTLPROCSCD					 =B.TTLPROCSCD
		  ,  DMVLD.DMV_RECORDS.PREVOWNRNAME					 =B.PREVOWNRNAME
		  ,  DMVLD.DMV_RECORDS.PREVOWNRCITY					 =B.PREVOWNRCITY
		  ,  DMVLD.DMV_RECORDS.PREVOWNRSTATE				 =B.PREVOWNRSTATE
		  ,  DMVLD.DMV_RECORDS.VEHBDYTYPE					 =B.VEHBDYTYPE
		  ,  DMVLD.DMV_RECORDS.VEHCLASSCD					 =B.VEHCLASSCD
		  ,  DMVLD.DMV_RECORDS.VEHMK						 =B.VEHMK
		  ,  DMVLD.DMV_RECORDS.VEHMODLYR					 =B.VEHMODLYR
		  ,  DMVLD.DMV_RECORDS.VEHMODL						 =B.VEHMODL
		  ,  DMVLD.DMV_RECORDS.VEHTON						 =B.VEHTON
		  ,  DMVLD.DMV_RECORDS.REPLICAVEHMK					 =B.REPLICAVEHMK
		  ,  DMVLD.DMV_RECORDS.REPLICAVEHMODELYR			 =B.REPLICAVEHMODELYR
		  ,  DMVLD.DMV_RECORDS.TRLRTYPE						 =B.TRLRTYPE
		  ,  DMVLD.DMV_RECORDS.VEHBDYVIN					 =B.VEHBDYVIN
		  ,  DMVLD.DMV_RECORDS.VEHLNGTH						 =B.VEHLNGTH
		  ,  DMVLD.DMV_RECORDS.VEHODMTRBRND					 =B.VEHODMTRBRND
		  ,  DMVLD.DMV_RECORDS.VEHODMTRREADNG				 =B.VEHODMTRREADNG
		  ,  DMVLD.DMV_RECORDS.VEHSALESPRICE				 =B.VEHSALESPRICE
		  ,  DMVLD.DMV_RECORDS.VEHSOLDDATE					 =B.VEHSOLDDATE
		  ,  DMVLD.DMV_RECORDS.SOLD_DATE					 =B.SOLD_DATE
		  ,  DMVLD.DMV_RECORDS.VEHEMPTYWT					 =B.VEHEMPTYWT
		  ,  DMVLD.DMV_RECORDS.VEHGROSSWT					 =B.VEHGROSSWT
		  ,  DMVLD.DMV_RECORDS.ADDLLIENRECRDINDI			 =B.ADDLLIENRECRDINDI
		  ,  DMVLD.DMV_RECORDS.AGNCYLOANDINDI				 =B.AGNCYLOANDINDI
		  ,  DMVLD.DMV_RECORDS.DIESELINDI					 =B.DIESELINDI
		  ,  DMVLD.DMV_RECORDS.DOTSTNDRDSINDI				 =B.DOTSTNDRDSINDI
		  ,  DMVLD.DMV_RECORDS.DPSSTLNINDI					 =B.DPSSTLNINDI
		  ,  DMVLD.DMV_RECORDS.EXMPTINDI					 =B.EXMPTINDI
		  ,  DMVLD.DMV_RECORDS.FXDWTINDI					 =B.FXDWTINDI
		  ,  DMVLD.DMV_RECORDS.FLOODDMGEINDI				 =B.FLOODDMGEINDI
		  ,  DMVLD.DMV_RECORDS.GOVTOWNDINDI					 =B.GOVTOWNDINDI
		  ,  DMVLD.DMV_RECORDS.TTLHOTCKINDI					 =B.TTLHOTCKINDI
		  ,  DMVLD.DMV_RECORDS.INSPECTNWAINVEDINDI			 =B.INSPECTNWAINVEDINDI
		  ,  DMVLD.DMV_RECORDS.JNKINDI						 =B.JNKINDI
		  ,  DMVLD.DMV_RECORDS.PRMTREQRDINDI				 =B.PRMTREQRDINDI
		  ,  DMVLD.DMV_RECORDS.PRIORCCOISSUEINDI			 =B.PRIORCCOISSUEINDI
		  ,  DMVLD.DMV_RECORDS.RECONDCD						 =B.RECONDCD
		  ,  DMVLD.DMV_RECORDS.RECONTINDI					 =B.RECONTINDI
		  ,  DMVLD.DMV_RECORDS.SURVSHPRIGHTSINDI			 =B.SURVSHPRIGHTSINDI
		  ,  DMVLD.DMV_RECORDS.TTLREVKINDI					 =B.TTLREVKINDI
		  ,  DMVLD.DMV_RECORDS.VINERRINDI					 =B.VINERRINDI
		  ,  DMVLD.DMV_RECORDS.OTHERSTATECNTRY				 =B.OTHERSTATECNTRY
		  ,  DMVLD.DMV_RECORDS.SURRTTLDATE					 =B.SURRTTLDATE
		  ,  DMVLD.DMV_RECORDS.LEGALRESTRNTNO				 =B.LEGALRESTRNTNO
		  ,  DMVLD.DMV_RECORDS.CCOISSUEDATE					 =B.CCOISSUEDATE
		  ,  DMVLD.DMV_RECORDS.TTLVEHLOCST					 =B.TTLVEHLOCST
		  ,  DMVLD.DMV_RECORDS.TTLVEHLOCCITY				 =B.TTLVEHLOCCITY
		  ,  DMVLD.DMV_RECORDS.TTLVEHLOCSTATE				 =B.TTLVEHLOCSTATE
		  ,  DMVLD.DMV_RECORDS.TTLVEHLOCZPCD				 =B.TTLVEHLOCZPCD
		  ,  DMVLD.DMV_RECORDS.TTLVEHLOCZPCDP4				 =B.TTLVEHLOCZPCDP4
		  ,  DMVLD.DMV_RECORDS.REGSTKRNO					 =B.REGSTKRNO
		  ,  DMVLD.DMV_RECORDS.TRANSCD						 =B.TRANSCD
		  ,  DMVLD.DMV_RECORDS.RESCOMPTCNTYNO				 =B.RESCOMPTCNTYNO
		  ,  DMVLD.DMV_RECORDS.REGEFFDATE					 =B.REGEFFDATE
		  ,  DMVLD.DMV_RECORDS.REG_EFF_DATE					 =B.REG_EFF_DATE
		  ,  DMVLD.DMV_RECORDS.RECPNTNAME					 =B.RECPNTNAME
		  ,  DMVLD.DMV_RECORDS.RENWLMAILNGST				 =B.RENWLMAILNGST
		  ,  DMVLD.DMV_RECORDS.RENWLMAILNGCITY				 =B.RENWLMAILNGCITY
		  ,  DMVLD.DMV_RECORDS.RENWLMAILNGSTATE				 =B.RENWLMAILNGSTATE
		  ,  DMVLD.DMV_RECORDS.RENWLMAILNGZPCD				 =B.RENWLMAILNGZPCD
		  ,  DMVLD.DMV_RECORDS.RENWLMAILNGZPCDP4			 =B.RENWLMAILNGZPCDP4
		  ,  DMVLD.DMV_RECORDS.RENWLMAILRTRNINDI			 =B.RENWLMAILRTRNINDI
		  ,  DMVLD.DMV_RECORDS.DPSSAFTYSUSPINDI				 =B.DPSSAFTYSUSPINDI
		  ,  DMVLD.DMV_RECORDS.HVYVEHUSETAXINDI				 =B.HVYVEHUSETAXINDI
		  ,  DMVLD.DMV_RECORDS.REGINVLDINDI					 =B.REGINVLDINDI
		  ,  DMVLD.DMV_RECORDS.REGHOTCKINDI					 =B.REGHOTCKINDI
		  ,  DMVLD.DMV_RECORDS.PLTSSEIZDINDI				 =B.PLTSSEIZDINDI
		  ,  DMVLD.DMV_RECORDS.STKRSEIZDINDI				 =B.STKRSEIZDINDI
		  ,  DMVLD.DMV_RECORDS.REGCLASSCD					 =B.REGCLASSCD
		  ,  DMVLD.DMV_RECORDS.SALVSTATECNTRY				 =B.SALVSTATECNTRY
		  ,  DMVLD.DMV_RECORDS.PREVPLTNO					 =B.PREVPLTNO
		  ,  DMVLD.DMV_RECORDS.PREVEXPMO					 =B.PREVEXPMO
		  ,  DMVLD.DMV_RECORDS.PREVEXPYR					 =B.PREVEXPYR
		  ,  DMVLD.DMV_RECORDS.OWNRID						 =B.OWNRID
		  ,  DMVLD.DMV_RECORDS.OWNRTTLNAME					 =B.OWNRTTLNAME
		  ,  DMVLD.DMV_RECORDS.OWNRST						 =B.OWNRST
		  ,  DMVLD.DMV_RECORDS.OWNRCITY						 =B.OWNRCITY
		  ,  DMVLD.DMV_RECORDS.OWNRSTATE					 =B.OWNRSTATE
		  ,  DMVLD.DMV_RECORDS.OWNRZPCD						 =B.OWNRZPCD
		  ,  DMVLD.DMV_RECORDS.OWNRZPCDP4					 =B.OWNRZPCDP4
		  ,  DMVLD.DMV_RECORDS.OWNRCNTRY					 =B.OWNRCNTRY
		  ,  DMVLD.DMV_RECORDS.PRIVACYOPTCD					 =B.PRIVACYOPTCD
		  ,  DMVLD.DMV_RECORDS.NO_OF_LIENS					 =B.NO_OF_LIENS
		  ,  DMVLD.DMV_RECORDS.LIENHLDRNO_1					 =B.LIENHLDRNO_1
		  ,  DMVLD.DMV_RECORDS.LIENDATE_1					 =B.LIENDATE_1
		  ,  DMVLD.DMV_RECORDS.LIENHLDRNAME1_1				 =B.LIENHLDRNAME1_1
		  ,  DMVLD.DMV_RECORDS.LIENHLDRNAME2_1				 =B.LIENHLDRNAME2_1
		  ,  DMVLD.DMV_RECORDS.LIENHLDRST1_1				 =B.LIENHLDRST1_1
		  ,  DMVLD.DMV_RECORDS.LIENHLDRST2_1				 =B.LIENHLDRST2_1
		  ,  DMVLD.DMV_RECORDS.LIENHLDRCITY_1				 =B.LIENHLDRCITY_1
		  ,  DMVLD.DMV_RECORDS.LIENHLDRSTATE_1				 =B.LIENHLDRSTATE_1
		  ,  DMVLD.DMV_RECORDS.LIENHLDRZPCD_1				 =B.LIENHLDRZPCD_1
		  ,  DMVLD.DMV_RECORDS.LIENHLDRZPCDP4_1				 =B.LIENHLDRZPCDP4_1
		  ,  DMVLD.DMV_RECORDS.LIENHLDRCNTRY_1				 =B.LIENHLDRCNTRY_1
		  ,  DMVLD.DMV_RECORDS.LIENHLDRNO_2					 =B.LIENHLDRNO_2
		  ,  DMVLD.DMV_RECORDS.LIENDATE_2					 =B.LIENDATE_2
		  ,  DMVLD.DMV_RECORDS.LIENHLDRNAME1_2				 =B.LIENHLDRNAME1_2
		  ,  DMVLD.DMV_RECORDS.LIENHLDRNAME2_2				 =B.LIENHLDRNAME2_2
		  ,  DMVLD.DMV_RECORDS.LIENHLDRST1_2				 =B.LIENHLDRST1_2
		  ,  DMVLD.DMV_RECORDS.LIENHLDRST2_2				 =B.LIENHLDRST2_2
		  ,  DMVLD.DMV_RECORDS.LIENHLDRCITY_2				 =B.LIENHLDRCITY_2
		  ,  DMVLD.DMV_RECORDS.LIENHLDRSTATE_2				 =B.LIENHLDRSTATE_2
		  ,  DMVLD.DMV_RECORDS.LIENHLDRZPCD_2				 =B.LIENHLDRZPCD_2
		  ,  DMVLD.DMV_RECORDS.LIENHLDRZPCDP4_2				 =B.LIENHLDRZPCDP4_2
		  ,  DMVLD.DMV_RECORDS.LIENHLDRCNTRY_2				 =B.LIENHLDRCNTRY_2
		  ,  DMVLD.DMV_RECORDS.LIENHLDRNO_3					 =B.LIENHLDRNO_3
		  ,  DMVLD.DMV_RECORDS.LIENDATE_3					 =B.LIENDATE_3
		  ,  DMVLD.DMV_RECORDS.LIENHLDRNAME1_3				 =B.LIENHLDRNAME1_3
		  ,  DMVLD.DMV_RECORDS.LIENHLDRNAME2_3				 =B.LIENHLDRNAME2_3
		  ,  DMVLD.DMV_RECORDS.LIENHLDRST1_3				 =B.LIENHLDRST1_3
		  ,  DMVLD.DMV_RECORDS.LIENHLDRST2_3				 =B.LIENHLDRST2_3
		  ,  DMVLD.DMV_RECORDS.LIENHLDRCITY_3				 =B.LIENHLDRCITY_3
		  ,  DMVLD.DMV_RECORDS.LIENHLDRSTATE_3				 =B.LIENHLDRSTATE_3
		  ,  DMVLD.DMV_RECORDS.LIENHLDRZPCD_3				 =B.LIENHLDRZPCD_3
		  ,  DMVLD.DMV_RECORDS.LIENHLDRZPCDP4_3				 =B.LIENHLDRZPCDP4_3
		  ,  DMVLD.DMV_RECORDS.LIENHLDRCNTRY_3				 =B.LIENHLDRCNTRY_3
		  ,  DMVLD.DMV_RECORDS.CREATED_DATE					 =B.CREATED_DATE
		  ,  DMVLD.DMV_RECORDS.STATUS_OLD					 =B.STATUS_OLD
		  ,  DMVLD.DMV_RECORDS.PREVEXPDATE					 =B.PREVEXPDATE
		  ,  DMVLD.DMV_RECORDS.TTL_ISSUE_DATE				 =B.TTL_ISSUE_DATE
		  ,  DMVLD.DMV_RECORDS.FILE_ID						 =B.FILE_ID
		  ,  DMVLD.DMV_RECORDS.RECORD_NUMBER				 =B.RECORD_NUMBER
		  ,  DMVLD.DMV_RECORDS.STATUS						 =B.STATUS
		  ,  DMVLD.DMV_RECORDS.LEMONLAWINDI					 =B.LEMONLAWINDI
		  ,  DMVLD.DMV_RECORDS.VEHMJRCOLORCD				 =B.VEHMJRCOLORCD
		  ,  DMVLD.DMV_RECORDS.VEHMNRCOLORCD				 =B.VEHMNRCOLORCD
		  ,  DMVLD.DMV_RECORDS.DATE_PROCESSED				 =B.DATE_PROCESSED
		  ,  DMVLD.DMV_RECORDS.EXPORTINDI					 =B.EXPORTINDI
		  ,  DMVLD.DMV_RECORDS.PREVTTLNO					 =B.PREVTTLNO
		  ,  DMVLD.DMV_RECORDS.PREVVIN						 =B.PREVVIN
		  ,  DMVLD.DMV_RECORDS.PREVTTLJURIS					 =B.PREVTTLJURIS
		  ,  DMVLD.DMV_RECORDS.PREVTTLISSUEDATE				 =B.PREVTTLISSUEDATE
		  ,  DMVLD.DMV_RECORDS.PREVTTL_ISSUE_DATE			 =B.PREVTTL_ISSUE_DATE
		  ,  DMVLD.DMV_RECORDS.INITTTLTRANSCD				 =B.INITTTLTRANSCD
		  ,  DMVLD.DMV_RECORDS.NMVTISHOLDDATE				 =B.NMVTISHOLDDATE
		  ,  DMVLD.DMV_RECORDS.NMVTISHOLD_DATE				 =B.NMVTISHOLD_DATE
		  ,  DMVLD.DMV_RECORDS.LAST_UPDATE_DATE				 =B.[INSERT_DATETIME] 
		  ,  DMVLD.DMV_RECORDS.LAST_UPDATE_TYPE				 ='U'

		  
	FROM DMVLD.DMV_RECORDS_CT_UPD B
	WHERE DMVLD.DMV_RECORDS.DREC_ID = B.DREC_ID

