CREATE PROC [DMVLD].[VO_ADDR_XREF_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'DMVLD','VO_ADDR_XREF'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'DMVLD','VO_ADDR_XREF_CT_UPD'
CREATE STATISTICS STATS_VO_ADDR_XREF_CT_UPD_001 ON DMVLD.VO_ADDR_XREF_CT_UPD (ID)
CREATE STATISTICS STATS_VO_ADDR_XREF_CT_UPD_002 ON DMVLD.VO_ADDR_XREF_CT_UPD (ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#VO_ADDR_XREF_CT_UPD_Dups')<>0
	DROP TABLE #VO_ADDR_XREF_CT_UPD_Dups

CREATE TABLE #VO_ADDR_XREF_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.ID, A.INSERT_DATETIME
	FROM DMVLD.VO_ADDR_XREF_CT_UPD A
	INNER JOIN 
		(
			SELECT ID
			FROM DMVLD.VO_ADDR_XREF_CT_UPD
			GROUP BY ID
			HAVING COUNT(*)>1
		) Dups ON A.ID = Dups.ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#VO_ADDR_XREF_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #VO_ADDR_XREF_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #VO_ADDR_XREF_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID), LOCATION = USER_DB)
AS
	SELECT  
 A.ID, A.VEHI_ID, A.OWNR_ID, A.ADDR_ID, A.ADDR_START, A.ADDR_END, A.IS_CURRENT, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED,
 A.SOURCE_ID, A.END_SOURCE_ID, A.SOURCE_CODE, A.END_SOURCE_CODE,A.INSERT_DATETIME

	FROM DMVLD.VO_ADDR_XREF_CT_UPD A
	INNER JOIN 
		(
			SELECT ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #VO_ADDR_XREF_CT_UPD_Dups
			GROUP BY ID
		) LastRcrd ON A.ID = LastRcrd.ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM DMVLD.VO_ADDR_XREF_CT_UPD 
WHERE EXISTS(SELECT * FROM #VO_ADDR_XREF_CT_UPD_Dups B WHERE DMVLD.VO_ADDR_XREF_CT_UPD.ID = B.ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO DMVLD.VO_ADDR_XREF_CT_UPD 
	(  
  ID, VEHI_ID, OWNR_ID, ADDR_ID, ADDR_START, ADDR_END, IS_CURRENT, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED,
  SOURCE_ID, END_SOURCE_ID, SOURCE_CODE, END_SOURCE_CODE,INSERT_DATETIME
	)
SELECT 
 ID, VEHI_ID, OWNR_ID, ADDR_ID, ADDR_START, ADDR_END, IS_CURRENT, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED,
  SOURCE_ID, END_SOURCE_ID, SOURCE_CODE, END_SOURCE_CODE,INSERT_DATETIME

FROM #VO_ADDR_XREF_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  DMVLD.VO_ADDR_XREF
	SET 

	   DMVLD.VO_ADDR_XREF.VEHI_ID		   =B.VEHI_ID
	 , DMVLD.VO_ADDR_XREF.OWNR_ID		   =B.OWNR_ID
	 , DMVLD.VO_ADDR_XREF.ADDR_ID		   =B.ADDR_ID
	 , DMVLD.VO_ADDR_XREF.ADDR_START	   =B.ADDR_START
	 , DMVLD.VO_ADDR_XREF.ADDR_END		   =B.ADDR_END
	 , DMVLD.VO_ADDR_XREF.IS_CURRENT	   =B.IS_CURRENT
	 , DMVLD.VO_ADDR_XREF.CREATED_BY	   =B.CREATED_BY
	 , DMVLD.VO_ADDR_XREF.DATE_CREATED	   =B.DATE_CREATED
	 , DMVLD.VO_ADDR_XREF.MODIFIED_BY	   =B.MODIFIED_BY
	 , DMVLD.VO_ADDR_XREF.DATE_MODIFIED	   =B.DATE_MODIFIED
	 , DMVLD.VO_ADDR_XREF.SOURCE_ID		   =B.SOURCE_ID
	 , DMVLD.VO_ADDR_XREF.END_SOURCE_ID	   =B.END_SOURCE_ID
	 , DMVLD.VO_ADDR_XREF.SOURCE_CODE	   =B.SOURCE_CODE
	 , DMVLD.VO_ADDR_XREF.END_SOURCE_CODE  =B.END_SOURCE_CODE
	 , DMVLD.VO_ADDR_XREF.LAST_UPDATE_DATE =B.[INSERT_DATETIME]
	 , DMVLD.VO_ADDR_XREF.LAST_UPDATE_TYPE ='U'
	 
	FROM DMVLD.VO_ADDR_XREF_CT_UPD B
	WHERE DMVLD.VO_ADDR_XREF.ID = B.ID

