CREATE PROC [DMVLD].[ETAG_RECORDS_INSERT] AS


EXEC DropStats 'DMVLD','ETAG_RECORDS_CT_INS'
CREATE STATISTICS STATS_ETAG_RECORDS_CT_INS_001 ON DMVLD.ETAG_RECORDS_CT_INS (EREC_ID)

INSERT INTO DMVLD.ETAG_RECORDS
	(
		      EREC_ID, RECNO, CONTROL_ITEM_ID, CONTROL_ITEM_STATE, EFFECTIVE_DATESTR, EXPIRATION_DATESTR, EFFECTIVE_DATE, EXPIRATION_DATE, USAGE_REASON, DESCRIPTION,
			   VIN, DOCNO, MAKE, MODEL, BODYSTYLE, COLOR, YEAR, PREV_DOCNO, FULL_NAME, ADDRESS1, ADDRESS2, CITY, STATE, ZIPCODE, ZIPCODE4, COUNTRY, LIENHLDRNAME,
			    LIENHLDRST1, LIENHLDRST2, LIENHLDRCITY, LIENHLDRSTATE, LIENHLDRZPCD, LIENHLDRZPCDP4, FILE_ID, VIN_ON_FILE, DOCNO_ON_FILE, STATUS, DATE_CREATED,
				 DATE_PROCESSED, LAST_UPDATE_DATE, LAST_UPDATE_TYPE
	)
SELECT 
 A.EREC_ID, A.RECNO, A.CONTROL_ITEM_ID, A.CONTROL_ITEM_STATE, A.EFFECTIVE_DATESTR, A.EXPIRATION_DATESTR, A.EFFECTIVE_DATE, A.EXPIRATION_DATE, A.USAGE_REASON,
  A.DESCRIPTION, A.VIN, A.DOCNO, A.MAKE, A.MODEL, A.BODYSTYLE, A.COLOR, A.YEAR, A.PREV_DOCNO, A.FULL_NAME, A.ADDRESS1, A.ADDRESS2, A.CITY, A.STATE, A.ZIPCODE,
   A.ZIPCODE4, A.COUNTRY, A.LIENHLDRNAME, A.LIENHLDRST1, A.LIENHLDRST2, A.LIENHLDRCITY, A.LIENHLDRSTATE, A.LIENHLDRZPCD, A.LIENHLDRZPCDP4, A.FILE_ID, A.VIN_ON_FILE,
    A.DOCNO_ON_FILE, A.STATUS, A.DATE_CREATED, A.DATE_PROCESSED
     
	 , A.INSERT_DATETIME, 'I' as LAST_UPDATE_TYPE

FROM DMVLD.ETAG_RECORDS_CT_INS A
LEFT JOIN DMVLD.ETAG_RECORDS B ON A.EREC_ID = B.EREC_ID
WHERE B.EREC_ID IS NULL


