CREATE PROC [DMVLD].[VEHICLE_PLATES_INSERT] AS


EXEC DropStats 'DMVLD','VEHICLE_PLATES_CT_INS'
CREATE STATISTICS STATS_VEHICLE_PLATES_CT_INS_001 ON DMVLD.VEHICLE_PLATES_CT_INS (PLATE_NUMBER,VEHI_ID,OWNR_ID)

INSERT INTO DMVLD.VEHICLE_PLATES
	(
	PLATE_NUMBER, START_DATE, END_DATE, OWNR_ID, VEHI_ID, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, DREC_ID, VPS_MATCH, VIOLATOR_ID, LAST_UPDATE_DATE, LAST_UPDATE_TYPE
	)
SELECT 

 A.PLATE_NUMBER, A.START_DATE, A.END_DATE, A.OWNR_ID, A.VEHI_ID, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.DREC_ID, A.VPS_MATCH, A.VIOLATOR_ID,A.INSERT_DATETIME, 'I' as LAST_UPDATE_TYPE

FROM DMVLD.VEHICLE_PLATES_CT_INS A
LEFT JOIN DMVLD.VEHICLE_PLATES B ON A.PLATE_NUMBER = B.PLATE_NUMBER and A.VEHI_ID=B.VEHI_ID and A.OWNR_ID=B.OWNR_ID
WHERE 1=1
and B.PLATE_NUMBER IS NULL
and B.VEHI_ID IS NULL
and B.OWNR_ID IS NULL


