CREATE PROC [DMVLD].[PLATES_Update_Stats] AS

EXEC DropStats 'DMVLD','PLATES'
CREATE STATISTICS STATS_PLATES_001 ON DMVLD.PLATES (ID)
CREATE STATISTICS STATS_PLATES_002 ON DMVLD.PLATES (ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_PLATES_003 ON DMVLD.PLATES (LAST_UPDATE_DATE)
