CREATE PROC [DMVLD].[PLATES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'DMVLD','PLATES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'DMVLD','PLATES_CT_UPD'
CREATE STATISTICS STATS_PLATES_CT_UPD_001 ON DMVLD.PLATES_CT_UPD (ID)
CREATE STATISTICS STATS_PLATES_CT_UPD_002 ON DMVLD.PLATES_CT_UPD (ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#PLATES_CT_UPD_Dups')<>0
	DROP TABLE #PLATES_CT_UPD_Dups

CREATE TABLE #PLATES_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.ID, A.INSERT_DATETIME
	FROM DMVLD.PLATES_CT_UPD A
	INNER JOIN 
		(
			SELECT ID
			FROM DMVLD.PLATES_CT_UPD
			GROUP BY ID
			HAVING COUNT(*)>1
		) Dups ON A.ID = Dups.ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#PLATES_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #PLATES_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #PLATES_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID), LOCATION = USER_DB)
AS
	SELECT  
 A.ID, A.LIC_PLATE_NBR, A.LIC_PLATE_STATE, A.TITLE_ID, A.IS_CURRENT, A.START_DATE, A.END_DATE, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY,
  A.SOURCE_ID, A.END_SOURCE_ID, A.SOURCE_CODE, A.END_SOURCE_CODE,A.INSERT_DATETIME

	FROM DMVLD.PLATES_CT_UPD A
	INNER JOIN 
		(
			SELECT ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #PLATES_CT_UPD_Dups
			GROUP BY ID
		) LastRcrd ON A.ID = LastRcrd.ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM DMVLD.PLATES_CT_UPD 
WHERE EXISTS(SELECT * FROM #PLATES_CT_UPD_Dups B WHERE DMVLD.PLATES_CT_UPD.ID = B.ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO DMVLD.PLATES_CT_UPD 
	(  
ID, LIC_PLATE_NBR, LIC_PLATE_STATE, TITLE_ID, IS_CURRENT, START_DATE, END_DATE, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY,
			  SOURCE_ID, END_SOURCE_ID, SOURCE_CODE, END_SOURCE_CODE,INSERT_DATETIME
	)
SELECT 
   ID, LIC_PLATE_NBR, LIC_PLATE_STATE, TITLE_ID, IS_CURRENT, START_DATE, END_DATE, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY,
			  SOURCE_ID, END_SOURCE_ID, SOURCE_CODE, END_SOURCE_CODE,INSERT_DATETIME

FROM #PLATES_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  DMVLD.PLATES
	SET 
	 
	   DMVLD.PLATES.LIC_PLATE_NBR	  =B.LIC_PLATE_NBR
	 , DMVLD.PLATES.LIC_PLATE_STATE	  =B.LIC_PLATE_STATE
	 , DMVLD.PLATES.TITLE_ID		  =B.TITLE_ID
	 , DMVLD.PLATES.IS_CURRENT		  =B.IS_CURRENT
	 , DMVLD.PLATES.START_DATE		  =B.START_DATE
	 , DMVLD.PLATES.END_DATE		  =B.END_DATE
	 , DMVLD.PLATES.DATE_CREATED	  =B.DATE_CREATED
	 , DMVLD.PLATES.CREATED_BY		  =B.CREATED_BY
	 , DMVLD.PLATES.DATE_MODIFIED	  =B.DATE_MODIFIED
	 , DMVLD.PLATES.MODIFIED_BY		  =B.MODIFIED_BY
	 , DMVLD.PLATES.SOURCE_ID		  =B.SOURCE_ID
	 , DMVLD.PLATES.END_SOURCE_ID	  =B.END_SOURCE_ID
	 , DMVLD.PLATES.SOURCE_CODE		  =B.SOURCE_CODE
	 , DMVLD.PLATES.END_SOURCE_CODE	  =B.END_SOURCE_CODE
	 , DMVLD.PLATES.LAST_UPDATE_DATE  =B.[INSERT_DATETIME]
	 , DMVLD.PLATES.LAST_UPDATE_TYPE  ='U'

	  
    FROM DMVLD.PLATES_CT_UPD B
	WHERE DMVLD.PLATES.ID = B.ID

