CREATE PROC [DMVLD].[VEHICLE_PLATES_Update_Stats] AS

EXEC DropStats 'DMVLD','VEHICLE_PLATES'
CREATE STATISTICS STATS_VEHICLE_PLATES_001 ON DMVLD.VEHICLE_PLATES (PLATE_NUMBER,VEHI_ID,OWNR_ID)
CREATE STATISTICS STATS_VEHICLE_PLATES_002 ON DMVLD.VEHICLE_PLATES (PLATE_NUMBER,VEHI_ID,OWNR_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VEHICLE_PLATES_003 ON DMVLD.VEHICLE_PLATES (LAST_UPDATE_DATE)
