CREATE PROC [DMVLD].[ETAG_RECORDS_DELETE] AS


EXEC DropStats 'DMVLD','ETAG_RECORDS_CT_DEL'
CREATE STATISTICS STATS_ETAG_RECORDS_CT_DEL_001 ON DMVLD.ETAG_RECORDS_CT_DEL (EREC_ID)
CREATE STATISTICS STATS_ETAG_RECORDS_CT_DEL_002 ON DMVLD.ETAG_RECORDS_CT_DEL (EREC_ID, INSERT_DATETIME)



UPDATE DMVLD.ETAG_RECORDS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM DMVLD.ETAG_RECORDS_CT_DEL B
WHERE DMVLD.ETAG_RECORDS.EREC_ID = B.EREC_ID
