CREATE PROC [DMVLD].[OWNER_ADDRESSES_INSERT] AS


EXEC DropStats 'DMVLD','OWNER_ADDRESSES_CT_INS'
CREATE STATISTICS STATS_OWNER_ADDRESSES_CT_INS_001 ON DMVLD.OWNER_ADDRESSES_CT_INS (ID)

INSERT INTO DMVLD.OWNER_ADDRESSES
	(
		      ID, OWNR_ID, PLATE_NUMBER, VEHI_ID, STREET, CITY, ZIP, PLUS4, ADDR_STATE, ADDR_START, ADDR_END, ADDR_COMMENT, STATUS, DREC_ID, DATE_CREATED,
			   DATE_MODIFIED, MODIFIED_BY, CREATED_BY, TYPE, LAST_UPDATE_DATE, LAST_UPDATE_TYPE
	)
SELECT 

 A.ID, A.OWNR_ID, A.PLATE_NUMBER, A.VEHI_ID, A.STREET, A.CITY, A.ZIP, A.PLUS4, A.ADDR_STATE, A.ADDR_START, A.ADDR_END, A.ADDR_COMMENT, A.STATUS, A.DREC_ID, A.DATE_CREATED,
  A.DATE_MODIFIED, A.MODIFIED_BY, A.CREATED_BY, A.TYPE,A.INSERT_DATETIME, 'I' as LAST_UPDATE_TYPE

FROM DMVLD.OWNER_ADDRESSES_CT_INS A
LEFT JOIN DMVLD.OWNER_ADDRESSES B ON A.ID = B.ID
WHERE B.ID IS NULL


