CREATE PROC [DMVLD].[DMV_RECORDS_Update_Stats] AS

EXEC DropStats 'DMVLD','DMV_RECORDS'
CREATE STATISTICS STATS_DMV_RECORDS_001 ON DMVLD.DMV_RECORDS (DREC_ID)
CREATE STATISTICS STATS_DMV_RECORDS_002 ON DMVLD.DMV_RECORDS (DREC_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_DMV_RECORDS_003 ON DMVLD.DMV_RECORDS (LAST_UPDATE_DATE)
