CREATE PROC [DMVLD].[DMV_RECORDS_INSERT] AS


EXEC DropStats 'DMVLD','DMV_RECORDS_CT_INS'
CREATE STATISTICS STATS_DMV_RECORDS_CT_INS_001 ON DMVLD.DMV_RECORDS_CT_INS (DREC_ID)

INSERT INTO DMVLD.DMV_RECORDS
	(
		     DREC_ID, RAW_ID, DOCNO, REGPLTNO, REGEXPYR, REGEXPMO, REG_EXP_DATE, VIN, OWNRSHPEVIDCD, BNDEDTTLCD, DOCTYPECD, TTLISSUEDATE, TTLPROCSCD, PREVOWNRNAME,
			  PREVOWNRCITY, PREVOWNRSTATE, VEHBDYTYPE, VEHCLASSCD, VEHMK, VEHMODLYR, VEHMODL, VEHTON, REPLICAVEHMK, REPLICAVEHMODELYR, TRLRTYPE, VEHBDYVIN, VEHLNGTH,
			   VEHODMTRBRND, VEHODMTRREADNG, VEHSALESPRICE, VEHSOLDDATE, SOLD_DATE, VEHEMPTYWT, VEHGROSSWT, ADDLLIENRECRDINDI, AGNCYLOANDINDI, DIESELINDI, DOTSTNDRDSINDI,
			    DPSSTLNINDI, EXMPTINDI, FXDWTINDI, FLOODDMGEINDI, GOVTOWNDINDI, TTLHOTCKINDI, INSPECTNWAINVEDINDI, JNKINDI, PRMTREQRDINDI, PRIORCCOISSUEINDI, RECONDCD,
				 RECONTINDI, SURVSHPRIGHTSINDI, TTLREVKINDI, VINERRINDI, OTHERSTATECNTRY, SURRTTLDATE, LEGALRESTRNTNO, CCOISSUEDATE, TTLVEHLOCST, TTLVEHLOCCITY, TTLVEHLOCSTATE,
				  TTLVEHLOCZPCD, TTLVEHLOCZPCDP4, REGSTKRNO, TRANSCD, RESCOMPTCNTYNO, REGEFFDATE, REG_EFF_DATE, RECPNTNAME, RENWLMAILNGST, RENWLMAILNGCITY, RENWLMAILNGSTATE,
				   RENWLMAILNGZPCD, RENWLMAILNGZPCDP4, RENWLMAILRTRNINDI, DPSSAFTYSUSPINDI, HVYVEHUSETAXINDI, REGINVLDINDI, REGHOTCKINDI, PLTSSEIZDINDI, STKRSEIZDINDI,
				    REGCLASSCD, SALVSTATECNTRY, PREVPLTNO, PREVEXPMO, PREVEXPYR, OWNRID, OWNRTTLNAME, OWNRST, OWNRCITY, OWNRSTATE, OWNRZPCD, OWNRZPCDP4, OWNRCNTRY,
					 PRIVACYOPTCD, NO_OF_LIENS, LIENHLDRNO_1, LIENDATE_1, LIENHLDRNAME1_1, LIENHLDRNAME2_1, LIENHLDRST1_1, LIENHLDRST2_1, LIENHLDRCITY_1, LIENHLDRSTATE_1,
					  LIENHLDRZPCD_1, LIENHLDRZPCDP4_1, LIENHLDRCNTRY_1, LIENHLDRNO_2, LIENDATE_2, LIENHLDRNAME1_2, LIENHLDRNAME2_2, LIENHLDRST1_2, LIENHLDRST2_2, LIENHLDRCITY_2,
					   LIENHLDRSTATE_2, LIENHLDRZPCD_2, LIENHLDRZPCDP4_2, LIENHLDRCNTRY_2, LIENHLDRNO_3, LIENDATE_3, LIENHLDRNAME1_3, LIENHLDRNAME2_3, LIENHLDRST1_3, LIENHLDRST2_3,
					    LIENHLDRCITY_3, LIENHLDRSTATE_3, LIENHLDRZPCD_3, LIENHLDRZPCDP4_3, LIENHLDRCNTRY_3, CREATED_DATE, STATUS_OLD, PREVEXPDATE, TTL_ISSUE_DATE, FILE_ID,
						 RECORD_NUMBER, STATUS, LEMONLAWINDI, VEHMJRCOLORCD, VEHMNRCOLORCD, DATE_PROCESSED, EXPORTINDI, PREVTTLNO, PREVVIN, PREVTTLJURIS, PREVTTLISSUEDATE,
						  PREVTTL_ISSUE_DATE, INITTTLTRANSCD, NMVTISHOLDDATE, NMVTISHOLD_DATE, LAST_UPDATE_DATE, LAST_UPDATE_TYPE
	)
SELECT 
 A.DREC_ID, A.RAW_ID, A.DOCNO, A.REGPLTNO, A.REGEXPYR, A.REGEXPMO, A.REG_EXP_DATE, A.VIN, A.OWNRSHPEVIDCD, A.BNDEDTTLCD, A.DOCTYPECD, A.TTLISSUEDATE, A.TTLPROCSCD, A.PREVOWNRNAME,
  A.PREVOWNRCITY, A.PREVOWNRSTATE, A.VEHBDYTYPE, A.VEHCLASSCD, A.VEHMK, A.VEHMODLYR, A.VEHMODL, A.VEHTON, A.REPLICAVEHMK, A.REPLICAVEHMODELYR, A.TRLRTYPE, A.VEHBDYVIN, A.VEHLNGTH,
   A.VEHODMTRBRND, A.VEHODMTRREADNG, A.VEHSALESPRICE, A.VEHSOLDDATE, A.SOLD_DATE, A.VEHEMPTYWT, A.VEHGROSSWT, A.ADDLLIENRECRDINDI, A.AGNCYLOANDINDI, A.DIESELINDI, A.DOTSTNDRDSINDI,
    A.DPSSTLNINDI, A.EXMPTINDI, A.FXDWTINDI, A.FLOODDMGEINDI, A.GOVTOWNDINDI, A.TTLHOTCKINDI, A.INSPECTNWAINVEDINDI, A.JNKINDI, A.PRMTREQRDINDI, A.PRIORCCOISSUEINDI, A.RECONDCD,
	 A.RECONTINDI, A.SURVSHPRIGHTSINDI, A.TTLREVKINDI, A.VINERRINDI, A.OTHERSTATECNTRY, A.SURRTTLDATE, A.LEGALRESTRNTNO, A.CCOISSUEDATE, A.TTLVEHLOCST, A.TTLVEHLOCCITY, A.TTLVEHLOCSTATE,
	  A.TTLVEHLOCZPCD, A.TTLVEHLOCZPCDP4, A.REGSTKRNO, A.TRANSCD, A.RESCOMPTCNTYNO, A.REGEFFDATE, A.REG_EFF_DATE, A.RECPNTNAME, A.RENWLMAILNGST, A.RENWLMAILNGCITY, A.RENWLMAILNGSTATE,
	   A.RENWLMAILNGZPCD, A.RENWLMAILNGZPCDP4, A.RENWLMAILRTRNINDI, A.DPSSAFTYSUSPINDI, A.HVYVEHUSETAXINDI, A.REGINVLDINDI, A.REGHOTCKINDI, A.PLTSSEIZDINDI, A.STKRSEIZDINDI, A.REGCLASSCD,
	    A.SALVSTATECNTRY, A.PREVPLTNO, A.PREVEXPMO, A.PREVEXPYR, A.OWNRID, A.OWNRTTLNAME, A.OWNRST, A.OWNRCITY, A.OWNRSTATE, A.OWNRZPCD, A.OWNRZPCDP4, A.OWNRCNTRY, A.PRIVACYOPTCD,
		 A.NO_OF_LIENS, A.LIENHLDRNO_1, A.LIENDATE_1, A.LIENHLDRNAME1_1, A.LIENHLDRNAME2_1, A.LIENHLDRST1_1, A.LIENHLDRST2_1, A.LIENHLDRCITY_1, A.LIENHLDRSTATE_1, A.LIENHLDRZPCD_1,
		  A.LIENHLDRZPCDP4_1, A.LIENHLDRCNTRY_1, A.LIENHLDRNO_2, A.LIENDATE_2, A.LIENHLDRNAME1_2, A.LIENHLDRNAME2_2, A.LIENHLDRST1_2, A.LIENHLDRST2_2, A.LIENHLDRCITY_2, A.LIENHLDRSTATE_2,
		   A.LIENHLDRZPCD_2, A.LIENHLDRZPCDP4_2, A.LIENHLDRCNTRY_2, A.LIENHLDRNO_3, A.LIENDATE_3, A.LIENHLDRNAME1_3, A.LIENHLDRNAME2_3, A.LIENHLDRST1_3, A.LIENHLDRST2_3, A.LIENHLDRCITY_3,
		    A.LIENHLDRSTATE_3, A.LIENHLDRZPCD_3, A.LIENHLDRZPCDP4_3, A.LIENHLDRCNTRY_3, A.CREATED_DATE, A.STATUS_OLD, A.PREVEXPDATE, A.TTL_ISSUE_DATE, A.FILE_ID, A.RECORD_NUMBER, A.STATUS,
			 A.LEMONLAWINDI, A.VEHMJRCOLORCD, A.VEHMNRCOLORCD, A.DATE_PROCESSED, A.EXPORTINDI, A.PREVTTLNO, A.PREVVIN, A.PREVTTLJURIS, A.PREVTTLISSUEDATE, A.PREVTTL_ISSUE_DATE, A.INITTTLTRANSCD,
			  A.NMVTISHOLDDATE, A.NMVTISHOLD_DATE
     
	 , A.INSERT_DATETIME, 'I' as LAST_UPDATE_TYPE

FROM DMVLD.DMV_RECORDS_CT_INS A
LEFT JOIN DMVLD.DMV_RECORDS B ON A.DREC_ID = B.DREC_ID
WHERE B.DREC_ID IS NULL


