CREATE PROC [DMVLD].[ADDRESSES_Update_Stats] AS

EXEC DropStats 'DMVLD','ADDRESSES'
CREATE STATISTICS STATS_ADDRESSES_001 ON DMVLD.ADDRESSES (ID)
CREATE STATISTICS STATS_ADDRESSES_002 ON DMVLD.ADDRESSES (ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_ADDRESSES_003 ON DMVLD.ADDRESSES (LAST_UPDATE_DATE)
