CREATE PROC [DMVLD].[VEHICLES_DELETE] AS


EXEC DropStats 'DMVLD','VEHICLES_CT_DEL'
CREATE STATISTICS STATS_VEHICLES_CT_DEL_001 ON DMVLD.VEHICLES_CT_DEL (ID)
CREATE STATISTICS STATS_VEHICLES_CT_DEL_002 ON DMVLD.VEHICLES_CT_DEL (ID, INSERT_DATETIME)



UPDATE DMVLD.VEHICLES
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM DMVLD.VEHICLES_CT_DEL B
WHERE DMVLD.VEHICLES.ID = B.ID
