CREATE PROC [DMVLD].[OWNER_ADDRESSES_DELETE] AS


EXEC DropStats 'DMVLD','OWNER_ADDRESSES_CT_DEL'
CREATE STATISTICS STATS_OWNER_ADDRESSES_CT_DEL_001 ON DMVLD.OWNER_ADDRESSES_CT_DEL (ID)
CREATE STATISTICS STATS_OWNER_ADDRESSES_CT_DEL_002 ON DMVLD.OWNER_ADDRESSES_CT_DEL (ID, INSERT_DATETIME)



UPDATE DMVLD.OWNER_ADDRESSES
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM DMVLD.OWNER_ADDRESSES_CT_DEL B
WHERE DMVLD.OWNER_ADDRESSES.ID = B.ID
