CREATE PROC [DMVLD].[OWNERS_Update_Stats] AS

EXEC DropStats 'DMVLD','OWNERS'
CREATE STATISTICS STATS_OWNERS_001 ON DMVLD.OWNERS (ID)
CREATE STATISTICS STATS_OWNERS_002 ON DMVLD.OWNERS (ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_OWNERS_003 ON DMVLD.OWNERS (LAST_UPDATE_DATE)
