CREATE PROC [DMVLD].[VO_RENEWAL_ADDR_XREF_Update_Stats] AS

EXEC DropStats 'DMVLD','VO_RENEWAL_ADDR_XREF'
CREATE STATISTICS STATS_VO_RENEWAL_ADDR_XREF_001 ON DMVLD.VO_RENEWAL_ADDR_XREF (ID)
CREATE STATISTICS STATS_VO_RENEWAL_ADDR_XREF_002 ON DMVLD.VO_RENEWAL_ADDR_XREF (ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VO_RENEWAL_ADDR_XREF_003 ON DMVLD.VO_RENEWAL_ADDR_XREF (LAST_UPDATE_DATE)

