CREATE PROC [DMVLD].[OWNERS_DELETE] AS


EXEC DropStats 'DMVLD','OWNERS_CT_DEL'
CREATE STATISTICS STATS_OWNERS_CT_DEL_001 ON DMVLD.OWNERS_CT_DEL (ID)
CREATE STATISTICS STATS_OWNERS_CT_DEL_002 ON DMVLD.OWNERS_CT_DEL (ID, INSERT_DATETIME)



UPDATE DMVLD.OWNERS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM DMVLD.OWNERS_CT_DEL B
WHERE DMVLD.OWNERS.ID = B.ID
