CREATE PROC [DMVLD].[OWNER_ADDRESSES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'DMVLD','OWNER_ADDRESSES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'DMVLD','OWNER_ADDRESSES_CT_UPD'
CREATE STATISTICS STATS_OWNER_ADDRESSES_CT_UPD_001 ON DMVLD.OWNER_ADDRESSES_CT_UPD (ID)
CREATE STATISTICS STATS_OWNER_ADDRESSES_CT_UPD_002 ON DMVLD.OWNER_ADDRESSES_CT_UPD (ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#OWNER_ADDRESSES_CT_UPD_Dups')<>0
	DROP TABLE #OWNER_ADDRESSES_CT_UPD_Dups

CREATE TABLE #OWNER_ADDRESSES_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.ID, A.INSERT_DATETIME
	FROM DMVLD.OWNER_ADDRESSES_CT_UPD A
	INNER JOIN 
		(
			SELECT ID
			FROM DMVLD.OWNER_ADDRESSES_CT_UPD
			GROUP BY ID
			HAVING COUNT(*)>1
		) Dups ON A.ID = Dups.ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#OWNER_ADDRESSES_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #OWNER_ADDRESSES_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #OWNER_ADDRESSES_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID), LOCATION = USER_DB)
AS
	SELECT  
 A.ID, A.OWNR_ID, A.PLATE_NUMBER, A.VEHI_ID, A.STREET, A.CITY, A.ZIP, A.PLUS4, A.ADDR_STATE, A.ADDR_START, A.ADDR_END, A.ADDR_COMMENT, A.STATUS, A.DREC_ID, A.DATE_CREATED,
  A.DATE_MODIFIED, A.MODIFIED_BY, A.CREATED_BY, A.TYPE,A.INSERT_DATETIME

	FROM DMVLD.OWNER_ADDRESSES_CT_UPD A
	INNER JOIN 
		(
			SELECT ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #OWNER_ADDRESSES_CT_UPD_Dups
			GROUP BY ID
		) LastRcrd ON A.ID = LastRcrd.ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM DMVLD.OWNER_ADDRESSES_CT_UPD 
WHERE EXISTS(SELECT * FROM #OWNER_ADDRESSES_CT_UPD_Dups B WHERE DMVLD.OWNER_ADDRESSES_CT_UPD.ID = B.ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO DMVLD.OWNER_ADDRESSES_CT_UPD 
	(  
ID, OWNR_ID, PLATE_NUMBER, VEHI_ID, STREET, CITY, ZIP, PLUS4, ADDR_STATE, ADDR_START, ADDR_END, ADDR_COMMENT, STATUS, DREC_ID, DATE_CREATED,
			   DATE_MODIFIED, MODIFIED_BY, CREATED_BY, TYPE,INSERT_DATETIME
	)
SELECT 
    ID, OWNR_ID, PLATE_NUMBER, VEHI_ID, STREET, CITY, ZIP, PLUS4, ADDR_STATE, ADDR_START, ADDR_END, ADDR_COMMENT, STATUS, DREC_ID, DATE_CREATED,
			   DATE_MODIFIED, MODIFIED_BY, CREATED_BY, TYPE,INSERT_DATETIME

FROM #OWNER_ADDRESSES_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  DMVLD.OWNER_ADDRESSES
	SET 
	  
	     DMVLD.OWNER_ADDRESSES.OWNR_ID			=B.OWNR_ID
	  ,  DMVLD.OWNER_ADDRESSES.PLATE_NUMBER		=B.PLATE_NUMBER
	  ,  DMVLD.OWNER_ADDRESSES.VEHI_ID			=B.VEHI_ID
	  ,  DMVLD.OWNER_ADDRESSES.STREET			=B.STREET
	  ,  DMVLD.OWNER_ADDRESSES.CITY				=B.CITY
	  ,  DMVLD.OWNER_ADDRESSES.ZIP				=B.ZIP
	  ,  DMVLD.OWNER_ADDRESSES.PLUS4			=B.PLUS4
	  ,  DMVLD.OWNER_ADDRESSES.ADDR_STATE		=B.ADDR_STATE
	  ,  DMVLD.OWNER_ADDRESSES.ADDR_START		=B.ADDR_START
	  ,  DMVLD.OWNER_ADDRESSES.ADDR_END			=B.ADDR_END
	  ,  DMVLD.OWNER_ADDRESSES.ADDR_COMMENT		=B.ADDR_COMMENT
	  ,  DMVLD.OWNER_ADDRESSES.STATUS			=B.STATUS
	  ,  DMVLD.OWNER_ADDRESSES.DREC_ID			=B.DREC_ID
	  ,  DMVLD.OWNER_ADDRESSES.DATE_CREATED		=B.DATE_CREATED
	  ,  DMVLD.OWNER_ADDRESSES.DATE_MODIFIED	=B.DATE_MODIFIED
	  ,  DMVLD.OWNER_ADDRESSES.MODIFIED_BY		=B.MODIFIED_BY
	  ,  DMVLD.OWNER_ADDRESSES.CREATED_BY		=B.CREATED_BY
	  ,  DMVLD.OWNER_ADDRESSES.TYPE				=B.TYPE
	  ,  DMVLD.OWNER_ADDRESSES.LAST_UPDATE_DATE	=B.[INSERT_DATETIME]
	  ,  DMVLD.OWNER_ADDRESSES.LAST_UPDATE_TYPE ='U'
	  
    FROM DMVLD.OWNER_ADDRESSES_CT_UPD B
	WHERE DMVLD.OWNER_ADDRESSES.ID = B.ID

