CREATE PROC [DMVLD].[VO_ADDR_XREF_INSERT] AS


EXEC DropStats 'DMVLD','VO_ADDR_XREF_CT_INS'
CREATE STATISTICS STATS_VO_ADDR_XREF_CT_INS_001 ON DMVLD.VO_ADDR_XREF_CT_INS (ID)

INSERT INTO DMVLD.VO_ADDR_XREF
	(
		        ID, VEHI_ID, OWNR_ID, ADDR_ID, ADDR_START, ADDR_END, IS_CURRENT, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED,
				SOURCE_ID, END_SOURCE_ID, SOURCE_CODE, END_SOURCE_CODE, LAST_UPDATE_DATE, LAST_UPDATE_TYPE
	)
SELECT 

 A.ID, A.VEHI_ID, A.OWNR_ID, A.ADDR_ID, A.ADDR_START, A.ADDR_END, A.IS_CURRENT, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED,
 A.SOURCE_ID, A.END_SOURCE_ID, A.SOURCE_CODE, A.END_SOURCE_CODE,A.INSERT_DATETIME, 'I' as LAST_UPDATE_TYPE

FROM DMVLD.VO_ADDR_XREF_CT_INS A
LEFT JOIN DMVLD.VO_ADDR_XREF B ON A.ID = B.ID
WHERE B.ID IS NULL


