CREATE PROC [DMVLD].[PLATES_DELETE] AS


EXEC DropStats 'DMVLD','PLATES_CT_DEL'
CREATE STATISTICS STATS_PLATES_CT_DEL_001 ON DMVLD.PLATES_CT_DEL (ID)
CREATE STATISTICS STATS_PLATES_CT_DEL_002 ON DMVLD.PLATES_CT_DEL (ID, INSERT_DATETIME)



UPDATE DMVLD.PLATES
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM DMVLD.PLATES_CT_DEL B
WHERE DMVLD.PLATES.ID = B.ID
