CREATE PROC [DMVLD].[OWNERS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'DMVLD','OWNERS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'DMVLD','OWNERS_CT_UPD'
CREATE STATISTICS STATS_OWNERS_CT_UPD_001 ON DMVLD.OWNERS_CT_UPD (ID)
CREATE STATISTICS STATS_OWNERS_CT_UPD_002 ON DMVLD.OWNERS_CT_UPD (ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#OWNERS_CT_UPD_Dups')<>0
	DROP TABLE #OWNERS_CT_UPD_Dups

CREATE TABLE #OWNERS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.ID, A.INSERT_DATETIME
	FROM DMVLD.OWNERS_CT_UPD A
	INNER JOIN 
		(
			SELECT ID
			FROM DMVLD.OWNERS_CT_UPD
			GROUP BY ID
			HAVING COUNT(*)>1
		) Dups ON A.ID = Dups.ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#OWNERS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #OWNERS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #OWNERS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID), LOCATION = USER_DB)
AS
	SELECT  
 A.ID, A.OWNER_TYPE, A.FULL_NAME, A.FIRST_NAME, A.MIDDLE_NAME, A.LAST_NAME, A.FIRST_NAME2, A.MIDDLE_NAME2, A.LAST_NAME2, A.SOURCE_ID, A.CREATED_BY,
	   A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.SOURCE_CODE, A.INSERT_DATETIME	

	FROM DMVLD.OWNERS_CT_UPD A
	INNER JOIN 
		(
			SELECT ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #OWNERS_CT_UPD_Dups
			GROUP BY ID
		) LastRcrd ON A.ID = LastRcrd.ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM DMVLD.OWNERS_CT_UPD 
WHERE EXISTS(SELECT * FROM #OWNERS_CT_UPD_Dups B WHERE DMVLD.OWNERS_CT_UPD.ID = B.ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO DMVLD.OWNERS_CT_UPD 
	(  
 ID, OWNER_TYPE, FULL_NAME, FIRST_NAME, MIDDLE_NAME, LAST_NAME, FIRST_NAME2, MIDDLE_NAME2, LAST_NAME2, SOURCE_ID, CREATED_BY, DATE_CREATED,
  MODIFIED_BY, DATE_MODIFIED, SOURCE_CODE,INSERT_DATETIME
	)
SELECT 
     ID, OWNER_TYPE, FULL_NAME, FIRST_NAME, MIDDLE_NAME, LAST_NAME, FIRST_NAME2, MIDDLE_NAME2, LAST_NAME2, SOURCE_ID, CREATED_BY, DATE_CREATED,
  MODIFIED_BY, DATE_MODIFIED, SOURCE_CODE,INSERT_DATETIME

FROM #OWNERS_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  DMVLD.OWNERS
	SET 

	     DMVLD.OWNERS.OWNER_TYPE		 =B.OWNER_TYPE
	  ,  DMVLD.OWNERS.FULL_NAME			 =B.FULL_NAME
	  ,  DMVLD.OWNERS.FIRST_NAME		 =B.FIRST_NAME
	  ,  DMVLD.OWNERS.MIDDLE_NAME		 =B.MIDDLE_NAME
	  ,  DMVLD.OWNERS.LAST_NAME			 =B.LAST_NAME
	  ,  DMVLD.OWNERS.FIRST_NAME2		 =B.FIRST_NAME2
	  ,  DMVLD.OWNERS.MIDDLE_NAME2		 =B.MIDDLE_NAME2
	  ,  DMVLD.OWNERS.LAST_NAME2		 =B.LAST_NAME2
	  ,  DMVLD.OWNERS.SOURCE_ID			 =B.SOURCE_ID
	  ,  DMVLD.OWNERS.CREATED_BY		 =B.CREATED_BY
	  ,  DMVLD.OWNERS.DATE_CREATED		 =B.DATE_CREATED
	  ,  DMVLD.OWNERS.MODIFIED_BY		 =B.MODIFIED_BY
	  ,  DMVLD.OWNERS.DATE_MODIFIED		 =B.DATE_MODIFIED
	  ,  DMVLD.OWNERS.SOURCE_CODE		 =B.SOURCE_CODE
	  ,  DMVLD.OWNERS.LAST_UPDATE_DATE	 =B.[INSERT_DATETIME]
	  ,  DMVLD.OWNERS.LAST_UPDATE_TYPE   ='U'

	    
	 FROM DMVLD.OWNERS_CT_UPD B
	WHERE DMVLD.OWNERS.ID = B.ID

