CREATE PROC [DMVLD].[VEHICLES_Update_Stats] AS

EXEC DropStats 'DMVLD','VEHICLES'
CREATE STATISTICS STATS_VEHICLES_001 ON DMVLD.VEHICLES (ID)
CREATE STATISTICS STATS_VEHICLES_002 ON DMVLD.VEHICLES (ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VEHICLES_003 ON DMVLD.VEHICLES (LAST_UPDATE_DATE)
