CREATE PROC [DMVLD].[OWNERS_JN_DELETE] AS


EXEC DropStats 'DMVLD','OWNERS_JN_CT_DEL'
CREATE STATISTICS STATS_OWNERS_JN_CT_DEL_001 ON DMVLD.OWNERS_JN_CT_DEL (ID,JN_DATETIME)
CREATE STATISTICS STATS_OWNERS_JN_CT_DEL_002 ON DMVLD.OWNERS_JN_CT_DEL (ID,JN_DATETIME, INSERT_DATETIME)



UPDATE DMVLD.OWNERS_JN
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM DMVLD.OWNERS_JN_CT_DEL B
WHERE 1=1
and DMVLD.OWNERS_JN.ID = B.ID
and DMVLD.OWNERS_JN.JN_DATETIME = B.JN_DATETIME
