CREATE PROC [DMVLD].[TITLES_DELETE] AS


EXEC DropStats 'DMVLD','TITLES_CT_DEL'
CREATE STATISTICS STATS_TITLES_CT_DEL_001 ON DMVLD.TITLES_CT_DEL (ID)
CREATE STATISTICS STATS_TITLES_CT_DEL_002 ON DMVLD.TITLES_CT_DEL (ID, INSERT_DATETIME)



UPDATE DMVLD.TITLES
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM DMVLD.TITLES_CT_DEL B
WHERE DMVLD.TITLES.ID = B.ID
