CREATE PROC [DMVLD].[OWNERS_JN_INSERT] AS


EXEC DropStats 'DMVLD','OWNERS_JN_CT_INS'
CREATE STATISTICS STATS_OWNERS_JN_CT_INS_001 ON DMVLD.OWNERS_JN_CT_INS (ID,JN_DATETIME)

INSERT INTO DMVLD.OWNERS_JN
	(
		      JN_OPERATION, JN_ORACLE_USER, JN_DATETIME, JN_NOTES, JN_APPLN, JN_SESSION, ID, OWNER_TYPE, FULL_NAME, FIRST_NAME,
			   MIDDLE_NAME, LAST_NAME, DREC_ID, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, FIRST_NAME2, MIDDLE_NAME2,
			    LAST_NAME2, LAST_UPDATE_DATE, LAST_UPDATE_TYPE
	)
SELECT 

      A.JN_OPERATION, A.JN_ORACLE_USER, A.JN_DATETIME, A.JN_NOTES, A.JN_APPLN, A.JN_SESSION, A.ID, A.OWNER_TYPE, A.FULL_NAME, A.FIRST_NAME,
	   A.MIDDLE_NAME, A.LAST_NAME, A.DREC_ID, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.FIRST_NAME2, A.MIDDLE_NAME2,
	    A.LAST_NAME2, A.INSERT_DATETIME, 'I' as LAST_UPDATE_TYPE

FROM DMVLD.OWNERS_JN_CT_INS A
LEFT JOIN DMVLD.OWNERS_JN B ON A.ID = B.ID and A.JN_DATETIME=B.JN_DATETIME
WHERE B.ID IS NULL and B.JN_DATETIME is null


