CREATE PROC [DMVLD].[OWNER_ADDRESSES_Update_Stats] AS

EXEC DropStats 'DMVLD','OWNER_ADDRESSES'
CREATE STATISTICS STATS_OWNER_ADDRESSES_001 ON DMVLD.OWNER_ADDRESSES (ID)
CREATE STATISTICS STATS_OWNER_ADDRESSES_002 ON DMVLD.OWNER_ADDRESSES (ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_OWNER_ADDRESSES_003 ON DMVLD.OWNER_ADDRESSES (LAST_UPDATE_DATE)
