CREATE PROC [DMVLD].[VEHICLE_PLATES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'DMVLD','VEHICLE_PLATES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'DMVLD','VEHICLE_PLATES_CT_UPD'
CREATE STATISTICS STATS_VEHICLE_PLATES_CT_UPD_001 ON DMVLD.VEHICLE_PLATES_CT_UPD (PLATE_NUMBER,VEHI_ID,OWNR_ID)
CREATE STATISTICS STATS_VEHICLE_PLATES_CT_UPD_002 ON DMVLD.VEHICLE_PLATES_CT_UPD (PLATE_NUMBER,VEHI_ID,OWNR_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#VEHICLE_PLATES_CT_UPD_Dups')<>0
	DROP TABLE #VEHICLE_PLATES_CT_UPD_Dups

CREATE TABLE #VEHICLE_PLATES_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (PLATE_NUMBER,VEHI_ID,OWNR_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.PLATE_NUMBER,A.VEHI_ID,A.OWNR_ID, A.INSERT_DATETIME
	FROM DMVLD.VEHICLE_PLATES_CT_UPD A
	INNER JOIN 
		(
			SELECT PLATE_NUMBER,VEHI_ID,OWNR_ID
			FROM DMVLD.VEHICLE_PLATES_CT_UPD
			GROUP BY PLATE_NUMBER,VEHI_ID,OWNR_ID
			HAVING COUNT(*)>1
		) Dups ON A.PLATE_NUMBER = Dups.PLATE_NUMBER and A.VEHI_ID=Dups.VEHI_ID and A.OWNR_ID=Dups.OWNR_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#VEHICLE_PLATES_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #VEHICLE_PLATES_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #VEHICLE_PLATES_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (PLATE_NUMBER,VEHI_ID,OWNR_ID), LOCATION = USER_DB)
AS
	SELECT  
  A.PLATE_NUMBER, A.START_DATE, A.END_DATE, A.OWNR_ID, A.VEHI_ID, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.DREC_ID, A.VPS_MATCH, A.VIOLATOR_ID,A.INSERT_DATETIME

	FROM DMVLD.VEHICLE_PLATES_CT_UPD A
	INNER JOIN 
		(
			SELECT PLATE_NUMBER,VEHI_ID,OWNR_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #VEHICLE_PLATES_CT_UPD_Dups
			GROUP BY PLATE_NUMBER,VEHI_ID,OWNR_ID
		) LastRcrd ON A.PLATE_NUMBER = LastRcrd.PLATE_NUMBER and A.VEHI_ID=LastRcrd.VEHI_ID and A.OWNR_ID=LastRcrd.OWNR_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM DMVLD.VEHICLE_PLATES_CT_UPD 
WHERE EXISTS(SELECT * FROM #VEHICLE_PLATES_CT_UPD_Dups B 
WHERE 1=1
and DMVLD.VEHICLE_PLATES_CT_UPD.PLATE_NUMBER = B.PLATE_NUMBER and DMVLD.VEHICLE_PLATES_CT_UPD.VEHI_ID=B.VEHI_ID and DMVLD.VEHICLE_PLATES_CT_UPD.OWNR_ID=B.OWNR_ID
);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO DMVLD.VEHICLE_PLATES_CT_UPD 
	(  
  PLATE_NUMBER, START_DATE, END_DATE, OWNR_ID, VEHI_ID, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, DREC_ID, VPS_MATCH, VIOLATOR_ID,INSERT_DATETIME
	)
SELECT 
 PLATE_NUMBER, START_DATE, END_DATE, OWNR_ID, VEHI_ID, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, DREC_ID, VPS_MATCH, VIOLATOR_ID,INSERT_DATETIME

FROM #VEHICLE_PLATES_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  DMVLD.VEHICLE_PLATES
	SET 
	 
	   DMVLD.VEHICLE_PLATES.START_DATE		 =B.START_DATE
	 , DMVLD.VEHICLE_PLATES.END_DATE		 =B.END_DATE
	 , DMVLD.VEHICLE_PLATES.CREATED_BY		 =B.CREATED_BY
	 , DMVLD.VEHICLE_PLATES.DATE_CREATED	 =B.DATE_CREATED
	 , DMVLD.VEHICLE_PLATES.MODIFIED_BY		 =B.MODIFIED_BY
	 , DMVLD.VEHICLE_PLATES.DATE_MODIFIED	 =B.DATE_MODIFIED
	 , DMVLD.VEHICLE_PLATES.DREC_ID			 =B.DREC_ID
	 , DMVLD.VEHICLE_PLATES.VPS_MATCH		 =B.VPS_MATCH
	 , DMVLD.VEHICLE_PLATES.VIOLATOR_ID		 =B.VIOLATOR_ID
	 , DMVLD.VEHICLE_PLATES.LAST_UPDATE_DATE =B.[INSERT_DATETIME]
	 , DMVLD.VEHICLE_PLATES.LAST_UPDATE_TYPE ='U'

	FROM DMVLD.VEHICLE_PLATES_CT_UPD B
	WHERE 1=1
	and DMVLD.VEHICLE_PLATES.PLATE_NUMBER = B.PLATE_NUMBER 
	and DMVLD.VEHICLE_PLATES.VEHI_ID=B.VEHI_ID 
	and DMVLD.VEHICLE_PLATES.OWNR_ID=B.OWNR_ID

