CREATE PROC [DMVLD].[OWNERS_JN_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'DMVLD','OWNERS_JN'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'DMVLD','OWNERS_JN_CT_UPD'
CREATE STATISTICS STATS_OWNERS_JN_CT_UPD_001 ON DMVLD.OWNERS_JN_CT_UPD (ID,JN_DATETIME)
CREATE STATISTICS STATS_OWNERS_JN_CT_UPD_002 ON DMVLD.OWNERS_JN_CT_UPD (ID,JN_DATETIME, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#OWNERS_JN_CT_UPD_Dups')<>0
	DROP TABLE #OWNERS_JN_CT_UPD_Dups

CREATE TABLE #OWNERS_JN_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID,JN_DATETIME, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.ID,A.JN_DATETIME, A.INSERT_DATETIME
	FROM DMVLD.OWNERS_JN_CT_UPD A
	INNER JOIN 
		(
			SELECT ID,JN_DATETIME
			FROM DMVLD.OWNERS_JN_CT_UPD
			GROUP BY ID,JN_DATETIME
			HAVING COUNT(*)>1
		) Dups ON A.ID = Dups.ID and A.JN_DATETIME=Dups.JN_DATETIME

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#OWNERS_JN_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #OWNERS_JN_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #OWNERS_JN_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID,JN_DATETIME), LOCATION = USER_DB)
AS
	SELECT  
  A.JN_OPERATION, A.JN_ORACLE_USER, A.JN_DATETIME, A.JN_NOTES, A.JN_APPLN, A.JN_SESSION, A.ID, A.OWNER_TYPE, A.FULL_NAME, A.FIRST_NAME, A.MIDDLE_NAME, A.LAST_NAME,
   A.DREC_ID, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.FIRST_NAME2, A.MIDDLE_NAME2, A.LAST_NAME2,A.INSERT_DATETIME	

	FROM DMVLD.OWNERS_JN_CT_UPD A
	INNER JOIN 
		(
			SELECT ID,JN_DATETIME, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #OWNERS_JN_CT_UPD_Dups
			GROUP BY ID,JN_DATETIME
		) LastRcrd ON A.ID = LastRcrd.ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME and A.JN_DATETIME=LastRcrd.JN_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM DMVLD.OWNERS_JN_CT_UPD 
WHERE EXISTS(SELECT * FROM #OWNERS_JN_CT_UPD_Dups B WHERE DMVLD.OWNERS_JN_CT_UPD.ID = B.ID and DMVLD.OWNERS_JN_CT_UPD.JN_DATETIME=B.JN_DATETIME);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO DMVLD.OWNERS_JN_CT_UPD 
	(  
  JN_OPERATION, JN_ORACLE_USER, JN_DATETIME, JN_NOTES, JN_APPLN, JN_SESSION, ID, OWNER_TYPE, FULL_NAME, FIRST_NAME, MIDDLE_NAME, LAST_NAME, DREC_ID, CREATED_BY,
   DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, FIRST_NAME2, MIDDLE_NAME2, LAST_NAME2,INSERT_DATETIME
	)
SELECT 
 JN_OPERATION, JN_ORACLE_USER, JN_DATETIME, JN_NOTES, JN_APPLN, JN_SESSION, ID, OWNER_TYPE, FULL_NAME, FIRST_NAME, MIDDLE_NAME, LAST_NAME, DREC_ID, CREATED_BY,
   DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, FIRST_NAME2, MIDDLE_NAME2, LAST_NAME2,INSERT_DATETIME

FROM #OWNERS_JN_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  DMVLD.OWNERS_JN
	SET 

	    DMVLD.OWNERS_JN.JN_OPERATION	  =B.JN_OPERATION
	 ,  DMVLD.OWNERS_JN.JN_ORACLE_USER	  =B.JN_ORACLE_USER
	 ,  DMVLD.OWNERS_JN.JN_NOTES		  =B.JN_NOTES
	 ,  DMVLD.OWNERS_JN.JN_APPLN		  =B.JN_APPLN
	 ,  DMVLD.OWNERS_JN.JN_SESSION		  =B.JN_SESSION
	 ,  DMVLD.OWNERS_JN.OWNER_TYPE		  =B.OWNER_TYPE
	 ,  DMVLD.OWNERS_JN.FULL_NAME		  =B.FULL_NAME
	 ,  DMVLD.OWNERS_JN.FIRST_NAME		  =B.FIRST_NAME
	 ,  DMVLD.OWNERS_JN.MIDDLE_NAME		  =B.MIDDLE_NAME
	 ,  DMVLD.OWNERS_JN.LAST_NAME		  =B.LAST_NAME
	 ,  DMVLD.OWNERS_JN.DREC_ID			  =B.DREC_ID
	 ,  DMVLD.OWNERS_JN.CREATED_BY		  =B.CREATED_BY
	 ,  DMVLD.OWNERS_JN.DATE_CREATED	  =B.DATE_CREATED
	 ,  DMVLD.OWNERS_JN.MODIFIED_BY		  =B.MODIFIED_BY
	 ,  DMVLD.OWNERS_JN.DATE_MODIFIED	  =B.DATE_MODIFIED
	 ,  DMVLD.OWNERS_JN.FIRST_NAME2		  =B.FIRST_NAME2
	 ,  DMVLD.OWNERS_JN.MIDDLE_NAME2	  =B.MIDDLE_NAME2
	 ,  DMVLD.OWNERS_JN.LAST_NAME2		  =B.LAST_NAME2
	 ,  DMVLD.OWNERS_JN.LAST_UPDATE_DATE  =B.[INSERT_DATETIME]
	 ,  DMVLD.OWNERS_JN.LAST_UPDATE_TYPE  ='U'
	  

	    	    
	FROM DMVLD.OWNERS_JN_CT_UPD B
	WHERE DMVLD.OWNERS_JN.ID = B.ID and DMVLD.OWNERS_JN.JN_DATETIME=B.JN_DATETIME

