CREATE PROC [DMVLD].[TITLES_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'DMVLD','TITLES'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'DMVLD','TITLES_CT_UPD'
CREATE STATISTICS STATS_TITLES_CT_UPD_001 ON DMVLD.TITLES_CT_UPD (ID)
CREATE STATISTICS STATS_TITLES_CT_UPD_002 ON DMVLD.TITLES_CT_UPD (ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#TITLES_CT_UPD_Dups')<>0
	DROP TABLE #TITLES_CT_UPD_Dups

CREATE TABLE #TITLES_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.ID, A.INSERT_DATETIME
	FROM DMVLD.TITLES_CT_UPD A
	INNER JOIN 
		(
			SELECT ID
			FROM DMVLD.TITLES_CT_UPD
			GROUP BY ID
			HAVING COUNT(*)>1
		) Dups ON A.ID = Dups.ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#TITLES_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #TITLES_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #TITLES_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ID), LOCATION = USER_DB)
AS
	SELECT  
 A.ID, A.DOCNO, A.VEHI_ID, A.OWNR_ID, A.TITLE_ISSUE_DATE, A.IS_CURRENT, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.SOURCE_ID, A.END_SOURCE_ID,
 A.SOURCE_CODE, A.END_SOURCE_CODE, A.DOCNO_ON_FILE,A.INSERT_DATETIME

	FROM DMVLD.TITLES_CT_UPD A
	INNER JOIN 
		(
			SELECT ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #TITLES_CT_UPD_Dups
			GROUP BY ID
		) LastRcrd ON A.ID = LastRcrd.ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM DMVLD.TITLES_CT_UPD 
WHERE EXISTS(SELECT * FROM #TITLES_CT_UPD_Dups B WHERE DMVLD.TITLES_CT_UPD.ID = B.ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO DMVLD.TITLES_CT_UPD 
	(  
 ID, DOCNO, VEHI_ID, OWNR_ID, TITLE_ISSUE_DATE, IS_CURRENT, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, SOURCE_ID, END_SOURCE_ID,
 SOURCE_CODE, END_SOURCE_CODE, DOCNO_ON_FILE,INSERT_DATETIME
	)
SELECT 
 ID, DOCNO, VEHI_ID, OWNR_ID, TITLE_ISSUE_DATE, IS_CURRENT, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, SOURCE_ID, END_SOURCE_ID,
 SOURCE_CODE, END_SOURCE_CODE, DOCNO_ON_FILE,INSERT_DATETIME

FROM #TITLES_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  DMVLD.TITLES
	SET 
	 
	   DMVLD.TITLES.VEHI_ID			  =B.VEHI_ID
	 , DMVLD.TITLES.OWNR_ID			  =B.OWNR_ID
	 , DMVLD.TITLES.TITLE_ISSUE_DATE  =B.TITLE_ISSUE_DATE
	 , DMVLD.TITLES.IS_CURRENT		  =B.IS_CURRENT
	 , DMVLD.TITLES.CREATED_BY		  =B.CREATED_BY
	 , DMVLD.TITLES.DATE_CREATED	  =B.DATE_CREATED
	 , DMVLD.TITLES.MODIFIED_BY		  =B.MODIFIED_BY
	 , DMVLD.TITLES.DATE_MODIFIED	  =B.DATE_MODIFIED
	 , DMVLD.TITLES.SOURCE_ID		  =B.SOURCE_ID
	 , DMVLD.TITLES.END_SOURCE_ID	  =B.END_SOURCE_ID
	 , DMVLD.TITLES.SOURCE_CODE		  =B.SOURCE_CODE
	 , DMVLD.TITLES.END_SOURCE_CODE	  =B.END_SOURCE_CODE
	 , DMVLD.TITLES.DOCNO_ON_FILE	  =B.DOCNO_ON_FILE
	 , DMVLD.TITLES.LAST_UPDATE_DATE  =B.[INSERT_DATETIME]
	 , DMVLD.TITLES.LAST_UPDATE_TYPE  ='U'
		  
    FROM DMVLD.TITLES_CT_UPD B
	WHERE DMVLD.TITLES.ID = B.ID

