CREATE PROC [DMVLD].[VO_RENEWAL_ADDR_XREF_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'DMVLD','VO_RENEWAL_ADDR_XREF'
		You will have to remove the Distribution key from what it generates
*/

	UPDATE  DMVLD.VO_RENEWAL_ADDR_XREF
	SET 

		  DMVLD.VO_RENEWAL_ADDR_XREF.VEHI_ID = B.VEHI_ID
		, DMVLD.VO_RENEWAL_ADDR_XREF.OWNR_ID = B.OWNR_ID
		, DMVLD.VO_RENEWAL_ADDR_XREF.RCPT_OWNR_ID = B.RCPT_OWNR_ID
		, DMVLD.VO_RENEWAL_ADDR_XREF.ADDR_ID = B.ADDR_ID
		, DMVLD.VO_RENEWAL_ADDR_XREF.ADDR_START = B.ADDR_START
		, DMVLD.VO_RENEWAL_ADDR_XREF.ADDR_END = B.ADDR_END
		, DMVLD.VO_RENEWAL_ADDR_XREF.IS_CURRENT = B.IS_CURRENT
		, DMVLD.VO_RENEWAL_ADDR_XREF.CREATED_BY = B.CREATED_BY
		, DMVLD.VO_RENEWAL_ADDR_XREF.DATE_CREATED = B.DATE_CREATED
		, DMVLD.VO_RENEWAL_ADDR_XREF.MODIFIED_BY = B.MODIFIED_BY
		, DMVLD.VO_RENEWAL_ADDR_XREF.DATE_MODIFIED = B.DATE_MODIFIED
		, DMVLD.VO_RENEWAL_ADDR_XREF.SOURCE_ID = B.SOURCE_ID
		, DMVLD.VO_RENEWAL_ADDR_XREF.END_SOURCE_ID = B.END_SOURCE_ID
		, DMVLD.VO_RENEWAL_ADDR_XREF.SOURCE_CODE = B.SOURCE_CODE
		, DMVLD.VO_RENEWAL_ADDR_XREF.END_SOURCE_CODE = B.END_SOURCE_CODE
		, DMVLD.VO_RENEWAL_ADDR_XREF.LAST_UPDATE_DATE =B.INSERT_DATETIME
		, DMVLD.VO_RENEWAL_ADDR_XREF.LAST_UPDATE_TYPE ='U'
	 
	FROM DMVLD.VO_RENEWAL_ADDR_XREF_CT_UPD B
	WHERE DMVLD.VO_RENEWAL_ADDR_XREF.ID = B.ID

