CREATE PROC [DMVLD].[DMV_RECORDS_DELETE] AS


EXEC DropStats 'DMVLD','DMV_RECORDS_CT_DEL'
CREATE STATISTICS STATS_DMV_RECORDS_CT_DEL_001 ON DMVLD.DMV_RECORDS_CT_DEL (DREC_ID)
CREATE STATISTICS STATS_DMV_RECORDS_CT_DEL_002 ON DMVLD.DMV_RECORDS_CT_DEL (DREC_ID, INSERT_DATETIME)



UPDATE DMVLD.DMV_RECORDS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM DMVLD.DMV_RECORDS_CT_DEL B
WHERE DMVLD.DMV_RECORDS.DREC_ID = B.DREC_ID
