CREATE PROC [DMVLD].[PLATES_INSERT] AS


EXEC DropStats 'DMVLD','PLATES_CT_INS'
CREATE STATISTICS STATS_PLATES_CT_INS_001 ON DMVLD.PLATES_CT_INS (ID)

INSERT INTO DMVLD.PLATES
	(
		      ID, LIC_PLATE_NBR, LIC_PLATE_STATE, TITLE_ID, IS_CURRENT, START_DATE, END_DATE, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY,
			  SOURCE_ID, END_SOURCE_ID, SOURCE_CODE, END_SOURCE_CODE, LAST_UPDATE_DATE, LAST_UPDATE_TYPE
	)
SELECT 

 A.ID, A.LIC_PLATE_NBR, A.LIC_PLATE_STATE, A.TITLE_ID, A.IS_CURRENT, A.START_DATE, A.END_DATE, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY,
  A.SOURCE_ID, A.END_SOURCE_ID, A.SOURCE_CODE, A.END_SOURCE_CODE,A.INSERT_DATETIME, 'I' as LAST_UPDATE_TYPE

FROM DMVLD.PLATES_CT_INS A
LEFT JOIN DMVLD.PLATES B ON A.ID = B.ID
WHERE B.ID IS NULL


