CREATE PROC [DMVLD].[ETAG_RECORDS_UPDATE] AS
/*
	Use this proc to help write the code
		GetUpdateFields 'DMVLD','ETAG_RECORDS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'DMVLD','ETAG_RECORDS_CT_UPD'
CREATE STATISTICS STATS_ETAG_RECORDS_CT_UPD_001 ON DMVLD.ETAG_RECORDS_CT_UPD (EREC_ID)
CREATE STATISTICS STATS_ETAG_RECORDS_CT_UPD_002 ON DMVLD.ETAG_RECORDS_CT_UPD (EREC_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#ETAG_RECORDS_CT_UPD_Dups')<>0
	DROP TABLE #ETAG_RECORDS_CT_UPD_Dups

CREATE TABLE #ETAG_RECORDS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (EREC_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.EREC_ID, A.INSERT_DATETIME
	FROM DMVLD.ETAG_RECORDS_CT_UPD A
	INNER JOIN 
		(
			SELECT EREC_ID
			FROM DMVLD.ETAG_RECORDS_CT_UPD
			GROUP BY EREC_ID
			HAVING COUNT(*)>1
		) Dups ON A.EREC_ID = Dups.EREC_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#ETAG_RECORDS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #ETAG_RECORDS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #ETAG_RECORDS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (EREC_ID), LOCATION = USER_DB)
AS
	SELECT  

	 A.EREC_ID, A.RECNO, A.CONTROL_ITEM_ID, A.CONTROL_ITEM_STATE, A.EFFECTIVE_DATESTR, A.EXPIRATION_DATESTR, A.EFFECTIVE_DATE, A.EXPIRATION_DATE, A.USAGE_REASON,
	  A.DESCRIPTION, A.VIN, A.DOCNO, A.MAKE, A.MODEL, A.BODYSTYLE, A.COLOR, A.YEAR, A.PREV_DOCNO, A.FULL_NAME, A.ADDRESS1, A.ADDRESS2, A.CITY, A.STATE, A.ZIPCODE,
	   A.ZIPCODE4, A.COUNTRY, A.LIENHLDRNAME, A.LIENHLDRST1, A.LIENHLDRST2, A.LIENHLDRCITY, A.LIENHLDRSTATE, A.LIENHLDRZPCD, A.LIENHLDRZPCDP4, A.FILE_ID, A.VIN_ON_FILE,
	    A.DOCNO_ON_FILE, A.STATUS, A.DATE_CREATED, A.DATE_PROCESSED, A.INSERT_DATETIME
	

	FROM DMVLD.ETAG_RECORDS_CT_UPD A
	INNER JOIN 
		(
			SELECT EREC_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #ETAG_RECORDS_CT_UPD_Dups
			GROUP BY EREC_ID
		) LastRcrd ON A.EREC_ID = LastRcrd.EREC_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM DMVLD.ETAG_RECORDS_CT_UPD 
WHERE EXISTS(SELECT * FROM #ETAG_RECORDS_CT_UPD_Dups B WHERE DMVLD.ETAG_RECORDS_CT_UPD.EREC_ID = B.EREC_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO DMVLD.ETAG_RECORDS_CT_UPD 
	(  
 EREC_ID, RECNO, CONTROL_ITEM_ID, CONTROL_ITEM_STATE, EFFECTIVE_DATESTR, EXPIRATION_DATESTR, EFFECTIVE_DATE, EXPIRATION_DATE, USAGE_REASON, DESCRIPTION,
  VIN, DOCNO, MAKE, MODEL, BODYSTYLE, COLOR, YEAR, PREV_DOCNO, FULL_NAME, ADDRESS1, ADDRESS2, CITY, STATE, ZIPCODE, ZIPCODE4, COUNTRY, LIENHLDRNAME,
   LIENHLDRST1, LIENHLDRST2, LIENHLDRCITY, LIENHLDRSTATE, LIENHLDRZPCD, LIENHLDRZPCDP4, FILE_ID, VIN_ON_FILE, DOCNO_ON_FILE, STATUS, DATE_CREATED,
    DATE_PROCESSED,INSERT_DATETIME
	)
SELECT 
     EREC_ID, RECNO, CONTROL_ITEM_ID, CONTROL_ITEM_STATE, EFFECTIVE_DATESTR, EXPIRATION_DATESTR, EFFECTIVE_DATE, EXPIRATION_DATE, USAGE_REASON, DESCRIPTION,
  VIN, DOCNO, MAKE, MODEL, BODYSTYLE, COLOR, YEAR, PREV_DOCNO, FULL_NAME, ADDRESS1, ADDRESS2, CITY, STATE, ZIPCODE, ZIPCODE4, COUNTRY, LIENHLDRNAME,
   LIENHLDRST1, LIENHLDRST2, LIENHLDRCITY, LIENHLDRSTATE, LIENHLDRZPCD, LIENHLDRZPCDP4, FILE_ID, VIN_ON_FILE, DOCNO_ON_FILE, STATUS, DATE_CREATED,
    DATE_PROCESSED,INSERT_DATETIME


FROM #ETAG_RECORDS_CT_UPD_DuplicateLastRowToReInsert

	UPDATE  DMVLD.ETAG_RECORDS
	SET 


	  
	     DMVLD.ETAG_RECORDS.RECNO                 =B.RECNO
	  ,  DMVLD.ETAG_RECORDS.CONTROL_ITEM_ID		  =B.CONTROL_ITEM_ID
	  ,  DMVLD.ETAG_RECORDS.CONTROL_ITEM_STATE	  =B.CONTROL_ITEM_STATE
	  ,  DMVLD.ETAG_RECORDS.EFFECTIVE_DATESTR	  =B.EFFECTIVE_DATESTR
	  ,  DMVLD.ETAG_RECORDS.EXPIRATION_DATESTR	  =B.EXPIRATION_DATESTR
	  ,  DMVLD.ETAG_RECORDS.EFFECTIVE_DATE		  =B.EFFECTIVE_DATE
	  ,  DMVLD.ETAG_RECORDS.EXPIRATION_DATE		  =B.EXPIRATION_DATE
	  ,  DMVLD.ETAG_RECORDS.USAGE_REASON		  =B.USAGE_REASON
	  ,  DMVLD.ETAG_RECORDS.DESCRIPTION			  =B.DESCRIPTION
	  ,  DMVLD.ETAG_RECORDS.VIN					  =B.VIN
	  ,  DMVLD.ETAG_RECORDS.DOCNO				  =B.DOCNO
	  ,  DMVLD.ETAG_RECORDS.MAKE				  =B.MAKE
	  ,  DMVLD.ETAG_RECORDS.MODEL				  =B.MODEL
	  ,  DMVLD.ETAG_RECORDS.BODYSTYLE			  =B.BODYSTYLE
	  ,  DMVLD.ETAG_RECORDS.COLOR				  =B.COLOR
	  ,  DMVLD.ETAG_RECORDS.YEAR				  =B.YEAR
	  ,  DMVLD.ETAG_RECORDS.PREV_DOCNO			  =B.PREV_DOCNO
	  ,  DMVLD.ETAG_RECORDS.FULL_NAME			  =B.FULL_NAME
	  ,  DMVLD.ETAG_RECORDS.ADDRESS1			  =B.ADDRESS1
	  ,  DMVLD.ETAG_RECORDS.ADDRESS2			  =B.ADDRESS2
	  ,  DMVLD.ETAG_RECORDS.CITY				  =B.CITY
	  ,  DMVLD.ETAG_RECORDS.STATE				  =B.STATE
	  ,  DMVLD.ETAG_RECORDS.ZIPCODE				  =B.ZIPCODE
	  ,  DMVLD.ETAG_RECORDS.ZIPCODE4			  =B.ZIPCODE4
	  ,  DMVLD.ETAG_RECORDS.COUNTRY				  =B.COUNTRY
	  ,  DMVLD.ETAG_RECORDS.LIENHLDRNAME		  =B.LIENHLDRNAME
	  ,  DMVLD.ETAG_RECORDS.LIENHLDRST1			  =B.LIENHLDRST1
	  ,  DMVLD.ETAG_RECORDS.LIENHLDRST2			  =B.LIENHLDRST2
	  ,  DMVLD.ETAG_RECORDS.LIENHLDRCITY		  =B.LIENHLDRCITY
	  ,  DMVLD.ETAG_RECORDS.LIENHLDRSTATE		  =B.LIENHLDRSTATE
	  ,  DMVLD.ETAG_RECORDS.LIENHLDRZPCD		  =B.LIENHLDRZPCD
	  ,  DMVLD.ETAG_RECORDS.LIENHLDRZPCDP4		  =B.LIENHLDRZPCDP4
	  ,  DMVLD.ETAG_RECORDS.FILE_ID				  =B.FILE_ID
	  ,  DMVLD.ETAG_RECORDS.VIN_ON_FILE			  =B.VIN_ON_FILE
	  ,  DMVLD.ETAG_RECORDS.DOCNO_ON_FILE		  =B.DOCNO_ON_FILE
	  ,  DMVLD.ETAG_RECORDS.STATUS				  =B.STATUS
	  ,  DMVLD.ETAG_RECORDS.DATE_CREATED		  =B.DATE_CREATED
	  ,  DMVLD.ETAG_RECORDS.DATE_PROCESSED		  =B.DATE_PROCESSED
	  ,  DMVLD.ETAG_RECORDS.LAST_UPDATE_DATE	  =B.[INSERT_DATETIME] 
	  ,  DMVLD.ETAG_RECORDS.LAST_UPDATE_TYPE	  ='U'
	    
		  
				  
	FROM DMVLD.ETAG_RECORDS_CT_UPD B
	WHERE DMVLD.ETAG_RECORDS.EREC_ID = B.EREC_ID

