CREATE PROC [DMVLD].[OWNERS_INSERT] AS


EXEC DropStats 'DMVLD','OWNERS_CT_INS'
CREATE STATISTICS STATS_OWNERS_CT_INS_001 ON DMVLD.OWNERS_CT_INS (ID)

INSERT INTO DMVLD.OWNERS
	(
		      ID, OWNER_TYPE, FULL_NAME, FIRST_NAME, MIDDLE_NAME, LAST_NAME, FIRST_NAME2, MIDDLE_NAME2, LAST_NAME2, SOURCE_ID, CREATED_BY, DATE_CREATED,
			   MODIFIED_BY, DATE_MODIFIED, SOURCE_CODE, LAST_UPDATE_DATE, LAST_UPDATE_TYPE
	)
SELECT 

      A.ID, A.OWNER_TYPE, A.FULL_NAME, A.FIRST_NAME, A.MIDDLE_NAME, A.LAST_NAME, A.FIRST_NAME2, A.MIDDLE_NAME2, A.LAST_NAME2, A.SOURCE_ID, A.CREATED_BY,
	   A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED, A.SOURCE_CODE, A.INSERT_DATETIME, 'I' as LAST_UPDATE_TYPE

FROM DMVLD.OWNERS_CT_INS A
LEFT JOIN DMVLD.OWNERS B ON A.ID = B.ID
WHERE B.ID IS NULL


