CREATE PROC [DMVLD].[OWNERS_JN_Update_Stats] AS

EXEC DropStats 'DMVLD','OWNERS_JN'
CREATE STATISTICS STATS_OWNERS_JN_001 ON DMVLD.OWNERS_JN (ID,JN_DATETIME)
CREATE STATISTICS STATS_OWNERS_JN_002 ON DMVLD.OWNERS_JN (ID,JN_DATETIME, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_OWNERS_JN_003 ON DMVLD.OWNERS_JN (LAST_UPDATE_DATE)
