CREATE PROC [DMVLD].[VEHICLE_PLATES_DELETE] AS


EXEC DropStats 'DMVLD','VEHICLE_PLATES_CT_DEL'
CREATE STATISTICS STATS_VEHICLE_PLATES_CT_DEL_001 ON DMVLD.VEHICLE_PLATES_CT_DEL (PLATE_NUMBER,VEHI_ID,OWNR_ID)
CREATE STATISTICS STATS_VEHICLE_PLATES_CT_DEL_002 ON DMVLD.VEHICLE_PLATES_CT_DEL (PLATE_NUMBER,VEHI_ID,OWNR_ID, INSERT_DATETIME)



UPDATE DMVLD.VEHICLE_PLATES
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM DMVLD.VEHICLE_PLATES_CT_DEL B

WHERE 1=1
and DMVLD.VEHICLE_PLATES.PLATE_NUMBER=B.PLATE_NUMBER
and DMVLD.VEHICLE_PLATES.VEHI_ID=B.VEHI_ID
and DMVLD.VEHICLE_PLATES.OWNR_ID=B.OWNR_ID
