CREATE PROC [DMVLD].[ADDRESSES_INSERT] AS


EXEC DropStats 'DMVLD','ADDRESSES_CT_INS'
CREATE STATISTICS STATS_ADDRESSES_CT_INS_001 ON DMVLD.ADDRESSES_CT_INS (ID)

INSERT INTO DMVLD.ADDRESSES
	(
		     ID, STREET, CITY, STATE, ZIP, PLUS4, SOURCE_ID, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, SOURCE_CODE, COUNTRY_CODE, LAST_UPDATE_DATE, LAST_UPDATE_TYPE
	)
SELECT 

      A.ID, A.STREET, A.CITY, A.STATE, A.ZIP, A.PLUS4, A.SOURCE_ID, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, A.SOURCE_CODE, A.COUNTRY_CODE, A.INSERT_DATETIME, 'I' as LAST_UPDATE_TYPE

FROM DMVLD.ADDRESSES_CT_INS A
LEFT JOIN DMVLD.ADDRESSES B ON A.ID = B.ID
WHERE B.ID IS NULL


