CREATE PROC [DMVLD].[VEHICLES_INSERT] AS


EXEC DropStats 'DMVLD','VEHICLES_CT_INS'
CREATE STATISTICS STATS_VEHICLES_CT_INS_001 ON DMVLD.VEHICLES_CT_INS (ID)

INSERT INTO DMVLD.VEHICLES
	(
		        ID, VIN, BODY_TYPE, CLASS, YEAR, MODL_ID, SOURCE_ID, VETY_ID, MAKE_ID, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED,
				SOURCE_CODE, VIN_ON_FILE, LAST_UPDATE_DATE, LAST_UPDATE_TYPE
	)
SELECT 

 A.ID, A.VIN, A.BODY_TYPE, A.CLASS, A.YEAR, A.MODL_ID, A.SOURCE_ID, A.VETY_ID, A.MAKE_ID, A.CREATED_BY, A.DATE_CREATED, A.MODIFIED_BY, A.DATE_MODIFIED,
 A.SOURCE_CODE, A.VIN_ON_FILE,A.INSERT_DATETIME, 'I' as LAST_UPDATE_TYPE

FROM DMVLD.VEHICLES_CT_INS A
LEFT JOIN DMVLD.VEHICLES B ON A.ID = B.ID
WHERE B.ID IS NULL


