CREATE PROC [DMVLD].[ETAG_RECORDS_Update_Stats] AS

EXEC DropStats 'DMVLD','ETAG_RECORDS'
CREATE STATISTICS STATS_ETAG_RECORDS_001 ON DMVLD.ETAG_RECORDS (EREC_ID)
CREATE STATISTICS STATS_ETAG_RECORDS_002 ON DMVLD.ETAG_RECORDS (EREC_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_ETAG_RECORDS_003 ON DMVLD.ETAG_RECORDS (LAST_UPDATE_DATE)
