CREATE PROC [DBO].[FACT_CA_COLLECTED_PAYMENTS_LOAD] AS 
-- !!!!!!!!! NOTE BENE!!!  This Proc could be run only from PROC [DBO].FACT_CA_PAYMENTS_LOAD in case it using stage tables from it!

/*	

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.FACT_CA_COLLECTED_PAYMENTS_LOAD') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_CA_COLLECTED_PAYMENTS_LOAD
GO

EXEC EDW_RITE.DBO.FACT_CA_COLLECTED_PAYMENTS_LOAD

SELECT TOP 1000 * FROM EDW_RITE.DBO.FACT_CA_COLLECTED_PAYMENTS
WHERE  VIOL_INVOICE_ID = -1 AND VBI_INVOICE_ID > -1


SELECT COUNT_BIG(1) FROM EDW_RITE.DBO.FACT_CA_COLLECTED_PAYMENTS -- 27 762  -- 29 037
SELECT COUNT_BIG(1) FROM LND_LG_VPS.VP_OWNER.PAYMENT_XREF

*/  
--#1	ANDY FILIPPS	2019-02-14	Created new proc

DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT 
--DECLARE @LOAD_CONTROL_DATE DATETIME2(2)

SET @LOG_START_DATE = GETDATE()
SELECT  @SOURCE = 'FACT_CA_COLLECTED_PAYMENTS', @LOG_MESSAGE = 'Started full load'
EXEC    EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE,  NULL

IF OBJECT_ID('dbo.FACT_CA_COLLECTED_PAYMENTS_NEW_SET') IS NULL
BEGIN

	IF OBJECT_ID('dbo.TCA_SUMMARY_PAYMENTS') IS NOT NULL DROP TABLE dbo.TCA_SUMMARY_PAYMENTS;
	-- EXPLAIN
	CREATE TABLE dbo.TCA_SUMMARY_PAYMENTS WITH (HEAP, DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS
		SELECT LAST_INVOICE_ID, MAX(PAYMENT_ID) AS PAYMENT_ID, ISNULL(VBI_INVOICE_ID,-1) AS VBI_INVOICE_ID, ISNULL(VIOL_INVOICE_ID,-1) AS VIOL_INVOICE_ID, POS_ID, DELIVERY_CODE, PAYMENT_SOURCE_CODE, PAYMENT_DATE,
				CAST(SUM(VIOL_AMOUNT) AS DECIMAL(10,2)) AS VIOL_AMOUNT
		FROM dbo.FACT_INVOICE_PAYMENTS
		WHERE LAST_INVOICE_ID NOT IN (SELECT LAST_INVOICE_ID FROM CTE_CA_INVOICES) AND VIOL_AMOUNT <> 0 AND POS_ID IN (444,445,446,431)
		GROUP BY LAST_INVOICE_ID, ISNULL(VBI_INVOICE_ID,-1), ISNULL(VIOL_INVOICE_ID,-1), POS_ID, DELIVERY_CODE, PAYMENT_SOURCE_CODE, PAYMENT_DATE
	OPTION (LABEL = 'FACT_CA_COLLECTED_PAYMENTS LOAD: TCA_SUMMARY_PAYMENTS');

	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Finisfed TCA_SUMMARY_PAYMENTS load'
	EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	-- EXPLAIN
	CREATE TABLE dbo.FACT_CA_COLLECTED_PAYMENTS_NEW_SET WITH (CLUSTERED INDEX (PAYMENT_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID), DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS
    SELECT 
			ISNULL(P.LAST_INVOICE_ID,		-1)			AS LAST_INVOICE_ID,
			ISNULL(P.PAYMENT_ID,			-1)			AS PAYMENT_ID,
			ISNULL(P.VBI_INVOICE_ID,		-1)			AS VBI_INVOICE_ID,
			ISNULL(P.VIOL_INVOICE_ID,		-1)			AS VIOL_INVOICE_ID,
			ISNULL(I.VIOLATOR_ID,			-1)			AS VIOLATOR_ID,
            ISNULL(I.VIOL_INVOICE_DATE,		'19000101') AS INVOICE_DATE,
            ISNULL(I.VIOL_INV_STATUS, 		'-1')		AS VIOL_INV_STATUS, 
			ISNULL(I.VB_INVOICE_DATE, 		'19000101') AS VB_INVOICE_DATE, 
			ISNULL(I.VBI_STATUS, 			'-1')		AS VBI_STATUS, 
			ISNULL(I.VIOL_INVOICE_AMT, 		0)			AS INVOICE_AMOUNT, 
			ISNULL(I.VIOL_INVOICE_AMT_DISC, 0)			AS INVOICE_AMT_DISC,
			ISNULL(I.TOLL_AMOUNT,			0)			AS TOLL_AMOUNT,
			ISNULL(I.FEES_AMOUNT,			0)			AS TOLL_FEE, 
			ISNULL(I.VIOL_INV_DATE_EXCUSED,	'19000101') AS DATE_EXCUSED,
			ISNULL(I.VIOL_INV_EXCUSED_BY,	'')			AS EXCUSED_BY,
            ISNULL(I.DPS_INV_STATUS,		'-1')		AS DPS_INV_STATUS, 
            ISNULL(HV.VIDSEQ,				-1)			AS VIDSEQ, 
            ISNULL(HV.PAYMENTPLANID,		-1)			AS PAYMENTPLANID,
            ISNULL(HV.HV_START_DATE,		'19000101') AS HV_START_DATE,
            ISNULL(HV.HV_END_DATE,			'19000101') AS HV_END_DATE,
            P.PAYMENT_DATE,
			P.POS_ID, 
			P.DELIVERY_CODE,
			P.PAYMENT_SOURCE_CODE, 
			P.VIOL_AMOUNT
			-- SELECT count_big(0)  
    FROM dbo.TCA_SUMMARY_PAYMENTS P
    JOIN	EDW_RITE.dbo.FACT_INVOICES_DATA I	ON I.LAST_INVOICE_ID = P.LAST_INVOICE_ID AND I.VBI_INVOICE_ID = P.VBI_INVOICE_ID
    LEFT JOIN CTE_HV_DATA HV ON HV.VIOLATOR_ID = I.VIOLATOR_ID AND (P.PAYMENT_DATE BETWEEN HV.HV_START_DATE AND HV.HV_END_DATE) AND HV.LAST_INVOICE_ID = P.LAST_INVOICE_ID -- OR HV.VBI_INVOICE_ID = P.VBI_INVOICE_ID)
	OPTION (LABEL = 'FACT_CA_COLLECTED_PAYMENTS LOAD');

	-- SELECT * FROM dbo.FACT_CA_COLLECTED_PAYMENTS_NEW_SET


	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Finisfed New set FACT_CA_COLLECTED_PAYMENTS load'
	EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	CREATE STATISTICS STATS_FACT_CA_COLLECTED_PAYMENTS_000 ON [dbo].FACT_CA_COLLECTED_PAYMENTS_NEW_SET (LAST_INVOICE_ID)
	CREATE STATISTICS STATS_FACT_CA_COLLECTED_PAYMENTS_001 ON [dbo].FACT_CA_COLLECTED_PAYMENTS_NEW_SET (VIOL_INVOICE_ID)
	CREATE STATISTICS STATS_FACT_CA_COLLECTED_PAYMENTS_002 ON [dbo].FACT_CA_COLLECTED_PAYMENTS_NEW_SET (VBI_INVOICE_ID)
	CREATE STATISTICS STATS_FACT_CA_COLLECTED_PAYMENTS_003 ON [dbo].FACT_CA_COLLECTED_PAYMENTS_NEW_SET (VIOLATOR_ID,VIDSEQ)
	CREATE STATISTICS STATS_FACT_CA_COLLECTED_PAYMENTS_004 ON [dbo].FACT_CA_COLLECTED_PAYMENTS_NEW_SET (PAYMENTPLANID)
	CREATE STATISTICS STATS_FACT_CA_COLLECTED_PAYMENTS_005 ON [dbo].FACT_CA_COLLECTED_PAYMENTS_NEW_SET (PAYMENT_DATE)
	CREATE STATISTICS STATS_FACT_CA_COLLECTED_PAYMENTS_006 ON [dbo].FACT_CA_COLLECTED_PAYMENTS_NEW_SET (POS_ID)

	IF OBJECT_ID('dbo.TCA_PAY_VIOLATION') IS NOT NULL DROP TABLE dbo.TCA_PAY_VIOLATION;
	IF OBJECT_ID('dbo.TCA_PAY_VBI_INVOICE') IS NOT NULL DROP TABLE dbo.TCA_PAY_VBI_INVOICE;
	IF OBJECT_ID('dbo.TCA_PAY_VIOL_INVOICE') IS NOT NULL DROP TABLE dbo.TCA_PAY_VIOL_INVOICE;
	IF OBJECT_ID('dbo.TCA_SUMMARY_PAYMENTS') IS NOT NULL DROP TABLE dbo.TCA_SUMMARY_PAYMENTS;

END  
ELSE
BEGIN
	--EXEC	EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'New set FACT_CA_COLLECTED_PAYMENTS table found - no need to load again.'
	EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL
	
END -- ELSE IF OBJECT_ID('dbo.FACT_UVS_NEW') IS NULL 

	---- Replace OLD table with NEW
IF OBJECT_ID('dbo.FACT_CA_COLLECTED_PAYMENTS_OLD')>0 	DROP TABLE dbo.FACT_CA_COLLECTED_PAYMENTS_OLD;
IF OBJECT_ID('dbo.FACT_CA_COLLECTED_PAYMENTS')>0		RENAME OBJECT::dbo.FACT_CA_COLLECTED_PAYMENTS TO FACT_CA_COLLECTED_PAYMENTS_OLD;
RENAME OBJECT::dbo.FACT_CA_COLLECTED_PAYMENTS_NEW_SET TO FACT_CA_COLLECTED_PAYMENTS;
IF OBJECT_ID('dbo.FACT_CA_COLLECTED_PAYMENTS_OLD')>0 	DROP TABLE dbo.FACT_CA_COLLECTED_PAYMENTS_OLD;

--SELECT @LOAD_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.PAYMENT_XREF
--DELETE FROM EDW_RITE.dbo.LOAD_PROCESS_CONTROL WHERE  TABLE_NAME = 'FACT_CA_COLLECTED_PAYMENTS&PAYMENT_XREF'
--INSERT INTO EDW_RITE.dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'FACT_CA_COLLECTED_PAYMENTS&PAYMENT_XREF', LAST_RUN_DATE = @LOAD_CONTROL_DATE

SET  @LOG_MESSAGE = 'Finished full load'
EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL

