CREATE PROC [dbo].[HOST_TGS_XREF_LOAD] AS
BEGIN	

    DECLARE @SOURCE VARCHAR(50), @START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT, @PREFIX_LEN TINYINT = 5
    SELECT  @SOURCE = 'HOST_TGS_XREF_LOAD', @START_DATE = GETDATE(), @LOG_MESSAGE = '<< Started HOST_TGS_XREF_LOAD to do full sync by comparing Source vs Target row counts by data bands'
    EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE,  NULL

	--STEP #1: Compare Key Range Counts and identify Key Ranges with differing row counts

	--:: Source Key Range Counts
	IF OBJECT_ID('tempdb..#SourceSet') IS NOT NULL DROP TABLE #SourceSet
	CREATE TABLE #SourceSet  WITH (LOCATION = USER_DB, DISTRIBUTION = HASH(ID_PREFIX))
	AS
	SELECT  LEFT(CONVERT(VARCHAR,TTXN_ID),@PREFIX_LEN) ID_PREFIX, COUNT_BIG(1) ROWS_COUNT 
	FROM	LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS
	WHERE	SOURCE_CODE = 'H' 
	AND		CREDITED_FLAG =  'N'
	GROUP BY LEFT(CONVERT(VARCHAR,TTXN_ID),@PREFIX_LEN)
		
	SELECT  @ROW_COUNT = COUNT_BIG(1), @LOG_MESSAGE = 'Loaded #SourceSet with ' + CONVERT(VARCHAR, COUNT_BIG(1)) + ' ' + CONVERT(VARCHAR,@PREFIX_LEN) + '-digit prefix data bands with ' + CONVERT(VARCHAR, SUM (ROWS_COUNT)) + ' rows' FROM  #SourceSet
	EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE,  @ROW_COUNT

	--:: Target Key Range Counts
	IF OBJECT_ID('tempdb..#TargetSet') IS NOT NULL DROP TABLE #TargetSet
	CREATE TABLE #TargetSet  WITH (LOCATION = USER_DB, DISTRIBUTION = HASH(ID_PREFIX))
	AS
	SELECT  LEFT(CONVERT(VARCHAR,TTXN_ID),@PREFIX_LEN) ID_PREFIX, COUNT_BIG(1) ROWS_COUNT
	FROM	dbo.HOST_TGS_XREF
	GROUP BY LEFT(CONVERT(VARCHAR,TTXN_ID),@PREFIX_LEN) --  (89965 row(s) affected) in 30 min

	SELECT  @ROW_COUNT = COUNT_BIG(1), @LOG_MESSAGE = 'Loaded #TargetSet with ' + CONVERT(VARCHAR, COUNT_BIG(1)) + ' ' + CONVERT(VARCHAR,@PREFIX_LEN) + '-digit prefix data bands with ' + CONVERT(VARCHAR, SUM (ROWS_COUNT)) + ' rows' FROM  #TargetSet
	EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE,  @ROW_COUNT

	IF OBJECT_ID('tempdb..#DiffSet') IS NOT NULL DROP TABLE #DiffSet
	CREATE TABLE #DiffSet WITH (LOCATION = USER_DB, DISTRIBUTION = HASH(ID_PREFIX)) 
	AS
	SELECT ID_PREFIX, ROWS_COUNT FROM #SourceSet
	EXCEPT
	SELECT ID_PREFIX, ROWS_COUNT FROM #TargetSet

	SELECT  @ROW_COUNT = COUNT_BIG(1), @LOG_MESSAGE = 'Loaded #DiffSet with ' + CONVERT(VARCHAR, COUNT_BIG(1)) + ' ' + CONVERT(VARCHAR,@PREFIX_LEN) + '-digit prefix data bands with ' + CONVERT(VARCHAR, SUM (ROWS_COUNT)) + ' rows' FROM  #DiffSet
	EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE,  @ROW_COUNT

	CREATE STATISTICS STATS_HOST_ICRS_XREF_#DiffSet ON #DiffSet (ID_PREFIX)

	--STEP #2: Narrow down the search for new XREF rows to only those Source Key Ranges with different row counts
	IF OBJECT_ID('dbo.HOST_TGS_XREF_NEW') IS NOT NULL DROP TABLE dbo.HOST_TGS_XREF_NEW	
	CREATE TABLE dbo.HOST_TGS_XREF_NEW WITH (HEAP, DISTRIBUTION = HASH(TART_ID))
	AS -- EXPLAIN
	SELECT	TT.SOURCE_TRXN_ID AS TART_ID, TT.TTXN_ID
	FROM	LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS TT
	JOIN	#DiffSet DS
			ON DS.ID_PREFIX = LEFT(CONVERT(VARCHAR,TT.TTXN_ID), @PREFIX_LEN)
	WHERE	TT.SOURCE_CODE = 'H' 
	AND		TT.CREDITED_FLAG =  'N'
	EXCEPT
	SELECT	TART_ID, TTXN_ID FROM dbo.HOST_TGS_XREF

	EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SELECT  @LOG_MESSAGE = 'Full sync. Loaded HOST_TGS_XREF_NEW with ' + CONVERT(VARCHAR,@ROW_COUNT) + ' rows'
	EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE,  @ROW_COUNT
	
	IF @ROW_COUNT > 0 
	BEGIN	
		--STEP #3: Insert from Stage table to XREF table
		INSERT dbo.HOST_TGS_XREF (TART_ID, TTXN_ID)
		SELECT TART_ID, TTXN_ID FROM dbo.HOST_TGS_XREF_NEW

		EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
		SELECT  @LOG_MESSAGE = 'Inserted HOST_TGS_XREF from HOST_TGS_XREF_NEW'
		EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE,  @ROW_COUNT

		--STEP #4: Update Statistics
		UPDATE STATISTICS dbo.HOST_TGS_XREF;
		SELECT  @LOG_MESSAGE = 'Updated STATISTICS on dbo.HOST_TGS_XREF'
		EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE,  @ROW_COUNT
	END
	
	--STEP #5: Update Load Process Control Table
	UPDATE	dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @START_DATE WHERE TABLE_NAME = 'HOST_TGS_XREF'
	EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SELECT  @LOG_MESSAGE = 'Updated dbo.LOAD_PROCESS_CONTROL for the next run with LOAD_CONTROL_DATE ' + ISNULL(CONVERT(VARCHAR(19),@START_DATE,121),'NULL')
	EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE, @ROW_COUNT
	EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, '>> Completed SP execution', NULL
END


/*
CREATE TABLE dbo.HOST_TGS_XREF_NEW_DIFF WITH (DISTRIBUTION = HASH(TART_ID), HEAP)
AS
SELECT * FROM dbo.HOST_TGS_XREF_NEW

DELETE EDW_RITE.dbo.HOST_TGS_XREF WHERE TART_ID IN (SELECT TART_ID FROM HOST_TGS_XREF_NEW_INCR)
UPDATE STATISTICS EDW_RITE.dbo.HOST_TGS_XREF;

SELECT * FROM dbo.PROCESS_LOG (nolock) WHERE LOG_SOURCE IN ('HOST_TGS_XREF_LOAD','HOST_ICRS_XREF_LOAD') ORDER BY LOG_DATE DESC
SELECT * FROM dbo.LOAD_PROCESS_CONTROL

*/


