CREATE PROC [DBO].[ACCT_TAG_STATUSES_LOAD] AS 

IF OBJECT_ID('dbo.ACCT_TAG_STATUSES_NEW')>0
       DROP TABLE dbo.ACCT_TAG_STATUSES_NEW

CREATE TABLE dbo.ACCT_TAG_STATUSES_NEW WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ACCT_TAG_STATUS)) 
AS 
-- EXPLAIN
SELECT  CONVERT(varchar(2),ACCT_TAG_STATUS) as ACCT_TAG_STATUS, ACCT_TAG_STATUS_DESCR, GETDATE() AS INSERT_DATE
FROM LND_LG_TS.TAG_OWNER.ACCT_TAG_STATUSES A
OPTION (LABEL = 'ACCT_TAG_STATUSES_LOAD: ACCT_TAG_STATUSES');

IF OBJECT_ID('dbo.ACCT_TAG_STATUSES')>0
       RENAME OBJECT::dbo.ACCT_TAG_STATUSES TO ACCT_TAG_STATUSES_OLD;

RENAME OBJECT::dbo.ACCT_TAG_STATUSES_NEW TO ACCT_TAG_STATUSES;

IF OBJECT_ID('dbo.ACCT_TAG_STATUSES_OLD')>0
       DROP TABLE dbo.ACCT_TAG_STATUSES_OLD

CREATE STATISTICS STATS_ACCT_TAG_STATUSES_001 ON DBO.ACCT_TAG_STATUSES (ACCT_TAG_STATUS)


INSERT INTO ACCT_TAG_STATUSES 
SELECT '-1', '(Null)', GETDATE() AS INSERT_DATE
WHERE NOT EXISTS(SELECT * FROM LND_LG_TS.TAG_OWNER.ACCT_TAG_STATUSES where ACCT_TAG_STATUS = '-1')

