CREATE PROC [DBO].[VIOL_INVOICES_LOAD] AS

-- EXEC EDW_RITE.DBO.VIOL_INVOICES_LOAD
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.VIOL_INVOICES_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.VIOL_INVOICES_LOAD
GO

*/

/*	
SELECT TOP 1 * FROM EDW_RITE.DBO.VIOL_INVOICES 
SELECT COUNT_BIG(1) FROM EDW_RITE.DBO.VIOL_INVOICES -- 32 926 433
*/ 

/*
INSERT INTO EDW_RITE.dbo.VIOL_INVOICES
	SELECT  
		-1 AS VIOL_INVOICE_ID
		, '1900-01-01' AS INVOICE_DATE
		, 0 AS INVOICE_AMOUNT, 0 AS INVOICE_AMT_PAID, 0 AS INVOICE_AMT_DISC, 0 AS VIOL_INV_BATCH_ID, '-1' AS VIOL_INV_STATUS
		, 0 AS VIOLATOR_ADDR_SEQ
		, -1 AS VIOLATOR_ID
		, 0 AS INV_ADMIN_FEE, 0 AS INV_ADMIN_FEE2, '-1' AS CA_INV_STATUS, '-1' AS DPS_INV_STATUS, '1900-01-01' AS DATE_EXCUSED
		, '-1' AS EXCUSED_BY
		, '1900-01-01' AS CURR_DUE_DATE
		, 0 AS INVOICE_DAYS_TO_EXCUSED
		, '1900-01-01' AS STATUS_DATE
		, '1900-01-01' AS DATE_MODIFIED
		, '1900-01-01' AS CLOSE_OUT_ELIGIBILITY_DATE
		, '-1' AS CLOSE_OUT_STATUS
		, '1900-01-01' AS CLOSE_OUT_DATE
		, '-1' AS CLOSE_OUT_TYPE
		,'-1' AS LAST_UPDATE_TYPE
		, '1900-01-01' AS LAST_UPDATE_DATE--SELECT COUNT(1) --29,002,895

*/

--Ranjith Nair 2017-02-02  Changed Incremental to Full Load

DECLARE @LAST_UPDATE_DATE datetime2(2) 
EXEC dbo.GetLoadStartDatetime 'dbo.VIOL_INVOICES', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.VIOL_INVOICES_STAGE')>0 	DROP TABLE dbo.VIOL_INVOICES_STAGE

CREATE TABLE dbo.VIOL_INVOICES_STAGE WITH (CLUSTERED INDEX ( [VIOLATOR_ID] ASC , [VIOL_INVOICE_ID] ASC ), DISTRIBUTION = HASH([VIOL_INVOICE_ID])) --REPLICATE) --DISTRIBUTION = HASH(VIOLATOR_ID))--REPLICATE, CLUSTERED INDEX (VIOLATOR_ID)) 
AS 
SELECT DISTINCT 
	convert(bigint,VIOL_INVOICE_ID) AS VIOL_INVOICE_ID
	, CONVERT(varchar(10),INVOICE_DATE,121) AS INVOICE_DATE
	, INVOICE_AMOUNT, INVOICE_AMT_PAID, ISNULL(INVOICE_AMT_DISC,0) AS INVOICE_AMT_DISC, VIOL_INV_BATCH_ID, VIOL_INV_STATUS
	, VIOLATOR_ADDR_SEQ
	, convert(bigint,VIOLATOR_ID) AS VIOLATOR_ID
	, INV_ADMIN_FEE, INV_ADMIN_FEE2, CA_INV_STATUS, DPS_INV_STATUS, CONVERT(DATE,DATE_EXCUSED) AS DATE_EXCUSED
	, EXCUSED_BY
	, CURR_DUE_DATE
	, CASE WHEN date_excused IS NULL THEN 0 ELSE DATEDIFF(d,invoice_date,date_excused) END  AS INVOICE_DAYS_TO_EXCUSED
	, ISNULL(A.STATUS_DATE,'1/1/1900') AS STATUS_DATE
	, ISNULL(A.DATE_MODIFIED,'1/1/1900') AS DATE_MODIFIED
	, ISNULL(convert(date,CLOSE_OUT_ELIGIBILITY_DATE),'1/1/1900') AS CLOSE_OUT_ELIGIBILITY_DATE
	, ISNULL(convert(varchar(2),CLOSE_OUT_STATUS),'-1') AS CLOSE_OUT_STATUS
	, ISNULL(convert(date,CLOSE_OUT_DATE),'1/1/1900') AS CLOSE_OUT_DATE
	, ISNULL(convert(varchar(2),CLOSE_OUT_TYPE),'-1') AS CLOSE_OUT_TYPE
	,A.LAST_UPDATE_TYPE, 
	A.LAST_UPDATE_DATE
	--SELECT COUNT(1) --29,002,895
FROM LND_LG_VPS.[VP_OWNER].[VIOL_INVOICES] A
WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION	(LABEL = 'VIOL_INVOICES_STAGE_LOAD: VIOL_INVOICES_STAGE');

IF OBJECT_ID('dbo.VIOL_INVOICES_NEW_STAGE')>0 	DROP TABLE dbo.VIOL_INVOICES_NEW_STAGE

CREATE TABLE dbo.VIOL_INVOICES_NEW_STAGE WITH (CLUSTERED INDEX ( [VIOLATOR_ID] ASC , [VIOL_INVOICE_ID] ASC ), DISTRIBUTION = HASH([VIOL_INVOICE_ID])) AS    
SELECT	
	 VIOL_INVOICE_ID,INVOICE_DATE,INVOICE_AMOUNT,INVOICE_AMT_PAID,INVOICE_AMT_DISC,VIOL_INV_BATCH_ID,VIOL_INV_STATUS,VIOLATOR_ADDR_SEQ,VIOLATOR_ID,INV_ADMIN_FEE,INV_ADMIN_FEE2,CA_INV_STATUS,DPS_INV_STATUS,
	 DATE_EXCUSED,EXCUSED_BY,CURR_DUE_DATE,INVOICE_DAYS_TO_EXCUSED,STATUS_DATE,DATE_MODIFIED,CLOSE_OUT_ELIGIBILITY_DATE,CLOSE_OUT_STATUS,CLOSE_OUT_DATE,CLOSE_OUT_TYPE,LAST_UPDATE_TYPE,LAST_UPDATE_DATE
FROM dbo.VIOL_INVOICES AS F 
WHERE	NOT EXISTS (SELECT 1 FROM dbo.VIOL_INVOICES_STAGE AS N WHERE N.VIOLATOR_ID = F.VIOLATOR_ID AND N.VIOL_INVOICE_ID = F.VIOL_INVOICE_ID) 
  UNION ALL 
SELECT	
	 VIOL_INVOICE_ID,INVOICE_DATE,INVOICE_AMOUNT,INVOICE_AMT_PAID,INVOICE_AMT_DISC,VIOL_INV_BATCH_ID,VIOL_INV_STATUS,VIOLATOR_ADDR_SEQ,VIOLATOR_ID,INV_ADMIN_FEE,INV_ADMIN_FEE2,CA_INV_STATUS,DPS_INV_STATUS,
	 DATE_EXCUSED,EXCUSED_BY,CURR_DUE_DATE,INVOICE_DAYS_TO_EXCUSED,STATUS_DATE,DATE_MODIFIED,CLOSE_OUT_ELIGIBILITY_DATE,CLOSE_OUT_STATUS,CLOSE_OUT_DATE,CLOSE_OUT_TYPE,LAST_UPDATE_TYPE,LAST_UPDATE_DATE
FROM dbo.VIOL_INVOICES_STAGE AS N
OPTION (LABEL = 'VIOL_INVOICES_LOAD: INSERT/UPDATE');

CREATE STATISTICS [STATS_VIOL_INVOICES_001] ON [dbo].VIOL_INVOICES_NEW_STAGE (LAST_UPDATE_DATE, [LAST_UPDATE_TYPE]);
CREATE STATISTICS [STATS_VIOL_INVOICES_002] ON [dbo].VIOL_INVOICES_NEW_STAGE (INVOICE_DATE, VIOL_INV_BATCH_ID);
CREATE STATISTICS [STATS_VIOL_INVOICES_003] ON [dbo].VIOL_INVOICES_NEW_STAGE (CA_INV_STATUS);
CREATE STATISTICS [STATS_VIOL_INVOICES_004] ON [dbo].VIOL_INVOICES_NEW_STAGE (DPS_INV_STATUS);

--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.VIOL_INVOICES_OLD')>0 	DROP TABLE dbo.VIOL_INVOICES_OLD;
IF OBJECT_ID('dbo.VIOL_INVOICES')>0		RENAME OBJECT::dbo.VIOL_INVOICES TO VIOL_INVOICES_OLD;
RENAME OBJECT::dbo.VIOL_INVOICES_NEW_STAGE TO VIOL_INVOICES;
--RENAME OBJECT::dbo.VIOL_INVOICES_STAGE TO VIOL_INVOICES;
IF OBJECT_ID('dbo.VIOL_INVOICES_OLD')>0 	DROP TABLE dbo.VIOL_INVOICES_OLD;

IF OBJECT_ID('dbo.VIOL_INVOICES_STAGE')>0 	DROP TABLE dbo.VIOL_INVOICES_STAGE



	--IF OBJECT_ID('dbo.VIOL_INVOICES')>0			RENAME OBJECT::dbo.VIOL_INVOICES TO VIOL_INVOICES_OLD;
	--IF OBJECT_ID('dbo.VIOL_INVOICES_STAGE')>0	RENAME OBJECT::dbo.VIOL_INVOICES_STAGE TO VIOL_INVOICES;
	--IF OBJECT_ID('dbo.VIOL_INVOICES_OLD')>0		DROP TABLE dbo.VIOL_INVOICES_OLD;




