CREATE PROC [DBO].[FACT_BUBBLE_STAGE_LOAD] AS

	IF OBJECT_ID('DBO.FACT_BUBBLE_LND_LG_VPS_STAGE')<>0
	DROP TABLE DBO.FACT_BUBBLE_LND_LG_VPS_STAGE
	--
	IF OBJECT_ID('DBO.FACT_BUBBLE_STAGE')<>0
	DROP TABLE DBO.FACT_BUBBLE_STAGE
	--

	IF OBJECT_ID('DBO.ITEM29_LND_LG_VPS_STAGE')<>0
	DROP TABLE DBO.ITEM29_LND_LG_VPS_STAGE
	--
	IF OBJECT_ID('DBO.ITEM20_BI_STAGE')<>0
	DROP TABLE DBO.ITEM20_BI_STAGE
	--IF OBJECT_ID('DBO.ITEM20_BI_STAGE1')<>0 	DROP TABLE DBO.ITEM20_BI_STAGE1
	--
	IF OBJECT_ID('DBO.ITEM34_BI_STAGE')<>0
	DROP TABLE DBO.ITEM34_BI_STAGE
	--IF OBJECT_ID('DBO.ITEM34_BI_STAGE1')<>0 	DROP TABLE DBO.ITEM34_BI_STAGE1
	--
	IF OBJECT_ID('DBO.ITEM87_BI_STAGE')<>0
	DROP TABLE DBO.ITEM87_BI_STAGE
	--IF OBJECT_ID('DBO.ITEM87_BI_STAGE1')<>0 	DROP TABLE DBO.ITEM87_BI_STAGE1
	--

	DECLARE @TXN_BEGIN_DATE DATE,
			@TXN_END_DATE DATE,
			@PARTITION_DATE DATE,
			@AS_OF_DATE  DATE

			SET @TXN_BEGIN_DATE =  DATEADD(m, DATEDIFF(m, 0, DATEADD(MM, -29,CAST(GETDATE()AS DATE))), 0)

	/* WHY PARTITION DATE HERE ?????

	-- WE NEED TO GET THE MOST RECENT PARTITION DATE AND USE ACCROSS THE BOARD SINCE 
	-- THE SOURCE TABLE FOR ITEM 29 DOES NOT HAVE A PARTITION DATE
	-- WE ARE SOURCING ITEMS 20 AND 34 FROM FACT_INVOICE_ANALYSIS_DETAIL WHICH HAS A PARTITION DATE
	*/
			SET @PARTITION_DATE = (SELECT TOP 1  PARTITION_DATE FROM DBO.PARTITION_AS_OF_DATE_CONTROL ORDER BY PARTITION_DATE DESC)
			SET @AS_OF_DATE     = (SELECT TOP 1  PARTITION_DATE FROM DBO.PARTITION_AS_OF_DATE_CONTROL ORDER BY PARTITION_DATE DESC)
			SET @TXN_END_DATE   =  (SELECT DATEADD(d,-1,DATEADD(m, DATEDIFF(m, 0, @AS_OF_DATE), 0)))
			PRINT @PARTITION_DATE
			PRINT @AS_OF_DATE
			PRINT @TXN_BEGIN_DATE
			PRINT @TXN_END_DATE

	-- STEP 1 : LOAD ITEM 29 CURRENT TRANSACTIONS
	CREATE TABLE DBO.ITEM29_LND_LG_VPS_STAGE WITH (DISTRIBUTION = HASH([LANE_ID]))
	AS
	/**********************************************************************
			TRANSACTIONS FROM VP_OWNER.VPS_VARIANCE_TXNS 
	*********************************************************************/
		SELECT 
			@PARTITION_DATE AS [PARTITION_DATE],
			@AS_OF_DATE AS [DATA_AS_OF_DATE],
			CAST(TXN_DATE AS DATE) AS TXN_DATE,
			L.LANE_ID ,
			CASE WHEN VVT.TXN_DESC = 'VIDEO TOLL COUNT FROM HOST' THEN 'Video Toll Count from HOST' ELSE VVT.TXN_DESC END AS CATEGORY,
			CNT TXN_CNT,
			REVENUE ,
			'VP_OWNER.VPS_VARIANCE_SUMMARY' As BUBL_SOURCE_DESC
		FROM  LND_LG_VPS.VP_OWNER.VPS_VARIANCE_SUMMARY VVS
		INNER JOIN DIM_LANE L ON VVS.LANE_ID = L.LANE_ID
		INNER JOIN  LND_LG_VPS.VP_OWNER.VPS_VARIANCE_TXNS VVT ON VVS.TXN_NAME = VVT.TXN_NAME
		WHERE CAST(VVS.TXN_DATE AS DATE) BETWEEN @TXN_BEGIN_DATE AND @TXN_END_DATE

		UNION ALL
	/**********************************************************************
			TRANSACTIONS FROM VP_OWNER.VPS_VARIANCE_OTHERS 
	*********************************************************************/
		SELECT 
			 @PARTITION_DATE AS [PARTITION_DATE],
			 @AS_OF_DATE AS [DATA_AS_OF_DATE],
			 CAST(VIOL_DATE AS DATE) AS TXN_DATE,
			 L.LANE_ID, 
			 VVO.VIOL_STATUS_DESCR AS CATEGORY,
			 VIOL_CNT AS TXN_CNT,
			 REVENUE ,
			'VP_OWNER.VPS_VARIANCE_OTHERS' As BUBL_SOURCE_DESC
		FROM  LND_LG_VPS.VP_OWNER.VPS_VARIANCE_OTHERS VVO
		INNER JOIN DIM_LANE L ON VVO.LANE_ID = L.LANE_ID
		WHERE CAST(VIOL_DATE AS DATE) BETWEEN @TXN_BEGIN_DATE AND @TXN_END_DATE

	/**********************************************************************
			TRANSACTIONS FROM VP_OWNER.VIOL_REJECT_TYPES 
	*********************************************************************/
		UNION ALL

		SELECT 
			@PARTITION_DATE AS [PARTITION_DATE],
			@AS_OF_DATE AS [DATA_AS_OF_DATE],
			CAST(VIOL_DATE AS DATE) AS TXN_DATE,
			L.LANE_ID, 
			VRT.VIOL_REJECT_TYPE_DESCR CATEGORY,
			IMG_DISCARD_CNT TXN_CNT,
			REVENUE,
			'VP_OWNER.VIOL_REJECT_TYPES' As BUBL_SOURCE_DESC
		FROM  LND_LG_VPS.VP_OWNER.VIOL_REJECT_TYPES VRT
		INNER JOIN LND_LG_VPS.VP_OWNER.VPS_VARIANCE_IMG_DISCARDS VID ON VRT.VIOL_REJECT_TYPE = VID.VIOL_REJECT_TYPE
		INNER JOIN DIM_LANE L ON VID.LANE_ID = L.LANE_ID
		WHERE CAST(VIOL_DATE AS DATE) BETWEEN @TXN_BEGIN_DATE AND @TXN_END_DATE

	/**********************************************************************
			MANUALLY CALCULATE 'IMAGES NOT ENTERING ICRS BUBBLE
	*********************************************************************/
	UNION ALL
		SELECT
			@PARTITION_DATE AS [PARTITION_DATE],
			@AS_OF_DATE  AS [DATA_AS_OF_DATE],
			 A.TXN_DATE,
			 A.LANE_ID,
			'Images Not Entering ICRS' AS CATEGORY,
			(A.HOST_TXN_CNT - A.IMG_ENTER_ICRS) AS TXN_CNT,
			(A.HOST_TXN_REV - A.IMG_ENTER_REV) AS REVENUE,
			'VP_OWNER.VPS_VARIANCE_SUMMARY' As BUBL_SOURCE_DESC
		FROM
		(
			SELECT 
					CAST(TXN_DATE AS DATE) TXN_DATE,
					L.LANE_ID, 
					VVT.TXN_DESC CATEGORY,
					CNT HOST_TXN_CNT,
					0 IMG_ENTER_ICRS,
					REVENUE HOST_TXN_REV,
					0 IMG_ENTER_REV
			FROM  LND_LG_VPS.VP_OWNER.VPS_VARIANCE_SUMMARY VVS
			JOIN LND_LG_VPS.VP_OWNER.VPS_VARIANCE_TXNS VVT ON VVS.TXN_NAME = VVT.TXN_NAME
			JOIN DIM_LANE L ON VVS.LANE_ID = L.LANE_ID
			WHERE  VVT.TXN_DESC = 'Video Toll Count from HOST'
			AND CAST(TXN_DATE AS DATE) BETWEEN @TXN_BEGIN_DATE AND @TXN_END_DATE
			UNION ALL
			SELECT 
					CAST(TXN_DATE AS DATE) TXN_DATE,
					L.LANE_ID,
					VVT.TXN_DESC CATEGORY,
					0 HOST_TXN_CNT, 
					CNT IMG_ENTER_ICRS, 
					0 HOST_TXN_REV,  
					REVENUE IMG_ENTER_REV
			FROM  LND_LG_VPS.VP_OWNER.VPS_VARIANCE_SUMMARY VVS
			JOIN LND_LG_VPS.VP_OWNER.VPS_VARIANCE_TXNS VVT ON VVS.TXN_NAME = VVT.TXN_NAME
			JOIN DIM_LANE L ON VVS.LANE_ID = L.LANE_ID
			WHERE  VVT.TXN_DESC = 'Images Entering ICRS'
			AND CAST(TXN_DATE AS DATE) BETWEEN @TXN_BEGIN_DATE AND @TXN_END_DATE
		)A

	/*********************************************************************
		ITEM 34 BI DATA STAGE LOAD
	*********************************************************************/

	--CREATE TABLE DBO.ITEM34_BI_STAGE WITH (DISTRIBUTION = HASH(LANE_ID))--DROP TABLE DBO.ITEM34_BI_STAGE
	--AS
	--	/********************************
	--		PAID INVOICED TXNS
	--	********************************/
	--	SELECT 
	--		B.PARTITION_DATE, 
	--		[DATA_AS_OF_DATE]  = @AS_OF_DATE,
	--		CAST(B.VIOL_DATE AS DATE) TXN_DATE,
	--		B.LANE_ID,
	--		CATEGORY = 'Paid UnInvd' , 
	--		SUM(CURRENT_INVOICE_LEVEL_FLAG) AS TXN_CNT ,
	--		SUM(B.TOLL_DUE) AS REVENUE,
	--		'ITEM 34 FROM FACT_INVOICE_ANALYSIS MART' As BUBL_SOURCE_DESC
	--	FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL B 
	--	INNER JOIN dbo.VIOL_STATUS F ON B.VIOL_STATUS = F.VIOL_STATUS
	--	WHERE 
	--			B.Viol_Status in ('P')--,'K')
	--		AND B.CURRENT_INVOICE_LEVEL_FLAG = 1
	--		AND VBI_INVOICE_ID  = -1 
	--		AND VIOL_INVOICE_ID = -1 
	--		AND B.PARTITION_DATE  = @PARTITION_DATE
	--		AND CAST(B.VIOL_DATE AS DATE) BETWEEN @TXN_BEGIN_DATE AND @TXN_END_DATE 
	--	GROUP BY 
	--		 B.PARTITION_DATE, 
	--		 CAST(B.VIOL_DATE AS DATE),
	--		 B.LANE_ID

	--UNION ALL 
	--	/********************************
	--			PAID INVOICED TXNS
	--	********************************/
	--	SELECT 
	--			 B.PARTITION_DATE, 
	--			 [DATA_AS_OF_DATE] = @AS_OF_DATE,
	--			 CAST(B.VIOL_DATE AS DATE) TXN_DATE,
	--			 B.LANE_ID,
	--			'Paid Invd' AS CATEGORY, 
	--			 SUM(CURRENT_INVOICE_LEVEL_FLAG) AS TXN_CNT ,
	--			 SUM(B.TOLL_DUE) AS REVENUE,
	--			'ITEM 34 FROM FACT_INVOICE_ANALYSIS MART' As BUBL_SOURCE_DESC
	--	--SELECt COUNT(*)
	--	FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL B 
	--	INNER JOIN dbo.VIOL_STATUS F ON B.VIOL_STATUS = F.VIOL_STATUS
	--	WHERE 
	--		B.Viol_Status = 'P'
	--		AND B.CURRENT_INVOICE_LEVEL_FLAG = 1
	--		AND (VBI_INVOICE_ID <> -1 OR VIOL_INVOICE_ID <> -1)
	--		AND B.PARTITION_DATE  = @PARTITION_DATE
	--		AND CAST(B.VIOL_DATE AS DATE) BETWEEN @TXN_BEGIN_DATE AND @TXN_END_DATE 
	--	GROUP BY 
	--		 B.PARTITION_DATE, 
	--		 CAST(B.VIOL_DATE AS DATE),
	--		 B.LANE_ID

	CREATE TABLE DBO.ITEM34_BI_STAGE WITH (DISTRIBUTION = HASH(LANE_ID))
	AS
	--PAID INVD
	SELECT    @PARTITION_DATE AS [PARTITION_DATE]
			, [DATA_AS_OF_DATE]  = @AS_OF_DATE
			, CAST(VIOL_DATE AS DATE) TXN_DATE
			, LANE_ID
			, CATEGORY = 'Paid Invd' 
			, COUNT(1) TXN_CNT
			, SUM(TOLL_DUE) REVENUE
			, 'ITEM 34 FROM LANDING' BUBL_SOURCE_DESC  
	FROM DBO.VIOLATIONS V
	--JOIN DBO.DIM_LANE L 	ON V.LANE_ID = L.LANE_ID	--AND FACILITY_ID = 5
	WHERE CAST(VIOL_DATE AS DATE) BETWEEN @TXN_BEGIN_DATE AND @TXN_END_DATE
		AND VIOL_STATUS = 'P'
		AND VIOLATION_ID IN (SELECT VIOLATION_ID FROM DBO.VIOL_INVOICE_VIOL UNION SELECT VIOLATION_ID FROM DBO.VB_INVOICE_VIOL)
	GROUP BY CAST(VIOL_DATE AS DATE), LANE_ID
	UNION ALL
	--PAID UNINVD
	SELECT    @PARTITION_DATE AS [PARTITION_DATE]
			, [DATA_AS_OF_DATE]  = @AS_OF_DATE
			, CAST(VIOL_DATE AS DATE) TXN_DATE
			, LANE_ID
			, CATEGORY = 'Paid UnInvd' 
			, COUNT(1) TXN_CNT
			, SUM(TOLL_DUE) REVENUE
			, 'ITEM 34 FROM LANDING' BUBL_SOURCE_DESC
	FROM DBO.VIOLATIONS V
	--JOIN DBO.DIM_LANE L ON V.LANE_ID = L.LANE_ID	--AND FACILITY_ID = 5
	WHERE CAST(VIOL_DATE AS DATE) BETWEEN @TXN_BEGIN_DATE AND @TXN_END_DATE
		AND VIOL_STATUS = 'P'
		AND VIOLATION_ID NOT IN (SELECT VIOLATION_ID FROM DBO.VIOL_INVOICE_VIOL UNION SELECT VIOLATION_ID FROM DBO.VB_INVOICE_VIOL)
	GROUP BY CAST(VIOL_DATE AS DATE), LANE_ID

	/***************************************************************************
		ITEM 20 BI STAGE TABLE LOAD
	***************************************************************************/

	--CREATE TABLE DBO.ITEM20_BI_STAGE WITH (DISTRIBUTION = HASH(LANE_ID))
	--AS
	--SELECT 
	--	B.PARTITION_DATE,
	--	[DATA_AS_OF_DATE] = @AS_OF_DATE,
	--	CAST(B.VIOL_DATE AS DATE) TXN_DATE,
	--	B.LANE_ID,
	--	CASE 
	--		WHEN C.SC_DESCR = 'VToll3 - AVI VToll' THEN 'VTOLL 3' 
	--		WHEN C.SC_DESCR = 'VToll3 - ZipCash VToll' THEN 'VT3 - ZipCash VToll' 
	--		ELSE C.SC_DESCR
	--	END AS CATEGORY,
	--	SUM(CURRENT_INVOICE_LEVEL_FLAG) AS TXN_CNT,
	--	SUM(B.TOLL_DUE) AS  REVENUE,
	--		'ITEM 20 FROM FACT_INVOICE_ANALYSIS MART' As BUBL_SOURCE_DESC
	--FROM Dbo.FACT_INVOICE_ANALYSIS_DETAIL B 
	--	INNER JOIN dbo.SOURCE_CODE_TOLL C ON B.SOURCE_CODE = C.SOURCE_CODE
	--WHERE 
	--		B.VIOLATION_OR_ZIPCASH in ('Z') 
	--	AND B.DISPOSITION in ('P')
	--	AND B.CURRENT_INVOICE_LEVEL_FLAG = 1
	--	AND B.PARTITION_DATE  = @PARTITION_DATE
	--	AND CAST(B.VIOL_DATE AS DATE) BETWEEN @TXN_BEGIN_DATE AND @TXN_END_DATE 
	--GROUP BY 
	--		 B.PARTITION_DATE, 
	--		 CAST(B.VIOL_DATE AS DATE),
	--		 B.LANE_ID,
	--		 C.SC_DESCR

	CREATE TABLE DBO.ITEM20_BI_STAGE WITH (DISTRIBUTION = HASH(LANE_ID))--DROP TABLE DBO.ITEM20_BI_STAGE
	AS --	EXPLAIN
	SELECT    @PARTITION_DATE PARTITION_DATE
			, CAST(VIOL_DATE AS DATE) TXN_DATE
			, [DATA_AS_OF_DATE] = @AS_OF_DATE
			, V.LANE_ID LANE_ID
			, CASE 
				   WHEN SC.SC_DESCR = 'VToll3 - AVI VToll' THEN 'VToll 3' 
				   WHEN SC.SC_DESCR = 'VToll3 - ZipCash VToll' THEN 'VT3 - ZipCash VToll' 
				   ELSE SC.SC_DESCR
			END AS CATEGORY
			, COUNT(1) TXN_CNT
			, SUM(POSTED_REVENUE) REVENUE
			, 'ITEM 20 FROM FACT_VTOLLS' As BUBL_SOURCE_DESC
	FROM dbo.VPS_HOST_TRANSACTIONS V --FACT_VTOLLS V
	--JOIN DIM_LANE L 	ON V.LANE_ID = L.LANE_ID	--AND L.FACILITY_ID = 5
	JOIN dbo.SOURCE_CODE_TOLL SC 	ON V.SOURCE_CODE = SC.SOURCE_CODE
	AND CAST(VIOL_DATE AS DATE) BETWEEN @TXN_BEGIN_DATE AND @TXN_END_DATE 
	AND DISPOSITION = 'P'
	GROUP BY CAST(VIOL_DATE AS DATE), SC_DESCR, V.LANE_ID

			 --GetFields 'dbo','FACT_INVOICE_ANALYSIS'
	/***************************************************************************
		ITEM 87 BI STAGE TABLE LOAD
	***************************************************************************/
	--SELECT COUNT(1), MIN(TXN_DATE), MAX(TXN_DATE), COUNT(DISTINCT LANE_ID) FROM ITEM34_BI_STAGE ; SELECT TOP(100) * FROM ITEM34_BI_STAGE  WHERE TXN_DATE = '2016-04-04' AND LANE_ID = 1552
	--SELECT COUNT(1), MIN(TXN_DATE), MAX(TXN_DATE), COUNT(DISTINCT LANE_ID) FROM ITEM34_BI_STAGE1; SELECT TOP(100) * FROM ITEM34_BI_STAGE1 WHERE TXN_DATE = '2016-04-04' AND LANE_ID = 1552

	--SELECT COUNT(1), MIN(TXN_DATE), MAX(TXN_DATE), COUNT(DISTINCT LANE_ID) FROM ITEM20_BI_STAGE ; SELECT TOP(100) * FROM ITEM20_BI_STAGE  WHERE TXN_DATE = '2016-04-04' AND LANE_ID = 1552
	--SELECT COUNT(1), MIN(TXN_DATE), MAX(TXN_DATE), COUNT(DISTINCT LANE_ID) FROM ITEM20_BI_STAGE1; SELECT TOP(100) * FROM ITEM20_BI_STAGE1 WHERE TXN_DATE = '2016-04-04' AND LANE_ID = 1552

	--SELECT COUNT(1), MIN(TXN_DATE), MAX(TXN_DATE), COUNT(DISTINCT LANE_ID) FROM ITEM87_BI_STAGE ; SELECT TOP(100) * FROM ITEM87_BI_STAGE  WHERE TXN_DATE = '2016-04-04' AND LANE_ID = 1552
	--SELECT COUNT(1), MIN(TXN_DATE), MAX(TXN_DATE), COUNT(DISTINCT LANE_ID) FROM ITEM87_BI_STAGE1; SELECT TOP(100) * FROM ITEM87_BI_STAGE1 WHERE TXN_DATE = '2016-04-04' AND LANE_ID = 1552

	--CREATE TABLE DBO.ITEM87_BI_STAGE WITH (DISTRIBUTION = HASH(LANE_ID)) --DROP TABLE DBO.ITEM87_BI_STAGE1 --SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME IN ('ITEM87_BI_STAGE','ITEM87_BI_STAGE1') ORDER BY ORDINAL_POSITION, COLUMN_NAME, TABLE_NAME
	--AS
	--	SELECT 
	--		 B.PARTITION_DATE, 
	--		 [DATA_AS_OF_DATE]  = @AS_OF_DATE,
	--		 CAST(B.VIOL_DATE AS DATE) TXN_DATE,
	--		 B.LANE_ID,
	--		 CATEGORY = 'Inv Bad Address' , 
	--		 SUM(CURRENT_INVOICE_LEVEL_FLAG)  AS TXN_CNT, 
	--		 SUM(B.TOLL_DUE) AS  REVENUE,
	--		'ITEM 87 FROM FACT_INVOICE_ANALYSIS MART' As BUBL_SOURCE_DESC --SELECT COUNT(1)
	--	FROM dbo.FACT_INVOICE_ANALYSIS  A
	--	INNER JOIN dbo.FACT_INVOICE_ANALYSIS_DETAIL  B ON A.VIOLATOR_ID = B.VIOLATOR_ID AND A.PARTITION_DATE = B.PARTITION_DATE AND A.VBI_INVOICE_ID = B.VBI_INVOICE_ID AND A.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
	--	WHERE 
	--			(A.VBI_STATUS = 'B' OR (A.VBI_STATUS = 'CV' AND A.VIOL_INV_STATUS IN ('B', 'A')))
	--		AND B.CURRENT_INVOICE_LEVEL_FLAG = 1
	--		AND A.PARTITION_DATE  = @PARTITION_DATE
	--		AND CAST(B.VB_INV_DATE AS DATE) BETWEEN @TXN_BEGIN_DATE AND @TXN_END_DATE 
	--	GROUP BY 
	--		 B.PARTITION_DATE, 
	--		 CAST(B.VIOL_DATE AS DATE),
	--		 B.LANE_ID

	CREATE TABLE DBO.ITEM87_BI_STAGE WITH (DISTRIBUTION = HASH(LANE_ID))
	ASEXPLAIN
		SELECT 
			 @PARTITION_DATE PARTITION_DATE, 
			 [DATA_AS_OF_DATE]  = @AS_OF_DATE,
			 CAST(VIOL_DATE AS DATE) TXN_DATE,
			 LANE_ID,
			 CATEGORY = 'Inv Bad Address' , 
			 COUNT(VIOLATION_ID) AS TXN_CNT, 
			 SUM(TOLL_DUE) AS  REVENUE,
			'ITEM 87 FROM FACT_INVOICE_ANALYSIS MART' As BUBL_SOURCE_DESC
		FROM (
					  SELECT V.VIOLATION_ID, V.LANE_ID, V.TOLL_DUE, V.VIOL_DATE--SELECT * 
					  FROM DBO.VIOLATIONS V
					  JOIN DBO.DIM_LANE L ON V.LANE_ID = L.LANE_ID --AND FACILITY_ID = 5
					  AND VIOL_DATE BETWEEN  @TXN_BEGIN_DATE AND @TXN_END_DATE 
					  JOIN DBO.VB_INVOICE_VIOL VBIV ON V.VIOLATION_ID = VBIV.VIOLATION_ID
					  JOIN DBO.VB_INVOICES VB ON VB.VBI_INVOICE_ID = VBIV.VBI_INVOICE_ID
					  AND VB.VBI_STATUS = 'B'
					  UNION 
					  SELECT V.VIOLATION_ID, V.LANE_ID, V.TOLL_DUE, V.VIOL_DATE
					  FROM DBO.VIOLATIONS V
					  JOIN DBO.DIM_LANE L ON V.LANE_ID = L.LANE_ID --AND FACILITY_ID = 5
					  AND VIOL_DATE BETWEEN  @TXN_BEGIN_DATE AND @TXN_END_DATE 
					  JOIN DBO.VB_INVOICE_VIOL VBIV ON V.VIOLATION_ID = VBIV.VIOLATION_ID
					  JOIN DBO.VB_INVOICES VB ON VB.VBI_INVOICE_ID = VBIV.VBI_INVOICE_ID
					  JOIN DBO.VB_VIOL_INVOICES VBVI ON VB.VBI_INVOICE_ID = VBVI.VBI_VBI_INVOICE_ID
					  JOIN DBO.VIOL_INVOICES VI ON VBVI.INV_VIOL_INVOICE_ID = VI.VIOL_INVOICE_ID
					  AND VB.VBI_STATUS = 'CV' 
					  AND VI.VIOL_INV_STATUS IN ('B', 'A')
			   ) A
		GROUP BY 
			 CAST(VIOL_DATE AS DATE), LANE_ID

	CREATE TABLE DBO.FACT_BUBBLE_STAGE WITH (DISTRIBUTION = HASH(LANE_ID))
	AS
		SELECT PARTITION_DATE
			, DATA_AS_OF_DATE
			, TXN_DATE
			, LANE_ID
			, CATEGORY
			, TXN_CNT
			, REVENUE
			, BUBL_SOURCE_DESC
		FROM DBO.ITEM29_LND_LG_VPS_STAGE

		UNION ALL

		SELECT PARTITION_DATE
			, DATA_AS_OF_DATE
			, TXN_DATE
			, LANE_ID
			, CATEGORY
			, TXN_CNT
			, REVENUE
			, BUBL_SOURCE_DESC
		FROM DBO.ITEM20_BI_STAGE

		UNION ALL

		SELECT PARTITION_DATE
			, DATA_AS_OF_DATE
			, TXN_DATE
			, LANE_ID
			, CATEGORY
			, TXN_CNT
			, REVENUE
			, BUBL_SOURCE_DESC
		FROM DBO.ITEM34_BI_STAGE

		UNION ALL

		SELECT PARTITION_DATE
			, DATA_AS_OF_DATE
			, TXN_DATE
			, LANE_ID
			, CATEGORY
			, TXN_CNT
			, REVENUE
			, BUBL_SOURCE_DESC
		FROM DBO.ITEM87_BI_STAGE

		-- DROP EXISTING STATISTICS
	EXEC DropStats 'DBO','FACT_BUBBLE_STAGE'	

		-- CREATE NEW STATISTICS
	CREATE STATISTICS STATS_FACT_BUBBLE_STAGE_001 ON DBO.FACT_BUBBLE_STAGE (LANE_ID)
	CREATE STATISTICS STATS_FACT_BUBBLE_STAGE_002 ON DBO.FACT_BUBBLE_STAGE (CATEGORY)

	-- DROP STAGING TABLES --
	--DROP TABLE DBO.ITEM29_LND_LG_VPS_STAGE
	--DROP TABLE DBO.ITEM20_BI_STAGE
	--DROP TABLE DBO.ITEM34_BI_STAGE

