CREATE PROC [DBO].[ACCOUNT_HISTORY_LOAD] AS

IF OBJECT_ID('dbo.ACCOUNT_HISTORY_STAGE')>0 	DROP TABLE dbo.ACCOUNT_HISTORY_STAGE
	
CREATE TABLE dbo.ACCOUNT_HISTORY_STAGE WITH (DISTRIBUTION = HASH(ACCT_ID), CLUSTERED INDEX (ACCT_ID ))
AS -- EXPLAIN
SELECT [ACCT_ID]							
    ,[ACCT_HIST_SEQ]						
    ,[ASSIGNED_DATE]						
    ,[EXPIRED_DATE]						
    ,[FIRST_NAME]						
    ,[MIDDLE_INITIAL]					
    ,[LAST_NAME]							
    ,[ADDRESS1]							
    ,[ADDRESS2]							
    ,[CITY]								
    ,[STATE]								
    ,[ZIP_CODE]							
    ,[PLUS4]								
    ,[HOME_PHO_NBR]						
    ,[WORK_PHO_NBR]						
    ,[WORK_PHO_EXT]						
    ,[DRIVER_LIC_NBR]					
    ,[DRIVER_LIC_STATE]					
    ,[COMPANY_NAME]						
    ,[COMPANY_TAX_ID]					
    ,[EMAIL_ADDRESS]						
    ,[MO_STMT_FLAG]						
    ,[BAD_ADDRESS_FLAG]					
    ,[REBILL_FAILED_FLAG]				
    ,[REBILL_AMT]						
    ,[REBILL_DATE]						
    ,[DEP_AMT]							
    ,[BALANCE_AMT]						
    ,[LOW_BAL_LEVEL]						
    ,[BAL_LAST_UPDATED]					
    ,[ACCT_STATUS_CODE]					
    ,[ACCT_TYPE_CODE]					
    ,[PMT_TYPE_CODE]						
    ,[ADDRESS_MODIFIED]					
    ,[DATE_CREATED]						
    ,[CREATED_BY]						
    ,[DATE_APPROVED]						
    ,[APPROVED_BY]						
    ,[DATE_MODIFIED]						
    ,[MODIFIED_BY]						
    ,[MS_ID]								
    ,[SELECTED_FOR_REBILL]				
    ,[VEA_FLAG]							
    ,[VEA_DATE]							
    ,[VEA_EXPIRE_DATE]					
    ,[COMPANY_CODE]						
    ,[ADJUST_REBILL_AMT]					
    ,[LAST_UPDATE_DATE]					
    ,[LAST_UPDATE_TYPE]--SELECT *		
FROM LND_LG_TS.TAG_OWNER.ACCOUNT_HISTORY A 
OPTION (LABEL = 'ACCOUNT_HISTORY_LOAD: ACCOUNT_HISTORY_STAGE');

CREATE STATISTICS STATS_ACCOUNT_HISTORY_STAGE_001 ON ACCOUNT_HISTORY_STAGE (ACCT_ID)
CREATE STATISTICS STATS_ACCOUNT_HISTORY_STAGE_002 ON ACCOUNT_HISTORY_STAGE (ACCT_HIST_SEQ)

IF OBJECT_ID('dbo.ACCOUNT_HISTORY_OLD') IS NOT NULL 	DROP TABLE dbo.ACCOUNT_HISTORY_OLD;
IF OBJECT_ID('dbo.ACCOUNT_HISTORY') IS NOT NULL		RENAME OBJECT::dbo.ACCOUNT_HISTORY TO ACCOUNT_HISTORY_OLD;
RENAME OBJECT::dbo.ACCOUNT_HISTORY_STAGE TO ACCOUNT_HISTORY;
IF OBJECT_ID('dbo.ACCOUNT_HISTORY_OLD') IS NOT NULL 	DROP TABLE dbo.ACCOUNT_HISTORY_OLD;


