CREATE PROC [DBO].[FACT_INVOICE_STAGE_FINAL_LOAD] AS 


IF OBJECT_ID('dbo.FACT_INVOICE_SINGLE_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_SINGLE_STAGE

CREATE TABLE dbo.FACT_INVOICE_SINGLE_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))--, CLUSTERED INDEX (VIOLATOR_ID)) 
AS 

SELECT VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID FROM dbo.FACT_INVOICE_STAGE GROUP BY VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID HAVING COUNT(*)=1

CREATE STATISTICS STATS_FACT_INVOICE_SINGLE_STAGE_001 ON [dbo].FACT_INVOICE_SINGLE_STAGE (VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID)


--TRUNCATE TABLE dbo.FACT_INVOICE_DISTINCT_STAGE

--INSERT INTO FACT_INVOICE_DISTINCT_STAGE
--	( INVOICE_BREAK_ROWNUM, VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, CA_FILE_GEN_DATE, CITATION_NBR
--	, CA_ACCT_ID, PAID_DATE, POS_ID, DELIVERY_CODE, PAYMENT_SOURCE_CODE)
IF OBJECT_ID('dbo.FACT_INVOICE_DISTINCT_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_DISTINCT_STAGE

CREATE TABLE [dbo].FACT_INVOICE_DISTINCT_STAGE WITH (DISTRIBUTION = HASH([VIOLATOR_ID])) AS
-- EXPLAIN

SELECT --TOP 100 
      CAST(ROW_NUMBER() OVER(PARTITION BY A.VIOLATOR_ID, A.VBI_INVOICE_ID, A.VIOL_INVOICE_ID  ORDER BY (SELECT A.VIOL_INVOICE_ID)) AS INT) as INVOICE_BREAK_ROWNUM
	, A.VIOLATOR_ID
	, A.VBI_INVOICE_ID
	, A.VIOL_INVOICE_ID
	, CA_FILE_GEN_DATE
	, CA_ACCT_ID
	, PAID_DATE
	, POS_ID
	, DELIVERY_CODE
	, PAYMENT_SOURCE_CODE
	, CITATION_NBR	--SELECT COUNT(1)--TOP(100) *--8,370,458 --10 Secs

FROM dbo.FACT_INVOICE_STAGE A
INNER JOIN 
	(
		SELECT VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID
		FROM dbo.FACT_INVOICE_STAGE A
		GROUP BY VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID
		HAVING COUNT(*)>1
	) Dups ON A.VIOLATOR_ID = Dups.VIOLATOR_ID AND A.VBI_INVOICE_ID = Dups.VBI_INVOICE_ID AND A.VIOL_INVOICE_ID = Dups.VIOL_INVOICE_ID

--ORDER BY 
--	  A.VIOLATOR_ID
--	, A.VBI_INVOICE_ID
--	, A.viol_invoice_id
--	, CA_FILE_GEN_DATE
--	, CITATION_NBR
--	, CA_ACCT_ID
--	, PAID_DATE
--	, POS_ID
--	, DELIVERY_CODE
--	, PAYMENT_SOURCE_CODE


--  exec DropStats 'dbo','FACT_INVOICE_DISTINCT_STAGE' 
--  exec CreateStats 'dbo','FACT_INVOICE_DISTINCT_STAGE'

CREATE STATISTICS STATS_FACT_INVOICE_DISTINCT_STAGE_002 ON [dbo].FACT_INVOICE_DISTINCT_STAGE 
	(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, INVOICE_BREAK_ROWNUM)

CREATE STATISTICS STATS_FACT_INVOICE_DISTINCT_STAGE_003 ON [dbo].FACT_INVOICE_DISTINCT_STAGE 
	(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID)
	
CREATE STATISTICS STATS_FACT_INVOICE_DISTINCT_STAGE_004 ON [dbo].FACT_INVOICE_DISTINCT_STAGE 
	(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID)






IF OBJECT_ID('dbo.FACT_INVOICE_STAGE_FINAL')>0
	DROP TABLE dbo.FACT_INVOICE_STAGE_FINAL

CREATE TABLE dbo.FACT_INVOICE_STAGE_FINAL WITH (DISTRIBUTION = HASH(VIOLATOR_ID), CLUSTERED COLUMNSTORE INDEX)--, CLUSTERED INDEX (VIOLATOR_ID, VIOLATION_ID)) 
AS 

SELECT 
	  
   A.VIOLATOR_ID
 , A.VBI_INVOICE_ID
 , A.VIOL_INVOICE_ID
 , A.CA_FILE_GEN_DATE
 , A.CA_ACCT_ID
 , A.CITATION_NBR
 , A.PAID_DATE
 , A.POS_ID
 , A.DELIVERY_CODE
 , A.PAYMENT_SOURCE_CODE
 , CUR_INV_SET.INVOICE_BREAK_ROWNUM
FROM dbo.FACT_INVOICE_STAGE A
INNER JOIN 
	(
		SELECT 
		  AA.VIOLATOR_ID
		, AA.VBI_INVOICE_ID
		, AA.viol_invoice_id
		, AA.CA_FILE_GEN_DATE
		, AA.CA_ACCT_ID
		, AA.CITATION_NBR
		, AA.PAID_DATE
		, AA.POS_ID
		--, AA.SOURCE_CODE
		, AA.DELIVERY_CODE
		, AA.PAYMENT_SOURCE_CODE
		, AA.INVOICE_BREAK_ROWNUM
		FROM dbo.FACT_INVOICE_DISTINCT_STAGE AA
		INNER JOIN 
		(
			SELECT DS.VIOLATOR_ID, DS.VBI_INVOICE_ID, DS.VIOL_INVOICE_ID
				, MAX(DS.INVOICE_BREAK_ROWNUM) As INVOICE_BREAK_ROWNUM
			FROM dbo.FACT_INVOICE_DISTINCT_STAGE DS
			GROUP BY  DS.VIOLATOR_ID, DS.VBI_INVOICE_ID, DS.VIOL_INVOICE_ID
		) BB ON 
				AA.VIOLATOR_ID = BB.VIOLATOR_ID 
			AND AA.VBI_INVOICE_ID = BB.VBI_INVOICE_ID
			AND AA.VIOL_INVOICE_ID = BB.VIOL_INVOICE_ID 
			AND AA.INVOICE_BREAK_ROWNUM = BB.INVOICE_BREAK_ROWNUM

	) CUR_INV_SET
	ON	A.VIOLATOR_ID = CUR_INV_SET.VIOLATOR_ID 
		AND A.VBI_INVOICE_ID = CUR_INV_SET.VBI_INVOICE_ID 
		AND A.VIOL_INVOICE_ID = CUR_INV_SET.VIOL_INVOICE_ID 
		AND A.CA_FILE_GEN_DATE = CUR_INV_SET.CA_FILE_GEN_DATE 
		AND A.CA_ACCT_ID = CUR_INV_SET.CA_ACCT_ID
		AND A.CITATION_NBR =  CUR_INV_SET.CITATION_NBR
		AND A.PAID_DATE = CUR_INV_SET.PAID_DATE
		AND A.POS_ID = CUR_INV_SET.POS_ID
		AND A.DELIVERY_CODE = CUR_INV_SET.DELIVERY_CODE
		AND A.PAYMENT_SOURCE_CODE = CUR_INV_SET.PAYMENT_SOURCE_CODE

UNION ALL

SELECT 
   A.VIOLATOR_ID
 , A.VBI_INVOICE_ID
 , A.VIOL_INVOICE_ID
 , A.CA_FILE_GEN_DATE
 , A.CA_ACCT_ID
 , A.CITATION_NBR
 , A.PAID_DATE
 , A.POS_ID
 , DELIVERY_CODE
 , PAYMENT_SOURCE_CODE
 , 1 AS INVOICE_BREAK_ROWNUM
FROM dbo.FACT_INVOICE_STAGE A
INNER JOIN dbo.FACT_INVOICE_SINGLE_STAGE NoDups ON A.VIOLATOR_ID = NoDups.VIOLATOR_ID AND A.VBI_INVOICE_ID = NoDups.VBI_INVOICE_ID AND A.VIOL_INVOICE_ID = NoDups.VIOL_INVOICE_ID
	


IF EXISTS(select * FROM sys.stats ss WHERE ss.name = 'STATS_FACT_INVOICE_STAGE_FINAL_1000')
	DROP STATISTICS dbo.FACT_INVOICE_STAGE_FINAL.STATS_FACT_INVOICE_STAGE_FINAL_1000

CREATE STATISTICS STATS_FACT_INVOICE_STAGE_FINAL_1000 ON [dbo].FACT_INVOICE_STAGE_FINAL 
	(VIOLATOR_ID, VBI_INVOICE_ID, INVOICE_BREAK_ROWNUM)

IF EXISTS(select * FROM sys.stats ss WHERE ss.name = 'STATS_FACT_INVOICE_STAGE_FINAL_1001')
	DROP STATISTICS dbo.FACT_INVOICE_STAGE_FINAL.STATS_FACT_INVOICE_STAGE_FINAL_1001

CREATE STATISTICS STATS_FACT_INVOICE_STAGE_FINAL_1001 ON [dbo].FACT_INVOICE_STAGE_FINAL 
	(VIOLATOR_ID, VIOL_INVOICE_ID, INVOICE_BREAK_ROWNUM)

IF EXISTS(select * FROM sys.stats ss WHERE ss.name = 'STATS_FACT_INVOICE_STAGE_FINAL_1002')
	DROP STATISTICS dbo.FACT_INVOICE_STAGE_FINAL.STATS_FACT_INVOICE_STAGE_FINAL_1002

CREATE STATISTICS STATS_FACT_INVOICE_STAGE_FINAL_1002 ON [dbo].FACT_INVOICE_STAGE_FINAL 
	(VIOLATOR_ID, INVOICE_BREAK_ROWNUM)




IF OBJECT_ID('dbo.FACT_INVOICE_CUR_INV_COUNT_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_CUR_INV_COUNT_STAGE

CREATE TABLE dbo.FACT_INVOICE_CUR_INV_COUNT_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))
AS 

	SELECT VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, MAX(INVOICE_BREAK_ROWNUM) AS INVOICE_BREAK_ROWNUM
	FROM FACT_INVOICE_STAGE_FINAL A
	GROUP BY VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID

CREATE STATISTICS STATS_FACT_INVOICE_CUR_INV_COUNT_STAGE_001 ON [dbo].FACT_INVOICE_CUR_INV_COUNT_STAGE (VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID)


IF OBJECT_ID('dbo.FACT_INVOICE_STAGE_FINAL_NEW')>0
	DROP TABLE dbo.FACT_INVOICE_STAGE_FINAL_NEW
	
CREATE TABLE dbo.FACT_INVOICE_STAGE_FINAL_NEW WITH (DISTRIBUTION = HASH(VIOLATOR_ID))--, CLUSTERED INDEX (VIOLATOR_ID, VIOLATION_ID)) 
AS 

SELECT 
   A.VIOLATOR_ID
 , A.VBI_INVOICE_ID
 , A.VIOL_INVOICE_ID
 , A.CA_FILE_GEN_DATE
 , A.CA_ACCT_ID
 , A.CITATION_NBR
 , A.PAID_DATE
 , A.POS_ID
 , A.DELIVERY_CODE
 , A.PAYMENT_SOURCE_CODE
 , A.INVOICE_BREAK_ROWNUM
 ,	CASE 
		WHEN D.VIOLATOR_ID IS NOT NULL AND D.INVOICE_BREAK_ROWNUM IS NOT NULL 
		THEN 1 
		ELSE 0 
	END AS CURRENT_INVOICE_LEVEL_FLAG
FROM dbo.FACT_INVOICE_STAGE_FINAL A

LEFT JOIN FACT_INVOICE_CUR_INV_COUNT_STAGE D
	ON 
			A.VIOLATOR_ID = D.VIOLATOR_ID 
		AND A.VBI_INVOICE_ID = D.VBI_INVOICE_ID
		AND A.VIOL_INVOICE_ID = D.VIOL_INVOICE_ID
		AND A.INVOICE_BREAK_ROWNUM = D.INVOICE_BREAK_ROWNUM



	IF OBJECT_ID('dbo.FACT_INVOICE_STAGE_FINAL')>0
		RENAME OBJECT::dbo.FACT_INVOICE_STAGE_FINAL TO FACT_INVOICE_STAGE_FINAL_OLD;

	RENAME OBJECT::dbo.FACT_INVOICE_STAGE_FINAL_NEW TO FACT_INVOICE_STAGE_FINAL;

	IF OBJECT_ID('dbo.FACT_INVOICE_STAGE_FINAL_OLD')>0
		DROP TABLE dbo.FACT_INVOICE_STAGE_FINAL_OLD


CREATE STATISTICS STATS_FACT_INVOICE_STAGE_FINAL_001 ON [dbo].FACT_INVOICE_STAGE_FINAL 
	(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, CA_FILE_GEN_DATE, CA_ACCT_ID, CITATION_NBR, PAID_DATE, POS_ID)

CREATE STATISTICS STATS_FACT_INVOICE_STAGE_FINAL_002 ON [dbo].FACT_INVOICE_STAGE_FINAL
	 (VIOLATOR_ID, VBI_INVOICE_ID,VIOL_INVOICE_ID)

CREATE STATISTICS STATS_FACT_INVOICE_STAGE_FINAL_003 ON [dbo].FACT_INVOICE_STAGE_FINAL 
	(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, CA_FILE_GEN_DATE, CA_ACCT_ID, CITATION_NBR, PAID_DATE
	, POS_ID, DELIVERY_CODE,  PAYMENT_SOURCE_CODE)

CREATE STATISTICS STATS_FACT_INVOICE_STAGE_FINAL_004 ON [dbo].FACT_INVOICE_STAGE_FINAL 
	(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, CA_FILE_GEN_DATE, CA_ACCT_ID, CITATION_NBR, PAID_DATE, POS_ID )


IF OBJECT_ID('dbo.FACT_INVOICE_VBI_INV_COUNT_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_VBI_INV_COUNT_STAGE

IF OBJECT_ID('dbo.FACT_INVOICE_VIOL_INV_COUNT_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_VIOL_INV_COUNT_STAGE

IF OBJECT_ID('dbo.FACT_INVOICE_CUR_INV_COUNT_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_CUR_INV_COUNT_STAGE

