CREATE PROC [DBO].[DIM_FACILITY_LOAD] AS 
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.DIM_FACILITY_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.DIM_FACILITY_LOAD
GO

EXEC EDW_RITE.DBO.DIM_FACILITY_LOAD



*/
IF OBJECT_ID('dbo.DIM_FACILITY_NEW_SET')>0	DROP TABLE dbo.DIM_FACILITY_NEW_SET

CREATE TABLE EDW_RITE.dbo.DIM_FACILITY_NEW_SET WITH (CLUSTERED INDEX (FACILITY_ID), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			  ISNULL(CAST(B.FACS_ID			AS decimal(14,0)), 0) AS [FACILITY_ID]
			, ISNULL(CAST(B.ABBREV			AS varchar(50)), '') AS [FACILITY_ABBREV]
			, ISNULL(CAST(B.NAME			AS varchar(50)), '') AS [FACILITY_NAME]
			, ISNULL(CAST(A.AGCY_ID			AS decimal(14,0)), 0) AS [AGENCY_ID]
			, ISNULL(CAST(A.ABBREV			AS varchar(50)), '') AS [AGENCY_ABBREV]
			, ISNULL(CAST(A.NAME			AS varchar(50)), '') AS [AGENCY_NAME]
			, ISNULL(CAST(A.IS_IOP			AS varchar(1)), '') AS [AGENCY_IS_IOP]
			, ISNULL(CAST(CASE
								WHEN A.ABBREV <> 'NTTA' THEN 1
								WHEN B.FACS_ID = 5 THEN 2
								WHEN B.FACS_ID = 9 THEN 4		
								WHEN B.FACS_ID = 10 THEN 8		
								WHEN B.FACS_ID = 11 THEN 16	
								WHEN B.FACS_ID = 210 THEN 32	
								WHEN B.FACS_ID = 220 THEN 64	
								WHEN B.FACS_ID = 230 THEN 128	
								WHEN B.FACS_ID = 240 THEN 256	
								WHEN B.FACS_ID = 250 THEN 512	
								WHEN B.FACS_ID = 260 THEN 1024	
								WHEN B.FACS_ID = 270 THEN 2048	
								WHEN B.FACS_ID = 271 THEN 4096	
								WHEN B.FACS_ID = 280 THEN 8192	
								WHEN B.FACS_ID = 290 THEN 16384
								WHEN B.FACS_ID = 281 THEN 32768
							END	AS bigint), 0) AS [FACILITY_BITMASK_ID]
			--, ISNULL(CAST(main_table.[INSERT_DATE]			AS datetime), '1900-01-01') AS [INSERT_DATE]
			, ISNULL(CAST(B.LAST_UPDATE_DATE		AS datetime), '1900-01-01') AS [LAST_UPDATE_DATE]
	FROM LND_LG_VPS.FPL_OWNER.AGENCIES A
	INNER JOIN LND_LG_VPS.FPL_OWNER.FACILITIES B ON A.AGCY_ID = B.AGCY_ID
	OPTION (LABEL = 'DIM_FACILITY_LOAD: DIM_FACILITY_NEW_SET LOAD');

	CREATE STATISTICS [STATS_DIM_FACILITY_001] ON EDW_RITE.dbo.[DIM_FACILITY_NEW_SET] ([AGENCY_ID]);

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_FACILITY_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_FACILITY_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_FACILITY]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_FACILITY] TO [DIM_FACILITY_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_FACILITY_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_FACILITY_NEW_SET] TO [DIM_FACILITY];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_FACILITY_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_FACILITY_OLD];
	


/*
IF OBJECT_ID('dbo.DIM_FACILITY_STAGE')>0
	DROP TABLE dbo.DIM_FACILITY_STAGE

CREATE TABLE dbo.DIM_FACILITY_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED COLUMNSTORE INDEX) 
AS 
-- EXPLAIN
SELECT     
	 B.FACS_ID					AS FACILITY_ID
	,B.ABBREV					AS FACILITY_ABBREV
	,B.NAME						AS FACILITY_NAME
	,A.AGCY_ID					AS AGENCY_ID
    ,A.ABBREV					AS AGENCY_ABBREV
    ,A.NAME						AS AGENCY_NAME
    ,A.IS_IOP					AS AGENCY_IS_IOP
    ,B.LAST_UPDATE_DATE
FROM LND_LG_VPS.FPL_OWNER.AGENCIES A
INNER JOIN LND_LG_VPS.FPL_OWNER.FACILITIES B ON A.AGCY_ID = B.AGCY_ID
OPTION (LABEL = 'DIM_FACILITY_LOAD: DIM_FACILITY');

CREATE STATISTICS STATS_DIM_FACILITY_STAGE_001 ON DBO.DIM_FACILITY_STAGE (FACILITY_ID)



UPDATE dbo.DIM_FACILITY
	SET   
		  FACILITY_ABBREV = B.FACILITY_ABBREV
		, FACILITY_NAME = B.FACILITY_NAME
		, AGENCY_ID = B.AGENCY_ID
		, AGENCY_NAME = B.AGENCY_NAME
		, AGENCY_IS_IOP = B.AGENCY_IS_IOP
		, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.DIM_FACILITY_STAGE B
WHERE 
	dbo.DIM_FACILITY.FACILITY_ID = B.FACILITY_ID 
	AND 
		(
			    dbo.DIM_FACILITY.FACILITY_ABBREV <> B.FACILITY_ABBREV 
			OR	dbo.DIM_FACILITY.FACILITY_NAME <> B.FACILITY_NAME 
			OR	dbo.DIM_FACILITY.AGENCY_ID <> B.AGENCY_ID 
			OR	dbo.DIM_FACILITY.AGENCY_ABBREV <> B.AGENCY_ABBREV 
			OR  dbo.DIM_FACILITY.AGENCY_NAME <> B.AGENCY_NAME 
			OR  dbo.DIM_FACILITY.AGENCY_IS_IOP <> B.AGENCY_IS_IOP
		)
OPTION (LABEL = 'DIM_FACILITY_LOAD: UPDATE DIM_FACILITY');

-- GETFields 'DIM_FACILITY'
INSERT INTO dbo.DIM_FACILITY ( FACILITY_ID, FACILITY_ABBREV, FACILITY_NAME, AGENCY_ID, AGENCY_ABBREV, AGENCY_NAME, AGENCY_IS_IOP, FACILITY_BITMASK_ID, INSERT_DATE, LAST_UPDATE_DATE)
SELECT  A.FACILITY_ID, A.FACILITY_ABBREV, A.FACILITY_NAME, A.AGENCY_ID, A.AGENCY_ABBREV, A.AGENCY_NAME, A.AGENCY_IS_IOP, -1, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.DIM_FACILITY_STAGE A
LEFT JOIN dbo.DIM_FACILITY B ON A.FACILITY_ID = B.FACILITY_ID
WHERE B.FACILITY_ID IS NULL



UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 1 WHERE AGENCY_ABBREV <> 'NTTA'
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 2 WHERE FACILITY_ID = 5
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 4 WHERE FACILITY_ID = 9
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 8 WHERE FACILITY_ID = 10
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 16 WHERE FACILITY_ID = 11
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 32 WHERE FACILITY_ID = 210
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 64 WHERE FACILITY_ID = 220
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 128 WHERE FACILITY_ID = 230
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 256 WHERE FACILITY_ID = 240
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 512 WHERE FACILITY_ID = 250
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 1024 WHERE FACILITY_ID = 260
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 2048 WHERE FACILITY_ID = 270
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 4096 WHERE FACILITY_ID = 271
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 8192 WHERE FACILITY_ID = 280
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 16384 WHERE FACILITY_ID = 290
UPDATE DIM_FACILITY SET FACILITY_BITMASK_ID = 32768 WHERE FACILITY_ID = 281

IF OBJECT_ID('dbo.DIM_FACILITY_STAGE')>0
	DROP TABLE dbo.DIM_FACILITY_STAGE
*/

/*

	SELECT FACILITY_ID, FACILITY_NAME, FACILITY_BITMASK_ID FROM DIM_FACILITY WHERE AGENCY_ABBREV = 'NTTA'

*/








