CREATE PROC [dbo].[SOURCE_CODE_TOLL_LOAD] AS

IF OBJECT_ID('dbo.SOURCE_CODE_TOLL_STAGE')<>0	DROP TABLE dbo.SOURCE_CODE_TOLL_STAGE

--SELECT COUNT_BIG(1) FROM dbo.SOURCE_CODE_TOLL

CREATE TABLE dbo.SOURCE_CODE_TOLL_STAGE WITH (HEAP, DISTRIBUTION = REPLICATE)
AS 
SELECT 
	SOURCE_CODE,[SC_DESCR], 
	CASE 
		WHEN SOURCE_CODE IN ('W', 'V', 'M') THEN 'Vtoll AVI Rate'
		WHEN SOURCE_CODE IN ('H', 'P') THEN 'AVI Posted'
		WHEN SOURCE_CODE IN ('Z', 'O') THEN 'Vtoll Cash Rate'
		ELSE '(Null)' 
	END AS SOURCE_CODE_GROUP, 
	LAST_UPDATE_DATE
FROM [LND_LG_TS].[TAG_OWNER].[SOURCE_CODE_TOLL]
OPTION (LABEL = 'SOURCE_CODE_TOLL_LOAD: CTAS SOURCE_CODE_TOLL_STAGE');

INSERT INTO dbo.SOURCE_CODE_TOLL_STAGE 
		(SOURCE_CODE, SC_DESCR, SOURCE_CODE_GROUP, LAST_UPDATE_DATE)
VALUES	('-1','(Null)','(Null)','1900-01-01')

CREATE STATISTICS STATS_SOURCE_CODE_TOLL_001 ON SOURCE_CODE_TOLL_STAGE (SOURCE_CODE)

IF OBJECT_ID('dbo.SOURCE_CODE_TOLL_OLD')>0 	DROP TABLE dbo.SOURCE_CODE_TOLL_OLD;
IF OBJECT_ID('dbo.SOURCE_CODE_TOLL')>0		RENAME OBJECT::dbo.SOURCE_CODE_TOLL TO SOURCE_CODE_TOLL_OLD;
RENAME OBJECT::dbo.SOURCE_CODE_TOLL_STAGE TO SOURCE_CODE_TOLL;
IF OBJECT_ID('dbo.SOURCE_CODE_TOLL_OLD')>0 	DROP TABLE dbo.SOURCE_CODE_TOLL_OLD;


--UPDATE dbo.SOURCE_CODE_TOLL
--SET SC_DESCR = B.SC_DESCR
--	,LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
--FROM dbo.SOURCE_CODE_TOLL_STAGE B
--WHERE 
--	dbo.SOURCE_CODE_TOLL.SOURCE_CODE = B.SOURCE_CODE
--	AND 
--	dbo.SOURCE_CODE_TOLL.SC_DESCR <> B.SC_DESCR
--OPTION (LABEL = 'SOURCE_CODE_TOLL_LOAD: UPDATE SOURCE_CODE_TOLL');

--INSERT INTO dbo.SOURCE_CODE_TOLL (SOURCE_CODE, SC_DESCR, SOURCE_CODE_GROUP, INSERT_DATE, LAST_UPDATE_DATE)
--SELECT A.SOURCE_CODE, A.SC_DESCR, A.SOURCE_CODE_GROUP, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
--FROM dbo.SOURCE_CODE_TOLL_STAGE A
--LEFT JOIN dbo.SOURCE_CODE_TOLL B ON A.SOURCE_CODE = B.SOURCE_CODE
--WHERE B.SOURCE_CODE IS NULL
--OPTION (LABEL = 'SOURCE_CODE_TOLL_LOAD: INSERT SOURCE_CODE_TOLL');

----UPDATE SOURCE_CODE_TOLL SET SOURCE_CODE_GROUP = '(Null)'
--UPDATE SOURCE_CODE_TOLL SET SOURCE_CODE_GROUP = 'Vtoll AVI Rate' WHERE SOURCE_CODE IN ('W', 'V', 'M') 
--UPDATE SOURCE_CODE_TOLL SET SOURCE_CODE_GROUP = 'AVI Posted' WHERE SOURCE_CODE IN ('H', 'P')
--UPDATE SOURCE_CODE_TOLL SET SOURCE_CODE_GROUP = 'Vtoll Cash Rate' WHERE SOURCE_CODE IN ('Z', 'O')

