CREATE PROC [dbo].[DIM_ICS_LANE_VIOL_IMAGES_INCR_LOAD] AS
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.DIM_ICS_LANE_VIOL_IMAGES_INCR_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.DIM_ICS_LANE_VIOL_IMAGES_INCR_LOAD
GO

EXEC EDW_RITE.DBO.DIM_ICS_LANE_VIOL_IMAGES_INCR_LOAD



*/
BEGIN
	--Shankar Metla  2018-10-01  Created

    DECLARE @SOURCE VARCHAR(50), @START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT, @LOAD_CONTROL_DATE DATETIME2 (2) 
	
	-- STEP 1: Get the next Load Control Date from the Control Table
	SELECT	@LOAD_CONTROL_DATE = ISNULL(LAST_RUN_DATE, DATEADD(DAY, DATEDIFF(DAY, 0, GETDATE()), -10)) FROM	EDW_RITE.dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = 'DIM_ICS_LANE_VIOL_IMAGES'
	SELECT  @SOURCE = 'DIM_ICS_LANE_VIOL_IMAGES_INCR_LOAD', @START_DATE = GETDATE(), @LOG_MESSAGE = '<< Started DIM_ICS_LANE_VIOL_IMAGES_INCR_LOAD to load updates from ' + CONVERT(VARCHAR(19),@LOAD_CONTROL_DATE,121)
    EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE,  NULL

    IF OBJECT_ID('dbo.DIM_ICS_LANE_VIOL_IMAGES_NEW') IS NOT NULL 	DROP TABLE dbo.DIM_ICS_LANE_VIOL_IMAGES_NEW;
    CREATE TABLE dbo.DIM_ICS_LANE_VIOL_IMAGES_NEW WITH (DISTRIBUTION = HASH(LANE_VIOL_ID), CLUSTERED INDEX (LANE_VIOL_ID))
    AS
    SELECT  LANE_VIOL_ID,IMAGE_LOCATION,[1] [IMAGE_NAME_1],[2] [IMAGE_NAME_2],[3] [IMAGE_NAME_3],[4] [IMAGE_NAME_4],[5] [IMAGE_NAME_5],[6] [IMAGE_NAME_6]
    FROM (	
		    SELECT	LANE_VIOL_ID,VIOL_IMAGE_SEQ,IMAGE_LOCATION, IMAGE_NAME	AS [IMAGE]
		    FROM	LND_LG_ICRS.[ICRS_OWNER].[ICS_LANE_VIOL_IMAGES] 
		    WHERE	IS_ROI = 'N' --AND  LANE_VIOL_ID = 1942679858
            AND     LAST_UPDATE_DATE >= @LOAD_CONTROL_DATE
	    ) AS SourceTable
	    PIVOT (MAX([IMAGE]) FOR VIOL_IMAGE_SEQ IN ([1],[2],[3],[4],[5],[6]) ) AS Pivot1
	
    EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SELECT  @LOG_MESSAGE = 'Incremental refresh. Loaded DIM_ICS_LANE_VIOL_IMAGES_NEW with ' + CONVERT(VARCHAR,@ROW_COUNT) + ' rows'
	EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE,  @ROW_COUNT

	IF @ROW_COUNT > 0 
	BEGIN	
		--STEP 3: Insert from Stage table to XREF table
		INSERT  EDW_RITE.dbo.DIM_ICS_LANE_VIOL_IMAGES (LANE_VIOL_ID, IMAGE_LOCATION, [IMAGE_NAME_1], [IMAGE_NAME_2], [IMAGE_NAME_3], [IMAGE_NAME_4], [IMAGE_NAME_5], [IMAGE_NAME_6])
		SELECT  N.LANE_VIOL_ID, N.IMAGE_LOCATION, N.[IMAGE_NAME_1], N.[IMAGE_NAME_2], N.[IMAGE_NAME_3], N.[IMAGE_NAME_4], N.[IMAGE_NAME_5], N.[IMAGE_NAME_6]
        FROM    dbo.DIM_ICS_LANE_VIOL_IMAGES_NEW N
        LEFT JOIN dbo.DIM_ICS_LANE_VIOL_IMAGES O
                ON N.LANE_VIOL_ID = O.LANE_VIOL_ID
        WHERE   O.LANE_VIOL_ID IS NULL

		EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
		SELECT  @LOG_MESSAGE = 'Inserted ' + CONVERT(VARCHAR,@ROW_COUNT) + ' rows into DIM_ICS_LANE_VIOL_IMAGES from DIM_ICS_LANE_VIOL_IMAGES_NEW'
		EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE,  @ROW_COUNT

		--STEP 4: Update statistics
		UPDATE STATISTICS EDW_RITE.dbo.DIM_ICS_LANE_VIOL_IMAGES;
		SELECT  @LOG_MESSAGE = 'Updated STATISTICS on dbo.DIM_ICS_LANE_VIOL_IMAGES'
		EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE,  NULL
	END
	
	--STEP #5: Update Load Process Control Table
	UPDATE	dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @START_DATE WHERE TABLE_NAME = 'DIM_ICS_LANE_VIOL_IMAGES'
	EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SELECT  @LOG_MESSAGE = 'Updated dbo.LOAD_PROCESS_CONTROL for the next run. Last LOAD_CONTROL_DATE: ' + ISNULL(CONVERT(VARCHAR(19),@LOAD_CONTROL_DATE,121),'NULL') + '. Next LOAD_CONTROL_DATE: ' + ISNULL(CONVERT(VARCHAR(19),@START_DATE,121),'NULL')
	EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE, @ROW_COUNT
	EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, '>> Completed SP execution', NULL


	IF OBJECT_ID('dbo.DIM_ICS_LANE_VIOL_IMAGES_NEW') IS NOT NULL 	DROP TABLE dbo.DIM_ICS_LANE_VIOL_IMAGES_NEW;
END

/*
--:: Process Log
SELECT * FROM dbo.PROCESS_LOG (nolock) ORDER BY LOG_DATE DESC

SELECT* FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'DIM_ICS_LANE_VIOL_IMAGES'
UPDATE	dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = '9/4/2018' WHERE TABLE_NAME = 'DIM_ICS_LANE_VIOL_IMAGES'

DELETE EDW_RITE.dbo.DIM_ICS_LANE_VIOL_IMAGES WHERE LAST_UPDATE_DATE >= '9/4/2018'

*/


