CREATE PROC [DBO].[FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS_LOAD_NEW] AS 
/* 
DROP PROC [DBO].[FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS_LOAD_NEW]  
*/

DECLARE @PARTITION_DATE date = (SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN dbo.DIM_VIOLATOR_ASOF B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC)
--PRINT   @PARTITION_DATE

IF EXISTS(SELECT * FROM SYS.STATS SS WHERE SS.NAME = 'STATS_FACT_INVOICE_ANALYSIS_DETAIL_FINAL_2001')
BEGIN
	--DROP STATISTICS DBO.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.STATS_FACT_INVOICE_ANALYSIS_DETAIL_FINAL_2001
	UPDATE STATISTICS [DBO].FACT_INVOICE_ANALYSIS_DETAIL_FINAL (STATS_FACT_INVOICE_ANALYSIS_DETAIL_FINAL_2001)
END
ELSE 	CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_DETAIL_FINAL_2001 ON [DBO].FACT_INVOICE_ANALYSIS_DETAIL_FINAL (TRANSACTION_ID);
--SELECT *  FROM sys.procedures AS pr ORDER BY Create_date DESC

IF OBJECT_ID('dbo.FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS')>0
	DROP TABLE dbo.FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS

CREATE TABLE [dbo].FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS WITH (DISTRIBUTION = HASH([VIOLATOR_ID])) AS
-- EXPLAIN--SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME IN ('FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS','FACT_INVOICE_ANALYSIS_DETAIL') ORDER BY ORDINAL_POSITION, COLUMN_NAME, TABLE_NAME
SELECT    --TOP 100
		  vht.VIOLATOR_ID
		, @PARTITION_DATE AS PARTITION_DATE 
		, ISNULL(vht.VIOLATION_ID, (vht.TRANSACTION_ID%100)*-1) AS VIOLATION_ID
		, 1 AS CURRENT_INVOICE_LEVEL_FLAG
		, -1 AS VBI_INVOICE_ID
		, '1/1/1900' AS VB_INV_DATE
		, '1/1/1900' AS VB_INV_DATE_EXCUSED
		, -1 AS VIOL_INVOICE_ID
		, '1/1/1900' AS CONVERTED_DATE
		, '1/1/1900' AS VIOL_INV_DATE_EXCUSED
		, vht.VIOL_DATE, vht.VIOL_TIME_ID
		, '1/1/1900' AS VIOL_POST_DATE
		, '1/1/1900' AS VIOL_PAID_DATE
		, '1/1/1900' AS VIOL_STATUS_DATE
		, '1/1/1900' AS VIOL_DATE_EXCUSED
		, vht.VIOLATION_OR_ZIPCASH AS VIOLATION_OR_ZIPCASH
		, vht.LANE_ID
		, ISNULL(vht.SOURCE_CODE,'-1') AS SOURCE_CODE
		, '-1' AS INV_DTL_VIOL_STATUS
		, '-1' AS VIOL_STATUS
		, vht.VIOLATOR_ID AS LAST_VIOLATOR_ID
		, ISNULL(vht.TRANSACTION_ID,-1) AS TRANSACTION_ID
		, ISNULL(NULLIF(CAST(vht.DISPOSITION AS VARCHAR(2)), '-'), '-1') AS DISPOSITION
 		-- , ISNULL(REPLACE(vht.DISPOSITION, '-', '-1'),'-1') AS DISPOSITION - This cause type change to Varchar(8000)
		, ISNULL(vht.POSTED_REVENUE,0) AS VPS_HOST_POSTED_REVENUE
		, ISNULL(vht.POSTED_DATE,'1/1/1900') AS VPS_HOST_POSTED_DATE
		, ISNULL(vht.VIOL_TYPE,'-1') AS VIOL_TYPE
		, vht.EARNED_REVENUE AS TOLL_DUE
		, ISNULL(vht.POSTED_REVENUE,0) AS AMT_PAID
		, ISNULL(vht.POSTED_REVENUE,0) AS AMT_PAID_ADJ, 0 AS AMT_PAID_DISC
		, '-1' AS VEHICLE_CLASS
		, 0 AS VIOL_LEFT_ON_INV_FLAG
		, GETDATE() AS INSERT_DATE
--  EXPLAIN SELECT COUNT(*)
FROM dbo.VPS_HOST_TRANSACTIONS vht
LEFT JOIN dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL B--(SELECT TOP(1) TRANSACTION_ID FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL ) B--FACT_INVOICE_ANALYSIS_DETAIL WHERE PARTITION_DATE = @PARTITION_DATE) B 
	ON  vht.TRANSACTION_ID = B.TRANSACTION_ID
WHERE B.TRANSACTION_ID IS NULL
AND vht.DISPOSITION = 'P'
OPTION (LABEL = 'CTAS MISSING_VPS_HOST_TRANS: FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS');
--SELECT COUNT(1) FROM dbo.FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS
/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
Adding these Missing VPS HOST TRANSACTIONS introduces duplicate CURRENT_INVOICE_LEVEL_FLAG Marks 
where the violation_id was already there. 

This section will unset them. Probably would be better to figure this out before the insert one day
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

IF OBJECT_ID('dbo.FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE') <> 0
	DROP TABLE dbo.FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE

--DECLARE @PARTITION_DATE date = (SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN dbo.DIM_VIOLATOR_ASOF B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC); 
CREATE TABLE dbo.FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID)) 
AS --EXPLAIN
SELECT A.VIOLATOR_ID, A.VIOLATION_ID --A.PARTITION_DATE, 
FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL A --FACT_INVOICE_ANALYSIS_DETAIL A
INNER JOIN 
(
	SELECT VIOLATOR_ID, VIOLATION_ID --,PARTITION_DATE,  'VIOLATION_ID' as TransactionType, SUM(CURRENT_INVOICE_LEVEL_FLAG) as CUR_INV_COUNT, COUNT(*) as Rwcnt 
	FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL B -- FACT_INVOICE_ANALYSIS_DETAIL 
	WHERE --PARTITION_DATE = @PARTITION_DATE AND--(SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN FACT_INVOICE_ANALYSIS B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC) 
		 VIOLATION_ID > 0
	GROUP BY VIOLATOR_ID, VIOLATION_ID--PARTITION_DATE, 
	HAVING SUM(CURRENT_INVOICE_LEVEL_FLAG) > 1 --OR SUM(CURRENT_INVOICE_LEVEL_FLAG) = 0 
) Dups
ON A.VIOLATOR_ID = Dups.VIOLATOR_ID AND A.PARTITION_DATE = @PARTITION_DATE--Dups.PARTITION_DATE 
AND A.VIOLATION_ID = Dups.VIOLATION_ID
WHERE A.VBI_INVOICE_ID = -1 and A.VIOL_INVOICE_ID = -1
OPTION (LABEL = 'INSERT MISSING_VPS_HOST_TRANS: FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE');


exec DropStats 'dbo','FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE'
CREATE STATISTICS STATS_FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE_001 ON [dbo].FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE (VIOLATOR_ID)
CREATE STATISTICS STATS_FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE_002 ON [dbo].FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE (VIOLATOR_ID, VIOLATION_ID)
--SELECT * FROM FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE

IF OBJECT_ID('dbo.FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS_New')>0
	DROP TABLE dbo.FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS_New-- SELECT COUNT(1) FROM [DBO].FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS_NEW



CREATE TABLE [dbo].FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS_New WITH (DISTRIBUTION = HASH([VIOLATOR_ID])) AS --EXPLAIN 
--EXPLAIN --ADDED ON 2017-10-06 TO FIX THE CURRENT_INVOICE_LEVEL_FLAG ISSUE
--SELECT * FROM  dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL
SELECT  ISNULL(vht.VIOLATOR_ID, -1) VIOLATOR_ID, 
		ISNULL(PARTITION_DATE,'1/1/1900') PARTITION_DATE, 
		ISNULL(vht.VIOLATION_ID, -1) VIOLATION_ID, 
		CASE WHEN B.VIOLATOR_ID IS NULL THEN CURRENT_INVOICE_LEVEL_FLAG ELSE 0 END AS CURRENT_INVOICE_LEVEL_FLAG, --CURRENT_INVOICE_LEVEL_FLAG, 
		VBI_INVOICE_ID, 
		VB_INV_DATE, 
		ISNULL(CAST(VB_INV_DATE_EXCUSED AS DATE), '1990/01/01') VB_INV_DATE_EXCUSED, 
		VIOL_INVOICE_ID, 
		ISNULL(CONVERTED_DATE, '1990/01/01') CONVERTED_DATE, 
		VIOL_INV_DATE_EXCUSED, 
		CAST(NULL AS DATE) PAID_DATE, 
		CAST(NULL AS BIGINT) POS_ID, 
		ISNULL(VIOL_DATE, '1990/01/01') VIOL_DATE, 
		ISNULL(VIOL_TIME_ID, -1) VIOL_TIME_ID, 
		VIOL_POST_DATE, 
		ISNULL(VIOL_PAID_DATE, '1990/01/01') VIOL_PAID_DATE, 
		VIOL_STATUS_DATE, 
		VIOL_DATE_EXCUSED, 
		VIOLATION_OR_ZIPCASH, 
		ISNULL(LANE_ID, -1) LANE_ID, 
		SOURCE_CODE, 
		ISNULL(INV_DTL_VIOL_STATUS, -1) INV_DTL_VIOL_STATUS, 
		ISNULL(VIOL_STATUS, '-1')  AS VIOL_STATUS, 
		ISNULL(LAST_VIOLATOR_ID, -1) LAST_VIOLATOR_ID, 
		ISNULL(TRANSACTION_ID, -1) TRANSACTION_ID, 
		ISNULL(CAST(DISPOSITION AS VARCHAR(2)), '-1') AS DISPOSITION, 
		VPS_HOST_POSTED_REVENUE, 
		VPS_HOST_POSTED_DATE, 
		ISNULL(CAST(VIOL_TYPE AS VARCHAR(2)), '-1') VIOL_TYPE, 
		CAST(0.00 AS MONEY) INVOICE_AMT,  
		CAST(TOLL_DUE AS MONEY) AS TOLL_DUE, 
		ISNULL(CAST(VEHICLE_CLASS AS DECIMAL(2,0)), '-1') VEHICLE_CLASS, 
		CAST(0.00 AS MONEY)  AS ZI_LATE_FEES, 
		CAST(0.00 AS MONEY)  AS VI_LATE_FEES, 
		CAST(0.00 AS MONEY)  AS ADMIN_FEE, 
		CAST(0.00 AS MONEY)  AS ADMIN_FEE2, 
		CAST(AMT_PAID AS MONEY) AMT_PAID, 
		CAST(AMT_PAID_ADJ AS DECIMAL(19,8)) AS AMT_PAID_DISC, 
		CAST(AMT_PAID_ADJ AS DECIMAL(19,8)) AMT_PAID_ADJ, 
		CAST(VIOL_AMT_PAID AS MONEY) VIOL_AMT_PAID, 
		ISNULL(CAST(VIOL_LEFT_ON_INV_FLAG AS SMALLINT), 0) VIOL_LEFT_ON_INV_FLAG, 
		ISNULL(CAST(INSERT_DATE AS DATETIME), '1990/01/01') INSERT_DATE 
FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL vht
LEFT JOIN dbo.FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE B
	ON  vht.VIOLATOR_ID = B.VIOLATOR_ID 
	AND vht.VIOLATION_ID = B.VIOLATION_ID 
	AND vht.VBI_INVOICE_ID = -1
	AND vht.VIOL_INVOICE_ID = -1
UNION ALL
SELECT   ISNULL(vht.VIOLATOR_ID,-1) as VIOLATOR_ID
		, ISNULL(PARTITION_DATE,'1/1/1900') AS PARTITION_DATE 
		, isnull(vht.VIOLATION_ID,-1) as VIOLATION_ID
		, CASE WHEN B.VIOLATOR_ID IS NULL THEN 1 ELSE 0 END AS CURRENT_INVOICE_LEVEL_FLAG
		, isnull(CAST(VBI_INVOICE_ID as Bigint),-1) as VBI_INVOICE_ID
		, isnull(CAST(VB_INV_DATE as Date),'1/1/1900') as VB_INV_DATE
		, isnull(CAST(VB_INV_DATE_EXCUSED as Date),'1/1/1900') as VB_INV_DATE_EXCUSED
		, CAST(VIOL_INVOICE_ID as Bigint) as VIOL_INVOICE_ID
		, isnull(CAST(CONVERTED_DATE as Date),'1/1/1900') as CONVERTED_DATE
		, isnull(CAST(VIOL_INV_DATE_EXCUSED as Date) ,'1/1/1900') as VIOL_INV_DATE_EXCUSED
		, Cast(NULL as date) as PAID_DATE
		, Cast(Null as bigint) as POS_ID
		, isnull(cast(VIOL_DATE  as date),'1/1/1900') as VIOL_DATE
		, ISNULL(VIOL_TIME_ID, -1) VIOL_TIME_ID
		, isnull(Cast(VIOL_POST_DATE as date),'1/1/1900') as VIOL_POST_DATE
		, isnull(Cast(VIOL_PAID_DATE as date),'1/1/1900') as VIOL_PAID_DATE
		, isnull(Cast(VIOL_STATUS_DATE as date),'1/1/1900') as VIOL_STATUS_DATE
		, isnull(Cast(VIOL_DATE_EXCUSED as date),'1/1/1900') as VIOL_DATE_EXCUSED
		, isnull(VIOLATION_OR_ZIPCASH,-1) as VIOLATION_OR_ZIPCASH
		, ISNULL(LANE_ID, -1) LANE_ID
		, SOURCE_CODE
		, ISNULL(INV_DTL_VIOL_STATUS, -1) INV_DTL_VIOL_STATUS
		, ISNULL(VIOL_STATUS, '-1')  AS VIOL_STATUS
		, ISNULL(LAST_VIOLATOR_ID, -1) LAST_VIOLATOR_ID 
		, ISNULL(TRANSACTION_ID, -1) TRANSACTION_ID
 		, ISNULL(CAST(DISPOSITION AS VARCHAR(2)), '-1') AS DISPOSITION
		, VPS_HOST_POSTED_REVENUE
		, VPS_HOST_POSTED_DATE
		, VIOL_TYPE
		, CAST(NULL as Money) as INVOICE_AMT
		, TOLL_DUE
		, isnull(CAST(VEHICLE_CLASS as decimal(2,0)),'-1') as VEHICLE_CLASS
		, CAST(NULL as money) as ZI_LATE_FEES
        , CAST(NULL as money) as VI_LATE_FEES
        , CAST(NULL as Money) as ADMIN_FEE
        , CAST(NULL as Money) as ADMIN_FEE2
		, AMT_PAID
		, CAST(AMT_PAID_DISC as decimal(19,8)) as AMT_PAID_DISC
		, CAST(AMT_PAID_ADJ as decimal(19,8)) as AMT_PAID_ADJ
		, CAST(NULL as money) as VIOL_AMT_PAID
		, isnull(CAST(VIOL_LEFT_ON_INV_FLAG as Smallint),0) as VIOL_LEFT_ON_INV_FLAG
		, ISNULL(CAST(INSERT_DATE AS DATETIME), '1990/01/01') AS INSERT_DATE--  EXPLAIN SELECT COUNT(*)
FROM dbo.FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS vht --562,401,953 
LEFT JOIN dbo.FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE B--(SELECT TOP(1) TRANSACTION_ID FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL ) B--FACT_INVOICE_ANALYSIS_DETAIL WHERE PARTITION_DATE = @PARTITION_DATE) B 
	ON  vht.VIOLATOR_ID = B.VIOLATOR_ID 
	AND vht.VIOLATION_ID = B.VIOLATION_ID 
	AND vht.VBI_INVOICE_ID = -1
	AND vht.VIOL_INVOICE_ID = -1
OPTION (LABEL = 'INSERT MISSING_VPS_HOST_TRANS: FACT_INVOICE_ANALYSIS_DETAIL');



	--STEP #3: Replace OLD table with NEW
	IF OBJECT_ID('dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL_OLD')>0 	DROP TABLE dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL_OLD;
	IF OBJECT_ID('dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL')>0		RENAME OBJECT::dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL TO FACT_INVOICE_ANALYSIS_DETAIL_FINAL_OLD;
	RENAME OBJECT::dbo.FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS_New TO FACT_INVOICE_ANALYSIS_DETAIL_FINAL;
	IF OBJECT_ID('dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL_OLD')>0 	DROP TABLE dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL_OLD;

--SELECT TOP(100) *--COUNT(*) 
--FROM FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE --868,932,093
--DECLARE @PARTITION_DATE date = (SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN dbo.DIM_VIOLATOR_ASOF B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC); EXPLAIN 
--UPDATE dbo.FACT_INVOICE_ANALYSIS_DETAIL
--SET CURRENT_INVOICE_LEVEL_FLAG = 0 
--FROM FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE B
--WHERE 
--		dbo.FACT_INVOICE_ANALYSIS_DETAIL.VIOLATOR_ID = B.VIOLATOR_ID 
--	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL.VIOLATION_ID = B.VIOLATION_ID 
--	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL.PARTITION_DATE = @PARTITION_DATE--B.PARTITION_DATE 
--	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL.VBI_INVOICE_ID = -1
--	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL.VIOL_INVOICE_ID = -1
--	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL.CURRENT_INVOICE_LEVEL_FLAG = 1
--OPTION (LABEL = 'UPDATE: FACT_INVOICE_ANALYSIS_DETAIL');

--IF OBJECT_ID('dbo.FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE') <> 0
--	DROP TABLE dbo.FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE
--IF OBJECT_ID('dbo.FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS') <> 0
--	DROP TABLE dbo.FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS


