CREATE PROC [DBO].[VIOLATIONS_IN_INVOICE_VIOL_XREF_WITH_DIFFERENT_VIOLATOR_ID_LOAD] AS 


IF OBJECT_ID('dbo.VIOLATIONS_IN_INVOICE_VIOL_XREF_WITH_DIFFERENT_VIOLATOR_ID')<>0 	DROP TABLE dbo.VIOLATIONS_IN_INVOICE_VIOL_XREF_WITH_DIFFERENT_VIOLATOR_ID

CREATE TABLE dbo.VIOLATIONS_IN_INVOICE_VIOL_XREF_WITH_DIFFERENT_VIOLATOR_ID WITH (DISTRIBUTION = HASH (VIOLATION_ID), CLUSTERED INDEX (VIOLATION_ID)) 
AS 

SELECT A.* 
FROM VIOLATIONS A
INNER JOIN 
(
 
	SELECT vbiv.violation_id
	FROM dbo.vb_invoice_viol vbiv 
	LEFT  JOIN dbo.Violations viol ON 
					--vbiv.violator_id = viol.violator_id AND 
					vbiv.violation_id = viol.violation_id
	WHERE viol.violator_id IS NULL AND viol.violation_id IS NULL
	UNION 
	-- FROM #6 Not a match on Violator ID
	SELECT viv.violation_id
	FROM dbo.viol_invoice_viol viv 
	LEFT  JOIN dbo.Violations viol ON 
					--viv.violator_id = viol.violator_id AND 
					viv.violation_id = viol.violation_id
	WHERE viol.violator_id IS NULL AND viol.violation_id IS NULL


) B ON A.violation_id = B.violation_id


/*

	SELECT COUNT(*) FROM VIOLATIONS_IN_INVOICE_VIOL_XREF_WITH_DIFFERENT_VIOLATOR_ID

	DBCC PDW_SHOWSPACEUSED(VIOLATIONS_IN_INVOICE_VIOL_XREF_WITH_DIFFERENT_VIOLATOR_ID)

*/

--exec DropStats 'VIOLATIONS_IN_VIOL_INVOICE_VIOL_WITH_DIFFERENT_VIOLATOR_ID' 
---- exec CreateStats 'VIOLATIONS_IN_VIOL_INVOICE_VIOL_WITH_DIFFERENT_VIOLATOR_ID'
--CREATE STATISTICS STATS_VIOLATIONS_IN_VIOL_INVOICE_VIOL_WITH_DIFFERENT_VIOLATOR_ID_001 ON DBO.VIOLATIONS_IN_VIOL_INVOICE_VIOL_WITH_DIFFERENT_VIOLATOR_ID  (VIOLATOR_ID)
--CREATE STATISTICS STATS_VIOLATIONS_IN_VIOL_INVOICE_VIOL_WITH_DIFFERENT_VIOLATOR_ID_002 ON DBO.VIOLATIONS_IN_VIOL_INVOICE_VIOL_WITH_DIFFERENT_VIOLATOR_ID  (LANE_ID)
--CREATE STATISTICS STATS_VIOLATIONS_IN_VIOL_INVOICE_VIOL_WITH_DIFFERENT_VIOLATOR_ID_003 ON DBO.VIOLATIONS_IN_VIOL_INVOICE_VIOL_WITH_DIFFERENT_VIOLATOR_ID  (VIOL_STATUS)
--CREATE STATISTICS STATS_VIOLATIONS_IN_VIOL_INVOICE_VIOL_WITH_DIFFERENT_VIOLATOR_ID_004 ON DBO.VIOLATIONS_IN_VIOL_INVOICE_VIOL_WITH_DIFFERENT_VIOLATOR_ID  (VEHICLE_CLASS)







