CREATE PROC [DBO].[VIOLATORS_LOAD] AS 
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.VIOLATORS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.VIOLATORS_LOAD
GO

EXEC DBO.VIOLATORS_STAGE_LOAD
EXEC DBO.VIOLATORS_LOAD

NOTES:
	- Depends on DIM_LICENSE_PLATE LOAD so these staging tables have to be in the final step instead of staying in Stage

*/

IF OBJECT_ID('dbo.HV_CTE') IS NOT NULL DROP TABLE dbo.HV_CTE

CREATE TABLE dbo.HV_CTE WITH (CLUSTERED INDEX (VIOLATOR_ID), DISTRIBUTION = HASH(VIOLATOR_ID)) 
AS 
SELECT HV.VIOLATOR_ID, HV.VID_SEQ, IND.INDICATOR_ID AS HV_FLAG,
	ROW_NUMBER() OVER (PARTITION BY HV.VIOLATOR_ID ORDER BY HV.VID_SEQ DESC) AS RN
FROM LND_LG_VPS.HV_OWNER.HABITUAL_VIOLATORS HV
LEFT JOIN DBO.DIM_INDICATOR IND ON IND.YES_NO_ABBREV = HV.HV_FLAG


IF OBJECT_ID('dbo.VIOLATORS_NEW') IS NOT NULL DROP TABLE dbo.VIOLATORS_NEW

CREATE TABLE dbo.VIOLATORS_NEW WITH (CLUSTERED INDEX (VIOLATOR_ID), DISTRIBUTION = HASH(VIOLATOR_ID)) 
AS 
-- EXPLAIN
SELECT A.VIOLATOR_ID, A.VIOLATOR_FNAME, A.VIOLATOR_LNAME, ISNULL(A.VIOLATOR_FNAME2, '') AS VIOLATOR_FNAME2, ISNULL(A.VIOLATOR_LNAME2, '') AS VIOLATOR_LNAME2, 
	A.VIOLATOR_TYPE, ISNULL(HV.HV_FLAG, 0) AS HV_FLAG
	, A.PHONE_NBR, A.EMAIL_ADDR
	, ISNULL(C.LICENSE_PLATE_ID,-1) As LICENSE_PLATE_ID 
	, ISNULL(A.LIC_PLATE_NBR, '(NULL)') AS LIC_PLATE_NBR, ISNULL(A.LIC_PLATE_STATE, '(NULL)') AS LIC_PLATE_STATE
	, A.VEHICLE_MAKE, A.VEHICLE_MODEL, A.VEHICLE_BODY, A.VEHICLE_YEAR, A.VEHICLE_COLOR, CAST(A.DATE_CREATED AS DATE) AS DATE_CREATED
	, A.DOCNO, A.VIN
	, A.LAST_UPDATE_DATE
FROM DBO.VIOLATORS_STAGE A
LEFT JOIN DBO.HV_CTE HV ON A.VIOLATOR_ID = HV.VIOLATOR_ID AND HV.RN = 1
LEFT JOIN DBO.DIM_LICENSE_PLATE C ON A.LIC_PLATE_NBR = C.LICENSE_PLATE_NBR AND A.LIC_PLATE_STATE = C.LICENSE_PLATE_STATE
OPTION (LABEL = 'VIOLATOR_LOAD: VIOLATORS_NEW');

IF OBJECT_ID('dbo.VIOLATORS_NEW_STAGE') IS NOT NULL DROP TABLE dbo.VIOLATORS_NEW_STAGE

CREATE TABLE dbo.VIOLATORS_NEW_STAGE WITH (CLUSTERED INDEX (VIOLATOR_ID), DISTRIBUTION = HASH(VIOLATOR_ID)) AS    
SELECT	
	F.VIOLATOR_ID, VIOLATOR_FNAME, VIOLATOR_LNAME, VIOLATOR_FNAME2, VIOLATOR_LNAME2, VIOLATOR_TYPE,ISNULL(HV.HV_FLAG, 0) AS HV_FLAG, PHONE_NBR, EMAIL_ADDR, LICENSE_PLATE_ID, ISNULL(F.LIC_PLATE_NBR, '(NULL)') AS LIC_PLATE_NBR, 
	ISNULL(F.LIC_PLATE_STATE, '(NULL)') AS LIC_PLATE_STATE, VEHICLE_MAKE, 
	VEHICLE_MODEL, VEHICLE_BODY, VEHICLE_YEAR, VEHICLE_COLOR, CAST(F.DATE_CREATED AS DATE) AS DATE_CREATED, DOCNO, VIN, LAST_UPDATE_DATE
FROM dbo.VIOLATORS AS F 
LEFT JOIN DBO.HV_CTE HV ON F.VIOLATOR_ID = HV.VIOLATOR_ID AND HV.RN = 1
WHERE NOT EXISTS (SELECT 1 FROM dbo.VIOLATORS_NEW AS NSET WHERE NSET.VIOLATOR_ID = F.VIOLATOR_ID)     
  UNION ALL  
SELECT	
	VIOLATOR_ID, VIOLATOR_FNAME, VIOLATOR_LNAME, VIOLATOR_FNAME2, VIOLATOR_LNAME2, VIOLATOR_TYPE, HV_FLAG, PHONE_NBR, EMAIL_ADDR, LICENSE_PLATE_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, VEHICLE_MAKE, 
	VEHICLE_MODEL, VEHICLE_BODY, VEHICLE_YEAR, VEHICLE_COLOR, DATE_CREATED, DOCNO, VIN, LAST_UPDATE_DATE
FROM dbo.VIOLATORS_NEW


CREATE STATISTICS [STATS_VIOLATORS_001] ON [dbo].[VIOLATORS_NEW_STAGE] ([VIOLATOR_LNAME],[VIOLATOR_FNAME]);
CREATE STATISTICS [STATS_VIOLATORS_002] ON [dbo].[VIOLATORS_NEW_STAGE] ([LICENSE_PLATE_ID]);
CREATE STATISTICS [STATS_VIOLATORS_003] ON [dbo].[VIOLATORS_NEW_STAGE] ([PHONE_NBR]);
CREATE STATISTICS [STATS_VIOLATORS_004] ON [dbo].[VIOLATORS_NEW_STAGE] ([EMAIL_ADDR]);
CREATE STATISTICS [STATS_VIOLATORS_005] ON [dbo].[VIOLATORS_NEW_STAGE] ([VIOLATOR_TYPE]);
CREATE STATISTICS [STATS_VIOLATORS_006] ON [dbo].[VIOLATORS_NEW_STAGE] ([LIC_PLATE_STATE],[LIC_PLATE_NBR]);
CREATE STATISTICS [STATS_VIOLATORS_007] ON [dbo].[VIOLATORS_NEW_STAGE] (HV_FLAG);

IF OBJECT_ID('dbo.VIOLATORS_OLD') IS NOT NULL 	DROP TABLE dbo.VIOLATORS_OLD;
IF OBJECT_ID('dbo.VIOLATORS') IS NOT NULL		RENAME OBJECT::dbo.VIOLATORS TO VIOLATORS_OLD;
RENAME OBJECT::dbo.VIOLATORS_NEW_STAGE TO VIOLATORS;
--IF OBJECT_ID('dbo.VIOLATORS_OLD') IS NOT NULL 	DROP TABLE dbo.VIOLATORS_OLD;

IF OBJECT_ID('dbo.VIOLATORS_NEW') IS NOT NULL DROP TABLE dbo.VIOLATORS_NEW
IF OBJECT_ID('dbo.VIOLATORS_OLD') IS NOT NULL DROP TABLE dbo.VIOLATORS_OLD
IF OBJECT_ID('dbo.HV_CTE') IS NOT NULL DROP TABLE dbo.HV_CTE

/*
IF OBJECT_ID('dbo.VIOLATORS_STAGE_UPDATE')>0
	DROP TABLE dbo.VIOLATORS_STAGE_UPDATE

CREATE TABLE dbo.VIOLATORS_STAGE_UPDATE WITH (DISTRIBUTION = HASH(VIOLATOR_ID), CLUSTERED INDEX (VIOLATOR_ID)) 
AS 
-- EXPLAIN
SELECT A.VIOLATOR_ID, A.VIOLATOR_FNAME, A.VIOLATOR_TYPE, A.VIOLATOR_LNAME
	, ISNULL(C.LICENSE_PLATE_ID,-1) As LICENSE_PLATE_ID, A.LIC_PLATE_NBR
	, A.LIC_PLATE_STATE, A.PHONE_NBR, A.EMAIL_ADDR
	, A.VEHICLE_MAKE, A.VEHICLE_MODEL, A.VEHICLE_BODY, A.VEHICLE_YEAR, A.VEHICLE_COLOR, A.DATE_CREATED
	, A.DOCNO, A.VIN
	, A.LAST_UPDATE_DATE
FROM DBO.VIOLATORS_STAGE A
INNER JOIN DBO.VIOLATORS B ON A.VIOLATOR_ID = B.VIOLATOR_ID
LEFT JOIN DBO.DIM_LICENSE_PLATE C ON A.LIC_PLATE_NBR = C.LICENSE_PLATE_NBR AND A.LIC_PLATE_STATE = C.LICENSE_PLATE_STATE
OPTION (LABEL = 'VIOLATOR_LOAD: VIOLATORS_STAGE_UPDATE');

CREATE STATISTICS STATS_VIOLATORS_STAGE_UPDATE_001 ON DBO.VIOLATORS_STAGE_UPDATE (VIOLATOR_ID)


IF OBJECT_ID('DBO.VIOLATORS_STAGE_INSERT')>0
	DROP TABLE DBO.VIOLATORS_STAGE_INSERT

CREATE TABLE DBO.VIOLATORS_STAGE_INSERT WITH (DISTRIBUTION = HASH(VIOLATOR_ID), CLUSTERED INDEX (VIOLATOR_ID)) 
AS 
-- EXPLAIN
SELECT A.VIOLATOR_ID, A.VIOLATOR_FNAME, A.VIOLATOR_TYPE, A.VIOLATOR_LNAME
	, ISNULL(C.LICENSE_PLATE_ID,-1) AS LICENSE_PLATE_ID, A.LIC_PLATE_NBR, A.LIC_PLATE_STATE, A.PHONE_NBR, A.EMAIL_ADDR
	, A.VEHICLE_MAKE, A.VEHICLE_MODEL, A.VEHICLE_BODY ,A.VEHICLE_YEAR, A.VEHICLE_COLOR, A.DATE_CREATED
	, A.DOCNO, A.VIN
	, A.LAST_UPDATE_DATE
FROM DBO.VIOLATORS_STAGE A
LEFT JOIN DBO.VIOLATORS B ON A.VIOLATOR_ID = B.VIOLATOR_ID
LEFT JOIN DBO.DIM_LICENSE_PLATE C ON A.LIC_PLATE_NBR = C.LICENSE_PLATE_NBR AND A.LIC_PLATE_STATE = C.LICENSE_PLATE_STATE
WHERE B.VIOLATOR_ID IS NULL
OPTION (LABEL = 'VIOLATOR_LOAD: VIOLATORS_STAGE_INSERT');

CREATE STATISTICS STATS_VIOLATORS_STAGE_INSERT_001 ON DBO.VIOLATORS_STAGE_INSERT (VIOLATOR_ID)


UPDATE DBO.VIOLATORS 
SET   DBO.VIOLATORS.VIOLATOR_FNAME = B.VIOLATOR_FNAME
	, DBO.VIOLATORS.VIOLATOR_LNAME = B.VIOLATOR_LNAME
	, DBO.VIOLATORS.LICENSE_PLATE_ID = B.LICENSE_PLATE_ID
	, DBO.VIOLATORS.PHONE_NBR = B.PHONE_NBR
	, DBO.VIOLATORS.EMAIL_ADDR = B.EMAIL_ADDR
	, DBO.VIOLATORS.VIOLATOR_TYPE = B.VIOLATOR_TYPE
	, DBO.VIOLATORS.LIC_PLATE_NBR = B.LIC_PLATE_NBR
	, DBO.VIOLATORS.LIC_PLATE_STATE = B.LIC_PLATE_STATE

	, DBO.VIOLATORS.VEHICLE_MAKE = B.VEHICLE_MAKE
	, DBO.VIOLATORS.VEHICLE_MODEL = B.VEHICLE_MODEL
	, DBO.VIOLATORS.VEHICLE_BODY = B.VEHICLE_BODY
	, DBO.VIOLATORS.VEHICLE_YEAR = B.VEHICLE_YEAR
	, DBO.VIOLATORS.VEHICLE_COLOR = B.VEHICLE_COLOR
	, DBO.VIOLATORS.DATE_CREATED = B.DATE_CREATED
	, DBO.VIOLATORS.DOCNO = B.DOCNO
	, DBO.VIOLATORS.VIN = B.VIN
	, DBO.VIOLATORS.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM DBO.VIOLATORS_STAGE_UPDATE B
WHERE DBO.VIOLATORS.VIOLATOR_ID = B.VIOLATOR_ID
	AND 
	(	   ISNULL(DBO.VIOLATORS.VIOLATOR_FNAME,'-1') <> ISNULL(B.VIOLATOR_FNAME,'-1') 
		OR ISNULL(DBO.VIOLATORS.VIOLATOR_LNAME,'-1') <> ISNULL(B.VIOLATOR_LNAME,'-1') 
		OR ISNULL(DBO.VIOLATORS.LICENSE_PLATE_ID,-1) <> ISNULL(B.LICENSE_PLATE_ID,-1)
		OR ISNULL(DBO.VIOLATORS.PHONE_NBR,'-1') <> ISNULL(B.PHONE_NBR,'-1')
		OR ISNULL(DBO.VIOLATORS.EMAIL_ADDR,'-1') <> ISNULL(B.EMAIL_ADDR,'-1')
		OR DBO.VIOLATORS.VIOLATOR_TYPE <> B.VIOLATOR_TYPE
		OR DBO.VIOLATORS.LIC_PLATE_NBR <> B.LIC_PLATE_NBR
		OR DBO.VIOLATORS.LIC_PLATE_STATE <> B.LIC_PLATE_STATE
		OR DBO.VIOLATORS.VEHICLE_MAKE <> B.VEHICLE_MAKE
		OR DBO.VIOLATORS.VEHICLE_MODEL <> B.VEHICLE_MODEL
		OR DBO.VIOLATORS.VEHICLE_BODY <> B.VEHICLE_BODY
		OR DBO.VIOLATORS.VEHICLE_YEAR <> B.VEHICLE_YEAR
		OR DBO.VIOLATORS.VEHICLE_COLOR <> B.VEHICLE_COLOR
		OR DBO.VIOLATORS.DATE_CREATED <> B.DATE_CREATED
		OR ISNULL(DBO.VIOLATORS.DOCNO,'-1') <> ISNULL(B.DOCNO,'-1') 
		OR ISNULL(DBO.VIOLATORS.VIN,'-1') <> ISNULL(B.VIN,'-1') 

	)
OPTION (LABEL = 'VIOLATOR_LOAD: UPDATE DBO.VIOLATORS');


INSERT INTO dbo.VIOLATORS 
	(
		  VIOLATOR_ID, VIOLATOR_FNAME, VIOLATOR_LNAME, LICENSE_PLATE_ID, PHONE_NBR, EMAIL_ADDR, VIOLATOR_TYPE, LIC_PLATE_NBR, LIC_PLATE_STATE
		, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_BODY, VEHICLE_YEAR, VEHICLE_COLOR, DATE_CREATED, INSERT_DATE, DOCNO, VIN, LAST_UPDATE_DATE
	)
SELECT	VIOLATOR_ID, VIOLATOR_FNAME, VIOLATOR_LNAME, LICENSE_PLATE_ID, PHONE_NBR, EMAIL_ADDR, VIOLATOR_TYPE, LIC_PLATE_NBR, LIC_PLATE_STATE
	, A.VEHICLE_MAKE, A.VEHICLE_MODEL, A.VEHICLE_BODY, A.VEHICLE_YEAR, A.VEHICLE_COLOR, A.DATE_CREATED, LAST_UPDATE_DATE, A.DOCNO, A.VIN, LAST_UPDATE_DATE
FROM DBO.VIOLATORS_STAGE_INSERT A
OPTION (LABEL = 'VIOLATOR_LOAD: INSERT DBO.VIOLATORS');


IF OBJECT_ID('dbo.VIOLATORS_STAGE_UPDATE')>0
	DROP TABLE dbo.VIOLATORS_STAGE_UPDATE
	
IF OBJECT_ID('DBO.VIOLATORS_STAGE_INSERT')>0
	DROP TABLE DBO.VIOLATORS_STAGE_INSERT
*/


/*
	
	SELECT TOP 100 * FROM VIOLATORS ORDER BY 1 DESC

*/




	

