CREATE PROC [DBO].[VB_INVOICE_BATCHES_LOAD] AS

-- EXEC EDW_RITE.DBO.VB_INVOICE_BATCHES_LOAD
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.VB_INVOICE_BATCHES_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.VB_INVOICE_BATCHES_LOAD
GO

*/

/*	
SELECT TOP 100 * FROM VB_INVOICE_BATCHES 
SELECT COUNT_BIG(1) FROM VB_INVOICE_BATCHES -- 72 039 835 
*/  

/*
INSERT INTO dbo.VB_INVOICE_BATCHES
	(	 	  
	VBB_BATCH_ID, DATE_PRODUCED, VB_INV_BATCH_TYPE_CODE, LAST_UPDATE_DATE
	)
	VALUES
	(-1,'1900-01-01','','2000-01-01')


*/

--Ranjith Nair 2017-02-02  Changed Incremental to Full Load
-- Andy Filipps 2018-12-10 - returned incremental load of a new approach

	DECLARE @LAST_UPDATE_DATE datetime2(2) 
	EXEC dbo.GetLoadStartDatetime 'dbo.VB_INVOICE_BATCHES', @LAST_UPDATE_DATE OUTPUT

	IF OBJECT_ID('dbo.VB_INVOICE_BATCHES_STAGE')>0
		DROP TABLE dbo.VB_INVOICE_BATCHES_STAGE

	CREATE TABLE dbo.VB_INVOICE_BATCHES_STAGE WITH (DISTRIBUTION = HASH(VBB_BATCH_ID), HEAP) 
	AS -- EXPLAIN
	SELECT 
		  VBB_BATCH_ID
		, A.DATE_PRODUCED
		, A.VB_INV_BATCH_TYPE_CODE
		, A.LAST_UPDATE_DATE
	FROM LND_LG_VPS.[VP_OWNER].VB_INVOICE_BATCHES A 
	WHERE 	A.LAST_UPDATE_DATE >= @LAST_UPDATE_DATE 
	OPTION (LABEL = 'VB_INVOICE_BATCHES_LOAD: VB_INVOICE_BATCHES_STAGE');

	CREATE STATISTICS STATS_VB_INVOICE_BATCHES_STAGE_001 ON VB_INVOICE_BATCHES_STAGE (VBB_BATCH_ID)

	--IF OBJECT_ID('dbo.VB_INVOICE_BATCHES')>0		RENAME OBJECT::dbo.VB_INVOICE_BATCHES TO VB_INVOICE_BATCHES_OLD;
	--IF OBJECT_ID('dbo.VB_INVOICE_BATCHES_STAGE')>0		RENAME OBJECT::dbo.VB_INVOICE_BATCHES_STAGE TO VB_INVOICE_BATCHES;
	--IF OBJECT_ID('dbo.VB_INVOICE_BATCHES_OLD')>0		DROP TABLE dbo.VB_INVOICE_BATCHES_OLD;


IF OBJECT_ID('dbo.VB_INVOICE_BATCHES_NEW_STAGE')>0 	DROP TABLE dbo.VB_INVOICE_BATCHES_NEW_STAGE

CREATE TABLE dbo.VB_INVOICE_BATCHES_NEW_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(VBB_BATCH_ID)) AS    
SELECT	
	VBB_BATCH_ID, DATE_PRODUCED, VB_INV_BATCH_TYPE_CODE, LAST_UPDATE_DATE
FROM dbo.VB_INVOICE_BATCHES AS F 
WHERE NOT EXISTS (SELECT 1 FROM dbo.VB_INVOICE_BATCHES_STAGE AS N WHERE N.VBB_BATCH_ID = F.VBB_BATCH_ID) 

  UNION ALL 
  
SELECT	
	VBB_BATCH_ID, DATE_PRODUCED, VB_INV_BATCH_TYPE_CODE, LAST_UPDATE_DATE
FROM dbo.VB_INVOICE_BATCHES_STAGE AS N
OPTION (LABEL = 'VB_INVOICE_BATCHES_LOAD: INSERT/UPDATE');


--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.VB_INVOICE_BATCHES_OLD')>0 	DROP TABLE dbo.VB_INVOICE_BATCHES_OLD;
IF OBJECT_ID('dbo.VB_INVOICE_BATCHES')>0		RENAME OBJECT::dbo.VB_INVOICE_BATCHES TO VB_INVOICE_BATCHES_OLD;
RENAME OBJECT::dbo.VB_INVOICE_BATCHES_NEW_STAGE TO VB_INVOICE_BATCHES;
IF OBJECT_ID('dbo.VB_INVOICE_BATCHES_OLD')>0 	DROP TABLE dbo.VB_INVOICE_BATCHES_OLD;
	
CREATE STATISTICS [STATS_VB_INVOICE_BATCHES_001] ON [dbo].[VB_INVOICE_BATCHES] ([VBB_BATCH_ID]);
CREATE STATISTICS [STATS_VB_INVOICE_BATCHES_002] ON [dbo].[VB_INVOICE_BATCHES] ([VBB_BATCH_ID], [DATE_PRODUCED], [VB_INV_BATCH_TYPE_CODE]);
CREATE STATISTICS [STATS_VB_INVOICE_BATCHES_003] ON [dbo].[VB_INVOICE_BATCHES] ([LAST_UPDATE_DATE]);
CREATE STATISTICS [STATS_VB_INVOICE_BATCHES_004] ON [dbo].[VB_INVOICE_BATCHES] ([VBB_BATCH_ID], [VB_INV_BATCH_TYPE_CODE]);

IF OBJECT_ID('dbo.VB_INVOICE_BATCHES_STAGE')>0 	DROP TABLE dbo.VB_INVOICE_BATCHES_STAGE

---- GetUpdateFields 'VB_INVOICE_BATCHES'
---- EXPLAIN
--UPDATE DBO.VB_INVOICE_BATCHES
--SET   
--		dbo.VB_INVOICE_BATCHES.DATE_PRODUCED = B.DATE_PRODUCED
--	, dbo.VB_INVOICE_BATCHES.VB_INV_BATCH_TYPE_CODE = B.VB_INV_BATCH_TYPE_CODE
--FROM dbo.VB_INVOICE_BATCHES_STAGE B
--WHERE 
--		DBO.VB_INVOICE_BATCHES.VBB_BATCH_ID = B.VBB_BATCH_ID 
--	AND 
--	(
--			dbo.VB_INVOICE_BATCHES.DATE_PRODUCED <> B.DATE_PRODUCED
--		OR ISNULL(dbo.VB_INVOICE_BATCHES.VB_INV_BATCH_TYPE_CODE,'-9999') <> ISNULL(B.VB_INV_BATCH_TYPE_CODE,'-9999')
--	)
--OPTION (LABEL = 'VB_INVOICE_BATCHES_LOAD: UPDATE VB_INVOICE_BATCHES');		

	 
---- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
---- -- -- -- FOR FULL LOAD ONLY
---- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
--IF (SELECT COUNT_BIG(*) FROM dbo.VB_INVOICE_BATCHES_STAGE) > 32111222
--	TRUNCATE TABLE dbo.VB_INVOICE_BATCHES
---- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 

---- GetFields 'VB_INVOICE_BATCHES'
---- EXPLAIN 
--INSERT INTO DBO.VB_INVOICE_BATCHES
--(
--	  VBB_BATCH_ID, DATE_PRODUCED, VB_INV_BATCH_TYPE_CODE
--	, INSERT_DATE, LAST_UPDATE_DATE
--)
--SELECT 
--		  A.VBB_BATCH_ID, A.DATE_PRODUCED, A.VB_INV_BATCH_TYPE_CODE
--		, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
--FROM dbo.VB_INVOICE_BATCHES_STAGE A
--LEFT JOIN dbo.VB_INVOICE_BATCHES B 
--	ON		A.VBB_BATCH_ID = B.VBB_BATCH_ID
--WHERE B.VBB_BATCH_ID IS NULL 
--OPTION (LABEL = 'VB_INVOICE_BATCHES_LOAD: INSERT VB_INVOICE_BATCHES');		

