CREATE PROC [dbo].[POS_LOCATIONS_LOAD] AS

IF OBJECT_ID('dbo.POS_LOCATIONS_STAGE')<>0	DROP TABLE dbo.POS_LOCATIONS_STAGE

--SELECT COUNT_BIG(1) FROM dbo.POS_LOCATIONS
--SELECT * FROM dbo.POS_LOCATIONS

CREATE TABLE dbo.POS_LOCATIONS_STAGE WITH (HEAP, DISTRIBUTION = REPLICATE) 
AS 
SELECT  POS_ID, POS_NAME, LAST_UPDATE_DATE
--FROM [LND_LG_TS].[TAG_OWNER].[POS_LOCATIONS]
FROM [LND_LG_VPS].[VP_OWNER].[POS_LOCATIONS]
OPTION (LABEL = 'POS_LOCATIONS_LOAD: CTAS POS_LOCATIONS_STAGE');

INSERT INTO dbo.POS_LOCATIONS_STAGE 
		(POS_ID, POS_NAME, LAST_UPDATE_DATE)
VALUES	(-1,'(Null)','1900-01-01')

CREATE STATISTICS STATS_POS_LOCATIONS_001 ON POS_LOCATIONS_STAGE (POS_ID)

IF OBJECT_ID('dbo.POS_LOCATIONS_OLD')>0 	DROP TABLE dbo.POS_LOCATIONS_OLD;
IF OBJECT_ID('dbo.POS_LOCATIONS')>0		RENAME OBJECT::dbo.POS_LOCATIONS TO POS_LOCATIONS_OLD;
RENAME OBJECT::dbo.POS_LOCATIONS_STAGE TO POS_LOCATIONS;
IF OBJECT_ID('dbo.POS_LOCATIONS_OLD')>0 	DROP TABLE dbo.POS_LOCATIONS_OLD;

--INSERT INTO dbo.POS_LOCATIONS 
--		(POS_ID, POS_NAME, LAST_UPDATE_DATE)
--VALUES	(-1,'(Null)','1900-01-01')

--UPDATE dbo.POS_LOCATIONS
--SET POS_NAME = B.POS_NAME
--	,LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
--FROM dbo.POS_LOCATIONS_STAGE B
--WHERE 
--	dbo.POS_LOCATIONS.POS_ID = B.POS_ID
--	AND 
--	dbo.POS_LOCATIONS.POS_NAME <> B.POS_NAME
--OPTION (LABEL = 'POS_LOCATIONS_LOAD: UPDATE POS_LOCATIONS');

--INSERT INTO dbo.POS_LOCATIONS (POS_ID, POS_NAME, INSERT_DATE, LAST_UPDATE_DATE)
--SELECT A.POS_ID, A.POS_NAME, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
--FROM dbo.POS_LOCATIONS_STAGE A
--	LEFT JOIN dbo.POS_LOCATIONS B ON A.POS_ID = B.POS_ID
--WHERE B.POS_ID IS NULL
--OPTION (LABEL = 'POS_LOCATIONS_LOAD: INSERT POS_LOCATIONS');



