CREATE PROC [DBO].[VIOLATIONS_STAGE_LOAD] AS

/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.VIOLATIONS_STAGE_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.VIOLATIONS_STAGE_LOAD
GO


EXEC EDW_RITE.DBO.VIOLATIONS_STAGE_LOAD

*/

/*	
SELECT TOP 100 * FROM EDW_RITE.DBO.VIOLATIONS 
SELECT COUNT_BIG(1) FROM EDW_RITE.DBO.VIOLATIONS --    -- 1 495 619 068
*/ 


DECLARE @LAST_UPDATE_DATE datetime2(2) 
EXEC dbo.GetLoadStartDatetime 'dbo.VIOLATIONS', @LAST_UPDATE_DATE OUTPUT
--PRINT @LAST_UPDATE_DATE

 
IF OBJECT_ID('dbo.VIOLATIONS_STAGE')>0 	DROP TABLE dbo.VIOLATIONS_STAGE		

CREATE TABLE dbo.VIOLATIONS_STAGE WITH (HEAP, DISTRIBUTION = HASH(VIOLATION_ID)) 
AS 
SELECT -- TOP 1000
	  CONVERT(DECIMAL(18,0),V.VIOLATION_ID) AS VIOLATION_ID
	, ISNULL(CONVERT(DECIMAL(10,0),VIOLATOR_ID),(CONVERT(DECIMAL(10,0),V.VIOLATION_ID)%100000)*-1) AS VIOLATOR_ID
	, CONVERT(DECIMAL(14,0),LANE_ID) AS LANE_ID
	, LIC_PLATE_NBR
	, LIC_PLATE_STATE
	, VIOL_STATUS
	--, CONVERT(DATE,V.VIOL_DATE) AS VIOL_DATE\
	, V.VIOL_DATE
	, DATEDIFF(SECOND,CAST(V.VIOL_DATE AS DATE), V.VIOL_DATE) AS VIOL_TIME_ID
	, TOLL_DUE
	, TOLL_PAID
	, V.TRANSACTION_FILE_DETAIL_ID
	, CONVERT(DATE,V.POST_DATE) AS POST_DATE
	, DATEDIFF(SECOND,CAST(V.POST_DATE AS DATE), V.POST_DATE) AS POST_TIME_ID
	, TFD.SUBSCRIBER_UNIQUE_ID
	, CONVERT(DATE,TFD.RECEIVED_DATE) AS RECEIVED_DATE
	, DATEDIFF(SECOND,CAST(TFD.RECEIVED_DATE AS DATE), TFD.RECEIVED_DATE) AS RECEIVED_TIME_ID
	, CONVERT(DATE,STATUS_DATE) AS STATUS_DATE
	, CONVERT(DATE,DATE_CREATED) AS DATE_CREATED
	, ISNULL(V.LANE_VIOL_ID,X.LANE_VIOL_ID) AS LANE_VIOL_ID
	, CONVERT(DATE,DATE_EXCUSED) AS DATE_EXCUSED
	, V.EXCUSED_REASON AS EXCUSED_REASON
	, V.EXCUSED_BY AS EXCUSED_BY
	, ISNULL(VEHICLE_CLASS,-1) AS VEHICLE_CLASS
	, ISNULL(VIOL_TYPE, '-1')  AS VIOL_TYPE
	, LAST_UPDATE_TYPE
	, V.LAST_UPDATE_DATE
	-- SELECT COUNT_BIG(1)
FROM LND_LG_VPS.VP_OWNER.VIOLATIONS V
LEFT JOIN dbo.TRANSACTION_FILE_DETAILS TFD ON V.TRANSACTION_FILE_DETAIL_ID = TFD.TRANSACTION_FILE_DETAIL_ID
LEFT JOIN dbo.MANUAL_VIOLATIONS_ID_LANE_VIOL_ID_XREF X ON X.VIOLATION_ID = V.VIOLATION_ID
WHERE V.LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
--WHERE V.VIOLATION_ID IN (SELECT VIOLATION_ID FROM SANDBOX.dbo.VIOLATIONS_IDS) 
OPTION (LABEL = 'VIOLATIONS_STAGE_LOAD: VIOLATIONS_STAGE');

/*
CREATE TABLE SANDBOX.dbo.VIOLATIONS_IDS WITH (DISTRIBUTION = HASH(VIOLATION_ID), CLUSTERED INDEX (VIOLATION_ID)) 
AS 
SELECT VIOLATION_ID
FROM LND_LG_VPS.VP_OWNER.VIOLATIONS
EXCEPT
SELECT VIOLATION_ID
FROM dbo.VIOLATIONS
*/

-- -- UnCommented out for going back to Incremental daily Load  -- -- -- -- -- 

CREATE STATISTICS STAT_VIOLATIONS_STAGE_001 ON DBO.VIOLATIONS_STAGE (LIC_PLATE_STATE,LIC_PLATE_NBR)
CREATE STATISTICS STAT_VIOLATIONS_STAGE_002 ON DBO.VIOLATIONS_STAGE (VIOLATOR_ID,VIOLATION_ID)

--CREATE STATISTICS STAT_VIOLATIONS_STAGE_001 ON DBO.VIOLATIONS_STAGE (VIOLATOR_ID)
--CREATE STATISTICS STAT_VIOLATIONS_STAGE_002 ON DBO.VIOLATIONS_STAGE (LIC_PLATE_NBR, LIC_PLATE_STATE)
--CREATE STATISTICS STAT_VIOLATIONS_STAGE_003 ON DBO.VIOLATIONS_STAGE (VIOLATOR_ID, VIOLATION_ID)
--CREATE STATISTICS STAT_VIOLATIONS_STAGE_004 ON DBO.VIOLATIONS_STAGE (VIOLATION_ID)


IF OBJECT_ID('dbo.VIOLATIONS_LICENSE_PLATE_STAGE')>0
	DROP TABLE dbo.VIOLATIONS_LICENSE_PLATE_STAGE		

CREATE TABLE dbo.VIOLATIONS_LICENSE_PLATE_STAGE WITH (HEAP, DISTRIBUTION = REPLICATE) 
AS 
	SELECT DISTINCT LIC_PLATE_NBR, LIC_PLATE_STATE
	FROM DBO.VIOLATIONS_STAGE A
	LEFT JOIN  DBO.DIM_LICENSE_PLATE B
		ON A.LIC_PLATE_NBR = B.LICENSE_PLATE_NBR AND A.LIC_PLATE_STATE = B.LICENSE_PLATE_STATE
	WHERE B.LICENSE_PLATE_NBR IS NULL AND B.LICENSE_PLATE_STATE IS NULL
	OPTION (LABEL = 'VIOLATIONS_STAGE_LOAD: VIOLATIONS_LICENSE_PLATE_STAGE');

CREATE STATISTICS STAT_VIOLATIONS_LICENSE_PLATE_STAGE_001 ON DBO.VIOLATIONS_LICENSE_PLATE_STAGE (LIC_PLATE_STATE,LIC_PLATE_NBR)


-- -- -- -- Commented out for going back to Full Load  -- -- -- -- -- 
/*
IF OBJECT_ID('VIOLATIONS_CHANGED_VIOLATOR_STAGE')<>0
	DROP TABLE dbo.VIOLATIONS_CHANGED_VIOLATOR_STAGE

CREATE TABLE dbo.VIOLATIONS_CHANGED_VIOLATOR_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))
AS
SELECT A.VIOLATOR_ID, A.VIOLATION_ID
FROM dbo.VIOLATIONS_STAGE A
LEFT JOIN dbo.VIOLATIONS chk ON A.VIOLATOR_ID = chk.VIOLATOR_ID AND A.VIOLATION_ID = chk.VIOLATION_ID
WHERE chk.VIOLATOR_ID IS NULL AND chk.VIOLATION_ID IS NULL

DELETE 
FROM dbo.VIOLATIONS
WHERE EXISTS(SELECT * FROM VIOLATIONS_CHANGED_VIOLATOR_STAGE B WHERE dbo.VIOLATIONS.VIOLATION_ID = B.VIOLATION_ID)
*/

/*
	SELECT COUNT(*) FROM VIOLATIONS_CHANGED_VIOLATOR_STAGE
	SELECT COUNT(*) FROM VIOLATIONS_STAGE
*/
