CREATE PROC [DBO].[VIOLATIONS_LOAD] AS

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.VIOLATIONS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.VIOLATIONS_LOAD
GO


EXEC EDW_RITE.DBO.VIOLATIONS_LOAD

*/

/*	
SELECT TOP 100 * FROM EDW_RITE.DBO.VIOLATIONS 
SELECT COUNT_BIG(1) FROM EDW_RITE.DBO.VIOLATIONS --    -- 1 495 619 068
*/ 

/*
INSERT INTO EDW_RITE.dbo.VIOLATIONS
	(	 	  
VIOLATOR_ID, VIOLATION_ID, LANE_ID, LICENSE_PLATE_ID, LICENSE_PLATE_DMV_ID, VEHICLE_CLASS, VIOL_STATUS
, VIOL_TYPE, VIOL_DATE, VIOL_TIME_ID, TOLL_DUE, TOLL_PAID, TRANSACTION_FILE_DETAIL_ID, POST_DATE
, POST_TIME_ID, SUBSCRIBER_UNIQUE_ID, RECEIVED_DATE, RECEIVED_TIME_ID, HAS_NEVER_BEEN_INVOICED
, HAS_CURRENT_ADDRESS, VIOLATION_OR_ZIPCASH, DATE_CREATED, LANE_VIOL_ID, STATUS_DATE
, DATE_EXCUSED, INSERT_DATE, LAST_UPDATE_DATE
)
	VALUES
	(-1,-1,-1,-1,-1,-1,'','',NULL,-1,0,0,-1,NULL,-1,-1,NULL,-1,-1,-1,'',NULL,-1,NULL,NULL,'2000-01-01','2000-01-01')

*/

IF OBJECT_ID('DBO.VIOLATIONS_VIOLATOR_ADDRESS_CURRENT_STAGE')>0
	DROP TABLE DBO.VIOLATIONS_VIOLATOR_ADDRESS_CURRENT_STAGE

CREATE TABLE DBO.VIOLATIONS_VIOLATOR_ADDRESS_CURRENT_STAGE WITH (CLUSTERED INDEX (VIOLATOR_ID),DISTRIBUTION = HASH(VIOLATOR_ID))--, CLUSTERED INDEX (VIOLATOR_ID)) 
AS 
-- EXPLAIN
SELECT DISTINCT A.VIOLATOR_ID 
FROM DBO.VIOLATOR_ADDRESS A
INNER JOIN dbo.VIOLATIONS_STAGE B
ON A.VIOLATOR_ID = B.VIOLATOR_ID
WHERE ADDR_STATUS = 'C'
OPTION (LABEL = 'VIOLATIONS_LOAD: dbo.VIOLATIONS_VIOLATOR_ADDRESS_CURRENT_STAGE');

CREATE STATISTICS STAT_VIOLATIONS_VIOLATOR_ADDRESS_CURRENT_STAGE_001 ON DBO.VIOLATIONS_VIOLATOR_ADDRESS_CURRENT_STAGE (VIOLATOR_ID)



IF OBJECT_ID('DBO.VIOLATIONS_FINAL_STAGE')>0 	DROP TABLE DBO.VIOLATIONS_FINAL_STAGE

CREATE TABLE DBO.VIOLATIONS_FINAL_STAGE WITH (CLUSTERED INDEX (VIOLATION_ID),DISTRIBUTION = HASH(VIOLATION_ID))--, CLUSTERED INDEX (VIOLATOR_ID, VIOLATION_ID)) 
AS 
-- EXPLAIN	
SELECT 
	  V.VIOLATOR_ID
	, V.VIOLATION_ID
	, V.LANE_ID
	, CASE WHEN lp.LICENSE_PLATE_ID IS NULL THEN -1 ELSE lp.LICENSE_PLATE_ID END AS LICENSE_PLATE_ID
	, null AS LICENSE_PLATE_DMV_ID
	, V.VEHICLE_CLASS
	, V.VIOL_STATUS
	, V.VIOL_TYPE
	, V.VIOL_DATE
	, V.VIOL_TIME_ID
	, V.TOLL_DUE
	, V.TOLL_PAID
	, V.TRANSACTION_FILE_DETAIL_ID
	, V.POST_DATE
	, V.POST_TIME_ID
	, V.SUBSCRIBER_UNIQUE_ID
	, V.RECEIVED_DATE
	, V.RECEIVED_TIME_ID
	, CASE WHEN HasBeenInvcd.VIOLATION_ID IS NOT NULL THEN 0 ELSE 1 END AS HAS_NEVER_BEEN_INVOICED
	, CASE WHEN HasCurAddr.VIOLATOR_ID IS NOT NULL THEN 1 ELSE 0 END  AS HAS_CURRENT_ADDRESS
	, CASE WHEN V.VIOL_DATE BETWEEN ISNULL(VBL.VBL_START, GETDATE()) AND ISNULL(VBL.VBL_END, GETDATE())  THEN 'Z' ELSE 'V' END AS VIOLATION_OR_ZIPCASH
	, V.DATE_CREATED AS DATE_CREATED
	, V.LANE_VIOL_ID
	, V.STATUS_DATE AS STATUS_DATE
	, V.DATE_EXCUSED AS DATE_EXCUSED
	, V.EXCUSED_REASON AS EXCUSED_REASON
	, V.EXCUSED_BY AS EXCUSED_BY
	, V.LAST_UPDATE_DATE AS INSERT_DATE
	, V.LAST_UPDATE_DATE 
FROM dbo.VIOLATIONS_STAGE V
LEFT JOIN dbo.VB_LANES VBL ON V.LANE_ID = VBL.LANE_ID
LEFT JOIN dbo.VIOLATION_INVOICE_EXISTS_STAGE HasBeenInvcd ON V.VIOLATOR_ID = HasBeenInvcd.VIOLATOR_ID AND V.VIOLATION_ID = HasBeenInvcd.VIOLATION_ID
LEFT JOIN dbo.VIOLATIONS_VIOLATOR_ADDRESS_CURRENT_STAGE HasCurAddr ON  V.VIOLATION_ID = HasCurAddr.VIOLATOR_ID
LEFT JOIN dbo.DIM_LICENSE_PLATE lp ON V.LIC_PLATE_NBR = lp.LICENSE_PLATE_NBR and V.LIC_PLATE_STATE = lp.LICENSE_PLATE_STATE
OPTION (LABEL = 'VIOLATIONS_LOAD: dbo.VIOLATIONS_FINAL_STAGE');

IF OBJECT_ID('dbo.VIOLATIONS_NEW_STAGE')>0 	DROP TABLE dbo.VIOLATIONS_NEW_STAGE

CREATE TABLE dbo.VIOLATIONS_NEW_STAGE WITH (CLUSTERED INDEX (VIOLATION_ID), DISTRIBUTION = HASH(VIOLATION_ID)) AS    
SELECT	
	VIOLATOR_ID
	, VIOLATION_ID
	, LANE_ID
	, LICENSE_PLATE_ID
	, LICENSE_PLATE_DMV_ID
	, VEHICLE_CLASS
	, VIOL_STATUS
	, VIOL_TYPE
	, VIOL_DATE
	, VIOL_TIME_ID
	, TOLL_DUE
	, TOLL_PAID
	, TRANSACTION_FILE_DETAIL_ID
	, POST_DATE
	, POST_TIME_ID
	, SUBSCRIBER_UNIQUE_ID
	, RECEIVED_DATE
	, RECEIVED_TIME_ID
	, HAS_NEVER_BEEN_INVOICED
	, HAS_CURRENT_ADDRESS
	, VIOLATION_OR_ZIPCASH
	, DATE_CREATED
	, LANE_VIOL_ID
	, STATUS_DATE
	, DATE_EXCUSED
	, EXCUSED_REASON
	, EXCUSED_BY
	, INSERT_DATE
	, LAST_UPDATE_DATE
FROM dbo.VIOLATIONS AS F 
WHERE	NOT EXISTS (SELECT 1 FROM dbo.VIOLATIONS_FINAL_STAGE AS N WHERE /*N.VIOLATOR_ID = F.VIOLATOR_ID AND*/ N.VIOLATION_ID = F.VIOLATION_ID) 

  UNION ALL 
  
SELECT	
	  N.VIOLATOR_ID
	, N.VIOLATION_ID
	, N.LANE_ID
	, N.LICENSE_PLATE_ID
	, N.LICENSE_PLATE_DMV_ID
	, N.VEHICLE_CLASS
	, N.VIOL_STATUS
	, N.VIOL_TYPE
	, N.VIOL_DATE
	, N.VIOL_TIME_ID
	, N.TOLL_DUE
	, N.TOLL_PAID
	, N.TRANSACTION_FILE_DETAIL_ID
	, N.POST_DATE
	, N.POST_TIME_ID
	, N.SUBSCRIBER_UNIQUE_ID
	, N.RECEIVED_DATE
	, N.RECEIVED_TIME_ID
	, N.HAS_NEVER_BEEN_INVOICED
	, N.HAS_CURRENT_ADDRESS
	, N.VIOLATION_OR_ZIPCASH
	, N.DATE_CREATED
	, N.LANE_VIOL_ID
	, N.STATUS_DATE
	, N.DATE_EXCUSED
	, N.EXCUSED_REASON
	, N.EXCUSED_BY
	, N.INSERT_DATE
	, N.LAST_UPDATE_DATE
FROM dbo.VIOLATIONS_FINAL_STAGE AS N
--LEFT JOIN dbo.VIOLATIONS AS F ON N.VIOLATOR_ID = F.VIOLATOR_ID AND N.VIOLATION_ID = F.VIOLATION_ID 
OPTION (LABEL = 'VIOLATIONS_LOAD: INSERT/UPDATE');

CREATE STATISTICS STATS_VIOLATIONS_001 ON DBO.VIOLATIONS_NEW_STAGE (VEHICLE_CLASS)
CREATE STATISTICS STATS_VIOLATIONS_002 ON DBO.VIOLATIONS_NEW_STAGE (VIOLATOR_ID, VIOLATION_ID, HAS_NEVER_BEEN_INVOICED)
CREATE STATISTICS STATS_VIOLATIONS_003 ON DBO.VIOLATIONS_NEW_STAGE (VIOL_STATUS)
CREATE STATISTICS STATS_VIOLATIONS_004 ON DBO.VIOLATIONS_NEW_STAGE (LAST_UPDATE_DATE)
--CREATE STATISTICS STATS_VIOLATIONS_005 ON DBO.VIOLATIONS_NEW_STAGE (VIOLATION_ID, VIOLATOR_ID, VIOL_TIME_ID, VIOL_DATE, LANE_ID, VIOL_STATUS, VEHICLE_CLASS)
CREATE STATISTICS STATS_VIOLATIONS_006 ON dbo.VIOLATIONS_NEW_STAGE (VIOL_DATE);
CREATE STATISTICS STATS_VIOLATIONS_007 ON dbo.VIOLATIONS_NEW_STAGE (LANE_ID);

--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.VIOLATIONS_OLD')>0 	DROP TABLE dbo.VIOLATIONS_OLD;
IF OBJECT_ID('dbo.VIOLATIONS')>0		RENAME OBJECT::dbo.VIOLATIONS TO VIOLATIONS_OLD;
RENAME OBJECT::dbo.VIOLATIONS_NEW_STAGE TO VIOLATIONS;
IF OBJECT_ID('dbo.VIOLATIONS_OLD')>0 	DROP TABLE dbo.VIOLATIONS_OLD;

--CREATE STATISTICS STATS_VIOLATIONS_001 ON DBO.VIOLATIONS (VIOLATION_ID)
--CREATE STATISTICS STATS_VIOLATIONS_002 ON DBO.VIOLATIONS  (VIOLATOR_ID, VIOLATION_ID)
--CREATE STATISTICS STATS_VIOLATIONS_003 ON DBO.VIOLATIONS  (VIOLATOR_ID)
--CREATE STATISTICS STATS_VIOLATIONS_004 ON DBO.VIOLATIONS  (LAST_UPDATE_DATE)
--CREATE STATISTICS STATS_VIOLATIONS_005 ON DBO.VIOLATIONS  (VIOLATION_ID, VIOLATOR_ID, VIOL_TIME_ID, VIOL_DATE, LANE_ID, VIOL_STATUS, TOLL_DUE, VEHICLE_CLASS)
--CREATE STATISTICS [STATS_VIOLATIONS_006] ON [dbo].[VIOLATIONS] ([VIOLATOR_ID], [VIOLATION_ID], [HAS_NEVER_BEEN_INVOICED]);
--CREATE STATISTICS [STATS_VIOLATIONS_007] ON [dbo].[VIOLATIONS] ([HAS_NEVER_BEEN_INVOICED]);

IF OBJECT_ID('dbo.VIOLATIONS_FINAL_STAGE')>0 	DROP TABLE dbo.VIOLATIONS_FINAL_STAGE

/*
CREATE TABLE SANDBOX.dbo.VIOLATIONS_IDS WITH (DISTRIBUTION = HASH(VIOLATOR_ID), CLUSTERED INDEX (VIOLATOR_ID)) 
AS 
SELECT COUNT_BIG(1)
FROM LND_LG_VPS.VP_OWNER.VIOLATIONS

SELECT COUNT_BIG(1)
FROM dbo.VIOLATIONS
*/

/*
UPDATE dbo.VIOLATIONS
SET 
	  dbo.VIOLATIONS.LANE_ID = B.LANE_ID
	, dbo.VIOLATIONS.LICENSE_PLATE_ID = B.LICENSE_PLATE_ID
	, dbo.VIOLATIONS.LICENSE_PLATE_DMV_ID = B.LICENSE_PLATE_DMV_ID
	, dbo.VIOLATIONS.VEHICLE_CLASS = B.VEHICLE_CLASS
	, dbo.VIOLATIONS.VIOL_STATUS = B.VIOL_STATUS
	, dbo.VIOLATIONS.VIOL_TYPE = B.VIOL_TYPE
	, dbo.VIOLATIONS.VIOL_DATE = B.VIOL_DATE
	, dbo.VIOLATIONS.VIOL_TIME_ID = B.VIOL_TIME_ID
	, dbo.VIOLATIONS.TOLL_DUE = B.TOLL_DUE
	, dbo.VIOLATIONS.TOLL_PAID = B.TOLL_PAID
	, dbo.VIOLATIONS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID
	, dbo.VIOLATIONS.POST_DATE = B.POST_DATE
	, dbo.VIOLATIONS.POST_TIME_ID = B.POST_TIME_ID
	, dbo.VIOLATIONS.SUBSCRIBER_UNIQUE_ID = B.SUBSCRIBER_UNIQUE_ID
	, dbo.VIOLATIONS.RECEIVED_DATE = B.RECEIVED_DATE
	, dbo.VIOLATIONS.RECEIVED_TIME_ID = B.RECEIVED_TIME_ID
	, dbo.VIOLATIONS.HAS_NEVER_BEEN_INVOICED = B.HAS_NEVER_BEEN_INVOICED
	, dbo.VIOLATIONS.HAS_CURRENT_ADDRESS = B.HAS_CURRENT_ADDRESS
	, dbo.VIOLATIONS.VIOLATION_OR_ZIPCASH = B.VIOLATION_OR_ZIPCASH
	, dbo.VIOLATIONS.DATE_CREATED = B.DATE_CREATED
	, dbo.VIOLATIONS.LANE_VIOL_ID = B.LANE_VIOL_ID
	, dbo.VIOLATIONS.STATUS_DATE = B.STATUS_DATE
	, dbo.VIOLATIONS.DATE_EXCUSED = B.DATE_EXCUSED
	, dbo.VIOLATIONS.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.VIOLATIONS_FINAL_STAGE B
WHERE dbo.VIOLATIONS.VIOLATOR_ID = B.VIOLATOR_ID AND dbo.VIOLATIONS.VIOLATION_ID = B.VIOLATION_ID

*/
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
-- -- -- -- FOR FULL LOAD ONLY
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
--IF (SELECT COUNT_BIG(*) FROM dbo.VIOLATIONS_FINAL_STAGE) > 900000000
--	BEGIN
	--TRUNCATE TABLE dbo.VIOLATIONS
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 

		--INSERT INTO dbo.VIOLATIONS
		--	(
		--		   VIOLATOR_ID, VIOLATION_ID, LANE_ID
		--		 , LICENSE_PLATE_ID
		--		 , LICENSE_PLATE_DMV_ID
		--		 , VEHICLE_CLASS
		--		 , VIOL_STATUS
		--		 , VIOL_TYPE
		--		 , VIOL_DATE
		--		 , VIOL_TIME_ID
		--		 , TOLL_DUE, TOLL_PAID
		--		 , TRANSACTION_FILE_DETAIL_ID
		--		 , POST_DATE, POST_TIME_ID, SUBSCRIBER_UNIQUE_ID, RECEIVED_DATE, RECEIVED_TIME_ID
		--		 , HAS_NEVER_BEEN_INVOICED, HAS_CURRENT_ADDRESS, VIOLATION_OR_ZIPCASH, DATE_CREATED
		--		 , LANE_VIOL_ID
		--		 , STATUS_DATE, DATE_EXCUSED
		--		 , INSERT_DATETIME, LAST_UPDATE_DATE
		--	) 
	--	IF OBJECT_ID('dbo.VIOLATIONS_NEW')>0
	--		DROP TABLE dbo.VIOLATIONS_NEW

	--	CREATE TABLE [dbo].VIOLATIONS_NEW WITH (DISTRIBUTION = HASH([VIOLATOR_ID])) AS
	--	-- EXPLAIN --SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME IN ('VIOLATIONS','VIOLATIONS') ORDER BY ORDINAL_POSITION, COLUMN_NAME, TABLE_NAME
	--	SELECT	--TOP(100)
	--			   A.VIOLATOR_ID, A.VIOLATION_ID, A.LANE_ID
	--			 , A.LICENSE_PLATE_ID
	--			 , A.LICENSE_PLATE_DMV_ID
	--			 , A.VEHICLE_CLASS
	--			 , A.VIOL_STATUS
	--			 , A.VIOL_TYPE
	--			 , A.VIOL_DATE
	--			 , A.VIOL_TIME_ID
	--			 , A.TOLL_DUE, A.TOLL_PAID
	--			 , A.TRANSACTION_FILE_DETAIL_ID
	--			 , A.POST_DATE, A.POST_TIME_ID, A.SUBSCRIBER_UNIQUE_ID, A.RECEIVED_DATE, A.RECEIVED_TIME_ID
	--			 , A.HAS_NEVER_BEEN_INVOICED, A.HAS_CURRENT_ADDRESS, A.VIOLATION_OR_ZIPCASH, A.DATE_CREATED
	--			 , A.LANE_VIOL_ID
	--			 , A.STATUS_DATE, A.DATE_EXCUSED
	--			 , A.LAST_UPDATE_DATE INSERT_DATE, A.LAST_UPDATE_DATE

	--	FROM VIOLATIONS_FINAL_STAGE A
	--	--LEFT JOIN dbo.VIOLATIONS B ON A.VIOLATOR_ID = B.VIOLATOR_ID AND A.VIOLATION_ID = B.VIOLATION_ID
	--	--WHERE B.VIOLATOR_ID IS NULL AND B.VIOLATION_ID IS NULL
	--	OPTION (LABEL = 'VIOLATIONS_LOAD: INSERT dbo.VIOLATIONS_NEW');

	--	IF OBJECT_ID('dbo.VIOLATIONS')>0		RENAME OBJECT::dbo.VIOLATIONS TO VIOLATIONS_OLD;
	--	IF OBJECT_ID('dbo.VIOLATIONS_NEW')>0		RENAME OBJECT::dbo.VIOLATIONS_NEW TO VIOLATIONS;
	--	IF OBJECT_ID('dbo.VIOLATIONS_OLD')>0		DROP TABLE dbo.VIOLATIONS_OLD;

	--	--exec DropStats 'dbo','VIOLATIONS' 
	--	 --exec CreateStats 'VIOLATIONS'
	--	CREATE STATISTICS STATS_VIOLATIONS_001 ON DBO.VIOLATIONS (VIOLATION_ID)
	--	CREATE STATISTICS STATS_VIOLATIONS_002 ON DBO.VIOLATIONS  (VIOLATOR_ID, VIOLATION_ID)
	--	CREATE STATISTICS STATS_VIOLATIONS_003 ON DBO.VIOLATIONS  (VIOLATOR_ID)
	--	--CREATE STATISTICS STATS_VIOLATIONS_004 ON DBO.VIOLATIONS  (INSERT_DATE)
	--	CREATE STATISTICS STATS_VIOLATIONS_005 ON DBO.VIOLATIONS  (LAST_UPDATE_DATE)
	--	CREATE STATISTICS STATS_VIOLATIONS_006 ON DBO.VIOLATIONS  (VIOLATION_ID, VIOLATOR_ID, VIOL_TIME_ID, VIOL_DATE, LANE_ID, VIOL_STATUS, TOLL_DUE, VEHICLE_CLASS)
	--END

--IF OBJECT_ID('dbo.VIOLATIONS')>0		RENAME OBJECT::dbo.VIOLATIONS TO VIOLATIONS_OLD;

