CREATE PROC [DBO].[SHIFTS_LOAD] AS

DECLARE @LAST_UPDATE_DATE datetime2(2) 
exec dbo.GetLoadStartDatetime 'dbo.SHIFTS', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.SHIFTS_STAGE')<>0	DROP TABLE dbo.SHIFTS_STAGE

CREATE TABLE dbo.SHIFTS_STAGE WITH (CLUSTERED INDEX (SHIFT_ID), DISTRIBUTION = HASH(SHIFT_ID)) 
AS 
-- EXPLAIN
SELECT A.SHIFT_ID, A.POS_ID, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[SHIFTS] A
WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'SHIFTS_LOAD: SHIFTS_STAGE');

--CREATE STATISTICS STATS_SHIFTS_STAGE_001 ON SHIFTS_STAGE (SHIFT_ID)


IF OBJECT_ID('dbo.SHIFTS_NEW_STAGE')>0 	DROP TABLE dbo.SHIFTS_NEW_STAGE

CREATE TABLE dbo.SHIFTS_NEW_STAGE WITH (CLUSTERED INDEX (SHIFT_ID), DISTRIBUTION = HASH(SHIFT_ID)) AS    
SELECT	
	SHIFT_ID, POS_ID, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM dbo.SHIFTS AS F 
WHERE	NOT EXISTS (SELECT 1 FROM dbo.SHIFTS_STAGE AS NSET WHERE NSET.SHIFT_ID = F.SHIFT_ID) 
  UNION ALL 
SELECT	
	SHIFT_ID, POS_ID, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM dbo.SHIFTS_STAGE
OPTION (LABEL = 'SHIFTS_LOAD: INSERT/UPDATE');

CREATE STATISTICS [STATS_SHIFTS_001] ON [dbo].SHIFTS_NEW_STAGE ([POS_ID]);

--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.SHIFTS_OLD')>0 	DROP TABLE dbo.SHIFTS_OLD;
IF OBJECT_ID('dbo.SHIFTS')>0		RENAME OBJECT::dbo.SHIFTS TO SHIFTS_OLD;
RENAME OBJECT::dbo.SHIFTS_NEW_STAGE TO SHIFTS;
IF OBJECT_ID('dbo.SHIFTS_OLD')>0 	DROP TABLE dbo.SHIFTS_OLD;

IF OBJECT_ID('dbo.SHIFTS_STAGE')>0 	DROP TABLE dbo.SHIFTS_STAGE


/*
UPDATE dbo.SHIFTS
SET  POS_ID = B.POS_ID
	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.SHIFTS_STAGE B
WHERE 
	dbo.SHIFTS.SHIFT_ID = B.SHIFT_ID
	AND 
	dbo.SHIFTS.POS_ID <> B.POS_ID

INSERT INTO dbo.SHIFTS (SHIFT_ID, POS_ID, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT A.SHIFT_ID, A.POS_ID, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM dbo.SHIFTS_STAGE A
LEFT JOIN dbo.SHIFTS B ON A.SHIFT_ID = B.SHIFT_ID
WHERE B.SHIFT_ID IS NULL
*/

