CREATE PROC [DBO].[DIM_PAYMENT_TYPE_HOST_LOAD] AS 

-- GetFields 'PAYMENT_FORMS'
--    PAYMENT_FORM, PAYMENT_FORM_DESCR, LAST_UPDATE_DATE, LAST_UPDATE_TYPE

DECLARE @LAST_UPDATE_DATE datetime2(2) 
exec dbo.GetLoadStartDatetime 'dbo.DIM_PAYMENT_TYPE_HOST', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.DIM_PAYMENT_TYPE_HOST_STAGE')<>0
	DROP TABLE dbo.DIM_PAYMENT_TYPE_HOST_STAGE

CREATE TABLE dbo.DIM_PAYMENT_TYPE_HOST_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (PMTY_ID)) 
AS 
-- EXPLAIN
SELECT   PMTY_ID, PMTY_DESC, NOTE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM LND_LG_HOST.TXNOWNER.PMT_TYPES A
WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'DIM_PAYMENT_TYPE_HOST_LOAD: DIM_PAYMENT_TYPE_HOST_STAGE');

CREATE STATISTICS STATS_DIM_PAYMENT_TYPE_HOST_STAGE_001 ON DIM_PAYMENT_TYPE_HOST_STAGE (PMTY_ID)


UPDATE dbo.DIM_PAYMENT_TYPE_HOST
SET  PMTY_DESC = B.PMTY_DESC
	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.DIM_PAYMENT_TYPE_HOST_STAGE B
WHERE 
	dbo.DIM_PAYMENT_TYPE_HOST.PMTY_ID = B.PMTY_ID
	AND dbo.DIM_PAYMENT_TYPE_HOST.PMTY_DESC <> B.PMTY_DESC 

INSERT INTO dbo.DIM_PAYMENT_TYPE_HOST (PMTY_ID, PMTY_DESC, NOTE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT A.PMTY_ID, A.PMTY_DESC, A.NOTE, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM dbo.DIM_PAYMENT_TYPE_HOST_STAGE A
LEFT JOIN dbo.DIM_PAYMENT_TYPE_HOST B ON A.PMTY_ID = B.PMTY_ID 
WHERE B.PMTY_ID IS NULL 



--CREATE TABLE dbo.DIM_PAYMENT_TYPE_HOST WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (PMTY_ID)) 
--AS 
--SELECT * FROM LND_LG_HOST.TXNOWNER.PMT_TYPES
