CREATE PROC [DBO].[DIM_LANE_LOAD] AS 
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.DIM_LANE_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.DIM_LANE_LOAD
GO

EXEC DBO.DIM_LANE_LOAD



*/

/*
SELECT * FROM dbo.DIM_LANE
ORDER BY LANE_DIRECTION
*/

/*

-- Formula to calculate distance from one coordinates to another
--SELECT ACOS(SIN(PI()*[Lat_start]/180.0)*SIN(PI()*[Lat_end]/180.0)+COS(PI()*[Lat_start]/180.0)*COS(PI()*[Lat_end]/180.0)*COS(PI()*[Long_start]/180.0-PI()*[Long_end]/180.0))*3963
--FROM

*/

/*



*/
IF OBJECT_ID('dbo.PLAZA_MILEAGE') IS NULL -- 	DROP TABLE dbo.PLAZA_MILEAGE
BEGIN
	CREATE TABLE dbo.PLAZA_MILEAGE WITH (HEAP, DISTRIBUTION = REPLICATE) AS
	SELECT R.PLAZA_ID,LANE_DIRECTION,CAST(TAG_TOLL / 0.19 AS DECIMAL(8,2)) AS MILEAGE 
	FROM  LND_LG_HOST.[FPL_OWNER].[CURR_TOLL_RATE] R
	JOIN (SELECT DISTINCT PLAZA_ID,LANE_DIRECTION FROM dbo.DIM_LANE) L ON L.PLAZA_ID = R.PLAZA_ID
	WHERE VEHICLE_CLASS = 2 AND ISNULL(TOLL_END_TIME,'2200-01-01') >= GETDATE() --AND L.PLAZA_ID IS NULL
END
--IF OBJECT_ID('dbo.DIM_LANE_COORDINATES_STAGE') IS NOT NULL 	DROP TABLE dbo.DIM_LANE_COORDINATES_STAGE

--CREATE TABLE dbo.DIM_LANE_COORDINATES_STAGE WITH (DISTRIBUTION = REPLICATE, HEAP) 
--AS 
--SELECT CORRIDOR, RITE_NAME, Y_COORD, X_COORD,
--ROW_NUMBER() OVER (PARTITION BY CORRIDOR, RITE_NAME ORDER BY [TYPE] DESC) AS RW
--FROM dbo.NTTA_TOLL_LOCATIONS


-- TRUNCATE TABLE DIM_LANE
IF OBJECT_ID('dbo.DIM_LANE_STAGE') IS NOT NULL 	DROP TABLE dbo.DIM_LANE_STAGE

CREATE TABLE dbo.DIM_LANE_STAGE WITH (CLUSTERED INDEX (LANE_ID), DISTRIBUTION = REPLICATE) 
AS 
-- EXPLAIN
SELECT     
	 E.LANE_ID AS LANE_ID
	,E.NAME AS LANE_ABBREV
	,E.NOTE AS LANE_NAME
	,COALESCE(D.DIRE_DESC,G.Lane_Direction,'Unknown') AS LANE_DIRECTION
	,C.PLAZ_ID AS PLAZA_ID
	,C.ABBREV AS PLAZA_ABBREV
	,C.NAME AS PLAZA_NAME
	,COALESCE(G.Latitude,	G1.Latitude,	GP1.Y_COORD,	GP2.Y_COORD,	LC.Y_COORD, 33.015926) AS PLAZA_LATITUDE 
	,COALESCE(G.Longitude,	G1.Longitude,	GP1.X_COORD,	GP2.X_COORD,	LC.X_COORD,-96.823378) AS PLAZA_LONGITUDE
	,COALESCE(G.POSTCODE,	G1.POSTCODE,	GP1.POSTCODE,	GP2.POSTCODE,	0) AS ZIP_CODE
	,COALESCE(G.COUNTY,		G1.COUNTY,		X.COUNTY,		GP1.COUNTY,		GP2.COUNTY,'') AS COUNTY
	,B.FACS_ID AS FACILITY_ID
	,B.ABBREV AS FACILITY_ABBREV
	,B.NAME AS FACILITY_NAME
	,F.FACILITY_BITMASK_ID
	,ISNULL(SA.SUB_AGENCY_ABBREV,'(Null)') AS SUB_AGENCY_ABBREV
	,A.AGCY_ID AS AGENCY_ID
    ,A.ABBREV AS AGENCY_ABBREV
    ,A.NAME AS AGENCY_NAME
    ,CAST(A.IS_IOP AS VARCHAR(2)) AS AGENCY_IS_IOP
	,ISNULL(E.LANY_ID, CASE 
							WHEN G.[TYPE] = 'MLG' AND G.[STATUS] = 'Shoulder' THEN 5
							WHEN G.[TYPE] = 'MLG' THEN 2
							WHEN G.[TYPE] = 'ON_RAMP' THEN 3
							WHEN G.[TYPE] = 'OFF_RAMP' THEN 4
							ELSE NULL 
						END) AS LANY_ID
	,ISNULL(M.MILEAGE, E.MILEAGE) AS MILEAGE
	,CASE WHEN G.[STATUS] = 'Closed' THEN 0 ELSE 1 END AS ACTIVE
    ,E.LAST_UPDATE_DATE 
	,ROW_NUMBER() OVER (PARTITION BY E.LANE_ID ORDER BY COALESCE(G.POSTCODE, GP1.POSTCODE, GP2.POSTCODE,0) DESC) RN
	-- SELECT *
FROM LND_LG_VPS.FPL_OWNER.AGENCIES A
INNER JOIN LND_LG_VPS.FPL_OWNER.FACILITIES B ON A.AGCY_ID = B.AGCY_ID
INNER JOIN LND_LG_VPS.FPL_OWNER.PLAZAS C ON B.FACS_ID = C.FACS_ID
INNER JOIN LND_LG_VPS.FPL_OWNER.LANES E ON C.PLAZ_ID = E.PLAZ_ID
LEFT JOIN LND_LG_HOST.FPL_OWNER.DIRECTIONS D ON E.DIRE_ID = D.DIRE_ID
LEFT JOIN dbo.DIM_LANE_SUB_AGENCY_ABBREV SA ON B.ABBREV = SA.FACILITY_ABBREV
LEFT JOIN dbo.LANE_GIS_DATA G ON E.LANE_ID = G.LANE_ID
LEFT JOIN dbo.LANE_GIS_DATA G1 ON REPLACE(E.NAME,'JOHRD','LEBRD') = G1.LANE_NAME
LEFT JOIN dbo.PLAZA_GIS_DATA GP1 ON C.ABBREV = GP1.RITE_NAME AND E.NAME = GP1.ROADWAY_NAME
LEFT JOIN 
( 
	SELECT RITE_NAME, Y_COORD, X_COORD, POSTCODE, COUNTY,ROW_NUMBER() OVER (PARTITION BY RITE_NAME ORDER BY [TYPE],[ROADWAY_NAME]) RN
	FROM dbo.PLAZA_GIS_DATA
) GP2 ON C.ABBREV = GP2.RITE_NAME AND GP2.RN = 1
LEFT JOIN 
(
	SELECT CORRIDOR, RITE_NAME, Y_COORD, X_COORD,ROW_NUMBER() OVER (PARTITION BY CORRIDOR, RITE_NAME ORDER BY [TYPE] DESC) AS RW
	FROM dbo.NTTA_TOLL_LOCATIONS
) LC ON C.ABBREV LIKE (LC.RITE_NAME+'%') AND LC.CORRIDOR = B.ABBREV AND LC.RW = 1
LEFT JOIN dbo.DIM_FACILITY F ON B.FACS_ID = F.FACILITY_ID
LEFT JOIN dbo.PLAZA_COUNTY_XREF X ON X.PLAZA_ID = C.PLAZ_ID AND X.LANE_DIRECTION = ISNULL(G.Lane_Direction,D.DIRE_DESC)
LEFT JOIN dbo.PLAZA_MILEAGE M ON M.PLAZA_ID = C.PLAZ_ID AND M.LANE_DIRECTION = ISNULL(G.Lane_Direction,D.DIRE_DESC)
WHERE E.LANE_ID > -1 
OPTION (LABEL = 'DIM_LANE_LOAD: DIM_LANE');


IF OBJECT_ID('dbo.DIM_LANE_STAGE2') IS NOT NULL 	DROP TABLE dbo.DIM_LANE_STAGE2

CREATE TABLE dbo.DIM_LANE_STAGE2 WITH (CLUSTERED INDEX (LANE_ID), DISTRIBUTION = REPLICATE) 
AS 
SELECT 
	S.LANE_ID, 
	S.LANE_ABBREV, 
	S.LANE_NAME, 
	S.LANE_DIRECTION, 
	S.PLAZA_ID, 
	S.PLAZA_ABBREV, 
	S.PLAZA_NAME, 
	CASE WHEN ISNULL(L.PLAZA_LATITUDE,33.015926)   <> 33.015926  AND S.PLAZA_LATITUDE  = 33.015926  THEN L.PLAZA_LATITUDE  ELSE S.PLAZA_LATITUDE  END AS PLAZA_LATITUDE, 
	CASE WHEN ISNULL(L.PLAZA_LONGITUDE,-96.823378) <> -96.823378 AND S.PLAZA_LONGITUDE = -96.823378 THEN L.PLAZA_LONGITUDE ELSE S.PLAZA_LONGITUDE END AS PLAZA_LONGITUDE, 
	S.ZIP_CODE,
	S.COUNTY,
	S.FACILITY_ABBREV AS SUB_FACILITY_ABBREV, 
	S.FACILITY_ID, 
	S.FACILITY_ABBREV, 
	S.FACILITY_NAME, 
	ISNULL(S.FACILITY_BITMASK_ID, -1) AS FACILITY_BITMASK_ID,
	S.SUB_AGENCY_ABBREV, 
	S.AGENCY_ID, 
	S.AGENCY_ABBREV, 
	S.AGENCY_NAME, 
	S.AGENCY_IS_IOP,
	COALESCE(S.LANY_ID,L.LANY_ID,-1) AS LANY_ID,
	S.MILEAGE,
	L.PLAZA_SORT_ORDER,
	S.ACTIVE,
	ISNULL(L.LAST_UPDATE_DATE,S.LAST_UPDATE_DATE) AS LAST_UPDATE_DATE
FROM dbo.DIM_LANE_STAGE S
LEFT JOIN (SELECT DISTINCT LANE_ID, PLAZA_SORT_ORDER,LANY_ID,PLAZA_LATITUDE,PLAZA_LONGITUDE,LAST_UPDATE_DATE FROM  dbo.DIM_LANE) L ON S.LANE_ID = L.LANE_ID
WHERE RN = 1


IF OBJECT_ID('dbo.DIM_LANE_ZIP_CODE') IS NOT NULL 	DROP TABLE dbo.DIM_LANE_ZIP_CODE

CREATE TABLE dbo.DIM_LANE_ZIP_CODE WITH (CLUSTERED INDEX (LANE_ID), DISTRIBUTION = REPLICATE) 
AS 
SELECT
	LANE_ID,
	PLAZA_ID,
	LANE_DIRECTION,
	PLAZA_LATITUDE,
	PLAZA_LONGITUDE,
	ZIP_CODE,
	COUNTY,
	LANY_ID,
	ACTIVE,
	ROW_NUMBER() OVER (PARTITION BY PLAZA_ID,LANE_DIRECTION ORDER BY LANY_ID, ACTIVE,LANE_ID) AS RPDir,
	ROW_NUMBER() OVER (PARTITION BY PLAZA_ID ORDER BY LANY_ID, ACTIVE,LANE_ID) AS RPlaza
FROM dbo.DIM_LANE_STAGE2
WHERE ZIP_CODE > 0


IF OBJECT_ID('dbo.DIM_LANE_NEW_STAGE') IS NOT NULL 	DROP TABLE dbo.DIM_LANE_NEW_STAGE

CREATE TABLE dbo.DIM_LANE_NEW_STAGE WITH (CLUSTERED INDEX (LANE_ID), DISTRIBUTION = REPLICATE) 
AS 
SELECT 
	S.LANE_ID, 
	S.LANE_ABBREV, 
	S.LANE_NAME, 
	S.LANE_DIRECTION, 
	S.PLAZA_ID, 
	S.PLAZA_ABBREV, 
	S.PLAZA_NAME, 
	COALESCE(NULLIF(S.PLAZA_LATITUDE, 33.015926), NULLIF(ZPD.PLAZA_LATITUDE, 33.015926),  NULLIF(ZP.PLAZA_LATITUDE, 33.015926), 33.015926)  PLAZA_LATITUDE,
	COALESCE(NULLIF(S.PLAZA_LONGITUDE,-96.823378),NULLIF(ZPD.PLAZA_LONGITUDE,-96.823378), NULLIF(ZP.PLAZA_LONGITUDE,-96.823378),-96.823378) PLAZA_LONGITUDE,
	COALESCE(NULLIF(S.ZIP_CODE,0),ZPD.ZIP_CODE, ZP.ZIP_CODE,0) ZIP_CODE,
	COALESCE(NULLIF(S.COUNTY,''), ZPD.COUNTY,   ZP.COUNTY,  '') COUNTY,
	S.SUB_FACILITY_ABBREV, 
	S.FACILITY_ID, 
	S.FACILITY_ABBREV, 
	S.FACILITY_NAME, 
	S.FACILITY_BITMASK_ID,
	S.SUB_AGENCY_ABBREV, 
	S.AGENCY_ID, 
	S.AGENCY_ABBREV, 
	S.AGENCY_NAME, 
	S.AGENCY_IS_IOP,
	S.LANY_ID,
	S.MILEAGE,
	S.PLAZA_SORT_ORDER,
	S.ACTIVE,
	S.LAST_UPDATE_DATE
FROM dbo.DIM_LANE_STAGE2 S
LEFT JOIN dbo.DIM_LANE_ZIP_CODE ZPD ON S.LANE_ID != ZPD.LANE_ID AND S.PLAZA_ID = ZPD.PLAZA_ID AND S.LANE_DIRECTION = ZPD.LANE_DIRECTION AND ZPD.RPDir = 1
LEFT JOIN dbo.DIM_LANE_ZIP_CODE ZP ON S.LANE_ID != ZP.LANE_ID AND S.PLAZA_ID = ZP.PLAZA_ID AND S.LANE_DIRECTION != ZPD.LANE_DIRECTION AND ZPD.RPlaza = 1


CREATE STATISTICS [STATS_DIM_LANE_001] ON dbo.DIM_LANE_NEW_STAGE ([PLAZA_ID]);
CREATE STATISTICS [STATS_DIM_LANE_002] ON dbo.DIM_LANE_NEW_STAGE ([FACILITY_ID]);
CREATE STATISTICS [STATS_DIM_LANE_003] ON dbo.DIM_LANE_NEW_STAGE ([AGENCY_ID]);
CREATE STATISTICS [STATS_DIM_LANE_004] ON dbo.DIM_LANE_NEW_STAGE ([SUB_FACILITY_ABBREV]);
CREATE STATISTICS [STATS_DIM_LANE_005] ON dbo.DIM_LANE_NEW_STAGE ([SUB_AGENCY_ABBREV]);
CREATE STATISTICS [STATS_DIM_LANE_006] ON dbo.DIM_LANE_NEW_STAGE ([LANY_ID]);
CREATE STATISTICS [STATS_DIM_LANE_007] ON dbo.DIM_LANE_NEW_STAGE ([LANE_ABBREV]);
CREATE STATISTICS [STATS_DIM_LANE_008] ON dbo.DIM_LANE_NEW_STAGE ([LANE_DIRECTION]);
CREATE STATISTICS [STATS_DIM_LANE_009] ON dbo.DIM_LANE_NEW_STAGE (ZIP_CODE);
CREATE STATISTICS [STATS_DIM_LANE_010] ON dbo.DIM_LANE_NEW_STAGE (COUNTY);
CREATE STATISTICS [STATS_DIM_LANE_011] ON dbo.DIM_LANE_NEW_STAGE (LANY_ID);


IF OBJECT_ID('DBO.DIM_LANE_OLD') IS NOT NULL      DROP TABLE DBO.DIM_LANE_OLD;
IF OBJECT_ID('DBO.DIM_LANE') IS NOT NULL          RENAME OBJECT::DBO.DIM_LANE TO DIM_LANE_OLD;
RENAME OBJECT::DBO.DIM_LANE_NEW_STAGE TO DIM_LANE; 
IF OBJECT_ID('DBO.DIM_LANE_OLD') IS NOT NULL      DROP TABLE DBO.DIM_LANE_OLD;


IF OBJECT_ID('dbo.DIM_LANE_STAGE') IS NOT NULL	DROP TABLE dbo.DIM_LANE_STAGE
IF OBJECT_ID('dbo.DIM_LANE_STAGE2') IS NOT NULL	DROP TABLE dbo.DIM_LANE_STAGE2
IF OBJECT_ID('dbo.DIM_LANE_COORDINATES_STAGE') IS NOT NULL	DROP TABLE dbo.DIM_LANE_COORDINATES_STAGE
IF OBJECT_ID('dbo.DIM_LANE_ZIP_CODE') IS NOT NULL 	DROP TABLE dbo.DIM_LANE_ZIP_CODE

--CREATE STATISTICS STATS_DIM_LANE_STAGE_001 ON DBO.DIM_LANE_STAGE (LANE_ID)

--IF OBJECT_ID('dbo.DIM_LANE_COORDINATES_STAGE')>0 	DROP TABLE dbo.DIM_LANE_COORDINATES_STAGE

--CREATE TABLE dbo.DIM_LANE_COORDINATES_STAGE WITH (DISTRIBUTION = REPLICATE, HEAP) 
--AS 
--	SELECT CORRIDOR, RITE_NAME, Y_COORD, X_COORD,
--	ROW_NUMBER() OVER (PARTITION BY CORRIDOR, RITE_NAME ORDER BY [TYPE] DESC) AS RW
--	FROM EDW_RITE.dbo.NTTA_TOLL_LOCATIONS
	--GROUP BY RITE_NAME, Y_COORD, X_COORD

	/*
UPDATE dbo.DIM_LANE_STAGE
SET	 PLAZA_LATITUDE = B.Y_COORD 
	,PLAZA_LONGITUDE = B.X_COORD
FROM DIM_LANE_COORDINATES_STAGE B
WHERE DIM_LANE_STAGE.PLAZA_ABBREV LIKE (B.RITE_NAME+'%') AND B.CORRIDOR = DIM_LANE_STAGE.FACILITY_ABBREV
AND RW = 1
AND (PLAZA_LATITUDE <> B.Y_COORD	OR	PLAZA_LONGITUDE <> B.X_COORD)

UPDATE dbo.DIM_LANE
	SET   
		  LANE_ABBREV = B.LANE_ABBREV
		, LANE_NAME = B.LANE_NAME
		, LANE_DIRECTION = B.LANE_DIRECTION
		, PLAZA_ABBREV = B.PLAZA_ABBREV
		, PLAZA_NAME = B.PLAZA_NAME
		, PLAZA_LATITUDE = B.PLAZA_LATITUDE
		, PLAZA_LONGITUDE = B.PLAZA_LONGITUDE
		, FACILITY_ABBREV = B.FACILITY_ABBREV
		, FACILITY_NAME = B.FACILITY_NAME
		, SUB_AGENCY_ABBREV = ISNULL(B.SUB_AGENCY_ABBREV,'(Null)') 
		, AGENCY_ID = B.AGENCY_ID
		, AGENCY_NAME = B.AGENCY_NAME
		, AGENCY_IS_IOP = B.AGENCY_IS_IOP
		, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.DIM_LANE_STAGE B
WHERE 
	dbo.DIM_LANE.LANE_ID = B.LANE_ID 
	AND 
		(
				dbo.DIM_LANE.LANE_ABBREV <> B.LANE_ABBREV
			OR  dbo.DIM_LANE.LANE_NAME <> B.LANE_NAME
			OR  dbo.DIM_LANE.LANE_DIRECTION <> B.LANE_DIRECTION
			OR  dbo.DIM_LANE.PLAZA_ABBREV <> B.PLAZA_ABBREV
			OR  dbo.DIM_LANE.PLAZA_NAME <> B.PLAZA_NAME
			OR  dbo.DIM_LANE.PLAZA_LATITUDE <> B.PLAZA_LATITUDE
			OR  dbo.DIM_LANE.PLAZA_LONGITUDE <> B.PLAZA_LONGITUDE
			OR  dbo.DIM_LANE.FACILITY_ABBREV <> B.FACILITY_ABBREV 
			OR	dbo.DIM_LANE.FACILITY_NAME <> B.FACILITY_NAME 
			OR  dbo.DIM_LANE.SUB_AGENCY_ABBREV <> B.SUB_AGENCY_ABBREV 
			OR	dbo.DIM_LANE.AGENCY_ID <> B.AGENCY_ID 
			OR	dbo.DIM_LANE.AGENCY_ABBREV <> B.AGENCY_ABBREV 
			OR  dbo.DIM_LANE.AGENCY_NAME <> B.AGENCY_NAME 
			OR  dbo.DIM_LANE.AGENCY_IS_IOP <> B.AGENCY_IS_IOP
		)
OPTION (LABEL = 'DIM_LANE_LOAD: UPDATE DIM_LANE');

-- GETFields 'dbo','DIM_LANE' ALTER TABLE DIM_LANE ALTER COLUMN AGENCY_NAME VARCHAR(100) NOT NULL
INSERT INTO dbo.DIM_LANE 
	( 
		  LANE_ID, LANE_ABBREV, LANE_NAME, LANE_DIRECTION
		, PLAZA_ID, PLAZA_ABBREV, PLAZA_NAME, PLAZA_LATITUDE, PLAZA_LONGITUDE
		, SUB_FACILITY_ABBREV
		, FACILITY_ID, FACILITY_ABBREV, FACILITY_NAME,FACILITY_BITMASK_ID
		, SUB_AGENCY_ABBREV
		, AGENCY_ID, AGENCY_ABBREV, AGENCY_NAME, AGENCY_IS_IOP
		, INSERT_DATE, LAST_UPDATE_DATE
	)
SELECT 
	  A.LANE_ID, A.LANE_ABBREV, A.LANE_NAME, A.LANE_DIRECTION
	, A.PLAZA_ID, A.PLAZA_ABBREV, A.PLAZA_NAME, A.PLAZA_LATITUDE, A.PLAZA_LONGITUDE
	, A.FACILITY_ABBREV
	, A.FACILITY_ID, A.FACILITY_ABBREV, A.FACILITY_NAME
	, ISNULL((SELECT TOP (1) FACILITY_BITMASK_ID FROM dbo.DIM_LANE WHERE FACILITY_ABBREV = A.FACILITY_ABBREV), -1) AS FACILITY_BITMASK_ID
	, ISNULL(A.SUB_AGENCY_ABBREV,'(Null)') AS SUB_AGENCY_ABBREV
	, A.AGENCY_ID, A.AGENCY_ABBREV, A.AGENCY_NAME, A.AGENCY_IS_IOP
	, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.DIM_LANE_STAGE A
LEFT JOIN dbo.DIM_LANE B ON A.LANE_ID = B.LANE_ID
WHERE B.LANE_ID IS NULL


SELECT * FROM dbo.DIM_LANE
--SELECT FACILITY_ABBREV, FACILITY_BITMASK_ID, COUNT(DISTINCT FACILITY_BITMASK_ID) FROM dbo.DIM_LANE GROUP BY FACILITY_ABBREV, FACILITY_BITMASK_ID

INSERT INTO dbo.Dim_Lane
	(	
		  LANE_ID, LANE_ABBREV, LANE_NAME, LANE_DIRECTION
		, PLAZA_ID, PLAZA_ABBREV, PLAZA_NAME, PLAZA_LATITUDE, PLAZA_LONGITUDE
		, SUB_FACILITY_ABBREV
		, FACILITY_ID, FACILITY_ABBREV, FACILITY_NAME
		, SUB_AGENCY_ABBREV
		, AGENCY_ID, AGENCY_ABBREV, AGENCY_NAME, AGENCY_IS_IOP
		, INSERT_DATE, LAST_UPDATE_DATE		
	)
SELECT 
	 -1, '(Null)', '(Null)', '(Null)'
	,-1, '(Null)', '(Null)',33.015926,-96.823378
	, '(Null)'
	,-1, '(Null)', '(Null)'
	, '(Null)'
	,-1, '(Null)', '(Null)', '-1'
	,GETDATE(),GETDATE()
WHERE NOT EXISTS(SELECT * FROM Dim_Lane WHERE LANE_ID = -1 )

IF OBJECT_ID('dbo.DIM_LANE_STAGE')>0	DROP TABLE dbo.DIM_LANE_STAGE

IF OBJECT_ID('dbo.DIM_LANE_COORDINATES_STAGE')>0	DROP TABLE dbo.DIM_LANE_COORDINATES_STAGE

UPDATE STATISTICS dbo.Dim_Lane
*/
/*

	SELECT FACILITY_ABBREV, SUB_AGENCY_ABBREV, FACILITY_BITMASK_ID  FROM DIM_LANE GROUP BY FACILITY_ABBREV, SUB_AGENCY_ABBREV, FACILITY_BITMASK_ID ORDER BY 1,2,3

*/
