CREATE PROC [DBO].[FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS_LOAD] AS 


DECLARE @PARTITION_DATE date = (SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN dbo.DIM_VIOLATOR_ASOF B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC)
PRINT   @PARTITION_DATE

--IF EXISTS(select * FROM sys.stats ss WHERE ss.name = 'STATS_FACT_INVOICE_ANALYSIS_DETAIL_2001')
--	DROP STATISTICS dbo.FACT_INVOICE_ANALYSIS_DETAIL.STATS_FACT_INVOICE_ANALYSIS_DETAIL_2001

--CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_DETAIL_2001 ON [dbo].FACT_INVOICE_ANALYSIS_DETAIL (TRANSACTION_ID)


--INSERT INTO dbo.FACT_INVOICE_ANALYSIS_DETAIL
--(
--	   VIOLATOR_ID, PARTITION_DATE, VIOLATION_ID
--	 , CURRENT_INVOICE_LEVEL_FLAG
--	 , VBI_INVOICE_ID
--	 , VB_INV_DATE
--	 , VB_INV_DATE_EXCUSED
--	 , VIOL_INVOICE_ID
--	 , CONVERTED_DATE
--	 , VIOL_INV_DATE_EXCUSED
--	 , VIOL_DATE, VIOL_TIME_ID
--	 , VIOL_POST_DATE
--	 , VIOL_PAID_DATE
--	 , VIOL_STATUS_DATE
--	 , VIOL_DATE_EXCUSED
--	 , VIOLATION_OR_ZIPCASH
--	 , LANE_ID
--	 , SOURCE_CODE
--	 , INV_DTL_VIOL_STATUS
--	 , VIOL_STATUS
--	 , LAST_VIOLATOR_ID
--	 , TRANSACTION_ID
--	 , DISPOSITION, VPS_HOST_POSTED_REVENUE, VPS_HOST_POSTED_DATE, VIOL_TYPE
--	 , TOLL_DUE
--	 , AMT_PAID
--	 , AMT_PAID_ADJ
--	 , VEHICLE_CLASS
--	 , VIOL_LEFT_ON_INV_FLAG
--	 , INSERT_DATE
--)
--SELECT -- TOP 100 
--		  vht.VIOLATOR_ID
--		, @PARTITION_DATE AS PARTITION_DATE 
--		, ISNULL(vht.VIOLATION_ID, (vht.TRANSACTION_ID%100)*-1) AS VIOLATION_ID
--		, 1 AS CURRENT_INVOICE_LEVEL_FLAG
--		, -1 AS VBI_INVOICE_ID
--		, '1/1/1900' AS VB_INV_DATE
--		, '1/1/1900' AS VB_INV_DATE_EXCUSED
--		, -1 AS VIOL_INVOICE_ID
--		, '1/1/1900' AS CONVERTED_DATE
--		, '1/1/1900' AS VIOL_INV_DATE_EXCUSED
--		, vht.VIOL_DATE, vht.VIOL_TIME_ID
--		, '1/1/1900' AS VIOL_POST_DATE
--		, '1/1/1900' AS VIOL_PAID_DATE
--		, '1/1/1900' AS VIOL_STATUS_DATE
--		, '1/1/1900' AS VIOL_DATE_EXCUSED
--		, vht.VIOLATION_OR_ZIPCASH AS VIOLATION_OR_ZIPCASH
--		, vht.LANE_ID
--		, ISNULL(vht.SOURCE_CODE,'-1') AS SOURCE_CODE
--		, '-1' AS INV_DTL_VIOL_STATUS
--		, '-1' AS VIOL_STATUS
--		, vht.VIOLATOR_ID AS LAST_VIOLATOR_ID
--		, ISNULL(vht.TRANSACTION_ID,-1) AS TRANSACTION_ID
-- 		, ISNULL(vht.DISPOSITION,'-1') AS DISPOSITION
--		, ISNULL(vht.POSTED_REVENUE,0) AS VPS_HOST_POSTED_REVENUE
--		, ISNULL(vht.POSTED_DATE,'1/1/1900') AS VPS_HOST_POSTED_DATE
--		, ISNULL(vht.VIOL_TYPE,'-1') AS VIOL_TYPE
--		, vht.EARNED_REVENUE AS TOLL_DUE
--		, ISNULL(vht.POSTED_REVENUE,0) AS AMT_PAID
--		, ISNULL(vht.POSTED_REVENUE,0) AS AMT_PAID_ADJ
--		, '-1' AS VEHICLE_CLASS
--		, 0 AS VIOL_LEFT_ON_INV_FLAG
--		, GETDATE() AS INSERT_DATE
----  SELECT COUNT(*)
--FROM dbo.VPS_HOST_TRANSACTIONS vht
--LEFT JOIN (SELECT TRANSACTION_ID FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL WHERE PARTITION_DATE = @PARTITION_DATE) B 
--	ON  vht.TRANSACTION_ID = B.TRANSACTION_ID
--WHERE B.TRANSACTION_ID IS NULL
--AND vht.DISPOSITION = 'P'
--OPTION (LABEL = 'INSERT MISSING_VPS_HOST_TRANS: FACT_INVOICE_ANALYSIS_DETAIL');

--/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
--Adding these Missing VPS HOST TRANSACTIONS introduces duplicate CURRENT_INVOICE_LEVEL_FLAG Marks 
--where the violation_id was already there. 

--This section will unset them. Probably would be better to figure this out before the insert one day
---- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

--IF OBJECT_ID('dbo.FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE') <> 0
--	DROP TABLE dbo.FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE

----DECLARE @PARTITION_DATE date = (SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN dbo.DIM_VIOLATOR_ASOF B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC); 
--CREATE TABLE dbo.FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID)) 
--AS --EXPLAIN
--SELECT A.VIOLATOR_ID, A.VIOLATION_ID --A.PARTITION_DATE, 
--FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL A
--INNER JOIN 
--(
--	SELECT VIOLATOR_ID, VIOLATION_ID --,PARTITION_DATE,  'VIOLATION_ID' as TransactionType, SUM(CURRENT_INVOICE_LEVEL_FLAG) as CUR_INV_COUNT, COUNT(*) as Rwcnt 
--	FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL 
--	WHERE PARTITION_DATE = @PARTITION_DATE --(SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN FACT_INVOICE_ANALYSIS B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC) 
--		AND VIOLATION_ID > 0
--	GROUP BY VIOLATOR_ID, VIOLATION_ID--PARTITION_DATE, 
--	HAVING SUM(CURRENT_INVOICE_LEVEL_FLAG) > 1 OR SUM(CURRENT_INVOICE_LEVEL_FLAG) = 0 
--) Dups
--ON A.VIOLATOR_ID = Dups.VIOLATOR_ID AND A.PARTITION_DATE = @PARTITION_DATE--Dups.PARTITION_DATE 
--AND A.VIOLATION_ID = Dups.VIOLATION_ID
--WHERE A.VBI_INVOICE_ID = -1 and A.VIOL_INVOICE_ID = -1
--OPTION (LABEL = 'INSERT MISSING_VPS_HOST_TRANS: FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE');


--exec DropStats 'dbo','FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE'
--CREATE STATISTICS STATS_FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE_001 ON [dbo].FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE (VIOLATOR_ID)
--CREATE STATISTICS STATS_FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE_002 ON [dbo].FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE (VIOLATOR_ID, VIOLATION_ID)
----SELECT * FROM FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE
----DECLARE @PARTITION_DATE date = (SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN dbo.DIM_VIOLATOR_ASOF B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC); EXPLAIN 
--UPDATE dbo.FACT_INVOICE_ANALYSIS_DETAIL
--SET CURRENT_INVOICE_LEVEL_FLAG = 0 
--FROM FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE B
--WHERE 
--		dbo.FACT_INVOICE_ANALYSIS_DETAIL.VIOLATOR_ID = B.VIOLATOR_ID 
--	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL.VIOLATION_ID = B.VIOLATION_ID 
--	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL.PARTITION_DATE = @PARTITION_DATE--B.PARTITION_DATE 
--	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL.VBI_INVOICE_ID = -1
--	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL.VIOL_INVOICE_ID = -1
--	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL.CURRENT_INVOICE_LEVEL_FLAG = 1
--OPTION (LABEL = 'UPDATE: FACT_INVOICE_ANALYSIS_DETAIL');

--IF OBJECT_ID('dbo.FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE') <> 0
--	DROP TABLE dbo.FACT_INVOICE_DETAIL_CURRENT_INVOICE_LEVEL_FLAG_DUPS_STAGE



/*
	SELECT TOP 100 * FROm VPS_HOST_TRANSACTIONS

*/

