CREATE PROC [DBO].[FACT_VIOLATIONS_SUMMARY_LOAD] AS --DROP PROC [DBO].[FACT_VIOLATIONS_SUMMARY_LOAD]

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_VIOLATIONS_SUMMARY_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_VIOLATIONS_SUMMARY_LOAD
GO

EXEC DBO.FACT_VIOLATIONS_SUMMARY_LOAD

SELECT COUNT_BIG(1) FROM dbo.FACT_VIOLATIONS_SUMMARY  

SELECT TOP 100 * FROM FACT_VIOLATIONS_SUMMARY

*/



--#1	RANJITH NAIR	2017-11-06	ADDED NR, Cash, & Unpaid Toll
--#2					2018-01-16	ADDED VCLY_ID
--#3	RANJITH NAIR	2018-071-25	Images Entering ICRS: Added Non Reviewed Status to ICRS-ALL 'N'  --

--DECLARE @PARTITION_DATE DATE = (SELECT TOP 1 PARTITION_DATE FROM dbo.FACT_INVOICE_ANALYSIS ORDER BY PARTITION_DATE DESC)  
--STEP #1: SUMMARY

DECLARE @TEST INT = NULL
DECLARE @FROM_DAYID INT = ISNULL(@TEST,(SELECT CONVERT(VARCHAR(10),DATEADD(DAY,1,MAX(DATEADD(MONTH,-1,DATA_AS_OF_DATE))),112)
							   FROM dbo.PARTITION_AS_OF_DATE_CONTROL
							   WHERE current_ind = 1)) 
DECLARE @FROM_DATE DATETIME2 = CAST(CAST(@FROM_DAYID AS VARCHAR) AS DATETIME2)

IF OBJECT_ID('dbo.FACT_VIOLATIONS_SUMMARY_STAGE') > 0	DROP TABLE dbo.FACT_VIOLATIONS_SUMMARY_STAGE

CREATE TABLE dbo.FACT_VIOLATIONS_SUMMARY_STAGE WITH (HEAP, DISTRIBUTION = HASH ([DAY_ID]),PARTITION   ([DAY_ID] RANGE RIGHT FOR VALUES ())) AS 
SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,'Variance Pool' AS NAME
	,VIOL_STATUS [STATUS]
	,[STATUS_DESCR]
	,SUM(TXN_CNT) AS TXN_CNT
	,SUM(POS_REV) AS POS_REV
	,SUM(ACT_REV) AS ACT_REV
FROM (
	SELECT  
		DAY_ID
		,LANE_ID
		,VCLY_ID
		,FACT_VIOLATIONS.VIOL_STATUS
		,CASE 
			WHEN FACT_VIOLATIONS.VIOL_STATUS = 'Q'
				THEN 'Excused Violations'
			ELSE VIOL_STATUS_DESCR
			END [STATUS_DESCR]
		,COUNT(1) AS TXN_CNT
		,SUM(TOLL_PAID) AS POS_REV
		,SUM(TOLL_DUE) AS ACT_REV
	FROM [dbo].FACT_VIOLATIONS_DETAIL FACT_VIOLATIONS
	LEFT JOIN [dbo].VIOL_STATUS ON FACT_VIOLATIONS.VIOL_STATUS = VIOL_STATUS.VIOL_STATUS
	WHERE FACT_VIOLATIONS.VIOL_STATUS NOT IN ('T','ZI','I','ZH','WJ','A')
	GROUP BY DAY_ID
		,LANE_ID
		,VCLY_ID
		,FACT_VIOLATIONS.VIOL_STATUS
		,VIOL_STATUS_DESCR
	
	UNION ALL
	
	SELECT DAY_ID
		,LANE_ID
		,VCLY_ID
		,FACT_LANE_VIOLATIONS.LANE_VIOL_STATUS VIOL_STATUS
		,CASE 
			WHEN FACT_LANE_VIOLATIONS.LANE_VIOL_STATUS = 'E'
				THEN 'Excused Lane Violations'
			ELSE LANE_VIOL_STATUS.LANE_VIOL_STATUS_DESCR
			END VIOL_STATUS_DESCR
		,COUNT(1) AS TXN_CNT
		,SUM(TOLL_PAID) AS POS_REV
		,SUM(TOLL_DUE) AS ACT_REV --SELECT COUNT(1)
	FROM [dbo].FACT_LANE_VIOLATIONS_DETAIL FACT_LANE_VIOLATIONS
	LEFT JOIN [dbo].LANE_VIOL_STATUS  ON FACT_LANE_VIOLATIONS.LANE_VIOL_STATUS = LANE_VIOL_STATUS.LANE_VIOL_STATUS
	WHERE FACT_LANE_VIOLATIONS.LANE_VIOL_STATUS IN ('E','W','X','F','I','A','R','D')
		AND REVIEW_STATUS IN ('O','R','E') --Auto OCR or Reviewed
		AND VIOLATION_CODE NOT IN (0,3)
	GROUP BY DAY_ID
		,LANE_ID
		,VCLY_ID
		,FACT_LANE_VIOLATIONS.LANE_VIOL_STATUS
		,LANE_VIOL_STATUS.LANE_VIOL_STATUS_DESCR
	) A
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID
	,VIOL_STATUS
	,[STATUS_DESCR]

UNION ALL -- Paid UnInvoiced, Paid Invoiced, Invoice Bad Address

SELECT [DAY_ID]
	,LANE_ID
	,VCLY_ID
	,'Paid'
	,[DIM_CATEGORY].ABBREV
	,[DIM_CATEGORY].NAME
	,SUM(TXN_CNT) AS TXN_CNT
	,SUM(POS_REV) AS POS_REV
	,SUM(ACT_REV) AS ACT_REV
FROM [dbo].FACT_PAID_INVD
LEFT JOIN [dbo].[DIM_CATEGORY] ON FACT_PAID_INVD.CATEGORY = [DIM_CATEGORY].ABBREV
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID
	,[DIM_CATEGORY].ABBREV
	,[DIM_CATEGORY].NAME

UNION ALL --VIOL-MANUAL: Manually Entered Violations

SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,'Variance Pool' AS NAME
	,[DIM_CATEGORY].ABBREV AS TXN_NAME
	,[DIM_CATEGORY].NAME
	,COUNT(1) AS TXN_CNT
	,SUM(TOLL_PAID) AS POS_REV
	,SUM(TOLL_DUE) AS ACT_REV
FROM [dbo].FACT_VIOLATIONS_DETAIL FACT_VIOLATIONS
LEFT JOIN [dbo].[DIM_CATEGORY] ON 'VIOL-MANUAL' = [DIM_CATEGORY].ABBREV
WHERE FACT_VIOLATIONS.VIOL_TYPE IN ('M')
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID
	,[DIM_CATEGORY].ABBREV
	,[DIM_CATEGORY].NAME

UNION ALL --VToll Posted (VTOLL 1, VTOLL 2, VTOLL 4 - ON-LINE CSC, VToll2B - ZipCash VToll, VToll3 - AVI VToll, VToll3 - ZipCash VToll)

SELECT DAY_ID
	,LANE_ID
	,VD.VCLY_ID
	,'VToll Posted' AS NAME
	,VD.SOURCE_CODE
	,SC_DESCR
	,COUNT(1) AS TXN_CNT
	,SUM(VD.POS_REV) AS POS_REV
	,SUM(VD.ACT_REV) AS ACT_REV
FROM [dbo].FACT_VTOLLS_DETAIL VD
LEFT JOIN [dbo].SOURCE_CODE_TOLL ON VD.SOURCE_CODE = SOURCE_CODE_TOLL.SOURCE_CODE
WHERE DISPOSITION = 'P'
GROUP BY DAY_ID
	,LANE_ID
	,VD.VCLY_ID
	,VD.SOURCE_CODE
	,SC_DESCR

UNION ALL --VToll Posted  

SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,'Variance Pool' AS NAME
	,'VIOL-VTOLL'
	,'VToll Posted'
	,COUNT(1) AS TXN_CNT
	,SUM(POS_REV) AS POS_REV
	,SUM(ACT_REV) AS ACT_REV
FROM [dbo].FACT_VTOLLS_DETAIL VD
WHERE DISPOSITION = 'P'
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID

UNION ALL --Images Discarded

SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,'Images Discarded' AS NAME
	,FACT_LANE_VIOLATIONS.VIOL_REJECT_TYPE
	,VIOL_REJECT_TYPES.VIOL_REJECT_TYPE_DESCR
	,COUNT(1) AS TXN_CNT
	,SUM(TOLL_PAID) AS POS_REV
	,SUM(TOLL_DUE) AS ACT_REV
FROM [dbo].FACT_LANE_VIOLATIONS_DETAIL FACT_LANE_VIOLATIONS
LEFT JOIN [dbo].VIOL_REJECT_TYPES  ON FACT_LANE_VIOLATIONS.VIOL_REJECT_TYPE = VIOL_REJECT_TYPES.VIOL_REJECT_TYPE
WHERE REVIEW_STATUS = 'D' --Discarded Images
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID
	,FACT_LANE_VIOLATIONS.VIOL_REJECT_TYPE
	,VIOL_REJECT_TYPES.VIOL_REJECT_TYPE_DESCR

UNION ALL --Auto Flush
	
SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,'Total Transactions'
	,TXN_NAME
	,[DIM_CATEGORY].NAME
	,SUM(TXN_CNT) AS TXN_CNT
	,SUM(ACT_REV) AS POS_REV
	,SUM(EAR_REV) AS ACT_REV --SELECT TOP(100) *
FROM (
	SELECT TRTE.DAY_ID
		,--TOP(100) 
		(
			CASE 
				WHEN TRTE.TXID_ID = - 14800
					THEN 'HOST-FLUSH'
				WHEN TRTE.PMTY_ID = 3
					AND TRTE.TXID_ID = - 13800
					THEN 'HOST-TF' --Add Tag flushes (remove TXID_ID <> -13800) from toll tag count RITE-2210-- removing Tag flushes (TXID_ID <> -13800) from toll tag count RITE-2029  --RITE 2210 Add new bubble Images Not Expected(VES Serial No = 0)
				WHEN TRTE.PMTY_ID = 3
					AND TRTE.TXID_ID <> - 13800
					THEN 'HOST-TT' --Add Tag flushes (remove TXID_ID <> -13800) from toll tag count RITE-2210-- removing Tag flushes (TXID_ID <> -13800) from toll tag count RITE-2029  --RITE 2210 Add new bubble Images Not Expected(VES Serial No = 0)
				WHEN TRTE.PMTY_ID = 7
					AND TRTE.VES_SERIAL_NO = 0
					THEN 'HOST-NOTEXP'
				WHEN TRTE.PMTY_ID = 8
					AND ISNULL(VES_SERIAL_NO, 0) = 0
					THEN 'HOST-NOTEXP'
				WHEN TRTE.PMTY_ID = 7
					AND TRTE.TRANSACTION_FILE_DETAIL_ID IS NOT NULL
					THEN 'HOST-VIOL' -- 1919 TSA fix, added this case statement-- 
				WHEN TRTE.PMTY_ID = 7
					AND TRTE.VES_SERIAL_NO > 0
					THEN 'HOST-VIOL' --RITE 2210 Add "avi mismatches" from HOST-VIOL -- RITE 2029 removing "avi mismatches" from HOST-VIOL-- 
				WHEN TRTE.PMTY_ID = 8
					AND TRTE.VES_SERIAL_NO > 0
					THEN 'HOST-VIOL' --RITE 2210 Add "avi mismatches" from HOST-VIOL -- RITE 2029 removing "avi mismatches" from HOST-VIOL-- 
				WHEN TRTE.PMTY_ID IN (4,6,9)
					THEN 'HOST-NR' --AVI NR, Card NR, Ind NR #1 
				WHEN TRTE.PMTY_ID = 2
					THEN 'HOST-C' --Cash					  #1 
				WHEN TRTE.PMTY_ID = 5
					THEN 'HOST-U' --Unpaid Toll			  #1 
				END
			) TXN_NAME
		,TRTE.LANE_ID
		,TRTE.VCLY_ID
		,1 AS TXN_CNT
		,TRTE.EAR_REV
		--,COALESCE(IOP_TXNS_POSTED_REVENUE, AVIT_POSTED_REVENUE, ACT_REV) ACT_REV
		--,COALESCE(CAST(IOP.POSTED_REVENUE AS DECIMAL(10,2)), AVIT.POSTED_REVENUE, ACT_REV) ACT_REV
		,COALESCE(ACT_REV,0) ACT_REV
	FROM [dbo].[FACT_NET_REV_TFC_EVTS] TRTE 
	--LEFT JOIN  	LND_LG_HOST.TXNOWNER.AVI_TRANSACTIONS AVIT ON AVIT.TRANSACTION_ID = TRTE.TART_ID AND AVIT.SOURCE_CODE = 'H' AND AVIT.DISPOSITION = 'P'
	--LEFT JOIN  	dbo.FACT_IOP_TGS IOP ON IOP.SOURCE_TXN_ID = TRTE.TART_ID AND IOP.DAY_ID = TRTE.DAY_ID AND IOP.SOURCE_CODE = 'H' AND IOP.DISPOSITION = 'P'
	) A
LEFT JOIN [dbo].[DIM_CATEGORY] ON A.TXN_NAME = [DIM_CATEGORY].ABBREV
WHERE A.TXN_NAME IS NOT NULL --and DAY_ID = 20161114 and LANE_ID = 18
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID
	,A.TXN_NAME
	,[DIM_CATEGORY].NAME --WITH ROLLUP

UNION ALL --TOTAL TRANSACTIONS

SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,''
	,TXN_NAME
	,'Total Transactions'
	,SUM(TXN_CNT) AS TXN_CNT
	,SUM(ACT_REV) AS POS_REV
	,SUM(EAR_REV) AS ACT_REV --SELECT TOP(100) *
FROM (
	SELECT TRTE.DAY_ID
		,--TOP(100) 
		(
			CASE 
				WHEN TRTE.TXID_ID = - 14800
					THEN 'HOST-ALL'
				WHEN TRTE.PMTY_ID = 3 /*AND TXID_ID <> -13800*/
					THEN 'HOST-ALL' --Add Tag flushes (remove TXID_ID <> -13800) from toll tag count RITE-2210-- removing Tag flushes (TXID_ID <> -13800) from toll tag count RITE-2029  --RITE 2210 Add new bubble Images Not Expected(VES Serial No = 0)
				WHEN TRTE.PMTY_ID = 7
					AND VES_SERIAL_NO = 0
					THEN 'HOST-ALL'
				WHEN TRTE.PMTY_ID = 8
					AND ISNULL(VES_SERIAL_NO, 0) = 0
					THEN 'HOST-ALL'
				WHEN TRTE.PMTY_ID = 7
					AND TRTE.TRANSACTION_FILE_DETAIL_ID IS NOT NULL
					THEN 'HOST-ALL' -- 1919 TSA fix, added this case statement-- 
				WHEN TRTE.PMTY_ID = 7
					AND TRTE.VES_SERIAL_NO > 0
					THEN 'HOST-ALL' --RITE 2210 Add "avi mismatches" from HOST-VIOL -- RITE 2029 removing "avi mismatches" from HOST-VIOL-- 
				WHEN TRTE.PMTY_ID = 8
					AND TRTE.VES_SERIAL_NO > 0
					THEN 'HOST-ALL' --RITE 2210 Add "avi mismatches" from HOST-VIOL -- RITE 2029 removing "avi mismatches" from HOST-VIOL-- 
				WHEN TRTE.PMTY_ID NOT IN (3,7,8)
					THEN 'HOST-ALL'
				END
			) TXN_NAME
		,TRTE.LANE_ID
		,TRTE.VCLY_ID
		,1 AS TXN_CNT
		,TRTE.EAR_REV
	--	,COALESCE(IOP_TXNS_POSTED_REVENUE, AVIT_POSTED_REVENUE, ACT_REV) ACT_REV
		--,COALESCE(CAST(IOP.POSTED_REVENUE AS DECIMAL(10,2)), AVIT.POSTED_REVENUE, TRTE.ACT_REV) ACT_REV
		,COALESCE(TRTE.ACT_REV, 0) ACT_REV
	FROM [dbo].[FACT_NET_REV_TFC_EVTS] TRTE 
	--LEFT JOIN  	LND_LG_HOST.TXNOWNER.AVI_TRANSACTIONS AVIT ON AVIT.TRANSACTION_ID = TRTE.TART_ID AND AVIT.SOURCE_CODE = 'H' AND AVIT.DISPOSITION = 'P'
	--LEFT JOIN  	dbo.FACT_IOP_TGS IOP ON IOP.SOURCE_TXN_ID = TRTE.TART_ID AND IOP.DAY_ID = TRTE.DAY_ID AND IOP.SOURCE_CODE = 'H' AND IOP.DISPOSITION = 'P'
	) A
WHERE A.TXN_NAME IS NOT NULL ----and DAY_ID = 20161114 and LANE_ID = 18
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID
	,A.TXN_NAME 

UNION ALL --Auto OCR; Images Discarded; Images Kept

SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,CASE 
		WHEN REVIEW_STATUS IN ('D','R','E') THEN 'Manual Review'
		ELSE 'Images Entering ICRS'
	END AS NAME
	,'ICRS-' + CASE 
					WHEN REVIEW_STATUS = 'E' THEN 'R'
					ELSE REVIEW_STATUS
				END REVIEW_STATUS
	,[DIM_CATEGORY].NAME STATUS_DESCR
	,COUNT(1) AS TXN_CNT
	,SUM(TOLL_PAID) AS POS_REV
	,SUM(TOLL_DUE) AS ACT_REV
FROM [dbo].FACT_LANE_VIOLATIONS_DETAIL FACT_LANE_VIOLATIONS
LEFT JOIN [dbo].[DIM_CATEGORY] ON 'ICRS-' + CASE 
		WHEN REVIEW_STATUS = 'E'
			THEN 'R'
		ELSE REVIEW_STATUS
		END = [DIM_CATEGORY].ABBREV
WHERE REVIEW_STATUS IN ('D','O','R','F','E') --Mark for Deletion Initial, Reviewed and edited, Mark for Deletion Final, OCR Auto review, Reviewed, no edit
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID
	,REVIEW_STATUS
	,[DIM_CATEGORY].NAME

UNION ALL --ICRS-MR	Manual Review Review Status in (R,D,E)

SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,'Images Entering ICRS' NAME
	,'ICRS-MR' REVIEW_STATUS
	,[DIM_CATEGORY].NAME STATUS_DESCR
	,COUNT(1) AS TXN_CNT
	,SUM(TOLL_PAID) AS POS_REV
	,SUM(TOLL_DUE) AS ACT_REV
FROM [dbo].FACT_LANE_VIOLATIONS_DETAIL FACT_LANE_VIOLATIONS
LEFT JOIN [dbo].[DIM_CATEGORY] ON 'ICRS-MR' = [DIM_CATEGORY].ABBREV
WHERE REVIEW_STATUS IN ('D','R','E')
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID
	,[DIM_CATEGORY].NAME

UNION ALL --ICRS-PEND	Pending Review Review Status in (N)

SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,'Images Entering ICRS' NAME
	,'ICRS-PEND' REVIEW_STATUS
	,[DIM_CATEGORY].NAME STATUS_DESCR
	,COUNT(1) AS TXN_CNT
	,SUM(TOLL_PAID) AS POS_REV
	,SUM(TOLL_DUE) AS ACT_REV
FROM [dbo].FACT_LANE_VIOLATIONS_DETAIL FACT_LANE_VIOLATIONS
LEFT JOIN [dbo].[DIM_CATEGORY] ON 'ICRS-PEND' = [DIM_CATEGORY].ABBREV
WHERE REVIEW_STATUS IN ('N')
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID
	,[DIM_CATEGORY].NAME

UNION ALL --ICRS-POOL	Variance Pool Review Status in (R,O)

SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,'Images Kept' NAME
	,'ICRS-POOL' REVIEW_STATUS
	,[DIM_CATEGORY].NAME STATUS_DESCR
	,COUNT(1) AS TXN_CNT
	,SUM(TOLL_PAID) AS POS_REV
	,SUM(TOLL_DUE) AS ACT_REV
FROM [dbo].FACT_LANE_VIOLATIONS_DETAIL FACT_LANE_VIOLATIONS  
LEFT JOIN [dbo].[DIM_CATEGORY] ON 'ICRS-POOL' = [DIM_CATEGORY].ABBREV
WHERE REVIEW_STATUS IN ('R','E','O')
GROUP BY DAY_ID
	,LANE_ID
	, VCLY_ID
	,[DIM_CATEGORY].NAME

UNION ALL --ICRS-NP	Not Transfered to VPS
	
SELECT CONVERT(VARCHAR, VIOL_DATE, 112) DAY_ID
	,LANE_ID
	,VCLY_ID
	,'Variance Pool' NAME
	,'ICRS-NP' REVIEW_STATUS
	,[DIM_CATEGORY].NAME STATUS_DESCR
	,COUNT(1) AS TXN_CNT
	,SUM(TOLL_PAID) AS POS_REV
	,SUM(TOLL_DUE) AS ACT_REV
FROM dbo.FACT_NOT_TRANSFERRED_TO_VPS_DETAIL VPS
LEFT JOIN [dbo].[DIM_CATEGORY] ON 'ICRS-NP' = [DIM_CATEGORY].ABBREV
GROUP BY CONVERT(VARCHAR, VIOL_DATE, 112)
	,LANE_ID
	,VCLY_ID
	,[DIM_CATEGORY].NAME

UNION ALL --Images Entering ICRS

SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,'Video Toll Count from HOST' AS NAME
	,'ICRS-ALL' AS CAT
	,[DIM_CATEGORY].NAME STATUS_DESCR
	,COUNT(1) AS TXN_CNT
	,SUM(TOLL_PAID) AS POS_REV
	,SUM(TOLL_DUE) AS ACT_REV
FROM [dbo].FACT_LANE_VIOLATIONS_DETAIL FACT_LANE_VIOLATIONS 
LEFT JOIN [dbo].[DIM_CATEGORY] ON 'ICRS-ALL' = [DIM_CATEGORY].ABBREV
WHERE REVIEW_STATUS IN ('D','O','N','R','F','E') --Mark for Deletion Initial, Reviewed and edited, Mark for Deletion Final, OCR Auto review, Reviewed, no edit
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID
	,[DIM_CATEGORY].NAME

UNION ALL --Images Not Entering ICRS

SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,'Video Toll Count from HOST'
	,'ICRS-NOT' AS CAT
	,[DIM_CATEGORY].NAME STATUS_DESCR
	,SUM(VIDEO_TOLL_TXN_CNT) - SUM(IMG_ENTER_ICRS_TXN_CNT) TXN_COUNT
	,0 POS_REV
	,SUM(VIDEO_TOLL_ACT_REV) - SUM(IMG_ENTER_ICRS_ACT_REV) ACT_REV
FROM (
	SELECT DAY_ID
		,LANE_ID
		,VCLY_ID
		,COUNT(1) AS VIDEO_TOLL_TXN_CNT
		,SUM(EAR_REV) AS VIDEO_TOLL_ACT_REV
		,SUM(ACT_REV) AS VIDEO_TOLL_POS_REV
		,0 AS IMG_ENTER_ICRS_TXN_CNT
		,0 AS IMG_ENTER_ICRS_POS_REV
		,0 AS IMG_ENTER_ICRS_ACT_REV
	--SELECT TOP(100) *
	FROM [dbo].[FACT_NET_REV_TFC_EVTS] FACT_LANE_ANALYSIS
	WHERE (PMTY_ID = 7 AND TRANSACTION_FILE_DETAIL_ID IS NOT NULL)
		OR ( (PMTY_ID = 7 OR PMTY_ID = 8) AND VES_SERIAL_NO > 0)
	GROUP BY DAY_ID
		,LANE_ID
		,VCLY_ID
	
	UNION ALL
	
	SELECT DAY_ID
		,LANE_ID
		,VCLY_ID
		,0 AS VIDEO_TOLL_TXN_CNT
		,0 AS VIDEO_TOLL_POS_REV
		,0 AS VIDEO_TOLL_ACT_REV
		,COUNT(1) AS TXN_CNT
		,SUM(TOLL_PAID) AS POS_REV
		,SUM(TOLL_DUE) AS ACT_REV
	FROM [dbo].FACT_LANE_VIOLATIONS_DETAIL FACT_LANE_VIOLATIONS 
	WHERE REVIEW_STATUS IN ('D','O','N','R','F','E') --Mark for Deletion Initial, Reviewed and edited, Mark for Deletion Final, OCR Auto review, Reviewed, no edit
	GROUP BY DAY_ID
		,LANE_ID
		,VCLY_ID
	) A
LEFT JOIN [dbo].[DIM_CATEGORY] ON 'ICRS-NOT' = [DIM_CATEGORY].ABBREV
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID
	,[DIM_CATEGORY].NAME
--VIOL-BR is MEETING BUSINESS RULES
--VIOL-UBR-C is NMBR - Current Address
--VIOL-UBR-N is NMBR - No Current Address

UNION ALL --VIOL-BR, VIOL-UBR-C, VIOL-UBR-N 

SELECT [DAY_ID]
	,[LANE_ID]
	,VCLY_ID
	,CASE WHEN [TXN_NAME] = 'VIOL-BR'
			THEN 'Matched with DMV'
		ELSE 'NMBR (52a + 52b)'
	END
	,[TXN_NAME]
	,[DIM_CATEGORY].NAME STATUS_DESCR
	,COUNT(1) AS TXN_CNT
	,SUM(TOLL_PAID) AS POS_REV
	,SUM(TOLL_DUE) AS ACT_REV
FROM [DBO].[FACT_VIOLATIONS_BR_DETAIL] [FACT_VIOLATIONS_BR]
LEFT JOIN [dbo].[DIM_CATEGORY] ON [TXN_NAME] = [DIM_CATEGORY].ABBREV
GROUP BY [DAY_ID]
	,[LANE_ID]
	,VCLY_ID
	,[TXN_NAME]
	,[DIM_CATEGORY].NAME

UNION ALL

SELECT [DAY_ID]
	,[LANE_ID]
	,VCLY_ID
	,'Matched with DMV'
	,'VIOL-UBR' AS [TXN_NAME]
	,'NMBR (52a + 52b)'
	,COUNT(1) AS TXN_CNT
	,SUM(TOLL_PAID) AS POS_REV
	,SUM(TOLL_DUE) AS ACT_REV
FROM [DBO].[FACT_VIOLATIONS_BR_DETAIL] [FACT_VIOLATIONS_BR]
WHERE [TXN_NAME] IN ('VIOL-UBR-C','VIOL-UBR-N')
GROUP BY [DAY_ID]
	,[LANE_ID]
	,VCLY_ID
	,[TXN_NAME]

UNION ALL --Texas Plates 
	
	--LP-M-VLTR
	--LP-NDMV
	--LP-NV-TIME
	--LP-OTHER
	--VIOL-INV
	--VIOL-M-DMV
	--VIOL-NTX
	--VIOL-TX
	--VIOL-VI
	--VIOL-VTOLL--SELECT DISTINCT Name, CAT, STATUS_DESCR FROM (
SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,CASE 
		WHEN DMV_STS LIKE 'LP-%'			THEN 'Texas Plates'
		WHEN DMV_STS = 'VIOL-VI'			THEN 'Variance Pool'
		WHEN DMV_STS = 'VIOL-INV'			THEN 'Variance Pool'
		WHEN DMV_STS = 'VIOL-M-DMV'			THEN 'DMV Match Processing'
		WHEN DMV_STS IN ('VIOL-NTX','VIOL-TX')			THEN 'Un-Matched with DMV'
		ELSE 'Variance Pool'
	END Name
	,DMV_STS AS CAT
	,[DIM_CATEGORY].NAME STATUS_DESCR
	,COUNT(1) AS TXN_CNT
	,SUM(TOLL_PAID) AS POS_REV
	,SUM(TOLL_DUE) AS ACT_REV --SELECT DISTINCT DMV_STS
FROM [dbo].FACT_VIOLATIONS_DMV_STATUS_DETAIL FACT_VIOLATIONS_DMV_STATUS
LEFT JOIN [dbo].[DIM_CATEGORY] ON DMV_STS = [DIM_CATEGORY].ABBREV
WHERE DMV_STS NOT IN ('VIOL-VTOLL')
GROUP BY DAY_ID
    ,LANE_ID
	,VCLY_ID
	,DMV_STS
	,[DIM_CATEGORY].NAME --)A ORDER BY 1,2

UNION ALL --VIOL-DMV-P	DMV Match Processing VIOL-M-DMV + VIOL-UM-DMV

SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,'Variance Pool' Name
	,'VIOL-DMV-P' AS CAT
	,'DMV Match Processing' STATUS_DESCR
	,COUNT(1) AS TXN_CNT
	,SUM(TOLL_PAID) AS POS_REV
	,SUM(TOLL_DUE) AS ACT_REV --SELECT DISTINCT DMV_STS
FROM [dbo].FACT_VIOLATIONS_DMV_STATUS_DETAIL FACT_VIOLATIONS_DMV_STATUS
WHERE DMV_STS IN ('VIOL-M-DMV','VIOL-NTX','VIOL-TX')
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID

UNION ALL --VIOL-UM-DMV	Un-Matched with DMV (Texas Plates(VIOL-TX) + Out Of State Plates(VIOL-NTX))

SELECT DAY_ID
	,LANE_ID
	,VCLY_ID
	,'DMV Match Processing' Name
	,'VIOL-UM-DMV' AS CAT
	,'Un-Matched with DMV' STATUS_DESCR
	,COUNT(1) AS TXN_CNT
	,SUM(TOLL_PAID) AS POS_REV
	,SUM(TOLL_DUE) AS ACT_REV --SELECT DISTINCT DMV_STS
FROM [dbo].FACT_VIOLATIONS_DMV_STATUS_DETAIL FACT_VIOLATIONS_DMV_STATUS
WHERE DMV_STS IN (
		'VIOL-NTX'
		,'VIOL-TX'
		)
GROUP BY DAY_ID
	,LANE_ID
	,VCLY_ID

--STEP #2: Replace OLD table with NEW

DECLARE @sqlAlter nvarchar(max) --= 'ALTER TABLE dbo.FACT_VIOLATIONS_SUMMARY_INCR_STAGE SPLIT RANGE ('+ CAST(@FROM_DAYID AS NVARCHAR)+');'

SET @sqlAlter = '
CREATE TABLE dbo.[FACT_VIOLATIONS_SUMMARY_NEW_SET] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([DAY_ID]), PARTITION ([DAY_ID] RANGE RIGHT FOR VALUES ('+ CAST(@FROM_DAYID AS NVARCHAR)+')))
AS 
SELECT 
		main_table.[DAY_ID] AS [DAY_ID]
		, CAST(main_table.[LANE_ID] AS decimal(14,0)) AS [LANE_ID]
		, ISNULL(CAST(main_table.[VCLY_ID] AS decimal(14,0)), -1) AS [VCLY_ID]
		, ISNULL(CAST(main_table.[NAME] AS varchar(26)), '''') AS [NAME]
		, CAST(main_table.[STATUS] AS varchar(15)) AS [STATUS]
		, CAST(main_table.[STATUS_DESCR] AS varchar(55)) AS [STATUS_DESCR]
		, CAST(main_table.[TXN_CNT] AS int) AS [TXN_CNT]
		, CAST(main_table.[POS_REV] AS decimal(38,2)) AS [POS_REV]
		, CAST(main_table.[ACT_REV] AS decimal(38,2)) AS [ACT_REV]
FROM dbo.FACT_VIOLATIONS_SUMMARY_STAGE AS main_table
OPTION (LABEL = ''FACT_VIOLATIONS_SUMMARY_NEW_SET LOAD'');'

EXEC(@sqlAlter)	

CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_001 ON [dbo].FACT_VIOLATIONS_SUMMARY_NEW_SET (DAY_ID,LANE_ID)
CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_002 ON [dbo].FACT_VIOLATIONS_SUMMARY_NEW_SET (LANE_ID,VCLY_ID)
CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_003 ON [dbo].FACT_VIOLATIONS_SUMMARY_NEW_SET (VCLY_ID)
CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_004 ON [dbo].FACT_VIOLATIONS_SUMMARY_NEW_SET ([NAME])
CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_005 ON [dbo].FACT_VIOLATIONS_SUMMARY_NEW_SET ([STATUS],[STATUS_DESCR])

IF OBJECT_ID('dbo.FACT_VIOLATIONS_SUMMARY_OLD') > 0	DROP TABLE dbo.FACT_VIOLATIONS_SUMMARY_OLD;
IF OBJECT_ID('dbo.FACT_VIOLATIONS_SUMMARY') > 0 RENAME OBJECT::dbo.FACT_VIOLATIONS_SUMMARY TO FACT_VIOLATIONS_SUMMARY_OLD;
	RENAME OBJECT::dbo.FACT_VIOLATIONS_SUMMARY_NEW_SET TO FACT_VIOLATIONS_SUMMARY;
IF OBJECT_ID('dbo.FACT_VIOLATIONS_SUMMARY_OLD') > 0	DROP TABLE dbo.FACT_VIOLATIONS_SUMMARY_OLD;

--DECLARE @sqlAlter nvarchar(max) = 'ALTER TABLE dbo.FACT_VIOLATIONS_SUMMARY SPLIT RANGE ('+ CAST(@FROM_DAYID AS NVARCHAR)+');'
--EXEC(@sqlAlter)

--CREATE CLUSTERED COLUMNSTORE INDEX CCIFactViolationSummary ON dbo.FACT_VIOLATIONS_SUMMARY

--STEP #3: Create Statistics --[dbo].[CreateStats] 'dbo', 'FACT_VIOLATIONS_SUMMARY'


