CREATE PROC [DBO].[DIM_LICENSE_PLATE_LOAD] AS 
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.DIM_LICENSE_PLATE_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.DIM_LICENSE_PLATE_LOAD
GO

EXEC EDW_RITE.DBO.DIM_LICENSE_PLATE_LOAD


*/

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
-- --  LICENSE PLATE PROCESSING
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
DECLARE @MAX_LICENSE_PLATE_ID int = ISNULL((SELECT MAX(LICENSE_PLATE_ID) FROM DBO.DIM_LICENSE_PLATE),0);

INSERT INTO DBO.DIM_LICENSE_PLATE (LICENSE_PLATE_ID, LICENSE_PLATE_NBR, LICENSE_PLATE_STATE)
SELECT ROW_NUMBER()OVER(ORDER BY (SELECT 1))+ @MAX_LICENSE_PLATE_ID, LIC_PLATE_NBR, LIC_PLATE_STATE
FROM 
(
	SELECT LIC_PLATE_NBR, LIC_PLATE_STATE
	FROM DBO.VIOLATORS_LICENSE_PLATE_STAGE
	UNION 
	SELECT LIC_PLATE_NBR, LIC_PLATE_STATE
	FROM DBO.VIOLATIONS_LICENSE_PLATE_STAGE
	--UNION 
	--SELECT LIC_PLATE_NBR, LIC_PLATE_STATE
	--FROM DBO.VPS_HOST_TRANSACTIONS_STAGE
) A
LEFT JOIN dbo.DIM_LICENSE_PLATE B ON A.LIC_PLATE_NBR = B.LICENSE_PLATE_NBR AND A.LIC_PLATE_STATE = B.LICENSE_PLATE_STATE 
WHERE B.LICENSE_PLATE_NBR IS NULL AND B.LICENSE_PLATE_STATE  IS NULL
OPTION (LABEL = 'DIM_LICENSE_PLATE_LOAD: DIM_LICENSE_PLATE');


INSERT INTO DIM_STATE (STATE_CODE, STATE_NAME, STATE_LATITUDE, STATE_LONGITUDE, OUT_OF_STATE_IND)
SELECT DISTINCT LP.[LICENSE_PLATE_STATE] , '(Unknown)', 0 AS STATE_LATITUDE, 0 As STATE_LONGITUDE, 1 As OUT_OF_STATE_IND 
FROM  [DIM_LICENSE_PLATE] LP
LEFT JOIN dbo.DIM_STATE	DS ON LP.[LICENSE_PLATE_STATE] = DS.STATE_CODE 
WHERE DS.STATE_CODE  IS NULL


UPDATE STATISTICS dbo.DIM_LICENSE_PLATE


