CREATE PROC [dbo].[VIOLATOR_TYPES_LOAD] AS

IF OBJECT_ID('dbo.VIOLATOR_TYPES_STAGE')<>0
	DROP TABLE dbo.VIOLATOR_TYPES_STAGE

CREATE TABLE dbo.VIOLATOR_TYPES_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VIOLATOR_TYPE)) 
AS 
SELECT VIOLATOR_TYPE,VIOLATOR_TYPE_DESCR, LAST_UPDATE_DATE
FROM [LND_LG_VPS].[VP_OWNER].[VIOLATOR_TYPES]
OPTION (LABEL = 'VIOLATOR_TYPES_LOAD: CTAS VIOLATOR_TYPES_STAGE');


UPDATE dbo.VIOLATOR_TYPES
SET VIOLATOR_TYPE_DESCR = B.VIOLATOR_TYPE_DESCR
	,LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.VIOLATOR_TYPES_STAGE B
WHERE 
	dbo.VIOLATOR_TYPES.VIOLATOR_TYPE = B.VIOLATOR_TYPE
	AND 
	dbo.VIOLATOR_TYPES.VIOLATOR_TYPE_DESCR <> B.VIOLATOR_TYPE_DESCR
OPTION (LABEL = 'VIOLATOR_TYPES_LOAD: UPDATE VIOLATOR_TYPES');

INSERT INTO dbo.VIOLATOR_TYPES (VIOLATOR_TYPE, VIOLATOR_TYPE_DESCR, INSERT_DATE, LAST_UPDATE_DATE)
SELECT A.VIOLATOR_TYPE, A.VIOLATOR_TYPE_DESCR, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.VIOLATOR_TYPES_STAGE A
LEFT JOIN dbo.VIOLATOR_TYPES B ON A.VIOLATOR_TYPE = B.VIOLATOR_TYPE
WHERE B.VIOLATOR_TYPE IS NULL
OPTION (LABEL = 'VIOLATOR_TYPES_LOAD: INSERT VIOLATOR_TYPES');



