CREATE PROC [DBO].[REVIEW_STATUS_LOAD] AS 

-- GetFields 'REVIEW_STATUS'
--    REVIEW_STATUS, REV_STATUS_DESCR, LAST_UPDATE_DATE, LAST_UPDATE_TYPE

--DECLARE @LAST_UPDATE_DATE datetime2(2) 
--exec dbo.GetLoadStartDatetime 'dbo.REVIEW_STATUS', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.REVIEW_STATUS_STAGE')<>0	DROP TABLE dbo.REVIEW_STATUS_STAGE

--SELECT COUNT_BIG(1) FROM dbo.REVIEW_STATUS
--SELECT * FROM dbo.REVIEW_STATUS
--SELECT * FROM LND_LG_ICRS.[ICRS_OWNER].[REVIEW_STATUS]

CREATE TABLE dbo.REVIEW_STATUS_STAGE WITH (HEAP,DISTRIBUTION = REPLICATE) 
AS 
-- EXPLAIN
SELECT   REVIEW_STATUS, REV_STATUS_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM LND_LG_ICRS.[ICRS_OWNER].[REVIEW_STATUS] A
OPTION (LABEL = 'REVIEW_STATUS_LOAD: REVIEW_STATUS_STAGE');

INSERT INTO dbo.REVIEW_STATUS_STAGE 
		(REVIEW_STATUS, REV_STATUS_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
VALUES	('-1','(Null)','I','1900-01-01')


CREATE STATISTICS STATS_REVIEW_STATUS_001 ON REVIEW_STATUS_STAGE (REVIEW_STATUS)

IF OBJECT_ID('dbo.REVIEW_STATUS_OLD')>0 	DROP TABLE dbo.REVIEW_STATUS_OLD;
IF OBJECT_ID('dbo.REVIEW_STATUS')>0		RENAME OBJECT::dbo.REVIEW_STATUS TO REVIEW_STATUS_OLD;
RENAME OBJECT::dbo.REVIEW_STATUS_STAGE TO REVIEW_STATUS;
IF OBJECT_ID('dbo.REVIEW_STATUS_OLD')>0 	DROP TABLE dbo.REVIEW_STATUS_OLD;


--UPDATE dbo.REVIEW_STATUS
--SET  REV_STATUS_DESCR = B.REV_STATUS_DESCR
--	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
--	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
--FROM dbo.REVIEW_STATUS_STAGE B
--WHERE 
--	dbo.REVIEW_STATUS.REVIEW_STATUS = B.REVIEW_STATUS
--	AND dbo.REVIEW_STATUS.REV_STATUS_DESCR <> B.REV_STATUS_DESCR 

--INSERT INTO dbo.REVIEW_STATUS (REVIEW_STATUS, REV_STATUS_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
--SELECT A.REVIEW_STATUS, A.REV_STATUS_DESCR, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
--FROM dbo.REVIEW_STATUS_STAGE A
--LEFT JOIN dbo.REVIEW_STATUS B ON A.REVIEW_STATUS = B.REVIEW_STATUS 
--WHERE B.REVIEW_STATUS IS NULL 

/*
	INSERT INTO REVIEW_STATUS VALUES('-1','(Null)','I','5/19/2016')
	SELECT * FROM REVIEW_STATUS ORDER BY 1


*/


