CREATE PROC [dbo].[ACCOUNT_PAYMENT_TYPES_LOAD] AS

IF OBJECT_ID('dbo.ACCOUNT_PAYMENT_TYPES_STAGE')<>0
	DROP TABLE dbo.ACCOUNT_PAYMENT_TYPES_STAGE

CREATE TABLE dbo.ACCOUNT_PAYMENT_TYPES_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (PMT_TYPE_CODE)) 
AS 
SELECT PMT_TYPE_CODE,PMT_TYPE_DESCR, LAST_UPDATE_DATE
FROM [LND_LG_TS].[TAG_OWNER].[ACCOUNT_PAYMENT_TYPES]
OPTION (LABEL = 'ACCOUNT_PAYMENT_TYPES_LOAD: CTAS ACCOUNT_PAYMENT_TYPES_STAGE');

UPDATE dbo.ACCOUNT_PAYMENT_TYPES
SET PMT_TYPE_DESCR = B.PMT_TYPE_DESCR
	,LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.ACCOUNT_PAYMENT_TYPES_STAGE B
WHERE 
	dbo.ACCOUNT_PAYMENT_TYPES.PMT_TYPE_CODE = B.PMT_TYPE_CODE
	AND 
	dbo.ACCOUNT_PAYMENT_TYPES.PMT_TYPE_DESCR <> B.PMT_TYPE_DESCR
OPTION (LABEL = 'ACCOUNT_PAYMENT_TYPES_LOAD: UPDATE ACCOUNT_PAYMENT_TYPES');

INSERT INTO dbo.ACCOUNT_PAYMENT_TYPES (PMT_TYPE_CODE, PMT_TYPE_DESCR, INSERT_DATE, LAST_UPDATE_DATE)
SELECT A.PMT_TYPE_CODE, A.PMT_TYPE_DESCR, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.ACCOUNT_PAYMENT_TYPES_STAGE A
LEFT JOIN dbo.ACCOUNT_PAYMENT_TYPES B ON A.PMT_TYPE_CODE = B.PMT_TYPE_CODE
WHERE B.PMT_TYPE_CODE IS NULL
OPTION (LABEL = 'ACCOUNT_PAYMENT_TYPES_LOAD: INSERT ACCOUNT_PAYMENT_TYPES');



