CREATE PROC [DBO].[HOW_DELIVERED_LOAD] AS 

-- GetFields 'HOW_DELIVERED'
--    DELIVERY_CODE, DELIVERY_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE

DECLARE @LAST_UPDATE_DATE datetime2(2) 
exec dbo.GetLoadStartDatetime 'dbo.HOW_DELIVERED', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.HOW_DELIVERED_STAGE')<>0
	DROP TABLE dbo.HOW_DELIVERED_STAGE

CREATE TABLE dbo.HOW_DELIVERED_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (DELIVERY_CODE, DELIVERY_DESCR)) 
AS 
-- EXPLAIN
SELECT   DELIVERY_CODE, DELIVERY_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[HOW_DELIVERED] A
--WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'HOW_DELIVERED_LOAD: HOW_DELIVERED_STAGE');

CREATE STATISTICS STATS_HOW_DELIVERED_STAGE_001 ON HOW_DELIVERED_STAGE (DELIVERY_CODE, DELIVERY_DESCR)


UPDATE dbo.HOW_DELIVERED
SET  DELIVERY_DESCR = B.DELIVERY_DESCR
	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.HOW_DELIVERED_STAGE B
WHERE 
	dbo.HOW_DELIVERED.DELIVERY_CODE = B.DELIVERY_CODE
	AND dbo.HOW_DELIVERED.DELIVERY_DESCR <> B.DELIVERY_DESCR 

INSERT INTO dbo.HOW_DELIVERED (DELIVERY_CODE, DELIVERY_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT A.DELIVERY_CODE, A.DELIVERY_DESCR, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM dbo.HOW_DELIVERED_STAGE A
LEFT JOIN dbo.HOW_DELIVERED B ON A.DELIVERY_CODE = B.DELIVERY_CODE 
WHERE B.DELIVERY_CODE IS NULL 





