CREATE PROC [DBO].[FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_LOAD] AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_LOAD
GO

EXEC EDW_RITE.DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_LOAD
*/


/*	
SELECT TOP 100 * FROM FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL 

SELECT MAX(DAY_ID) FROM FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL

SELECT COUNT_BIG(1) FROM FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL 

DBCC PDW_SHOWSPACEUSED('dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL');



*/  


	DECLARE @PARTITION_DATE INT = (SELECT CAST((CONVERT(VARCHAR(6), GETDATE(), 112) + '01') AS INT))
	DECLARE @NEWLASTPARTITION INT = (SELECT CAST((CONVERT(VARCHAR(6), DATEADD(MONTH,3,GETDATE()), 112) + '01') AS INT))
	DECLARE @MAX_BVAL INT
	DECLARE @MAX_PN INT
	DECLARE @PN INT
	DECLARE @SQL VARCHAR(MAX)

	
	--STEP #1: SUMMARY
	IF OBJECT_ID('DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE') IS NOT NULL DROP TABLE DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE

	--EXPLAIN
	CREATE TABLE DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(LANE_ID)) AS  --ROUND_ROBIN --DROP TABLE FACT_LANE_ANALYSIS
	SELECT    DAY_ID
			, U.LANE_ID
			, ISNULL(CAST(VCLY_ID AS INT), -1) VCLY_ID
			, LEVEL_0
			, LEVEL_1
			, LEVEL_2
			, LEVEL_3
			, LEVEL_4
			, LEVEL_5
			, LEVEL_6
			, LEVEL_7
			, LEVEL_8
			, LEVEL_9
			, LEVEL_10
			, ISNULL(COALESCE(NULLIF(LEVEL_10 ,'-1'),NULLIF(LEVEL_9 ,'-1'),NULLIF(LEVEL_8 ,'-1'),NULLIF(LEVEL_7 ,'-1'),NULLIF(LEVEL_6 ,'-1'),NULLIF(LEVEL_5 ,'-1'),NULLIF(LEVEL_4 ,'-1'),NULLIF(LEVEL_3 ,'-1'),NULLIF(LEVEL_2 ,'-1'),NULLIF(LEVEL_1 ,'-1'),LEVEL_0),'') AS END_LEVEL
			, U.LVL_TVL
			, SOURCE_CODE
			, VIOL_STATUS
			, MANUAL_VIOL_FLAG -- U.VIOL_TYPE
			, U.OUT_OF_STATE_IND
			, U.DELETED
			, U.NOT_TRANS_REVIEW_STATUS_ABBREV
			, U.INVOICE_STAGE_ID
			, U.IOP_FLAG
			, U.FLEET_FLAG
			, U.UnPursuable_FLAG
			, U.BAD_ADDRESS_FLAG
			, ISNULL(SUM(U.AMOUNT)		, 0)	AMOUNT
			, ISNULL(COUNT_BIG(1)		, 0)	TXN_CNT 
			, ISNULL(SUM(POS_REV)		, 0)	POS_REV
			, ISNULL(SUM(EAR_REV)		, 0)	EAR_REV
			, ISNULL(SUM(U.TOLL_PAID)	, 0)	TOLL_PAID
			, ISNULL(SUM(U.SPLIT_AMOUNT), 0)	SPLIT_AMOUNT
			, ISNULL(SUM(U.AMT_PAID)	, 0)	AMT_PAID
			, ISNULL(SUM(U.FEES_PAID)	, 0)	FEES_PAID
			, ISNULL(SUM(U.ADJ_REV)		, 0)	ADJ_REV
			, ISNULL(SUM(U.POSTED_REV)	, 0)	POSTED_REV
			--SELECT TOP 100 * 
	FROM dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT U --WHERE DAY_ID BETWEEN 20161231 AND 20161231 --WHERE LANE_ID < 0
	GROUP BY DAY_ID, LANE_ID, VCLY_ID, LEVEL_0, LEVEL_1, LEVEL_2, LEVEL_3, LEVEL_4, LEVEL_5, LEVEL_6, LEVEL_7, LEVEL_8, LEVEL_9, LEVEL_10,SOURCE_CODE,LVL_TVL, 
				VIOL_STATUS, MANUAL_VIOL_FLAG, OUT_OF_STATE_IND, DELETED, NOT_TRANS_REVIEW_STATUS_ABBREV, INVOICE_STAGE_ID,IOP_FLAG,FLEET_FLAG,UnPursuable_FLAG,BAD_ADDRESS_FLAG
	OPTION (LABEL = 'FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL');
	-- SELECT MAX(DAY_ID) FROM dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL
	--STEP #2: Replace OLD table with NEW

	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_001 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (DAY_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_002 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (LANE_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_003 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (VCLY_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_004 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (SOURCE_CODE)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_005 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (DELETED)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_009 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (LEVEL_0)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_010 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (LEVEL_1)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_011 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (LEVEL_2)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_012 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (LEVEL_3)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_013 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (LEVEL_4)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_014 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (LEVEL_5)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_015 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (LEVEL_6)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_016 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (LEVEL_7)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_017 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (LEVEL_8)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_018 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (LEVEL_9)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_019 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (LEVEL_10)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_020 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (VIOL_STATUS)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_021 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (MANUAL_VIOL_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_022 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (OUT_OF_STATE_IND)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_023 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (NOT_TRANS_REVIEW_STATUS_ABBREV)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_024 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (INVOICE_STAGE_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_025 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (END_LEVEL)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_026 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (LVL_TVL)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_027 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (IOP_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_028 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (FLEET_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_029 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (UnPursuable_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_030 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE (BAD_ADDRESS_FLAG)

	IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_OLD') IS NOT NULL 	DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_OLD;
	IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL') IS NOT NULL		RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL TO FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_OLD;
	RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_STAGE TO FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL;
	IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_OLD') IS NOT NULL 	DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_OLD;

	--STEP #3: Create Statistics --dbo.CreateStats 'dbo', 'FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL'
	
	-- STARTING HISTORY TABLE
	SELECT
		@MAX_BVAL = MAX(DAY_ID)				-- AS      partition_boundary_value
		,@MAX_PN = MAX(PARTITION_NUM)			-- AS      partition_number -- SELECT *
	FROM   DBO.PARTITION_DAY_ID_CONTROL  WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL'   

	DECLARE @NewStartDate DATE 
	DECLARE @New_DAY_ID VARCHAR(8) 
	WHILE @MAX_BVAL <= @NEWLASTPARTITION
	BEGIN
		-- ADD a new row to the control table 
		SET @NewStartDate = DateAdd(MONTH,1,CAST(CAST(@MAX_BVAL AS VARCHAR) AS DATE))
		SET @New_DAY_ID = CONVERT(VARCHAR(8),@NewStartDate,112)
		SET @MAX_PN += 1

		INSERT INTO DBO.PARTITION_DAY_ID_CONTROL
		SELECT
			TABLE_NAME = 'FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL'
			,DAY_ID = CAST(CONVERT(VARCHAR(8),@NewStartDate,112) AS INT)
			,END_DAY_ID = CAST(CONVERT(VARCHAR(8),DateAdd(DAY,-1,DateAdd(MONTH,1,@NewStartDate)),112) AS INT)
			,StartDate = @NewStartDate
			,EndDate = DateAdd(DAY,-1,DateAdd(MONTH,1,@NewStartDate))
			,PARTITION_NUM = @MAX_PN
			,CURRENT_IND = CAST(0 AS BIT) 
			,UPDATE_FLAG = CAST(0 AS BIT) 
			,CAST(0 AS BIT) AS FLAG_1
			,CAST(0 AS BIT) AS FLAG_2
			,CAST(0 AS BIT) AS FLAG_3
			,CAST(0 AS BIT) AS FLAG_4
			,CAST(0 AS BIT) AS FLAG_5
			,CAST(0 AS BIT) AS FLAG_6
			,CAST(0 AS BIT) AS FLAG_7
			,CAST(0 AS BIT) AS FLAG_8

		SET @MAX_BVAL = CAST(@New_DAY_ID AS INT)
	END -- WHILE @MAX_BVAL <= @LAST_DAY_ID
	--DECLARE @PARTITION_DATE INT = 20190101

	SELECT
		@PN = PARTITION_NUM			-- AS      partition_number
	FROM   DBO.PARTITION_DAY_ID_CONTROL  WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL' AND DAY_ID = @PARTITION_DATE 

	DECLARE @PART_RANGES VARCHAR(MAX) = ''
	EXEC EDW_RITE.DBO.GET_PARTITION_RANGE_STRING 'FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL', @PART_RANGES OUTPUT

	DECLARE @FULL_RELOAD BIT  
	SELECT @FULL_RELOAD = CASE WHEN C.column_id IS NULL THEN 1 ELSE 0 END FROM sys.tables t LEFT JOIN sys.columns c ON c.object_id = t.object_id AND c.name = 'MANUAL_VIOL_FLAG' WHERE t.name = 'FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST'

	IF @FULL_RELOAD = 1 
	BEGIN
		IF OBJECT_ID('DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_NEW') IS NOT NULL DROP TABLE DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_NEW
		SET @SQL = '
		CREATE TABLE DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_NEW WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(LANE_ID), PARTITION (PARTITION_DATE RANGE RIGHT FOR VALUES ('+@PART_RANGES+'))) 
		AS  
		SELECT PARTITION_DATE 
			, K.DAY_ID
			, K.LANE_ID
			, K.VCLY_ID
			, K.LEVEL_0
			, K.LEVEL_1
			, K.LEVEL_2
			, K.LEVEL_3
			, K.LEVEL_4
			, K.LEVEL_5
			, K.LEVEL_6
			, K.LEVEL_7
			, K.LEVEL_8
			, K.LEVEL_9
			, K.LEVEL_10
			, K.END_LEVEL
			, K.LVL_TVL
			, K.SOURCE_CODE
			, K.VIOL_STATUS
			, CAST(CASE WHEN VIOL_TYPE = ''M'' THEN 1 ELSE 0 END AS SMALLINT) MANUAL_VIOL_FLAG --K.VIOL_TYPE
			, K.OUT_OF_STATE_IND
			, K.DELETED
			, K.NOT_TRANS_REVIEW_STATUS_ABBREV
			, K.INVOICE_STAGE_ID
			, CAST(-1 AS SMALLINT) AS IOP_FLAG
			, CAST(-1 AS SMALLINT) AS FLEET_FLAG
			, CAST(-1 AS SMALLINT) AS UnPursuable_FLAG
			, CAST(-1 AS SMALLINT) AS BAD_ADDRESS_FLAG
			, K.AMOUNT
			, K.TXN_CNT 
			, K.POS_REV
			, K.EAR_REV
			, K.TOLL_PAID
			, K.SPLIT_AMOUNT
			, K.AMT_PAID
			, K.FEES_PAID
			, CAST(0 AS decimal(10,2)) AS ADJ_REV
			, CAST(0 AS decimal(10,2)) AS POSTED_REV
		FROM DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST AS K
		OPTION (LABEL = ''FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST - reload with new fields'');'
		--PRINT (@sql)
		EXECUTE (@sql);

		IF OBJECT_ID( 'dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_OLD') IS NOT NULL 	DROP TABLE		dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_OLD;
		IF OBJECT_ID( 'dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST') IS NOT NULL		RENAME OBJECT::	dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST TO FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_OLD;
		RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_NEW TO								FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST;
		IF OBJECT_ID( 'dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_OLD') IS NOT NULL 	DROP TABLE		dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_OLD;

	END


	IF OBJECT_ID('DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE') IS NOT NULL DROP TABLE DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE

	SET @SQL = '
	CREATE TABLE DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(LANE_ID), PARTITION (PARTITION_DATE RANGE RIGHT FOR VALUES ('+@PART_RANGES+'))) 
	AS  
	SELECT ' + CAST(@PARTITION_DATE AS VARCHAR) + ' AS PARTITION_DATE 
		, K.DAY_ID
		, K.LANE_ID
		, K.VCLY_ID
		, K.LEVEL_0
		, K.LEVEL_1
		, K.LEVEL_2
		, K.LEVEL_3
		, K.LEVEL_4
		, K.LEVEL_5
		, K.LEVEL_6
		, K.LEVEL_7
		, K.LEVEL_8
		, K.LEVEL_9
		, K.LEVEL_10
		, K.END_LEVEL
		, K.LVL_TVL
		, K.SOURCE_CODE
		, K.VIOL_STATUS
		, MANUAL_VIOL_FLAG --K.VIOL_TYPE
		, K.OUT_OF_STATE_IND
		, K.DELETED
		, K.NOT_TRANS_REVIEW_STATUS_ABBREV
		, K.INVOICE_STAGE_ID
		, K.IOP_FLAG
		, K.FLEET_FLAG
		, K.UnPursuable_FLAG
		, K.BAD_ADDRESS_FLAG
		, K.AMOUNT
		, K.TXN_CNT 
		, K.POS_REV
		, K.EAR_REV
		, K.TOLL_PAID
		, K.SPLIT_AMOUNT
		, K.AMT_PAID
		, K.FEES_PAID
		, K.ADJ_REV
		, K.POSTED_REV
	FROM DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL AS K

	UNION ALL

	SELECT PARTITION_DATE 
		, K.DAY_ID
		, K.LANE_ID
		, K.VCLY_ID
		, K.LEVEL_0
		, K.LEVEL_1
		, K.LEVEL_2
		, K.LEVEL_3
		, K.LEVEL_4
		, K.LEVEL_5
		, K.LEVEL_6
		, K.LEVEL_7
		, K.LEVEL_8
		, K.LEVEL_9
		, K.LEVEL_10
		, K.END_LEVEL
		, K.LVL_TVL
		, K.SOURCE_CODE
		, K.VIOL_STATUS
		, K.MANUAL_VIOL_FLAG --K.VIOL_TYPE
		, K.OUT_OF_STATE_IND
		, K.DELETED
		, K.NOT_TRANS_REVIEW_STATUS_ABBREV
		, K.INVOICE_STAGE_ID
		, K.IOP_FLAG
		, K.FLEET_FLAG
		, K.UnPursuable_FLAG
		, K.BAD_ADDRESS_FLAG
		, K.AMOUNT
		, K.TXN_CNT 
		, K.POS_REV
		, K.EAR_REV
		, K.TOLL_PAID
		, K.SPLIT_AMOUNT
		, K.AMT_PAID
		, K.FEES_PAID
		, ADJ_REV
		, POSTED_REV
	FROM DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST AS K
	WHERE PARTITION_DATE < ' + CAST(@PARTITION_DATE AS VARCHAR) + '
	OPTION (LABEL = ''FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST'');'
	--PRINT (@sql)
	EXECUTE (@sql);

	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_001 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (DAY_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_002 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (LANE_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_003 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (VCLY_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_004 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (SOURCE_CODE)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_005 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (DELETED)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_009 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (LEVEL_0)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_010 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (LEVEL_1)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_011 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (LEVEL_2)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_012 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (LEVEL_3)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_013 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (LEVEL_4)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_014 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (LEVEL_5)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_015 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (LEVEL_6)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_016 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (LEVEL_7)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_017 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (LEVEL_8)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_018 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (LEVEL_9)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_019 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (LEVEL_10)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_020 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (VIOL_STATUS)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_021 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (MANUAL_VIOL_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_022 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (OUT_OF_STATE_IND)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_023 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (NOT_TRANS_REVIEW_STATUS_ABBREV)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_024 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (INVOICE_STAGE_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_025 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (END_LEVEL)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_026 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE (LVL_TVL)

	IF OBJECT_ID( 'dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_OLD') IS NOT NULL 	DROP TABLE		dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_OLD;
	IF OBJECT_ID( 'dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST') IS NOT NULL		RENAME OBJECT::	dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST TO FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_OLD;
	RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_STAGE TO								FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST;
	IF OBJECT_ID( 'dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_OLD') IS NOT NULL 	DROP TABLE		dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_HIST_OLD;




