CREATE PROC [DBO].[PLAZA_PLAZA_XREF_LOAD] AS 
/*
EXEC [DBO].[PLAZA_PLAZA_XREF_LOAD]

*/
DECLARE @StartDate DATE;	
DECLARE @EndDate DATE;	

SET @EndDate = CAST((LEFT(CONVERT(VARCHAR(8), GetDate(),112), 6) + '01') AS DATE)
SET @StartDate = DATEADD(MONTH, -6, @EndDate)


	;-- DROP TABLE dbo.Temp_PLAZA_FREQ_ANDY
	IF OBJECT_ID('dbo.Temp_PLAZA_FREQ_ANDY') IS NOT NULL DROP TABLE dbo.Temp_PLAZA_FREQ_ANDY;	

	CREATE TABLE dbo.Temp_PLAZA_FREQ_ANDY WITH (CLUSTERED INDEX(SEGMENT_ID), DISTRIBUTION = HASH(SEGMENT_ID)) AS
	WITH CTE1 AS
	(
	SELECT --TOP(500) 
			LAG(DIM_LANE.FACILITY_ID,1) OVER (PARTITION BY ACCT_ID, TAG_ID ORDER BY TRANSACTION_DATE) AS PREV_FACILITY_ID,
			DIM_LANE.FACILITY_ID,
			LAG(DIM_LANE.PLAZA_ID,1) OVER (PARTITION BY ACCT_ID, TAG_ID ORDER BY TRANSACTION_DATE) AS PREV_PLAZA_ID,
			DIM_LANE.PLAZA_ID, 
			LAG(DIM_LANE.LANE_DIRECTION,1) OVER (PARTITION BY ACCT_ID, TAG_ID ORDER BY TRANSACTION_DATE) AS PREV_LANE_DIRECTION,
			LANE_DIRECTION,
			DATEDIFF(MINUTE, ISNULL(LAG(TRANSACTION_DATE,1) OVER (PARTITION BY ACCT_ID, TAG_ID ORDER BY TRANSACTION_DATE),TRANSACTION_DATE), TRANSACTION_DATE) AS MIN_DIFF,
			LAG(TRANSACTION_DATE,1) OVER (PARTITION BY ACCT_ID, TAG_ID ORDER BY TRANSACTION_DATE) PREV_TIME,
			TRANSACTION_DATE
			--SELECT COUNT_BIG(1)
	FROM	LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS --EDW_RITE.[DBO].[TOLL_TRANSACTIONS] 
	JOIN	EDW_RITE.dbo.DIM_LANE  ON TOLL_TRANSACTIONS.LANE_ID = DIM_LANE.LANE_ID		--ANDTRANSACTION_DATE BETWEEN '20181001' AND '20181002'
	AND		TRANSACTION_DATE BETWEEN @StartDate AND @EndDate --AND DIM_LANE.FACILITY_ID IN (260) --(260,9,5,220,271,6033,110)
	)
	, CTE2 AS
	(
	SELECT PREV_FACILITY_ID,PREV_PLAZA_ID,PREV_LANE_DIRECTION,FACILITY_ID,PLAZA_ID,LANE_DIRECTION,
	CASE 
		WHEN MIN_DIFF <= 2 THEN 1
		WHEN MIN_DIFF <= 5 THEN 2 -- previous + 3
		WHEN MIN_DIFF <= 9 THEN 3  -- previous + 4
		WHEN MIN_DIFF <= 14 THEN 4  -- previous + 5
		WHEN MIN_DIFF <= 20 THEN 5  -- previous + 6
		WHEN MIN_DIFF <= 27 THEN 6  -- previous + 7
		WHEN MIN_DIFF <= 35 THEN 7  -- previous + 8
		WHEN MIN_DIFF <= 44 THEN 8  -- previous + 9
		WHEN MIN_DIFF <= 54 THEN 9  -- previous + 10
		WHEN MIN_DIFF <= 65 THEN 10  -- previous + 11
		WHEN MIN_DIFF <= 77 THEN 11  -- previous + 12
		ELSE 12
	END AS TIME_GROUP,
	CASE 	
		WHEN PREV_LANE_DIRECTION = 'North' THEN '1' -- U-turn
		WHEN PREV_LANE_DIRECTION = 'East' THEN '2' -- U-turn
		WHEN PREV_LANE_DIRECTION = 'South' THEN '3' -- U-turn
		WHEN PREV_LANE_DIRECTION = 'West' THEN '4' -- U-turn
		ELSE 0 
	END AS PREV_DIR,
	CASE 	
		WHEN LANE_DIRECTION = 'North' THEN '1' -- U-turn
		WHEN LANE_DIRECTION = 'East' THEN '2' -- U-turn
		WHEN LANE_DIRECTION = 'South' THEN '3' -- U-turn
		WHEN LANE_DIRECTION = 'West' THEN '4' -- U-turn
		ELSE 0 
	END DIR
	FROM CTE1 
	WHERE  MIN_DIFF <= 90 AND PREV_PLAZA_ID IS NOT NULL
		--AND FACILITY_ID IN (260)
		AND (CASE 	WHEN PREV_LANE_DIRECTION = 'West' AND LANE_DIRECTION = 'East' THEN 1 -- U-turn
				WHEN PREV_LANE_DIRECTION = 'East' AND LANE_DIRECTION = 'West' THEN 1 -- U-turn
				WHEN PREV_LANE_DIRECTION = 'South' AND LANE_DIRECTION = 'North' THEN 1 -- U-turn
				WHEN PREV_LANE_DIRECTION = 'North' AND LANE_DIRECTION = 'South' THEN 1 -- U-turn
				ELSE 0 
			END) = 0

	)
	, CTE3 AS
	(
	SELECT PREV_FACILITY_ID,PREV_PLAZA_ID,PREV_LANE_DIRECTION,FACILITY_ID,PLAZA_ID,LANE_DIRECTION,TIME_GROUP, COUNT(1) AS ROW_Fr,
	CONCAT(CAST(PREV_FACILITY_ID AS VARCHAR),'.',CAST(PREV_PLAZA_ID AS VARCHAR),'.',PREV_DIR) AS PREV_ID, 
	CONCAT(CAST(FACILITY_ID AS VARCHAR),'.',CAST(PLAZA_ID AS VARCHAR),'.',DIR) AS CUR_ID,
	CONCAT(CAST(PREV_FACILITY_ID AS VARCHAR),'.',CAST(PREV_PLAZA_ID AS VARCHAR),'.',PREV_DIR,'_',CAST(FACILITY_ID AS VARCHAR),'.',CAST(PLAZA_ID AS VARCHAR),'.',DIR) AS SEGMENT_ID
	FROM CTE2 
	GROUP BY PREV_FACILITY_ID,PREV_PLAZA_ID,PREV_LANE_DIRECTION,FACILITY_ID,PLAZA_ID,LANE_DIRECTION,TIME_GROUP,PREV_DIR,DIR
	)
	, CTE4 AS
	(
	SELECT SEGMENT_ID,PREV_ID,PREV_FACILITY_ID,PREV_PLAZA_ID,PREV_LANE_DIRECTION,CUR_ID,FACILITY_ID,PLAZA_ID,LANE_DIRECTION,TIME_GROUP, ROW_Fr, 
		SUM(ROW_Fr) OVER (PARTITION BY SEGMENT_ID)	AS Group_Fr,
		SUM(ROW_Fr) OVER (PARTITION BY PREV_ID)	AS Plaza_Fr,
		COUNT(1) OVER (PARTITION BY SEGMENT_ID)	AS COUNT_Group,
		COUNT(1) OVER (PARTITION BY PREV_ID)	AS COUNT_Plaza,
		MIN(TIME_GROUP) OVER (PARTITION BY SEGMENT_ID)	AS MIN_TIME_GROUP -- If Min time > 4 (12 min) - delete this group - it's not connection
	FROM CTE3
	WHERE PREV_ID <> CUR_ID
	)
	SELECT SEGMENT_ID,PREV_ID,PREV_FACILITY_ID,PREV_PLAZA_ID,PREV_LANE_DIRECTION,CUR_ID,FACILITY_ID,PLAZA_ID,LANE_DIRECTION,Group_Fr,Plaza_Fr,MIN_TIME_GROUP,TIME_GROUP,ROW_Fr,COUNT_Plaza,COUNT_Group, 
		(ROW_Fr * 100 / Group_Fr) AS RowFr_Prc,
		((LAG(ROW_Fr,1,ROW_Fr) OVER (PARTITION BY SEGMENT_ID ORDER BY TIME_GROUP) ) * 100 / Group_Fr) AS Prev_RowFr_Prc,
		ROW_NUMBER() OVER (PARTITION BY SEGMENT_ID ORDER BY TIME_GROUP ) AS GRN
	FROM CTE4
	
	/*
	SELECT TOP 1000 * FROM dbo.Temp_PLAZA_FREQ_ANDY
	WHERE FACILITY_ID = 260 AND PREV_FACILITY_ID = 260
	ORDER BY SEGMENT_ID    
	GROUP BY PREV_FACILITY_ID,PREV_PLAZA_ID,PREV_LANE_DIRECTION,MIN_DIFF,FACILITY_ID,PLAZA_ID,LANE_DIRECTION
	-- 
	*/

--IF COUNT_Group > 4 AND SUM FIRST COUNT_Group / 2 < SUM LAST COUNT_Group / 2 - DELETE this group
IF OBJECT_ID('dbo.Temp_Exsclude_ID_From_PLAZA_FREQ_ANDY') IS NOT NULL DROP TABLE dbo.Temp_Exsclude_ID_From_PLAZA_FREQ_ANDY;

CREATE TABLE dbo.Temp_Exsclude_ID_From_PLAZA_FREQ_ANDY WITH (CLUSTERED INDEX(SEGMENT_ID), DISTRIBUTION = HASH(SEGMENT_ID)) AS
WITH CTE_FIRST_PART AS
(
SELECT SEGMENT_ID, SUM(RowFr_Prc) AS SUM_RowFr_Prc
FROM dbo.Temp_PLAZA_FREQ_ANDY
WHERE COUNT_Group > 4 AND GRN <= (COUNT_Group / 2)
GROUP BY SEGMENT_ID
)
, CTE_LAST_PART AS
(
SELECT SEGMENT_ID, SUM(RowFr_Prc) AS SUM_RowFr_Prc
FROM dbo.Temp_PLAZA_FREQ_ANDY
WHERE COUNT_Group > 4 AND GRN > (COUNT_Group - COUNT_Group / 2)
GROUP BY SEGMENT_ID
)
SELECT F.SEGMENT_ID,F.SUM_RowFr_Prc AS First_Sum_Proc,L.SUM_RowFr_Prc AS Last_Sum_Proc
FROM CTE_FIRST_PART AS F
JOIN CTE_LAST_PART AS L ON F.SEGMENT_ID = L.SEGMENT_ID AND F.SUM_RowFr_Prc < L.SUM_RowFr_Prc

-- SELECT TOP 1000 * FROM dbo.Temp_Exsclude_ID_From_PLAZA_FREQ_ANDY ORDER BY SEGMENT_ID

/**/
IF OBJECT_ID('dbo.PLAZA_PLAZA_XREF') IS NOT NULL DROP TABLE dbo.PLAZA_PLAZA_XREF;	

CREATE TABLE dbo.PLAZA_PLAZA_XREF WITH (CLUSTERED INDEX(SEGMENT_ID), DISTRIBUTION = HASH(SEGMENT_ID)) AS --EXPLAIN
WITH CTE AS
(
SELECT SEGMENT_ID,PREV_ID,PREV_FACILITY_ID,PREV_PLAZA_ID,PREV_LANE_DIRECTION,CUR_ID,FACILITY_ID,PLAZA_ID,LANE_DIRECTION,Group_Fr,Plaza_Fr,MIN_TIME_GROUP,
MAX(TIME_GROUP) AS MAX_TIME_GROUP, MAX(ROW_Fr) AS MAX_Fr
FROM dbo.Temp_PLAZA_FREQ_ANDY Pl
WHERE (Group_Fr > 100) -- If it's less - it's a very rear way, not a connection
	AND (MIN_TIME_GROUP <= 4) -- If minimum found time more then 14 minutes - it's not a connaction (the longest connection I found on the map 12 miles and takes 13 monutes driving regarding google maps at free time)
	AND ((TIME_GROUP - MIN_TIME_GROUP) = (GRN - 1)) -- if there is a gap between times - second part went diff way not connected
	AND (GRN <= (3 + MIN_TIME_GROUP)) -- The more minimum time was found, the more maximum could be - it grows  --NOT (GRN > 4 AND (RowFr_Prc < 10 OR Prev_RowFr_Prc < RowFr_Prc)) -- 
	AND (NOT EXISTS (SELECT 1 FROM dbo.Temp_Exsclude_ID_From_PLAZA_FREQ_ANDY AS Ex WHERE Pl.SEGMENT_ID = Ex.SEGMENT_ID)) -- All groups that only growing with time - not connections - remove them all
GROUP BY SEGMENT_ID,PREV_ID,PREV_FACILITY_ID,PREV_PLAZA_ID,PREV_LANE_DIRECTION,CUR_ID,FACILITY_ID,PLAZA_ID,LANE_DIRECTION,Group_Fr,Plaza_Fr,MIN_TIME_GROUP
)
, CTE1 AS
(
SELECT SEGMENT_ID,PREV_ID,PREV_FACILITY_ID,PREV_PLAZA_ID,PREV_LANE_DIRECTION,CUR_ID,FACILITY_ID,PLAZA_ID,LANE_DIRECTION,Group_Fr,Plaza_Fr,MAX_Fr,MIN_TIME_GROUP,MAX_TIME_GROUP,
		COUNT(1) OVER (PARTITION BY PREV_ID)	AS COUNT_Groups_In_Plaza,
		(Group_Fr * 100 / Plaza_Fr) AS Group_Prc
FROM CTE
)
SELECT SEGMENT_ID AS SEGMENT_ID,PREV_FACILITY_ID AS FROM_FACILITY_ID,PREV_PLAZA_ID AS FROM_PLAZA_ID,PREV_LANE_DIRECTION AS FROM_LANE_DIRECTION,
		FACILITY_ID AS TO_FACILITY_ID,PLAZA_ID AS TO_PLAZA_ID,LANE_DIRECTION AS TO_LANE_DIRECTION,
	CASE 
		WHEN MIN_TIME_GROUP = 1 THEN 1
		WHEN MIN_TIME_GROUP = 2 THEN 3 -- previous + 2
		WHEN MIN_TIME_GROUP = 3 THEN 6  -- previous + 3
		WHEN MIN_TIME_GROUP = 4 THEN 10  -- previous + 4
		-- Could not be more!
		WHEN MIN_TIME_GROUP = 5 THEN 15  -- previous + 5
		WHEN MIN_TIME_GROUP = 6 THEN 21  -- previous + 6
		WHEN MIN_TIME_GROUP = 7 THEN 28  -- previous + 7
		WHEN MIN_TIME_GROUP = 8 THEN 36  -- previous + 8
		WHEN MIN_TIME_GROUP = 9 THEN 45  -- previous + 9
		WHEN MIN_TIME_GROUP = 10 THEN 55  -- previous + 10
		WHEN MIN_TIME_GROUP = 11 THEN 66  -- previous + 11
		ELSE 78
	END AS MIN_TIME, -- It's a previous group time + 1
	CASE 
		WHEN MAX_TIME_GROUP = 1 THEN 2
		WHEN MAX_TIME_GROUP = 2 THEN 5 -- previous + 3
		WHEN MAX_TIME_GROUP = 3 THEN 9  -- previous + 4
		WHEN MAX_TIME_GROUP = 4 THEN 14  -- previous + 5
		WHEN MAX_TIME_GROUP = 5 THEN 20  -- previous + 6
		WHEN MAX_TIME_GROUP = 6 THEN 27  -- previous + 7
		WHEN MAX_TIME_GROUP = 7 THEN 35  -- previous + 8
		WHEN MAX_TIME_GROUP = 8 THEN 44  -- previous + 9
		WHEN MAX_TIME_GROUP = 9 THEN 54  -- previous + 10
		-- Could not be more!
		WHEN MAX_TIME_GROUP = 10 THEN 65  -- previous + 11
		WHEN MAX_TIME_GROUP = 11 THEN 77  -- previous + 12
		ELSE 90
	END AS MAX_TIME

FROM CTE1
WHERE Group_Prc >= 3 --(13 - COUNT_Groups_In_Plaza) -- delete all groups that are so rear

CREATE STATISTICS STATS_PLAZA_PLAZA_XREF_001 ON PLAZA_PLAZA_XREF (FROM_FACILITY_ID,FROM_PLAZA_ID,FROM_LANE_DIRECTION)
CREATE STATISTICS STATS_PLAZA_PLAZA_XREF_002 ON PLAZA_PLAZA_XREF (TO_FACILITY_ID,TO_PLAZA_ID,TO_LANE_DIRECTION)


/*
SELECT * 
FROM dbo.PLAZA_PLAZA_XREF
ORDER BY SEGMENT_ID,MIN_TIME,MAX_TIME
*/	
IF OBJECT_ID('dbo.Temp_PLAZA_FREQ_ANDY') IS NOT NULL DROP TABLE dbo.Temp_PLAZA_FREQ_ANDY;	
IF OBJECT_ID('dbo.Temp_Exsclude_ID_From_PLAZA_FREQ_ANDY') IS NOT NULL DROP TABLE dbo.Temp_Exsclude_ID_From_PLAZA_FREQ_ANDY;


