CREATE PROC [DBO].[FACT_UNIFIED_VIOLATION_SNAPSHOT_REMOVE_DUPLICATES] AS 

--/*

--USE EDW_RITE 
--GO

--IF EXISTS (SELECT * 
--            FROM   sysobjects 
--            WHERE  id = object_id('DBO.[FACT_UNIFIED_VIOLATION_SNAPSHOT_REMOVE_DUPLICATES]') 
--                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
--DROP PROCEDURE DBO.[FACT_UNIFIED_VIOLATION_SNAPSHOT_REMOVE_DUPLICATES]
--GO

--EXEC DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_REMOVE_DUPLICATES
--*/


IF OBJECT_ID('SANDBOX.dbo.FACT_UNIFIED_VIOLATION_DUPS') IS NOT NULL DROP TABLE SANDBOX.dbo.FACT_UNIFIED_VIOLATION_DUPS;

CREATE TABLE SANDBOX.DBO.FACT_UNIFIED_VIOLATION_DUPS WITH(HEAP, DISTRIBUTION = HASH(TART_ID))AS
SELECT TART_ID, DAY_ID, COUNT_BIG(1) CNT--, COUNT_BIG(DISTINCT LEVEL_1) 
FROM EDW_RITE.dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT
GROUP BY TART_ID, DAY_ID
HAVING COUNT_BIG(1) > 1




--SELECT COUNT_BIG(1) CNT FROM SANDBOX.DBO.FACT_UNIFIED_VIOLATION_DUPS

--IF OBJECT_ID('SANDBOX.dbo.FACT_UNIFIED_VIOLATION_VIOL_TX') IS NOT NULL DROP TABLE SANDBOX.dbo.FACT_UNIFIED_VIOLATION_VIOL_TX;
--CREATE TABLE SANDBOX.DBO.FACT_UNIFIED_VIOLATION_VIOL_TX WITH(HEAP, DISTRIBUTION = HASH(TART_ID))AS
--SELECT TART_ID, DAY_ID, VIOLATION_ID, LANE_VIOL_ID --, COUNT_BIG(1) CNT
--FROM EDW_RITE.dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT
--WHERE DMV_STS LIKE 'VIOL%'


----SELECT DMV_STS, COUNT_BIG(1) CNT 
----FROM EDW_RITE.dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT
----WHERE TART_ID IN (SELECT TART_ID FROM SANDBOX.dbo.FACT_UNIFIED_VIOLATION_DUPS) --AND DMV_STS IN ('VIOL-TX')  -- 358011
----GROUP BY DMV_STS

--CREATE TABLE SANDBOX.DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_VIOL_TX_RETURN WITH(HEAP, DISTRIBUTION = HASH(VIOLATION_ID))AS
--SELECT VIOLATION_ID,DMV_STS,TXN_NAME
--	,CASE 
--		WHEN DMV_STS IN ('VIOL-NTX','VIOL-TX','LP-M-VLTR','LP-NDMV','LP-NV-TIME','LP-OTHER')
--				THEN 'VIOL-UM-DMV'
--		WHEN DMV_STS = 'VIOL-M-DMV'
--				THEN 'VIOL-M-DMV'
--		ELSE '-1'
--	END  AS LEVEL_8
--	,CASE 
--		WHEN TXN_NAME IN ('VIOL-UBR-C','VIOL-UBR-N')
--				THEN 'VIOL-UBR'
--		WHEN DMV_STS IN ('LP-M-VLTR','LP-NDMV','LP-NV-TIME','LP-OTHER')
--				THEN 'VIOL-TX'
--		WHEN DMV_STS = 'VIOL-NTX'
--				THEN 'VIOL-NTX'
--		ELSE ISNULL(TXN_NAME,'-1')
--	END AS LEVEL_9
--	,CASE 
--		WHEN TXN_NAME IN ('VIOL-UBR-C','VIOL-UBR-N')
--				THEN ISNULL(TXN_NAME,'-1')
--		WHEN DMV_STS IN ('LP-M-VLTR','LP-NDMV','LP-NV-TIME','LP-OTHER')
--				THEN ISNULL(DMV_STS,'-1')
--		ELSE '-1'
--	END AS LEVEL_10
--FROM DBO.FACT_VIOLATIONS_DETAIL
--WHERE VIOLATION_ID IN (SELECT VIOLATION_ID FROM SANDBOX.dbo.FACT_UNIFIED_VIOLATION_VIOL_TX) AND DMV_STS NOT LIKE 'VIOL%' AND DMV_STS != '-1'




--UPDATE EDW_RITE.dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT
--SET FACT_UNIFIED_VIOLATION_SNAPSHOT.DMV_STS = R.DMV_STS
--	, FACT_UNIFIED_VIOLATION_SNAPSHOT.LEVEL_8 = R.LEVEL_8
--	, FACT_UNIFIED_VIOLATION_SNAPSHOT.LEVEL_9 = R.LEVEL_9
--	, FACT_UNIFIED_VIOLATION_SNAPSHOT.LEVEL_10 = R.LEVEL_10
--FROM  SANDBOX.DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_VIOL_TX_RETURN R
--WHERE FACT_UNIFIED_VIOLATION_SNAPSHOT.VIOLATION_ID = R.VIOLATION_ID

--ORDER BY TART_ID
DECLARE @MIND INT, @MAXD INT

SELECT @MIND = MIN(DAY_ID), @MAXD = MAX(DAY_ID)  FROM SANDBOX.DBO.FACT_UNIFIED_VIOLATION_DUPS
--SELECT COUNT_BIG(1) FROM SANDBOX.DBO.FACT_UNIFIED_VIOLATION_DUPS  -- 872376

IF OBJECT_ID('SANDBOX.dbo.FACT_UNIFIED_VIOLATION_TO_INSERT') IS NOT NULL DROP TABLE SANDBOX.dbo.FACT_UNIFIED_VIOLATION_TO_INSERT;
CREATE TABLE SANDBOX.dbo.FACT_UNIFIED_VIOLATION_TO_INSERT WITH (HEAP, DISTRIBUTION = HASH(TART_ID)) AS --EXPLAIN
SELECT 
		LEVEL_0,LEVEL_1,LEVEL_2,LEVEL_3,LEVEL_4,LEVEL_5,LEVEL_6,LEVEL_7,LEVEL_8,LEVEL_9,LEVEL_10,TART_ID,DAY_ID,PMTY_ID,VCLY_ID,AVI_TAG_STATUS,LANE_ID,Local_Time,EAR_REV,POS_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,LANE_VIOL_ID,VIOL_DATE,AXLE_COUNT,
		LANE_VIOL_STATUS,LANE_REVIEW_STATUS,VIOLATION_CODE,VIOL_CREATED,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,OUT_OF_STATE_IND,REVIEW_DATE,VIOL_REJECT_TYPE,TOLL_DUE,TOLL_PAID,VIOLATION_ID,STATUS_DATE,MANUAL_VIOL_FLAG,DRIVER_LIC_STATE,VIOLATOR_ID,
		VIOL_STATUS,TRANSACTION_ID,DISPOSITION,VTOLL_SEND_DATE,DATE_EXCUSED,EXCUSED_REASON,EXCUSED_BY,TTXN_ID,AMOUNT,IOP_REV,TOLL_REV,VTOLL_REV,IOP_FLAG,POSTED_DATE,POSTED_DAY_ID,SOURCE_CODE,ACCT_ID,TAG_ID,TAG_AGENCY_ID,DMV_STS,TXN_NAME,
		NOT_TRANS_REVIEW_STATUS_ABBREV,LVL_TVL,VBI_INVOICE_ID,VIOL_INVOICE_ID,PAYMENT_DATE,DEPOSIT_DATE,SPLIT_AMOUNT,FEES_PAID,AMT_PAID,VBI_INVOICE_DATE,VBI_STATUS,VI_INVOICE_DATE,VIOL_INV_STATUS,INVOICE_STAGE_ID,VES_SERIAL_NO,
		BAD_ADDRESS_FLAG,FLEET_FLAG,UnPursuable_FLAG,ADJ_REV,POSTED_REV,DELETED,DATA_START_DATE,DATA_END_DATE
FROM (
	SELECT --TOP 1000 
		FT.*, 
		ROW_NUMBER() OVER (PARTITION BY TART_ID ORDER BY STATUS_DATE DESC, POSTED_DATE DESC, REVIEW_DATE DESC, VIOLATION_ID DESC, LANE_VIOL_ID DESC, VIOLATOR_ID DESC) AS RN
	FROM EDW_RITE.dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT FT WHERE DAY_ID BETWEEN @MIND AND @MAXD AND TART_ID IN (SELECT TART_ID FROM SANDBOX.dbo.FACT_UNIFIED_VIOLATION_DUPS)
) A
WHERE RN = 1

DELETE 
FROM EDW_RITE.dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT
WHERE TART_ID IN (SELECT TART_ID FROM SANDBOX.dbo.FACT_UNIFIED_VIOLATION_DUPS) --AND DMV_STS IN ('VIOL-TX')

INSERT INTO EDW_RITE.dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT
SELECT * FROM SANDBOX.dbo.FACT_UNIFIED_VIOLATION_TO_INSERT

IF OBJECT_ID('SANDBOX.dbo.FACT_UNIFIED_VIOLATION_DUPS') IS NOT NULL DROP TABLE SANDBOX.dbo.FACT_UNIFIED_VIOLATION_DUPS;
IF OBJECT_ID('SANDBOX.dbo.FACT_UNIFIED_VIOLATION_TO_INSERT') IS NOT NULL DROP TABLE SANDBOX.dbo.FACT_UNIFIED_VIOLATION_TO_INSERT;

