CREATE PROC [DBO].[FACT_INVOICE_VIOL_LEFT_ON_INV_STAGE_LOAD] AS 

IF OBJECT_ID('dbo.FACT_INVOICE_VIOL_LEFT_ON_INV_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_VIOL_LEFT_ON_INV_STAGE

CREATE TABLE dbo.FACT_INVOICE_VIOL_LEFT_ON_INV_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))--, CLUSTERED INDEX (VIOLATOR_ID, VIOLATION_ID)) 
AS 

SELECT 
         VIOLATOR_ID
       , A.VBI_INVOICE_ID
       , A.VIOL_INVOICE_ID
       , MAX(CASE WHEN CUR_INV_SET.VIOLATION_ID IS NOT NULL THEN 1 ELSE 0 END) AS CURRENT_INVOICE_LEVEL_FLAG
       , SUM(Case When (CASE WHEN CUR_INV_SET.VIOLATION_ID IS NOT NULL THEN 1 ELSE 0 END) = 1 And A.INV_DTL_VIOL_STATUS In ('L','V','ZH','E','B','U','Q','S','F','C') 
                        Then 0 
                        When (CASE WHEN CUR_INV_SET.VIOLATION_ID IS NOT NULL THEN 1 ELSE 0 END) = 0 
                        Then 0 
                        Else TOLL_DUE_ON_INV 
                        End) AS TOLL_DUE_LEFT_ON_INV
       , COUNT(Case When (CASE WHEN CUR_INV_SET.VIOLATION_ID IS NOT NULL THEN 1 ELSE 0 END) = 1 And A.INV_DTL_VIOL_STATUS In ('L','V','ZH','E','B','U','Q','S','F','C') 
                        Then 0 
                        When (CASE WHEN CUR_INV_SET.VIOLATION_ID IS NOT NULL THEN 1 ELSE 0 END) = 0 
                        Then 0 
                        Else 1 
                        End) AS TXN_CNT_LEFT_ON_INV
		-- The below amount is for transactions which are paid on the invoice.
		, SUM(Case When (CASE WHEN CUR_INV_SET.VIOLATION_ID IS NOT NULL THEN 1 ELSE 0 END) = 1 And A.INV_DTL_VIOL_STATUS In ('P','K') Then A.AMT_PAID 
									When (CASE WHEN CUR_INV_SET.VIOLATION_ID IS NOT NULL THEN 1 ELSE 0 END) = 1 And A.INV_DTL_VIOL_STATUS = 'T' And A.DISPOSITION = 'P' Then A.AMT_PAID Else 0 End)
						AS TOLLS_PAID_ON_TXN
FROM dbo.FACT_INVOICE_DETAIL_STAGE A
LEFT JOIN dbo.FACT_INVOICE_DETAIL_VIOLATION_CURRENT_INVOICE_STAGE CUR_INV_SET 
ON     A.VIOLATION_ID = CUR_INV_SET.VIOLATION_ID
       AND A.VBI_INVOICE_ID = CUR_INV_SET.VBI_INVOICE_ID 
       AND A.VIOL_INVOICE_ID = CUR_INV_SET.VIOL_INVOICE_ID 
--where A.VBI_INVOICE_ID = 191588559
GROUP BY  VIOLATOR_ID
       , A.VBI_INVOICE_ID
       , A.VIOL_INVOICE_ID


exec DropStats 'dbo','FACT_INVOICE_VIOL_LEFT_ON_INV_STAGE'

CREATE STATISTICS STATS_FACT_INVOICE_VIOL_LEFT_ON_INV_STAGE_001 ON [dbo].FACT_INVOICE_VIOL_LEFT_ON_INV_STAGE (VIOLATOR_ID)
CREATE STATISTICS STATS_FACT_INVOICE_VIOL_LEFT_ON_INV_STAGE_002 ON [dbo].FACT_INVOICE_VIOL_LEFT_ON_INV_STAGE (VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID)
CREATE STATISTICS STATS_FACT_INVOICE_VIOL_LEFT_ON_INV_STAGE_003 ON [dbo].FACT_INVOICE_VIOL_LEFT_ON_INV_STAGE (VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, TOLL_DUE_LEFT_ON_INV, TXN_CNT_LEFT_ON_INV)

