CREATE PROC [DBO].[HOST_ICRS_VPS_TGS_XREF_INCR_LOAD] AS 
BEGIN

	--STEP #1: CREATE STAGING TABLE
	IF OBJECT_ID('dbo.[HOST_ICRS_TGS_XREF_NEW]')>0 DROP TABLE dbo.[HOST_ICRS_TGS_XREF_NEW];

	--STEP #2: Create the NEW table with DISTRIBUTION = HASH([TART_ID]
	--CREATE TABLE dbo.[[HOST_ICRS_TGS_XREF_NEW]] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_ID))
	CREATE TABLE dbo.[HOST_ICRS_TGS_XREF_NEW] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(LANE_VIOL_ID))
	AS --EXPLAIN
	SELECT  COALESCE(HOST.TART_ID, TGS.TART_ID) TART_ID, 
			HOST.LANE_VIOL_ID, --COALESCE(HOST.LANE_VIOL_ID, VPS.LANE_VIOL_ID) LANE_VIOL_ID,
			--VPS.VIOLATION_ID,
			--COALESCE(TGS_VTOLL.TRANSACTION_ID, VPS.TRANSACTION_ID) TRANSACTION_ID,
			TGS.TTXN_ID,--COALESCE(TGS.TTXN_ID, TGS_VTOLL.TTXN_ID) TTXN_ID,
			COALESCE(HOST.TRANSACTION_FILE_DETAIL_ID,TGS.TRANSACTION_FILE_DETAIL_ID) TRANSACTION_FILE_DETAIL_ID --,VPS.TRANSACTION_FILE_DETAIL_ID,TGS_VTOLL.TRANSACTION_FILE_DETAIL_ID
			--EXPLAIN SELECT TOP(100) *
	FROM	dbo.HOST_ICRS_XREF_NEW HOST --HOST
	LEFT JOIN	dbo.HOST_TGS_XREF_NEW TGS ON TGS.TART_ID = HOST.TART_ID  --AND HOST.TART_ID IS NOT NULL
	--LEFT JOIN	dbo.ICRS_VPS_XREF VPS ON VPS.LANE_VIOL_ID = HOST.LANE_VIOL_ID  --AND HOST.LANE_VIOL_ID IS NOT NULL
	--LEFT JOIN	dbo.VPS_TGS_XREF TGS_VTOLL ON TGS_VTOLL.TRANSACTION_ID = VPS.TRANSACTION_ID  AND TGS_VTOLL.TRANSACTION_ID IS NOT NULL
	--SELECT COUNT_BIG(1) FROM dbo.[HOST_ICRS_TGS_XREF_NEW]; --8,373,035,083

	--STEP #3: Create the NEW table with DISTRIBUTION = HASH([TART_ID]
	IF OBJECT_ID('dbo.HOST_ICRS_VPS_TGS_XREF_STAGE')>0 DROP TABLE dbo.HOST_ICRS_VPS_TGS_XREF_STAGE;
	CREATE TABLE dbo.[HOST_ICRS_VPS_TGS_XREF_STAGE] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TRANSACTION_ID))
	AS --EXPLAIN
	SELECT  HOST.TART_ID, HOST.TTXN_ID,
			COALESCE(HOST.LANE_VIOL_ID, VPS.LANE_VIOL_ID) LANE_VIOL_ID,
			VPS.VIOLATION_ID,
			VPS.TRANSACTION_ID,--COALESCE(TGS_VTOLL.TRANSACTION_ID, VPS.TRANSACTION_ID) TRANSACTION_ID,
			COALESCE(HOST.TRANSACTION_FILE_DETAIL_ID,VPS.TRANSACTION_FILE_DETAIL_ID) TRANSACTION_FILE_DETAIL_ID --TGS_VTOLL.TRANSACTION_FILE_DETAIL_ID
			--EXPLAIN SELECT TOP(100) *
	FROM	[HOST_ICRS_TGS_XREF_NEW] HOST
	LEFT JOIN	dbo.ICRS_VPS_XREF_NEW VPS ON VPS.LANE_VIOL_ID = HOST.LANE_VIOL_ID  --AND HOST.LANE_VIOL_ID IS NOT NULL
	--LEFT JOIN	dbo.VPS_TGS_XREF TGS_VTOLL ON TGS_VTOLL.TRANSACTION_ID = VPS.TRANSACTION_ID  AND TGS_VTOLL.TRANSACTION_ID IS NOT NULL
	--SELECT COUNT_BIG(1) FROM dbo.[HOST_ICRS_VPS_TGS_XREF_STAGE]; --8,287,533,513 

	--STEP #4: Create the NEW table with DISTRIBUTION = HASH([TART_ID]
	IF OBJECT_ID('dbo.HOST_ICRS_VPS_TGS_XREF_FINAL')>0 DROP TABLE dbo.HOST_ICRS_VPS_TGS_XREF_FINAL;
	CREATE TABLE dbo.HOST_ICRS_VPS_TGS_XREF_FINAL WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_ID))
	AS --EXPLAIN
	SELECT  HOST.TART_ID, 
			HOST.LANE_VIOL_ID, --COALESCE(HOST.LANE_VIOL_ID, VPS.LANE_VIOL_ID) LANE_VIOL_ID,
			HOST.VIOLATION_ID,
			COALESCE(TGS_VTOLL.TRANSACTION_ID, HOST.TRANSACTION_ID) TRANSACTION_ID,
			COALESCE(HOST.TTXN_ID, TGS_VTOLL.TTXN_ID) TTXN_ID,
			COALESCE(HOST.TRANSACTION_FILE_DETAIL_ID,TGS_VTOLL.TRANSACTION_FILE_DETAIL_ID) TRANSACTION_FILE_DETAIL_ID
			--EXPLAIN SELECT TOP(100) *
	FROM	[HOST_ICRS_VPS_TGS_XREF_STAGE] HOST
	LEFT JOIN	dbo.VPS_TGS_XREF_NEW TGS_VTOLL ON TGS_VTOLL.TRANSACTION_ID = HOST.TRANSACTION_ID -- AND TGS_VTOLL.TRANSACTION_ID IS NOT NULL

	--STEP #1a: Total Records Before Insert
	SELECT COUNT_BIG(1) 'HOST_ICRS_VPS_TGS_XREF: Total Records Before Insert' FROM dbo.HOST_ICRS_VPS_TGS_XREF; --8,287,533,513

	--STEP #1b: Total Records HOST_ICRS_VPS_TGS_XREF_FINAL
	SELECT COUNT_BIG(1) 'HOST_ICRS_VPS_TGS_XREF_FINAL' FROM dbo.HOST_ICRS_VPS_TGS_XREF_FINAL; --8,287,533,513

	--STEP #2: INSERT INTO HOST_ICRS_VPS_TGS_XREF--EXPLAIN
	INSERT INTO HOST_ICRS_VPS_TGS_XREF
	SELECT	*
	FROM	HOST_ICRS_VPS_TGS_XREF_FINAL

	--STEP #3: UPDATE STATISTICS
	UPDATE STATISTICS HOST_ICRS_VPS_TGS_XREF;
		
	--STEP #4: Total Records After Insert
	SELECT COUNT_BIG(1) 'HOST_ICRS_VPS_TGS_XREF: Total Records After Insert' FROM dbo.HOST_ICRS_VPS_TGS_XREF; --8,287,533,513

END

