CREATE PROC [DBO].[FACT_VIOLATIONS_DETAIL_LOAD_INCR] AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_VIOLATIONS_DETAIL_LOAD_INCR') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_VIOLATIONS_DETAIL_LOAD_INCR
GO

EXEC DBO.FACT_VIOLATIONS_DETAIL_LOAD_INCR

SELECT COUNT_BIG(1) FROM dbo.FACT_VIOLATIONS_DETAIL  -- 1605640805

SELECT  TOP 100
	DAY_ID,LANE_ID,VIOLATION_ID,VIOL_STATUS,STATUS_DESCR,STATUS_DATE,VIOL_DATE,VIOL_TYPE,TOLL_DUE,TOLL_PAID,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,VCLY_ID,VEHICLE_CLASS,
	DRIVER_LIC_STATE,TOLLTAG_ACCT_ID,TAG_ID,TT_ID,AGENCY_ID,EXCUSED_REASON,DATE_EXCUSED,EXCUSED_BY,EXCUSED_USER_ID,VIOLATOR_ID,REVIEW_STATUS,REV_STATUS_DESCR,LANE_VIOL_ID,TRANSACTION_ID,DISPOSITION,
	ORIGIN_TYPE,CURRENT_TYPE,TRANSACTION_FILE_DETAIL_ID,POST_DATE,ADDRESS1,ADDRESS2,CITY,[STATE],ZIP_CODE,ADDR_STATUS,DMV_STS,TXN_NAME,LAST_UPDATE_DATE'
FROM dbo.FACT_VIOLATIONS_DETAIL


SELECT * FROM edw_rite.dbo.PROCESS_LOG 
WHERE LOG_SOURCE = 'FACT_VIOLATIONS_DETAIL' AND LOG_DATE > '2019-09-01 8:00:00'
ORDER BY LOG_SOURCE, LOG_DATE


*/


/*	SELECT TOP 100 * FROM FACT_VIOLATIONS_DETAIL; SELECT COUNT(1) FROM FACT_VIOLATIONS_DETAIL */  
--#1	Shankar Metla	2018-09-08	CREATED
--#2	Andy Filipps	2018-10-02	Full rewrite for a new approach to avoid full month load
--#3	Andy Filipps	2019-12-12	Added EXCUSED_USER_ID and TT_ID, Statistics changed


DECLARE @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT, @LOAD_CONTROL_DATE DATETIME2(2) 
DECLARE @ERROR_MESSAGE VARCHAR(1000)
DECLARE @TABLE_NAME VARCHAR(100) = 'FACT_VIOLATIONS_DETAIL'

-- STEP 1: Get the next Load Control Date from the Control Table
SET @LOG_START_DATE = GETDATE()
SELECT	@LOAD_CONTROL_DATE = MIN(LAST_RUN_DATE)
FROM (
		SELECT	LAST_RUN_DATE FROM	dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = @TABLE_NAME
		UNION ALL
		SELECT	LAST_RUN_DATE FROM	dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = 'FACT_VIOLATIONS_DETAIL/DMV.PLATES'
		UNION ALL
		SELECT	LAST_RUN_DATE FROM	dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = 'FACT_VIOLATIONS_DETAIL/VIOLATOR'
		UNION ALL
		SELECT	LAST_RUN_DATE FROM	dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = 'FACT_VIOLATIONS_DETAIL/VIOLATOR_ADDRESS'
	) A

IF @LOAD_CONTROL_DATE IS NULL 
BEGIN
	SET @LOAD_CONTROL_DATE = CAST(LEFT(CONVERT(VARCHAR(8), @LOG_START_DATE, 112), 6) + '01' AS DATETIME2(2)) 
END

---- !!!!!!!!!!!!!!!!!!!!! TESTING ONLY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
--SET @LOAD_CONTROL_DATE = CAST('2018-09-01 00:00:00.00' AS DATETIME2(2)) 
---- !!!!!!!!!!!!!!!!!!!!! TESTING ONLY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

--PRINT @LOAD_CONTROL_DATE

-- STEP 2: Initiate LOG
SELECT  @LOG_MESSAGE = 'Started to load updates from ' + CONVERT(VARCHAR(19),@LOAD_CONTROL_DATE,121)
EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL


DECLARE @FULL_RELOAD BIT  
--EXEC dbo.GetLoadStartDatetime 'dbo.PAYMENT_LINE_ITEMS_VPS', @LAST_UPDATE_DATE OUTPUT
SELECT @FULL_RELOAD = CASE WHEN C.column_id IS NULL THEN 1 ELSE 0 END FROM sys.tables t LEFT JOIN sys.columns c ON c.object_id = t.object_id AND c.name = 'TT_ID' WHERE t.name = @TABLE_NAME

IF @FULL_RELOAD = 1 
BEGIN

	DECLARE @SQL VARCHAR(MAX)
	DECLARE @PART_RANGES VARCHAR(MAX) = ''
	--EXEC DBO.GET_PARTITION_MONTH_RANGE_STRING @PART_RANGES OUTPUT
	EXEC DBO.GET_PARTITION_DAYID_RANGE_STRING @PART_RANGES OUTPUT

	--PRINT @PART_RANGES
	IF OBJECT_ID('dbo.FACT_VIOLATIONS_DETAIL_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_VIOLATIONS_DETAIL_NEW_SET

	SET @SQL = '
	CREATE TABLE dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] WITH (CLUSTERED INDEX (VIOLATION_ID), DISTRIBUTION = HASH([VIOLATION_ID]), PARTITION (DAY_ID RANGE RIGHT FOR VALUES (' + @PART_RANGES + '))) AS
	SELECT 
			 CAST(main_table.[DAY_ID] AS int) AS [DAY_ID]
			, main_table.[DAY_ID] / 100 AS MONTH_ID
			, ISNULL(CAST(main_table.[LANE_ID] AS INT), 0) AS [LANE_ID]
			, ISNULL(CAST(main_table.[VIOLATION_ID] AS bigint), 0) AS [VIOLATION_ID]
			, ISNULL(CAST(main_table.[VIOL_STATUS] AS varchar(2)), '''') AS [VIOL_STATUS]
			, CAST(main_table.[STATUS_DESCR] AS varchar(40)) AS [STATUS_DESCR]
			, ISNULL(CAST(main_table.[STATUS_DATE] AS datetime2(0)), ''1900-01-01'') AS [STATUS_DATE]
			, ISNULL(CAST(main_table.[VIOL_DATE] AS datetime2(0)), ''1900-01-01'') AS [VIOL_DATE]
			, ISNULL(CAST(main_table.[VIOL_TYPE] AS varchar(1)), '''') AS [VIOL_TYPE]
			, ISNULL(CAST(main_table.[TOLL_DUE] AS decimal(9,2)), 0) AS [TOLL_DUE]
			, ISNULL(CAST(main_table.[TOLL_PAID] AS decimal(9,2)), 0) AS [TOLL_PAID]
			, ISNULL(CAST(main_table.[LICENSE_PLATE_ID] AS int), 0) AS [LICENSE_PLATE_ID]
			, ISNULL(CAST(main_table.[LIC_PLATE_NBR] AS varchar(15)), '''') AS [LIC_PLATE_NBR]
			, ISNULL(CAST(main_table.[LIC_PLATE_STATE] AS varchar(3)), '''') AS [LIC_PLATE_STATE]
			, ISNULL(CAST(main_table.[VCLY_ID] AS SMALLINT), 0) AS [VCLY_ID]
			, ISNULL(CAST(main_table.[VEHICLE_CLASS] AS SMALLINT), 0) AS [VEHICLE_CLASS]
			, CAST(main_table.[DRIVER_LIC_STATE] AS varchar(3)) AS [DRIVER_LIC_STATE]
			, ISNULL(CAST(main_table.[TOLLTAG_ACCT_ID] AS int), 0) AS [ACCT_ID]
			, ISNULL(CAST(main_table.[TAG_ID] AS varchar(12)), '''') AS [TAG_ID]
			, ISNULL(ATT.TT_ID, -1) AS TT_ID
			, ISNULL(CAST(main_table.[AGENCY_ID] AS varchar(4)), '''') AS [AGENCY_ID]
			, CAST(main_table.[EXCUSED_REASON] AS varchar(5)) AS [EXCUSED_REASON]
			, CAST(main_table.[DATE_EXCUSED] AS datetime2(0)) AS [DATE_EXCUSED]
			, CAST(main_table.[EXCUSED_BY] AS varchar(30)) AS [EXCUSED_BY]
			--, ISNULL(U.USERID,-1) AS EXCUSED_USER_ID
			, ISNULL(CAST(main_table.[VIOLATOR_ID] AS decimal(10,0)), 0) AS [VIOLATOR_ID]
			, CAST(main_table.[REVIEW_STATUS] AS varchar(1)) AS [REVIEW_STATUS]
			, CAST(main_table.[REV_STATUS_DESCR] AS varchar(40)) AS [REV_STATUS_DESCR]
			, ISNULL(CAST(main_table.[LANE_VIOL_ID] AS decimal(12,0)), 0) AS [LANE_VIOL_ID]
			, ISNULL(CAST(main_table.[TRANSACTION_ID] AS decimal(15,0)), 0) AS [TRANSACTION_ID]
			, CAST(main_table.[DISPOSITION] AS varchar(1)) AS [DISPOSITION]
			, CAST(main_table.[ORIGIN_TYPE] AS varchar(1)) AS [ORIGIN_TYPE]
			, CAST(main_table.[CURRENT_TYPE] AS varchar(1)) AS [CURRENT_TYPE]
			, ISNULL(CAST(main_table.[TRANSACTION_FILE_DETAIL_ID] AS decimal(14,0)), 0) AS [TRANSACTION_FILE_DETAIL_ID]
			, CAST(main_table.[POST_DATE] AS datetime2(0)) AS [POST_DATE]
			--, CAST(main_table.[ADDRESS1] AS varchar(30)) AS [ADDRESS1]
			--, CAST(main_table.[ADDRESS2] AS varchar(30)) AS [ADDRESS2]
			--, ISNULL(CAST(main_table.[CITY] AS varchar(20)), '''') AS [CITY]
			--, ISNULL(CAST(main_table.[STATE] AS varchar(3)), '''') AS [STATE]
			--, ISNULL(CAST(main_table.[ZIP_CODE] AS varchar(6)), '''') AS [ZIP_CODE]
			--, CAST(main_table.[ADDR_STATUS] AS varchar(2)) AS [ADDR_STATUS]
			, ISNULL(CAST(main_table.[DMV_STS] AS varchar(10)), '''') AS [DMV_STS]
			, ISNULL(CAST(main_table.[TXN_NAME] AS varchar(10)), '''') AS [TXN_NAME]
			, ISNULL(CAST(CASE 
							WHEN FFT.VIOLATION_ID IS NOT NULL AND (FFT.VIOL_DATE BETWEEN FFF.PURCHASE_DATE AND ISNULL(FFF.SELL_DATE,''2900-01-01'')) THEN 1
							ELSE 0
						END AS smallint), 0) AS FLEET_FLAG
			, CAST(main_table.[LAST_UPDATE_DATE] AS datetime2(6)) AS [LAST_UPDATE_DATE]
	FROM dbo.[FACT_VIOLATIONS_DETAIL] AS main_table
	--LEFT JOIN dbo.DIM_USERS U ON main_table.EXCUSED_BY = U.USERNAME
	LEFT JOIN dbo.TOLL_TAGS ATT ON ATT.TAG_ID = main_table.TAG_ID AND ATT.AGENCY_ID = main_table.AGENCY_ID
	LEFT JOIN LND_LG_VPS.VP_OWNER.FA_FLEET_TRANSACTIONS FFT ON FFT.VIOLATION_ID = main_table.VIOLATION_ID
	LEFT JOIN LND_LG_VPS.VP_OWNER.FA_FLEET_FILE FFF ON FFF.FLEET_FILE_ID = FFT.FLEET_FILE_ID
	OPTION (LABEL = ''FACT_VIOLATIONS_DETAIL_NEW_SET LOAD'');'

	EXEC (@SQL)
	--EXEC dbo.PRINT_LONG_VARIABLE_VALUE @SQL
	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DETAIL_001] ON dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] ([DAY_ID], [LANE_ID]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DETAIL_002] ON dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] ([VIOL_STATUS]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DETAIL_003] ON dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] ([LANE_VIOL_ID],[VIOLATION_ID]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DETAIL_004] ON dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] (TRANSACTION_FILE_DETAIL_ID);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DETAIL_005] ON dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] ([LICENSE_PLATE_ID]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DETAIL_006] ON dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] ([LANE_ID]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DETAIL_007] ON dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] ([VIOL_TYPE]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DETAIL_008] ON dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] ([ACCT_ID],TT_ID);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DETAIL_009] ON dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] ([VCLY_ID]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DETAIL_010] ON dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] ([VEHICLE_CLASS]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DETAIL_011] ON dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] ([DATE_EXCUSED]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DETAIL_012] ON dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] ([VIOLATOR_ID]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DETAIL_013] ON dbo.[FACT_VIOLATIONS_DETAIL_NEW_SET] (MONTH_ID,DAY_ID,[VIOLATION_ID]);

	SET @sql = '
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_PREV]'') IS NOT NULL	DROP TABLE dbo.[' + @TABLE_NAME + '_PREV];
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + ']'') IS NOT NULL			RENAME OBJECT::dbo.[' + @TABLE_NAME + '] TO [' + @TABLE_NAME + '_PREV];
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_NEW_SET]'') IS NOT NULL	RENAME OBJECT::dbo.[' + @TABLE_NAME + '_NEW_SET] TO [' + @TABLE_NAME + '];'
	EXEC (@SQL)

	SET  @LOG_MESSAGE = 'Complete Full reload of the Table with a new column <<TT_ID>>'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

END


-- STEP 3: Get maximum Partition and it's baundry value
--EXEC DBO.PARTITION_MANAGE_MONTHLY_LOAD @TABLE_NAME
--SELECT CONVERT(VARCHAR(8),DATEADD(YEAR,-2,MAX(VIOL_DATE)),112) FROM LND_LG_VPS.VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_DATE >= '20191201'
DECLARE @MAX_VIOL_DATE_M2Y DATE = (SELECT DATEADD(YEAR,-2,MAX(VIOL_DATE)) FROM LND_LG_VPS.VP_OWNER.VIOLATIONS WHERE LAST_UPDATE_DATE >= @LOAD_CONTROL_DATE)
DECLARE @PREV_MAX_VIOL_DATE_M2Y DATE = (SELECT DATEADD(YEAR,-2,@LOAD_CONTROL_DATE))

--IF OBJECT_ID('dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES') IS NOT NULL DROP TABLE dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES
IF OBJECT_ID('dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES') IS NULL
BEGIN
	-- First create a table with only changes of LND_LG_VPS.VP_OWNER.VIOLATIONS - use this table in 3 procs!
	CREATE TABLE dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES WITH (HEAP, DISTRIBUTION = HASH(VIOLATION_ID)) AS
	-- EXPLAIN
	SELECT 
		CAST(CONVERT(VARCHAR(8), V.VIOL_DATE,112) AS INT) DAY_ID 
		,ISNULL(CAST(V.VIOLATION_ID AS BIGINT),-1) AS VIOLATION_ID
		,ISNULL(CAST(V.LANE_ID AS INT), -1) LANE_ID
		,VIOL_DATE,VIOL_TIME,VIOL_TYPE,TOLL_DUE,TOLL_PAID,LIC_PLATE_NBR,LIC_PLATE_STATE
		,ISNULL(CAST(V.VEHICLE_CLASS AS SMALLINT), -1) VEHICLE_CLASS
		,ISNULL(V.VIOL_STATUS,'-1') VIOL_STATUS
		,STATUS_DATE
		,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_COLOR,VEHICLE_YEAR,VEHICLE_BODY,OCCUPANT_DESCR,NO_PAY_ATTEMPT,WINDOW_UP
		,RECORDED_BY,RECORDER_EMP_ID,DRIVER_LIC_NBR,DRIVER_LIC_STATE,TOLLTAG_ACCT_ID AS ACCT_ID
		,ISNULL(TAG_ID,'-1') TAG_ID
		,ISNULL(AGENCY_ID,'-1') AGENCY_ID
		,CREATED_BY,DATE_CREATED,MODIFIED_BY,DATE_MODIFIED,EXCUSED_REASON,EXCUSED_BY,DATE_EXCUSED
		,ISNULL(V.VIOLATOR_ID, 		-1)		AS 	VIOLATOR_ID
		,REVIEW_STATUS
		,ISNULL(COALESCE(V.LANE_VIOL_ID, X.LANE_VIOL_ID), -1)	AS LANE_VIOL_ID
		,NOTIFICATION_DATE,OLD_VIOLATOR_ID
		,ISNULL(TRANSACTION_ID, 		-1)		AS TRANSACTION_ID
		,DISPOSITION,COMMENT_DATE,UNPAID_TOLL_DATE,HOST_TRANSACTION_ID,VIO_VIOLATION_ID,ICRS_DATE_CREATED,ORIGIN_TYPE,CURRENT_TYPE
		,ISNULL(TRANSACTION_FILE_DETAIL_ID, 		-1)		AS TRANSACTION_FILE_DETAIL_ID
		,POST_DATE,LAST_UPDATE_TYPE,LAST_UPDATE_DATE
	FROM LND_LG_VPS.VP_OWNER.VIOLATIONS V 
	LEFT JOIN dbo.MANUAL_VIOLATIONS_ID_LANE_VIOL_ID_XREF X ON X.VIOLATION_ID = V.VIOLATION_ID
	WHERE V.LAST_UPDATE_DATE >= @LOAD_CONTROL_DATE
		OR EXISTS (SELECT 1 FROM LND_LG_DMV.DMVLD.PLATES P WHERE P.LAST_UPDATE_DATE >= @LOAD_CONTROL_DATE AND V.LIC_PLATE_NBR = P.LIC_PLATE_NBR AND V.LIC_PLATE_STATE = P.LIC_PLATE_STATE)
		OR EXISTS (SELECT 1 FROM dbo.VIOLATOR_ADDRESS VA WHERE VA.LAST_UPDATE_DATE >= @LOAD_CONTROL_DATE AND VA.VIOLATOR_ID = V.VIOLATOR_ID)
		OR EXISTS (SELECT 1 FROM LND_LG_VPS.VP_OWNER.VIOLATORS VR WHERE VR.LAST_UPDATE_DATE >= @LOAD_CONTROL_DATE AND VR.VIOLATOR_ID = V.VIOLATOR_ID)
		OR VIOL_DATE BETWEEN @PREV_MAX_VIOL_DATE_M2Y AND @MAX_VIOL_DATE_M2Y
	OPTION (LABEL ='VP_OWNER_VIOLATIONS_LAST_CHANGES LOAD');

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Complete VP_OWNER_VIOLATIONS_LAST_CHANGES Table'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	-- Now have to capture all new users
	--DECLARE @LAST_USERID AS INT

	--SELECT @LAST_USERID = MAX(USERID) FROM dbo.DIM_USERS

	--IF OBJECT_ID('dbo.DIM_USERS_STAGE') IS NOT NULL DROP TABLE dbo.DIM_USERS_STAGE

	--CREATE TABLE dbo.DIM_USERS_STAGE WITH (CLUSTERED INDEX (USERID), DISTRIBUTION = REPLICATE) AS
	--WITH CTE AS
	--(
	--	SELECT 
	--		CREATED_BY AS USERNAME
	--	FROM dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES  GROUP BY CREATED_BY
	--	UNION ALL
	--	SELECT 
	--		MODIFIED_BY AS USERNAME
	--	FROM dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES  GROUP BY MODIFIED_BY
	--	UNION ALL
	--	SELECT 
	--		EXCUSED_BY AS USERNAME
	--	FROM dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES  GROUP BY EXCUSED_BY
	--)
	--,CTE2 AS
	--(
	--	SELECT USERNAME
	--	FROM CTE
	--	GROUP BY USERNAME
	--)
	--SELECT 
	--	(ROW_NUMBER() OVER (ORDER BY USERNAME)) + @LAST_USERID AS USERID,
	--	USERNAME
	--FROM CTE2
	--WHERE USERNAME NOT IN (SELECT USERNAME FROM dbo.DIM_USERS)

	--INSERT INTO dbo.DIM_USERS
	--SELECT USERID,USERNAME FROM dbo.DIM_USERS_STAGE

	--UPDATE STATISTICS dbo.DIM_USERS

	--IF OBJECT_ID('dbo.DIM_USERS_STAGE') IS NOT NULL DROP TABLE dbo.DIM_USERS_STAGE

	--EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	--SET  @LOG_MESSAGE = 'New users added to dbo.DIM_USERS'
	--EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

END -- IF OBJECT_ID('dbo.FACT_UVS_STAGE' + @TT_NUMBER) IS NOT NULL
ELSE
BEGIN
	SET  @LOG_MESSAGE = 'Table of changes of LND_LG_VPS.VP_OWNER.VIOLATIONS founded - no need to load again.'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL
	
END 

-- Run procs that have some data we need to put to this table
BEGIN TRY
	EXEC DBO.FACT_VIOLATIONS_DMV_STATUS_DETAIL_LOAD_INCR @LOAD_CONTROL_DATE
END	TRY	
BEGIN CATCH
	SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
	SET @ERROR_MESSAGE = 'FACT_VIOLATIONS_DMV_STATUS_DETAIL_LOAD_INCR FAILED: ' + @ERROR_MESSAGE
	EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @ERROR_MESSAGE,  -1
END CATCH
BEGIN TRY
	EXEC DBO.FACT_VIOLATIONS_BR_DETAIL_LOAD_INCR @LOAD_CONTROL_DATE
END	TRY	
BEGIN CATCH
	SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
	SET @ERROR_MESSAGE = 'FACT_VIOLATIONS_BR_DETAIL_LOAD_INCR FAILED: ' + @ERROR_MESSAGE
	EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @ERROR_MESSAGE,  -1
END CATCH

--STEP #7: -- Getting all changes to a new table
IF OBJECT_ID('dbo.FACT_VIOLATIONS_DETAIL_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_VIOLATIONS_DETAIL_NEW_SET

CREATE TABLE dbo.FACT_VIOLATIONS_DETAIL_NEW_SET WITH (CLUSTERED INDEX (VIOLATION_ID), DISTRIBUTION = HASH(VIOLATION_ID)) AS
-- EXPLAIN
WITH CTE_DMV AS
(
	SELECT VIOLATION_ID, DMV_STS, ROW_NUMBER() OVER (PARTITION BY VIOLATION_ID ORDER BY DMV_RNG) AS RN
	FROM (		
			SELECT VIOLATION_ID, DMV_STS, CASE WHEN DMV_STS = '-1' THEN 3 WHEN DMV_STS LIKE 'VIOL%' THEN 2 ELSE 1 END AS DMV_RNG
			FROM dbo.FACT_VIOLATIONS_DMV_STATUS_DETAIL
		) A
)
SELECT  
	V.DAY_ID, 
	V.DAY_ID / 100 AS MONTH_ID,
	V.LANE_ID,
	V.VIOLATION_ID	, 
	V.VIOL_STATUS	,
	CASE	WHEN V.VIOL_STATUS = 'Q' THEN 'Excused Violations'
			ELSE VIOL_STATUS.VIOL_STATUS_DESCR 
	END STATUS_DESCR,
	V.STATUS_DATE	,
	V.VIOL_DATE	,
	V.VIOL_TYPE	,
	V.TOLL_DUE	,
	V.TOLL_PAID	,
	ISNULL(LP.LICENSE_PLATE_ID, - 1) LICENSE_PLATE_ID,
	V.LIC_PLATE_NBR	,
	V.LIC_PLATE_STATE	,
	ISNULL(CAST(CT.VCLY_ID AS SMALLINT), -1) AS VCLY_ID,
	ISNULL(CAST(V.VEHICLE_CLASS AS SMALLINT), -1) AS VEHICLE_CLASS,
	V.DRIVER_LIC_STATE	,
	ISNULL(V.ACCT_ID,-1)	ACCT_ID,
	V.TAG_ID,
	ISNULL(ATT.TT_ID, -1) TT_ID,
	V.AGENCY_ID,
	V.EXCUSED_REASON	,
	V.DATE_EXCUSED	,
	V.EXCUSED_BY	,
	--ISNULL(U.USERID, -1) AS EXCUSED_USER_ID	,
	V.VIOLATOR_ID,
	V.REVIEW_STATUS	,
	REVIEW_STATUS.REV_STATUS_DESCR,
	V.LANE_VIOL_ID,
	V.TRANSACTION_ID,
	V.DISPOSITION	,
	V.ORIGIN_TYPE	,
	V.CURRENT_TYPE	,
	V.TRANSACTION_FILE_DETAIL_ID,
	V.POST_DATE	,
	--VA.ADDRESS1	,
	--VA.ADDRESS2	,
	--ISNULL(VA.CITY,	'-1')  CITY,
	--ISNULL(VA.[STATE], '-1')  [STATE],
	--ISNULL(VA.ZIP_CODE,'-1')  ZIP_CODE,
	--VA.ADDR_STATUS,
	ISNULL(DMV.DMV_STS,'-1') DMV_STS,
	ISNULL(BR.TXN_NAME,'-1') TXN_NAME,
	ISNULL(CAST(CASE 
					WHEN FFT.VIOLATION_ID IS NOT NULL AND (FFT.VIOL_DATE BETWEEN FFF.PURCHASE_DATE AND ISNULL(FFF.SELL_DATE,'2900-01-01')) THEN 1
					ELSE 0
				END AS smallint), 0) AS FLEET_FLAG,
	V.LAST_UPDATE_DATE
FROM dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES V -- LND_LG_VPS.VP_OWNER.VIOLATIONS V
LEFT JOIN dbo.DIM_VEH_CLSS_TYPES CT  ON V.VEHICLE_CLASS = CT.AXLES
--LEFT JOIN dbo.VIOLATOR_ADDRESS VA ON VA.VIOLATOR_ID = V.VIOLATOR_ID AND VA.ADDR_STATUS = 'C'
LEFT JOIN dbo.VIOL_STATUS  ON V.VIOL_STATUS = VIOL_STATUS.VIOL_STATUS
LEFT JOIN dbo.REVIEW_STATUS  ON V.REVIEW_STATUS = REVIEW_STATUS.REVIEW_STATUS
LEFT JOIN dbo.DIM_LICENSE_PLATE LP ON  LP.LICENSE_PLATE_NBR = V.LIC_PLATE_NBR AND LP.LICENSE_PLATE_STATE = V.LIC_PLATE_STATE
LEFT JOIN CTE_DMV DMV ON DMV.VIOLATION_ID = V.VIOLATION_ID AND DMV.RN = 1
LEFT JOIN dbo.FACT_VIOLATIONS_BR_DETAIL BR ON BR.VIOLATION_ID = V.VIOLATION_ID
--LEFT JOIN dbo.DIM_USERS U ON V.EXCUSED_BY = U.USERNAME
LEFT JOIN dbo.TOLL_TAGS ATT ON ATT.TAG_ID = V.TAG_ID AND ATT.AGENCY_ID = V.AGENCY_ID
LEFT JOIN LND_LG_VPS.VP_OWNER.FA_FLEET_TRANSACTIONS FFT ON FFT.VIOLATION_ID = V.VIOLATION_ID
LEFT JOIN LND_LG_VPS.VP_OWNER.FA_FLEET_FILE FFF ON FFF.FLEET_FILE_ID = FFT.FLEET_FILE_ID
OPTION (LABEL ='FACT_VIOLATIONS_DETAIL LOAD');

-- Logging
EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = 'Got all changed rows:'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

-- Statistics needed for performance
--CREATE STATISTICS STATS_FACT_VIOLATIONS_DETAIL_TEMP_001 ON dbo.FACT_VIOLATIONS_DETAIL_NEW_SET (DAY_ID)
--CREATE STATISTICS STATS_FACT_VIOLATIONS_DETAIL_TEMP_002 ON dbo.FACT_VIOLATIONS_DETAIL_NEW_SET (VIOLATION_ID)

--DECLARE @SQL_SELECT VARCHAR(8000) = '
--	DAY_ID,LANE_ID,VIOLATION_ID,VIOL_STATUS,STATUS_DESCR,STATUS_DATE,VIOL_DATE,VIOL_TYPE,TOLL_DUE,TOLL_PAID,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,VCLY_ID,VEHICLE_CLASS,
--	DRIVER_LIC_STATE,TOLLTAG_ACCT_ID,TAG_ID,TT_ID,AGENCY_ID,EXCUSED_REASON,DATE_EXCUSED,EXCUSED_BY,EXCUSED_USER_ID,VIOLATOR_ID,REVIEW_STATUS,REV_STATUS_DESCR,LANE_VIOL_ID,TRANSACTION_ID,DISPOSITION,
--	ORIGIN_TYPE,CURRENT_TYPE,TRANSACTION_FILE_DETAIL_ID,POST_DATE,ADDRESS1,ADDRESS2,CITY,[STATE],ZIP_CODE,ADDR_STATUS,DMV_STS,TXN_NAME,LAST_UPDATE_DATE'

--DECLARE @TABLE_NAME VARCHAR(100) = 'FACT_VIOLATIONS_DETAIL'
DECLARE @IDENTITY_COLUMNS VARCHAR(8000) = '[VIOLATION_ID]'

EXEC DBO.PARTITION_SWITCH_MONTHLY_LOAD @TABLE_NAME,	@IDENTITY_COLUMNS
--EXEC DBO.PARTITION_SWITCH_NUMBER_BASED_LOAD @TABLE_NAME,	@IDENTITY_COLUMNS

--STEP #12: -- Set a new update date to LOAD_PROCESS_CONTROL table for the next load
SELECT @LOAD_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES
UPDATE dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @LOAD_CONTROL_DATE WHERE TABLE_NAME = 'FACT_VIOLATIONS_DETAIL'

SELECT @LOAD_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_DMV.DMVLD.PLATES
UPDATE dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @LOAD_CONTROL_DATE WHERE TABLE_NAME = 'FACT_VIOLATIONS_DETAIL/DMV.PLATES'

SELECT @LOAD_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  dbo.VIOLATOR_ADDRESS
UPDATE dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @LOAD_CONTROL_DATE WHERE TABLE_NAME = 'FACT_VIOLATIONS_DETAIL/VIOLATOR_ADDRESS'

SELECT @LOAD_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VIOLATORS
UPDATE dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @LOAD_CONTROL_DATE WHERE TABLE_NAME = 'FACT_VIOLATIONS_DETAIL/VIOLATOR'

--STEP #13: UPDATE STATISTICS and delete temp tables
UPDATE STATISTICS [dbo].FACT_VIOLATIONS_DETAIL  


IF OBJECT_ID('dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES') IS NOT NULL DROP TABLE dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES
IF OBJECT_ID('dbo.FACT_VIOLATIONS_DETAIL_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_VIOLATIONS_DETAIL_NEW_SET


