CREATE PROC [DBO].[FACT_INVOICE_VTOLL_AMOUNT_PAID_STAGE_LOAD] AS 


IF OBJECT_ID('dbo.FACT_INVOICE_VTOLL_AMOUNT_PAID_STAGE')>0 	DROP TABLE dbo.FACT_INVOICE_VTOLL_AMOUNT_PAID_STAGE

CREATE TABLE dbo.FACT_INVOICE_VTOLL_AMOUNT_PAID_STAGE WITH (CLUSTERED INDEX (VBI_INVOICE_ID, VIOL_INVOICE_ID), DISTRIBUTION = HASH(VIOLATOR_ID))--, CLUSTERED INDEX (VIOLATOR_ID, VIOLATION_ID)) 
AS 
-- EXPLAIN
SELECT VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, SUM(VTOLL_AMT_PAID) AS VTOLL_AMT_PAID
FROM 
(
	SELECT  
		--1 AS INVOICE_CATEGORY_ID, -- VB INVOICE VIOLATIONS NOT CONVERTED TO VIOL INVOICES 
		VBI.VIOLATOR_ID,
		VBI.VBI_INVOICE_ID, 
		-1 AS VIOL_INVOICE_ID,
		CASE 
			WHEN (VBI.VBI_STATUS = 'TS' and VBIV.VIOL_STATUS in ('T'))
			THEN  ISNULL(VHT.POSTED_REVENUE,viol.TOLL_PAID)
			ELSE 0
			END 
		AS VTOLL_AMT_PAID
	from dbo.VB_INVOICE_BATCHES vbib
		INNER JOIN dbo.VB_INVOICES vbi ON VBIB.VBB_BATCH_ID = VBI.VBB_BATCH_ID 
		INNER JOIN dbo.VB_INVOICE_VIOL vbiv ON vbi.vbi_invoice_id = vbiv.vbi_invoice_id
		INNER JOIN dbo.VIOLATIONS_DIST_ON_VIOLATION_ID viol ON vbiv.VIOLATION_ID = viol.VIOLATION_ID 
		LEFT JOIN dbo.VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID vht ON viol.VIOLATION_ID = vht.violation_id
	where 
			vb_inv_batch_type_code not IN  ('LN', 'FLN') 

	union all

	SELECT  
--		2 AS INVOICE_CATEGORY_ID, -- VIOL INVOICES CONVERTED FROM VB INVOICES
		VBI.VIOLATOR_ID,
		VBI.VBI_INVOICE_ID, 
		vi.VIOL_INVOICE_ID,
		CASE 
			WHEN (VI.VIOL_INV_STATUS = 'TS' and VIV.VIOL_STATUS = 'T')
			THEN  ISNULL(VHT.POSTED_REVENUE,viol.TOLL_PAID)
			ELSE 0 
			END 
		AS VTOLL_AMT_PAID
	from dbo.vb_invoice_batches vbib 
		INNER JOIN dbo.vb_invoices vbi ON VBIB.VBB_BATCH_ID = VBI.VBB_BATCH_ID  
		INNER JOIN dbo.vb_viol_invoices vbvi ON VBI.VBI_INVOICE_ID = VBVI.VBI_VBI_INVOICE_ID
		INNER JOIN dbo.viol_invoices vi ON VBVI.INV_VIOL_INVOICE_ID = VI.VIOL_INVOICE_ID
		INNER JOIN dbo.viol_invoice_viol viv ON VI.VIOL_INVOICE_ID = VIV.VIOL_INVOICE_ID
		INNER JOIN dbo.VIOLATIONS_DIST_ON_VIOLATION_ID viol ON viv.VIOLATION_ID = viol.VIOLATION_ID 
		LEFT JOIN dbo.VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID vht ON viol.VIOLATION_ID = vht.violation_id
	where 
			vb_inv_batch_type_code not IN  ('LN', 'FLN') 

	UNION all

	SELECT  
			--7 AS INVOICE_CATEGORY_ID, -- 'VIOL INVOICES NEVER BEEN A VB INVOICE
			VI.VIOLATOR_ID,
			-1 as VBI_INVOICE_ID, 
			vi.VIOL_INVOICE_ID,
			CASE 
				WHEN (VI.VIOL_INV_STATUS = 'TS' and VIV.VIOL_STATUS = 'T')
				THEN  ISNULL(VHT.POSTED_REVENUE,viol.TOLL_PAID)
				ELSE VI.INVOICE_AMT_PAID
				END 
			AS VTOLL_AMT_PAID
	FROM dbo.viol_invoices vi 
		INNER JOIN FACT_INVOICE_VIOL_INV_NO_VB_INV_STAGE viNOvb ON VI.VIOL_INVOICE_ID = viNOvb.VIOL_INVOICE_ID
		INNER JOIN dbo.viol_invoice_viol viv ON VI.VIOL_INVOICE_ID = VIV.VIOL_INVOICE_ID
		INNER JOIN dbo.VIOLATIONS_DIST_ON_VIOLATION_ID viol ON viv.VIOLATION_ID = viol.VIOLATION_ID 
		LEFT JOIN dbo.VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID vht ON viol.VIOLATION_ID = vht.violation_id
) VTOLLs
GROUP BY VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID

------ ------ ------ ------ ------ ------ ------ ------ ------ ------ 
------ ------ ------  FINAL STATS ------ ------ ------ ------ ------ 
------ ------ ------ ------ ------ ------ ------ ------ ------ ------ 

------CreateStats 'FACT_INVOICE_VTOLL_AMOUNT_PAID_STAGE'
exec DropStats 'dbo','FACT_INVOICE_VTOLL_AMOUNT_PAID_STAGE'

CREATE STATISTICS STATS_FACT_INVOICE_VTOLL_AMOUNT_PAID_STAGE_001 ON [dbo].FACT_INVOICE_VTOLL_AMOUNT_PAID_STAGE (VIOLATOR_ID)

--CREATE STATISTICS STATS_FACT_INVOICE_VTOLL_AMOUNT_PAID_STAGE_002 ON [dbo].FACT_INVOICE_VTOLL_AMOUNT_PAID_STAGE (VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID)

