CREATE PROC [DBO].[FACT_PAID_INVD_LOAD] AS 

/*	

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.FACT_PAID_INVD_LOAD') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_PAID_INVD_LOAD
GO

EXEC EDW_RITE.DBO.FACT_PAID_INVD_LOAD

SELECT TOP 100 * FROM EDW_RITE.DBO.FACT_PAID_INVD  
*/ 

IF OBJECT_ID('dbo.FACT_PAID_INVD_STAGE')>0 	DROP TABLE dbo.FACT_PAID_INVD_STAGE;
-- EXPLAIN
CREATE TABLE dbo.FACT_PAID_INVD_STAGE WITH (CLUSTERED INDEX (DAY_ID,LANE_ID,VCLY_ID), DISTRIBUTION = HASH(LANE_ID)) AS
WITH CTE_VOILATIONS AS
(
	SELECT 
		DAY_ID,CAST(LANE_ID AS INT) LANE_ID,ISNULL(CAST(VCLY_ID AS SMALLINT), -1) VCLY_ID,ISNULL(CAST(VEHICLE_CLASS AS SMALLINT), -1) VEHICLE_CLASS,TOLL_DUE,TOLL_PAID,
		CASE 
			WHEN VIOL_STATUS = 'P' AND INVOICE_STAGE_ID = 8 -- INVOICE_STAGE_ID = 8 - 'Uninvoiced'
				THEN 'PAID-UNINVD'
			WHEN VIOL_STATUS = 'P' AND INVOICE_STAGE_ID != 8 
				THEN 'PAID-INVD'
			WHEN VBI_STATUS = 'B' OR (VBI_STATUS = 'CV' AND VIOL_INV_STATUS IN ('B','A'))
				THEN 'INV-BAD-ADD'
			ELSE 'OTHER'
		END AS CATEGORY
	FROM dbo.FACT_VIOLATION_VB_VIOL_INVOICES
)
SELECT 
	DAY_ID
	,LANE_ID
	,VCLY_ID
	,VEHICLE_CLASS AS VEHICLE_CLASS
	,CATEGORY
	,COUNT(1) TXN_CNT
	,CAST(SUM(TOLL_DUE) AS DECIMAL(14,2)) ACT_REV
	,CAST(SUM(TOLL_PAID) AS DECIMAL(14,2)) POS_REV
FROM CTE_VOILATIONS
WHERE CATEGORY != 'OTHER'
GROUP BY DAY_ID,LANE_ID,VCLY_ID,VEHICLE_CLASS,CATEGORY
OPTION (LABEL = 'FACT_PAID_INVD FULL LOAD');

CREATE STATISTICS STATS_FACT_PAID_INVD_001 ON [dbo].FACT_PAID_INVD_STAGE (CATEGORY,DAY_ID)
CREATE STATISTICS STATS_FACT_PAID_INVD_002 ON [dbo].FACT_PAID_INVD_STAGE (VCLY_ID,LANE_ID)
CREATE STATISTICS STATS_FACT_PAID_INVD_003 ON [dbo].FACT_PAID_INVD_STAGE (VEHICLE_CLASS,LANE_ID)
CREATE STATISTICS STATS_FACT_PAID_INVD_004 ON [dbo].FACT_PAID_INVD_STAGE (LANE_ID,DAY_ID,CATEGORY)


--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.FACT_PAID_INVD_OLD')>0 	DROP TABLE dbo.FACT_PAID_INVD_OLD;
IF OBJECT_ID('dbo.FACT_PAID_INVD')>0 RENAME OBJECT::dbo.FACT_PAID_INVD TO FACT_PAID_INVD_OLD;
RENAME OBJECT::dbo.FACT_PAID_INVD_STAGE TO FACT_PAID_INVD;
IF OBJECT_ID('dbo.FACT_PAID_INVD_OLD')>0 	DROP TABLE dbo.FACT_PAID_INVD_OLD;



/*
--SELECT @FROM_DAYID
set @sqlDDL = 
'CREATE TABLE [dbo].[FACT_PAID_INVD_STAGE] (
    [DAY_ID] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NULL, 
    [LANE_ID] bigint NULL, 
    [VCLY_ID] int NOT NULL, 
    [VEHICLE_CLASS] numeric(2, 0) NOT NULL, 
    [CATEGORY] varchar(11) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL, 
    [TXN_CNT] int NULL, 
    [ACT_REV] decimal(38, 2) NULL, 
    [POS_REV] decimal(38, 2) NULL
)
WITH (
	  CLUSTERED COLUMNSTORE INDEX
	 ,PARTITION   ([DAY_ID] RANGE RIGHT FOR VALUES ('+ CAST(@FROM_DAYID AS NVARCHAR(20)) + '))
	 ,DISTRIBUTION = HASH([DAY_ID]));'
	 
EXEC(@sqlDDL)
	--EXPLAIN
	--PAID INVD

SELECT COUNT_BIG(1) FROM dbo.FACT_PAID_INVD WHERE CATEGORY = 'PAID-INVD'
SELECT COUNT_BIG(1) FROM dbo.FACT_PAID_INVD WHERE CATEGORY = 'PAID-UNINVD'
LND_LG_VPS.VP_OWNER.VIOLATIONS

SELECT * FROM LND_LG_VPS.VP_OWNER.VIOL_STATUS

INSERT INTO dbo.FACT_PAID_INVD_STAGE --EXPLAIN
SELECT CONVERT(VARCHAR, VIOL_DATE, 112) [DAY_ID]
	,LANE_ID
	,ISNULL(CAST(CT.[VCLY_ID] AS INT), -1) [VCLY_ID]
	,ISNULL(V.VEHICLE_CLASS, -1) VEHICLE_CLASS
	,CATEGORY = 'PAID-INVD'
	,COUNT(1) TXN_CNT
	,SUM(TOLL_DUE) ACT_REV
	,SUM(TOLL_PAID) POS_REV --SELECT TOP(100) * --COUNT(1)
FROM LND_LG_VPS.VP_OWNER.VIOLATIONS V  --DBO.VIOLATIONS V 
LEFT JOIN [dbo].[DIM_VEH_CLSS_TYPES] CT ON V.VEHICLE_CLASS = CT.[AXLES]
WHERE VIOL_STATUS = 'P' 
--AND CAST(VIOL_DATE AS DATE) BETWEEN '2017-10-01' AND '2017-10-31'
	AND VIOLATION_ID IN (
		SELECT VIOLATION_ID
		FROM LND_LG_VPS.VP_OWNER.VIOL_INVOICE_VIOL  --DBO.VIOL_INVOICE_VIOL
		
		UNION
		
		SELECT VIOLATION_ID
		FROM LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL  --DBO.VB_INVOICE_VIOL
		)
GROUP BY CONVERT(VARCHAR, VIOL_DATE, 112)--CAST(VIOL_DATE AS DATE)
	,LANE_ID
	,VEHICLE_CLASS
	,VCLY_ID

UNION ALL --PAID UNINVD --EXPLAIN

SELECT CONVERT(VARCHAR, VIOL_DATE, 112) [DAY_ID]
	,LANE_ID
	,ISNULL(CAST(CT.[VCLY_ID] AS INT), -1) [VCLY_ID]
	,ISNULL(VEHICLE_CLASS, -1) VEHICLE_CLASS
	,CATEGORY = 'PAID-UNINVD'
	,COUNT(1) TXN_CNT
	,SUM(TOLL_DUE) ACT_REV
	,SUM(TOLL_PAID) POS_REV --SELECT COUNT(1)
FROM LND_LG_VPS.VP_OWNER.VIOLATIONS V --DBO.VIOLATIONS V
LEFT JOIN [dbo].[DIM_VEH_CLSS_TYPES] CT ON V.VEHICLE_CLASS = CT.[AXLES]
WHERE VIOL_STATUS = 'P' 
--AND CAST(VIOL_DATE AS DATE) BETWEEN '2017-10-01' AND '2017-10-31'
	AND VIOLATION_ID NOT IN (
		SELECT VIOLATION_ID
		FROM LND_LG_VPS.VP_OWNER.VIOL_INVOICE_VIOL  --DBO.VIOL_INVOICE_VIOL
		
		UNION
		
		SELECT VIOLATION_ID
		FROM LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL  --DBO.VB_INVOICE_VIOL
		)
GROUP BY CONVERT(VARCHAR, VIOL_DATE, 112)--CAST(VIOL_DATE AS DATE)
	,LANE_ID
	,VCLY_ID
	,VEHICLE_CLASS


UNION ALL --INV-BAD-ADD--EXPLAIN
--EXPLAIN
SELECT CONVERT(VARCHAR, VIOL_DATE, 112) [DAY_ID]
	,LANE_ID
	,ISNULL(CAST([VCLY_ID] AS INT), -1) [VCLY_ID]
	,VEHICLE_CLASS
	,CATEGORY = 'INV-BAD-ADD'
	,COUNT(VIOLATION_ID) AS TXN_CNT
	,SUM(TOLL_DUE) ACT_REV
	,SUM(TOLL_PAID) POS_REV --SELECT COUNT(1)
FROM (
	SELECT V.VIOLATION_ID
		,V.LANE_ID
		,ISNULL(CT.[VCLY_ID], -1) [VCLY_ID]
		,ISNULL(V.VEHICLE_CLASS, -1) AS VEHICLE_CLASS
		,V.TOLL_DUE
		,V.TOLL_PAID
		,V.VIOL_DATE --SELECT * 
	FROM LND_LG_VPS.VP_OWNER.VIOLATIONS V --DBO.VIOLATIONS V
	LEFT JOIN [dbo].[DIM_VEH_CLSS_TYPES] CT ON V.VEHICLE_CLASS = CT.[AXLES]
	JOIN LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL VBIV --DBO.VB_INVOICE_VIOL VBIV 
		ON V.VIOLATION_ID = VBIV.VIOLATION_ID
	JOIN LND_LG_VPS.VP_OWNER.VB_INVOICES VB  --DBO.VB_INVOICES VB 
		ON VB.VBI_INVOICE_ID = VBIV.VBI_INVOICE_ID
		AND VB.VBI_STATUS = 'B' 
	--	AND CAST(VIOL_DATE AS DATE) BETWEEN '2017-10-01' AND '2017-10-31'
	
	UNION
	
	SELECT V.VIOLATION_ID
		,V.LANE_ID
		,ISNULL(CAST(CT.[VCLY_ID] AS INT), -1) [VCLY_ID]
		,ISNULL(V.VEHICLE_CLASS, -1) AS VEHICLE_CLASS
		,V.TOLL_DUE
		,V.TOLL_PAID
		,V.VIOL_DATE
	FROM LND_LG_VPS.VP_OWNER.VIOLATIONS V  --DBO.VIOLATIONS V
	LEFT JOIN [dbo].[DIM_VEH_CLSS_TYPES] CT ON V.VEHICLE_CLASS = CT.[AXLES]
	JOIN LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL VBIV   --DBO.VB_INVOICE_VIOL VBIV 
		ON V.VIOLATION_ID = VBIV.VIOLATION_ID
	JOIN LND_LG_VPS.VP_OWNER.VB_INVOICES VB --DBO.VB_INVOICES VB 
		ON VB.VBI_INVOICE_ID = VBIV.VBI_INVOICE_ID
	JOIN LND_LG_VPS.VP_OWNER.VB_VIOL_INVOICES VBVI  --DBO.VB_VIOL_INVOICES VBVI 
		ON VB.VBI_INVOICE_ID = VBVI.VBI_VBI_INVOICE_ID
	JOIN LND_LG_VPS.VP_OWNER.VIOL_INVOICES VI  --DBO.VIOL_INVOICES VI 
		ON VBVI.INV_VIOL_INVOICE_ID = VI.VIOL_INVOICE_ID
		AND VB.VBI_STATUS = 'CV'
		AND VI.VIOL_INV_STATUS IN (
			'B'
			,'A'
			) 
		--	AND CAST(VIOL_DATE AS DATE) BETWEEN '2017-10-01' AND '2017-10-31'
	) A
GROUP BY CONVERT(VARCHAR, VIOL_DATE, 112)--CAST(VIOL_DATE AS DATE)
	,LANE_ID
	,VEHICLE_CLASS
	,VCLY_ID	


	CREATE STATISTICS STATS_FACT_PAID_INVD_001 ON [dbo].FACT_PAID_INVD_STAGE (DAY_ID)
	CREATE STATISTICS STATS_FACT_PAID_INVD_002 ON [dbo].FACT_PAID_INVD_STAGE (LANE_ID)
	CREATE STATISTICS STATS_FACT_PAID_INVD_003 ON [dbo].FACT_PAID_INVD_STAGE (CATEGORY)
	CREATE STATISTICS STATS_FACT_PAID_INVD_004 ON [dbo].FACT_PAID_INVD_STAGE (DAY_ID, LANE_ID,CATEGORY)


	--STEP #2: Replace OLD table with NEW
	IF OBJECT_ID('dbo.FACT_PAID_INVD_OLD')>0 	DROP TABLE dbo.FACT_PAID_INVD_OLD;
	IF OBJECT_ID('dbo.FACT_PAID_INVD')>0 RENAME OBJECT::dbo.FACT_PAID_INVD TO FACT_PAID_INVD_OLD;
	RENAME OBJECT::dbo.FACT_PAID_INVD_STAGE TO FACT_PAID_INVD;
	IF OBJECT_ID('dbo.FACT_PAID_INVD_OLD')>0 	DROP TABLE dbo.FACT_PAID_INVD_OLD;

*/
	--STEP #3: Create Statistics --[dbo].[CreateStats] 'dbo', 'FACT_PAID_INVD'

