CREATE PROC [DBO].[FACT_VIOLATION_VB_VIOL_INVOICES_LOAD_INCR] AS 
/*	

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.FACT_VIOLATION_VB_VIOL_INVOICES_LOAD_INCR') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_VIOLATION_VB_VIOL_INVOICES_LOAD_INCR
GO

EXEC DBO.FACT_VIOLATION_VB_VIOL_INVOICES_LOAD_INCR

SELECT TOP 100 * FROM DBO.FACT_VIOLATION_VB_VIOL_INVOICES  

SELECT COUNT_BIG(1) FROM DBO.FACT_VIOLATION_VB_VIOL_INVOICES

SELECT * FROM dbo.PROCESS_LOG 
WHERE LOG_SOURCE LIKE 'FACT_VIOLATION_VB_VIOL_INVOICES' AND LOG_DATE > '2019-02-20 8:00:00'
ORDER BY LOG_SOURCE, LOG_DATE


*/  
--#1	ANDY FILIPPS	2019-02-14	Created new proc

	--STEP #0: --DROP table IF EXISTS  --DECLARE @FROM_DAY_ID  INT = 20150101, @TO_DAY_ID  INT = 20190101


DECLARE @TABLE_NAME VARCHAR(50) = 'FACT_VIOLATION_VB_VIOL_INVOICES', @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT
DECLARE @LOAD_CONTROL_DATE DATETIME2(2),@VBVI_CONTROL_DATE DATETIME2(2),@VIVI_CONTROL_DATE DATETIME2(2)
DECLARE @ERRORS BIT = 0, @ERROR_MESSAGE VARCHAR(1000)

SET @LOG_START_DATE = GETDATE()


SELECT	@LOAD_CONTROL_DATE = LAST_RUN_DATE FROM	dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VIOLATIONS' 
IF @LOAD_CONTROL_DATE IS NULL 
BEGIN
	SET @LOAD_CONTROL_DATE = CAST('2000-01-01' AS DATETIME2(2)) 
END

SELECT	@VBVI_CONTROL_DATE = LAST_RUN_DATE FROM	dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VB_INVOICE_VIOL' 
IF @VBVI_CONTROL_DATE IS NULL 
BEGIN
	SET @VBVI_CONTROL_DATE = CAST('2000-01-01' AS DATETIME2(2)) 
END

SELECT	@VIVI_CONTROL_DATE = LAST_RUN_DATE FROM	dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VIOL_INVOICE_VIOL' 
IF @VIVI_CONTROL_DATE IS NULL 
BEGIN
	SET @VIVI_CONTROL_DATE = CAST('2000-01-01' AS DATETIME2(2)) 
END

SELECT  @LOG_MESSAGE = '#INCREMENTAL LOAD Started from: ' + CONVERT(VARCHAR(19), @LOAD_CONTROL_DATE, 121) 
EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL

/*
-- Looks like INCR load take longer time then Full load - lets try full load for now
BEGIN TRY
	EXECUTE DBO.VIOLATION_VB_VIOL_XREF_INCR_LOAD
	SET  @LOG_MESSAGE = 'Finished  VIOLATION_VB_VIOL_XREF_INCR_LOAD'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL
END	TRY	
BEGIN CATCH
	SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
	SET @ERRORS = 1
	SET @LOG_MESSAGE = '@INCR LOAD FAILED: ' + @ERROR_MESSAGE
	EXEC dbo.LOG_PROCESS 'VIOLATION_VB_VIOL_XREF', @LOG_START_DATE, @LOG_MESSAGE,  -1
END CATCH
*/
BEGIN TRY
	EXECUTE DBO.VIOLATION_VB_VIOL_XREF_LOAD
	SET  @LOG_MESSAGE = 'Finisfed VIOLATION_VB_VIOL_XREF_LOAD'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL
END	TRY	
BEGIN CATCH
	SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
	SET @ERRORS = 1
	SET @LOG_MESSAGE = '@FULL LOAD FAILED: ' + @ERROR_MESSAGE
	EXEC dbo.LOG_PROCESS 'VIOLATION_VB_VIOL_XREF', @LOG_START_DATE, @LOG_MESSAGE,  -1
END CATCH

BEGIN TRY
	EXECUTE DBO.FACT_INVOICES_DATA_LOAD
	SET  @LOG_MESSAGE = 'Finished FACT_INVOICES_DATA_LOAD'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL
END	TRY	
BEGIN CATCH
	SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
	SET @ERRORS = 1
	SET @LOG_MESSAGE = '@FULL LOAD FAILED: ' + @ERROR_MESSAGE
	EXEC dbo.LOG_PROCESS 'FACT_INVOICES_DATA', @LOG_START_DATE, @LOG_MESSAGE,  -1
END CATCH

IF @ERRORS = 0
BEGIN
	/*
	DECLARE @FULL_RELOAD BIT  
	SELECT @FULL_RELOAD = CASE WHEN C.column_id IS NULL THEN 1 ELSE 0 END FROM sys.tables t LEFT JOIN sys.columns c ON c.object_id = t.object_id AND c.name = 'TT_ID' WHERE t.name = @TABLE_NAME

	IF @FULL_RELOAD = 1 
	BEGIN

		DECLARE @PART_RANGES VARCHAR(MAX) = ''
		DECLARE @sql VARCHAR(MAX)
		--EXEC DBO.GET_PARTITION_MONTH_RANGE_STRING @PART_RANGES OUTPUT
		EXEC DBO.GET_PARTITION_DAYID_RANGE_STRING @PART_RANGES OUTPUT
		--PRINT @PART_RANGES

		SET @sql = '
		CREATE TABLE dbo.[FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET] WITH (CLUSTERED INDEX ( [VIOLATION_ID] ), DISTRIBUTION = HASH([LAST_INVOICE_ID]), PARTITION (DAY_ID RANGE RIGHT FOR VALUES (' + @PART_RANGES + '))) AS
		SELECT 
				 CAST(main_table.[DAY_ID] AS int) AS [DAY_ID]
				, main_table.[DAY_ID] / 100 AS MONTH_ID
				, ISNULL(CAST(main_table.[LANE_ID] AS INT), 0) AS [LANE_ID]
				, ISNULL(CAST(main_table.[VEHICLE_CLASS] AS SMALLINT), 0) AS [VEHICLE_CLASS]
				, ISNULL(CAST(main_table.[VCLY_ID] AS SMALLINT), 0) AS [VCLY_ID]
				, ISNULL(CAST(main_table.[LICENSE_PLATE_ID] AS int), 0) AS [LICENSE_PLATE_ID]
				, ISNULL(CAST(main_table.[LANE_VIOL_ID] AS decimal(12,0)), 0) AS [LANE_VIOL_ID]
				, CAST(main_table.[VIOLATION_ID] AS bigint) AS [VIOLATION_ID]
				, CAST(main_table.[LAST_INVOICE_ID] AS bigint) AS [LAST_INVOICE_ID]
				, ISNULL(CAST(main_table.[VBI_INVOICE_ID] AS bigint), 0) AS [VBI_INVOICE_ID]
				, ISNULL(CAST(main_table.[VIOL_INVOICE_ID] AS bigint), 0) AS [VIOL_INVOICE_ID]
				, ISNULL(CAST(main_table.[VIOLATOR_ID] AS decimal(10,0)), 0) AS [VIOLATOR_ID]
				, CAST(main_table.[VBI_INVOICE_DATE] AS datetime2(0)) AS [VBI_INVOICE_DATE]
				, CAST(main_table.[VI_INVOICE_DATE] AS date) AS [VI_INVOICE_DATE]
				, ISNULL(CAST(main_table.[VIOL_STATUS] AS varchar(2)), '''') AS [VIOL_STATUS]
				, CAST(main_table.[VBI_STATUS] AS varchar(3)) AS [VBI_STATUS]
				, CAST(main_table.[VIOL_INV_STATUS] AS varchar(2)) AS [VIOL_INV_STATUS]
				, CAST(main_table.[DATE_EXCUSED] AS datetime2(0)) AS [DATE_EXCUSED]
				, CAST(main_table.[EXCUSED_REASON] AS varchar(5)) AS [EXCUSED_REASON]
				, CAST(main_table.[EXCUSED_BY] AS varchar(30)) AS [EXCUSED_BY]
				, ISNULL(U.USERID,-1) AS EXCUSED_USER_ID
				, CAST(main_table.[INV_TOLL_DUE] AS decimal(10,2)) AS [INV_TOLL_DUE]
				, CAST(main_table.[TOLL_DUE] AS decimal(10,2)) AS [TOLL_DUE]
				, CAST(main_table.[INV_FEES_DUE] AS decimal(10,2)) AS [INV_FEES_DUE]
				, CAST(main_table.[FEES_DUE] AS decimal(10,2)) AS [FEES_DUE]
				, ISNULL(CAST(main_table.[TOLL_PAID] AS decimal(9,2)), 0) AS [TOLL_PAID]
				, CAST(main_table.[VTOLL_SEND_DATE] AS date) AS [VTOLL_SEND_DATE]
				--, CAST(main_table.[TAG_ID] AS varchar(12)) AS [TAG_ID]
				, ISNULL(ATT.TT_ID, -1) AS TT_ID
				, CAST(main_table.[POSTED_DATE] AS date) AS [POSTED_DATE]
				, CAST(main_table.[DISPOSITION] AS varchar(2)) AS [DISPOSITION]
				, CAST(main_table.[POS_REV] AS decimal(9,2)) AS [POS_REV]
				, ISNULL(CAST(main_table.[INVOICE_STAGE_ID] AS int), 0) AS [INVOICE_STAGE_ID]
				, ISNULL(CAST(main_table.[CURRENT_FLAG] AS smallint), 0) AS [CURRENT_FLAG]
				, CAST(main_table.[DELETE_STATUS] AS smallint) AS [DELETE_STATUS]
		FROM dbo.[FACT_VIOLATION_VB_VIOL_INVOICES] AS main_table
		LEFT JOIN dbo.DIM_USERS U ON main_table.EXCUSED_BY = U.USERNAME
		LEFT JOIN dbo.TOLL_TAGS ATT ON ATT.TAG_ID = main_table.TAG_ID AND ATT.TAG_ID = main_table.TAG_ID
		OPTION (LABEL = ''FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET LOAD'');'

		EXEC (@sql)
		EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

		CREATE STATISTICS [STATS_FACT_VIOLATION_VB_VIOL_INVOICES_000] ON dbo.[FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET] ([LAST_INVOICE_ID],[VIOLATION_ID]);
		CREATE STATISTICS [STATS_FACT_VIOLATION_VB_VIOL_INVOICES_001] ON dbo.[FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET] ([DAY_ID],[LAST_INVOICE_ID]);
		CREATE STATISTICS [STATS_FACT_VIOLATION_VB_VIOL_INVOICES_002] ON dbo.[FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET] ([DELETE_STATUS], [LAST_INVOICE_ID]);
		CREATE STATISTICS [STATS_FACT_VIOLATION_VB_VIOL_INVOICES_003] ON dbo.[FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET] ([CURRENT_FLAG], [DELETE_STATUS],[VIOLATION_ID]);
		CREATE STATISTICS [STATS_FACT_VIOLATION_VB_VIOL_INVOICES_004] ON dbo.[FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET] (MONTH_ID,DAY_ID,VIOLATION_ID);


		SET @sql = '
		IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_PREV]'') IS NOT NULL	DROP TABLE dbo.[' + @TABLE_NAME + '_PREV];
		IF OBJECT_ID(''dbo.[' + @TABLE_NAME + ']'') IS NOT NULL			RENAME OBJECT::dbo.[' + @TABLE_NAME + '] TO [' + @TABLE_NAME + '_PREV];
		IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_NEW_SET]'') IS NOT NULL	RENAME OBJECT::dbo.[' + @TABLE_NAME + '_NEW_SET] TO [' + @TABLE_NAME + '];'
		EXEC (@sql)

		SET  @LOG_MESSAGE = 'Complete Full reload of the Table with a new column <<TT_ID>>'
		EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	END
	*/

	--EXEC DBO.PARTITION_MANAGE_MONTHLY_LOAD @TABLE_NAME
	-- DECLARE @LOAD_CONTROL_DATE DATETIME2(2) = '2019-07-30'
	IF OBJECT_ID('dbo.CTE_VIOLATIONS_INCR_XREF') IS NOT NULL  DROP TABLE dbo.CTE_VIOLATIONS_INCR_XREF
	-- EXPLAIN
	CREATE TABLE dbo.CTE_VIOLATIONS_INCR_XREF WITH (HEAP, DISTRIBUTION = HASH (VIOLATION_ID)) AS
	WITH CTE_VIOL_IDS AS
	(
		SELECT VIOLATION_ID FROM dbo.FACT_VIOLATIONS_DETAIL WHERE LAST_UPDATE_DATE >= @LOAD_CONTROL_DATE
		UNION 
		SELECT VIOLATION_ID FROM LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL WHERE LAST_UPDATE_DATE >= @VBVI_CONTROL_DATE
		UNION 
		SELECT VIOLATION_ID FROM LND_LG_VPS.VP_OWNER.VIOL_INVOICE_VIOL WHERE LAST_UPDATE_DATE >= @VIVI_CONTROL_DATE
	)
	SELECT 
		V.MONTH_ID, V.DAY_ID, V.LANE_ID, V.VEHICLE_CLASS, V.VCLY_ID, V.LICENSE_PLATE_ID, V.LANE_VIOL_ID, V.VIOLATION_ID, ISNULL(X.LAST_INVOICE_ID, 40000000000 + CAST(V.VIOLATION_ID AS BIGINT)) LAST_INVOICE_ID, 
		ISNULL(X.VBI_INVOICE_ID, -1) VBI_INVOICE_ID, ISNULL(X.VIOL_INVOICE_ID, -1) VIOL_INVOICE_ID, X.VB_INVOICE_DATE AS VBI_INVOICE_DATE, X.VIOL_INVOICE_DATE AS VI_INVOICE_DATE, F.VBI_STATUS, 
		F.VIOL_INV_STATUS, ISNULL(V.VIOLATOR_ID, F.VIOLATOR_ID) AS VIOLATOR_ID,ISNULL(X.FINE_AMOUNT ,0) FINE_AMOUNT,
		ISNULL(X.DELETE_STATUS, CASE WHEN V.VIOL_STATUS IN ('L','V') THEN 1 ELSE 0 END) AS DELETE_STATUS, ISNULL(F.VBB_LN_BATCH_ID, -1) VBB_LN_BATCH_ID, V.DATE_EXCUSED, V.EXCUSED_REASON, V.EXCUSED_BY,   
		F.DPS_INV_STATUS, F.CA_INV_STATUS, V.VIOL_STATUS, ISNULL(F.TOLL_AMOUNT,0) AS INV_TOLL_DUE, COALESCE(X.TOLL_DUE,V.TOLL_DUE,0) AS TOLL_DUE, 
		ISNULL(CASE WHEN X.VIOL_INVOICE_ID = -1 THEN ISNULL(F.VB_LATE_FEE_AMOUNT,0) ELSE (ISNULL(F.VIOL_INV_ADMIN_FEE,0) + ISNULL(F.VIOL_INV_ADMIN_FEE2,0) + ISNULL(F.VIOL_FINE_AMOUNT,0)) END,0) AS INV_FEES_DUE, 
		V.TOLL_PAID,ISNULL(X.CURRENT_FLAG,1) AS CURRENT_FLAG
	FROM dbo.FACT_VIOLATIONS_DETAIL V  --CTE_INVOICES C --dbo.FACT_VIOLATIONS_DETAIL V 
	LEFT JOIN dbo.VIOLATION_VB_VIOL_XREF X ON X.VIOLATION_ID = V.VIOLATION_ID
	LEFT JOIN dbo.FACT_INVOICES_DATA F   ON F.LAST_INVOICE_ID = X.LAST_INVOICE_ID AND F.VBI_INVOICE_ID = X.VBI_INVOICE_ID
	WHERE V.VIOLATION_ID IN (SELECT VIOLATION_ID FROM CTE_VIOL_IDS)
	OPTION (LABEL = 'FACT_VIOLATION_VB_VIOL_INVOICES LOAD: CTE_VIOLATIONS_INCR_XREF');

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got VIOLATIONS_LIST'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	----SELECT TOP 100 * FROM dbo.VIOLATION_VB_VIOL_XREF WHERE VIOL_INVOICE_ID = -1
	IF OBJECT_ID('dbo.FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET') IS NOT NULL  DROP TABLE dbo.FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET
	-- EXPLAIN
	CREATE TABLE dbo.FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET WITH (CLUSTERED INDEX (VIOLATION_ID), DISTRIBUTION = HASH (LAST_INVOICE_ID)) AS
	WITH CTE_VPS_HOST_TRANS AS
	(
		SELECT MONTH_ID, DAY_ID, VIOLATION_ID, CAST(VTOLL_SEND_DATE AS DATE) VTOLL_SEND_DATE, TT_ID, CAST(POSTED_DATE AS DATE) POSTED_DATE, DISPOSITION, POSTED_REVENUE AS POS_REV 
		FROM dbo.VPS_HOST_TRANSACTIONS  WHERE DISPOSITION = 'P' AND VIOLATION_ID > -1
	)
	, CTE_ALL_INVOICES AS
	(
		SELECT 
			V.MONTH_ID, V.DAY_ID, V.LANE_ID, V.VEHICLE_CLASS, V.VCLY_ID, V.LICENSE_PLATE_ID, V.LANE_VIOL_ID, V.VIOLATION_ID, V.LAST_INVOICE_ID, 
			V.VBI_INVOICE_ID, V.VIOL_INVOICE_ID, V.VBI_INVOICE_DATE, V.VI_INVOICE_DATE, V.VBI_STATUS, 
			V.VIOL_INV_STATUS, V.VIOLATOR_ID,V.INV_FEES_DUE,V.TOLL_PAID,V.CURRENT_FLAG,
			V.DELETE_STATUS, V.VBB_LN_BATCH_ID, V.DATE_EXCUSED, V.EXCUSED_REASON, V.EXCUSED_BY,   
			V.DPS_INV_STATUS, V.CA_INV_STATUS, V.VIOL_STATUS, V.INV_TOLL_DUE, V.TOLL_DUE, 
			H.VTOLL_SEND_DATE,H.TT_ID,H.POSTED_DATE,H.DISPOSITION,H.POS_REV,
			ISNULL(CASE 
						WHEN ISNULL(V.FINE_AMOUNT ,0) = 0 AND V.INV_TOLL_DUE > 0 THEN ROUND(V.TOLL_DUE * V.INV_FEES_DUE / V.INV_TOLL_DUE, 2, 1)
						ELSE ISNULL(V.FINE_AMOUNT ,0)
					END, 0) AS FEES_DUE
		FROM dbo.CTE_VIOLATIONS_INCR_XREF V  --CTE_INVOICES C --dbo.FACT_VIOLATIONS_DETAIL V 
		LEFT JOIN CTE_VPS_HOST_TRANS H ON H.VIOLATION_ID = V.VIOLATION_ID AND V.CURRENT_FLAG = 1 --AND H.MONTH_ID = V.MONTH_ID AND H.DAY_ID = V.DAY_ID
	)
	, CTE_LAST_STAGE AS
	(
		SELECT
			MONTH_ID, DAY_ID, LANE_ID, VEHICLE_CLASS, VCLY_ID, LICENSE_PLATE_ID, LANE_VIOL_ID,VIOLATION_ID, LAST_INVOICE_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, 
			VIOLATOR_ID, VBI_INVOICE_DATE,VI_INVOICE_DATE, VIOL_STATUS, VBI_STATUS, VIOL_INV_STATUS,	DATE_EXCUSED, EXCUSED_REASON, EXCUSED_BY,
			CAST(INV_TOLL_DUE AS DECIMAL(10,2)) INV_TOLL_DUE, CAST(TOLL_DUE AS DECIMAL(10,2)) TOLL_DUE, CAST(INV_FEES_DUE AS DECIMAL(10,2)) INV_FEES_DUE,CURRENT_FLAG,
			FEES_DUE, TOLL_PAID,VTOLL_SEND_DATE, TT_ID, POSTED_DATE, DISPOSITION, POS_REV, SUM(FEES_DUE) OVER (PARTITION BY LAST_INVOICE_ID) AS SUM_FEES_DUE,
			CASE 
				WHEN VBI_INVOICE_ID = -1 AND VIOL_INVOICE_ID = -1 THEN 8	-- Uninvoiced 
				WHEN VBB_LN_BATCH_ID = -1 AND VBI_STATUS <> 'CV' THEN 1		-- ZipCash  -- First Notice and not Converted to Viol Invoice
				WHEN VBB_LN_BATCH_ID > -1 AND VBI_STATUS <> 'CV' THEN 2		-- First Notice  -- NOT First Notice and not Converted to Viol Invoice
				WHEN DPS_INV_STATUS IN ('H','T') THEN 3						-- Citation Printed -- DPS Status = Citation Printed OR Citation Issued
				WHEN DPS_INV_STATUS = 'D' THEN 4							-- AWaiting DPS Action
				WHEN CA_INV_STATUS = 'A' AND DPS_INV_STATUS = 'N' THEN 5	-- Post-CA 
				WHEN CA_INV_STATUS = 'N' AND DPS_INV_STATUS = 'N' THEN 6	-- Second Notice -- Pat was 2nd NNP  --  CA = N      Not Sent to Collections Agency DPS = N No DPS Activity
				ELSE 7														-- In Collections
			END INVOICE_STAGE_ID,
			DELETE_STATUS,
			ROW_NUMBER() OVER (PARTITION BY LAST_INVOICE_ID ORDER BY DELETE_STATUS ASC, TOLL_DUE DESC)	AS INV_RN
		FROM CTE_ALL_INVOICES --CTE_ALL_INVOICES_WITH_RN
		--WHERE RN = 1
	)
	SELECT
		DAY_ID, MONTH_ID, LANE_ID, VEHICLE_CLASS, VCLY_ID, LICENSE_PLATE_ID, LANE_VIOL_ID,VIOLATION_ID, LAST_INVOICE_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, 
		VIOLATOR_ID, VBI_INVOICE_DATE,VI_INVOICE_DATE, VIOL_STATUS, VBI_STATUS, VIOL_INV_STATUS, DATE_EXCUSED, EXCUSED_REASON, L.EXCUSED_BY, --ISNULL(U.USERID,-1) AS EXCUSED_USER_ID,
		INV_TOLL_DUE, TOLL_DUE, INV_FEES_DUE,
		CAST(FEES_DUE + CASE 
							WHEN INV_RN <= (INV_FEES_DUE - SUM_FEES_DUE) * 100 THEN 0.01
							ELSE 0
						END AS DECIMAL(10,2)) AS FEES_DUE, 
		TOLL_PAID,	VTOLL_SEND_DATE, ISNULL(L.TT_ID, -1) AS TT_ID, POSTED_DATE, DISPOSITION, POS_REV,INVOICE_STAGE_ID,CURRENT_FLAG,DELETE_STATUS
	FROM CTE_LAST_STAGE	L
	--LEFT JOIN dbo.DIM_USERS U ON L.EXCUSED_BY = U.USERNAME
	OPTION (LABEL = 'FACT_VIOLATION_VB_VIOL_INVOICES LOAD');

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got FACT_VIOLATION_VB_VIOL_INVOICES new set'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	--CREATE STATISTICS STATS_FACT_VIOLATION_VB_VIOL_INVOICES_TEMP_001 ON dbo.FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET (DAY_ID)

	DECLARE @IDENTITY_COLUMNS VARCHAR(8000) = '[VIOLATION_ID]'
	EXEC DBO.PARTITION_SWITCH_MONTHLY_LOAD @TABLE_NAME,	@IDENTITY_COLUMNS
	--EXEC DBO.PARTITION_SWITCH_NUMBER_BASED_LOAD @TABLE_NAME,	@IDENTITY_COLUMNS

	UPDATE STATISTICS [dbo].FACT_VIOLATION_VB_VIOL_INVOICES  

	SELECT @LOAD_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  dbo.FACT_VIOLATIONS_DETAIL
	DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VIOLATIONS'
	INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VIOLATIONS', LAST_RUN_DATE = @LOAD_CONTROL_DATE

	SELECT @VBVI_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL
	DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VB_INVOICE_VIOL'
	INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VB_INVOICE_VIOL', LAST_RUN_DATE = @VBVI_CONTROL_DATE

	SELECT @VIVI_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VIOL_INVOICE_VIOL
	DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VIOL_INVOICE_VIOL'
	INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VIOL_INVOICE_VIOL', LAST_RUN_DATE = @VIVI_CONTROL_DATE

	IF OBJECT_ID('dbo.FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET') IS NOT NULL		DROP TABLE dbo.FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET;
	IF OBJECT_ID('dbo.CTE_VIOLATIONS_LIST') IS NOT NULL  DROP TABLE dbo.CTE_VIOLATIONS_LIST

	SET @LOG_MESSAGE = '#Incremental load finished'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

END
ELSE 
BEGIN
	SET @LOG_MESSAGE = '@Cancelled Incremental load because of the errors in previous loads'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, -1
END




