CREATE PROC [dbo].[StatsFullRefresh_EDW_RITE_TS] AS
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.StatsFullRefresh_EDW_RITE_TS') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.StatsFullRefresh_EDW_RITE_TS
GO

EXEC EDW_RITE.DBO.StatsFullRefresh_EDW_RITE_TS



*/
DECLARE @SQL_DROP VARCHAR(MAX)
DECLARE @SQL_CREATE VARCHAR(MAX)

-- exec CreateStats 'ACCOUNT_TYPES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'RETAIL_TRXN_DETAILS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'RETAIL_TRXN_DETAILS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'RETAIL_TRANSACTIONS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'RETAIL_TRANSACTIONS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'RETAIL_TRANSACTIONS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'dbo','ACCOUNTS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'ACCOUNTS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'ACCOUNTS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'ACCOUNT_TAGS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'ACCOUNT_TAGS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'ACCOUNT_TAGS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'ACCOUNT_TAG_HISTORY'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'ACCOUNT_TAG_HISTORY', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'ACCOUNT_TAG_HISTORY', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'dbo','ACCOUNT_BALANCE_HISTORY'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'ACCOUNT_BALANCE_HISTORY', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'ACCOUNT_BALANCE_HISTORY', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'dbo','TRANSACTION_FILE_DETAILS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'TRANSACTION_FILE_DETAILS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'TRANSACTION_FILE_DETAILS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)
 





