CREATE PROC [DBO].[Rename_Procs_Prior_Retire] AS

/*
USE EDW_RITE
GO


IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.Rename_Procs_Prior_Retire') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.Rename_Procs_Prior_Retire
GO


EXEC EDW_RITE.DBO.Rename_Procs_Prior_Retire


*/
IF OBJECT_ID('SANDBOX.dbo.TABLE_OF_PROCS') IS NOT NULL DROP TABLE SANDBOX.dbo.TABLE_OF_PROCS

CREATE TABLE SANDBOX.dbo.TABLE_OF_PROCS WITH (HEAP, DISTRIBUTION = REPLICATE) AS
SELECT ROW_NUMBER() OVER (ORDER BY PROC_NAME) AS nn, RENAME_TO_ZZZ_DEFINITION, PROC_NAME, PROC_SCHEMA
--INTO #TABLE_OF_PROCS
FROM SANDBOX.dbo.PROCEDURES_LAST_USE
WHERE NUMBER_USED = 0

DECLARE @MAX_NN INT = (SELECT MAX(NN) FROM SANDBOX.dbo.TABLE_OF_PROCS)
DECLARE @TEC_NN INT = 1
DECLARE @GO_nn INT

DECLARE @RENAME_TO_ZZZ_DEFINITION VARCHAR(MAX)
DECLARE @DROP_TO_ZZZ_DEFINITION VARCHAR(MAX)
DECLARE @CREATE_TO_ZZZ_DEFINITION VARCHAR(MAX)
DECLARE @PROC_SCHEMA VARCHAR(100)
DECLARE @PROC_NAME VARCHAR(200)
DECLARE @Drop_zzz_Proc VARCHAR(MAX)

DECLARE @LOG_START_DATE DATETIME = GETDATE()

-- LOOP on Procs
WHILE @TEC_NN <= @MAX_NN
BEGIN

	SELECT @RENAME_TO_ZZZ_DEFINITION = RENAME_TO_ZZZ_DEFINITION, @PROC_NAME = PROC_NAME, @PROC_SCHEMA = PROC_SCHEMA FROM SANDBOX.dbo.TABLE_OF_PROCS WHERE NN = @TEC_NN

	--EXEC dbo.PRINT_LONG_VARIABLE_VALUE @RENAME_TO_ZZZ_DEFINITION -- varchar(max)
	
	SELECT @GO_nn = CHARINDEX('GO',@RENAME_TO_ZZZ_DEFINITION)

	SET @DROP_TO_ZZZ_DEFINITION = 'IF  OBJECT_ID('''+ @PROC_SCHEMA + '.' + @PROC_NAME + ''') IS NOT NULL ' + LEFT(@RENAME_TO_ZZZ_DEFINITION, @GO_nn - 1)
	--BEGIN TRY
		--IF  OBJECT_ID('dbo.MANUAL_VIOLATIONS_WITH_FILE') IS NOT NULL
	EXEC dbo.PRINT_LONG_VARIABLE_VALUE @DROP_TO_ZZZ_DEFINITION -- varchar(max)
		EXEC (@DROP_TO_ZZZ_DEFINITION)
	--END	TRY	
	--BEGIN CATCH
	--	--SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
	--	--SET @ERROR_MESSAGE = 'DROP_TO_ZZZ_DEFINITION FAILED: ' + @ERROR_MESSAGE
	--	--EXEC    dbo.LOG_PROCESS 'DROP_TO_ZZZ_DEFINITION', @LOG_START_DATE, @ERROR_MESSAGE,  -1
	--	PRINT 'DROP_TO_ZZZ_DEFINITION FAILED:'
	--	EXEC dbo.PRINT_LONG_VARIABLE_VALUE @DROP_TO_ZZZ_DEFINITION
	--END CATCH

	--SET @Drop_zzz_Proc = 'IF  OBJECT_ID('''+ @PROC_SCHEMA + '.zzz_' + @PROC_NAME + ''') IS NOT NULL  DROP TABLE ' + @PROC_SCHEMA + '.zzz_' + @PROC_NAME
	
	SET @Drop_zzz_Proc = 'IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('''+ @PROC_SCHEMA + '.zzz_' + @PROC_NAME + ''') 
                   and OBJECTPROPERTY(id, ''IsProcedure'') = 1 )
	DROP PROCEDURE ' + @PROC_SCHEMA + '.zzz_' + @PROC_NAME	
	EXEC (@Drop_zzz_Proc)


	SET @CREATE_TO_ZZZ_DEFINITION = SUBSTRING(@RENAME_TO_ZZZ_DEFINITION, @GO_nn + 3, LEN(@RENAME_TO_ZZZ_DEFINITION))

	--BEGIN TRY
	EXEC dbo.PRINT_LONG_VARIABLE_VALUE @CREATE_TO_ZZZ_DEFINITION -- varchar(max)
	EXEC (@CREATE_TO_ZZZ_DEFINITION)
	--END	TRY	
	--BEGIN CATCH
	--	PRINT 'CREATE_TO_ZZZ_DEFINITION FAILED:'
	--	EXEC dbo.PRINT_LONG_VARIABLE_VALUE @CREATE_TO_ZZZ_DEFINITION
	--	--SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
	--	--SET @ERROR_MESSAGE = 'CREATE_TO_ZZZ_DEFINITION FAILED: ' + @ERROR_MESSAGE
	--	--EXEC    dbo.LOG_PROCESS 'CREATE_TO_ZZZ_DEFINITION', @LOG_START_DATE, @ERROR_MESSAGE,  -1
	--END CATCH

	--EXEC (@RENAME_TO_ZZZ_DEFINITION)


	SET @TEC_NN += 1
END
/*
SELECT * 
FROM SANDBOX.dbo.PROCEDURES_LAST_USE
--WHERE NUMBER_USED = 0
WHERE PROC_NAME = 'FACT_CA_COLLECTED_PAYMENTS_LOAD'
*/

/*
SELECT ROW_NUMBER() OVER (ORDER BY PROC_NAME) AS nn, * 
FROM SANDBOX.dbo.PROCEDURES_LAST_USE
WHERE NUMBER_USED = 0
ORDER BY PROC_NAME
*/

/*
UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 0
WHERE PROC_NAME = 'DIM_INVOICE_STATUS_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'ALERT_BY_TRAN_CNT_DIM_LANE_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'CreateStats' -- Error out when try create

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'FACT_CA_COLLECTED_PAYMENTS_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'ALERT_BY_TRAN_CNT_LANE_FRQCY_ANALYSIS_AND_UPDATE'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'AVI_TAG_STATUSES_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'AVI_TRANSACTIONS_LOAD_NEW'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'BALANCE_HISTORY_TGS_COMPARE_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'DIM_ICS_LANE_VIOL_IMAGES_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'DIM_SOURCE_TS_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'DIM_VEH_CLSS_TYPES_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'FACT_BALANCE_HISTORY_TGS_LOAD_NEW'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'FACT_IOP_TGS_LOAD_INCR'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'FACT_TOLL_TAG_PENETRATION_OLDSTYLE_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'FACT_UNIFIED_VIOLATION_BASE_N_PREMIUM_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'FACT_UNIFIED_VIOLATION_RUN_PREV_FROM_2012_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'GET_COMPARE_FIX_TABLES_METADATA'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'GET_PRINT_TABLE_INFO'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'GET_RENAME_TABLE_SQL'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'GET_SELECT_CAST_STRING'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'GET_SELECT_STRING_WITH_TABLE_NAME'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'GET_UPDATE_TABLE_SQL'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'HOST_AVI_TAG_STATUSES_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'Insert_DIM_DAY_DIM_YEAR'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'LANE_FRQCY_SUMMARY_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'MANUAL_VIOLATIONS_ID_LANE_VIOL_ID_XREF_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'PARTITION_SWITCH_ID_BASED_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'REVIEW_STATUS_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'Service_Monthly_Table_Count_Load'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'Service_Tables_To_Save_Load'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'STATS_EXISTS'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'TOTAL_NET_REV_TFC_EVTS_FIRST_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'VB_INVOICE_VIOL_FULL_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'VB_INVOICES_FULL_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'VIOL_INVOICE_VIOL_FULL_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'VIOL_INVOICES_FULL_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'VIOL_REJECT_TYPES_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'VIOLATION_VB_VIOL_XREF_INCR_LOAD'

UPDATE SANDBOX.dbo.PROCEDURES_LAST_USE
SET NUMBER_USED = 1
WHERE PROC_NAME = 'VPS_HOST_TRANSACTIONS_FULL_LOAD'

*/
