CREATE PROC [DBO].[PMT_TXN_TYPES_LOAD] AS 

--DECLARE @LAST_UPDATE_DATE datetime2(2) 
--exec dbo.GetLoadStartDatetime 'dbo.PMT_TXN_TYPES', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.PMT_TXN_TYPES_STAGE')<>0	DROP TABLE dbo.PMT_TXN_TYPES_STAGE

--SELECT COUNT_BIG(1) FROM dbo.PMT_TXN_TYPES
--SELECT * FROM dbo.PMT_TXN_TYPES

CREATE TABLE dbo.PMT_TXN_TYPES_STAGE WITH (HEAP,DISTRIBUTION = REPLICATE) 
AS 
-- EXPLAIN
SELECT A.PMT_TXN_TYPE, A.PMT_TXN_TYPE_DESCR, A.LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[PMT_TXN_TYPES] A
OPTION (LABEL = 'PMT_TXN_TYPES_LOAD: PMT_TXN_TYPES_STAGE');

INSERT INTO dbo.PMT_TXN_TYPES_STAGE 
		(PMT_TXN_TYPE, PMT_TXN_TYPE_DESCR, LAST_UPDATE_DATE)
VALUES	('-1','(Null)','1900-01-01')


CREATE STATISTICS STATS_PMT_TXN_TYPES_001 ON PMT_TXN_TYPES_STAGE (PMT_TXN_TYPE)

IF OBJECT_ID('dbo.PMT_TXN_TYPES_OLD')>0 	DROP TABLE dbo.PMT_TXN_TYPES_OLD;
IF OBJECT_ID('dbo.PMT_TXN_TYPES')>0		RENAME OBJECT::dbo.PMT_TXN_TYPES TO PMT_TXN_TYPES_OLD;
RENAME OBJECT::dbo.PMT_TXN_TYPES_STAGE TO PMT_TXN_TYPES;
IF OBJECT_ID('dbo.PMT_TXN_TYPES_OLD')>0 	DROP TABLE dbo.PMT_TXN_TYPES_OLD;


--UPDATE dbo.PMT_TXN_TYPES
--SET  PMT_TXN_TYPE_DESCR = B.PMT_TXN_TYPE_DESCR
--	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
--FROM dbo.PMT_TXN_TYPES_STAGE B
--WHERE 
--	dbo.PMT_TXN_TYPES.PMT_TXN_TYPE = B.PMT_TXN_TYPE
--	AND 
--	dbo.PMT_TXN_TYPES.PMT_TXN_TYPE_DESCR <> B.PMT_TXN_TYPE_DESCR

--INSERT INTO dbo.PMT_TXN_TYPES (PMT_TXN_TYPE, PMT_TXN_TYPE_DESCR, INSERT_DATE, LAST_UPDATE_DATE)
--SELECT A.PMT_TXN_TYPE, A.PMT_TXN_TYPE_DESCR, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
--FROM dbo.PMT_TXN_TYPES_STAGE A
--LEFT JOIN dbo.PMT_TXN_TYPES B ON A.PMT_TXN_TYPE = B.PMT_TXN_TYPE
--WHERE B.PMT_TXN_TYPE IS NULL



