CREATE PROC [DBO].[FACT_UNIFIED_VIOLATION_RUN_PREV_FROM_2012_LOAD] AS

/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_UNIFIED_VIOLATION_RUN_PREV_FROM_2012_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_UNIFIED_VIOLATION_RUN_PREV_FROM_2012_LOAD
GO

IF DATEPART(HOUR, GETDATE()) < 8 
EXEC DBO.FACT_UNIFIED_VIOLATION_RUN_PREV_FROM_2012_LOAD
*/

DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2(2), @LOG_MESSAGE VARCHAR(1000), @ERROR_MESSAGE VARCHAR(3000), @ROW_COUNT BIGINT
DECLARE @sql VARCHAR(MAX)
SELECT  @SOURCE = 'FACT_UNIFIED_VIOLATION_PREV_FROM_2012', @LOG_START_DATE = SYSDATETIME(), @LOG_MESSAGE = 'FACT_UNIFIED_VIOLATION_RUN_PREV_FROM_2012_LOAD'

DECLARE @START_DATE DATE = '2012-01-01' --DATEADD(DAY,1,EOMONTH(GETDATE(),-1)) -- Beginning of this Month

DECLARE @START_DAY_ID INT = 20120101
DECLARE @END_DAY_ID INT = 20161231
DECLARE @CUR_PARTITION VARCHAR(4)

/**/
BEGIN TRY

	EXECUTE DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE_LOAD @START_DAY_ID, @END_DAY_ID
	/*				
	SELECT * FROM dbo.PROCESS_LOG 
	WHERE LOG_SOURCE = 'FACT_UNIFIED_VIOLATION_PREV_FROM_2012' AND LOG_DATE > '2020-02-01 8:00:00' --AND LOG_MESSAGE LIKE '%proc #1%'
	ORDER BY LOG_SOURCE, LOG_DATE
	*/

END	TRY	
BEGIN CATCH
	SELECT @ERROR_MESSAGE = ERROR_MESSAGE(); 
	PRINT @ERROR_MESSAGE
	SET @ERROR_MESSAGE = @LOG_MESSAGE + ' STAGE from: ' + CONVERT(VARCHAR(8),@START_DAY_ID) + ' to: ' + CONVERT(VARCHAR(8),@END_DAY_ID) + ' FAILED: ' + @ERROR_MESSAGE
	EXEC    dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  -1
END CATCH

--IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_PREV_FROM_2012_TRUNCATE') IS NOT NULL DROP TABLE dbo.FACT_UNIFIED_VIOLATION_PREV_FROM_2012_TRUNCATE;	
--EXEC DBO.GET_CREATE_TRUNCATE_TABLE_SQL @SOURCE, @sql OUTPUT 
--EXECUTE (@sql);

IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET;	
EXEC DBO.GET_CREATE_TABLE_AS_SQL 'FACT_UNIFIED_VIOLATION_SNAPSHOT', @sql OUTPUT

SET @sql = REPLACE(@sql,'dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT]','(
			SELECT FT.*, 
				ROW_NUMBER() OVER (PARTITION BY TART_ID ORDER BY STATUS_DATE DESC, POSTED_DATE DESC, REVIEW_DATE DESC, VIOLATION_ID DESC, LANE_VIOL_ID DESC, VIOLATOR_ID DESC) AS RN
			FROM dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE] AS FT
		)')
--SET @sql = REPLACE(@sql,'WHERE 1 = 1','		LEFT JOIN LND_LG_VPS.VP_OWNER.FA_FLEET_TRANSACTIONS FFT ON FFT.VIOLATION_ID = main_table.VIOLATION_ID
--		LEFT JOIN LND_LG_VPS.VP_OWNER.FA_FLEET_FILE FFF ON FFF.FLEET_FILE_ID = FFT.FLEET_FILE_ID
--WHERE RN = 1')
SET @sql = REPLACE(@sql,'WHERE 1 = 1','WHERE RN = 1')

SET @sql = REPLACE(@sql,'main_table.[BAD_ADDRESS_FLAG]','CASE 
							WHEN VBI_STATUS = ''B'' OR (VBI_STATUS = ''CV'' AND VIOL_INV_STATUS IN (''B'', ''A'')) THEN 1 
							ELSE 0 
						END')
--SET @sql = REPLACE(@sql,'main_table.[FLEET_FLAG]','CASE 
--							WHEN FFT.VIOLATION_ID IS NOT NULL AND (FFT.VIOL_DATE BETWEEN FFF.PURCHASE_DATE AND ISNULL(FFF.SELL_DATE,''2900-01-01'')) THEN 1
--							ELSE 0
--						END')
SET @sql = REPLACE(@sql,'main_table.[UnPursuable_FLAG]','CASE 
					WHEN LEVEL_1 IN (''IMAGES NOT ENTERING ICRS'',''NO IMAGE'') THEN 1
					WHEN LEVEL_2 = ''PENDING REVIEW'' THEN 1
					WHEN LEVEL_3 = ''IMAGES DISCARDED'' THEN 1
					WHEN LEVEL_4 = ''OCR REJECTS'' THEN 1
					WHEN LEVEL_5 IN (''W'',''F'',''X'',''E'',''A'',''N'') THEN 1
					WHEN LEVEL_5 = ''C'' AND LEVEL_6 IN (''B'', ''-1'') THEN 1
					WHEN LEVEL_5 = ''C'' AND LEVEL_6 = ''T'' AND SOURCE_CODE = ''-1'' THEN 1
					WHEN LEVEL_9 IN (''VIOL-NTX'',''VIOL-TX'',''VIOL-UBR'') THEN 1
					WHEN VIOL_STATUS IN (''Q'',''E'') THEN 1
					ELSE 0 
				END')
SET @sql = REPLACE(@sql,'main_table.[ADJ_REV]','CASE WHEN SOURCE_CODE != ''-1'' AND IOP_FLAG = 0 THEN EAR_REV WHEN SOURCE_CODE != ''-1'' AND DISPOSITION IN (''-1'', ''P'') THEN AMOUNT ELSE EAR_REV END')
SET @sql = REPLACE(@sql,'main_table.[POSTED_REV]','CASE WHEN SOURCE_CODE != ''-1'' AND DISPOSITION IN (''-1'', ''P'') THEN AMOUNT ELSE AMT_PAID END')


EXEC dbo.PRINT_LONG_VARIABLE_VALUE @SQL
EXECUTE (@sql);

EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = @LOG_MESSAGE + ' New snapshot switch table created.'
EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

EXEC DBO.FACT_UNIFIED_VIOLATION_CREATE_STATS 'FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET'

IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_PREV_FROM_2012_OLD') IS NOT NULL 	DROP TABLE dbo.FACT_UNIFIED_VIOLATION_PREV_FROM_2012_OLD;
IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_PREV_FROM_2012') IS NOT NULL		RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_PREV_FROM_2012 TO FACT_UNIFIED_VIOLATION_PREV_FROM_2012_OLD;
RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET TO FACT_UNIFIED_VIOLATION_PREV_FROM_2012;





