CREATE PROC [dbo].[FACT_ACCT_TAG_DETAIL_LOAD] @START_MONTH_ID [INT],@END_MONTH_ID [INT],@IS_FULL_LOAD [BIT] AS
BEGIN
	---------------------------------------------------------------------------------------------------------------------------------
	-- Shankar Metla	2019-12-19	 Load dbo.FACT_ACCT_TAG_DETAIL_LOAD with previous month active Account/Tag profile for 
	--								 GST 4.1 Reports: Active Tag Summary Report by Month, Active Account Summary Report by Month
	--
	-- Shankar Metla    2020-02-24   RITM0068759. GST 4.1 Tag Summary broken down by Rebill Amount Group.   
	-- Shankar Metla    2020-06-09   CHG0037019. Load daily Account Tag Activity for the current month.
	
    --								 Notes: 
	--								 1. Daily refresh loads from the current month begin to end of previous day (MTD). This is the normal mode. 
	--								 2. The marker to denote change of month is: fact table does not have data for the last day of the previous month. This is when it switches to load data for the entire previous month.
	--								 3. From next day onwards, it reverts back to loading data for the current month as mentioned above in #1. 
	-- Shankar Metla    2020-08-10   CHG0037104. Added Rebill Amount Group, Acct Payment Type Code to the fact table
	---------------------------------------------------------------------------------------------------------------------------------

	--:: DEBUG
	--DECLARE @START_MONTH_ID INT = 202007, @END_MONTH_ID INT = 202007, @IS_FULL_LOAD BIT = 1

	DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2 (3) = SYSDATETIME(), @LOG_MESSAGE VARCHAR(1000), @ERROR_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT 
	DECLARE @CURRENT_DATE DATETIME2 (3), @EO_PREV_DATE DATETIME2 (3), @EO_PREV_MONTH DATETIME2 (3), @CURRENT_MONTH_ID INT, @PREV_MONTH_ID INT, @LOAD_PERIOD VARCHAR(30), @LOAD_START_DATE DATETIME, @LOAD_END_DATE DATETIME
	SELECT	@CURRENT_DATE = SYSDATETIME() -- Now
	SELECT	@EO_PREV_DATE = DATEADD(MS, -2, CONVERT(VARCHAR, @CURRENT_DATE, 101)) -- Prev Day 23:59:59
	SELECT	@EO_PREV_MONTH =  CONVERT(DATETIME2(3),DATEADD(MS,-2,CONVERT(DATETIME,DATEADD(DAY,1,EOMONTH(@CURRENT_DATE,-1)))))
	SELECT	@CURRENT_MONTH_ID = CONVERT(INT,CONVERT(VARCHAR(6),@CURRENT_DATE,112)), @PREV_MONTH_ID = CONVERT(INT,CONVERT(VARCHAR(6),@EO_PREV_MONTH,112))
	SELECT  @IS_FULL_LOAD = ISNULL(@IS_FULL_LOAD,0) -- Default INCR

	IF	ISDATE(CONVERT(VARCHAR,@START_MONTH_ID) + '01') = 1 AND ISDATE(CONVERT(VARCHAR,@END_MONTH_ID) + '01') = 1
	BEGIN
		SELECT	@LOAD_PERIOD = 'Month Range', 
				@LOAD_START_DATE = CONVERT(DATETIME,CONVERT(VARCHAR(8),@START_MONTH_ID) + '01'),
				@LOAD_END_DATE = CASE WHEN @END_MONTH_ID = @CURRENT_MONTH_ID
									  THEN @EO_PREV_DATE
									  ELSE DATEADD(MS,-2,DATEADD(MONTH,1, CONVERT(DATETIME,CONVERT(VARCHAR,@END_MONTH_ID) + '01')))
									  END 
	END
	ELSE
	BEGIN
		IF EXISTS (SELECT 1 FROM dbo.FACT_ACCT_TAG_DETAIL WHERE TAG_COUNTER_DATE = @EO_PREV_MONTH) -- Full month data found for Prev Month
			SELECT	@LOAD_PERIOD = 'Current Month',
					@LOAD_START_DATE = DATEADD(DAY,1,EOMONTH(@CURRENT_DATE,-1)),
					@LOAD_END_DATE = @EO_PREV_DATE,
					@START_MONTH_ID = @CURRENT_MONTH_ID,
					@END_MONTH_ID = @CURRENT_MONTH_ID
		ELSE
			IF @CURRENT_DATE < DATEADD(DAY,1,@EO_PREV_MONTH)
				SELECT	@LOAD_PERIOD = 'Previous Month',
						@LOAD_START_DATE = DATEADD(DAY,1,EOMONTH(@CURRENT_DATE,-2)),  
						@LOAD_END_DATE = @EO_PREV_MONTH,
						@START_MONTH_ID = @PREV_MONTH_ID,  
						@END_MONTH_ID = @PREV_MONTH_ID 
			ELSE
				SELECT	@LOAD_PERIOD = 'Current Month + Previous Month',
						@LOAD_START_DATE = DATEADD(DAY,1,EOMONTH(@CURRENT_DATE,-2)),  
						@LOAD_END_DATE = @EO_PREV_DATE,
						@START_MONTH_ID = @PREV_MONTH_ID,  
						@END_MONTH_ID = @CURRENT_MONTH_ID 
	END

	SELECT	@CURRENT_DATE [@CURRENT_DATE], @EO_PREV_DATE [@EO_PREV_DATE], @EO_PREV_MONTH [@EO_PREV_MONTH],
			@LOAD_PERIOD [@LOAD_PERIOD], @LOAD_START_DATE [@LOAD_START_DATE], @LOAD_END_DATE [@LOAD_END_DATE], @START_MONTH_ID [@START_MONTH_ID], @END_MONTH_ID [@END_MONTH_ID], @CURRENT_MONTH_ID [@CURRENT_MONTH_ID]

	SELECT  @SOURCE = 'FACT_ACCT_TAG_DETAIL_LOAD', @LOG_MESSAGE = 'Started load with parameters for ' + ISNULL(@LOAD_PERIOD,'') +  ', @CURRENT_DATE: ' + CONVERT(VARCHAR(19), @CURRENT_DATE,121) + ', @LOAD_START_DATE: ' + CONVERT(VARCHAR(19), @LOAD_START_DATE,121) + ', @LOAD_END_DATE: ' + CONVERT(VARCHAR(23), @LOAD_END_DATE,121) + ', @START_MONTH_ID: ' + ISNULL(CONVERT(VARCHAR,@START_MONTH_ID),'NULL') + ', @END_MONTH_ID: ' + ISNULL(CONVERT(VARCHAR,@END_MONTH_ID),'NULL') 
	EXEC    dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL
	PRINT	@LOG_MESSAGE
 
	IF OBJECT_ID('TEMPDB.dbo.#MONTHS') IS NOT NULL DROP TABLE #MONTHS
	SELECT Cal_YearID YEAR_ID, 
		   Cal_MonthID MONTH_ID, 
		   CASE WHEN Cal_MonthID = @CURRENT_MONTH_ID THEN 1 ELSE 0 END IS_CURRENT_MONTH_ID,
		   MonthDate MONTH_BEGIN_DATE, 
		   CASE WHEN Cal_MonthID = CONVERT(INT,CONVERT(VARCHAR(6),@CURRENT_DATE,112)) THEN @EO_PREV_DATE ELSE DATEADD(MS,-2,CONVERT(DATETIME,DATEADD(M,1,MonthDate))) END MONTH_END_DATE  
	INTO #MONTHS
	FROM EDW_RITE.dbo.DIM_MONTH
	 WHERE Cal_MonthID BETWEEN @START_MONTH_ID AND @END_MONTH_ID
	
	SELECT * FROM #MONTHS
	
	--::====================================================================================================================
	--:: Load Month Begin Tags, Opened/Closed Tags during the month and Month End Tags
	--::====================d================================================================================================

	--:: Month Begin Tags
	IF OBJECT_ID('dbo.TEMP_MONTH_BEGIN_TAGS') IS NOT NULL DROP TABLE dbo.TEMP_MONTH_BEGIN_TAGS
	CREATE TABLE dbo.TEMP_MONTH_BEGIN_TAGS WITH (DISTRIBUTION = HASH(ACCT_ID)) AS 
	SELECT MONTH_ID, ACCT_ID, ACCT_TAG_SEQ, TAG_ID, TAG_HISTORY_SEQ, MONTH_BEGIN_DATE
	FROM
	(
		SELECT MONTH_ID, ACCT_ID, ACCT_TAG_SEQ, TAG_ID, TAG_HISTORY_SEQ, MONTH_BEGIN_DATE, ASSIGNED_DATE, EXPIRED_DATE, ROW_NUMBER() OVER(PARTITION BY MONTH_ID, ACCT_ID, ACCT_TAG_SEQ ORDER BY TAG_HISTORY_SEQ) RN
		  FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAG_HISTORY
		  JOIN #MONTHS ON MONTH_BEGIN_DATE BETWEEN ASSIGNED_DATE AND ISNULL(EXPIRED_DATE, '9999-12-31') 
		 WHERE ACCT_TAG_STATUS = 'A' 
	) T
	WHERE RN = 1
	--ORDER BY MONTH_ID, ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ

	/*
	--:: Check
	SELECT * FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAG_HISTORY WHERE ACCT_ID IN (382331,1144903,391419) AND TAG_ID IN ('00552968','00555787') ORDER BY  ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ
	SELECT 'MONTH_BEGIN_TAGS' MONTH_BEGIN_TAGS, MONTH_ID, ACCT_ID, COUNT(1) MONTH_BEGIN_TAGS FROM dbo.TEMP_MONTH_BEGIN_TAGS GROUP BY MONTH_ID, ACCT_ID ORDER BY MONTH_ID, ACCT_ID
	SELECT * FROM dbo.TEMP_MONTH_BEGIN_TAGS WHERE MONTH_ID = 201901 AND TAG_ID IN ('00552968','00555787') ORDER BY  MONTH_ID, tag_id
	*/

	--:: Open/Closed Tags

	IF OBJECT_ID('dbo.TEMP_OPENED_CLOSED_TAGS') IS NOT NULL DROP TABLE dbo.TEMP_OPENED_CLOSED_TAGS
	CREATE TABLE dbo.TEMP_OPENED_CLOSED_TAGS WITH (DISTRIBUTION = HASH(ACCT_ID)) AS
	SELECT T3.MONTH_ID, T3.ACCT_ID, T3.ACCT_TAG_SEQ, T3.TAG_HISTORY_SEQ, T3.TAG_ID, T3. ACCT_TAG_STATUS, T3.ASSIGNED_DATE, STATUS_RN, CHANGE_NUM, CHANGE_NUM_SEQ 
	FROM 
	(
		SELECT *, ROW_NUMBER() OVER (PARTITION BY ACCT_ID, ACCT_TAG_SEQ, CHANGE_NUM ORDER BY ASSIGNED_DATE,TAG_HISTORY_SEQ) CHANGE_NUM_SEQ 
		FROM
		(
			SELECT *, SUM(CASE WHEN ACCT_TAG_STATUS = LAG_TS THEN 0 ELSE 1 END) OVER (PARTITION BY ACCT_ID, ACCT_TAG_SEQ ORDER BY TAG_HISTORY_SEQ ROWS UNBOUNDED PRECEDING) AS CHANGE_NUM
			  FROM 
			  (
				SELECT ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, CASE WHEN ACCT_TAG_STATUS = 'A' THEN 'Active' ELSE 'Other' END ACCT_TAG_STATUS, TAG_ID, ASSIGNED_DATE, EXPIRED_DATE, 
					   ROW_NUMBER() OVER (PARTITION BY ACCT_ID, ACCT_TAG_SEQ, CASE WHEN ACCT_TAG_STATUS = 'A' THEN 'Active' ELSE 'Other' END ORDER BY TAG_HISTORY_SEQ) STATUS_RN,
					   LAG(CASE WHEN ACCT_TAG_STATUS = 'A' THEN 'Active' ELSE 'Other' END,1,'Other') OVER (PARTITION BY  ACCT_ID, ACCT_TAG_SEQ ORDER BY TAG_HISTORY_SEQ) LAG_TS,
					   CONVERT(INT,CONVERT(VARCHAR(6),ASSIGNED_DATE,112)) MONTH_ID 
				  FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAG_HISTORY
				 --WHERE ACCT_ID = 25993 --ORDER BY ACCT_ID, ACCT_TAG_SEQ DESC, TAG_HISTORY_SEQ DESC
			  ) T1 --ORDER BY ACCT_ID, ACCT_TAG_SEQ, CHANGE
		) T2 --ORDER BY ACCT_ID, ACCT_TAG_SEQ, CHANGE, RN 
	) T3
	WHERE T3.CHANGE_NUM_SEQ = 1 
	--ORDER BY ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ  

	/*
	--:: Check
	SELECT * FROM  dbo.TEMP_OPENED_CLOSED_TAGS WHERE ACCT_ID = 25993 ORDER BY ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ DESC 
	SELECT * FROM  dbo.TEMP_OPENED_CLOSED_TAGS WHERE ACCT_ID IN (9814,24611,25993) AND ASSIGNED_DATE >= '7/1/2020' ORDER BY ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ   
	*/

	--:: Opened Tags
	IF OBJECT_ID('dbo.TEMP_MONTH_OPENED_TAGS') IS NOT NULL DROP TABLE dbo.TEMP_MONTH_OPENED_TAGS
	CREATE TABLE dbo.TEMP_MONTH_OPENED_TAGS WITH (DISTRIBUTION = HASH(ACCT_ID)) AS 
	SELECT OCT.MONTH_ID, ACCT_ID, ACCT_TAG_SEQ, TAG_ID, TAG_HISTORY_SEQ, ACCT_TAG_STATUS, ASSIGNED_DATE
	  FROM dbo.TEMP_OPENED_CLOSED_TAGS OCT
	  JOIN #MONTHS M
		ON OCT.MONTH_ID = M.MONTH_ID
  	   AND OCT.ASSIGNED_DATE <= M.MONTH_END_DATE
	 WHERE ACCT_TAG_STATUS = 'Active'
	
	/*
	--:: Check
	SELECT 'OPENED_TAGS' OPENED_TAGS, MONTH_ID, ACCT_ID, COUNT(1) OPENED_TAGS FROM dbo.TEMP_MONTH_OPENED_TAGS GROUP BY MONTH_ID, ACCT_ID ORDER BY MONTH_ID, ACCT_ID
	SELECT * FROM dbo.TEMP_MONTH_OPENED_TAGS WHERE ACCT_ID = 25993 ORDER BY MONTH_ID, ACCT_ID
	*/

	--:: Closed Tags
	IF OBJECT_ID('dbo.TEMP_MONTH_CLOSED_TAGS') IS NOT NULL DROP TABLE dbo.TEMP_MONTH_CLOSED_TAGS
	CREATE TABLE dbo.TEMP_MONTH_CLOSED_TAGS WITH (DISTRIBUTION = HASH(ACCT_ID)) AS
	SELECT OC1.MONTH_ID, ACCT_ID, ACCT_TAG_SEQ, TAG_ID, TAG_HISTORY_SEQ, ACCT_TAG_STATUS, ASSIGNED_DATE
	  FROM dbo.TEMP_OPENED_CLOSED_TAGS OC1
	  JOIN #MONTHS M
		ON OC1.MONTH_ID = M.MONTH_ID
	   AND OC1.ASSIGNED_DATE <= MONTH_END_DATE
	 WHERE ACCT_TAG_STATUS = 'Other' 
       AND EXISTS (SELECT 1 FROM dbo.TEMP_OPENED_CLOSED_TAGS OC2 WHERE OC1.ACCT_ID = OC2.ACCT_ID AND OC1.ACCT_TAG_SEQ = OC2.ACCT_TAG_SEQ AND OC2.ACCT_TAG_STATUS = 'Active' AND OC2.TAG_HISTORY_SEQ < OC1.TAG_HISTORY_SEQ AND OC2.ASSIGNED_DATE <= OC1.ASSIGNED_DATE)

	/*
	--:: Check
	SELECT 'CLOSED_TAGS' CLOSED_TAGS, MONTH_ID, ACCT_ID, COUNT(1) CLOSED_TAGS FROM dbo.TEMP_MONTH_CLOSED_TAGS GROUP BY MONTH_ID, ACCT_ID ORDER BY MONTH_ID, ACCT_ID
	SELECT * FROM dbo.TEMP_MONTH_CLOSED_TAGS WHERE ACCT_ID = 7  ORDER BY MONTH_ID, ACCT_ID
	*/

	--:: Monthend Tags
	IF OBJECT_ID('dbo.TEMP_MONTH_END_TAGS') IS NOT NULL DROP TABLE dbo.TEMP_MONTH_END_TAGS
	CREATE TABLE dbo.TEMP_MONTH_END_TAGS WITH (DISTRIBUTION = HASH(ACCT_ID)) AS 
	SELECT MONTH_ID, ACCT_ID, ACCT_TAG_SEQ, TAG_ID, TAG_HISTORY_SEQ, MONTH_END_DATE  
	FROM
	(
	SELECT MONTH_ID, ACCT_ID, ACCT_TAG_SEQ, TAG_ID, TAG_HISTORY_SEQ, MONTH_END_DATE, ASSIGNED_DATE, EXPIRED_DATE, ROW_NUMBER() OVER(PARTITION BY MONTH_ID, ACCT_ID, ACCT_TAG_SEQ ORDER BY TAG_HISTORY_SEQ DESC) RN
	  FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAG_HISTORY TG
	  JOIN #MONTHS Y ON MONTH_END_DATE BETWEEN ASSIGNED_DATE AND ISNULL(EXPIRED_DATE, '9999-12-31')
	 WHERE ACCT_TAG_STATUS = 'A' --AND TG.ACCT_ID = 7800 AND MONTH_ID = 201909
	   AND NOT EXISTS (SELECT 1 FROM dbo.TEMP_MONTH_CLOSED_TAGS CT WHERE TG.ACCT_ID = CT.ACCT_ID AND TG.ACCT_TAG_SEQ = CT.ACCT_TAG_SEQ AND Y.MONTH_ID = CT.MONTH_ID AND CT.TAG_HISTORY_SEQ > TG.TAG_HISTORY_SEQ)
	) T
	WHERE RN = 1  

	/*
	--:: Check
	SELECT 'MONTH_END_TAGS' MONTH_END_TAGS, MONTH_ID, ACCT_ID, COUNT(1) MONTH_END_TAGS FROM dbo.TEMP_MONTH_END_TAGS GROUP BY MONTH_ID, ACCT_ID ORDER BY MONTH_ID, ACCT_ID
	SELECT 'MONTH_END_TAGS' MONTH_END_TAGS, * FROM dbo.TEMP_MONTH_END_TAGS WHERE ACCT_ID = 25993800 AND MONTH_ID = 201909 ORDER BY MONTH_ID, ACCT_ID
	*/


	--:: Account info
	IF OBJECT_ID('TEMPDB.dbo.#ACCOUNTS') IS NOT NULL DROP TABLE #ACCOUNTS
	CREATE TABLE #ACCOUNTS WITH (DISTRIBUTION = HASH(ACCT_ID)) AS 
	WITH CTE_ACCT_OPENED AS
	(
		SELECT ACCT_ID, MIN(DATE_CREATED) ACCT_CREATED_DATE
		FROM LND_LG_TS.TAG_OWNER.ACCOUNT_HISTORY 
		WHERE ACCT_STATUS_CODE = 'A'
		GROUP BY ACCT_ID
	)
	,CTE_ACCT_CLOSED AS
	(
		SELECT ACCT_ID, MIN(DATE_CREATED) ACCT_CLOSED_DATE
		FROM LND_LG_TS.TAG_OWNER.ACCOUNT_HISTORY 
		WHERE ACCT_STATUS_CODE = 'C'
		GROUP BY ACCT_ID
	)
	SELECT A.ACCT_ID, 
		   A.REBILL_AMT,
		   CASE WHEN ISNULL(A.REBILL_AMT,0) < 20 THEN 1
		   		WHEN ISNULL(A.REBILL_AMT,0) = 20 THEN 2 
		   		WHEN ISNULL(A.REBILL_AMT,0) > 20 AND ISNULL(A.REBILL_AMT,0) <'40' THEN 3
		   		WHEN ISNULL(A.REBILL_AMT,0) >=40 THEN 4  
		   END  REBILL_AMT_GRP_ID,
		   A.ACCT_STATUS_CODE, 
		   A.ACCT_TYPE_CODE, 
		   A.PMT_TYPE_CODE, 
		   NULLIF(A.ZIP_CODE,'99999') ZIP_CODE, 
		   CONVERT(DATE,CASE WHEN AO.ACCT_CREATED_DATE < A.DATE_CREATED THEN AO.ACCT_CREATED_DATE ELSE A.DATE_CREATED END) ACCT_CREATED_DATE, 
		   CONVERT(DATE,ACCT_CLOSED_DATE) ACCT_CLOSED_DATE
	  FROM LND_LG_TS.TAG_OWNER.ACCOUNTS A
	  LEFT JOIN CTE_ACCT_OPENED AO
		ON A.ACCT_ID = AO.ACCT_ID
	  LEFT JOIN CTE_ACCT_CLOSED AC
		ON A.ACCT_ID = AC.ACCT_ID

	--:: Account info as of each month end
	IF OBJECT_ID('TEMPDB.dbo.#ACCOUNT_HIST') IS NOT NULL DROP TABLE #ACCOUNT_HIST
	CREATE TABLE #ACCOUNT_HIST WITH (DISTRIBUTION = HASH(ACCT_ID)) AS 
	WITH CTE_ACCT AS
	(
		SELECT MONTH_ID, ACCT_ID FROM dbo.TEMP_MONTH_BEGIN_TAGS 
		UNION  
		SELECT MONTH_ID, ACCT_ID FROM dbo.TEMP_MONTH_OPENED_TAGS 
		UNION
		SELECT MONTH_ID, ACCT_ID FROM dbo.TEMP_MONTH_CLOSED_TAGS 
		UNION
		SELECT MONTH_ID, ACCT_ID FROM dbo.TEMP_MONTH_END_TAGS  
	)
	SELECT A.MONTH_ID, 
		   A.ACCT_ID, 
		   AH.REBILL_AMT, 
		   CASE WHEN ISNULL(AH.REBILL_AMT,0) < 20 THEN 1
		   		WHEN ISNULL(AH.REBILL_AMT,0) = 20 THEN 2 
		   		WHEN ISNULL(AH.REBILL_AMT,0) > 20 AND ISNULL(AH.REBILL_AMT,0) <'40' THEN 3
		   		WHEN ISNULL(AH.REBILL_AMT,0) >=40 THEN 4  
		   END  REBILL_AMT_GRP_ID,
		   AH.ACCT_STATUS_CODE, 
		   AH.ACCT_TYPE_CODE, 
		   AH.PMT_TYPE_CODE, 
		   NULLIF(AH.ZIP_CODE,'99999') ZIP_CODE, 
		   M.MONTH_END_DATE
	FROM CTE_ACCT A
	JOIN #MONTHS M ON M.MONTH_ID = A.MONTH_ID 
	JOIN LND_LG_TS.TAG_OWNER.ACCOUNT_HISTORY AH ON A.ACCT_ID = AH.ACCT_ID AND M.MONTH_END_DATE BETWEEN AH.ASSIGNED_DATE AND ISNULL(AH.EXPIRED_DATE, '9999-12-31')

	--::====================================================================================================================
	--:: Load dbo.FACT_ACCT_TAG_DETAIL
	--::====================================================================================================================

	IF OBJECT_ID('dbo.TEMP_ACCT_TAG_DETAIL') IS NOT NULL DROP TABLE dbo.TEMP_ACCT_TAG_DETAIL
	CREATE TABLE dbo.TEMP_ACCT_TAG_DETAIL 
	WITH	(PARTITION (MONTH_ID RANGE RIGHT FOR VALUES (	201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,201811,201812,
															201901,201902,201903,201904,201905,201906,201907,201908,201909,201910,201911,201912,
															202001,202002,202003,202004,202005,202006,202007,202008,202009,202010,202011,202012,
															202101,202102,202103,202104,202105,202106,202107,202108,202109,202110,202111,202112))  
			,DISTRIBUTION = HASH(ACCT_ID)
			,CLUSTERED COLUMNSTORE INDEX
			) 		
	AS
	WITH CTE_TAGS_DETAIL AS
	(
		SELECT MONTH_ID, ACCT_ID, TAG_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, 'MONTH BEGIN' TAG_COUNTER, MONTH_BEGIN_DATE TAG_COUNTER_DATE, 1 MONTH_BEGIN_TAG, 0 OPENED_TAG, 0 CLOSED_TAG, 0 MONTH_END_TAG
		  FROM dbo.TEMP_MONTH_BEGIN_TAGS  
		UNION ALL
		SELECT MONTH_ID, ACCT_ID, TAG_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, 'TAG OPENED' TAG_COUNTER, ASSIGNED_DATE TAG_COUNTER_DATE, 0 MONTH_BEGIN_TAG, 1 OPENED_TAG, 0 CLOSED_TAG, 0 MONTH_END_TAG
		  FROM dbo.TEMP_MONTH_OPENED_TAGS
		UNION ALL
		SELECT MONTH_ID, ACCT_ID, TAG_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, 'TAG CLOSED' TAG_COUNTER, ASSIGNED_DATE TAG_COUNTER_DATE, 0 MONTH_BEGIN_TAG, 0 OPENED_TAG, 1 CLOSED_TAG, 0 MONTH_END_TAG
		  FROM dbo.TEMP_MONTH_CLOSED_TAGS
		UNION ALL
		SELECT MONTH_ID, ACCT_ID, TAG_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, 'MONTH END' TAG_COUNTER, MONTH_END_DATE TAG_COUNTER_DATE, 0 MONTH_BEGIN_TAG, 0 OPENED_TAG, 0 CLOSED_TAG, 1 MONTH_END_TAG
		  FROM dbo.TEMP_MONTH_END_TAGS
		--ORDER BY ACCT_ID, MONTH_ID, ACCT_TAG_SEQ, TAG_COUNTER_DATE, TAG_HISTORY_SEQ
	)
	SELECT TD.MONTH_ID,
		   TD.ACCT_ID,
		   COALESCE(AH.REBILL_AMT_GRP_ID,A.REBILL_AMT_GRP_ID) REBILL_AMT_GRP_ID,
		   COALESCE(AH.REBILL_AMT,A.REBILL_AMT) REBILL_AMT,
		   COALESCE(AH.ACCT_STATUS_CODE, A.ACCT_STATUS_CODE) ACCT_STATUS_CODE,
		   COALESCE(AH.ACCT_TYPE_CODE, A.ACCT_TYPE_CODE) ACCT_TYPE_CODE,
		   COALESCE(AH.PMT_TYPE_CODE, A.PMT_TYPE_CODE) PMT_TYPE_CODE,
		   COALESCE(AH.ZIP_CODE,A.ZIP_CODE) ZIP_CODE,
		   A.ACCT_CREATED_DATE, 
		   A.ACCT_CLOSED_DATE,
		   TD.TAG_ID,
		   TD.ACCT_TAG_SEQ,
		   TD.TAG_HISTORY_SEQ,
		   TD.TAG_COUNTER,
		   TD.TAG_COUNTER_DATE,
		   TD.MONTH_BEGIN_TAG,
		   TD.OPENED_TAG,
		   TD.CLOSED_TAG,
		   TD.MONTH_END_TAG,
		   GETDATE() LAST_UPDATE_DATE
	  FROM CTE_TAGS_DETAIL TD  
	  JOIN #ACCOUNTS A 
		ON TD.ACCT_ID = A.ACCT_ID
	  LEFT JOIN #ACCOUNT_HIST AH 
		ON TD.ACCT_ID = AH.ACCT_ID
		AND TD.MONTH_ID = AH.MONTH_ID

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	
	SELECT  @LOG_MESSAGE = 'Loaded TEMP_ACCT_TAG_DETAIL'
	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	IF @IS_FULL_LOAD = 1 -- FULL LOAD
	BEGIN
		--:: Initial full load
		IF OBJECT_ID('dbo.FACT_ACCT_TAG_DETAIL') IS NOT NULL DROP TABLE dbo.FACT_ACCT_TAG_DETAIL
		RENAME OBJECT dbo.TEMP_ACCT_TAG_DETAIL TO FACT_ACCT_TAG_DETAIL
	END
	ELSE
	BEGIN
		CREATE TABLE dbo.TEMP_ACCT_TAG_DETAIL1 
		WITH	(PARTITION (MONTH_ID RANGE RIGHT FOR VALUES (	201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,201811,201812,
																201901,201902,201903,201904,201905,201906,201907,201908,201909,201910,201911,201912,
																202001,202002,202003,202004,202005,202006,202007,202008,202009,202010,202011,202012,
																202101,202102,202103,202104,202105,202106,202107,202108,202109,202110,202111,202112))  
				,DISTRIBUTION = HASH(ACCT_ID)
				,CLUSTERED COLUMNSTORE INDEX
				) 		
		AS
		SELECT * FROM dbo.FACT_ACCT_TAG_DETAIL WHERE MONTH_ID NOT BETWEEN @START_MONTH_ID AND @END_MONTH_ID
		UNION ALL
		SELECT * FROM dbo.TEMP_ACCT_TAG_DETAIL

		DROP TABLE dbo.FACT_ACCT_TAG_DETAIL
		RENAME OBJECT dbo.TEMP_ACCT_TAG_DETAIL1 TO FACT_ACCT_TAG_DETAIL
	
		DROP TABLE dbo.TEMP_ACCT_TAG_DETAIL
	END

	CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_000 ON dbo.FACT_ACCT_TAG_DETAIL (MONTH_ID)
	CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_001 ON dbo.FACT_ACCT_TAG_DETAIL (ACCT_ID)
	CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_002 ON dbo.FACT_ACCT_TAG_DETAIL (TAG_COUNTER)
	CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_003 ON dbo.FACT_ACCT_TAG_DETAIL (TAG_COUNTER_DATE)
	CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_004 ON dbo.FACT_ACCT_TAG_DETAIL (REBILL_AMT)
	CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_005 ON dbo.FACT_ACCT_TAG_DETAIL (ACCT_STATUS_CODE)
	CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_006 ON dbo.FACT_ACCT_TAG_DETAIL (ACCT_TYPE_CODE)
	CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_007 ON dbo.FACT_ACCT_TAG_DETAIL (ZIP_CODE)

	SELECT @LOG_MESSAGE = 'Finished FACT_ACCT_TAG_DETAIL load'
	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL
END


/*
--::====================================================================================================================
--:: Testing 
--::====================================================================================================================


USE EDW_RITE

GO

--:: Take backup of fact table
CREATE SCHEMA ZZZ

GO

CREATE TABLE ZZZ.FACT_ACCT_TAG_DETAIL_20200819
WITH	(PARTITION (MONTH_ID RANGE RIGHT FOR VALUES (	201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,201811,201812,
														201901,201902,201903,201904,201905,201906,201907,201908,201909,201910,201911,201912,
														202001,202002,202003,202004,202005,202006,202007,202008,202009,202010,202011,202012,
														202101,202102,202103,202104,202105,202106,202107,202108,202109,202110,202111,202112))  
		,DISTRIBUTION = HASH(ACCT_ID)
		,CLUSTERED COLUMNSTORE INDEX
		) 		
AS
SELECT * FROM dbo.FACT_ACCT_TAG_DETAIL

CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_20200819_000 ON ZZZ.FACT_ACCT_TAG_DETAIL_20200819 (MONTH_ID)
CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_20200819_001 ON ZZZ.FACT_ACCT_TAG_DETAIL_20200819 (ACCT_ID)
CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_20200819_002 ON ZZZ.FACT_ACCT_TAG_DETAIL_20200819 (TAG_COUNTER)
CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_20200819_003 ON ZZZ.FACT_ACCT_TAG_DETAIL_20200819 (TAG_COUNTER_DATE)
CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_20200819_004 ON ZZZ.FACT_ACCT_TAG_DETAIL_20200819 (REBILL_AMT)
CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_20200819_005 ON ZZZ.FACT_ACCT_TAG_DETAIL_20200819 (ACCT_STATUS_CODE)
CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_20200819_006 ON ZZZ.FACT_ACCT_TAG_DETAIL_20200819 (ACCT_TYPE_CODE)
CREATE STATISTICS STATS_FACT_ACCT_TAG_DETAIL_20200819_007 ON ZZZ.FACT_ACCT_TAG_DETAIL_20200819 (ZIP_CODE)

GO
--:: Full load
EXEC dbo.FACT_ACCT_TAG_DETAIL_LOAD @START_MONTH_ID = 201801, @END_MONTH_ID = 202008, @IS_FULL_LOAD = 1

GO
--:: Quick Check
SELECT 'FACT_ACCT_TAG_DETAIL' TABLE_NAME, MONTH_ID, MIN(TAG_COUNTER_DATE) TAG_COUNTER_DATE_FROM, MAX(TAG_COUNTER_DATE) TAG_COUNTER_DATE_TO, COUNT(1) RC 
FROM dbo.FACT_ACCT_TAG_DETAIL WHERE MONTH_ID >= 202001 
GROUP BY MONTH_ID ORDER BY 2 DESC

--:: Prod daily load
EXEC dbo.FACT_ACCT_TAG_DETAIL_LOAD @START_MONTH_ID = NULL, @END_MONTH_ID = NULL, @IS_FULL_LOAD = NULL
SELECT TOP 3 * FROM dbo.PROCESS_LOG ORDER BY 1 DESC

SELECT MAX(TG.ASSIGNED_DATE) MAX_ASSIGNED_DATE, COUNT(1) RC FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAG_HISTORY TG WHERE ASSIGNED_DATE < '8/1/2020'

SELECT 'FACT_ACCT_TAG_DETAIL' TABLE_NAME, MONTH_ID, MIN(TAG_COUNTER_DATE) TAG_COUNTER_DATE_FROM, MAX(TAG_COUNTER_DATE) TAG_COUNTER_DATE_TO, COUNT(1) RC 
FROM dbo.FACT_ACCT_TAG_DETAIL WHERE MONTH_ID >= 202001 
GROUP BY MONTH_ID ORDER BY 2 DESC

--:: Reset 202005 load. 
DELETE FROM dbo.FACT_ACCT_TAG_DETAIL WHERE MONTH_ID = 202005

--:: Summary Tag Counts
SELECT 'TEMP_MONTH_BEGIN_TAGS' TABLE_NAME, MONTH_ID, COUNT(1) RC FROM dbo.TEMP_MONTH_BEGIN_TAGS GROUP BY MONTH_ID ORDER BY 1
SELECT 'TEMP_MONTH_OPENED_TAGS' TABLE_NAME, MONTH_ID, COUNT(1) RC FROM dbo.TEMP_MONTH_OPENED_TAGS GROUP BY MONTH_ID ORDER BY 1
SELECT 'TEMP_MONTH_CLOSED_TAGS' TABLE_NAME, MONTH_ID, COUNT(1) RC FROM dbo.TEMP_MONTH_CLOSED_TAGS GROUP BY MONTH_ID ORDER BY 1
SELECT'TEMP_MONTH_END_TAGS' TABLE_NAME, MONTH_ID, COUNT(1) RC FROM dbo.TEMP_MONTH_END_TAGS GROUP BY MONTH_ID ORDER BY 1

SELECT COUNT(1) RC FROM dbo.vw_ACCT_TAG_SUMMARY WHERE MONTH_ID >= 202001
SELECT COUNT(1) RC FROM dbo.FACT_ACCT_TAG_DETAIL WHERE MONTH_ID >= 202001

SELECT MONTH_ID, TAG_COUNTER, COUNT(1) RC FROM dbo.FACT_ACCT_TAG_DETAIL WHERE MONTH_ID >= 202001
GROUP BY MONTH_ID, TAG_COUNTER  
ORDER BY MONTH_ID, 
		 CASE 
			WHEN TAG_COUNTER = 'MONTH BEGIN' THEN 1 
			WHEN TAG_COUNTER = 'TAG OPENED' THEN 2 
			WHEN TAG_COUNTER = 'TAG CLOSED' THEN 3
			WHEN TAG_COUNTER = 'MONTH END' THEN 4 
		 END

SELECT * FROM LND_LG_TS.TAG_OWNER.ACCOUNTS WHERE ACCT_ID = 406135 ORDER BY ACCT_ID 
SELECT * FROM LND_LG_TS.TAG_OWNER.ACCOUNT_HISTORY WHERE ACCT_ID = 406135 ORDER BY ACCT_ID, ACCT_HIST_SEQ 
SELECT * FROM dbo.vw_ACCT_TAG_SUMMARY  WHERE ACCT_ID = 2 ORDER BY ACCT_ID, MONTH_ID 
SELECT * FROM dbo.FACT_ACCT_TAG_DETAIL  WHERE ACCT_ID = 406135 ORDER BY ACCT_ID, MONTH_ID 
SELECT * FROM dbo.PROCESS_LOG ORDER BY 1 DESC

--:: DUP TAG COUNT
SELECT SUM(RC), COUNT(1), SUM(RC) - COUNT(1)  DUP_CNT FROM #TAG_DIFF WHERE TBL = '#ACCOUNT_TAG_HIST' 
SELECT MONTH_ID, COUNT(1) TAG_CNT, SUM(RC) TAG_CNT_WITH_DUP, SUM(RC) - COUNT(1) DUP_CNT FROM #ACCOUNT_TAG_HIST GROUP BY MONTH_ID ORDER BY 1

--:: Check. Dup Tag counters
SELECT MONTH_ID, ACCT_ID, ACCT_TAG_SEQ, TAG_COUNTER, TAG_ID, COUNT(1) RC
FROM dbo.FACT_ACCT_TAG_DETAIL 
WHERE MONTH_ID = 201901
GROUP BY MONTH_ID, ACCT_ID, ACCT_TAG_SEQ, TAG_COUNTER, TAG_ID
HAVING COUNT(1) > 1
ORDER BY MONTH_ID, ACCT_ID, ACCT_TAG_SEQ, TAG_COUNTER 

--:: Same tag in more than one account. 203 tags. 
SELECT MONTH_ID, TAG_ID, COUNT(1) RC  
FROM dbo.TEMP_MONTH_BEGIN_TAGS 
WHERE MONTH_ID >= 201901 
GROUP BY MONTH_ID, TAG_ID
HAVING COUNT(1) > 1
ORDER BY MONTH_ID, TAG_ID

SELECT * 
FROM dbo.FACT_ACCT_TAG_DETAIL 
WHERE MONTH_ID = 201909 AND ACCT_ID = 25993800 AND ACCT_TAG_SEQ = 8

SELECT *
FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAG_HISTORY h
WHERE ACCT_ID = 4288 AND ACCT_TAG_SEQ = 5
ORDER BY h.TAG_HISTORY_SEQ

--:: Take a close look at problem cases.

--:: Step 1.
SELECT * FROM dbo.vw_ACCT_TAG_SUMMARY WHERE DIFF_CHECK <> 'OK' AND MONTH_ID >= 201901 ORDER BY ACCT_ID, MONTH_ID

--:: Step 2.
DECLARE @ACCT_ID INT = 4288 ,
		@MONTH_ID_FROM INT = 201901,
		@MONTH_ID_TO INT = 201901, 
		@ACCT_TAG_SEQ INT = 5

IF NULLIF(@ACCT_TAG_SEQ,0) IS NULL
BEGIN
	SELECT *
	  FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAGS
	 WHERE ACCT_ID = @ACCT_ID 
	 ORDER BY ACCT_ID,ACCT_TAG_SEQ 

	SELECT *
	  FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAG_HISTORY 
	 WHERE ACCT_ID = @ACCT_ID  
	 ORDER BY ACCT_ID,ACCT_TAG_SEQ, TAG_HISTORY_SEQ 

	SELECT *
	  FROM dbo.vw_ACCT_TAG_SUMMARY 
	 WHERE ACCT_ID = @ACCT_ID AND MONTH_ID BETWEEN @MONTH_ID_FROM AND @MONTH_ID_TO
	 ORDER BY ACCT_ID, MONTH_ID

	SELECT *
	  FROM dbo.FACT_ACCT_TAG_DETAIL 
	 WHERE ACCT_ID = @ACCT_ID AND MONTH_ID BETWEEN @MONTH_ID_FROM AND @MONTH_ID_TO 
	 ORDER BY ACCT_ID, MONTH_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ
END
ELSE
BEGIN
	SELECT *
	  FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAGS
	 WHERE ACCT_ID = @ACCT_ID AND ACCT_TAG_SEQ = @ACCT_TAG_SEQ 
	 ORDER BY ACCT_ID,ACCT_TAG_SEQ 
	 
	 SELECT *
	  FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAG_HISTORY 
	 WHERE ACCT_ID = @ACCT_ID AND ACCT_TAG_SEQ = @ACCT_TAG_SEQ 
	 ORDER BY ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ 

	SELECT *
	  FROM dbo.vw_ACCT_TAG_SUMMARY 
	 WHERE ACCT_ID = @ACCT_ID AND MONTH_ID BETWEEN @MONTH_ID_FROM AND @MONTH_ID_TO
	 ORDER BY ACCT_ID, MONTH_ID

	SELECT *
	  FROM dbo.FACT_ACCT_TAG_DETAIL 
	 WHERE ACCT_ID = @ACCT_ID AND MONTH_ID BETWEEN @MONTH_ID_FROM AND @MONTH_ID_TO AND ACCT_TAG_SEQ = @ACCT_TAG_SEQ
	 ORDER BY ACCT_ID, MONTH_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ
END

--::====================================================================================================================
--:: Microstrategy Reporting 
--::====================================================================================================================

--:For Pat: Tag Summary
SELECT MONTH_ID,  SUM(MONTHLY_TAGS_CHG) MONTHLY_TAGS_CHG, SUM(MONTH_BEGIN_TAGS) MONTH_BEGIN_TAGS, SUM(OPENED_TAGS) OPENED_TAGS, SUM(CLOSED_TAGS) CLOSED_TAGS, SUM(MONTH_END_TAGS) MONTH_END_TAGS, SUM(CALC_MONTH_END_TAGS) CALC_MONTH_END_TAGS, SUM(MONTH_END_TAGS) - SUM(CALC_MONTH_END_TAGS) MONTH_END_DIFF, SUM(CASE WHEN DIFF_CHECK <> 'OK' THEN 1 ELSE 0 END) DIFF_TAGS 
  FROM dbo.vw_ACCT_TAG_SUMMARY 
 WHERE MONTH_ID >= 202001 
 GROUP BY MONTH_ID
 ORDER BY MONTH_ID

SELECT MONTH_ID, CASE WHEN REBILL_AMT < 20 THEN '20-' WHEN REBILL_AMT = 20 THEN '20' WHEN REBILL_AMT > 20 THEN '20+' END REBILL_AMT_GROUP, SUM(MONTHLY_TAGS_CHG) MONTHLY_TAGS_CHG, SUM(MONTH_BEGIN_TAGS) MONTH_BEGIN_TAGS, SUM(OPENED_TAGS) OPENED_TAGS, SUM(CLOSED_TAGS) CLOSED_TAGS, SUM(MONTH_END_TAGS) MONTH_END_TAGS, SUM(CALC_MONTH_END_TAGS) CALC_MONTH_END_TAGS, SUM(MONTH_END_TAGS) - SUM(CALC_MONTH_END_TAGS) MONTH_END_DIFF, SUM(CASE WHEN DIFF_CHECK <> 'OK' THEN 1 ELSE 0 END) DIFF_TAGS 
  FROM dbo.vw_ACCT_TAG_SUMMARY 
 WHERE MONTH_ID >= 201901 
 GROUP BY MONTH_ID,CASE WHEN REBILL_AMT < 20 THEN '20-' WHEN REBILL_AMT = 20 THEN '20' WHEN REBILL_AMT > 20 THEN '20+' END
 ORDER BY MONTH_ID

WITH CTE_TAG AS
(
SELECT MONTH_ID, SUM(MONTH_BEGIN_TAGS) MONTH_BEGIN_TAGS, SUM(OPENED_TAGS) OPENED_TAGS, SUM(CLOSED_TAGS) CLOSED_TAGS, SUM(MONTH_END_TAGS) MONTH_END_TAGS, SUM(CALC_MONTH_END_TAGS) CALC_MONTH_END_TAGS, SUM(MONTH_END_TAGS) - SUM(CALC_MONTH_END_TAGS) MONTH_END_DIFF, SUM(CASE WHEN DIFF_CHECK <> 'OK' THEN 1 ELSE 0 END) DIFF_TAGS 
  FROM dbo.vw_ACCT_TAG_SUMMARY 
 WHERE MONTH_ID >= 201601 
 GROUP BY MONTH_ID
)
SELECT LEFT(CONVERT(VARCHAR,MONTH_ID),4) YEAR_ID,
	   SUM(CASE WHEN RIGHT(CONVERT(VARCHAR,MONTH_ID),2) = '01' THEN MONTH_BEGIN_TAGS ELSE 0 END) YEAR_BEGIN_TAGS,
	   SUM(OPENED_TAGS) OPENED_TAGS,
	   SUM(CLOSED_TAGS) CLOSED_TAGS,
	   SUM(CASE WHEN RIGHT(CONVERT(VARCHAR,MONTH_ID),2) = '12' THEN MONTH_END_TAGS ELSE 0 END) YEAR_END_TAGS
FROM CTE_TAG
GROUP BY LEFT(CONVERT(VARCHAR,MONTH_ID),4)
ORDER BY 1

--:For Pat: Account Summary
SELECT MONTH_ID, 
		COUNT(DISTINCT ACCT_ID) ACCOUNTS, 
		SUM(MONTH_BEGIN_ACCOUNT) MONTH_BEGIN_ACCOUNTS,
		SUM(NEW_ACCOUNT) NEW_ACCOUNTS,
		SUM(LOST_ACCOUNT) LOST_ACCOUNTS,
		SUM(MONTH_END_ACCOUNT) MONTH_END_ACCOUNTS,
		CASE WHEN SUM(MONTH_BEGIN_ACCOUNT) > 0 THEN  (SUM(MONTH_BEGIN_ACCOUNT) - SUM(LOST_ACCOUNT))/(SUM(MONTH_BEGIN_ACCOUNT)*1.0) END RETENTION_RATE,
		CASE WHEN (SUM(MONTH_BEGIN_ACCOUNT) + SUM(NEW_ACCOUNT)) > 0 THEN SUM(LOST_ACCOUNT) / ((SUM(MONTH_BEGIN_ACCOUNT) + SUM(NEW_ACCOUNT)) * 1.0) END CHURN_RATE 
  FROM dbo.vw_ACCT_TAG_SUMMARY 
 WHERE MONTH_ID >= 201601 
 GROUP BY MONTH_ID
 ORDER BY MONTH_ID

WITH CTE_ACCT AS
(
SELECT MONTH_ID, 
		COUNT(DISTINCT ACCT_ID) ACCOUNTS, 
		SUM(MONTH_BEGIN_ACCOUNT) MONTH_BEGIN_ACCOUNTS,
		SUM(NEW_ACCOUNT) NEW_ACCOUNTS,
		SUM(LOST_ACCOUNT) LOST_ACCOUNTS,
		SUM(MONTH_END_ACCOUNT) MONTH_END_ACCOUNTS
  FROM dbo.vw_ACCT_TAG_SUMMARY 
 WHERE MONTH_ID >= 201601 
 GROUP BY MONTH_ID
)
SELECT LEFT(CONVERT(VARCHAR,MONTH_ID),4) YEAR_ID,
	   SUM(CASE WHEN RIGHT(CONVERT(VARCHAR,MONTH_ID),2) = '01' THEN MONTH_BEGIN_ACCOUNTS ELSE 0 END) YEAR_BEGIN_ACCOUNTS,
	   SUM(NEW_ACCOUNTS) NEW_ACCOUNTS,
	   SUM(LOST_ACCOUNTS) LOST_ACCOUNTS,
	   SUM(CASE WHEN RIGHT(CONVERT(VARCHAR,MONTH_ID),2) = '12' THEN MONTH_END_ACCOUNTS ELSE 0 END) YEAR_END_ACCOUNTS
FROM CTE_ACCT
GROUP BY LEFT(CONVERT(VARCHAR,MONTH_ID),4)
ORDER BY 1


--:Output: Export results to \\nttafs1\Groups\NTTA\For Pat Louthan\Fact Acct Tag Summary.CSV 
SELECT *
  FROM EDW_RITE.dbo.vw_ACCT_TAG_SUMMARY 
 WHERE MONTH_ID >= 202001 
 ORDER BY MONTH_ID, ACCT_ID

--:Output: Export results to \\nttafs1\Groups\NTTA\For Pat Louthan\Fact Acct Tag Detail.CSV
SELECT *
  FROM EDW_RITE.dbo.FACT_ACCT_TAG_DETAIL 
 WHERE MONTH_ID >= 202001 
 ORDER BY MONTH_ID, 
		  ACCT_ID, 
		  ACCT_TAG_SEQ, 
		  CASE 
				WHEN TAG_COUNTER = 'MONTH BEGIN' THEN 1 
				WHEN TAG_COUNTER = 'TAG OPENED' THEN 2 
				WHEN TAG_COUNTER = 'TAG CLOSED' THEN 3
				WHEN TAG_COUNTER = 'MONTH END' THEN 4 
		  END

--:: REBILL_AMT Research
	SELECT COUNT(*) FROM LND_LG_TS.TAG_OWNER.ACCOUNT_HISTORY WHERE REBILL_AMT IS NULL
	SELECT * FROM LND_LG_TS.TAG_OWNER.ACCOUNTS WHERE REBILL_AMT IS NULL
	SELECT * FROM LND_LG_TS.TAG_OWNER.ACCOUNT_HISTORY WHERE REBILL_AMT IS NULL ORDER BY ASSIGNED_DATE DESC

*/

