CREATE PROC [dbo].[Insert_DIM_DAY_DIM_YEAR] AS


IF (SELECT MAX(DayId) FROM EDW_RITE.[dbo].[DIM_DAY]) < 20301231 
BEGIN
	INSERT INTO EDW_RITE.[dbo].[DIM_DAY]
	SELECT 
	DATEADD(YEAR, 12, DayDate) AS DayDate,
	CONVERT(VARCHAR(10), DATEADD(YEAR, 12, DayDate), 112) AS DayId,
	CONVERT(VARCHAR(10), DATEADD(DAY,-1,DATEADD(YEAR, 12, DayDate)), 112) AS PrevDayID,
	CONVERT(VARCHAR(6), DATEADD(YEAR, 12, DayDate), 112) AS Cal_MonthId,
	0 AS Sps_MonthId,
	YEAR(DATEADD(YEAR, 12, DayDate))*10 + DATEPART(QUARTER,DATEADD(YEAR, 12, DayDate)) AS Cal_QuarterId,
	0 AS Sps_QuarterId,
	YEAR(DATEADD(YEAR, 12, DayDate)) AS Cal_YearId,
	0 AS Sps_YearId,
	DATEADD(DAY,-1,DATEADD(YEAR, 12, DayDate)) AS PrevDayDate,
	DATEADD(MONTH,-1,DATEADD(YEAR, 12, DayDate)) AS LMDayDate,
	DATEADD(MONTH,-3,DATEADD(YEAR, 12, DayDate)) AS Cal_LQDayDate,
	null AS Sps_LQDayDate,
	DATEADD(YEAR,-1,DATEADD(YEAR, 12, DayDate)) AS LYDayDate,
	YEAR(DATEADD(YEAR, 12, DayDate))*1000 +DATEPART(WEEK,DayDate) AS Cal_WeekId,
	0 AS Sps_WeekId,
	DATEADD(DAY,-7,DATEADD(YEAR, 12, DayDate)) AS Cal_LWDayDate,
	null AS Sps_LWDayDate,
	RIGHT(CONVERT(VARCHAR(10), DATEADD(YEAR, 12, DayDate), 112),2) + '-' + LEFT(DATENAME(MONTH,DATEADD(YEAR, 12, DayDate)),3) + ' (' + LEFT(DATENAME(WEEKDAY,DATEADD(YEAR, 12, DayDate)),3) + ')' AS DayDesc,
	RIGHT(CONVERT(VARCHAR(10), DATEADD(DAY,-1,DATEADD(YEAR, 12, DayDate)), 112),2) + '-' + LEFT(DATENAME(MONTH,DATEADD(DAY,-1,DATEADD(YEAR, 12, DayDate))),3) + ' (' + LEFT(DATENAME(WEEKDAY,DATEADD(DAY,-1,DATEADD(YEAR, 12, DayDate))),3) + ')' AS PrevDayDesc,
	null AS IsWorkDay,
	CASE WHEN DATEPART(WEEKDAY,DATEADD(YEAR, 12, DayDate)) BETWEEN 2 AND 6 THEN 1 ELSE 0 END AS IsWeekDay,
	CASE WHEN DATEPART(WEEKDAY,DATEADD(YEAR, 12, DayDate)) = 1 OR DATEPART(WEEKDAY,DATEADD(YEAR, 12, DayDate)) = 7 THEN 1 ELSE 0 END AS IsWeekEnd,
	NULL AS WorkDaysInMonth,
	NULL AS WorkDaysLeftInMonth,
	NULL AS WorkDaysUsedInMonth,
	DAY(eomonth(DATEADD(YEAR, 12, DayDate))) AS DaysInMonth,
	GETDATE() AS LastModified
	FROM  EDW_RITE.[dbo].[DIM_DAY] 
	WHERE 
	DayDate between '2009-01-01' and '2018-12-31'
--ORDER BY DATEADD(YEAR, 12, DayDate)  
END

-- Dim_year (2026 to 2030)
--CREATE TABLE dbo.DIM_year_Stage WITH (CLUSTERED INDEX ( [cal_yearId] ASC ), DISTRIBUTION = REPLICATE) AS 
IF (SELECT MAX(cal_yearId) FROM EDW_RITE.[dbo].DIM_YEAR) < 2030 
BEGIN

	INSERT INTO EDW_RITE.[dbo].DIM_YEAR
	SELECT YEAR(DATEADD(YEAR, 5, YearDate)) AS cal_yearId,
		   YEAR(DATEADD(YEAR, 5, YearDate)) AS Fiscal_yearId,
		   YEAR(DATEADD(YEAR, 5, YearDate)) AS yearDesc,
		   DATEADD(YEAR, 5, YearDate) AS yearDate,
		   DATEDIFF(DAY, DATEADD(YEAR, 5, YearDate), DATEADD(YEAR, 1, DATEADD(YEAR, 5, YearDate))) AS YearDuration,
		   YEAR(DATEADD(YEAR, -1, DATEADD(YEAR, 5, YearDate))) AS cal_prevYearId,
		   YEAR(DATEADD(YEAR, -2, DATEADD(YEAR, 5, YearDate))) AS cal_prev2YearId,
		   YEAR(DATEADD(YEAR, -3, DATEADD(YEAR, 5, YearDate))) AS cal_prev3YearId,
		   YEAR(DATEADD(YEAR, -4, DATEADD(YEAR, 5, YearDate))) AS cal_prev4YearId,
		   YEAR(DATEADD(YEAR, -5, DATEADD(YEAR, 5, YearDate))) AS cal_prev5YearId,
		   YEAR(DATEADD(YEAR, -6, DATEADD(YEAR, 5, YearDate))) AS cal_prev6YearId,
		   YEAR(DATEADD(YEAR, -7, DATEADD(YEAR, 5, YearDate))) AS cal_prev7YearId
	FROM EDW_RITE.dbo.DIM_YEAR
	WHERE cal_yearId
	BETWEEN 2021 AND 2025;
END

