CREATE PROC [dbo].[GetUpdateFields] @TableName [varchar](255) AS
BEGIN 

	IF OBJECT_ID('tempdb..#TEMP')<>0
		DROP TABLE #TEMP

	CREATE TABLE #TEMP
	(
		TABLE_SCHEMA varchar(255),
		TABLE_NAME  varchar(255),
		ORDINAL_POSITION int ,
		COLUMN_NAME varchar(255)
	) WITH (LOCATION = USER_DB)


	INSERT INTO #TEMP
	SELECT TABLE_SCHEMA, TABLE_NAME, ORDINAL_POSITION, COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS where TABLE_NAME = @TableName ORDER BY ORDINAL_POSITION

	DECLARE @x INT = 1
	DECLARE @Str varchar(8000) = ''

	DECLARE @xMax int = ISNULL((SELECT  MAX(ORDINAL_POSITION)+1 FROM #TEMP),0);

	WHILE @x < @xMax
	BEGIN
		SET @Str = @Str + (SELECT ', ' + TABLE_SCHEMA + '.' + TABLE_NAME + '.' + COLUMN_NAME + ' = B.' + COLUMN_NAME FROM #TEMP WHERE ORDINAL_POSITION = @x) + CHAR(13) + CHAR(10)
		SET @x = @x + 1
	END

	PRINT RIGHT(@Str, LEN(@Str)-1)

END;


