CREATE PROC [dbo].[VIOLATION_INVOICE_EXISTS_STAGE_LOAD] AS 

IF OBJECT_ID('dbo.VIOLATION_INVOICE_EXISTS_STAGE')>0 	DROP TABLE dbo.VIOLATION_INVOICE_EXISTS_STAGE

CREATE TABLE dbo.VIOLATION_INVOICE_EXISTS_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID), CLUSTERED INDEX (VIOLATOR_ID, VIOLATION_ID)) 
AS 

SELECT V.VIOLATOR_ID, V.VIOLATION_ID
FROM dbo.VIOLATIONS_STAGE V
INNER JOIN dbo.VB_INVOICE_VIOL VBIV ON VBIV.VIOLATION_ID = V.VIOLATION_ID
INNER JOIN dbo.VB_INVOICES VBI ON VBIV.VBI_INVOICE_ID = VBI.VBI_INVOICE_ID

UNION 

SELECT V1.VIOLATOR_ID, V1.VIOLATION_ID
FROM dbo.VIOLATIONS_STAGE V1
INNER JOIN dbo.VIOL_INVOICE_VIOL VIV ON VIV.VIOLATION_ID = V1.VIOLATION_ID
INNER JOIN dbo.VIOL_INVOICES VI ON VIV.VIOL_INVOICE_ID = VI.VIOL_INVOICE_ID
OPTION (LABEL = 'VIOLATION_INVOICE_EXISTS_STAGE_LOAD: VIOLATION_INVOICE_EXISTS_STAGE');



---- EXPLAIN
--SELECT V1.VIOLATOR_ID, V1.VIOLATION_ID
--FROM dbo.VIOLATIONS_STAGE V1
--INNER JOIN dbo.VB_INVOICE_VIOL VBIV1 
--	ON VBIV1.VIOLATOR_ID = V1.VIOLATOR_ID AND VBIV1.VIOLATION_ID = V1.VIOLATION_ID
--UNION 
--SELECT V1.VIOLATOR_ID, V1.VIOLATION_ID
--FROM dbo.VIOLATIONS_STAGE V1
--INNER JOIN dbo.VIOL_INVOICE_VIOL VIV1 
--	ON VIV1.VIOLATOR_ID = V1.VIOLATOR_ID AND VIV1.VIOLATION_ID = V1.VIOLATION_ID
--OPTION (LABEL = 'VIOLATION_INVOICE_EXISTS_STAGE_LOAD: VIOLATION_INVOICE_EXISTS_STAGE');

--CREATE STATISTICS STATS_VIOLATION_INVOICE_EXISTS_STAGE_001 ON VIOLATION_INVOICE_EXISTS_STAGE(VIOLATOR_ID, VIOLATION_ID)



