CREATE PROC [DBO].[GET_RENAME_TABLE_SQL] @TABLE_NAME [VARCHAR](100),@NEW_TABLE_NAME [VARCHAR](100),@SQL_STRING [VARCHAR](MAX) OUT AS
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.GET_RENAME_TABLE_SQL') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.GET_RENAME_TABLE_SQL
GO

DECLARE @SQL_STRING [VARCHAR](MAX)
EXEC DBO.GET_RENAME_TABLE_SQL 'DIM_VIOLATOR_ASOF_NEW_SET', 'DIM_VIOLATOR_ASOF', @SQL_STRING OUTPUT 
PRINT @SQL_STRING


*/

	SET @SQL_STRING = '
	IF OBJECT_ID(''dbo.[' + @NEW_TABLE_NAME + '_OLD]'') IS NOT NULL		DROP TABLE dbo.[' + @NEW_TABLE_NAME + '_OLD];
	IF OBJECT_ID(''dbo.[' + @NEW_TABLE_NAME + ']'') IS NOT NULL			RENAME OBJECT::dbo.[' + @NEW_TABLE_NAME + '] TO [' + @NEW_TABLE_NAME + '_OLD];
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + ']'') IS NOT NULL		RENAME OBJECT::dbo.[' + @TABLE_NAME + '] TO [' + @NEW_TABLE_NAME + '];
	IF OBJECT_ID(''dbo.[' + @NEW_TABLE_NAME + '_OLD]'') IS NOT NULL		DROP TABLE dbo.[' + @NEW_TABLE_NAME + '_OLD];
	'

