CREATE PROC [DBO].[BALANCE_HISTORY_TGS_COMPARE_LOAD] AS

/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.BALANCE_HISTORY_TGS_COMPARE_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.BALANCE_HISTORY_TGS_COMPARE_LOAD
GO

EXEC EDW_RITE.DBO.BALANCE_HISTORY_TGS_COMPARE_LOAD



*/


DECLARE @SQL VARCHAR(MAX)


DECLARE @START_DATE DATE, @END_DATE DATE, @TM_DATE DATE 

SET @START_DATE = DATEADD(DAY,1,EOMONTH(GETDATE(),-2)) --'2019-04-01'
SET @TM_DATE = DATEADD(DAY,1,EOMONTH(GETDATE(),-1)) --'2019-04-01'
SET @END_DATE = EOMONTH(@TM_DATE) --'2019-04-01'

--IF @START_DATE IS NULL SET @START_DATE = '1998-11-01'
---- DECLARE @END_DATE DATE 
--IF @END_DATE IS NULL SET @END_DATE = DATEADD(DAY,1,EOMONTH(GETDATE())) 
----PRINT @END_DATE

--IF DAY(@START_DATE) <> 1 
--BEGIN
--	-- DECLARE @START_DATE DATE = '2018-09-16'
--	SET @START_DATE = CONVERT(DATE,CONVERT(VARCHAR(6),@START_DATE,112) + '01', 112)
--	--PRINT @START_DATE
--END

DECLARE @START_DAY_ID INT = CONVERT(INT,CONVERT(VARCHAR,@START_DATE,112))
DECLARE @TM_DAY_ID INT = CONVERT(INT,CONVERT(VARCHAR,@TM_DATE,112))
--DECLARE @STARTING_BALANCE_DATE DATETIME2 = '2012-01-01 00:00:00.000'
--DECLARE @ENDING_BALANCE_DATE DATETIME2 = EOMONTH(GETDATE())

IF OBJECT_ID('DBO.ACC_Months_For_Balance') is not null DROP TABLE DBO.ACC_Months_For_Balance

CREATE TABLE DBO.ACC_Months_For_Balance
WITH (DISTRIBUTION = HASH(POSTED_DATE))
AS
WITH Months_CTE AS 
(
SELECT DATE_MONTH, DATE_YEAR, MIN(DIM_DATE.DATE) AS MINDATE --MAX(DIM_DATE.DATE) AS MAXDATE, 
FROM [dbo].[DIM_DATE] 
WHERE DIM_DATE.DATE BETWEEN @START_DATE AND @END_DATE
GROUP BY DATE_MONTH, DATE_YEAR
),
ACC_CTE AS 
(
SELECT
	TXN.ACCT_ID AS ACCT_ID,	   
	CAST(MIN(TXN.POSTED_DATE) AS DATE) MIN_POSTED_DATE
FROM LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS TXN
WHERE TXN.POSTED_DATE BETWEEN @START_DATE AND @END_DATE
GROUP BY TXN.ACCT_ID
)
SELECT ACCT_ID, MINDATE AS POSTED_DATE
FROM ACC_CTE AS TXN
LEFT JOIN Months_CTE AS MM ON MM.MINDATE > TXN.MIN_POSTED_DATE

IF OBJECT_ID('DBO.TEMP_TGS_TOLL_TRANSACTIONS') is not null DROP TABLE DBO.TEMP_TGS_TOLL_TRANSACTIONS

CREATE TABLE DBO.TEMP_TGS_TOLL_TRANSACTIONS
WITH (DISTRIBUTION = HASH(POSTED_DATE))
AS
SELECT
	ACCT_ID AS ACCT_ID,	   
	CAST(POSTED_DATE AS DATE) POSTED_DATE,
	SUM(ISNULL(AMOUNT,0.00)) AS AMOUNT,
	SUM(1) AS TOLL_CNT --	SELECT MIN(TOLL_TRANSACTIONS.TRANSACTION_DATE), MIN(POSTED_DATE)  
FROM LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS  
WHERE POSTED_DATE BETWEEN @START_DATE AND @END_DATE
--WHERE ACCT_ID = 98618
GROUP BY ACCT_ID, CAST(POSTED_DATE AS DATE)

/*
SELECT * FROM DBO.TEMP_TGS_TOLL_TRANSACTIONS 
WHERE ACCT_ID = 777
ORDER BY POSTED_DATE

SELECT * FROM DBO.TEMP_TGS_RETAIL_TRANSACTIONS 
WHERE ACCT_ID = 777
ORDER BY POSTED_DATE

*/
IF OBJECT_ID('DBO.TEMP_TGS_RETAIL_TRANSACTIONS') is not null DROP TABLE DBO.TEMP_TGS_RETAIL_TRANSACTIONS   

CREATE TABLE DBO.TEMP_TGS_RETAIL_TRANSACTIONS
WITH(DISTRIBUTION = HASH(POSTED_DATE))
AS
SELECT -- SELECT TOP 100 * FROM LND_LG_TS.TAG_OWNER.TRANSACTION_TYPES SELECT MIN(RT.TRANS_DATE), MIN(RT.POSTED_DATE) FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS rt
	RT.ACCT_ID,             
	CAST(RT.POSTED_DATE AS DATE) AS POSTED_DATE,
	SUM(CASE WHEN TT.BALANCE_MULTIPLIER > 0 THEN ISNULL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS DT_AMOUNT,
	SUM(CASE WHEN TT.BALANCE_MULTIPLIER < 0 THEN ISNULL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS CT_AMOUNT
FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS RT  
 JOIN LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS RTD ON RT.RETAIL_TRANS_ID = RTD.RETAIL_TRANS_ID 		   
													AND RT.TRANS_STATUS = 'A'
													AND RTD.TRANS_STATUS = 'A'	
													AND RTD.LAST_UPDATE_TYPE != 'D'		  
 JOIN LND_LG_TS.TAG_OWNER.TRANSACTION_TYPES TT ON  RTD.TRANS_TYPE_ID = TT.TRANS_TYPE_ID
  AND TT.BALANCE_MULTIPLIER != 0
  AND TT.STATEMENT_FLAG = 'Y'
WHERE RT.POSTED_DATE BETWEEN @START_DATE AND @END_DATE --AND RT.ACCT_ID = 98618 
GROUP BY RT.ACCT_ID, CAST(RT.POSTED_DATE AS DATE)

/*
SELECT * FROM DBO.TEMP_TGS_RETAIL_TRANSACTIONS
SELECT * FROM DBO.TEMP_TGS_TOLL_TRANSACTIONS

SELECT * FROM DBO.TEMP_TGS_TRANSACTIONS_SUMMARY 
WHERE ACCT_ID = 98618
ORDER BY DATE_ID
*/

IF OBJECT_ID('DBO.TEMP_TGS_TRANSACTIONS_SUMMARY') is not null DROP TABLE DBO.TEMP_TGS_TRANSACTIONS_SUMMARY   
CREATE TABLE DBO.TEMP_TGS_TRANSACTIONS_SUMMARY
WITH(DISTRIBUTION = HASH(DATE_ID))
AS
-- EXPLAIN
WITH UNION_CTE AS (
SELECT -- SELECT TOP 100 * FROM LND_LG_TS.TAG_OWNER.TRANSACTION_TYPES
	ACCT_ID,             
	DT_AMOUNT AS DT_AMOUNT,
	CT_AMOUNT AS CT_AMOUNT,
	0 AS TOLL_CNT,
	POSTED_DATE
FROM DBO.TEMP_TGS_RETAIL_TRANSACTIONS
UNION ALL
SELECT -- SELECT TOP 100 * FROM LND_LG_TS.TAG_OWNER.TRANSACTION_TYPES
	ACCT_ID,             
	0.00 AS DT_AMOUNT,
	AMOUNT AS CT_AMOUNT,
	TOLL_CNT AS TOLL_CNT,
	POSTED_DATE
FROM DBO.TEMP_TGS_TOLL_TRANSACTIONS
UNION ALL
SELECT -- SELECT TOP 100 * FROM LND_LG_TS.TAG_OWNER.TRANSACTION_TYPES
	ACCT_ID,             
	0.00 AS DT_AMOUNT,
	0.00 AS CT_AMOUNT,
	0 AS TOLL_CNT,
	POSTED_DATE
FROM DBO.ACC_Months_For_Balance
)
SELECT ACCT_ID,             
	CONVERT(INT,CONVERT(VARCHAR,POSTED_DATE,112)) AS DATE_ID,
	SUM(DT_AMOUNT) AS DEBIT,
	SUM(CT_AMOUNT) AS CREDIT,
	SUM(DT_AMOUNT) - SUM(CT_AMOUNT) AS BALANCE,
	SUM(TOLL_CNT) AS TOLL_CNT
FROM UNION_CTE
GROUP BY ACCT_ID,CONVERT(INT,CONVERT(VARCHAR,POSTED_DATE,112))

IF OBJECT_ID('DBO.BALANCE_HISTORY_TGS_COMPARE_STAGE') is not null DROP TABLE DBO.BALANCE_HISTORY_TGS_COMPARE_STAGE   

	--SET @SQL = '
	CREATE TABLE DBO.BALANCE_HISTORY_TGS_COMPARE_STAGE
	WITH(CLUSTERED COLUMNSTORE INDEX,DISTRIBUTION = HASH(ACCT_ID))
	AS
	WITH LAST_CTE AS
	(SELECT
		TS.ACCT_ID,             
		TS.DATE_ID,
		SUM(TS.BALANCE)		OVER (PARTITION BY TS.ACCT_ID ORDER BY TS.DATE_ID ASC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS END_BALANCE,
		SUM(TS.DEBIT)		OVER (PARTITION BY TS.ACCT_ID ORDER BY TS.DATE_ID ASC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS TOTAL_DEBIT,
		SUM(TS.CREDIT)		OVER (PARTITION BY TS.ACCT_ID ORDER BY TS.DATE_ID ASC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS TOTAL_CREDIT,
		SUM(TS.TOLL_CNT)	OVER (PARTITION BY TS.ACCT_ID ORDER BY TS.DATE_ID ASC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS TOTAL_TOLL_CNT,
		TS.BALANCE AS BALANCE,
		TS.DEBIT AS DEBIT,
		TS.CREDIT AS CREDIT,
		TS.TOLL_CNT AS TOLL_CNT
	FROM DBO.TEMP_TGS_TRANSACTIONS_SUMMARY TS
	),
	-- Have to avoid numbers of this last day - recalculate them
	-- And take total numbers
	LAST_BALANCE_NUMBERS AS
	(	SELECT 
			ACCT_ID,
			BALANCE AS BALANCE
		FROM (SELECT RT.[ACCT_ID], RTD.TRANS_AMT AS BALANCE, ISNULL(DENSE_RANK() over(partition by RT.ACCT_ID order by RT.POSTED_DATE),0) AS DATE_VERSION		     
					FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS RT
					JOIN LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS RTD ON RT.[RETAIL_TRANS_ID] = RTD.[RETAIL_TRANS_ID]
					AND RTD.[TRANS_TYPE_ID] = 19				
					AND CAST(RT.POSTED_DATE AS DATE) = @START_DATE --comment to get starting
					--AND RT.POSTED_DATE = @STARTING_BALANCE_DATE uncomment to get starting
					AND RT.[trans_status] = 'A'
					AND RTD.[trans_status] = 'A'
					AND RTD.LAST_UPDATE_TYPE != 'D'
				   JOIN EDW_RITE.DBO.DIM_DATE DD ON CAST(RT.[POSTED_DATE] AS DATE)  = DD.[DATE] 	   	  
		) AS TG  WHERE TG.DATE_VERSION = 1
	)

	SELECT
		ISNULL(TS.ACCT_ID,-1)             			AS ACCT_ID,
		ISNULL(TS.DATE_ID,-1)						AS DATE_ID,
		ISNULL(TS.END_BALANCE,0) - ISNULL(TS.BALANCE,0)	+ ISNULL(BH.BALANCE,0)	AS BALANCE,
		ISNULL(TS.END_BALANCE,0) + ISNULL(BH.BALANCE,0)			AS END_BALANCE,
		--ISNULL(TS.DEBIT,0)		 + ISNULL(BH.TOTAL_DEBIT,0)		AS TOTAL_DEBIT,
		--ISNULL(TS.CREDIT,0)		 + ISNULL(BH.TOTAL_CREDIT,0)	AS TOTAL_CREDIT,
		--ISNULL(TS.TOLL_CNT,0)	 + ISNULL(BH.TOTAL_TOLL_CNT,0)	AS TOTAL_TOLL_CNT,
		ISNULL(TS.DEBIT,0)							AS DEBIT,
		ISNULL(TS.CREDIT,0)							AS CREDIT,
		ISNULL(TS.TOLL_CNT,0)						AS TOLL_CNT
	FROM LAST_CTE TS
	LEFT JOIN LAST_BALANCE_NUMBERS BH ON TS.ACCT_ID = BH.ACCT_ID


CREATE STATISTICS [STATS_FACT_BALANCE_HISTORY_TGS_001] ON [dbo].BALANCE_HISTORY_TGS_COMPARE_STAGE (ACCT_ID);
CREATE STATISTICS [STATS_FACT_BALANCE_HISTORY_TGS_002] ON [dbo].BALANCE_HISTORY_TGS_COMPARE_STAGE (DATE_ID);
CREATE STATISTICS [STATS_FACT_BALANCE_HISTORY_TGS_003] ON [dbo].BALANCE_HISTORY_TGS_COMPARE_STAGE (DATE_ID,ACCT_ID);


IF OBJECT_ID('DBO.BALANCE_HISTORY_TGS_COMPARE_OLD') > 0 DROP TABLE dbo.BALANCE_HISTORY_TGS_COMPARE_OLD;
IF OBJECT_ID('DBO.BALANCE_HISTORY_TGS_COMPARE') > 0 RENAME OBJECT::dbo.BALANCE_HISTORY_TGS_COMPARE TO BALANCE_HISTORY_TGS_COMPARE_OLD;
IF OBJECT_ID('DBO.BALANCE_HISTORY_TGS_COMPARE_STAGE') > 0 RENAME OBJECT::DBO.BALANCE_HISTORY_TGS_COMPARE_STAGE TO BALANCE_HISTORY_TGS_COMPARE;
IF OBJECT_ID('DBO.BALANCE_HISTORY_TGS_COMPARE_OLD') > 0 DROP TABLE dbo.BALANCE_HISTORY_TGS_COMPARE_OLD;

/*
SELECT * FROM DBO.FACT_BALANCE_HISTORY_TGS_NEW 
WHERE ACCT_ID = 777
ORDER BY DATE_ID

Cannot use an aggregate or a subquery in an expression used for the group by list of a GROUP BY clause.

SELECT MAX(DATE_ID) FROM DBO.FACT_BALANCE_HISTORY_TGS_NEW 

*/
IF OBJECT_ID('DBO.COMPARE_BALANCES_PREV_MONTH') > 0 DROP TABLE dbo.COMPARE_BALANCES_PREV_MONTH;
CREATE TABLE DBO.COMPARE_BALANCES_PREV_MONTH
WITH(CLUSTERED COLUMNSTORE INDEX,DISTRIBUTION = HASH(ACCT_ID))
AS
SELECT HN.ACCT_ID, TG.TRANS_AMT AS Old_Balance, (HN.BALANCE /* + HN.CREDIT - HN.DEBIT*/) AS NEW_Balance, (TG.TRANS_AMT - (HN.BALANCE /*+ HN.CREDIT - HN.DEBIT*/)) AS Diff, HN_DC.DEBIT, HN_DC.CREDIT, TG04.TRANS_AMT AS OLD_BALANCE_ON_PM, HN_04.BALANCE AS NEW_BALANCE_ON_PM
    FROM DBO.BALANCE_HISTORY_TGS_COMPARE HN
    JOIN DBO.BALANCE_HISTORY_TGS_COMPARE HN_04 ON HN_04.ACCT_ID = HN.ACCT_ID  AND HN_04.DATE_ID = @START_DAY_ID
    JOIN (SELECT ACCT_ID, SUM(DEBIT) DEBIT, SUM(CREDIT) CREDIT FROM DBO.BALANCE_HISTORY_TGS_COMPARE WHERE DATE_ID < @TM_DAY_ID GROUP BY ACCT_ID) HN_DC ON HN_DC.ACCT_ID = HN.ACCT_ID
	JOIN (SELECT RT.[ACCT_ID], RTD.TRANS_AMT, RT.[POSTED_DATE] AS [POSTED_DATE],ISNULL(DENSE_RANK() over(partition by RT.ACCT_ID order by RT.POSTED_DATE),0) AS DATE_VERSION		     
				FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS RT
				JOIN LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS RTD ON RT.[RETAIL_TRANS_ID] = RTD.[RETAIL_TRANS_ID]
			    AND RTD.[TRANS_TYPE_ID] = 19				
			    AND CAST(RT.POSTED_DATE AS DATE) = @TM_DATE --'2019-05-01' --comment to get starting
				--AND RT.POSTED_DATE = @STARTING_BALANCE_DATE uncomment to get starting
			    AND RT.[trans_status] = 'A'
			    AND RTD.[trans_status] = 'A'
				AND RTD.LAST_UPDATE_TYPE != 'D'
		       JOIN EDW_RITE.DBO.DIM_DATE DD ON CAST(RT.[POSTED_DATE] AS DATE)  = DD.[DATE] 	   	  
		     ) AS TG  ON HN.ACCT_ID = TG.ACCT_ID AND TG.DATE_VERSION = 1
	JOIN (SELECT RT.[ACCT_ID], RTD.TRANS_AMT, RT.[POSTED_DATE] AS [POSTED_DATE],ISNULL(DENSE_RANK() over(partition by RT.ACCT_ID order by RT.POSTED_DATE),0) AS DATE_VERSION		     
				FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS RT
				JOIN LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS RTD ON RT.[RETAIL_TRANS_ID] = RTD.[RETAIL_TRANS_ID]
			    AND RTD.[TRANS_TYPE_ID] = 19				
			    AND CAST(RT.POSTED_DATE AS DATE) = @START_DATE --'2019-04-01' --comment to get starting
				--AND RT.POSTED_DATE = @STARTING_BALANCE_DATE uncomment to get starting
			    AND RT.[trans_status] = 'A'
			    AND RTD.[trans_status] = 'A'
				AND RTD.LAST_UPDATE_TYPE != 'D'
		       JOIN EDW_RITE.DBO.DIM_DATE DD ON CAST(RT.[POSTED_DATE] AS DATE)  = DD.[DATE] 	   	  
		     ) AS TG04  ON HN.ACCT_ID = TG04.ACCT_ID AND TG04.DATE_VERSION = 1
	WHERE HN.DATE_ID = @TM_DAY_ID --HN.ACCT_ID IN (98618)

/*
-- Use this query to get alert if there is any differences

SELECT COUNT(1) FROM DBO.COMPARE_BALANCES_PREV_MONTH --1002
WHERE Diff != 0
SELECT COUNT(1) FROM DBO.COMPARE_BALANCES_PREV_MONTH --585688
WHERE Diff = 0


-- Use this query to get information about this differences to send it to user

SELECT ACCT_ID, OLD_BALANCE_ON_PM AS RT_PREV_MONTH_BAL, CREDIT AS TT_CHARGES, DEBIT AS RT_PAYMENTS,	Old_Balance AS RT_THIS_MONTH_BAL, NEW_Balance AS CORRECT_THIS_MONTH_BAL, Diff AS [DIFFERENCE]
FROM DBO.COMPARE_BALANCES_PREV_MONTH
WHERE Diff != 0
ORDER BY Diff DESC --HN.ACCT_ID

-- Use this query to get detailed data by one acc to compare and find where this difference is.
6159409
505975
564408

DECLARE @Acc_Nmbr INT = 6159409

SELECT 
	ISNULL(NEW.ACCT_ID, OLD.ACCT_ID) AS ACCT_ID,
	ISNULL(NEW.DATE_ID, OLD.DATE_ID) AS DATE_ID,
	ISNULL(NEW.TOLL_CNT,0) 				TOLL_CNT, 
	ISNULL(NEW.DEBIT,0) 				DEBIT, 
	ISNULL(NEW.CREDIT,0) 				CREDIT, 
	--ISNULL(NEW.TOTAL_TOLL_CNT,0) 		TOTAL_TOLL_CNT,
	--ISNULL(NEW.TOTAL_DEBIT,	0)			TOTAL_DEBIT,
	--ISNULL(NEW.TOTAL_CREDIT,0)			TOTAL_CREDIT,
	ISNULL(NEW.END_BALANCE,0) AS END_DAY_NEW_Balance,
	ISNULL(NEW.BALANCE,0) AS NEW_BALANCE,
	ISNULL(OLD.TRANS_AMT,0) AS Old_Balance,
	ISNULL(OLD.TRANS_AMT,0) - ISNULL(NEW.BALANCE,0) AS Diff
FROM DBO.BALANCE_HISTORY_TGS_COMPARE AS New 
	FULL OUTER JOIN (
		SELECT RT.ACCT_ID, RTD.TRANS_AMT, CONVERT(INT,CONVERT(VARCHAR(8),RT.POSTED_DATE,112)) AS DATE_ID,ISNULL(DENSE_RANK() over(partition by CONVERT(INT,CONVERT(VARCHAR(8),RT.POSTED_DATE,112)) order by RT.POSTED_DATE),0) AS DATE_VERSION		     
		FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS AS RT
		       JOIN LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS AS RTD 
				ON RT.[RETAIL_TRANS_ID] = RTD.[RETAIL_TRANS_ID]
			    AND RTD.TRANS_TYPE_ID = 19				
			    AND RTD.trans_status = 'A'
				AND RTD.LAST_UPDATE_TYPE != 'D'
		WHERE RT.trans_status = 'A' AND RT.ACCT_ID = @Acc_Nmbr 
		) AS Old ON New.ACCT_ID = Old.ACCT_ID AND New.DATE_ID = Old.DATE_ID AND Old.DATE_VERSION = 1
WHERE NEW.ACCT_ID = @Acc_Nmbr
order by ISNULL(NEW.DATE_ID, OLD.DATE_ID)



*/





/*
SELECT *
FROM DBO.COMPARE_BALANCES_PREV_MONTH
WHERE Diff != 0
ORDER BY Diff DESC --HN.ACCT_ID

*/

/*

SELECT
       ACCT_ID AS ACCT_ID,     
       CAST(POSTED_DATE AS DATE) POSTED_DATE,
       SUM(ISNULL(AMOUNT,0.00)) AS AMOUNT,
       SUM(1) AS TOLL_CNT
FROM LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS  
WHERE POSTED_DATE BETWEEN '20190501' AND '20190602' AND ACCT_ID = 6159409
GROUP BY ACCT_ID, CAST(POSTED_DATE AS DATE)

--Check in ORACLE

SELECT
       ACCT_ID AS ACCT_ID,     
       TO_CHAR(POSTED_DATE,'YYYYMMDD') POSTED_DATE,
       SUM(NVL(AMOUNT,0.00)) AS AMOUNT,
       SUM(1) AS TOLL_CNT
FROM TAG_OWNER.TOLL_TRANSACTIONS  
WHERE POSTED_DATE BETWEEN TO_DATE('20190501','YYYYMMDD') AND TO_DATE('20190602','YYYYMMDD') AND ACCT_ID = 6159409
GROUP BY ACCT_ID, TO_CHAR(POSTED_DATE,'YYYYMMDD')


*/
/*
SELECT 
	RT.ACCT_ID,             
	CAST(RT.POSTED_DATE AS DATE) AS POSTED_DATE,
	SUM(CASE WHEN TT.BALANCE_MULTIPLIER > 0 THEN ISNULL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS DT_AMOUNT,
	SUM(CASE WHEN TT.BALANCE_MULTIPLIER < 0 THEN ISNULL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS CT_AMOUNT
FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS RT  
 JOIN LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS RTD ON RT.RETAIL_TRANS_ID = RTD.RETAIL_TRANS_ID 		   
													AND RT.TRANS_STATUS = 'A'
													AND RTD.TRANS_STATUS = 'A'	
													AND RTD.LAST_UPDATE_TYPE != 'D'		  
 JOIN LND_LG_TS.TAG_OWNER.TRANSACTION_TYPES TT ON  RTD.TRANS_TYPE_ID = TT.TRANS_TYPE_ID
  AND TT.BALANCE_MULTIPLIER != 0
  AND TT.STATEMENT_FLAG = 'Y'
WHERE RT.POSTED_DATE BETWEEN '20190501' AND '20190602' AND RT.ACCT_ID = 6159409 
GROUP BY RT.ACCT_ID, CAST(RT.POSTED_DATE AS DATE)

-- Oracle
SELECT 
	RT.ACCT_ID,             
	TO_CHAR(POSTED_DATE,'YYYYMMDD') AS POSTED_DATE,
	SUM(CASE WHEN TT.BALANCE_MULTIPLIER > 0 THEN NVL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS DT_AMOUNT,
	SUM(CASE WHEN TT.BALANCE_MULTIPLIER < 0 THEN NVL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS CT_AMOUNT
FROM TAG_OWNER.RETAIL_TRANSACTIONS RT  
 JOIN TAG_OWNER.RETAIL_TRXN_DETAILS RTD ON RT.RETAIL_TRANS_ID = RTD.RETAIL_TRANS_ID 		   
													AND RT.TRANS_STATUS = 'A'
													AND RTD.TRANS_STATUS = 'A'	
													AND RTD.LAST_UPDATE_TYPE != 'D'		  
 JOIN TAG_OWNER.TRANSACTION_TYPES TT ON  RTD.TRANS_TYPE_ID = TT.TRANS_TYPE_ID
  AND TT.BALANCE_MULTIPLIER != 0
  AND TT.STATEMENT_FLAG = 'Y'
WHERE RT.POSTED_DATE BETWEEN TO_DATE('20190501','YYYYMMDD') AND TO_DATE('20190602','YYYYMMDD') AND RT.ACCT_ID = 6159409 
GROUP BY RT.ACCT_ID, TO_CHAR(POSTED_DATE,'YYYYMMDD')

*/

/*
SELECT * FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS WHERE ACCT_ID IN (98618)

SELECT * FROM DBO.FACT_BALANCE_HISTORY_TGS_NEW WHERE ACCT_ID IN (98618)

SELECT * FROM DBO.FACT_BALANCE_HISTORY_TGS_NEW_STAGE WHERE ACCT_ID IN (98618)


(19,26,45,48,49,54,133,173,182,191,193,208,213,223,234,235,247,253,254,291,296,298,302,317,373,385,397,416,435,447,454,492,561,576,597,614,645,661)

(8291,20009,35055,38297,98618,108260,150938,536817,583380,102,2845,35576,58483)

SELECT 
       RT.ACCT_ID,             
       CAST(RT.POSTED_DATE AS DATE) AS POSTED_DATE,
       SUM(CASE WHEN TT.BALANCE_MULTIPLIER > 0 THEN ISNULL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS DT_AMOUNT,
       SUM(CASE WHEN TT.BALANCE_MULTIPLIER < 0 THEN ISNULL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS CT_AMOUNT
FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS RT  
 JOIN LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS RTD ON RT.RETAIL_TRANS_ID = RTD.RETAIL_TRANS_ID        and RT.Acct_id = 98618     
                                                                                         AND RT.TRANS_STATUS = 'A'
                                                                                         AND RTD.TRANS_STATUS = 'A'     
                                                                                         AND RTD.LAST_UPDATE_TYPE != 'D'         
 JOIN LND_LG_TS.TAG_OWNER.TRANSACTION_TYPES TT ON  RTD.TRANS_TYPE_ID = TT.TRANS_TYPE_ID
  AND TT.BALANCE_MULTIPLIER != 0
  AND TT.STATEMENT_FLAG = 'Y'
--WHERE RT.POSTED_DATE BETWEEN @START_DATE AND @END_DATE 
GROUP BY RT.ACCT_ID, CAST(RT.POSTED_DATE AS DATE)
order by 2 desc



*/
/*
SELECT B.*, A.ACCT_STATUS_CODE
FROM SANDBOX.DBO.ACCT_BALANCE_DIFFERENCE B
JOIN edw_rite.dbo.ACCOUNTS A ON A.ACCT_ID = B.ACCT_ID  
WHERE B.Diff > 0 
ORDER BY A.ACCTLoadMediumRC_STATUS_CODE, Diff DESC

Active
#: 24241
$: 428918.70

SELECT B.*, A.ACCT_STATUS_CODE 
FROM SANDBOX.DBO.ACCT_BALANCE_DIFFERENCE B
JOIN edw_rite.dbo.ACCOUNTS A ON A.ACCT_ID = B.ACCT_ID 
WHERE B.Diff < 0 
ORDER BY A.ACCT_STATUS_CODE, Diff ASC

SELECT COUNT(1) AS UNDERCHARGED_ACC_NUMBER, SUM(Diff) AS UNDERCHARGED_AMOUNT FROM SANDBOX.DBO.ACCT_BALANCE_DIFFERENCE WHERE ACCT_BALANCE_DIFFERENCE.Diff > 0
SELECT COUNT(1) AS OVERCHARGED_ACC_NUMBER, SUM(-Diff) AS OVERCHARGED_AMOUNT FROM SANDBOX.DBO.ACCT_BALANCE_DIFFERENCE WHERE ACCT_BALANCE_DIFFERENCE.Diff < 0
*/
--CREATE CLUSTERED COLUMNSTORE INDEX ClusteredCulumnstoreIndex_FACT_BALANCE_HISTORY_TGS_NEW  
--    ON dbo.FACT_BALANCE_HISTORY_TGS_NEW

/*
SELECT * FROM DBO.BALANCE_HISTORY_TGS_COMPARE WHERE ACCT_ID = 6159409 order by date_id

DECLARE @Acc_Nmbr INT = 3730265
 

SELECT 
	ISNULL(NEW.ACCT_ID, OLD.ACCT_ID) AS ACCT_ID,
	ISNULL(NEW.DATE_ID, OLD.DATE_ID) AS DATE_ID,
	ISNULL(NEW.TOLL_CNT,0) 				TOLL_CNT, 
	ISNULL(NEW.DEBIT,0) 				DEBIT, 
	ISNULL(NEW.CREDIT,0) 				CREDIT, 
	--ISNULL(NEW.TOTAL_TOLL_CNT,0) 		TOTAL_TOLL_CNT,
	--ISNULL(NEW.TOTAL_DEBIT,	0)			TOTAL_DEBIT,
	--ISNULL(NEW.TOTAL_CREDIT,0)			TOTAL_CREDIT,
	ISNULL(NEW.END_BALANCE,0) AS END_DAY_NEW_Balance,
	ISNULL(NEW.BALANCE,0) AS NEW_BALANCE,
	ISNULL(OLD.TRANS_AMT,0) AS Old_Balance,
	ISNULL(OLD.TRANS_AMT,0) - ISNULL(NEW.BALANCE,0) AS Diff
FROM DBO.BALANCE_HISTORY_TGS_COMPARE AS New 
	FULL OUTER JOIN (
		SELECT RT.ACCT_ID, RTD.TRANS_AMT, CONVERT(INT,CONVERT(VARCHAR(8),RT.POSTED_DATE,112)) AS DATE_ID,ISNULL(DENSE_RANK() over(partition by CONVERT(INT,CONVERT(VARCHAR(8),RT.POSTED_DATE,112)) order by RT.POSTED_DATE),0) AS DATE_VERSION		     
		FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS AS RT
		       JOIN LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS AS RTD 
				ON RT.[RETAIL_TRANS_ID] = RTD.[RETAIL_TRANS_ID]
			    AND RTD.TRANS_TYPE_ID = 19				
			    AND RTD.trans_status = 'A'
				AND RTD.LAST_UPDATE_TYPE != 'D'
		WHERE RT.trans_status = 'A' AND RT.ACCT_ID = @Acc_Nmbr 
		) AS Old ON New.ACCT_ID = Old.ACCT_ID AND New.DATE_ID = Old.DATE_ID AND Old.DATE_VERSION = 1
WHERE NEW.ACCT_ID = @Acc_Nmbr
order by ISNULL(NEW.DATE_ID, OLD.DATE_ID)

*/


