CREATE PROC [DBO].[VIOLATION_VB_VIOL_XREF_INCR_LOAD] AS 
/*	

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.VIOLATION_VB_VIOL_XREF_INCR_LOAD') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.VIOLATION_VB_VIOL_XREF_INCR_LOAD
GO

EXEC DBO.VIOLATION_VB_VIOL_XREF_INCR_LOAD

SELECT TOP 100 * FROM DBO.VIOLATION_VB_VIOL_XREF  
WHERE VBI_INVOICE_ID = 709232563

SELECT COUNT_BIG(1) FROM DBO.VIOLATION_VB_VIOL_XREF

*/  
--#1	ANDY FILIPPS	2019-02-14	Created new proc

	--STEP #0: --DROP table IF EXISTS  --DECLARE @FROM_DAY_ID  INT = 20150101, @TO_DAY_ID  INT = 20190101


DECLARE @TABLE_NAME VARCHAR(50) = 'VIOLATION_VB_VIOL_XREF', @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT 
DECLARE @LOAD_CONTROL_DATE DATETIME2(2),@VB_VIOL_CONTROL_DATE DATETIME2(2),@VBVI_CONTROL_DATE DATETIME2(2),@VIVI_CONTROL_DATE DATETIME2(2)
DECLARE @sql VARCHAR(MAX)
DECLARE @IDENTITY_COLUMNS VARCHAR(8000) = '[LAST_INVOICE_ID],[VIOLATION_ID]'


SELECT	@VB_VIOL_CONTROL_DATE = LAST_RUN_DATE FROM	dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VB_VIOL_INVOICES' 
IF @VB_VIOL_CONTROL_DATE IS NULL 
BEGIN
	SET @VB_VIOL_CONTROL_DATE = CAST('2000-01-01' AS DATETIME2(2)) 
END

SELECT	@VBVI_CONTROL_DATE = LAST_RUN_DATE FROM	dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VB_INVOICE_VIOL' 
IF @VBVI_CONTROL_DATE IS NULL 
BEGIN
	SET @VBVI_CONTROL_DATE = CAST('2000-01-01' AS DATETIME2(2)) 
END

SELECT	@VIVI_CONTROL_DATE = LAST_RUN_DATE FROM	dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VIOL_INVOICE_VIOL' 
IF @VIVI_CONTROL_DATE IS NULL 
BEGIN
	SET @VIVI_CONTROL_DATE = CAST('2000-01-01' AS DATETIME2(2)) 
END

SELECT @LOAD_CONTROL_DATE = MIN(CONTROL_DATE) FROM (SELECT @VB_VIOL_CONTROL_DATE CONTROL_DATE UNION SELECT @VBVI_CONTROL_DATE CONTROL_DATE UNION SELECT @VIVI_CONTROL_DATE CONTROL_DATE) AS CD
--SELECT CONVERT(VARCHAR(19), @LOAD_CONTROL_DATE, 121) 

SELECT  @LOG_START_DATE = GETDATE(), @LOG_MESSAGE = '#INCREMENTAL LOAD Started from: ' + CONVERT(VARCHAR(19), @LOAD_CONTROL_DATE, 121) 
EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL


BEGIN
	IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_INVOICES_VIOL_NEW_SET') IS NOT NULL  DROP TABLE dbo.VIOLATION_VB_VIOL_INVOICES_VIOL_NEW_SET

	CREATE TABLE dbo.VIOLATION_VB_VIOL_INVOICES_VIOL_NEW_SET WITH (HEAP, DISTRIBUTION = HASH (LAST_INVOICE_ID)) AS
	-- EXPLAIN
	SELECT 
		CAST(CAST(V.VIOLATION_ID AS BIGINT) / 50000000 AS INT)				PARTITION_VALUES
		,CAST(41070000000000 AS BIGINT) + CAST(VI.VIOL_INVOICE_ID AS BIGINT)	LAST_INVOICE_ID 
		,CAST(VI.VIOL_INVOICE_ID AS BIGINT)									VIOL_INVOICE_ID
		,CAST(V.VIOLATION_ID AS BIGINT)										VIOLATION_ID
		,VI.INVOICE_DATE													VIOL_INVOICE_DATE
		,V.VIOL_STATUS														VIOL_STATUS
		,V.TOLL_DUE_AMOUNT													TOLL_DUE
		,V.FINE_AMOUNT														FINE_AMOUNT
		,CASE WHEN V.VIOL_STATUS IN ('L','V') THEN 1 ELSE 0 END				DELETE_STATUS -- SELECT TOP 10 * 
	FROM LND_LG_VPS.VP_OWNER.VIOL_INVOICES VI
	JOIN LND_LG_VPS.VP_OWNER.VIOL_INVOICE_VIOL V ON V.VIOL_INVOICE_ID = VI.VIOL_INVOICE_ID
	WHERE V.LAST_UPDATE_DATE >= @VIVI_CONTROL_DATE
	OPTION (LABEL = 'VIOLATION_VB_VIOL_XREF: VIOLATION_VB_VIOL_INVOICES_VIOL');

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got VIOL table'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	CREATE STATISTICS STATS_VIOLATION_VB_VIOL_INVOICES_VIOL_001 ON [dbo].VIOLATION_VB_VIOL_INVOICES_VIOL_NEW_SET (LAST_INVOICE_ID,VIOLATION_ID)

	EXEC DBO.PARTITION_SWITCH_NUMBER_BASED_LOAD 'VIOLATION_VB_VIOL_INVOICES_VIOL',	@IDENTITY_COLUMNS

	UPDATE STATISTICS dbo.VIOLATION_VB_VIOL_INVOICES_VIOL
END 

BEGIN
	IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_INVOICES_VBI_NEW_SET') IS NOT NULL  DROP TABLE dbo.VIOLATION_VB_VIOL_INVOICES_VBI_NEW_SET

	--EXPLAIN
	CREATE TABLE dbo.VIOLATION_VB_VIOL_INVOICES_VBI_NEW_SET WITH (HEAP, DISTRIBUTION = HASH (LAST_INVOICE_ID)) AS
	WITH VIOL_DETAIL AS 
	(
		SELECT 
			VBI_INVOICE_ID, CAST(VIOLATION_ID AS BIGINT) AS VIOLATION_ID, VIOL_STATUS, TOLL_DUE AS TOLL_DUE  
		FROM LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL V 
		WHERE LAST_UPDATE_DATE >= @VBVI_CONTROL_DATE
	)
	, VIOL_INV AS
	(
		SELECT
			CAST(VI.VBI_INVOICE_ID AS BIGINT) AS					VBI_INVOICE_ID
			,VBVI.INV_VIOL_INVOICE_ID								VIOL_INVOICE_ID
			,CONVERT(DATE,VI.INVOICE_DATE)							VB_INVOICE_DATE
			,ROW_NUMBER() OVER (PARTITION BY VI.VBI_INVOICE_ID ORDER BY ISNULL(VBVI.INV_VIOL_INVOICE_ID, -1) DESC) RN
			--IN VB_VIOL_INVOICES A SINGLE VB CAN HAVE MULTIPLE VIOL INVOICES FOR OLD DATA SO TO AVOID DUPLICATES WE HAVE TO GET MAX VIOL INVOICE
		FROM LND_LG_VPS.VP_OWNER.VB_INVOICES VI 
		LEFT JOIN LND_LG_VPS.VP_OWNER.VB_VIOL_INVOICES VBVI ON VI.VBI_INVOICE_ID = VBVI.VBI_VBI_INVOICE_ID
		WHERE VI.VBI_INVOICE_ID IN (SELECT VBI_INVOICE_ID FROM VIOL_DETAIL GROUP BY VBI_INVOICE_ID)
	)
	SELECT 
		CAST(VI_VI.VIOLATION_ID / 50000000 AS INT)								PARTITION_VALUES
		,ISNULL(CAST(41070000000000 AS BIGINT) + CAST(VI.VIOL_INVOICE_ID AS BIGINT),
				CAST(4810000000000 AS BIGINT) + CAST(VI.VBI_INVOICE_ID AS BIGINT)) 	LAST_INVOICE_ID
		,VI_VI.VIOLATION_ID														VIOLATION_ID
		,VI.VBI_INVOICE_ID														VBI_INVOICE_ID
		,ISNULL(CAST(VI.VIOL_INVOICE_ID AS BIGINT), -1)							VIOL_INVOICE_ID
		,VI.VB_INVOICE_DATE														VB_INVOICE_DATE
		,VI_VI.VIOL_STATUS														VIOL_STATUS
		,VI_VI.TOLL_DUE															TOLL_DUE
		,CASE WHEN VI_VI.VIOL_STATUS IN ('L','V') THEN 1 ELSE 0 END				DELETE_STATUS -- SELECT TOP 10 * 
	FROM VIOL_INV  VI
	JOIN VIOL_DETAIL AS VI_VI ON VI_VI.VBI_INVOICE_ID = VI.VBI_INVOICE_ID
	WHERE VI.RN = 1
	OPTION (LABEL = 'VIOLATION_VB_VIOL_XREF: VIOLATION_VB_VIOL_INVOICES_VBI');

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got VBI table'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	CREATE STATISTICS STATS_VIOLATION_VB_VIOL_INVOICES_VBI_001 ON [dbo].VIOLATION_VB_VIOL_INVOICES_VBI_NEW_SET (LAST_INVOICE_ID,VIOLATION_ID)

	EXEC DBO.PARTITION_SWITCH_NUMBER_BASED_LOAD 'VIOLATION_VB_VIOL_INVOICES_VIOL',	@IDENTITY_COLUMNS

	UPDATE STATISTICS dbo.VIOLATION_VB_VIOL_INVOICES_VBI
END

--DECLARE @TABLE_NAME VARCHAR(50) = 'VIOLATION_VB_VIOL_XREF', @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT 

IF OBJECT_ID('tempdb..#PARTITIONS_VALUES') IS NOT NULL  DROP TABLE #PARTITIONS_VALUES
CREATE TABLE #PARTITIONS_VALUES WITH (HEAP, DISTRIBUTION = HASH(PARTITION_VALUES))
AS
SELECT  CAST(p.partition_number AS INT) + CAST(pf.boundary_value_on_right AS INT) AS PARTITION_NUM, CAST(rv.value AS BIGINT)  AS PARTITION_VALUES
FROM      sys.schemas s
JOIN      sys.tables t                  ON t.[schema_id]      = s.[schema_id]
JOIN      sys.partitions p              ON p.[object_id]      = t.[object_id]
JOIN      sys.indexes i                 ON i.[object_id]      = p.[object_id] AND i.[index_id] = p.[index_id]
JOIN      sys.data_spaces ds            ON ds.[data_space_id] = i.[data_space_id]
LEFT JOIN sys.partition_schemes ps      ON ps.[data_space_id] = ds.[data_space_id]
LEFT JOIN sys.partition_functions pf    ON pf.[function_id]   = ps.[function_id]
LEFT JOIN sys.partition_range_values rv ON rv.[function_id]   = pf.[function_id] AND rv.[boundary_id] = p.[partition_number]
WHERE p.[index_id] <=1 AND t.[name] = @TABLE_NAME AND rv.[value] IS NOT NULL

IF OBJECT_ID('dbo.PARTITION_LOAD_ID_VALUES_CNT') IS NULL 
	CREATE TABLE dbo.PARTITION_LOAD_ID_VALUES_CNT(TABLE_NAME varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,PARTITION_VALUES bigint NULL,PARTITION_NUM INT NULL,CNT BIGINT NULL,INDICAT bigint NULL) WITH (HEAP,DISTRIBUTION = HASH(PARTITION_VALUES));

DELETE FROM dbo.PARTITION_LOAD_ID_VALUES_CNT WHERE TABLE_NAME = @TABLE_NAME 

--SET @SQL = '
INSERT INTO dbo.PARTITION_LOAD_ID_VALUES_CNT
SELECT
	'VIOLATION_VB_VIOL_XREF' AS TABLE_NAME, FN.PARTITION_VALUES, IQ.PARTITION_NUM, 0 AS CNT,
	Row_Number() OVER (ORDER BY IQ.PARTITION_NUM) AS INDICAT
FROM 
(
	SELECT PARTITION_VALUES
	FROM (
			SELECT PARTITION_VALUES FROM dbo.VIOLATION_VB_VIOL_INVOICES_VIOL_NEW_SET
			UNION ALL
			SELECT PARTITION_VALUES FROM dbo.VIOLATION_VB_VIOL_INVOICES_VBI_NEW_SET
		) A
	GROUP BY PARTITION_VALUES) FN
JOIN #PARTITIONS_VALUES AS IQ ON FN.PARTITION_VALUES = IQ.PARTITION_VALUES
OPTION (LABEL = 'VIOLATION_VB_VIOL_XREF LOAD: Get changed partitions query');

--EXEC (@SQL)

DECLARE @NUM_IND INT  = (SELECT MAX(INDICAT) FROM dbo.PARTITION_LOAD_ID_VALUES_CNT WHERE TABLE_NAME = @TABLE_NAME)
DECLARE @CUR_IND INT = 1
DECLARE @PART_ROLL INT
DECLARE @PARTITION_VALUES_ROLL INT
DECLARE @SQL_ALTER VARCHAR(MAX) = '' 
DECLARE @PART_VALUES VARCHAR(1000) = 'Partitions to switch: '
DECLARE @Delimiter VARCHAR(1) = '';

WHILE (@CUR_IND <= @NUM_IND) BEGIN
	-- Initiate all roll variables
	SELECT @PART_ROLL = PD.PARTITION_NUM, @PARTITION_VALUES_ROLL = PD.PARTITION_VALUES 
	FROM dbo.PARTITION_LOAD_ID_VALUES_CNT AS PD WHERE PD.INDICAT = @CUR_IND AND TABLE_NAME = @TABLE_NAME

	-- If it's more then 16 time less than full partition - better to do delete\insert instead of CREATE TABLE AS.
	SET @SQL_ALTER = @SQL_ALTER + '
	ALTER TABLE dbo.' + @TABLE_NAME + ' SWITCH PARTITION ' + CAST(@PART_ROLL AS VARCHAR(10)) + ' TO dbo.' + @TABLE_NAME + '_TRUNCATE PARTITION ' + CAST(@PART_ROLL AS VARCHAR(10)) + ';
	ALTER TABLE dbo.' + @TABLE_NAME + '_STAGE SWITCH PARTITION ' + CAST(@PART_ROLL AS VARCHAR(10)) + ' TO dbo.' + @TABLE_NAME + ' PARTITION ' + CAST(@PART_ROLL AS VARCHAR(10)) + ';'

	SET @PART_VALUES = @PART_VALUES + @Delimiter + CAST(@PART_ROLL AS VARCHAR(10))
	--SET @PART_VALUES = @PART_VALUES + @Delimiter + CAST(@PARTITION_VALUES_ROLL AS VARCHAR(19))
	SET @Delimiter = ', '

	SET @CUR_IND += 1  
END;

EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @PART_VALUES, @NUM_IND


IF LEN(@SQL_ALTER) > 0
BEGIN
	IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_XREF_STAGE') IS NOT NULL  DROP TABLE dbo.VIOLATION_VB_VIOL_XREF_STAGE
	--(SELECT PARTITION_VALUES FROM dbo.PARTITION_LOAD_ID_VALUES_CNT WHERE TABLE_NAME = @TABLE_NAME)
	CREATE TABLE dbo.VIOLATION_VB_VIOL_XREF_STAGE WITH (CLUSTERED INDEX (VIOLATION_ID), DISTRIBUTION = HASH (LAST_INVOICE_ID), PARTITION (PARTITION_VALUES RANGE RIGHT FOR VALUES
	(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60))) AS
	WITH CTE_FULL_JOIN AS
	(
		SELECT 
			ISNULL(VI.PARTITION_VALUES,VB.PARTITION_VALUES)			PARTITION_VALUES
			,ISNULL(CAST(41070000000000 AS BIGINT) + VI.VIOL_INVOICE_ID,CAST(4810000000000 AS BIGINT) + VB.VBI_INVOICE_ID) 	LAST_INVOICE_ID
			--,ISNULL(VI.LAST_INVOICE_ID,VB.LAST_INVOICE_ID)			LAST_INVOICE_ID
			,ISNULL(VI.VIOLATION_ID,VB.VIOLATION_ID)				VIOLATION_ID
			,ISNULL(VI.VIOL_STATUS,VB.VIOL_STATUS)					VIOL_STATUS
			,ISNULL(VB.VBI_INVOICE_ID ,-1)							VBI_INVOICE_ID
			,ISNULL(VI.VIOL_INVOICE_ID,-1)							VIOL_INVOICE_ID
			,VB.VB_INVOICE_DATE 									VB_INVOICE_DATE
			,VI.VIOL_INVOICE_DATE									VIOL_INVOICE_DATE							
			,ISNULL(VI.TOLL_DUE,VB.TOLL_DUE)						TOLL_DUE
			,ISNULL(VI.FINE_AMOUNT,0)								FINE_AMOUNT
			,ISNULL(VI.DELETE_STATUS,VB.DELETE_STATUS)				DELETE_STATUS
			,ROW_NUMBER() OVER (PARTITION BY ISNULL(VI.VIOLATION_ID,VB.VIOLATION_ID) ORDER BY ISNULL(VI.DELETE_STATUS,VB.DELETE_STATUS) ASC, ISNULL(VI.LAST_INVOICE_ID,VB.LAST_INVOICE_ID) DESC) FIRST_IS_CURRENT
		FROM  (SELECT * FROM dbo.VIOLATION_VB_VIOL_INVOICES_VIOL WHERE PARTITION_VALUES IN (SELECT PARTITION_VALUES FROM dbo.PARTITION_LOAD_ID_VALUES_CNT WHERE TABLE_NAME = @TABLE_NAME))  VI
		FULL OUTER JOIN (SELECT * FROM dbo.VIOLATION_VB_VIOL_INVOICES_VBI WHERE PARTITION_VALUES IN (SELECT PARTITION_VALUES FROM dbo.PARTITION_LOAD_ID_VALUES_CNT WHERE TABLE_NAME = @TABLE_NAME)) VB 
			ON VB.LAST_INVOICE_ID = VI.LAST_INVOICE_ID AND VB.VIOLATION_ID = VI.VIOLATION_ID 
	)
	SELECT 
		 ISNULL(PARTITION_VALUES, -1) PARTITION_VALUES
		,ISNULL(LAST_INVOICE_ID	, -1) LAST_INVOICE_ID
		,VIOLATION_ID
		,VIOL_STATUS
		,VBI_INVOICE_ID
		,VIOL_INVOICE_ID
		,VB_INVOICE_DATE
		,VIOL_INVOICE_DATE
		,TOLL_DUE
		,FINE_AMOUNT
		,CAST(DELETE_STATUS AS SMALLINT) DELETE_STATUS
		,CAST(CASE WHEN FIRST_IS_CURRENT = 1 THEN 1 ELSE 0 END AS SMALLINT) AS CURRENT_FLAG
	FROM CTE_FULL_JOIN
	OPTION (LABEL = 'VIOLATION_VB_VIOL_XREF LOAD');
	--EXEC (@SQL)

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'VIOLATION_VB_VIOL_XREF: VIOLATION_VB_VIOL_XREF_STAGE'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT


	IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_XREF_TRUNCATE') IS NOT NULL DROP TABLE dbo.VIOLATION_VB_VIOL_XREF_TRUNCATE;
	CREATE TABLE dbo.VIOLATION_VB_VIOL_XREF_TRUNCATE WITH (CLUSTERED INDEX (VIOLATION_ID), DISTRIBUTION = HASH (LAST_INVOICE_ID), PARTITION (PARTITION_VALUES RANGE RIGHT FOR VALUES
		(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60))) AS
	SELECT * FROM    dbo.VIOLATION_VB_VIOL_XREF  	WHERE   1=2

	EXECUTE (@SQL_ALTER);

	UPDATE STATISTICS dbo.VIOLATION_VB_VIOL_XREF
END

DELETE FROM dbo.PARTITION_LOAD_ID_VALUES_CNT WHERE TABLE_NAME = @TABLE_NAME 


SELECT @VB_VIOL_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VB_VIOL_INVOICES
DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VB_VIOL_INVOICES'
INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VB_VIOL_INVOICES', LAST_RUN_DATE = @VB_VIOL_CONTROL_DATE

SELECT @VBVI_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL
DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VB_INVOICE_VIOL'
INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VB_INVOICE_VIOL', LAST_RUN_DATE = @VBVI_CONTROL_DATE

SELECT @VIVI_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VIOL_INVOICE_VIOL
DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VIOL_INVOICE_VIOL'
INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VIOL_INVOICE_VIOL', LAST_RUN_DATE = @VIVI_CONTROL_DATE

SET  @LOG_MESSAGE = '#INCREMENTAL LOAD Finisfed!!!'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL

IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_XREF_TRUNCATE') IS NOT NULL DROP TABLE dbo.VIOLATION_VB_VIOL_XREF_TRUNCATE;
IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_XREF_STAGE') IS NOT NULL DROP TABLE dbo.VIOLATION_VB_VIOL_XREF_STAGE;
IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_INVOICES_VIOL_NEW_SET') IS NOT NULL  DROP TABLE dbo.VIOLATION_VB_VIOL_INVOICES_VIOL_NEW_SET;
IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_INVOICES_VBI_NEW_SET') IS NOT NULL  DROP TABLE dbo.VIOLATION_VB_VIOL_INVOICES_VBI_NEW_SET;

