CREATE PROC [DBO].[zzzFACT_UNIFIED_VIOLATION_SNAPSHOT_STEP3_LOAD] @START_DAY_ID [INT],@END_DAY_ID [INT] AS 

/*

USE EDW_RITE 
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STEP3_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STEP3_LOAD
GO

EXEC DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STEP3_LOAD

*/

DECLARE @sql VARCHAR(MAX)

DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT, @LOG_PATTERN VARCHAR(1000)

DECLARE @CURRENT_DATE VARCHAR(8)

DECLARE @FROM_DAY_ID VARCHAR(8) = CONVERT(VARCHAR(8),@START_DAY_ID)  --In theory it can be not only beginning of the month
DECLARE @TO_DAY_ID  VARCHAR(8) = CONVERT(VARCHAR(8),@END_DAY_ID)		--In theory it can be not only ending of the month


SELECT  @SOURCE = 'FACT_UNIFIED_VIOLATION_SNAPSHOT', @LOG_START_DATE = GETDATE(), @LOG_PATTERN = 'FACT_UNIFIED_VIOLATION_SNAPSHOT_LOAD main load: ' + @FROM_DAY_ID + ' to: ' + @TO_DAY_ID + ': '
--EXEC    dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE,  NULL

SET @CURRENT_DATE = LEFT(CONVERT(VARCHAR(8), @LOG_START_DATE,112), 6) + '01'


--STEP #2: --Calculating partitions ranges for stage table
-- Have to create exactly the same partitions on this table as on the main - it will not work if one partition will not have the same boundaries 
DECLARE @PART_RANGES VARCHAR(MAX) = ''
EXEC DBO.GET_PARTITION_RANGE_STRING 'FACT_UNIFIED_VIOLATION', @PART_RANGES OUTPUT


IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE') IS NOT NULL DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE;	

DECLARE @LEVEL_CASES VARCHAR(MAX) = '
	CASE 
		WHEN TXID_ID = -14800
				THEN ''AUTO FLUSHES''
		WHEN PMTY_ID NOT IN (3,7,8)
				THEN ''CASH/UNPAID/NON-REV''
		WHEN PMTY_ID = 3 AND TXID_ID = -13800
				THEN ''TAGFLUSH''
		WHEN PMTY_ID = 3
				THEN ''AVI''
		WHEN PMTY_ID IN (7,8)
				THEN ''VIDEO''
		ELSE ''NOT POSTED''
	END AS LEVEL_0
	,CASE 
		WHEN PMTY_ID = 6
				THEN ''NON-REV''
		WHEN PMTY_ID = 3 AND TXID_ID = -13800
				THEN ''TAGFLUSH''
		WHEN PMTY_ID = 3
				AND COALESCE(L.ACCT_ID,F.ACCT_ID,''-1'') = ''-1''						
				AND (COALESCE(L.TAG_ID,F.TAG_ID,''-1'') <> ''-1'' AND COALESCE(L.AGENCY_ID,F.AGENCY_ID) != ''DNT'')
				THEN ''IOP''
		WHEN PMTY_ID = 3 
				THEN ''TOLLTAG''
		WHEN PMTY_ID IN (7, 8) AND F.VES_SERIAL_NO = 0
				THEN ''No Image''
		WHEN LANE_REVIEW_STATUS IN (''D'',''R'',''E'',''F'',''O'',''N'')
				THEN ''IMAGES ENTERING ICRS''
		ELSE ''IMAGES NOT ENTERING ICRS''
	END AS LEVEL_1
	,CASE 
		WHEN LANE_REVIEW_STATUS IN (''O'')
				THEN ''Auto OCR Pass''
		WHEN LANE_REVIEW_STATUS IN (''D'',''R'',''E'')
				THEN ''Manual Review''
		WHEN LANE_REVIEW_STATUS IN (''N'')
				THEN ''Pending Review''
		ELSE ''-1''
	END  AS LEVEL_2
	,CASE 
		WHEN LANE_REVIEW_STATUS IN (''D'')
				THEN ''Images Discarded''
		WHEN LANE_REVIEW_STATUS IN (''R'',''E'')
				THEN ''Images Kept''
		WHEN LANE_REVIEW_STATUS IN (''N'')
				THEN ''Not Transferred to VPS''
		ELSE ''-1''
	END  AS LEVEL_3
	,CASE 
		WHEN VIOL_REJECT_TYPE = ''NR''
				THEN ''Variance Pool''
		WHEN VIOL_REJECT_TYPE = ''RO''
				THEN ''OCR Rejects''
		ELSE ISNULL(VIOL_REJECT_TYPE,''-1'')
	END AS LEVEL_4
	,ISNULL(NULLIF(LANE_VIOL_STATUS,''-''),''-1'') LEVEL_5
	,CASE 
		WHEN VIOL_STATUS IN (''ZH'',''WJ'')
				THEN ''DMV Match Processing''
		WHEN VIOL_STATUS = ''ZI''
				THEN ''Aged To Violation Invoices''
		ELSE ISNULL(VIOL_STATUS,''-1'')
	END  AS LEVEL_6
	,CASE 
		WHEN VIOL_STATUS = ''P'' AND (ISNULL(VBI_INVOICE_ID, -1) + ISNULL(VIOL_INVOICE_ID, -1) = -2)
				THEN ''UNINVD''
		WHEN VIOL_STATUS = ''P'' AND (ISNULL(VBI_INVOICE_ID, -1) + ISNULL(VIOL_INVOICE_ID, -1) > -2)
				THEN ''INVD''
		WHEN  VBI_STATUS  = ''B'' OR VIOL_INV_STATUS IN (''A'', ''B'')
				THEN ''INV-BAD-ADD''
		ELSE ''-1''
	END AS LEVEL_7
	,CASE 
		WHEN DMV_STS IN (''VIOL-NTX'',''VIOL-TX'',''LP-M-VLTR'',''LP-NDMV'',''LP-NV-TIME'',''LP-OTHER'')
				THEN ''VIOL-UM-DMV''
		WHEN DMV_STS = ''VIOL-M-DMV''
				THEN ''VIOL-M-DMV''
		ELSE ''-1''
	END  AS LEVEL_8
	,CASE 
		WHEN TXN_NAME IN (''VIOL-UBR-C'',''VIOL-UBR-N'')
				THEN ''VIOL-UBR''
		WHEN DMV_STS IN (''LP-M-VLTR'',''LP-NDMV'',''LP-NV-TIME'',''LP-OTHER'')
				THEN ''VIOL-TX''
		WHEN DMV_STS = ''VIOL-NTX''
				THEN ''VIOL-NTX''
		ELSE ISNULL(TXN_NAME,''-1'')
	END AS LEVEL_9
	,CASE 
		WHEN TXN_NAME IN (''VIOL-UBR-C'',''VIOL-UBR-N'')
				THEN ISNULL(TXN_NAME,''-1'')
		WHEN DMV_STS IN (''LP-M-VLTR'',''LP-NDMV'',''LP-NV-TIME'',''LP-OTHER'')
				THEN ISNULL(DMV_STS,''-1'')
		ELSE ''-1''
	END AS LEVEL_10'

DECLARE @SELECT_STR VARCHAR(MAX) = '
SELECT  ' + @LEVEL_CASES + '
	,ISNULL(F.TART_ID										, -1)								AS	TART_ID					
	,ISNULL(F.DAY_ID										, 19000101)							AS	DAY_ID					
	,ISNULL(F.PMTY_ID										, -1)								AS	PMTY_ID					
	,ISNULL(F.VCLY_ID										, -1)								AS	VCLY_ID					
	,ISNULL(F.AVI_TAG_STATUS								, ''-1'')							AS	AVI_TAG_STATUS			
	,ISNULL(F.LANE_ID										, -1)								AS	LANE_ID					
	,ISNULL(F.Local_Time									, ''1900-01-01'')					AS	Local_Time				
	,ISNULL(F.EAR_REV										, 0)								AS	EAR_REV					
	,ISNULL(F.POS_REV										, 0)								AS	POS_REV					
	,ISNULL(F.TXID_ID										, -1)								AS	TXID_ID					
	,ISNULL(F.TRANSACTION_FILE_DETAIL_ID					, -1)								AS	TRANSACTION_FILE_DETAIL_ID
	,ISNULL(COALESCE(L.LANE_VIOL_ID, F.LANE_VIOL_ID)		, -1)								AS  LANE_VIOL_ID
	,ISNULL(L.VIOL_DATE										, ''1900-01-01'')					AS  VIOL_DATE			
	,ISNULL(L.AXLE_COUNT									, -1)								AS  AXLE_COUNT			
	,ISNULL(L.LANE_VIOL_STATUS								, ''-1'')							AS  LANE_VIOL_STATUS		
	,ISNULL(L.LANE_REVIEW_STATUS							, ''-1'')							AS  LANE_REVIEW_STATUS	
	,ISNULL(L.VIOLATION_CODE								, -1)								AS  VIOLATION_CODE		
	,ISNULL(L.VIOL_CREATED									, '''')								AS  VIOL_CREATED			
	,ISNULL(COALESCE(L.LICENSE_PLATE_ID,F.LICENSE_PLATE_ID)	,''-1'')							AS  LICENSE_PLATE_ID
	,ISNULL(COALESCE(L.LIC_PLATE_NBR,F.LIC_PLATE_NBR)		,''-1'')							AS  LIC_PLATE_NBR
	,ISNULL(COALESCE(L.LIC_PLATE_STATE,F.LIC_PLATE_STATE)	,''-1'')							AS  LIC_PLATE_STATE
	,ISNULL(LP.OUT_OF_STATE_IND								, -1)								AS  OUT_OF_STATE_IND
	,ISNULL(L.REVIEW_DATE									, ''1900-01-01'')					AS  REVIEW_DATE				
	,ISNULL(L.VIOL_REJECT_TYPE								, ''-1'')							AS  VIOL_REJECT_TYPE				
	,ISNULL(L.TOLL_DUE										, 0)								AS  TOLL_DUE				
	,ISNULL(L.TOLL_PAID										, 0)								AS  TOLL_PAID				
	,ISNULL(L.VIOLATION_ID									, -1)								AS  VIOLATION_ID
	,ISNULL(L.STATUS_DATE									, ''1900-01-01'')					AS  STATUS_DATE			
	,ISNULL(L.VIOL_TYPE										, ''-1'')							AS  VIOL_TYPE			
	,ISNULL(L.DRIVER_LIC_STATE								, ''-1'')							AS  DRIVER_LIC_STATE			
	,ISNULL(L.VIOLATOR_ID									, -1)								AS  VIOLATOR_ID			
	,ISNULL(L.VIOL_STATUS									, ''-1'')							AS  VIOL_STATUS			
	,ISNULL(L.TRANSACTION_ID								, -1)								AS  TRANSACTION_ID			
	,ISNULL(L.DISPOSITION									, ''-1'')							AS  DISPOSITION			
	,ISNULL(L.VTOLL_SEND_DATE								, ''1900-01-01'')					AS  VTOLL_SEND_DATE	
	,ISNULL(L.DATE_EXCUSED									, ''1900-01-01'')					AS  DATE_EXCUSED	
	,ISNULL(L.EXCUSED_REASON								, ''-1'')							AS  EXCUSED_REASON			
	,ISNULL(L.EXCUSED_BY									, ''-1'')							AS  EXCUSED_BY			
	,ISNULL(COALESCE(L.TTXN_ID, F.TTXN_ID)					, -1)								AS  TTXN_ID
	,ISNULL(CAST(COALESCE(NULLIF(L.POSTED_REVENUE,0), F.POSTED_REVENUE) AS DECIMAL(9,2)), 0)	AS  AMOUNT
	,ISNULL(COALESCE(NULLIF(L.POSTED_DATE,''1900-01-01''),F.POSTED_DATE)			,''1900-01-01'')					AS  POSTED_DATE
	,ISNULL(CAST(CONVERT(VARCHAR,COALESCE(NULLIF(L.POSTED_DATE,''1900-01-01''),F.POSTED_DATE),112) AS INT),19000101)	AS  POSTED_DAY_ID
	,ISNULL(COALESCE(L.SOURCE_CODE,F.SOURCE_CODE)			,''-1'')							AS  SOURCE_CODE
	,ISNULL(COALESCE(L.ACCT_ID, F.ACCT_ID)					, -1)								AS  ACCT_ID
	,ISNULL(CAST(COALESCE(L.TAG_ID, F.TAG_ID) AS VARCHAR(12)), ''-1'')							AS  TAG_ID
	,ISNULL(COALESCE(L.AGENCY_ID,F.AGENCY_ID)				,''-1'')							AS  TAG_AGENCY_ID
	,ISNULL(L.DMV_STS										, ''-1'')							AS  DMV_STS		
	,ISNULL(L.TXN_NAME										, ''-1'')							AS  TXN_NAME		
	,ISNULL(L.NOT_TRANS_REVIEW_STATUS_ABBREV				, ''-1'')							AS  NOT_TRANS_REVIEW_STATUS_ABBREV		
	,ISNULL(L.LVL_TVL										,''-1'')							AS  LVL_TVL
	,ISNULL(L.VBI_INVOICE_ID								, -1)								AS  VBI_INVOICE_ID		
	,ISNULL(L.VIOL_INVOICE_ID								, -1)								AS  VIOL_INVOICE_ID		
	,ISNULL(L.PAYMENT_DATE									, ''1900-01-01'')					AS  PAYMENT_DATE		
	,ISNULL(L.DEPOSIT_DATE									, ''1900-01-01'')					AS  DEPOSIT_DATE		
	,ISNULL(L.SPLIT_AMOUNT									, 0)								AS  SPLIT_AMOUNT		
	,ISNULL(L.FEES_PAID										, 0)								AS  FEES_PAID		
	,ISNULL(L.AMT_PAID										, 0)								AS  AMT_PAID	
	,ISNULL(L.VBI_INVOICE_DATE								, ''1900-01-01'')					AS  VBI_INVOICE_DATE		
	,ISNULL(L.VBI_STATUS									, ''-1'')							AS  VBI_STATUS		
	,ISNULL(L.VI_INVOICE_DATE								, ''1900-01-01'')					AS  VI_INVOICE_DATE		
	,ISNULL(L.VIOL_INV_STATUS								, ''-1'')							AS  VIOL_INV_STATUS		
	,ISNULL(L.INVOICE_STAGE_ID								, -1)								AS  INVOICE_STAGE_ID		
	,ISNULL(F.DELETED										, 0)								AS  DELETED		
	,ISNULL(CAST('+ CHAR(39) + @CURRENT_DATE + CHAR(39) +' AS DATE) 	, ''1900-01-01'')		AS  DATA_START_DATE
	,ISNULL(CAST(''22221201'' AS DATE) 									, ''2222-12-01'')		AS  DATA_END_DATE'

	--STEP #3: --Getting the new information from the main query 
SET @sql = '
CREATE TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE WITH (HEAP, DISTRIBUTION = HASH(TART_ID)) AS  
' + @SELECT_STR + '
FROM	dbo.FACT_UVS_NET_REV_STAGE			AS F                                                                                                                
	LEFT JOIN  dbo.FACT_UVS_LANE_VIOL_STAGE	AS L			ON L.LANE_FILE_ID = F.LANE_FILE_ID											                        
	LEFT JOIN  (SELECT STATE_CODE AS LIC_STATE, OUT_OF_STATE_IND FROM dbo.DIM_STATE) LP			ON LP.LIC_STATE = COALESCE(L.LIC_PLATE_STATE,F.LIC_PLATE_STATE)
OPTION (LABEL = ''FACT_UNIFIED_VIOLATION_SNAPSHOT LOAD <<main query>>'');'

--EXEC DBO.PRINT_LONG_VARIABLE_VALUE @sql

EXECUTE (@sql);

EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = @LOG_PATTERN + ' The Main query Stage table finished.'
EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

--STEP #4: -- FIND all different rows

IF OBJECT_ID('dbo.FACT_UVS_NET_REV_STAGE') IS NOT NULL DROP TABLE dbo.FACT_UVS_NET_REV_STAGE;	
IF OBJECT_ID('dbo.FACT_UVS_LANE_VIOL_STAGE') IS NOT NULL DROP TABLE dbo.FACT_UVS_LANE_VIOL_STAGE;	

--SET  @LOG_MESSAGE = @LOG_PATTERN + ' LOAD PROCESS FINISHED'
--EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL


