CREATE PROC [DBO].[DIM_AGENCY_LOAD] AS 
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.DIM_AGENCY_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.DIM_AGENCY_LOAD
GO

EXEC EDW_RITE.DBO.DIM_AGENCY_LOAD



*/


IF OBJECT_ID('dbo.DIM_AGENCY_NEW_SET')>0	DROP TABLE dbo.DIM_AGENCY_NEW_SET

CREATE TABLE EDW_RITE.dbo.DIM_AGENCY_NEW_SET WITH (CLUSTERED INDEX ( [AGENCY_ID] ), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.AGCY_ID AS decimal(14,0)), 0) AS [AGENCY_ID]
			, ISNULL(CAST(main_table.ABBREV AS varchar(50)), '') AS [AGENCY_ABBREV]
			, ISNULL(CAST(main_table.NAME AS varchar(100)), '') AS [AGENCY_NAME]
			, ISNULL(CAST(main_table.IS_IOP AS varchar(1)), '') AS [AGENCY_IS_IOP]
			--, ISNULL(CAST(main_table.[INSERT_DATE] AS datetime), '1900-01-01') AS [INSERT_DATE]
			, ISNULL(CAST(main_table.[LAST_UPDATE_DATE] AS datetime), '1900-01-01') AS [LAST_UPDATE_DATE]
	FROM LND_LG_VPS.FPL_OWNER.AGENCIES AS main_table
	OPTION (LABEL = 'DIM_AGENCY_LOAD: DIM_AGENCY_NEW_SET LOAD');

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_AGENCY_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_AGENCY_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_AGENCY]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_AGENCY] TO [DIM_AGENCY_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_AGENCY_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_AGENCY_NEW_SET] TO [DIM_AGENCY];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_AGENCY_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_AGENCY_OLD];

/*
CREATE TABLE dbo.DIM_AGENCY_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (AGENCY_ID)) 
AS 
-- EXPLAIN
SELECT     
	 AGCY_ID AS AGENCY_ID
    ,ABBREV AS AGENCY_ABBREV
    ,NAME AS AGENCY_NAME
    ,IS_IOP AS AGENCY_IS_IOP
    ,LAST_UPDATE_DATE
FROM LND_LG_VPS.FPL_OWNER.AGENCIES A
OPTION (LABEL = 'DIM_AGENCY_LOAD: DIM_AGENCY_STAGE');

--CREATE STATISTICS STATS_DIM_AGENCY_STAGE_001 ON DBO.DIM_AGENCY_STAGE (AGENCY_ID)

UPDATE dbo.DIM_AGENCY
	SET   AGENCY_ABBREV = B.AGENCY_ABBREV
		, AGENCY_NAME = B.AGENCY_NAME
		, AGENCY_IS_IOP = B.AGENCY_IS_IOP
		, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.DIM_AGENCY_STAGE B
WHERE 
	dbo.DIM_AGENCY.AGENCY_ID = B.AGENCY_ID 
	AND 
		(
				dbo.DIM_AGENCY.AGENCY_ABBREV <> B.AGENCY_ABBREV 
			OR  dbo.DIM_AGENCY.AGENCY_NAME <> B.AGENCY_NAME 
			OR  dbo.DIM_AGENCY.AGENCY_IS_IOP <> B.AGENCY_IS_IOP
		)
OPTION (LABEL = 'DIM_AGENCY_LOAD: UPDATE DIM_AGENCY');

-- GETFields 'DIM_AGENCY'
INSERT INTO dbo.DIM_AGENCY ( AGENCY_ID, AGENCY_ABBREV, AGENCY_NAME, AGENCY_IS_IOP, INSERT_DATE, LAST_UPDATE_DATE)
SELECT  A.AGENCY_ID, A.AGENCY_ABBREV, A.AGENCY_NAME, A.AGENCY_IS_IOP, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.DIM_AGENCY_STAGE A
LEFT JOIN dbo.DIM_AGENCY B ON A.AGENCY_ID = B.AGENCY_ID
WHERE B.AGENCY_ID IS NULL


IF OBJECT_ID('dbo.DIM_AGENCY_STAGE')>0
	DROP TABLE dbo.DIM_AGENCY_STAGE

*/

