CREATE PROC [DBO].[CLOSE_OUT_STATUSES_LOAD] AS 

/*
   GetFields 'dbo','CLOSE_OUT_STATUSES'
    CLOSE_OUT_STATUS, CLOSE_OUT_STATUS_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE

   SELECT * FROM CLOSE_OUT_STATUSES

*/
DECLARE @LAST_UPDATE_DATE datetime2(2) 
exec dbo.GetLoadStartDatetime 'dbo.CLOSE_OUT_STATUSES', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.CLOSE_OUT_STATUSES_STAGE')<>0
	DROP TABLE dbo.CLOSE_OUT_STATUSES_STAGE

CREATE TABLE dbo.CLOSE_OUT_STATUSES_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (CLOSE_OUT_STATUS, CLOSE_OUT_STATUS_DESCR)) 
AS 
-- EXPLAIN
SELECT   CLOSE_OUT_STATUS, CLOSE_OUT_STATUS_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[CLOSE_OUT_STATUSES] A
--WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'CLOSE_OUT_STATUSES_LOAD: CLOSE_OUT_STATUSES_STAGE');

CREATE STATISTICS STATS_CLOSE_OUT_STATUSES_STAGE_001 ON CLOSE_OUT_STATUSES_STAGE (CLOSE_OUT_STATUS, CLOSE_OUT_STATUS_DESCR)


UPDATE dbo.CLOSE_OUT_STATUSES
SET  CLOSE_OUT_STATUS_DESCR = B.CLOSE_OUT_STATUS_DESCR
	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.CLOSE_OUT_STATUSES_STAGE B
WHERE 
	    dbo.CLOSE_OUT_STATUSES.CLOSE_OUT_STATUS = B.CLOSE_OUT_STATUS
	AND dbo.CLOSE_OUT_STATUSES.CLOSE_OUT_STATUS_DESCR <> B.CLOSE_OUT_STATUS_DESCR 

INSERT INTO dbo.CLOSE_OUT_STATUSES (CLOSE_OUT_STATUS, CLOSE_OUT_STATUS_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT A.CLOSE_OUT_STATUS, A.CLOSE_OUT_STATUS_DESCR, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM dbo.CLOSE_OUT_STATUSES_STAGE A
LEFT JOIN dbo.CLOSE_OUT_STATUSES B ON A.CLOSE_OUT_STATUS = B.CLOSE_OUT_STATUS 
WHERE B.CLOSE_OUT_STATUS IS NULL 





