CREATE PROC [dbo].[FACT_INVOICE_UNINVOICED_LOAD] AS 

DECLARE @PARTITION_DATE date = (SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN dbo.DIM_VIOLATOR_ASOF B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC)

IF OBJECT_ID('dbo.FACT_INVOICE_ANALYSIS_SECOND_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_ANALYSIS_SECOND_STAGE

CREATE TABLE [dbo].FACT_INVOICE_ANALYSIS_SECOND_STAGE WITH (DISTRIBUTION = HASH([VIOLATOR_ID])) AS
--EXPLAIN
SELECT 
      VIOLATOR_ID
	, ISNULL(@PARTITION_DATE,'1/1/1900') AS PARTITION_DATE
	, '1/1/1900' AS DATE_BATCH_PRODUCED
	, -1 AS VBI_INVOICE_ID
	, '1/1/1900' AS VB_INV_DATE
	, '1/1/1900' AS VB_INV_DUE_DATE, '1/1/1900' AS VB_INV_DATE_EXCUSED, null as VB_INV_EXCUSED_BY, '1/1/1900' AS VB_INV_DATE_MODIFIED
	, -1 AS ZI_STAGE_ID
	, 8 AS INVOICE_STAGE_ID
	, '-1' AS VBI_STATUS
	, '1/1/1900' AS CONVERTED_DATE
	, '1/1/1900' AS VIOL_INV_STATUS_DATE, '1/1/1900' AS VIOL_INV_DUE_DATE, '1/1/1900' AS VIOL_INV_DATE_EXCUSED, null as VIOL_INV_EXCUSED_BY, '1/1/1900' AS VIOL_INV_DATE_MODIFIED
	, -1 as VIOL_INVOICE_ID
	,  ISNULL(CAST('-1' AS VARCHAR(2)), '-1') AS VIOL_INV_STATUS
	, '1/1/1900' AS [3NNP_INV_DATE], ISNULL(MIN(VIOL_PAID_DATE),'1/1/1900') AS FIRST_PAID_DATE, ISNULL(MAX(VIOL_PAID_DATE),'1/1/1900') AS LAST_PAID_DATE
	, CONVERT(varchar(10),ISNULL(MIN(VIOL_PAID_DATE),'1/1/1900'),101) + ',' + convert(varchar(10),ISNULL(MAX(VIOL_PAID_DATE),'1/1/1900'),101) as PAID_DATE_LIST
	, ISNULL(COUNT(DISTINCT VIOL_PAID_DATE), 0) as PAID_DATE_COUNT--SUM(PAID_DATE_COUNT) as PAID_DATE_COUNT
	, -1 as FIRST_POS_ID, -1 as LAST_POS_ID, null AS POS_NAME_LIST, 0 as POS_COUNT
	, '-1' AS PAYMENT_SOURCE_CODE, '-1' AS DELIVERY_CODE, '-1'AS PAYMENT_FORM, null AS PAYMENT_CREATED_BY
	, '-1' AS CA_INV_STATUS
	, -1 AS FIRST_CA_COMPANY_ID, -1 AS LAST_CA_COMPANY_ID, null AS CA_COMPANY_NAME_LIST, 0 AS CA_COMPANY_COUNT
	, '1/1/1900' AS FIRST_CA_FILE_GEN_DATE, '1/1/1900' AS LAST_CA_FILE_GEN_DATE, null AS CA_FILE_GEN_DATE_LIST, 0 AS CA_FILE_GEN_DATE_COUNT
	, null AS FIRST_CITATION_NBR, null AS LAST_CITATION_NBR, null AS CITATION_NBR_LIST, 0 As CITATION_NBR_COUNT
	, -1 as FIRST_CA_ACCT_ID, -1 as LAST_CA_ACCT_ID, null as CA_ACCT_ID_LIST, 0 AS CA_ACCT_ID_COUNT
	, '1/1/1900' AS COURT_ACTION_MAIL_DATE, '-1' AS DPS_INV_STATUS
	, 0 AS INVOICE_AMT
	, 0 AS INVOICE_AMT_DISC
	, 0 AS INVOICE_TOLLS_PAID_CALC
	, ISNULL(SUM(TOLL_DUE), 0) TOLL_DUE
	, 0 AS ZI_LATE_FEES
	, 0 AS VI_LATE_FEES
	, 0 AS ADMIN_FEE, 0 AS ADMIN_FEE2
	, ISNULL(CONVERT(decimal(18,2),SUM(ISNULL(AMT_PAID,0))), 0) AS AMT_PAID
	, ISNULL(COUNT(DISTINCT VIOLATION_ID), 0) as VIOL_COUNT-- SUM(VIOL_COUNT) As VIOL_COUNT
	, '1/1/1900' AS CLOSE_OUT_ELIGIBILITY_DATE, '-1' AS CLOSE_OUT_STATUS, '1/1/1900' CLOSE_OUT_DATE, '-1' AS CLOSE_OUT_TYPE
	, 0 AS CURRENT_INVOICE_FLAG
	, 0 AS TOLL_DUE_LEFT_ON_INV
	, 0 AS TXN_CNT_LEFT_ON_INV
	, GETDATE() AS INSERT_DATE--SELECT COUNT(1) --13,830,679 FROM (SELECT VIOLATOR_ID--820,417,554 
	FROM	dbo.FACT_INVOICE_ANALYSIS_DETAIL
	WHERE	PARTITION_DATE = @PARTITION_DATE --(SELECT TOP 1 PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL ORDER BY PARTITION_DATE DESC)--
	AND		VBI_INVOICE_ID = -1 and VIOL_INVOICE_ID = -1
	GROUP BY VIOLATOR_ID --) A
	OPTION (LABEL = 'FACT_INVOICE_LOAD: FACT_INVOICE_ANALYSIS_SECOND_STAGE');

	IF OBJECT_ID('dbo.FACT_INVOICE_ANALYSIS_FINAL')>0 	DROP TABLE dbo.FACT_INVOICE_ANALYSIS_FINAL;--DECLARE @PARTITION_DATE date = (SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN dbo.DIM_VIOLATOR_ASOF B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC)

--	GETFIELDS 'dbo','FACT_INVOICE_ANALYSIS' 
--  SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo' AND TABLE_NAME IN ('FACT_INVOICE_ANALYSIS_SECOND_STAGE','FACT_INVOICE_ANALYSIS') ORDER BY ORDINAL_POSITION, COLUMN_NAME, TABLE_NAME
	CREATE TABLE [dbo].FACT_INVOICE_ANALYSIS_FINAL  WITH (DISTRIBUTION = HASH([VIOLATOR_ID])) AS --EXPLAIN
	SELECT ISNULL(VIOLATOR_ID,-1) VIOLATOR_ID, PARTITION_DATE, DATE_BATCH_PRODUCED, ISNULL(CAST(VBI_INVOICE_ID AS BIGINT), -1) VBI_INVOICE_ID, ISNULL(CAST(VB_INV_DATE AS DATE), '1/1/1900') VB_INV_DATE, ISNULL(CAST(VB_INV_DUE_DATE AS DATE), '1/1/1900') VB_INV_DUE_DATE, ISNULL(CAST(VB_INV_DATE_EXCUSED AS DATE), '1/1/1900') VB_INV_DATE_EXCUSED, VB_INV_EXCUSED_BY, ISNULL(CAST(VB_INV_DATE_MODIFIED AS DATE), '1/1/1900') VB_INV_DATE_MODIFIED, ZI_STAGE_ID, INVOICE_STAGE_ID, VBI_STATUS, CONVERTED_DATE, ISNULL(CAST(VIOL_INV_STATUS_DATE AS DATE), '1/1/1900') VIOL_INV_STATUS_DATE, ISNULL(CAST(VIOL_INV_DUE_DATE AS DATE), '1/1/1900') VIOL_INV_DUE_DATE, VIOL_INV_DATE_EXCUSED, VIOL_INV_EXCUSED_BY, ISNULL(CAST(VIOL_INV_DATE_MODIFIED AS DATE), '1/1/1900') VIOL_INV_DATE_MODIFIED, VIOL_INVOICE_ID, VIOL_INV_STATUS, [3NNP_INV_DATE], FIRST_PAID_DATE, LAST_PAID_DATE, PAID_DATE_LIST, PAID_DATE_COUNT, FIRST_POS_ID, LAST_POS_ID, POS_NAME_LIST, POS_COUNT, PAYMENT_SOURCE_CODE, DELIVERY_CODE, PAYMENT_FORM, PAYMENT_CREATED_BY, CA_INV_STATUS, FIRST_CA_COMPANY_ID, LAST_CA_COMPANY_ID, CA_COMPANY_NAME_LIST, CA_COMPANY_COUNT, FIRST_CA_FILE_GEN_DATE, LAST_CA_FILE_GEN_DATE, CA_FILE_GEN_DATE_LIST, CA_FILE_GEN_DATE_COUNT, CONVERT(VARCHAR(20), FIRST_CITATION_NBR) FIRST_CITATION_NBR, CONVERT(VARCHAR(20), LAST_CITATION_NBR) LAST_CITATION_NBR, CONVERT(VARCHAR(20), CITATION_NBR_LIST) CITATION_NBR_LIST, CITATION_NBR_COUNT, CAST(FIRST_CA_ACCT_ID AS BIGINT) FIRST_CA_ACCT_ID, CAST(LAST_CA_ACCT_ID AS BIGINT) LAST_CA_ACCT_ID, CA_ACCT_ID_LIST, CA_ACCT_ID_COUNT, COURT_ACTION_MAIL_DATE, DPS_INV_STATUS, INVOICE_AMT, INVOICE_AMT_DISC, INVOICE_TOLLS_PAID_CALC, ISNULL(CAST(TOLL_DUE AS MONEY), 0) TOLL_DUE, ZI_LATE_FEES, VI_LATE_FEES, ADMIN_FEE, ADMIN_FEE2, ISNULL(CAST(AMT_PAID AS MONEY), 0) AMT_PAID, VIOL_COUNT, CLOSE_OUT_ELIGIBILITY_DATE, CLOSE_OUT_STATUS, CLOSE_OUT_DATE, CLOSE_OUT_TYPE, ISNULL(CAST(CURRENT_INVOICE_FLAG AS SMALLINT), 0) CURRENT_INVOICE_FLAG, TOLL_DUE_LEFT_ON_INV, TXN_CNT_LEFT_ON_INV, ISNULL(CAST(INSERT_DATE AS DATETIME2), '1990/1/1') INSERT_DATE 
	FROM [dbo].FACT_INVOICE_ANALYSIS_STAGE
	UNION ALL
	SELECT ISNULL(VIOLATOR_ID,-1) VIOLATOR_ID, PARTITION_DATE, DATE_BATCH_PRODUCED, ISNULL(CAST(VBI_INVOICE_ID AS BIGINT), -1) VBI_INVOICE_ID, ISNULL(CAST(VB_INV_DATE AS DATE), '1/1/1900') VB_INV_DATE, ISNULL(CAST(VB_INV_DUE_DATE AS DATE), '1/1/1900') VB_INV_DUE_DATE, ISNULL(CAST(VB_INV_DATE_EXCUSED AS DATE), '1/1/1900') VB_INV_DATE_EXCUSED, CAST(VB_INV_EXCUSED_BY AS VARCHAR), ISNULL(CAST(VB_INV_DATE_MODIFIED AS DATE), '1/1/1900') VB_INV_DATE_MODIFIED, ZI_STAGE_ID, INVOICE_STAGE_ID, VBI_STATUS, CONVERTED_DATE, ISNULL(CAST(VIOL_INV_STATUS_DATE AS DATE), '1/1/1900') VIOL_INV_STATUS_DATE, ISNULL(CAST(VIOL_INV_DUE_DATE AS DATE), '1/1/1900') VIOL_INV_DUE_DATE, VIOL_INV_DATE_EXCUSED, CAST(VIOL_INV_EXCUSED_BY AS VARCHAR), ISNULL(CAST(VIOL_INV_DATE_MODIFIED AS DATE), '1/1/1900') VIOL_INV_DATE_MODIFIED, VIOL_INVOICE_ID, VIOL_INV_STATUS, [3NNP_INV_DATE], FIRST_PAID_DATE, LAST_PAID_DATE, CAST(PAID_DATE_LIST AS VARCHAR), PAID_DATE_COUNT, FIRST_POS_ID, LAST_POS_ID, CAST(POS_NAME_LIST AS VARCHAR), POS_COUNT, PAYMENT_SOURCE_CODE, DELIVERY_CODE, PAYMENT_FORM,  CAST(PAYMENT_CREATED_BY AS VARCHAR), CA_INV_STATUS, FIRST_CA_COMPANY_ID, LAST_CA_COMPANY_ID, CAST(CA_COMPANY_NAME_LIST AS VARCHAR), CA_COMPANY_COUNT, FIRST_CA_FILE_GEN_DATE, LAST_CA_FILE_GEN_DATE, CAST(CA_FILE_GEN_DATE_LIST AS VARCHAR), CA_FILE_GEN_DATE_COUNT, CONVERT(VARCHAR(20), FIRST_CITATION_NBR) FIRST_CITATION_NBR, CAST(LAST_CITATION_NBR AS VARCHAR(20)), CAST(CITATION_NBR_LIST AS VARCHAR(250)), CITATION_NBR_COUNT, CAST(FIRST_CA_ACCT_ID AS BIGINT) FIRST_CA_ACCT_ID, CAST(LAST_CA_ACCT_ID AS BIGINT) LAST_CA_ACCT_ID, CAST(CA_ACCT_ID_LIST AS VARCHAR), CA_ACCT_ID_COUNT, COURT_ACTION_MAIL_DATE, DPS_INV_STATUS, INVOICE_AMT, INVOICE_AMT_DISC, INVOICE_TOLLS_PAID_CALC, ISNULL(CAST(TOLL_DUE AS MONEY), 0) TOLL_DUE, ZI_LATE_FEES, VI_LATE_FEES, ADMIN_FEE, ADMIN_FEE2, ISNULL(CAST(AMT_PAID AS MONEY), 0) AMT_PAID, VIOL_COUNT, CLOSE_OUT_ELIGIBILITY_DATE, CLOSE_OUT_STATUS, CLOSE_OUT_DATE, CLOSE_OUT_TYPE, ISNULL(CAST(CURRENT_INVOICE_FLAG AS SMALLINT),0) CURRENT_INVOICE_FLAG, TOLL_DUE_LEFT_ON_INV, TXN_CNT_LEFT_ON_INV, ISNULL(CAST(INSERT_DATE AS DATETIME2), '1990/1/1') INSERT_DATE 
	FROM [dbo].FACT_INVOICE_ANALYSIS_SECOND_STAGE
	OPTION (LABEL = 'FACT_INVOICE_LOAD: FACT_INVOICE_ANALYSIS_FINAL');

	--Switch Partition 
	EXEC [dbo].[PARTITION_SWITCH] @DEST_TABLE_NAME='FACT_INVOICE_ANALYSIS',@SRC_TABLE_NAME='FACT_INVOICE_ANALYSIS_FINAL',@AS_OF_DATE = @PARTITION_DATE
	
	UPDATE STATISTICS dbo.FACT_INVOICE_ANALYSIS

	--IF OBJECT_ID('dbo.FACT_INVOICE_ANALYSIS_FINAL')>0 	DROP TABLE dbo.FACT_INVOICE_ANALYSIS_FINAL
	--IF OBJECT_ID('dbo.FACT_INVOICE_ANALYSIS_STAGE')>0 	DROP TABLE dbo.FACT_INVOICE_ANALYSIS_STAGE
	--IF OBJECT_ID('dbo.FACT_INVOICE_ANALYSIS_SECOND_STAGE')>0 	DROP TABLE dbo.FACT_INVOICE_ANALYSIS_SECOND_STAGE
