CREATE PROC [DBO].[VIOLATOR_ADDRESS_LOAD] AS

-- EXEC EDW_RITE.DBO.VIOLATOR_ADDRESS_LOAD
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.VIOLATOR_ADDRESS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.VIOLATOR_ADDRESS_LOAD
GO

*/

/*	
SELECT TOP 100 * FROM EDW_RITE.DBO.VIOLATOR_ADDRESS 
SELECT COUNT_BIG(1) FROM EDW_RITE.DBO.VIOLATOR_ADDRESS -- 42 620 755
*/ 

/*
INSERT INTO EDW_RITE.dbo.VIOLATOR_ADDRESS
	(	 	  
	VIOLATOR_ID, VIOLATOR_ADDR_SEQ, ADDRESS1, ADDRESS2, CITY, STATE, ZIP_CODE, PLUS4, ADDR_STATUS, INSERT_DATE, LAST_UPDATE_DATE
	)
	VALUES
	(-1,-1,'','','','','','','','2000-01-01','2000-01-01')

*/
 
DECLARE @LAST_UPDATE_DATE datetime2(2) 
EXEC dbo.GetLoadStartDatetime 'dbo.VIOLATOR_ADDRESS', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.VIOLATOR_ADDRESS_STAGE')>0
	DROP TABLE dbo.VIOLATOR_ADDRESS_STAGE

CREATE TABLE dbo.VIOLATOR_ADDRESS_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID), CLUSTERED INDEX (VIOLATOR_ID)) 
AS 
SELECT  A.VIOLATOR_ID, VIOLATOR_ADDR_SEQ, ADDRESS1, ADDRESS2, CITY, STATE, ZIP_CODE, PLUS4, ADDR_STATUS
	,LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE AS INSERT_DATE
	, LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[VIOLATOR_ADDRESS] A
WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'VIOLATOR_ADDRESS_STAGE_LOAD: VIOLATOR_ADDRESS_STAGE');

CREATE STATISTICS STATS_VIOLATOR_ADDRESS_STAGE_001 ON VIOLATOR_ADDRESS_STAGE (VIOLATOR_ID, VIOLATOR_ADDR_SEQ)

INSERT INTO DIM_STATE (STATE_CODE, STATE_NAME, STATE_LATITUDE, STATE_LONGITUDE, OUT_OF_STATE_IND)
SELECT DISTINCT VA.STATE , '(Unknown)', 0 AS STATE_LATITUDE, 0 As STATE_LONGITUDE, 1 As OUT_OF_STATE_IND 
FROM  dbo.VIOLATOR_ADDRESS VA
LEFT JOIN dbo.DIM_STATE	DS ON VA.STATE = DS.STATE_CODE 
WHERE DS.STATE_CODE  IS NULL


IF OBJECT_ID('dbo.VIOLATOR_ADDRESS_NEW_STAGE')>0 	DROP TABLE dbo.VIOLATOR_ADDRESS_NEW_STAGE

CREATE TABLE dbo.VIOLATOR_ADDRESS_NEW_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(VIOLATOR_ID)) AS    
SELECT	
	 VIOLATOR_ID, VIOLATOR_ADDR_SEQ, ADDRESS1, ADDRESS2, CITY, STATE, ZIP_CODE, PLUS4, ADDR_STATUS, INSERT_DATE, LAST_UPDATE_DATE
FROM dbo.VIOLATOR_ADDRESS AS F 
WHERE	NOT EXISTS (SELECT 1 FROM dbo.VIOLATOR_ADDRESS_STAGE AS N WHERE N.VIOLATOR_ID = F.VIOLATOR_ID AND N.VIOLATOR_ADDR_SEQ = F.VIOLATOR_ADDR_SEQ) 

  UNION ALL 
  
SELECT	
	 N.VIOLATOR_ID, N.VIOLATOR_ADDR_SEQ, N.ADDRESS1, N.ADDRESS2, N.CITY, N.STATE, N.ZIP_CODE, N.PLUS4, N.ADDR_STATUS, ISNULL(F.INSERT_DATE, N.INSERT_DATE) AS INSERT_DATE, N.LAST_UPDATE_DATE
FROM dbo.VIOLATOR_ADDRESS_STAGE AS N
LEFT JOIN dbo.VIOLATOR_ADDRESS AS F ON N.VIOLATOR_ID = F.VIOLATOR_ID AND N.VIOLATOR_ADDR_SEQ = F.VIOLATOR_ADDR_SEQ 
OPTION (LABEL = 'VIOLATOR_ADDRESS_LOAD: INSERT/UPDATE');


--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.VIOLATOR_ADDRESS_OLD')>0 	DROP TABLE dbo.VIOLATOR_ADDRESS_OLD;
IF OBJECT_ID('dbo.VIOLATOR_ADDRESS')>0		RENAME OBJECT::dbo.VIOLATOR_ADDRESS TO VIOLATOR_ADDRESS_OLD;
RENAME OBJECT::dbo.VIOLATOR_ADDRESS_NEW_STAGE TO VIOLATOR_ADDRESS;
IF OBJECT_ID('dbo.VIOLATOR_ADDRESS_OLD')>0 	DROP TABLE dbo.VIOLATOR_ADDRESS_OLD;

CREATE STATISTICS [STATS_VIOLATOR_ADDRESS_001] ON [dbo].[VIOLATOR_ADDRESS] ([VIOLATOR_ID]);
CREATE STATISTICS [STATS_VIOLATOR_ADDRESS_002] ON [dbo].[VIOLATOR_ADDRESS] ([VIOLATOR_ID], [VIOLATOR_ADDR_SEQ]);
CREATE STATISTICS [STATS_VIOLATOR_ADDRESS_003] ON [dbo].[VIOLATOR_ADDRESS] ([INSERT_DATE]);
CREATE STATISTICS [STATS_VIOLATOR_ADDRESS_004] ON [dbo].[VIOLATOR_ADDRESS] ([LAST_UPDATE_DATE]);
CREATE STATISTICS [STATS_VIOLATOR_ADDRESS_005] ON [dbo].[VIOLATOR_ADDRESS] ([VIOLATOR_ID], [VIOLATOR_ADDR_SEQ], [ADDR_STATUS]);
CREATE STATISTICS [STATS_VIOLATOR_ADDRESS_006] ON [dbo].[VIOLATOR_ADDRESS] ([VIOLATOR_ID], [VIOLATOR_ADDR_SEQ], [CITY], [STATE], [ZIP_CODE], [PLUS4], [ADDRESS1], [ADDR_STATUS]);

IF OBJECT_ID('dbo.VIOLATOR_ADDRESS_STAGE')>0 	DROP TABLE dbo.VIOLATOR_ADDRESS_STAGE





/*
UPDATE DBO.VIOLATOR_ADDRESS
SET  DBO.VIOLATOR_ADDRESS.ADDRESS1 = B.ADDRESS1
	, DBO.VIOLATOR_ADDRESS.ADDRESS2 = B.ADDRESS2
	, DBO.VIOLATOR_ADDRESS.CITY = B.CITY
	, DBO.VIOLATOR_ADDRESS.STATE = B.STATE
	, DBO.VIOLATOR_ADDRESS.ZIP_CODE = B.ZIP_CODE
	, DBO.VIOLATOR_ADDRESS.PLUS4 = B.PLUS4
	, DBO.VIOLATOR_ADDRESS.ADDR_STATUS = B.ADDR_STATUS
	, DBO.VIOLATOR_ADDRESS.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM DBO.VIOLATOR_ADDRESS_STAGE B
WHERE DBO.VIOLATOR_ADDRESS.VIOLATOR_ID = B.VIOLATOR_ID AND DBO.VIOLATOR_ADDRESS.VIOLATOR_ADDR_SEQ = B.VIOLATOR_ADDR_SEQ
--AND LAST_UPDATE_TYPE = 'U'
OPTION (LABEL = 'VIOLATOR_ADDRESS_LOAD: UPDATE DBO.VIOLATOR_ADDRESS');



INSERT INTO DBO.VIOLATOR_ADDRESS(VIOLATOR_ID, VIOLATOR_ADDR_SEQ, ADDRESS1, ADDRESS2, CITY, STATE, ZIP_CODE, PLUS4, ADDR_STATUS, INSERT_DATE, LAST_UPDATE_DATE)
SELECT A.VIOLATOR_ID, A.VIOLATOR_ADDR_SEQ, A.ADDRESS1, A.ADDRESS2, A.CITY, A.STATE, A.ZIP_CODE, A.PLUS4, A.ADDR_STATUS, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM DBO.VIOLATOR_ADDRESS_STAGE A
LEFT JOIN DBO.VIOLATOR_ADDRESS B ON A.VIOLATOR_ID = B.VIOLATOR_ID AND A.VIOLATOR_ADDR_SEQ = B.VIOLATOR_ADDR_SEQ
WHERE B.VIOLATOR_ID IS NULL AND B.VIOLATOR_ADDR_SEQ IS NULL
OPTION (LABEL = 'VIOLATOR_ADDRESS_LOAD: INSERT DBO.VIOLATOR_ADDRESS');

*/
	
