CREATE PROC [DBO].[MISSCLASS_TGS_LOAD] AS 

DECLARE @FROM_DATE AS DATE = '09/01/2016'

--Step #1: Find all ACCT_ID/TAG_IDs with multiple Class
IF OBJECT_ID('SandBox.dbo.MISSCLASS_STAGE00')>0 DROP TABLE SandBox.dbo.MISSCLASS_STAGE00;
CREATE TABLE SandBox.dbo.MISSCLASS_STAGE00 WITH (DISTRIBUTION = HASH(ACCT_ID))  
ASEXPLAIN
SELECT	ACCT_ID, TAG_ID, CONVERT(VARCHAR, TRANSACTION_DATE, 112) YYYYMMDD, CONVERT(VARCHAR(2),TRANSACTION_DATE, 114) AS HH, COUNT(DISTINCT VEHICLE_CLASS_CODE) VEHICLE_CLASS_CODE_CNT
FROM	LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS
WHERE	SOURCE_CODE NOT IN ('I', 'B')
AND		TRANSACTION_DATE >= @FROM_DATE
GROUP BY ACCT_ID, TAG_ID, CONVERT(VARCHAR, TRANSACTION_DATE, 112), CONVERT(VARCHAR(2),TRANSACTION_DATE, 114)
HAVING	COUNT(DISTINCT VEHICLE_CLASS_CODE) > 1
OPTION (LABEL = 'MISSCLASS_STAGE00: All ACCT_ID/TAG_IDs with multiple Class');

--SELECT	* FROM	SandBox.dbo.MISSCLASS_STAGE00

--Step #2: Find all the transaction for the above ACCT_ID/TAG_IDs with multiple Class
IF OBJECT_ID('SandBox.dbo.MISSCLASS_STAGE01')>0 DROP TABLE SandBox.dbo.MISSCLASS_STAGE01;
CREATE TABLE SandBox.dbo.MISSCLASS_STAGE01 WITH (DISTRIBUTION = HASH(ACCT_ID))  
AS --EXPLAIN
SELECT	TTXN_ID, TOLL_TRANSACTIONS.ACCT_ID,TOLL_TRANSACTIONS.TAG_ID,TRANSACTION_DATE,
		CONVERT(VARCHAR, TRANSACTION_DATE, 112) AS YYYYMMDD, 
		CONVERT(VARCHAR(2),TRANSACTION_DATE, 114) AS HH, 
		POSTED_DATE,AMOUNT,AGENCY_ID,LANE_ID,SOURCE_CODE,SOURCE_TRXN_ID,CREDITED_FLAG,TOLL_TRANSACTIONS.VEHICLE_CLASS_CODE
FROM	LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS
JOIN	SandBox.dbo.MISSCLASS_STAGE00 ON TOLL_TRANSACTIONS.ACCT_ID = MISSCLASS_STAGE00.ACCT_ID AND TOLL_TRANSACTIONS.TAG_ID = MISSCLASS_STAGE00.TAG_ID 
AND		CONVERT(VARCHAR, TRANSACTION_DATE, 112) = YYYYMMDD AND	CONVERT(VARCHAR(2),TRANSACTION_DATE, 114) = HH
WHERE	SOURCE_CODE NOT IN ('I', 'B')
AND		TRANSACTION_DATE >= @FROM_DATE
OPTION (LABEL = 'MISSCLASS_STAGE01: All the transaction');

--SELECT	TOP(100) * FROM	SandBox.dbo.MISSCLASS_STAGE01 WHERE MISSCLASS_STAGE01.ACCT_ID = 2845 AND MISSCLASS_STAGE01.TAG_ID = 09475533 AND MISSCLASS_STAGE01.YYYYMMDD = 20170901 AND MISSCLASS_STAGE01.HH = 00 ORDER BY ACCT_ID, TAG_ID, TRANSACTION_DATE

--Step #3: Find the MODE for the above ACCT_ID/TAG_IDs with multiple Class
IF OBJECT_ID('SandBox.dbo.MISSCLASS_STAGE02')>0 DROP TABLE SandBox.dbo.MISSCLASS_STAGE02;
CREATE TABLE SandBox.dbo.MISSCLASS_STAGE02 WITH (DISTRIBUTION = HASH(ACCT_ID))  
AS --EXPLAIN
SELECT	DISTINCT MISSCLASS_STAGE01.*, AVG_CLASS.VEHICLE_CLASS_CODE NORMAL_VEHICLE_CLASS_CODE--SELECT COUNT(1)--4,508,619
FROM	SandBox.dbo.MISSCLASS_STAGE01 
JOIN	(SELECT  ACCT_ID, TAG_ID, YYYYMMDD, HH, VEHICLE_CLASS_CODE
		 FROM	(SELECT ACCT_ID, TAG_ID, YYYYMMDD, HH, CAST(VEHICLE_CLASS_CODE AS INT) VEHICLE_CLASS_CODE--, cnt   = COUNT(1)
				 ,rid   = ROW_NUMBER() OVER (PARTITION BY ACCT_ID, TAG_ID, YYYYMMDD, HH ORDER BY COUNT(1) DESC)--SELECT *
				FROM SandBox.dbo.MISSCLASS_STAGE01 	--WHERE ACCT_ID = 134124 AND TAG_ID = 10647927 AND YYYYMMDD = 20170901 AND HH = 01
				GROUP BY ACCT_ID, TAG_ID, YYYYMMDD, HH, VEHICLE_CLASS_CODE ) A WHERE rid = 1)  AVG_CLASS
	ON MISSCLASS_STAGE01.ACCT_ID = AVG_CLASS.ACCT_ID 
	AND MISSCLASS_STAGE01.TAG_ID = AVG_CLASS.TAG_ID 
	AND MISSCLASS_STAGE01.YYYYMMDD = AVG_CLASS.YYYYMMDD 
	AND MISSCLASS_STAGE01.HH = AVG_CLASS.HH 
	AND MISSCLASS_STAGE01.VEHICLE_CLASS_CODE != AVG_CLASS.VEHICLE_CLASS_CODE
	--WHERE MISSCLASS_STAGE01.ACCT_ID = 134124 AND MISSCLASS_STAGE01.TAG_ID = 10647927 AND MISSCLASS_STAGE01.YYYYMMDD = 20170901 AND MISSCLASS_STAGE01.HH = 01
OPTION (LABEL = 'MISSCLASS_STAGE02: MODE for the above ACCT_ID/TAG_IDs');

--SELECT 1673888.00/0.85, 1969280*.15
--SELECT	TOP(100) * FROM	SandBox.dbo.MISSCLASS_STAGE02  WHERE LANE_ID	= 1014 AND YYYYMMDD	= 20170914 AND VEHICLE_CLASS_CODE = 3 AND NORMAL_VEHICLE_CLASS_CODE = 3 WHERE TTXN_ID = 6727420130 ORDER BY TTXN_ID, ACCT_ID, TAG_ID, TRANSACTION_DATE

----Step #4: Group by Lane
--IF OBJECT_ID('SandBox.dbo.MISSCLASS_STAGE03')>0 DROP TABLE SandBox.dbo.MISSCLASS_STAGE03;
--CREATE TABLE SandBox.dbo.MISSCLASS_STAGE03 WITH (DISTRIBUTION = HASH(LANE_ID)) --[LANE_ID]
--AS --EXPLAIN
--SELECT MISSCLASS_STAGE02.YYYYMMDD, MISSCLASS_STAGE02.LANE_ID, MISSCLASS_STAGE02.VEHICLE_CLASS_CODE, NORMAL_VEHICLE_CLASS_CODE, COUNT(1) CNT
--FROM SandBox.dbo.MISSCLASS_STAGE02 
--GROUP BY MISSCLASS_STAGE02.YYYYMMDD, MISSCLASS_STAGE02.LANE_ID, VEHICLE_CLASS_CODE, MISSCLASS_STAGE02.NORMAL_VEHICLE_CLASS_CODE--ORDER BY 5 DESC


----Step #5: Group by Tags
--IF OBJECT_ID('SandBox.dbo.MISSCLASS_STAGE04')>0 DROP TABLE SandBox.dbo.MISSCLASS_STAGE03;
--CREATE TABLE SandBox.dbo.MISSCLASS_STAGE04 WITH (DISTRIBUTION = HASH(TAG_ID)) --[LANE_ID]
--AS --EXPLAIN
--SELECT MISSCLASS_STAGE02.ACCT_ID,MISSCLASS_STAGE02.TAG_ID,LIC_PLATE,LIC_STATE,VEHICLE_DESCR,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,VEHICLE_COLOR,ACCOUNT_TAGS.VEHICLE_CLASS_CODE, COUNT(1) CNT
--FROM SandBox.dbo.MISSCLASS_STAGE02 
--JOIN LND_LG_TS.TAG_OWNER.ACCOUNT_TAGS 
--ON ACCOUNT_TAGS.ACCT_ID = MISSCLASS_STAGE02.ACCT_ID 
--AND ACCOUNT_TAGS.TAG_ID = MISSCLASS_STAGE02.TAG_ID
--WHERE [ACCT_TAG_STATUS] = 'A'
--GROUP BY MISSCLASS_STAGE02.ACCT_ID,MISSCLASS_STAGE02.TAG_ID,LIC_PLATE,LIC_STATE,VEHICLE_DESCR,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,VEHICLE_COLOR,ACCOUNT_TAGS.VEHICLE_CLASS_CODE

--SELECT	TOP(100) * --SELECT COUNT(1)
--FROM	SandBox.dbo.MISSCLASS_STAGE02 --113,293
--JOIN LND_LG_TS.TAG_OWNER.ACCOUNT_TAGS 
--ON ACCOUNT_TAGS.ACCT_ID = MISSCLASS_STAGE02.ACCT_ID 
--AND ACCOUNT_TAGS.TAG_ID = MISSCLASS_STAGE02.TAG_ID
--WHERE [ACCT_TAG_STATUS] = 'A' --MISSCLASS_STAGE02.TAG_ID = '09873685'


--SELECT	LANE_ABBREV,LANE_NAME,LANE_DIRECTION,PLAZA_ABBREV,YYYYMMDD,VEHICLE_CLASS_CODE,NORMAL_VEHICLE_CLASS_CODE,CNT MISCLASS_CNT
-- FROM	SandBox.dbo.MISSCLASS_STAGE03 JOIN EDW_RITE.dbo.DIM_LANE ON DIM_LANE.LANE_ID = MISSCLASS_STAGE03.LANE_ID ORDER BY 8 DESC


-- SELECT MAX(TRANSACTION_DATE)
-- FROM	LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS
-- WHERE  TRANSACTION_DATE<= GETDATE()

-- SELECT	* FROM	SandBox.dbo.MISSCLASS_STAGE03 
-- WHERE LANE_ID	= 1014
-- AND YYYYMMDD	= 20170914 
-- AND VEHICLE_CLASS_CODE = 3
-- AND NORMAL_VEHICLE_CLASS_CODE = 3




