CREATE PROC [DBO].[Service_Dim_Tables_Rebuilt] AS 
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.Service_Dim_Tables_Rebuilt') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.Service_Dim_Tables_Rebuilt
GO

EXEC EDW_RITE.DBO.Service_Dim_Tables_Rebuilt

*/

/*

CREATE TABLE EDW_RITE.dbo.[DIM_ZIPCODE_NEW_SET] WITH (CLUSTERED INDEX (ZIPCODE), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[ZIPCODE] AS varchar(10)), '') AS [ZIPCODE]
			, ISNULL(CAST(main_table.[ZIPCODE_LATITUDE] AS decimal(16,12)), 0) AS [ZIPCODE_LATITUDE]
			, ISNULL(CAST(main_table.[ZIPCODE_LONGITUDE] AS decimal(16,12)), 0) AS [ZIPCODE_LONGITUDE]
			, CAST(main_table.[COUNTY] AS varchar(100)) AS [COUNTY]
			, ISNULL(CAST(main_table.[COUNTY_GROUP] AS varchar(100)), '') AS [COUNTY_GROUP]
			, ISNULL(CAST(main_table.[INSERT_DATE] AS datetime2(7)), '1900-01-01') AS [INSERT_DATE]
			, ISNULL(CAST(main_table.[LAST_UPDATE_DATE] AS datetime2(7)), '1900-01-01') AS [LAST_UPDATE_DATE]
	FROM EDW_RITE.dbo.[DIM_ZIPCODE] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_ZIPCODE_NEW_SET LOAD');

 CREATE STATISTICS [STATS_DIM_ZIPCODE_001] ON EDW_RITE.dbo.[DIM_ZIPCODE_NEW_SET] ([ZIPCODE_LATITUDE], [ZIPCODE_LONGITUDE]);
 CREATE STATISTICS [STATS_DIM_ZIPCODE_002] ON EDW_RITE.dbo.[DIM_ZIPCODE_NEW_SET] ([COUNTY]);
 CREATE STATISTICS [STATS_DIM_ZIPCODE_003] ON EDW_RITE.dbo.[DIM_ZIPCODE_NEW_SET] ([COUNTY_GROUP]);

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_ZIPCODE_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_ZIPCODE_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_ZIPCODE]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_ZIPCODE] TO [DIM_ZIPCODE_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_ZIPCODE_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_ZIPCODE_NEW_SET] TO [DIM_ZIPCODE];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_ZIPCODE_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_ZIPCODE_OLD];
	

CREATE TABLE EDW_RITE.dbo.[DIM_YEAR_NEW_SET] WITH (HEAP, DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[Cal_YearID] AS smallint), 0) AS [Cal_YearID]
			, ISNULL(CAST(main_table.[Fiscal_YearID] AS smallint), 0) AS [Fiscal_YearID]
			, CAST(main_table.[Year_Desc] AS smallint) AS [Year_Desc]
			, CAST(main_table.[YearDate] AS date) AS [YearDate]
			, CAST(main_table.[YearDuration] AS smallint) AS [YearDuration]
			, CAST(main_table.[Cal_PrevYearID] AS smallint) AS [Cal_PrevYearID]
			, CAST(main_table.[Cal_Prev2YearID] AS smallint) AS [Cal_Prev2YearID]
			, CAST(main_table.[Cal_Prev3YearID] AS smallint) AS [Cal_Prev3YearID]
			, CAST(main_table.[Cal_Prev4YearID] AS smallint) AS [Cal_Prev4YearID]
			, CAST(main_table.[Cal_Prev5YearID] AS smallint) AS [Cal_Prev5YearID]
			, CAST(main_table.[Cal_Prev6YearID] AS smallint) AS [Cal_Prev6YearID]
			, CAST(main_table.[Cal_Prev7YearID] AS smallint) AS [Cal_Prev7YearID]
	FROM EDW_RITE.dbo.[DIM_YEAR] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_YEAR_NEW_SET LOAD');

CREATE STATISTICS [STATS_DIM_YEAR_001] ON EDW_RITE.dbo.[DIM_YEAR_NEW_SET] ([Cal_YearID]);

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_YEAR_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_YEAR_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_YEAR]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_YEAR] TO [DIM_YEAR_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_YEAR_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_YEAR_NEW_SET] TO [DIM_YEAR];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_YEAR_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_YEAR_OLD];
	


CREATE TABLE EDW_RITE.dbo.[DIM_WEEK_NEW_SET] WITH (CLUSTERED INDEX (WeekID), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 CAST(main_table.[WeekID] AS int) AS [WeekID]
			, CAST(main_table.[WeekDate] AS date) AS [WeekDate]
			, CAST(main_table.[WeekDesc] AS varchar(61)) AS [WeekDesc]
			, CAST(main_table.[WeekOfYear] AS int) AS [WeekOfYear]
			, CAST(main_table.[MonthID] AS int) AS [MonthID]
			, CAST(main_table.[QuarterID] AS smallint) AS [QuarterID]
			, CAST(main_table.[YearID] AS smallint) AS [YearID]
	FROM EDW_RITE.dbo.[DIM_WEEK] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_WEEK_NEW_SET LOAD');

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_WEEK_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_WEEK_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_WEEK]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_WEEK] TO [DIM_WEEK_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_WEEK_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_WEEK_NEW_SET] TO [DIM_WEEK];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_WEEK_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_WEEK_OLD];

CREATE STATISTICS [STATS_DIM_WEEK_001] ON EDW_RITE.dbo.[DIM_WEEK] ([YearID], [MonthID], [QuarterID]);	


CREATE TABLE EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_NEW_SET] WITH (CLUSTERED INDEX (VIOLATOR_ID), DISTRIBUTION = HASH(VIOLATOR_ID), PARTITION ([PARTITION_DATE] RANGE LEFT FOR VALUES ('20161204','20170104','20170202','20170311','20170331','20170430','20170601','20170701','20170801','20170901','20171001','20171101','20171201','20180101','20180201','20180301','20180401','20180501','20180601','20180701','20180801','20180901','20181001','20181101','20181201','20190101','20190201','20190301','20190401','20190501','20190601','20190701','20190801')))
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[VIOLATOR_ID] AS bigint), 0) AS [VIOLATOR_ID]
			, ISNULL(CAST(main_table.[PARTITION_DATE] AS date), '1900-01-01') AS [PARTITION_DATE]
			, ISNULL(CAST(main_table.[VIOLATOR_TYPE] AS varchar(2)), '') AS [VIOLATOR_TYPE]
			, CAST(main_table.[VIOLATOR_FNAME] AS varchar(60)) AS [VIOLATOR_FNAME]
			, CAST(main_table.[VIOLATOR_LNAME] AS varchar(60)) AS [VIOLATOR_LNAME]
			, CAST(main_table.[VIOLATOR_FNAME2] AS varchar(60)) AS [VIOLATOR_FNAME2]
			, CAST(main_table.[VIOLATOR_LNAME2] AS varchar(240)) AS [VIOLATOR_LNAME2]
			, CAST(main_table.[PHONE_NBR] AS varchar(15)) AS [PHONE_NBR]
			, CAST(main_table.[EMAIL_ADDR] AS varchar(80)) AS [EMAIL_ADDR]
			, CAST(main_table.[VIOLATOR_ADDR_SEQ] AS smallint) AS [VIOLATOR_ADDR_SEQ]
			, CAST(main_table.[ADDRESS1] AS varchar(30)) AS [ADDRESS1]
			, CAST(main_table.[ADDRESS2] AS varchar(30)) AS [ADDRESS2]
			, CAST(main_table.[CITY] AS varchar(20)) AS [CITY]
			, ISNULL(CAST(main_table.[STATE] AS varchar(3)), '') AS [STATE]
			, ISNULL(CAST(main_table.[ZIP_CODE] AS varchar(6)), '') AS [ZIP_CODE]
			, CAST(main_table.[PLUS4] AS varchar(4)) AS [PLUS4]
			, CAST(main_table.[ADDR_STATUS] AS varchar(2)) AS [ADDR_STATUS]
			, ISNULL(CAST(main_table.[LIC_PLATE_NBR] AS varchar(15)), '') AS [LIC_PLATE_NBR]
			, ISNULL(CAST(main_table.[LIC_PLATE_STATE] AS varchar(15)), '') AS [LIC_PLATE_STATE]
			, ISNULL(CAST(main_table.[VEHICLE_MAKE] AS varchar(6)), '') AS [VEHICLE_MAKE]
			, ISNULL(CAST(main_table.[VEHICLE_MODEL] AS varchar(6)), '') AS [VEHICLE_MODEL]
			, ISNULL(CAST(main_table.[VEHICLE_BODY] AS varchar(15)), '') AS [VEHICLE_BODY]
			, ISNULL(CAST(main_table.[VEHICLE_YEAR] AS varchar(6)), '') AS [VEHICLE_YEAR]
			, ISNULL(CAST(main_table.[VEHICLE_COLOR] AS varchar(20)), '') AS [VEHICLE_COLOR]
			, CAST(main_table.[VIN] AS varchar(50)) AS [VIN]
			, ISNULL(CAST(main_table.[DATE_CREATED] AS date), '1900-01-01') AS [DATE_CREATED]
			, ISNULL(CAST(main_table.[HV_FLAG] AS smallint), 0) AS [HV_FLAG]
			, ISNULL(CAST(main_table.[PAYMENT_PLAN_FLAG] AS smallint), 0) AS [PAYMENT_PLAN_FLAG]
			, ISNULL(CAST(main_table.[INSERT_DATE] AS datetime2(7)), '1900-01-01') AS [INSERT_DATE]
	FROM EDW_RITE.dbo.[DIM_VIOLATOR_ASOF] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_VIOLATOR_ASOF_NEW_SET LOAD');

	CREATE STATISTICS [STATS_DIM_VIOLATOR_ASOF_001] ON EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_NEW_SET] ([PARTITION_DATE]);
	CREATE STATISTICS [STATS_DIM_VIOLATOR_ASOF_002] ON EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_NEW_SET] ([VIOLATOR_TYPE]);
	CREATE STATISTICS [STATS_DIM_VIOLATOR_ASOF_003] ON EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_NEW_SET] ([STATE],[CITY],[ZIP_CODE]);
	CREATE STATISTICS [STATS_DIM_VIOLATOR_ASOF_004] ON EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_NEW_SET] ([HV_FLAG]);
	CREATE STATISTICS [STATS_DIM_VIOLATOR_ASOF_005] ON EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_NEW_SET] ([LIC_PLATE_STATE], [LIC_PLATE_NBR]);
	CREATE STATISTICS [STATS_DIM_VIOLATOR_ASOF_006] ON EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_NEW_SET] ([VIOLATOR_ADDR_SEQ]);
	CREATE STATISTICS [STATS_DIM_VIOLATOR_ASOF_007] ON EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_NEW_SET] ([VEHICLE_MAKE], [VEHICLE_MODEL], [VEHICLE_YEAR]);
	CREATE STATISTICS [STATS_DIM_VIOLATOR_ASOF_008] ON EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_NEW_SET] ([ZIP_CODE]);
	CREATE STATISTICS [STATS_DIM_VIOLATOR_ASOF_009] ON EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_NEW_SET] ([ADDR_STATUS]);
	CREATE STATISTICS [STATS_DIM_VIOLATOR_ASOF_010] ON EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_NEW_SET] ([PAYMENT_PLAN_FLAG]);

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VIOLATOR_ASOF]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_VIOLATOR_ASOF] TO [DIM_VIOLATOR_ASOF_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_NEW_SET]') IS NOT NULL	RENAME OBJECT::EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_NEW_SET] TO [DIM_VIOLATOR_ASOF];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_VIOLATOR_ASOF_OLD];


CREATE TABLE EDW_RITE.dbo.[DIM_VIOLATION_OR_ZIPCASH_NEW_SET] WITH (CLUSTERED INDEX ( [VIOLATION_OR_ZIPCASH] ), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[VIOLATION_OR_ZIPCASH] AS varchar(2)), '') AS [VIOLATION_OR_ZIPCASH]
			, ISNULL(CAST(main_table.[VIOLATION_OR_ZIPCASH_DESCR] AS varchar(40)), '') AS [VIOLATION_OR_ZIPCASH_DESCR]
			, CAST(main_table.[LAST_UPDATE_TYPE] AS varchar(1)) AS [LAST_UPDATE_TYPE]
			, CAST(main_table.[LAST_UPDATE_DATE] AS datetime2(2)) AS [LAST_UPDATE_DATE]
	FROM EDW_RITE.dbo.[DIM_VIOLATION_OR_ZIPCASH] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_VIOLATION_OR_ZIPCASH_NEW_SET LOAD');

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VIOLATION_OR_ZIPCASH_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_VIOLATION_OR_ZIPCASH_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VIOLATION_OR_ZIPCASH]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_VIOLATION_OR_ZIPCASH] TO [DIM_VIOLATION_OR_ZIPCASH_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VIOLATION_OR_ZIPCASH_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_VIOLATION_OR_ZIPCASH_NEW_SET] TO [DIM_VIOLATION_OR_ZIPCASH];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VIOLATION_OR_ZIPCASH_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_VIOLATION_OR_ZIPCASH_OLD];
	

DROP STATISTICS dbo.[DIM_VEHICLE].[STATS_DIM_VEHICLE_001];
DROP STATISTICS dbo.[DIM_VEHICLE].[STATS_DIM_VEHICLE_002];
DROP STATISTICS dbo.[DIM_VEHICLE].[STATS_DIM_VEHICLE_003];

CREATE STATISTICS [STATS_DIM_VEHICLE_001] ON EDW_RITE.dbo.[DIM_VEHICLE] ([VEHICLE_MAKE], [VEHICLE_MODEL], [VEHICLE_YEAR]);
CREATE STATISTICS [STATS_DIM_VEHICLE_002] ON EDW_RITE.dbo.[DIM_VEHICLE] ([VEHICLE_YEAR]);	


CREATE TABLE EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_NEW_SET] WITH (HEAP, DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[VCLY_ID] AS decimal(14,0)), 0) AS [VCLY_ID]
			, ISNULL(CAST(main_table.[VEHY_ID] AS decimal(14,0)), 0) AS [VEHY_ID]
			, ISNULL(CAST(main_table.[VCLY_DESC] AS varchar(200)), '') AS [VCLY_DESC]
			, CAST(main_table.[NOTE] AS varchar(200)) AS [NOTE]
			, ISNULL(CAST(main_table.[AXLES] AS int), 0) AS [AXLES]
			, ISNULL(CAST(main_table.[CREATED_BY] AS varchar(30)), '') AS [CREATED_BY]
			, ISNULL(CAST(main_table.[CREATION_DATE] AS datetime2(0)), '1900-01-01') AS [CREATION_DATE]
			, ISNULL(CAST(main_table.[UPDATED_BY] AS varchar(30)), '') AS [UPDATED_BY]
			, ISNULL(CAST(main_table.[UPDATED_DATE] AS datetime2(0)), '1900-01-01') AS [UPDATED_DATE]
			, ISNULL(CAST(main_table.[DISPLAYED] AS varchar(1)), '') AS [DISPLAYED]
			, ISNULL(CAST(main_table.[VCLY_ORDER] AS int), 0) AS [VCLY_ORDER]
			, CAST(main_table.[LAST_UPDATE_DATE] AS datetime2(6)) AS [LAST_UPDATE_DATE]
			, CAST(main_table.[LAST_UPDATE_TYPE] AS varchar(1)) AS [LAST_UPDATE_TYPE]
	FROM EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_VEH_CLSS_TYPES_NEW_SET LOAD');

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES] TO [DIM_VEH_CLSS_TYPES_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_NEW_SET] TO [DIM_VEH_CLSS_TYPES];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_OLD];
	
CREATE TABLE EDW_RITE.dbo.[DIM_TOLL_PLATE_NEW_SET] WITH (CLUSTERED INDEX (ACCT_ID,TAG_ID), DISTRIBUTION = HASH([ACCT_ID]))
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[ACCT_ID] AS decimal(12,0)), 0) AS [ACCT_ID]
			, ISNULL(CAST(main_table.[TAG_ID] AS varchar(12)), '') AS [TAG_ID]
			, CAST(main_table.[LIC_PLATE] AS varchar(15)) AS [LIC_PLATE]
			, CAST(main_table.[LIC_STATE] AS varchar(3)) AS [LIC_STATE]
			, ISNULL(CAST(main_table.[DATE_VERSION] AS varchar(8)), '') AS [DATE_VERSION]
	FROM EDW_RITE.dbo.[DIM_TOLL_PLATE] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_TOLL_PLATE_NEW_SET LOAD');

 CREATE STATISTICS [STATS_DIM_TOLL_PLATE_001] ON EDW_RITE.dbo.[DIM_TOLL_PLATE_NEW_SET] (LIC_PLATE,LIC_STATE);
 CREATE STATISTICS [STATS_DIM_TOLL_PLATE_002] ON EDW_RITE.dbo.[DIM_TOLL_PLATE_NEW_SET] (LIC_STATE);

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_TOLL_PLATE_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_TOLL_PLATE_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_TOLL_PLATE]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_TOLL_PLATE] TO [DIM_TOLL_PLATE_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_TOLL_PLATE_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_TOLL_PLATE_NEW_SET] TO [DIM_TOLL_PLATE];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_TOLL_PLATE_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_TOLL_PLATE_OLD];


CREATE TABLE EDW_RITE.dbo.[DIM_TIME_NEW_SET] WITH (CLUSTERED INDEX ( [TIME_ID] ), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[TIME_ID] AS int), 0) AS [TIME_ID]
			, ISNULL(CAST(main_table.[HOUR] AS varchar(6)), '') AS [HOUR]
			, ISNULL(CAST(main_table.[12_HOUR] AS varchar(6)), '') AS [12_HOUR]
			, ISNULL(CAST(main_table.[AM_PM] AS varchar(6)), '') AS [AM_PM]
			, ISNULL(CAST(main_table.[30_MINUTE] AS varchar(6)), '') AS [30_MINUTE]
			, ISNULL(CAST(main_table.[15_MINUTE] AS varchar(6)), '') AS [15_MINUTE]
			, ISNULL(CAST(main_table.[10_MINUTE] AS varchar(6)), '') AS [10_MINUTE]
			, ISNULL(CAST(main_table.[5_MINUTE] AS varchar(6)), '') AS [5_MINUTE]
			, ISNULL(CAST(main_table.[MINUTE] AS varchar(6)), '') AS [MINUTE]
			, ISNULL(CAST(main_table.[SECOND] AS varchar(6)), '') AS [SECOND]
	FROM EDW_RITE.dbo.[DIM_TIME] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_TIME_NEW_SET LOAD');

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_TIME_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_TIME_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_TIME]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_TIME] TO [DIM_TIME_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_TIME_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_TIME_NEW_SET] TO [DIM_TIME];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_TIME_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_TIME_OLD];

CREATE STATISTICS [STATS_DIM_TIME_001] ON EDW_RITE.dbo.[DIM_TIME] ([HOUR], [MINUTE], [SECOND]);	


--CREATE TABLE EDW_RITE.dbo.[DIM_RETAIL_TRXN_DETAILS_TRANS_STATUS_NEW_SET] WITH (CLUSTERED INDEX ( [TRANS_STATUS] ), DISTRIBUTION = REPLICATE)
--	AS 
--	SELECT 
--			 ISNULL(CAST(main_table.[TRANS_STATUS] AS varchar(2)), '') AS [TRANS_STATUS]
--			, ISNULL(CAST(main_table.[TRANS_STATUS_DESC] AS varchar(20)), '') AS [TRANS_STATUS_DESC]
--	FROM EDW_RITE.dbo.[DIM_RETAIL_TRXN_DETAILS_TRANS_STATUS] AS main_table
--	WHERE 1 = 1
--	OPTION (LABEL = 'DIM_RETAIL_TRXN_DETAILS_TRANS_STATUS_NEW_SET LOAD');

--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_RETAIL_TRXN_DETAILS_TRANS_STATUS_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_RETAIL_TRXN_DETAILS_TRANS_STATUS_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_RETAIL_TRXN_DETAILS_TRANS_STATUS]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_RETAIL_TRXN_DETAILS_TRANS_STATUS] TO [DIM_RETAIL_TRXN_DETAILS_TRANS_STATUS_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_RETAIL_TRXN_DETAILS_TRANS_STATUS_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_RETAIL_TRXN_DETAILS_TRANS_STATUS_NEW_SET] TO [DIM_RETAIL_TRXN_DETAILS_TRANS_STATUS];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_RETAIL_TRXN_DETAILS_TRANS_STATUS_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_RETAIL_TRXN_DETAILS_TRANS_STATUS_OLD];
	
CREATE TABLE EDW_RITE.dbo.[DIM_QUARTER_NEW_SET] WITH (CLUSTERED INDEX ([Cal_QuarterID]), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[Cal_QuarterID] AS smallint), 0) AS [Cal_QuarterID]
			, ISNULL(CAST(main_table.[SPS_QuarterID] AS smallint), 0) AS [SPS_QuarterID]
			, CAST(main_table.[QuarterDate] AS date) AS [QuarterDate]
			, CAST(main_table.[Cal_QuarterDesc] AS varchar(50)) AS [Cal_QuarterDesc]
			, CAST(main_table.[SPS_QuarterDesc] AS varchar(50)) AS [SPS_QuarterDesc]
			, CAST(main_table.[Cal_YearID] AS smallint) AS [Cal_YearID]
			, CAST(main_table.[SPS_YearID] AS smallint) AS [SPS_YearID]
			, CAST(main_table.[QuarterDuration] AS tinyint) AS [QuarterDuration]
			, CAST(main_table.[Cal_PrevQuarterID] AS int) AS [Cal_PrevQuarterID]
			, CAST(main_table.[SPS_PrevQuarterID] AS int) AS [SPS_PrevQuarterID]
			, CAST(main_table.[Cal_LYQuarterID] AS int) AS [Cal_LYQuarterID]
			, CAST(main_table.[SPS_LYQuarterID] AS int) AS [SPS_LYQuarterID]
	FROM EDW_RITE.dbo.[DIM_QUARTER] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_QUARTER_NEW_SET LOAD');

 CREATE STATISTICS [STATS_DIM_QUARTER_001] ON EDW_RITE.dbo.[DIM_QUARTER] ([Cal_YearID],[Cal_QuarterID]);

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_QUARTER_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_QUARTER_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_QUARTER]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_QUARTER] TO [DIM_QUARTER_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_QUARTER_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_QUARTER_NEW_SET] TO [DIM_QUARTER];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_QUARTER_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_QUARTER_OLD];
	

CREATE TABLE EDW_RITE.dbo.[DIM_PURSUED_LEVEL_2_NEW_SET] WITH (HEAP, DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[ABBREV] AS varchar(15)), '') AS [ABBREV]
			, ISNULL(CAST(main_table.[NAME] AS varchar(55)), '') AS [NAME]
			, ISNULL(CAST(main_table.[LEVEL_0] AS varchar(55)), '') AS [LEVEL_0]
			, ISNULL(CAST(main_table.[LEVEL_1] AS varchar(55)), '') AS [LEVEL_1]
			, ISNULL(CAST(main_table.[MULTIPLIER] AS int), 0) AS [MULTIPLIER]
			, ISNULL(CAST(main_table.[ORDER] AS smallint), 0) AS [ORDER]
	FROM EDW_RITE.dbo.[DIM_PURSUED_LEVEL_2] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_PURSUED_LEVEL_2_NEW_SET LOAD');

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PURSUED_LEVEL_2_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_PURSUED_LEVEL_2_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PURSUED_LEVEL_2]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_PURSUED_LEVEL_2] TO [DIM_PURSUED_LEVEL_2_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PURSUED_LEVEL_2_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_PURSUED_LEVEL_2_NEW_SET] TO [DIM_PURSUED_LEVEL_2];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PURSUED_LEVEL_2_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_PURSUED_LEVEL_2_OLD];
*/	

CREATE TABLE EDW_RITE.dbo.[DIM_PURSUED_LEVEL_1_NEW_SET] WITH (HEAP, DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[ABBREV] AS varchar(15)), '') AS [ABBREV]
			, ISNULL(CAST(main_table.[NAME] AS varchar(55)), '') AS [NAME]
			, ISNULL(CAST(main_table.[LEVEL_0] AS varchar(55)), '') AS [LEVEL_0]
			, ISNULL(CAST(main_table.[MULTIPLIER] AS int), 0) AS [MULTIPLIER]
			, ISNULL(CAST(main_table.[ORDER] AS smallint), 0) AS [ORDER]
	FROM EDW_RITE.dbo.[DIM_PURSUED_LEVEL_1] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_PURSUED_LEVEL_1_NEW_SET LOAD');

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PURSUED_LEVEL_1_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_PURSUED_LEVEL_1_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PURSUED_LEVEL_1]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_PURSUED_LEVEL_1] TO [DIM_PURSUED_LEVEL_1_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PURSUED_LEVEL_1_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_PURSUED_LEVEL_1_NEW_SET] TO [DIM_PURSUED_LEVEL_1];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PURSUED_LEVEL_1_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_PURSUED_LEVEL_1_OLD];
	

CREATE TABLE EDW_RITE.dbo.[DIM_PURSUED_LEVEL_0_NEW_SET] WITH (HEAP, DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[ABBREV] AS varchar(15)), '') AS [ABBREV]
			, ISNULL(CAST(main_table.[NAME] AS varchar(55)), '') AS [NAME]
			, ISNULL(CAST(main_table.[MULTIPLIER] AS int), 0) AS [MULTIPLIER]
			, ISNULL(CAST(main_table.[ORDER] AS smallint), 0) AS [ORDER]
	FROM EDW_RITE.dbo.[DIM_PURSUED_LEVEL_0] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_PURSUED_LEVEL_0_NEW_SET LOAD');

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PURSUED_LEVEL_0_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_PURSUED_LEVEL_0_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PURSUED_LEVEL_0]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_PURSUED_LEVEL_0] TO [DIM_PURSUED_LEVEL_0_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PURSUED_LEVEL_0_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_PURSUED_LEVEL_0_NEW_SET] TO [DIM_PURSUED_LEVEL_0];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PURSUED_LEVEL_0_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_PURSUED_LEVEL_0_OLD];
	

CREATE TABLE EDW_RITE.dbo.[DIM_PLAZA_NEW_SET] WITH (CLUSTERED INDEX (PLAZA_ID), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[PLAZA_ID] AS bigint), 0) AS [PLAZA_ID]
			, ISNULL(CAST(main_table.[PLAZA_ABBREV] AS varchar(50)), '') AS [PLAZA_ABBREV]
			, ISNULL(CAST(main_table.[PLAZA_NAME] AS varchar(50)), '') AS [PLAZA_NAME]
			, ISNULL(CAST(main_table.[PLAZA_LATITUDE] AS decimal(16,12)), 0) AS [PLAZA_LATITUDE]
			, ISNULL(CAST(main_table.[PLAZA_LONGITUDE] AS decimal(16,12)), 0) AS [PLAZA_LONGITUDE]
			, ISNULL(CAST(main_table.[FACILITY_ID] AS decimal(14,0)), 0) AS [FACILITY_ID]
			, ISNULL(CAST(main_table.[FACILITY_ABBREV] AS varchar(50)), '') AS [FACILITY_ABBREV]
			, ISNULL(CAST(main_table.[FACILITY_NAME] AS varchar(50)), '') AS [FACILITY_NAME]
			, ISNULL(CAST(main_table.[AGENCY_ID] AS decimal(14,0)), 0) AS [AGENCY_ID]
			, ISNULL(CAST(main_table.[AGENCY_ABBREV] AS varchar(50)), '') AS [AGENCY_ABBREV]
			, ISNULL(CAST(main_table.[AGENCY_NAME] AS varchar(50)), '') AS [AGENCY_NAME]
			, ISNULL(CAST(main_table.[AGENCY_IS_IOP] AS varchar(1)), '') AS [AGENCY_IS_IOP]
			, ISNULL(CAST(main_table.[INSERT_DATE] AS datetime), '1900-01-01') AS [INSERT_DATE]
			, ISNULL(CAST(main_table.[LAST_UPDATE_DATE] AS datetime), '1900-01-01') AS [LAST_UPDATE_DATE]
	FROM EDW_RITE.dbo.[DIM_PLAZA] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_PLAZA_NEW_SET LOAD');

 CREATE STATISTICS [STATS_DIM_PLAZA_001] ON EDW_RITE.dbo.[DIM_PLAZA_NEW_SET] ([FACILITY_ID]);
 CREATE STATISTICS [STATS_DIM_PLAZA_002] ON EDW_RITE.dbo.[DIM_PLAZA_NEW_SET] ([AGENCY_ID]);

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PLAZA_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_PLAZA_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PLAZA]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_PLAZA] TO [DIM_PLAZA_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PLAZA_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_PLAZA_NEW_SET] TO [DIM_PLAZA];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_PLAZA_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_PLAZA_OLD];


CREATE TABLE EDW_RITE.dbo.[DIM_MONTH_NEW_SET] WITH (CLUSTERED INDEX (Cal_MonthID), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[Cal_MonthID] AS int), 0) AS [Cal_MonthID]
			, ISNULL(CAST(main_table.[SPS_MonthID] AS int), 0) AS [SPS_MonthID]
			, CAST(main_table.[MonthDate] AS date) AS [MonthDate]
			, CAST(main_table.[MonthDesc] AS varchar(50)) AS [MonthDesc]
			, CAST(main_table.[Cal_MonthOfYear] AS tinyint) AS [Cal_MonthOfYear]
			, CAST(main_table.[Sps_MonthOfYear] AS tinyint) AS [Sps_MonthOfYear]
			, CAST(main_table.[Cal_QuarterID] AS smallint) AS [Cal_QuarterID]
			, CAST(main_table.[Sps_QuarterID] AS smallint) AS [Sps_QuarterID]
			, CAST(main_table.[Cal_YearID] AS smallint) AS [Cal_YearID]
			, CAST(main_table.[Sps_YearID] AS smallint) AS [Sps_YearID]
			, CAST(main_table.[MonthDuration] AS tinyint) AS [MonthDuration]
			, CAST(main_table.[PrevMonthID] AS int) AS [PrevMonthID]
			, CAST(main_table.[Cal_LQMonthID] AS int) AS [Cal_LQMonthID]
			, CAST(main_table.[Sps_LQMonthID] AS int) AS [Sps_LQMonthID]
			, CAST(main_table.[LYMonthID] AS int) AS [LYMonthID]
			, CAST(main_table.[P2MonthDesc] AS varchar(50)) AS [P2MonthDesc]
			, CAST(main_table.[P3MonthID] AS int) AS [P3MonthID]
			, CAST(main_table.[P3MonthDesc] AS varchar(50)) AS [P3MonthDesc]
			, CAST(main_table.[P4MonthID] AS int) AS [P4MonthID]
			, CAST(main_table.[P4MonthDesc] AS varchar(50)) AS [P4MonthDesc]
			, CAST(main_table.[P5MonthID] AS int) AS [P5MonthID]
			, CAST(main_table.[P5MonthDesc] AS varchar(50)) AS [P5MonthDesc]
			, CAST(main_table.[P6MonthID] AS int) AS [P6MonthID]
			, CAST(main_table.[P6MonthDesc] AS varchar(50)) AS [P6MonthDesc]
			, CAST(main_table.[P7MonthID] AS int) AS [P7MonthID]
			, CAST(main_table.[P7MonthDesc] AS varchar(50)) AS [P7MonthDesc]
			, CAST(main_table.[P8MonthID] AS int) AS [P8MonthID]
			, CAST(main_table.[P8MonthDesc] AS varchar(50)) AS [P8MonthDesc]
			, CAST(main_table.[P9MonthID] AS int) AS [P9MonthID]
			, CAST(main_table.[P9MonthDesc] AS varchar(50)) AS [P9MonthDesc]
			, CAST(main_table.[P10MonthID] AS int) AS [P10MonthID]
			, CAST(main_table.[P10MonthDesc] AS varchar(50)) AS [P10MonthDesc]
			, CAST(main_table.[P11MonthID] AS int) AS [P11MonthID]
			, CAST(main_table.[P11MonthDesc] AS varchar(50)) AS [P11MonthDesc]
			, CAST(main_table.[P12MonthID] AS int) AS [P12MonthID]
			, CAST(main_table.[P12MonthDesc] AS varchar(50)) AS [P12MonthDesc]
			, CAST(main_table.[PrevLYMonthid] AS int) AS [PrevLYMonthid]
			, CAST(main_table.[LYP3Monthid] AS int) AS [LYP3Monthid]
			, CAST(main_table.[LYP4Monthid] AS int) AS [LYP4Monthid]
			, CAST(main_table.[LYP5Monthid] AS int) AS [LYP5Monthid]
			, CAST(main_table.[LYP6Monthid] AS int) AS [LYP6Monthid]
			, CAST(main_table.[LYP7Monthid] AS int) AS [LYP7Monthid]
			, CAST(main_table.[LYP8Monthid] AS int) AS [LYP8Monthid]
			, CAST(main_table.[LYP9Monthid] AS int) AS [LYP9Monthid]
			, CAST(main_table.[LYP10Monthid] AS int) AS [LYP10Monthid]
			, CAST(main_table.[LYP11Monthid] AS int) AS [LYP11Monthid]
			, CAST(main_table.[LYP12Monthid] AS int) AS [LYP12Monthid]
	FROM EDW_RITE.dbo.[DIM_MONTH] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_MONTH_NEW_SET LOAD');

 CREATE STATISTICS [STATS_DIM_MONTH_001] ON EDW_RITE.dbo.[DIM_MONTH_NEW_SET] (MonthDate);
 CREATE STATISTICS [STATS_DIM_MONTH_002] ON EDW_RITE.dbo.[DIM_MONTH_NEW_SET] ([Cal_MonthOfYear],[Cal_YearID]);
 CREATE STATISTICS [STATS_DIM_MONTH_003] ON EDW_RITE.dbo.[DIM_MONTH_NEW_SET] ([Cal_QuarterID]);
 CREATE STATISTICS [STATS_DIM_MONTH_004] ON EDW_RITE.dbo.[DIM_MONTH_NEW_SET] ([Cal_YearID]);	

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_MONTH_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_MONTH_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_MONTH]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_MONTH] TO [DIM_MONTH_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_MONTH_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_MONTH_NEW_SET] TO [DIM_MONTH];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_MONTH_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_MONTH_OLD];


CREATE TABLE EDW_RITE.dbo.[DIM_LICENSE_PLATE_NEW_SET] WITH (CLUSTERED INDEX (LICENSE_PLATE_ID), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[LICENSE_PLATE_ID] AS int), 0) AS [LICENSE_PLATE_ID]
			, ISNULL(CAST(main_table.[LICENSE_PLATE_NBR] AS varchar(15)), '') AS [LICENSE_PLATE_NBR]
			, ISNULL(CAST(main_table.[LICENSE_PLATE_STATE] AS varchar(3)), '') AS [LICENSE_PLATE_STATE]
	FROM EDW_RITE.dbo.[DIM_LICENSE_PLATE] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_LICENSE_PLATE_NEW_SET LOAD');

CREATE STATISTICS [STAT_DIM_LICENSE_PLATE_001] ON EDW_RITE.dbo.[DIM_LICENSE_PLATE_NEW_SET] ([LICENSE_PLATE_STATE],[LICENSE_PLATE_NBR]);

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_LICENSE_PLATE_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_LICENSE_PLATE_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_LICENSE_PLATE]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_LICENSE_PLATE] TO [DIM_LICENSE_PLATE_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_LICENSE_PLATE_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_LICENSE_PLATE_NEW_SET] TO [DIM_LICENSE_PLATE];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_LICENSE_PLATE_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_LICENSE_PLATE_OLD];
	

CREATE TABLE EDW_RITE.dbo.[DIM_LANE_SEGMENT_NEW_SET] WITH (CLUSTERED INDEX (LANE_ID), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[LANE_ID] AS bigint), 0) AS [LANE_ID]
			, CAST(main_table.[SEGMENT_NAME] AS varchar(10)) AS [SEGMENT_NAME]
			, CAST(main_table.[SEGMENT_START] AS varchar(20)) AS [SEGMENT_START]
			, CAST(main_table.[SEGMENT_END] AS varchar(20)) AS [SEGMENT_END]
	FROM EDW_RITE.dbo.[DIM_LANE_SEGMENT] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_LANE_SEGMENT_NEW_SET LOAD');

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_LANE_SEGMENT_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_LANE_SEGMENT_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_LANE_SEGMENT]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_LANE_SEGMENT] TO [DIM_LANE_SEGMENT_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_LANE_SEGMENT_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_LANE_SEGMENT_NEW_SET] TO [DIM_LANE_SEGMENT];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_LANE_SEGMENT_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_LANE_SEGMENT_OLD];
	



CREATE TABLE EDW_RITE.dbo.[DIM_LANE_NEW_SET] WITH (CLUSTERED INDEX (LANE_ID), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[LANE_ID] AS bigint), 0) AS [LANE_ID]
			, ISNULL(CAST(main_table.[LANE_ABBREV] AS varchar(50)), '') AS [LANE_ABBREV]
			, CAST(main_table.[LANE_NAME] AS varchar(240)) AS [LANE_NAME]
			, CAST(main_table.[LANE_DIRECTION] AS varchar(50)) AS [LANE_DIRECTION]
			, ISNULL(CAST(main_table.[PLAZA_ID] AS bigint), 0) AS [PLAZA_ID]
			, ISNULL(CAST(main_table.[PLAZA_ABBREV] AS varchar(50)), '') AS [PLAZA_ABBREV]
			, ISNULL(CAST(main_table.[PLAZA_NAME] AS varchar(50)), '') AS [PLAZA_NAME]
			, ISNULL(CAST(main_table.[PLAZA_LATITUDE] AS decimal(16,12)), 0) AS [PLAZA_LATITUDE]
			, ISNULL(CAST(main_table.[PLAZA_LONGITUDE] AS decimal(16,12)), 0) AS [PLAZA_LONGITUDE]
			, ISNULL(CAST(main_table.[SUB_FACILITY_ABBREV] AS varchar(50)), '') AS [SUB_FACILITY_ABBREV]
			, ISNULL(CAST(main_table.[FACILITY_ID] AS decimal(14,0)), 0) AS [FACILITY_ID]
			, ISNULL(CAST(main_table.[FACILITY_ABBREV] AS varchar(50)), '') AS [FACILITY_ABBREV]
			, ISNULL(CAST(main_table.[FACILITY_NAME] AS varchar(50)), '') AS [FACILITY_NAME]
			, ISNULL(CAST(main_table.[FACILITY_BITMASK_ID] AS bigint), 0) AS [FACILITY_BITMASK_ID]
			, ISNULL(CAST(main_table.[SUB_AGENCY_ABBREV] AS varchar(50)), '') AS [SUB_AGENCY_ABBREV]
			, ISNULL(CAST(main_table.[AGENCY_ID] AS decimal(14,0)), 0) AS [AGENCY_ID]
			, ISNULL(CAST(main_table.[AGENCY_ABBREV] AS varchar(50)), '') AS [AGENCY_ABBREV]
			, ISNULL(CAST(main_table.[AGENCY_NAME] AS varchar(100)), '') AS [AGENCY_NAME]
			, ISNULL(CAST(main_table.[AGENCY_IS_IOP] AS varchar(1)), '') AS [AGENCY_IS_IOP]
			, ISNULL(CAST(main_table.[INSERT_DATE] AS datetime), '1900-01-01') AS [INSERT_DATE]
			, ISNULL(CAST(main_table.[LAST_UPDATE_DATE] AS datetime), '1900-01-01') AS [LAST_UPDATE_DATE]
			, CAST(main_table.[PLAZA_SORT_ORDER] AS int) AS [PLAZA_SORT_ORDER]
			, CAST(main_table.[LANY_ID] AS decimal(14,0)) AS [LANY_ID]
	FROM EDW_RITE.dbo.[DIM_LANE] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_LANE_NEW_SET LOAD');

CREATE STATISTICS [STATS_DIM_LANE_001] ON EDW_RITE.dbo.[DIM_LANE_NEW_SET] ([PLAZA_ID]);
CREATE STATISTICS [STATS_DIM_LANE_002] ON EDW_RITE.dbo.[DIM_LANE_NEW_SET] ([FACILITY_ID]);
CREATE STATISTICS [STATS_DIM_LANE_003] ON EDW_RITE.dbo.[DIM_LANE_NEW_SET] ([AGENCY_ID]);
CREATE STATISTICS [STATS_DIM_LANE_004] ON EDW_RITE.dbo.[DIM_LANE_NEW_SET] ([SUB_FACILITY_ABBREV]);
CREATE STATISTICS [STATS_DIM_LANE_005] ON EDW_RITE.dbo.[DIM_LANE_NEW_SET] ([SUB_AGENCY_ABBREV]);
CREATE STATISTICS [STATS_DIM_LANE_006] ON EDW_RITE.dbo.[DIM_LANE_NEW_SET] (LANY_ID);
CREATE STATISTICS [STATS_DIM_LANE_007] ON EDW_RITE.dbo.[DIM_LANE_NEW_SET] ([LANE_ABBREV]);
CREATE STATISTICS [STATS_DIM_LANE_008] ON EDW_RITE.dbo.[DIM_LANE_NEW_SET] ([LANE_DIRECTION]);

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_LANE_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_LANE_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_LANE]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_LANE] TO [DIM_LANE_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_LANE_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_LANE_NEW_SET] TO [DIM_LANE];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_LANE_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_LANE_OLD];


--CREATE TABLE EDW_RITE.dbo.[DIM_INVOICE_TYPE_NEW_SET] WITH (HEAP, DISTRIBUTION = REPLICATE)
--	AS 
--	SELECT 
--			 ISNULL(CAST(main_table.[INVOICE_TYPE] AS varchar(2)), '') AS [INVOICE_TYPE]
--			, ISNULL(CAST(main_table.[INVOICE_TYPE_DESC] AS varchar(50)), '') AS [INVOICE_TYPE_DESC]
--	FROM EDW_RITE.dbo.[DIM_INVOICE_TYPE] AS main_table
--	WHERE 1 = 1
--	OPTION (LABEL = 'DIM_INVOICE_TYPE_NEW_SET LOAD');

--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INVOICE_TYPE_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_INVOICE_TYPE_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INVOICE_TYPE]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_INVOICE_TYPE] TO [DIM_INVOICE_TYPE_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INVOICE_TYPE_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_INVOICE_TYPE_NEW_SET] TO [DIM_INVOICE_TYPE];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INVOICE_TYPE_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_INVOICE_TYPE_OLD];
	


--CREATE TABLE EDW_RITE.dbo.[DIM_INVOICE_STATUS_NEW_SET] WITH (CLUSTERED INDEX(ZI_STAGE_ID, VBI_STATUS, VIOL_INV_STATUS), DISTRIBUTION = REPLICATE)
--	AS 
--	SELECT 
--			 ISNULL(CAST(main_table.[ZI_STAGE_ID] AS smallint), 0) AS [ZI_STAGE_ID]
--			, ISNULL(CAST(main_table.[VBI_STATUS] AS varchar(3)), '') AS [VBI_STATUS]
--			, ISNULL(CAST(main_table.[VIOL_INV_STATUS] AS varchar(2)), '') AS [VIOL_INV_STATUS]
--			, ISNULL(CAST(main_table.[INVOICE_STATUS_DESCR] AS varchar(50)), '') AS [INVOICE_STATUS_DESCR]
--			, ISNULL(CAST(main_table.[INVOICE_STATUS_DESCR_SUM_GROUP] AS varchar(50)), '') AS [INVOICE_STATUS_DESCR_SUM_GROUP]
--			, ISNULL(CAST(main_table.[INSERT_DATE] AS datetime2(2)), '1900-01-01') AS [INSERT_DATE]
--			, ISNULL(CAST(main_table.[LAST_UPDATE_DATE] AS datetime2(2)), '1900-01-01') AS [LAST_UPDATE_DATE]
--	FROM EDW_RITE.dbo.[DIM_INVOICE_STATUS] AS main_table
--	WHERE 1 = 1
--	OPTION (LABEL = 'DIM_INVOICE_STATUS_NEW_SET LOAD');

--CREATE STATISTICS [STATS_DIM_INVOICE_STATUS_001] ON EDW_RITE.dbo.[DIM_INVOICE_STATUS_NEW_SET] ([VBI_STATUS], [VIOL_INV_STATUS]);
--CREATE STATISTICS [STATS_DIM_INVOICE_STATUS_002] ON EDW_RITE.dbo.[DIM_INVOICE_STATUS_NEW_SET] ([VIOL_INV_STATUS]);

--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INVOICE_STATUS_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_INVOICE_STATUS_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INVOICE_STATUS]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_INVOICE_STATUS] TO [DIM_INVOICE_STATUS_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INVOICE_STATUS_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_INVOICE_STATUS_NEW_SET] TO [DIM_INVOICE_STATUS];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INVOICE_STATUS_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_INVOICE_STATUS_OLD];


--CREATE TABLE EDW_RITE.dbo.[DIM_INVOICE_ANALYSIS_CATEGORY_NEW_SET] WITH (CLUSTERED INDEX ( [INVOICE_ANALYSIS_CATEGORY_ID] ), DISTRIBUTION = REPLICATE)
--	AS 
--	SELECT 
--			 ISNULL(CAST(main_table.[INVOICE_ANALYSIS_CATEGORY_ID] AS int), 0) AS [INVOICE_ANALYSIS_CATEGORY_ID]
--			, ISNULL(CAST(main_table.[INVOICE_ANALYSIS_CATEGORY] AS varchar(50)), '') AS [INVOICE_ANALYSIS_CATEGORY]
--	FROM EDW_RITE.dbo.[DIM_INVOICE_ANALYSIS_CATEGORY] AS main_table
--	WHERE 1 = 1
--	OPTION (LABEL = 'DIM_INVOICE_ANALYSIS_CATEGORY_NEW_SET LOAD');

--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INVOICE_ANALYSIS_CATEGORY_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_INVOICE_ANALYSIS_CATEGORY_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INVOICE_ANALYSIS_CATEGORY]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_INVOICE_ANALYSIS_CATEGORY] TO [DIM_INVOICE_ANALYSIS_CATEGORY_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INVOICE_ANALYSIS_CATEGORY_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_INVOICE_ANALYSIS_CATEGORY_NEW_SET] TO [DIM_INVOICE_ANALYSIS_CATEGORY];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INVOICE_ANALYSIS_CATEGORY_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_INVOICE_ANALYSIS_CATEGORY_OLD];
	


--CREATE TABLE EDW_RITE.dbo.[DIM_INDICATOR_NEW_SET] WITH (CLUSTERED INDEX ( [INDICATOR_ID] ), DISTRIBUTION = REPLICATE)
--	AS 
--	SELECT 
--			 ISNULL(CAST(main_table.[INDICATOR_ID] AS smallint), 0) AS [INDICATOR_ID]
--			, ISNULL(CAST(main_table.[YES_NO_ABBREV] AS varchar(2)), '') AS [YES_NO_ABBREV]
--			, ISNULL(CAST(main_table.[INDICATOR] AS varchar(10)), '') AS [INDICATOR]
--	FROM EDW_RITE.dbo.[DIM_INDICATOR] AS main_table
--	WHERE 1 = 1
--	OPTION (LABEL = 'DIM_INDICATOR_NEW_SET LOAD');

--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INDICATOR_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_INDICATOR_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INDICATOR]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_INDICATOR] TO [DIM_INDICATOR_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INDICATOR_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_INDICATOR_NEW_SET] TO [DIM_INDICATOR];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_INDICATOR_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_INDICATOR_OLD];
	



CREATE TABLE EDW_RITE.dbo.[DIM_ICS_LANE_VIOL_IMAGES_NEW_SET] WITH (CLUSTERED INDEX (LANE_VIOL_ID), DISTRIBUTION = HASH([LANE_VIOL_ID]))
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[LANE_VIOL_ID] AS decimal(12,0)), 0) AS [LANE_VIOL_ID]
			, CAST(main_table.[IMAGE_LOCATION] AS varchar(150)) AS [IMAGE_LOCATION]
			, CAST(main_table.[IMAGE_NAME_1] AS varchar(60)) AS [IMAGE_NAME_1]
			, CAST(main_table.[IMAGE_NAME_2] AS varchar(60)) AS [IMAGE_NAME_2]
			, CAST(main_table.[IMAGE_NAME_3] AS varchar(60)) AS [IMAGE_NAME_3]
			, CAST(main_table.[IMAGE_NAME_4] AS varchar(60)) AS [IMAGE_NAME_4]
			, CAST(main_table.[IMAGE_NAME_5] AS varchar(60)) AS [IMAGE_NAME_5]
			, CAST(main_table.[IMAGE_NAME_6] AS varchar(60)) AS [IMAGE_NAME_6]
	FROM EDW_RITE.dbo.[DIM_ICS_LANE_VIOL_IMAGES] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_ICS_LANE_VIOL_IMAGES_NEW_SET LOAD');


	CREATE STATISTICS [STATS_DIM_ICS_LANE_VIOL_IMAGES_001] ON EDW_RITE.dbo.[DIM_ICS_LANE_VIOL_IMAGES_NEW_SET] (IMAGE_LOCATION);

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_ICS_LANE_VIOL_IMAGES_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_ICS_LANE_VIOL_IMAGES_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_ICS_LANE_VIOL_IMAGES]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_ICS_LANE_VIOL_IMAGES] TO [DIM_ICS_LANE_VIOL_IMAGES_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_ICS_LANE_VIOL_IMAGES_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_ICS_LANE_VIOL_IMAGES_NEW_SET] TO [DIM_ICS_LANE_VIOL_IMAGES];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_ICS_LANE_VIOL_IMAGES_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_ICS_LANE_VIOL_IMAGES_OLD];
	

CREATE TABLE EDW_RITE.dbo.[DIM_FACILITY_NEW_SET] WITH (CLUSTERED INDEX (FACILITY_ID), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[FACILITY_ID] AS decimal(14,0)), 0) AS [FACILITY_ID]
			, ISNULL(CAST(main_table.[FACILITY_ABBREV] AS varchar(50)), '') AS [FACILITY_ABBREV]
			, ISNULL(CAST(main_table.[FACILITY_NAME] AS varchar(50)), '') AS [FACILITY_NAME]
			, ISNULL(CAST(main_table.[AGENCY_ID] AS decimal(14,0)), 0) AS [AGENCY_ID]
			, ISNULL(CAST(main_table.[AGENCY_ABBREV] AS varchar(50)), '') AS [AGENCY_ABBREV]
			, ISNULL(CAST(main_table.[AGENCY_NAME] AS varchar(50)), '') AS [AGENCY_NAME]
			, ISNULL(CAST(main_table.[AGENCY_IS_IOP] AS varchar(1)), '') AS [AGENCY_IS_IOP]
			, ISNULL(CAST(main_table.[FACILITY_BITMASK_ID] AS bigint), 0) AS [FACILITY_BITMASK_ID]
			, ISNULL(CAST(main_table.[INSERT_DATE] AS datetime), '1900-01-01') AS [INSERT_DATE]
			, ISNULL(CAST(main_table.[LAST_UPDATE_DATE] AS datetime), '1900-01-01') AS [LAST_UPDATE_DATE]
	FROM EDW_RITE.dbo.[DIM_FACILITY] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_FACILITY_NEW_SET LOAD');

	CREATE STATISTICS [STATS_DIM_FACILITY_001] ON EDW_RITE.dbo.[DIM_FACILITY_NEW_SET] ([AGENCY_ID]);

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_FACILITY_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_FACILITY_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_FACILITY]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_FACILITY] TO [DIM_FACILITY_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_FACILITY_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_FACILITY_NEW_SET] TO [DIM_FACILITY];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_FACILITY_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_FACILITY_OLD];


--CREATE TABLE EDW_RITE.dbo.[DIM_DISPOSITION_NEW_SET] WITH (CLUSTERED INDEX ( [DISPOSITION] ), DISTRIBUTION = REPLICATE)
--	AS 
--	SELECT 
--			 ISNULL(CAST(main_table.[DISPOSITION] AS varchar(2)), '') AS [DISPOSITION]
--			, ISNULL(CAST(main_table.[DISPOSITION_DESCR] AS varchar(40)), '') AS [DISPOSITION_DESCR]
--			, CAST(main_table.[LAST_UPDATE_TYPE] AS varchar(1)) AS [LAST_UPDATE_TYPE]
--			, CAST(main_table.[LAST_UPDATE_DATE] AS datetime2(2)) AS [LAST_UPDATE_DATE]
--	FROM EDW_RITE.dbo.[DIM_DISPOSITION] AS main_table
--	WHERE 1 = 1
--	OPTION (LABEL = 'DIM_DISPOSITION_NEW_SET LOAD');

--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_DISPOSITION_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_DISPOSITION_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_DISPOSITION]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_DISPOSITION] TO [DIM_DISPOSITION_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_DISPOSITION_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_DISPOSITION_NEW_SET] TO [DIM_DISPOSITION];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_DISPOSITION_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_DISPOSITION_OLD];
	
	
CREATE TABLE EDW_RITE.dbo.[DIM_DAY_NEW_SET] WITH (CLUSTERED INDEX (DayDate), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[DayDate] AS date), '1900-01-01') AS [DayDate]
			, CAST(main_table.[DayID] AS int) AS [DayID]
			, CAST(main_table.[PrevDayID] AS int) AS [PrevDayID]
			, CAST(main_table.[Cal_MonthID] AS int) AS [Cal_MonthID]
			, CAST(main_table.[Sps_MonthID] AS int) AS [Sps_MonthID]
			, CAST(main_table.[Cal_QuarterID] AS smallint) AS [Cal_QuarterID]
			, CAST(main_table.[Sps_QuarterID] AS smallint) AS [Sps_QuarterID]
			, CAST(main_table.[Cal_YearID] AS smallint) AS [Cal_YearID]
			, CAST(main_table.[Sps_YearID] AS smallint) AS [Sps_YearID]
			, CAST(main_table.[PrevDayDate] AS date) AS [PrevDayDate]
			, CAST(main_table.[LMDayDate] AS date) AS [LMDayDate]
			, CAST(main_table.[Cal_LQDayDate] AS date) AS [Cal_LQDayDate]
			, CAST(main_table.[Sps_LQDayDate] AS date) AS [Sps_LQDayDate]
			, CAST(main_table.[LYDayDate] AS date) AS [LYDayDate]
			, CAST(main_table.[Cal_WeekID] AS int) AS [Cal_WeekID]
			, CAST(main_table.[Sps_WeekID] AS int) AS [Sps_WeekID]
			, CAST(main_table.[Cal_LWDayDate] AS date) AS [Cal_LWDayDate]
			, CAST(main_table.[SPS_LWDayDate] AS date) AS [SPS_LWDayDate]
			, CAST(main_table.[DayDesc] AS varchar(50)) AS [DayDesc]
			, CAST(main_table.[PrevDayDesc] AS varchar(50)) AS [PrevDayDesc]
			, CAST(main_table.[IsWorkDay] AS int) AS [IsWorkDay]
			, CAST(main_table.[IsWeekday] AS int) AS [IsWeekday]
			, CAST(main_table.[IsWeekend] AS int) AS [IsWeekend]
			, CAST(main_table.[WorkDaysInMonth] AS int) AS [WorkDaysInMonth]
			, CAST(main_table.[WorkDaysLeftInMonth] AS int) AS [WorkDaysLeftInMonth]
			, CAST(main_table.[WorkDaysUsedInMonth] AS int) AS [WorkDaysUsedInMonth]
			, CAST(main_table.[DaysInMonth] AS int) AS [DaysInMonth]
			, ISNULL(CAST(main_table.[LastModified] AS date), '1900-01-01') AS [LastModified]
	FROM EDW_RITE.dbo.[DIM_DAY] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_DAY_NEW_SET LOAD');

 CREATE STATISTICS [STATS_DIM_DAY_001] ON EDW_RITE.dbo.[DIM_DAY_NEW_SET] ([DayID]);
 CREATE STATISTICS [STATS_DIM_DAY_002] ON EDW_RITE.dbo.[DIM_DAY_NEW_SET] ([Cal_MonthID]);
 CREATE STATISTICS [STATS_DIM_DAY_003] ON EDW_RITE.dbo.[DIM_DAY_NEW_SET] ([Cal_WeekID]);
 CREATE STATISTICS [STATS_DIM_DAY_004] ON EDW_RITE.dbo.[DIM_DAY_NEW_SET] ([Cal_QuarterID]);
 CREATE STATISTICS [STATS_DIM_DAY_005] ON EDW_RITE.dbo.[DIM_DAY_NEW_SET] ([Cal_YearID],[Cal_MonthID],[DayID]);

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_DAY_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_DAY_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_DAY]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_DAY] TO [DIM_DAY_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_DAY_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_DAY_NEW_SET] TO [DIM_DAY];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_DAY_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_DAY_OLD];
	

CREATE TABLE EDW_RITE.dbo.[DIM_DATE_NEW_SET] WITH (CLUSTERED INDEX ( [DATE] ), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[DATE] AS date), '1900-01-01') AS [DATE]
			, CAST(main_table.[MONTH_WEEK] AS varchar(20)) AS [MONTH_WEEK]
			, ISNULL(CAST(main_table.[DATE_DAY] AS varchar(6)), '') AS [DATE_DAY]
			, CAST(main_table.[DATE_FULL] AS varchar(10)) AS [DATE_FULL]
			, ISNULL(CAST(main_table.[DATE_MONTH] AS varchar(6)), '') AS [DATE_MONTH]
			, CAST(main_table.[DATE_YEAR_MONTH] AS varchar(7)) AS [DATE_YEAR_MONTH]
			, ISNULL(CAST(main_table.[DATE_QUARTER] AS varchar(7)), '') AS [DATE_QUARTER]
			, ISNULL(CAST(main_table.[DATE_YEAR] AS varchar(6)), '') AS [DATE_YEAR]
			, CAST(main_table.[DAY_OF_WEEK_NAME] AS varchar(10)) AS [DAY_OF_WEEK_NAME]
			, CAST(main_table.[BUSINESS_DAY] AS varchar(3)) AS [BUSINESS_DAY]
			, CAST(main_table.[WEEKEND] AS varchar(5)) AS [WEEKEND]
			, CAST(main_table.[HOLIDAY] AS varchar(5)) AS [HOLIDAY]
			, CAST(main_table.[HOLIDAY_NAME] AS varchar(60)) AS [HOLIDAY_NAME]
	FROM EDW_RITE.dbo.[DIM_DATE] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_DATE_NEW_SET LOAD');

 CREATE STATISTICS [STATS_DIM_DATE_001] ON EDW_RITE.dbo.[DIM_DATE_NEW_SET] ([DATE_DAY]);
 CREATE STATISTICS [STATS_DIM_DATE_002] ON EDW_RITE.dbo.[DIM_DATE_NEW_SET] ([MONTH_WEEK]);
 CREATE STATISTICS [STATS_DIM_DATE_003] ON EDW_RITE.dbo.[DIM_DATE_NEW_SET] ([DATE_MONTH]);
 CREATE STATISTICS [STATS_DIM_DATE_004] ON EDW_RITE.dbo.[DIM_DATE_NEW_SET] ([DATE_YEAR_MONTH]);
 CREATE STATISTICS [STATS_DIM_DATE_005] ON EDW_RITE.dbo.[DIM_DATE_NEW_SET] ([DATE_QUARTER]);
 CREATE STATISTICS [STATS_DIM_DATE_006] ON EDW_RITE.dbo.[DIM_DATE_NEW_SET] ([DATE_YEAR],[DATE_MONTH],[DATE_DAY]);

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_DATE_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_DATE_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_DATE]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_DATE] TO [DIM_DATE_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_DATE_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_DATE_NEW_SET] TO [DIM_DATE];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_DATE_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_DATE_OLD];
	

--CREATE TABLE EDW_RITE.dbo.[DIM_AGENCY_NEW_SET] WITH (CLUSTERED INDEX ( [AGENCY_ID] ), DISTRIBUTION = REPLICATE)
--	AS 
--	SELECT 
--			 ISNULL(CAST(main_table.[AGENCY_ID] AS decimal(14,0)), 0) AS [AGENCY_ID]
--			, ISNULL(CAST(main_table.[AGENCY_ABBREV] AS varchar(50)), '') AS [AGENCY_ABBREV]
--			, ISNULL(CAST(main_table.[AGENCY_NAME] AS varchar(100)), '') AS [AGENCY_NAME]
--			, ISNULL(CAST(main_table.[AGENCY_IS_IOP] AS varchar(1)), '') AS [AGENCY_IS_IOP]
--			, ISNULL(CAST(main_table.[INSERT_DATE] AS datetime), '1900-01-01') AS [INSERT_DATE]
--			, ISNULL(CAST(main_table.[LAST_UPDATE_DATE] AS datetime), '1900-01-01') AS [LAST_UPDATE_DATE]
--	FROM EDW_RITE.dbo.[DIM_AGENCY] AS main_table
--	WHERE 1 = 1
--	OPTION (LABEL = 'DIM_AGENCY_NEW_SET LOAD');

--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_AGENCY_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_AGENCY_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_AGENCY]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_AGENCY] TO [DIM_AGENCY_OLD];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_AGENCY_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_AGENCY_NEW_SET] TO [DIM_AGENCY];
--	IF OBJECT_ID('EDW_RITE.dbo.[DIM_AGENCY_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_AGENCY_OLD];
	


































































































