CREATE PROC [DBO].[FACT_VIOLATIONS_BR_DETAIL_LOAD] AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_VIOLATIONS_BR_DETAIL_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_VIOLATIONS_BR_DETAIL_LOAD
GO

EXEC DBO.FACT_VIOLATIONS_BR_DETAIL_LOAD

SELECT COUNT_BIG(1) FROM dbo.FACT_VIOLATIONS_BR_DETAIL  -- 47650290

*/


/*	SELECT TOP 100 * FROM FACT_VIOLATIONS_BR_DETAIL; SELECT COUNT(1) FROM FACT_VIOLATIONS_BR_DETAIL */  
--#1	Shankar Metla	2018-09-08	CREATED
--#2	Andy Filipps	2018-10-02	Full rewrite for a new approach to avoid full month load

DECLARE @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT--, @LOAD_CONTROL_DATE DATETIME2(2) 
DECLARE @sql VARCHAR(MAX)
DECLARE @TABLE_NAME VARCHAR(100) = 'FACT_VIOLATIONS_BR_DETAIL'

-- STEP 1: Get the next Load Control Date from the Control Table
SET @LOG_START_DATE = GETDATE()

---- STEP 2: Initiate LOG
SELECT  @LOG_MESSAGE = 'Started FULL load'
EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL

--EXEC DBO.PARTITION_MANAGE_MONTHLY_LOAD @TABLE_NAME


IF OBJECT_ID('dbo.VP_OWNER_VIOLATIONS_BR') IS NOT NULL DROP TABLE dbo.VP_OWNER_VIOLATIONS_BR
BEGIN
	-- First create a table with only changes of LND_LG_VPS.VP_OWNER.VIOLATIONS - use this table in 3 procs!
	CREATE TABLE dbo.VP_OWNER_VIOLATIONS_BR WITH (HEAP, DISTRIBUTION = HASH(VIOLATION_ID)) AS
	-- EXPLAIN
	SELECT 
		CAST(CONVERT(VARCHAR(8), V.VIOL_DATE,112) AS INT) DAY_ID 
		,ISNULL(CAST(V.VIOLATION_ID AS BIGINT),-1) AS VIOLATION_ID
		,ISNULL(CAST(V.LANE_ID AS INT), -1) LANE_ID
		,VIOL_DATE,VIOL_TIME,VIOL_TYPE,TOLL_DUE,TOLL_PAID,LIC_PLATE_NBR,LIC_PLATE_STATE
		,ISNULL(CAST(V.VEHICLE_CLASS AS SMALLINT), -1) VEHICLE_CLASS
		,ISNULL(V.VIOL_STATUS,'-1') VIOL_STATUS
		,STATUS_DATE
		,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_COLOR,VEHICLE_YEAR,VEHICLE_BODY,OCCUPANT_DESCR,NO_PAY_ATTEMPT,WINDOW_UP,RECORDED_BY,RECORDER_EMP_ID,DRIVER_LIC_NBR,DRIVER_LIC_STATE,TOLLTAG_ACCT_ID
		,ISNULL(TAG_ID,'-1') TAG_ID
		,ISNULL(AGENCY_ID,'-1') AGENCY_ID
		,CREATED_BY,DATE_CREATED,MODIFIED_BY,DATE_MODIFIED,EXCUSED_REASON,EXCUSED_BY,DATE_EXCUSED
		,ISNULL(V.VIOLATOR_ID, 		-1)		AS 	VIOLATOR_ID
		,REVIEW_STATUS
		,ISNULL(COALESCE(V.LANE_VIOL_ID, X.LANE_VIOL_ID), -1)	AS LANE_VIOL_ID
		,NOTIFICATION_DATE,OLD_VIOLATOR_ID
		,ISNULL(TRANSACTION_ID, 		-1)		AS TRANSACTION_ID
		,DISPOSITION,COMMENT_DATE,UNPAID_TOLL_DATE,HOST_TRANSACTION_ID,VIO_VIOLATION_ID,ICRS_DATE_CREATED,ORIGIN_TYPE,CURRENT_TYPE
		,ISNULL(TRANSACTION_FILE_DETAIL_ID, 		-1)		AS TRANSACTION_FILE_DETAIL_ID
		,POST_DATE,LAST_UPDATE_TYPE,LAST_UPDATE_DATE
	FROM LND_LG_VPS.VP_OWNER.VIOLATIONS V 
	LEFT JOIN dbo.MANUAL_VIOLATIONS_ID_LANE_VIOL_ID_XREF X ON X.VIOLATION_ID = V.VIOLATION_ID
	OPTION (LABEL ='VP_OWNER_VIOLATIONS BR LOAD');

END

DECLARE @MAX_VIOL_DATE_M2Y DATE = (SELECT CONVERT(DATE,CAST((MAX(DAY_ID) - 20000) AS VARCHAR(8)),112) FROM dbo.VP_OWNER_VIOLATIONS_BR)

--STEP #7: -- Getting all changes to a new table
IF OBJECT_ID('dbo.FACT_VIOLATIONS_BR_DETAIL_STAGE') IS NOT NULL DROP TABLE dbo.FACT_VIOLATIONS_BR_DETAIL_STAGE
BEGIN

	CREATE TABLE dbo.FACT_VIOLATIONS_BR_DETAIL_STAGE WITH (CLUSTERED INDEX (VIOLATION_ID), DISTRIBUTION = HASH(VIOLATION_ID)) AS
		WITH CTE_VIOLATIONS AS
		(SELECT DAY_ID
				,CONVERT(DATE, V.VIOL_DATE) VIOL_DATE
				,VIOLATION_ID
				,VIOLATOR_ID
				,CASE 
					WHEN V.ORIGIN_TYPE = 'F'	THEN 'Z'
					ELSE V.ORIGIN_TYPE
				END BUSINESS_TYPE
				,LANE_ID
				,VEHICLE_CLASS
				,ISNULL(V.TOLL_DUE, 0) TOLL_DUE
				,ISNULL(V.TOLL_PAID, 0) TOLL_PAID
			FROM dbo.VP_OWNER_VIOLATIONS_BR V --LND_LG_VPS.VP_OWNER.VIOLATIONS V
			WHERE V.VIOL_STATUS IN ('ZH','WJ','A')  
				AND V.VIOLATOR_ID > 0		
		)
		, VI_LANE AS
		(SELECT V.DAY_ID
				,V.VIOL_DATE
				,V.VIOLATION_ID
				,V.VIOLATOR_ID
				,V.BUSINESS_TYPE
				,V.LANE_ID
				,ISNULL(CT.VCLY_ID, -1)		VCLY_ID
				,V.VEHICLE_CLASS
				,V.TOLL_DUE
				,V.TOLL_PAID
			FROM CTE_VIOLATIONS V
			LEFT JOIN dbo.DIM_VEH_CLSS_TYPES CT ON V.VEHICLE_CLASS = CT.AXLES
			WHERE EXISTS(SELECT 1 FROM dbo.DIM_LANE DL WHERE V.LANE_ID = DL.LANE_ID)
		)
		,VI_ADDRESS AS
		(SELECT V.VIOL_DATE
				,V.TOLL_DUE----Added by Bhanu in DEV on 07-24-2020
				,V.VIOLATOR_ID
				,V.BUSINESS_TYPE
		FROM CTE_VIOLATIONS V
		WHERE (BUSINESS_TYPE = 'Z' OR (BUSINESS_TYPE = 'V' AND VIOL_DATE >= @MAX_VIOL_DATE_M2Y))
			AND EXISTS (SELECT 1 FROM dbo.VIOLATOR_ADDRESS VA WHERE VA.VIOLATOR_ID = V.VIOLATOR_ID AND VA.ADDR_STATUS = 'C')
		)
		SELECT  
			 VI.DAY_ID
			,VI.DAY_ID / 100 AS MONTH_ID
			,VI.VIOLATION_ID
			,VI.VIOL_DATE VIOL_DATE
			,VI.BUSINESS_TYPE
			,(CASE 
				WHEN VTR.BUSINESS_TYPE IN ('V','Z') 
					THEN 'VIOL-BR'
				WHEN EXISTS (SELECT 1 FROM dbo.VIOLATOR_ADDRESS VA WHERE VA.VIOLATOR_ID = VI.VIOLATOR_ID AND VA.ADDR_STATUS = 'C')
					THEN 'VIOL-UBR-C'
				ELSE 'VIOL-UBR-N'
			END) TXN_NAME
			,VI.LANE_ID
			,VI.VCLY_ID
			,VI.VEHICLE_CLASS
			,VI.TOLL_DUE
			,VI.TOLL_PAID
		FROM	VI_LANE AS VI
		LEFT JOIN (
					SELECT 
						VI.BUSINESS_TYPE,VI.VIOLATOR_ID
					FROM VI_ADDRESS AS VI
					GROUP BY BUSINESS_TYPE ,VIOLATOR_ID
					HAVING COUNT(*) >= 3	OR SUM(VI.TOLL_DUE) >= 2.5 ----Changed by Bhanu in DEV on 07-24-2020
					--HAVING COUNT(*) >=	CASE WHEN BUSINESS_TYPE = 'Z' THEN 5 ELSE 3	END----Commented by Bhanu in DEV on 07-24-2020
				) VTR	ON VTR.VIOLATOR_ID = VI.VIOLATOR_ID
						AND VTR.BUSINESS_TYPE = VI.BUSINESS_TYPE
		OPTION (LABEL = 'FACT_VIOLATIONS_BR_DETAIL_STAGE LOAD')
	
	-- Logging
	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got all rows:'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

END 

BEGIN

	DECLARE @PART_RANGES VARCHAR(MAX) = ''
	--EXEC DBO.GET_PARTITION_MONTH_RANGE_STRING @PART_RANGES OUTPUT
	EXEC DBO.GET_PARTITION_DAYID_RANGE_STRING @PART_RANGES OUTPUT
	--PRINT @PART_RANGES
	IF OBJECT_ID('dbo.FACT_VIOLATIONS_BR_DETAIL_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_VIOLATIONS_BR_DETAIL_NEW_SET

	SET @sql = '
	CREATE TABLE dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] WITH (CLUSTERED INDEX ( [VIOLATION_ID] ), DISTRIBUTION = HASH([VIOLATION_ID]), PARTITION (DAY_ID RANGE RIGHT FOR VALUES (' + @PART_RANGES + '))) AS
	SELECT 
			 CAST(main_table.[DAY_ID] AS int) AS [DAY_ID]
			, main_table.MONTH_ID AS MONTH_ID
			, ISNULL(CAST(main_table.[VIOLATION_ID] AS bigint), 0) AS [VIOLATION_ID]
			, CAST(main_table.[VIOL_DATE] AS date) AS [VIOL_DATE]
			, CAST(main_table.[BUSINESS_TYPE] AS varchar(1)) AS [BUSINESS_TYPE]
			, ISNULL(CAST(main_table.[TXN_NAME] AS varchar(10)), '''') AS [TXN_NAME]
			, ISNULL(CAST(main_table.[LANE_ID] AS INT), 0) AS [LANE_ID]
			, ISNULL(CAST(main_table.[VCLY_ID] AS SMALLINT), 0) AS [VCLY_ID]
			, ISNULL(CAST(main_table.[VEHICLE_CLASS] AS SMALLINT), 0) AS [VEHICLE_CLASS]
			, ISNULL(CAST(main_table.[TOLL_DUE] AS decimal(9,2)), 0) AS [TOLL_DUE]
			, ISNULL(CAST(main_table.[TOLL_PAID] AS decimal(9,2)), 0) AS [TOLL_PAID]
	FROM dbo.[FACT_VIOLATIONS_BR_DETAIL_STAGE] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = ''FACT_VIOLATIONS_BR_DETAIL_NEW_SET LOAD'');'

	EXEC (@sql)
	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

	CREATE STATISTICS [STATS_FACT_VIOLATIONS_BR_DETAIL_001] ON dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] ([DAY_ID]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_BR_DETAIL_002] ON dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] ([LANE_ID],[DAY_ID]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_BR_DETAIL_003] ON dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] ([TXN_NAME]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_BR_DETAIL_004] ON dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] ([BUSINESS_TYPE]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_BR_DETAIL_005] ON dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] ([VEHICLE_CLASS]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_BR_DETAIL_006] ON dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] (MONTH_ID,DAY_ID,VIOLATION_ID);

	SET @sql = '
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_OLD]'') IS NOT NULL		DROP TABLE dbo.[' + @TABLE_NAME + '_OLD];
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + ']'') IS NOT NULL			RENAME OBJECT::dbo.[' + @TABLE_NAME + '] TO [' + @TABLE_NAME + '_OLD];
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_NEW_SET]'') IS NOT NULL	RENAME OBJECT::dbo.[' + @TABLE_NAME + '_NEW_SET] TO [' + @TABLE_NAME + '];
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_OLD]'') IS NOT NULL		DROP TABLE dbo.[' + @TABLE_NAME + '_OLD];'
	EXEC (@sql)

	SET  @LOG_MESSAGE = 'Complete Full load'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

END

--
IF OBJECT_ID('dbo.FACT_VIOLATIONS_BR_DETAIL_STAGE') IS NOT NULL DROP TABLE dbo.FACT_VIOLATIONS_BR_DETAIL_STAGE

IF OBJECT_ID('dbo.VP_OWNER_VIOLATIONS_BR') IS NOT NULL DROP TABLE dbo.VP_OWNER_VIOLATIONS_BR

