CREATE PROC [DBO].[FACT_LANE_VIOLATIONS_DETAIL_MISSING_ICS_MISSING_ICS_LOAD] AS --DROP PROC [DBO].[FACT_LANE_VIOLATIONS_DETAIL_MISSING_ICS_MISSING_ICS_LOAD]
/*	SELECT TOP 100 * FROM FACT_LANE_VIOLATIONS_DETAIL_MISSING_ICS*/  
--#3	RANJITH NAIR	2018-07-26	Added Non Reviewed Status 'N'  --
--#4	RANJITH NAIR	2018-08-06	Added REVIEWED_BY
--#5	RANJITH NAIR	2018-08-08	Added TRANSACTION_FILE_DETAIL_ID

	--STEP #1: VIOLATIONS
	IF OBJECT_ID('dbo.FACT_LANE_VIOLATIONS_DETAIL_MISSING_ICS_STAGE')>0 DROP TABLE dbo.FACT_LANE_VIOLATIONS_DETAIL_MISSING_ICS_STAGE

	INSERT INTO dbo.FACT_LANE_VIOLATIONS_DETAIL
	--CREATE TABLE dbo.FACT_LANE_VIOLATIONS_DETAIL_MISSING_ICS_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([DAY_ID])) AS  --ROUND_ROBIN --DROP TABLE FACT_LANE_ANALYSIS
	--EXPLAIN
	SELECT  CONVERT(VARCHAR, LV.VIOL_DATE,112) [DAY_ID],
 			LV.LANE_ID,
			LV.LANE_ABBREV,
			LV.LANE_VIOL_ID,
			NULL AS VIOLATION_ID, 
			LV.VIOL_DATE	,
			LV.VEHICLE_CLASS,
			ISNULL(CT.[VCLY_ID],-1) AS VCLY_ID,
			LV.AXLE_COUNT,
			LV.LANE_VIOL_STATUS,
			CASE	WHEN LV.LANE_VIOL_STATUS = 'E' THEN 'Excused Lane Violations' 
					ELSE LANE_VIOL_STATUS.LANE_VIOL_STATUS_DESCR 
			END LANE_VIOL_STATUS_DESCR,  
			LV.REVIEW_STATUS,
			'ICRS-' + CASE WHEN LV.REVIEW_STATUS = 'E' THEN 'R' ELSE LV.REVIEW_STATUS END REVIEW_STATUS_ABBREV, 
			[DIM_CATEGORY].NAME STATUS_DESCR,
			REVIEW_STATUS.REV_STATUS_DESCR,
			CASE WHEN LV.LANE_ID IS NULL THEN 'V' ELSE 'Z' END BUSINESS_TYPE,--DECODE(vbl.lane_id, NULL, 'V', 'Z') 
			LV.VIOL_REJECT_TYPE,
			VIOL_REJECT_TYPES.VIOL_REJECT_TYPE_DESCR,
			LV.VIOL_CREATED,
			LV.AGENCY_ID,
			LV.TAG_ID,
			LV.TAG_STATUS,
			LV.VEHICLE_SPEED,
			LV.LIC_PLATE_NBR,
			LV.LIC_PLATE_STATE,
			LV.REVIEW_DATE,
			LV.TOLL_DUE,
			CASE	--WHEN V.VIOL_STATUS = 'P' AND V.TOLL_PAID = 0 THEN V.TOLL_DUE 
					WHEN LV.LANE_VIOL_STATUS IN ('C') THEN V.TOLL_PAID 
              ELSE LV.TOLL_PAID  END TOLL_PAID,
			LV.VIOLATION_CODE
			,LV.REVIEWED_BY
			,LV.TRANSACTION_FILE_DETAIL_ID
			--EXPLAIN SELECT COUNT_BIG(1)
	FROM LND_LG_ICRS.[ICRS_OWNER].[ICS_LANE_VIOLATIONS] LV --WHERE     LANE_VIOL_STATUS = 'D'
	LEFT JOIN EDW_RITE.[dbo].[DIM_VEH_CLSS_TYPES] CT  ON LV.VEHICLE_CLASS = CT.[AXLES]
	LEFT JOIN EDW_RITE.[DBO].FACT_LANE_VIOLATIONS_DETAIL V ON V.LANE_VIOL_ID = LV.LANE_VIOL_ID
	LEFT JOIN EDW_RITE.[DBO].LANE_VIOL_STATUS  ON LV.LANE_VIOL_STATUS = LANE_VIOL_STATUS.LANE_VIOL_STATUS
	LEFT JOIN LND_LG_ICRS.ICRS_OWNER.REVIEW_STATUS  ON LV.REVIEW_STATUS = REVIEW_STATUS.REVIEW_STATUS
	LEFT JOIN EDW_RITE.[DBO].VIOL_REJECT_TYPES  ON LV.VIOL_REJECT_TYPE = VIOL_REJECT_TYPES.VIOL_REJECT_TYPE
	LEFT JOIN EDW_RITE.[DBO].[DIM_CATEGORY]  ON 'ICRS-' + CASE WHEN LV.REVIEW_STATUS = 'E' THEN 'R' ELSE LV.REVIEW_STATUS END = [DIM_CATEGORY].ABBREV
	WHERE   LV.REVIEW_STATUS IN ('N','D')--LV.LANE_VIOL_ID IN (1938263993, 1938576200)--100,616,531
	AND		V.LANE_VIOL_ID IS NULL

	--STEP #2: UPDATE Statistics ----EXPLAIN
	UPDATE STATISTICS [dbo].FACT_LANE_VIOLATIONS_DETAIL 

