CREATE PROC [DBO].[FACT_IOP_TGS_LOAD] AS 
/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_IOP_TGS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_IOP_TGS_LOAD
GO

EXEC DBO.FACT_IOP_TGS_LOAD

SELECT COUNT_BIG(1) FROM dbo.FACT_IOP_TGS  -- 318015709

SELECT  TOP 100
	DAY_ID,TT_ID,TXN_DATE,ENTRY_TXN_DATE,POSTED_DATE,DISPOSITION,RECON_HOME_AGENCY_ID,TAG_AGENCY_ID,AGENCY_CODE,HIA_AGCY_ID,SOURCE_CODE,SOURCE_TXN_ID,LANE_ID,TVL_TAG_STATUS,
	LIC_PLATE_STATE,LICENSE_PLATE_ID,EARNED_CLASS,POSTED_CLASS,EARNED_REVENUE,POSTED_REVENUE,TRANSACTION_FILE_DETAIL_ID,LAST_UPDATE_TYPE,LAST_UPDATE_DATE
FROM dbo.FACT_IOP_TGS

SELECT * FROM edw_rite.dbo.PROCESS_LOG 
WHERE LOG_SOURCE = 'FACT_IOP_TGS' AND LOG_DATE > '2019-09-01 8:00:00'
ORDER BY LOG_SOURCE, LOG_DATE

*/

/*	SELECT TOP 100 * FROM FACT_IOP_TGS; SELECT COUNT(1) FROM FACT_IOP_TGS */  
--#1	Shankar Metla	2018-09-08	CREATED
--#2	Andy Filipps	2018-10-02	Full rewrite for a new approach to avoid full month load
--#3	Andy Filipps	2019-12-12	Changes to remove all fields > 8 bytes, Added LICENSE_PLATE_ID and TT_ID, Statistics changed

DECLARE @TABLE_NAME VARCHAR(50) = 'FACT_IOP_TGS'
DECLARE @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT, @LOAD_CONTROL_DATE DATETIME2(2), @ERROR_MESSAGE  VARCHAR(1000)
DECLARE @sql VARCHAR(MAX)


-- STEP 1: Get the next Load Control Date from the Control Table
SET @LOG_START_DATE = GETDATE()

BEGIN TRY
	EXEC DBO.IOP_TAGS_LOAD
END	TRY	
BEGIN CATCH
	SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
	SET @ERROR_MESSAGE = 'IOP_TAGS_LOAD FAILED: ' + @ERROR_MESSAGE
	EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @ERROR_MESSAGE,  -1
END CATCH

-- STEP 2: Initiate LOG
SELECT  @LOG_MESSAGE = 'Started full load'
EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL

--STEP #7: -- Getting all changes to a new table
IF OBJECT_ID('dbo.FACT_IOP_TGS_STAGE') IS NOT NULL DROP TABLE dbo.FACT_IOP_TGS_STAGE
CREATE TABLE dbo.FACT_IOP_TGS_STAGE WITH (HEAP, DISTRIBUTION = HASH(SOURCE_TXN_ID)) AS
-- EXPLAIN
SELECT 
	CAST(CONVERT(VARCHAR(8), TRANSACTION_DATE, 112) AS INT) DAY_ID,
	CAST(CONVERT(VARCHAR(6), TRANSACTION_DATE, 112) AS INT) MONTH_ID,
	TGS.TAG_ID,
	ATT.TT_ID,
	TRANSACTION_DATE TXN_DATE,
	[ENTRY_TXN_DATE],
	[POSTED_DATE_TIME] AS POSTED_DATE,
	ISNULL(DISPOSITION, '-1') DISPOSITION,
	[RECON_HOME_AGENCY_ID],
	TAG_AGENCY_ID,
	AGENCY_CODE,
	CAST(TGS.HIA_AGCY_ID AS SMALLINT) AS HIA_AGCY_ID,
	SOURCE_CODE SOURCE_CODE,
	CAST(ISNULL(TRANSACTION_ID, -1) AS BIGINT)	SOURCE_TXN_ID,
	ISNULL(CAST(LANE_ID AS INT), -1) LANE_ID,
	COALESCE(ENTRY_TVL_TAG_STATUS, EXIT_TVL_TAG_STATUS) TVL_TAG_STATUS,
	LIC_PLATE_STATE,
	LIC_PLATE_NBR,
	--LP.LICENSE_PLATE_ID,
	EARNED_CLASS,
	POSTED_CLASS,
	COALESCE([IOP_EARNED_REVENUE], EARNED_REVENUE) EARNED_REVENUE,
	POSTED_REVENUE,
	TRANSACTION_FILE_DETAIL_ID,
	TGS.LAST_UPDATE_TYPE,
	CAST(TGS.LAST_UPDATE_DATE AS datetime2(3)) AS LAST_UPDATE_DATE  --SELECT TOP 100 * --COUNT_BIG(*)
FROM [LND_LG_HOST].[TXNOWNER].[IOP_TRANSACTIONS] TGS
--LEFT JOIN dbo.DIM_LICENSE_PLATE LP ON  LP.LICENSE_PLATE_NBR = TGS.LIC_PLATE_NBR AND LP.LICENSE_PLATE_STATE = TGS.LIC_PLATE_STATE
LEFT JOIN dbo.IOP_TAGS ATT ON ATT.TAG_ID = TGS.TAG_ID AND TGS.AGENCY_CODE = ATT.AGENCY_ID
WHERE TGS.TRANSACTION_ID IS NOT NULL
OPTION (LABEL = 'FACT_IOP_TGS LOAD');

-- Logging
EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = 'Got all rows:'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT


-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
-- --  DIM LICENSE PLATE 
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
DECLARE @MAX_LICENSE_PLATE_ID int = ISNULL((SELECT MAX(LICENSE_PLATE_ID) FROM DBO.DIM_LICENSE_PLATE),0);

INSERT INTO DBO.DIM_LICENSE_PLATE (LICENSE_PLATE_ID, LICENSE_PLATE_NBR, LICENSE_PLATE_STATE)
SELECT ROW_NUMBER()OVER(ORDER BY (SELECT 1))+ @MAX_LICENSE_PLATE_ID, LIC_PLATE_NBR, LIC_PLATE_STATE
FROM 
(
	SELECT DISTINCT A.LIC_PLATE_NBR, A.LIC_PLATE_STATE 
	FROM dbo.FACT_IOP_TGS_STAGE A
	WHERE NOT EXISTS (SELECT 1 FROM dbo.DIM_LICENSE_PLATE B WHERE A.LIC_PLATE_NBR = B.LICENSE_PLATE_NBR AND A.LIC_PLATE_STATE = B.LICENSE_PLATE_STATE)
	AND LIC_PLATE_NBR IS NOT NULL AND LIC_PLATE_STATE IS NOT NULL
) A 
OPTION (LABEL = 'FACT_IOP_TGS_LOAD: DIM_LICENSE_PLATE');

EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = 'Rows added to DIM_LICENSE_PLATE:'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT


BEGIN

	DECLARE @PART_RANGES VARCHAR(MAX) = ''
	--EXEC DBO.GET_PARTITION_MONTH_RANGE_STRING @PART_RANGES OUTPUT
	EXEC DBO.GET_PARTITION_DAYID_RANGE_STRING @PART_RANGES OUTPUT
	--PRINT @PART_RANGES

	IF OBJECT_ID('dbo.FACT_IOP_TGS_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_IOP_TGS_NEW_SET
	SET @sql = '
	CREATE TABLE dbo.[FACT_IOP_TGS_NEW_SET] WITH (CLUSTERED INDEX (SOURCE_TXN_ID), DISTRIBUTION = HASH([SOURCE_TXN_ID]), PARTITION (DAY_ID RANGE RIGHT FOR VALUES (' + @PART_RANGES + '))) AS
	SELECT 
			 CAST(main_table.[DAY_ID] AS int) AS [DAY_ID]
			, main_table.MONTH_ID AS MONTH_ID
			, main_table.TAG_ID
			, main_table.TT_ID
			, ISNULL(CAST(main_table.[TXN_DATE] AS datetime2(0)), ''1900-01-01'') AS [TXN_DATE]
			, CAST(main_table.[ENTRY_TXN_DATE] AS datetime2(0)) AS [ENTRY_TXN_DATE]
			, CAST(main_table.[POSTED_DATE] AS datetime2(0)) AS [POSTED_DATE]
			, ISNULL(CAST(main_table.[DISPOSITION] AS varchar(1)), '''') AS [DISPOSITION]
			, CAST(main_table.[RECON_HOME_AGENCY_ID] AS varchar(4)) AS [RECON_HOME_AGENCY_ID]
			, CAST(main_table.[TAG_AGENCY_ID] AS varchar(4)) AS [TAG_AGENCY_ID]
			, CAST(main_table.[AGENCY_CODE] AS varchar(6)) AS [AGENCY_CODE]
			, CAST(main_table.[HIA_AGCY_ID] AS SMALLINT) AS [HIA_AGCY_ID]
			, ISNULL(CAST(main_table.[SOURCE_CODE] AS varchar(1)), '''') AS [SOURCE_CODE]
			, CAST(main_table.[SOURCE_TXN_ID] AS bigint) AS [SOURCE_TXN_ID]
			, ISNULL(CAST(main_table.[LANE_ID] AS INT), 0) AS [LANE_ID]
			, CAST(main_table.[TVL_TAG_STATUS] AS varchar(1)) AS [TVL_TAG_STATUS]
			, CAST(main_table.[LIC_PLATE_STATE] AS varchar(3)) AS [LIC_PLATE_STATE]
			, CAST(main_table.[LIC_PLATE_NBR] AS varchar(15)) AS [LIC_PLATE_NBR]
			, LP.LICENSE_PLATE_ID
			, CAST(main_table.[EARNED_CLASS] AS int) AS [EARNED_CLASS]
			, CAST(main_table.[POSTED_CLASS] AS int) AS [POSTED_CLASS]
			, CAST(main_table.[EARNED_REVENUE] AS decimal(5,2)) AS [EARNED_REVENUE]
			, CAST(main_table.[POSTED_REVENUE] AS decimal(5,2)) AS [POSTED_REVENUE]
			, CAST(main_table.[TRANSACTION_FILE_DETAIL_ID] AS decimal(14,0)) AS [TRANSACTION_FILE_DETAIL_ID]
			, CAST(main_table.[LAST_UPDATE_TYPE] AS varchar(1)) AS [LAST_UPDATE_TYPE]
			, CAST(main_table.[LAST_UPDATE_DATE] AS datetime2(3)) AS [LAST_UPDATE_DATE]
	FROM dbo.[FACT_IOP_TGS_STAGE] AS main_table
	LEFT JOIN dbo.DIM_LICENSE_PLATE LP ON  LP.LICENSE_PLATE_NBR = main_table.LIC_PLATE_NBR AND LP.LICENSE_PLATE_STATE = main_table.LIC_PLATE_STATE
	OPTION (LABEL = ''FACT_IOP_TGS_NEW_SET LOAD'');'

	EXEC (@sql)
	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

	CREATE STATISTICS [STATS_FACT_IOP_TGS_001] ON dbo.[FACT_IOP_TGS_NEW_SET] ([DAY_ID], [LANE_ID]);
	CREATE STATISTICS [STATS_FACT_IOP_TGS_002] ON dbo.[FACT_IOP_TGS_NEW_SET] ([SOURCE_CODE],LANE_ID,DISPOSITION);
	CREATE STATISTICS [STATS_FACT_IOP_TGS_003] ON dbo.[FACT_IOP_TGS_NEW_SET] ([LANE_ID],[TXN_DATE]);
	CREATE STATISTICS [STATS_FACT_IOP_TGS_004] ON dbo.[FACT_IOP_TGS_NEW_SET] ([DISPOSITION], [SOURCE_CODE], [LANE_ID]);
	CREATE STATISTICS [STATS_FACT_IOP_TGS_005] ON dbo.[FACT_IOP_TGS_NEW_SET] ([TRANSACTION_FILE_DETAIL_ID]);
	CREATE STATISTICS [STATS_FACT_IOP_TGS_006] ON dbo.[FACT_IOP_TGS_NEW_SET] ([SOURCE_TXN_ID]);
	CREATE STATISTICS [STATS_FACT_IOP_TGS_007] ON dbo.[FACT_IOP_TGS_NEW_SET] (TT_ID,[SOURCE_CODE]);
	CREATE STATISTICS [STATS_FACT_IOP_TGS_008] ON dbo.[FACT_IOP_TGS_NEW_SET] (TVL_TAG_STATUS,TT_ID);
	CREATE STATISTICS [STATS_FACT_IOP_TGS_009] ON dbo.[FACT_IOP_TGS_NEW_SET] (MONTH_ID,[DAY_ID],[SOURCE_TXN_ID]);
	CREATE STATISTICS [STATS_FACT_IOP_TGS_010] ON dbo.[FACT_IOP_TGS_NEW_SET] ([AGENCY_CODE],[TT_ID]);

	IF OBJECT_ID('dbo.[FACT_IOP_TGS_OLD]') IS NOT NULL		DROP TABLE dbo.FACT_IOP_TGS_OLD;
	IF OBJECT_ID('dbo.[FACT_IOP_TGS]') IS NOT NULL			RENAME OBJECT::dbo.[FACT_IOP_TGS] TO FACT_IOP_TGS_OLD;
	IF OBJECT_ID('dbo.[FACT_IOP_TGS_NEW_SET]') IS NOT NULL	RENAME OBJECT::dbo.[FACT_IOP_TGS_NEW_SET] TO [FACT_IOP_TGS];
	IF OBJECT_ID('dbo.[FACT_IOP_TGS_OLD]') IS NOT NULL		DROP TABLE dbo.FACT_IOP_TGS_OLD;

	SET  @LOG_MESSAGE = 'Complete Full load'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT
END


--STEP #12: -- Set a new update date to LOAD_PROCESS_CONTROL table for the next load
SELECT @LOAD_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_HOST.TXNOWNER.IOP_TRANSACTIONS
UPDATE dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @LOG_START_DATE WHERE TABLE_NAME = 'FACT_IOP_TGS'


IF OBJECT_ID('dbo.FACT_IOP_TGS_STAGE') IS NOT NULL DROP TABLE dbo.FACT_IOP_TGS_STAGE


