CREATE PROC [DBO].[GET_UPDATE_TABLE_SQL] @UPDATE_TABLE_NAME [VARCHAR](100),@FROM_TABLE_NAME [VARCHAR](100),@IDENTITY_COLUMNS [VARCHAR](8000),@SQL_STRING [VARCHAR](MAX) OUT AS

/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.GET_UPDATE_TABLE_SQL') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.GET_UPDATE_TABLE_SQL
GO

-- !!!! EXAMPLE !!!! --

DECLARE @SQL_STRING [VARCHAR](MAX)
	,@UPDATE_TABLE_NAME [VARCHAR](100)  = 'FACT_NET_REV_TFC_EVTS'
	,@FROM_TABLE_NAME [VARCHAR](100)  = 'FACT_NET_REV_TFC_EVTS_NEW_SET'
	,@IDENTITY_COLUMNS [VARCHAR](8000)  = 'TART_ID'

EXEC DBO.GET_UPDATE_TABLE_SQL @UPDATE_TABLE_NAME, @FROM_TABLE_NAME, @IDENTITY_COLUMNS, @SQL_STRING OUTPUT 
PRINT @SQL_STRING

-- !!!! EXAMPLE !!!! --

*/

DECLARE @ERROR VARCHAR(MAX) = ''

IF @UPDATE_TABLE_NAME IS NULL SET @ERROR = @ERROR + 'Update Table name could not be NULL'
IF @FROM_TABLE_NAME IS NULL SET @ERROR = @ERROR + CHAR(13) + 'From table name could not be NULL'
IF @UPDATE_TABLE_NAME = @FROM_TABLE_NAME SET @ERROR = @ERROR + CHAR(13) + 'From table could not be the same as Update table'


SET @SQL_STRING = '';

IF LEN(@ERROR) > 0
BEGIN
	PRINT @ERROR
END
ELSE
BEGIN
	DECLARE @SQL_WHERE VARCHAR(MAX)
	DECLARE @SQL_UPDATE VARCHAR(MAX)

	SET @SQL_WHERE = ''
	SET @SQL_UPDATE = ''
	IF OBJECT_ID('tempdb..#TABLE_COLUMNS') IS NOT NULL DROP TABLE #TABLE_COLUMNS;
	SELECT      c.name AS ColumnName, 
				ROW_NUMBER() OVER(ORDER BY C.column_id) AS RN
	INTO #TABLE_COLUMNS
	FROM        sys.columns c
	JOIN        sys.tables  t   ON c.object_id = t.object_id
	WHERE       t.name = @UPDATE_TABLE_NAME

	DECLARE @NUM_OF_COLUMNS INT
	SELECT @NUM_OF_COLUMNS = MAX(RN) FROM #TABLE_COLUMNS
	DECLARE @INDICAT INT = 1
	DECLARE @Delimiter VARCHAR(6) = ''
	DECLARE @Delimiter_AND VARCHAR(8) = ''
	DECLARE @WHERE_String VARCHAR(MAX) = ''
	DECLARE @UPDATE_String VARCHAR(MAX) = ''
	DECLARE @ColumnName VARCHAR(100) = ''

	WHILE (@INDICAT <= @NUM_OF_COLUMNS)
	BEGIN
		SELECT	  
			@ColumnName = M.ColumnName
		FROM #TABLE_COLUMNS M
		WHERE M.RN = @INDICAT

		SET @WHERE_String = CASE WHEN CHARINDEX(@ColumnName, @IDENTITY_COLUMNS) > 0 THEN @Delimiter_AND + @UPDATE_TABLE_NAME + '.[' + @ColumnName + '] = NSET.[' + @ColumnName + ']' ELSE '' END

		SET @UPDATE_String = CASE WHEN CHARINDEX(@ColumnName, @IDENTITY_COLUMNS) = 0 THEN @Delimiter + @UPDATE_TABLE_NAME + '.[' + @ColumnName + '] = NSET.[' + @ColumnName + ']' ELSE '' END

		IF LEN(@WHERE_String) > 0 
		BEGIN
			SET @SQL_WHERE = @SQL_WHERE + @WHERE_String
			SET	@Delimiter_AND = CHAR(13) + CHAR(10) + '		AND '
		END

		IF LEN(@UPDATE_String) > 0 
		BEGIN
			SET @SQL_UPDATE = @SQL_UPDATE + @UPDATE_String
			SET	@Delimiter = CHAR(13) + CHAR(10) + '		, '
		END

		SET @INDICAT += 1
	END

	SET @SQL_STRING = 'UPDATE DBO.[' + @UPDATE_TABLE_NAME + '] 		SET 
		' + @SQL_UPDATE + '
		FROM DBO.' + @FROM_TABLE_NAME + ' AS NSET WHERE ' + @SQL_WHERE

	--PRINT @SQL_STRING
END


















