CREATE PROC [DBO].[RETAIL_TRXN_DETAILS_LOAD] AS

-- EXEC EDW_RITE.DBO.RETAIL_TRXN_DETAILS_LOAD
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.RETAIL_TRXN_DETAILS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.RETAIL_TRXN_DETAILS_LOAD
GO

*/

/*	
SELECT TOP 100 * FROM EDW_RITE.DBO.RETAIL_TRXN_DETAILS 
SELECT COUNT_BIG(1) FROM EDW_RITE.DBO.RETAIL_TRXN_DETAILS -- 1 053 760 680   --892 806 202
*/ 

/*
INSERT INTO EDW_RITE.dbo.RETAIL_TRXN_DETAILS
	(	 	  
	 RTD_ID, TRANS_DATE, TRANS_STATUS, DATE_CREATED, TRANS_TYPE_ID, RETAIL_TRANS_ID, CREDIT_SRC_ID1, INSERT_DATE, LAST_UPDATE_DATE
	)
	VALUES
	(-1,'1900-01-01','','1900-01-01',-1,-1,-1,'2000-01-01','2000-01-01')

*/

DECLARE @LAST_UPDATE_DATE datetime2(2) 
EXEC dbo.GetLoadStartDatetime 'dbo.RETAIL_TRXN_DETAILS', @LAST_UPDATE_DATE OUTPUT
--PRINT @LAST_UPDATE_DATE

IF OBJECT_ID('dbo.RETAIL_TRXN_DETAILS_STAGE')>0	DROP TABLE dbo.RETAIL_TRXN_DETAILS_STAGE	

			
CREATE TABLE dbo.RETAIL_TRXN_DETAILS_STAGE WITH (DISTRIBUTION = HASH(RETAIL_TRANS_ID))
AS 
SELECT  
	Convert(bigint,RTD_ID) AS RTD_ID
	, TRANS_DATE
	, TRANS_STATUS
	, DATE_CREATED
	, TRANS_TYPE_ID
	, convert(bigint,RETAIL_TRANS_ID) AS RETAIL_TRANS_ID
	, CREDIT_SRC_ID1
	, LAST_UPDATE_DATE AS INSERT_DATE
	, LAST_UPDATE_DATE
FROM LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS TT
WHERE 
	TT.LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
--	AND TT.LAST_UPDATE_TYPE = 'U'
OPTION (LABEL = 'RETAIL_TRXN_DETAILS_LOAD: RETAIL_TRXN_DETAILS_STAGE');

CREATE STATISTICS STATS_RETAIL_TRXN_DETAILS_STAGE_001 ON DBO.RETAIL_TRXN_DETAILS_STAGE (RETAIL_TRANS_ID, RTD_ID)


IF OBJECT_ID('dbo.RETAIL_TRXN_DETAILS_NEW_STAGE')>0 	DROP TABLE dbo.RETAIL_TRXN_DETAILS_NEW_STAGE

CREATE TABLE dbo.RETAIL_TRXN_DETAILS_NEW_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(RETAIL_TRANS_ID)) AS    
SELECT	
	 RTD_ID, TRANS_DATE, TRANS_STATUS, DATE_CREATED, TRANS_TYPE_ID, RETAIL_TRANS_ID, CREDIT_SRC_ID1, INSERT_DATE, LAST_UPDATE_DATE
FROM dbo.RETAIL_TRXN_DETAILS AS F 
WHERE	NOT EXISTS (SELECT 1 FROM dbo.RETAIL_TRXN_DETAILS_STAGE AS N WHERE N.RETAIL_TRANS_ID = F.RETAIL_TRANS_ID AND N.RTD_ID = F.RTD_ID) 

  UNION ALL 
  
SELECT	
	 N.RTD_ID, N.TRANS_DATE, N.TRANS_STATUS, N.DATE_CREATED, N.TRANS_TYPE_ID, N.RETAIL_TRANS_ID, N.CREDIT_SRC_ID1, ISNULL(F.INSERT_DATE, N.INSERT_DATE) AS INSERT_DATE, N.LAST_UPDATE_DATE
FROM dbo.RETAIL_TRXN_DETAILS_STAGE AS N
LEFT JOIN dbo.RETAIL_TRXN_DETAILS AS F ON N.RETAIL_TRANS_ID = F.RETAIL_TRANS_ID AND N.RTD_ID = F.RTD_ID 
OPTION (LABEL = 'RETAIL_TRXN_DETAILS_LOAD: INSERT/UPDATE');


--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.RETAIL_TRXN_DETAILS_OLD')>0 	DROP TABLE dbo.RETAIL_TRXN_DETAILS_OLD;
IF OBJECT_ID('dbo.RETAIL_TRXN_DETAILS')>0		RENAME OBJECT::dbo.RETAIL_TRXN_DETAILS TO RETAIL_TRXN_DETAILS_OLD;
RENAME OBJECT::dbo.RETAIL_TRXN_DETAILS_NEW_STAGE TO RETAIL_TRXN_DETAILS;
IF OBJECT_ID('dbo.RETAIL_TRXN_DETAILS_OLD')>0 	DROP TABLE dbo.RETAIL_TRXN_DETAILS_OLD;

CREATE STATISTICS [STATS_RETAIL_TRXN_DETAILS_001] ON [dbo].[RETAIL_TRXN_DETAILS] ([RETAIL_TRANS_ID]);
CREATE STATISTICS [STATS_RETAIL_TRXN_DETAILS_002] ON [dbo].[RETAIL_TRXN_DETAILS] ([CREDIT_SRC_ID1], [TRANS_STATUS], [TRANS_TYPE_ID]);
CREATE STATISTICS [STATS_RETAIL_TRXN_DETAILS_003] ON [dbo].[RETAIL_TRXN_DETAILS] ([RTD_ID]);
CREATE STATISTICS [STATS_RETAIL_TRXN_DETAILS_004] ON [dbo].[RETAIL_TRXN_DETAILS] ([RETAIL_TRANS_ID], [RTD_ID]);

IF OBJECT_ID('dbo.RETAIL_TRXN_DETAILS_STAGE')>0 	DROP TABLE dbo.RETAIL_TRXN_DETAILS_STAGE

/*

-- -- FULL LOAD!
USE EDW_RITE
GO


IF OBJECT_ID('dbo.RETAIL_TRXN_DETAILS_STAGE')>0	DROP TABLE dbo.RETAIL_TRXN_DETAILS_STAGE	
			
CREATE TABLE dbo.RETAIL_TRXN_DETAILS_STAGE WITH (DISTRIBUTION = HASH(RETAIL_TRANS_ID))
AS 
SELECT  
	Convert(bigint,RTD_ID) AS RTD_ID
	, TRANS_DATE
	, TRANS_STATUS
	, DATE_CREATED
	, TRANS_TYPE_ID
	, convert(bigint,RETAIL_TRANS_ID) AS RETAIL_TRANS_ID
	, CREDIT_SRC_ID1
	, LAST_UPDATE_DATE AS INSERT_DATE
	, LAST_UPDATE_DATE
FROM LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS TT
OPTION (LABEL = 'RETAIL_TRXN_DETAILS_LOAD: RETAIL_TRXN_DETAILS_STAGE');


--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.RETAIL_TRXN_DETAILS_OLD')>0 	DROP TABLE dbo.RETAIL_TRXN_DETAILS_OLD;
IF OBJECT_ID('dbo.RETAIL_TRXN_DETAILS')>0		RENAME OBJECT::dbo.RETAIL_TRXN_DETAILS TO RETAIL_TRXN_DETAILS_OLD;
RENAME OBJECT::dbo.RETAIL_TRXN_DETAILS_STAGE TO RETAIL_TRXN_DETAILS;
--IF OBJECT_ID('dbo.RETAIL_TRXN_DETAILS_OLD')>0 	DROP TABLE dbo.RETAIL_TRXN_DETAILS_OLD;

CREATE STATISTICS [STATS_RETAIL_TRXN_DETAILS_001] ON [dbo].[RETAIL_TRXN_DETAILS] ([RETAIL_TRANS_ID]);
CREATE STATISTICS [STATS_RETAIL_TRXN_DETAILS_002] ON [dbo].[RETAIL_TRXN_DETAILS] ([CREDIT_SRC_ID1], [TRANS_STATUS], [TRANS_TYPE_ID]);
CREATE STATISTICS [STATS_RETAIL_TRXN_DETAILS_003] ON [dbo].[RETAIL_TRXN_DETAILS] ([RTD_ID]);
CREATE STATISTICS [STATS_RETAIL_TRXN_DETAILS_004] ON [dbo].[RETAIL_TRXN_DETAILS] ([RETAIL_TRANS_ID], [RTD_ID]);


*/


