CREATE PROC [DBO].[TOLL_TAGS_LOAD] AS

/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.TOLL_TAGS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.TOLL_TAGS_LOAD
GO

EXEC DBO.TOLL_TAGS_LOAD
*/

/*	
SELECT TOP 100 *
FROM TOLL_TAGS 
WHERE TT_ID = -1
SELECT COUNT_BIG(1) FROM TOLL_TAGS -- 11 547 178 
*/  

/*
	INSERT INTO dbo.TOLL_TAGS
	(AGENCY_ID,TAG_ID,TAG_STATUS,LAST_READ_LOC,LAST_READ_DATE,TAG_TYPE_CODE,OWNER_AGENCY,POS_ID,LAST_UPDATE_TYPE,LAST_UPDATE_DATE)
	VALUES
	('-1','-1','',NULL,NULL,'','',-1,'I','2000-01-01')
*/

--STEP #1: CREATE STAGING TABLE

DECLARE @LAST_UPDATE_DATE datetime2(2), @TABLE_NAME VARCHAR(200) = 'TOLL_TAGS'
EXEC dbo.GetLoadStartDatetime 'dbo.TOLL_TAGS', @LAST_UPDATE_DATE OUTPUT


PRINT @LAST_UPDATE_DATE

DECLARE @FULL_RELOAD BIT  
--EXEC dbo.GetLoadStartDatetime 'dbo.PAYMENT_LINE_ITEMS_VPS', @LAST_UPDATE_DATE OUTPUT
SELECT @FULL_RELOAD = CASE WHEN C.column_id IS NULL THEN 1 ELSE 0 END FROM sys.tables t LEFT JOIN sys.columns c ON c.object_id = t.object_id AND c.name = 'TT_ID' WHERE t.name = @TABLE_NAME

IF @FULL_RELOAD = 1 
BEGIN

	--SELECT *, CAST(TA_ID AS CHAR(1)) TA FROM LND_LG_TS.[TAG_OWNER].[TAG_AUTHORITIES] 
		--TAG_IDENTIFIER
	IF OBJECT_ID('dbo.TOLL_TAGS_NEW_SET')>0 DROP TABLE dbo.TOLL_TAGS_NEW_SET;
	CREATE TABLE dbo.TOLL_TAGS_NEW_SET WITH (CLUSTERED INDEX (TT_ID), DISTRIBUTION = HASH(TAG_ID))
	AS --EXPLAIN
	WITH CTE_TOLL_TAGS AS
	(
		SELECT 
			T.[AGENCY_ID]
			, T.[TAG_ID]
			, T.[TAG_STATUS]
			, T.[LAST_READ_LOC]
			, T.[LAST_READ_DATE]
			, ISNULL(COALESCE(X.[TAG_TYPE],T.[TAG_TYPE_CODE]), '') AS [TAG_TYPE_CODE]
			, T.[OWNER_AGENCY]
			, T.[POS_ID]
			, T.[LAST_UPDATE_TYPE]
			, T.[LAST_UPDATE_DATE]
			, ROW_NUMBER() OVER (PARTITION BY T.TAG_ID, T.AGENCY_ID ORDER BY T.LAST_UPDATE_DATE DESC) AS RwN
		FROM LND_LG_TS.TAG_OWNER.TOLL_TAGS T
		LEFT JOIN dbo.[TAG_TYPES_XREF] AS X ON T.TAG_ID BETWEEN  X.[TAG_ID_BEGIN] AND X.[TAG_ID_END]
	)
	SELECT 
			ISNULL(CAST((ROW_NUMBER() OVER (ORDER BY AGENCY_ID, TAG_ID)) * (-1) - 10000000000000 AS BIGINT), 0) AS TT_ID
			, AGENCY_ID,TAG_ID,TAG_STATUS,LAST_READ_LOC,LAST_READ_DATE,TAG_TYPE_CODE,OWNER_AGENCY,POS_ID,C.LAST_UPDATE_TYPE,C.LAST_UPDATE_DATE
	FROM CTE_TOLL_TAGS C
		LEFT JOIN LND_LG_TS.[TAG_OWNER].[TAG_AUTHORITIES] TA ON TA.TAG_IDENTIFIER = C.AGENCY_ID
	WHERE (ISNUMERIC(TAG_ID) = 0 OR TAG_ID LIKE '%.%') AND C.RwN = 1
	UNION ALL 
	SELECT 
			ISNULL(CAST((REPLICATE(ISNULL(CAST(TA.TA_ID AS CHAR(1)),'9'),3) + LTRIM(TAG_ID)) AS BIGINT), 0) AS TT_ID
			, AGENCY_ID,TAG_ID,TAG_STATUS,LAST_READ_LOC,LAST_READ_DATE,TAG_TYPE_CODE,OWNER_AGENCY,POS_ID,C.LAST_UPDATE_TYPE,C.LAST_UPDATE_DATE
	FROM CTE_TOLL_TAGS C
		LEFT JOIN LND_LG_TS.[TAG_OWNER].[TAG_AUTHORITIES] TA ON TA.TAG_IDENTIFIER = C.AGENCY_ID
	WHERE ISNUMERIC(TAG_ID) = 1 AND TAG_ID NOT LIKE '%.%' AND C.RwN = 1
	OPTION (LABEL = 'TOLL_TAGS_LOAD');

	INSERT INTO dbo.[TOLL_TAGS_NEW_SET]
	(TT_ID,AGENCY_ID,TAG_ID,TAG_STATUS,LAST_READ_LOC,LAST_READ_DATE,TAG_TYPE_CODE,OWNER_AGENCY,POS_ID,LAST_UPDATE_TYPE,LAST_UPDATE_DATE)
	VALUES( -1, '(Null)', '(Null)', '','','1900-01-01','', '(Null)',-1,'I','1900-01-01')

	CREATE STATISTICS [STATS_TOLL_TAGS_001] ON dbo.[TOLL_TAGS_NEW_SET] ([TAG_ID], [TAG_STATUS], [POS_ID]);
	CREATE STATISTICS [STATS_TOLL_TAGS_002] ON dbo.[TOLL_TAGS_NEW_SET] ([TAG_STATUS]);
	CREATE STATISTICS [STATS_TOLL_TAGS_003] ON dbo.[TOLL_TAGS_NEW_SET] ([POS_ID]);
	CREATE STATISTICS [STATS_TOLL_TAGS_004] ON dbo.[TOLL_TAGS_NEW_SET] ([AGENCY_ID]);

	IF OBJECT_ID('dbo.[TOLL_TAGS_OLD]') IS NOT NULL		DROP TABLE dbo.[TOLL_TAGS_OLD];
	IF OBJECT_ID('dbo.[TOLL_TAGS]') IS NOT NULL			RENAME OBJECT::dbo.[TOLL_TAGS] TO [TOLL_TAGS_OLD];
	IF OBJECT_ID('dbo.[TOLL_TAGS_NEW_SET]') IS NOT NULL		RENAME OBJECT::dbo.[TOLL_TAGS_NEW_SET] TO [TOLL_TAGS];
	IF OBJECT_ID('dbo.[TOLL_TAGS_OLD]') IS NOT NULL		DROP TABLE dbo.[TOLL_TAGS_OLD];

END


DECLARE @LAST_TT_ID BIGINT

--SELECT @LAST_TT_ID = COUNT_BIG(1) FROM dbo.TOLL_TAGS WHERE TT_ID < 0 -- This is not working unfortunately (((
SELECT @LAST_TT_ID = (-1) * MIN(TT_ID) FROM dbo.TOLL_TAGS WHERE TT_ID < 0  -- This TT_ID is negative - that is why we take MIN and mult it to -1

--STEP #2: Create the NEW table with DISTRIBUTION = HASH([TART_ID]
IF OBJECT_ID('dbo.TOLL_TAGS_STAGE')>0 DROP TABLE dbo.TOLL_TAGS_STAGE;
CREATE TABLE dbo.TOLL_TAGS_STAGE WITH (HEAP, DISTRIBUTION = HASH(TAG_ID))
AS --EXPLAIN
WITH CTE_TOLL_TAGS AS
(
	SELECT
		T.[AGENCY_ID]
		, T.[TAG_ID]
		, T.[TAG_STATUS]
		, T.[LAST_READ_LOC]
		, T.[LAST_READ_DATE]
		, ISNULL(COALESCE(X.[TAG_TYPE],T.[TAG_TYPE_CODE]), '') AS [TAG_TYPE_CODE]
		, T.[OWNER_AGENCY]
		, T.[POS_ID]
		, T.[LAST_UPDATE_TYPE]
		, T.[LAST_UPDATE_DATE]
		, I.TT_ID  -- Do not have to recreate ID for existing ones
		, ROW_NUMBER() OVER (PARTITION BY T.TAG_ID, T.AGENCY_ID ORDER BY T.LAST_UPDATE_DATE DESC) AS RwN
	FROM LND_LG_TS.TAG_OWNER.TOLL_TAGS T
	LEFT JOIN dbo.[TAG_TYPES_XREF] AS X ON T.TAG_ID BETWEEN  X.[TAG_ID_BEGIN] AND X.[TAG_ID_END]
	LEFT JOIN dbo.TOLL_TAGS AS I ON T.TAG_ID = I.TAG_ID AND T.AGENCY_ID = I.AGENCY_ID
	WHERE T.LAST_UPDATE_DATE >= @LAST_UPDATE_DATE 
)
SELECT 
		ISNULL(TT_ID,CAST((ROW_NUMBER() OVER (ORDER BY AGENCY_ID, TAG_ID) + @LAST_TT_ID) * (-1) AS BIGINT)) AS TT_ID
		, AGENCY_ID,TAG_ID,TAG_STATUS,LAST_READ_LOC,LAST_READ_DATE,TAG_TYPE_CODE,OWNER_AGENCY,POS_ID,C.LAST_UPDATE_TYPE,C.LAST_UPDATE_DATE
FROM CTE_TOLL_TAGS C
	LEFT JOIN LND_LG_TS.[TAG_OWNER].[TAG_AUTHORITIES] TA ON TA.TAG_IDENTIFIER = C.AGENCY_ID
WHERE (ISNUMERIC(C.TAG_ID) = 0 OR C.TAG_ID LIKE '%.%') AND C.RwN = 1
UNION ALL 
SELECT 
		ISNULL(TT_ID,CAST((REPLICATE(ISNULL(CAST(TA.TA_ID AS CHAR(1)),'9'),3) + LTRIM(TAG_ID)) AS BIGINT)) AS TT_ID
		, AGENCY_ID,TAG_ID,TAG_STATUS,LAST_READ_LOC,LAST_READ_DATE,TAG_TYPE_CODE,OWNER_AGENCY,POS_ID,C.LAST_UPDATE_TYPE,C.LAST_UPDATE_DATE
FROM CTE_TOLL_TAGS C
	LEFT JOIN LND_LG_TS.[TAG_OWNER].[TAG_AUTHORITIES] TA ON TA.TAG_IDENTIFIER = C.AGENCY_ID
WHERE ISNUMERIC(C.TAG_ID) = 1 AND C.TAG_ID NOT LIKE '%.%' AND C.RwN = 1
OPTION (LABEL = 'TOLL_TAGS_LOAD: TOLL_TAGS_STAGE');


IF OBJECT_ID('dbo.TOLL_TAGS_NEW_STAGE')>0 	DROP TABLE dbo.TOLL_TAGS_NEW_STAGE

CREATE TABLE dbo.TOLL_TAGS_NEW_STAGE WITH (CLUSTERED INDEX (TT_ID), DISTRIBUTION = HASH(TAG_ID)) AS    
SELECT	
	TT_ID,AGENCY_ID,TAG_ID,TAG_STATUS,LAST_READ_LOC,LAST_READ_DATE,TAG_TYPE_CODE,OWNER_AGENCY,POS_ID,LAST_UPDATE_TYPE,LAST_UPDATE_DATE
FROM dbo.TOLL_TAGS AS F 
WHERE NOT EXISTS (SELECT 1 FROM dbo.TOLL_TAGS_STAGE AS N WHERE N.TT_ID = F.TT_ID) 
  UNION ALL 
SELECT	
	TT_ID,AGENCY_ID,TAG_ID,TAG_STATUS,LAST_READ_LOC,LAST_READ_DATE,TAG_TYPE_CODE,OWNER_AGENCY,POS_ID,LAST_UPDATE_TYPE,LAST_UPDATE_DATE
FROM dbo.TOLL_TAGS_STAGE AS N
OPTION (LABEL = 'TOLL_TAGS_LOAD: INSERT/UPDATE');

CREATE STATISTICS [STATS_TOLL_TAGS_001] ON dbo.[TOLL_TAGS_NEW_STAGE] ([TAG_ID], [TAG_STATUS], [POS_ID]);
CREATE STATISTICS [STATS_TOLL_TAGS_002] ON dbo.[TOLL_TAGS_NEW_STAGE] ([TAG_STATUS]);
CREATE STATISTICS [STATS_TOLL_TAGS_003] ON dbo.[TOLL_TAGS_NEW_STAGE] ([POS_ID]);
CREATE STATISTICS [STATS_TOLL_TAGS_004] ON dbo.[TOLL_TAGS_NEW_STAGE] ([AGENCY_ID]);


--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.TOLL_TAGS_OLD')>0 	DROP TABLE dbo.TOLL_TAGS_OLD;
IF OBJECT_ID('dbo.TOLL_TAGS')>0			RENAME OBJECT::dbo.TOLL_TAGS TO TOLL_TAGS_OLD;
RENAME OBJECT::dbo.TOLL_TAGS_NEW_STAGE TO TOLL_TAGS;
IF OBJECT_ID('dbo.TOLL_TAGS_OLD')>0 	DROP TABLE dbo.TOLL_TAGS_OLD;

IF OBJECT_ID('dbo.TOLL_TAGS_STAGE')>0 	DROP TABLE dbo.TOLL_TAGS_STAGE

	--IF OBJECT_ID('dbo.TOLL_TAGS_OLD')>0      DROP TABLE dbo.TOLL_TAGS_OLD;
	--IF OBJECT_ID('dbo.TOLL_TAGS')>0          RENAME OBJECT::dbo.TOLL_TAGS TO TOLL_TAGS_OLD;
	--RENAME OBJECT::dbo.TOLL_TAGS_NEW TO TOLL_TAGS; 
	--IF OBJECT_ID('dbo.TOLL_TAGS_OLD')>0      DROP TABLE dbo.TOLL_TAGS_OLD;

	----STEP #3: CREATE STATISTICS
	--CREATE STATISTICS [STATS_TOLL_TAGS_001] ON TOLL_TAGS (TAG_ID);
	--CREATE STATISTICS [STATS_TOLL_TAGS_002] ON TOLL_TAGS (TAG_STATUS);
	--CREATE STATISTICS [STATS_TOLL_TAGS_003] ON TOLL_TAGS (POS_ID);
	--CREATE STATISTICS [STATS_TOLL_TAGS_004] ON TOLL_TAGS (TAG_ID, TAG_STATUS, POS_ID);
		
	--STEP #4: Total Records
	--SELECT COUNT_BIG(1) FROM dbo.TOLL_TAGS;	--8,297,403,729
	--SELECT TOP(100) * FROM dbo.TOLL_TAGS;	--8,297,403,729

