CREATE PROC [DBO].[zzzFACT_UNIFIED_VIOLATION_SNAPSHOT_STEP2_LOAD] @START_DAY_ID [INT],@END_DAY_ID [INT] AS 

/*

USE EDW_RITE 
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STEP2_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STEP2_LOAD
GO


EXEC DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STEP2_LOAD 20180101, 20180331, '1'

*/

----TESTING PARAMETERS ONLY!!!!!!!!!!!!!!!!!!
--DECLARE
--	@START_DAY_ID INT --= 20150701
--	,@END_DAY_ID INT --= 20150731

DECLARE @sql VARCHAR(MAX)

DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT, @LOG_PATTERN VARCHAR(1000)

DECLARE @FROM_DAY_ID INT = CAST(CONVERT(VARCHAR(8),@START_DAY_ID) AS INT)  --In theory it can be not only beginning of the month
DECLARE @TO_DAY_ID  INT = CAST(CONVERT(VARCHAR(8),@END_DAY_ID) AS INT)		--In theory it can be not only ending of the month


SELECT  @SOURCE = 'FACT_UNIFIED_VIOLATION_SNAPSHOT', @LOG_START_DATE = GETDATE(), @LOG_PATTERN = 'FACT_UNIFIED_VIOLATION_SNAPSHOT_LOAD STEP2 from: ' + CAST(@FROM_DAY_ID AS VARCHAR(8)) + ' to: ' + CAST(@TO_DAY_ID AS VARCHAR(8)) /*+ ' proc #' + @PROCESS_NUMBER */ + ': '
--EXEC    dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE,  NULL

--STEP #2: --Calculating partitions ranges for stage table
-- Have to create exactly the same partitions on this table as on the main - it will not work if one partition will not have the same boundaries
 
IF OBJECT_ID('dbo.FACT_UVS_NET_REV_STAGE') IS NOT NULL DROP TABLE dbo.FACT_UVS_NET_REV_STAGE;	

--IF OBJECT_ID('dbo.FACT_UVS_NET_REV_STAGE') IS NULL
--BEGIN


	--STEP #3: --Getting the new information from the main query 
--SET @sql = '
CREATE TABLE dbo.FACT_UVS_NET_REV_STAGE WITH (HEAP, DISTRIBUTION = HASH(LANE_FILE_ID)) AS 
WITH HT AS 
(	
	SELECT SOURCE_TRXN_ID AS TART_ID, TTXN_ID, AMOUNT, CAST(POSTED_DATE AS DATE) POSTED_DATE, SOURCE_CODE, ACCT_ID, TAG_ID, AGENCY_ID,LICENSE_PLATE_ID,LIC_PLATE,LIC_STATE 
	FROM dbo.FACT_TOLL_TRANSACTIONS 
	WHERE	SOURCE_CODE = 'H' AND CREDITED_FLAG =  'N' AND DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID--) F			
)
,IOP AS
(
	SELECT	SOURCE_TXN_ID, POSTED_REVENUE, SOURCE_CODE,TAG_ID, CAST(AGENCY_CODE AS VARCHAR(10)) AS AGENCY_ID, CAST(POSTED_DATE AS DATE) POSTED_DATE
	FROM	dbo.FACT_IOP_TGS IOP 
	WHERE	SOURCE_CODE = 'H' AND DISPOSITION = 'P' AND DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID	 
)
, F AS 
(	SELECT	CASE WHEN ISNULL(F.TRANSACTION_FILE_DETAIL_ID, -1) = -1 THEN 'T' + CAST(F.TART_ID AS VARCHAR(11)) ELSE 'FILE' + CAST(ISNULL(F.TRANSACTION_FILE_DETAIL_ID, -1) AS VARCHAR(10)) END AS LANE_FILE_ID,
			F.TART_ID,F.DAY_ID,F.PMTY_ID,F.VES_SERIAL_NO,F.LANE_ID,F.Local_Time,F.VCLY_ID,F.AVI_TAG_STATUS,COALESCE(NULLIF(F.IOP_TXNS_POSTED_REVENUE,0),NULLIF(IOP.POSTED_REVENUE,0),F.ACT_REV) POS_REV, F.TXID_ID, F.DELETED,
			CAST(COALESCE(HT.TTXN_ID, F.TTXN_ID) AS BIGINT) TTXN_ID,  HIX.LANE_VIOL_ID,COALESCE(F.IOP_TXNS_TAG_ID, IOP.TAG_ID, HT.TAG_ID) TAG_ID,
			COALESCE(NULLIF(F.IOP_TXNS_POSTED_REVENUE,0),NULLIF(IOP.POSTED_REVENUE,0),HT.AMOUNT) POSTED_REVENUE,COALESCE(F.IOP_TXNS_SOURCE_CODE,IOP.SOURCE_CODE,HT.SOURCE_CODE) SOURCE_CODE,
			COALESCE(F.IOP_TXNS_AGENCY_ID,IOP.AGENCY_ID, HT.AGENCY_ID) AGENCY_ID, COALESCE(NULLIF(F.IOP_TXNS_POSTED_DATE,'1900-01-01'),NULLIF(IOP.POSTED_DATE,'1900-01-01'),HT.POSTED_DATE) POSTED_DATE,
			F.TRANSACTION_FILE_DETAIL_ID,F.EAR_REV,HT.LICENSE_PLATE_ID,HT.LIC_PLATE,HT.LIC_STATE, HT.ACCT_ID
	FROM (	SELECT TART_ID,DAY_ID,PMTY_ID,VES_SERIAL_NO,LANE_ID,Local_Time,VCLY_ID,AVI_TAG_STATUS,EAR_REV,IOP_TXNS_POSTED_REVENUE,IOP_TXNS_SOURCE_CODE,	CAST(IOP_TXNS_POSTED_DATE AS DATE) IOP_TXNS_POSTED_DATE,
					IOP_TXNS_TAG_ID,IOP_TXNS_AGENCY_ID,ACT_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,DELETED,	CASE WHEN COALESCE(IOP_TXNS_SOURCE_CODE, '-1') = '-1' THEN -1 ELSE TART_ID END AS TTXN_ID  
			FROM dbo.FACT_NET_REV_TFC_EVTS WHERE DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID AND TART_ID IS NOT NULL
		) F
	LEFT JOIN dbo.HOST_ICRS_XREF HIX		ON F.TART_ID = HIX.TART_ID 
	LEFT JOIN HT									ON HT.TART_ID = F.TART_ID  
	LEFT JOIN IOP									ON IOP.SOURCE_TXN_ID = F.TART_ID  
)
SELECT  
	LANE_FILE_ID
	,F.TART_ID						
	,F.DAY_ID						
	,F.PMTY_ID						
	,F.VCLY_ID						
	,F.AVI_TAG_STATUS				
	,F.LANE_ID						
	,F.Local_Time					
	,F.EAR_REV						
	,F.POS_REV						
	,F.TXID_ID						
	,F.TRANSACTION_FILE_DETAIL_ID	
	,F.VES_SERIAL_NO
	,F.LANE_VIOL_ID
	,F.LICENSE_PLATE_ID
	,F.LIC_PLATE														AS  LIC_PLATE_NBR
	,F.LIC_STATE														AS  LIC_PLATE_STATE
	,F.TTXN_ID
	,F.POSTED_REVENUE
	,F.POSTED_DATE
	,CAST(F.SOURCE_CODE AS VARCHAR(2))									AS  SOURCE_CODE
	,F.ACCT_ID
	,F.TAG_ID
	,F.AGENCY_ID
	,F.DELETED
FROM		   F                                                                                                                
OPTION (LABEL = 'FACT_UNIFIED_VIOLATION_SNAPSHOT LOAD <<F query>>');

--EXEC DBO.PRINT_LONG_VARIABLE_VALUE @sql
--EXECUTE (@sql);

EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = @LOG_PATTERN + ' The F query Stage table finished.'
EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

--END -- IF OBJECT_ID('dbo.FACT_UVS_STAGE' + @TT_NUMBER) IS NOT NULL
--ELSE
--BEGIN
--	SET  @LOG_MESSAGE = @LOG_PATTERN + ' The F query Stage table founded - no need to load again.'
--	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL
	
--END -- ELSE IF OBJECT_ID('dbo.FACT_UVS_STAGE' + @TT_NUMBER) IS NOT NULL

--STEP #4: -- FIND all different rows

-- First all old rows, that was changed (take all existing except all new found - all that was not changed will be excepted)

-- Check if the main table empty - it's not incr load and no need to make some of the steps
--SELECT @INCR_LOAD = CASE WHEN EXISTS (SELECT TOP 1 (1) FROM dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT WHERE DAY_ID BETWEEN CAST(@FIRST_DAY_ID AS INT) AND CAST(@LAST_DAY_ID AS INT)) THEN 1 ELSE 0 END

--STEP #7: SWITCH EVERY CHANGED PARTITIONS for each table 
--SET @sql = '
--IF OBJECT_ID(''dbo.FACT_UVS_TRUNC' + @TT_NUMBER + CHAR(39) +') IS NOT NULL DROP TABLE dbo.FACT_UVS_TRUNC' + @TT_NUMBER + ';	
	
--CREATE TABLE dbo.FACT_UVS_TRUNC' + @TT_NUMBER + ' 	WITH    (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_ID), PARTITION  (DAY_ID RANGE RIGHT FOR VALUES ('+@PART_RANGES+')))		AS
--SELECT * 	FROM    dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT  	WHERE   1=2'
--EXECUTE (@sql);

--IF OBJECT_ID('FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE') IS NULL 
--BEGIN
--	SET @sql = '
--	CREATE TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE	WITH    (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_ID), PARTITION  (DAY_ID RANGE RIGHT FOR VALUES ('+@PART_RANGES+')))		AS
--	SELECT * 	FROM    dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT  	WHERE   1=2'
--	EXECUTE (@sql);
--END


--SET @Cur_Part = @PART_NUM_BEGIN 

---- THIS WORKS BECAUSE ALL the periods in this SP go one by one without any gaps
--WHILE (@Cur_Part <= @PART_NUM_END)
--BEGIN
	
--	SET @sql = '
--	ALTER TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE SWITCH PARTITION ' + CAST(@Cur_Part AS VARCHAR(3)) + ' TO dbo.FACT_UVS_TRUNC' + @TT_NUMBER + ' PARTITION ' + CAST(@Cur_Part AS VARCHAR(3)) + ';
--	ALTER TABLE dbo.FACT_UVS_STAGE' + @TT_NUMBER + ' SWITCH PARTITION ' + CAST(@Cur_Part AS VARCHAR(3)) + ' TO dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE PARTITION ' + CAST(@Cur_Part AS VARCHAR(3)) + ';'
--	--PRINT @sql
--	EXECUTE (@sql);

--	SET @Cur_Part += 1
--END;

--	/*
--	--- Example of query to get SNAPSHOT data from both table on your date
--	SELECT 
--		DAY_ID,TART_ID,PMTY_ID,LANE_ID,Local_Time,EAR_REV,POS_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,LANE_VIOL_ID,VIOL_DATE,AXLE_COUNT,LANE_VIOL_STATUS,LANE_REVIEW_STATUS
--	FROM dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT
--	WHERE DATA_START_DATE <= @YOUR_DATE 
--		AND DAY_ID BETWEEN 20180801 AND 20180831
--	UNION ALL
--	SELECT 
--		DAY_ID,TART_ID,PMTY_ID,LANE_ID,Local_Time,EAR_REV,POS_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,LANE_VIOL_ID,VIOL_DATE,AXLE_COUNT,LANE_VIOL_STATUS,LANE_REVIEW_STATUS
--	FROM dbo.FACT_UNIFIED_VIOLATION_HISTORY
--	WHERE  @YOUR_DATE BETWEEN DATA_START_DATE AND DATA_END_DATE
--		AND DAY_ID BETWEEN 20180801 AND 20180831
--	*/


------STEP #8: UPDATE STATISTICS and DROP all temp tables

---- Drop all temp tables
--/**/
--SET @sql = '
--IF OBJECT_ID(''dbo.FACT_UVS_TRUNC' + @TT_NUMBER + CHAR(39) +') IS NOT NULL DROP TABLE dbo.FACT_UVS_TRUNC' + @TT_NUMBER + ';	
--IF OBJECT_ID(''dbo.FACT_UVS_STAGE' + @TT_NUMBER + CHAR(39) +') IS NOT NULL DROP TABLE dbo.FACT_UVS_STAGE' + @TT_NUMBER + ';'	
--EXECUTE (@sql);

--SET  @LOG_MESSAGE = @LOG_PATTERN + ' LOAD PROCESS FINISHED'
--EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL


