CREATE PROC [dbo].[StatsFullRefresh_FACT_INVOICE_ANALYSIS_DETAIL] AS
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.StatsFullRefresh_FACT_INVOICE_ANALYSIS_DETAIL') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.StatsFullRefresh_FACT_INVOICE_ANALYSIS_DETAIL
GO

EXEC EDW_RITE.DBO.StatsFullRefresh_FACT_INVOICE_ANALYSIS_DETAIL



*/
DECLARE @SQL_DROP VARCHAR(MAX)
DECLARE @SQL_CREATE VARCHAR(MAX)


-- exec CreateStats 'FACT_INVOICE_ANALYSIS_DETAIL'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'FACT_INVOICE_ANALYSIS_DETAIL', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'FACT_INVOICE_ANALYSIS_DETAIL', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'FACT_INVOICE_ANALYSIS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'FACT_INVOICE_ANALYSIS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'FACT_INVOICE_ANALYSIS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'DIM_VIOLATOR_ASOF'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'DIM_VIOLATOR_ASOF', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'DIM_VIOLATOR_ASOF', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)



-- exec CreateStats 'DIM_INVOICE_STATUS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'DIM_INVOICE_STATUS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'DIM_INVOICE_STATUS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)
 



