CREATE PROC [dbo].[TAG_TYPES_LOAD] AS

IF OBJECT_ID('dbo.TAG_TYPES_STAGE')<>0
	DROP TABLE dbo.TAG_TYPES_STAGE

CREATE TABLE dbo.TAG_TYPES_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TAG_TYPE)) 
AS 
SELECT * FROM LND_LG_TS.TIM_OWNER.[TAG_TYPES]
OPTION (LABEL = 'TAG_TYPES_LOAD: CTAS TAG_TYPES_STAGE');

UPDATE dbo.TAG_TYPES
SET TAG_TYPE_DESCR = B.TAG_TYPE_DESCR
	,LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.TAG_TYPES_STAGE B
WHERE 
	dbo.TAG_TYPES.TAG_TYPE = B.TAG_TYPE
	AND 
	dbo.TAG_TYPES.TAG_TYPE_DESCR <> B.TAG_TYPE_DESCR
OPTION (LABEL = 'TAG_TYPES_LOAD: UPDATE TAG_TYPES');

INSERT INTO dbo.TAG_TYPES (TAG_TYPE, TAG_TYPE_DESCR, TAG_TYPE_ORDER, DEFAULT_VALUE_FLAG, ACTIVE_FLAG, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT A.TAG_TYPE, A.TAG_TYPE_DESCR, A.TAG_TYPE_ORDER, A.DEFAULT_VALUE_FLAG, A.ACTIVE_FLAG, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE 
FROM dbo.TAG_TYPES_STAGE A
LEFT JOIN dbo.TAG_TYPES B ON A.TAG_TYPE = B.TAG_TYPE
WHERE B.TAG_TYPE IS NULL
OPTION (LABEL = 'TAG_TYPES_LOAD: INSERT TAG_TYPES');




