CREATE PROC [DBO].[VIOLATION_VB_VIOL_XREF_LOAD] AS 
/*	

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.VIOLATION_VB_VIOL_XREF_LOAD') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.VIOLATION_VB_VIOL_XREF_LOAD
GO

EXEC DBO.VIOLATION_VB_VIOL_XREF_LOAD

SELECT TOP 100 * FROM DBO.VIOLATION_VB_VIOL_XREF  
WHERE VBI_INVOICE_ID = 709232563

SELECT COUNT_BIG(1) FROM DBO.VIOLATION_VB_VIOL_XREF

*/  
--#1	ANDY FILIPPS	2019-02-14	Created new proc

	--STEP #0: --DROP table IF EXISTS  --DECLARE @FROM_DAY_ID  INT = 20150101, @TO_DAY_ID  INT = 20190101

/*
SELECT * FROM edw_rite.dbo.PROCESS_LOG 
WHERE LOG_SOURCE = 'VIOLATION_VB_VIOL_XREF' AND LOG_DATE > '2019-09-01 8:00:00' --AND LOG_MESSAGE LIKE '%proc #1%'
ORDER BY LOG_SOURCE, LOG_DATE

*/


DECLARE @TABLE_NAME VARCHAR(50) = 'VIOLATION_VB_VIOL_XREF', @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT 
DECLARE @VB_VIOL_CONTROL_DATE DATETIME2(2),@VBVI_CONTROL_DATE DATETIME2(2),@VIVI_CONTROL_DATE DATETIME2(2)

SELECT  @LOG_START_DATE = GETDATE(), @LOG_MESSAGE = '#FULL LOAD Started!'
EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL


--SELECT MAX(VIOLATION_ID) FROM VIOLATIONS  
--1 636 838 924
--   50 000 000

--IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_INVOICES_VIOL') IS NULL
BEGIN
	IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_INVOICES_VIOL') IS NOT NULL  DROP TABLE dbo.VIOLATION_VB_VIOL_INVOICES_VIOL
	--IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_INVOICES_VIOL') IS NOT NULL  DROP TABLE dbo.VIOLATION_VB_VIOL_INVOICES_VIOL
	--EXPLAIN
	CREATE TABLE dbo.VIOLATION_VB_VIOL_INVOICES_VIOL WITH (HEAP, DISTRIBUTION = HASH (LAST_INVOICE_ID), PARTITION (PARTITION_VALUES RANGE RIGHT FOR VALUES
	(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60))) AS
	SELECT 
		CAST(CAST(V.VIOLATION_ID AS BIGINT) / 50000000 AS INT)				PARTITION_VALUES
		,CAST(41070000000000 AS BIGINT) + CAST(VI.VIOL_INVOICE_ID AS BIGINT)	LAST_INVOICE_ID 
		,CAST(VI.VIOL_INVOICE_ID AS BIGINT)									VIOL_INVOICE_ID
		,CAST(V.VIOLATION_ID AS BIGINT)										VIOLATION_ID
		,VI.INVOICE_DATE													VIOL_INVOICE_DATE
		,V.VIOL_STATUS														VIOL_STATUS
		,V.TOLL_DUE_AMOUNT													TOLL_DUE
		,V.FINE_AMOUNT														FINE_AMOUNT
		,CASE WHEN V.VIOL_STATUS IN ('L','V') THEN 1 ELSE 0 END				DELETE_STATUS -- SELECT TOP 10 * 
	FROM LND_LG_VPS.VP_OWNER.VIOL_INVOICES VI
	JOIN LND_LG_VPS.VP_OWNER.VIOL_INVOICE_VIOL V ON V.VIOL_INVOICE_ID = VI.VIOL_INVOICE_ID
	OPTION (LABEL = 'VIOLATION_VB_VIOL_XREF: VIOLATION_VB_VIOL_INVOICES_VIOL');

	--WITH VIOL_INV AS
	--(
	--	SELECT
	--		ISNULL(CAST(VBVI.VBI_VBI_INVOICE_ID AS BIGINT), -1) AS	VBI_INVOICE_ID
	--		,CAST(VI.VIOL_INVOICE_ID AS BIGINT)						VIOL_INVOICE_ID
	--		,CONVERT(DATE,VI.INVOICE_DATE)							VIOL_INVOICE_DATE
	--		,ROW_NUMBER() OVER (PARTITION BY ISNULL(4810000000000 + VBVI.VBI_VBI_INVOICE_ID,41070000000000 + VI.VIOL_INVOICE_ID) ORDER BY VI.VIOL_INVOICE_ID DESC) RN
	--		--IN VB_VIOL_INVOICES A SINGLE VB CAN HAVE MULTIPLE VIOL INVOICES FOR OLD DATA SO TO AVOID DUPLICATES WE HAVE TO GET MAX VIOL INVOICE
	--	FROM LND_LG_VPS.VP_OWNER.VIOL_INVOICES VI 
	--	LEFT JOIN LND_LG_VPS.VP_OWNER.VB_VIOL_INVOICES VBVI ON VI.VIOL_INVOICE_ID = VBVI.INV_VIOL_INVOICE_ID
	--)
	--, VIOL_DETAIL AS 
	--(
	--	SELECT 
	--		VIOL_INVOICE_ID, CAST(VIOLATION_ID AS BIGINT) AS VIOLATION_ID, VIOL_STATUS, TOLL_DUE_AMOUNT AS TOLL_DUE, FINE_AMOUNT AS FINE_AMOUNT -- SELECT  *  
	--	FROM LND_LG_VPS.VP_OWNER.VIOL_INVOICE_VIOL V 
	--)
	--SELECT 
	--	CAST(VI_VI.VIOLATION_ID / 50000000 AS INT)				PARTITION_VALUES
	--	,CAST(41070000000000 AS BIGINT) + CAST(VI.VIOL_INVOICE_ID AS BIGINT) 	LAST_INVOICE_ID
	--	,VI_VI.VIOLATION_ID														VIOLATION_ID
	--	,VI.VBI_INVOICE_ID														VBI_INVOICE_ID
	--	,VI.VIOL_INVOICE_ID														VIOL_INVOICE_ID
	--	,VI.VIOL_INVOICE_DATE													VIOL_INVOICE_DATE
	--	,VI_VI.VIOL_STATUS														VIOL_STATUS
	--	,VI_VI.TOLL_DUE															TOLL_DUE
	--	,VI_VI.FINE_AMOUNT														FINE_AMOUNT
	--	,CASE WHEN VI_VI.VIOL_STATUS IN ('L','V') THEN 1 ELSE 0 END				DELETE_STATUS -- SELECT TOP 10 * 
	--FROM VIOL_INV  VI
	--JOIN VIOL_DETAIL AS VI_VI ON VI_VI.VIOL_INVOICE_ID = VI.VIOL_INVOICE_ID
	--WHERE VI.RN = 1
	--OPTION (LABEL = 'VIOLATION_VB_VIOL_XREF: VIOLATION_VB_VIOL_INVOICES_VIOL');

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got VIOL table'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	CREATE STATISTICS STATS_VIOLATION_VB_VIOL_INVOICES_VIOL_000 ON [dbo].VIOLATION_VB_VIOL_INVOICES_VIOL (LAST_INVOICE_ID)
	CREATE STATISTICS STATS_VIOLATION_VB_VIOL_INVOICES_VIOL_001 ON [dbo].VIOLATION_VB_VIOL_INVOICES_VIOL (VIOLATION_ID,VIOL_INVOICE_ID)
	--CREATE STATISTICS STATS_VIOLATION_VB_VIOL_INVOICES_VIOL_002 ON [dbo].VIOLATION_VB_VIOL_INVOICES_VIOL (VIOLATION_ID)
END 


--IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_INVOICES_VBI') IS NULL 
BEGIN
	/*
	IF OBJECT_ID('dbo.VIOLATION_VIOL_VBI_XREF') IS NOT NULL  DROP TABLE dbo.VIOLATION_VIOL_VBI_XREF
	--EXPLAIN
	CREATE TABLE dbo.VIOLATION_VIOL_VBI_XREF WITH (HEAP, DISTRIBUTION = HASH (VBI_INVOICE_ID)) AS
	SELECT
		CAST(VI.VBI_INVOICE_ID AS BIGINT) AS					VBI_INVOICE_ID
		,VBVI.INV_VIOL_INVOICE_ID								VIOL_INVOICE_ID
		,CONVERT(DATE,VI.INVOICE_DATE)							VB_INVOICE_DATE
		,ROW_NUMBER() OVER (PARTITION BY VI.VBI_INVOICE_ID ORDER BY ISNULL(VBVI.INV_VIOL_INVOICE_ID, -1) DESC) RN
	FROM LND_LG_VPS.VP_OWNER.VB_INVOICES VI 
	LEFT JOIN LND_LG_VPS.VP_OWNER.VB_VIOL_INVOICES VBVI ON VI.VBI_INVOICE_ID = VBVI.VBI_VBI_INVOICE_ID
	OPTION (LABEL = 'VIOLATION_VB_VIOL_XREF: VIOLATION_VIOL_VBI_XREF');

	IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_INVOICES_VBI') IS NOT NULL  DROP TABLE dbo.VIOLATION_VB_VIOL_INVOICES_VBI
	--EXPLAIN
	CREATE TABLE dbo.VIOLATION_VB_VIOL_INVOICES_VBI WITH (HEAP, DISTRIBUTION = HASH (LAST_INVOICE_ID), PARTITION (PARTITION_VALUES RANGE RIGHT FOR VALUES
	(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60))) AS
	WITH VIOL_DETAIL AS 
	(
		SELECT 
			VBI_INVOICE_ID, CAST(VIOLATION_ID AS BIGINT) AS VIOLATION_ID, VIOL_STATUS, TOLL_DUE AS TOLL_DUE  
		FROM LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL V 
	)
	SELECT 
		CAST(VI_VI.VIOLATION_ID / 50000000 AS INT)								PARTITION_VALUES
		,ISNULL(CAST(41070000000000 AS BIGINT) + CAST(VI.VIOL_INVOICE_ID AS BIGINT),
				CAST(4810000000000 AS BIGINT) + CAST(VI.VBI_INVOICE_ID AS BIGINT)) 	LAST_INVOICE_ID
		,VI_VI.VIOLATION_ID														VIOLATION_ID
		,VI.VBI_INVOICE_ID														VBI_INVOICE_ID
		,ISNULL(CAST(VI.VIOL_INVOICE_ID AS BIGINT), -1)							VIOL_INVOICE_ID
		,VI.VB_INVOICE_DATE														VB_INVOICE_DATE
		,VI_VI.VIOL_STATUS														VIOL_STATUS
		,VI_VI.TOLL_DUE															TOLL_DUE
		,CASE WHEN VI_VI.VIOL_STATUS IN ('L','V') THEN 1 ELSE 0 END				DELETE_STATUS -- SELECT TOP 10 * 
	FROM dbo.VIOLATION_VIOL_VBI_XREF  VI  -- VIOL_INV VI
	JOIN VIOL_DETAIL AS VI_VI ON VI_VI.VBI_INVOICE_ID = VI.VBI_INVOICE_ID
	WHERE VI.RN = 1
	OPTION (LABEL = 'VIOLATION_VB_VIOL_XREF: VIOLATION_VB_VIOL_INVOICES_VBI');
	IF OBJECT_ID('dbo.VIOLATION_VIOL_VBI_XREF') IS NOT NULL  DROP TABLE dbo.VIOLATION_VIOL_VBI_XREF


	*/
	IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_INVOICES_VBI') IS NOT NULL  DROP TABLE dbo.VIOLATION_VB_VIOL_INVOICES_VBI
	--EXPLAIN
	CREATE TABLE dbo.VIOLATION_VB_VIOL_INVOICES_VBI WITH (HEAP, DISTRIBUTION = HASH (LAST_INVOICE_ID), PARTITION (PARTITION_VALUES RANGE RIGHT FOR VALUES
	(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60))) AS
	WITH VIOL_INV AS
	(
		SELECT
			CAST(VI.VBI_INVOICE_ID AS BIGINT) AS					VBI_INVOICE_ID
			,VBVI.INV_VIOL_INVOICE_ID								VIOL_INVOICE_ID
			,CONVERT(DATE,VI.INVOICE_DATE)							VB_INVOICE_DATE
			,ROW_NUMBER() OVER (PARTITION BY VI.VBI_INVOICE_ID ORDER BY ISNULL(VBVI.INV_VIOL_INVOICE_ID, -1) DESC) RN
			--IN VB_VIOL_INVOICES A SINGLE VB CAN HAVE MULTIPLE VIOL INVOICES FOR OLD DATA SO TO AVOID DUPLICATES WE HAVE TO GET MAX VIOL INVOICE
		FROM LND_LG_VPS.VP_OWNER.VB_INVOICES VI 
		LEFT JOIN LND_LG_VPS.VP_OWNER.VB_VIOL_INVOICES VBVI ON VI.VBI_INVOICE_ID = VBVI.VBI_VBI_INVOICE_ID
	)
	, VIOL_DETAIL AS 
	(
		SELECT 
			VBI_INVOICE_ID, CAST(VIOLATION_ID AS BIGINT) AS VIOLATION_ID, VIOL_STATUS, TOLL_DUE AS TOLL_DUE  
		FROM LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL V 
	)
	SELECT 
		CAST(VI_VI.VIOLATION_ID / 50000000 AS INT)								PARTITION_VALUES
		,ISNULL(CAST(41070000000000 AS BIGINT) + CAST(VI.VIOL_INVOICE_ID AS BIGINT),
				CAST(4810000000000 AS BIGINT) + CAST(VI.VBI_INVOICE_ID AS BIGINT)) 	LAST_INVOICE_ID
		,VI_VI.VIOLATION_ID														VIOLATION_ID
		,VI.VBI_INVOICE_ID														VBI_INVOICE_ID
		,ISNULL(CAST(VI.VIOL_INVOICE_ID AS BIGINT), -1)							VIOL_INVOICE_ID
		,VI.VB_INVOICE_DATE														VB_INVOICE_DATE
		,VI_VI.VIOL_STATUS														VIOL_STATUS
		,VI_VI.TOLL_DUE															TOLL_DUE
		,CASE WHEN VI_VI.VIOL_STATUS IN ('L','V') THEN 1 ELSE 0 END				DELETE_STATUS -- SELECT TOP 10 * 
	FROM VIOL_INV  VI
	JOIN VIOL_DETAIL AS VI_VI ON VI_VI.VBI_INVOICE_ID = VI.VBI_INVOICE_ID
	WHERE VI.RN = 1
	OPTION (LABEL = 'VIOLATION_VB_VIOL_XREF: VIOLATION_VB_VIOL_INVOICES_VBI');

	--SELECT 
	--	CAST(CAST(V.VIOLATION_ID AS BIGINT) / 50000000 AS INT)				PARTITION_VALUES
	--	,CAST(4810000000000 AS BIGINT) + CAST(VB.VBI_INVOICE_ID AS BIGINT)	LAST_INVOICE_ID 
	--	,CAST(VB.VBI_INVOICE_ID AS BIGINT)									VBI_INVOICE_ID
	--	,CAST(V.VIOLATION_ID AS BIGINT)										VIOLATION_ID
	--	,VB.INVOICE_DATE													VB_INVOICE_DATE
	--	,V.VIOL_STATUS														VIOL_STATUS
	--	,V.TOLL_DUE															TOLL_DUE
	--	,CASE WHEN V.VIOL_STATUS IN ('L','V') THEN 1 ELSE 0 END				DELETE_STATUS -- SELECT TOP 10 * 
	--FROM LND_LG_VPS.VP_OWNER.VB_INVOICES VB
	--JOIN LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL V ON V.VBI_INVOICE_ID = VB.VBI_INVOICE_ID
	--OPTION (LABEL = 'VIOLATION_VB_VIOL_XREF: VIOLATION_VB_VIOL_INVOICES_VBI');

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got VBI table'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	CREATE STATISTICS STATS_VIOLATION_VB_VIOL_INVOICES_VBI_000 ON [dbo].VIOLATION_VB_VIOL_INVOICES_VBI (LAST_INVOICE_ID)
	CREATE STATISTICS STATS_VIOLATION_VB_VIOL_INVOICES_VBI_001 ON [dbo].VIOLATION_VB_VIOL_INVOICES_VBI (VIOLATION_ID,VIOL_INVOICE_ID)
	--CREATE STATISTICS STATS_VIOLATION_VB_VIOL_INVOICES_VBI_002 ON [dbo].VIOLATION_VB_VIOL_INVOICES_VBI (VIOLATION_ID)
END


BEGIN
	IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_XREF_STAGE') IS NOT NULL  DROP TABLE dbo.VIOLATION_VB_VIOL_XREF_STAGE

	CREATE TABLE dbo.VIOLATION_VB_VIOL_XREF_STAGE WITH (CLUSTERED INDEX (VIOLATION_ID), DISTRIBUTION = HASH (LAST_INVOICE_ID), PARTITION (PARTITION_VALUES RANGE RIGHT FOR VALUES
	(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60))) AS
	WITH CTE_FULL_JOIN AS
	(
		SELECT 
			ISNULL(VI.PARTITION_VALUES,VB.PARTITION_VALUES)			PARTITION_VALUES
			,ISNULL(CAST(41070000000000 AS BIGINT) + VI.VIOL_INVOICE_ID,CAST(4810000000000 AS BIGINT) + VB.VBI_INVOICE_ID) 	LAST_INVOICE_ID
			,ISNULL(VI.VIOLATION_ID,VB.VIOLATION_ID)				VIOLATION_ID
			,ISNULL(VI.VIOL_STATUS,VB.VIOL_STATUS)					VIOL_STATUS
			,ISNULL(VB.VBI_INVOICE_ID ,-1)							VBI_INVOICE_ID
			,ISNULL(VI.VIOL_INVOICE_ID,-1)							VIOL_INVOICE_ID
			,VB.VB_INVOICE_DATE 									VB_INVOICE_DATE
			,VI.VIOL_INVOICE_DATE									VIOL_INVOICE_DATE							
			,ISNULL(VI.TOLL_DUE,VB.TOLL_DUE)						TOLL_DUE
			,ISNULL(VI.FINE_AMOUNT,0)								FINE_AMOUNT
			,ISNULL(VI.DELETE_STATUS,VB.DELETE_STATUS)				DELETE_STATUS
			,ROW_NUMBER() OVER (PARTITION BY ISNULL(VI.VIOLATION_ID,VB.VIOLATION_ID) ORDER BY ISNULL(VI.DELETE_STATUS,VB.DELETE_STATUS) ASC, ISNULL(VI.LAST_INVOICE_ID,VB.LAST_INVOICE_ID) DESC) FIRST_IS_CURRENT
		FROM dbo.VIOLATION_VB_VIOL_INVOICES_VIOL VI
		FULL OUTER JOIN dbo.VIOLATION_VB_VIOL_INVOICES_VBI VB ON VB.LAST_INVOICE_ID = VI.LAST_INVOICE_ID AND VB.VIOLATION_ID = VI.VIOLATION_ID
	)
	SELECT 
		 ISNULL(PARTITION_VALUES, -1) PARTITION_VALUES
		,ISNULL(LAST_INVOICE_ID	, -1) LAST_INVOICE_ID
		,VIOLATION_ID
		,VIOL_STATUS
		,VBI_INVOICE_ID
		,VIOL_INVOICE_ID
		,VB_INVOICE_DATE
		,VIOL_INVOICE_DATE
		,TOLL_DUE
		,FINE_AMOUNT
		,CAST(DELETE_STATUS AS SMALLINT) DELETE_STATUS
		,CAST(CASE WHEN FIRST_IS_CURRENT = 1 THEN 1 ELSE 0 END AS SMALLINT) AS CURRENT_FLAG
	FROM CTE_FULL_JOIN
	OPTION (LABEL = 'VIOLATION_VB_VIOL_XREF LOAD');

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'VIOLATION_VB_VIOL_XREF: VIOLATION_VB_VIOL_XREF_STAGE'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	CREATE STATISTICS STATS_VIOLATION_VB_VIOL_XREF_000 ON [dbo].VIOLATION_VB_VIOL_XREF_STAGE (LAST_INVOICE_ID)
	CREATE STATISTICS STATS_VIOLATION_VB_VIOL_XREF_001 ON [dbo].VIOLATION_VB_VIOL_XREF_STAGE (DELETE_STATUS)
	CREATE STATISTICS STATS_VIOLATION_VB_VIOL_XREF_002 ON [dbo].VIOLATION_VB_VIOL_XREF_STAGE (VBI_INVOICE_ID,VB_INVOICE_DATE)
	CREATE STATISTICS STATS_VIOLATION_VB_VIOL_XREF_003 ON [dbo].VIOLATION_VB_VIOL_XREF_STAGE (VIOL_INVOICE_ID,VIOL_INVOICE_DATE)
	CREATE STATISTICS STATS_VIOLATION_VB_VIOL_XREF_004 ON [dbo].VIOLATION_VB_VIOL_XREF_STAGE (CURRENT_FLAG)
	CREATE STATISTICS STATS_VIOLATION_VB_VIOL_XREF_005 ON [dbo].VIOLATION_VB_VIOL_XREF_STAGE (VIOL_STATUS,VIOLATION_ID)

	---- Replace OLD table with NEW
	IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_XREF_OLD')>0 	DROP TABLE dbo.VIOLATION_VB_VIOL_XREF_OLD;
	IF OBJECT_ID('dbo.VIOLATION_VB_VIOL_XREF')>0		RENAME OBJECT::dbo.VIOLATION_VB_VIOL_XREF TO VIOLATION_VB_VIOL_XREF_OLD;
	RENAME OBJECT::dbo.VIOLATION_VB_VIOL_XREF_STAGE TO VIOLATION_VB_VIOL_XREF;

	SELECT OBJECT_ID('dbo.VIOLATION_VB_VIOL_XREF_STAGE')
END

SELECT @VB_VIOL_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VB_VIOL_INVOICES
DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VB_VIOL_INVOICES'
INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VB_VIOL_INVOICES', LAST_RUN_DATE = @VB_VIOL_CONTROL_DATE

SELECT @VBVI_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL
DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VB_INVOICE_VIOL'
INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VB_INVOICE_VIOL', LAST_RUN_DATE = @VBVI_CONTROL_DATE

SELECT @VIVI_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VIOL_INVOICE_VIOL
DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VIOL_INVOICE_VIOL'
INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'VIOLATION_VB_VIOL_XREF&VIOL_INVOICE_VIOL', LAST_RUN_DATE = @VIVI_CONTROL_DATE

SET  @LOG_MESSAGE = '#FULL LOAD Finisfed!!!'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL

