CREATE PROC [DBO].[FACT_BALANCE_HISTORY_TGS_LOAD_NEW] AS

--DECLARE @STARTING_BALANCE_DATE DATETIME2 = '2012-01-01 00:00:00.000'
--DECLARE @ENDING_BALANCE_DATE DATETIME2 = EOMONTH(GETDATE())

IF OBJECT_ID('DBO.ACC_Months_For_Balance') is not null DROP TABLE DBO.ACC_Months_For_Balance

CREATE TABLE DBO.ACC_Months_For_Balance
WITH (DISTRIBUTION = HASH(POSTED_DATE))
AS
WITH Months_CTE AS 
(
SELECT DATE_MONTH, DATE_YEAR, MIN(DIM_DATE.DATE) AS MINDATE --MAX(DIM_DATE.DATE) AS MAXDATE, 
FROM [dbo].[DIM_DATE] 
WHERE DIM_DATE.DATE BETWEEN '1998-11-01' AND '2019-01-01'
GROUP BY DATE_MONTH, DATE_YEAR
),
ACC_CTE AS 
(
SELECT
	TXN.ACCT_ID AS ACCT_ID,	   
	CAST(MIN(TXN.POSTED_DATE) AS DATE) MIN_POSTED_DATE
FROM LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS TXN
--WHERE TXN.ACCT_ID = 522351
GROUP BY TXN.ACCT_ID
)
SELECT ACCT_ID, MINDATE AS POSTED_DATE
FROM ACC_CTE AS TXN
LEFT JOIN Months_CTE AS MM ON MM.MINDATE > TXN.MIN_POSTED_DATE

IF OBJECT_ID('DBO.TEMP_TGS_TOLL_TRANSACTIONS') is not null DROP TABLE DBO.TEMP_TGS_TOLL_TRANSACTIONS

CREATE TABLE DBO.TEMP_TGS_TOLL_TRANSACTIONS
WITH (DISTRIBUTION = HASH(POSTED_DATE))
AS
SELECT
	ACCT_ID AS ACCT_ID,	   
	CAST(POSTED_DATE AS DATE) POSTED_DATE,
	SUM(ISNULL(AMOUNT,0.00)) AS AMOUNT,
	SUM(1) AS TOLL_CNT
FROM LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS  
--WHERE ACCT_ID = 522351
GROUP BY ACCT_ID, CAST(POSTED_DATE AS DATE)

IF OBJECT_ID('DBO.TEMP_TGS_RETAIL_TRANSACTIONS') is not null DROP TABLE DBO.TEMP_TGS_RETAIL_TRANSACTIONS   

CREATE TABLE DBO.TEMP_TGS_RETAIL_TRANSACTIONS
WITH(DISTRIBUTION = HASH(POSTED_DATE))
AS
SELECT -- SELECT TOP 100 * FROM LND_LG_TS.TAG_OWNER.TRANSACTION_TYPES
	RT.ACCT_ID,             
	CAST(RT.POSTED_DATE AS DATE) AS POSTED_DATE,
	SUM(CASE WHEN TT.BALANCE_MULTIPLIER > 0 THEN ISNULL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS DT_AMOUNT,
	SUM(CASE WHEN TT.BALANCE_MULTIPLIER < 0 THEN ISNULL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS CT_AMOUNT
FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS RT  
 JOIN LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS RTD ON RT.RETAIL_TRANS_ID = RTD.RETAIL_TRANS_ID 		   
													AND RT.TRANS_STATUS = 'A'
													AND RTD.TRANS_STATUS = 'A'	
													AND RTD.LAST_UPDATE_TYPE != 'D'		  
 JOIN LND_LG_TS.TAG_OWNER.TRANSACTION_TYPES TT ON  RTD.TRANS_TYPE_ID = TT.TRANS_TYPE_ID
  AND TT.BALANCE_MULTIPLIER != 0
  AND TT.STATEMENT_FLAG = 'Y'
--WHERE RT.ACCT_ID = 522351
GROUP BY RT.ACCT_ID, CAST(RT.POSTED_DATE AS DATE)

CREATE TABLE DBO.TEMP_TGS_TRANSACTIONS_SUMMARY
WITH(DISTRIBUTION = HASH(DATE_ID))
AS
WITH UNION_CTE AS (
SELECT -- SELECT TOP 100 * FROM LND_LG_TS.TAG_OWNER.TRANSACTION_TYPES
	ACCT_ID,             
	DT_AMOUNT AS DT_AMOUNT,
	CT_AMOUNT AS CT_AMOUNT,
	0 AS TOLL_CNT,
	POSTED_DATE
FROM DBO.TEMP_TGS_RETAIL_TRANSACTIONS
UNION ALL
SELECT -- SELECT TOP 100 * FROM LND_LG_TS.TAG_OWNER.TRANSACTION_TYPES
	ACCT_ID,             
	0.00 AS DT_AMOUNT,
	AMOUNT AS CT_AMOUNT,
	TOLL_CNT AS TOLL_CNT,
	POSTED_DATE
FROM DBO.TEMP_TGS_TOLL_TRANSACTIONS
UNION ALL
SELECT -- SELECT TOP 100 * FROM LND_LG_TS.TAG_OWNER.TRANSACTION_TYPES
	ACCT_ID,             
	0.00 AS DT_AMOUNT,
	0.00 AS CT_AMOUNT,
	0 AS TOLL_CNT,
	POSTED_DATE
FROM DBO.ACC_Months_For_Balance
)
SELECT ACCT_ID,             
	SUM(DT_AMOUNT) AS DEBIT,
	SUM(CT_AMOUNT) AS CREDIT,
	SUM(DT_AMOUNT) - SUM(CT_AMOUNT) AS BALANCE,
	SUM(TOLL_CNT) AS TOLL_CNT,
	POSTED_DATE,
	CONVERT(INT,CONVERT(VARCHAR,MIN(POSTED_DATE),112)) AS DATE_ID
FROM UNION_CTE
GROUP BY ACCT_ID, POSTED_DATE

CREATE TABLE DBO.FACT_BALANCE_HISTORY_TGS_NEW_STAGE
WITH(DISTRIBUTION = HASH(DATE_ID))
AS
SELECT
	ACCT_ID,             
	DATE_ID,
	SUM(BALANCE) OVER (PARTITION BY ACCT_ID ORDER BY DATE_ID ASC ROWS UNBOUNDED PRECEDING) AS BALANCE,
	SUM(DEBIT) OVER (PARTITION BY ACCT_ID ORDER BY DATE_ID ASC ROWS UNBOUNDED PRECEDING) AS TOTAL_DEBIT,
	SUM(CREDIT) OVER (PARTITION BY ACCT_ID ORDER BY DATE_ID ASC ROWS UNBOUNDED PRECEDING) AS TOTAL_CREDIT,
	SUM(TOLL_CNT) OVER (PARTITION BY ACCT_ID ORDER BY DATE_ID ASC ROWS UNBOUNDED PRECEDING) AS TOTAL_TOLL_CNT,
	DEBIT AS DEBIT,
	CREDIT AS CREDIT,
	TOLL_CNT AS TOLL_CNT
FROM DBO.TEMP_TGS_TRANSACTIONS_SUMMARY

IF OBJECT_ID('DBO.FACT_BALANCE_HISTORY_TGS_NEW_OLD') > 0 DROP TABLE dbo.FACT_BALANCE_HISTORY_TGS_NEW_OLD;
IF OBJECT_ID('DBO.FACT_BALANCE_HISTORY_TGS_NEW') > 0 RENAME OBJECT::dbo.FACT_BALANCE_HISTORY_TGS_NEW TO FACT_BALANCE_HISTORY_TGS_NEW_OLD;
IF OBJECT_ID('DBO.FACT_BALANCE_HISTORY_TGS_NEW_STAGE') > 0 RENAME OBJECT::DBO.FACT_BALANCE_HISTORY_TGS_NEW_STAGE TO FACT_BALANCE_HISTORY_TGS_NEW;
IF OBJECT_ID('DBO.FACT_BALANCE_HISTORY_TGS_NEW_OLD') > 0 DROP TABLE dbo.FACT_BALANCE_HISTORY_TGS_NEW_OLD;

/*
SELECT * FROM DBO.FACT_BALANCE_HISTORY_TGS WHERE ACCT_ID = 522351 order by date_id

SELECT * FROM DBO.FACT_BALANCE_HISTORY_TGS_NEW WHERE ACCT_ID = 522351 order by date_id

*/
