CREATE PROC [DBO].[FACT_INVOICE_DETAIL_LOAD] AS 
--2019-04-02 Ranjith Nair Commented INNER JOIN dbo.DIM_VIOLATOR_ASOF to avoid missing the older partitions.  

/*
DROP PROC [DBO].[FACT_INVOICE_DETAIL_LOAD]

*/


/*
	SELECT TOP 100 * FROM FACT_INVOICE_ANALYSIS_DETAIL
	SELECT PARTITION_DATE FROM PARTITION_AS_OF_DATE_CONTROL order by PARTITION_DATE DESC
	SELECT * FROM SYSOBJECTS WHERE name = 'FACT_INVOICE_DETAIL_LOAD'

	
*/

--DECLARE @STATS_EXISTS bit = (SELECT 0)
DECLARE @PARTITION_DATE date = (SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A --INNER JOIN dbo.DIM_VIOLATOR_ASOF B ON A.PARTITION_DATE = B.PARTITION_DATE 
								ORDER BY A.PARTITION_DATE DESC); --PRINT @PARTITION_DATE

EXEC dbo.PARTITION_AS_OF_DATE_TABLE_UPDATE 'FACT_INVOICE_ANALYSIS_DETAIL', @PARTITION_DATE


--INSERT INTO dbo.FACT_INVOICE_ANALYSIS_DETAIL
--(
--   VIOLATOR_ID, PARTITION_DATE, VIOLATION_ID
-- , CURRENT_INVOICE_LEVEL_FLAG
-- , VBI_INVOICE_ID
-- , VB_INV_DATE
-- , VB_INV_DATE_EXCUSED
-- , VIOL_INVOICE_ID
-- , CONVERTED_DATE
-- , VIOL_INV_DATE_EXCUSED
-- , VIOL_DATE, VIOL_TIME_ID
-- , VIOL_POST_DATE
-- , VIOL_PAID_DATE
-- , VIOL_STATUS_DATE
-- , VIOL_DATE_EXCUSED
-- , VIOLATION_OR_ZIPCASH
-- , LANE_ID
-- , SOURCE_CODE
-- , INV_DTL_VIOL_STATUS
-- , VIOL_STATUS
-- , LAST_VIOLATOR_ID
-- , TRANSACTION_ID
-- , DISPOSITION
-- , VPS_HOST_POSTED_REVENUE, VPS_HOST_POSTED_DATE, VIOL_TYPE
-- , TOLL_DUE, VEHICLE_CLASS
-- , AMT_PAID
-- , AMT_PAID_ADJ
-- , VIOL_AMT_PAID
-- , VIOL_LEFT_ON_INV_FLAG 
-- , INSERT_DATE
--)
IF OBJECT_ID('dbo.FACT_INVOICE_ANALYSIS_DETAIL_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_ANALYSIS_DETAIL_STAGE

CREATE TABLE [dbo].FACT_INVOICE_ANALYSIS_DETAIL_STAGE WITH (DISTRIBUTION = HASH([VIOLATOR_ID])) AS
-- EXPLAIN--SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME IN ('FACT_INVOICE_ANALYSIS_DETAIL_STAGE','FACT_INVOICE_ANALYSIS_DETAIL') ORDER BY ORDINAL_POSITION, COLUMN_NAME, TABLE_NAME
SELECT --TOP 100 
   A.VIOLATOR_ID
 , @PARTITION_DATE AS PARTITION_DATE
 , A.VIOLATION_ID
 , CASE WHEN CUR_INV_SET.VIOLATION_ID IS NOT NULL THEN 1 ELSE 0 END AS CURRENT_INVOICE_LEVEL_FLAG
 , A.VBI_INVOICE_ID
 , A.VB_INV_DATE
 , A.VB_INV_DATE_EXCUSED
 , A.VIOL_INVOICE_ID
 , A.CONVERTED_DATE
 , A.VIOL_INV_DATE_EXCUSED
 , A.VIOL_DATE, A.VIOL_TIME_ID
 , A.VIOL_POST_DATE
 , A.VIOL_PAID_DATE
 , A.VIOL_STATUS_DATE
 , A.VIOL_DATE_EXCUSED
 , A.VIOLATION_OR_ZIPCASH
 , A.LANE_ID
 , A.SOURCE_CODE
 , A.INV_DTL_VIOL_STATUS
 , A.LAST_VIOL_STATUS
 , A.LAST_VIOLATOR_ID
 , A.TRANSACTION_ID 
 , CAST(A.DISPOSITION AS VARCHAR(2)) DISPOSITION
 , VPS_HOST_POSTED_REVENUE, VPS_HOST_POSTED_DATE, A.VIOL_TYPE
 , A.TOLL_DUE_ON_VIOL, A.VEHICLE_CLASS
 , A.AMT_PAID
 , Case When INV_DTL_VIOL_STATUS Not In ('L','V') THEN A.AMT_PAID ELSE 0 END AS AMT_PAID_ADJ
 , A.VIOL_AMT_PAID
 , A.VIOL_LEFT_ON_INV_FLAG
 , GETDATE() AS INSERT_DATE--SELECT COUNT(1)--1,309,600,467
FROM dbo.FACT_INVOICE_DETAIL_STAGE A
LEFT JOIN dbo.FACT_INVOICE_DETAIL_VIOLATION_CURRENT_INVOICE_STAGE CUR_INV_SET 
ON	 A.VIOLATION_ID = CUR_INV_SET.VIOLATION_ID
	AND A.VBI_INVOICE_ID = CUR_INV_SET.VBI_INVOICE_ID 
	AND A.VIOL_INVOICE_ID = CUR_INV_SET.VIOL_INVOICE_ID 
OPTION (LABEL = 'FACT_INVOICE_DETAIL_LOAD: FACT_INVOICE_ANALYSIS_DETAIL_STAGE');

IF OBJECT_ID('dbo.VIOLATION_HAS_BEEN_INVOICED_STAGE')>0
	DROP TABLE dbo.VIOLATION_HAS_BEEN_INVOICED_STAGE

CREATE TABLE dbo.VIOLATION_HAS_BEEN_INVOICED_STAGE WITH (DISTRIBUTION = HASH(VIOLATION_ID)) --787,843,883
AS 

SELECT VBIV.VIOLATION_ID
FROM  EDW_RITE.dbo.VB_INVOICE_VIOL VBIV 
INNER JOIN dbo.VB_INVOICES VBI ON VBIV.VBI_INVOICE_ID = VBI.VBI_INVOICE_ID

UNION 

SELECT VIV.VIOLATION_ID
FROM  EDW_RITE.dbo.VIOL_INVOICE_VIOL VIV 
INNER JOIN dbo.VIOL_INVOICES VI ON VIV.VIOL_INVOICE_ID = VI.VIOL_INVOICE_ID

OPTION (LABEL = 'FACT_INVOICE_DETAIL_LOAD: VIOLATION_HAS_BEEN_INVOICED_STAGE');


--INSERT INTO dbo.FACT_INVOICE_ANALYSIS_DETAIL
--(
--   VIOLATOR_ID, PARTITION_DATE, VIOLATION_ID
-- , CURRENT_INVOICE_LEVEL_FLAG
-- , VBI_INVOICE_ID
-- , VB_INV_DATE
-- , VB_INV_DATE_EXCUSED
-- , VIOL_INVOICE_ID
-- , CONVERTED_DATE
-- , VIOL_INV_DATE_EXCUSED
-- , VIOL_DATE, VIOL_TIME_ID
-- , VIOL_POST_DATE
-- , VIOL_PAID_DATE
-- , VIOL_STATUS_DATE
-- , VIOL_DATE_EXCUSED
-- , VIOLATION_OR_ZIPCASH
-- , LANE_ID
-- , SOURCE_CODE
-- , INV_DTL_VIOL_STATUS
-- , VIOL_STATUS
-- , LAST_VIOLATOR_ID
-- , TRANSACTION_ID
-- , DISPOSITION, VPS_HOST_POSTED_REVENUE, VPS_HOST_POSTED_DATE, VIOL_TYPE
-- , TOLL_DUE
-- , VEHICLE_CLASS
-- , AMT_PAID
-- , AMT_PAID_ADJ
-- , VIOL_AMT_PAID
-- , VIOL_LEFT_ON_INV_FLAG
-- , INSERT_DATE
--)
IF OBJECT_ID('dbo.FACT_INVOICE_ANALYSIS_DETAIL_STAGE_ONE')>0
	DROP TABLE dbo.FACT_INVOICE_ANALYSIS_DETAIL_STAGE_ONE

CREATE TABLE [dbo].FACT_INVOICE_ANALYSIS_DETAIL_STAGE_ONE WITH (DISTRIBUTION = HASH([VIOLATOR_ID])) AS
-- EXPLAIN--SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME IN ('FACT_INVOICE_ANALYSIS_DETAIL_STAGE_ONE','FACT_INVOICE_ANALYSIS_DETAIL') ORDER BY ORDINAL_POSITION, COLUMN_NAME, TABLE_NAME
SELECT	--TOP(100)
		  A.VIOLATOR_ID
		, @PARTITION_DATE AS PARTITION_DATE
		, A.VIOLATION_ID
		, 1 AS CURRENT_INVOICE_LEVEL_FLAG
		, -1 AS VBI_INVOICE_ID
		, '1/1/1900' AS VB_INV_DATE
		, '1/1/1900' AS VB_INV_DATE_EXCUSED
		, -1 AS VIOL_INVOICE_ID
		, '1/1/1900' AS CONVERTED_DATE
		, '1/1/1900' AS VIOL_INV_DATE_EXCUSED
		, A.VIOL_DATE, A.VIOL_TIME_ID
		, ISNULL(A.POST_DATE,'1/1/1900') AS VIOL_POST_DATE
		, CASE WHEN vs.viol_status_sum_group = 'Paid' THEN A.STATUS_DATE ELSE '1/1/1900' END AS VIOL_PAID_DATE
		, ISNULL(A.STATUS_DATE,'1/1/1900') AS VIOL_STATUS_DATE
		, ISNULL(A.DATE_EXCUSED,'1/1/1900') AS VIOL_DATE_EXCUSED
		, ISNULL(A.VIOLATION_OR_ZIPCASH,'-1') AS VIOLATION_OR_ZIPCASH
		, A.LANE_ID
		, ISNULL(vht.SOURCE_CODE,'-1') AS SOURCE_CODE
		, '-1' AS INV_DTL_VIOL_STATUS
		, A.VIOL_STATUS
		, A.VIOLATOR_ID AS LAST_VIOLATOR_ID
		, ISNULL(vht.TRANSACTION_ID,-1) AS TRANSACTION_ID
		, ISNULL(CAST(REPLACE(vht.DISPOSITION, '-', '-1')AS VARCHAR(2)),'-1') AS DISPOSITION
		, ISNULL(vht.POSTED_REVENUE,0) AS VPS_HOST_POSTED_REVENUE
		, ISNULL(vht.POSTED_DATE,'1/1/1900') AS VPS_HOST_POSTED_DATE
		, ISNULL(A.VIOL_TYPE,'-1') AS VIOL_TYPE
		, A.TOLL_DUE
		, A.VEHICLE_CLASS
		, A.TOLL_PAID AS AMT_PAID
		, A.TOLL_PAID AS AMT_PAID_ADJ
		, A.TOLL_PAID AS VIOL_AMT_PAID
		, 0 As VIOL_LEFT_ON_INV_FLAG
		, GETDATE() AS INSERT_DATE--SELECT COUNT(1)--1,104,103,114
FROM dbo.VIOLATIONS_DIST_ON_VIOLATION_ID A
INNER JOIN dbo.VIOL_STATUS vs on A.VIOL_STATUS = vs.VIOL_STATUS
LEFT JOIN dbo.VIOLATION_HAS_BEEN_INVOICED_STAGE B ON A.VIOLATION_ID = B.VIOLATION_ID
LEFT JOIN dbo.VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID vht ON A.VIOLATION_ID = vht.violation_id
--LEFT JOIN dbo.FACT_INVOICE_UNINVOICED_PAYMENT_STAGE uninv on A.VIOLATION_ID = uninv.VIOLATION_ID
AND B.VIOLATION_ID IS NULL
OPTION (LABEL = 'FACT_INVOICE_DETAIL_LOAD: FACT_INVOICE_ANALYSIS_DETAIL_STAGE_ONE');

IF OBJECT_ID('dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL')>0
	DROP TABLE dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL

CREATE TABLE [dbo].FACT_INVOICE_ANALYSIS_DETAIL_FINAL WITH (DISTRIBUTION = HASH([VIOLATOR_ID])) AS
-- EXPLAIN--SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo' AND TABLE_NAME IN ('FACT_INVOICE_ANALYSIS_DETAIL_FINAL','FACT_INVOICE_ANALYSIS_DETAIL') ORDER BY ORDINAL_POSITION, COLUMN_NAME, TABLE_NAME
SELECT 
	ISNULL(VIOLATOR_ID, -1) VIOLATOR_ID, 
	ISNULL(PARTITION_DATE,'1/1/1900') PARTITION_DATE, 
	ISNULL(VIOLATION_ID, -1) VIOLATION_ID, 
	CURRENT_INVOICE_LEVEL_FLAG, 
	ISNULL(CAST(VBI_INVOICE_ID AS BIGINT), -1) VBI_INVOICE_ID, 
	ISNULL(CAST(VB_INV_DATE AS DATE), '1/1/1900') VB_INV_DATE, 
	ISNULL(CAST(VB_INV_DATE_EXCUSED AS DATE), '1990/01/01') VB_INV_DATE_EXCUSED, 
	VIOL_INVOICE_ID, 
	ISNULL(CONVERTED_DATE, '1990/01/01') CONVERTED_DATE, 
	VIOL_INV_DATE_EXCUSED, 
	CAST(NULL AS DATE) PAID_DATE, 
	CAST(NULL AS BIGINT) POS_ID, 
	ISNULL(VIOL_DATE, '1990/01/01') VIOL_DATE, 
	ISNULL(VIOL_TIME_ID, -1) VIOL_TIME_ID, 
	VIOL_POST_DATE, 
	ISNULL(VIOL_PAID_DATE, '1990/01/01') VIOL_PAID_DATE, 
	VIOL_STATUS_DATE, 
	VIOL_DATE_EXCUSED, 
	VIOLATION_OR_ZIPCASH, 
	ISNULL(LANE_ID, -1) LANE_ID, 
	SOURCE_CODE, 
	ISNULL(INV_DTL_VIOL_STATUS, -1) INV_DTL_VIOL_STATUS, 
	ISNULL(LAST_VIOL_STATUS, '-1')  AS VIOL_STATUS, 
	ISNULL(LAST_VIOLATOR_ID, '-1') LAST_VIOLATOR_ID, 
	ISNULL(TRANSACTION_ID, '-1') TRANSACTION_ID, 
	ISNULL(CAST(DISPOSITION AS VARCHAR(2)), '-1') DISPOSITION, 
	VPS_HOST_POSTED_REVENUE, 
	VPS_HOST_POSTED_DATE, 
	ISNULL(CAST(VIOL_TYPE AS VARCHAR(2)), '-1') VIOL_TYPE, 
	CAST(0.00 AS MONEY) INVOICE_AMT,  
	CAST(TOLL_DUE_ON_VIOL AS MONEY) AS TOLL_DUE, 
	ISNULL(CAST(VEHICLE_CLASS AS DECIMAL(2,0)), '-1') VEHICLE_CLASS, 
	CAST(0.00 AS MONEY)  AS ZI_LATE_FEES, 
	CAST(0.00 AS MONEY)  AS VI_LATE_FEES, 
	CAST(0.00 AS MONEY)  AS ADMIN_FEE, 
	CAST(0.00 AS MONEY)  AS ADMIN_FEE2, 
	CAST(AMT_PAID AS MONEY) AMT_PAID, 
	CAST(AMT_PAID_ADJ AS DECIMAL(19,8)) AS AMT_PAID_DISC, 
	CAST(AMT_PAID_ADJ AS DECIMAL(19,8)) AMT_PAID_ADJ, 
	CAST(VIOL_AMT_PAID AS MONEY) VIOL_AMT_PAID, 
	ISNULL(CAST(VIOL_LEFT_ON_INV_FLAG AS SMALLINT), 0) VIOL_LEFT_ON_INV_FLAG, 
	ISNULL(CAST(INSERT_DATE AS DATETIME), '1990/01/01') INSERT_DATE 
FROM FACT_INVOICE_ANALYSIS_DETAIL_STAGE
UNION ALL																					   																																										   											  
SELECT 
	ISNULL(VIOLATOR_ID, -1) VIOLATOR_ID, 
	ISNULL(PARTITION_DATE,'1/1/1900') PARTITION_DATE, 
	ISNULL(VIOLATION_ID, -1) VIOLATION_ID, 
	CURRENT_INVOICE_LEVEL_FLAG, 
	ISNULL(CAST(VBI_INVOICE_ID AS BIGINT), -1) VBI_INVOICE_ID, 
	ISNULL(CAST(VB_INV_DATE AS DATE), '1/1/1900') VB_INV_DATE, 
	ISNULL(CAST(VB_INV_DATE_EXCUSED AS DATE), '1990/01/01') VB_INV_DATE_EXCUSED, 
	VIOL_INVOICE_ID, 
	ISNULL(CONVERTED_DATE, '1990/01/01') CONVERTED_DATE, 
	VIOL_INV_DATE_EXCUSED, 
	CAST(NULL AS DATE) PAID_DATE, 
	CAST(NULL AS BIGINT) POS_ID, 
	ISNULL(VIOL_DATE, '1990/01/01') VIOL_DATE, 
	ISNULL(VIOL_TIME_ID, -1) VIOL_TIME_ID, 
	VIOL_POST_DATE, 
	ISNULL(VIOL_PAID_DATE, '1990/01/01') VIOL_PAID_DATE, 
	VIOL_STATUS_DATE, 
	VIOL_DATE_EXCUSED, 
	VIOLATION_OR_ZIPCASH, 
	ISNULL(LANE_ID, -1) LANE_ID, 
	SOURCE_CODE, 
	ISNULL(INV_DTL_VIOL_STATUS, -1) INV_DTL_VIOL_STATUS, 
	ISNULL(VIOL_STATUS, '-1') AS VIOL_STATUS, 
	ISNULL(LAST_VIOLATOR_ID, '-1') LAST_VIOLATOR_ID, 
	ISNULL(TRANSACTION_ID, '-1') TRANSACTION_ID, 
	ISNULL(CAST(DISPOSITION AS VARCHAR(2)), '-1') DISPOSITION, 
	VPS_HOST_POSTED_REVENUE, 
	VPS_HOST_POSTED_DATE, 
	ISNULL(CAST(VIOL_TYPE AS VARCHAR(2)), '-1') VIOL_TYPE, 
	CAST(0.00 AS MONEY) INVOICE_AMT,  
	CAST(TOLL_DUE AS MONEY) TOLL_DUE, 
	ISNULL(CAST(VEHICLE_CLASS AS DECIMAL(2,0)), '-1') VEHICLE_CLASS, 
	CAST(0.00 AS MONEY)  AS ZI_LATE_FEES, 
	CAST(0.00 AS MONEY)  AS VI_LATE_FEES, 
	CAST(0.00 AS MONEY)  AS ADMIN_FEE, 
	CAST(0.00 AS MONEY)  AS ADMIN_FEE2, 
	CAST(AMT_PAID AS MONEY) AMT_PAID,
	CAST(AMT_PAID_ADJ AS DECIMAL(19,8)) AS AMT_PAID_DISC, 
	CAST(AMT_PAID_ADJ AS DECIMAL(19,8)) AMT_PAID_ADJ, 
	CAST(VIOL_AMT_PAID AS MONEY) VIOL_AMT_PAID, 
	ISNULL(CAST(VIOL_LEFT_ON_INV_FLAG AS SMALLINT), 0) VIOL_LEFT_ON_INV_FLAG, 
	ISNULL(CAST(INSERT_DATE AS DATETIME), '1990/01/01') INSERT_DATE 
FROM FACT_INVOICE_ANALYSIS_DETAIL_STAGE_ONE
OPTION (LABEL = 'FACT_INVOICE_DETAIL_LOAD: FACT_INVOICE_ANALYSIS_DETAIL_FINAL');
--SELECT * FROM FACT_INVOICE_ANALYSIS_DETAIL_FINAL
--EXEC FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_UPDATE
EXEC [DBO].[FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_UPDATE_NEW]

--EXEC [DBO].[FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS_LOAD]
EXEC [DBO].[FACT_INVOICE_DETAIL_MISSING_VPS_HOST_TRANS_LOAD_NEW]

--DISPOSITION Needs to VARCHAR(2)
--ALTER TABLE [dbo].FACT_INVOICE_ANALYSIS_DETAIL_FINAL ALTER COLUMN [DISPOSITION] varchar(2) NOT NULL

--Switch Partition 
EXEC [dbo].[PARTITION_SWITCH] @DEST_TABLE_NAME='FACT_INVOICE_ANALYSIS_DETAIL',@SRC_TABLE_NAME='FACT_INVOICE_ANALYSIS_DETAIL_FINAL',@AS_OF_DATE = @PARTITION_DATE

--UPDATE STATISTICS 
UPDATE STATISTICS dbo.FACT_INVOICE_ANALYSIS_DETAIL

