CREATE PROC [DBO].[FACT_UNIFIED_VIOLATION_SNAPSHOT_FINAL_LOAD] AS 

/*

USE EDW_RITE 
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.[FACT_UNIFIED_VIOLATION_SNAPSHOT_FINAL_LOAD]') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.[FACT_UNIFIED_VIOLATION_SNAPSHOT_FINAL_LOAD]
GO

EXEC DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_FINAL_LOAD
*/

DECLARE @sql VARCHAR(MAX)
DECLARE @CURRENT_DATE VARCHAR(8)

DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT, @LOG_PATTERN VARCHAR(1000)

SELECT  @SOURCE = 'FACT_UNIFIED_VIOLATION_SNAPSHOT', @LOG_START_DATE = GETDATE(), @LOG_PATTERN = 'FACT_UNIFIED_VIOLATION_SNAPSHOT_FINAL_LOAD ' -- from: ' + @FIRST_DAY_ID + ' to: ' + @LAST_DAY_ID + ': '
--EXEC    dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE,  NULL

SET @CURRENT_DATE = LEFT(CONVERT(VARCHAR(8), @LOG_START_DATE,112), 6) + '01'


--SET @TT_NUMBER = CONCAT(@FROM_DAY_ID,@TO_DAY_ID,@CURRENT_DATE)


--STEP #2: --Calculating partitions ranges for stage table
-- Have to create exactly the same partitions on this table as on the main - it will not work if one partition will not have the same boundaries 
DECLARE @PART_RANGES VARCHAR(MAX) = ''
EXEC DBO.GET_PARTITION_RANGE_STRING 'FACT_UNIFIED_VIOLATION', @PART_RANGES OUTPUT

--STEP #4: -- FIND all different rows
-- all new rows, that was changed or added (take all new found except all existing - all that was not changed will be excepted)


IF OBJECT_ID('dbo.FACT_UVS_NEW') IS NULL
BEGIN

	--CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_01] ON dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE (TART_ID);

	--EXPLAIN
	CREATE TABLE dbo.FACT_UVS_NEW WITH (HEAP, DISTRIBUTION = HASH(TART_ID)) AS 
	WITH NEW_CTE AS
	(
		 SELECT  
			LEVEL_0,LEVEL_1,LEVEL_2,LEVEL_3,LEVEL_4,LEVEL_5,LEVEL_6,LEVEL_7,LEVEL_8,LEVEL_9,LEVEL_10,TART_ID,DAY_ID,PMTY_ID,VCLY_ID,AVI_TAG_STATUS,LANE_ID,Local_Time,EAR_REV,POS_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,LANE_VIOL_ID,main_table.VIOL_DATE,AXLE_COUNT,
			LANE_VIOL_STATUS,LANE_REVIEW_STATUS,VIOLATION_CODE,VIOL_CREATED,LICENSE_PLATE_ID,main_table.LIC_PLATE_NBR,main_table.LIC_PLATE_STATE,OUT_OF_STATE_IND,REVIEW_DATE,VIOL_REJECT_TYPE,main_table.TOLL_DUE,TOLL_PAID,main_table.VIOLATION_ID,STATUS_DATE,MANUAL_VIOL_FLAG,main_table.DRIVER_LIC_STATE,VIOLATOR_ID,
			VIOL_STATUS,TRANSACTION_ID,DISPOSITION,VTOLL_SEND_DATE,DATE_EXCUSED,EXCUSED_REASON,EXCUSED_BY,TTXN_ID,AMOUNT,IOP_REV,TOLL_REV,VTOLL_REV,IOP_FLAG,POSTED_DATE,POSTED_DAY_ID,SOURCE_CODE,ACCT_ID,TAG_ID,TAG_AGENCY_ID,DMV_STS,TXN_NAME,
			NOT_TRANS_REVIEW_STATUS_ABBREV,LVL_TVL,VBI_INVOICE_ID,VIOL_INVOICE_ID,PAYMENT_DATE,DEPOSIT_DATE,SPLIT_AMOUNT,FEES_PAID,AMT_PAID,VBI_INVOICE_DATE,VBI_STATUS,VI_INVOICE_DATE,VIOL_INV_STATUS,INVOICE_STAGE_ID,VES_SERIAL_NO	
			, ISNULL(CAST(CASE 
							WHEN VBI_STATUS = 'B' OR (VBI_STATUS = 'CV' AND VIOL_INV_STATUS IN ('B', 'A')) THEN 1 
							ELSE 0 
						END AS smallint), 0) AS BAD_ADDRESS_FLAG,FLEET_FLAG
			--, ISNULL(CAST(CASE 
			--				WHEN FFT.VIOLATION_ID IS NOT NULL AND (FFT.VIOL_DATE BETWEEN FFF.PURCHASE_DATE AND ISNULL(FFF.SELL_DATE,'2900-01-01')) THEN 1
			--				ELSE 0
			--			END AS smallint), 0) AS FLEET_FLAG
			, ISNULL(CAST(CASE 
					WHEN LEVEL_1 IN ('IMAGES NOT ENTERING ICRS','NO IMAGE') THEN 1
					WHEN LEVEL_2 = 'PENDING REVIEW' THEN 1
					WHEN LEVEL_3 = 'IMAGES DISCARDED' THEN 1
					WHEN LEVEL_4 = 'OCR REJECTS' THEN 1
					WHEN LEVEL_5 IN ('W','F','X','E','A','N') THEN 1
					WHEN LEVEL_5 = 'C' AND LEVEL_6 IN ('B', '-1') THEN 1
					WHEN LEVEL_5 = 'C' AND LEVEL_6 = 'T' AND SOURCE_CODE = '-1' THEN 1
					WHEN LEVEL_9 IN ('VIOL-NTX','VIOL-TX','VIOL-UBR') THEN 1
					WHEN VIOL_STATUS IN ('Q','E') THEN 1
					ELSE 0 
				END AS smallint), 0) AS UnPursuable_FLAG  -- !!!
			--, ISNULL(CAST(CASE WHEN SOURCE_CODE != '-1' AND DISPOSITION IN ('-1', 'P') THEN AMOUNT ELSE EAR_REV END AS decimal(10,2)), 0) AS ADJ_REV		-- !!!
			, ISNULL(CAST(CASE WHEN SOURCE_CODE != '-1' AND IOP_FLAG = 0 THEN EAR_REV WHEN SOURCE_CODE != '-1' AND DISPOSITION IN ('-1', 'P') THEN AMOUNT ELSE EAR_REV END AS decimal(10,2)), 0) AS ADJ_REV		-- !!!
			, ISNULL(CAST(CASE WHEN SOURCE_CODE != '-1' AND DISPOSITION IN ('-1', 'P') THEN AMOUNT ELSE AMT_PAID END AS decimal(10,2)), 0) AS POSTED_REV		-- !!!
			,DELETED		
		FROM dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE main_table
		--LEFT JOIN LND_LG_VPS.VP_OWNER.FA_FLEET_TRANSACTIONS FFT ON FFT.VIOLATION_ID = main_table.VIOLATION_ID
		--LEFT JOIN LND_LG_VPS.VP_OWNER.FA_FLEET_FILE FFF ON FFF.FLEET_FILE_ID = FFT.FLEET_FILE_ID

		EXCEPT

		SELECT  
			LEVEL_0,LEVEL_1,LEVEL_2,LEVEL_3,LEVEL_4,LEVEL_5,LEVEL_6,LEVEL_7,LEVEL_8,LEVEL_9,LEVEL_10,TART_ID,DAY_ID,PMTY_ID,VCLY_ID,AVI_TAG_STATUS,LANE_ID,Local_Time,EAR_REV,POS_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,LANE_VIOL_ID,VIOL_DATE,AXLE_COUNT,
			LANE_VIOL_STATUS,LANE_REVIEW_STATUS,VIOLATION_CODE,VIOL_CREATED,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,OUT_OF_STATE_IND,REVIEW_DATE,VIOL_REJECT_TYPE,TOLL_DUE,TOLL_PAID,VIOLATION_ID,STATUS_DATE,MANUAL_VIOL_FLAG,DRIVER_LIC_STATE,VIOLATOR_ID,
			VIOL_STATUS,TRANSACTION_ID,DISPOSITION,VTOLL_SEND_DATE,DATE_EXCUSED,EXCUSED_REASON,EXCUSED_BY,TTXN_ID,AMOUNT,IOP_REV,TOLL_REV,VTOLL_REV,IOP_FLAG,POSTED_DATE,POSTED_DAY_ID,SOURCE_CODE,ACCT_ID,TAG_ID,TAG_AGENCY_ID,DMV_STS,TXN_NAME,
			NOT_TRANS_REVIEW_STATUS_ABBREV,LVL_TVL,VBI_INVOICE_ID,VIOL_INVOICE_ID,PAYMENT_DATE,DEPOSIT_DATE,SPLIT_AMOUNT,FEES_PAID,AMT_PAID,VBI_INVOICE_DATE,VBI_STATUS,VI_INVOICE_DATE,VIOL_INV_STATUS,INVOICE_STAGE_ID,VES_SERIAL_NO,
			BAD_ADDRESS_FLAG,FLEET_FLAG,UnPursuable_FLAG,ADJ_REV,POSTED_REV,DELETED
		FROM dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT
	)
	SELECT  
		LEVEL_0,LEVEL_1,LEVEL_2,LEVEL_3,LEVEL_4,LEVEL_5,LEVEL_6,LEVEL_7,LEVEL_8,LEVEL_9,LEVEL_10,TART_ID,DAY_ID,PMTY_ID,VCLY_ID,AVI_TAG_STATUS,LANE_ID,Local_Time,EAR_REV,POS_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,LANE_VIOL_ID,VIOL_DATE,AXLE_COUNT,
		LANE_VIOL_STATUS,LANE_REVIEW_STATUS,VIOLATION_CODE,VIOL_CREATED,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,OUT_OF_STATE_IND,REVIEW_DATE,VIOL_REJECT_TYPE,TOLL_DUE,TOLL_PAID,VIOLATION_ID,STATUS_DATE,MANUAL_VIOL_FLAG,DRIVER_LIC_STATE,VIOLATOR_ID,
		VIOL_STATUS,TRANSACTION_ID,DISPOSITION,VTOLL_SEND_DATE,DATE_EXCUSED,EXCUSED_REASON,EXCUSED_BY,TTXN_ID,AMOUNT,IOP_REV,TOLL_REV,VTOLL_REV,IOP_FLAG,POSTED_DATE,POSTED_DAY_ID,SOURCE_CODE,ACCT_ID,TAG_ID,TAG_AGENCY_ID,DMV_STS,TXN_NAME,
		NOT_TRANS_REVIEW_STATUS_ABBREV,LVL_TVL,VBI_INVOICE_ID,VIOL_INVOICE_ID,PAYMENT_DATE,DEPOSIT_DATE,SPLIT_AMOUNT,FEES_PAID,AMT_PAID,VBI_INVOICE_DATE,VBI_STATUS,VI_INVOICE_DATE,VIOL_INV_STATUS,INVOICE_STAGE_ID,VES_SERIAL_NO,
		BAD_ADDRESS_FLAG,FLEET_FLAG,UnPursuable_FLAG,ADJ_REV,POSTED_REV,DELETED
		,ROW_NUMBER() OVER (PARTITION BY TART_ID ORDER BY STATUS_DATE DESC, POSTED_DATE DESC, REVIEW_DATE DESC, VIOLATION_ID DESC, LANE_VIOL_ID DESC, VIOLATOR_ID DESC) AS RN
	FROM NEW_CTE

	OPTION (LABEL = 'FACT_UNIFIED_VIOLATION_SNAPSHOT LOAD <<get new rows query>>');

	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_01] ON dbo.FACT_UVS_NEW (TART_ID);

	EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = @LOG_PATTERN + ' New and changed rows temp table created.'
	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT
END -- IF OBJECT_ID('dbo.FACT_UVS_NEW') IS NULL 
ELSE
BEGIN
	--EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = @LOG_PATTERN + ' New and changed rows temp table found - no need to load again.'
	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL
	
END -- ELSE IF OBJECT_ID('dbo.FACT_UVS_NEW') IS NULL

--STEP #5: -- Creating new table that will be our new partition for a fact table FACT_UNIFIED_VIOLATION

IF OBJECT_ID('dbo.FACT_UVS_CHANGE') IS NULL
BEGIN
	SET @sql = '
	CREATE TABLE dbo.FACT_UVS_CHANGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_ID), PARTITION  (DAY_ID RANGE RIGHT FOR VALUES ('+@PART_RANGES+'))) AS 
	SELECT  
		LEVEL_0,LEVEL_1,LEVEL_2,LEVEL_3,LEVEL_4,LEVEL_5,LEVEL_6,LEVEL_7,LEVEL_8,LEVEL_9,LEVEL_10,TART_ID,DAY_ID,PMTY_ID,VCLY_ID,AVI_TAG_STATUS,LANE_ID,Local_Time,EAR_REV,POS_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,LANE_VIOL_ID,VIOL_DATE,AXLE_COUNT,
		LANE_VIOL_STATUS,LANE_REVIEW_STATUS,VIOLATION_CODE,VIOL_CREATED,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,OUT_OF_STATE_IND,REVIEW_DATE,VIOL_REJECT_TYPE,TOLL_DUE,TOLL_PAID,VIOLATION_ID,STATUS_DATE,MANUAL_VIOL_FLAG,DRIVER_LIC_STATE,VIOLATOR_ID,
		VIOL_STATUS,TRANSACTION_ID,DISPOSITION,VTOLL_SEND_DATE,DATE_EXCUSED,EXCUSED_REASON,EXCUSED_BY,TTXN_ID,AMOUNT,IOP_REV,TOLL_REV,VTOLL_REV,IOP_FLAG,POSTED_DATE,POSTED_DAY_ID,SOURCE_CODE,ACCT_ID,TAG_ID,TAG_AGENCY_ID,DMV_STS,TXN_NAME,
		NOT_TRANS_REVIEW_STATUS_ABBREV,LVL_TVL,VBI_INVOICE_ID,VIOL_INVOICE_ID,PAYMENT_DATE,DEPOSIT_DATE,SPLIT_AMOUNT,FEES_PAID,AMT_PAID,VBI_INVOICE_DATE,VBI_STATUS,VI_INVOICE_DATE,VIOL_INV_STATUS,INVOICE_STAGE_ID,VES_SERIAL_NO,
		BAD_ADDRESS_FLAG,FLEET_FLAG,UnPursuable_FLAG,ADJ_REV,POSTED_REV,DELETED
		,DATA_START_DATE,DATA_END_DATE
	FROM dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT S_MAIN
	WHERE NOT EXISTS (SELECT 1 FROM dbo.FACT_UVS_NEW AS S_NEW WHERE S_NEW.TART_ID = S_MAIN.TART_ID) 

	UNION ALL

	SELECT  
		LEVEL_0,LEVEL_1,LEVEL_2,LEVEL_3,LEVEL_4,LEVEL_5,LEVEL_6,LEVEL_7,LEVEL_8,LEVEL_9,LEVEL_10,TART_ID,DAY_ID,PMTY_ID,VCLY_ID,AVI_TAG_STATUS,LANE_ID,Local_Time,EAR_REV,POS_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,LANE_VIOL_ID,VIOL_DATE,AXLE_COUNT,
		LANE_VIOL_STATUS,LANE_REVIEW_STATUS,VIOLATION_CODE,VIOL_CREATED,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,OUT_OF_STATE_IND,REVIEW_DATE,VIOL_REJECT_TYPE,TOLL_DUE,TOLL_PAID,VIOLATION_ID,STATUS_DATE,MANUAL_VIOL_FLAG,DRIVER_LIC_STATE,VIOLATOR_ID,
		VIOL_STATUS,TRANSACTION_ID,DISPOSITION,VTOLL_SEND_DATE,DATE_EXCUSED,EXCUSED_REASON,EXCUSED_BY,TTXN_ID,AMOUNT,IOP_REV,TOLL_REV,VTOLL_REV,IOP_FLAG,POSTED_DATE,POSTED_DAY_ID,SOURCE_CODE,ACCT_ID,TAG_ID,TAG_AGENCY_ID,DMV_STS,TXN_NAME,
		NOT_TRANS_REVIEW_STATUS_ABBREV,LVL_TVL,VBI_INVOICE_ID,VIOL_INVOICE_ID,PAYMENT_DATE,DEPOSIT_DATE,SPLIT_AMOUNT,FEES_PAID,AMT_PAID,VBI_INVOICE_DATE,VBI_STATUS,VI_INVOICE_DATE,VIOL_INV_STATUS,INVOICE_STAGE_ID,VES_SERIAL_NO,
		BAD_ADDRESS_FLAG,FLEET_FLAG,UnPursuable_FLAG,ADJ_REV,POSTED_REV,DELETED
		,ISNULL(CAST('+ CHAR(39) + @CURRENT_DATE + CHAR(39) +' AS DATE),CAST(''1900-01-01'' AS DATE)) AS DATA_START_DATE, ISNULL(CAST(''22221201'' AS DATE),''22221201'') AS DATA_END_DATE
	FROM dbo.FACT_UVS_NEW
	WHERE RN = 1
	OPTION (LABEL = ''FACT_UNIFIED_VIOLATION_SNAPSHOT LOAD <<get changed rows query>>'');'
	--FROM dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE S_MAIN
	--WHERE EXISTS (SELECT 1 FROM dbo.FACT_UVS_NEW AS S_NEW WHERE S_NEW.TART_ID = S_MAIN.TART_ID) 

	EXECUTE (@sql);

	EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = @LOG_PATTERN + ' New snapshot switch table created.'
	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	EXEC DBO.FACT_UNIFIED_VIOLATION_CREATE_STATS 'FACT_UVS_CHANGE'

END -- OBJECT_ID('dbo.FACT_UVS_CHANGE') IS NULL 
ELSE
BEGIN
	SET  @LOG_MESSAGE = @LOG_PATTERN + ' New snapshot switch found - no need to load again.'
	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL

END -- ELSE IF OBJECT_ID('dbo.FACT_UVS_CHANGE') IS NULL
	

--STEP #6: INSERT INTO HISTORY TABLE 
IF OBJECT_ID('dbo.FACT_UVH_STAGE') IS NULL
BEGIN
	-- We have to do 2 steps - just because we can't check did we already insert this rows or not
	-- If STAGE table exists - it means they were inserted
	--WITH CTE AS
	--(
	--	SELECT TART_ID, MAX(DATA_START_DATE) AS DATA_START_DATE
	--	FROM dbo.FACT_UNIFIED_VIOLATION_HISTORY AS H_OLD 
	--	WHERE H_OLD.TART_ID IN (SELECT TART_ID FROM dbo.FACT_UVS_NEW)
	--	GROUP BY TART_ID
	--)
	--	EXISTS (SELECT 1 FROM CTE AS H_OLD WHERE H_OLD.TART_ID = S_MAIN.TART_ID AND H_OLD.DATA_START_DATE < S_MAIN.DATA_START_DATE)
		
	SET @sql = '
	CREATE TABLE dbo.FACT_UVH_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_ID), PARTITION  (DAY_ID RANGE RIGHT FOR VALUES ('+@PART_RANGES+'))) AS 
	SELECT  
		LEVEL_0,LEVEL_1,LEVEL_2,LEVEL_3,LEVEL_4,LEVEL_5,LEVEL_6,LEVEL_7,LEVEL_8,LEVEL_9,LEVEL_10,TART_ID,DAY_ID,PMTY_ID,VCLY_ID,AVI_TAG_STATUS,LANE_ID,Local_Time,EAR_REV,POS_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,LANE_VIOL_ID,VIOL_DATE,AXLE_COUNT,
		LANE_VIOL_STATUS,LANE_REVIEW_STATUS,VIOLATION_CODE,VIOL_CREATED,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,OUT_OF_STATE_IND,REVIEW_DATE,VIOL_REJECT_TYPE,TOLL_DUE,TOLL_PAID,VIOLATION_ID,STATUS_DATE,MANUAL_VIOL_FLAG,DRIVER_LIC_STATE,VIOLATOR_ID,
		VIOL_STATUS,TRANSACTION_ID,DISPOSITION,VTOLL_SEND_DATE,DATE_EXCUSED,EXCUSED_REASON,EXCUSED_BY,TTXN_ID,AMOUNT,IOP_REV,TOLL_REV,VTOLL_REV,IOP_FLAG,POSTED_DATE,POSTED_DAY_ID,SOURCE_CODE,ACCT_ID,TAG_ID,TAG_AGENCY_ID,DMV_STS,TXN_NAME,
		NOT_TRANS_REVIEW_STATUS_ABBREV,LVL_TVL,VBI_INVOICE_ID,VIOL_INVOICE_ID,PAYMENT_DATE,DEPOSIT_DATE,SPLIT_AMOUNT,FEES_PAID,AMT_PAID,VBI_INVOICE_DATE,VBI_STATUS,VI_INVOICE_DATE,VIOL_INV_STATUS,INVOICE_STAGE_ID,VES_SERIAL_NO,
		BAD_ADDRESS_FLAG,FLEET_FLAG,UnPursuable_FLAG,ADJ_REV,POSTED_REV,DELETED
		,DATA_START_DATE,ISNULL(DATEADD(DAY,-1,CAST('+ CHAR(39) + @CURRENT_DATE + CHAR(39) +' AS DATE)),''22221201'') AS DATA_END_DATE
	FROM dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT AS S_MAIN
	WHERE
		EXISTS (SELECT 1 FROM dbo.FACT_UVS_NEW AS H_OLD WHERE H_OLD.TART_ID = S_MAIN.TART_ID)
		AND DATA_START_DATE < CAST('+ CHAR(39) + @CURRENT_DATE + CHAR(39) +' AS DATE)
		
	UNION ALL 

	SELECT
		LEVEL_0,LEVEL_1,LEVEL_2,LEVEL_3,LEVEL_4,LEVEL_5,LEVEL_6,LEVEL_7,LEVEL_8,LEVEL_9,LEVEL_10,TART_ID,DAY_ID,PMTY_ID,VCLY_ID,AVI_TAG_STATUS,LANE_ID,Local_Time,EAR_REV,POS_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,LANE_VIOL_ID,VIOL_DATE,AXLE_COUNT,
		LANE_VIOL_STATUS,LANE_REVIEW_STATUS,VIOLATION_CODE,VIOL_CREATED,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,OUT_OF_STATE_IND,REVIEW_DATE,VIOL_REJECT_TYPE,TOLL_DUE,TOLL_PAID,VIOLATION_ID,STATUS_DATE,MANUAL_VIOL_FLAG,DRIVER_LIC_STATE,VIOLATOR_ID,
		VIOL_STATUS,TRANSACTION_ID,DISPOSITION,VTOLL_SEND_DATE,DATE_EXCUSED,EXCUSED_REASON,EXCUSED_BY,TTXN_ID,AMOUNT,IOP_REV,TOLL_REV,VTOLL_REV,IOP_FLAG,POSTED_DATE,POSTED_DAY_ID,SOURCE_CODE,ACCT_ID,TAG_ID,TAG_AGENCY_ID,DMV_STS,TXN_NAME,
		NOT_TRANS_REVIEW_STATUS_ABBREV,LVL_TVL,VBI_INVOICE_ID,VIOL_INVOICE_ID,PAYMENT_DATE,DEPOSIT_DATE,SPLIT_AMOUNT,FEES_PAID,AMT_PAID,VBI_INVOICE_DATE,VBI_STATUS,VI_INVOICE_DATE,VIOL_INV_STATUS,INVOICE_STAGE_ID,VES_SERIAL_NO,
		BAD_ADDRESS_FLAG,FLEET_FLAG,UnPursuable_FLAG,ADJ_REV,POSTED_REV,DELETED
		,DATA_START_DATE,DATA_END_DATE
	FROM DBO.FACT_UNIFIED_VIOLATION_HISTORY
	OPTION (LABEL = ''FACT_UNIFIED_VIOLATION_SNAPSHOT LOAD <<get history rows query>>'');'

	EXECUTE (@sql);

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = @LOG_PATTERN + ' Insert in Hystory table finished.'
	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	EXEC DBO.FACT_UNIFIED_VIOLATION_CREATE_STATS 'FACT_UVH_STAGE'

	--UPDATE	STATISTICS dbo.FACT_UNIFIED_VIOLATION_HISTORY 
END -- IF OBJECT_ID('dbo.FACT_UVH_STAGE') IS NULL 
ELSE
BEGIN
	--EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = @LOG_PATTERN + ' STAGE History table found - no need to insert again.'
	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL

END -- ELSE IF OBJECT_ID('dbo.FACT_UVH_STAGE') IS NULL

IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_OLD') IS NOT NULL 	DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_OLD;
IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT') IS NOT NULL		RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT TO FACT_UNIFIED_VIOLATION_SNAPSHOT_OLD;
RENAME OBJECT::dbo.FACT_UVS_CHANGE TO FACT_UNIFIED_VIOLATION_SNAPSHOT;

IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_HISTORY_OLD') IS NOT NULL 	DROP TABLE dbo.FACT_UNIFIED_VIOLATION_HISTORY_OLD;
IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_HISTORY') IS NOT NULL		RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_HISTORY TO FACT_UNIFIED_VIOLATION_HISTORY_OLD;
RENAME OBJECT::dbo.FACT_UVH_STAGE TO FACT_UNIFIED_VIOLATION_HISTORY;


--SET @SWITCH_TABLE_NAME = 'FACT_UVS_CHANGE'

--STEP #7: SWITCH EVERY CHANGED PARTITIONS for each table 
/*
SET @sql = '
IF OBJECT_ID(''dbo.FACT_UVS_TRUNC'') IS NOT NULL DROP TABLE dbo.FACT_UVS_TRUNC;	
	
CREATE TABLE dbo.FACT_UVS_TRUNC 	WITH    (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([DAY_ID]), PARTITION  (DAY_ID RANGE RIGHT FOR VALUES ('+@PART_RANGES+')))		AS
SELECT * 	FROM    dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT  	WHERE   1=2'
	
--PRINT @sql
EXECUTE (@sql);

SET @Cur_Part = @PART_NUM_BEGIN 

-- THIS WORKS BECAUSE ALL the periods in this SP go one by one without any gaps
WHILE (@Cur_Part <= @PART_NUM_END)
BEGIN
	
	SET @sql = '
	ALTER TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT SWITCH PARTITION ' + CAST(@Cur_Part AS VARCHAR(3)) + ' TO dbo.FACT_UVS_TRUNC PARTITION ' + CAST(@Cur_Part AS VARCHAR(3)) + ';
	ALTER TABLE dbo.FACT_UVS_CHANGE SWITCH PARTITION ' + CAST(@Cur_Part AS VARCHAR(3)) + ' TO dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT PARTITION ' + CAST(@Cur_Part AS VARCHAR(3)) + ';'
	--PRINT @sql
	EXECUTE (@sql);

	SET @Cur_Part += 1
END;
*/
	/*
	--- Example of query to get SNAPSHOT data from both table on your date
	SELECT 
		DAY_ID,TART_ID,PMTY_ID,LANE_ID,Local_Time,EAR_REV,POS_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,LANE_VIOL_ID,VIOL_DATE,AXLE_COUNT,LANE_VIOL_STATUS,LANE_REVIEW_STATUS
	FROM dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT
	WHERE DATA_START_DATE <= @YOUR_DATE 
		AND DAY_ID BETWEEN 20180801 AND 20180831
	UNION ALL
	SELECT 
		DAY_ID,TART_ID,PMTY_ID,LANE_ID,Local_Time,EAR_REV,POS_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,LANE_VIOL_ID,VIOL_DATE,AXLE_COUNT,LANE_VIOL_STATUS,LANE_REVIEW_STATUS
	FROM dbo.FACT_UNIFIED_VIOLATION_HISTORY
	WHERE  @YOUR_DATE BETWEEN DATA_START_DATE AND DATA_END_DATE
		AND DAY_ID BETWEEN 20180801 AND 20180831
	*/


----STEP #8: UPDATE STATISTICS and DROP all temp tables

--UPDATE	STATISTICS dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT 

-- Drop all temp tables
/*
IF OBJECT_ID('dbo.FACT_UVS_TRUNC') IS NOT NULL DROP TABLE dbo.FACT_UVS_TRUNC;	
IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE') IS NOT NULL 	 DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE;	
IF OBJECT_ID('dbo.FACT_UVS_CHANGE') IS NOT NULL DROP TABLE dbo.FACT_UVS_CHANGE;	
IF OBJECT_ID('dbo.FACT_UVH_STAGE') IS NOT NULL DROP TABLE dbo.FACT_UVH_STAGE;	
IF OBJECT_ID('dbo.FACT_UVS_NEW') IS NOT NULL DROP TABLE dbo.FACT_UVS_NEW;	
IF OBJECT_ID('dbo.FACT_UVS_OLD') IS NOT NULL DROP TABLE dbo.FACT_UVS_OLD;	
*/

SET  @LOG_MESSAGE = @LOG_PATTERN + ' LOAD PROCESS FINISHED'
EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL

