CREATE PROC [DBO].[ALERT_BY_TRAN_CNT_LANE_FRQCY_ANALYSIS_AND_UPDATE] AS

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.ALERT_BY_TRAN_CNT_LANE_FRQCY_ANALYSIS_AND_UPDATE') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.ALERT_BY_TRAN_CNT_LANE_FRQCY_ANALYSIS_AND_UPDATE
GO

EXEC EDW_RITE.DBO.ALERT_BY_TRAN_CNT_LANE_FRQCY_ANALYSIS_AND_UPDATE

*/


IF OBJECT_ID('dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_UPDATELINES')  IS NOT NULL DROP TABLE dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_UPDATELINES;

CREATE TABLE dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_UPDATELINES WITH (HEAP, DISTRIBUTION = HASH(LANE_ID)) AS --EXPLAIN
WITH ORACLE_DATA AS
(
	SELECT 
		 L.LANE_ID
		,L.PLAZA_ID
		,M.DATE_STR
		,M.HR
		,M.WD
		,M.WK
		,ISNULL(T.ORACLE_ROW_COUNT, 0) ORACLE_ROW_COUNT
	FROM DBO.ALERT_BY_TRAN_CNT_DIM_LANE L
	JOIN (
			--SELECT MAX(WK) AS WK, MAX(WD) AS WD, MAX(HR) AS HR, MAX(DATE_STR) AS DATE_STR 
			SELECT WK, WD, HR, DATE_STR 
			FROM dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY 
			WHERE ALERT_LEVEL IS NULL
			GROUP BY WK, WD, HR, DATE_STR
		) M ON 1=1 
	LEFT JOIN dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY T ON T.LANE_ID = L.LANE_ID AND M.DATE_STR = T.DATE_STR AND M.HR = T.HR AND M.WD = T.WD AND M.WK = T.WK
	WHERE L.IS_ATIVE = 1
)
, PLAZA_NUMBERS AS
(
	SELECT PLAZA_ID, WK, WD, HR
		,MAX(PLAZA_AVG_CNT	) AS PLAZA_AVG_CNT
		,MAX(PLAZA_MIN_CNT	) AS PLAZA_MIN_CNT
		,MAX(PLAZA_MAX_CNT	) AS PLAZA_MAX_CNT
		,AVG(YEAR_GROW		) AS YEAR_GROW
	FROM dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY
	GROUP BY PLAZA_ID, WK, WD, HR
)
, LAST_CTE AS
(
	SELECT
		L.LANE_ID
		,L.DATE_STR
		,L.HR
		,L.WD
		,L.WK
		,L.ORACLE_ROW_COUNT
		,CASE 
			WHEN F.MIN_CNT IS NULL THEN P.PLAZA_MIN_CNT
			WHEN F.MIN_CNT < F.DH_MIN_CNT THEN F.DH_MIN_CNT 
			ELSE F.MIN_CNT 
		END MIN_CNT
		,CASE 
			WHEN F.AVG_CNT IS NULL THEN P.PLAZA_AVG_CNT
			WHEN F.AVG_CNT > F.DH_AVG_CNT THEN F.DH_AVG_CNT 
			ELSE F.AVG_CNT 
		END AVG_CNT
		,CASE 
			WHEN F.MAX_CNT IS NULL THEN P.PLAZA_MAX_CNT - P.YEAR_GROW
			ELSE F.MAX_CNT - F.YEAR_GROW
		END MAX_CNT

	FROM ORACLE_DATA L
	JOIN dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY F ON F.LANE_ID = L.LANE_ID AND F.HR = L.HR AND F.WD = L.WD  AND F.WK = L.WK
	JOIN PLAZA_NUMBERS P ON P.PLAZA_ID = L.PLAZA_ID AND P.HR = L.HR AND P.WD = L.WD  AND P.WK = L.WK
)
SELECT
	L.LANE_ID
	,L.DATE_STR
	,L.HR
	,L.WD
	,L.WK
	,L.ORACLE_ROW_COUNT
	,CASE WHEN EXISTS (SELECT 1 FROM EDW_RITE.dbo.TIME_ZONE_OFFSET TZ WHERE CAST(L.DATE_STR AS DATE) BETWEEN TZ.DST_Start_Date AND TZ.DST_End_Date)
		THEN DATEADD(hh, L.HR-5, CAST(L.DATE_STR AS DATETIME2(0)))
		ELSE DATEADD(hh, L.HR-6, CAST(L.DATE_STR AS DATETIME2(0)))
	END AS Local_Time
	,CASE WHEN L.ORACLE_ROW_COUNT = 0 THEN 1 -- NOTHING - ALERT!!!
		WHEN L.ORACLE_ROW_COUNT < MIN_CNT THEN 2  --TOO SMALL NUMBER - ALERT!!!
		WHEN L.ORACLE_ROW_COUNT < AVG_CNT THEN 3  -- LESS THEN AVERAGE - WARNING
		WHEN L.ORACLE_ROW_COUNT < MAX_CNT THEN 4  -- LESS THEN PREV MAX  - INFORMING
		ELSE 0
	END AS ALERT_LEVEL
	,CASE WHEN L.ORACLE_ROW_COUNT = 0 THEN '1. GREAT ALERT!!! NO TRANSACTIONS!!!' -- NOTHING - ALERT!!!
		WHEN L.ORACLE_ROW_COUNT < MIN_CNT THEN '2. ALERT!!! # of transactions ' + CAST(ORACLE_ROW_COUNT AS VARCHAR) + ' < ' + CAST(MIN_CNT AS VARCHAR) + ' less than minimum!!!'  --TOO SMALL NUMBER - ALERT!!!
		WHEN L.ORACLE_ROW_COUNT < AVG_CNT THEN '3. WARNING! # of transactions ' + CAST(ORACLE_ROW_COUNT AS VARCHAR) + ' < ' + CAST(AVG_CNT AS VARCHAR) + ' less than average!'    -- LESS THEN AVERAGE - WARNING
		WHEN L.ORACLE_ROW_COUNT < MAX_CNT THEN '4. NOTICE.  # of transactions ' + CAST(ORACLE_ROW_COUNT AS VARCHAR) + ' < ' + CAST(MAX_CNT AS VARCHAR) + ' less than expected.'  -- LESS THEN PREV MAX  - INFORMING
		ELSE ''
	END AS ALERT_MESSAGE
FROM LAST_CTE L

IF OBJECT_ID('dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_STAGE')  IS NOT NULL DROP TABLE dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_STAGE;

CREATE TABLE dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_STAGE WITH (CLUSTERED INDEX (LANE_ID), DISTRIBUTION = HASH(LANE_ID)) AS --EXPLAIN
SELECT  
	LANE_ID,
	MAX(ORACLE_ROW_COUNT) ORACLE_ROW_COUNT,
	DATE_STR,
	HR,
	WD,
	WK,
	Local_Time,
	MAX(ALERT_LEVEL) AS ALERT_LEVEL, -- 0 or null - no alert, 1 - GREAT ALERT!!!, 2 - ALERT!!!, 3 - WARNING, 4 - NOTICE
	MAX(ALERT_MESSAGE) AS ALERT_MESSAGE,
	MAX(MESSAGE_SENT) AS MESSAGE_SENT 
FROM dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY F
WHERE ALERT_LEVEL IS NOT NULL --NOT EXISTS (SELECT 1 FROM dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_UPDATELINES L WHERE F.LANE_ID = L.LANE_ID AND F.HR = L.HR AND F.WD = L.WD  AND F.WK = L.WK)
GROUP BY LANE_ID,DATE_STR,HR,WD,WK,Local_Time

UNION ALL

SELECT  
	LANE_ID,
	ORACLE_ROW_COUNT,
	DATE_STR,
	HR,
	WD,
	WK,
	Local_Time,
	ALERT_LEVEL, -- 0 or null - no alert, 1 - GREAT ALERT!!!, 2 - ALERT!!!, 3 - WARNING, 4 - NOTICE
	ALERT_MESSAGE, 
	0 AS MESSAGE_SENT 
FROM dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_UPDATELINES U
WHERE NOT EXISTS (SELECT 1 FROM dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY F WHERE F.LANE_ID = U.LANE_ID AND F.Local_Time = U.Local_Time AND F.ALERT_LEVEL IS NOT NULL)
-- Do not send the same time alerts - is somehow the data was not updated...

IF OBJECT_ID('dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_OLD')  IS NOT NULL DROP TABLE dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_OLD;
IF OBJECT_ID('dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY')  IS NOT NULL RENAME OBJECT::dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY TO ALERT_BY_TRAN_CNT_LANE_FRQCY_OLD;
RENAME OBJECT::dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_STAGE TO ALERT_BY_TRAN_CNT_LANE_FRQCY;

IF OBJECT_ID('dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_UPDATELINES')  IS NOT NULL DROP TABLE dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_UPDATELINES;

/*

SELECT * FROM dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY ORDER BY ALERT_LEVEL

SELECT ALERT_LEVEL, COUNT(1) CNT FROM dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY GROUP BY ALERT_LEVEL ORDER BY ALERT_LEVEL

SELECT * FROM dbo.DIM_LANE WHERE LANE_ID IN (20479,20488,20592)

SELECT ALERT_LEVEL, COUNT(1) CNT FROM dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY JOIN dbo.DIM_LANE ON DIM_LANE.LANE_ID = ALERT_BY_TRAN_CNT_LANE_FRQCY.LANE_ID WHERE DIM_LANE.LANY_ID != 5  GROUP BY ALERT_LEVEL ORDER BY ALERT_LEVEL

--UPDATE dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY SET ALERT_LEVEL = NULL
*/


