CREATE PROC [DBO].[TRANSACTION_FILE_DETAILS_LOAD] AS

-- EXEC EDW_RITE.DBO.TRANSACTION_FILE_DETAILS_LOAD
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.TRANSACTION_FILE_DETAILS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.TRANSACTION_FILE_DETAILS_LOAD
GO

*/

/*	
SELECT TOP 100 * FROM TRANSACTION_FILE_DETAILS 
SELECT COUNT_BIG(1) FROM TRANSACTION_FILE_DETAILS -- 346 087 309 
*/  

/*
INSERT INTO dbo.TRANSACTION_FILE_DETAILS
	(	 	  
	TRANSACTION_FILE_DETAIL_ID, SUBS_TRANS_TYPE_CODE, TRANSACTION_FILE_HEADER_ID, SUBSCRIBER_UNIQUE_ID, 
	RECEIVED_DATE, RECEIVED_DATE_TIME_ID, INSERT_DATE, LAST_UPDATE_DATE
	)
	VALUES
	(-1,'',-1,-1,'1900-01-01',-1,'2000-01-01','2000-01-01')
*/


DECLARE @LAST_UPDATE_DATE datetime2(2) 
EXEC dbo.GetLoadStartDatetime 'dbo.TRANSACTION_FILE_DETAILS', @LAST_UPDATE_DATE OUTPUT
--PRINT @LAST_UPDATE_DATE

IF OBJECT_ID('dbo.TRANSACTION_FILE_DETAILS_STAGE')>0 	DROP TABLE dbo.TRANSACTION_FILE_DETAILS_STAGE		

CREATE TABLE dbo.TRANSACTION_FILE_DETAILS_STAGE WITH (CLUSTERED INDEX(TRANSACTION_FILE_DETAIL_ID), DISTRIBUTION = HASH(TRANSACTION_FILE_DETAIL_ID))
AS 
SELECT  
	  TRANSACTION_FILE_DETAIL_ID
	, SUBS_TRANS_TYPE_CODE
	, TRANSACTION_FILE_HEADER_ID
	, SUBSCRIBER_UNIQUE_ID
	, RECEIVED_DATE
	, DATEDIFF(SECOND,CAST(RECEIVED_DATE AS DATE), RECEIVED_DATE) AS RECEIVED_DATE_TIME_ID
	--, (DATEPART(HH,RECEIVED_DATE) * 3600) + (DATEPART(mi,RECEIVED_DATE) * 60) + DATEPART(SS,RECEIVED_DATE) AS RECEIVED_DATE_TIME_ID
	, LAST_UPDATE_DATE AS INSERT_DATE
	, LAST_UPDATE_DATE
FROM LND_LG_HOST.TSA_OWNER.TRANSACTION_FILE_DETAILS TT
 WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'TRANSACTION_FILE_DETAILS_LOAD: TRANSACTION_FILE_DETAILS_STAGE');

--CREATE STATISTICS STATS_TRANSACTION_FILE_DETAILS_STAGE_001 ON DBO.TRANSACTION_FILE_DETAILS_STAGE (TRANSACTION_FILE_DETAIL_ID)


IF OBJECT_ID('dbo.TRANSACTION_FILE_DETAILS_NEW_STAGE')>0 	DROP TABLE dbo.TRANSACTION_FILE_DETAILS_NEW_STAGE

CREATE TABLE dbo.TRANSACTION_FILE_DETAILS_NEW_STAGE WITH (CLUSTERED INDEX(TRANSACTION_FILE_DETAIL_ID), DISTRIBUTION = HASH(TRANSACTION_FILE_DETAIL_ID)) AS    
SELECT	
	TRANSACTION_FILE_DETAIL_ID, SUBS_TRANS_TYPE_CODE, TRANSACTION_FILE_HEADER_ID, SUBSCRIBER_UNIQUE_ID, 
	RECEIVED_DATE, RECEIVED_DATE_TIME_ID, INSERT_DATE, LAST_UPDATE_DATE
FROM dbo.TRANSACTION_FILE_DETAILS AS F
WHERE	NOT EXISTS (SELECT 1 FROM dbo.TRANSACTION_FILE_DETAILS_STAGE AS NSET WHERE NSET.TRANSACTION_FILE_DETAIL_ID = F.TRANSACTION_FILE_DETAIL_ID)
  UNION ALL 
SELECT	
	N.TRANSACTION_FILE_DETAIL_ID, N.SUBS_TRANS_TYPE_CODE, N.TRANSACTION_FILE_HEADER_ID, N.SUBSCRIBER_UNIQUE_ID, 
	N.RECEIVED_DATE, N.RECEIVED_DATE_TIME_ID, INSERT_DATE, N.LAST_UPDATE_DATE
FROM dbo.TRANSACTION_FILE_DETAILS_STAGE N
--LEFT JOIN dbo.TRANSACTION_FILE_DETAILS AS F ON N.TRANSACTION_FILE_DETAIL_ID = F.TRANSACTION_FILE_DETAIL_ID
OPTION (LABEL = 'TRANSACTION_FILE_DETAILS_LOAD: INSERT/UPDATE');


--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.TRANSACTION_FILE_DETAILS_OLD')>0 	DROP TABLE dbo.TRANSACTION_FILE_DETAILS_OLD;
IF OBJECT_ID('dbo.TRANSACTION_FILE_DETAILS')>0		RENAME OBJECT::dbo.TRANSACTION_FILE_DETAILS TO TRANSACTION_FILE_DETAILS_OLD;
RENAME OBJECT::dbo.TRANSACTION_FILE_DETAILS_NEW_STAGE TO TRANSACTION_FILE_DETAILS;
IF OBJECT_ID('dbo.TRANSACTION_FILE_DETAILS_OLD')>0 	DROP TABLE dbo.TRANSACTION_FILE_DETAILS_OLD;

--CREATE STATISTICS [STATS_TRANSACTION_FILE_DETAILS_001] ON [dbo].[TRANSACTION_FILE_DETAILS] ([TRANSACTION_FILE_DETAIL_ID]);


IF OBJECT_ID('dbo.TRANSACTION_FILE_DETAILS_STAGE')>0 	DROP TABLE dbo.TRANSACTION_FILE_DETAILS_STAGE

/*
-- EXPLAIN
UPDATE DBO.TRANSACTION_FILE_DETAILS
SET   SUBS_TRANS_TYPE_CODE = B.SUBS_TRANS_TYPE_CODE
	, TRANSACTION_FILE_HEADER_ID = B.TRANSACTION_FILE_HEADER_ID
	, SUBSCRIBER_UNIQUE_ID = B.SUBSCRIBER_UNIQUE_ID
	, RECEIVED_DATE = B.RECEIVED_DATE
	, RECEIVED_DATE_TIME_ID = B.RECEIVED_DATE_TIME_ID
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.TRANSACTION_FILE_DETAILS_STAGE B
WHERE DBO.TRANSACTION_FILE_DETAILS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID 
		
-- EXPLAIN 
INSERT INTO DBO.TRANSACTION_FILE_DETAILS
(
	  TRANSACTION_FILE_DETAIL_ID
	, SUBS_TRANS_TYPE_CODE
	, TRANSACTION_FILE_HEADER_ID
	, SUBSCRIBER_UNIQUE_ID
	, RECEIVED_DATE
	, RECEIVED_DATE_TIME_ID
	, INSERT_DATE
	, LAST_UPDATE_DATE
	)
SELECT --  TOP 100 
	  A.TRANSACTION_FILE_DETAIL_ID
	, A.SUBS_TRANS_TYPE_CODE
	, A.TRANSACTION_FILE_HEADER_ID
	, A.SUBSCRIBER_UNIQUE_ID
	, A.RECEIVED_DATE
	, A.RECEIVED_DATE_TIME_ID
	, A.LAST_UPDATE_DATE
	, A.LAST_UPDATE_DATE
FROM dbo.TRANSACTION_FILE_DETAILS_STAGE A
LEFT JOIN dbo.TRANSACTION_FILE_DETAILS B ON A.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID 
WHERE B.TRANSACTION_FILE_DETAIL_ID IS NULL
*/



