CREATE PROC [DBO].[FACT_CA_INVOICE_LOAD] AS

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_CA_INVOICE_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_CA_INVOICE_LOAD
GO

EXEC EDW_RITE.DBO.FACT_CA_INVOICE_LOAD
*/


DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @PROCEDURE_NAME VARCHAR(1000), @LOG_MESSAGE VARCHAR(3000), @ROW_COUNT BIGINT

SELECT  @SOURCE = 'FACT_CA_INVOICES', @LOG_START_DATE = SYSDATETIME(), @PROCEDURE_NAME = 'FACT_CA_INVOICES_LOAD'

SET @LOG_MESSAGE = @PROCEDURE_NAME + ' STARTED'
EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL

IF OBJECT_ID('EDW_RITE.dbo.CTE_CA_ACC') IS NOT NULL DROP TABLE EDW_RITE.dbo.CTE_CA_ACC
--EXPLAIN
CREATE TABLE EDW_RITE.dbo.CTE_CA_ACC	WITH (CLUSTERED INDEX (CA_ACCT_ID), DISTRIBUTION = HASH (LAST_INVOICE_ID)) AS
	SELECT	
		CAST(41070000000000 AS BIGINT) + CAST(X.VIOL_INVOICE_ID AS BIGINT) 	LAST_INVOICE_ID,
		CAST(A.VIOLATOR_ID AS BIGINT) VIOLATOR_ID, CAST(A.CA_ACCT_ID AS BIGINT) CA_ACCT_ID, A.CA_COMPANY_ID, CAST(X.VIOL_INVOICE_ID AS BIGINT) VIOL_INVOICE_ID, P.OLD_COMPANY_ID, X.CA_INV_STATUS, A.CA_ACCT_STATUS,  
		COALESCE(A.PARENT_CA_ACCT_ID, P.OLD_ACCT_ID, LAG(A.CA_ACCT_ID) OVER (PARTITION BY A.VIOLATOR_ID, A.CA_COMPANY_ID, X.VIOL_INVOICE_ID ORDER BY A.FILE_GEN_DATE)) AS PARENT_CA_ACCT_ID, 
		CAST(A.FILE_GEN_DATE AS DATE) AS FILE_GEN_DATE, CAST(P.OLD_ACCT_DATE AS DATE) AS OLD_ACCT_DATE,
		COALESCE(CAST(A.FILE_GEN_DATE AS DATE), CAST(A.CA_ACCT_DATE AS DATE)) AS CA_START_DATE,
		CAST(A.ACCOUNT_CLOSE_DATE AS DATE) AS CA_END_DATE, CAST(A.STATUS_DATE AS DATE) AS CA_ACCT_STATUS_DATE
		--LAG(A.CA_ACCT_ID) OVER (PARTITION BY A.VIOLATOR_ID, A.CA_COMPANY_ID, X.VIOL_INVOICE_ID ORDER BY A.FILE_GEN_DATE) AS PREV_CA_ACCT_ID
	FROM	LND_LG_VPS.VP_OWNER.CA_ACCT_INV_XREF X
	INNER JOIN	LND_LG_VPS.VP_OWNER.CA_ACCTS A 	ON X.CA_ACCT_ID = A.CA_ACCT_ID
	LEFT JOIN	EDW_RITE.dbo.CA_ACCT_ID_PARENT_CA_ACCT_ID_XREF P  ON	X.VIOL_INVOICE_ID = P.VIOL_INVOICE_ID AND A.CA_ACCT_ID = P.NEW_CA_ACCT
	--WHERE X.VIOL_INVOICE_ID = 492297507
OPTION (LABEL = 'FACT_CA_INVOICES LOAD: CTE_CA_ACC');

IF OBJECT_ID('EDW_RITE.dbo.FACT_CA_INVOICES_STAGE') IS NOT NULL DROP TABLE EDW_RITE.dbo.FACT_CA_INVOICES_STAGE

--EXPLAIN
CREATE TABLE EDW_RITE.dbo.FACT_CA_INVOICES_STAGE	WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH (LAST_INVOICE_ID)) AS
WITH CA_DATA AS
(--EXPLAIN
	SELECT	
		A.VIOLATOR_ID, A.CA_ACCT_ID, ISNULL(CAST(A.PARENT_CA_ACCT_ID AS BIGINT), -1) AS PARENT_CA_ACCT_ID, A.FILE_GEN_DATE, 
		COALESCE(A2.OLD_ACCT_DATE, A1.OLD_ACCT_DATE, A.OLD_ACCT_DATE, A2.CA_START_DATE, A1.CA_START_DATE, A.CA_START_DATE, '1900-01-01') AS FIRST_SENT_DATE, 
		COALESCE(A1.CA_COMPANY_ID, A.OLD_COMPANY_ID,-1) AS PARENT_COMPANY_ID,ISNULL(A.CA_START_DATE,'1900-01-01') AS CA_START_DATE,ISNULL(A.CA_END_DATE, '2200-01-01') AS CA_END_DATE, 
		A.CA_ACCT_STATUS, A.CA_ACCT_STATUS_DATE,A.CA_INV_STATUS,A.VIOL_INVOICE_ID,A.CA_COMPANY_ID,  
		UVI.LAST_INVOICE_ID, UVI.DPS_INV_STATUS,UVI.VIOL_INVOICE_DATE, UVI.VIOL_INV_STATUS,	CAST(UVI.VIOL_INV_STATUS_DATE AS DATE) VIOL_INV_STATUS_DATE, 
		UVI.VBI_INVOICE_ID, UVI.VB_INVOICE_DATE, UVI.VBI_STATUS,CAST(UVI.VIOL_INV_DATE_EXCUSED AS DATE) DATE_EXCUSED, 
		UVI.VIOL_INV_EXCUSED_BY AS EXCUSED_BY,UVI.VIOL_INVOICE_AMT AS INVOICE_AMOUNT, UVI.VIOL_INVOICE_AMT_DISC AS INVOICE_AMT_DISC,  
		UVI.FEES_AMOUNT AS TOLL_FEE, UVI.TOLL_AMOUNT, UVI.TRANSACTIONS_CNT, UVI.LEGACY_TRANSACTIONS_CNT, UVI.LEGACY_TOLL_AMOUNT
	FROM	EDW_RITE.dbo.FACT_INVOICES_DATA UVI
	JOIN	EDW_RITE.dbo.CTE_CA_ACC A  ON A.LAST_INVOICE_ID = UVI.LAST_INVOICE_ID
	LEFT JOIN	EDW_RITE.dbo.CTE_CA_ACC A1	ON A.LAST_INVOICE_ID = A1.LAST_INVOICE_ID AND A.PARENT_CA_ACCT_ID = A1.CA_ACCT_ID
	LEFT JOIN	EDW_RITE.dbo.CTE_CA_ACC A2	ON A1.LAST_INVOICE_ID = A2.LAST_INVOICE_ID AND A1.PARENT_CA_ACCT_ID = A2.CA_ACCT_ID
)
--, CTE_VOIL_CNT AS
--(
--	SELECT CA.CA_ACCT_ID, CA.LAST_INVOICE_ID, 
--	SUM(CASE WHEN VIOL_STATUS IN ('L','V') THEN 0 ELSE 1 END) AS TRANS_CNT, 
--	SUM(CASE WHEN VIOL_STATUS IN ('L','V') THEN 1 ELSE 0 END) AS LV_TRANS_CNT, 
--	SUM(CASE WHEN VIOL_STATUS IN ('L','V') THEN TOLL_DUE_AMOUNT ELSE 0 END) AS LV_TOLL_DUE 
--	FROM CA_DATA CA
--	JOIN dbo.VIOL_INVOICE_VIOL VV ON VV.VIOL_INVOICE_ID = CA.VIOL_INVOICE_ID
--	GROUP BY CA.CA_ACCT_ID, CA.LAST_INVOICE_ID
--)
SELECT
	A.LAST_INVOICE_ID,VIOLATOR_ID, A.CA_ACCT_ID, PARENT_CA_ACCT_ID, FILE_GEN_DATE, FIRST_SENT_DATE, CA_COMPANY_ID, PARENT_COMPANY_ID, 
	CASE WHEN CA_END_DATE < CA_START_DATE THEN CA_END_DATE ELSE CA_START_DATE END AS CA_START_DATE, 
	CA_END_DATE, A.CA_ACCT_STATUS, CA_ACCT_STATUS_DATE,CA_INV_STATUS, DPS_INV_STATUS,
	A.VIOL_INVOICE_ID,VIOL_INVOICE_DATE, VIOL_INV_STATUS, VIOL_INV_STATUS_DATE,  
	VBI_INVOICE_ID, VB_INVOICE_DATE, VBI_STATUS, DATE_EXCUSED,EXCUSED_BY,  
	INVOICE_AMOUNT, INVOICE_AMT_DISC, TOLL_FEE, TOLL_AMOUNT, 
	TRANSACTIONS_CNT AS TRANS_CNT, LEGACY_TRANSACTIONS_CNT - TRANSACTIONS_CNT AS LV_TRANS_CNT, LEGACY_TOLL_AMOUNT - TOLL_AMOUNT AS LV_TOLL_DUE
FROM CA_DATA A
--LEFT JOIN CTE_VOIL_CNT B ON B.LAST_INVOICE_ID = A.LAST_INVOICE_ID AND B.CA_ACCT_ID = A.CA_ACCT_ID
OPTION (LABEL = 'FACT_CA_INVOICES LOAD');

EXEC	EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

CREATE STATISTICS STATS_FACT_CA_INVOICES_000 ON dbo.FACT_CA_INVOICES_STAGE (LAST_INVOICE_ID)
CREATE STATISTICS STATS_FACT_CA_INVOICES_001 ON dbo.FACT_CA_INVOICES_STAGE (VIOLATOR_ID)
CREATE STATISTICS STATS_FACT_CA_INVOICES_002 ON dbo.FACT_CA_INVOICES_STAGE (PARENT_CA_ACCT_ID)
CREATE STATISTICS STATS_FACT_CA_INVOICES_003 ON dbo.FACT_CA_INVOICES_STAGE (CA_ACCT_ID)
CREATE STATISTICS STATS_FACT_CA_INVOICES_004 ON dbo.FACT_CA_INVOICES_STAGE (CA_COMPANY_ID)
CREATE STATISTICS STATS_FACT_CA_INVOICES_005 ON dbo.FACT_CA_INVOICES_STAGE (VIOL_INVOICE_ID)
CREATE STATISTICS STATS_FACT_CA_INVOICES_006 ON dbo.FACT_CA_INVOICES_STAGE (VBI_INVOICE_ID)
CREATE STATISTICS STATS_FACT_CA_INVOICES_007 ON dbo.FACT_CA_INVOICES_STAGE (CA_ACCT_STATUS)
CREATE STATISTICS STATS_FACT_CA_INVOICES_008 ON dbo.FACT_CA_INVOICES_STAGE (CA_START_DATE)
CREATE STATISTICS STATS_FACT_CA_INVOICES_009 ON dbo.FACT_CA_INVOICES_STAGE (FIRST_SENT_DATE)

SET @LOG_MESSAGE = @PROCEDURE_NAME + ' FINISHED'
EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

/*

SELECT COUNT_BIG(1) FROM dbo.FACT_CA_INVOICES --36 024 180

SELECT TOP 100 * FROM dbo.FACT_CA_INVOICES WHERE VIOL_INV_STATUS IS NULL  -- 67980

SELECT * FROM dbo.VIOL_INVOICES V
WHERE V.VIOL_INVOICE_ID IN (SELECT VIOL_INVOICE_ID FROM dbo.FACT_CA_INVOICES WHERE VIOL_INV_STATUS IS NULL)

*/

IF OBJECT_ID('dbo.FACT_CA_INVOICES_OLD')  IS NOT NULL DROP TABLE dbo.FACT_CA_INVOICES_OLD;
IF OBJECT_ID('dbo.FACT_CA_INVOICES')  IS NOT NULL RENAME OBJECT::dbo.FACT_CA_INVOICES TO FACT_CA_INVOICES_OLD;
RENAME OBJECT::dbo.FACT_CA_INVOICES_STAGE TO FACT_CA_INVOICES;
IF OBJECT_ID('dbo.FACT_CA_INVOICES_OLD')  IS NOT NULL DROP TABLE dbo.FACT_CA_INVOICES_OLD;

IF OBJECT_ID('EDW_RITE.dbo.CTE_CA_ACC') IS NOT NULL DROP TABLE EDW_RITE.dbo.CTE_CA_ACC




