CREATE PROC [DBO].[VIOL_PAY_TYPES_LOAD] AS 

--DECLARE @LAST_UPDATE_DATE datetime2(2) 
--exec dbo.GetLoadStartDatetime 'dbo.VIOL_PAY_TYPE', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.VIOL_PAY_TYPES_STAGE')<>0
	DROP TABLE dbo.VIOL_PAY_TYPES_STAGE

CREATE TABLE dbo.VIOL_PAY_TYPES_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VIOL_PAY_TYPE)) 
AS 
-- EXPLAIN
SELECT A.VIOL_PAY_TYPE, A.VIOL_PAY_TYPE_DESCR, A.LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[VIOL_PAY_TYPES] A
OPTION (LABEL = 'VIOL_PAY_TYPE_LOAD: VIOL_PAY_TYPE_STAGE');

CREATE STATISTICS STATS_VIOL_PAY_TYPE_STAGE_001 ON VIOL_PAY_TYPES_STAGE (VIOL_PAY_TYPE)


UPDATE dbo.VIOL_PAY_TYPES
SET  VIOL_PAY_TYPE_DESCR = B.VIOL_PAY_TYPE_DESCR
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.VIOL_PAY_TYPES_STAGE B
WHERE 
	dbo.VIOL_PAY_TYPES.VIOL_PAY_TYPE = B.VIOL_PAY_TYPE
	AND 
	dbo.VIOL_PAY_TYPES.VIOL_PAY_TYPE_DESCR <> B.VIOL_PAY_TYPE_DESCR

INSERT INTO dbo.VIOL_PAY_TYPES (VIOL_PAY_TYPE, VIOL_PAY_TYPE_DESCR, INSERT_DATE, LAST_UPDATE_DATE)
SELECT A.VIOL_PAY_TYPE, A.VIOL_PAY_TYPE_DESCR, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.VIOL_PAY_TYPE_STAGE A
LEFT JOIN dbo.VIOL_PAY_TYPES B ON A.VIOL_PAY_TYPE = B.VIOL_PAY_TYPE
WHERE B.VIOL_PAY_TYPE IS NULL



