CREATE PROC [DBO].[LANE_VIOL_STATUS_LOAD] AS 

-- GetFields 'LANE_VIOL_STATUS'
--    LANE_VIOL_STATUS, LANE_VIOL_STATUS_DESCR, LAST_UPDATE_DATE, LAST_UPDATE_TYPE

DECLARE @LAST_UPDATE_DATE datetime2(2) 
exec dbo.GetLoadStartDatetime 'dbo.LANE_VIOL_STATUS', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.LANE_VIOL_STATUS_STAGE')<>0
	DROP TABLE dbo.LANE_VIOL_STATUS_STAGE

CREATE TABLE dbo.LANE_VIOL_STATUS_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (LANE_VIOL_STATUS)) 
AS 
-- EXPLAIN
SELECT   LANE_VIOL_STATUS, LANE_VIOL_STATUS_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[LANE_VIOL_STATUS] A
--WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'LANE_VIOL_STATUS_LOAD: LANE_VIOL_STATUS_STAGE');

CREATE STATISTICS STATS_LANE_VIOL_STATUS_STAGE_001 ON LANE_VIOL_STATUS_STAGE (LANE_VIOL_STATUS)


UPDATE dbo.LANE_VIOL_STATUS
SET  LANE_VIOL_STATUS_DESCR = B.LANE_VIOL_STATUS_DESCR
	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.LANE_VIOL_STATUS_STAGE B
WHERE 
	dbo.LANE_VIOL_STATUS.LANE_VIOL_STATUS = B.LANE_VIOL_STATUS
	AND dbo.LANE_VIOL_STATUS.LANE_VIOL_STATUS_DESCR <> B.LANE_VIOL_STATUS_DESCR 

INSERT INTO dbo.LANE_VIOL_STATUS (LANE_VIOL_STATUS, LANE_VIOL_STATUS_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT A.LANE_VIOL_STATUS, A.LANE_VIOL_STATUS_DESCR, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM dbo.LANE_VIOL_STATUS_STAGE A
LEFT JOIN dbo.LANE_VIOL_STATUS B ON A.LANE_VIOL_STATUS = B.LANE_VIOL_STATUS 
WHERE B.LANE_VIOL_STATUS IS NULL 

/*
	INSERT INTO LANE_VIOL_STATUS VALUES('-1','(Null)','I','5/19/2016')
	SELECT * FROM LANE_VIOL_STATUS

*/


