CREATE PROC [DBO].[FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_LOAD] AS --DROP PROC [DBO].[FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_LOAD]
/*	SELECT TOP 100 * FROM FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL --35,440,670*/  

	--STEP #1: SUMMARY
	IF OBJECT_ID('dbo.FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_STAGE')>0 DROP TABLE dbo.FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_STAGE

	CREATE TABLE dbo.FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([DAY_ID])) AS  --ROUND_ROBIN --DROP TABLE FACT_LANE_ANALYSIS
	--EXPLAIN
	SELECT    DAY_ID
			, [Cal_WeekID]	
			, [Cal_MonthID]	
			, [Cal_QuarterID] 
			, [Cal_YearID]	
			, [vw_FACT_VIOLATIONS].LANE_ID
			, [LANE_ABBREV]
			, ISNULL(CAST(VCLY_ID AS INT), -1) VCLY_ID
			, COALESCE([DIM_PURSUED_LEVEL_0].[NAME], [DIM_PURSUED_LEVEL_1].LEVEL_0, [DIM_PURSUED_LEVEL_2].LEVEL_0) LEVEL_0
			, COALESCE([DIM_PURSUED_LEVEL_1].[NAME], [DIM_PURSUED_LEVEL_2].LEVEL_1) LEVEL_1
			, [DIM_PURSUED_LEVEL_2].[NAME] LEVEL_2
			, [STATUS] 
			, [vw_FACT_VIOLATIONS].STATUS_DESCR
			, TXN_CNT * COALESCE([DIM_PURSUED_LEVEL_0].[MULTIPLIER], [DIM_PURSUED_LEVEL_1].[MULTIPLIER], [DIM_PURSUED_LEVEL_2].[MULTIPLIER], 1) AS TXN_CNT
			, POS_REV * COALESCE([DIM_PURSUED_LEVEL_0].[MULTIPLIER], [DIM_PURSUED_LEVEL_1].[MULTIPLIER], [DIM_PURSUED_LEVEL_2].[MULTIPLIER], 1) AS POS_REV
			, ACT_REV * COALESCE([DIM_PURSUED_LEVEL_0].[MULTIPLIER], [DIM_PURSUED_LEVEL_1].[MULTIPLIER], [DIM_PURSUED_LEVEL_2].[MULTIPLIER], 1) AS ACT_REV
			, CASE 
					WHEN [DIM_PURSUED_LEVEL_2].[NAME] = 'VToll Posted' THEN
							POS_REV * COALESCE([DIM_PURSUED_LEVEL_0].[MULTIPLIER], [DIM_PURSUED_LEVEL_1].[MULTIPLIER], [DIM_PURSUED_LEVEL_2].[MULTIPLIER], 1) 
					ELSE	ACT_REV * COALESCE([DIM_PURSUED_LEVEL_0].[MULTIPLIER], [DIM_PURSUED_LEVEL_1].[MULTIPLIER], [DIM_PURSUED_LEVEL_2].[MULTIPLIER], 1) 
			  END AS ADJ_REV
			--, 0 AVI_HANDSHAKE--SELECT TOP (1000) *  --SELECT COUNT(1)--42,378,728 42,135,551
	FROM [dbo].FACT_VIOLATIONS_SUMMARY [vw_FACT_VIOLATIONS] --WHERE DAY_ID BETWEEN 20161231 AND 20161231 --WHERE LANE_ID < 0
	LEFT JOIN [dbo].[DIM_DAY]			   ON [DIM_DAY].[DayID] = [vw_FACT_VIOLATIONS].DAY_ID
	LEFT JOIN [dbo].[DIM_LANE]			   ON [DIM_LANE].[LANE_ID] = [vw_FACT_VIOLATIONS].[LANE_ID]
	LEFT JOIN [dbo].[DIM_PURSUED_LEVEL_0] ON [DIM_PURSUED_LEVEL_0].[NAME] = [vw_FACT_VIOLATIONS].STATUS_DESCR
	LEFT JOIN [dbo].[DIM_PURSUED_LEVEL_1] ON [DIM_PURSUED_LEVEL_1].[NAME] = [vw_FACT_VIOLATIONS].STATUS_DESCR
	LEFT JOIN [dbo].[DIM_PURSUED_LEVEL_2] ON [DIM_PURSUED_LEVEL_2].[NAME] = [vw_FACT_VIOLATIONS].STATUS_DESCR
	WHERE [STATUS] NOT IN ('HOST-ALL', 'HOST-VIOL', 'ICRS-D', 'ICRS-POOL', 'VIOL-VTOLL', 'ICRS-ALL', 'VIOL-DMV-P', 'VIOL-UM-DMV', 'VIOL-M-DMV', 'VIOL-UBR', 'LP-OTHER')--'VIOL-TX', 'P', 

	--STEP #2: Replace OLD table with NEW
	IF OBJECT_ID('dbo.FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_OLD')>0 	DROP TABLE dbo.FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_OLD;
	IF OBJECT_ID('dbo.FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL')>0		RENAME OBJECT::dbo.FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL TO FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_OLD;
	RENAME OBJECT::dbo.FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_STAGE TO FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL;
	IF OBJECT_ID('dbo.FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_OLD')>0 	DROP TABLE dbo.FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_OLD;

	--STEP #3: Create Statistics --[dbo].[CreateStats] 'dbo', 'FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL'
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_001 ON [dbo].FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL (DAY_ID)
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_002 ON [dbo].FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL (LANE_ID)
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_003 ON [dbo].FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL ([Cal_WeekID])
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_004 ON [dbo].FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL ([STATUS])
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_005 ON [dbo].FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL ([Cal_MonthID])
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_006 ON [dbo].FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL ([Cal_QuarterID])
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_007 ON [dbo].FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL ([Cal_YearID])
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_008 ON [dbo].FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL (LEVEL_0)
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_009 ON [dbo].FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL (LEVEL_1)
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_010 ON [dbo].FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL (LEVEL_2)
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL_011 ON [dbo].FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL (VCLY_ID)



