CREATE PROC [dbo].[VB_INV_STATUS_LOAD] AS

IF OBJECT_ID('dbo.VB_INV_STATUS_STAGE')<>0
	DROP TABLE dbo.VB_INV_STATUS_STAGE

CREATE TABLE dbo.VB_INV_STATUS_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (STATUS)) 
AS 
SELECT STATUS,DESCRIPTION, IS_CLOSED, LAST_UPDATE_DATE
FROM [LND_LG_VPS].[VP_OWNER].[VB_INV_STATUS]
OPTION (LABEL = 'VB_INV_STATUS_LOAD: CTAS VB_INV_STATUS_STAGE');


UPDATE dbo.VB_INV_STATUS
SET DESCRIPTION = B.DESCRIPTION
	, IS_CLOSED = B.IS_CLOSED
	,LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.VB_INV_STATUS_STAGE B
WHERE 
	dbo.VB_INV_STATUS.STATUS = B.STATUS
	AND 
		(	
			dbo.VB_INV_STATUS.DESCRIPTION <> B.DESCRIPTION
			OR 
			dbo.VB_INV_STATUS.IS_CLOSED <> B.IS_CLOSED
		)
OPTION (LABEL = 'VB_INV_STATUS_LOAD: UPDATE VB_INV_STATUS');


INSERT INTO dbo.VB_INV_STATUS (STATUS, DESCRIPTION, STATUS_GROUP, STATUS_SUM_GROUP, IS_CLOSED, INSERT_DATE, LAST_UPDATE_DATE)
SELECT A.STATUS, A.DESCRIPTION, '(Null)' AS STATUS_GROUP, '(Null)' AS STATUS_SUM_GROUP, A.IS_CLOSED, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.VB_INV_STATUS_STAGE A
LEFT JOIN dbo.VB_INV_STATUS B ON A.STATUS = B.STATUS
WHERE B.STATUS IS NULL
OPTION (LABEL = 'VB_INV_STATUS_LOAD: INSERT VB_INV_STATUS');
