CREATE PROC [DBO].[COURT_ACT_VIOL_LOAD] AS

-- EXEC EDW_RITE.DBO.COURT_ACT_VIOL_LOAD
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.COURT_ACT_VIOL_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.COURT_ACT_VIOL_LOAD
GO

*/

/*

INSERT INTO dbo.COURT_ACT_VIOL
	(	 	  
	COURT_ACTION_ID, VIOL_INVOICE_ID, VIOLATION_ID, FINE_AMOUNT, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
	VALUES
	(-1,-1,-1,0,'I','2000-01-01')

*/

/*	SELECT TOP 100 * FROM COURT_ACT_VIOL */  
/*	SELECT COUNT_BIG(1) FROM COURT_ACT_VIOL -- 215 250 */ 

DECLARE @LAST_UPDATE_DATE datetime2(2) 
exec dbo.GetLoadStartDatetime 'dbo.COURT_ACT_VIOL', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.COURT_ACT_VIOL_STAGE')<>0	DROP TABLE dbo.COURT_ACT_VIOL_STAGE

CREATE TABLE dbo.COURT_ACT_VIOL_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (COURT_ACTION_ID, VIOL_INVOICE_ID, VIOLATION_ID)) 
AS 
-- EXPLAIN
SELECT   COURT_ACTION_ID, VIOL_INVOICE_ID, VIOLATION_ID, FINE_AMOUNT, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[COURT_ACT_VIOL] A
WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'COURT_ACT_VIOL_LOAD: COURT_ACT_VIOL_STAGE');

CREATE STATISTICS STATS_COURT_ACT_VIOL_STAGE_001 ON COURT_ACT_VIOL_STAGE (COURT_ACTION_ID, VIOL_INVOICE_ID, VIOLATION_ID)


IF OBJECT_ID('dbo.COURT_ACT_VIOL_NEW_STAGE')>0 	DROP TABLE dbo.COURT_ACT_VIOL_NEW_STAGE

CREATE TABLE dbo.COURT_ACT_VIOL_NEW_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(COURT_ACTION_ID)) AS    
SELECT	
	COURT_ACTION_ID, VIOL_INVOICE_ID, VIOLATION_ID, FINE_AMOUNT, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM dbo.COURT_ACT_VIOL AS F 
WHERE	NOT EXISTS (SELECT 1 FROM dbo.COURT_ACT_VIOL_STAGE AS NSET WHERE NSET.COURT_ACTION_ID = F.COURT_ACTION_ID AND NSET.VIOL_INVOICE_ID = F.VIOL_INVOICE_ID AND NSET.VIOLATION_ID = F.VIOLATION_ID) 

  UNION ALL 
  
SELECT	
	COURT_ACTION_ID, VIOL_INVOICE_ID, VIOLATION_ID, FINE_AMOUNT, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM dbo.COURT_ACT_VIOL_STAGE
OPTION (LABEL = 'COURT_ACT_VIOL_LOAD: INSERT/UPDATE');


--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.COURT_ACT_VIOL_OLD')>0 	DROP TABLE dbo.COURT_ACT_VIOL_OLD;
IF OBJECT_ID('dbo.COURT_ACT_VIOL')>0		RENAME OBJECT::dbo.COURT_ACT_VIOL TO COURT_ACT_VIOL_OLD;
RENAME OBJECT::dbo.COURT_ACT_VIOL_NEW_STAGE TO COURT_ACT_VIOL;
IF OBJECT_ID('dbo.COURT_ACT_VIOL_OLD')>0 	DROP TABLE dbo.COURT_ACT_VIOL_OLD;

CREATE STATISTICS [STATS_COURT_ACT_VIOL_001] ON [dbo].[COURT_ACT_VIOL] ([COURT_ACTION_ID]);
CREATE STATISTICS [STATS_COURT_ACT_VIOL_002] ON [dbo].[COURT_ACT_VIOL] ([COURT_ACTION_ID], [VIOL_INVOICE_ID]);
CREATE STATISTICS [STATS_COURT_ACT_VIOL_003] ON [dbo].[COURT_ACT_VIOL] ([COURT_ACTION_ID], [VIOL_INVOICE_ID], [VIOLATION_ID]);
CREATE STATISTICS [STATS_COURT_ACT_VIOL_004] ON [dbo].[COURT_ACT_VIOL] ([VIOL_INVOICE_ID], [COURT_ACTION_ID]);

IF OBJECT_ID('dbo.COURT_ACT_VIOL_STAGE')>0 	DROP TABLE dbo.COURT_ACT_VIOL_STAGE


/*
UPDATE dbo.COURT_ACT_VIOL
SET  FINE_AMOUNT = B.FINE_AMOUNT
	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.COURT_ACT_VIOL_STAGE B
WHERE 
	dbo.COURT_ACT_VIOL.COURT_ACTION_ID = B.COURT_ACTION_ID
	AND dbo.COURT_ACT_VIOL.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID 
	AND dbo.COURT_ACT_VIOL.VIOLATION_ID = B.VIOLATION_ID 
	AND	dbo.COURT_ACT_VIOL.FINE_AMOUNT <> B.FINE_AMOUNT

INSERT INTO dbo.COURT_ACT_VIOL (COURT_ACTION_ID, VIOL_INVOICE_ID, VIOLATION_ID, FINE_AMOUNT, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT A.COURT_ACTION_ID, A.VIOL_INVOICE_ID, A.VIOLATION_ID, A.FINE_AMOUNT, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM dbo.COURT_ACT_VIOL_STAGE A
LEFT JOIN dbo.COURT_ACT_VIOL B ON A.COURT_ACTION_ID = B.COURT_ACTION_ID AND A.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID AND A.VIOLATION_ID = B.VIOLATION_ID
WHERE B.COURT_ACTION_ID IS NULL AND B.VIOL_INVOICE_ID IS NULL AND B.VIOLATION_ID IS NULL

*/

