CREATE PROC [DBO].[FACT_TRIP_LOAD] AS --DROP PROC [DBO].[FACT_TRIP_LOAD]

--Ranjith Nair 2017-12-20  Initial Draft

/*	SELECT TOP 100 * FROM FACT_TRIP; SELECT TOP 100 * FROM FACT_TRIP; */  
	DECLARE @StartDate [DATETIME] = '1/1/2017';	--DECLARE @EndDate [DATETIME] = '12/31/2017'; --SET @EndDate = (SELECT DATEADD(SECOND, 86399, @EndDate)) --Set the End time to midnight

	--STEP#1: Load data using the filters to a table:
	IF OBJECT_ID('TripHistory_Stage') IS NOT NULL	DROP TABLE dbo.TripHistory_Stage

	CREATE TABLE dbo.TripHistory_Stage WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(DAY_ID)) AS --EXPLAIN
	SELECT  [ACCT_ID], TAG_ID, DAY_ID, SUM(AMOUNT) TRIP_AMT,
			MAX([1]) [PLAZA_1],MAX([D1]) [DIR_1],MAX([T1]) [TXN_1],
			MAX([2]) [PLAZA_2],MAX([D2]) [DIR_2],MAX([T2]) [TXN_2],
			MAX([3]) [PLAZA_3],MAX([D3]) [DIR_3],MAX([T3]) [TXN_3],
			MAX([4]) [PLAZA_4],MAX([D4]) [DIR_4],MAX([T4]) [TXN_4],
			MAX([5]) [PLAZA_5],MAX([D5]) [DIR_5],MAX([T5]) [TXN_5],
			MAX([6]) [PLAZA_6],MAX([D6]) [DIR_6],MAX([T6]) [TXN_6],
			MAX([7]) [PLAZA_7],MAX([D7]) [DIR_7],MAX([T7]) [TXN_7],
			MAX([8]) [PLAZA_8],MAX([D8]) [DIR_8],MAX([T8]) [TXN_8],
			MAX([9]) [PLAZA_9],MAX([D9]) [DIR_9],MAX([T9]) [TXN_9],
			MAX([10]) [PLAZA_10],MAX([D10]) [DIR_10],MAX([T10]) [TXN_10]
	FROM (	 --EXPLAIN
			SELECT [ACCT_ID],TAG_ID,PLAZA_NAME,LANE_DIRECTION,DAY_ID,TRANSACTION_DATE,AMOUNT,
					ROW_NUMBER() OVER (PARTITION BY ACCT_ID, TAG_ID, DAY_ID, TRIP ORDER BY TRANSACTION_DATE) R1,
					'T' + CAST(ROW_NUMBER() OVER (PARTITION BY ACCT_ID, TAG_ID, DAY_ID, TRIP ORDER BY TRANSACTION_DATE) AS VARCHAR) AS R2,
					'D' + CAST(ROW_NUMBER() OVER (PARTITION BY ACCT_ID, TAG_ID, DAY_ID, TRIP ORDER BY TRANSACTION_DATE) AS VARCHAR) AS R3, 
					MIN_DIFF,TOTAL_DIFF,TRIP
			FROM (
					SELECT [ACCT_ID],TAG_ID,PLAZA_NAME,LANE_DIRECTION,DAY_ID,TRANSACTION_DATE,AMOUNT,R1,MIN_DIFF,
							SUM(MIN_DIFF) OVER (PARTITION BY  ACCT_ID, TAG_ID,DAY_ID ORDER BY TRANSACTION_DATE ROWS UNBOUNDED PRECEDING) TOTAL_DIFF,
							SUM(MIN_DIFF) OVER (PARTITION BY  ACCT_ID, TAG_ID,DAY_ID ORDER BY TRANSACTION_DATE ROWS UNBOUNDED PRECEDING)/30 TRIP
					FROM (
							SELECT --TOP(100) 
									[ACCT_ID], TAG_ID,PLAZA_NAME,LANE_DIRECTION,CONVERT(VARCHAR, TRANSACTION_DATE, 112) DAY_ID, TRANSACTION_DATE, [TAG_TOLL] AMOUNT,
									ROW_NUMBER() OVER (PARTITION BY ACCT_ID, TAG_ID, CONVERT(VARCHAR, TRANSACTION_DATE, 112) ORDER BY TRANSACTION_DATE) R1,
									DATEDIFF(MINUTE, ISNULL(LAG(TRANSACTION_DATE) OVER (PARTITION BY ACCT_ID, TAG_ID, CONVERT(VARCHAR, TRANSACTION_DATE, 112) ORDER BY TRANSACTION_DATE),TRANSACTION_DATE), TRANSACTION_DATE) AS MIN_DIFF,
									LAG (TRANSACTION_DATE,2,GETDATE()) OVER (PARTITION BY ACCT_ID, TAG_ID, CONVERT(VARCHAR, TRANSACTION_DATE, 112) ORDER BY TRANSACTION_DATE) AS PREV_TXN
									--SELECT COUNT_BIG(1)
							FROM	LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS --EDW_RITE.[DBO].[TOLL_TRANSACTIONS] 
							JOIN	EDW_RITE.dbo.DIM_LANE ON TOLL_TRANSACTIONS.LANE_ID = DIM_LANE.LANE_ID
							AND		TRANSACTION_DATE > @StartDate --BETWEEN @StartDate AND @EndDate --'12/1/2017' AND '12/31/2017 23:59:59' --
							--AND     AMOUNT > 0  --Exclude NTTA & FIRE FIGHTERS
							AND		TOLL_TRANSACTIONS.LANE_ID IN (SELECT LANE_ID FROM [dbo].[DIM_LANE] WHERE AGENCY_ID = 2 AND SUB_AGENCY_ABBREV IN('NTTA SPS','NTTA System','SPS')) --NTTA  SELECT DISTINCT AGENCY_ABBREV,FROM [dbo].[DIM_LANE] WHERE AGENCY_ID = 2 --WHERE LANE_ID=20627 
							JOIN LND_LG_HOST.[FPL_OWNER].[CURR_TOLL_RATE] ON DIM_LANE.[PLAZA_ID] = [CURR_TOLL_RATE].[PLAZA_ID] AND TOLL_TRANSACTIONS.VEHICLE_CLASS_CODE = [VEHICLE_CLASS] AND TRANSACTION_DATE BETWEEN [TOLL_START_TIME] AND ISNULL([TOLL_END_TIME], GETDATE())
						) A 
				) B --ORDER  BY [ACCT_ID], TAG_ID, TRANSACTION_DATE
		) AS SourceTable
		PIVOT (MAX(PLAZA_NAME) FOR R1 IN ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10]) ) AS Pivot1 
		PIVOT (MIN(TRANSACTION_DATE) FOR R2 IN ([T1],[T2],[T3],[T4],[T5],[T6],[T7],[T8],[T9],[T10]) ) AS Pivot2
		PIVOT (MIN(LANE_DIRECTION) FOR R3 IN ([D1],[D2],[D3],[D4],[D5],[D6],[D7],[D8],[D9],[D10]) ) AS Pivot2
	GROUP BY ACCT_ID, TAG_ID, DAY_ID,TRIP--	ORDER BY 1,2,3
	OPTION (LABEL = 'TripHistory_Stage LOAD');

	--STEP #1a: Replace OLD table with NEW
	IF OBJECT_ID('dbo.FACT_TRIP_OLD')>0 		DROP TABLE dbo.FACT_TRIP_OLD;
	IF OBJECT_ID('dbo.FACT_TRIP')>0				RENAME OBJECT::dbo.FACT_TRIP TO FACT_TRIP_OLD;
	RENAME OBJECT::dbo.TRIPHISTORY_STAGE TO FACT_TRIP;
	IF OBJECT_ID('dbo.FACT_TRIP_OLD')>0 		DROP TABLE dbo.FACT_TRIP_OLD;

	--STEP #1b: Create Statistics --[dbo].[CreateStats] 'dbo', 'FACT_TRIP'
	CREATE STATISTICS STATS_FACT_TRIP_001 ON [dbo].FACT_TRIP (DAY_ID)
	CREATE STATISTICS STATS_FACT_TRIP_004 ON [dbo].FACT_TRIP (ACCT_ID)
	CREATE STATISTICS STATS_FACT_TRIP_005 ON [dbo].FACT_TRIP (TAG_ID)
	CREATE STATISTICS STATS_FACT_TRIP_006 ON [dbo].FACT_TRIP (DAY_ID,ACCT_ID,TAG_ID)

	--STEP#2: Load data using the filters to a table:
	IF OBJECT_ID('TRIPHISTORY_STAGE') IS NOT NULL	DROP TABLE dbo.TRIPHISTORY_STAGE

	CREATE TABLE dbo.TRIPHISTORY_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(DAY_ID)) AS --EXPLAIN
	SELECT  [LIC_PLATE_NBR], LIC_PLATE_STATE, DAY_ID, SUM(AMOUNT) TRIP_AMT,
			MAX([1]) [PLAZA_1],MAX([D1]) [DIR_1],MAX([T1]) [TXN_1],
			MAX([2]) [PLAZA_2],MAX([D2]) [DIR_2],MAX([T2]) [TXN_2],
			MAX([3]) [PLAZA_3],MAX([D3]) [DIR_3],MAX([T3]) [TXN_3],
			MAX([4]) [PLAZA_4],MAX([D4]) [DIR_4],MAX([T4]) [TXN_4],
			MAX([5]) [PLAZA_5],MAX([D5]) [DIR_5],MAX([T5]) [TXN_5],
			MAX([6]) [PLAZA_6],MAX([D6]) [DIR_6],MAX([T6]) [TXN_6],
			MAX([7]) [PLAZA_7],MAX([D7]) [DIR_7],MAX([T7]) [TXN_7],
			MAX([8]) [PLAZA_8],MAX([D8]) [DIR_8],MAX([T8]) [TXN_8],
			MAX([9]) [PLAZA_9],MAX([D9]) [DIR_9],MAX([T9]) [TXN_9],
			MAX([10]) [PLAZA_10],MAX([D10]) [DIR_10],MAX([T10]) [TXN_10]
	FROM (	 --EXPLAIN DECLARE @StartDate [DATETIME] = '1/1/2017'; DECLARE @EndDate [DATETIME] = '12/31/2017'; SET @EndDate = (SELECT DATEADD(SECOND, 86399, @EndDate))
			SELECT [LIC_PLATE_NBR],LIC_PLATE_STATE,PLAZA_NAME,LANE_DIRECTION,DAY_ID,TRANSACTION_DATE,AMOUNT,
					ROW_NUMBER() OVER (PARTITION BY LIC_PLATE_NBR, LIC_PLATE_STATE, DAY_ID, TRIP ORDER BY TRANSACTION_DATE) R1,
					'T' + CAST(ROW_NUMBER() OVER (PARTITION BY LIC_PLATE_NBR, LIC_PLATE_STATE, DAY_ID, TRIP ORDER BY TRANSACTION_DATE) AS VARCHAR) AS R2,
					'D' + CAST(ROW_NUMBER() OVER (PARTITION BY LIC_PLATE_NBR, LIC_PLATE_STATE, DAY_ID, TRIP ORDER BY TRANSACTION_DATE) AS VARCHAR) AS R3, 
					MIN_DIFF,TOTAL_DIFF,TRIP
			FROM (
					SELECT [LIC_PLATE_NBR],LIC_PLATE_STATE,PLAZA_NAME,LANE_DIRECTION,DAY_ID,TRANSACTION_DATE,AMOUNT,R1,MIN_DIFF,
							SUM(MIN_DIFF) OVER (PARTITION BY  LIC_PLATE_NBR, LIC_PLATE_STATE,DAY_ID ORDER BY TRANSACTION_DATE ROWS UNBOUNDED PRECEDING) TOTAL_DIFF,
							SUM(MIN_DIFF) OVER (PARTITION BY  LIC_PLATE_NBR, LIC_PLATE_STATE,DAY_ID ORDER BY TRANSACTION_DATE ROWS UNBOUNDED PRECEDING)/30 TRIP
					FROM (--EXPLAIN DECLARE @StartDate [DATETIME] = '1/1/2017'; DECLARE @EndDate [DATETIME] = '12/31/2017'; SET @EndDate = (SELECT DATEADD(SECOND, 86399, @EndDate))
							SELECT	COALESCE(LV.CAMERA_LIC_PLATE_NBR, LV.LIC_PLATE_NBR) LIC_PLATE_NBR,COALESCE(LV.CAMERA_LIC_PLATE_STATE, LV.LIC_PLATE_STATE) LIC_PLATE_STATE,
									PLAZA_NAME,LANE_DIRECTION,CONVERT(VARCHAR, LV.VIOL_DATE, 112) DAY_ID, LV.VIOL_DATE TRANSACTION_DATE,LV.TOLL_DUE AMOUNT,
									ROW_NUMBER() OVER (PARTITION BY COALESCE(LV.CAMERA_LIC_PLATE_NBR, LV.LIC_PLATE_NBR),COALESCE(LV.CAMERA_LIC_PLATE_STATE, LV.LIC_PLATE_STATE), CONVERT(VARCHAR, LV.VIOL_DATE, 112) ORDER BY LV.VIOL_DATE) R1,
									DATEDIFF(MINUTE, ISNULL(LAG(LV.VIOL_DATE) OVER (PARTITION BY COALESCE(LV.CAMERA_LIC_PLATE_NBR, LV.LIC_PLATE_NBR),COALESCE(LV.CAMERA_LIC_PLATE_STATE, LV.LIC_PLATE_STATE), CONVERT(VARCHAR, LV.VIOL_DATE, 112) ORDER BY LV.VIOL_DATE),LV.VIOL_DATE), LV.VIOL_DATE) AS MIN_DIFF,
									LAG (LV.VIOL_DATE,2,GETDATE()) OVER (PARTITION BY COALESCE(LV.CAMERA_LIC_PLATE_NBR, LV.LIC_PLATE_NBR),COALESCE(LV.CAMERA_LIC_PLATE_STATE, LV.LIC_PLATE_STATE), CONVERT(VARCHAR, LV.VIOL_DATE, 112) ORDER BY LV.VIOL_DATE) AS PREV_TXN
									--SELECT TOP(10) *
							FROM	LND_LG_ICRS.ICRS_OWNER.ICS_LANE_VIOLATIONS LV
							JOIN	EDW_RITE.dbo.DIM_LANE ON LV.LANE_ID = DIM_LANE.LANE_ID
							AND		LV.VIOL_DATE > @StartDate --BETWEEN @StartDate AND @EndDate --'12/12/2017' AND '12/31/2017 23:59:59' --
							AND		LV.LANE_ID IN (SELECT LANE_ID FROM [dbo].[DIM_LANE] WHERE AGENCY_ID = 2 AND SUB_AGENCY_ABBREV IN('NTTA SPS','NTTA System','SPS')) --NTTA 	
							AND		COALESCE(CAMERA_LIC_PLATE_NBR, LIC_PLATE_NBR) NOT LIKE '~%'--!= '~'
							--AND		COALESCE(LV.CAMERA_LIC_PLATE_NBR, LV.LIC_PLATE_NBR) = 'UTJEEP' AND COALESCE(LV.CAMERA_LIC_PLATE_STATE, LV.LIC_PLATE_STATE) = 'TX'
						) A 
				) B --ORDER  BY [LIC_PLATE_NBR], LIC_PLATE_STATE, TRANSACTION_DATE 
		) AS SourceTable
		PIVOT (MAX(PLAZA_NAME) FOR R1 IN ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10]) ) AS Pivot1 
		PIVOT (MIN(TRANSACTION_DATE) FOR R2 IN ([T1],[T2],[T3],[T4],[T5],[T6],[T7],[T8],[T9],[T10]) ) AS Pivot2
		PIVOT (MIN(LANE_DIRECTION) FOR R3 IN ([D1],[D2],[D3],[D4],[D5],[D6],[D7],[D8],[D9],[D10]) ) AS Pivot2
	GROUP BY LIC_PLATE_NBR, LIC_PLATE_STATE, DAY_ID,TRIP--	ORDER BY 1,2,3
	OPTION (LABEL = 'TRIPHISTORY_STAGE_ICRS LOAD');

	--STEP #2a: Replace OLD table with NEW
	IF OBJECT_ID('dbo.FACT_TRIP_ICRS_OLD')>0 		DROP TABLE dbo.FACT_TRIP_ICRS_OLD;
	IF OBJECT_ID('dbo.FACT_TRIP_ICRS')>0				RENAME OBJECT::dbo.FACT_TRIP_ICRS TO FACT_TRIP_ICRS_OLD;
	RENAME OBJECT::dbo.TRIPHISTORY_STAGE TO FACT_TRIP_ICRS;
	IF OBJECT_ID('dbo.FACT_TRIP_ICRS_OLD')>0 		DROP TABLE dbo.FACT_TRIP_ICRS_OLD;

	--STEP #2b: Create Statistics --[dbo].[CreateStats] 'dbo', 'FACT_TRIP'
	CREATE STATISTICS STATS_FACT_TRIP_ICRS_001 ON [dbo].FACT_TRIP_ICRS (DAY_ID)
	CREATE STATISTICS STATS_FACT_TRIP_ICRS_004 ON [dbo].FACT_TRIP_ICRS ([LIC_PLATE_NBR])
	CREATE STATISTICS STATS_FACT_TRIP_ICRS_005 ON [dbo].FACT_TRIP_ICRS (LIC_PLATE_STATE)
	CREATE STATISTICS STATS_FACT_TRIP_ICRS_006 ON [dbo].FACT_TRIP_ICRS (DAY_ID,[LIC_PLATE_NBR],LIC_PLATE_STATE)


