CREATE PROC [DBO].[FACT_TOLL_TAG_PENETRATION_OLDSTYLE_LOAD] AS --DROP PROC [DBO].[FACT_TOLL_TAG_PENETRATION_LOAD]
/*	SELECT TOP 100 * FROM FACT_TOLL_TAG_PENETRATION; SELECT COUNT(1) FROM FACT_TOLL_TAG_PENETRATION  */  
--#1	RANJITH NAIR	2018-05-02	CREATED
--#2	Andy Filipps	2018-09-07	Partitioned for Incremental Loading
--#3	Bhanu			2018-09-23	Added LANE_ID Field for Facility filter

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.FACT_TOLL_TAG_PENETRATION_OLDSTYLE_LOAD') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_TOLL_TAG_PENETRATION_OLDSTYLE_LOAD
GO

EXEC DBO.FACT_TOLL_TAG_PENETRATION_OLDSTYLE_LOAD

*/


	--STEP #0: --DROP table IF EXISTS  
	
	--DECLARE @FROM_DAY  DATETIME = '2016-01-01', @TO_DAY  DATETIME = GETDATE(); PRINT @FROM_DAY; PRINT @TO_DAY;
	
	--DECLARE @TEST INT = NULL
	--DECLARE @FROM_DAYID INT = ISNULL(@TEST,(SELECT CONVERT(VARCHAR(10),DATEADD(DAY,1,MAX(DATEADD(MONTH,-1,DATA_AS_OF_DATE))),112)
	--						   FROM dbo.PARTITION_AS_OF_DATE_CONTROL
	--						   WHERE current_ind = 1)) 
    DECLARE @FROM_DATE DATETIME2(3) = CAST('2014-01-01' AS DATETIME2(3))
    DECLARE @TO_DATE DATETIME2(3) = CAST('2015-12-31 23:59:59.999' AS DATETIME2(3))

	--SELECT TOP 1000 * FROM LND_LG_VPS.VP_OWNER.VIOLATIONS WHERE VIOLATIONS.VIOL_STATUS != 'T' AND VIOLATIONS.VIOL_DATE BETWEEN @FROM_DATE AND @TO_DATE

	--STEP #1: CREATE STAGING TABLE
	IF OBJECT_ID('dbo.TOLL_TRANSACTIONS_ZIPCODE_SWITCH')>0 DROP TABLE dbo.TOLL_TRANSACTIONS_ZIPCODE_SWITCH;
	
	--IF OBJECT_ID('tempdb..#LANE_IDS') IS NOT NULL DROP TABLE #LANE_IDS

	--SELECT LANE_ID INTO #LANE_IDS FROM [dbo].[DIM_LANE] WHERE AGENCY_ID = 2 AND SUB_AGENCY_ABBREV IN('NTTA SPS','NTTA System','SPS')

	--STEP #2: Create the NEW table  --EXPLAIN
	--DECLARE @SQL_DDL NVARCHAR(MAX)
	CREATE TABLE dbo.TOLL_TRANSACTIONS_ZIPCODE_SWITCH 
	WITH (HEAP, DISTRIBUTION = HASH(ZIP_CODE)) AS
	SELECT	
		CAST(CONVERT(VARCHAR, TRANSACTION_DATE,112) AS INT) [DAY_ID], 
		ZIP_CODE, 
		L.LANE_ID,
		--COUNT(DISTINCT T.ACCT_ID) ACCT_CNT, 
		COUNT(DISTINCT T.TTXN_ID) TOLL_TXN_CNT 
	FROM /*#LANE_IDS AS LANE_IDS	JOIN*/	LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS T
		--ON T.LANE_ID = LANE_IDS.LANE_ID
		--AND T.AMOUNT > 0 AND T.TRANSACTION_DATE BETWEEN @FROM_DATE AND @TO_DATE 
	JOIN	EDW_RITE.dbo.DIM_LANE L 
		ON L.LANE_ID = T.LANE_ID 
	JOIN	LND_LG_TS.TAG_OWNER.[ACCOUNTS] A 
		ON A.ACCT_ID = T.ACCT_ID
	WHERE T.AMOUNT > 0 AND T.TRANSACTION_DATE BETWEEN @FROM_DATE AND @TO_DATE 
	GROUP BY CAST(CONVERT(VARCHAR, TRANSACTION_DATE,112) AS INT), ZIP_CODE,L.LANE_ID
	OPTION (LABEL = 'FACT_TOLL_TAG_PENETRATION LOAD: TOLL_TRANSACTIONS_ZIPCODE_SWITCH');

	--SET @SQL_DDL = ('ALTER TABLE TOLL_TRANSACTIONS_ZIPCODE_SWITCH SPLIT RANGE ('+cast(@FROM_DAYID as NVARCHAR)+')');
	--EXEC (@SQL_DDL)

	IF OBJECT_ID('dbo.TOLL_TRANSACTIONS_ZIPCODE_OLD')>0 	DROP TABLE dbo.TOLL_TRANSACTIONS_ZIPCODE_OLD;
	IF OBJECT_ID('dbo.TOLL_TRANSACTIONS_ZIPCODE')>0		RENAME OBJECT::dbo.TOLL_TRANSACTIONS_ZIPCODE TO TOLL_TRANSACTIONS_ZIPCODE_OLD;
	RENAME OBJECT::dbo.TOLL_TRANSACTIONS_ZIPCODE_SWITCH TO TOLL_TRANSACTIONS_ZIPCODE;
	IF OBJECT_ID('dbo.TOLL_TRANSACTIONS_ZIPCODE_OLD')>0 	DROP TABLE dbo.TOLL_TRANSACTIONS_ZIPCODE_OLD;
	
	--STEP #2: CREATE STAGING TABLE
	IF OBJECT_ID('dbo.VIOLATIONS_ZIPCODE_SWITCH')>0 DROP TABLE dbo.VIOLATIONS_ZIPCODE_SWITCH;

	--STEP #2: Create the NEW table  --EXPLAIN
	CREATE TABLE dbo.VIOLATIONS_ZIPCODE_SWITCH 
	WITH (HEAP, DISTRIBUTION = HASH(ZIP_CODE)) 
	AS --EXPLAIN
	SELECT  
		CAST(CONVERT(VARCHAR, VIOLATIONS.VIOL_TIME,112) AS INT) [DAY_ID], 
		VIOLATOR_ADDRESS.ZIP_CODE,  
		VIOLATIONS.LANE_ID,
		--COUNT(DISTINCT VIOLATIONS.LIC_PLATE_NBR) LIC_PLATE_CNT, 
		COUNT(DISTINCT VIOLATIONS.VIOLATION_ID) VIDEO_TXN_CNT
	FROM /*#LANE_IDS AS LANE_IDS	JOIN */ LND_LG_VPS.VP_OWNER.VIOLATIONS AS VIOLATIONS	
		--ON VIOLATIONS.LANE_ID = LANE_IDS.LANE_ID
		--AND VIOLATIONS.VIOL_STATUS != 'T' AND VIOLATIONS.VIOL_DATE BETWEEN @FROM_DATE AND @TO_DATE
	JOIN  LND_LG_VPS.VP_OWNER.VIOLATORS	AS VIOLATORS
		ON VIOLATORS.VIOLATOR_ID = VIOLATIONS.VIOLATOR_ID 
	JOIN  LND_LG_VPS.VP_OWNER.VIOLATOR_ADDRESS	AS VIOLATOR_ADDRESS
		ON VIOLATOR_ADDRESS.VIOLATOR_ID = VIOLATIONS.VIOLATOR_ID 
		AND VIOLATOR_ADDRESS.ADDR_STATUS = 'C'
	WHERE VIOLATIONS.VIOL_STATUS != 'T' AND VIOLATIONS.VIOL_DATE BETWEEN @FROM_DATE AND @TO_DATE
	GROUP BY CAST(CONVERT(VARCHAR, VIOL_TIME,112) AS INT), VIOLATOR_ADDRESS.ZIP_CODE,VIOLATIONS.LANE_ID
	OPTION (LABEL = 'FACT_TOLL_TAG_PENETRATION LOAD: VIOLATIONS_ZIPCODE_SWITCH');


	--SET @SQL_DDL = ('ALTER TABLE VIOLATIONS_ZIPCODE_SWITCH SPLIT RANGE ('+cast(@FROM_DAYID as NVARCHAR)+')');
	--EXEC (@SQL_DDL)

	IF OBJECT_ID('dbo.VIOLATIONS_ZIPCODE_OLD')>0 	DROP TABLE dbo.VIOLATIONS_ZIPCODE_OLD;
	IF OBJECT_ID('dbo.VIOLATIONS_ZIPCODE')>0		RENAME OBJECT::dbo.VIOLATIONS_ZIPCODE TO VIOLATIONS_ZIPCODE_OLD;
	RENAME OBJECT::dbo.VIOLATIONS_ZIPCODE_SWITCH TO VIOLATIONS_ZIPCODE;
	IF OBJECT_ID('dbo.VIOLATIONS_ZIPCODE_OLD')>0 	DROP TABLE dbo.VIOLATIONS_ZIPCODE_OLD;

	--CREATE STATISTICS [STATS_TOLL_TRANSACTIONS_ZIPCODE_001] ON TOLL_TRANSACTIONS_ZIPCODE (ZIP_CODE,[DAY_ID],[LANE_ID]);
	--CREATE STATISTICS [STATS_VIOLATIONS_ZIPCODE_001] ON VIOLATIONS_ZIPCODE (ZIP_CODE,[DAY_ID],[LANE_ID]);

	--STEP #2: CREATE STAGING TABLE

	--SET @SQL_DDL = '
	IF OBJECT_ID('dbo.FACT_TOLL_TAG_PENETRATION_SWITCH')>0 DROP TABLE dbo.FACT_TOLL_TAG_PENETRATION_SWITCH;
	CREATE TABLE dbo.FACT_TOLL_TAG_PENETRATION_SWITCH 
	WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(ZIP_CODE)) 
	AS --EXPLAIN
	/*WITH CTE AS (
		SELECT	 
			T.[DAY_ID] [DAY_ID],  
			T.ZIP_CODE ZIP_CODE,
			T.LANE_ID LANE_ID,
			SUM(TOLL_TXN_CNT) AS TOLL_TXN_CNT,  
			0 AS VIDEO_TXN_CNT
			--SUM(ISNULL(TOLL_TXN_CNT,0)) * 1.000 / NULLIF((SUM(ISNULL(TOLL_TXN_CNT,0)) + SUM(ISNULL(VIDEO_TXN_CNT,0))), 0) AS TT_PERCNT
		FROM	dbo.TOLL_TRANSACTIONS_ZIPCODE T
		WHERE ISNUMERIC(T.ZIP_CODE) = 1 
			AND LEN(T.ZIP_CODE) = 5
			AND T.ZIP_CODE BETWEEN '75001' AND '79999'
		GROUP BY	 
			T.[DAY_ID],
			T.ZIP_CODE,
			T.LANE_ID

		UNION ALL

		SELECT	 
			V.[DAY_ID] [DAY_ID],  
			V.ZIP_CODE ZIP_CODE,
			V.LANE_ID LANE_ID,
			0 AS TOLL_TXN_CNT,  
			SUM(VIDEO_TXN_CNT) AS VIDEO_TXN_CNT
			--SUM(ISNULL(TOLL_TXN_CNT,0)) * 1.000 / NULLIF((SUM(ISNULL(TOLL_TXN_CNT,0)) + SUM(ISNULL(VIDEO_TXN_CNT,0))), 0) AS TT_PERCNT
		FROM	dbo.VIOLATIONS_ZIPCODE V 
		WHERE ISNUMERIC(V.ZIP_CODE) = 1 
			AND LEN(V.ZIP_CODE) = 5
			AND V.ZIP_CODE BETWEEN '75001' AND '79999'
		GROUP BY	 
			V.[DAY_ID],
			V.ZIP_CODE,
			V.LANE_ID
	)
	SELECT DAY_ID, ZIP_CODE, LANE_ID, TOLL_TXN_CNT, VIDEO_TXN_CNT, 
		TOLL_TXN_CNT * 1.000 / NULLIF(TOLL_TXN_CNT + VIDEO_TXN_CNT, 0) AS TT_PERCNT
	FROM CTE 
	OPTION (LABEL = 'FACT_TOLL_TAG_PENETRATION LOAD');*/
	SELECT	 
		COALESCE(T.[DAY_ID],V.[DAY_ID]) [DAY_ID],  
		COALESCE(T.ZIP_CODE,V.ZIP_CODE) ZIP_CODE,
		COALESCE(T.LANE_ID,V.LANE_ID) LANE_ID,
		ISNULL(TOLL_TXN_CNT,0) AS TOLL_TXN_CNT,  
		ISNULL(VIDEO_TXN_CNT,0) AS VIDEO_TXN_CNT,
		ISNULL(TOLL_TXN_CNT,0) * 1.000 / NULLIF(ISNULL(TOLL_TXN_CNT,0) + ISNULL(VIDEO_TXN_CNT,0), 0) AS TT_PERCNT
	FROM	dbo.TOLL_TRANSACTIONS_ZIPCODE T
	FULL OUTER JOIN	dbo.VIOLATIONS_ZIPCODE V 
		ON V.ZIP_CODE = T.ZIP_CODE 
		AND V.[DAY_ID] = T.[DAY_ID]
		AND V.[LANE_ID] = T.[LANE_ID]
	WHERE ISNUMERIC(COALESCE(T.ZIP_CODE,V.ZIP_CODE)) = 1 
		AND LEN(COALESCE(T.ZIP_CODE,V.ZIP_CODE)) = 5
		AND COALESCE(T.ZIP_CODE,V.ZIP_CODE) BETWEEN '75001' AND '79999'
	--GROUP BY	 
	--	COALESCE(T.[DAY_ID],V.[DAY_ID]),
	--	COALESCE(T.ZIP_CODE,V.ZIP_CODE),
	--	COALESCE(T.LANE_ID,V.LANE_ID)
	OPTION (LABEL = 'FACT_TOLL_TAG_PENETRATION LOAD');

	--EXEC (@SQL_DDL)

	IF OBJECT_ID('dbo.FACT_TOLL_TAG_PENETRATION_PREV_OLD')>0 	DROP TABLE dbo.FACT_TOLL_TAG_PENETRATION_PREV_OLD;
	IF OBJECT_ID('dbo.FACT_TOLL_TAG_PENETRATION_PREV')>0		RENAME OBJECT::dbo.FACT_TOLL_TAG_PENETRATION_PREV TO FACT_TOLL_TAG_PENETRATION_PREV_OLD;
	RENAME OBJECT::dbo.FACT_TOLL_TAG_PENETRATION_SWITCH TO FACT_TOLL_TAG_PENETRATION_PREV;

--GO
--	SELECT * FROM dbo.FACT_TOLL_TAG_PENETRATION_PREV
