CREATE PROC [DBO].[ACCOUNT_TAGS_LOAD] AS

-- EXEC EDW_RITE.DBO.ACCOUNT_TAGS_LOAD
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.ACCOUNT_TAGS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.ACCOUNT_TAGS_LOAD
GO

*/



DECLARE @LAST_UPDATE_DATE datetime2(2) 
EXEC dbo.GetLoadStartDatetime 'dbo.ACCOUNT_TAGS', @LAST_UPDATE_DATE OUTPUT
-- PRINT @LAST_UPDATE_DATE


IF OBJECT_ID('dbo.ACCOUNT_TAGS_STAGE')>0	DROP TABLE dbo.ACCOUNT_TAGS_STAGE
	
CREATE TABLE dbo.ACCOUNT_TAGS_STAGE WITH (DISTRIBUTION = HASH(ACCT_ID))--, CLUSTERED INDEX (ACCT_ID, ACCT_TAG_SEQ)) 
AS 

SELECT 
	  ACCT_ID, ACCT_TAG_SEQ, TAG_ID, A.AGENCY_ID, ACCT_TAG_STATUS, ASSIGNED_DATE
	, DATE_MODIFIED
	, ISNULL(VEHICLE_MAKE,'-1') AS VEHICLE_MAKE, ISNULL(VEHICLE_MODEL, '-1') AS VEHICLE_MODEL, ISNULL(VEHICLE_YEAR, '-1') AS VEHICLE_YEAR
	, ISNULL(VEHICLE_COLOR,'-1') AS VEHICLE_COLOR
	, ISNULL(VEHICLE_CLASS_CODE,'-1') AS VEHICLE_CLASS_CODE
	, ISNULL(LIC_PLATE,'-1') AS LIC_PLATE, ISNULL(LIC_STATE,'-1') AS LIC_STATE 
	, EXPIR_DATE
	, DATE_CREATED
	, LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE
	, ROW_NUMBER() OVER (PARTITION BY ACCT_ID, ACCT_TAG_SEQ, LAST_UPDATE_TYPE ORDER BY LAST_UPDATE_DATE DESC) AS RN
FROM LND_LG_TS.[TAG_OWNER].ACCOUNT_TAGS A 
WHERE LAST_UPDATE_TYPE <> 'D'
OPTION (LABEL = 'ACCOUNT_TAGS_LOAD: ACCOUNT_TAGS_STAGE');

CREATE STATISTICS STATS_ACCOUNT_TAGS_STAGE_001 ON ACCOUNT_TAGS_STAGE (ACCT_ID, ACCT_TAG_SEQ)
CREATE STATISTICS STATS_ACCOUNT_TAGS_STAGE_002 ON ACCOUNT_TAGS_STAGE (LIC_PLATE, LIC_STATE)
CREATE STATISTICS STATS_ACCOUNT_TAGS_STAGE_003 ON ACCOUNT_TAGS_STAGE (VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_YEAR)

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
-- --  DIM_VEHICLE
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
DECLARE @MAX_VEHICLE_ID int = ISNULL((SELECT MAX(VEHICLE_ID) FROM DBO.DIM_VEHICLE),0);

INSERT INTO DBO.DIM_VEHICLE (VEHICLE_ID, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_YEAR, INSERT_DATETIME)
SELECT ROW_NUMBER()OVER(ORDER BY (SELECT 1))+ @MAX_VEHICLE_ID, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_YEAR, GETDATE()
FROM 
(
	SELECT DISTINCT A.VEHICLE_MAKE, A.VEHICLE_MODEL, A.VEHICLE_YEAR
	FROM dbo.ACCOUNT_TAGS_STAGE A
	WHERE NOT EXISTS (SELECT 1 FROM dbo.DIM_VEHICLE B WHERE A.VEHICLE_MAKE = B.VEHICLE_MAKE AND A.VEHICLE_MODEL = B.VEHICLE_MODEL AND A.VEHICLE_YEAR = B.VEHICLE_YEAR)
		AND A.LAST_UPDATE_DATE >= @LAST_UPDATE_DATE 
	
) A
OPTION (LABEL = 'ACCOUNT_TAGS_LOAD: INSERT DIM_VEHICLE');


-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
-- --  DIM LICENSE PLATE 
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
DECLARE @MAX_LICENSE_PLATE_ID int = ISNULL((SELECT MAX(LICENSE_PLATE_ID) FROM DBO.DIM_LICENSE_PLATE),0);

INSERT INTO DBO.DIM_LICENSE_PLATE (LICENSE_PLATE_ID, LICENSE_PLATE_NBR, LICENSE_PLATE_STATE)
SELECT ROW_NUMBER()OVER(ORDER BY (SELECT 1))+ @MAX_LICENSE_PLATE_ID, LIC_PLATE, LIC_STATE
FROM 
(
	SELECT DISTINCT A.LIC_PLATE, A.LIC_STATE 
	FROM DBO.ACCOUNT_TAGS_STAGE A
	WHERE NOT EXISTS (SELECT 1 FROM dbo.DIM_LICENSE_PLATE B WHERE A.LIC_PLATE = B.LICENSE_PLATE_NBR AND A.LIC_STATE = B.LICENSE_PLATE_STATE)
		AND A.LAST_UPDATE_DATE >= @LAST_UPDATE_DATE 
) A
OPTION (LABEL = 'ACCOUNT_TAGS_LOAD: DIM_LICENSE_PLATE');

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
-- --  DIM_VEHICLE_COLOR
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
DECLARE @MAX_VEHICLE_COLOR_ID int = ISNULL((SELECT MAX(VEHICLE_COLOR_ID) FROM DBO.DIM_VEHICLE_COLOR),0);

INSERT INTO DBO.DIM_VEHICLE_COLOR (VEHICLE_COLOR_ID, VEHICLE_COLOR, INSERT_DATE)
SELECT ROW_NUMBER()OVER(ORDER BY (SELECT 1))+ @MAX_VEHICLE_COLOR_ID, VEHICLE_COLOR, GETDATE()
FROM 
(
	SELECT DISTINCT A.VEHICLE_COLOR
	FROM DBO.ACCOUNT_TAGS_STAGE A
	WHERE NOT EXISTS (SELECT 1 FROM dbo.DIM_VEHICLE_COLOR B WHERE A.VEHICLE_COLOR = B.VEHICLE_COLOR)
		AND A.LAST_UPDATE_DATE >= @LAST_UPDATE_DATE 
	
) A
OPTION (LABEL = 'ACCOUNT_TAGS_LOAD: DIM_VEHICLE_COLOR');

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
-- --  FINAL STAGE
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
IF OBJECT_ID('dbo.ACCOUNT_TAGS_FINAL_STAGE')>0
	DROP TABLE dbo.ACCOUNT_TAGS_FINAL_STAGE
	
CREATE TABLE dbo.ACCOUNT_TAGS_FINAL_STAGE WITH (DISTRIBUTION = HASH(ACCT_ID), CLUSTERED INDEX (ACCT_ID, ACCT_TAG_SEQ)) 
AS 
-- EXPLAIN
SELECT 
	  ACCT_ID, ACCT_TAG_SEQ, TAG_ID, A.AGENCY_ID, ACCT_TAG_STATUS, ASSIGNED_DATE
	, DATE_MODIFIED
	, B.VEHICLE_ID
	, D.VEHICLE_COLOR_ID
	, ISNULL(VEHICLE_CLASS_CODE,'-1') AS VEHICLE_CLASS_CODE
	, C.LICENSE_PLATE_ID
	, EXPIR_DATE
	, DATE_CREATED
	, A.LAST_UPDATE_TYPE
	, A.LAST_UPDATE_DATE
FROM dbo.ACCOUNT_TAGS_STAGE A
INNER JOIN dbo.DIM_VEHICLE B ON A.VEHICLE_MAKE = B.VEHICLE_MAKE AND A.VEHICLE_MODEL = B.VEHICLE_MODEL AND A.VEHICLE_YEAR = B.VEHICLE_YEAR
INNER JOIN dbo.DIM_LICENSE_PLATE C ON A.LIC_PLATE = C.LICENSE_PLATE_NBR AND A.LIC_STATE = C.LICENSE_PLATE_STATE
INNER JOIN dbo.DIM_VEHICLE_COLOR D ON A.VEHICLE_COLOR = D.VEHICLE_COLOR
WHERE RN = 1

OPTION (LABEL = 'ACCOUNT_TAGS_LOAD: ACCOUNT_TAGS_STAGE');

/*
CREATE STATISTICS STATS_ACCOUNT_TAGS_FINAL_STAGE_001 ON ACCOUNT_TAGS_FINAL_STAGE (ACCT_ID, ACCT_TAG_SEQ)

IF OBJECT_ID('dbo.ACCOUNT_TAGS_NEW_STAGE')>0	DROP TABLE dbo.ACCOUNT_TAGS_NEW_STAGE

CREATE TABLE dbo.ACCOUNT_TAGS_NEW_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(ACCT_ID)) AS    
SELECT	
	  ACCT_ID, ACCT_TAG_SEQ, TAG_ID, ACCT_TAG_STATUS, ASSIGNED_DATE, DATE_MODIFIED, VEHICLE_ID, VEHICLE_COLOR_ID
	, VEHICLE_CLASS_CODE, LICENSE_PLATE_ID, EXPIR_DATE, DATE_CREATED, INSERT_DATE, LAST_UPDATE_DATE
FROM dbo.ACCOUNT_TAGS AS F 
WHERE	NOT EXISTS (SELECT 1 FROM dbo.ACCOUNT_TAGS_FINAL_STAGE AS NSET WHERE NSET.ACCT_ID = F.ACCT_ID AND NSET.ACCT_TAG_SEQ = F.ACCT_TAG_SEQ) -- AND LAST_UPDATE_TYPE <> 'I') 
	AND EXISTS (SELECT 1 FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAGS AS B WHERE F.ACCT_ID = B.ACCT_ID AND F.ACCT_TAG_SEQ = B.ACCT_TAG_SEQ AND B.LAST_UPDATE_DATE < @LAST_UPDATE_DATE AND B.LAST_UPDATE_TYPE <> 'D')
--WHERE F.LAST_UPDATE_DATE < @LAST_UPDATE_DATE

  UNION ALL 
  
SELECT	
	  ACCT_ID, ACCT_TAG_SEQ, TAG_ID, ACCT_TAG_STATUS, ASSIGNED_DATE, DATE_MODIFIED, VEHICLE_ID, VEHICLE_COLOR_ID
	, VEHICLE_CLASS_CODE, LICENSE_PLATE_ID, EXPIR_DATE, DATE_CREATED, LAST_UPDATE_DATE AS INSERT_DATE, LAST_UPDATE_DATE
FROM dbo.ACCOUNT_TAGS_FINAL_STAGE
WHERE LAST_UPDATE_TYPE <> 'D'
*/

CREATE STATISTICS [STATS_ACCOUNT_TAGS_001] ON [dbo].ACCOUNT_TAGS_FINAL_STAGE ([ACCT_ID]);
CREATE STATISTICS [STATS_ACCOUNT_TAGS_002] ON [dbo].ACCOUNT_TAGS_FINAL_STAGE ([ACCT_ID], [ACCT_TAG_SEQ], [TAG_ID]);
CREATE STATISTICS [STATS_ACCOUNT_TAGS_003] ON [dbo].ACCOUNT_TAGS_FINAL_STAGE ([ACCT_ID], [TAG_ID]);
CREATE STATISTICS [STATS_ACCOUNT_TAGS_004] ON [dbo].ACCOUNT_TAGS_FINAL_STAGE ([ACCT_ID], [TAG_ID], [ACCT_TAG_STATUS]);
CREATE STATISTICS [STATS_ACCOUNT_TAGS_005] ON [dbo].ACCOUNT_TAGS_FINAL_STAGE ([LAST_UPDATE_DATE]);
CREATE STATISTICS [STATS_ACCOUNT_TAGS_006] ON [dbo].ACCOUNT_TAGS_FINAL_STAGE ([AGENCY_ID]);



IF OBJECT_ID('dbo.ACCOUNT_TAGS_OLD') IS NOT NULL 	DROP TABLE dbo.ACCOUNT_TAGS_OLD;
IF OBJECT_ID('dbo.ACCOUNT_TAGS') IS NOT NULL		RENAME OBJECT::dbo.ACCOUNT_TAGS TO ACCOUNT_TAGS_OLD;
RENAME OBJECT::dbo.ACCOUNT_TAGS_FINAL_STAGE TO ACCOUNT_TAGS;
IF OBJECT_ID('dbo.ACCOUNT_TAGS_OLD') IS NOT NULL 	DROP TABLE dbo.ACCOUNT_TAGS_OLD;


/*
-- GetUpdateFields 'dbo','ACCOUNT_TAGS'
-- EXPLAIN
UPDATE DBO.ACCOUNT_TAGS
SET    dbo.ACCOUNT_TAGS.TAG_ID = B.TAG_ID
	, dbo.ACCOUNT_TAGS.ACCT_TAG_STATUS = B.ACCT_TAG_STATUS
	, dbo.ACCOUNT_TAGS.ASSIGNED_DATE = B.ASSIGNED_DATE
	, dbo.ACCOUNT_TAGS.DATE_MODIFIED = B.DATE_MODIFIED
	, dbo.ACCOUNT_TAGS.VEHICLE_ID = B.VEHICLE_ID
	, dbo.ACCOUNT_TAGS.VEHICLE_COLOR_ID = B.VEHICLE_COLOR_ID
	, dbo.ACCOUNT_TAGS.VEHICLE_CLASS_CODE = B.VEHICLE_CLASS_CODE
	, dbo.ACCOUNT_TAGS.EXPIR_DATE = B.EXPIR_DATE
	, dbo.ACCOUNT_TAGS.LICENSE_PLATE_ID = B.LICENSE_PLATE_ID
	, dbo.ACCOUNT_TAGS.DATE_CREATED = B.DATE_CREATED
	, dbo.ACCOUNT_TAGS.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.ACCOUNT_TAGS_FINAL_STAGE B
WHERE 
		DBO.ACCOUNT_TAGS.ACCT_ID = B.ACCT_ID 
	AND DBO.ACCOUNT_TAGS.ACCT_TAG_SEQ = B.ACCT_TAG_SEQ 
	--AND 
	--(
	--		dbo.ACCOUNT_TAGS.TAG_ID <> B.TAG_ID
	--	OR dbo.ACCOUNT_TAGS.ACCT_TAG_STATUS <> B.ACCT_TAG_STATUS
	--	OR dbo.ACCOUNT_TAGS.ASSIGNED_DATE <> B.ASSIGNED_DATE
	--	OR dbo.ACCOUNT_TAGS.DATE_MODIFIED <> B.DATE_MODIFIED
	--	OR dbo.ACCOUNT_TAGS.VEHICLE_ID <> B.VEHICLE_ID
	--	OR dbo.ACCOUNT_TAGS.VEHICLE_COLOR_ID <> B.VEHICLE_COLOR_ID
	--	OR dbo.ACCOUNT_TAGS.VEHICLE_CLASS_CODE <> B.VEHICLE_CLASS_CODE
	--	OR dbo.ACCOUNT_TAGS.LICENSE_PLATE_ID <> B.LICENSE_PLATE_ID
	--	OR dbo.ACCOUNT_TAGS.DATE_CREATED <> B.DATE_CREATED
	--)
	AND B.LAST_UPDATE_TYPE = 'U'
OPTION (LABEL = 'ACCOUNT_TAGS_LOAD: UPDATE ACCOUNT_TAGS');		

	 
-- GetFields 'ACCOUNT_TAGS'
-- EXPLAIN 
INSERT INTO DBO.ACCOUNT_TAGS
(
	  ACCT_ID, ACCT_TAG_SEQ, TAG_ID, ACCT_TAG_STATUS, ASSIGNED_DATE
	, DATE_MODIFIED, VEHICLE_ID, VEHICLE_COLOR_ID
	, VEHICLE_CLASS_CODE, LICENSE_PLATE_ID, EXPIR_DATE, DATE_CREATED
	, INSERT_DATE, LAST_UPDATE_DATE
)
SELECT 
	  A.ACCT_ID, A.ACCT_TAG_SEQ, A.TAG_ID, A.ACCT_TAG_STATUS, A.ASSIGNED_DATE
	, A.DATE_MODIFIED, A.VEHICLE_ID, A.VEHICLE_COLOR_ID
	, A.VEHICLE_CLASS_CODE, A.LICENSE_PLATE_ID, A.EXPIR_DATE, A.DATE_CREATED
	, A.LAST_UPDATE_DATE
	, A.LAST_UPDATE_DATE
FROM dbo.ACCOUNT_TAGS_FINAL_STAGE A
LEFT JOIN dbo.ACCOUNT_TAGS B 
	ON		A.ACCT_ID = B.ACCT_ID 
		AND A.ACCT_TAG_SEQ = B.ACCT_TAG_SEQ 
WHERE B.ACCT_ID IS NULL AND B.ACCT_TAG_SEQ IS NULL
OPTION (LABEL = 'ACCOUNT_TAGS_LOAD: INSERT ACCOUNT_TAGS');		


DELETE 
FROM DBO.ACCOUNT_TAGS
WHERE NOT EXISTS(SELECT * FROM LND_LG_TS.[TAG_OWNER].ACCOUNT_TAGS B WHERE DBO.ACCOUNT_TAGS.ACCT_ID = B.ACCT_ID AND DBO.ACCOUNT_TAGS.ACCT_TAG_SEQ = B.ACCT_TAG_SEQ)
*/

IF OBJECT_ID('dbo.ACCOUNT_TAGS_FINAL_STAGE')>0
	DROP TABLE dbo.ACCOUNT_TAGS_FINAL_STAGE
	
IF OBJECT_ID('dbo.ACCOUNT_TAGS_STAGE')>0
	DROP TABLE dbo.ACCOUNT_TAGS_STAGE



--GO



