CREATE PROC [DBO].[PAYMENTS_VPS_LOAD] AS

-- EXEC EDW_RITE.DBO.PAYMENTS_VPS_LOAD
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.PAYMENTS_VPS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.PAYMENTS_VPS_LOAD
GO

*/

/*	
SELECT TOP 100 * FROM PAYMENTS_VPS 
SELECT COUNT_BIG(1) FROM PAYMENTS_VPS -- 22 772 914 
*/  

/*
INSERT INTO dbo.PAYMENTS_VPS
	(	 	  
	VIOLATOR_ID, PAYMENT_TXN_ID, PAYMENT_DATE, REF_TXN_ID, DELIVERY_CODE, SHIFT_ID, PAYMENT_STATUS, RETAIL_TRANS_ID,
	PAYMENT_SOURCE_CODE, VIOL_PAY_TYPE, AMOUNT_DUE, AMOUNT_TENDERED, CREATED_BY, INSERT_DATETIME, LAST_UPDATE_DATE
	)
	VALUES
	(-1,-1,'1900-01-01',-1,'',-1,'',-1,'','',0,0,'','2000-01-01','2000-01-01')


*/

DECLARE @LAST_UPDATE_DATE datetime2(2) 
EXEC dbo.GetLoadStartDatetime 'dbo.PAYMENTS_VPS', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.PAYMENTS_VPS_STAGE')>0 	DROP TABLE dbo.PAYMENTS_VPS_STAGE

CREATE TABLE dbo.PAYMENTS_VPS_STAGE WITH (CLUSTERED INDEX (PAYMENT_TXN_ID),DISTRIBUTION = HASH(VIOLATOR_ID)) 
AS 
-- EXPLAIN
SELECT 
	   ISNULL(A.VIOLATOR_ID,-1) AS VIOLATOR_ID
	 , A.PAYMENT_TXN_ID, A.PAYMENT_DATE, A.REF_TXN_ID, A.RETAIL_TRANS_ID
	 , A.DELIVERY_CODE, A.SHIFT_ID, A.PAYMENT_STATUS
	 , A.PAYMENT_SOURCE_CODE, A.VIOL_PAY_TYPE, A.AMOUNT_TENDERED, A.CREATED_BY
	 , A.AMOUNT_DUE
	 , A.LAST_UPDATE_DATE AS INSERT_DATETIME
	 , A.LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[PAYMENTS] A
WHERE 
	A.LAST_UPDATE_DATE >= @LAST_UPDATE_DATE 
OPTION (LABEL = 'PAYMENTS_VPS_LOAD: PAYMENTS_VPS_STAGE');

/*
SELECT PAYMENT_TXN_ID, COUNT(1)
FROM dbo.PAYMENTS_VPS
GROUP BY PAYMENT_TXN_ID
HAVING COUNT(1) > 1
*/

IF OBJECT_ID('dbo.PAYMENTS_VPS_NEW_STAGE')>0 	DROP TABLE dbo.PAYMENTS_VPS_NEW_STAGE

CREATE TABLE dbo.PAYMENTS_VPS_NEW_STAGE WITH (CLUSTERED INDEX (PAYMENT_TXN_ID),DISTRIBUTION = HASH(VIOLATOR_ID)) AS    
SELECT	
	VIOLATOR_ID, PAYMENT_TXN_ID, PAYMENT_DATE, REF_TXN_ID, DELIVERY_CODE, SHIFT_ID, PAYMENT_STATUS, RETAIL_TRANS_ID,
	PAYMENT_SOURCE_CODE, VIOL_PAY_TYPE, AMOUNT_DUE, AMOUNT_TENDERED, CREATED_BY, INSERT_DATETIME, LAST_UPDATE_DATE
FROM dbo.PAYMENTS_VPS AS F 
WHERE NOT EXISTS (SELECT 1 FROM dbo.PAYMENTS_VPS_STAGE AS N WHERE N.PAYMENT_TXN_ID = F.PAYMENT_TXN_ID) 

  UNION ALL 
  
SELECT	
	N.VIOLATOR_ID, N.PAYMENT_TXN_ID, N.PAYMENT_DATE, N.REF_TXN_ID, N.DELIVERY_CODE, N.SHIFT_ID, N.PAYMENT_STATUS, N.RETAIL_TRANS_ID,
	N.PAYMENT_SOURCE_CODE, N.VIOL_PAY_TYPE, N.AMOUNT_DUE, N.AMOUNT_TENDERED, N.CREATED_BY, N.INSERT_DATETIME, N.LAST_UPDATE_DATE
FROM dbo.PAYMENTS_VPS_STAGE AS N
--LEFT JOIN dbo.PAYMENTS_VPS AS F ON N.PAYMENT_TXN_ID = F.PAYMENT_TXN_ID 
OPTION (LABEL = 'PAYMENTS_VPS_LOAD: INSERT/UPDATE');

CREATE STATISTICS [STATS_PAYMENTS_VPS_001] ON [dbo].PAYMENTS_VPS_NEW_STAGE ([VIOLATOR_ID]);
CREATE STATISTICS [STATS_PAYMENTS_VPS_002] ON [dbo].PAYMENTS_VPS_NEW_STAGE (PAYMENT_STATUS);
CREATE STATISTICS [STATS_PAYMENTS_VPS_003] ON [dbo].PAYMENTS_VPS_NEW_STAGE ([PAYMENT_DATE]);
CREATE STATISTICS [STATS_PAYMENTS_VPS_004] ON [dbo].PAYMENTS_VPS_NEW_STAGE (DELIVERY_CODE);
CREATE STATISTICS [STATS_PAYMENTS_VPS_005] ON [dbo].PAYMENTS_VPS_NEW_STAGE (RETAIL_TRANS_ID);
CREATE STATISTICS [STATS_PAYMENTS_VPS_006] ON [dbo].PAYMENTS_VPS_NEW_STAGE ([REF_TXN_ID]);
CREATE STATISTICS [STATS_PAYMENTS_VPS_007] ON [dbo].PAYMENTS_VPS_NEW_STAGE ([SHIFT_ID]);
CREATE STATISTICS [STATS_PAYMENTS_VPS_008] ON [dbo].PAYMENTS_VPS_NEW_STAGE (PAYMENT_SOURCE_CODE);

--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.PAYMENTS_VPS_OLD')>0 	DROP TABLE dbo.PAYMENTS_VPS_OLD;
IF OBJECT_ID('dbo.PAYMENTS_VPS')>0		RENAME OBJECT::dbo.PAYMENTS_VPS TO PAYMENTS_VPS_OLD;
RENAME OBJECT::dbo.PAYMENTS_VPS_NEW_STAGE TO PAYMENTS_VPS;
IF OBJECT_ID('dbo.PAYMENTS_VPS_OLD')>0 	DROP TABLE dbo.PAYMENTS_VPS_OLD;

--CREATE STATISTICS [STATS_PAYMENTS_VPS_001] ON [dbo].[PAYMENTS_VPS] ([VIOLATOR_ID]);
--CREATE STATISTICS [STATS_PAYMENTS_VPS_002] ON [dbo].[PAYMENTS_VPS] ([VIOLATOR_ID], [PAYMENT_TXN_ID]);
--CREATE STATISTICS [STATS_PAYMENTS_VPS_003] ON [dbo].[PAYMENTS_VPS] ([PAYMENT_DATE]);
--CREATE STATISTICS [STATS_PAYMENTS_VPS_004] ON [dbo].[PAYMENTS_VPS] ([VIOLATOR_ID], [PAYMENT_TXN_ID], [RETAIL_TRANS_ID]);
--CREATE STATISTICS [STATS_PAYMENTS_VPS_005] ON [dbo].[PAYMENTS_VPS] ([VIOLATOR_ID], [PAYMENT_TXN_ID], [PAYMENT_DATE]);
--CREATE STATISTICS [STATS_PAYMENTS_VPS_006] ON [dbo].[PAYMENTS_VPS] ([VIOLATOR_ID], [REF_TXN_ID]);
--CREATE STATISTICS [STATS_PAYMENTS_VPS_007] ON [dbo].[PAYMENTS_VPS] ([SHIFT_ID]);
--CREATE STATISTICS [STATS_PAYMENTS_VPS_008] ON [dbo].[PAYMENTS_VPS] ([VIOLATOR_ID], [PAYMENT_TXN_ID], [PAYMENT_DATE], [PAYMENT_SOURCE_CODE], [DELIVERY_CODE]);

IF OBJECT_ID('dbo.PAYMENTS_VPS_STAGE')>0 	DROP TABLE dbo.PAYMENTS_VPS_STAGE


-- GetUpdateFields 'PAYMENTS_VPS'
-- EXPLAIN
/*
UPDATE DBO.PAYMENTS_VPS
SET   
	  
	  dbo.PAYMENTS_VPS.PAYMENT_DATE = B.PAYMENT_DATE
	, dbo.PAYMENTS_VPS.REF_TXN_ID = B.REF_TXN_ID
	, dbo.PAYMENTS_VPS.DELIVERY_CODE = B.DELIVERY_CODE
	, dbo.PAYMENTS_VPS.SHIFT_ID = B.SHIFT_ID
	, dbo.PAYMENTS_VPS.PAYMENT_STATUS = B.PAYMENT_STATUS
	, dbo.PAYMENTS_VPS.RETAIL_TRANS_ID = B.RETAIL_TRANS_ID
	, dbo.PAYMENTS_VPS.PAYMENT_SOURCE_CODE = B.PAYMENT_SOURCE_CODE
	, dbo.PAYMENTS_VPS.VIOL_PAY_TYPE = B.VIOL_PAY_TYPE
	, dbo.PAYMENTS_VPS.AMOUNT_TENDERED = B.AMOUNT_TENDERED
	, dbo.PAYMENTS_VPS.AMOUNT_DUE = B.AMOUNT_DUE
	, dbo.PAYMENTS_VPS.CREATED_BY = B.CREATED_BY
	, dbo.PAYMENTS_VPS.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.PAYMENTS_VPS_STAGE B
WHERE DBO.PAYMENTS_VPS.VIOLATOR_ID = B.VIOLATOR_ID AND DBO.PAYMENTS_VPS.PAYMENT_TXN_ID = B.PAYMENT_TXN_ID 
	AND 
		(
			   dbo.PAYMENTS_VPS.PAYMENT_DATE <> B.PAYMENT_DATE
			OR dbo.PAYMENTS_VPS.REF_TXN_ID <> B.REF_TXN_ID
			OR dbo.PAYMENTS_VPS.DELIVERY_CODE <> B.DELIVERY_CODE
			OR dbo.PAYMENTS_VPS.SHIFT_ID <> B.SHIFT_ID
			OR dbo.PAYMENTS_VPS.PAYMENT_STATUS <> B.PAYMENT_STATUS
			OR dbo.PAYMENTS_VPS.PAYMENT_SOURCE_CODE <> B.PAYMENT_SOURCE_CODE
			OR dbo.PAYMENTS_VPS.VIOL_PAY_TYPE <> B.VIOL_PAY_TYPE
			OR dbo.PAYMENTS_VPS.AMOUNT_TENDERED <> B.AMOUNT_TENDERED
			OR dbo.PAYMENTS_VPS.AMOUNT_DUE <> B.AMOUNT_DUE
			OR dbo.PAYMENTS_VPS.CREATED_BY <> B.CREATED_BY
		)
--	AND B.LAST_UPDATE_TYPE = 'U'
OPTION (LABEL = 'PAYMENTS_VPS_LOAD: UPDATE PAYMENTS_VPS');		

	 
-- GetFields 'PAYMENTS_VPS'
-- EXPLAIN 
INSERT INTO DBO.PAYMENTS_VPS
(
	      VIOLATOR_ID, PAYMENT_TXN_ID, PAYMENT_DATE, REF_TXN_ID, RETAIL_TRANS_ID
		  , DELIVERY_CODE, SHIFT_ID, PAYMENT_STATUS
		  , PAYMENT_SOURCE_CODE, VIOL_PAY_TYPE, AMOUNT_TENDERED, AMOUNT_DUE, CREATED_BY
		  , INSERT_DATETIME, LAST_UPDATE_DATE
	)
SELECT 
	      A.VIOLATOR_ID, A.PAYMENT_TXN_ID, A.PAYMENT_DATE, A.REF_TXN_ID, A.RETAIL_TRANS_ID
		 ,A.DELIVERY_CODE, A.SHIFT_ID, A.PAYMENT_STATUS
		 , A.PAYMENT_SOURCE_CODE, A.VIOL_PAY_TYPE, A.AMOUNT_TENDERED, A.AMOUNT_DUE, A.CREATED_BY
		 , A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.PAYMENTS_VPS_STAGE A
LEFT JOIN dbo.PAYMENTS_VPS B ON A.VIOLATOR_ID = B.VIOLATOR_ID AND A.PAYMENT_TXN_ID = B.PAYMENT_TXN_ID 
WHERE B.VIOLATOR_ID IS NULL AND B.PAYMENT_TXN_ID IS NULL
OPTION (LABEL = 'PAYMENTS_VPS_LOAD: INSERT PAYMENTS_VPS');		


*/

