CREATE PROC [dbo].[DIM_VEH_CLSS_TYPES_LOAD] AS
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.DIM_VEH_CLSS_TYPES_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.DIM_VEH_CLSS_TYPES_LOAD
GO

EXEC EDW_RITE.DBO.DIM_VEH_CLSS_TYPES_LOAD



*/

	IF OBJECT_ID('dbo.VEH_CLSS_TYPES_NEW_SET') IS NOT NULL 	DROP TABLE dbo.VEH_CLSS_TYPES_NEW_SET

	CREATE TABLE EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_NEW_SET] WITH (HEAP, DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[VCLY_ID] AS decimal(14,0)), 0) AS [VCLY_ID]
			, ISNULL(CAST(main_table.[VEHY_ID] AS decimal(14,0)), 0) AS [VEHY_ID]
			, ISNULL(CAST(main_table.[VCLY_DESC] AS varchar(200)), '') AS [VCLY_DESC]
			, CAST(main_table.[NOTE] AS varchar(200)) AS [NOTE]
			, ISNULL(CAST(main_table.[AXLES] AS int), 0) AS [AXLES]
			, ISNULL(CAST(main_table.[CREATED_BY] AS varchar(30)), '') AS [CREATED_BY]
			, ISNULL(CAST(main_table.[CREATION_DATE] AS datetime2(0)), '1900-01-01') AS [CREATION_DATE]
			, ISNULL(CAST(main_table.[UPDATED_BY] AS varchar(30)), '') AS [UPDATED_BY]
			, ISNULL(CAST(main_table.[UPDATED_DATE] AS datetime2(0)), '1900-01-01') AS [UPDATED_DATE]
			, ISNULL(CAST(main_table.[DISPLAYED] AS varchar(1)), '') AS [DISPLAYED]
			, ISNULL(CAST(main_table.[VCLY_ORDER] AS int), 0) AS [VCLY_ORDER]
			, CAST(main_table.[LAST_UPDATE_DATE] AS datetime2(6)) AS [LAST_UPDATE_DATE]
			, CAST(main_table.[LAST_UPDATE_TYPE] AS varchar(1)) AS [LAST_UPDATE_TYPE]
	FROM EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = 'DIM_VEH_CLSS_TYPES LOAD');

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES] TO [DIM_VEH_CLSS_TYPES_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_NEW_SET]') IS NOT NULL	RENAME OBJECT::EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_NEW_SET] TO [DIM_VEH_CLSS_TYPES];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_VEH_CLSS_TYPES_OLD];


--SELECT *  FROM dbo.[DIM_VEH_CLSS_TYPES]

/*
CREATE TABLE dbo.VEH_CLSS_TYPES_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VCLY_ID)) 
AS 
SELECT *
FROM LND_LG_HOST.TXNOWNER.VEH_CLSS_TYPES
OPTION (LABEL = 'VEH_CLSS_TYPES_LOAD: CTAS VEH_CLSS_TYPES_STAGE');

UPDATE dbo.[DIM_VEH_CLSS_TYPES]
SET VCLY_DESC = B.VCLY_DESC
	,LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.VEH_CLSS_TYPES_STAGE B
WHERE 
	dbo.[DIM_VEH_CLSS_TYPES].VCLY_ID = B.VCLY_ID
	AND 
	dbo.[DIM_VEH_CLSS_TYPES].VCLY_DESC <> B.VCLY_DESC
OPTION (LABEL = 'VEH_CLSS_TYPES_LOAD: UPDATE VEH_CLSS_TYPES');


INSERT INTO dbo.[DIM_VEH_CLSS_TYPES] (VCLY_DESC, NOTE, AXLES, CREATED_BY, CREATION_DATE, UPDATED_BY, UPDATED_DATE, VCLY_ID, VEHY_ID, DISPLAYED, VCLY_ORDER, LAST_UPDATE_DATE)
SELECT A.VCLY_DESC, A.NOTE, A.AXLES, A.CREATED_BY, A.CREATION_DATE, A.UPDATED_BY, A.UPDATED_DATE, A.VCLY_ID, A.VEHY_ID, A.DISPLAYED, A.VCLY_ORDER, A.LAST_UPDATE_DATE
FROM dbo.VEH_CLSS_TYPES_STAGE A
LEFT JOIN dbo.[DIM_VEH_CLSS_TYPES] B ON A.VCLY_DESC = B.VCLY_DESC
WHERE B.VCLY_ID IS NULL
OPTION (LABEL = 'VEH_CLSS_TYPES_LOAD: INSERT VEH_CLSS_TYPES');
*/


