CREATE PROC [DBO].[FACT_INVOICE_UPDATE_FROM_FACT_INVOICE_STAGE_CITATION_NBR] AS 

DECLARE @PARTITION_DATE date = (SELECT MAX(PARTITION_DATE) FROM PARTITION_AS_OF_DATE_CONTROL)

UPDATE dbo.FACT_INVOICE_ANALYSIS
SET
	  dbo.FACT_INVOICE_ANALYSIS.FIRST_CITATION_NBR = B.FIRST_CITATION_NBR
	, dbo.FACT_INVOICE_ANALYSIS.LAST_CITATION_NBR = B.CITATION_NBR
	, dbo.FACT_INVOICE_ANALYSIS.CITATION_NBR_LIST = B.CITATION_NBR_LIST
	, dbo.FACT_INVOICE_ANALYSIS.CITATION_NBR_COUNT = B.CITATION_NBR_COUNT
FROM dbo.FACT_INVOICE_STAGE_CITATION_NBR B
WHERE 
	dbo.FACT_INVOICE_ANALYSIS.VIOLATOR_ID = B.VIOLATOR_ID 
	AND dbo.FACT_INVOICE_ANALYSIS.VBI_INVOICE_ID = B.VBI_INVOICE_ID
	AND dbo.FACT_INVOICE_ANALYSIS.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
	AND dbo.FACT_INVOICE_ANALYSIS.PARTITION_DATE = @PARTITION_DATE


