CREATE PROC [DBO].[ACCOUNT_BALANCE_HISTORY_LOAD] AS 

DECLARE @LAST_UPDATE_DATE datetime2(2) 
EXEC dbo.GetLoadStartDatetime 'dbo.ACCOUNT_BALANCE_HISTORY', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.ACCOUNT_BALANCE_HISTORY_STAGE')>0
	DROP TABLE dbo.ACCOUNT_BALANCE_HISTORY_STAGE
	
 
CREATE TABLE dbo.ACCOUNT_BALANCE_HISTORY_STAGE WITH (DISTRIBUTION = HASH(ACCT_ID))--, CLUSTERED INDEX (ACCT_ID, STATUS_DATE)) 
AS 
SELECT 
		ACCT_ID, STATUS_DATE, POSITIVE_BALANCE
	  , A.LAST_UPDATE_TYPE
	  , A.LAST_UPDATE_DATE
FROM LND_LG_TS.[TAG_OWNER].ACCOUNT_BALANCE_HISTORY A 
WHERE 
	A.LAST_UPDATE_DATE >= @LAST_UPDATE_DATE 
OPTION (LABEL = 'ACCOUNT_BALANCE_HISTORY_LOAD: ACCOUNT_BALANCE_HISTORY_STAGE');

CREATE STATISTICS STATS_ACCOUNT_BALANCE_HISTORY_STAGE_001 ON ACCOUNT_BALANCE_HISTORY_STAGE (ACCT_ID, STATUS_DATE)


UPDATE DBO.ACCOUNT_BALANCE_HISTORY
SET   dbo.ACCOUNT_BALANCE_HISTORY.POSITIVE_BALANCE = B.POSITIVE_BALANCE
	, dbo.ACCOUNT_BALANCE_HISTORY.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.ACCOUNT_BALANCE_HISTORY_STAGE B
WHERE 
		DBO.ACCOUNT_BALANCE_HISTORY.ACCT_ID = B.ACCT_ID 
	AND DBO.ACCOUNT_BALANCE_HISTORY.STATUS_DATE = B.STATUS_DATE 
--	AND B.LAST_UPDATE_TYPE = 'U'
OPTION (LABEL = 'ACCOUNT_BALANCE_HISTORY_LOAD: UPDATE ACCOUNT_BALANCE_HISTORY');		

	 
-- GetFields 'ACCOUNT_BALANCE_HISTORY'
-- EXPLAIN 
INSERT INTO DBO.ACCOUNT_BALANCE_HISTORY
(
	  ACCT_ID, STATUS_DATE, POSITIVE_BALANCE
	, INSERT_DATE, LAST_UPDATE_DATE
)
SELECT 
		  A.ACCT_ID, A.STATUS_DATE, A.POSITIVE_BALANCE
		, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.ACCOUNT_BALANCE_HISTORY_STAGE A
LEFT JOIN dbo.ACCOUNT_BALANCE_HISTORY B 
	ON		A.ACCT_ID = B.ACCT_ID 
		AND A.STATUS_DATE = B.STATUS_DATE 
WHERE B.ACCT_ID IS NULL AND B.STATUS_DATE IS NULL 
OPTION (LABEL = 'ACCOUNT_BALANCE_HISTORY_LOAD: INSERT ACCOUNT_BALANCE_HISTORY');		



