CREATE PROC [DBO].[DIM_PLAZA_LOAD] AS 
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.DIM_PLAZA_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.DIM_PLAZA_LOAD
GO

EXEC DBO.DIM_PLAZA_LOAD



*/

/*
SELECT * FROM dbo.DIM_PLAZA
SELECT * FROM dbo.DIM_PLAZA_NEW_STAGE
*/


-- TRUNCATE TABLE dbo.DIM_PLAZA
--IF OBJECT_ID('dbo.DIM_PLAZA_COORDINATES_STAGE') IS NOT NULL	DROP TABLE dbo.DIM_PLAZA_COORDINATES_STAGE

--CREATE TABLE dbo.DIM_PLAZA_COORDINATES_STAGE WITH (HEAP, DISTRIBUTION = REPLICATE) 
--AS 
--	SELECT RITE_NAME, Y_COORD, X_COORD
--	FROM EDW_RITE.dbo.NTTA_TOLL_LOCATIONS
--	GROUP BY RITE_NAME, Y_COORD, X_COORD

IF OBJECT_ID('dbo.DIM_PLAZA_STAGE') IS NOT NULL 	DROP TABLE dbo.DIM_PLAZA_STAGE

CREATE TABLE dbo.DIM_PLAZA_STAGE WITH (CLUSTERED INDEX (PLAZA_ID), DISTRIBUTION = REPLICATE) 
AS 
-- EXPLAIN
SELECT     
	 C.PLAZ_ID AS PLAZA_ID
	,C.ABBREV AS PLAZA_ABBREV
	,C.NAME AS PLAZA_NAME
	--,33.015926 AS PLAZA_LATITUDE
	--,-96.823378 AS PLAZA_LONGITUDE
	--,COALESCE(G.PLAZA_LONGITUDE, LC.Y_COORD, 33.015926) AS PLAZA_LATITUDE 
	--,COALESCE(G.PLAZA_LONGITUDE, LC.X_COORD,-96.823378) AS PLAZA_LONGITUDE
	,ISNULL(G.PLAZA_LATITUDE, 33.015926) AS PLAZA_LATITUDE 
	,ISNULL(G.PLAZA_LONGITUDE, -96.823378) AS PLAZA_LONGITUDE
	,ISNULL(G.ZIP_CODE,0) AS ZIP_CODE
	,ISNULL(G.COUNTY,'') AS COUNTY
	,B.FACS_ID AS FACILITY_ID
	,B.ABBREV AS FACILITY_ABBREV
	,B.NAME AS FACILITY_NAME
	,A.AGCY_ID AS AGENCY_ID
    ,A.ABBREV AS AGENCY_ABBREV
    ,A.NAME AS AGENCY_NAME
    ,CAST(A.IS_IOP AS VARCHAR(2)) AS AGENCY_IS_IOP
    ,A.LAST_UPDATE_DATE
FROM LND_LG_VPS.FPL_OWNER.AGENCIES A
INNER JOIN LND_LG_VPS.FPL_OWNER.FACILITIES B ON A.AGCY_ID = B.AGCY_ID
INNER JOIN LND_LG_VPS.FPL_OWNER.PLAZAS C ON B.FACS_ID = C.FACS_ID
LEFT JOIN (
			SELECT
				PLAZA_ID,PLAZA_LATITUDE,PLAZA_LONGITUDE,ZIP_CODE,COUNTY,
				ROW_NUMBER() OVER (PARTITION BY PLAZA_ID ORDER BY LANY_ID, ACTIVE,LANE_DIRECTION,LANE_ID) AS RN
			FROM dbo.DIM_LANE
			) AS G ON C.PLAZ_ID = G.PLAZA_ID AND RN = 1
--LEFT JOIN dbo.DIM_PLAZA_COORDINATES_STAGE LC ON C.ABBREV LIKE (LC.RITE_NAME+'%')
--LEFT JOIN dbo.PLAZA_COUNTY_XREF X ON X.PLAZA_ID = C.PLAZ_ID
WHERE C.PLAZ_ID > -1
OPTION (LABEL = 'PLAZA_LOAD: DIM_PLAZA');

INSERT INTO dbo.DIM_PLAZA_STAGE 
	(PLAZA_ID, PLAZA_ABBREV, PLAZA_NAME, PLAZA_LATITUDE, PLAZA_LONGITUDE, ZIP_CODE, COUNTY, FACILITY_ID, FACILITY_ABBREV, FACILITY_NAME, AGENCY_ID, AGENCY_ABBREV, AGENCY_NAME, AGENCY_IS_IOP, LAST_UPDATE_DATE)
SELECT  -1, '(Null)', '(Null)', 33.015926, -96.823378,'-1', 'Unknown'
	, -1, '(Null)', '(Null)'
	, -1, '(Null)', '(Null)', '-1'
	, '2000-01-01'


IF OBJECT_ID('dbo.DIM_PLAZA_NEW_STAGE') IS NOT NULL 	DROP TABLE dbo.DIM_PLAZA_NEW_STAGE

CREATE TABLE dbo.DIM_PLAZA_NEW_STAGE WITH (CLUSTERED INDEX (PLAZA_ID), DISTRIBUTION = REPLICATE) 
AS 
-- EXPLAIN
SELECT     
	S.PLAZA_ID, 
	S.PLAZA_ABBREV, 
	S.PLAZA_NAME, 
	CASE WHEN ISNULL(NULLIF(L.PLAZA_LATITUDE,-96.823378) ,33.015926) <> 33.015926 AND S.PLAZA_LATITUDE = 33.015926 THEN L.PLAZA_LATITUDE ELSE S.PLAZA_LATITUDE END AS PLAZA_LATITUDE, 
	CASE WHEN ISNULL(L.PLAZA_LONGITUDE,-96.823378) <> -96.823378 AND S.PLAZA_LONGITUDE = -96.823378 THEN L.PLAZA_LONGITUDE ELSE S.PLAZA_LONGITUDE END AS PLAZA_LONGITUDE, 
	S.ZIP_CODE, 
	S.COUNTY,
	ISNULL(L.FACILITY_ID,S.FACILITY_ID) AS FACILITY_ID, 
	ISNULL(L.FACILITY_ABBREV,S.FACILITY_ABBREV) AS FACILITY_ABBREV,
	ISNULL(L.FACILITY_NAME,S.FACILITY_NAME) AS FACILITY_NAME,
	ISNULL(L.AGENCY_ID,S.AGENCY_ID) AS AGENCY_ID,
	ISNULL(L.AGENCY_ABBREV,S.AGENCY_ABBREV) AS AGENCY_ABBREV,
	ISNULL(L.AGENCY_NAME,S.AGENCY_NAME) AS AGENCY_NAME,
	ISNULL(L.AGENCY_IS_IOP,S.AGENCY_IS_IOP) AS AGENCY_IS_IOP, 
	ISNULL(L.LAST_UPDATE_DATE,S.LAST_UPDATE_DATE) AS LAST_UPDATE_DATE
FROM dbo.DIM_PLAZA_STAGE S
LEFT JOIN dbo.DIM_PLAZA L ON S.PLAZA_ID = L.PLAZA_ID


CREATE STATISTICS [STATS_DIM_PLAZA_001] ON dbo.DIM_PLAZA_NEW_STAGE ([FACILITY_ID]);
CREATE STATISTICS [STATS_DIM_PLAZA_002] ON dbo.DIM_PLAZA_NEW_STAGE ([AGENCY_ID]);
CREATE STATISTICS [STATS_DIM_PLAZA_003] ON dbo.DIM_PLAZA_NEW_STAGE (ZIP_CODE);
CREATE STATISTICS [STATS_DIM_PLAZA_004] ON dbo.DIM_PLAZA_NEW_STAGE (COUNTY);

IF OBJECT_ID('DBO.DIM_PLAZA_OLD') IS NOT NULL      DROP TABLE DBO.DIM_PLAZA_OLD;
IF OBJECT_ID('DBO.DIM_PLAZA') IS NOT NULL          RENAME OBJECT::DBO.DIM_PLAZA TO DIM_PLAZA_OLD;
RENAME OBJECT::DBO.DIM_PLAZA_NEW_STAGE TO DIM_PLAZA; 
--IF OBJECT_ID('DBO.DIM_PLAZA_OLD') IS NOT NULL      DROP TABLE DBO.DIM_PLAZA_OLD;


IF OBJECT_ID('dbo.DIM_PLAZA_STAGE') IS NOT NULL	DROP TABLE dbo.DIM_PLAZA_STAGE

IF OBJECT_ID('dbo.DIM_PLAZA_COORDINATES_STAGE') IS NOT NULL	DROP TABLE dbo.DIM_PLAZA_COORDINATES_STAGE

/*
SELECT * FROM dbo.DIM_PLAZA
*/

--CREATE STATISTICS STATS_DIM_PLAZA_STAGE_001 ON DBO.DIM_PLAZA_STAGE (PLAZA_ID)


--UPDATE dbo.DIM_PLAZA_STAGE
--SET	 PLAZA_LATITUDE = B.Y_COORD 
--	,PLAZA_LONGITUDE = B.X_COORD
--FROM DIM_PLAZA_COORDINATES_STAGE B
--WHERE dbo.DIM_PLAZA_STAGE.PLAZA_ABBREV = B.RITE_NAME
--AND (
--		PLAZA_LATITUDE <> B.Y_COORD 
--		OR 
--		PLAZA_LONGITUDE <> B.X_COORD 
--	) 

--UPDATE dbo.DIM_PLAZA
--	SET   
--		  PLAZA_ABBREV = B.PLAZA_ABBREV
--		, PLAZA_NAME = B.PLAZA_NAME
--		, PLAZA_LATITUDE = B.PLAZA_LATITUDE
--		, PLAZA_LONGITUDE = B.PLAZA_LONGITUDE
--		, FACILITY_ABBREV = B.FACILITY_ABBREV
--		, FACILITY_NAME = B.FACILITY_NAME
--		, AGENCY_ID = B.AGENCY_ID
--		, AGENCY_NAME = B.AGENCY_NAME
--		, AGENCY_IS_IOP = B.AGENCY_IS_IOP
--		, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
--FROM dbo.DIM_PLAZA_STAGE B
--WHERE 
--	dbo.DIM_PLAZA.PLAZA_ID = B.PLAZA_ID 
--	AND 
--		(
--			    dbo.DIM_PLAZA.PLAZA_ABBREV <> B.PLAZA_ABBREV
--			OR  dbo.DIM_PLAZA.PLAZA_NAME <> B.PLAZA_NAME
--			OR  dbo.DIM_PLAZA.PLAZA_LATITUDE <> B.PLAZA_LATITUDE
--			OR  dbo.DIM_PLAZA.PLAZA_LONGITUDE <> B.PLAZA_LONGITUDE
--			OR  dbo.DIM_PLAZA.FACILITY_ABBREV <> B.FACILITY_ABBREV 
--			OR	dbo.DIM_PLAZA.FACILITY_NAME <> B.FACILITY_NAME 
--			OR	dbo.DIM_PLAZA.AGENCY_ID <> B.AGENCY_ID 
--			OR	dbo.DIM_PLAZA.AGENCY_ABBREV <> B.AGENCY_ABBREV 
--			OR  dbo.DIM_PLAZA.AGENCY_NAME <> B.AGENCY_NAME 
--			OR  dbo.DIM_PLAZA.AGENCY_IS_IOP <> B.AGENCY_IS_IOP
--		)
--OPTION (LABEL = 'DIM_PLAZA_LOAD: UPDATE DIM_PLAZA');

-- GETFields 'DIM_PLAZA'
--INSERT INTO dbo.DIM_PLAZA ( PLAZA_ID, PLAZA_ABBREV, PLAZA_NAME, PLAZA_LATITUDE, PLAZA_LONGITUDE, FACILITY_ID, FACILITY_ABBREV, FACILITY_NAME, AGENCY_ID, AGENCY_ABBREV, AGENCY_NAME, AGENCY_IS_IOP, INSERT_DATE, LAST_UPDATE_DATE)
--SELECT  A.PLAZA_ID, A.PLAZA_ABBREV, A.PLAZA_NAME, A.PLAZA_LATITUDE, A.PLAZA_LONGITUDE
--	, A.FACILITY_ID, A.FACILITY_ABBREV, A.FACILITY_NAME
--	, A.AGENCY_ID, A.AGENCY_ABBREV, A.AGENCY_NAME, A.AGENCY_IS_IOP
--	, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
--FROM dbo.DIM_PLAZA_STAGE A
--LEFT JOIN dbo.DIM_PLAZA B ON A.PLAZA_ID = B.PLAZA_ID
--WHERE B.PLAZA_ID IS NULL

--IF OBJECT_ID('dbo.DIM_PLAZA_STAGE')>0
--	DROP TABLE dbo.DIM_PLAZA_STAGE

--IF OBJECT_ID('dbo.DIM_PLAZA_COORDINATES_STAGE')>0
--	DROP TABLE dbo.DIM_PLAZA_COORDINATES_STAGE

--UPDATE STATISTICS dbo.DIM_PLAZA

