CREATE PROC [DBO].[FACT_VIOLATION_VB_VIOL_INVOICES_LOAD] AS 
/*	

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.FACT_VIOLATION_VB_VIOL_INVOICES_LOAD') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_VIOLATION_VB_VIOL_INVOICES_LOAD
GO

EXEC DBO.FACT_VIOLATION_VB_VIOL_INVOICES_LOAD

SELECT TOP 100 * FROM DBO.FACT_VIOLATION_VB_VIOL_INVOICES  

SELECT COUNT_BIG(1) FROM DBO.FACT_VIOLATION_VB_VIOL_INVOICES

--#1	ANDY FILIPPS	2019-02-14	Created new proc

	--STEP #0: --DROP table IF EXISTS  --DECLARE @FROM_DAY_ID  INT = 20150101, @TO_DAY_ID  INT = 20190101
*/  
/*
SELECT * FROM edw_rite.dbo.PROCESS_LOG 
WHERE LOG_SOURCE = 'FACT_VIOLATION_VB_VIOL_INVOICES' AND LOG_DATE > '2019-09-01 8:00:00' --AND LOG_MESSAGE LIKE '%proc #1%'
ORDER BY LOG_SOURCE, LOG_DATE

*/


DECLARE @TABLE_NAME VARCHAR(50) = 'FACT_VIOLATION_VB_VIOL_INVOICES', @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT
DECLARE @LOAD_CONTROL_DATE DATETIME2(2),@VBVI_CONTROL_DATE DATETIME2(2),@VIVI_CONTROL_DATE DATETIME2(2)
DECLARE @ERRORS BIT = 0, @ERROR_MESSAGE VARCHAR(1000)

SET @LOG_START_DATE = GETDATE()

/*
SELECT * FROM edw_rite.dbo.PROCESS_LOG 
WHERE LOG_SOURCE = 'VIOLATION_VB_VIOL_XREF' AND LOG_DATE > '2019-09-01 8:00:00' --AND LOG_MESSAGE LIKE '%proc #1%'
ORDER BY LOG_SOURCE, LOG_DATE

*/

BEGIN TRY
	EXECUTE DBO.VIOLATION_VB_VIOL_XREF_LOAD
	SET  @LOG_MESSAGE = 'Finisfed VIOLATION_VB_VIOL_XREF_LOAD'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL
END	TRY	
BEGIN CATCH
	SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
	SET @ERRORS = 1
	SET @LOG_MESSAGE = '@FULL LOAD FAILED: ' + @ERROR_MESSAGE
	EXEC dbo.LOG_PROCESS 'VIOLATION_VB_VIOL_XREF', @LOG_START_DATE, @LOG_MESSAGE,  -1
END CATCH
/*
SELECT * FROM edw_rite.dbo.PROCESS_LOG 
WHERE LOG_SOURCE = 'FACT_INVOICES_DATA_LOAD' AND LOG_DATE > '2019-09-01 8:00:00' --AND LOG_MESSAGE LIKE '%proc #1%'
ORDER BY LOG_SOURCE, LOG_DATE

*/

BEGIN TRY
	EXECUTE DBO.FACT_INVOICES_DATA_LOAD
	SET  @LOG_MESSAGE = 'Finished FACT_INVOICES_DATA_LOAD'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL
END	TRY	
BEGIN CATCH
	SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
	SET @ERRORS = 1
	SET @LOG_MESSAGE = '@FULL LOAD FAILED: ' + @ERROR_MESSAGE
	EXEC dbo.LOG_PROCESS 'FACT_INVOICES_DATA', @LOG_START_DATE, @LOG_MESSAGE,  -1
END CATCH


--SELECT	@LOAD_CONTROL_DATE = LAST_RUN_DATE FROM	dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VIOLATIONS' 
--IF @LOAD_CONTROL_DATE IS NULL 
--BEGIN
--	SET @LOAD_CONTROL_DATE = CAST('2000-01-01' AS DATETIME2(2)) 
--END

SELECT  @LOG_MESSAGE = '#FULL LOAD'
EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL


IF OBJECT_ID('dbo.CTE_VIOLATIONS_XREF') IS NOT NULL  DROP TABLE dbo.CTE_VIOLATIONS_XREF
-- EXPLAIN
CREATE TABLE dbo.CTE_VIOLATIONS_XREF WITH (HEAP, DISTRIBUTION = HASH (VIOLATION_ID)) AS
	SELECT 
		V.MONTH_ID, V.DAY_ID, V.LANE_ID, V.VEHICLE_CLASS, V.VCLY_ID, V.LICENSE_PLATE_ID, V.LANE_VIOL_ID, V.VIOLATION_ID, ISNULL(X.LAST_INVOICE_ID, 40000000000 + CAST(V.VIOLATION_ID AS BIGINT)) LAST_INVOICE_ID, 
		ISNULL(X.VBI_INVOICE_ID, -1) VBI_INVOICE_ID, ISNULL(X.VIOL_INVOICE_ID, -1) VIOL_INVOICE_ID, X.VB_INVOICE_DATE AS VBI_INVOICE_DATE, X.VIOL_INVOICE_DATE AS VI_INVOICE_DATE, F.VBI_STATUS, 
		F.VIOL_INV_STATUS, ISNULL(V.VIOLATOR_ID, F.VIOLATOR_ID) AS VIOLATOR_ID,ISNULL(X.FINE_AMOUNT ,0) FINE_AMOUNT,
		ISNULL(X.DELETE_STATUS, CASE WHEN V.VIOL_STATUS IN ('L','V') THEN 1 ELSE 0 END) AS DELETE_STATUS, ISNULL(F.VBB_LN_BATCH_ID, -1) VBB_LN_BATCH_ID, V.DATE_EXCUSED, V.EXCUSED_REASON, V.EXCUSED_BY,   
		F.DPS_INV_STATUS, F.CA_INV_STATUS, V.VIOL_STATUS, ISNULL(F.TOLL_AMOUNT,0) AS INV_TOLL_DUE, COALESCE(X.TOLL_DUE,V.TOLL_DUE,0) AS TOLL_DUE, 
		ISNULL(CASE WHEN X.VIOL_INVOICE_ID = -1 THEN ISNULL(F.VB_LATE_FEE_AMOUNT,0) ELSE (ISNULL(F.VIOL_INV_ADMIN_FEE,0) + ISNULL(F.VIOL_INV_ADMIN_FEE2,0) + ISNULL(F.VIOL_FINE_AMOUNT,0)) END,0) AS INV_FEES_DUE, 
		V.TOLL_PAID,ISNULL(X.CURRENT_FLAG,1) AS CURRENT_FLAG
	FROM dbo.FACT_VIOLATIONS_DETAIL V  --CTE_INVOICES C --dbo.FACT_VIOLATIONS_DETAIL V 
	LEFT JOIN dbo.VIOLATION_VB_VIOL_XREF X ON X.VIOLATION_ID = V.VIOLATION_ID
	LEFT JOIN dbo.FACT_INVOICES_DATA F   ON F.LAST_INVOICE_ID = X.LAST_INVOICE_ID AND F.VBI_INVOICE_ID = X.VBI_INVOICE_ID
OPTION (LABEL = 'FACT_VIOLATION_VB_VIOL_INVOICES LOAD: CTE_VIOLATIONS_XREF');

EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = 'Got VIOLATIONS_LIST'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

----SELECT TOP 100 * FROM dbo.VIOLATION_VB_VIOL_XREF WHERE VIOL_INVOICE_ID = -1
IF OBJECT_ID('dbo.FACT_VIOLATION_VB_VIOL_INVOICES_STAGE') IS NOT NULL  DROP TABLE dbo.FACT_VIOLATION_VB_VIOL_INVOICES_STAGE
-- EXPLAIN
CREATE TABLE dbo.FACT_VIOLATION_VB_VIOL_INVOICES_STAGE WITH (HEAP, DISTRIBUTION = HASH (LAST_INVOICE_ID)) AS
WITH CTE_VPS_HOST_TRANS AS
(
	SELECT MONTH_ID, DAY_ID, VIOLATION_ID, CAST(VTOLL_SEND_DATE AS DATE) VTOLL_SEND_DATE, TT_ID, CAST(POSTED_DATE AS DATE) POSTED_DATE, DISPOSITION, POSTED_REVENUE AS POS_REV 
	FROM dbo.VPS_HOST_TRANSACTIONS  WHERE DISPOSITION = 'P' AND VIOLATION_ID > -1
)
, CTE_ALL_INVOICES AS
(
	SELECT 
		V.MONTH_ID, V.DAY_ID, V.LANE_ID, V.VEHICLE_CLASS, V.VCLY_ID, V.LICENSE_PLATE_ID, V.LANE_VIOL_ID, V.VIOLATION_ID, V.LAST_INVOICE_ID, 
		V.VBI_INVOICE_ID, V.VIOL_INVOICE_ID, V.VBI_INVOICE_DATE, V.VI_INVOICE_DATE, V.VBI_STATUS, 
		V.VIOL_INV_STATUS, V.VIOLATOR_ID,V.INV_FEES_DUE,V.TOLL_PAID,V.CURRENT_FLAG,
		V.DELETE_STATUS, V.VBB_LN_BATCH_ID, V.DATE_EXCUSED, V.EXCUSED_REASON, V.EXCUSED_BY,   
		V.DPS_INV_STATUS, V.CA_INV_STATUS, V.VIOL_STATUS, V.INV_TOLL_DUE, V.TOLL_DUE, 
		H.VTOLL_SEND_DATE,H.TT_ID,H.POSTED_DATE,H.DISPOSITION,H.POS_REV,
		ISNULL(CASE 
					WHEN ISNULL(V.FINE_AMOUNT ,0) = 0 AND V.INV_TOLL_DUE > 0 THEN ROUND(V.TOLL_DUE * V.INV_FEES_DUE / V.INV_TOLL_DUE, 2, 1)
					ELSE ISNULL(V.FINE_AMOUNT ,0)
				END, 0) AS FEES_DUE
	FROM dbo.CTE_VIOLATIONS_XREF V  --CTE_INVOICES C --dbo.FACT_VIOLATIONS_DETAIL V 
	LEFT JOIN CTE_VPS_HOST_TRANS H ON H.VIOLATION_ID = V.VIOLATION_ID AND V.CURRENT_FLAG = 1--AND H.DAY_ID = V.DAY_ID --AND H.MONTH_ID = V.MONTH_ID 
)
--, CTE_LAST_STAGE AS
--(
	SELECT
		MONTH_ID, DAY_ID, LANE_ID, VEHICLE_CLASS, VCLY_ID, LICENSE_PLATE_ID, LANE_VIOL_ID,VIOLATION_ID, LAST_INVOICE_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, 
		VIOLATOR_ID, VBI_INVOICE_DATE,VI_INVOICE_DATE, VIOL_STATUS, VBI_STATUS, VIOL_INV_STATUS,	DATE_EXCUSED, EXCUSED_REASON, L.EXCUSED_BY, --ISNULL(U.USERID,-1) AS EXCUSED_USER_ID,
		CAST(INV_TOLL_DUE AS DECIMAL(10,2)) INV_TOLL_DUE, CAST(TOLL_DUE AS DECIMAL(10,2)) TOLL_DUE, CAST(INV_FEES_DUE AS DECIMAL(10,2)) INV_FEES_DUE,CURRENT_FLAG,
		FEES_DUE, TOLL_PAID,VTOLL_SEND_DATE, ISNULL(L.TT_ID, -1) AS TT_ID, POSTED_DATE, DISPOSITION, POS_REV, SUM(FEES_DUE) OVER (PARTITION BY LAST_INVOICE_ID) AS SUM_FEES_DUE,
		CASE 
			WHEN VBI_INVOICE_ID = -1 AND VIOL_INVOICE_ID = -1 THEN 8	-- Uninvoiced 
			WHEN VBB_LN_BATCH_ID = -1 AND VBI_STATUS <> 'CV' THEN 1		-- ZipCash  -- First Notice and not Converted to Viol Invoice
			WHEN VBB_LN_BATCH_ID > -1 AND VBI_STATUS <> 'CV' THEN 2		-- First Notice  -- NOT First Notice and not Converted to Viol Invoice
			WHEN DPS_INV_STATUS IN ('H','T') THEN 3						-- Citation Printed -- DPS Status = Citation Printed OR Citation Issued
			WHEN DPS_INV_STATUS = 'D' THEN 4							-- AWaiting DPS Action
			WHEN CA_INV_STATUS = 'A' AND DPS_INV_STATUS = 'N' THEN 5	-- Post-CA 
			WHEN CA_INV_STATUS = 'N' AND DPS_INV_STATUS = 'N' THEN 6	-- Second Notice -- Pat was 2nd NNP  --  CA = N      Not Sent to Collections Agency DPS = N No DPS Activity
			ELSE 7														-- In Collections
		END INVOICE_STAGE_ID,
		DELETE_STATUS,
		ROW_NUMBER() OVER (PARTITION BY LAST_INVOICE_ID ORDER BY DELETE_STATUS ASC, TOLL_DUE DESC)	AS INV_RN
	FROM CTE_ALL_INVOICES L--CTE_ALL_INVOICES_WITH_RN
	--LEFT JOIN dbo.DIM_USERS U ON L.EXCUSED_BY = U.USERNAME
	OPTION (LABEL = 'FACT_VIOLATION_VB_VIOL_INVOICES LOAD');
	--WHERE RN = 1
--)

EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = 'Got FACT_VIOLATION_VB_VIOL_INVOICES_STAGE set'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

DECLARE @PART_RANGES VARCHAR(MAX) = ''
DECLARE @sql VARCHAR(MAX)
--EXEC DBO.GET_PARTITION_MONTH_RANGE_STRING @PART_RANGES OUTPUT
EXEC DBO.GET_PARTITION_DAYID_RANGE_STRING @PART_RANGES OUTPUT
--PRINT @PART_RANGES

IF OBJECT_ID('dbo.FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET') IS NOT NULL  DROP TABLE dbo.FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET
SET @sql = '
CREATE TABLE dbo.[FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET] WITH (CLUSTERED INDEX ( [VIOLATION_ID] ), DISTRIBUTION = HASH([LAST_INVOICE_ID]), PARTITION (DAY_ID RANGE RIGHT FOR VALUES (' + @PART_RANGES + '))) AS
SELECT
	DAY_ID, MONTH_ID, LANE_ID, VEHICLE_CLASS, VCLY_ID, LICENSE_PLATE_ID, LANE_VIOL_ID,VIOLATION_ID, LAST_INVOICE_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, 
	VIOLATOR_ID, VBI_INVOICE_DATE,VI_INVOICE_DATE, VIOL_STATUS, VBI_STATUS, VIOL_INV_STATUS, DATE_EXCUSED, EXCUSED_REASON, EXCUSED_BY, --EXCUSED_USER_ID,
	INV_TOLL_DUE, TOLL_DUE, INV_FEES_DUE,
	CAST(FEES_DUE + CASE 
						WHEN INV_RN <= (INV_FEES_DUE - SUM_FEES_DUE) * 100 THEN 0.01
						ELSE 0
					END AS DECIMAL(10,2)) AS FEES_DUE, 
	TOLL_PAID,	VTOLL_SEND_DATE, TT_ID, POSTED_DATE, DISPOSITION, POS_REV,INVOICE_STAGE_ID,CURRENT_FLAG,DELETE_STATUS
FROM dbo.FACT_VIOLATION_VB_VIOL_INVOICES_STAGE --CTE_LAST_STAGEL
OPTION (LABEL = ''FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET LOAD'');'

EXEC (@sql)
EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

CREATE STATISTICS [STATS_FACT_VIOLATION_VB_VIOL_INVOICES_000] ON dbo.[FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET] ([LAST_INVOICE_ID],[VIOLATION_ID]);
CREATE STATISTICS [STATS_FACT_VIOLATION_VB_VIOL_INVOICES_001] ON dbo.[FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET] ([DAY_ID],[LAST_INVOICE_ID]);
CREATE STATISTICS [STATS_FACT_VIOLATION_VB_VIOL_INVOICES_002] ON dbo.[FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET] ([DELETE_STATUS], [LAST_INVOICE_ID]);
CREATE STATISTICS [STATS_FACT_VIOLATION_VB_VIOL_INVOICES_003] ON dbo.[FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET] ([CURRENT_FLAG], [DELETE_STATUS],[VIOLATION_ID]);
CREATE STATISTICS [STATS_FACT_VIOLATION_VB_VIOL_INVOICES_004] ON dbo.[FACT_VIOLATION_VB_VIOL_INVOICES_NEW_SET] (MONTH_ID,DAY_ID,VIOLATION_ID);

SET @sql = '
IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_OLD]'') IS NOT NULL	DROP TABLE dbo.[' + @TABLE_NAME + '_OLD];
IF OBJECT_ID(''dbo.[' + @TABLE_NAME + ']'') IS NOT NULL			RENAME OBJECT::dbo.[' + @TABLE_NAME + '] TO [' + @TABLE_NAME + '_OLD];
IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_NEW_SET]'') IS NOT NULL	RENAME OBJECT::dbo.[' + @TABLE_NAME + '_NEW_SET] TO [' + @TABLE_NAME + '];
IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_OLD]'') IS NOT NULL	DROP TABLE dbo.[' + @TABLE_NAME + '_OLD];'
EXEC (@sql)

SELECT @LOAD_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  dbo.FACT_VIOLATIONS_DETAIL
DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VIOLATIONS'
INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VIOLATIONS', LAST_RUN_DATE = @LOAD_CONTROL_DATE

SELECT @VBVI_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL
DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VB_INVOICE_VIOL'
INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VB_INVOICE_VIOL', LAST_RUN_DATE = @VBVI_CONTROL_DATE

SELECT @VIVI_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VIOL_INVOICE_VIOL
DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VIOL_INVOICE_VIOL'
INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES&VIOL_INVOICE_VIOL', LAST_RUN_DATE = @VIVI_CONTROL_DATE

IF OBJECT_ID('dbo.FACT_VIOLATION_VB_VIOL_INVOICES_STAGE') IS NOT NULL		DROP TABLE dbo.FACT_VIOLATION_VB_VIOL_INVOICES_STAGE;

SET @LOG_MESSAGE = '#FULL load finished'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT





