CREATE PROC [DBO].[FACT_TOLL_TAG_PENETRATION_LOAD] AS
/*	

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.FACT_TOLL_TAG_PENETRATION_LOAD') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_TOLL_TAG_PENETRATION_LOAD
GO

EXEC EDW_RITE.DBO.FACT_TOLL_TAG_PENETRATION_LOAD

SELECT TOP 1000 * FROM EDW_RITE.DBO.FACT_TOLL_TAG_PENETRATION  

SELECT COUNT_BIG(1) FROM EDW_RITE.DBO.FACT_TOLL_TAG_PENETRATION

*/  
/*	SELECT TOP 100 * FROM FACT_TOLL_TAG_PENETRATION; SELECT COUNT(1) FROM FACT_TOLL_TAG_PENETRATION  */  
--#1	RANJITH NAIR	2018-05-02	CREATED
--#2	Andy Filipps	2018-09-07	Partitioned for Incremental Loading
--#3	Bhanu			2018-09-23	Added LANE_ID Field for Facility filter
--#4	Andy Filipps	2019-01-07	Removed partitions, changed to take data from FACT_UNIFIED_VIOLATION_SNAPSHOT



	IF OBJECT_ID('dbo.FACT_TOLL_TAG_PENETRATION_NEW')>0 DROP TABLE dbo.FACT_TOLL_TAG_PENETRATION_NEW;

	CREATE TABLE dbo.FACT_TOLL_TAG_PENETRATION_NEW WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(ZIP_CODE)) 
	AS --EXPLAIN
	WITH CTE AS (
		SELECT	 
			DAY_ID,  
			COALESCE(VA.ZIP_CODE,AC.ZIP_CODE) ZIP_CODE,
			LANE_ID,
			SUM(CASE WHEN ISNULL(F.ACCT_ID, -1) = -1 THEN 0 ELSE 1 END) AS TOLL_TXN_CNT,  
			SUM(CASE WHEN ISNULL(F.ACCT_ID, -1) = -1 THEN 1 ELSE 0 END) AS VIDEO_TXN_CNT
			--SUM(ISNULL(TOLL_TXN_CNT,0)) * 1.000 / NULLIF((SUM(ISNULL(TOLL_TXN_CNT,0)) + SUM(ISNULL(VIDEO_TXN_CNT,0))), 0) AS TT_PERCNT
		FROM	dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT F
		LEFT JOIN  LND_LG_VPS.VP_OWNER.VIOLATOR_ADDRESS	AS VA
			ON VA.VIOLATOR_ID = F.VIOLATOR_ID 
			AND VA.ADDR_STATUS = 'C'
			AND ISNUMERIC(VA.ZIP_CODE) = 1 
			AND LEN(VA.ZIP_CODE) = 5
			AND VA.ZIP_CODE BETWEEN '75001' AND '79999'
		LEFT JOIN	LND_LG_TS.TAG_OWNER.[ACCOUNTS] AC 
			ON AC.ACCT_ID = F.ACCT_ID
			AND ISNUMERIC(AC.ZIP_CODE) = 1 
			AND LEN(AC.ZIP_CODE) = 5
			AND AC.ZIP_CODE BETWEEN '75001' AND '79999'
		WHERE COALESCE(VA.ZIP_CODE,AC.ZIP_CODE) IS NOT NULL
		GROUP BY DAY_ID, COALESCE(VA.ZIP_CODE,AC.ZIP_CODE), LANE_ID
		)
	SELECT DAY_ID, ZIP_CODE, LANE_ID, TOLL_TXN_CNT, VIDEO_TXN_CNT, 
		CAST(TOLL_TXN_CNT * 1.000 / NULLIF(TOLL_TXN_CNT + VIDEO_TXN_CNT, 0) AS DECIMAL(14,4)) AS TT_PERCNT
	FROM CTE 
	OPTION (LABEL = 'FACT_TOLL_TAG_PENETRATION LOAD');

-- 178 853 967 row(s) affected VS 

--SELECT COUNT_BIG(1) FROM dbo.FACT_TOLL_TAG_PENETRATION -- 312 782 601

	IF OBJECT_ID('dbo.FACT_TOLL_TAG_PENETRATION_OLD')>0 	DROP TABLE dbo.FACT_TOLL_TAG_PENETRATION_OLD;
	IF OBJECT_ID('dbo.FACT_TOLL_TAG_PENETRATION')>0		RENAME OBJECT::dbo.FACT_TOLL_TAG_PENETRATION TO FACT_TOLL_TAG_PENETRATION_OLD;
	RENAME OBJECT::dbo.FACT_TOLL_TAG_PENETRATION_NEW TO FACT_TOLL_TAG_PENETRATION;
	IF OBJECT_ID('dbo.FACT_TOLL_TAG_PENETRATION_OLD')>0 	DROP TABLE dbo.FACT_TOLL_TAG_PENETRATION_OLD;


