CREATE PROC [DBO].[FACT_VIOLATIONS_BR_DETAIL_LOAD_INCR] @LOAD_CONTROL_DATE [DATETIME2](2) AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_VIOLATIONS_BR_DETAIL_LOAD_INCR') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_VIOLATIONS_BR_DETAIL_LOAD_INCR
GO

EXEC DBO.FACT_VIOLATIONS_BR_DETAIL_LOAD_INCR

SELECT COUNT_BIG(1) FROM dbo.FACT_VIOLATIONS_BR_DETAIL  -- 47650290

*/


/*	SELECT TOP 100 * FROM FACT_VIOLATIONS_BR_DETAIL; SELECT COUNT(1) FROM FACT_VIOLATIONS_BR_DETAIL */  
--#1	Shankar Metla	2018-09-08	CREATED
--#2	Andy Filipps	2018-10-02	Full rewrite for a new approach to avoid full month load

DECLARE @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT--, @LOAD_CONTROL_DATE DATETIME2(2) 
DECLARE @sql VARCHAR(MAX)
DECLARE @TABLE_NAME VARCHAR(100) = 'FACT_VIOLATIONS_BR_DETAIL'

-- STEP 1: Get the next Load Control Date from the Control Table
SET @LOG_START_DATE = GETDATE()
------ !!!!!!!!!!!!!!!!!!!!! TESTING ONLY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
----SET @LOAD_CONTROL_DATE = CAST('2018-09-01 00:00:00.00' AS DATETIME2(2)) 
------ !!!!!!!!!!!!!!!!!!!!! TESTING ONLY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


DECLARE @FULL_RELOAD BIT  
SELECT @FULL_RELOAD = CASE WHEN C.column_id IS NULL THEN 1 ELSE 0 END FROM sys.tables t LEFT JOIN sys.columns c ON c.object_id = t.object_id AND c.name = 'MONTH_ID' WHERE t.name = @TABLE_NAME

IF @FULL_RELOAD = 1 
BEGIN

	DECLARE @NEW_TABLE_NAME VARCHAR(100) = @TABLE_NAME + '_NEW_SET'
	DECLARE @PART_RANGES VARCHAR(MAX) = ''
	--EXEC DBO.GET_PARTITION_MONTH_RANGE_STRING @PART_RANGES OUTPUT
	EXEC DBO.GET_PARTITION_DAYID_RANGE_STRING @PART_RANGES OUTPUT

	--PRINT @PART_RANGES

	SET @sql = '
	CREATE TABLE dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] WITH (CLUSTERED INDEX ( [VIOLATION_ID] ), DISTRIBUTION = HASH([VIOLATION_ID]), PARTITION (DAY_ID RANGE RIGHT FOR VALUES (' + @PART_RANGES + '))) AS
	SELECT 
			 CAST(main_table.[DAY_ID] AS int) AS [DAY_ID]
			, main_table.[DAY_ID] / 100 AS MONTH_ID
			, ISNULL(CAST(main_table.[VIOLATION_ID] AS bigint), 0) AS [VIOLATION_ID]
			, CAST(main_table.[VIOL_DATE] AS date) AS [VIOL_DATE]
			, CAST(main_table.[BUSINESS_TYPE] AS varchar(1)) AS [BUSINESS_TYPE]
			, ISNULL(CAST(main_table.[TXN_NAME] AS varchar(10)), '''') AS [TXN_NAME]
			, ISNULL(CAST(main_table.[LANE_ID] AS INT), 0) AS [LANE_ID]
			, ISNULL(CAST(main_table.[VCLY_ID] AS SMALLINT), 0) AS [VCLY_ID]
			, ISNULL(CAST(main_table.[VEHICLE_CLASS] AS SMALLINT), 0) AS [VEHICLE_CLASS]
			, ISNULL(CAST(main_table.[TOLL_DUE] AS decimal(9,2)), 0) AS [TOLL_DUE]
			, ISNULL(CAST(main_table.[TOLL_PAID] AS decimal(9,2)), 0) AS [TOLL_PAID]
	FROM dbo.[FACT_VIOLATIONS_BR_DETAIL] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = ''FACT_VIOLATIONS_BR_DETAIL_NEW_SET LOAD'');'

	EXEC (@sql)
	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

	CREATE STATISTICS [STATS_FACT_VIOLATIONS_BR_DETAIL_001] ON dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] ([DAY_ID]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_BR_DETAIL_002] ON dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] ([LANE_ID],[DAY_ID]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_BR_DETAIL_003] ON dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] ([TXN_NAME]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_BR_DETAIL_004] ON dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] ([BUSINESS_TYPE]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_BR_DETAIL_005] ON dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] ([VEHICLE_CLASS]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_BR_DETAIL_006] ON dbo.[FACT_VIOLATIONS_BR_DETAIL_NEW_SET] (MONTH_ID,DAY_ID,VIOLATION_ID);

	SET @sql = '
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_PREV]'') IS NOT NULL		DROP TABLE dbo.[' + @TABLE_NAME + '_PREV];
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + ']'') IS NOT NULL			RENAME OBJECT::dbo.[' + @TABLE_NAME + '] TO [' + @TABLE_NAME + '_PREV];
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_NEW_SET]'') IS NOT NULL	RENAME OBJECT::dbo.[' + @TABLE_NAME + '_NEW_SET] TO [' + @TABLE_NAME + '];'
	EXEC (@sql)

	SET  @LOG_MESSAGE = 'Complete Full reload of the Table with a new column <<MONTH_ID>>'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

END

----PRINT @LOAD_CONTROL_DATE

---- STEP 2: Initiate LOG
SELECT  @LOG_MESSAGE = 'Started to load updates from ' + CONVERT(VARCHAR(19),@LOAD_CONTROL_DATE,121)
EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL

--EXEC DBO.PARTITION_MANAGE_MONTHLY_LOAD @TABLE_NAME

DECLARE @MAX_VIOL_DATE_M2Y DATE = (SELECT CONVERT(DATE,CAST((MAX(DAY_ID) - 20000) AS VARCHAR(8)),112) FROM dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES)

--STEP #7: -- Getting all changes to a new table
IF OBJECT_ID('dbo.FACT_VIOLATIONS_BR_DETAIL_NEW_SET') IS NULL
BEGIN

	CREATE TABLE dbo.FACT_VIOLATIONS_BR_DETAIL_NEW_SET WITH (CLUSTERED INDEX (VIOLATION_ID), DISTRIBUTION = HASH(VIOLATION_ID)) AS
		WITH CTE_VIOLATIONS AS
		(SELECT DAY_ID
				,CONVERT(DATE, V.VIOL_DATE) VIOL_DATE
				,VIOLATION_ID
				,VIOLATOR_ID
				,CASE 
					WHEN V.ORIGIN_TYPE = 'F'	THEN 'Z'
					ELSE V.ORIGIN_TYPE
				END BUSINESS_TYPE
				,LANE_ID
				,VEHICLE_CLASS
				,ISNULL(V.TOLL_DUE, 0) TOLL_DUE
				,ISNULL(V.TOLL_PAID, 0) TOLL_PAID
			FROM dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES V --LND_LG_VPS.VP_OWNER.VIOLATIONS V
			WHERE V.VIOL_STATUS IN ('ZH','WJ','A')  
				AND V.VIOLATOR_ID > 0		
		)
		, VI_LANE AS
		(SELECT V.DAY_ID
				,V.VIOL_DATE
				,V.VIOLATION_ID
				,V.VIOLATOR_ID
				,V.BUSINESS_TYPE
				,V.LANE_ID
				,ISNULL(CT.VCLY_ID, -1)		VCLY_ID
				,V.VEHICLE_CLASS
				,V.TOLL_DUE
				,V.TOLL_PAID
			FROM CTE_VIOLATIONS V
			LEFT JOIN dbo.DIM_VEH_CLSS_TYPES CT ON V.VEHICLE_CLASS = CT.AXLES
			WHERE EXISTS(SELECT 1 FROM dbo.DIM_LANE DL WHERE V.LANE_ID = DL.LANE_ID)
		)
		,VI_ADDRESS AS
		(SELECT V.VIOL_DATE
				,V.TOLL_DUE----Added by Bhanu in DEV on 07-24-2020
				,V.VIOLATOR_ID
				,V.BUSINESS_TYPE
		FROM CTE_VIOLATIONS V
		WHERE (BUSINESS_TYPE = 'Z' OR (BUSINESS_TYPE = 'V' AND VIOL_DATE >= @MAX_VIOL_DATE_M2Y))
			AND EXISTS (SELECT 1 FROM dbo.VIOLATOR_ADDRESS VA WHERE VA.VIOLATOR_ID = V.VIOLATOR_ID AND VA.ADDR_STATUS = 'C')
		)
		SELECT  
			 VI.DAY_ID
			,VI.DAY_ID / 100 AS MONTH_ID
			,VI.VIOLATION_ID
			,VI.VIOL_DATE VIOL_DATE
			,VI.BUSINESS_TYPE
			,(CASE 
				WHEN VTR.BUSINESS_TYPE IN ('V','Z') 
					THEN 'VIOL-BR'
				WHEN EXISTS (SELECT 1 FROM dbo.VIOLATOR_ADDRESS VA WHERE VA.VIOLATOR_ID = VI.VIOLATOR_ID AND VA.ADDR_STATUS = 'C')
					THEN 'VIOL-UBR-C'
				ELSE 'VIOL-UBR-N'
			END) TXN_NAME
			,VI.LANE_ID
			,VI.VCLY_ID
			,VI.VEHICLE_CLASS
			,VI.TOLL_DUE
			,VI.TOLL_PAID
		FROM	VI_LANE AS VI
		LEFT JOIN (
					SELECT 
						VI.BUSINESS_TYPE,VI.VIOLATOR_ID
					FROM VI_ADDRESS AS VI
					GROUP BY BUSINESS_TYPE ,VIOLATOR_ID
					HAVING COUNT(*) >= 3	OR SUM(VI.TOLL_DUE) >= 2.5 ----Changed by Bhanu in DEV on 07-24-2020
					--HAVING COUNT(*) >=	CASE WHEN BUSINESS_TYPE = 'Z' THEN 5 ELSE 3	END----Commented by Bhanu in DEV on 07-24-2020
				) VTR	ON VTR.VIOLATOR_ID = VI.VIOLATOR_ID
						AND VTR.BUSINESS_TYPE = VI.BUSINESS_TYPE
		OPTION (LABEL = 'FACT_VIOLATIONS_BR_DETAIL_STAGE LOAD')
	
	-- Logging
	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got all changed rows:'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	-- Statistics needed for performance
	--CREATE STATISTICS STATS_FACT_VIOLATIONS_BR_DETAIL_TEMP_001 ON dbo.FACT_VIOLATIONS_BR_DETAIL_NEW_SET (DAY_ID)
	--CREATE STATISTICS STATS_FACT_VIOLATIONS_BR_DETAIL_TEMP_002 ON dbo.FACT_VIOLATIONS_BR_DETAIL_NEW_SET (VIOLATION_ID)

END 
ELSE
BEGIN
	SET  @LOG_MESSAGE = 'The Main query Stage table founded - no need to load again.'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL
	
END 

--
--DECLARE @SQL_SELECT VARCHAR(8000) = '
--	DAY_ID,VIOLATION_ID,VIOL_DATE VIOL_DATE,BUSINESS_TYPE,TXN_NAME,LANE_ID,VCLY_ID,VEHICLE_CLASS,TOLL_DUE,TOLL_PAID'

DECLARE @IDENTITY_COLUMNS VARCHAR(8000) = '[VIOLATION_ID]'
EXEC DBO.PARTITION_SWITCH_MONTHLY_LOAD @TABLE_NAME,	@IDENTITY_COLUMNS
--EXEC DBO.PARTITION_SWITCH_NUMBER_BASED_LOAD @TABLE_NAME,	@IDENTITY_COLUMNS



--STEP #13: UPDATE STATISTICS and delete temp tables
UPDATE STATISTICS [dbo].FACT_VIOLATIONS_BR_DETAIL  

IF OBJECT_ID('dbo.FACT_VIOLATIONS_BR_DETAIL_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_VIOLATIONS_BR_DETAIL_NEW_SET


