CREATE PROC [DBO].[FACT_UNIFIED_VIOLATION_INVOICE_LOAD] AS 
/*	

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.FACT_UNIFIED_VIOLATION_INVOICE_LOAD') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_UNIFIED_VIOLATION_INVOICE_LOAD
GO

EXEC DBO.FACT_UNIFIED_VIOLATION_INVOICE_LOAD

SELECT TOP 1000 * FROM DBO.FACT_UNIFIED_VIOLATION_INVOICE  

SELECT COUNT_BIG(1) FROM DBO.FACT_UNIFIED_VIOLATION_INVOICE  -- 1 441 863 248

*/  
--#1	ANDY FILIPPS	2019-02-13	Created completely new proc instead of the old one

	--STEP #0: --DROP table IF EXISTS  --DECLARE @FROM_DAY_ID  INT = 20150101, @TO_DAY_ID  INT = 20190101

DECLARE @TABLE_NAME VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT 
SET @LOG_START_DATE = GETDATE()
SELECT  @TABLE_NAME = 'FACT_UNIFIED_VIOLATION_INVOICE', @LOG_MESSAGE = 'Started full load'
EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL

IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET')>0 	DROP TABLE dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET;

-- EXPLAIN
CREATE TABLE dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET WITH (CLUSTERED INDEX(VIOLATION_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID), DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS 
SELECT	
	I.DAY_ID, I.DAY_ID / 100 AS MONTH_ID, I.VIOLATION_ID,I.LANE_VIOL_ID,I.VIOL_STATUS,CAST(I.LANE_ID AS INT) LANE_ID,I.VEHICLE_CLASS,CAST(I.VCLY_ID AS SMALLINT) AS VCLY_ID,I.LICENSE_PLATE_ID,I.VIOLATOR_ID,I.LAST_INVOICE_ID,I.VBI_INVOICE_ID,I.VBI_INVOICE_DATE,I.VBI_STATUS,
	I.VIOL_INVOICE_ID,I.VI_INVOICE_DATE,I.VIOL_INV_STATUS,I.INVOICE_STAGE_ID,
	ISNULL(P.PAYMENT_DATE, '1900-01-01') AS PAYMENT_DATE,ISNULL(P.DEPOSIT_DATE, '1900-01-01') AS DEPOSIT_DATE,ISNULL(P.POS_ID, -1) AS POS_ID,I.DATE_EXCUSED, I.EXCUSED_REASON, I.EXCUSED_BY, --I.EXCUSED_USER_ID, --U.USERID AS EXCUSED_USER_ID, --
	COUNT(I.VIOLATION_ID) OVER(PARTITION BY I.LAST_INVOICE_ID) AS INV_VIOLATIONS_CNT,
	CAST(I.INV_TOLL_DUE AS DECIMAL(10,2)) AS INVOICE_TOLL_DUE,
	CAST(I.INV_FEES_DUE AS DECIMAL(10,2)) AS INVOICE_FEES_DUE, 
	ISNULL(CAST(P.INV_AMOUNT AS DECIMAL(10,2)),0) AS INVOICE_TOTAL_PAID,
	CAST(I.TOLL_DUE AS DECIMAL(10,2)) AS TOLL_DUE,
	CAST(I.FEES_DUE AS DECIMAL(10,2)) AS FEES_DUE, 
	ISNULL(P.PAYMENT_SOURCE_CODE, '-1') PAYMENT_SOURCE_CODE,
	ISNULL(CAST(P.SPLIT_AMOUNT AS DECIMAL(10,2)),0) SPLIT_AMOUNT,
	ISNULL(CAST(P.TOLL_PAID AS DECIMAL(10,2)),0) TOLL_PAID,
	ISNULL(CAST(P.FEES_PAID AS DECIMAL(10,2)),0) FEES_PAID,
	ISNULL(CAST(P.IS_VTOLL AS SMALLINT),-1) IS_VTOLL,
	I.CURRENT_FLAG,I.DELETE_STATUS
FROM dbo.FACT_VIOLATION_VB_VIOL_INVOICES AS I
LEFT JOIN dbo.FACT_VIOLATION_PAYMENTS_SUMMARY AS P ON P.LAST_INVOICE_ID = I.LAST_INVOICE_ID AND P.VIOLATION_ID = I.VIOLATION_ID
--LEFT JOIN dbo.DIM_USERS AS U ON U.USERNAME = I.EXCUSED_BY
OPTION (LABEL = 'FACT_UNIFIED_VIOLATION_INVOICE NEW SET LOAD');
	-- (1 750 026 535 row(s) affected for 00:38:48
	
EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

--Create Statistics
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_001 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (LAST_INVOICE_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID);
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_002 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (VIOL_STATUS,VIOLATION_ID);
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_003 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (VIOLATOR_ID);
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_004 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (INVOICE_STAGE_ID);
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_005 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (VIOL_INVOICE_ID,VIOL_INV_STATUS);
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_006 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (VBI_INVOICE_ID,VBI_STATUS);
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_007 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (DAY_ID);
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_008 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (DATE_EXCUSED);
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_009 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (POS_ID);
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_010 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (PAYMENT_DATE);
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_011 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (DEPOSIT_DATE);
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_012 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (CURRENT_FLAG,VIOLATION_ID);
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_013 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (DELETE_STATUS,CURRENT_FLAG,LAST_INVOICE_ID);
CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_INVOICE_014 ON dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET (MONTH_ID,DAY_ID,VIOLATION_ID);

---- Replace OLD table with NEW
IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_INVOICE_OLD')>0 	DROP TABLE dbo.FACT_UNIFIED_VIOLATION_INVOICE_OLD;
IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_INVOICE')>0		RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_INVOICE TO FACT_UNIFIED_VIOLATION_INVOICE_OLD;
RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_INVOICE_NEW_SET TO FACT_UNIFIED_VIOLATION_INVOICE;


SET  @LOG_MESSAGE = 'Finisfed full load'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT


