CREATE PROC [dbo].[StatsFullRefresh_EDW_RITE_VPS] AS
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.StatsFullRefresh_EDW_RITE_VPS') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.StatsFullRefresh_EDW_RITE_VPS
GO

EXEC EDW_RITE.DBO.StatsFullRefresh_EDW_RITE_VPS



*/
DECLARE @SQL_DROP VARCHAR(MAX)
DECLARE @SQL_CREATE VARCHAR(MAX)



-- exec CreateStats 'VIOLATIONS_DIST_ON_VIOLATION_ID'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VIOLATIONS_DIST_ON_VIOLATION_ID', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VIOLATIONS_DIST_ON_VIOLATION_ID', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'VIOLATIONS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VIOLATIONS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VIOLATIONS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'VIOLATOR_ADDRESS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VIOLATOR_ADDRESS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VIOLATOR_ADDRESS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'VIOL_INVOICES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VIOL_INVOICES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VIOL_INVOICES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'VIOL_INVOICES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VIOL_INVOICE_VIOL', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VIOL_INVOICE_VIOL', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'VB_INVOICE_VIOL'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VB_INVOICE_VIOL', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VB_INVOICE_VIOL', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'VB_INVOICES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VB_INVOICES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VB_INVOICES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'DIM_LICENSE_PLATE'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'DIM_LICENSE_PLATE', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'DIM_LICENSE_PLATE', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'DPS_INV_STATUS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'DPS_INV_STATUS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'DPS_INV_STATUS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)
 

-- exec CreateStats 'CA_INV_STATUS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'CA_INV_STATUS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'CA_INV_STATUS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)
 

-- exec CreateStats 'VIOL_STATUS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VIOL_STATUS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VIOL_STATUS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'VIOL_PAY_TYPES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VIOL_PAY_TYPES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VIOL_PAY_TYPES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)
 

-- exec CreateStats 'VIOL_INV_STATUS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VIOL_INV_STATUS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VIOL_INV_STATUS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'VB_LANES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VB_LANES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VB_LANES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)
 
 
-- exec CreateStats 'ADDRESS_STATUS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'ADDRESS_STATUS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'ADDRESS_STATUS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)

 
-- exec CreateStats 'ADDRESS_SOURCES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'ADDRESS_SOURCES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'ADDRESS_SOURCES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'DIM_PLAZA'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'DIM_PLAZA', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'DIM_PLAZA', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'DIM_LANE'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'DIM_LANE', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'DIM_LANE', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'DIM_FACILITY'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'DIM_FACILITY', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'DIM_FACILITY', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)
 
  
-- exec CreateStats 'PMT_TXN_TYPES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'PMT_TXN_TYPES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'PMT_TXN_TYPES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'PAYMENT_SOURCE'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'PAYMENT_SOURCE', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'PAYMENT_SOURCE', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'PAYMENT_XREF_VPS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'PAYMENT_XREF_VPS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'PAYMENT_XREF_VPS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)
 

-- exec CreateStats 'CLOSE_OUT_STATUSES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'CLOSE_OUT_STATUSES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'CLOSE_OUT_STATUSES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'CLOSE_OUT_TYPES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'CLOSE_OUT_TYPES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'CLOSE_OUT_TYPES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'CA_COMPANIES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'CA_COMPANIES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'CA_COMPANIES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)

 
-- exec CreateStats 'TRANSACTION_TYPES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'TRANSACTION_TYPES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'TRANSACTION_TYPES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'CA_ACCT_INV_XREF'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'CA_ACCT_INV_XREF', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'CA_ACCT_INV_XREF', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)
 

-- exec CreateStats 'PAYMENT_LINE_ITEMS_VPS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'PAYMENT_LINE_ITEMS_VPS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'PAYMENT_LINE_ITEMS_VPS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'PAYMENTS_VPS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'PAYMENTS_VPS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'PAYMENTS_VPS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'COURT_ACT_VIOL'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'COURT_ACT_VIOL', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'COURT_ACT_VIOL', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'COURT_ACTIONS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'COURT_ACTIONS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'COURT_ACTIONS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'HOW_DELIVERED'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'HOW_DELIVERED', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'HOW_DELIVERED', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)
 
 
-- exec CreateStats 'VB_VIOL_INVOICES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VB_VIOL_INVOICES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VB_VIOL_INVOICES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'ca_accts'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'ca_accts', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'ca_accts', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)

  
-- exec CreateStats 'VB_INVOICE_BATCHES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VB_INVOICE_BATCHES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VB_INVOICE_BATCHES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'VB_INV_STATUS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VB_INV_STATUS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VB_INV_STATUS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)

 
-- exec CreateStats 'VIOLATOR_TYPES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VIOLATOR_TYPES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VIOLATOR_TYPES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'VEHICLE_CLASSES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VEHICLE_CLASSES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VEHICLE_CLASSES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'CREDIT_CARD_TYPES'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'CREDIT_CARD_TYPES', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'CREDIT_CARD_TYPES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'VIOLATORS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VIOLATORS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VIOLATORS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)

 
-- exec CreateStats 'VPS_HOST_TRANSACTIONS'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'VPS_HOST_TRANSACTIONS', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'VPS_HOST_TRANSACTIONS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'dbo','SOURCE_CODE_TOLL'
EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL 'SOURCE_CODE_TOLL', @SQL_DROP  OUTPUT 
EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL 'SOURCE_CODE_TOLL', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


