CREATE PROC [DBO].[LANE_FRQCY_SUMMARY_LOAD] AS

/*
USE EDW_TER
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.LANE_FRQCY_SUMMARY_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.LANE_FRQCY_SUMMARY_LOAD
GO

EXEC DBO.LANE_FRQCY_SUMMARY_LOAD
*/


--Median
DECLARE @START_DATE DATE = '20020101'-- Before this year there was very low number of trunsactions
DECLARE @END_DATE DATE = DATEADD(DAY,-1,GETDATE())  

DECLARE @START_DAY_ID INT = CAST(CONVERT(VARCHAR,@START_DATE, 112) AS INT)
DECLARE @END_DAY_ID INT = CAST(CONVERT(VARCHAR,@END_DATE, 112) AS INT)

DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @PROCEDURE_NAME VARCHAR(1000), @LOG_MESSAGE VARCHAR(3000), @ROW_COUNT BIGINT

SELECT  @SOURCE = 'LANE_FRQCY_SUMMARY', @LOG_START_DATE = SYSDATETIME(), @PROCEDURE_NAME = 'LANE_FRQCY_SUMMARY_LOAD'

SET @LOG_MESSAGE = @PROCEDURE_NAME + ' STARTED'
EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL


IF OBJECT_ID('dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_STAGE') IS NOT NULL DROP TABLE dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_STAGE;	

CREATE TABLE dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(LANE_ID)) AS --EXPLAIN

WITH LANES_CTE AS
( 
	SELECT 
		PLAZA_ID,
		LANE_ID,
		COUNT(LANE_ID) OVER (PARTITION BY PLAZA_ID) AS LANES_CNT
	FROM EDW_RITE.dbo.ALERT_BY_TRAN_CNT_DIM_LANE
)
, BY_YEARS_WITH_DATES AS
(
    SELECT 
		--CAST(DATE_TIME AS DATE) DATE_CNT, 
		DATEPART(YY,DATE_TIME) ALL_YEAR, 
		DATEPART(WW,DATE_TIME) YEAR_WEEK, 
		DATEPART(DW,DATE_TIME) WEEK_DAY, 
		DATEPART(HOUR,DATE_TIME) DAY_HOUR, 
		T.LANE_ID, 
		L.PLAZA_ID, 
		L.LANES_CNT, 
		COUNT_BIG(1) TXN_CNT 
		--SELECT TOP 100 * 
    FROM EDW_RITE.dbo.FACT_NET_REV_TFC_EVTS T
	JOIN LANES_CTE L ON T.LANE_ID = L.LANE_ID
    WHERE DAY_ID BETWEEN @START_DAY_ID AND @END_DAY_ID
    GROUP BY  DATEPART(YY,DATE_TIME), DATEPART(WW,DATE_TIME), CAST(DATE_TIME AS DATE), DATEPART(DW,DATE_TIME), DATEPART(HOUR,DATE_TIME), T.LANE_ID, L.PLAZA_ID, L.LANES_CNT 
)
--, BY_YEAR AS
--(
--SELECT 
--	ALL_YEAR, YEAR_WEEK, WEEK_DAY, DAY_HOUR, LANE_ID, PLAZA_ID, LANES_CNT,
--	--(TXN_CNT / (LAG(TXN_CNT, 1, TXN_CNT) OVER (PARTITION BY YEAR_WEEK, WEEK_DAY, DAY_HOUR, LANE_ID ORDER BY ALL_YEAR)) - 1) * 100  AS  YEAR_GROW_PCT,
--	TXN_CNT
--FROM BY_YEARS_WITH_DATES
--)
, BY_YEAR_WEEK AS
(
SELECT 
	YEAR_WEEK, WEEK_DAY, DAY_HOUR, LANE_ID, PLAZA_ID, LANES_CNT, 
	AVG(TXN_CNT) AVG_CNT, MIN(TXN_CNT) MIN_CNT, MAX(TXN_CNT) MAX_CNT, COUNT(ALL_YEAR) AS YEARS --, AVG(YEAR_GROW_PCT) YEAR_GROW_PCT
FROM BY_YEARS_WITH_DATES -- BY_YEAR
GROUP BY YEAR_WEEK, WEEK_DAY, DAY_HOUR, LANE_ID, PLAZA_ID, LANES_CNT
)
, BY_YEAR_WITH_GROW AS
(
SELECT 
	YEAR_WEEK, WEEK_DAY, DAY_HOUR, LANE_ID, PLAZA_ID, LANES_CNT, 
	AVG_CNT, 
	MIN_CNT,
	MAX_CNT,
	YEARS,
	(MAX_CNT - MIN_CNT) / YEARS AS YEAR_GROW,
	(SUM(AVG_CNT) OVER (PARTITION BY YEAR_WEEK, WEEK_DAY, DAY_HOUR, PLAZA_ID)) / LANES_CNT AS PLAZA_AVG_CNT,
	(SUM(MIN_CNT) OVER (PARTITION BY YEAR_WEEK, WEEK_DAY, DAY_HOUR, PLAZA_ID)) / LANES_CNT AS PLAZA_MIN_CNT,
	(SUM(MAX_CNT) OVER (PARTITION BY YEAR_WEEK, WEEK_DAY, DAY_HOUR, PLAZA_ID)) / LANES_CNT AS PLAZA_MAX_CNT,
	AVG(AVG_CNT) OVER (PARTITION BY WEEK_DAY, DAY_HOUR, LANE_ID)  AS  DAY_AVG_CNT,
	AVG(MIN_CNT) OVER (PARTITION BY WEEK_DAY, DAY_HOUR, LANE_ID) AS DAY_MIN_CNT
FROM BY_YEAR_WEEK
)
SELECT 
	YEAR_WEEK AS WK, WEEK_DAY AS WD, DAY_HOUR AS HR, LANE_ID, PLAZA_ID,
	YEARS,
	AVG_CNT AS AVG_CNT, 
	MIN_CNT AS MIN_CNT,
	MAX_CNT AS MAX_CNT,
	DAY_AVG_CNT AS DH_AVG_CNT,
	DAY_MIN_CNT AS DH_MIN_CNT,
	PLAZA_AVG_CNT,
	PLAZA_MIN_CNT,
	PLAZA_MAX_CNT,
	YEAR_GROW
FROM BY_YEAR_WITH_GROW
OPTION (LABEL = 'LANE_FRQCY_SUMMARY LOAD');

EXEC	EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

CREATE STATISTICS STATS_LANE_FRQCY_SUMMARY_001 ON [dbo].ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_STAGE (WK)
CREATE STATISTICS STATS_LANE_FRQCY_SUMMARY_002 ON [dbo].ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_STAGE (WD)
CREATE STATISTICS STATS_LANE_FRQCY_SUMMARY_003 ON [dbo].ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_STAGE (HR)
CREATE STATISTICS STATS_LANE_FRQCY_SUMMARY_004 ON [dbo].ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_STAGE (LANE_ID)
CREATE STATISTICS STATS_LANE_FRQCY_SUMMARY_005 ON [dbo].ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_STAGE (PLAZA_ID)
CREATE STATISTICS STATS_LANE_FRQCY_SUMMARY_006 ON [dbo].ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_STAGE (LANE_ID,WK,WD,HR)

SET @LOG_MESSAGE = @PROCEDURE_NAME + ' FINISHED'
EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

IF OBJECT_ID('dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_OLD')  IS NOT NULL DROP TABLE dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_OLD;
IF OBJECT_ID('dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY')  IS NOT NULL RENAME OBJECT::dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY TO ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_OLD;
RENAME OBJECT::dbo.ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY_STAGE TO ALERT_BY_TRAN_CNT_LANE_FRQCY_SUMMARY;



/*
SELECT * FROM dbo.LANE_FRQCY_SUMMARY
WHERE HR = 3 AND WD = 1 AND WK BETWEEN 1 AND 21 --AND MIN_CNT = 0
ORDER BY LANE_ID, WK
*/




--UPDATE EDW_RITE.dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @START_DATE WHERE TABLE_NAME = 'FACT_IOP_TGS'


-- APS query to create alert messages
-- Should run after orcle finished. Maybe at HH:45:00 or close



