CREATE PROC [DBO].[GET_COMPARE_FIX_TABLES_METADATA] @MAIN_TABLE [VARCHAR](100),@NEW_TABLE [VARCHAR](100),@TO_FIX [BIT],@REPORT_ERRORS [BIT] AS

/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.GET_COMPARE_FIX_TABLES_METADATA') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.GET_COMPARE_FIX_TABLES_METADATA
GO

EXEC EDW_RITE.DBO.GET_COMPARE_FIX_TABLES_METADATA 'DIM_VIOLATOR_ASOF', 'DIM_VIOLATOR_ASOF_TRUNCATE', 0, 0


*/

DECLARE @ERROR VARCHAR(MAX) = ''

IF @MAIN_TABLE IS NULL SET @ERROR = @ERROR + 'Main table could not be NULL'
IF @NEW_TABLE IS NULL SET @ERROR = @ERROR + CHAR(13) + 'New table could not be NULL'
IF @MAIN_TABLE = @NEW_TABLE SET @ERROR = @ERROR + CHAR(13) + 'New table could not be the same as Main table'

IF LEN(@ERROR) > 0
BEGIN
	PRINT @ERROR
END
ELSE
BEGIN

	DECLARE @NUM_OF_COLUMNS INT
	DECLARE @MAIN_TABLE_DISTRIBUTION VARCHAR(100) = ''
	DECLARE @NEW_TABLE_DISTRIBUTION VARCHAR(100) = ''
	DECLARE @MAIN_TABLE_max_column_id INT
	DECLARE @NEW_TABLE_max_column_id INT
	DECLARE @SQL_CREATE_STATS VARCHAR(MAX)
	DECLARE @SQL_DROP_STATS VARCHAR(MAX)
	DECLARE @SQL_CREATE_TABLE VARCHAR(MAX)
	DECLARE @REPORT_MESSAGE VARCHAR(MAX)
	DECLARE @MAIN_TABLE_INDEX VARCHAR(MAX) = ''
	DECLARE @NEW_TABLE_INDEX VARCHAR(MAX) = ''


	SET @REPORT_MESSAGE = ' '

	IF @TO_FIX IS NULL SET @TO_FIX = 0
	--IF @TO_FIX = 0 SET @REPORT_ERRORS = 1
	IF @REPORT_ERRORS IS NULL SET @REPORT_ERRORS = 0

	--SELECT @MAIN_TABLE_DISTRIBUTION = p.distribution_policy_desc, @MAIN_TABLE_max_column_id = t.max_column_id_used
	--FROM sys.tables as t
	--JOIN sys.pdw_table_distribution_properties p  ON p.[object_id] = t.[object_id]
	--WHERE t.name = @MAIN_TABLE

	--SELECT @NEW_TABLE_DISTRIBUTION = p.distribution_policy_desc, @NEW_TABLE_max_column_id = t.max_column_id_used
	--FROM sys.tables as t
	--JOIN sys.pdw_table_distribution_properties p  ON p.[object_id] = t.[object_id]
	--WHERE t.name = @NEW_TABLE

	EXEC EDW_RITE.DBO.GET_DISRTIBUTION_STRING @MAIN_TABLE, @MAIN_TABLE_DISTRIBUTION OUTPUT 

	EXEC EDW_RITE.DBO.GET_DISRTIBUTION_STRING @NEW_TABLE, @NEW_TABLE_DISTRIBUTION OUTPUT 

	EXEC EDW_RITE.DBO.GET_INDEX_STRING @MAIN_TABLE, @MAIN_TABLE_INDEX OUTPUT 
	--PRINT 'GOT @MAIN_TABLE_INDEX'
	EXEC EDW_RITE.DBO.GET_INDEX_STRING @NEW_TABLE, @NEW_TABLE_INDEX OUTPUT 
	--PRINT 'GOT @NEW_TABLE_INDEX'

	IF OBJECT_ID('dbo.MAIN_TABLE_COLUMNS') IS NOT NULL DROP TABLE dbo.MAIN_TABLE_COLUMNS;
	CREATE TABLE dbo.MAIN_TABLE_COLUMNS WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(ColumnName)) AS 
	SELECT      s.name AS SchemaName, t.name AS TableName, c.name AS ColumnName, C.column_id, TYPE_NAME(c.system_type_id) AS ColumnType, c.max_length, c.PRECISION,c.scale,C.is_nullable, 
				ROW_NUMBER() OVER(ORDER BY C.column_id) AS RN
	FROM        sys.columns c
	JOIN        sys.tables  t   ON c.object_id = t.object_id
	JOIN		sys.schemas S	ON S.schema_id = t.schema_id
	--WHERE       t.name = 'TA_TXN_AVI_DATAS'
	WHERE       t.name = @MAIN_TABLE

	--PRINT 'GOT MAIN_TABLE_COLUMNS'

	IF OBJECT_ID('dbo.NEW_TABLE_COLUMNS') IS NOT NULL DROP TABLE dbo.NEW_TABLE_COLUMNS;
	CREATE TABLE dbo.NEW_TABLE_COLUMNS WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(ColumnName)) AS 
	SELECT      s.name AS SchemaName, t.name AS TableName, c.name AS ColumnName, C.column_id, TYPE_NAME(c.system_type_id) AS ColumnType, c.max_length, c.PRECISION,c.scale,C.is_nullable, 
				ROW_NUMBER() OVER(ORDER BY C.column_id) AS RN
	FROM        sys.columns c
	JOIN        sys.tables  t   ON c.object_id = t.object_id
	JOIN		sys.schemas S	ON S.schema_id = t.schema_id
	WHERE       t.name = @NEW_TABLE

	--PRINT 'GOT NEW_TABLE_COLUMNS'

	SELECT @NUM_OF_COLUMNS = MAX(RN) FROM dbo.MAIN_TABLE_COLUMNS

	DECLARE @WRONG_INDEX BIT = 0
	IF @MAIN_TABLE_INDEX <> @NEW_TABLE_INDEX SET @WRONG_INDEX = 1

	DECLARE @WRONG_ORDER BIT = 0
	DECLARE @WRONG_DISTRIBUTION BIT = 0
	DECLARE @WRONG_TYPE BIT = 0
	DECLARE @DROP_STATISTICS_NEEDED BIT = 0
	DECLARE @alter_String VARCHAR(MAX) = ''
	DECLARE @SELECT_String VARCHAR(MAX) = ''
	DECLARE @FULL_RELOAD_NEEDED BIT = 0
	DECLARE @WRONG_COLUMN_NUMBER BIT = 0 --(SELECT CASE WHEN @MAIN_TABLE_max_column_id = @NEW_TABLE_max_column_id THEN 0 ELSE 1 END)

	DECLARE @THIS_WRONG_ORDER BIT = 0
	DECLARE @THIS_WRONG_COLUMN_NUMBER BIT = 0
	DECLARE @THIS_WRONG_TYPE BIT = 0
	DECLARE @THIS_DROP_STATISTICS_NEEDED BIT = 0
	DECLARE @THIS_alter_String VARCHAR(MAX) = ''
	DECLARE @THIS_SELECT_String VARCHAR(MAX) = ''
	DECLARE @Delimiter VARCHAR(3) = ''
	DECLARE @THIS_COLUMN VARCHAR(200) = ''
	DECLARE @THIS_MAIN_TYPE VARCHAR(MAX) = ''
	DECLARE @THIS_NEW_TYPE VARCHAR(MAX) = ''

	DECLARE @INDICAT SMALLINT = 1
	-- If only 1 period (and 1 partition) - @PART_RANGES is empty

	EXEC EDW_RITE.DBO.GET_CREATE_STATISTICS_SQL @MAIN_TABLE, @NEW_TABLE, @SQL_CREATE_STATS OUTPUT 
	--PRINT 'GOT @SQL_CREATE_STATS'

	WHILE (@INDICAT <= @NUM_OF_COLUMNS)
	BEGIN
		
		--PRINT 'WHILE (' + CAST(@INDICAT AS VARCHAR) + ' <= ' + CAST(@NUM_OF_COLUMNS AS VARCHAR) + ')'
		SELECT 
			@THIS_WRONG_ORDER = CASE WHEN N.RN = M.RN THEN 0 ELSE 1 END,
			@THIS_WRONG_TYPE = CASE WHEN (N.ColumnType = M.ColumnType AND N.PRECISION = M.PRECISION AND N.scale = M.scale AND N.max_length = M.max_length AND N.is_nullable = M.is_nullable) THEN 0 ELSE 1 END,
			@THIS_WRONG_COLUMN_NUMBER = CASE WHEN n.ColumnName IS NULL THEN 1 ELSE 0 END,
			@THIS_alter_String = 'alter table ' + n.SchemaName + '.[' + n.TableName + '] alter column [' + n.ColumnName + '] ' + M.ColumnType +
			CASE 
				WHEN M.ColumnType = 'DATETIME2' THEN '(' + CAST(m.scale AS VARCHAR) +')'
				WHEN M.ColumnType IN ('BINARY','VARBINARY') THEN '(' + ISNULL(NULLIF(CAST(m.max_length AS VARCHAR),'-1'),'MAX') +')'
				WHEN M.ColumnType IN ('DECIMAL','NUMERIC') THEN '(' + CAST(m.PRECISION AS VARCHAR) + ',' + CAST(m.scale AS VARCHAR) +')'
				WHEN M.ColumnType LIKE '%CHAR' THEN '(' + ISNULL(NULLIF(CAST(m.max_length AS VARCHAR),'-1'),'MAX') +')'
				ELSE ''
			END + CASE WHEN m.is_nullable = 1 THEN ' NULL' ELSE ' NOT NULL' END,
			@THIS_SELECT_String = CASE WHEN m.is_nullable = 1 THEN '' ELSE 'ISNULL(' END + 'CAST(' +
				CASE 
					WHEN n.ColumnName IS NULL THEN 'NULL'
					ELSE 'new_table.[' + n.ColumnName + ']' 
				END + ' AS ' + M.ColumnType +
			CASE 
				WHEN M.ColumnType = 'DATETIME2' THEN '(' + CAST(m.scale AS VARCHAR) +')'
				WHEN M.ColumnType IN ('BINARY','VARBINARY') THEN '(' + ISNULL(NULLIF(CAST(m.max_length AS VARCHAR),'-1'),'MAX') +')'
				WHEN M.ColumnType IN ('DECIMAL','NUMERIC') THEN '(' + CAST(m.PRECISION AS VARCHAR) + ',' + CAST(m.scale AS VARCHAR) +')'
				WHEN M.ColumnType LIKE '%CHAR' THEN '(' + ISNULL(NULLIF(CAST(m.max_length AS VARCHAR),'-1'),'MAX') +')'
				ELSE ''
			END + ')' + CASE 
							WHEN m.is_nullable = 1 THEN '' 
							ELSE ', ' +	
										CASE
											WHEN M.ColumnType LIKE '%DATE%' THEN '''1900-01-01'''
											WHEN M.ColumnType IN ('BINARY','VARBINARY') THEN ''''''
											WHEN M.ColumnType LIKE '%CHAR' THEN ''''''
											ELSE '0'
										END + ')'
						END + ' AS [' + m.ColumnName + ']',
			@THIS_COLUMN = M.ColumnName,
			@THIS_MAIN_TYPE = M.ColumnType +
			CASE 
				WHEN M.ColumnType = 'DATETIME2' THEN '(' + CAST(m.scale AS VARCHAR) +')'
				WHEN M.ColumnType IN ('BINARY','VARBINARY') THEN '(' + ISNULL(NULLIF(CAST(m.max_length AS VARCHAR),'-1'),'MAX') +')'
				WHEN M.ColumnType IN ('DECIMAL','NUMERIC') THEN '(' + CAST(m.PRECISION AS VARCHAR) + ',' + CAST(m.scale AS VARCHAR) +')'
				WHEN M.ColumnType LIKE '%CHAR' THEN '(' + ISNULL(NULLIF(CAST(m.max_length AS VARCHAR),'-1'),'MAX') +')'
				ELSE ''
			END + CASE WHEN m.is_nullable = 1 THEN ' NULL' ELSE ' NOT NULL' END,
			@THIS_NEW_TYPE = N.ColumnType +
			CASE 
				WHEN N.ColumnType = 'DATETIME2' THEN '(' + CAST(n.scale AS VARCHAR) +')'
				WHEN N.ColumnType IN ('BINARY','VARBINARY') THEN '(' + ISNULL(NULLIF(CAST(m.max_length AS VARCHAR),'-1'),'MAX') +')'
				WHEN N.ColumnType IN ('DECIMAL','NUMERIC') THEN '(' + CAST(n.PRECISION AS VARCHAR) + ',' + CAST(n.scale AS VARCHAR) +')'
				WHEN N.ColumnType LIKE '%CHAR' THEN '(' + ISNULL(NULLIF(CAST(m.max_length AS VARCHAR),'-1'),'MAX') +')'
				ELSE ''
			END + CASE WHEN n.is_nullable = 1 THEN ' NULL' ELSE ' NOT NULL' END
		FROM dbo.MAIN_TABLE_COLUMNS M
		LEFT JOIN dbo.NEW_TABLE_COLUMNS N ON N.ColumnName = M.ColumnName
		WHERE M.RN = @INDICAT
		
		SET @SELECT_String = @SELECT_String + '
			' + @Delimiter + ' ' + @THIS_SELECT_String


		IF @THIS_WRONG_TYPE = 1
		BEGIN
			SET @THIS_DROP_STATISTICS_NEEDED = CASE WHEN CHARINDEX('[' + @THIS_COLUMN + ']', @SQL_CREATE_STATS) > 0 THEN 1 ELSE 0 END -- Looking if this column used in statistics

			SET @alter_String = @alter_String  + '
				' + @THIS_alter_String
		END

		SET	@WRONG_ORDER = CASE WHEN @THIS_WRONG_ORDER = 1 THEN @THIS_WRONG_ORDER ELSE @WRONG_ORDER END
		SET	@WRONG_TYPE = CASE WHEN @THIS_WRONG_TYPE = 1 THEN @THIS_WRONG_TYPE ELSE @WRONG_TYPE END
		SET	@WRONG_COLUMN_NUMBER = CASE WHEN @THIS_WRONG_COLUMN_NUMBER = 1 THEN @THIS_WRONG_COLUMN_NUMBER ELSE @WRONG_COLUMN_NUMBER END
		SET	@FULL_RELOAD_NEEDED = CASE WHEN @THIS_WRONG_TYPE = 1 AND CHARINDEX('[' + @THIS_COLUMN + ']',@NEW_TABLE_DISTRIBUTION) > 0 THEN 1 ELSE @FULL_RELOAD_NEEDED END -- If it's Disrtibution column it does not allow use ALTER statement
		SET	@DROP_STATISTICS_NEEDED = CASE WHEN @THIS_DROP_STATISTICS_NEEDED = 1 THEN @THIS_DROP_STATISTICS_NEEDED ELSE @DROP_STATISTICS_NEEDED END

		IF (@REPORT_ERRORS = 1)
		BEGIN
			IF (@THIS_WRONG_TYPE = 1)
			BEGIN
				PRINT 'Type mismatch for column <<' + @THIS_COLUMN + '>>: Main table = ' + @THIS_MAIN_TYPE + '; New table = ' + @THIS_NEW_TYPE
				--SET @REPORT_MESSAGE = @REPORT_MESSAGE + CHAR(13) + 'Type mismatch for column <<' + @THIS_COLUMN + '>>: Main table = ' + @THIS_MAIN_TYPE + '; New table = ' + @THIS_NEW_TYPE
			END
			IF @THIS_WRONG_COLUMN_NUMBER = 1
			BEGIN
				PRINT 'No column <<' + @THIS_COLUMN + '>> in a New table'
				--SET @REPORT_MESSAGE = @REPORT_MESSAGE + CHAR(13) + 'No column <<' + @THIS_COLUMN + '>> in a New table'
			END
		END
		SET	@Delimiter = ','
		SET @INDICAT += 1

	END

	SET	@WRONG_DISTRIBUTION = CASE WHEN @MAIN_TABLE_DISTRIBUTION = @NEW_TABLE_DISTRIBUTION THEN @WRONG_DISTRIBUTION ELSE 1 END
	SET @FULL_RELOAD_NEEDED = CASE WHEN @WRONG_DISTRIBUTION = 1 THEN 1 ELSE @FULL_RELOAD_NEEDED END
	SET @FULL_RELOAD_NEEDED = CASE WHEN @WRONG_ORDER = 1 THEN 1 ELSE @FULL_RELOAD_NEEDED END
	SET @FULL_RELOAD_NEEDED = CASE WHEN @WRONG_COLUMN_NUMBER = 1 THEN 1 ELSE @FULL_RELOAD_NEEDED END
	SET @FULL_RELOAD_NEEDED = CASE WHEN @WRONG_INDEX = 1 THEN 1 ELSE @FULL_RELOAD_NEEDED END
	SET @DROP_STATISTICS_NEEDED = CASE WHEN @FULL_RELOAD_NEEDED = 1 THEN 0 ELSE @DROP_STATISTICS_NEEDED END

	IF @DROP_STATISTICS_NEEDED = 1
	BEGIN
		EXEC EDW_RITE.DBO.GET_DROP_STATISTICS_SQL @NEW_TABLE, @SQL_DROP_STATS
		--PRINT 'GOT @SQL_DROP_STATS'
	END

	IF (@REPORT_ERRORS = 1)
	BEGIN
		IF (@WRONG_COLUMN_NUMBER = 1)
		BEGIN
			PRINT CHAR(13) + 'Tables have different columns'
		END
		IF (@WRONG_ORDER = 1)
		BEGIN
			PRINT CHAR(13) + 'Columns Order mismatch'
		END
		IF (@WRONG_DISTRIBUTION = 1)
		BEGIN
			PRINT CHAR(13) + 'Distribution mismatch: Main table = ' + @MAIN_TABLE_DISTRIBUTION + '; New table = ' + @NEW_TABLE_DISTRIBUTION
		END
		IF (@WRONG_INDEX = 1)
		BEGIN
			PRINT CHAR(13) + 'Index mismatch: Main table = ' + @MAIN_TABLE_INDEX + '; New table = ' + @NEW_TABLE_INDEX
		END
		IF (@FULL_RELOAD_NEEDED = 1)
		BEGIN
			PRINT CHAR(13) + 'Needed full reload for new table'
		END
		IF (@DROP_STATISTICS_NEEDED = 1)
		BEGIN
			PRINT CHAR(13) + 'DROP and CREATE Stats needed for new Table'
		END

		--PRINT (@REPORT_MESSAGE)
	END

	DECLARE @MAIN_PARTITION [VARCHAR](MAX)
	EXEC EDW_RITE.DBO.GET_PARTITION_STRING @MAIN_TABLE, @MAIN_PARTITION OUTPUT 
	--PRINT 'GOT @MAIN_PARTITION'

	SET @SQL_CREATE_TABLE = 'CREATE TABLE dbo.' + @NEW_TABLE + '_NEW_SET WITH (' + @MAIN_TABLE_INDEX + ', ' + @MAIN_TABLE_DISTRIBUTION + @MAIN_PARTITION + ')
	AS 
	SELECT ' + @SELECT_String + '
	FROM ' + @NEW_TABLE + ' AS new_table
		
	IF OBJECT_ID(''dbo.' + @NEW_TABLE + '_OLD'') IS NOT NULL		DROP TABLE dbo.' + @NEW_TABLE + '_OLD;
	IF OBJECT_ID(''dbo.' + @NEW_TABLE + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @NEW_TABLE + ' TO ' + @NEW_TABLE + '_OLD;
	IF OBJECT_ID(''dbo.' + @NEW_TABLE + '_NEW_SET'') IS NOT NULL	RENAME OBJECT::dbo.' + @NEW_TABLE + '_NEW_SET TO ' + @NEW_TABLE + ';
	IF OBJECT_ID(''dbo.' + @NEW_TABLE + '_OLD'') IS NOT NULL		DROP TABLE dbo.' + @NEW_TABLE + '_OLD;
	'

	IF @TO_FIX = 0
	BEGIN
		IF @FULL_RELOAD_NEEDED = 0 AND @DROP_STATISTICS_NEEDED = 0 AND @WRONG_TYPE = 0 PRINT 'TABLES ARE THE SAME - NOTHING TO FIX'

		IF @DROP_STATISTICS_NEEDED = 1 PRINT (@SQL_DROP_STATS)
		IF @FULL_RELOAD_NEEDED = 0 AND @WRONG_TYPE = 1 PRINT (@alter_String)
		IF @FULL_RELOAD_NEEDED = 0 AND @WRONG_TYPE = 1 PRINT '--------------   If ALTER did not help - try full reload:  --------------'
		IF @FULL_RELOAD_NEEDED = 1 OR @WRONG_TYPE = 1 PRINT (@SQL_CREATE_TABLE)
		IF @DROP_STATISTICS_NEEDED = 1 OR @FULL_RELOAD_NEEDED = 1 PRINT (@SQL_CREATE_STATS)
	END
	--PRINT @SQL_CREATE_TABLE

	IF @TO_FIX = 1
	BEGIN

		IF @DROP_STATISTICS_NEEDED = 1 EXEC (@SQL_DROP_STATS)
		
		IF @FULL_RELOAD_NEEDED = 0 AND @WRONG_TYPE = 1 
		BEGIN
			BEGIN TRY
				EXEC (@alter_String)
			END	TRY	
			BEGIN CATCH
				SET @FULL_RELOAD_NEEDED = 1
			END CATCH
		END

		IF @FULL_RELOAD_NEEDED = 1 EXEC (@SQL_CREATE_TABLE)

		IF @DROP_STATISTICS_NEEDED = 1 OR @FULL_RELOAD_NEEDED = 1 EXEC (@SQL_CREATE_STATS)

	END

	IF OBJECT_ID('dbo.MAIN_TABLE_COLUMNS') IS NOT NULL DROP TABLE dbo.MAIN_TABLE_COLUMNS;
	IF OBJECT_ID('dbo.NEW_TABLE_COLUMNS') IS NOT NULL DROP TABLE dbo.NEW_TABLE_COLUMNS;


END


















