CREATE PROC [dbo].[PROCEDURES_WITH_DEFINITIONS_LOAD] AS

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.PROCEDURES_WITH_DEFINITIONS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.PROCEDURES_WITH_DEFINITIONS_LOAD
GO

EXEC DBO.PROCEDURES_WITH_DEFINITIONS_LOAD

SELECT COUNT_BIG(1) FROM dbo.PROCEDURES_WITH_DEFINITIONS  

SELECT 
	PROC_NAME,PROC_DEFINITION,NO_COMMENTS_DEFINITION
FROM dbo.PROCEDURES_WITH_DEFINITIONS


*/

IF OBJECT_ID('dbo.PROCEDURES_WITH_DEFINITIONS') IS NULL
BEGIN
	CREATE TABLE dbo.PROCEDURES_WITH_DEFINITIONS WITH (CLUSTERED INDEX (DB, PROC_NAME), DISTRIBUTION = REPLICATE) AS
	SELECT CAST('' AS varchar(128)) AS DB, CAST('' AS varchar(128)) AS PROC_SCHEMA, CAST('' AS VARCHAR(200)) AS PROC_NAME, CAST(''AS VARCHAR(MAX)) AS PROC_DEFINITION, CAST('' AS VARCHAR(MAX)) AS NO_COMMENTS_DEFINITION
END


IF OBJECT_ID('tempdb..#PROCEDURES_WITH_DEFINITIONS') IS NOT NULL DROP TABLE #PROCEDURES_WITH_DEFINITIONS

CREATE TABLE #PROCEDURES_WITH_DEFINITIONS WITH (HEAP, DISTRIBUTION = REPLICATE) AS
SELECT 
	ROW_NUMBER() OVER (ORDER BY PR.name) AS NN,
	CAST(PR.name AS VARCHAR(200)) AS PROC_NAME, CAST(MODU.DEFINITION AS VARCHAR(MAX)) AS PROC_DEFINITION--, CAST('' AS VARCHAR(MAX)) AS NO_COMMENTS_DEFINITION
FROM SYS.PROCEDURES AS PR 
JOIN SYS.schemas S ON S.schema_id = PR.schema_id AND S.name = 'DBO'
LEFT JOIN SYS.SQL_MODULES AS MODU ON PR.OBJECT_ID = MODU.OBJECT_ID
WHERE PR.Name NOT LIKE '%_OLD%' AND PR.Name NOT LIKE '%TEMP%' AND PR.Name NOT LIKE '%_PREV%' AND PR.Name NOT LIKE '%TEST%'

DECLARE @MAX_NN INT = (SELECT MAX(NN) FROM #PROCEDURES_WITH_DEFINITIONS)
DECLARE @TEC_NN INT = 1

DECLARE @PROC_NAME VARCHAR(200)
DECLARE @PROC_TEXT VARCHAR(MAX) 
DECLARE @PROC_TEXT_NEW VARCHAR(MAX) = ''

--SELECT *
--FROM #PROCEDURES_WITH_DEFINITIONS
--ORDER BY NN

--DECLARE @

-- LOOP on Procs
WHILE @TEC_NN <= @MAX_NN
BEGIN

	SELECT @PROC_NAME = PROC_NAME, @PROC_TEXT = PROC_DEFINITION FROM #PROCEDURES_WITH_DEFINITIONS WHERE NN = @TEC_NN

	EXEC dbo.PROCEDURES_GET_NO_COMMENTS_DEFINITION @PROC_TEXT, @PROC_TEXT_NEW OUTPUT

	IF (SELECT 1 FROM dbo.PROCEDURES_WITH_DEFINITIONS WHERE PROC_NAME = @PROC_NAME) IS NULL
	BEGIN
		INSERT INTO dbo.PROCEDURES_WITH_DEFINITIONS (DB, PROC_SCHEMA,PROC_NAME,PROC_DEFINITION,NO_COMMENTS_DEFINITION)
		VALUES ('EDW_RITE','DBO',@PROC_NAME,@PROC_TEXT,@PROC_TEXT_NEW)
	END
	ELSE
	BEGIN
		UPDATE dbo.PROCEDURES_WITH_DEFINITIONS
		SET PROC_DEFINITION = @PROC_TEXT, NO_COMMENTS_DEFINITION = @PROC_TEXT_NEW
		WHERE PROC_NAME = @PROC_NAME AND DB = 'EDW_RITE'
	END

	--EXEC dbo.PROCEDURES_WITH_DEFINITIONS_UPDATE @PROC_NAME

	SET @TEC_NN += 1
END

