CREATE PROC [DBO].[ACCOUNT_TAG_HISTORY_LOAD] AS

-- EXEC EDW_RITE.DBO.ACCOUNT_TAG_HISTORY_LOAD
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.ACCOUNT_TAG_HISTORY_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.ACCOUNT_TAG_HISTORY_LOAD
GO

*/


DECLARE @LAST_UPDATE_DATE datetime2(2) 
EXEC dbo.GetLoadStartDatetime 'dbo.ACCOUNT_TAG_HISTORY', @LAST_UPDATE_DATE OUTPUT
-- PRINT @LAST_UPDATE_DATE

IF OBJECT_ID('dbo.ACCOUNT_TAG_HISTORY_STAGE')>0
	DROP TABLE dbo.ACCOUNT_TAG_HISTORY_STAGE
	
CREATE TABLE dbo.ACCOUNT_TAG_HISTORY_STAGE WITH (DISTRIBUTION = HASH(ACCT_ID))--, CLUSTERED INDEX (ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ)) 
AS 
-- EXPLAIN
SELECT 
	  ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, TAG_ID, ACCT_TAG_STATUS, ASSIGNED_DATE
	, EXPIRED_DATE
	, ISNULL(VEHICLE_MAKE,'(Null)') AS VEHICLE_MAKE, ISNULL(VEHICLE_MODEL, '(Null)') AS VEHICLE_MODEL, ISNULL(VEHICLE_YEAR, '(Null)') AS VEHICLE_YEAR
	, ISNULL(VEHICLE_COLOR,'(Null)') AS VEHICLE_COLOR
	, ISNULL(VEHICLE_CLASS_CODE,'-1') AS VEHICLE_CLASS_CODE
	, ISNULL(LIC_PLATE,'(Null)') AS LIC_PLATE, ISNULL(LIC_STATE,'(Null)') AS LIC_STATE 
	, DATE_CREATED
	, LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE
FROM LND_LG_TS.[TAG_OWNER].ACCOUNT_TAG_HISTORY A 
WHERE 
	A.LAST_UPDATE_DATE >= @LAST_UPDATE_DATE 
OPTION (LABEL = 'ACCOUNT_TAG_HISTORY_LOAD: ACCOUNT_TAG_HISTORY_STAGE');

CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_STAGE_001 ON ACCOUNT_TAG_HISTORY_STAGE (ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ)
CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_STAGE_002 ON ACCOUNT_TAG_HISTORY_STAGE (LIC_PLATE, LIC_STATE)
CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_STAGE_003 ON ACCOUNT_TAG_HISTORY_STAGE (VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_YEAR)


-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
-- --  DIM_VEHICLE
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
DECLARE @MAX_VEHICLE_ID int = ISNULL((SELECT MAX(VEHICLE_ID) FROM DBO.DIM_VEHICLE),0);

INSERT INTO DBO.DIM_VEHICLE (VEHICLE_ID, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_YEAR, INSERT_DATETIME)
SELECT ROW_NUMBER()OVER(ORDER BY (SELECT 1))+ @MAX_VEHICLE_ID, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_YEAR, GETDATE()
FROM 
(
	SELECT DISTINCT A.VEHICLE_MAKE, A.VEHICLE_MODEL, A.VEHICLE_YEAR
	FROM dbo.ACCOUNT_TAG_HISTORY_STAGE A
	LEFT JOIN dbo.DIM_VEHICLE B ON A.VEHICLE_MAKE = B.VEHICLE_MAKE AND A.VEHICLE_MODEL = B.VEHICLE_MODEL AND A.VEHICLE_YEAR = B.VEHICLE_YEAR
	WHERE B.VEHICLE_MAKE IS NULL AND B.VEHICLE_MODEL IS NULL AND B.VEHICLE_YEAR IS NULL
	
) A
OPTION (LABEL = 'ACCOUNT_TAG_HISTORY_LOAD: INSERT DIM_VEHICLE');


-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
-- --  DIM LICENSE PLATE 
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
DECLARE @MAX_LICENSE_PLATE_ID int = ISNULL((SELECT MAX(LICENSE_PLATE_ID) FROM DBO.DIM_LICENSE_PLATE),0);

INSERT INTO DBO.DIM_LICENSE_PLATE (LICENSE_PLATE_ID, LICENSE_PLATE_NBR, LICENSE_PLATE_STATE)
SELECT ROW_NUMBER()OVER(ORDER BY (SELECT 1))+ @MAX_LICENSE_PLATE_ID, LIC_PLATE, LIC_STATE
FROM 
(
	SELECT DISTINCT A.LIC_PLATE, A.LIC_STATE 
	FROM DBO.ACCOUNT_TAG_HISTORY_STAGE A
	LEFT JOIN dbo.DIM_LICENSE_PLATE B ON A.LIC_PLATE = B.LICENSE_PLATE_NBR AND A.LIC_STATE = B.LICENSE_PLATE_STATE
	WHERE B.LICENSE_PLATE_NBR IS NULL AND B.LICENSE_PLATE_STATE IS NULL
	
) A
OPTION (LABEL = 'ACCOUNT_TAG_HISTORY_LOAD: DIM_LICENSE_PLATE');

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
-- --  DIM_VEHICLE_COLOR
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
DECLARE @MAX_VEHICLE_COLOR_ID int = ISNULL((SELECT MAX(VEHICLE_COLOR_ID) FROM DBO.DIM_VEHICLE_COLOR),0);

INSERT INTO DBO.DIM_VEHICLE_COLOR (VEHICLE_COLOR_ID, VEHICLE_COLOR, INSERT_DATE)
SELECT ROW_NUMBER()OVER(ORDER BY (SELECT 1))+ @MAX_VEHICLE_COLOR_ID, VEHICLE_COLOR, GETDATE()
FROM 
(
	SELECT DISTINCT A.VEHICLE_COLOR
	FROM DBO.ACCOUNT_TAG_HISTORY_STAGE A
	LEFT JOIN dbo.DIM_VEHICLE_COLOR B ON A.VEHICLE_COLOR = B.VEHICLE_COLOR
	WHERE B.VEHICLE_COLOR IS NULL 
	
) A
OPTION (LABEL = 'ACCOUNT_TAG_HISTORY_LOAD: DIM_VEHICLE_COLOR');

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
-- --  FINAL STAGE
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
IF OBJECT_ID('dbo.ACCOUNT_TAG_HISTORY_FINAL_STAGE')>0
	DROP TABLE dbo.ACCOUNT_TAG_HISTORY_FINAL_STAGE
	
CREATE TABLE dbo.ACCOUNT_TAG_HISTORY_FINAL_STAGE WITH (DISTRIBUTION = HASH(ACCT_ID), CLUSTERED INDEX (ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ)) 
AS 
-- EXPLAIN
SELECT 
	  ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, TAG_ID, ACCT_TAG_STATUS, ASSIGNED_DATE
	, EXPIRED_DATE
	, B.VEHICLE_ID
	, D.VEHICLE_COLOR_ID
	, ISNULL(VEHICLE_CLASS_CODE,'-1') AS VEHICLE_CLASS_CODE
	, C.LICENSE_PLATE_ID
	, DATE_CREATED
	, A.LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE
FROM dbo.ACCOUNT_TAG_HISTORY_STAGE A
INNER JOIN dbo.DIM_VEHICLE B ON A.VEHICLE_MAKE = B.VEHICLE_MAKE AND A.VEHICLE_MODEL = B.VEHICLE_MODEL AND A.VEHICLE_YEAR = B.VEHICLE_YEAR
INNER JOIN dbo.DIM_LICENSE_PLATE C ON A.LIC_PLATE = C.LICENSE_PLATE_NBR AND A.LIC_STATE = C.LICENSE_PLATE_STATE
INNER JOIN dbo.DIM_VEHICLE_COLOR D ON A.VEHICLE_COLOR = D.VEHICLE_COLOR 

OPTION (LABEL = 'ACCOUNT_TAG_HISTORY_LOAD: ACCOUNT_TAG_HISTORY_STAGE');

CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_FINAL_STAGE_001 ON ACCOUNT_TAG_HISTORY_FINAL_STAGE (ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ)

IF OBJECT_ID('dbo.ACCOUNT_TAG_HISTORY_NEW_STAGE')>0 	DROP TABLE dbo.ACCOUNT_TAG_HISTORY_NEW_STAGE

CREATE TABLE dbo.ACCOUNT_TAG_HISTORY_NEW_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(ACCT_ID)) AS    
SELECT	
	  ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, TAG_ID, ACCT_TAG_STATUS, ASSIGNED_DATE, EXPIRED_DATE, VEHICLE_ID, VEHICLE_COLOR_ID
	, VEHICLE_CLASS_CODE, LICENSE_PLATE_ID, DATE_CREATED, INSERT_DATE, LAST_UPDATE_DATE
FROM dbo.ACCOUNT_TAG_HISTORY AS F 
WHERE	NOT EXISTS (SELECT 1 FROM dbo.ACCOUNT_TAG_HISTORY_FINAL_STAGE AS NSET WHERE NSET.ACCT_ID = F.ACCT_ID AND NSET.ACCT_TAG_SEQ = F.ACCT_TAG_SEQ AND NSET.TAG_HISTORY_SEQ = F.TAG_HISTORY_SEQ) 

  UNION ALL 
  
SELECT	
	  ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, TAG_ID, ACCT_TAG_STATUS, ASSIGNED_DATE, EXPIRED_DATE, VEHICLE_ID, VEHICLE_COLOR_ID
	, VEHICLE_CLASS_CODE, LICENSE_PLATE_ID, DATE_CREATED, LAST_UPDATE_DATE AS INSERT_DATE, LAST_UPDATE_DATE
FROM dbo.ACCOUNT_TAG_HISTORY_FINAL_STAGE


IF OBJECT_ID('dbo.ACCOUNT_TAG_HISTORY_OLD') IS NOT NULL 	DROP TABLE dbo.ACCOUNT_TAG_HISTORY_OLD;
IF OBJECT_ID('dbo.ACCOUNT_TAG_HISTORY') IS NOT NULL		RENAME OBJECT::dbo.ACCOUNT_TAG_HISTORY TO ACCOUNT_TAG_HISTORY_OLD;
RENAME OBJECT::dbo.ACCOUNT_TAG_HISTORY_NEW_STAGE TO ACCOUNT_TAG_HISTORY;
IF OBJECT_ID('dbo.ACCOUNT_TAG_HISTORY_OLD') IS NOT NULL 	DROP TABLE dbo.ACCOUNT_TAG_HISTORY_OLD;

CREATE STATISTICS [STATS_ACCOUNT_TAG_HISTORY_001] ON [dbo].[ACCOUNT_TAG_HISTORY] ([ACCT_ID]);
CREATE STATISTICS [STATS_ACCOUNT_TAG_HISTORY_002] ON [dbo].[ACCOUNT_TAG_HISTORY] ([ACCT_ID], [ACCT_TAG_SEQ], [TAG_ID]);
CREATE STATISTICS [STATS_ACCOUNT_TAG_HISTORY_003] ON [dbo].[ACCOUNT_TAG_HISTORY] ([ACCT_ID], [TAG_ID]);
CREATE STATISTICS [STATS_ACCOUNT_TAG_HISTORY_004] ON [dbo].[ACCOUNT_TAG_HISTORY] ([ACCT_ID], [TAG_ID], [ACCT_TAG_STATUS]);
CREATE STATISTICS [STATS_ACCOUNT_TAG_HISTORY_005] ON [dbo].[ACCOUNT_TAG_HISTORY] ([ACCT_ID], [ACCT_TAG_SEQ], [TAG_HISTORY_SEQ], [TAG_ID]);
CREATE STATISTICS [STATS_ACCOUNT_TAG_HISTORY_006] ON [dbo].[ACCOUNT_TAG_HISTORY] ([LAST_UPDATE_DATE]);

/*
---- GetUpdateFields 'ACCOUNT_TAG_HISTORY'
---- EXPLAIN
UPDATE DBO.ACCOUNT_TAG_HISTORY
SET    dbo.ACCOUNT_TAG_HISTORY.TAG_ID = B.TAG_ID
	, dbo.ACCOUNT_TAG_HISTORY.ACCT_TAG_STATUS = B.ACCT_TAG_STATUS
	, dbo.ACCOUNT_TAG_HISTORY.ASSIGNED_DATE = B.ASSIGNED_DATE
	, dbo.ACCOUNT_TAG_HISTORY.EXPIRED_DATE = B.EXPIRED_DATE
	, dbo.ACCOUNT_TAG_HISTORY.VEHICLE_ID = B.VEHICLE_ID
	, dbo.ACCOUNT_TAG_HISTORY.VEHICLE_COLOR_ID = B.VEHICLE_COLOR_ID
	, dbo.ACCOUNT_TAG_HISTORY.VEHICLE_CLASS_CODE = B.VEHICLE_CLASS_CODE
	, dbo.ACCOUNT_TAG_HISTORY.LICENSE_PLATE_ID = B.LICENSE_PLATE_ID
	, dbo.ACCOUNT_TAG_HISTORY.DATE_CREATED = B.DATE_CREATED
	, dbo.ACCOUNT_TAG_HISTORY.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.ACCOUNT_TAG_HISTORY_FINAL_STAGE B
WHERE 
		DBO.ACCOUNT_TAG_HISTORY.ACCT_ID = B.ACCT_ID 
	AND DBO.ACCOUNT_TAG_HISTORY.ACCT_TAG_SEQ = B.ACCT_TAG_SEQ 
	AND DBO.ACCOUNT_TAG_HISTORY.TAG_HISTORY_SEQ = B.TAG_HISTORY_SEQ 
	--AND 
	--(
	--		dbo.ACCOUNT_TAG_HISTORY.TAG_ID <> B.TAG_ID
	--	OR dbo.ACCOUNT_TAG_HISTORY.ACCT_TAG_STATUS <> B.ACCT_TAG_STATUS
	--	OR dbo.ACCOUNT_TAG_HISTORY.ASSIGNED_DATE <> B.ASSIGNED_DATE
	--	OR dbo.ACCOUNT_TAG_HISTORY.EXPIRED_DATE <> B.EXPIRED_DATE
	--	OR dbo.ACCOUNT_TAG_HISTORY.VEHICLE_ID <> B.VEHICLE_ID
	--	OR dbo.ACCOUNT_TAG_HISTORY.VEHICLE_COLOR_ID <> B.VEHICLE_COLOR_ID
	--	OR dbo.ACCOUNT_TAG_HISTORY.VEHICLE_CLASS_CODE <> B.VEHICLE_CLASS_CODE
	--	OR dbo.ACCOUNT_TAG_HISTORY.LICENSE_PLATE_ID <> B.LICENSE_PLATE_ID
	--	OR dbo.ACCOUNT_TAG_HISTORY.DATE_CREATED <> B.DATE_CREATED
	--)
	AND B.LAST_UPDATE_TYPE = 'U'
OPTION (LABEL = 'ACCOUNT_TAG_HISTORY_LOAD: UPDATE ACCOUNT_TAG_HISTORY');		

	 
-- GetFields 'ACCOUNT_TAG_HISTORY'
-- EXPLAIN 
INSERT INTO DBO.ACCOUNT_TAG_HISTORY
(
	  ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, TAG_ID, ACCT_TAG_STATUS, ASSIGNED_DATE
	, EXPIRED_DATE, VEHICLE_ID, VEHICLE_COLOR_ID
	, VEHICLE_CLASS_CODE, LICENSE_PLATE_ID, DATE_CREATED
	, INSERT_DATE, LAST_UPDATE_DATE
)
SELECT 
	  A.ACCT_ID, A.ACCT_TAG_SEQ, A.TAG_HISTORY_SEQ, A.TAG_ID, A.ACCT_TAG_STATUS, A.ASSIGNED_DATE
	, A.EXPIRED_DATE, A.VEHICLE_ID, A.VEHICLE_COLOR_ID
	, A.VEHICLE_CLASS_CODE, A.LICENSE_PLATE_ID, A.DATE_CREATED
	, A.LAST_UPDATE_DATE
	, A.LAST_UPDATE_DATE
FROM dbo.ACCOUNT_TAG_HISTORY_FINAL_STAGE A
LEFT JOIN dbo.ACCOUNT_TAG_HISTORY B 
	ON		A.ACCT_ID = B.ACCT_ID 
		AND A.ACCT_TAG_SEQ = B.ACCT_TAG_SEQ 
		AND A.TAG_HISTORY_SEQ = B.TAG_HISTORY_SEQ 
WHERE B.ACCT_ID IS NULL AND B.ACCT_TAG_SEQ IS NULL AND B.TAG_HISTORY_SEQ IS NULL
OPTION (LABEL = 'ACCOUNT_TAG_HISTORY_LOAD: INSERT ACCOUNT_TAG_HISTORY');		

*/
--GO


IF OBJECT_ID('dbo.ACCOUNT_TAG_HISTORY_STAGE')>0
	DROP TABLE dbo.ACCOUNT_TAG_HISTORY_STAGE
	
IF OBJECT_ID('dbo.ACCOUNT_TAG_HISTORY_FINAL_STAGE')>0
	DROP TABLE dbo.ACCOUNT_TAG_HISTORY_FINAL_STAGE

--SELECT ACCT_ID, ACCT_TAG_SEQ,TAG_HISTORY_SEQ
--FROM ACCOUNT_TAG_HISTORY
--GROUP BY ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ
--HAVING COUNT(*)>1





