CREATE PROC [DBO].[FACT_INVOICE_UPDATE_FROM_FACT_INVOICE_STAGE_POS] AS 

DECLARE @PARTITION_DATE date = (SELECT MAX(PARTITION_DATE) FROM PARTITION_AS_OF_DATE_CONTROL)

UPDATE dbo.FACT_INVOICE_ANALYSIS
SET
	  dbo.FACT_INVOICE_ANALYSIS.FIRST_POS_ID = B.FIRST_POS_ID
	, dbo.FACT_INVOICE_ANALYSIS.LAST_POS_ID = B.POS_ID
	, dbo.FACT_INVOICE_ANALYSIS.POS_NAME_LIST = B.POS_NAME_LIST
	, dbo.FACT_INVOICE_ANALYSIS.POS_COUNT= B.POS_COUNT

FROM dbo.FACT_INVOICE_STAGE_POS B
WHERE 
	dbo.FACT_INVOICE_ANALYSIS.VIOLATOR_ID = B.VIOLATOR_ID 
	AND dbo.FACT_INVOICE_ANALYSIS.VBI_INVOICE_ID = B.VBI_INVOICE_ID
	AND dbo.FACT_INVOICE_ANALYSIS.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
	AND dbo.FACT_INVOICE_ANALYSIS.PARTITION_DATE = @PARTITION_DATE


