CREATE PROC [DBO].[FACT_UNIFIED_VIOLATION_CREATE_STATS] @TABLE_NAME [VARCHAR](100) AS 

DECLARE @sql VARCHAR(MAX)

	SET @sql = '

	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_001 ON [dbo].' + @TABLE_NAME + ' (DAY_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_002 ON [dbo].' + @TABLE_NAME + ' (LANE_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_003 ON [dbo].' + @TABLE_NAME + ' (LANE_VIOL_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_004 ON [dbo].' + @TABLE_NAME + ' (ACCT_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_005 ON [dbo].' + @TABLE_NAME + ' (TAG_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_006 ON [dbo].' + @TABLE_NAME + ' (VIOLATION_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_007 ON [dbo].' + @TABLE_NAME + ' (VIOLATOR_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_008 ON [dbo].' + @TABLE_NAME + ' (TRANSACTION_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_009 ON [dbo].' + @TABLE_NAME + ' (TRANSACTION_FILE_DETAIL_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_010 ON [dbo].' + @TABLE_NAME + ' (TTXN_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_011 ON [dbo].' + @TABLE_NAME + ' (AVI_TAG_STATUS)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_012 ON [dbo].' + @TABLE_NAME + ' (LEVEL_0)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_013 ON [dbo].' + @TABLE_NAME + ' (LEVEL_1)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_014 ON [dbo].' + @TABLE_NAME + ' (LEVEL_2)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_015 ON [dbo].' + @TABLE_NAME + ' (LEVEL_3)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_016 ON [dbo].' + @TABLE_NAME + ' (LEVEL_4)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_017 ON [dbo].' + @TABLE_NAME + ' (LEVEL_5)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_018 ON [dbo].' + @TABLE_NAME + ' (LEVEL_6)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_019 ON [dbo].' + @TABLE_NAME + ' (LEVEL_7)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_020 ON [dbo].' + @TABLE_NAME + ' (LEVEL_8)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_021 ON [dbo].' + @TABLE_NAME + ' (LEVEL_9)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_022 ON [dbo].' + @TABLE_NAME + ' (LEVEL_10)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_023 ON [dbo].' + @TABLE_NAME + ' (POSTED_DAY_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_024 ON [dbo].' + @TABLE_NAME + ' (SOURCE_CODE)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_025 ON [dbo].' + @TABLE_NAME + ' (DELETED)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_026 ON [dbo].' + @TABLE_NAME + ' (LVL_TVL)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_027 ON [dbo].' + @TABLE_NAME + ' (FLEET_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_028 ON [dbo].' + @TABLE_NAME + ' (UnPursuable_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_029 ON [dbo].' + @TABLE_NAME + ' (IOP_FLAG);
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_030 ON [dbo].' + @TABLE_NAME + ' (TART_ID);'

	EXECUTE (@sql);

