CREATE PROC [DBO].[FACT_INVOICE_HV_ON_PAYMENTPLAN_LOAD] AS 
		
IF OBJECT_ID('dbo.FACT_INVOICE_HV_ON_PAYMENTPLAN_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_HV_ON_PAYMENTPLAN_STAGE

CREATE TABLE dbo.FACT_INVOICE_HV_ON_PAYMENTPLAN_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ViolatorId)) 
AS 
select ViolatorId, MAX(VidSeq) AS VidSeq--, COUNT(*)
FROM edw_ter.dbo.Violator_PaymentAgreement
WHERE DefaultInd = 0 AND PaidInFull <>1
group by ViolatorId

