CREATE PROC [DBO].[PAYMENT_SOURCE_LOAD] AS 

--DECLARE @LAST_UPDATE_DATE datetime2(2) 
--exec dbo.GetLoadStartDatetime 'dbo.PAYMENT_SOURCE', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.PAYMENT_SOURCE_STAGE')<>0	DROP TABLE dbo.PAYMENT_SOURCE_STAGE

CREATE TABLE dbo.PAYMENT_SOURCE_STAGE WITH (HEAP, DISTRIBUTION = REPLICATE) 
AS 
-- EXPLAIN
SELECT CAST(A.PAYMENT_SOURCE_CODE AS VARCHAR(2)) AS PAYMENT_SOURCE_CODE, A.PAYMENT_SOURCE_CODE_DESCR, A.LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[PAYMENT_SOURCE] A
OPTION (LABEL = 'PAYMENT_SOURCE_LOAD: PAYMENT_SOURCE_STAGE');

--SELECT COUNT(1) FROM dbo.PAYMENT_SOURCE
INSERT INTO dbo.PAYMENT_SOURCE_STAGE 
		(PAYMENT_SOURCE_CODE, PAYMENT_SOURCE_CODE_DESCR, LAST_UPDATE_DATE)
VALUES	('-1','(Null)','1900-01-01')

CREATE STATISTICS STATS_PAYMENT_SOURCE_STAGE_001 ON PAYMENT_SOURCE_STAGE (PAYMENT_SOURCE_CODE)

IF OBJECT_ID('dbo.PAYMENT_SOURCE_OLD')>0 	DROP TABLE dbo.PAYMENT_SOURCE_OLD;
IF OBJECT_ID('dbo.PAYMENT_SOURCE')>0		RENAME OBJECT::dbo.PAYMENT_SOURCE TO PAYMENT_SOURCE_OLD;
RENAME OBJECT::dbo.PAYMENT_SOURCE_STAGE TO PAYMENT_SOURCE;
IF OBJECT_ID('dbo.PAYMENT_SOURCE_OLD')>0 	DROP TABLE dbo.PAYMENT_SOURCE_OLD;


--UPDATE dbo.PAYMENT_SOURCE
--SET  PAYMENT_SOURCE_CODE_DESCR = B.PAYMENT_SOURCE_CODE_DESCR
--	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
--FROM dbo.PAYMENT_SOURCE_STAGE B
--WHERE 
--	dbo.PAYMENT_SOURCE.PAYMENT_SOURCE_CODE = B.PAYMENT_SOURCE_CODE
--	AND 
--	dbo.PAYMENT_SOURCE.PAYMENT_SOURCE_CODE_DESCR <> B.PAYMENT_SOURCE_CODE_DESCR

--INSERT INTO dbo.PAYMENT_SOURCE (PAYMENT_SOURCE_CODE, PAYMENT_SOURCE_CODE_DESCR, INSERT_DATE, LAST_UPDATE_DATE)
--SELECT A.PAYMENT_SOURCE_CODE, A.PAYMENT_SOURCE_CODE_DESCR, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
--FROM dbo.PAYMENT_SOURCE_STAGE A
--LEFT JOIN dbo.PAYMENT_SOURCE B ON A.PAYMENT_SOURCE_CODE = B.PAYMENT_SOURCE_CODE
--WHERE B.PAYMENT_SOURCE_CODE IS NULL



