CREATE PROC [DBO].[VIOL_REJECT_TYPES_LOAD] AS 

-- GetFields 'VIOL_REJECT_TYPES'
--    VIOL_REJECT_TYPES, VIOL_REJECT_TYPES_DESCR, LAST_UPDATE_DATE, LAST_UPDATE_TYPE

DECLARE @LAST_UPDATE_DATE datetime2(2) 
exec dbo.GetLoadStartDatetime 'dbo.VIOL_REJECT_TYPES', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.VIOL_REJECT_TYPES_STAGE')<>0
	DROP TABLE dbo.VIOL_REJECT_TYPES_STAGE

CREATE TABLE dbo.VIOL_REJECT_TYPES_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VIOL_REJECT_TYPE)) 
AS 
-- EXPLAIN
SELECT   VIOL_REJECT_TYPE, VIOL_REJECT_TYPE_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM LND_LG_ICRS.[ICRS_OWNER].[VIOL_REJECT_TYPES] A
--WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'VIOL_REJECT_TYPES_LOAD: VIOL_REJECT_TYPES_STAGE');

CREATE STATISTICS STATS_VIOL_REJECT_TYPES_STAGE_001 ON VIOL_REJECT_TYPES_STAGE (VIOL_REJECT_TYPE)


UPDATE dbo.VIOL_REJECT_TYPES
SET  VIOL_REJECT_TYPE_DESCR = B.VIOL_REJECT_TYPE_DESCR
	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.VIOL_REJECT_TYPES_STAGE B
WHERE 
	dbo.VIOL_REJECT_TYPES.VIOL_REJECT_TYPE = B.VIOL_REJECT_TYPE
	AND dbo.VIOL_REJECT_TYPES.VIOL_REJECT_TYPE_DESCR <> B.VIOL_REJECT_TYPE_DESCR 

INSERT INTO dbo.VIOL_REJECT_TYPES (VIOL_REJECT_TYPE, VIOL_REJECT_TYPE_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT A.VIOL_REJECT_TYPE, A.VIOL_REJECT_TYPE_DESCR, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM dbo.VIOL_REJECT_TYPES_STAGE A
LEFT JOIN dbo.VIOL_REJECT_TYPES B ON A.VIOL_REJECT_TYPE = B.VIOL_REJECT_TYPE 
WHERE B.VIOL_REJECT_TYPE IS NULL 

/*
	INSERT INTO VIOL_REJECT_TYPES VALUES('-1','(Null)','I','5/19/2016')
	SELECT * FROM VIOL_REJECT_TYPES

*/


