CREATE PROC [DBO].[FACT_VB_VIOL_INVOICES_LOAD] AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_VB_VIOL_INVOICES_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_VB_VIOL_INVOICES_LOAD
GO

EXEC dbo.FACT_VB_VIOL_INVOICES_LOAD

SELECT TOP 20 * FROM [dbo].FACT_VB_VIOL_INVOICES
*/

DECLARE @SOURCE VARCHAR(50), @START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT--, @VB_CONTROL_DATE DATETIME2(2), @VI_CONTROL_DATE DATETIME2(2),@VBVI_CONTROL_DATE DATETIME2(2),@VIVI_CONTROL_DATE DATETIME2(2)

SELECT  @SOURCE = 'FACT_VB_VIOL_INVOICES', @START_DATE = GETDATE(), @LOG_MESSAGE = 'Started full load'
EXEC    dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE,  NULL

IF OBJECT_ID('dbo.FACT_VB_VIOL_INVOICES_STAGE') IS NOT NULL DROP TABLE dbo.FACT_VB_VIOL_INVOICES_STAGE

--EXPLAIN
CREATE TABLE dbo.FACT_VB_VIOL_INVOICES_STAGE WITH (CLUSTERED INDEX (VBI_INVOICE_ID,VIOL_INVOICE_ID), DISTRIBUTION = HASH (LAST_INVOICE_ID)) AS
WITH CTE_FACT_VIOLATION_PAYMENTS AS
(
	SELECT LAST_INVOICE_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, MAX(PAYMENT_DATE) AS PAID_DATE,
	CAST(SUM(SPLIT_AMOUNT) AS DECIMAL(10,2)) AS SPLIT_AMOUNT, CAST(SUM(TOLL_PAID) AS DECIMAL(10,2)) AS TOLL_PAID, CAST(SUM(FEES_PAID) AS DECIMAL(10,2)) AS FEES_PAID
	FROM dbo.FACT_VIOLATION_PAYMENTS_SUMMARY
	GROUP BY LAST_INVOICE_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID
)
, CTE_JOIN AS
(  -- EXPLAIN
	SELECT 
		VI.VBI_INVOICE_ID 										VBI_INVOICE_ID
		,VI.VIOL_INVOICE_ID										VIOL_INVOICE_ID							
		,VI.LAST_INVOICE_ID										LAST_INVOICE_ID
		,VI.VIOLATOR_ID											VIOLATOR_ID
		,VI.VIOLATOR_ADDR_SEQ									VIOLATOR_ADDR_SEQ
		,VI.TOLL_AMOUNT											TOLL_AMOUNT
		,VI.FEES_AMOUNT											FEES_AMOUNT
		,VI.LEGACY_TOLL_AMOUNT									LEGACY_TOLL_AMOUNT
		,VI.LEGACY_FEES_AMOUNT									LEGACY_FEES_AMOUNT
		,VI.VIOL_FINE_AMOUNT									VIOL_FINE_AMOUNT
		,VI.VBI_STATUS											VBI_STATUS
		,VI.VB_INVOICE_DATE										VB_INVOICE_DATE
		,VI.VB_INVOICE_AMT										VB_INVOICE_AMT
		,VI.VB_INVOICE_AMT_DISC									VB_INVOICE_AMT_DISC
		,VI.VB_LATE_FEE_AMOUNT									VB_LATE_FEE_AMOUNT
		,VI.VB_PAST_DUE_AMOUNT									VB_PAST_DUE_AMOUNT
		,VI.VB_INVOICE_AMT_PAID									VB_INVOICE_AMT_PAID
		,VI.VBB_LN_BATCH_ID										VBB_LN_BATCH_ID
		,VI.VB_DATE_EXCUSED										VB_DATE_EXCUSED
		,VI.VB_EXCUSED_BY										VB_EXCUSED_BY
		,CASE WHEN VI.VB_DATE_EXCUSED IS NULL 
			THEN 0 
			ELSE DATEDIFF(day,VI.VB_INVOICE_DATE,VI.VB_DATE_EXCUSED) 
		END														VB_INVOICE_DAYS_TO_EXCUSED
		,VI.VB_DUE_DATE											VB_DUE_DATE
		,VI.VB_MAIL_DATE										VB_MAIL_DATE
		,VI.VIOL_INV_STATUS										VIOL_INV_STATUS
		,VI.VIOL_INVOICE_DATE									VIOL_INVOICE_DATE
		,VI.VIOL_INVOICE_AMT									VIOL_INVOICE_AMT
		,VI.VIOL_INVOICE_AMT_PAID								VIOL_INVOICE_AMT_PAID
		,VI.VIOL_INVOICE_AMT_DISC								VIOL_INVOICE_AMT_DISC
		,VI.VIOL_INV_ADMIN_FEE									VIOL_INV_ADMIN_FEE
		,VI.VIOL_INV_ADMIN_FEE2									VIOL_INV_ADMIN_FEE2
		,VI.CA_INV_STATUS										CA_INV_STATUS
		,VI.DPS_INV_STATUS										DPS_INV_STATUS
		,VI.VIOL_INV_DATE_EXCUSED								VIOL_INV_DATE_EXCUSED
		,VI.VIOL_INV_EXCUSED_BY									VIOL_INV_EXCUSED_BY
		,VI.VIOL_INV_CURR_DUE_DATE								VIOL_INV_CURR_DUE_DATE
		,CASE WHEN VI.VIOL_INV_DATE_EXCUSED IS NULL 
			THEN 0 
			ELSE DATEDIFF(day,VI.VIOL_INVOICE_DATE,VI.VIOL_INV_DATE_EXCUSED) 
		END														VIOL_INVOICE_DAYS_TO_EXCUSED
		,VI.VIOL_INV_STATUS_DATE								VIOL_INV_STATUS_DATE
		,VI.VIOL_INV_DATE_MODIFIED								VIOL_INV_DATE_MODIFIED
		,VI.CLOSE_OUT_ELIGIBILITY_DATE							CLOSE_OUT_ELIGIBILITY_DATE
		,VI.CLOSE_OUT_STATUS									CLOSE_OUT_STATUS
		,VI.CLOSE_OUT_DATE										CLOSE_OUT_DATE
		,VI.CLOSE_OUT_TYPE										CLOSE_OUT_TYPE
		,CAST(V.HV_FLAG AS SMALLINT)							HV_FLAG
		,CAST(CASE WHEN ISNULL(I.PAYMENTPLANID, -1) = -1 THEN 0 ELSE 1 END AS SMALLINT) AS PP_FLAG
	FROM dbo.FACT_INVOICES_DATA VI
	LEFT JOIN dbo.VIOLATORS V ON V.VIOLATOR_ID = VI.VIOLATOR_ID
	LEFT JOIN  (SELECT LAST_INVOICE_ID, MAX(PAYMENTPLANID) PAYMENTPLANID FROM EDW_TER.dbo.FACT_TER_INVOICE GROUP BY LAST_INVOICE_ID) I ON I.LAST_INVOICE_ID = VI.LAST_INVOICE_ID
)
SELECT 
	ISNULL(VI.LAST_INVOICE_ID,-1)										LAST_INVOICE_ID
	,ISNULL(VI.VBI_INVOICE_ID,-1) 										VBI_INVOICE_ID
	,ISNULL(VI.VIOL_INVOICE_ID, -1)										VIOL_INVOICE_ID							
	,ISNULL(VI.VIOLATOR_ID,-1)											VIOLATOR_ID
	,ISNULL(VI.VIOLATOR_ADDR_SEQ,-1)									VIOLATOR_ADDR_SEQ
	,ISNULL(VI.TOLL_AMOUNT,0)											TOLL_AMOUNT
	,ISNULL(VI.FEES_AMOUNT,0)											FEES_AMOUNT
	,ISNULL(VI.LEGACY_TOLL_AMOUNT,0)									LEGACY_TOLL_AMOUNT
	,ISNULL(VI.LEGACY_FEES_AMOUNT,0)									LEGACY_FEES_AMOUNT
	,ISNULL(VB.SPLIT_AMOUNT,0)											PAID_AMOUNT
	,ISNULL(VB.TOLL_PAID,0)												TOLL_PAID
	,ISNULL(VB.FEES_PAID,0)												FEES_PAID
	,ISNULL(VB.PAID_DATE,'1900-01-01')									PAID_DATE
	,ISNULL(CASE 
				WHEN VB.PAID_DATE IS NULL THEN 0 
				ELSE DATEDIFF(day,VI.VB_INVOICE_DATE,VB.PAID_DATE) 
			END	,0)														VB_INVOICE_DAYS_TO_PAID
	,ISNULL(VI.VBI_STATUS, '-1')										VBI_STATUS
	,ISNULL(VI.VB_INVOICE_DATE,'1900-01-01')							VB_INVOICE_DATE
	,ISNULL(VI.VB_INVOICE_AMT,0)										VB_INVOICE_AMT
	,ISNULL(VI.VB_INVOICE_AMT_DISC,0)									VB_INVOICE_AMT_DISC
	,ISNULL(VI.VB_LATE_FEE_AMOUNT,0)									VB_LATE_FEE_AMOUNT
	,ISNULL(VI.VB_PAST_DUE_AMOUNT,0)									VB_PAST_DUE_AMOUNT
	,ISNULL(VI.VB_INVOICE_AMT_PAID,0)									VB_INVOICE_AMT_PAID
	,ISNULL(VI.VBB_LN_BATCH_ID,-1)										VBB_LN_BATCH_ID
	,ISNULL(VI.VB_DATE_EXCUSED,'1900-01-01')							VB_DATE_EXCUSED
	,ISNULL(VI.VB_EXCUSED_BY,'')										VB_EXCUSED_BY
	,ISNULL(VI.VB_INVOICE_DAYS_TO_EXCUSED,0)							VB_INVOICE_DAYS_TO_EXCUSED
	,ISNULL(VI.VB_DUE_DATE,'1900-01-01')								VB_DUE_DATE
	,ISNULL(VI.VB_MAIL_DATE,'1900-01-01')								VB_MAIL_DATE
	,ISNULL(VI.VIOL_INV_STATUS,'-1')									VIOL_INV_STATUS
	,ISNULL(VI.VIOL_INVOICE_DATE,'1900-01-01')							VIOL_INVOICE_DATE
	,ISNULL(VI.VIOL_INVOICE_AMT,0)										VIOL_INVOICE_AMT
	,ISNULL(VI.VIOL_INVOICE_AMT_PAID,0)									VIOL_INVOICE_AMT_PAID
	,ISNULL(VI.VIOL_INVOICE_AMT_DISC,0)									VIOL_INVOICE_AMT_DISC
	,ISNULL(VI.VIOL_INV_ADMIN_FEE,0)									VIOL_INV_ADMIN_FEE
	,ISNULL(VI.VIOL_INV_ADMIN_FEE2,0)									VIOL_INV_ADMIN_FEE2
	,ISNULL(VI.VIOL_FINE_AMOUNT,0)										VIOL_FINE_AMOUNT
	,ISNULL(VI.VIOL_INV_DATE_EXCUSED,'1900-01-01')						VIOL_INV_DATE_EXCUSED
	,ISNULL(VI.VIOL_INV_EXCUSED_BY,'')									VIOL_INV_EXCUSED_BY
	,ISNULL(VI.VIOL_INV_CURR_DUE_DATE,'1900-01-01')						VIOL_INV_CURR_DUE_DATE
	,ISNULL(VI.VIOL_INVOICE_DAYS_TO_EXCUSED,0)							VIOL_INVOICE_DAYS_TO_EXCUSED
	,ISNULL(VI.VIOL_INV_STATUS_DATE,'1900-01-01')						VIOL_INV_STATUS_DATE
	,ISNULL(VI.VIOL_INV_DATE_MODIFIED,'1900-01-01')						VIOL_INV_DATE_MODIFIED
	,ISNULL(VI.CA_INV_STATUS,'-1')										CA_INV_STATUS
	,ISNULL(VI.DPS_INV_STATUS,'-1')										DPS_INV_STATUS
	,ISNULL(VI.CLOSE_OUT_ELIGIBILITY_DATE,'1900-01-01')					CLOSE_OUT_ELIGIBILITY_DATE
	,ISNULL(VI.CLOSE_OUT_STATUS,'-1')									CLOSE_OUT_STATUS
	,ISNULL(VI.CLOSE_OUT_DATE,'1900-01-01')								CLOSE_OUT_DATE
	,ISNULL(VI.CLOSE_OUT_TYPE,'-1')										CLOSE_OUT_TYPE
	,ISNULL(VI.HV_FLAG, 0)												HV_FLAG
	,ISNULL(VI.PP_FLAG, 0)												PP_FLAG
--SELECT COUNT_BIG(1)--SELECT *
FROM CTE_JOIN VI
LEFT JOIN CTE_FACT_VIOLATION_PAYMENTS VB ON VB.LAST_INVOICE_ID = VI.LAST_INVOICE_ID AND VB.VBI_INVOICE_ID = VI.VBI_INVOICE_ID
OPTION (LABEL = 'FACT_VB_VIOL_INVOICES_LOAD: FACT_VB_VIOL_INVOICES_STAGE');

EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

CREATE STATISTICS STATS_FACT_VB_VIOL_INVOICES_000 ON [dbo].FACT_VB_VIOL_INVOICES_STAGE (LAST_INVOICE_ID)
CREATE STATISTICS STATS_FACT_VB_VIOL_INVOICES_001 ON [dbo].FACT_VB_VIOL_INVOICES_STAGE (HV_FLAG,PP_FLAG)
CREATE STATISTICS STATS_FACT_VB_VIOL_INVOICES_002 ON [dbo].FACT_VB_VIOL_INVOICES_STAGE (VIOL_INVOICE_ID,VBI_INVOICE_ID)
CREATE STATISTICS STATS_FACT_VB_VIOL_INVOICES_003 ON [dbo].FACT_VB_VIOL_INVOICES_STAGE (VBI_STATUS)
CREATE STATISTICS STATS_FACT_VB_VIOL_INVOICES_004 ON [dbo].FACT_VB_VIOL_INVOICES_STAGE (VIOL_INV_STATUS)
CREATE STATISTICS STATS_FACT_VB_VIOL_INVOICES_005 ON [dbo].FACT_VB_VIOL_INVOICES_STAGE (CA_INV_STATUS)
CREATE STATISTICS STATS_FACT_VB_VIOL_INVOICES_006 ON [dbo].FACT_VB_VIOL_INVOICES_STAGE (DPS_INV_STATUS,CLOSE_OUT_STATUS,CLOSE_OUT_TYPE)
CREATE STATISTICS STATS_FACT_VB_VIOL_INVOICES_007 ON [dbo].FACT_VB_VIOL_INVOICES_STAGE (VB_INVOICE_DATE,VBI_INVOICE_ID)
CREATE STATISTICS STATS_FACT_VB_VIOL_INVOICES_008 ON [dbo].FACT_VB_VIOL_INVOICES_STAGE (VIOL_INVOICE_DATE,VIOL_INVOICE_ID)
CREATE STATISTICS STATS_FACT_VB_VIOL_INVOICES_009 ON [dbo].FACT_VB_VIOL_INVOICES_STAGE (VIOLATOR_ID)
CREATE STATISTICS STATS_FACT_VB_VIOL_INVOICES_010 ON [dbo].FACT_VB_VIOL_INVOICES_STAGE (VB_MAIL_DATE)
CREATE STATISTICS STATS_FACT_VB_VIOL_INVOICES_011 ON [dbo].FACT_VB_VIOL_INVOICES_STAGE (PAID_DATE)


IF OBJECT_ID('dbo.FACT_VB_VIOL_INVOICES') IS NOT NULL			RENAME OBJECT::dbo.FACT_VB_VIOL_INVOICES TO FACT_VB_VIOL_INVOICES_OLD;
IF OBJECT_ID('dbo.FACT_VB_VIOL_INVOICES_STAGE') IS NOT NULL		RENAME OBJECT::dbo.FACT_VB_VIOL_INVOICES_STAGE TO FACT_VB_VIOL_INVOICES;
IF OBJECT_ID('dbo.FACT_VB_VIOL_INVOICES_OLD') IS NOT NULL		DROP TABLE dbo.FACT_VB_VIOL_INVOICES_OLD;

SET  @LOG_MESSAGE = 'Finished full load'
EXEC dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE, @ROW_COUNT

--IF OBJECT_ID('dbo.FACT_VB_VIOL_INVOICES_VIOL') IS NOT NULL DROP TABLE dbo.FACT_VB_VIOL_INVOICES_VIOL
--IF OBJECT_ID('dbo.FACT_VB_VIOL_INVOICES_VBI') IS NOT NULL DROP TABLE dbo.FACT_VB_VIOL_INVOICES_VBI


--SELECT @VB_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VB_INVOICES
--DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'FACT_VB_VIOL_INVOICES&VB_INVOICES'
--INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'FACT_VB_VIOL_INVOICES&VB_INVOICES', LAST_RUN_DATE = @VB_CONTROL_DATE

--SELECT @VI_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VIOL_INVOICES
--DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'FACT_VB_VIOL_INVOICES&VIOL_INVOICES'
--INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'FACT_VB_VIOL_INVOICES&VIOL_INVOICES', LAST_RUN_DATE = @VI_CONTROL_DATE

--SELECT @VBVI_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VB_INVOICE_VIOL
--DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'FACT_VB_VIOL_INVOICES&VB_INVOICE_VIOL'
--INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'FACT_VB_VIOL_INVOICES&VB_INVOICE_VIOL', LAST_RUN_DATE = @VBVI_CONTROL_DATE

--SELECT @VIVI_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VIOL_INVOICE_VIOL
--DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'FACT_VB_VIOL_INVOICES&VIOL_INVOICE_VIOL'
--INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'FACT_VB_VIOL_INVOICES&VIOL_INVOICE_VIOL', LAST_RUN_DATE = @VIVI_CONTROL_DATE






