CREATE PROC [DBO].[TOTAL_NET_REV_TFC_EVTS_LOAD] AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.TOTAL_NET_REV_TFC_EVTS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.TOTAL_NET_REV_TFC_EVTS_LOAD
GO

EXEC EDW_RITE.DBO.TOTAL_NET_REV_TFC_EVTS_LOAD
*/

/*	
SELECT TOP 100 * FROM TOTAL_NET_REV_TFC_EVTS; SELECT COUNT(1) FROM TOTAL_NET_REV_TFC_EVTS 
*/  
--#1	Shankar Metla	2018-09-08	CREATED
--#2	Andy Filipps	2018-10-02	Full rewrite for a new approach to avoid full month load

DECLARE @SOURCE VARCHAR(50), @START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT, @LOAD_CONTROL_DATE DATETIME2(2), @TART_CONTROL_DATE DATETIME2(2), @ATD_CONTROL_DATE DATETIME2(2) 
DECLARE @sql VARCHAR(MAX)

DECLARE @MAX_PN INT
DECLARE @MAX_BVAL DATETIME2(0)
DECLARE @Cur_Part INT

-- STEP 1: Get the next Load Control Date from the Control Table
SET @START_DATE = GETDATE()

SELECT	@TART_CONTROL_DATE = LAST_RUN_DATE FROM	EDW_RITE.dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = 'TOTAL_NET_REV_TFC_EVTS&TA_REV_TFC_EVTS'
IF @TART_CONTROL_DATE IS NULL 
BEGIN
	SELECT	@TART_CONTROL_DATE = ISNULL(MAX(LAST_UPDATE_DATE), '1990-01-01') FROM	dbo.TOTAL_NET_REV_TFC_EVTS
END

SELECT	@ATD_CONTROL_DATE = LAST_RUN_DATE FROM	EDW_RITE.dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = 'TOTAL_NET_REV_TFC_EVTS&AU_TXN_ADJ_DETAILS'
IF @ATD_CONTROL_DATE IS NULL 
BEGIN
	SELECT	@ATD_CONTROL_DATE = ISNULL(MAX(LAST_UPDATE_DATE), '1990-01-01') FROM	dbo.TOTAL_NET_REV_TFC_EVTS
END

SELECT @LOAD_CONTROL_DATE = CASE WHEN @TART_CONTROL_DATE > @ATD_CONTROL_DATE THEN @ATD_CONTROL_DATE ELSE @TART_CONTROL_DATE END

--SELECT	@LOAD_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM	dbo.TOTAL_NET_REV_TFC_EVTS
--IF @LOAD_CONTROL_DATE IS NULL 
--BEGIN
--	SET @LOAD_CONTROL_DATE = CAST('1990-01-01' AS DATETIME2(2)) 
--END

---- !!!!!!!!!!!!!!!!!!!!! TESTING ONLY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
--SET @LOAD_CONTROL_DATE = CAST('2018-09-01 00:00:00.00' AS DATETIME2(2)) 
---- !!!!!!!!!!!!!!!!!!!!! TESTING ONLY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

--PRINT @LOAD_CONTROL_DATE

-- STEP 2: Initiate LOG
SELECT  @SOURCE = 'TOTAL_NET_REV_TFC_EVTS_LOAD', @LOG_MESSAGE = 'Started to load updates from ' + CONVERT(VARCHAR(19),@LOAD_CONTROL_DATE,121)
EXEC    EDW_RITE.dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE,  NULL

-- STEP 3: Get maximum Partition and it's baundry value
SELECT
	@MAX_PN = MAX(p.[partition_number])			-- AS      [partition_number]
	,@MAX_BVAL = MAX(rv.[value])				-- AS      [partition_boundary_value]
FROM        sys.schemas s
JOIN        sys.tables t                    ON      t.[schema_id]         = s.[schema_id]
JOIN        sys.partitions p                ON      p.[object_id]         = t.[object_id]
JOIN        sys.indexes i                   ON      i.[object_id]         = p.[object_id]
											AND     i.[index_id]          = p.[index_id]
JOIN        sys.data_spaces ds              ON      ds.[data_space_id]    = i.[data_space_id]
LEFT JOIN   sys.partition_schemes ps        ON      ps.[data_space_id]    = ds.[data_space_id]
LEFT JOIN   sys.partition_functions pf      ON      pf.[function_id]      = ps.[function_id]
LEFT JOIN   sys.partition_range_values rv   ON      rv.[function_id]      = pf.[function_id]
											AND     rv.[boundary_id]      = p.[partition_number]
WHERE p.[index_id] <=1
	AND s.[name] = 'dbo'  
	AND t.[name] = 'TOTAL_NET_REV_TFC_EVTS'

DECLARE @LAST_DATE DATETIME2(0) = (SELECT MAX(StartDate) FROM EDW_RITE.dbo.PARTITION_DAY_ID_CONTROL WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION')
DECLARE @ROWS_IN_LAST_PARTITION BIGINT = (SELECT COUNT_BIG(*) FROM dbo.TOTAL_NET_REV_TFC_EVTS WHERE Local_Time >= @MAX_BVAL)

-- STEP 4: If last partition less then in PARTITION_DAY_ID_CONTROL and need spliting partition - have to empty it before
IF @MAX_BVAL <= @LAST_DATE AND @ROWS_IN_LAST_PARTITION > 0 
BEGIN
	IF OBJECT_ID('dbo.TOTAL_NET_REV_TFC_EVTS_TRUNCATE') IS NOT NULL 	DROP TABLE dbo.TOTAL_NET_REV_TFC_EVTS_TRUNCATE;	
	CREATE TABLE dbo.TOTAL_NET_REV_TFC_EVTS_TRUNCATE WITH    (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_TART_ID), PARTITION  (Local_Time RANGE RIGHT FOR VALUES ())) 	AS
	SELECT * 	FROM    dbo.TOTAL_NET_REV_TFC_EVTS	WHERE   1=2

	SET @sql = (SELECT 'ALTER TABLE dbo.TOTAL_NET_REV_TFC_EVTS SWITCH PARTITION '+CAST(@MAX_PN AS VARCHAR(3))+' TO dbo.TOTAL_NET_REV_TFC_EVTS_TRUNCATE PARTITION 1;');
	EXECUTE (@sql);

	IF OBJECT_ID('dbo.TOTAL_NET_REV_TFC_EVTS_TRUNCATE') IS NOT NULL 	DROP TABLE dbo.TOTAL_NET_REV_TFC_EVTS_TRUNCATE;	
END -- IF @MAX_BVAL <= @LAST_DATE AND @ROWS_IN_LAST_PARTITION > 0 

--STEP #5: -- Splitting last partition if needed
DECLARE @NewStartDate DATETIME2(0)
WHILE @MAX_BVAL <= @LAST_DATE
BEGIN
	-- ADD a new row to the control table 
	SET @NewStartDate = DateAdd(MONTH,1,@MAX_BVAL)
	
	-- And split the last partition - add new range
	SET @sql = (SELECT 'ALTER TABLE dbo.TOTAL_NET_REV_TFC_EVTS SPLIT RANGE ('+ CHAR(39) + CONVERT(VARCHAR(19), @NewStartDate, 121) + CHAR(39) + ');');
	EXECUTE (@sql);

	SET @MAX_BVAL = @NewStartDate
END -- WHILE @MAX_BVAL <= @LAST_DATE

--STEP #6:-- Calculate ranges from PARTITION_DAY_ID_CONTROL for whole table - result is string of all ranges

DECLARE @PART_RANGES VARCHAR(MAX) = ''
EXEC EDW_RITE.DBO.GET_PARTITION_RANGE_DATE_STRING 'FACT_UNIFIED_VIOLATION', @PART_RANGES OUTPUT
--PRINT  @PART_RANGES


IF OBJECT_ID('dbo.TOTAL_NET_REV_TFC_EVTS_NEW_SET') IS NOT NULL DROP TABLE dbo.TOTAL_NET_REV_TFC_EVTS_NEW_SET
IF OBJECT_ID('dbo.TOTAL_NET_REV_TFC_EVTS_STAGE') IS NOT NULL DROP TABLE dbo.TOTAL_NET_REV_TFC_EVTS_STAGE
IF OBJECT_ID('tempdb..#PartitionDates') IS NOT NULL DROP TABLE #PartitionDates

--STEP #7: -- Getting all changes to a new table
CREATE TABLE dbo.TOTAL_NET_REV_TFC_EVTS_NEW_SET WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(Local_Time)) AS
SELECT *
FROM (--EXPLAIN
	SELECT --TOP(10)                      
			0 ATD_ID,
            ISNULL (TART.OPNM_ID, -1) OPNM_OPNM_ID,
            ISNULL(TART.PMTY_ID, -1) PMTY_PMTY_ID,
            ISNULL(TART.VCLY_ID, -1) VCLY_VCLY_ID,
            TART.LANE_ID LANE_LANE_ID,
            TART.TART_ID TART_TART_ID,
            TART.DATE_TIME,
			CASE WHEN EXISTS (SELECT 1 FROM EDW_RITE.dbo.TIME_ZONE_OFFSET TZ WHERE TART.DATE_TIME BETWEEN TZ.DST_Start_Date AND TZ.DST_End_Date)
				THEN DATEADD(hh, -5, TART.DATE_TIME)
				ELSE DATEADD(hh, -6, TART.DATE_TIME)
			END AS Local_Time,
            TART.EARNED_REV EAR_REV,
            TART.EARNED_REV EXP_REV,
            TART.ACTUAL_REV ACT_REV,
            TCD.PRE_CLASS AVC_CLASS,
            TCD.ATT_CLASS IND_CLASS,
            TCD.REV_AXLE_CT,
            TCD.ATT_CLASS,
            TCD.FWD_AXLE_CT,
            TCD.EXIT_LOOP_CTS,
            TCD.ATT_FARE,
            TCD.PRE_CLASS,
            CASE WHEN ISNULL(TART.OPNM_ID, -1) = 3 
				THEN	CASE WHEN TCD.ATT_CLASS IS NULL OR TCD.ATT_CLASS = ISNULL(TART.VCLY_ID, -1) 
							THEN  0
							ELSE 1 
						END	
				ELSE 0 
			END MISCLASS_CT,
            0 SIGN_FLG,
            '' ADJ_STATUS,
            TART.TXID_ID TXID_ID,                 
            EE.VES_SERIAL_NO VES_SERIAL_NO,       
			EE.VES_DATE_TIME,
 			EE.VES_DATE_TIME_LOCAL,
			TART.TRANSACTION_FILE_DETAIL_ID,       
			CAST(BB.AVI_HANDSHAKE AS FLOAT) AVI_HANDSHAKE,
			BB.AVI_TAG_STATUS,
            EE.VEH_SPEED,
			CAST((CASE WHEN TART.LAST_UPDATE_TYPE = 'D' THEN 1 ELSE 0 END) AS BIT) AS DELETED,
			TART.LAST_UPDATE_DATE
        FROM EDW_RITE.dbo.TA_REV_TFC_EVTS TART
        LEFT JOIN EDW_RITE.dbo.TA_TXN_AVI_DATAS BB ON TART.TART_ID = BB.TART_ID
		LEFT JOIN EDW_RITE.dbo.TA_TXN_CLASS_DATAS TCD ON TART.TART_ID = TCD.TART_ID
		LEFT JOIN EDW_RITE.dbo.TA_TXN_RITE_DATAS EE  ON TART.TART_ID = EE.TART_TART_ID
		WHERE TART.PMTY_ID IS NOT NULL --)A
			AND TART.LAST_UPDATE_DATE > @TART_CONTROL_DATE
    UNION ALL --EXPLAIN
    SELECT ATD.ATD_ID,
            ATD.OPNM_OPNM_ID,
            ATD.PMTY_PMTY_ID,
            ATD.VCLY_VCLY_ID,
            ATD.LANE_LANE_ID,
            ATD.DUMMY_TART_ID,
            ATD.DATE_TIME,
			CASE WHEN EXISTS (SELECT 1 FROM EDW_RITE.dbo.TIME_ZONE_OFFSET TZ WHERE ATD.DATE_TIME BETWEEN TZ.DST_Start_Date AND TZ.DST_End_Date)
				THEN DATEADD(hh, -5, ATD.DATE_TIME)
				ELSE DATEADD(hh, -6, ATD.DATE_TIME)
			END AS Local_Time,
            CASE WHEN SIGN_FLG = -1 THEN 0 ELSE ATD.EAR_REV END EAR_REV,
            CASE WHEN SIGN_FLG = -1 THEN 0 ELSE ATD.EXP_REV END EXP_REV,
            0 ACT_REV,
            ATD.VCLY_VCLY_ID AVC_CLASS,
            ATD.VCLY_VCLY_ID IND_CLASS,
            ATD.REV_AXLE_CT,
            ATD.ATT_CLASS,
            ATD.FWD_AXLE_CT,
            ATD.EXIT_LOOP_CTS,
            ATD.ATT_FARE,
            ATD.PRE_CLASS,
            ATD.MISCLASS_CT,
            ATD.SIGN_FLG,
            '!' ADJ_STATUS,
            TART.TXID_ID TXID_ID,                
            EE.VES_SERIAL_NO,                    
			EE.VES_DATE_TIME,
 			EE.VES_DATE_TIME_LOCAL,
            TART.TRANSACTION_FILE_DETAIL_ID,      
			CAST(BB.AVI_HANDSHAKE AS FLOAT) AVI_HANDSHAKE,
			BB.AVI_TAG_STATUS,
            EE.VEH_SPEED,
			CAST((CASE WHEN ATD.LAST_UPDATE_TYPE = 'D' THEN 1 ELSE 0 END) AS BIT) AS DELETED,
			TART.LAST_UPDATE_DATE-- SELECT TOP(100) * 
        FROM EDW_RITE.dbo.AU_TXN_ADJ_DETAILS ATD
        LEFT JOIN EDW_RITE.dbo.TA_TXN_AVI_DATAS BB ON ATD.TART_TART_ID = BB.TART_ID
        LEFT JOIN EDW_RITE.dbo.TA_TXN_RITE_DATAS EE ON ATD.TART_TART_ID = EE.TART_TART_ID
        LEFT JOIN EDW_RITE.dbo.TA_REV_TFC_EVTS TART ON ATD.TART_TART_ID = TART.TART_ID
		WHERE TART.LAST_UPDATE_DATE > @ATD_CONTROL_DATE
		) A
WHERE PMTY_PMTY_ID <> -1
OPTION (LABEL = 'TOTAL_NET_REV_TFC_EVTS LOAD');

-- Statistics needed for performance
CREATE STATISTICS STATS_TOTAL_NET_REV_TFC_EVTS_TEMP_001 ON dbo.TOTAL_NET_REV_TFC_EVTS_NEW_SET ([TART_TART_ID])
--CREATE STATISTICS STATS_TOTAL_NET_REV_TFC_EVTS_TEMP_002 ON dbo.TOTAL_NET_REV_TFC_EVTS_NEW_SET (Local_Time)

-- Logging
EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = 'Got all changed rows:'
EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE, @ROW_COUNT


--STEP #8: -- Creating a temp table of all partitions we found in changes. We use this table in all loops below
SELECT 
	INNERQUERY.DAY_ID
	,INNERQUERY.PARTITION_NUM
	,INNERQUERY.END_DAY_ID
	,Row_Number() OVER (ORDER BY INNERQUERY.PARTITION_NUM) AS INDICAT
INTO #PartitionDates
FROM (SELECT 
	PDC.DAY_ID
	,PDC.PARTITION_NUM
	,PDC.END_DAY_ID
FROM dbo.TOTAL_NET_REV_TFC_EVTS_NEW_SET AS FN 
INNER JOIN EDW_RITE.dbo.PARTITION_DAY_ID_CONTROL AS PDC
	ON FN.Local_Time BETWEEN PDC.StartDate AND DATEADD(SECOND, -1, DATEADD(DAY, 1, CAST(PDC.EndDate AS DATETIME2(0)))) AND PDC.TABLE_NAME = 'FACT_UNIFIED_VIOLATION'
GROUP BY 
	PDC.DAY_ID
	,PDC.PARTITION_NUM
	,PDC.END_DAY_ID) AS INNERQUERY

-- Logging
EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = 'Complete #PartitionDates Table'
EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE, @ROW_COUNT
	
--STEP #8: -- Calculate period ranges from #PartitionDates to use index on DAY_ID in a query below. And create a query for each period and UNION ALL them all.
DECLARE @PERIOD_RANGES VARCHAR(MAX) = '' 
DECLARE @Temp_PER VARCHAR(MAX)
DECLARE @NUM_IND INT = (SELECT MAX(INDICAT) FROM #PartitionDates)
DECLARE @CUR_IND INT = 1
DECLARE @PART_ROLL TINYINT
DECLARE @TO_DAY INT, @TO_DAY_ROLL INT, @FROM_DAY INT, @FROM_DAY_ROLL INT

-- This variable is a part of repeatable query
DECLARE @SQL_MQT VARCHAR(MAX) = '
SELECT	ATD_ID,OPNM_OPNM_ID,PMTY_PMTY_ID,VCLY_VCLY_ID,LANE_LANE_ID,TART_TART_ID,DATE_TIME,Local_Time,EAR_REV,EXP_REV,ACT_REV,AVC_CLASS,IND_CLASS,REV_AXLE_CT,ATT_CLASS,FWD_AXLE_CT,EXIT_LOOP_CTS,ATT_FARE,
		PRE_CLASS,MISCLASS_CT,SIGN_FLG,ADJ_STATUS,TXID_ID,VES_SERIAL_NO,VES_DATE_TIME,VES_DATE_TIME_LOCAL,TRANSACTION_FILE_DETAIL_ID,AVI_HANDSHAKE,AVI_TAG_STATUS,VEH_SPEED,DELETED,LAST_UPDATE_DATE
FROM dbo.TOTAL_NET_REV_TFC_EVTS AS F WHERE NOT EXISTS (SELECT 1 FROM dbo.TOTAL_NET_REV_TFC_EVTS_NEW_SET AS NSET WHERE NSET.TART_TART_ID = F.TART_TART_ID)
	AND '

-- First not in the loop without any comma
SELECT @Cur_Part = PARTITION_NUM, @PART_ROLL = PARTITION_NUM, @FROM_DAY = DAY_ID, @FROM_DAY_ROLL = DAY_ID, @TO_DAY = END_DAY_ID, @TO_DAY_ROLL = END_DAY_ID FROM #PartitionDates WHERE INDICAT = @CUR_IND

-- This approach allow us to merge all close periods to one subquery - should work faster for last several months than to run separate query for each month 
WHILE (@CUR_IND < @NUM_IND) BEGIN
	SET @CUR_IND += 1 -- The first period is already here - start from 2-nd and till the end
	-- Initiate all roll variables
	SELECT @Cur_Part = PD.PARTITION_NUM, @FROM_DAY_ROLL = PD.DAY_ID, @TO_DAY_ROLL = PD.END_DAY_ID  FROM #PartitionDates AS PD WHERE PD.INDICAT = @CUR_IND

	-- If they go one by one without a gap - merge 'em all!
	IF (@PART_ROLL + 1) <> @Cur_Part -- If not - create a new part of query and start a new period...
	BEGIN
		SET @Temp_PER = '(Local_Time BETWEEN ' + CHAR(39) + CAST(@FROM_DAY AS VARCHAR(8)) + ' 00:00:00' + CHAR(39) + '  AND ' + CHAR(39) + CAST(@TO_DAY AS VARCHAR(8))  + ' 23:59:59' + CHAR(39) + ')'
		SET @PERIOD_RANGES = @PERIOD_RANGES + @SQL_MQT + @Temp_PER + ' 
		UNION ALL
		'
		SET @FROM_DAY = @FROM_DAY_ROLL
	END
	SET @TO_DAY = @TO_DAY_ROLL
	SET @PART_ROLL = @Cur_Part

END;

-- Last period still not in a query - let's add it!
--SET @Temp_PER = '(DAY_ID BETWEEN ' + CAST(@FROM_DAY AS VARCHAR(8)) + ' AND ' + CAST(@TO_DAY AS VARCHAR(8)) + ')'
SET @Temp_PER = '(Local_Time BETWEEN ' + CHAR(39) + CAST(@FROM_DAY AS VARCHAR(8)) + ' 00:00:00' + CHAR(39) + '  AND ' + CHAR(39) + CAST(@TO_DAY AS VARCHAR(8))  + ' 23:59:59' + CHAR(39) + ')'
SET @PERIOD_RANGES = @PERIOD_RANGES + @SQL_MQT + @Temp_PER

-- And in the end - create a full query!
SET @sql = '
CREATE TABLE dbo.TOTAL_NET_REV_TFC_EVTS_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_TART_ID), PARTITION  (Local_Time RANGE RIGHT FOR VALUES ('+@PART_RANGES+'))) AS 
 ' + @PERIOD_RANGES + '
UNION ALL
SELECT	ATD_ID,OPNM_OPNM_ID,PMTY_PMTY_ID,VCLY_VCLY_ID,LANE_LANE_ID,TART_TART_ID,DATE_TIME,Local_Time,EAR_REV,EXP_REV,ACT_REV,AVC_CLASS,IND_CLASS,REV_AXLE_CT,ATT_CLASS,FWD_AXLE_CT,EXIT_LOOP_CTS,ATT_FARE,
		PRE_CLASS,MISCLASS_CT,SIGN_FLG,ADJ_STATUS,TXID_ID,VES_SERIAL_NO,VES_DATE_TIME,VES_DATE_TIME_LOCAL,TRANSACTION_FILE_DETAIL_ID,AVI_HANDSHAKE,AVI_TAG_STATUS,VEH_SPEED,DELETED,LAST_UPDATE_DATE
FROM dbo.TOTAL_NET_REV_TFC_EVTS_NEW_SET'

--SELECT @sql
-- SHOULD BE SOMETHING LIKE THIS:
/*
  CREATE TABLE dbo.TOTAL_NET_REV_TFC_EVTS_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_TART_ID), PARTITION  (Local_Time RANGE RIGHT FOR VALUES ('2001-01-01','2002-01-01','2003-01-01','2004-01-01','2005-01-01',
  '2006-01-01','2007-01-01','2008-01-01','2009-01-01','2010-01-01','2011-01-01','2012-01-01','2013-01-01','2014-01-01','2015-01-01','2015-02-01','2015-03-01','2015-04-01','2015-05-01','2015-06-01','2015-07-01','2015-08-01','2015-09-01',
  '2015-10-01','2015-11-01','2015-12-01','2016-01-01','2016-02-01','2016-03-01','2016-04-01','2016-05-01','2016-06-01','2016-07-01','2016-08-01','2016-09-01','2016-10-01','2016-11-01','2016-12-01','2017-01-01','2017-02-01','2017-03-01',
  '2017-04-01','2017-05-01','2017-06-01','2017-07-01','2017-08-01','2017-09-01','2017-10-01','2017-11-01','2017-12-01','2018-01-01','2018-02-01','2018-03-01','2018-04-01','2018-05-01','2018-06-01','2018-07-01','2018-08-01','2018-09-01',
  '2018-10-01','2018-11-01'))) AS    
  SELECT ATD_ID,OPNM_OPNM_ID,PMTY_PMTY_ID,VCLY_VCLY_ID,LANE_LANE_ID,TART_TART_ID,DATE_TIME,Local_Time,EAR_REV,EXP_REV,ACT_REV,AVC_CLASS,IND_CLASS,REV_AXLE_CT,ATT_CLASS,FWD_AXLE_CT,EXIT_LOOP_CTS
		,ATT_FARE,PRE_CLASS,MISCLASS_CT,SIGN_FLG,ADJ_STATUS,TXID_ID,VES_SERIAL_NO,VES_DATE_TIME,TRANSACTION_FILE_DETAIL_ID,AVI_HANDSHAKE,AVI_TAG_STATUS,VEH_SPEED,LAST_UPDATE_DATE  
  FROM dbo.TOTAL_NET_REV_TFC_EVTS AS F WHERE NOT EXISTS (SELECT 1 FROM dbo.TOTAL_NET_REV_TFC_EVTS_NEW_SET AS NSET WHERE NSET.TART_TART_ID = F.TART_TART_ID)   AND (Local_Time BETWEEN '20180301 00:00:00' AND '20180331 23:59:59')     
  UNION ALL
  SELECT ATD_ID,OPNM_OPNM_ID,PMTY_PMTY_ID,VCLY_VCLY_ID,LANE_LANE_ID,TART_TART_ID,DATE_TIME,Local_Time,EAR_REV,EXP_REV,ACT_REV,AVC_CLASS,IND_CLASS,REV_AXLE_CT,ATT_CLASS,FWD_AXLE_CT,EXIT_LOOP_CTS
		,ATT_FARE,PRE_CLASS,MISCLASS_CT,SIGN_FLG,ADJ_STATUS,TXID_ID,VES_SERIAL_NO,VES_DATE_TIME,TRANSACTION_FILE_DETAIL_ID,AVI_HANDSHAKE,AVI_TAG_STATUS,VEH_SPEED,LAST_UPDATE_DATE  
  FROM dbo.TOTAL_NET_REV_TFC_EVTS AS F WHERE NOT EXISTS (SELECT 1 FROM dbo.TOTAL_NET_REV_TFC_EVTS_NEW_SET AS NSET WHERE NSET.TART_TART_ID = F.TART_TART_ID)   AND (Local_Time BETWEEN '20180701 00:00:00' AND '20180930 23:59:59')  
  UNION ALL  
  SELECT ATD_ID,OPNM_OPNM_ID,PMTY_PMTY_ID,VCLY_VCLY_ID,LANE_LANE_ID,TART_TART_ID,DATE_TIME,Local_Time,EAR_REV,EXP_REV,ACT_REV,AVC_CLASS,IND_CLASS,REV_AXLE_CT,ATT_CLASS,FWD_AXLE_CT,EXIT_LOOP_CTS
		,ATT_FARE,PRE_CLASS,MISCLASS_CT,SIGN_FLG,ADJ_STATUS,TXID_ID,VES_SERIAL_NO,VES_DATE_TIME,TRANSACTION_FILE_DETAIL_ID,AVI_HANDSHAKE,AVI_TAG_STATUS,VEH_SPEED,LAST_UPDATE_DATE  
  FROM dbo.TOTAL_NET_REV_TFC_EVTS_NEW_SET
*/

--STEP #9: Run a big query to copy all the data to a stage table - new al not changed for all this periods.
EXECUTE (@sql); 

-- Logging
EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = 'Stage table created with all cganges of all periods'
EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE, @ROW_COUNT

SET @CUR_IND = 1
--STEP #10: Switch all changed partitions from Stage to Fact.

IF OBJECT_ID('dbo.TOTAL_NET_REV_TFC_EVTS_TRUNCATE') IS NOT NULL DROP TABLE dbo.TOTAL_NET_REV_TFC_EVTS_TRUNCATE;

SET @sql =' 	
CREATE TABLE dbo.TOTAL_NET_REV_TFC_EVTS_TRUNCATE 	WITH    (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_TART_ID), PARTITION  (Local_Time RANGE RIGHT FOR VALUES ('+@PART_RANGES+')))		AS
SELECT * FROM    dbo.TOTAL_NET_REV_TFC_EVTS  	WHERE   1=2'
EXECUTE (@sql);

WHILE (@CUR_IND <= @NUM_IND) BEGIN
	
	SELECT @Cur_Part = PARTITION_NUM FROM #PartitionDates WHERE INDICAT = @CUR_IND

	SET @sql = '
	ALTER TABLE dbo.TOTAL_NET_REV_TFC_EVTS SWITCH PARTITION ' + CAST(@Cur_Part AS VARCHAR(3)) + ' TO dbo.TOTAL_NET_REV_TFC_EVTS_TRUNCATE PARTITION ' + CAST(@Cur_Part AS VARCHAR(3)) + ';
	ALTER TABLE dbo.TOTAL_NET_REV_TFC_EVTS_STAGE SWITCH PARTITION ' + CAST(@Cur_Part AS VARCHAR(3)) + ' TO dbo.TOTAL_NET_REV_TFC_EVTS PARTITION ' + CAST(@Cur_Part AS VARCHAR(3)) + ';'
	EXECUTE (@sql);

	SET @CUR_IND += 1
END;


-- Logging
EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT -- Rows counted upper 
SET  @LOG_MESSAGE = 'FACT table updated. Update control flags setted up.'
EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @START_DATE, @LOG_MESSAGE, @ROW_COUNT

--STEP #12: -- Set a new update date to LOAD_PROCESS_CONTROL table for the next load
--UPDATE EDW_RITE.dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @START_DATE WHERE TABLE_NAME = 'TOTAL_NET_REV_TFC_EVTS'

SELECT @TART_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  EDW_RITE.dbo.TA_REV_TFC_EVTS
UPDATE EDW_RITE.dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @TART_CONTROL_DATE WHERE TABLE_NAME = 'TOTAL_NET_REV_TFC_EVTS&TA_REV_TFC_EVTS'

SELECT @ATD_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  EDW_RITE.dbo.AU_TXN_ADJ_DETAILS
UPDATE EDW_RITE.dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @ATD_CONTROL_DATE WHERE TABLE_NAME = 'TOTAL_NET_REV_TFC_EVTS&AU_TXN_ADJ_DETAILS'

--STEP #13: UPDATE STATISTICS and delete temp tables
UPDATE STATISTICS dbo.TOTAL_NET_REV_TFC_EVTS  

/*
SELECT	ATD_ID,OPNM_OPNM_ID,PMTY_PMTY_ID,VCLY_VCLY_ID,LANE_LANE_ID,TART_TART_ID,DATE_TIME,Local_Time,EAR_REV,EXP_REV,ACT_REV,AVC_CLASS,IND_CLASS,REV_AXLE_CT,ATT_CLASS,FWD_AXLE_CT,EXIT_LOOP_CTS,ATT_FARE,
		PRE_CLASS,MISCLASS_CT,SIGN_FLG,ADJ_STATUS,TXID_ID,VES_SERIAL_NO,VES_DATE_TIME,VES_DATE_TIME_LOCAL,TRANSACTION_FILE_DETAIL_ID,AVI_HANDSHAKE,AVI_TAG_STATUS,VEH_SPEED,DELETED,LAST_UPDATE_DATE

CREATE STATISTICS STATS_TOTAL_NET_REV_TFC_EVTS_001 ON TOTAL_NET_REV_TFC_EVTS (TART_TART_ID)
CREATE STATISTICS STATS_TOTAL_NET_REV_TFC_EVTS_002 ON TOTAL_NET_REV_TFC_EVTS (Local_Time)
CREATE STATISTICS STATS_TOTAL_NET_REV_TFC_EVTS_003 ON TOTAL_NET_REV_TFC_EVTS (LANE_LANE_ID)
CREATE STATISTICS STATS_TOTAL_NET_REV_TFC_EVTS_004 ON TOTAL_NET_REV_TFC_EVTS (TRANSACTION_FILE_DETAIL_ID)
CREATE STATISTICS STATS_TOTAL_NET_REV_TFC_EVTS_005 ON TOTAL_NET_REV_TFC_EVTS (VES_SERIAL_NO)
CREATE STATISTICS STATS_TOTAL_NET_REV_TFC_EVTS_006 ON TOTAL_NET_REV_TFC_EVTS (VES_DATE_TIME_LOCAL)
CREATE STATISTICS STATS_TOTAL_NET_REV_TFC_EVTS_007 ON TOTAL_NET_REV_TFC_EVTS (LAST_UPDATE_DATE)

*/


IF OBJECT_ID('dbo.TOTAL_NET_REV_TFC_EVTS_TRUNCATE') IS NOT NULL DROP TABLE dbo.TOTAL_NET_REV_TFC_EVTS_TRUNCATE;
IF OBJECT_ID('dbo.TOTAL_NET_REV_TFC_EVTS_NEW_SET') IS NOT NULL DROP TABLE dbo.TOTAL_NET_REV_TFC_EVTS_NEW_SET
IF OBJECT_ID('dbo.TOTAL_NET_REV_TFC_EVTS_STAGE') IS NOT NULL DROP TABLE dbo.TOTAL_NET_REV_TFC_EVTS_STAGE
IF OBJECT_ID('tempdb..#PartitionDates') IS NOT NULL DROP TABLE #PartitionDates


