CREATE PROC [DBO].[TA_REV_TFC_EVTS_LOAD] AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.TA_REV_TFC_EVTS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.TA_REV_TFC_EVTS_LOAD
GO

EXEC EDW_RITE.DBO.TA_REV_TFC_EVTS_LOAD

SELECT TOP 20 * FROM dbo.TA_REV_TFC_EVTS
SELECT COUNT_BIG(1) CNT, MIN(TART_TART_ID) TART_TART_ID FROM EDW_RITE.dbo.TOTAL_NET_REV_TFC_EVTS WHERE Local_Time >= '20180401'
SELECT COUNT_BIG(1) FROM dbo.TA_REV_TFC_EVTS WHERE TART_ID > = 14375321494 -- 970 896 713
SELECT COUNT_BIG(1) FROM LND_LG_HOST.TXNOWNER.TA_REV_TFC_EVTS WHERE TART_ID > = 14375321494  --974656064

*/

BEGIN
	DECLARE @TABLE_NAME VARCHAR(50) = 'TA_REV_TFC_EVTS'
	DECLARE @START_DATE DATETIME2 (2),@LOG_MESSAGE VARCHAR(1000),@ROW_COUNT BIGINT
	DECLARE @UPDATE_DATE datetime 

	SET @START_DATE = GETDATE()
	--STEP #1: SET PARAMETER DATE
	
	IF OBJECT_ID('dbo.TA_REV_TFC_EVTS') IS NULL 
	BEGIN
		SET @UPDATE_DATE ='1900-01-01' 
	END
	ELSE
	BEGIN
		SET @UPDATE_DATE = (SELECT MAX(LAST_UPDATE_DATE) LAST_UPDATE_DATE FROM dbo.TA_REV_TFC_EVTS)
	END
	----PRINT @UPDATE_DATE
	SELECT  @LOG_MESSAGE = 'Started to load updates from ' + CONVERT(VARCHAR(19),@UPDATE_DATE,121)
	EXEC    EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE,  NULL
	
	IF OBJECT_ID('dbo.TA_REV_TFC_EVTS_NEW_SET') > 0  DROP TABLE dbo.TA_REV_TFC_EVTS_NEW_SET

	--STEP #2: Create the NEW table with DISTRIBUTION = HASH([TART_ID]--Stage Table
	CREATE TABLE dbo.TA_REV_TFC_EVTS_NEW_SET WITH (HEAP, DISTRIBUTION = HASH(TART_ID))
	AS 
	SELECT 
		CAST(ROUND(TART_ID / 500000000, 0) * 500000000 AS BIGINT)  AS PARTITION_VALUES,TXN_ID, DATE_TIME, EARNED_REV, ACTUAL_REV, ACTUAL_AXLES, CREATION_DATE, TART_ID,OPNM_ID, 
		TAOC_ID, FACS_ID, PLAZ_ID, LANE_ID, TAOB_ID, TXID_ID, PMTY_ID, VCLY_ID, TAUO_ID,EARNED_AXLES, TRANSACTION_FILE_DETAIL_ID, LAST_UPDATE_DATE, LAST_UPDATE_TYPE
    FROM  LND_LG_HOST.TXNOWNER.TA_REV_TFC_EVTS
	WHERE LAST_UPDATE_DATE > @UPDATE_DATE 
	--WHERE TART_ID > = 15000000000

	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got all changed rows:'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE, @ROW_COUNT

	CREATE STATISTICS STATS_TA_REV_TFC_EVTS_NEW_001 ON TA_REV_TFC_EVTS_NEW_SET (TART_ID)

	DECLARE @IDENTITY_COLUMNS VARCHAR(8000) = '[TART_ID]'

	EXEC DBO.PARTITION_SWITCH_NUMBER_BASED_LOAD @TABLE_NAME, @IDENTITY_COLUMNS

	UPDATE STATISTICS dbo.TA_REV_TFC_EVTS

	IF OBJECT_ID('dbo.TA_REV_TFC_EVTS_NEW_SET') > 0  DROP TABLE dbo.TA_REV_TFC_EVTS_NEW_SET

	SET  @LOG_MESSAGE = 'Load finished'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE, NULL


END

/*

	CREATE TABLE EDW_RITE.dbo.TA_REV_TFC_EVTS_STAGE 
	WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_ID), PARTITION (PARTITION_VALUES RANGE RIGHT FOR VALUES 
			(500000000,1000000000,1500000000,2000000000,2500000000,3000000000,3500000000,4000000000,4500000000,5000000000,5500000000,6000000000,6500000000,7000000000,7500000000,8000000000,8500000000,9000000000,9500000000,10000000000,
			10500000000,11000000000,11500000000,12000000000,12500000000,13000000000,13500000000,14000000000,14500000000,15000000000,15500000000,16000000000,16500000000,17000000000,17500000000,18000000000,18500000000,19000000000,19500000000,20000000000,
			20500000000,21000000000,21500000000,22000000000,22500000000,23000000000,23500000000,24000000000,24500000000,25000000000,25500000000,26000000000,26500000000,27000000000,27500000000,28000000000,28500000000,29000000000,29500000000,30000000000,
			30500000000,31000000000,31500000000,32000000000,32500000000,33000000000,33500000000,34000000000,34500000000,35000000000,35500000000,36000000000,36500000000,37000000000,37500000000,38000000000,38500000000,39000000000,39500000000,40000000000,
			40500000000,41000000000,41500000000,42000000000,42500000000,43000000000,43500000000,44000000000,44500000000,45000000000,45500000000,46000000000,46500000000,47000000000,47500000000,48000000000,48500000000,49000000000,49500000000,50000000000)
		)) AS
	SELECT 
		CAST(ROUND(TART_ID / 500000000, 0) * 500000000 AS BIGINT)  AS PARTITION_VALUES, 
		TXN_ID,DATE_TIME,EARNED_REV,ACTUAL_REV,ACTUAL_AXLES,CREATION_DATE,TART_ID,OPNM_ID,TAOC_ID,FACS_ID,PLAZ_ID,
		LANE_ID,TAOB_ID,TXID_ID,PMTY_ID,VCLY_ID,TAUO_ID,EARNED_AXLES,TRANSACTION_FILE_DETAIL_ID,LAST_UPDATE_DATE,LAST_UPDATE_TYPE
    FROM  EDW_RITE.dbo.TA_REV_TFC_EVTS

	CREATE STATISTICS STATS_TA_REV_TFC_EVTS_001 ON EDW_RITE.dbo.TA_REV_TFC_EVTS_STAGE ( TART_ID);
	CREATE STATISTICS STATS_TA_REV_TFC_EVTS_002 ON EDW_RITE.dbo.TA_REV_TFC_EVTS_STAGE ( LAST_UPDATE_DATE);

	IF OBJECT_ID('EDW_RITE.dbo.TA_REV_TFC_EVTS_OLD') IS NOT NULL DROP TABLE dbo.TA_REV_TFC_EVTS_OLD
	IF OBJECT_ID('EDW_RITE.dbo.TA_REV_TFC_EVTS') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.TA_REV_TFC_EVTS TO TA_REV_TFC_EVTS_OLD;
	IF OBJECT_ID('EDW_RITE.dbo.TA_REV_TFC_EVTS_STAGE') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.TA_REV_TFC_EVTS_STAGE TO TA_REV_TFC_EVTS;

*/

/*
BEGIN

	--STEP #1: SET PARAMETER DATE
	DECLARE @UPDATE_DATE datetime 
	
	IF OBJECT_ID('dbo.TA_REV_TFC_EVTS') IS NULL 
	BEGIN
	SET @UPDATE_DATE ='1900-01-01' 
	END

	ELSE
	BEGIN
	SET @UPDATE_DATE =(SELECT MAX(LAST_UPDATE_DATE) LAST_UPDATE_DATE FROM dbo.TA_REV_TFC_EVTS)
	END
	--PRINT @UPDATE_DATE

	IF OBJECT_ID('dbo.TA_REV_TFC_EVTS_NEW') > 0  DROP TABLE dbo.TA_REV_TFC_EVTS_NEW


	--STEP #2: Create the NEW table with DISTRIBUTION = HASH([TART_ID]--Stage Table
	CREATE TABLE dbo.[TA_REV_TFC_EVTS_NEW] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TART_ID]))
	AS 
	SELECT *
     FROM  LND_LG_HOST.TXNOWNER.TA_REV_TFC_EVTS
	 WHERE LND_LG_HOST.TXNOWNER.TA_REV_TFC_EVTS.LAST_UPDATE_DATE > @UPDATE_DATE 

	CREATE STATISTICS STATS_TA_REV_TFC_EVTS_NEW_001 ON TA_REV_TFC_EVTS_NEW ([TART_ID])

	   --select * from dbo.TA_REV_TFC_EVTS_NEW


	--STEP #2a: INSERT MISSING ONES
	--create table structure
	IF OBJECT_ID('dbo.TA_REV_TFC_EVTS') IS NULL
	BEGIN		
		CREATE TABLE dbo.[TA_REV_TFC_EVTS] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TART_ID]))
		AS 
		SELECT *
		FROM dbo.TA_REV_TFC_EVTS_NEW where 1=2
		CREATE STATISTICS STATS_TA_REV_TFC_EVTS_001 ON TA_REV_TFC_EVTS ([TART_ID])
	END

	--insert values
    INSERT INTO dbo.[TA_REV_TFC_EVTS]

	SELECT 
	  A.TXN_ID, A.DATE_TIME, A.EARNED_REV, A.ACTUAL_REV, A.ACTUAL_AXLES, A.CREATION_DATE, A.TART_ID,A.OPNM_ID, 
	  A.TAOC_ID, A.FACS_ID, A.PLAZ_ID, A.LANE_ID, A.TAOB_ID, A.TXID_ID, A.PMTY_ID, A.VCLY_ID, A.TAUO_ID, 
	  A.EARNED_AXLES, A.TRANSACTION_FILE_DETAIL_ID, A.LAST_UPDATE_DATE, A.LAST_UPDATE_TYPE

    FROM  dbo.TA_REV_TFC_EVTS_NEW A
    LEFT JOIN  dbo.[TA_REV_TFC_EVTS] B ON A.TART_ID = B.TART_ID
    WHERE B.TART_ID IS NULL;

	--STEP #2b: UPDATE THE CHANGED ONES
	UPDATE dbo.[TA_REV_TFC_EVTS] 

	SET

  dbo.TA_REV_TFC_EVTS.TXN_ID = B.TXN_ID
, dbo.TA_REV_TFC_EVTS.DATE_TIME = B.DATE_TIME
, dbo.TA_REV_TFC_EVTS.EARNED_REV = B.EARNED_REV
, dbo.TA_REV_TFC_EVTS.ACTUAL_REV = B.ACTUAL_REV
, dbo.TA_REV_TFC_EVTS.ACTUAL_AXLES = B.ACTUAL_AXLES
, dbo.TA_REV_TFC_EVTS.CREATION_DATE = B.CREATION_DATE
, dbo.TA_REV_TFC_EVTS.OPNM_ID = B.OPNM_ID
, dbo.TA_REV_TFC_EVTS.TAOC_ID = B.TAOC_ID
, dbo.TA_REV_TFC_EVTS.FACS_ID = B.FACS_ID
, dbo.TA_REV_TFC_EVTS.PLAZ_ID = B.PLAZ_ID
, dbo.TA_REV_TFC_EVTS.LANE_ID = B.LANE_ID
, dbo.TA_REV_TFC_EVTS.TAOB_ID = B.TAOB_ID
, dbo.TA_REV_TFC_EVTS.TXID_ID = B.TXID_ID
, dbo.TA_REV_TFC_EVTS.PMTY_ID = B.PMTY_ID
, dbo.TA_REV_TFC_EVTS.VCLY_ID = B.VCLY_ID
, dbo.TA_REV_TFC_EVTS.TAUO_ID = B.TAUO_ID
, dbo.TA_REV_TFC_EVTS.EARNED_AXLES = B.EARNED_AXLES
, dbo.TA_REV_TFC_EVTS.TRANSACTION_FILE_DETAIL_ID = B.TRANSACTION_FILE_DETAIL_ID
, dbo.TA_REV_TFC_EVTS.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
, dbo.TA_REV_TFC_EVTS.LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE


	FROM dbo.TA_REV_TFC_EVTS_NEW B
	WHERE dbo.[TA_REV_TFC_EVTS].TART_ID=B.TART_ID
	AND B.LAST_UPDATE_DATE>@UPDATE_DATE
	AND checksum(  dbo.TA_REV_TFC_EVTS.TXN_ID, dbo.TA_REV_TFC_EVTS.DATE_TIME, dbo.TA_REV_TFC_EVTS.EARNED_REV, dbo.TA_REV_TFC_EVTS.ACTUAL_REV, dbo.TA_REV_TFC_EVTS.ACTUAL_AXLES, dbo.TA_REV_TFC_EVTS.CREATION_DATE, dbo.TA_REV_TFC_EVTS.TART_ID, dbo.TA_REV_TFC_EVTS.OPNM_ID, dbo.TA_REV_TFC_EVTS.TAOC_ID, dbo.TA_REV_TFC_EVTS.FACS_ID, dbo.TA_REV_TFC_EVTS.PLAZ_ID, dbo.TA_REV_TFC_EVTS.LANE_ID, dbo.TA_REV_TFC_EVTS.TAOB_ID, dbo.TA_REV_TFC_EVTS.TXID_ID, dbo.TA_REV_TFC_EVTS.PMTY_ID, dbo.TA_REV_TFC_EVTS.VCLY_ID, dbo.TA_REV_TFC_EVTS.TAUO_ID, dbo.TA_REV_TFC_EVTS.EARNED_AXLES, dbo.TA_REV_TFC_EVTS.TRANSACTION_FILE_DETAIL_ID, dbo.TA_REV_TFC_EVTS.LAST_UPDATE_DATE, dbo.TA_REV_TFC_EVTS.LAST_UPDATE_TYPE)
	<>
	checksum( B.TXN_ID, B.DATE_TIME, B.EARNED_REV, B.ACTUAL_REV, B.ACTUAL_AXLES, B.CREATION_DATE, B.TART_ID, B.OPNM_ID, B.TAOC_ID, B.FACS_ID, B.PLAZ_ID, B.LANE_ID, B.TAOB_ID, B.TXID_ID, B.PMTY_ID, B.VCLY_ID, B.TAUO_ID, B.EARNED_AXLES, B.TRANSACTION_FILE_DETAIL_ID, B.LAST_UPDATE_DATE, B.LAST_UPDATE_TYPE)


--STEP #3: UPDATE STATISTICS
	UPDATE STATISTICS dbo.[TA_REV_TFC_EVTS]
	IF OBJECT_ID('dbo.TA_REV_TFC_EVTS_NEW')>0  DROP TABLE dbo.TA_REV_TFC_EVTS_NEW

--STEP #4: Total Records
--SELECT COUNT_BIG(1) FROM LND_LG_HOST.TXNOWNER.TA_REV_TFC_EVTS; 
END
*/
