CREATE PROC [DBO].[FACT_INVOICE_VIOL_INV_NO_VB_INV_STAGE_LOAD] AS 

IF OBJECT_ID('dbo.FACT_INVOICE_VIOL_INV_NO_VB_INV_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_VIOL_INV_NO_VB_INV_STAGE


IF OBJECT_ID('dbo.FACT_INVOICE_VIOL_INV_NO_VB_INV_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_VIOL_INV_NO_VB_INV_STAGE

CREATE TABLE dbo.FACT_INVOICE_VIOL_INV_NO_VB_INV_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))--, CLUSTERED INDEX (VIOLATOR_ID, VIOLATION_ID)) 
AS 
	SELECT VI.VIOLATOR_ID, VI.VIOL_INVOICE_ID
	FROM dbo.viol_invoices vi 
	LEFT JOIN dbo.vb_viol_invoices vbvi ON VI.VIOLATOR_ID = VBVI.VIOLATOR_ID AND VI.VIOL_INVOICE_ID = VBVI.INV_VIOL_INVOICE_ID 
	WHERE  VBVI.VIOLATOR_ID IS NULL AND VBVI.INV_VIOL_INVOICE_ID IS NULL

 ------CreateStats 'FACT_INVOICE_VIOL_INV_NO_VB_INV_STAGE'
exec DropStats 'dbo','FACT_INVOICE_VIOL_INV_NO_VB_INV_STAGE'
CREATE STATISTICS STATS_FACT_INVOICE_VIOL_INV_NO_VB_INV_STAGE_001 ON [dbo].FACT_INVOICE_VIOL_INV_NO_VB_INV_STAGE (VIOLATOR_ID, VIOL_INVOICE_ID)


