CREATE PROC [DBO].[CLOSE_OUT_TYPES_LOAD] AS 

/*
   GetFields 'dbo','CLOSE_OUT_TYPES'
   CLOSE_OUT_TYPE, CLOSE_OUT_TYPE_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE

   SELECT * FROM CLOSE_OUT_TYPES

*/
DECLARE @LAST_UPDATE_DATE datetime2(2) 
exec dbo.GetLoadStartDatetime 'dbo.CLOSE_OUT_TYPES', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.CLOSE_OUT_TYPES_STAGE')<>0
	DROP TABLE dbo.CLOSE_OUT_TYPES_STAGE

CREATE TABLE dbo.CLOSE_OUT_TYPES_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (CLOSE_OUT_TYPE, CLOSE_OUT_TYPE_DESCR)) 
AS 
-- EXPLAIN
SELECT   CLOSE_OUT_TYPE, CLOSE_OUT_TYPE_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[CLOSE_OUT_TYPES] A
--WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'CLOSE_OUT_TYPES_LOAD: CLOSE_OUT_TYPES_STAGE');

CREATE STATISTICS STATS_CLOSE_OUT_TYPES_STAGE_001 ON CLOSE_OUT_TYPES_STAGE (CLOSE_OUT_TYPE, CLOSE_OUT_TYPE_DESCR)


UPDATE dbo.CLOSE_OUT_TYPES
SET  CLOSE_OUT_TYPE_DESCR = B.CLOSE_OUT_TYPE_DESCR
	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.CLOSE_OUT_TYPES_STAGE B
WHERE 
	    dbo.CLOSE_OUT_TYPES.CLOSE_OUT_TYPE = B.CLOSE_OUT_TYPE
	AND dbo.CLOSE_OUT_TYPES.CLOSE_OUT_TYPE_DESCR <> B.CLOSE_OUT_TYPE_DESCR 

INSERT INTO dbo.CLOSE_OUT_TYPES (CLOSE_OUT_TYPE, CLOSE_OUT_TYPE_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT A.CLOSE_OUT_TYPE, A.CLOSE_OUT_TYPE_DESCR, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM dbo.CLOSE_OUT_TYPES_STAGE A
LEFT JOIN dbo.CLOSE_OUT_TYPES B ON A.CLOSE_OUT_TYPE = B.CLOSE_OUT_TYPE 
WHERE B.CLOSE_OUT_TYPE IS NULL 





