CREATE PROC [DBO].[FACT_NET_REV_TFC_EVTS_SUMMARY_LOAD] AS --DROP PROC [DBO].[FACT_NET_REV_TFC_EVTS_SUMMARY_LOAD]

--#1	RANJITH NAIR	2018-02-09	CREATED
--#2	Andy Filipps	2018-09-07	Partitioned for Incremental Loading

	--STEP #0: --DROP table IF EXISTS 
	IF OBJECT_ID('dbo.FACT_NET_REV_TFC_EVTS_SUMMARY_STAGE')>0 DROP TABLE dbo.FACT_NET_REV_TFC_EVTS_SUMMARY_STAGE


	DECLARE @TEST INT = NULL
	DECLARE @FROM_DAYID INT = ISNULL(@TEST,(SELECT CONVERT(VARCHAR(10),DATEADD(DAY,1,MAX(DATEADD(MONTH,-1,DATA_AS_OF_DATE))),112)
							   FROM dbo.PARTITION_AS_OF_DATE_CONTROL
							   WHERE current_ind = 1)) 
    --DECLARE @FROM_DATE DATETIME2 = CAST(CAST(@FROM_DAYID AS VARCHAR) AS DATETIME2)
	DECLARE @SQL_DDL NVARCHAR(max) = ''	

	SET @SQL_DDL = '
	CREATE TABLE dbo.FACT_NET_REV_TFC_EVTS_SUMMARY_STAGE 
	WITH (PARTITION   ([DAY_ID] RANGE RIGHT FOR VALUES (' + CAST(@FROM_DAYID AS NVARCHAR)+ '))  
	     ,DISTRIBUTION = HASH([DAY_ID])  --ROUND_ROBIN
		 ,CLUSTERED COLUMNSTORE INDEX) AS
	--EXPLAIN
	SELECT	--TOP(100) 
			 DAY_ID
			,LANE_ID
			,PMTY_ID
			,VCLY_ID
			,LOCAL_TIME
			,(DATEPART(HH,Local_Time) * 3600) + (DATEPART(mi,Local_Time) * 60) + DATEPART(SS,Local_Time) AS TIME_ID
			,COUNT(TART_ID) TXN_CNT
			,SUM(EAR_REV) EAR_REV
			,SUM(COALESCE(IOP_TXNS_POSTED_REVENUE, AVIT_POSTED_REVENUE, ACT_REV)) ACT_REV
	FROM	dbo.FACT_NET_REV_TFC_EVTS
	GROUP BY DAY_ID
			,LANE_ID
			,PMTY_ID
			,VCLY_ID
			,LOCAL_TIME'

	EXEC(@SQL_DDL)

	--STEP #3: Replace OLD table with NEW
	IF OBJECT_ID('dbo.FACT_NET_REV_TFC_EVTS_SUMMARY_OLD')>0 	DROP TABLE dbo.FACT_NET_REV_TFC_EVTS_SUMMARY_OLD;

	IF OBJECT_ID('dbo.FACT_NET_REV_TFC_EVTS_SUMMARY')>0		RENAME OBJECT::dbo.FACT_NET_REV_TFC_EVTS_SUMMARY TO FACT_NET_REV_TFC_EVTS_SUMMARY_OLD;
	RENAME OBJECT::dbo.FACT_NET_REV_TFC_EVTS_SUMMARY_STAGE TO FACT_NET_REV_TFC_EVTS_SUMMARY;
	
	--IF OBJECT_ID('dbo.FACT_NET_REV_TFC_EVTS_SUMMARY_OLD')>0 	DROP TABLE dbo.FACT_NET_REV_TFC_EVTS_SUMMARY_OLD;

	--STEP #4: Create Statistics --[dbo].[CreateStats] 'dbo', 'FACT_NET_REV_TFC_EVTS_SUMMARY'
	CREATE STATISTICS STATS_FACT_NET_REV_TFC_EVTS_SUMMARY_001 ON [dbo].FACT_NET_REV_TFC_EVTS_SUMMARY (DAY_ID)
	CREATE STATISTICS STATS_FACT_NET_REV_TFC_EVTS_SUMMARY_002 ON [dbo].FACT_NET_REV_TFC_EVTS_SUMMARY (LANE_ID)
	CREATE STATISTICS STATS_FACT_NET_REV_TFC_EVTS_SUMMARY_003 ON [dbo].FACT_NET_REV_TFC_EVTS_SUMMARY ([TIME_ID])
	CREATE STATISTICS STATS_FACT_NET_REV_TFC_EVTS_SUMMARY_006 ON [dbo].FACT_NET_REV_TFC_EVTS_SUMMARY (DAY_ID,LANE_ID,[TIME_ID])

