CREATE PROC [DBO].[zzzFACT_UNIFIED_VIOLATION_SNAPSHOT_STEP1_LOAD] @START_DAY_ID [INT],@END_DAY_ID [INT] AS


/*
USE EDW_RITE 
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STEP1_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STEP1_LOAD
GO

EXEC DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STEP2_LOAD

*/

----TESTING PARAMETERS ONLY!!!!!!!!!!!!!!!!!!
--DECLARE
--	@START_DAY_ID INT --= 20150701
--	,@END_DAY_ID INT --= 20150731

DECLARE @sql VARCHAR(MAX)

DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT, @LOG_PATTERN VARCHAR(1000)

DECLARE @FROM_DAY_ID INT = CAST(CONVERT(VARCHAR(8),@START_DAY_ID) AS INT)  --In theory it can be not only beginning of the month
DECLARE @TO_DAY_ID  INT = CAST(CONVERT(VARCHAR(8),@END_DAY_ID) AS INT)		--In theory it can be not only ending of the month


SELECT  @SOURCE = 'FACT_UNIFIED_VIOLATION_SNAPSHOT', @LOG_START_DATE = GETDATE(), @LOG_PATTERN = 'FACT_UNIFIED_VIOLATION_SNAPSHOT_LOAD STEP1 from: ' + CAST(@FROM_DAY_ID AS VARCHAR(8)) + ' to: ' + CAST(@TO_DAY_ID AS VARCHAR(8)) + ': '
--EXEC    dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE,  NULL

IF OBJECT_ID('dbo.FACT_UVS_LANE_VIOL_STAGE') IS NOT NULL DROP TABLE dbo.FACT_UVS_LANE_VIOL_STAGE;	

	--STEP #3: --Getting the new information from the main query 
CREATE TABLE dbo.FACT_UVS_LANE_VIOL_STAGE WITH (HEAP, DISTRIBUTION = HASH(LANE_FILE_ID)) AS 
WITH HT AS 
(	SELECT	 
		CAST(SOURCE_TRXN_ID AS DECIMAL(14, 0))  AS TRANSACTION_ID, F.TTXN_ID, AMOUNT, CAST(POSTED_DATE AS DATE) POSTED_DATE, SOURCE_CODE, ACCT_ID, TAG_ID, AGENCY_ID,LICENSE_PLATE_ID,LIC_PLATE,LIC_STATE
	FROM dbo.FACT_TOLL_TRANSACTIONS F 			
	WHERE DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID AND SOURCE_CODE IN ('M','O','V','W','X','Z') AND CREDITED_FLAG =  'N'
)
, IOP  AS 
(	SELECT	SOURCE_TXN_ID, POSTED_REVENUE, CAST(POSTED_DATE AS DATE) POSTED_DATE, SOURCE_CODE, TAG_ID, CAST(I.AGENCY_CODE AS VARCHAR(10)) AS AGENCY_ID,
			CASE WHEN L.LANE_ID IS NOT NULL 
				THEN CASE WHEN I.TVL_TAG_STATUS IS NULL AND I.TAG_ID IS NULL THEN 'LVL' ELSE 'TVL' END 
				ELSE NULL	
			END	LVL_TVL 
	FROM dbo.FACT_IOP_TGS AS I				
	LEFT JOIN dbo.DIM_LANE L ON I.LANE_ID = L.LANE_ID AND L.AGENCY_ID = 2 AND L.SUB_AGENCY_ABBREV IN ('NTTA SPS','NTTA SYSTEM','SPS')
	WHERE DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID AND DISPOSITION = 'P' AND SOURCE_CODE = 'V'
)
, V  AS 
(	SELECT	V.LANE_VIOL_ID,V.VIOLATION_ID,V.VIOL_STATUS,V.VIOL_DATE,V.STATUS_DATE,V.VIOL_TYPE,V.DRIVER_LIC_STATE,V.VIOLATOR_ID,V.VEHICLE_CLASS,
			V.DMV_STS,V.TXN_NAME,V.LICENSE_PLATE_ID,V.LIC_PLATE_NBR,V.LIC_PLATE_STATE,V.TOLL_DUE,V.TOLL_PAID,V.TAG_ID,V.AGENCY_ID,V.DISPOSITION,
			I.VBI_INVOICE_ID,I.VIOL_INVOICE_ID,I.PAYMENT_DATE,I.DEPOSIT_DATE,I.SPLIT_AMOUNT,I.FEES_PAID, I.TOLL_PAID AS AMOUNT_PAID,
			I.VBI_INVOICE_DATE,I.VBI_STATUS,I.VI_INVOICE_DATE,I.VIOL_INV_STATUS,I.INVOICE_STAGE_ID, 
			V.EXCUSED_REASON,V.DATE_EXCUSED,V.EXCUSED_BY
			-- SELECT COUNT_BIG(1)
	FROM (
			SELECT	VIOLATION_ID,VIOL_STATUS,CAST(VIOL_DATE AS DATE) VIOL_DATE,CAST(STATUS_DATE AS DATE) STATUS_DATE,CAST(VIOL_TYPE AS varchar(2)) AS VIOL_TYPE,DRIVER_LIC_STATE,VIOLATOR_ID,DISPOSITION,LANE_VIOL_ID,
					DMV_STS,TXN_NAME,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,TOLL_DUE,TOLL_PAID,VEHICLE_CLASS,TAG_ID,AGENCY_ID,
					EXCUSED_REASON,CAST(DATE_EXCUSED AS DATE) DATE_EXCUSED,EXCUSED_BY
			FROM dbo.FACT_VIOLATIONS_DETAIL	WHERE DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID
		)  AS V
	LEFT JOIN (
				SELECT	I.VBI_INVOICE_ID,I.VIOL_INVOICE_ID,CAST(PAYMENT_DATE AS DATE) PAYMENT_DATE,CAST(DEPOSIT_DATE AS DATE) DEPOSIT_DATE,I.SPLIT_AMOUNT,I.FEES_PAID, I.TOLL_PAID,
						I.VIOLATION_ID,CAST(VBI_INVOICE_DATE AS DATE) VBI_INVOICE_DATE,I.VBI_STATUS,CAST(VI_INVOICE_DATE AS DATE) VI_INVOICE_DATE,I.VIOL_INV_STATUS,I.INVOICE_STAGE_ID
				FROM dbo.FACT_UNIFIED_VIOLATION_INVOICE I WHERE CURRENT_FLAG = 1 AND DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID
				) I ON V.VIOLATION_ID = I.VIOLATION_ID
)
, IVX AS 
(
	SELECT IVX.LANE_VIOL_ID, IVX.TRANSACTION_ID,VHT.DISPOSITION,VHT.VTOLL_SEND_DATE,HT.ACCT_ID,COALESCE(VHT.LICENSE_PLATE_ID,HT.LICENSE_PLATE_ID) LICENSE_PLATE_ID,COALESCE(VHT.LIC_PLATE_NBR,HT.LIC_PLATE) LIC_PLATE_NBR,COALESCE(VHT.LIC_PLATE_STATE,HT.LIC_STATE) LIC_PLATE_STATE,
			CAST(COALESCE(HT.TTXN_ID, IOP.SOURCE_TXN_ID) AS BIGINT) TTXN_ID,COALESCE(VHT.TAG_ID,IOP.TAG_ID, HT.TAG_ID) TAG_ID,COALESCE(NULLIF(VHT.POS_REV,0),NULLIF(IOP.POSTED_REVENUE,0),NULLIF(HT.AMOUNT,0)) POSTED_REVENUE,IOP.LVL_TVL,
			COALESCE(IOP.SOURCE_CODE,HT.SOURCE_CODE) SOURCE_CODE, COALESCE(VHT.AGENCY_ID,IOP.AGENCY_ID,HT.AGENCY_ID) AGENCY_ID, COALESCE(NULLIF(VHT.POSTED_DATE,'1900-01-01'),NULLIF(IOP.POSTED_DATE,'1900-01-01'),NULLIF(HT.POSTED_DATE,'1900-01-01')) POSTED_DATE
	FROM dbo.ICRS_VPS_XREF IVX 
	LEFT JOIN (		SELECT TRANSACTION_ID, DISPOSITION, CAST(VTOLL_SEND_DATE AS DATE) VTOLL_SEND_DATE,CAST(POSTED_DATE AS DATE) POSTED_DATE,TAG_ID,AGENCY_ID,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,POS_REV
					FROM dbo.FACT_VTOLLS_DETAIL 
					WHERE DAY_ID BETWEEN @FROM_DAY_ID  AND @TO_DAY_ID AND DISPOSITION = 'P'
				) VHT												ON VHT.TRANSACTION_ID = IVX.TRANSACTION_ID 
	LEFT JOIN  IOP													ON IOP.SOURCE_TXN_ID = IVX.TRANSACTION_ID 
	LEFT JOIN  HT 													ON HT.TRANSACTION_ID = IVX.TRANSACTION_ID 
)
, L  AS 
(	SELECT	CASE WHEN HIX.TART_ID IS NULL THEN 'FILE' + CAST(ISNULL(L.TRANSACTION_FILE_DETAIL_ID, -1) AS VARCHAR(10)) ELSE 'T' + CAST(HIX.TART_ID AS VARCHAR(11)) END AS LANE_FILE_ID,
			L.LANE_VIOL_ID,L.VIOLATION_ID,L.VIOL_DATE,L.AXLE_COUNT,L.LANE_VIOL_STATUS,L.REVIEW_STATUS AS LANE_REVIEW_STATUS,L.VIOLATION_CODE,L.VIOL_CREATED,
			COALESCE(L.LICENSE_PLATE_ID,IVX.LICENSE_PLATE_ID) LICENSE_PLATE_ID,COALESCE(L.LIC_PLATE_NBR,IVX.LIC_PLATE_NBR) LIC_PLATE_NBR,COALESCE(L.LIC_PLATE_STATE,IVX.LIC_PLATE_STATE) LIC_PLATE_STATE,
			L.REVIEW_DATE,L.VIOL_REJECT_TYPE,L.TOLL_DUE,L.TOLL_PAID,NP.REVIEW_STATUS_ABBREV AS NOT_TRANS_REVIEW_STATUS_ABBREV,
			IVX.TRANSACTION_ID,IVX.DISPOSITION,IVX.VTOLL_SEND_DATE,IVX.ACCT_ID,IVX.TTXN_ID,IVX.TAG_ID,IVX.POSTED_REVENUE,IVX.SOURCE_CODE,IVX.AGENCY_ID,IVX.POSTED_DATE,IVX.LVL_TVL			
	FROM (
				SELECT		LANE_VIOL_ID,VIOLATION_ID,TRANSACTION_FILE_DETAIL_ID,CAST(VIOL_DATE AS DATE) VIOL_DATE,AXLE_COUNT,LANE_VIOL_STATUS,REVIEW_STATUS,VIOLATION_CODE,VIOL_CREATED,
							LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,CAST(REVIEW_DATE AS DATE) REVIEW_DATE,VIOL_REJECT_TYPE,TOLL_DUE,TOLL_PAID
				FROM dbo.FACT_LANE_VIOLATIONS_DETAIL		WHERE DAY_ID BETWEEN  @FROM_DAY_ID AND  @TO_DAY_ID 
		) L 
	LEFT JOIN (		SELECT REVIEW_STATUS_ABBREV,LANE_VIOL_ID 
					FROM dbo.FACT_NOT_TRANSFERRED_TO_VPS_DETAIL WHERE DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID
				) NP											ON  NP.LANE_VIOL_ID = L.LANE_VIOL_ID 
	LEFT JOIN  IVX												ON IVX.LANE_VIOL_ID = L.LANE_VIOL_ID 
	LEFT JOIN  dbo.HOST_ICRS_XREF HIX					ON HIX.LANE_VIOL_ID = L.LANE_VIOL_ID 
)
SELECT  
	L.LANE_FILE_ID																	AS  LANE_FILE_ID
	,L.LANE_VIOL_ID																	AS  LANE_VIOL_ID
	,COALESCE(NULLIF(V.VIOL_DATE,'1900-01-01'), L.VIOL_DATE)						AS  VIOL_DATE
	,COALESCE(NULLIF(V.VEHICLE_CLASS,-1),L.AXLE_COUNT)								AS  AXLE_COUNT
	,L.LANE_VIOL_STATUS																AS  LANE_VIOL_STATUS
	,L.LANE_REVIEW_STATUS															AS  LANE_REVIEW_STATUS
	,L.VIOLATION_CODE																AS  VIOLATION_CODE
	,L.VIOL_CREATED																	AS  VIOL_CREATED
	,COALESCE(NULLIF(V.LICENSE_PLATE_ID,-1),L.LICENSE_PLATE_ID)						AS  LICENSE_PLATE_ID
	,COALESCE(NULLIF(V.LIC_PLATE_NBR,'-1'),L.LIC_PLATE_NBR)							AS  LIC_PLATE_NBR
	,COALESCE(NULLIF(V.LIC_PLATE_STATE,'-1'),L.LIC_PLATE_STATE)						AS  LIC_PLATE_STATE
	,L.REVIEW_DATE																	AS  REVIEW_DATE
	,L.VIOL_REJECT_TYPE																AS  VIOL_REJECT_TYPE
	,COALESCE(NULLIF(V.TOLL_DUE,0), L.TOLL_DUE)										AS  TOLL_DUE
	,COALESCE(NULLIF(V.TOLL_PAID,0), L.TOLL_PAID)									AS  TOLL_PAID
	,V.VIOLATION_ID																	AS  VIOLATION_ID
	,V.STATUS_DATE																	AS  STATUS_DATE
	,V.VIOL_TYPE																	AS  VIOL_TYPE
	,V.DRIVER_LIC_STATE																AS  DRIVER_LIC_STATE
	,V.VIOLATOR_ID																	AS  VIOLATOR_ID
	,V.VIOL_STATUS																	AS  VIOL_STATUS
	,L.TRANSACTION_ID																AS  TRANSACTION_ID
	,COALESCE(V.DISPOSITION, L.DISPOSITION)											AS  DISPOSITION
	,L.VTOLL_SEND_DATE																AS  VTOLL_SEND_DATE	
	,L.TTXN_ID																		AS  TTXN_ID		
	,L.LVL_TVL																		AS  LVL_TVL		
	,L.POSTED_REVENUE																AS  POSTED_REVENUE
	,ISNULL(NULLIF(V.PAYMENT_DATE,'1900-01-01'),NULLIF(L.POSTED_DATE,'1900-01-01'))	AS  POSTED_DATE
	,CAST(L.SOURCE_CODE AS VARCHAR(2))												AS  SOURCE_CODE
	,L.ACCT_ID																		AS  ACCT_ID
	,COALESCE(NULLIF(V.TAG_ID,'-1'), L.TAG_ID)										AS  TAG_ID
	,COALESCE(NULLIF(V.AGENCY_ID,'-1'), L.AGENCY_ID)								AS  AGENCY_ID
	,V.DMV_STS																		AS  DMV_STS
	,V.TXN_NAME																		AS  TXN_NAME
	,L.NOT_TRANS_REVIEW_STATUS_ABBREV												AS  NOT_TRANS_REVIEW_STATUS_ABBREV
	,V.VBI_INVOICE_ID																AS  VBI_INVOICE_ID
	,V.VIOL_INVOICE_ID																AS  VIOL_INVOICE_ID
	,V.PAYMENT_DATE																	AS  PAYMENT_DATE
	,V.DEPOSIT_DATE																	AS  DEPOSIT_DATE
	,V.SPLIT_AMOUNT																	AS  SPLIT_AMOUNT
	,V.FEES_PAID																	AS  FEES_PAID
	,V.AMOUNT_PAID																	AS  AMT_PAID
	,V.VBI_INVOICE_DATE																AS  VBI_INVOICE_DATE
	,V.VBI_STATUS																	AS  VBI_STATUS
	,V.VI_INVOICE_DATE																AS  VI_INVOICE_DATE
	,V.VIOL_INV_STATUS																AS  VIOL_INV_STATUS
	,V.INVOICE_STAGE_ID																AS  INVOICE_STAGE_ID
	,V.EXCUSED_REASON,V.DATE_EXCUSED,V.EXCUSED_BY
FROM		   L			
LEFT JOIN  V			ON V.LANE_VIOL_ID = L.LANE_VIOL_ID
WHERE L.LANE_FILE_ID <> 'FILE-1'
OPTION (LABEL = 'FACT_UNIFIED_VIOLATION_SNAPSHOT STEP1 LOAD <<L query>>');

--EXEC DBO.PRINT_LONG_VARIABLE_VALUE @sql

--EXECUTE (@sql);

EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = @LOG_PATTERN + ' The L query Stage table finished.'
EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT


