CREATE PROC [DBO].[DPS_INV_STATUS_LOAD] AS 

--DECLARE @LAST_UPDATE_DATE datetime2(2) 
--exec dbo.GetLoadStartDatetime 'dbo.DPS_INV_STATUS', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.DPS_INV_STATUS_STAGE')<>0
	DROP TABLE dbo.DPS_INV_STATUS_STAGE

CREATE TABLE dbo.DPS_INV_STATUS_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (DPS_INV_STATUS)) 
AS 
-- EXPLAIN
SELECT A.DPS_INV_STATUS, A.DPS_INV_STATUS_DESCR, A.LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[DPS_INV_STATUS] A
OPTION (LABEL = 'DPS_INV_STATUS_LOAD: DPS_INV_STATUS_STAGE');

CREATE STATISTICS STATS_DPS_INV_STATUS_STAGE_001 ON DPS_INV_STATUS_STAGE (DPS_INV_STATUS)


UPDATE dbo.DPS_INV_STATUS
SET  DPS_INV_STATUS_DESCR = B.DPS_INV_STATUS_DESCR
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.DPS_INV_STATUS_STAGE B
WHERE 
	dbo.DPS_INV_STATUS.DPS_INV_STATUS = B.DPS_INV_STATUS
	AND 
	dbo.DPS_INV_STATUS.DPS_INV_STATUS_DESCR <> B.DPS_INV_STATUS_DESCR

INSERT INTO dbo.DPS_INV_STATUS (DPS_INV_STATUS, DPS_INV_STATUS_DESCR, INSERT_DATE, LAST_UPDATE_DATE)
SELECT A.DPS_INV_STATUS, A.DPS_INV_STATUS_DESCR, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.DPS_INV_STATUS_STAGE A
LEFT JOIN dbo.DPS_INV_STATUS B ON A.DPS_INV_STATUS = B.DPS_INV_STATUS
WHERE B.DPS_INV_STATUS IS NULL

IF OBJECT_ID('dbo.DPS_INV_STATUS_STAGE')<>0
	DROP TABLE dbo.DPS_INV_STATUS_STAGE


