CREATE PROC [DBO].[FACT_INVOICE_UPDATE_FROM_FACT_INVOICE_STAGE_CA_FILE_GEN_DATE] AS 

DECLARE @PARTITION_DATE date = (SELECT MAX(PARTITION_DATE) FROM PARTITION_AS_OF_DATE_CONTROL)

UPDATE dbo.FACT_INVOICE_ANALYSIS
SET
	  dbo.FACT_INVOICE_ANALYSIS.FIRST_CA_FILE_GEN_DATE = B.FIRST_CA_FILE_GEN_DATE
	, dbo.FACT_INVOICE_ANALYSIS.LAST_CA_FILE_GEN_DATE = B.CA_FILE_GEN_DATE
	, dbo.FACT_INVOICE_ANALYSIS.CA_FILE_GEN_DATE_LIST = B.CA_FILE_GEN_DATE_LIST
	, dbo.FACT_INVOICE_ANALYSIS.CA_FILE_GEN_DATE_COUNT = B.CA_FILE_GEN_DATE_COUNT

FROM dbo.FACT_INVOICE_STAGE_CA_FILE_GEN_DATE B
WHERE 
	dbo.FACT_INVOICE_ANALYSIS.VIOLATOR_ID = B.VIOLATOR_ID 
	AND dbo.FACT_INVOICE_ANALYSIS.VBI_INVOICE_ID = B.VBI_INVOICE_ID
	AND dbo.FACT_INVOICE_ANALYSIS.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
	AND dbo.FACT_INVOICE_ANALYSIS.PARTITION_DATE = @PARTITION_DATE





