CREATE PROC [DBO].[FACT_UNIFIED_VIOLATION_SNAPSHOT_GET_UPDATE] AS


/*
	DECLARE @PART_RANGES [VARCHAR](MAX)
	EXEC DBO.GET_PARTITION_STRING 'FACT_UNIFIED_VIOLATION_SNAPSHOT', @PART_RANGES OUTPUT 
	PRINT @PART_RANGES

	SET @sql = '
	CREATE TABLE dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEWVER] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TART_ID]), PARTITION (DAY_ID RANGE RIGHT FOR VALUES (' + @PART_RANGES + ')))'
*/


IF OBJECT_ID('dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET]') IS NOT NULL	DROP TABLE dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET]
--EXPLAIN
CREATE TABLE dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TART_ID]), PARTITION ([DAY_ID] RANGE RIGHT FOR VALUES (20010101,20020101,20030101,20040101,20050101,20060101,20070101,20080101,20090101,20100101,20110101,20120101,20130101,20140101,20150101,20150201,20150301,20150401,20150501,20150601,20150701,20150801,20150901,20151001,20151101,20151201,20160101,20160201,20160301,20160401,20160501,20160601,20160701,20160801,20160901,20161001,20161101,20161201,20170101,20170201,20170301,20170401,20170501,20170601,20170701,20170801,20170901,20171001,20171101,20171201,20180101,20180201,20180301,20180401,20180501,20180601,20180701,20180801,20180901,20181001,20181101,20181201,20190101,20190201,20190301,20190401,20190501,20190601,20190701,20190801,20190901,20191001,20191101,20191201,20200101,20200201,20200301,20200401)))
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[LEVEL_0] AS varchar(19)), '') AS [LEVEL_0]
			, ISNULL(CAST(CASE WHEN COALESCE(IOPL.SOURCE_TXN_ID,IOPF.SOURCE_TXN_ID) IS NULL THEN main_table.[LEVEL_1] ELSE 'IOP' END AS varchar(24)), '-1') AS [LEVEL_1]
			, ISNULL(CAST(main_table.[LEVEL_2] AS varchar(14)), '') AS [LEVEL_2]
			, ISNULL(CAST(main_table.[LEVEL_3] AS varchar(22)), '') AS [LEVEL_3]
			, ISNULL(CAST(main_table.[LEVEL_4] AS varchar(13)), '') AS [LEVEL_4]
			, ISNULL(CAST(main_table.[LEVEL_5] AS varchar(2)), '') AS [LEVEL_5]
			, ISNULL(CAST(main_table.[LEVEL_6] AS varchar(26)), '') AS [LEVEL_6]
			, ISNULL(CAST(main_table.[LEVEL_7] AS varchar(11)), '') AS [LEVEL_7]
			, ISNULL(CAST(main_table.[LEVEL_8] AS varchar(11)), '') AS [LEVEL_8]
			, ISNULL(CAST(main_table.[LEVEL_9] AS varchar(10)), '') AS [LEVEL_9]
			, ISNULL(CAST(main_table.[LEVEL_10] AS varchar(10)), '') AS [LEVEL_10]
			, ISNULL(CAST(main_table.[TART_ID] AS bigint), 0) AS [TART_ID]
			, ISNULL(CAST(main_table.[DAY_ID] AS int), 0) AS [DAY_ID]
			, ISNULL(CAST(main_table.[PMTY_ID] AS smallint), 0) AS [PMTY_ID]
			, ISNULL(CAST(main_table.[VCLY_ID] AS smallint), 0) AS [VCLY_ID]
			, ISNULL(CAST(main_table.[AVI_TAG_STATUS] AS varchar(2)), '') AS [AVI_TAG_STATUS]
			, ISNULL(CAST(main_table.[LANE_ID] AS int), 0) AS [LANE_ID]
			, ISNULL(CAST(main_table.[Local_Time] AS datetime2(0)), '1900-01-01') AS [Local_Time]
			, ISNULL(CAST(main_table.[EAR_REV] AS decimal(10,2)), 0) AS [EAR_REV]
			, ISNULL(CAST(main_table.[POS_REV] AS decimal(16,2)), 0) AS [POS_REV]
			, ISNULL(CAST(main_table.[TXID_ID] AS int), 0) AS [TXID_ID]
			, ISNULL(CAST(main_table.[TRANSACTION_FILE_DETAIL_ID] AS decimal(14,0)), 0) AS [TRANSACTION_FILE_DETAIL_ID]
			, ISNULL(CAST(main_table.[LANE_VIOL_ID] AS decimal(12,0)), 0) AS [LANE_VIOL_ID]
			, ISNULL(CAST(main_table.[VIOL_DATE] AS date), '1900-01-01') AS [VIOL_DATE]
			, ISNULL(CAST(main_table.[AXLE_COUNT] AS smallint), 0) AS [AXLE_COUNT]
			, ISNULL(CAST(main_table.[LANE_VIOL_STATUS] AS varchar(2)), '') AS [LANE_VIOL_STATUS]
			, ISNULL(CAST(main_table.[LANE_REVIEW_STATUS] AS varchar(2)), '') AS [LANE_REVIEW_STATUS]
			, ISNULL(CAST(main_table.[VIOLATION_CODE] AS smallint), 0) AS [VIOLATION_CODE]
			, ISNULL(CAST(main_table.[VIOL_CREATED] AS varchar(1)), '') AS [VIOL_CREATED]
			, ISNULL(CAST(main_table.[LICENSE_PLATE_ID] AS int), 0) AS [LICENSE_PLATE_ID]
			, ISNULL(CAST(main_table.[LIC_PLATE_NBR] AS varchar(15)), '') AS [LIC_PLATE_NBR]
			, ISNULL(CAST(main_table.[LIC_PLATE_STATE] AS varchar(3)), '') AS [LIC_PLATE_STATE]
			, ISNULL(CAST(main_table.[OUT_OF_STATE_IND] AS smallint), 0) AS [OUT_OF_STATE_IND]
			, ISNULL(CAST(main_table.[REVIEW_DATE] AS date), '1900-01-01') AS [REVIEW_DATE]
			, ISNULL(CAST(main_table.[VIOL_REJECT_TYPE] AS varchar(2)), '') AS [VIOL_REJECT_TYPE]
			, ISNULL(CAST(main_table.[TOLL_DUE] AS decimal(9,2)), 0) AS [TOLL_DUE]
			, ISNULL(CAST(main_table.[TOLL_PAID] AS decimal(9,2)), 0) AS [TOLL_PAID]
			, ISNULL(CAST(main_table.[VIOLATION_ID] AS bigint), 0) AS [VIOLATION_ID]
			, ISNULL(CAST(main_table.[STATUS_DATE] AS date), '1900-01-01') AS [STATUS_DATE]
			, ISNULL(CAST(CASE WHEN main_table.VIOL_TYPE = 'M' THEN 1 ELSE 0 END AS SMALLINT), 0) MANUAL_VIOL_FLAG
			--, ISNULL(CAST(main_table.[MANUAL_VIOL_FLAG] AS smallint), 0) AS [MANUAL_VIOL_FLAG]
			, ISNULL(CAST(main_table.[DRIVER_LIC_STATE] AS varchar(3)), '') AS [DRIVER_LIC_STATE]
			, ISNULL(CAST(main_table.[VIOLATOR_ID] AS decimal(10,0)), 0) AS [VIOLATOR_ID]
			, ISNULL(CAST(main_table.[VIOL_STATUS] AS varchar(2)), '') AS [VIOL_STATUS]
			, ISNULL(CAST(main_table.[TRANSACTION_ID] AS decimal(14,0)), 0) AS [TRANSACTION_ID]
			, ISNULL(CAST(ISNULL(NULLIF(main_table.[DISPOSITION],'-1'),VT.DISPOSITION) AS varchar(2)), '-1') AS [DISPOSITION]
			--, ISNULL(CAST(main_table.[DISPOSITION] AS varchar(2)), '') AS [DISPOSITION]
			, ISNULL(CAST(main_table.[VTOLL_SEND_DATE] AS date), '1900-01-01') AS [VTOLL_SEND_DATE]
			, ISNULL(CAST(main_table.[DATE_EXCUSED] AS date), '1900-01-01') AS [DATE_EXCUSED]
			, ISNULL(CAST(main_table.[EXCUSED_REASON] AS varchar(5)), '') AS [EXCUSED_REASON]
			, ISNULL(CAST(main_table.[EXCUSED_BY] AS varchar(30)), '') AS [EXCUSED_BY]
			, ISNULL(CAST(main_table.[TTXN_ID] AS bigint), 0) AS [TTXN_ID]
			, ISNULL(CAST(main_table.[AMOUNT] AS decimal(9,2)), 0) AS [AMOUNT]
			, ISNULL(CAST(COALESCE(IOPL.POSTED_REVENUE,IOPF.POSTED_REVENUE) AS decimal(6,2)), 0) AS IOP_REV
			, ISNULL(CAST(COALESCE(TTL.AMOUNT,TTF.AMOUNT) AS decimal(6,2)), 0) AS TOLL_REV
			, ISNULL(CAST(VT.POSTED_REVENUE AS decimal(9,2)), 0) AS VTOLL_REV
			, ISNULL(CAST(CASE 
							WHEN COALESCE(IOPL.SOURCE_TXN_ID,IOPF.SOURCE_TXN_ID) IS NULL THEN -1 
							WHEN COALESCE(IOPL.DISPOSITION,IOPF.DISPOSITION) = 'P' THEN 1 
							ELSE 0 
						END AS SMALLINT), -1) AS IOP_FLAG
			--, ISNULL(CAST(main_table.[IOP_REV] AS decimal(5,2)), 0) AS [IOP_REV]
			--, ISNULL(CAST(main_table.[TOLL_REV] AS decimal(6,2)), 0) AS [TOLL_REV]
			--, ISNULL(CAST(main_table.[VTOLL_REV] AS decimal(9,2)), 0) AS [VTOLL_REV]
			--, ISNULL(CAST(main_table.[IOP_FLAG] AS int), 0) AS [IOP_FLAG]
			, ISNULL(CAST(main_table.[POSTED_DATE] AS date), '1900-01-01') AS [POSTED_DATE]
			, ISNULL(CAST(main_table.[POSTED_DAY_ID] AS int), 0) AS [POSTED_DAY_ID]
			, ISNULL(CAST(main_table.[SOURCE_CODE] AS varchar(2)), '') AS [SOURCE_CODE]
			, ISNULL(CAST(main_table.[ACCT_ID] AS bigint), 0) AS [ACCT_ID]
			, ISNULL(CAST(main_table.[TAG_ID] AS varchar(12)), '') AS [TAG_ID]
			, ISNULL(CAST(main_table.[TAG_AGENCY_ID] AS varchar(6)), '') AS [TAG_AGENCY_ID]
			, ISNULL(CAST(main_table.[DMV_STS] AS varchar(10)), '') AS [DMV_STS]
			, ISNULL(CAST(main_table.[TXN_NAME] AS varchar(10)), '') AS [TXN_NAME]
			, ISNULL(CAST(main_table.[NOT_TRANS_REVIEW_STATUS_ABBREV] AS varchar(7)), '') AS [NOT_TRANS_REVIEW_STATUS_ABBREV]
			, ISNULL(CAST(main_table.[LVL_TVL] AS varchar(3)), '') AS [LVL_TVL]
			, ISNULL(CAST(main_table.[VBI_INVOICE_ID] AS bigint), 0) AS [VBI_INVOICE_ID]
			, ISNULL(CAST(main_table.[VIOL_INVOICE_ID] AS bigint), 0) AS [VIOL_INVOICE_ID]
			, ISNULL(CAST(main_table.[PAYMENT_DATE] AS date), '1900-01-01') AS [PAYMENT_DATE]
			, ISNULL(CAST(main_table.[DEPOSIT_DATE] AS date), '1900-01-01') AS [DEPOSIT_DATE]
			, ISNULL(CAST(main_table.[SPLIT_AMOUNT] AS decimal(10,2)), 0) AS [SPLIT_AMOUNT]
			, ISNULL(CAST(main_table.[FEES_PAID] AS decimal(10,2)), 0) AS [FEES_PAID]
			, ISNULL(CAST(main_table.[AMT_PAID] AS decimal(10,2)), 0) AS [AMT_PAID]
			, ISNULL(CAST(main_table.[VBI_INVOICE_DATE] AS date), '1900-01-01') AS [VBI_INVOICE_DATE]
			, ISNULL(CAST(main_table.[VBI_STATUS] AS varchar(3)), '') AS [VBI_STATUS]
			, ISNULL(CAST(main_table.[VI_INVOICE_DATE] AS date), '1900-01-01') AS [VI_INVOICE_DATE]
			, ISNULL(CAST(main_table.[VIOL_INV_STATUS] AS varchar(2)), '') AS [VIOL_INV_STATUS]
			, ISNULL(CAST(main_table.[INVOICE_STAGE_ID] AS int), 0) AS [INVOICE_STAGE_ID]
			, ISNULL(CAST(N.VES_SERIAL_NO AS bigint), -1) AS VES_SERIAL_NO
			, ISNULL(CAST(CASE 
							WHEN main_table.VBI_STATUS = 'B' OR (main_table.VBI_STATUS = 'CV' AND main_table.VIOL_INV_STATUS IN ('B', 'A')) THEN 1 
							ELSE 0 
						END AS smallint), 0) AS BAD_ADDRESS_FLAG
			, ISNULL(CAST(V.FLEET_FLAG AS smallint), 0) AS FLEET_FLAG
			, ISNULL(CAST(CASE 
					WHEN LEVEL_1 IN ('IMAGES NOT ENTERING ICRS','NO IMAGE') THEN 1
					WHEN LEVEL_2 = 'PENDING REVIEW' THEN 1
					WHEN LEVEL_3 = 'IMAGES DISCARDED' THEN 1
					WHEN LEVEL_4 = 'OCR REJECTS' THEN 1
					WHEN LEVEL_5 IN ('W','F','X','E','A','N') THEN 1
					WHEN LEVEL_5 = 'C' AND LEVEL_6 IN ('B', '-1') THEN 1
					WHEN LEVEL_5 = 'C' AND LEVEL_6 = 'T' AND main_table.SOURCE_CODE = '-1' THEN 1
					WHEN LEVEL_9 IN ('VIOL-NTX','VIOL-TX','VIOL-UBR') THEN 1
					WHEN main_table.VIOL_STATUS IN ('Q','E') THEN 1
					ELSE 0 
				END AS smallint), 0) AS UnPursuable_FLAG  -- !!!
			, ISNULL(CAST(CASE 
							WHEN main_table.SOURCE_CODE != '-1' AND COALESCE(IOPL.SOURCE_TXN_ID,IOPF.SOURCE_TXN_ID) IS NOT NULL AND COALESCE(IOPL.DISPOSITION,IOPF.DISPOSITION) != 'P' THEN main_table.EAR_REV 
							WHEN main_table.SOURCE_CODE != '-1' AND main_table.DISPOSITION IN ('-1', 'P') THEN main_table.AMOUNT 
							ELSE main_table.EAR_REV 
							END AS decimal(10,2)), 0) AS ADJ_REV		-- !!!
			, ISNULL(CAST(CASE WHEN main_table.SOURCE_CODE != '-1' AND main_table.DISPOSITION IN ('-1', 'P') THEN main_table.AMOUNT ELSE main_table.AMT_PAID END AS decimal(10,2)), 0) AS POSTED_REV		-- !!!			
			, ISNULL(CAST(main_table.[DELETED] AS bit), 0) AS [DELETED]
			, ISNULL(CAST(main_table.[DATA_START_DATE] AS date), '1900-01-01') AS [DATA_START_DATE]
			, ISNULL(CAST(main_table.[DATA_END_DATE] AS date), '1900-01-01') AS [DATA_END_DATE]
	FROM dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT] AS main_table
	LEFT JOIN DBO.FACT_NET_REV_TFC_EVTS AS N ON N.DAY_ID = main_table.DAY_ID AND N.TART_ID = main_table.TART_ID AND N.DAY_ID > 20160100
	LEFT JOIN dbo.FACT_IOP_TGS IOPF ON IOPF.DAY_ID = main_table.DAY_ID AND IOPF.SOURCE_TXN_ID = main_table.TART_ID AND	IOPF.SOURCE_CODE = 'H' AND IOPF.DISPOSITION = 'P' AND IOPF.DAY_ID > 20160100
	LEFT JOIN dbo.FACT_IOP_TGS IOPL ON IOPL.DAY_ID = main_table.DAY_ID AND IOPL.SOURCE_TXN_ID = main_table.TRANSACTION_ID AND	IOPL.SOURCE_CODE = 'V' AND IOPL.DISPOSITION = 'P' AND IOPL.DAY_ID > 20160100

	LEFT JOIN dbo.FACT_TOLL_TRANSACTIONS TTF ON TTF.DAY_ID = main_table.DAY_ID AND TTF.SOURCE_TRXN_ID = main_table.TART_ID AND	TTF.SOURCE_CODE = 'H' AND TTF.CREDITED_FLAG = 'N' AND TTF.DAY_ID > 20160100
	LEFT JOIN dbo.FACT_TOLL_TRANSACTIONS TTL ON TTL.DAY_ID = main_table.DAY_ID AND TTL.SOURCE_TRXN_ID = main_table.TRANSACTION_ID AND	TTL.SOURCE_CODE IN ('M','O','V','W','X','Z') AND TTL.CREDITED_FLAG =  'N' AND TTL.DAY_ID > 20160100

	LEFT JOIN dbo.VPS_HOST_TRANSACTIONS VT  ON VT.DAY_ID = main_table.DAY_ID AND VT.TRANSACTION_ID = main_table.TRANSACTION_ID AND VT.MONTH_ID > 201600
	LEFT JOIN dbo.FACT_VIOLATIONS_DETAIL V  ON V.DAY_ID = main_table.DAY_ID AND V.VIOLATION_ID = main_table.VIOLATION_ID AND V.MONTH_ID > 201600
	OPTION (LABEL = 'FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET LOAD');


	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_001] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([DAY_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_002] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LANE_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_003] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LANE_VIOL_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_004] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([ACCT_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_005] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([TAG_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_006] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([VIOLATION_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_007] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([VIOLATOR_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_008] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([TRANSACTION_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_009] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([TRANSACTION_FILE_DETAIL_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_010] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([TTXN_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_011] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([AVI_TAG_STATUS]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_012] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LEVEL_0]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_013] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LEVEL_1]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_014] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LEVEL_2]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_015] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LEVEL_3]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_016] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LEVEL_4]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_017] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LEVEL_5]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_018] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LEVEL_6]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_019] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LEVEL_7]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_020] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LEVEL_8]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_021] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LEVEL_9]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_022] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LEVEL_10]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_023] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([POSTED_DAY_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_024] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([SOURCE_CODE]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_025] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([DELETED]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_026] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] ([LVL_TVL]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_027] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] (FLEET_FLAG);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_028] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] (UnPursuable_FLAG);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_029] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] (IOP_FLAG);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_030] ON dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] (TART_ID);

	IF OBJECT_ID('dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_OLD]') IS NOT NULL		DROP TABLE dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_OLD];
	IF OBJECT_ID('dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT]') IS NOT NULL			RENAME OBJECT::dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT] TO [FACT_UNIFIED_VIOLATION_SNAPSHOT_OLD];
	IF OBJECT_ID('dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET]') IS NOT NULL		RENAME OBJECT::dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET] TO [FACT_UNIFIED_VIOLATION_SNAPSHOT];
	IF OBJECT_ID('dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_OLD]') IS NOT NULL		DROP TABLE dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_OLD];




IF OBJECT_ID('dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET]') IS NOT NULL		DROP TABLE dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET];

CREATE TABLE dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TART_ID]), PARTITION ([DAY_ID] RANGE RIGHT FOR VALUES (20010101,20020101,20030101,20040101,20050101,20060101,20070101,20080101,20090101,20100101,20110101,20120101,20130101,20140101,20150101,20150201,20150301,20150401,20150501,20150601,20150701,20150801,20150901,20151001,20151101,20151201,20160101,20160201,20160301,20160401,20160501,20160601,20160701,20160801,20160901,20161001,20161101,20161201,20170101,20170201,20170301,20170401,20170501,20170601,20170701,20170801,20170901,20171001,20171101,20171201,20180101,20180201,20180301,20180401,20180501,20180601,20180701,20180801,20180901,20181001,20181101,20181201,20190101,20190201,20190301,20190401,20190501,20190601,20190701,20190801,20190901,20191001,20191101,20191201,20200101,20200201,20200301,20200401)))
	AS 
		SELECT 
			 ISNULL(CAST(main_table.[LEVEL_0] AS varchar(19)), '') AS [LEVEL_0]
			, ISNULL(CAST(CASE WHEN COALESCE(IOPL.SOURCE_TXN_ID,IOPF.SOURCE_TXN_ID) IS NULL THEN main_table.[LEVEL_1] ELSE 'IOP' END AS varchar(24)), '-1') AS [LEVEL_1]
			, ISNULL(CAST(main_table.[LEVEL_2] AS varchar(14)), '') AS [LEVEL_2]
			, ISNULL(CAST(main_table.[LEVEL_3] AS varchar(22)), '') AS [LEVEL_3]
			, ISNULL(CAST(main_table.[LEVEL_4] AS varchar(13)), '') AS [LEVEL_4]
			, ISNULL(CAST(main_table.[LEVEL_5] AS varchar(2)), '') AS [LEVEL_5]
			, ISNULL(CAST(main_table.[LEVEL_6] AS varchar(26)), '') AS [LEVEL_6]
			, ISNULL(CAST(main_table.[LEVEL_7] AS varchar(11)), '') AS [LEVEL_7]
			, ISNULL(CAST(main_table.[LEVEL_8] AS varchar(11)), '') AS [LEVEL_8]
			, ISNULL(CAST(main_table.[LEVEL_9] AS varchar(10)), '') AS [LEVEL_9]
			, ISNULL(CAST(main_table.[LEVEL_10] AS varchar(10)), '') AS [LEVEL_10]
			, ISNULL(CAST(main_table.[TART_ID] AS bigint), 0) AS [TART_ID]
			, ISNULL(CAST(main_table.[DAY_ID] AS int), 0) AS [DAY_ID]
			, ISNULL(CAST(main_table.[PMTY_ID] AS smallint), 0) AS [PMTY_ID]
			, ISNULL(CAST(main_table.[VCLY_ID] AS smallint), 0) AS [VCLY_ID]
			, ISNULL(CAST(main_table.[AVI_TAG_STATUS] AS varchar(2)), '') AS [AVI_TAG_STATUS]
			, ISNULL(CAST(main_table.[LANE_ID] AS int), 0) AS [LANE_ID]
			, ISNULL(CAST(main_table.[Local_Time] AS datetime2(0)), '1900-01-01') AS [Local_Time]
			, ISNULL(CAST(main_table.[EAR_REV] AS decimal(10,2)), 0) AS [EAR_REV]
			, ISNULL(CAST(main_table.[POS_REV] AS decimal(16,2)), 0) AS [POS_REV]
			, ISNULL(CAST(main_table.[TXID_ID] AS int), 0) AS [TXID_ID]
			, ISNULL(CAST(main_table.[TRANSACTION_FILE_DETAIL_ID] AS decimal(14,0)), 0) AS [TRANSACTION_FILE_DETAIL_ID]
			, ISNULL(CAST(main_table.[LANE_VIOL_ID] AS decimal(12,0)), 0) AS [LANE_VIOL_ID]
			, ISNULL(CAST(main_table.[VIOL_DATE] AS date), '1900-01-01') AS [VIOL_DATE]
			, ISNULL(CAST(main_table.[AXLE_COUNT] AS smallint), 0) AS [AXLE_COUNT]
			, ISNULL(CAST(main_table.[LANE_VIOL_STATUS] AS varchar(2)), '') AS [LANE_VIOL_STATUS]
			, ISNULL(CAST(main_table.[LANE_REVIEW_STATUS] AS varchar(2)), '') AS [LANE_REVIEW_STATUS]
			, ISNULL(CAST(main_table.[VIOLATION_CODE] AS smallint), 0) AS [VIOLATION_CODE]
			, ISNULL(CAST(main_table.[VIOL_CREATED] AS varchar(1)), '') AS [VIOL_CREATED]
			, ISNULL(CAST(main_table.[LICENSE_PLATE_ID] AS int), 0) AS [LICENSE_PLATE_ID]
			, ISNULL(CAST(main_table.[LIC_PLATE_NBR] AS varchar(15)), '') AS [LIC_PLATE_NBR]
			, ISNULL(CAST(main_table.[LIC_PLATE_STATE] AS varchar(3)), '') AS [LIC_PLATE_STATE]
			, ISNULL(CAST(main_table.[OUT_OF_STATE_IND] AS smallint), 0) AS [OUT_OF_STATE_IND]
			, ISNULL(CAST(main_table.[REVIEW_DATE] AS date), '1900-01-01') AS [REVIEW_DATE]
			, ISNULL(CAST(main_table.[VIOL_REJECT_TYPE] AS varchar(2)), '') AS [VIOL_REJECT_TYPE]
			, ISNULL(CAST(main_table.[TOLL_DUE] AS decimal(9,2)), 0) AS [TOLL_DUE]
			, ISNULL(CAST(main_table.[TOLL_PAID] AS decimal(9,2)), 0) AS [TOLL_PAID]
			, ISNULL(CAST(main_table.[VIOLATION_ID] AS bigint), 0) AS [VIOLATION_ID]
			, ISNULL(CAST(main_table.[STATUS_DATE] AS date), '1900-01-01') AS [STATUS_DATE]
			, ISNULL(CAST(CASE WHEN main_table.VIOL_TYPE = 'M' THEN 1 ELSE 0 END AS SMALLINT), 0) MANUAL_VIOL_FLAG
			--, ISNULL(CAST(main_table.[MANUAL_VIOL_FLAG] AS smallint), 0) AS [MANUAL_VIOL_FLAG]
			, ISNULL(CAST(main_table.[DRIVER_LIC_STATE] AS varchar(3)), '') AS [DRIVER_LIC_STATE]
			, ISNULL(CAST(main_table.[VIOLATOR_ID] AS decimal(10,0)), 0) AS [VIOLATOR_ID]
			, ISNULL(CAST(main_table.[VIOL_STATUS] AS varchar(2)), '') AS [VIOL_STATUS]
			, ISNULL(CAST(main_table.[TRANSACTION_ID] AS decimal(14,0)), 0) AS [TRANSACTION_ID]
			, ISNULL(CAST(ISNULL(NULLIF(main_table.[DISPOSITION],'-1'),VT.DISPOSITION) AS varchar(2)), '-1') AS [DISPOSITION]
			--, ISNULL(CAST(main_table.[DISPOSITION] AS varchar(2)), '') AS [DISPOSITION]
			, ISNULL(CAST(main_table.[VTOLL_SEND_DATE] AS date), '1900-01-01') AS [VTOLL_SEND_DATE]
			, ISNULL(CAST(main_table.[DATE_EXCUSED] AS date), '1900-01-01') AS [DATE_EXCUSED]
			, ISNULL(CAST(main_table.[EXCUSED_REASON] AS varchar(5)), '') AS [EXCUSED_REASON]
			, ISNULL(CAST(main_table.[EXCUSED_BY] AS varchar(30)), '') AS [EXCUSED_BY]
			, ISNULL(CAST(main_table.[TTXN_ID] AS bigint), 0) AS [TTXN_ID]
			, ISNULL(CAST(main_table.[AMOUNT] AS decimal(9,2)), 0) AS [AMOUNT]
			, ISNULL(CAST(COALESCE(IOPL.POSTED_REVENUE,IOPF.POSTED_REVENUE) AS decimal(6,2)), 0) AS IOP_REV
			, ISNULL(CAST(COALESCE(TTL.AMOUNT,TTF.AMOUNT) AS decimal(6,2)), 0) AS TOLL_REV
			, ISNULL(CAST(VT.POSTED_REVENUE AS decimal(9,2)), 0) AS VTOLL_REV
			, ISNULL(CAST(CASE 
							WHEN COALESCE(IOPL.SOURCE_TXN_ID,IOPF.SOURCE_TXN_ID) IS NULL THEN -1 
							WHEN COALESCE(IOPL.DISPOSITION,IOPF.DISPOSITION) = 'P' THEN 1 
							ELSE 0 
						END AS SMALLINT), -1) AS IOP_FLAG
			--, ISNULL(CAST(main_table.[IOP_REV] AS decimal(5,2)), 0) AS [IOP_REV]
			--, ISNULL(CAST(main_table.[TOLL_REV] AS decimal(6,2)), 0) AS [TOLL_REV]
			--, ISNULL(CAST(main_table.[VTOLL_REV] AS decimal(9,2)), 0) AS [VTOLL_REV]
			--, ISNULL(CAST(main_table.[IOP_FLAG] AS int), 0) AS [IOP_FLAG]
			, ISNULL(CAST(main_table.[POSTED_DATE] AS date), '1900-01-01') AS [POSTED_DATE]
			, ISNULL(CAST(main_table.[POSTED_DAY_ID] AS int), 0) AS [POSTED_DAY_ID]
			, ISNULL(CAST(main_table.[SOURCE_CODE] AS varchar(2)), '') AS [SOURCE_CODE]
			, ISNULL(CAST(main_table.[ACCT_ID] AS bigint), 0) AS [ACCT_ID]
			, ISNULL(CAST(main_table.[TAG_ID] AS varchar(12)), '') AS [TAG_ID]
			, ISNULL(CAST(main_table.[TAG_AGENCY_ID] AS varchar(6)), '') AS [TAG_AGENCY_ID]
			, ISNULL(CAST(main_table.[DMV_STS] AS varchar(10)), '') AS [DMV_STS]
			, ISNULL(CAST(main_table.[TXN_NAME] AS varchar(10)), '') AS [TXN_NAME]
			, ISNULL(CAST(main_table.[NOT_TRANS_REVIEW_STATUS_ABBREV] AS varchar(7)), '') AS [NOT_TRANS_REVIEW_STATUS_ABBREV]
			, ISNULL(CAST(main_table.[LVL_TVL] AS varchar(3)), '') AS [LVL_TVL]
			, ISNULL(CAST(main_table.[VBI_INVOICE_ID] AS bigint), 0) AS [VBI_INVOICE_ID]
			, ISNULL(CAST(main_table.[VIOL_INVOICE_ID] AS bigint), 0) AS [VIOL_INVOICE_ID]
			, ISNULL(CAST(main_table.[PAYMENT_DATE] AS date), '1900-01-01') AS [PAYMENT_DATE]
			, ISNULL(CAST(main_table.[DEPOSIT_DATE] AS date), '1900-01-01') AS [DEPOSIT_DATE]
			, ISNULL(CAST(main_table.[SPLIT_AMOUNT] AS decimal(10,2)), 0) AS [SPLIT_AMOUNT]
			, ISNULL(CAST(main_table.[FEES_PAID] AS decimal(10,2)), 0) AS [FEES_PAID]
			, ISNULL(CAST(main_table.[AMT_PAID] AS decimal(10,2)), 0) AS [AMT_PAID]
			, ISNULL(CAST(main_table.[VBI_INVOICE_DATE] AS date), '1900-01-01') AS [VBI_INVOICE_DATE]
			, ISNULL(CAST(main_table.[VBI_STATUS] AS varchar(3)), '') AS [VBI_STATUS]
			, ISNULL(CAST(main_table.[VI_INVOICE_DATE] AS date), '1900-01-01') AS [VI_INVOICE_DATE]
			, ISNULL(CAST(main_table.[VIOL_INV_STATUS] AS varchar(2)), '') AS [VIOL_INV_STATUS]
			, ISNULL(CAST(main_table.[INVOICE_STAGE_ID] AS int), 0) AS [INVOICE_STAGE_ID]
			, ISNULL(CAST(N.VES_SERIAL_NO AS bigint), -1) AS VES_SERIAL_NO
			, ISNULL(CAST(CASE 
							WHEN main_table.VBI_STATUS = 'B' OR (main_table.VBI_STATUS = 'CV' AND main_table.VIOL_INV_STATUS IN ('B', 'A')) THEN 1 
							ELSE 0 
						END AS smallint), 0) AS BAD_ADDRESS_FLAG
			, ISNULL(CAST(V.FLEET_FLAG AS smallint), 0) AS FLEET_FLAG
			, ISNULL(CAST(CASE 
					WHEN LEVEL_1 IN ('IMAGES NOT ENTERING ICRS','NO IMAGE') THEN 1
					WHEN LEVEL_2 = 'PENDING REVIEW' THEN 1
					WHEN LEVEL_3 = 'IMAGES DISCARDED' THEN 1
					WHEN LEVEL_4 = 'OCR REJECTS' THEN 1
					WHEN LEVEL_5 IN ('W','F','X','E','A','N') THEN 1
					WHEN LEVEL_5 = 'C' AND LEVEL_6 IN ('B', '-1') THEN 1
					WHEN LEVEL_5 = 'C' AND LEVEL_6 = 'T' AND main_table.SOURCE_CODE = '-1' THEN 1
					WHEN LEVEL_9 IN ('VIOL-NTX','VIOL-TX','VIOL-UBR') THEN 1
					WHEN main_table.VIOL_STATUS IN ('Q','E') THEN 1
					ELSE 0 
				END AS smallint), 0) AS UnPursuable_FLAG  -- !!!
			, ISNULL(CAST(CASE 
							WHEN main_table.SOURCE_CODE != '-1' AND COALESCE(IOPL.SOURCE_TXN_ID,IOPF.SOURCE_TXN_ID) IS NOT NULL AND COALESCE(IOPL.DISPOSITION,IOPF.DISPOSITION) != 'P' THEN main_table.EAR_REV 
							WHEN main_table.SOURCE_CODE != '-1' AND main_table.DISPOSITION IN ('-1', 'P') THEN main_table.AMOUNT 
							ELSE main_table.EAR_REV 
							END AS decimal(10,2)), 0) AS ADJ_REV		-- !!!
			, ISNULL(CAST(CASE WHEN main_table.SOURCE_CODE != '-1' AND main_table.DISPOSITION IN ('-1', 'P') THEN main_table.AMOUNT ELSE main_table.AMT_PAID END AS decimal(10,2)), 0) AS POSTED_REV		-- !!!			
			, ISNULL(CAST(main_table.[DELETED] AS bit), 0) AS [DELETED]
			, ISNULL(CAST(main_table.[DATA_START_DATE] AS date), '1900-01-01') AS [DATA_START_DATE]
			, ISNULL(CAST(main_table.[DATA_END_DATE] AS date), '1900-01-01') AS [DATA_END_DATE]
	FROM dbo.[FACT_UNIFIED_VIOLATION_HISTORY] AS main_table
	LEFT JOIN DBO.FACT_NET_REV_TFC_EVTS AS N ON N.DAY_ID = main_table.DAY_ID AND N.TART_ID = main_table.TART_ID AND N.DAY_ID > 20160100
	LEFT JOIN dbo.FACT_IOP_TGS IOPF ON IOPF.DAY_ID = main_table.DAY_ID AND IOPF.SOURCE_TXN_ID = main_table.TART_ID AND	IOPF.SOURCE_CODE = 'H' AND IOPF.DISPOSITION = 'P' AND IOPF.DAY_ID > 20160100
	LEFT JOIN dbo.FACT_IOP_TGS IOPL ON IOPL.DAY_ID = main_table.DAY_ID AND IOPL.SOURCE_TXN_ID = main_table.TRANSACTION_ID AND	IOPL.SOURCE_CODE = 'V' AND IOPL.DISPOSITION = 'P' AND IOPL.DAY_ID > 20160100

	LEFT JOIN dbo.FACT_TOLL_TRANSACTIONS TTF ON TTF.DAY_ID = main_table.DAY_ID AND TTF.SOURCE_TRXN_ID = main_table.TART_ID AND	TTF.SOURCE_CODE = 'H' AND TTF.CREDITED_FLAG = 'N' AND TTF.DAY_ID > 20160100
	LEFT JOIN dbo.FACT_TOLL_TRANSACTIONS TTL ON TTL.DAY_ID = main_table.DAY_ID AND TTL.SOURCE_TRXN_ID = main_table.TRANSACTION_ID AND	TTL.SOURCE_CODE IN ('M','O','V','W','X','Z') AND TTL.CREDITED_FLAG =  'N' AND TTL.DAY_ID > 20160100

	LEFT JOIN dbo.VPS_HOST_TRANSACTIONS VT  ON VT.DAY_ID = main_table.DAY_ID AND VT.TRANSACTION_ID = main_table.TRANSACTION_ID AND VT.MONTH_ID > 201600
	LEFT JOIN dbo.FACT_VIOLATIONS_DETAIL V  ON V.DAY_ID = main_table.DAY_ID AND V.VIOLATION_ID = main_table.VIOLATION_ID AND V.MONTH_ID > 201600
	OPTION (LABEL = 'FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET LOAD');


	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_001] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([DAY_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_002] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LANE_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_003] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LANE_VIOL_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_004] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([ACCT_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_005] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([TAG_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_006] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([VIOLATION_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_007] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([VIOLATOR_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_008] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([TRANSACTION_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_009] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([TRANSACTION_FILE_DETAIL_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_010] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([TTXN_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_011] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([AVI_TAG_STATUS]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_012] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LEVEL_0]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_013] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LEVEL_1]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_014] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LEVEL_2]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_015] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LEVEL_3]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_016] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LEVEL_4]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_017] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LEVEL_5]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_018] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LEVEL_6]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_019] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LEVEL_7]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_020] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LEVEL_8]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_021] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LEVEL_9]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_022] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LEVEL_10]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_023] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([POSTED_DAY_ID]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_024] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([SOURCE_CODE]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_025] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([DELETED]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_026] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] ([LVL_TVL]);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_027] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] (FLEET_FLAG);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_028] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] (UnPursuable_FLAG);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_029] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] (IOP_FLAG);
	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_030] ON dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] (TART_ID);

	IF OBJECT_ID('dbo.[FACT_UNIFIED_VIOLATION_HISTORY_OLD]') IS NOT NULL		DROP TABLE dbo.[FACT_UNIFIED_VIOLATION_HISTORY_OLD];
	IF OBJECT_ID('dbo.[FACT_UNIFIED_VIOLATION_HISTORY]') IS NOT NULL			RENAME OBJECT::dbo.[FACT_UNIFIED_VIOLATION_HISTORY] TO [FACT_UNIFIED_VIOLATION_HISTORY_OLD];
	IF OBJECT_ID('dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET]') IS NOT NULL		RENAME OBJECT::dbo.[FACT_UNIFIED_VIOLATION_HISTORY_NEW_SET] TO [FACT_UNIFIED_VIOLATION_HISTORY];
	IF OBJECT_ID('dbo.[FACT_UNIFIED_VIOLATION_HISTORY_OLD]') IS NOT NULL		DROP TABLE dbo.[FACT_UNIFIED_VIOLATION_HISTORY_OLD];
