CREATE PROC [DBO].[VIOL_TYPES_LOAD] AS 

-- GetFields 'VIOL_TYPES'
--    VIOL_TYPES, VIOL_TYPES_DESCR, LAST_UPDATE_DATE, LAST_UPDATE_TYPE

DECLARE @LAST_UPDATE_DATE datetime2(2) 
exec dbo.GetLoadStartDatetime 'dbo.VIOL_TYPES', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.VIOL_TYPES_STAGE')<>0
	DROP TABLE dbo.VIOL_TYPES_STAGE

CREATE TABLE dbo.VIOL_TYPES_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VIOL_TYPE)) 
AS 
-- EXPLAIN
SELECT   VIOL_TYPE, VIOL_TYPE_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[VIOL_TYPES] A
--WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'VIOL_TYPES_LOAD: VIOL_TYPES_STAGE');

CREATE STATISTICS STATS_VIOL_TYPES_STAGE_001 ON VIOL_TYPES_STAGE (VIOL_TYPE)


UPDATE dbo.VIOL_TYPES
SET  VIOL_TYPE_DESCR = B.VIOL_TYPE_DESCR
	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.VIOL_TYPES_STAGE B
WHERE 
	dbo.VIOL_TYPES.VIOL_TYPE = B.VIOL_TYPE
	AND dbo.VIOL_TYPES.VIOL_TYPE_DESCR <> B.VIOL_TYPE_DESCR 

INSERT INTO dbo.VIOL_TYPES (VIOL_TYPE, VIOL_TYPE_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT A.VIOL_TYPE, A.VIOL_TYPE_DESCR, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM dbo.VIOL_TYPES_STAGE A
LEFT JOIN dbo.VIOL_TYPES B ON A.VIOL_TYPE = B.VIOL_TYPE 
WHERE B.VIOL_TYPE IS NULL 

/*
	INSERT INTO VIOL_TYPES VALUES('-1','(Null)','I','5/19/2016')
	SELECT * FROM VIOL_TYPES

*/


