CREATE PROC [DBO].[VIOLATOR_ADDRESS_MAX_SEQ_LOAD] AS 

IF OBJECT_ID('dbo.VIOLATOR_ADDRESS_MAX_SEQ_NEW')>0
	DROP TABLE dbo.VIOLATOR_ADDRESS_MAX_SEQ_NEW

CREATE TABLE dbo.VIOLATOR_ADDRESS_MAX_SEQ_NEW WITH (DISTRIBUTION = HASH(VIOLATOR_ID), CLUSTERED INDEX (VIOLATOR_ID)) 
AS 

SELECT VA2.VIOLATOR_ID, VA2.VIOLATOR_ADDR_SEQ, VA2.CITY, VA2.STATE, VA2.ZIP_CODE, VA2.PLUS4, VA2.ADDRESS1, VA2.ADDRESS2, VA2.ADDR_STATUS
FROM DBO.VIOLATOR_ADDRESS VA2,
    (SELECT VA.VIOLATOR_ID, MAX(VA.VIOLATOR_ADDR_SEQ) VIOLATOR_ADDR_SEQ
        FROM DBO.VIOLATOR_ADDRESS VA
    GROUP BY VA.VIOLATOR_ID
    ) TMP
WHERE VA2.VIOLATOR_ID = TMP.VIOLATOR_ID AND VA2.VIOLATOR_ADDR_SEQ = TMP.VIOLATOR_ADDR_SEQ


	IF OBJECT_ID('dbo.VIOLATOR_ADDRESS_MAX_SEQ')<>0
		RENAME OBJECT::dbo.VIOLATOR_ADDRESS_MAX_SEQ TO VIOLATOR_ADDRESS_MAX_SEQ_OLD;

	RENAME OBJECT::dbo.VIOLATOR_ADDRESS_MAX_SEQ_NEW TO VIOLATOR_ADDRESS_MAX_SEQ;

	IF OBJECT_ID('dbo.VIOLATOR_ADDRESS_MAX_SEQ_OLD')>0
		DROP TABLE dbo.VIOLATOR_ADDRESS_MAX_SEQ_OLD


-- exec DropStats 'VIOLATOR_ADDRESS_MAX_SEQ' 
-- exec CreateStats 'VIOLATOR_ADDRESS_MAX_SEQ'
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_MAX_SEQ_001 ON DBO.VIOLATOR_ADDRESS_MAX_SEQ  (VIOLATOR_ID)
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_MAX_SEQ_002 ON DBO.VIOLATOR_ADDRESS_MAX_SEQ  (VIOLATOR_ID, VIOLATOR_ADDR_SEQ)
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_MAX_SEQ_003 ON DBO.VIOLATOR_ADDRESS_MAX_SEQ  (VIOLATOR_ID, ADDR_STATUS)
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_MAX_SEQ_004 ON DBO.VIOLATOR_ADDRESS_MAX_SEQ  (VIOLATOR_ID, ZIP_CODE)
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_MAX_SEQ_005 ON DBO.VIOLATOR_ADDRESS_MAX_SEQ  (VIOLATOR_ID, ADDR_STATUS)
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_MAX_SEQ_006 ON DBO.VIOLATOR_ADDRESS_MAX_SEQ  (VIOLATOR_ID, STATE)
CREATE STATISTICS STATS_VIOLATOR_ADDRESS_MAX_SEQ_007 ON DBO.VIOLATOR_ADDRESS_MAX_SEQ  (VIOLATOR_ID, CITY)




