CREATE PROC [DBO].[VIOLATIONS_DIST_ON_VIOLATION_ID_LOAD] AS 

IF OBJECT_ID('DBO.VIOLATIONS_DIST_ON_VIOLATION_ID_NEW')>0
	DROP TABLE DBO.VIOLATIONS_DIST_ON_VIOLATION_ID_NEW

CREATE TABLE DBO.VIOLATIONS_DIST_ON_VIOLATION_ID_NEW WITH (DISTRIBUTION = HASH(VIOLATION_ID))--, CLUSTERED INDEX (VIOLATOR_ID, VIOLATION_ID)) 
AS 

SELECT * 
FROM dbo.VIOLATIONS


	IF OBJECT_ID('dbo.VIOLATIONS_DIST_ON_VIOLATION_ID')>0
		RENAME OBJECT::dbo.VIOLATIONS_DIST_ON_VIOLATION_ID TO VIOLATIONS_DIST_ON_VIOLATION_ID_OLD;

	RENAME OBJECT::dbo.VIOLATIONS_DIST_ON_VIOLATION_ID_NEW TO VIOLATIONS_DIST_ON_VIOLATION_ID;

	IF OBJECT_ID('dbo.VIOLATIONS_DIST_ON_VIOLATION_ID_OLD')>0
		DROP TABLE dbo.VIOLATIONS_DIST_ON_VIOLATION_ID_OLD


		

exec DropStats 'VP_OWNER','VIOLATIONS_DIST_ON_VIOLATION_ID' 
-- exec CreateStats 'VIOLATIONS_DIST_ON_VIOLATION_ID'
CREATE STATISTICS STATS_VIOLATIONS_DIST_ON_VIOLATION_ID_001 ON DBO.VIOLATIONS_DIST_ON_VIOLATION_ID (VIOLATION_ID)
CREATE STATISTICS STATS_VIOLATIONS_DIST_ON_VIOLATION_ID_002 ON DBO.VIOLATIONS_DIST_ON_VIOLATION_ID  (VIOLATOR_ID, VIOLATION_ID)
CREATE STATISTICS STATS_VIOLATIONS_DIST_ON_VIOLATION_ID_003 ON DBO.VIOLATIONS_DIST_ON_VIOLATION_ID  (VIOLATOR_ID)
--CREATE STATISTICS STATS_VIOLATIONS_DIST_ON_VIOLATION_ID_004 ON DBO.VIOLATIONS_DIST_ON_VIOLATION_ID  (INSERT_DATE)
CREATE STATISTICS STATS_VIOLATIONS_DIST_ON_VIOLATION_ID_005 ON DBO.VIOLATIONS_DIST_ON_VIOLATION_ID  (LAST_UPDATE_DATE)
CREATE STATISTICS STATS_VIOLATIONS_DIST_ON_VIOLATION_ID_006 ON DBO.VIOLATIONS_DIST_ON_VIOLATION_ID  
	(VIOLATION_ID, VIOLATOR_ID, VIOL_TIME_ID, VIOL_DATE, LANE_ID, VIOL_STATUS, TOLL_DUE, VEHICLE_CLASS, VIOL_TYPE)


