CREATE PROC [DBO].[FACT_BUBBLE_MONTH_LOAD] AS 


DELETE --SELECT COUNT(1)
FROM FACT_BUBBLE_MONTH
WHERE ASOF_MONTH_ID in 
(
	SELECT TOP(1) YEAR(CAST(PARTITION_DATE AS DATE)) * 100 + MONTH(CAST(PARTITION_DATE AS DATE)) AS ASOF_MONTH_ID
	FROM DBO.FACT_BUBBLE_STAGE STG
	GROUP BY  YEAR(CAST(PARTITION_DATE AS DATE)) * 100 + MONTH(CAST(PARTITION_DATE AS DATE)) 
	ORDER BY 1 DESC
) 

--- ***************************************************************************
	-- BUIULD FACT BUBBLE BY MONTH -- USED BY BOARD OP METRICS
--- ***************************************************************************
INSERT INTO [dbo].[FACT_BUBBLE_MONTH] 
(
	[FACILITY_ID] , 
	[BUBL_CAT_ID] ,
	[TXN_MONTH],
	[TXN_MONTHID] , 
	[ASOF_MONTH_ID] , 
	[PARTITION_DATE] ,
	[TXN_CNT] , 
	[TXN_AMOUNT] , 
	[DAYS_TO_INVOICE_PAID] , 
	[DAYS_TO_INVOICE] , 
	[DAYS_TO_INVOICE_VTOLL] , 
	[DAYS_TO_VTOLL] , 
	[DAYS_TO_PMT],
	[BUBL_SOURCE_DESC] ,
	[INSERT_DATETIME]	
)

SELECT 
	FACILITY_ID,
	CAT.BUBL_CAT_ID ,
	DATEADD(m, DATEDIFF(m, 0, TXN_DATE), 0) AS TXN_MONTH,
	YEAR(TXN_DATE) * 100 + MONTH(TXN_DATE) AS TXN_MONTHID,
	YEAR(CAST(PARTITION_DATE AS DATE)) * 100 + MONTH(CAST(PARTITION_DATE AS DATE)) AS ASOF_MONTH_ID,
	convert(DATE,DATEADD(m, DATEDIFF(m, 0, PARTITION_DATE), 0)) AS PARTITION_DATE,
	SUM(TXN_CNT)TXN_CNT,
	SUM(REVENUE)TXN_AMOUNT,
	null as [DAYS_TO_INVOICE_PAID] , 
	null as [DAYS_TO_INVOICE] , 
	null as [DAYS_TO_INVOICE_VTOLL] , 
	null as [DAYS_TO_VTOLL] , 
	null as [DAYS_TO_PMT],
	BUBL_SOURCE_DESC,
	GETDATE() AS INSERT_DATETIME--SELECT COUNT(1) --13,028,781--10,554,493--SELECT DISTINCT STG.CATEGORY --14,028
FROM DBO.FACT_BUBBLE_STAGE STG
JOIN DIM_BUBBLE_CATEGORY CAT ON LTRIM(RTRIM(STG.CATEGORY)) = REPLACE(REPLACE(LTRIM(RTRIM(BUBL_CAT_DESC)),'*', ''), 'NMBR (52a + 52b)','Not Meeting Business Rules')
--WHERE BUBL_CAT_DESC IS NULL
JOIN DBO.DIM_LANE L ON STG.LANE_ID = L.LANE_ID
--WHERE CAT.BUBL_CAT_ID = 116
WHERE PARTITION_DATE IN 
( --'2017-02-02', '2017-03-01'
	SELECT TOP(1) PARTITION_DATE--YEAR(CAST(PARTITION_DATE AS DATE)) * 100 + MONTH(CAST(PARTITION_DATE AS DATE)) AS ASOF_MONTH_ID
	FROM DBO.FACT_BUBBLE_STAGE STG
	GROUP BY  PARTITION_DATE--YEAR(CAST(PARTITION_DATE AS DATE)) * 100 + MONTH(CAST(PARTITION_DATE AS DATE)) 
	ORDER BY 1 DESC
) 

GROUP BY  
	FACILITY_ID,
	CAT.[BUBL_CAT_ID] ,
	DATEADD(m, DATEDIFF(m, 0, TXN_DATE), 0),
	YEAR(TXN_DATE) * 100 + MONTH(TXN_DATE),
	YEAR(CAST(PARTITION_DATE AS DATE)) * 100 + MONTH(CAST(PARTITION_DATE AS DATE)),
	convert(DATE,DATEADD(m, DATEDIFF(m, 0, PARTITION_DATE), 0)),
	BUBL_SOURCE_DESC



EXEC DROPSTATS 'DBO','FACT_BUBBLE_MONTH'	
-- CREATE NEW STATISTICS
CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_001 ON DBO.FACT_BUBBLE_MONTH (FACILITY_ID)
CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_002 ON DBO.FACT_BUBBLE_MONTH (BUBL_CAT_ID)
CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_003 ON DBO.FACT_BUBBLE_MONTH (ASOF_MONTH_ID,[TXN_MONTHID])

-- DROP STAGING TABLE
-- DROP TABLE DBO.FACT_BUBBLE_STAGE 


--INSERT INTO dbo.PARTITION_AS_OF_DATE_CONTROL(PARTITION_DATE, DATA_AS_OF_DATE, KEEP_PARTITION_IND, CURRENT_IND)
--SELECT DISTINCT PARTITION_DATE,DATEADD(d,-1,PARTITION_DATE) AS DATA_AS_OF_DATE, 1, 0 
--FROM FACT_BUBBLE_MONTH A
--WHERE NOT EXISTS(SELECT * FROM dbo.PARTITION_AS_OF_DATE_CONTROL B  WHERE A.PARTITION_DATE = B.PARTITION_DATE)



