CREATE PROC [DBO].[FACT_BUBBLE_MONTH_HIST_LOAD] AS 
	
	--SELECT TABLE_SCHEMA, TABLE_NAME, ORDINAL_POSITION, COLUMN_NAME, IS_NULLABLE, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'FACT_BUBBLE_MONTH_HIST' ORDER BY ORDINAL_POSITION
	--INSERT INTO [dbo].FACT_BUBBLE_MONTH_HIST--TRUNCATE TABLE FACT_BUBBLE_MONTH_HIST
	--SELECT *, GETDATE() AS [EFFECTIVE_DATETIME], '9999-12-31' EXPIRED_DATETIME, 1 AS IS_CURRENT FROM [dbo].[FACT_BUBBLE_MONTH] 

	--STEP #1: CREATE STAGING TABLE
	IF OBJECT_ID('dbo.FACT_BUBBLE_MONTH_HIST_STAGE')>0
		DROP TABLE dbo.FACT_BUBBLE_MONTH_HIST_STAGE
	
	CREATE TABLE dbo.FACT_BUBBLE_MONTH_HIST_STAGE WITH (DISTRIBUTION = HASH([FACILITY_ID]), CLUSTERED INDEX ([FACILITY_ID] ))
	AS 	-- EXPLAIN
	SELECT *, GETDATE() AS [EFFECTIVE_DATETIME], '9999-12-31' EXPIRED_DATETIME, 1 AS IS_CURRENT
	FROM [dbo].[FACT_BUBBLE_MONTH] 
	OPTION (LABEL = 'FACT_BUBBLE_MONTH_HIST_LOAD: FACT_BUBBLE_MONTH_HIST_STAGE');

	CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_HIST_STAGE_001 ON FACT_BUBBLE_MONTH_HIST_STAGE ([FACILITY_ID], BUBL_CAT_ID, TXN_MONTH, TXN_MONTHID, ASOF_MONTH_ID, PARTITION_DATE, IS_CURRENT)

	--STEP #2: UPDATE THE MODIFIED DATA
	-- GetUpdateFields 'dbo','FACT_BUBBLE_MONTH_HIST_STAGE' --SELECT TOP 100 * FROM FACT_BUBBLE_MONTH_HIST_STAGE
	--TXN_CNT, TXN_AMOUNT, DAYS_TO_INVOICE_PAID, DAYS_TO_INVOICE, DAYS_TO_INVOICE_VTOLL, DAYS_TO_VTOLL, DAYS_TO_PMT, BUBL_SOURCE_DESC, INSERT_DATETIME, EFFECTIVE_DATETIME, EXPIRED_DATETIME, IS_CURRENT
	-- EXPLAIN
	UPDATE DBO.FACT_BUBBLE_MONTH_HIST
	SET   dbo.FACT_BUBBLE_MONTH_HIST.EXPIRED_DATETIME = GETDATE()
		, dbo.FACT_BUBBLE_MONTH_HIST.IS_CURRENT = 0
	FROM dbo.FACT_BUBBLE_MONTH_HIST_STAGE B
	WHERE 
		    dbo.FACT_BUBBLE_MONTH_HIST.FACILITY_ID = B.FACILITY_ID
		AND dbo.FACT_BUBBLE_MONTH_HIST.BUBL_CAT_ID = B.BUBL_CAT_ID
		AND dbo.FACT_BUBBLE_MONTH_HIST.TXN_MONTH = B.TXN_MONTH
		AND dbo.FACT_BUBBLE_MONTH_HIST.TXN_MONTHID = B.TXN_MONTHID
		AND dbo.FACT_BUBBLE_MONTH_HIST.ASOF_MONTH_ID = B.ASOF_MONTH_ID
		AND dbo.FACT_BUBBLE_MONTH_HIST.PARTITION_DATE = B.PARTITION_DATE
		AND dbo.FACT_BUBBLE_MONTH_HIST.IS_CURRENT = B.IS_CURRENT
		AND 
		(
			   ISNULL(dbo.FACT_BUBBLE_MONTH_HIST.TXN_CNT,0) <> ISNULL(B.TXN_CNT,0)
			OR ISNULL(dbo.FACT_BUBBLE_MONTH_HIST.TXN_AMOUNT,0) <> ISNULL(B.TXN_AMOUNT,0)
			OR ISNULL(dbo.FACT_BUBBLE_MONTH_HIST.DAYS_TO_INVOICE_PAID,0) <> ISNULL(B.DAYS_TO_INVOICE_PAID,0)
			OR ISNULL(dbo.FACT_BUBBLE_MONTH_HIST.DAYS_TO_INVOICE,0) <> ISNULL(B.DAYS_TO_INVOICE,0)
			OR ISNULL(dbo.FACT_BUBBLE_MONTH_HIST.DAYS_TO_INVOICE_VTOLL,0) <> ISNULL(B.DAYS_TO_INVOICE_VTOLL,0)
			OR ISNULL(dbo.FACT_BUBBLE_MONTH_HIST.DAYS_TO_VTOLL,0) <> ISNULL(B.DAYS_TO_VTOLL,0)
			OR ISNULL(dbo.FACT_BUBBLE_MONTH_HIST.DAYS_TO_PMT,0) <> ISNULL(B.DAYS_TO_PMT,0)
			OR ISNULL(dbo.FACT_BUBBLE_MONTH_HIST.BUBL_SOURCE_DESC,0) <> ISNULL(B.BUBL_SOURCE_DESC,0)
		)
	OPTION (LABEL = 'FACT_BUBBLE_MONTH_HIST_LOAD: UPDATE FACT_BUBBLE_MONTH_HIST');		

	--STEP #3: INSERT MISSING ONES -- GetUpdateFields 'dbo','FACT_BUBBLE_MONTH_HIST'
	INSERT INTO [dbo].[FACT_BUBBLE_MONTH_HIST] 
	-- EXPLAIN
	SELECT	FACT_BUBBLE_MONTH_HIST_STAGE.*--, GETDATE() AS UPDATE_DATETIME, '9999-12-31' EXPIRED_DATETIME, 1 AS IS_CURRENT
	FROM	[dbo].FACT_BUBBLE_MONTH_HIST_STAGE 
	LEFT JOIN [dbo].[FACT_BUBBLE_MONTH_HIST] ON
		[FACT_BUBBLE_MONTH_HIST].IS_CURRENT	   =  1
	AND	FACT_BUBBLE_MONTH_HIST_STAGE.[FACILITY_ID]	   =  [FACT_BUBBLE_MONTH_HIST].[FACILITY_ID] 
	AND FACT_BUBBLE_MONTH_HIST_STAGE.[BUBL_CAT_ID]	   =  [FACT_BUBBLE_MONTH_HIST].[BUBL_CAT_ID]
	AND FACT_BUBBLE_MONTH_HIST_STAGE.[TXN_MONTH] 	   =  [FACT_BUBBLE_MONTH_HIST].[TXN_MONTH] 
	AND FACT_BUBBLE_MONTH_HIST_STAGE.[TXN_MONTHID] 	   =  [FACT_BUBBLE_MONTH_HIST].[TXN_MONTHID] 
	AND FACT_BUBBLE_MONTH_HIST_STAGE.[ASOF_MONTH_ID]    =  [FACT_BUBBLE_MONTH_HIST].[ASOF_MONTH_ID] 
	AND FACT_BUBBLE_MONTH_HIST_STAGE.[PARTITION_DATE]   =  [FACT_BUBBLE_MONTH_HIST].[PARTITION_DATE]
	WHERE  [FACT_BUBBLE_MONTH_HIST].[FACILITY_ID] IS NULL
	OPTION (LABEL = 'FACT_BUBBLE_MONTH_HIST_LOAD: INSERTING MISSING ONES');

	--STEP #4: EXPIRE THE DELETED ONES
	IF OBJECT_ID('dbo.FACT_BUBBLE_MONTH_HIST_STAGE')>0
		DROP TABLE dbo.FACT_BUBBLE_MONTH_HIST_STAGE
	
	CREATE TABLE dbo.FACT_BUBBLE_MONTH_HIST_STAGE WITH (DISTRIBUTION = HASH([FACILITY_ID]), CLUSTERED INDEX ([FACILITY_ID] ))
	AS 	-- EXPLAIN
	SELECT [FACT_BUBBLE_MONTH_HIST].*--, GETDATE() AS [EFFECTIVE_DATETIME], '9999-12-31' EXPIRED_DATETIME, 0 AS IS_CURRENT
	FROM [dbo].[FACT_BUBBLE_MONTH_HIST]
	LEFT JOIN [dbo].[FACT_BUBBLE_MONTH]  ON
		[FACT_BUBBLE_MONTH].[FACILITY_ID]	   =  [FACT_BUBBLE_MONTH_HIST].[FACILITY_ID] 
	AND [FACT_BUBBLE_MONTH].[BUBL_CAT_ID]	   =  [FACT_BUBBLE_MONTH_HIST].[BUBL_CAT_ID]
	AND [FACT_BUBBLE_MONTH].[TXN_MONTH] 	   =  [FACT_BUBBLE_MONTH_HIST].[TXN_MONTH] 
	AND [FACT_BUBBLE_MONTH].[TXN_MONTHID] 	   =  [FACT_BUBBLE_MONTH_HIST].[TXN_MONTHID] 
	AND [FACT_BUBBLE_MONTH].[ASOF_MONTH_ID]    =  [FACT_BUBBLE_MONTH_HIST].[ASOF_MONTH_ID] 
	AND [FACT_BUBBLE_MONTH].[PARTITION_DATE]   =  [FACT_BUBBLE_MONTH_HIST].[PARTITION_DATE]
	WHERE	[FACT_BUBBLE_MONTH].[FACILITY_ID] IS NULL
	AND		[FACT_BUBBLE_MONTH_HIST].IS_CURRENT	   =  1
	OPTION (LABEL = 'FACT_BUBBLE_MONTH_HIST_LOAD: FACT_BUBBLE_MONTH_HIST_STAGE');

	CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_HIST_STAGE_001 ON FACT_BUBBLE_MONTH_HIST_STAGE ([FACILITY_ID], BUBL_CAT_ID, TXN_MONTH, TXN_MONTHID, ASOF_MONTH_ID, PARTITION_DATE, IS_CURRENT)

	UPDATE DBO.FACT_BUBBLE_MONTH_HIST
	SET   dbo.FACT_BUBBLE_MONTH_HIST.EXPIRED_DATETIME = GETDATE()
		, dbo.FACT_BUBBLE_MONTH_HIST.IS_CURRENT = 0
	FROM dbo.FACT_BUBBLE_MONTH_HIST_STAGE B
	WHERE 
		    dbo.FACT_BUBBLE_MONTH_HIST.FACILITY_ID = B.FACILITY_ID
		AND dbo.FACT_BUBBLE_MONTH_HIST.BUBL_CAT_ID = B.BUBL_CAT_ID
		AND dbo.FACT_BUBBLE_MONTH_HIST.TXN_MONTH = B.TXN_MONTH
		AND dbo.FACT_BUBBLE_MONTH_HIST.TXN_MONTHID = B.TXN_MONTHID
		AND dbo.FACT_BUBBLE_MONTH_HIST.ASOF_MONTH_ID = B.ASOF_MONTH_ID
		AND dbo.FACT_BUBBLE_MONTH_HIST.PARTITION_DATE = B.PARTITION_DATE
		AND dbo.FACT_BUBBLE_MONTH_HIST.IS_CURRENT = 1
	OPTION (LABEL = 'FACT_BUBBLE_MONTH_HIST_LOAD: EXPIRE THE DELETED ONES');

	--STEP #5: UPDATE STATISTICS 
	UPDATE STATISTICS FACT_BUBBLE_MONTH_HIST
	--CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_HIST_001 ON FACT_BUBBLE_MONTH_HIST ([FACILITY_ID])
	--CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_HIST_002 ON FACT_BUBBLE_MONTH_HIST (BUBL_CAT_ID)
	--CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_HIST_003 ON FACT_BUBBLE_MONTH_HIST (TXN_MONTH)
	--CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_HIST_004 ON FACT_BUBBLE_MONTH_HIST (ASOF_MONTH_ID)
	--CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_HIST_005 ON FACT_BUBBLE_MONTH_HIST (TXN_MONTHID)
	--CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_HIST_006 ON FACT_BUBBLE_MONTH_HIST (PARTITION_DATE)
	--CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_HIST_007 ON FACT_BUBBLE_MONTH_HIST (IS_CURRENT)
	--CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_HIST_008 ON FACT_BUBBLE_MONTH_HIST ([EFFECTIVE_DATETIME])
	--CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_HIST_009 ON FACT_BUBBLE_MONTH_HIST (EXPIRED_DATETIME)
	--CREATE STATISTICS STATS_FACT_BUBBLE_MONTH_HIST_010 ON FACT_BUBBLE_MONTH_HIST ([FACILITY_ID], BUBL_CAT_ID, TXN_MONTH, TXN_MONTHID, ASOF_MONTH_ID, PARTITION_DATE, IS_CURRENT,[EFFECTIVE_DATETIME], EXPIRED_DATETIME)
	--SELECT * FROM FACT_BUBBLE_MONTH;
	--SELECT IS_CURRENT, COUNT(1) FROM FACT_BUBBLE_MONTH_HIST GROUP BY IS_CURRENT;


