CREATE PROC [DBO].[ADDRESS_SOURCES_LOAD] AS 

--DECLARE @LAST_UPDATE_DATE datetime2(2) 
--exec dbo.GetLoadStartDatetime 'dbo.ADDRESS_SOURCES', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.ADDRESS_SOURCES_STAGE')<>0
	DROP TABLE dbo.ADDRESS_SOURCES_STAGE

CREATE TABLE dbo.ADDRESS_SOURCES_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ADDR_SOURCE)) 
AS 
-- EXPLAIN
SELECT A.ADDR_SOURCE, A.ADDR_SOURCE_DESCR, A.LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[ADDRESS_SOURCES] A
OPTION (LABEL = 'ADDRESS_SOURCES_LOAD: ADDRESS_SOURCES_STAGE');

CREATE STATISTICS STATS_ADDRESS_SOURCES_STAGE_001 ON ADDRESS_SOURCES_STAGE (ADDR_SOURCE)


UPDATE dbo.ADDRESS_SOURCES
SET  ADDR_SOURCE_DESCR = B.ADDR_SOURCE_DESCR
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.ADDRESS_SOURCES_STAGE B
WHERE 
	dbo.ADDRESS_SOURCES.ADDR_SOURCE = B.ADDR_SOURCE
	AND 
	dbo.ADDRESS_SOURCES.ADDR_SOURCE_DESCR <> B.ADDR_SOURCE_DESCR

INSERT INTO dbo.ADDRESS_SOURCES (ADDR_SOURCE, ADDR_SOURCE_DESCR, INSERT_DATE, LAST_UPDATE_DATE)
SELECT A.ADDR_SOURCE, A.ADDR_SOURCE_DESCR, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.ADDRESS_SOURCES_STAGE A
LEFT JOIN dbo.ADDRESS_SOURCES B ON A.ADDR_SOURCE = B.ADDR_SOURCE
WHERE B.ADDR_SOURCE IS NULL



