CREATE PROC [DBO].[PAYMENT_XREF_VPS_LOAD] AS

-- EXEC EDW_RITE.DBO.PAYMENT_XREF_VPS_LOAD
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.PAYMENT_XREF_VPS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.PAYMENT_XREF_VPS_LOAD
GO

*/

/*	SELECT TOP 100 * FROM PAYMENT_XREF_VPS */  
/*	SELECT COUNT_BIG(1) FROM PAYMENT_XREF_VPS -- 22 772 914 */  
/*

INSERT INTO dbo.PAYMENT_XREF_VPS
	(	 	  
	VIOLATOR_ID, PAYMENT_XREF_ID, PAYMENT_LINE_ITEM_ID, VIOLATION_ID, SPLIT_AMOUNT, VIOL_INVOICE_ID, PAYMENT_STATUS,
	TRANSACTION_TYPE, VBI_VBI_INVOICE_ID, INSERT_DATETIME, LAST_UPDATE_DATE
	)
	VALUES
	(-1,-1,-1,-1,0,-1,'','',-1,'2000-01-01','2000-01-01')

*/

DECLARE @LAST_UPDATE_DATE datetime2(2) 
EXEC dbo.GetLoadStartDatetime 'dbo.PAYMENT_XREF_VPS', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.PAYMENT_XREF_VPS_STAGE')>0	DROP TABLE dbo.PAYMENT_XREF_VPS_STAGE

CREATE TABLE dbo.PAYMENT_XREF_VPS_STAGE WITH (CLUSTERED INDEX(PAYMENT_XREF_ID), DISTRIBUTION = HASH(PAYMENT_XREF_ID)) AS 
-- EXPLAIN
SELECT 
	   --convert(bigint,ISNULL(C.VIOLATOR_ID,(A.PAYMENT_LINE_ITEM_ID%100000)*-1)) AS VIOLATOR_ID
	 convert(bigint,A.PAYMENT_XREF_ID) AS PAYMENT_XREF_ID, A.PAYMENT_LINE_ITEM_ID
	 ,convert(bigint,A.VIOLATION_ID) AS VIOLATION_ID, A.SPLIT_AMOUNT, A.VIOL_INVOICE_ID
	 ,A.PAYMENT_STATUS, A.TRANSACTION_TYPE, A.VBI_VBI_INVOICE_ID
	 ,A.LAST_UPDATE_DATE AS INSERT_DATETIME
	 ,A.LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].PAYMENT_XREF A
--INNER JOIN LND_LG_VPS.[VP_OWNER].PAYMENT_LINE_ITEMS B ON A.PAYMENT_LINE_ITEM_ID = B.PAYMENT_LINE_ITEM_ID
--INNER JOIN LND_LG_VPS.[VP_OWNER].PAYMENTS C ON B.PAYMENT_TXN_ID = C.PAYMENT_TXN_ID
WHERE A.LAST_UPDATE_DATE >= @LAST_UPDATE_DATE 
OPTION (LABEL = 'PAYMENT_XREF_VPS_LOAD: PAYMENT_XREF_VPS_STAGE');

--CREATE STATISTICS STATS_PAYMENT_XREF_VPS_STAGE_001 ON PAYMENT_XREF_VPS_STAGE (VIOLATOR_ID, PAYMENT_XREF_ID)

IF OBJECT_ID('dbo.PAYMENT_XREF_VPS_NEW_STAGE')>0 	DROP TABLE dbo.PAYMENT_XREF_VPS_NEW_STAGE

CREATE TABLE dbo.PAYMENT_XREF_VPS_NEW_STAGE WITH (CLUSTERED INDEX(PAYMENT_XREF_ID), DISTRIBUTION = HASH(PAYMENT_XREF_ID)) AS    
SELECT	
	PAYMENT_XREF_ID, PAYMENT_LINE_ITEM_ID, VIOLATION_ID, VIOL_INVOICE_ID, VBI_VBI_INVOICE_ID, 
	PAYMENT_STATUS, TRANSACTION_TYPE, SPLIT_AMOUNT, INSERT_DATETIME, LAST_UPDATE_DATE
FROM dbo.PAYMENT_XREF_VPS AS F 
WHERE	NOT EXISTS (SELECT 1 FROM dbo.PAYMENT_XREF_VPS_STAGE AS NSET WHERE NSET.PAYMENT_XREF_ID = F.PAYMENT_XREF_ID) 
  UNION ALL 
SELECT	
	PAYMENT_XREF_ID, PAYMENT_LINE_ITEM_ID, VIOLATION_ID, VIOL_INVOICE_ID, VBI_VBI_INVOICE_ID, 
	PAYMENT_STATUS, TRANSACTION_TYPE, SPLIT_AMOUNT, INSERT_DATETIME, LAST_UPDATE_DATE
FROM dbo.PAYMENT_XREF_VPS_STAGE AS N
OPTION (LABEL = 'PAYMENT_XREF_VPS_LOAD: INSERT/UPDATE');

CREATE STATISTICS [STATS_PAYMENT_XREF_VPS_001] ON [dbo].PAYMENT_XREF_VPS_NEW_STAGE (PAYMENT_LINE_ITEM_ID);
CREATE STATISTICS [STATS_PAYMENT_XREF_VPS_002] ON [dbo].PAYMENT_XREF_VPS_NEW_STAGE (VIOLATION_ID);
CREATE STATISTICS [STATS_PAYMENT_XREF_VPS_003] ON [dbo].PAYMENT_XREF_VPS_NEW_STAGE (VIOL_INVOICE_ID);
CREATE STATISTICS [STATS_PAYMENT_XREF_VPS_004] ON [dbo].PAYMENT_XREF_VPS_NEW_STAGE (VBI_VBI_INVOICE_ID);
CREATE STATISTICS [STATS_PAYMENT_XREF_VPS_005] ON [dbo].PAYMENT_XREF_VPS_NEW_STAGE (PAYMENT_STATUS);
CREATE STATISTICS [STATS_PAYMENT_XREF_VPS_006] ON [dbo].PAYMENT_XREF_VPS_NEW_STAGE (TRANSACTION_TYPE);

--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.PAYMENT_XREF_VPS_OLD')>0 	DROP TABLE dbo.PAYMENT_XREF_VPS_OLD;
IF OBJECT_ID('dbo.PAYMENT_XREF_VPS')>0		RENAME OBJECT::dbo.PAYMENT_XREF_VPS TO PAYMENT_XREF_VPS_OLD;
RENAME OBJECT::dbo.PAYMENT_XREF_VPS_NEW_STAGE TO PAYMENT_XREF_VPS;
IF OBJECT_ID('dbo.PAYMENT_XREF_VPS_OLD')>0 	DROP TABLE dbo.PAYMENT_XREF_VPS_OLD;

--CREATE STATISTICS [STATS_PAYMENT_XREF_VPS_001] ON [dbo].[PAYMENT_XREF_VPS] ([VIOLATOR_ID]);
--CREATE STATISTICS [STATS_PAYMENT_XREF_VPS_002] ON [dbo].[PAYMENT_XREF_VPS] ([PAYMENT_XREF_ID]);
--CREATE STATISTICS [STATS_PAYMENT_XREF_VPS_003] ON [dbo].[PAYMENT_XREF_VPS] ([VIOLATOR_ID], [PAYMENT_LINE_ITEM_ID]);
--CREATE STATISTICS [STATS_PAYMENT_XREF_VPS_004] ON [dbo].[PAYMENT_XREF_VPS] ([VIOLATOR_ID], [PAYMENT_LINE_ITEM_ID], [VIOL_INVOICE_ID]);
--CREATE STATISTICS [STATS_PAYMENT_XREF_VPS_005] ON [dbo].[PAYMENT_XREF_VPS] ([VIOLATOR_ID], [PAYMENT_LINE_ITEM_ID], [VBI_VBI_INVOICE_ID]);
--CREATE STATISTICS [STATS_PAYMENT_XREF_VPS_006] ON [dbo].[PAYMENT_XREF_VPS] ([VIOLATOR_ID], [PAYMENT_LINE_ITEM_ID], [VIOLATION_ID]);

IF OBJECT_ID('dbo.PAYMENT_XREF_VPS_STAGE')>0 	DROP TABLE dbo.PAYMENT_XREF_VPS_STAGE



-- GetFields 'PAYMENT_XREF_VPS'
-- GetUpdateFields 'PAYMENT_XREF_VPS'
-- EXPLAIN
/*

UPDATE DBO.PAYMENT_XREF_VPS
SET   
	  
	  dbo.PAYMENT_XREF_VPS.PAYMENT_LINE_ITEM_ID = B.PAYMENT_LINE_ITEM_ID
	, dbo.PAYMENT_XREF_VPS.VIOLATION_ID = B.VIOLATION_ID
	, dbo.PAYMENT_XREF_VPS.SPLIT_AMOUNT = B.SPLIT_AMOUNT
	, dbo.PAYMENT_XREF_VPS.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
	, dbo.PAYMENT_XREF_VPS.PAYMENT_STATUS = B.PAYMENT_STATUS
	, dbo.PAYMENT_XREF_VPS.TRANSACTION_TYPE = B.TRANSACTION_TYPE	
	, dbo.PAYMENT_XREF_VPS.VBI_VBI_INVOICE_ID = B.VBI_VBI_INVOICE_ID
	, dbo.PAYMENT_XREF_VPS.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.PAYMENT_XREF_VPS_STAGE B
WHERE DBO.PAYMENT_XREF_VPS.VIOLATOR_ID = B.VIOLATOR_ID AND DBO.PAYMENT_XREF_VPS.PAYMENT_XREF_ID = B.PAYMENT_XREF_ID 
	AND 
		(
			   dbo.PAYMENT_XREF_VPS.PAYMENT_LINE_ITEM_ID <> B.PAYMENT_LINE_ITEM_ID
			OR dbo.PAYMENT_XREF_VPS.VIOLATION_ID <> B.VIOLATION_ID
			OR dbo.PAYMENT_XREF_VPS.SPLIT_AMOUNT <> B.SPLIT_AMOUNT
			OR ISNULL(dbo.PAYMENT_XREF_VPS.VIOL_INVOICE_ID,-1) <> ISNULL(B.VIOL_INVOICE_ID,-1)
			OR dbo.PAYMENT_XREF_VPS.PAYMENT_STATUS <> B.PAYMENT_STATUS
			OR dbo.PAYMENT_XREF_VPS.TRANSACTION_TYPE <> B.TRANSACTION_TYPE			
			OR ISNULL(dbo.PAYMENT_XREF_VPS.VBI_VBI_INVOICE_ID,-1) <> ISNULL(B.VBI_VBI_INVOICE_ID,-1)
		)
--	AND B.LAST_UPDATE_TYPE = 'U'
OPTION (LABEL = 'PAYMENT_XREF_VPS_LOAD: UPDATE PAYMENT_XREF_VPS');		


	 
-- GetFields 'PAYMENT_XREF_VPS'
-- EXPLAIN 
INSERT INTO DBO.PAYMENT_XREF_VPS
(
		  VIOLATOR_ID, PAYMENT_XREF_ID , PAYMENT_LINE_ITEM_ID
		, VIOLATION_ID, SPLIT_AMOUNT, VIOL_INVOICE_ID, PAYMENT_STATUS, TRANSACTION_TYPE
		, VBI_VBI_INVOICE_ID
		, INSERT_DATETIME, LAST_UPDATE_DATE
	)
SELECT 
		  A.VIOLATOR_ID, A.PAYMENT_XREF_ID , A.PAYMENT_LINE_ITEM_ID
		, A.VIOLATION_ID, A.SPLIT_AMOUNT, A.VIOL_INVOICE_ID, A.PAYMENT_STATUS, A.TRANSACTION_TYPE
		, A.VBI_VBI_INVOICE_ID
		, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.PAYMENT_XREF_VPS_STAGE A
LEFT JOIN dbo.PAYMENT_XREF_VPS B ON A.VIOLATOR_ID = B.VIOLATOR_ID AND A.PAYMENT_XREF_ID = B.PAYMENT_XREF_ID 
WHERE B.VIOLATOR_ID IS NULL AND B.PAYMENT_XREF_ID IS NULL
OPTION (LABEL = 'PAYMENT_XREF_VPS_LOAD: INSERT PAYMENT_XREF_VPS');		

IF OBJECT_ID('dbo.PAYMENT_XREF_VPS_STAGE')>0
	DROP TABLE dbo.PAYMENT_XREF_VPS_STAGE
*/


