CREATE PROC [DBO].[FACT_VIOLATIONS_DMV_STATUS_DETAIL_LOAD_INCR] @LOAD_CONTROL_DATE [DATETIME2](2) AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_VIOLATIONS_DMV_STATUS_DETAIL_LOAD_INCR') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_VIOLATIONS_DMV_STATUS_DETAIL_LOAD_INCR
GO

DECLARE @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT, @LOAD_CONTROL_DATE DATETIME2(2) 
SET @LOG_START_DATE = GETDATE()
IF @LOAD_CONTROL_DATE IS NULL 
BEGIN
	SET @LOAD_CONTROL_DATE = CAST(LEFT(CONVERT(VARCHAR(8), @LOG_START_DATE, 112), 6) + '01' AS DATETIME2(2)) 
END

EXEC DBO.FACT_VIOLATIONS_DMV_STATUS_DETAIL_LOAD_INCR @LOAD_CONTROL_DATE

SELECT COUNT_BIG(1) FROM dbo.FACT_VIOLATIONS_DMV_STATUS_DETAIL  -- 367603398

SELECT TOP 100 * FROM FACT_VIOLATIONS_DMV_STATUS_DETAIL; 

SELECT  TOP 100
	VIOLATION_ID,DAY_ID,MONTH_ID,LANE_ID,VCLY_ID,VEHICLE_CLASS,DMV_STS,BUSINESS_TYPE,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,TOLL_DUE,TOLL_PAID
FROM dbo.FACT_VIOLATIONS_DMV_STATUS_DETAIL

SELECT * FROM edw_rite.dbo.PROCESS_LOG 
WHERE LOG_SOURCE = 'FACT_VIOLATIONS_DMV_STATUS_DETAIL' AND LOG_DATE > '2019-09-01 8:00:00'
ORDER BY LOG_SOURCE, LOG_DATE

*/


--#1	Shankar Metla	2018-09-08	CREATED
--#2	Andy Filipps	2018-10-02	Full rewrite for a new approach to avoid full month load

DECLARE @LOG_START_DATE DATETIME2(2) = GETDATE(), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT 
DECLARE @sql VARCHAR(MAX)
DECLARE @TABLE_NAME VARCHAR(100) = 'FACT_VIOLATIONS_DMV_STATUS_DETAIL'

DECLARE @FULL_RELOAD BIT  
SELECT @FULL_RELOAD = CASE WHEN C.column_id IS NULL THEN 1 ELSE 0 END FROM sys.tables t LEFT JOIN sys.columns c ON c.object_id = t.object_id AND c.name = 'LICENSE_PLATE_ID' WHERE t.name = @TABLE_NAME

IF @FULL_RELOAD = 1 
BEGIN

	DECLARE @NEW_TABLE_NAME VARCHAR(100) = @TABLE_NAME + '_NEW_SET'
	DECLARE @PART_RANGES VARCHAR(MAX) = ''
	--EXEC DBO.GET_PARTITION_MONTH_RANGE_STRING @PART_RANGES OUTPUT
	EXEC DBO.GET_PARTITION_DAYID_RANGE_STRING @PART_RANGES OUTPUT
	--PRINT @PART_RANGES
	IF OBJECT_ID('dbo.FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET

	SET @sql = '
	CREATE TABLE dbo.[FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET] WITH (CLUSTERED INDEX ( [VIOLATION_ID] ), DISTRIBUTION = HASH([VIOLATION_ID]), PARTITION (DAY_ID RANGE RIGHT FOR VALUES (' + @PART_RANGES + '))) AS
	SELECT 
			 ISNULL(CAST(main_table.[VIOLATION_ID] AS bigint), 0) AS [VIOLATION_ID]
			, CAST(main_table.[DAY_ID] AS int) AS [DAY_ID]
			, CAST(main_table.[DAY_ID] / 100 AS int) AS MONTH_ID
			, ISNULL(CAST(main_table.[LANE_ID] AS INT), 0) AS [LANE_ID]
			, ISNULL(CAST(main_table.[VCLY_ID] AS SMALLINT), 0) AS [VCLY_ID]
			, ISNULL(CAST(main_table.[VEHICLE_CLASS] AS numeric(2,0)), 0) AS [VEHICLE_CLASS]
			, CAST(main_table.[DMV_STS] AS varchar(10)) AS [DMV_STS]
			, ISNULL(CAST(main_table.[BUSINESS_TYPE] AS varchar(1)), '''') AS [BUSINESS_TYPE]
			, ISNULL(LP.LICENSE_PLATE_ID,-1)  AS LICENSE_PLATE_ID
			, ISNULL(CAST(main_table.[LIC_PLATE_NBR] AS varchar(15)), '''') AS [LIC_PLATE_NBR]
			, ISNULL(CAST(main_table.[LIC_PLATE_STATE] AS varchar(3)), '''') AS [LIC_PLATE_STATE]
			, ISNULL(CAST(main_table.[TOLL_DUE] AS decimal(9,2)), 0) AS [TOLL_DUE]
			, ISNULL(CAST(main_table.[TOLL_PAID] AS decimal(9,2)), 0) AS [TOLL_PAID]
	FROM dbo.[FACT_VIOLATIONS_DMV_STATUS_DETAIL] AS main_table
	LEFT JOIN dbo.DIM_LICENSE_PLATE LP ON  LP.LICENSE_PLATE_NBR = main_table.LIC_PLATE_NBR AND LP.LICENSE_PLATE_STATE = main_table.LIC_PLATE_STATE
	OPTION (LABEL = ''FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET LOAD'');'

	EXEC (@sql)
	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DMV_STATUS_DETAIL_001] ON dbo.[FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET] ([DAY_ID]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DMV_STATUS_DETAIL_002] ON dbo.[FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET] ([LANE_ID],[DAY_ID]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DMV_STATUS_DETAIL_003] ON dbo.[FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET] ([DMV_STS]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DMV_STATUS_DETAIL_004] ON dbo.[FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET] ([BUSINESS_TYPE]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DMV_STATUS_DETAIL_005] ON dbo.[FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET] ([VEHICLE_CLASS]);
	CREATE STATISTICS [STATS_FACT_VIOLATIONS_DMV_STATUS_DETAIL_006] ON dbo.[FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET] (MONTH_ID,DAY_ID,VIOLATION_ID);

	SET @sql = '
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_PREV]'') IS NOT NULL		DROP TABLE dbo.[' + @TABLE_NAME + '_PREV];
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + ']'') IS NOT NULL			RENAME OBJECT::dbo.[' + @TABLE_NAME + '] TO [' + @TABLE_NAME + '_PREV];
	IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_NEW_SET]'') IS NOT NULL	RENAME OBJECT::dbo.[' + @TABLE_NAME + '_NEW_SET] TO [' + @TABLE_NAME + '];'
	EXEC (@sql)

	SET  @LOG_MESSAGE = 'Complete Full reload of the Table with a new column <<LICENSE_PLATE_ID>>'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

END

---- !!!!!!!!!!!!!!!!!!!!! TESTING ONLY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
--SET @LOAD_CONTROL_DATE = CAST('2018-09-01 00:00:00.00' AS DATETIME2(2)) 
---- !!!!!!!!!!!!!!!!!!!!! TESTING ONLY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

--PRINT @LOAD_CONTROL_DATE

-- STEP 2: Initiate LOG
SELECT  @LOG_MESSAGE = 'Started to load updates from ' + CONVERT(VARCHAR(19),@LOAD_CONTROL_DATE,121)
EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL

-- STEP 3: Get maximum Partition and it's baundry value
--DECLARE @NEW_LOAD_CONTROL_DATE DATETIME2(2)

--SELECT	@NEW_LOAD_CONTROL_DATE = LAST_RUN_DATE FROM	dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = @TABLE_NAME
--IF @NEW_LOAD_CONTROL_DATE IS NULL 
--BEGIN
--	SET @NEW_LOAD_CONTROL_DATE = CAST('1990-01-01' AS DATETIME2(2)) 
--END

--IF @NEW_LOAD_CONTROL_DATE < @LOAD_CONTROL_DATE
--BEGIN
--	SET @LOAD_CONTROL_DATE = @NEW_LOAD_CONTROL_DATE 
--END

--EXEC DBO.PARTITION_MANAGE_MONTHLY_LOAD @TABLE_NAME

--STEP #7: -- Getting all changes to a new table
IF OBJECT_ID('dbo.FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET') IS NULL
BEGIN
	CREATE TABLE dbo.FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET WITH (CLUSTERED INDEX (VIOLATION_ID), DISTRIBUTION = HASH(VIOLATION_ID)) AS
	WITH VT AS
	(
		SELECT DISTINCT 
			V.VIOLATION_ID
			,V.DAY_ID
			,V.VIOL_DATE
			,V.LANE_ID
			,ISNULL(CT.VCLY_ID, -1) VCLY_ID
			,V.VEHICLE_CLASS
			,V.TOLL_DUE
			,V.TOLL_PAID
			,ISNULL(LP.LICENSE_PLATE_ID,-1)  AS LICENSE_PLATE_ID
			,V.LIC_PLATE_NBR
			,V.LIC_PLATE_STATE
			,V.VIOL_STATUS
			,V.VIOLATOR_ID
			,ISNULL(CASE 
				WHEN V.ORIGIN_TYPE = 'F'
					THEN 'Z'
				ELSE V.ORIGIN_TYPE
				END, - 1) BUSINESS_TYPE
			,MIN(CASE 
					WHEN P.LIC_PLATE_NBR IS NULL
						THEN 'NDMV'
					WHEN P.START_DATE IS NOT NULL AND (V.VIOL_DATE BETWEEN P.START_DATE AND COALESCE(P.END_DATE, GETDATE()))
						THEN 'IN-DMV'
					ELSE 'NV-TIME'
					END) OVER (PARTITION BY VIOLATION_ID) DMV_STS --SELECT COUNT(1) 
		FROM dbo.VP_OWNER_VIOLATIONS_LAST_CHANGES V --LND_LG_VPS.VP_OWNER.VIOLATIONS V  
		LEFT JOIN dbo.DIM_VEH_CLSS_TYPES CT ON V.VEHICLE_CLASS = CT.[AXLES]
		LEFT JOIN LND_LG_DMV.DMVLD.PLATES P ON V.LIC_PLATE_NBR = P.LIC_PLATE_NBR
			AND V.LIC_PLATE_STATE = P.LIC_PLATE_STATE  
		LEFT JOIN dbo.DIM_LICENSE_PLATE LP ON  LP.LICENSE_PLATE_NBR = V.LIC_PLATE_NBR AND LP.LICENSE_PLATE_STATE = V.LIC_PLATE_STATE
		WHERE V.VIOL_STATUS IN ('T','I','ZI','ZH','WJ','A') --AND V.LAST_UPDATE_DATE >= @LOAD_CONTROL_DATE
	)
	SELECT VIOLATION_ID
		,DAY_ID
		,DAY_ID / 100 AS MONTH_ID
		,LANE_ID
		,VCLY_ID
		,VEHICLE_CLASS
		,'LP-' + (
			CASE 
				WHEN DMV_STS IN ('NDMV','NV-TIME')
					THEN DMV_STS
				WHEN EXISTS (SELECT COUNT(1)
						FROM LND_LG_VPS.VP_OWNER.VIOLATORS VR
						WHERE VR.LIC_PLATE_NBR = VT.LIC_PLATE_NBR AND VR.LIC_PLATE_STATE = VT.LIC_PLATE_STATE AND (VT.VIOL_DATE BETWEEN VR.USAGE_BEGIN_DATE AND COALESCE(VR.USAGE_END_DATE, GETDATE()))
						HAVING COUNT(1) > 1)
					THEN 'M-VLTR'
				ELSE 'OTHER'
				END
			) DMV_STS
		,BUSINESS_TYPE
		,LICENSE_PLATE_ID
		,LIC_PLATE_NBR
		,LIC_PLATE_STATE
		,TOLL_DUE
		,TOLL_PAID
	FROM VT
	WHERE VT.VIOL_STATUS IN ('ZH','WJ','A') AND VT.VIOLATOR_ID = -1 AND VT.LIC_PLATE_STATE = 'TX'

	UNION ALL

	SELECT VIOLATION_ID
		,DAY_ID
		,DAY_ID / 100 AS MONTH_ID
		,LANE_ID
		,VCLY_ID
		,VEHICLE_CLASS
		,ISNULL('VIOL-' + CASE 
				WHEN VIOL_STATUS = 'T'
					THEN 'VTOLL'
				WHEN VIOL_STATUS = 'I'
					THEN 'VI'
				WHEN VIOL_STATUS = 'ZI'
					THEN 'INV'
				ELSE  
					CASE 
						WHEN VIOLATOR_ID = -1
							THEN CASE 
									WHEN LIC_PLATE_STATE = 'TX'
										THEN LIC_PLATE_STATE
									ELSE 'NTX'
									END
						ELSE 'M-DMV'
						END  
				END, - 1) DMV_STS
		,BUSINESS_TYPE
		,LICENSE_PLATE_ID
		,LIC_PLATE_NBR
		,LIC_PLATE_STATE
		,TOLL_DUE
		,TOLL_PAID --SELECT TOP (100) *
	FROM VT
	OPTION (LABEL = 'FACT_VIOLATIONS_DMV_STATUS_DETAIL LOAD');

	-- Logging
	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got all changed rows:'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

END 
ELSE
BEGIN
	SET  @LOG_MESSAGE = 'The Main query Stage table founded - no need to load again.'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL
END 

--
--DECLARE @SQL_SELECT VARCHAR(8000) = '
--	VIOLATION_ID,DAY_ID,MONTH_ID,LANE_ID,VCLY_ID,VEHICLE_CLASS,DMV_STS,BUSINESS_TYPE,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,TOLL_DUE,TOLL_PAID'

DECLARE @IDENTITY_COLUMNS VARCHAR(8000) = '[VIOLATION_ID]'

--EXEC DBO.PARTITION_SWITCH_NUMBER_BASED_LOAD @TABLE_NAME,	@IDENTITY_COLUMNS
BEGIN TRY
	EXEC DBO.PARTITION_SWITCH_MONTHLY_LOAD @TABLE_NAME,	@IDENTITY_COLUMNS
	SET  @LOG_MESSAGE = 'PARTITION_SWITCH Finisfed'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL
END	TRY	
BEGIN CATCH
	SELECT @LOG_MESSAGE = ERROR_MESSAGE();  
	SET @LOG_MESSAGE = 'PARTITION_SWITCH FAILED: ' + @LOG_MESSAGE
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  -1
END CATCH

--STEP #13: UPDATE STATISTICS and delete temp tables
UPDATE STATISTICS [dbo].FACT_VIOLATIONS_DMV_STATUS_DETAIL  

--SELECT @LOAD_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_DMV.DMVLD.PLATES

--UPDATE dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @LOAD_CONTROL_DATE WHERE TABLE_NAME = @TABLE_NAME
SET  @LOG_MESSAGE = 'INCR load finished'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL


IF OBJECT_ID('dbo.FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_VIOLATIONS_DMV_STATUS_DETAIL_NEW_SET


