CREATE PROC [DBO].[FACT_VIOLATION_SET_INVOICE_COUNTS] AS 

/*
	SELECT PARTITION_DATE FROM PARTITION_AS_OF_DATE_CONTROL

*/
--DECLARE @PARTITION_DATE date = GETDATE()
--DECLARE @PARTITION_DATE date = '2016-02-27'
--DECLARE @PARTITION_DATE date = '2016-03-02'


---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
---- ---- ---- UPDATE  VBI_INVOICE_COUNT_FLAG ------ ---- ---- ---- 
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----

IF OBJECT_ID('dbo.FACT_VIOLATION_VBI_INV_UPDATE_COUNT_STAGE')>0
	DROP TABLE dbo.FACT_VIOLATION_VBI_INV_UPDATE_COUNT_STAGE

CREATE TABLE dbo.FACT_VIOLATION_VBI_INV_UPDATE_COUNT_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))--, CLUSTERED INDEX (VIOLATOR_ID, VIOLATION_ID)) 
AS 

SELECT A.VIOLATOR_ID, A.VIOLATION_ID, A.VBI_INVOICE_ID, MAX(A.VIOLATION_LIFE_ROWNUM) AS VIOLATION_LIFE_ROWNUM
FROM FACT_VIOLATION A
INNER JOIN 
(
	SELECT VIOLATOR_ID, MAX(VIOLATION_ID) AS VIOLATION_ID, VBI_INVOICE_ID
	FROM FACT_VIOLATION A
	WHERE VBI_INVOICE_ID >-1 AND LOAD_CATEGORY_ID <> 7
	GROUP BY VIOLATOR_ID, VBI_INVOICE_ID
) B  ON A.VIOLATOR_ID = B.VIOLATOR_ID AND A.VIOLATION_ID = B.VIOLATION_ID AND A.VBI_INVOICE_ID = B.VBI_INVOICE_ID 
GROUP BY A.VIOLATOR_ID, A.VIOLATION_ID, A.VBI_INVOICE_ID


CREATE STATISTICS STATS_FACT_VIOLATION_VBI_INV_UPDATE_COUNT_STAGE_001 ON [dbo].FACT_VIOLATION_VBI_INV_UPDATE_COUNT_STAGE (VIOLATOR_ID, VIOLATION_ID, VBI_INVOICE_ID, VIOLATION_LIFE_ROWNUM)


/*
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	-- -- CHECK FOR DUPS IN SET -- -- -- -- -- -- 
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	SELECT VIOLATOR_ID, VBI_INVOICE_ID, COUNT(*)
	FROM FACT_VIOLATION_VBI_INV_UPDATE_COUNT_STAGE
	GROUP BY VIOLATOR_ID, VBI_INVOICE_ID
	HAVING COUNT(*)>1

	SELECT * FROM FACT_VIOLATION_VBI_INV_UPDATE_COUNT_STAGE 
	WHERE VIOLATOR_ID = 786258126 AND VBI_INVOICE_ID = 66135507

	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	-- -- CHECK MISSING IN SET -- -- -- -- -- -- 
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	SELECT --COUNT(*) 
		A.VIOLATOR_ID, A.VBI_INVOICE_ID, A.LOAD_CATEGORY_ID
	FROM FACT_VIOLATION A
	LEFT JOIN FACT_VIOLATION_VBI_INV_UPDATE_COUNT_STAGE B 
	ON A.VIOLATOR_ID = B.VIOLATOR_ID AND A.VBI_INVOICE_ID = B.VBI_INVOICE_ID 
	WHERE B.VIOLATOR_ID IS NULL AND B.VBI_INVOICE_ID IS NULL 
		AND A.LOAD_CATEGORY_ID <> 7


*/

UPDATE FACT_VIOLATION
	SET VBI_INVOICE_COUNT_FLAG = 1

FROM FACT_VIOLATION_VBI_INV_UPDATE_COUNT_STAGE B
WHERE 
		FACT_VIOLATION.VIOLATOR_ID = B.VIOLATOR_ID 
	AND FACT_VIOLATION.VIOLATION_ID = B.VIOLATION_ID
	AND FACT_VIOLATION.VBI_INVOICE_ID = B.VBI_INVOICE_ID
	AND FACT_VIOLATION.VIOLATION_LIFE_ROWNUM = B.VIOLATION_LIFE_ROWNUM

IF OBJECT_ID('dbo.FACT_VIOLATION_VBI_INV_UPDATE_COUNT_STAGE')>0
	DROP TABLE dbo.FACT_VIOLATION_VBI_INV_UPDATE_COUNT_STAGE

---- ---- ---- ---- ---- ---- ---- ---- ---- ---- 
---- ---- ---- CHECK FOR MISSING MARKS
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- 
/*
	*******************************************
	********* TODO USE AS A DATAMONITOR *******
	*******************************************
	SELECT COUNT(*), SUM(Rwcnt) as SUMRwcnt
	FROM 
	(
		SELECT TOP 100 
				VIOLATOR_ID, VBI_INVOICE_ID, SUM(VBI_INVOICE_COUNT_FLAG) as VBI_INV_COUNT, COUNT(*) as Rwcnt
		FROM FACT_VIOLATION
		WHERE LOAD_CATEGORY_ID <> 7 
		AND VIOL_INVOICE_ID > 1 
		AND PARTITION_DATE = (SELECT MAX(PARTITION_DATE) FROM FACT_VIOLATION) 
		GROUP BY VIOLATOR_ID, VBI_INVOICE_ID
		HAVING SUM(VBI_INVOICE_COUNT_FLAG) > 1 OR SUM(VBI_INVOICE_COUNT_FLAG) = 0 
		ORDER BY VIOLATOR_ID, VBI_INVOICE_ID
	)  GGGG

*/


---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
---- ---- ---- UPDATE  VIOL_INVOICE_COUNT_FLAG ------ ---- ---- ---- 
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----

IF OBJECT_ID('dbo.FACT_VIOLATION_VIOL_INV_UPDATE_COUNT_STAGE')>0
	DROP TABLE dbo.FACT_VIOLATION_VIOL_INV_UPDATE_COUNT_STAGE

CREATE TABLE dbo.FACT_VIOLATION_VIOL_INV_UPDATE_COUNT_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))--, CLUSTERED INDEX (VIOLATOR_ID, VIOLATION_ID)) 
AS 

SELECT A.VIOLATOR_ID, A.VIOLATION_ID, A.VIOL_INVOICE_ID, MAX(A.VIOLATION_LIFE_ROWNUM) AS VIOLATION_LIFE_ROWNUM
FROM FACT_VIOLATION A
INNER JOIN 
(
	SELECT VIOLATOR_ID, MAX(VIOLATION_ID) AS VIOLATION_ID, VIOL_INVOICE_ID
	FROM FACT_VIOLATION A
	WHERE VIOL_INVOICE_ID >-1 AND LOAD_CATEGORY_ID <> 7
	GROUP BY VIOLATOR_ID, VIOL_INVOICE_ID
) B  ON A.VIOLATOR_ID = B.VIOLATOR_ID AND A.VIOLATION_ID = B.VIOLATION_ID AND A.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID 
GROUP BY A.VIOLATOR_ID, A.VIOLATION_ID, A.VIOL_INVOICE_ID


CREATE STATISTICS STATS_FACT_VIOLATION_VIOL_INV_UPDATE_COUNT_STAGE_001 ON [dbo].FACT_VIOLATION_VIOL_INV_UPDATE_COUNT_STAGE (VIOLATOR_ID, VIOLATION_ID, VIOL_INVOICE_ID, VIOLATION_LIFE_ROWNUM)

/*
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	-- -- CHECK FOR DUPS IN SET -- -- -- -- -- -- 
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	SELECT VIOLATOR_ID, VIOL_INVOICE_ID, COUNT(*)
	FROM FACT_VIOLATION_VIOL_INV_UPDATE_COUNT_STAGE
	GROUP BY VIOLATOR_ID, VIOL_INVOICE_ID
	HAVING COUNT(*)>1

	SELECT * FROM FACT_VIOLATION_VIOL_INV_UPDATE_COUNT_STAGE 
	WHERE VIOLATOR_ID = 786258126 AND VIOL_INVOICE_ID = 66135507

	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	-- -- CHECK MISSING IN SET -- -- -- -- -- -- 
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	SELECT --COUNT(*) 
		A.VIOLATOR_ID, A.VIOL_INVOICE_ID, A.LOAD_CATEGORY_ID
	FROM FACT_VIOLATION A
	LEFT JOIN FACT_VIOLATION_VIOL_INV_UPDATE_COUNT_STAGE B 
	ON A.VIOLATOR_ID = B.VIOLATOR_ID AND A.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID 
	WHERE 
		(B.VIOLATOR_ID IS NULL AND B.VIOL_INVOICE_ID IS NULL AND A.LOAD_CATEGORY_ID <> 7)
		AND 
		A.VIOL_INVOICE_ID>-1

*/


UPDATE FACT_VIOLATION
	SET VIOL_INVOICE_COUNT_FLAG = 1

FROM FACT_VIOLATION_VIOL_INV_UPDATE_COUNT_STAGE B
WHERE 
		FACT_VIOLATION.VIOLATOR_ID = B.VIOLATOR_ID 
	AND FACT_VIOLATION.VIOLATION_ID = B.VIOLATION_ID
	AND FACT_VIOLATION.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
	AND FACT_VIOLATION.VIOLATION_LIFE_ROWNUM = B.VIOLATION_LIFE_ROWNUM

IF OBJECT_ID('dbo.FACT_VIOLATION_VIOL_INV_UPDATE_COUNT_STAGE')>0
	DROP TABLE dbo.FACT_VIOLATION_VIOL_INV_UPDATE_COUNT_STAGE

---- ---- ---- ---- ---- ---- ---- ---- ---- ---- 
---- ---- ---- CHECK FOR MISSING MARKS
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- 
/*
	SELECT * FROm FACT_VIOLATION_VIOL_INV_UPDATE_COUNT_STAGE WHERE VIOLATOR_ID = 769427329 AND VIOL_INVOICE_ID = 35057615
	SELECT * FROm FACT_VIOLATION WHERE VIOLATOR_ID = 788329556 AND VIOL_INVOICE_ID = 124303939

	*******************************************
	********* TODO USE AS A DATAMONITOR *******
	*******************************************
	SELECT COUNT(*), SUM(Rwcnt) as SUMRwcnt
	FROM 
	(
		SELECT TOP 100 
				VIOLATOR_ID, VIOL_INVOICE_ID, SUM(VIOL_INVOICE_COUNT_FLAG) as VIOL_INV_COUNT, COUNT(*) as Rwcnt
		FROM FACT_VIOLATION
		WHERE LOAD_CATEGORY_ID <> 7 
		AND VIOL_INVOICE_ID > 1 
		AND PARTITION_DATE = (SELECT MAX(PARTITION_DATE) FROM FACT_VIOLATION) 
		GROUP BY VIOLATOR_ID, VIOL_INVOICE_ID
		HAVING SUM(VIOL_INVOICE_COUNT_FLAG) > 1 OR SUM(VIOL_INVOICE_COUNT_FLAG) = 0 
		ORDER BY VIOLATOR_ID, VIOL_INVOICE_ID
	)  GGGG


*/

---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
---- ---- ---- UPDATE  VIOL_INVOICE_COUNT_FLAG ------ ---- ---- ---- 
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----

IF OBJECT_ID('dbo.FACT_VIOLATION_CUR_INV_UPDATE_COUNT_STAGE')>0
	DROP TABLE dbo.FACT_VIOLATION_CUR_INV_UPDATE_COUNT_STAGE

CREATE TABLE dbo.FACT_VIOLATION_CUR_INV_UPDATE_COUNT_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))--, CLUSTERED INDEX (VIOLATOR_ID, VIOLATION_ID)) 
AS 

	SELECT VIOLATOR_ID, VIOLATION_ID, MAX(VIOLATION_LIFE_ROWNUM) AS VIOLATION_LIFE_ROWNUM
	FROM FACT_VIOLATION A
	GROUP BY VIOLATOR_ID, VIOLATION_ID

CREATE STATISTICS STATS_FACT_VIOLATION_CUR_INV_UPDATE_COUNT_STAGE_001 ON [dbo].FACT_VIOLATION_CUR_INV_UPDATE_COUNT_STAGE (VIOLATOR_ID, VIOLATION_ID, VIOLATION_LIFE_ROWNUM)


/*
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	-- -- CHECK FOR DUPS IN SET -- -- -- -- -- -- 
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	SELECT VIOLATOR_ID, VIOLATION_ID, COUNT(*)
	FROM FACT_VIOLATION_CUR_INV_UPDATE_COUNT_STAGE
	GROUP BY VIOLATOR_ID, VIOLATION_ID
	HAVING COUNT(*)>1

	SELECT * FROM FACT_VIOLATION_CUR_INV_UPDATE_COUNT_STAGE 
	WHERE VIOLATOR_ID = 786258126 AND VIOL_INVOICE_ID = 66135507

	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	-- -- CHECK MISSING IN SET -- -- -- -- -- -- 
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	SELECT --COUNT(*) 
		A.VIOLATOR_ID, A.VIOLATION_ID, A.LOAD_CATEGORY_ID
	FROM FACT_VIOLATION A
	LEFT JOIN FACT_VIOLATION_CUR_INV_UPDATE_COUNT_STAGE B 
	ON A.VIOLATOR_ID = B.VIOLATOR_ID AND A.VIOLATION_ID = B.VIOLATION_ID 
	WHERE 
		B.VIOLATOR_ID IS NULL AND B.VIOLATION_ID IS NULL 

*/


UPDATE FACT_VIOLATION
	SET CURRENT_INVOICE_LEVEL_FLAG = 1
FROM FACT_VIOLATION_CUR_INV_UPDATE_COUNT_STAGE B
WHERE 
		FACT_VIOLATION.VIOLATOR_ID = B.VIOLATOR_ID 
	AND FACT_VIOLATION.VIOLATION_ID = B.VIOLATION_ID
	AND FACT_VIOLATION.VIOLATION_LIFE_ROWNUM = B.VIOLATION_LIFE_ROWNUM

	
IF OBJECT_ID('dbo.FACT_VIOLATION_CUR_INV_UPDATE_COUNT_STAGE')>0
	DROP TABLE dbo.FACT_VIOLATION_CUR_INV_UPDATE_COUNT_STAGE


/*

	*******************************************
	********* TODO USE AS A DATAMONITOR *******
	*******************************************
	SELECT COUNT(*), SUM(Rwcnt) as SUMRwcnt
	FROM 
	(
		SELECT TOP 100 
				VIOLATOR_ID, VIOLATION_ID, SUM(CURRENT_INVOICE_LEVEL_FLAG) as CUR_INV_COUNT, COUNT(*) as Rwcnt
		FROM FACT_VIOLATION
		WHERE LOAD_CATEGORY_ID <> 7 
		AND PARTITION_DATE = (SELECT MAX(PARTITION_DATE) FROM FACT_VIOLATION) 
		GROUP BY VIOLATOR_ID, VIOLATION_ID
		HAVING SUM(CURRENT_INVOICE_LEVEL_FLAG) > 1 OR SUM(CURRENT_INVOICE_LEVEL_FLAG) = 0 
		ORDER BY VIOLATOR_ID, VIOLATION_ID
	)  GGGG
	HAVING COUNT(*)>1


	

*/




















