CREATE PROC [DBO].[FACT_CA_PAYMENTS_LOAD] AS 
/*	

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.FACT_CA_PAYMENTS_LOAD') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_CA_PAYMENTS_LOAD
GO

EXEC EDW_RITE.DBO.FACT_CA_PAYMENTS_LOAD

SELECT TOP 1000 * FROM EDW_RITE.DBO.FACT_CA_PAYMENTS  

SELECT COUNT_BIG(1) FROM EDW_RITE.DBO.FACT_CA_PAYMENTS
SELECT COUNT_BIG(1) FROM LND_LG_VPS.VP_OWNER.PAYMENT_XREF

There is already an object named 'FACT_CA_PAYMENTS_GET' in the database. 

*/ 	
--#1	ANDY FILIPPS	2019-02-14	Created new proc

	--STEP #0: --DROP table IF EXISTS  --DECLARE @FROM_DAY_ID  INT = 20150101, @TO_DAY_ID  INT = 20190101


DECLARE @TABLE_NAME VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ERROR_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT 
--DECLARE @LOAD_CONTROL_DATE DATETIME2(2)

SET @LOG_START_DATE = GETDATE()
SELECT  @TABLE_NAME = 'FACT_CA_PAYMENTS', @LOG_MESSAGE = 'Started full load'
EXEC    EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL

IF OBJECT_ID('dbo.FACT_CA_PAYMENTS_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_CA_PAYMENTS_NEW_SET;
--IF OBJECT_ID('dbo.FACT_CA_PAYMENTS_NEW_SET') IS NULL
BEGIN

	-- PSYCHO NULL BLYAT'

	-- Get HV Dates with PAYMENTPLANs

	IF OBJECT_ID('dbo.CTE_HV_DATA') IS NOT NULL DROP TABLE dbo.CTE_HV_DATA;
	-- EXPLAIN
	CREATE TABLE dbo.CTE_HV_DATA WITH (HEAP, DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS
	WITH CTE AS
	(
		SELECT 
			 I.LAST_INVOICE_ID
			,I.VIOL_INVOICE_ID
			,I.VBI_INVOICE_ID
			,I.PAYMENTPLANID 
			,I.VIOLATOR_ID
			,I.VIDSEQ
			,CAST(CASE WHEN I.PAYMENTPLANID = -1 THEN I.HVDATE ELSE DATEADD(DAY,-1,I.PLANSTART_DATE) END AS DATE) AS HV_START_DATE
			,CAST(CASE WHEN I.PAYMENTPLANID = -1 
				THEN I.TERMDATE 
				ELSE 
					CASE WHEN P.DEFAULTEDDATE IS NOT NULL 
						THEN P.DEFAULTEDDATE 
						ELSE P.LASTPAYMENTDATE 
					END 
			END AS DATE) AS HV_END_DATE
		FROM EDW_TER.DBO.FACT_TER_INVOICE AS I
		LEFT JOIN EDW_TER.DBO.DIM_PAYMENTPLAN AS P ON P.PAYMENTPLANID = I.PAYMENTPLANID AND P.DELETEDFLAG = 0 AND P.PAYMENTPLANSTATUSLOOKUPID > 4
	)
	SELECT 
		LAST_INVOICE_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID,PAYMENTPLANID,VIOLATOR_ID,VIDSEQ,HV_START_DATE,HV_END_DATE
	FROM CTE
	GROUP BY LAST_INVOICE_ID,VIOL_INVOICE_ID,VBI_INVOICE_ID,PAYMENTPLANID,VIOLATOR_ID,VIDSEQ,HV_START_DATE,HV_END_DATE
	OPTION (LABEL = 'FACT_CA_PAYMENTS LOAD: CTE_HV_DATA');

	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got CTE_HV_DATA table'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT


	-- Get all Invoices with amounts that are in CA_Invoices (1 roww for each, even if it's more than 1 CA_acct_ID)

	IF OBJECT_ID('dbo.CTE_CA_INVOICES') IS NOT NULL DROP TABLE dbo.CTE_CA_INVOICES;
	CREATE TABLE dbo.CTE_CA_INVOICES WITH (HEAP, DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS
	SELECT LAST_INVOICE_ID, VIOLATOR_ID, VIOL_INVOICE_ID, VBI_INVOICE_ID, DPS_INV_STATUS, VIOL_INV_STATUS, VBI_STATUS,
			MAX(VIOL_INVOICE_DATE) AS VIOL_INVOICE_DATE, MAX(VB_INVOICE_DATE) AS VB_INVOICE_DATE, MAX(DATE_EXCUSED) AS DATE_EXCUSED,MAX(TOLL_FEE) AS TOLL_FEE, 
			MAX(INVOICE_AMOUNT) AS INVOICE_AMOUNT, MAX(INVOICE_AMT_DISC) AS INVOICE_AMT_DISC, MAX(TOLL_AMOUNT) AS TOLL_AMOUNT, MAX(TRANS_CNT) AS TRANS_CNT
	FROM dbo.FACT_CA_INVOICES C
	GROUP BY LAST_INVOICE_ID,VIOLATOR_ID, VIOL_INVOICE_ID, VBI_INVOICE_ID, DPS_INV_STATUS, VIOL_INV_STATUS, VBI_STATUS
	OPTION (LABEL = 'FACT_CA_PAYMENTS LOAD: CTE_CA_INVOICES');

	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got CTE_CA_INVOICES table'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT


	-- Get all CA payments and CA Data

	IF OBJECT_ID('dbo.CTE_CA_DATA') IS NOT NULL DROP TABLE dbo.CTE_CA_DATA;
	-- EXPLAIN
		CREATE TABLE dbo.CTE_CA_DATA WITH (HEAP, DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS
		SELECT I.LAST_INVOICE_ID,I.VIOL_INVOICE_ID,I.CA_ACCT_ID,I.PARENT_CA_ACCT_ID,I.CA_COMPANY_ID,I.CA_ACCT_STATUS_DATE,I.CA_ACCT_STATUS,I.CA_INV_STATUS,I.CA_START_DATE,I.CA_END_DATE,I.FILE_GEN_DATE,I.FIRST_SENT_DATE,I.PARENT_COMPANY_ID, 
			CAST(P.PMT_FILE_DATE AS DATE) AS CA_PAYMENT_DATE, SUM(P.PMT_AMOUNT) AS CA_AMOUNT
		FROM dbo.FACT_CA_INVOICES I
		LEFT JOIN LND_LG_VPS.VP_OWNER.CA_ACCT_INV_PMTS P ON P.VIOL_INVOICE_ID = I.VIOL_INVOICE_ID AND P.CA_ACCOUNT_ID = I.CA_ACCT_ID AND P.UNDO_FILE_DATE IS NULL AND P.PMT_AMOUNT > 0
		GROUP BY I.LAST_INVOICE_ID,I.VIOL_INVOICE_ID,I.CA_ACCT_ID,I.PARENT_CA_ACCT_ID,I.CA_COMPANY_ID,I.CA_ACCT_STATUS,I.CA_ACCT_STATUS_DATE,I.CA_INV_STATUS,I.CA_START_DATE,I.CA_END_DATE,I.FILE_GEN_DATE,I.FIRST_SENT_DATE,I.PARENT_COMPANY_ID,CAST(P.PMT_FILE_DATE AS DATE)
	OPTION (LABEL = 'FACT_CA_PAYMENTS LOAD: CTE_CA_DATA');

	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got CTE_CA_DATA table'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT


	IF OBJECT_ID('dbo.CTE_SUMMARY_PAYMENTS') IS NOT NULL DROP TABLE dbo.CTE_SUMMARY_PAYMENTS;
	CREATE TABLE dbo.CTE_SUMMARY_PAYMENTS WITH (HEAP, DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS -- EXPLAIN
		SELECT LAST_INVOICE_ID, VIOL_INVOICE_ID, POS_ID, DELIVERY_CODE, PAYMENT_SOURCE_CODE, PAYMENT_DATE,
				CAST(SUM(VIOL_AMOUNT) AS DECIMAL(10,2)) AS VIOL_AMOUNT, CAST(SUM(VTOLL_AMOUNT) AS DECIMAL(10,2)) AS VTOLL_AMOUNT, CAST(SUM(PAID_AMOUNT) AS DECIMAL(10,2)) AS PAID_AMOUNT,
				CAST(MAX(INVOICE_VIOL_AMOUNT) AS DECIMAL(10,2)) AS INVOICE_VIOL_AMOUNT, CAST(MAX(INVOICE_VTOLL_AMOUNT) AS DECIMAL(10,2)) AS INVOICE_VTOLL_AMOUNT--, CAST(MAX(INVOICE_PAID_AMOUNT) AS DECIMAL(10,2)) AS INVOICE_PAID_AMOUNT
		FROM dbo.FACT_INVOICE_PAYMENTS --FACT_VIOLATION_PAYMENTS_SUMMARY
		WHERE LAST_INVOICE_ID IN (SELECT LAST_INVOICE_ID FROM CTE_CA_INVOICES) AND PAID_AMOUNT <> 0
		GROUP BY LAST_INVOICE_ID, VIOL_INVOICE_ID, POS_ID, DELIVERY_CODE, PAYMENT_SOURCE_CODE, PAYMENT_DATE
	OPTION (LABEL = 'FACT_CA_PAYMENTS LOAD: CTE_SUMMARY_PAYMENTS');

	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got CTE_SUMMARY_PAYMENTS table'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

--INVOICE_VIOL_AMOUNT,INVOICE_VTOLL_AMOUNT,INVOICE_PAID_AMOUNT

	IF OBJECT_ID('dbo.CTE_PMTS_DATA') IS NOT NULL DROP TABLE dbo.CTE_PMTS_DATA;
	--EXPLAIN 
	CREATE TABLE dbo.CTE_PMTS_DATA WITH (HEAP, DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS
	WITH TT_PAYMENTS_ORDER AS
	(
		SELECT 
			CASE 
				WHEN P.PAYMENT_DATE BETWEEN ISNULL(CA.CA_START_DATE,'1900-01-01') AND ISNULL(CA.CA_END_DATE,'1900-01-01')
				THEN 90
				WHEN P.PAYMENT_DATE BETWEEN DATEADD(DAY, -1, ISNULL(CA.CA_START_DATE,'1900-01-01')) AND DATEADD(DAY, 1, ISNULL(CA.CA_END_DATE,'1900-01-01'))
				THEN 9
				WHEN P.PAYMENT_DATE BETWEEN DATEADD(DAY, -20, ISNULL(CA.CA_START_DATE,'1900-01-01')) AND DATEADD(DAY, 20, ISNULL(CA.CA_END_DATE,'1900-01-01'))
				THEN 1
				WHEN P.PAYMENT_DATE < DATEADD(DAY, -40, ISNULL(CA.CA_START_DATE,'1900-01-01')) OR P.PAYMENT_DATE > DATEADD(DAY, 40, ISNULL(CA.CA_END_DATE,'1900-01-01'))
				THEN -200
				ELSE 0
			END + 
			CASE 
				WHEN CA.CA_ACCT_STATUS = 'C'
				THEN 100
				WHEN CA.CA_ACCT_STATUS = 'S'
				THEN 10
				WHEN CA.CA_ACCT_STATUS IN ('DV','D','U')
				THEN -100
				ELSE 0
			END + 
 			CASE 
				WHEN P.PAYMENT_DATE = ISNULL(CA.CA_PAYMENT_DATE,'1900-01-01')
				THEN 200
				WHEN P.PAYMENT_DATE BETWEEN DATEADD(DAY, -1, ISNULL(CA.CA_PAYMENT_DATE,'1900-01-01')) AND DATEADD(DAY, 1, ISNULL(CA.CA_PAYMENT_DATE,'1900-01-01'))
				THEN 20
				WHEN P.PAYMENT_DATE BETWEEN DATEADD(DAY, -20, ISNULL(CA.CA_PAYMENT_DATE,'1900-01-01')) AND DATEADD(DAY, 20, ISNULL(CA.CA_PAYMENT_DATE,'1900-01-01'))
				THEN 2
				WHEN P.PAYMENT_DATE < DATEADD(DAY, -40, ISNULL(CA.CA_PAYMENT_DATE,'1900-01-01')) OR P.PAYMENT_DATE > DATEADD(DAY, 40, ISNULL(CA.CA_PAYMENT_DATE,'1900-01-01'))
				THEN -200
				ELSE 0
			END + 
			CASE 
				WHEN CA.CA_AMOUNT = P.PAID_AMOUNT
				THEN 300
				WHEN ROUND(CA.CA_AMOUNT,1) = ROUND(P.PAID_AMOUNT,1)
				THEN 30
				WHEN ROUND(CA.CA_AMOUNT,0) = ROUND(P.PAID_AMOUNT,0)
				THEN 3
				ELSE 0
			END AS CA_PMT_RANK, 
			ISNULL(P.LAST_INVOICE_ID,CA.LAST_INVOICE_ID) AS LAST_INVOICE_ID,
			ISNULL(P.VIOL_INVOICE_ID,CA.VIOL_INVOICE_ID) AS VIOL_INVOICE_ID,
			ISNULL(CA.CA_ACCT_ID,-1)				AS CA_ACCT_ID, 
            ISNULL(P.PAYMENT_DATE,'1900-01-01')		AS PAYMENT_DATE,
			ISNULL(P.POS_ID, -1) 					AS POS_ID, 
			ISNULL(P.DELIVERY_CODE, '-1')  			AS DELIVERY_CODE, 
			ISNULL(P.PAYMENT_SOURCE_CODE,  '-1')	AS PAYMENT_SOURCE_CODE, 
            ISNULL(CA.CA_PAYMENT_DATE,'1900-01-01') AS CA_PAYMENT_DATE,
			ISNULL(P.VIOL_AMOUNT,0)					AS VIOL_AMOUNT,
			ISNULL(P.VTOLL_AMOUNT,0)				AS VTOLL_AMOUNT,
			ISNULL(P.PAID_AMOUNT,0)					AS PAID_AMOUNT,
			ISNULL(P.INVOICE_VIOL_AMOUNT,0)			AS INVOICE_VIOL_AMOUNT,
			ISNULL(P.INVOICE_VTOLL_AMOUNT,0)		AS INVOICE_VTOLL_AMOUNT,
			--ISNULL(P.INVOICE_PAID_AMOUNT,0)			AS INVOICE_PAID_AMOUNT,
            ISNULL(CA.CA_AMOUNT,0)					AS CA_AMOUNT
			-- SELECT * FROM CTE_CA_DATA 
		FROM CTE_SUMMARY_PAYMENTS P
		FULL OUTER JOIN CTE_CA_DATA CA ON CA.LAST_INVOICE_ID = P.LAST_INVOICE_ID --AND (P.PAYMENT_DATE BETWEEN CA.CA_START_DATE AND CA.CA_END_DATE)
	)
	-- We try to get the best match, but if we have 2 or more - have to return all (user should choose in this case)
	, TT_MAX_PAYMENTS AS
	(
		SELECT LAST_INVOICE_ID,PAYMENT_DATE,POS_ID,DELIVERY_CODE,PAYMENT_SOURCE_CODE, MAX(CA_PMT_RANK) AS CA_PMT_RANK
		FROM TT_PAYMENTS_ORDER
		GROUP BY LAST_INVOICE_ID, PAYMENT_DATE,POS_ID,DELIVERY_CODE,PAYMENT_SOURCE_CODE
	)
	SELECT
		P.LAST_INVOICE_ID, P.VIOL_INVOICE_ID,CA_ACCT_ID,P.PAYMENT_DATE,P.POS_ID, P.DELIVERY_CODE, P.PAYMENT_SOURCE_CODE, CA_PAYMENT_DATE,VIOL_AMOUNT,VTOLL_AMOUNT,CA_AMOUNT,P.CA_PMT_RANK,INVOICE_VIOL_AMOUNT,INVOICE_VTOLL_AMOUNT,
		CASE WHEN P.CA_PMT_RANK < 10 THEN 0 ELSE 1 END AS CA_PMT_FLAG
	FROM TT_MAX_PAYMENTS M
	JOIN TT_PAYMENTS_ORDER P 
		ON P.LAST_INVOICE_ID = M.LAST_INVOICE_ID AND P.PAYMENT_DATE = M.PAYMENT_DATE AND P.POS_ID = M.POS_ID AND P.DELIVERY_CODE = M.DELIVERY_CODE AND P.PAYMENT_SOURCE_CODE = M.PAYMENT_SOURCE_CODE AND P.CA_PMT_RANK = M.CA_PMT_RANK
	WHERE ABS(PAID_AMOUNT) + ABS(CA_AMOUNT) > 0
	OPTION (LABEL = 'FACT_CA_PAYMENTS LOAD: CTE_PMTS_DATA');

	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got CTE_PMTS_DATA table'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	--)
	-- EXPLAIN
	IF OBJECT_ID('dbo.FACT_CA_PAYMENTS_GET') IS NOT NULL DROP TABLE dbo.FACT_CA_PAYMENTS_GET;
	CREATE TABLE dbo.FACT_CA_PAYMENTS_GET WITH (HEAP, DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS
    SELECT 
		ISNULL(P.LAST_INVOICE_ID,		-1) AS LAST_INVOICE_ID,
		ISNULL(P.VIOL_INVOICE_ID,		-1) AS VIOL_INVOICE_ID,
		ISNULL(I.VIOLATOR_ID,			-1) AS VIOLATOR_ID,
        ISNULL(P.CA_ACCT_ID,			-1) AS CA_ACCT_ID, 
        ISNULL(CA.PARENT_CA_ACCT_ID,	-1) AS PARENT_CA_ACCT_ID,
        ISNULL(CA.CA_COMPANY_ID,		-1) AS CA_COMPANY_ID,
        ISNULL(CA.CA_START_DATE,		'19000101') AS CA_START_DATE,
        ISNULL(CA.CA_END_DATE,			'19000101') AS CA_END_DATE, 
        ISNULL(CA.CA_ACCT_STATUS,		'-1')		AS CA_ACCT_STATUS,
        ISNULL(CA.CA_ACCT_STATUS_DATE,	'19000101') AS CA_ACCT_STATUS_DATE,
        ISNULL(CA.CA_INV_STATUS,		'-1')		AS CA_INV_STATUS, 
        ISNULL(CA.FILE_GEN_DATE,		'19000101') AS FILE_GEN_DATE, 
        ISNULL(CA.PARENT_COMPANY_ID,	'-1')		AS PARENT_COMPANY_ID, 
        ISNULL(CA.FIRST_SENT_DATE,		'19000101') AS FIRST_SENT_DATE, 
        ISNULL(I.VIOL_INVOICE_DATE,		'19000101') AS INVOICE_DATE,
        ISNULL(I.VIOL_INV_STATUS, 		'-1')		AS 	VIOL_INV_STATUS, 
		ISNULL(I.VBI_INVOICE_ID, 		-1) AS 	VBI_INVOICE_ID, 
		ISNULL(I.VB_INVOICE_DATE, 		'19000101') AS 	VB_INVOICE_DATE, 
		ISNULL(I.VBI_STATUS, 			'-1')		AS 	VBI_STATUS, 
		ISNULL(I.INVOICE_AMOUNT, 		0) AS 	INVOICE_AMOUNT, 
		ISNULL(I.INVOICE_AMT_DISC, 		0) AS 	INVOICE_AMT_DISC,
		ISNULL(I.TOLL_FEE, 				0) AS 	TOLL_FEE, 
		ISNULL(I.TOLL_AMOUNT,			0) AS 	TOLL_AMOUNT,
		ISNULL(I.TRANS_CNT,				0) AS 	TRANS_CNT,
		ISNULL(I.DATE_EXCUSED,			'19000101') AS DATE_EXCUSED,
        ISNULL(I.DPS_INV_STATUS,		'-1') AS DPS_INV_STATUS, 
        ISNULL(HV.VIDSEQ,				-1) AS VIDSEQ, 
        ISNULL(HV.PAYMENTPLANID,		-1) AS PAYMENTPLANID,
        ISNULL(HV.HV_START_DATE,		'19000101') AS HV_START_DATE,
        ISNULL(HV.HV_END_DATE,			'19000101') AS HV_END_DATE,
        P.PAYMENT_DATE,
		P.CA_PAYMENT_DATE,
		P.POS_ID, 
		P.DELIVERY_CODE,
		P.PAYMENT_SOURCE_CODE, 
		ISNULL(P.VIOL_AMOUNT,0) AS VIOL_AMOUNT,
		ISNULL(P.VTOLL_AMOUNT, 0) AS VTOLL_AMOUNT,
		ISNULL(P.INVOICE_VIOL_AMOUNT,0) AS INVOICE_VIOL_AMOUNT,
		ISNULL(P.INVOICE_VTOLL_AMOUNT, 0) AS INVOICE_VTOLL_AMOUNT,
		CASE WHEN ISNULL(P.INVOICE_VTOLL_AMOUNT, 0) = 0 AND I.VIOL_INV_STATUS = 'TS' THEN ISNULL(I.TOLL_AMOUNT,0) - ISNULL(P.INVOICE_VIOL_AMOUNT,0) ELSE 0 END AS EXCUSED_AMOUNT,
		P.CA_AMOUNT,
		P.CA_PMT_RANK,
		P.CA_PMT_FLAG,
		CAST(CASE WHEN CAST(P.PAYMENT_DATE AS DATE) > HV.HV_END_DATE THEN 1 ELSE 0 END AS BIT) AS LATE_PAYMENT_FLAG, 
		ROW_NUMBER() OVER (PARTITION BY P.LAST_INVOICE_ID,I.VIOLATOR_ID,P.PAYMENT_DATE,P.POS_ID,P.VIOL_AMOUNT,P.VTOLL_AMOUNT,P.CA_PAYMENT_DATE,P.CA_AMOUNT ORDER BY HV.HV_END_DATE) RN
		-- SELECT count_big(0)  ,INVOICE_VIOL_AMOUNT,INVOICE_VTOLL_AMOUNT,EXCUSED_AMOUNT
    FROM CTE_PMTS_DATA P
    JOIN CTE_CA_INVOICES I ON I.LAST_INVOICE_ID = P.LAST_INVOICE_ID
    LEFT JOIN CTE_CA_DATA CA ON CA.LAST_INVOICE_ID = P.LAST_INVOICE_ID AND P.CA_ACCT_ID = CA.CA_ACCT_ID
	LEFT JOIN CTE_HV_DATA HV ON HV.LAST_INVOICE_ID = P.LAST_INVOICE_ID AND P.PAYMENT_DATE >= HV.HV_START_DATE
    --LEFT JOIN CTE_HV_DATA HV ON HV.VIOL_INVOICE_ID = P.VIOL_INVOICE_ID AND (P.PAYMENT_DATE BETWEEN HV.HV_START_DATE AND HV.HV_END_DATE OR P.CA_PAYMENT_DATE BETWEEN HV.HV_START_DATE AND HV.HV_END_DATE)
	OPTION (LABEL = 'FACT_CA_PAYMENTS LOAD: PREFINISH');

	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got FACT_CA_PAYMENTS table'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	IF OBJECT_ID('dbo.FACT_CA_PAYMENTS_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_CA_PAYMENTS_NEW_SET;
	CREATE TABLE dbo.FACT_CA_PAYMENTS_NEW_SET WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS
	WITH CTE_EXCUSED AS
	(
		SELECT 
			LAST_INVOICE_ID, VIOL_INVOICE_ID,VIOLATOR_ID,CA_ACCT_ID, PARENT_CA_ACCT_ID,CA_COMPANY_ID,CA_START_DATE,CA_END_DATE, CA_ACCT_STATUS,CA_ACCT_STATUS_DATE,CA_INV_STATUS, FILE_GEN_DATE, PARENT_COMPANY_ID, 
			FIRST_SENT_DATE, INVOICE_DATE,VIOL_INV_STATUS, VBI_INVOICE_ID, VB_INVOICE_DATE, VBI_STATUS, INVOICE_AMOUNT, INVOICE_AMT_DISC,TOLL_FEE, TOLL_AMOUNT,TRANS_CNT,DATE_EXCUSED,DPS_INV_STATUS, VIDSEQ, 
			PAYMENTPLANID,HV_START_DATE,HV_END_DATE,DATE_EXCUSED AS PAYMENT_DATE,'1900-01-01' AS CA_PAYMENT_DATE,0 AS CA_PMT_RANK,0 AS CA_PMT_FLAG, -1 AS POS_ID,  'O' AS DELIVERY_CODE, 
			'-1' AS PAYMENT_SOURCE_CODE, 0 AS VIOL_AMOUNT,EXCUSED_AMOUNT AS VTOLL_AMOUNT,0 AS CA_AMOUNT,INVOICE_VIOL_AMOUNT,INVOICE_VTOLL_AMOUNT,EXCUSED_AMOUNT,
			CAST(CASE WHEN DATE_EXCUSED > HV_END_DATE THEN 1 ELSE 0 END AS BIT) AS LATE_PAYMENT_FLAG, 
			ROW_NUMBER() OVER (PARTITION BY LAST_INVOICE_ID ORDER BY CA_START_DATE, HV_END_DATE) RN
		FROM dbo.FACT_CA_PAYMENTS_GET
		WHERE INVOICE_VTOLL_AMOUNT = 0 AND EXCUSED_AMOUNT > 0
			AND DATE_EXCUSED >= CA_START_DATE AND DATE_EXCUSED >= HV_START_DATE
			--AND LAST_INVOICE_ID = 41070136112720
	)
	, CTE_UNION AS
	(
		SELECT 
			LAST_INVOICE_ID,VIOL_INVOICE_ID,VIOLATOR_ID,CA_ACCT_ID, PARENT_CA_ACCT_ID,CA_COMPANY_ID,CA_START_DATE,CA_END_DATE, CA_ACCT_STATUS,CA_ACCT_STATUS_DATE,CA_INV_STATUS, FILE_GEN_DATE, 
			PARENT_COMPANY_ID,FIRST_SENT_DATE, INVOICE_DATE,VIOL_INV_STATUS, VBI_INVOICE_ID, VB_INVOICE_DATE, VBI_STATUS, INVOICE_AMOUNT, INVOICE_AMT_DISC,TOLL_FEE, TOLL_AMOUNT,TRANS_CNT,
			DATE_EXCUSED,DPS_INV_STATUS, VIDSEQ,PAYMENTPLANID,HV_START_DATE,HV_END_DATE,PAYMENT_DATE,CA_PAYMENT_DATE,CA_PMT_RANK,CA_PMT_FLAG,POS_ID,DELIVERY_CODE,PAYMENT_SOURCE_CODE, 
			VIOL_AMOUNT,VTOLL_AMOUNT, CA_AMOUNT,INVOICE_VIOL_AMOUNT,INVOICE_VTOLL_AMOUNT,EXCUSED_AMOUNT, LATE_PAYMENT_FLAG
		FROM dbo.FACT_CA_PAYMENTS_GET
		WHERE RN = 1 --AND LAST_INVOICE_ID = 41070136112720
		UNION ALL
		SELECT 
			LAST_INVOICE_ID,VIOL_INVOICE_ID,VIOLATOR_ID,CA_ACCT_ID, PARENT_CA_ACCT_ID,CA_COMPANY_ID,CA_START_DATE,CA_END_DATE, CA_ACCT_STATUS,CA_ACCT_STATUS_DATE,CA_INV_STATUS, FILE_GEN_DATE, 
			PARENT_COMPANY_ID,FIRST_SENT_DATE, INVOICE_DATE,VIOL_INV_STATUS, VBI_INVOICE_ID, VB_INVOICE_DATE, VBI_STATUS, INVOICE_AMOUNT, INVOICE_AMT_DISC,TOLL_FEE, TOLL_AMOUNT,TRANS_CNT,
			DATE_EXCUSED,DPS_INV_STATUS, VIDSEQ,PAYMENTPLANID,HV_START_DATE,HV_END_DATE,PAYMENT_DATE,CA_PAYMENT_DATE,CA_PMT_RANK,CA_PMT_FLAG,POS_ID,DELIVERY_CODE,PAYMENT_SOURCE_CODE, 
			VIOL_AMOUNT,VTOLL_AMOUNT, CA_AMOUNT,INVOICE_VIOL_AMOUNT,INVOICE_VTOLL_AMOUNT,EXCUSED_AMOUNT, LATE_PAYMENT_FLAG
		FROM CTE_EXCUSED
		WHERE RN = 1
	)
	, CTE_TILL AS
	(
		SELECT 
			LAST_INVOICE_ID,VIOL_INVOICE_ID,VIOLATOR_ID,CA_ACCT_ID, PARENT_CA_ACCT_ID,CA_COMPANY_ID,CA_START_DATE,CA_END_DATE, CA_ACCT_STATUS,CA_ACCT_STATUS_DATE,CA_INV_STATUS, FILE_GEN_DATE, PARENT_COMPANY_ID, 
			FIRST_SENT_DATE, INVOICE_DATE,VIOL_INV_STATUS, VBI_INVOICE_ID, VB_INVOICE_DATE, VBI_STATUS, INVOICE_AMOUNT, INVOICE_AMT_DISC,TOLL_FEE, TOLL_AMOUNT,TRANS_CNT,DATE_EXCUSED,DPS_INV_STATUS, VIDSEQ, 
			PAYMENTPLANID,HV_START_DATE,HV_END_DATE,PAYMENT_DATE,CA_PAYMENT_DATE,CA_PMT_RANK,CA_PMT_FLAG,POS_ID,DELIVERY_CODE,PAYMENT_SOURCE_CODE, VIOL_AMOUNT,VTOLL_AMOUNT,
			(VIOL_AMOUNT + VTOLL_AMOUNT) AS PAID_AMOUNT, CA_AMOUNT,INVOICE_VIOL_AMOUNT,INVOICE_VTOLL_AMOUNT,EXCUSED_AMOUNT, LATE_PAYMENT_FLAG,
			SUM(VIOL_AMOUNT + VTOLL_AMOUNT) OVER (PARTITION BY LAST_INVOICE_ID, CA_ACCT_ID ORDER BY PAYMENT_DATE ASC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS PAID_TILL_NOW
		FROM CTE_UNION
	)
	SELECT 
		LAST_INVOICE_ID,VIOL_INVOICE_ID,VIOLATOR_ID,CA_ACCT_ID,PARENT_CA_ACCT_ID,CA_COMPANY_ID,CA_START_DATE,CA_END_DATE,CA_ACCT_STATUS,CA_ACCT_STATUS_DATE,CA_INV_STATUS,
		FILE_GEN_DATE,PARENT_COMPANY_ID,FIRST_SENT_DATE,INVOICE_DATE,VIOL_INV_STATUS,VBI_INVOICE_ID,VB_INVOICE_DATE,VBI_STATUS, INVOICE_AMOUNT,
		INVOICE_AMT_DISC,TOLL_FEE,TOLL_AMOUNT,TRANS_CNT,DATE_EXCUSED,DPS_INV_STATUS,VIDSEQ,PAYMENTPLANID,HV_START_DATE,HV_END_DATE,PAYMENT_DATE,
		CA_PAYMENT_DATE,CA_PMT_RANK,CA_PMT_FLAG,LATE_PAYMENT_FLAG,POS_ID,DELIVERY_CODE,PAYMENT_SOURCE_CODE, VIOL_AMOUNT,VTOLL_AMOUNT,PAID_AMOUNT,
		CAST(CA_AMOUNT AS DECIMAL(10,2)) AS CA_AMOUNT, CAST(PAID_TILL_NOW AS DECIMAL(10,2)) AS PAID_TILL_NOW,
		INVOICE_VIOL_AMOUNT,INVOICE_VTOLL_AMOUNT, CAST(EXCUSED_AMOUNT AS DECIMAL(10,2)) AS EXCUSED_AMOUNT,
		CAST(CASE -- TOLL_PAID
				WHEN PAID_TILL_NOW - PAID_AMOUNT >= TOLL_AMOUNT THEN 0
				WHEN PAID_TILL_NOW <= TOLL_AMOUNT THEN PAID_AMOUNT
				ELSE (PAID_AMOUNT - PAID_TILL_NOW) + (TOLL_AMOUNT)
			END AS DECIMAL(10,2)) TOLL_PAID,
		CAST(CASE -- FEE_PAID
				WHEN (PAID_TILL_NOW - PAID_AMOUNT >= TOLL_AMOUNT)/* AND (PAID_AMOUNT > TOLL_FEE)*/ THEN PAID_AMOUNT -- + INVOICE_AMT_DISC
				--WHEN PAID_TILL_NOW - PAID_AMOUNT >= TOLL_AMOUNT THEN PAID_AMOUNT
				WHEN PAID_TILL_NOW <= TOLL_AMOUNT THEN 0
				--WHEN PAID_TILL_NOW - TOLL_AMOUNT > TOLL_FEE THEN PAID_TILL_NOW - TOLL_AMOUNT + INVOICE_AMT_DISC
				ELSE PAID_TILL_NOW - TOLL_AMOUNT
			END AS DECIMAL(10,2)) FEE_PAID
	FROM CTE_TILL
	OPTION (LABEL = 'FACT_CA_PAYMENTS LOAD');


	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	--SET  @LOG_MESSAGE = 'Finisfed New set FACT_CA_PAYMENTS load'
	--EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	CREATE STATISTICS STATS_FACT_CA_PAYMENTS_000 ON [dbo].FACT_CA_PAYMENTS_NEW_SET (LAST_INVOICE_ID)
	CREATE STATISTICS STATS_FACT_CA_PAYMENTS_001 ON [dbo].FACT_CA_PAYMENTS_NEW_SET (VIOL_INVOICE_ID)
	CREATE STATISTICS STATS_FACT_CA_PAYMENTS_002 ON [dbo].FACT_CA_PAYMENTS_NEW_SET (CA_ACCT_ID)
	CREATE STATISTICS STATS_FACT_CA_PAYMENTS_003 ON [dbo].FACT_CA_PAYMENTS_NEW_SET (PARENT_CA_ACCT_ID)
	CREATE STATISTICS STATS_FACT_CA_PAYMENTS_004 ON [dbo].FACT_CA_PAYMENTS_NEW_SET (CA_COMPANY_ID)
	CREATE STATISTICS STATS_FACT_CA_PAYMENTS_005 ON [dbo].FACT_CA_PAYMENTS_NEW_SET (VBI_INVOICE_ID)
	CREATE STATISTICS STATS_FACT_CA_PAYMENTS_006 ON [dbo].FACT_CA_PAYMENTS_NEW_SET (VIOLATOR_ID,VIDSEQ)
	CREATE STATISTICS STATS_FACT_CA_PAYMENTS_007 ON [dbo].FACT_CA_PAYMENTS_NEW_SET (PAYMENTPLANID)
	CREATE STATISTICS STATS_FACT_CA_PAYMENTS_008 ON [dbo].FACT_CA_PAYMENTS_NEW_SET (PAYMENT_DATE)
	CREATE STATISTICS STATS_FACT_CA_PAYMENTS_009 ON [dbo].FACT_CA_PAYMENTS_NEW_SET (CA_PAYMENT_DATE)

	IF OBJECT_ID('dbo.FACT_CA_PAYMENTS_OLD')>0 	DROP TABLE dbo.FACT_CA_PAYMENTS_OLD;
	IF OBJECT_ID('dbo.FACT_CA_PAYMENTS')>0		RENAME OBJECT::dbo.FACT_CA_PAYMENTS TO FACT_CA_PAYMENTS_OLD;
	RENAME OBJECT::dbo.FACT_CA_PAYMENTS_NEW_SET TO FACT_CA_PAYMENTS;
	IF OBJECT_ID('dbo.FACT_CA_PAYMENTS_OLD')>0 	DROP TABLE dbo.FACT_CA_PAYMENTS_OLD;

	SET  @LOG_MESSAGE = 'Finished full load'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

END  

	--  Now run load of payments, that was made thru CA - this load using some of our temp tables
	BEGIN TRY
		EXECUTE EDW_RITE.DBO.FACT_CA_COLLECTED_PAYMENTS_LOAD
	END	TRY	
	BEGIN CATCH
		SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
		SET @LOG_MESSAGE = 'FACT_CA_COLLECTED_PAYMENTS_LOAD FAILED: ' + @ERROR_MESSAGE
		EXEC    EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL
	END CATCH

	IF OBJECT_ID('dbo.CTE_HV_DATA') IS NOT NULL DROP TABLE dbo.CTE_HV_DATA;
	IF OBJECT_ID('dbo.CTE_CA_INVOICES') IS NOT NULL DROP TABLE dbo.CTE_CA_INVOICES;
	IF OBJECT_ID('dbo.CTE_CA_DATA') IS NOT NULL DROP TABLE dbo.CTE_CA_DATA;
	IF OBJECT_ID('dbo.CTE_SUMMARY_PAYMENTS') IS NOT NULL DROP TABLE dbo.CTE_SUMMARY_PAYMENTS;
	IF OBJECT_ID('dbo.CTE_PMTS_DATA') IS NOT NULL DROP TABLE dbo.CTE_PMTS_DATA;
	IF OBJECT_ID('dbo.FACT_CA_PAYMENTS_GET') IS NOT NULL DROP TABLE dbo.FACT_CA_PAYMENTS_GET;


--ELSE
--BEGIN
--	--EXEC	EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
--	SET  @LOG_MESSAGE = 'New set FACT_CA_PAYMENTS table found - no need to load again.'
--	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL
	
--END -- ELSE IF OBJECT_ID('dbo.FACT_UVS_NEW') IS NULL 

	---- Replace OLD table with NEW

--SELECT @LOAD_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.PAYMENT_XREF
--DELETE FROM EDW_RITE.dbo.LOAD_PROCESS_CONTROL WHERE  TABLE_NAME = 'FACT_CA_PAYMENTS&PAYMENT_XREF'
--INSERT INTO EDW_RITE.dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'FACT_CA_PAYMENTS&PAYMENT_XREF', LAST_RUN_DATE = @LOAD_CONTROL_DATE


/*

SELECT COUNT_BIG(1) FROM dbo.FACT_CA_PAYMENTS WHERE CA_ACCT_ID IS NULL   -- 7 846 036
--
SELECT TOP 100 * FROM dbo.FACT_CA_PAYMENTS 


SELECT SUM(VIOL_AMOUNT) VIOL_AMOUNT,SUM(VTOLL_AMOUNT) VTOLL_AMOUNT,SUM(CA_AMOUNT) CA_AMOUNT
FROM dbo.FACT_CA_PAYMENTS
*/
--VIOL_AMOUNT					VTOLL_AMOUNT			CA_AMOUNT
--355 471 909.13				14 128 592.93			237 737 738.04
