CREATE PROC [DBO].[ALERT_BY_TRAN_CNT_DIM_LANE_LOAD] AS

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.ALERT_BY_TRAN_CNT_DIM_LANE_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.ALERT_BY_TRAN_CNT_DIM_LANE_LOAD
GO

EXEC DBO.ALERT_BY_TRAN_CNT_DIM_LANE_LOAD
*/


DECLARE @NEW_LOAD BIT  
SELECT @NEW_LOAD = CASE WHEN C.column_id IS NULL THEN 1 ELSE 0 END FROM sys.tables t LEFT JOIN sys.columns c ON c.object_id = t.object_id AND c.name = 'IS_MANUAL' WHERE t.name = 'ALERT_BY_TRAN_CNT_DIM_LANE'

IF @NEW_LOAD = 1-- (SELECT 1 FROM sys.columns c	JOIN sys.tables t ON c.object_id = t.object_id WHERE t.name = 'PAYMENT_LINE_ITEMS_VPS' AND c.name = 'REF_LINE_ITEM_ID') IS NULL 
BEGIN
	CREATE TABLE dbo.ALERT_BY_TRAN_CNT_DIM_LANE_NEW_SET WITH (CLUSTERED INDEX (LANE_ID), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[LANE_ID] AS bigint), 0) AS [LANE_ID]
			, ISNULL(CAST(main_table.[LANE_ABBREV] AS varchar(50)), '') AS [LANE_ABBREV]
			, ISNULL(CAST(main_table.[PLAZA_ID] AS bigint), 0) AS [PLAZA_ID]
			, ISNULL(CAST(main_table.[PLAZA_ABBREV] AS varchar(50)), '') AS [PLAZA_ABBREV]
			, ISNULL(CAST(main_table.[FACILITY_ID] AS decimal(14,0)), 0) AS [FACILITY_ID]
			, ISNULL(CAST(main_table.[FACILITY_ABBREV] AS varchar(50)), '') AS [FACILITY_ABBREV]
			, CAST(main_table.[IS_ATIVE] AS bit) AS [IS_ATIVE]
			, CAST(CASE WHEN LANE_ID = 10022 THEN 1 ELSE 0 END AS bit) AS IS_MANUAL
	FROM dbo.[ALERT_BY_TRAN_CNT_DIM_LANE] AS main_table
	OPTION (LABEL = 'ALERT_BY_TRAN_CNT_DIM_LANE_NEW_SET LOAD');

	IF OBJECT_ID('dbo.[ALERT_BY_TRAN_CNT_DIM_LANE_OLD]') IS NOT NULL		DROP TABLE dbo.[ALERT_BY_TRAN_CNT_DIM_LANE_OLD];
	IF OBJECT_ID('dbo.[ALERT_BY_TRAN_CNT_DIM_LANE]') IS NOT NULL			RENAME OBJECT::dbo.[ALERT_BY_TRAN_CNT_DIM_LANE] TO [ALERT_BY_TRAN_CNT_DIM_LANE_OLD];
	IF OBJECT_ID('dbo.[ALERT_BY_TRAN_CNT_DIM_LANE_NEW_SET]') IS NOT NULL	RENAME OBJECT::dbo.[ALERT_BY_TRAN_CNT_DIM_LANE_NEW_SET] TO [ALERT_BY_TRAN_CNT_DIM_LANE];
	IF OBJECT_ID('dbo.[ALERT_BY_TRAN_CNT_DIM_LANE_OLD]') IS NOT NULL		DROP TABLE dbo.[ALERT_BY_TRAN_CNT_DIM_LANE_OLD];
END


CREATE TABLE dbo.ALERT_BY_TRAN_CNT_DIM_LANE_STAGE WITH (CLUSTERED INDEX (LANE_ID), DISTRIBUTION = REPLICATE) AS --EXPLAIN
SELECT L.LANE_ID,L.LANE_ABBREV,L.PLAZA_ID,L.PLAZA_ABBREV,L.FACILITY_ID,L.FACILITY_ABBREV,L.LANY_ID, CAST(CASE WHEN L.LANY_ID <> 5 THEN 1 ELSE 0 END AS BIT) IS_ATIVE, CAST(0 AS BIT) AS IS_MANUAL
FROM dbo.DIM_LANE L 
WHERE L.AGENCY_ABBREV = 'NTTA' AND L.SUB_AGENCY_ABBREV <> 'TSA'


IF OBJECT_ID('dbo.ALERT_BY_TRAN_CNT_DIM_LANE_NEW_STAGE') IS NOT NULL 	DROP TABLE dbo.ALERT_BY_TRAN_CNT_DIM_LANE_NEW_STAGE

CREATE TABLE dbo.ALERT_BY_TRAN_CNT_DIM_LANE_NEW_STAGE WITH (CLUSTERED INDEX (LANE_ID), DISTRIBUTION = REPLICATE) 
AS 
-- EXPLAIN
SELECT     
	S.LANE_ID, 
	S.LANE_ABBREV, 
	S.PLAZA_ID, 
	S.PLAZA_ABBREV, 
	S.FACILITY_ID,
	S.FACILITY_ABBREV,
	S.LANY_ID,
	ISNULL(L.IS_MANUAL, 0) IS_MANUAL,
	CASE WHEN ISNULL(L.IS_MANUAL, 0) = 1 THEN L.IS_ATIVE ELSE S.IS_ATIVE END IS_ATIVE
FROM dbo.ALERT_BY_TRAN_CNT_DIM_LANE_STAGE S
LEFT JOIN dbo.ALERT_BY_TRAN_CNT_DIM_LANE L ON S.LANE_ID = L.LANE_ID


CREATE STATISTICS [STATS_ALERT_BY_TRAN_CNT_DIM_LANE_001] ON dbo.ALERT_BY_TRAN_CNT_DIM_LANE_NEW_STAGE (IS_ATIVE);
CREATE STATISTICS [STATS_ALERT_BY_TRAN_CNT_DIM_LANE_002] ON dbo.ALERT_BY_TRAN_CNT_DIM_LANE_NEW_STAGE (PLAZA_ID);
CREATE STATISTICS [STATS_ALERT_BY_TRAN_CNT_DIM_LANE_003] ON dbo.ALERT_BY_TRAN_CNT_DIM_LANE_NEW_STAGE (LANY_ID);
CREATE STATISTICS [STATS_ALERT_BY_TRAN_CNT_DIM_LANE_004] ON dbo.ALERT_BY_TRAN_CNT_DIM_LANE_NEW_STAGE (IS_MANUAL);


IF OBJECT_ID('DBO.ALERT_BY_TRAN_CNT_DIM_LANE_OLD') IS NOT NULL      DROP TABLE DBO.ALERT_BY_TRAN_CNT_DIM_LANE_OLD;
IF OBJECT_ID('DBO.ALERT_BY_TRAN_CNT_DIM_LANE') IS NOT NULL          RENAME OBJECT::DBO.ALERT_BY_TRAN_CNT_DIM_LANE TO ALERT_BY_TRAN_CNT_DIM_LANE_OLD;
RENAME OBJECT::DBO.ALERT_BY_TRAN_CNT_DIM_LANE_NEW_STAGE TO ALERT_BY_TRAN_CNT_DIM_LANE; 

/*

UPDATE dbo.ALERT_BY_TRAN_CNT_DIM_LANE
SET 
	IS_ATIVE = 0
	,IS_MANUAL = 1
WHERE [LANE_ABBREV] = 'PGBT-MLP9-18'

*/




