CREATE PROC [DBO].[CREDIT_CARD_TYPES_LOAD] AS 

--DECLARE @LAST_UPDATE_DATE datetime2(2) 
--exec dbo.GetLoadStartDatetime 'dbo.CREDIT_CARD_TYPES', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.CREDIT_CARD_TYPES_STAGE')<>0
	DROP TABLE dbo.CREDIT_CARD_TYPES_STAGE

CREATE TABLE dbo.CREDIT_CARD_TYPES_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (CARD_CODE)) 
AS 
-- EXPLAIN
SELECT A.CARD_CODE, A.CARD_NAME, A.LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[CREDIT_CARD_TYPES] A
OPTION (LABEL = 'CREDIT_CARD_TYPES_LOAD: CREDIT_CARD_TYPES_STAGE');

CREATE STATISTICS STATS_CREDIT_CARD_TYPES_STAGE_001 ON CREDIT_CARD_TYPES_STAGE (CARD_CODE)


UPDATE dbo.CREDIT_CARD_TYPES
SET  CARD_NAME = B.CARD_NAME
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.CREDIT_CARD_TYPES_STAGE B
WHERE 
	dbo.CREDIT_CARD_TYPES.CARD_CODE = B.CARD_CODE
	AND 
	dbo.CREDIT_CARD_TYPES.CARD_NAME <> B.CARD_NAME

INSERT INTO dbo.CREDIT_CARD_TYPES (CARD_CODE, CARD_NAME, INSERT_DATE, LAST_UPDATE_DATE)
SELECT A.CARD_CODE, A.CARD_NAME, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.CREDIT_CARD_TYPES_STAGE A
LEFT JOIN dbo.CREDIT_CARD_TYPES B ON A.CARD_CODE = B.CARD_CODE
WHERE B.CARD_CODE IS NULL



