CREATE PROC [DBO].[FACT_VTOLLS_DETAIL_LOAD] AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_VTOLLS_DETAIL_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_VTOLLS_DETAIL_LOAD
GO

EXEC DBO.FACT_VTOLLS_DETAIL_LOAD

SELECT COUNT_BIG(1) FROM dbo.FACT_VTOLLS_DETAIL  --2 239 060 406
SELECT TOP 1000 * FROM dbo.FACT_VTOLLS_DETAIL

SELECT  TOP 100
	DAY_ID,TRANSACTION_ID,LANE_VIOL_ID,VIOLATION_ID,TT_ID, AGENCY_ID,LANE_ID,LIC_PLATE_STATE,LICENSE_PLATE_ID,VTOLL_SEND_DATE,VEHICLE_CLASS,VCLY_ID,SOURCE_CODE,DISPOSITION,POSTED_DATE,POS_REV,ACT_REV,LAST_UPDATE_DATE
FROM dbo.FACT_VTOLLS_DETAIL

SELECT * FROM dbo.PROCESS_LOG 
WHERE LOG_SOURCE = 'FACT_VTOLLS_DETAIL' AND LOG_DATE > '2019-09-01 8:00:00'
ORDER BY LOG_SOURCE, LOG_DATE
*/

--#1	Shankar Metla	2018-09-08	CREATED
--#2	Andy Filipps	2018-10-02	Full rewrite for a new approach to avoid full month load
--#3	Andy Filipps	2019-12-12	Changes to remove all fields > 8 bytes, removed LIC_PLATE, added TT_ID, Statistics changed


DECLARE @TABLE_NAME VARCHAR(100) = 'FACT_VTOLLS_DETAIL', @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT, @LOAD_CONTROL_DATE DATETIME2(2) 
DECLARE @sql VARCHAR(MAX)


-- STEP 1: Get the next Load Control Date from the Control Table
SET @LOG_START_DATE = GETDATE()

---- !!!!!!!!!!!!!!!!!!!!! TESTING ONLY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
--SET @LOAD_CONTROL_DATE = CAST('2018-09-01 00:00:00.00' AS DATETIME2(2)) 
---- !!!!!!!!!!!!!!!!!!!!! TESTING ONLY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

-- STEP 2: Initiate LOG
SELECT  @LOG_MESSAGE = 'Started FULL load'
EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL

-- STEP 3: Get maximum Partition and it's baundry value

--EXEC DBO.PARTITION_MANAGE_MONTHLY_LOAD @TABLE_NAME

--STEP #7: -- Getting all changes to a new table
--IF OBJECT_ID('dbo.FACT_VTOLLS_DETAIL_STAGE') IS NOT NULL DROP TABLE dbo.FACT_VTOLLS_DETAIL_STAGE

--CREATE TABLE dbo.FACT_VTOLLS_DETAIL_STAGE WITH (CLUSTERED INDEX (TRANSACTION_ID), DISTRIBUTION = HASH(TRANSACTION_ID)) AS
---- EXPLAIN
--SELECT  --TOP 100
--		DAY_ID,
--		MONTH_ID,
--		TRANSACTION_ID,
--		VHT.LANE_VIOL_ID,
--		VIOLATION_ID,
--		ISNULL(TT_ID,-1) AS TT_ID, -- 
--		--ISNULL(TAG_ID,'-1') TAG_ID,
--		AGENCY_CODE AS AGENCY_ID,
--		LANE_ID,
--		--LIC_PLATE_NBR,
--		LIC_PLATE_STATE,
--		LP.LICENSE_PLATE_ID AS LICENSE_PLATE_ID,
--		VTOLL_SEND_DATE,
--		VEHICLE_CLASS,
--		ISNULL(CAST(COALESCE(NULLIF(VEHICLE_CLASS,0), -2) + 1 AS SMALLINT), -1) AS VCLY_ID,
--		ISNULL(SOURCE_CODE, '-1') SOURCE_CODE,    
--		DISPOSITION,
--		POSTED_DATE,
--		POSTED_REVENUE POS_REV,
--		EARNED_REVENUE ACT_REV,
--		LAST_UPDATE_DATE   --SELECT COUNT_BIG(1)
--FROM dbo.VPS_HOST_TRANSACTIONS
--WHERE DISPOSITION = 'P'
--OPTION (LABEL = 'FACT_VTOLLS_DETAIL LOAD');

---- Logging
--EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
--SET  @LOG_MESSAGE = 'Got all rows:'
--EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT



DECLARE @PART_RANGES VARCHAR(MAX) = ''
--EXEC DBO.GET_PARTITION_MONTH_RANGE_STRING @PART_RANGES OUTPUT
EXEC DBO.GET_PARTITION_DAYID_RANGE_STRING @PART_RANGES OUTPUT

IF OBJECT_ID('dbo.FACT_VTOLLS_DETAIL_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_VTOLLS_DETAIL_NEW_SET

SET @sql = '
CREATE TABLE dbo.[FACT_VTOLLS_DETAIL_NEW_SET] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TRANSACTION_ID]), PARTITION (DAY_ID RANGE RIGHT FOR VALUES (' + @PART_RANGES + '))) AS
SELECT 
		CAST(main_table.[DAY_ID] AS int) AS [DAY_ID]
		, CAST(main_table.MONTH_ID AS int) AS MONTH_ID
		, ISNULL(main_table.[TRANSACTION_ID], 0) AS [TRANSACTION_ID]
		, CAST(main_table.[LANE_VIOL_ID] AS decimal(12,0)) AS [LANE_VIOL_ID]
		, CAST(main_table.[VIOLATION_ID] AS Bigint) AS [VIOLATION_ID]
		, ISNULL(main_table.[TT_ID],-1) AS [TT_ID]
		, ISNULL(CAST(main_table.[AGENCY_CODE] AS varchar(6)), '''') AS [AGENCY_ID]
		, CAST(main_table.[LANE_ID] AS int) AS [LANE_ID]
		, ISNULL(CAST(main_table.[LIC_PLATE_STATE] AS varchar(3)), '''') AS [LIC_PLATE_STATE]
		, ISNULL(CAST(main_table.[LICENSE_PLATE_ID] AS int), -1) AS [LICENSE_PLATE_ID]
		, CAST(main_table.[VTOLL_SEND_DATE] AS datetime2(0)) AS [VTOLL_SEND_DATE]
		, CAST(main_table.[VEHICLE_CLASS] AS smallint) AS [VEHICLE_CLASS]
		, ISNULL(CAST(COALESCE(NULLIF(VEHICLE_CLASS,0), -2) + 1 AS SMALLINT), -1) AS [VCLY_ID]
		, ISNULL(CAST(main_table.[SOURCE_CODE] AS varchar(2)), ''-1'') AS [SOURCE_CODE]
		, ISNULL(CAST(main_table.[DISPOSITION] AS varchar(2)), ''-1'') AS [DISPOSITION]
		, CAST(main_table.[POSTED_DATE] AS date) AS [POSTED_DATE]
		, ISNULL(CAST(main_table.[POSTED_REVENUE] AS decimal(9,2)), 0) AS [POS_REV]
		, ISNULL(CAST(main_table.[EARNED_REVENUE] AS decimal(9,2)), 0) AS [ACT_REV]
		, CAST(main_table.[LAST_UPDATE_DATE] AS datetime2(2)) AS [LAST_UPDATE_DATE]
FROM dbo.VPS_HOST_TRANSACTIONS AS main_table
WHERE DISPOSITION = ''P''
OPTION (LABEL = ''FACT_VTOLLS_DETAIL_NEW_SET LOAD'');'

EXEC (@sql)
EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

CREATE STATISTICS [STATS_FACT_VTOLLS_DETAIL_001] ON dbo.[FACT_VTOLLS_DETAIL_NEW_SET] ([DAY_ID]);
CREATE STATISTICS [STATS_FACT_VTOLLS_DETAIL_002] ON dbo.[FACT_VTOLLS_DETAIL_NEW_SET] ([TRANSACTION_ID]);
CREATE STATISTICS [STATS_FACT_VTOLLS_DETAIL_003] ON dbo.[FACT_VTOLLS_DETAIL_NEW_SET] (POSTED_DATE);
CREATE STATISTICS [STATS_FACT_VTOLLS_DETAIL_004] ON dbo.[FACT_VTOLLS_DETAIL_NEW_SET] ([SOURCE_CODE]);
CREATE STATISTICS [STATS_FACT_VTOLLS_DETAIL_005] ON dbo.[FACT_VTOLLS_DETAIL_NEW_SET] ([DISPOSITION]);
CREATE STATISTICS [STATS_FACT_VTOLLS_DETAIL_006] ON dbo.[FACT_VTOLLS_DETAIL_NEW_SET] ([LANE_ID], [SOURCE_CODE], [DISPOSITION]);
CREATE STATISTICS [STATS_FACT_VTOLLS_DETAIL_007] ON dbo.[FACT_VTOLLS_DETAIL_NEW_SET] ([LANE_VIOL_ID],[TRANSACTION_ID]);
CREATE STATISTICS [STATS_FACT_VTOLLS_DETAIL_008] ON dbo.[FACT_VTOLLS_DETAIL_NEW_SET] ([TT_ID],[AGENCY_ID]);
CREATE STATISTICS [STATS_FACT_VTOLLS_DETAIL_009] ON dbo.[FACT_VTOLLS_DETAIL_NEW_SET] ([LICENSE_PLATE_ID]);
CREATE STATISTICS [STATS_FACT_VTOLLS_DETAIL_010] ON dbo.[FACT_VTOLLS_DETAIL_NEW_SET] ([AGENCY_ID]);
CREATE STATISTICS [STATS_FACT_VTOLLS_DETAIL_011] ON dbo.[FACT_VTOLLS_DETAIL_NEW_SET] ([VIOLATION_ID]);
CREATE STATISTICS [STATS_FACT_VTOLLS_DETAIL_012] ON dbo.[FACT_VTOLLS_DETAIL_NEW_SET] (MONTH_ID,DAY_ID,[TRANSACTION_ID]);

SET @sql = '
IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_OLD]'') IS NOT NULL	DROP TABLE dbo.[' + @TABLE_NAME + '_OLD];
IF OBJECT_ID(''dbo.[' + @TABLE_NAME + ']'') IS NOT NULL			RENAME OBJECT::dbo.[' + @TABLE_NAME + '] TO [' + @TABLE_NAME + '_OLD];
IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_NEW_SET]'') IS NOT NULL	RENAME OBJECT::dbo.[' + @TABLE_NAME + '_NEW_SET] TO [' + @TABLE_NAME + '];
IF OBJECT_ID(''dbo.[' + @TABLE_NAME + '_OLD]'') IS NOT NULL	DROP TABLE dbo.[' + @TABLE_NAME + '_OLD];'
EXEC (@sql)

SET  @LOG_MESSAGE = 'Complete Full load'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT


--STEP #12: -- Set a new update date to LOAD_PROCESS_CONTROL table for the next load
SELECT @LOAD_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VPS_HOST_TRANSACTIONS
UPDATE dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @LOAD_CONTROL_DATE WHERE TABLE_NAME = 'FACT_VTOLLS_DETAIL'

IF OBJECT_ID('dbo.FACT_VTOLLS_DETAIL_STAGE') IS NOT NULL DROP TABLE dbo.FACT_VTOLLS_DETAIL_STAGE


