CREATE PROC [DBO].[VIOL_STATUS_LOAD] AS 

--DECLARE @LAST_UPDATE_DATE datetime2(2) 
--exec dbo.GetLoadStartDatetime 'dbo.VIOL_STATUS', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.VIOL_STATUS_STAGE')>0
	DROP TABLE dbo.VIOL_STATUS_STAGE

CREATE TABLE dbo.VIOL_STATUS_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VIOL_STATUS)) 
AS 
-- EXPLAIN
SELECT A.VIOL_STATUS, A.VIOL_STATUS_DESCR, A.LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[VIOL_STATUS] A
OPTION (LABEL = 'VIOL_STATUS_LOAD: VIOL_STATUS_STAGE');

CREATE STATISTICS STATS_VIOL_STATUS_STAGE_001 ON VIOL_STATUS_STAGE (VIOL_STATUS)


UPDATE dbo.VIOL_STATUS
SET  VIOL_STATUS_DESCR = B.VIOL_STATUS_DESCR
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.VIOL_STATUS_STAGE B
WHERE 
	dbo.VIOL_STATUS.VIOL_STATUS = B.VIOL_STATUS
	AND 
	dbo.VIOL_STATUS.VIOL_STATUS_DESCR <> B.VIOL_STATUS_DESCR


INSERT INTO dbo.VIOL_STATUS (VIOL_STATUS, VIOL_STATUS_DESCR, VIOL_STATUS_GROUP, VIOL_STATUS_SUM_GROUP, INSERT_DATE, LAST_UPDATE_DATE)
SELECT A.VIOL_STATUS, A.VIOL_STATUS_DESCR, '(Null)' AS VIOL_STATUS_GROUP, '(Null)' AS VIOL_STATUS_SUM_GROUP, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.VIOL_STATUS_STAGE A
LEFT JOIN dbo.VIOL_STATUS B ON A.VIOL_STATUS = B.VIOL_STATUS
WHERE B.VIOL_STATUS IS NULL

