CREATE PROC [DBO].[FACT_INVOICE_VB_INVOICE_SUM_STAGE_LOAD] AS 

IF OBJECT_ID('dbo.FACT_INVOICE_VB_INVOICE_SUM_STAGE')>0 	DROP TABLE dbo.FACT_INVOICE_VB_INVOICE_SUM_STAGE

CREATE TABLE dbo.FACT_INVOICE_VB_INVOICE_SUM_STAGE WITH (CLUSTERED INDEX (VBI_INVOICE_ID), DISTRIBUTION = HASH(VIOLATOR_ID)) 
AS 
SELECT VBI.VIOLATOR_ID, VBI.VBI_INVOICE_ID, SUM(VBIV.TOLL_DUE) ZC_TOLLS_DUE, COUNT(VBIV.VIOLATION_ID) ZC_TXN_COUNT
FROM dbo.VB_INVOICES VBI
INNER JOIN VB_INVOICE_VIOL VBIV ON VBI.VBI_INVOICE_ID = VBIV.VBI_INVOICE_ID
GROUP BY VBI.VIOLATOR_ID, VBI.VBI_INVOICE_ID


exec DropStats 'dbo','FACT_INVOICE_VB_INVOICE_SUM_STAGE' 
-- exec CreateStats 'FACT_INVOICE_VB_INVOICE_SUM_STAGE'
CREATE STATISTICS STATS_FACT_INVOICE_VB_INVOICE_SUM_STAGE_001 ON DBO.FACT_INVOICE_VB_INVOICE_SUM_STAGE  (VIOLATOR_ID)
--CREATE STATISTICS STATS_FACT_INVOICE_VB_INVOICE_SUM_STAGE_001 ON DBO.FACT_INVOICE_VB_INVOICE_SUM_STAGE  (VBI_INVOICE_ID)

