CREATE PROC [DBO].[CA_INV_STATUS_LOAD] AS 

--DECLARE @LAST_UPDATE_DATE datetime2(2) 
--exec dbo.GetLoadStartDatetime 'dbo.CA_INV_STATUS', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.CA_INV_STATUS_STAGE')<>0
	DROP TABLE dbo.CA_INV_STATUS_STAGE

CREATE TABLE dbo.CA_INV_STATUS_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (CA_INV_STATUS)) 
AS 
-- EXPLAIN
SELECT A.CA_INV_STATUS, A.CA_INV_STATUS_DESCR, A.LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[CA_INV_STATUS] A
OPTION (LABEL = 'CA_INV_STATUS_LOAD: CA_INV_STATUS_STAGE');

CREATE STATISTICS STATS_CA_INV_STATUS_STAGE_001 ON CA_INV_STATUS_STAGE (CA_INV_STATUS)


UPDATE dbo.CA_INV_STATUS
SET  CA_INV_STATUS_DESCR = B.CA_INV_STATUS_DESCR
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.CA_INV_STATUS_STAGE B
WHERE 
	dbo.CA_INV_STATUS.CA_INV_STATUS = B.CA_INV_STATUS
	AND 
	dbo.CA_INV_STATUS.CA_INV_STATUS_DESCR <> B.CA_INV_STATUS_DESCR

INSERT INTO dbo.CA_INV_STATUS (CA_INV_STATUS, CA_INV_STATUS_DESCR, INSERT_DATE, LAST_UPDATE_DATE)
SELECT A.CA_INV_STATUS, A.CA_INV_STATUS_DESCR, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.CA_INV_STATUS_STAGE A
LEFT JOIN dbo.CA_INV_STATUS B ON A.CA_INV_STATUS = B.CA_INV_STATUS
WHERE B.CA_INV_STATUS IS NULL



