CREATE PROC [DBO].[PAYMENTS_VPS_DETAIL_LOAD] AS 
/*	

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.PAYMENTS_VPS_DETAIL_LOAD') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.PAYMENTS_VPS_DETAIL_LOAD
GO


EXEC DBO.PAYMENTS_VPS_DETAIL_LOAD

SELECT TOP 1000 * FROM DBO.PAYMENTS_VPS_DETAIL  

SELECT COUNT_BIG(1) FROM DBO.PAYMENTS_VPS_DETAIL  -- 474 778 705
--WHERE VTOLL = 0    -- 156 756 795
--WHERE VTOLL = 1    -- 318 021 910

SELECT COUNT_BIG(1) FROM LND_LG_VPS.VP_OWNER.PAYMENT_XREF  -- 164034575

SELECT COUNT_BIG(1) 
FROM LND_LG_VPS.VP_OWNER.PAYMENT_LINE_ITEMS PLI
JOIN LND_LG_VPS.VP_OWNER.PAYMENT_XREF PX	ON PX.PAYMENT_LINE_ITEM_ID = PLI.PAYMENT_LINE_ITEM_ID
WHERE PLI.PAYMENT_STATUS IN ('A')		-- 163809893
WHERE PLI.PAYMENT_STATUS IN ('A','I')   -- 164027798


SELECT * FROM dbo.PROCESS_LOG 
WHERE LOG_SOURCE LIKE 'PAYMENTS_VPS_DETAIL' AND LOG_DATE > '2019-02-20 8:00:00'
ORDER BY LOG_SOURCE, LOG_DATE


*/  
--#1	ANDY FILIPPS	2019-02-14	Created new proc

	--STEP #0: --DROP table IF EXISTS  --DECLARE @FROM_DAY_ID  INT = 20150101, @TO_DAY_ID  INT = 20190101


DECLARE @TABLE_NAME VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT 
DECLARE @PLI_CONTROL_DATE DATETIME2(2),@VTLS_CONTROL_DATE DATETIME2(2),@TLLT_CONTROL_DATE DATETIME2(2)
DECLARE @SQL VARCHAR(MAX)

--SELECT DISTINCT PAYMENT_SOURCE_CODE
--FROM LND_LG_VPS.VP_OWNER.PAYMENTS

--SELECT * FROM LND_LG_VPS.VP_OWNER.PAYMENT_SOURCE
--SELECT * FROM LND_LG_VPS.VP_OWNER.HOW_DELIVERED


SET @LOG_START_DATE = GETDATE()
SELECT  @TABLE_NAME = 'PAYMENTS_VPS_DETAIL', @LOG_MESSAGE = 'Started full load'
EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL

--IF OBJECT_ID('dbo.PAYMENTS_VPS_DETAIL_NEW_SET') IS NULL
BEGIN
	
	IF OBJECT_ID('dbo.CTE_VPS_HOST_TRANSACTIONS') IS NOT NULL  DROP TABLE dbo.CTE_VPS_HOST_TRANSACTIONS
	--EXPLAIN
	CREATE TABLE dbo.CTE_VPS_HOST_TRANSACTIONS WITH (CLUSTERED INDEX (TRANSACTION_ID), DISTRIBUTION = HASH(TRANSACTION_ID)) AS  -- 4 minutes
	--SELECT TRANSACTION_ID, COALESCE(V.VIOLATION_ID, H.VIOLATION_ID, -1) AS VIOLATION_ID, LIC_PLATE_NBR,LIC_PLATE_STATE, V.VIOLATOR_ID, H.LICENSE_PLATE_ID --, TAG_ID	
	SELECT TRANSACTION_ID, VIOLATION_ID, LIC_PLATE_NBR,LIC_PLATE_STATE, VIOLATOR_ID, LICENSE_PLATE_ID --, TAG_ID	
	FROM DBO.VPS_HOST_TRANSACTIONS H
	WHERE VIOLATION_ID > -1
	--LEFT JOIN DBO.FACT_VIOLATIONS_DETAIL V ON H.LANE_VIOL_ID = V.LANE_VIOL_ID AND V.VIOLATION_ID > -1 AND V.LANE_VIOL_ID > -1

	-- SELECT COUNT_BIG(1) FROM dbo.CTE_VPS_HOST_TRANSACTIONS  -- 289 158 196
																-- 289 012 041
	IF OBJECT_ID('dbo.PAYMENTS_VPS_DETAIL_STAGE') IS NOT NULL  DROP TABLE dbo.PAYMENTS_VPS_DETAIL_STAGE

	CREATE TABLE dbo.PAYMENTS_VPS_DETAIL_STAGE WITH (HEAP, DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS 
	-- EXPLAIN
	WITH CTE_PAYMENTS AS  
	(
		SELECT																			
			CAST(PLI.PAYMENT_TXN_ID AS BIGINT) * CAST(1000000000 AS BIGINT) + CAST(PLI.PAYMENT_LINE_ITEM_ID AS BIGINT) AS PAYMENT_ID, -- Up to 17 digits
			CASE 
				WHEN PX.VIOLATION_ID IS NOT NULL THEN CAST(40000000000 AS BIGINT) + CAST(PX.VIOLATION_ID AS BIGINT) 
				WHEN PX.VBI_VBI_INVOICE_ID IS NOT NULL THEN CAST(4810000000000 AS BIGINT) + CAST(PX.VBI_VBI_INVOICE_ID AS BIGINT)
				WHEN PX.VIOL_INVOICE_ID IS NOT NULL THEN   CAST(41070000000000 AS BIGINT) + PX.VIOL_INVOICE_ID
			END AS LAST_INVOICE_ID,
			PLI.PAYMENT_LINE_ITEM_ID,
			PLI.PAYMENT_FORM,
			PLI.PAYMENT_TXN_ID, 
			PLI.REF_LINE_ITEM_ID,
			PX.PAYMENT_STATUS,
			PMT.PAYMENT_DATE,
			PMT.VIOLATOR_ID, 
			PMT.LIC_PLATE_NBR, 
			PMT.LIC_PLATE_STATE, 
			LP.LICENSE_PLATE_ID,
			PMT.SHIFT_ID,
			PMT.PAYMENT_SOURCE_CODE,
			PMT.DELIVERY_CODE,
			--PX.PAYMENT_XREF_ID,
			--PX.TRANSACTION_TYPE,
			CAST(PX.VIOLATION_ID AS BIGINT)			AS VIOLATION_ID, 
			CAST(PX.VBI_VBI_INVOICE_ID AS BIGINT)	AS VBI_INVOICE_ID, 
			CAST(PX.VIOL_INVOICE_ID AS BIGINT)		AS VIOL_INVOICE_ID, 
			CASE WHEN PLI.REF_LINE_ITEM_ID <> PLI.PAYMENT_LINE_ITEM_ID THEN 1 ELSE 0 END AS IS_RETURN,
			CASE WHEN (PX.PAYMENT_STATUS = 'I' AND PLI.PAYMENT_STATUS != 'A') THEN - ABS(PX.SPLIT_AMOUNT) ELSE PX.SPLIT_AMOUNT END AS AMOUNT,
			CAST(PLI.LAST_UPDATE_DATE AS DATETIME2(2)) AS LAST_UPDATE_DATE  
		FROM DBO.PAYMENT_LINE_ITEMS_VPS PLI
		JOIN LND_LG_VPS.VP_OWNER.PAYMENTS PMT		ON PMT.PAYMENT_TXN_ID = PLI.PAYMENT_TXN_ID
		JOIN LND_LG_VPS.VP_OWNER.PAYMENT_XREF PX	ON PX.PAYMENT_LINE_ITEM_ID = PLI.PAYMENT_LINE_ITEM_ID AND PX.PAYMENT_STATUS IN ('A','I')
		LEFT JOIN dbo.DIM_LICENSE_PLATE AS LP ON PMT.LIC_PLATE_NBR = LP.LICENSE_PLATE_NBR AND PMT.LIC_PLATE_STATE = LP.LICENSE_PLATE_STATE
		--JOIN DBO.PAYMENTS_VPS PMT		ON PMT.PAYMENT_TXN_ID = PLI.PAYMENT_TXN_ID
		--JOIN DBO.PAYMENT_XREF_VPS PX	ON PX.PAYMENT_LINE_ITEM_ID = PLI.PAYMENT_LINE_ITEM_ID AND PX.PAYMENT_STATUS IN ('A','I')
	)
	, CTE_AGGREGETED AS  
	(
		SELECT																			
			PAYMENT_ID,LAST_INVOICE_ID,PAYMENT_LINE_ITEM_ID,PAYMENT_FORM,PAYMENT_TXN_ID, REF_LINE_ITEM_ID,PAYMENT_STATUS,PAYMENT_DATE,VIOLATOR_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LICENSE_PLATE_ID, SHIFT_ID,
			PAYMENT_SOURCE_CODE,DELIVERY_CODE,VIOLATION_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, IS_RETURN,SUM(AMOUNT) AS AMOUNT,MAX(LAST_UPDATE_DATE) LAST_UPDATE_DATE
		FROM CTE_PAYMENTS
		GROUP BY PAYMENT_ID,LAST_INVOICE_ID,PAYMENT_LINE_ITEM_ID,PAYMENT_FORM,PAYMENT_TXN_ID, REF_LINE_ITEM_ID,PAYMENT_STATUS,PAYMENT_DATE,VIOLATOR_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, LICENSE_PLATE_ID, SHIFT_ID,
			PAYMENT_SOURCE_CODE,DELIVERY_CODE,VIOLATION_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, IS_RETURN
	)
	SELECT
		CAST(CONVERT(VARCHAR(8), PMT.PAYMENT_DATE, 112) AS INT) DAY_ID,
		CAST(CONVERT(VARCHAR(6), PMT.PAYMENT_DATE, 112) AS INT) MONTH_ID,
		PMT.PAYMENT_ID,
		PMT.LAST_INVOICE_ID,
		PMT.VIOLATION_ID,
		PMT.VBI_INVOICE_ID, 
		PMT.VIOL_INVOICE_ID, 
		CAST(0 AS TINYINT) AS VTOLL,
		PMT.PAYMENT_DATE, 
		CASE WHEN PMT.PAYMENT_FORM IN ('E','R') THEN PMT.PAYMENT_DATE ELSE S.DEPOSIT_BUSINESS_DATE END AS DEPOSIT_DATE,
		RET.PAYMENT_DATE AS RETURN_PAYMENT_DATE,
		PMT.PAYMENT_FORM,
		PMT.PAYMENT_TXN_ID,
		PMT.PAYMENT_LINE_ITEM_ID,
		CAST(PMT.VIOLATOR_ID AS DECIMAL(10,0)) VIOLATOR_ID,
		PMT.LIC_PLATE_NBR, 
		PMT.LIC_PLATE_STATE,
		PMT.LICENSE_PLATE_ID,
		PMT.PAYMENT_STATUS,
		PMT.PAYMENT_SOURCE_CODE,
		PMT.DELIVERY_CODE,
		ISNULL(PMT.SHIFT_ID, -1) AS SHIFT_ID,
		--PMT.PAYMENT_XREF_ID,
		--PMT.TRANSACTION_TYPE,
		ISNULL(S.POS_ID, -1) AS POS_ID,
		CAST(PMT.AMOUNT AS DECIMAL(10,2)) AS PAID_AMOUNT,
		CAST(ABS(ISNULL(RET.AMOUNT,0)) AS DECIMAL(10,2)) AS RETURN_AMOUNT,
		CAST(PMT.AMOUNT - ABS(ISNULL(RET.AMOUNT,0)) AS DECIMAL(10,2)) AS AMOUNT,
		PMT.LAST_UPDATE_DATE
	FROM CTE_AGGREGETED  AS PMT
	LEFT JOIN (SELECT REF_LINE_ITEM_ID, LAST_INVOICE_ID, SUM(AMOUNT) AMOUNT, MAX(PAYMENT_DATE) PAYMENT_DATE FROM CTE_AGGREGETED WHERE IS_RETURN = 1 GROUP BY REF_LINE_ITEM_ID, LAST_INVOICE_ID) RET ON PMT.PAYMENT_LINE_ITEM_ID = RET.REF_LINE_ITEM_ID AND PMT.LAST_INVOICE_ID = RET.LAST_INVOICE_ID
	LEFT JOIN LND_LG_VPS.VP_OWNER.SHIFTS S	ON PMT.SHIFT_ID = S.SHIFT_ID
	WHERE PMT.IS_RETURN = 0  
	
	UNION ALL
	-- EXPLAIN	
	SELECT 
		CAST(CONVERT(VARCHAR(8), T.POSTED_DATE, 112) AS INT) DAY_ID,
		CAST(CONVERT(VARCHAR(6), T.POSTED_DATE, 112) AS INT) MONTH_ID,
		CAST(471100000000000000 AS BIGINT) + CAST(F.TRANSACTION_ID AS BIGINT) AS PAYMENT_ID, -- 18 Digits always
		CAST(40000000000 AS BIGINT) + CAST(F.VIOLATION_ID AS BIGINT) LAST_INVOICE_ID,
		CAST(F.VIOLATION_ID AS BIGINT) AS VIOLATION_ID,
		CAST(NULL AS BIGINT) AS VBI_INVOICE_ID, 
		CAST(NULL AS BIGINT) AS VIOL_INVOICE_ID, 
		CAST(1 AS TINYINT) AS VTOLL,
		T.POSTED_DATE AS PAYMENT_DATE,
		T.POSTED_DATE AS DEPOSIT_DATE,
		T.DATE_CREDITED AS RETURN_PAYMENT_DATE,
		'TC' AS PAYMENT_FORM,
		T.TTXN_ID AS PAYMENT_TXN_ID,
		-1 AS PAYMENT_LINE_ITEM_ID,
		CAST(F.VIOLATOR_ID AS DECIMAL(10,0)) VIOLATOR_ID,
		F.LIC_PLATE_NBR, 
		F.LIC_PLATE_STATE,
		F.LICENSE_PLATE_ID,
		'A' AS PAYMENT_STATUS,
		'-1' AS PAYMENT_SOURCE_CODE, --T.SOURCE_CODE AS PAYMENT_SOURCE_CODE,
		'O' AS DELIVERY_CODE,
		ISNULL(CAST(-1 AS BIGINT), -1) AS SHIFT_ID,
		--CAST(F.TRANSACTION_ID AS BIGINT) AS PAYMENT_XREF_ID,
		--CAST('VTOLL' AS VARCHAR(6)) TRANSACTION_TYPE,
		-1 AS POS_ID,
		CAST(T.AMOUNT AS DECIMAL(10,2)) AS PAID_AMOUNT,
		CAST(CASE WHEN CREDITED_FLAG = 'Y' THEN T.AMOUNT ELSE 0 END AS DECIMAL(10,2)) AS RETURN_AMOUNT,
		CAST(CASE WHEN CREDITED_FLAG != 'Y' THEN T.AMOUNT ELSE 0 END AS DECIMAL(10,2)) AS AMOUNT,
		T.LAST_UPDATE_DATE
	FROM dbo.FACT_TOLL_TRANSACTIONS AS T      
	JOIN dbo.CTE_VPS_HOST_TRANSACTIONS AS F ON F.TRANSACTION_ID = T.SOURCE_TRXN_ID --AND F.VIOLATION_ID > -1  
	WHERE T.SOURCE_CODE NOT IN ('H','I','B','C')
	OPTION (LABEL = 'PAYMENTS_VPS_DETAIL LOAD: STAGE');
	
	--SELECT TOP 100  * FROM dbo.PAYMENTS_VPS_DETAIL WHERE VTOLL = 1 AND RETURN_AMOUNT <> 0

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Finisfed New set PAYMENTS_VPS_DETAIL load'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT
	

	DECLARE @PART_RANGES VARCHAR(MAX) = ''
	--EXEC DBO.GET_PARTITION_MONTH_RANGE_STRING @PART_RANGES OUTPUT
	EXEC DBO.GET_PARTITION_DAYID_RANGE_STRING @PART_RANGES OUTPUT
	DECLARE @SQL_DDL VARCHAR(MAX)

	IF OBJECT_ID('dbo.PAYMENTS_VPS_DETAIL_NEW_SET') IS NOT NULL  DROP TABLE dbo.PAYMENTS_VPS_DETAIL_NEW_SET
	SET @SQL = '
	CREATE TABLE dbo.PAYMENTS_VPS_DETAIL_NEW_SET WITH (CLUSTERED INDEX (PAYMENT_ID), DISTRIBUTION = HASH(LAST_INVOICE_ID), PARTITION (DAY_ID RANGE RIGHT FOR VALUES (' + @PART_RANGES + '))) AS 
	SELECT * FROM dbo.PAYMENTS_VPS_DETAIL_STAGE
	OPTION (LABEL = ''PAYMENTS_VPS_DETAIL LOAD'');'
	-- PRINT @@SQL
	EXEC(@SQL)

	CREATE STATISTICS STATS_PAYMENTS_VPS_DETAIL_000 ON dbo.PAYMENTS_VPS_DETAIL_NEW_SET (LAST_INVOICE_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_DETAIL_001 ON dbo.PAYMENTS_VPS_DETAIL_NEW_SET (VIOLATION_ID,LAST_INVOICE_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_DETAIL_002 ON dbo.PAYMENTS_VPS_DETAIL_NEW_SET (VBI_INVOICE_ID,LAST_INVOICE_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_DETAIL_003 ON dbo.PAYMENTS_VPS_DETAIL_NEW_SET (VIOL_INVOICE_ID,LAST_INVOICE_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_DETAIL_004 ON dbo.PAYMENTS_VPS_DETAIL_NEW_SET (VIOLATOR_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_DETAIL_005 ON dbo.PAYMENTS_VPS_DETAIL_NEW_SET (POS_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_DETAIL_006 ON dbo.PAYMENTS_VPS_DETAIL_NEW_SET (VTOLL,PAYMENT_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_DETAIL_007 ON dbo.PAYMENTS_VPS_DETAIL_NEW_SET (SHIFT_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_DETAIL_008 ON dbo.PAYMENTS_VPS_DETAIL_NEW_SET (DAY_ID,MONTH_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_DETAIL_009 ON dbo.PAYMENTS_VPS_DETAIL_NEW_SET (PAYMENT_DATE)

	IF OBJECT_ID('dbo.PAYMENTS_VPS_DETAIL_OLD') IS NOT NULL 	DROP TABLE dbo.PAYMENTS_VPS_DETAIL_OLD;
	IF OBJECT_ID('dbo.PAYMENTS_VPS_DETAIL') IS NOT NULL		RENAME OBJECT::dbo.PAYMENTS_VPS_DETAIL TO PAYMENTS_VPS_DETAIL_OLD;
	RENAME OBJECT::dbo.PAYMENTS_VPS_DETAIL_NEW_SET TO PAYMENTS_VPS_DETAIL;
END 

/*
BEGIN -- SUMMARY LOAD
	IF OBJECT_ID('dbo.PAYMENTS_VPS_SUMMARY_NEW_SET') IS NOT NULL DROP TABLE dbo.PAYMENTS_VPS_SUMMARY_NEW_SET;
	CREATE TABLE dbo.PAYMENTS_VPS_SUMMARY_NEW_SET WITH (CLUSTERED INDEX (PAYMENT_ID), DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS -- 155 084 069
	SELECT
		LAST_INVOICE_ID,MAX(PAYMENT_ID) AS PAYMENT_ID,VIOLATION_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID,VTOLL,CAST(PAYMENT_DATE AS DATE) PAYMENT_DATE,DELIVERY_CODE,PAYMENT_SOURCE_CODE,
		CAST(DEPOSIT_DATE AS DATE) DEPOSIT_DATE,CAST(RETURN_PAYMENT_DATE AS DATE) RETURN_PAYMENT_DATE,VIOLATOR_ID,LIC_PLATE_NBR, LIC_PLATE_STATE,POS_ID,PAYMENT_FORM,
		SUM(PAID_AMOUNT) AS PAID_AMOUNT,SUM(RETURN_AMOUNT) AS RETURN_AMOUNT,SUM(AMOUNT) AS AMOUNT
	-- SELECT COUNT_BIG(1)
	FROM dbo.PAYMENTS_VPS_DETAIL P  -- 162 270 269
	GROUP BY LAST_INVOICE_ID,VIOLATION_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID,VTOLL,CAST(PAYMENT_DATE AS DATE),CAST(DEPOSIT_DATE AS DATE),CAST(RETURN_PAYMENT_DATE AS DATE),VIOLATOR_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,POS_ID,PAYMENT_FORM,DELIVERY_CODE,PAYMENT_SOURCE_CODE
	OPTION (LABEL = 'PAYMENTS_VPS LOAD: PAYMENTS_VPS_SUMMARY');

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Finisfed New set PAYMENTS_VPS_SUMMARY load'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	CREATE STATISTICS STATS_PAYMENTS_VPS_SUMMARY_000 ON dbo.PAYMENTS_VPS_SUMMARY_NEW_SET (LAST_INVOICE_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_SUMMARY_001 ON dbo.PAYMENTS_VPS_SUMMARY_NEW_SET (VIOLATION_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_SUMMARY_002 ON dbo.PAYMENTS_VPS_SUMMARY_NEW_SET (VBI_INVOICE_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_SUMMARY_003 ON dbo.PAYMENTS_VPS_SUMMARY_NEW_SET (VIOL_INVOICE_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_SUMMARY_004 ON dbo.PAYMENTS_VPS_SUMMARY_NEW_SET (VIOLATOR_ID)
	CREATE STATISTICS STATS_PAYMENTS_VPS_SUMMARY_005 ON dbo.PAYMENTS_VPS_SUMMARY_NEW_SET (POS_ID)

	IF OBJECT_ID('dbo.PAYMENTS_VPS_SUMMARY_OLD')>0 	DROP TABLE dbo.PAYMENTS_VPS_SUMMARY_OLD;
	IF OBJECT_ID('dbo.PAYMENTS_VPS_SUMMARY')>0		RENAME OBJECT::dbo.PAYMENTS_VPS_SUMMARY TO PAYMENTS_VPS_SUMMARY_OLD;
	RENAME OBJECT::dbo.PAYMENTS_VPS_SUMMARY_NEW_SET TO PAYMENTS_VPS_SUMMARY;

END -- SUMMARY LOAD
*/

--SELECT COUNT_BIG(1) FROM dbo.PAYMENTS_VPS_SUMMARY WHERE VIOLATOR_ID IS NULL  -- 469 602 713
--SELECT COUNT_BIG(1) FROM dbo.PAYMENTS_VPS_DETAIL WHERE VIOLATOR_ID IS NULL  -- 476 614 832

--IF OBJECT_ID('dbo.STAGE_LOAD_PAYMENTS') IS NOT NULL DROP TABLE dbo.STAGE_LOAD_PAYMENTS;

SELECT @PLI_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.PAYMENT_LINE_ITEMS
DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'PAYMENTS_VPS_DETAIL&PAYMENT_LINE_ITEMS'
INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'PAYMENTS_VPS_DETAIL&PAYMENT_LINE_ITEMS', LAST_RUN_DATE = @PLI_CONTROL_DATE

SELECT @VTLS_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  LND_LG_VPS.VP_OWNER.VPS_HOST_TRANSACTIONS --dbo.FACT_VTOLLS_DETAIL
DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'PAYMENTS_VPS_DETAIL&VPS_HOST_TRANSACTIONS'
INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'PAYMENTS_VPS_DETAIL&VPS_HOST_TRANSACTIONS', LAST_RUN_DATE = @VTLS_CONTROL_DATE

SELECT @TLLT_CONTROL_DATE = MAX(LAST_UPDATE_DATE) FROM  dbo.FACT_TOLL_TRANSACTIONS --LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS  --dbo.FACT_TOLL_TRANSACTIONS
DELETE FROM dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = 'PAYMENTS_VPS_DETAIL&TOLL_TRANSACTIONS'
INSERT	INTO dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = 'PAYMENTS_VPS_DETAIL&TOLL_TRANSACTIONS', LAST_RUN_DATE = @TLLT_CONTROL_DATE

SET  @LOG_MESSAGE = 'Finished full load'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL

--IF OBJECT_ID('dbo.CTE_VIOLATIONS') IS NOT NULL  DROP TABLE dbo.CTE_VIOLATIONS
--IF OBJECT_ID('dbo.CTE_TOLL_TRANSACTIONS') IS NOT NULL  DROP TABLE dbo.CTE_TOLL_TRANSACTIONS
IF OBJECT_ID('dbo.CTE_VPS_HOST_TRANSACTIONS') IS NOT NULL  DROP TABLE dbo.CTE_VPS_HOST_TRANSACTIONS
IF OBJECT_ID('dbo.PAYMENTS_VPS_DETAIL_OLD') IS NOT NULL 	DROP TABLE dbo.PAYMENTS_VPS_DETAIL_OLD;



