CREATE PROC [DBO].[PAYMENT_FORMS_LOAD] AS 

-- GetFields 'PAYMENT_FORMS'
--    PAYMENT_FORM, PAYMENT_FORM_DESCR, LAST_UPDATE_DATE, LAST_UPDATE_TYPE

--DECLARE @LAST_UPDATE_DATE datetime2(2) 
--exec dbo.GetLoadStartDatetime 'dbo.PAYMENT_FORMS', @LAST_UPDATE_DATE OUTPUT

--SELECT * FROM dbo.PAYMENT_FORMS


IF OBJECT_ID('dbo.PAYMENT_FORMS_STAGE')<>0 	DROP TABLE dbo.PAYMENT_FORMS_STAGE

CREATE TABLE dbo.PAYMENT_FORMS_STAGE WITH (HEAP, DISTRIBUTION = REPLICATE) 
AS 
-- EXPLAIN
SELECT   PAYMENT_FORM, PAYMENT_FORM_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[PAYMENT_FORMS] A
--WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'PAYMENT_FORMS_LOAD: PAYMENT_FORMS_STAGE');

INSERT INTO dbo.PAYMENT_FORMS_STAGE 
		(PAYMENT_FORM, PAYMENT_FORM_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
VALUES	('-1','(Null)','I','1900-01-01')

CREATE STATISTICS STATS_PAYMENT_FORMS_001 ON PAYMENT_FORMS_STAGE (PAYMENT_FORM)


IF OBJECT_ID('DBO.PAYMENT_FORMS_OLD') > 0		DROP TABLE dbo.PAYMENT_FORMS_OLD;
IF OBJECT_ID('DBO.PAYMENT_FORMS') > 0			RENAME OBJECT::dbo.PAYMENT_FORMS TO PAYMENT_FORMS_OLD;
IF OBJECT_ID('DBO.PAYMENT_FORMS_STAGE') > 0		RENAME OBJECT::DBO.PAYMENT_FORMS_STAGE TO PAYMENT_FORMS;
IF OBJECT_ID('DBO.PAYMENT_FORMS_OLD') > 0		DROP TABLE dbo.PAYMENT_FORMS_OLD;


--SELECT * FROM dbo.PAYMENT_FORMS

--CREATE STATISTICS STATS_PAYMENT_FORMS_STAGE_001 ON PAYMENT_FORMS_STAGE (PAYMENT_FORM)


--UPDATE dbo.PAYMENT_FORMS
--SET  PAYMENT_FORM_DESCR = B.PAYMENT_FORM_DESCR
--	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
--	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
--FROM dbo.PAYMENT_FORMS_STAGE B
--WHERE 
--	dbo.PAYMENT_FORMS.PAYMENT_FORM = B.PAYMENT_FORM
--	AND dbo.PAYMENT_FORMS.PAYMENT_FORM_DESCR <> B.PAYMENT_FORM_DESCR 

--INSERT INTO dbo.PAYMENT_FORMS (PAYMENT_FORM, PAYMENT_FORM_DESCR, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
--SELECT A.PAYMENT_FORM, A.PAYMENT_FORM_DESCR, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
--FROM dbo.PAYMENT_FORMS_STAGE A
--LEFT JOIN dbo.PAYMENT_FORMS B ON A.PAYMENT_FORM = B.PAYMENT_FORM 
--WHERE B.PAYMENT_FORM IS NULL 





