CREATE PROC [dbo].[DIM_ICS_LANE_VIOL_IMAGES_LOAD] AS
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.DIM_ICS_LANE_VIOL_IMAGES_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.DIM_ICS_LANE_VIOL_IMAGES_LOAD
GO

EXEC EDW_RITE.DBO.DIM_ICS_LANE_VIOL_IMAGES_LOAD



*/

BEGIN
	--Shankar Metla  2018-10-01  Created

    IF OBJECT_ID('dbo.DIM_ICS_LANE_VIOL_IMAGES_STAGE') IS NOT NULL 	DROP TABLE dbo.DIM_ICS_LANE_VIOL_IMAGES_STAGE;
    CREATE TABLE dbo.DIM_ICS_LANE_VIOL_IMAGES_STAGE WITH (DISTRIBUTION = HASH(LANE_VIOL_ID), CLUSTERED INDEX (LANE_VIOL_ID))
    AS
    SELECT  LANE_VIOL_ID, IMAGE_LOCATION, [1] [IMAGE_NAME_1],[2] [IMAGE_NAME_2],[3] [IMAGE_NAME_3],[4] [IMAGE_NAME_4],[5] [IMAGE_NAME_5],[6] [IMAGE_NAME_6]
    FROM (	
		    SELECT  LANE_VIOL_ID,VIOL_IMAGE_SEQ,IMAGE_LOCATION, IMAGE_NAME	AS [IMAGE]
		    FROM	LND_LG_ICRS.[ICRS_OWNER].[ICS_LANE_VIOL_IMAGES] 
		    WHERE	IS_ROI = 'N'
            --AND   LAST_UPDATE_DATE > '9/6/2018'
		    --AND   [LANE_VIOL_ID] = 2546163190
	    ) AS SourceTable
	    PIVOT (MAX([IMAGE]) FOR VIOL_IMAGE_SEQ IN ([1],[2],[3],[4],[5],[6]) ) AS Pivot1
	
 	CREATE STATISTICS [STATS_DIM_ICS_LANE_VIOL_IMAGES_001] ON EDW_RITE.dbo.[DIM_ICS_LANE_VIOL_IMAGES_STAGE] (IMAGE_LOCATION);

	IF OBJECT_ID('dbo.DIM_ICS_LANE_VIOL_IMAGES_OLD') IS NOT NULL 	DROP TABLE dbo.DIM_ICS_LANE_VIOL_IMAGES_OLD;
	IF OBJECT_ID('dbo.DIM_ICS_LANE_VIOL_IMAGES')  IS NOT NULL		RENAME OBJECT::dbo.DIM_ICS_LANE_VIOL_IMAGES TO DIM_ICS_LANE_VIOL_IMAGES_OLD;
	RENAME OBJECT::dbo.DIM_ICS_LANE_VIOL_IMAGES_STAGE TO DIM_ICS_LANE_VIOL_IMAGES;
	IF OBJECT_ID('dbo.DIM_ICS_LANE_VIOL_IMAGES_OLD') IS NOT NULL 	DROP TABLE dbo.DIM_ICS_LANE_VIOL_IMAGES_OLD;


END


