CREATE PROC [dbo].[PARTITION_AS_OF_DATE_CONTROL_CURRENT_IND_UPDATE] AS

BEGIN 
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	-- -- -- TURN OFF THE OLD CURRENT_IND Rows	-- -- -- 
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
	IF (
			SELECT COUNT(*)
			FROM PARTITION_AS_OF_DATE_CONTROL 
			WHERE PARTITION_DATE < (SELECT TOP 1 PARTITION_DATE FROM PARTITION_AS_OF_DATE_CONTROL ORDER BY PARTITION_DATE DESC) AND CURRENT_IND = 1
		) >0
		BEGIN 

			IF OBJECT_ID ('PARTITION_AS_OF_DATE_CONTROL_TURN_OFF_OLD_CURRENT_IND')<>0
			DROP TABLE PARTITION_AS_OF_DATE_CONTROL_TURN_OFF_OLD_CURRENT_IND

			CREATE TABLE dbo.PARTITION_AS_OF_DATE_CONTROL_TURN_OFF_OLD_CURRENT_IND WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (PARTITION_DATE)) 
			AS 
				SELECT PARTITION_DATE 
				FROM PARTITION_AS_OF_DATE_CONTROL 
				WHERE PARTITION_DATE < (SELECT TOP 1 PARTITION_DATE FROM PARTITION_AS_OF_DATE_CONTROL ORDER BY PARTITION_DATE DESC)
				AND CURRENT_IND = 1

			UPDATE PARTITION_AS_OF_DATE_CONTROL
			SET CURRENT_IND = 0
			FROM PARTITION_AS_OF_DATE_CONTROL_TURN_OFF_OLD_CURRENT_IND
			WHERE PARTITION_AS_OF_DATE_CONTROL.PARTITION_DATE = PARTITION_AS_OF_DATE_CONTROL_TURN_OFF_OLD_CURRENT_IND.PARTITION_DATE

		END 
		

		IF OBJECT_ID ('PARTITION_AS_OF_DATE_CONTROL_TURN_OFF_OLD_CURRENT_IND')<>0
		DROP TABLE PARTITION_AS_OF_DATE_CONTROL_TURN_OFF_OLD_CURRENT_IND

	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
	-- -- -- Make sure we have the most recent Partition Marked as CURRENT	-- -- -- 
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
	IF (
			SELECT COUNT(*)
			FROM PARTITION_AS_OF_DATE_CONTROL 
			WHERE PARTITION_DATE = (SELECT TOP 1 PARTITION_DATE FROM PARTITION_AS_OF_DATE_CONTROL ORDER BY PARTITION_DATE DESC)
			AND CURRENT_IND = 0 
		) >0
		BEGIN 
			IF OBJECT_ID ('PARTITION_AS_OF_DATE_CONTROL_TURN_ON_CURRENT_IND')<>0
				DROP TABLE PARTITION_AS_OF_DATE_CONTROL_TURN_ON_CURRENT_IND

			CREATE TABLE dbo.PARTITION_AS_OF_DATE_CONTROL_TURN_ON_CURRENT_IND WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (PARTITION_DATE)) 
			AS 
				SELECT TOP 1 PARTITION_DATE, CURRENT_IND FROM PARTITION_AS_OF_DATE_CONTROL ORDER BY PARTITION_DATE DESC

			UPDATE PARTITION_AS_OF_DATE_CONTROL
			SET CURRENT_IND = 1
			FROM PARTITION_AS_OF_DATE_CONTROL_TURN_ON_CURRENT_IND
			WHERE PARTITION_AS_OF_DATE_CONTROL.PARTITION_DATE = PARTITION_AS_OF_DATE_CONTROL_TURN_ON_CURRENT_IND.PARTITION_DATE
			AND PARTITION_AS_OF_DATE_CONTROL.CURRENT_IND = 0
		END 

		IF OBJECT_ID ('PARTITION_AS_OF_DATE_CONTROL_TURN_ON_CURRENT_IND')<>0
		DROP TABLE PARTITION_AS_OF_DATE_CONTROL_TURN_ON_CURRENT_IND


	 exec DropStats 'dbo','PARTITION_AS_OF_DATE_CONTROL' 
	-- exec CreateStats 'FACT_INVOICE_ANALYSIS'
	CREATE STATISTICS STATS_PARTITION_AS_OF_DATE_CONTROL_1 ON PARTITION_AS_OF_DATE_CONTROL (PARTITION_DATE)
	CREATE STATISTICS STATS_PARTITION_AS_OF_DATE_CONTROL_2 ON PARTITION_AS_OF_DATE_CONTROL (PARTITION_DATE, CURRENT_IND)
	CREATE STATISTICS STATS_PARTITION_AS_OF_DATE_CONTROL_3 ON PARTITION_AS_OF_DATE_CONTROL (PARTITION_DATE, DATA_AS_OF_DATE, CURRENT_IND)
	CREATE STATISTICS STATS_PARTITION_AS_OF_DATE_CONTROL_4 ON PARTITION_AS_OF_DATE_CONTROL (PARTITION_DATE, DATA_AS_OF_DATE)
	CREATE STATISTICS STATS_PARTITION_AS_OF_DATE_CONTROL_5 ON PARTITION_AS_OF_DATE_CONTROL (CURRENT_IND)
	CREATE STATISTICS STATS_PARTITION_AS_OF_DATE_CONTROL_6 ON PARTITION_AS_OF_DATE_CONTROL (KEEP_PARTITION_IND)


END

