CREATE PROC [DBO].[VB_STATEMENTS_LOAD] AS

/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.VB_STATEMENTS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.VB_STATEMENTS_LOAD
GO

*/

/*	
SELECT TOP 100 * FROM VB_STATEMENTS 
SELECT COUNT_BIG(1) FROM VB_STATEMENTS -- 285 067 300 
*/  

/*
INSERT INTO dbo.VB_STATEMENTS
	(	 	  
	VBS_STATEMENT_ID, VBS_STATEMENT_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
	VALUES
	(-1,'1900-01-01','I','2000-01-01')
*/

------ GetFields 'dbo','VB_STATEMENTS'
------ VBS_STATEMENT_ID, VBS_STATEMENT_DATE, LAST_UPDATE_DATE, LAST_UPDATE_TYPE

DECLARE @LAST_UPDATE_DATE datetime2(2) 
exec dbo.GetLoadStartDatetime 'dbo.VB_STATEMENTS', @LAST_UPDATE_DATE OUTPUT
--PRINT @LAST_UPDATE_DATE

IF OBJECT_ID('dbo.VB_STATEMENTS_STAGE')<>0	DROP TABLE dbo.VB_STATEMENTS_STAGE

CREATE TABLE dbo.VB_STATEMENTS_STAGE WITH (HEAP, DISTRIBUTION = HASH(VBS_STATEMENT_ID))--, CLUSTERED INDEX (VBS_STATEMENT_ID)) 
AS 
-- EXPLAIN
SELECT   VBS_STATEMENT_ID, ISNULL(VBS_STATEMENT_DATE,'1/1/1900') As VBS_STATEMENT_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE,
	ROW_NUMBER() OVER (PARTITION BY VBS_STATEMENT_ID ORDER BY LAST_UPDATE_DATE DESC) AS RN
FROM LND_LG_VPS.[VP_OWNER].[VB_STATEMENTS] A
WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'VB_STATEMENTS_LOAD: VB_STATEMENTS_STAGE');

CREATE STATISTICS STATS_VB_STATEMENTS_STAGE_001 ON VB_STATEMENTS_STAGE (VBS_STATEMENT_ID)


IF OBJECT_ID('dbo.VB_STATEMENTS_NEW_STAGE')>0 	DROP TABLE dbo.VB_STATEMENTS_NEW_STAGE

CREATE TABLE dbo.VB_STATEMENTS_NEW_STAGE WITH (CLUSTERED INDEX (VBS_STATEMENT_ID), DISTRIBUTION = HASH(VBS_STATEMENT_ID)) AS    
SELECT	
	VBS_STATEMENT_ID, VBS_STATEMENT_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM dbo.VB_STATEMENTS AS F
WHERE NOT EXISTS (SELECT 1 FROM dbo.VB_STATEMENTS_STAGE AS N WHERE N.VBS_STATEMENT_ID = F.VBS_STATEMENT_ID)
  UNION ALL 
SELECT	
	VBS_STATEMENT_ID, VBS_STATEMENT_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM dbo.VB_STATEMENTS_STAGE AS N
WHERE  LAST_UPDATE_TYPE <> 'D' AND RN = 1
OPTION (LABEL = 'VB_STATEMENTS_LOAD: INSERT/UPDATE');

CREATE STATISTICS [STATS_VB_STATEMENTS_001] ON [dbo].VB_STATEMENTS_NEW_STAGE ([VBS_STATEMENT_DATE]);
CREATE STATISTICS [STATS_VB_STATEMENTS_002] ON [dbo].VB_STATEMENTS_NEW_STAGE ([LAST_UPDATE_DATE]);

--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.VB_STATEMENTS_OLD')>0 	DROP TABLE dbo.VB_STATEMENTS_OLD;
IF OBJECT_ID('dbo.VB_STATEMENTS')>0		RENAME OBJECT::dbo.VB_STATEMENTS TO VB_STATEMENTS_OLD;
RENAME OBJECT::dbo.VB_STATEMENTS_NEW_STAGE TO VB_STATEMENTS;
IF OBJECT_ID('dbo.VB_STATEMENTS_OLD')>0 	DROP TABLE dbo.VB_STATEMENTS_OLD;


IF OBJECT_ID('dbo.VB_STATEMENTS_STAGE')>0 	DROP TABLE dbo.VB_STATEMENTS_STAGE



--IF OBJECT_ID('dbo.VB_STATEMENTS_STAGE_UPDATES')<>0
--	DROP TABLE dbo.VB_STATEMENTS_STAGE_UPDATES

--CREATE TABLE dbo.VB_STATEMENTS_STAGE_UPDATES WITH (DISTRIBUTION = HASH(VBS_STATEMENT_ID))--, CLUSTERED INDEX (VBS_STATEMENT_ID)) 
--AS 
---- EXPLAIN
--SELECT   VBS_STATEMENT_ID, VBS_STATEMENT_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
--FROM VB_STATEMENTS_STAGE 
--WHERE LAST_UPDATE_TYPE = 'U'

--UPDATE dbo.VB_STATEMENTS
--SET  VBS_STATEMENT_DATE = B.VBS_STATEMENT_DATE
--	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
--	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
--FROM dbo.VB_STATEMENTS_STAGE B
--WHERE 
--		dbo.VB_STATEMENTS.VBS_STATEMENT_ID = B.VBS_STATEMENT_ID
--		AND ISNULL(dbo.VB_STATEMENTS.VBS_STATEMENT_DATE,'1/1/1900') = ISNULL(B.VBS_STATEMENT_DATE,'1/1/1900')
----		AND B.LAST_UPDATE_TYPE = 'U'

--INSERT INTO dbo.VB_STATEMENTS (VBS_STATEMENT_ID, VBS_STATEMENT_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
--SELECT A.VBS_STATEMENT_ID, A.VBS_STATEMENT_DATE, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
--FROM dbo.VB_STATEMENTS_STAGE A
--LEFT JOIN dbo.VB_STATEMENTS B ON A.VBS_STATEMENT_ID = B.VBS_STATEMENT_ID 
--WHERE B.VBS_STATEMENT_ID IS NULL 


--IF OBJECT_ID('dbo.VB_STATEMENTS_STAGE')<>0
--	DROP TABLE dbo.VB_STATEMENTS_STAGE

--IF OBJECT_ID('dbo.VB_STATEMENTS_STAGE_UPDATES')<>0
--	DROP TABLE dbo.VB_STATEMENTS_STAGE_UPDATES

/*

	DBCC PDW_SHOWSPACEUSED (VB_STATEMENTS)
	SELECT COUNT(*) FROM dbo.VB_STATEMENTS


*/



