CREATE PROC [DBO].[TOTAL_NET_REV_TFC_EVTS_FIRST_LOAD] AS 

DECLARE @sql VARCHAR(MAX)

DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT, @LOG_PATTERN VARCHAR(1000)

DECLARE @CURRENT_PN SMALLINT
DECLARE @PART_NUM_BEGIN SMALLINT
DECLARE @PART_NUM_END SMALLINT
DECLARE @Cur_Part INT

IF OBJECT_ID('dbo.TOTAL_NET_REV_TFC_EVTS_STAGE') IS NOT NULL 	 DROP TABLE dbo.TOTAL_NET_REV_TFC_EVTS_STAGE

SELECT  @SOURCE = 'TOTAL_NET_REV_TFC_EVTS', @LOG_START_DATE = GETDATE(), @LOG_PATTERN = 'TOTAL_NET_REV_TFC_EVTS FULL LOAD. MESSAGE: '
--EXEC    dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE,  NULL

--STEP #2: --Calculating partitions ranges for stage table
-- Have to create exactly the same partitions on this table as on the main - it will not work if one partition will not have the same boundaries 
DECLARE @PART_RANGES VARCHAR(MAX) = ''

DECLARE @TempVar VARCHAR(20)
DECLARE @NUM_PART INT = (SELECT MAX(PARTITION_NUM) FROM EDW_RITE.dbo.PARTITION_DAY_ID_CONTROL WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION')
SET @Cur_Part = 2
-- First not in the loop without any comma
SELECT @PART_RANGES = CHAR(39) + CONVERT(VARCHAR(19), StartDate, 121)+ CHAR(39) FROM EDW_RITE.dbo.PARTITION_DAY_ID_CONTROL WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND PARTITION_NUM = @Cur_Part


WHILE (@Cur_Part < @NUM_PART) BEGIN
	SET @Cur_Part += 1
	SELECT @TempVar = CHAR(39) + CONVERT(VARCHAR(19), PD.StartDate, 121) + CHAR(39) FROM EDW_RITE.dbo.PARTITION_DAY_ID_CONTROL AS PD WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND PD.PARTITION_NUM = @Cur_Part
	SET @PART_RANGES = @PART_RANGES + ',' + @TempVar
END;

--STEP #3: --Getting the new information from the main query 
SET @sql = '
CREATE TABLE dbo.TOTAL_NET_REV_TFC_EVTS_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_TART_ID), PARTITION  (Local_Time RANGE RIGHT FOR VALUES ('+@PART_RANGES+'))) AS

SELECT *
FROM (--EXPLAIN
	SELECT --TOP(10)                      
			0 ATD_ID,
            ISNULL (TART.OPNM_ID, -1) OPNM_OPNM_ID,
            ISNULL(TART.PMTY_ID, -1) PMTY_PMTY_ID,
            ISNULL(TART.VCLY_ID, -1) VCLY_VCLY_ID,
            TART.LANE_ID LANE_LANE_ID,
            TART.TART_ID TART_TART_ID,
            TART.DATE_TIME,
			CASE WHEN EXISTS (SELECT 1 FROM dbo.TIME_ZONE_OFFSET TZ WHERE TART.DATE_TIME BETWEEN TZ.DST_Start_Date AND TZ.DST_End_Date)
				THEN DATEADD(hh, -5, TART.DATE_TIME)
				ELSE DATEADD(hh, -6, TART.DATE_TIME)
			END AS Local_Time,
            TART.EARNED_REV EAR_REV,
            TART.EARNED_REV EXP_REV,
            TART.ACTUAL_REV ACT_REV,
            TCD.PRE_CLASS AVC_CLASS,
            TCD.ATT_CLASS IND_CLASS,
            TCD.REV_AXLE_CT,
            TCD.ATT_CLASS,
            TCD.FWD_AXLE_CT,
            TCD.EXIT_LOOP_CTS,
            TCD.ATT_FARE,
            TCD.PRE_CLASS,
            CASE WHEN ISNULL(TART.OPNM_ID, -1) = 3 
				THEN	CASE WHEN TCD.ATT_CLASS IS NULL OR TCD.ATT_CLASS = ISNULL(TART.VCLY_ID, -1) 
							THEN  0
							ELSE 1 
						END	
				ELSE 0 
			END MISCLASS_CT,
            0 SIGN_FLG,
            '''' ADJ_STATUS,
            TART.TXID_ID TXID_ID,                 
            EE.VES_SERIAL_NO VES_SERIAL_NO,       
			EE.VES_DATE_TIME,
            TART.TRANSACTION_FILE_DETAIL_ID,       
			CAST(BB.AVI_HANDSHAKE AS FLOAT) AVI_HANDSHAKE,
			BB.AVI_TAG_STATUS,
            EE.VEH_SPEED,
			TART.LAST_UPDATE_DATE
        FROM EDW_RITE.dbo.TA_REV_TFC_EVTS TART
        LEFT JOIN EDW_RITE.dbo.TA_TXN_AVI_DATAS BB ON TART.TART_ID = BB.TART_ID
		LEFT JOIN EDW_RITE.dbo.TA_TXN_CLASS_DATAS TCD ON TART.TART_ID = TCD.TART_ID
		LEFT JOIN EDW_RITE.dbo.TA_TXN_RITE_DATAS EE  ON TART.TART_ID = EE.TART_TART_ID
		WHERE TART.PMTY_ID IS NOT NULL
    UNION ALL --EXPLAIN
    SELECT ATD.ATD_ID,
            ATD.OPNM_OPNM_ID,
            ATD.PMTY_PMTY_ID,
            ATD.VCLY_VCLY_ID,
            ATD.LANE_LANE_ID,
            ATD.DUMMY_TART_ID,
            ATD.DATE_TIME,
			CASE WHEN EXISTS (SELECT 1 FROM dbo.TIME_ZONE_OFFSET TZ WHERE ATD.DATE_TIME BETWEEN TZ.DST_Start_Date AND TZ.DST_End_Date)
				THEN DATEADD(hh, -5, ATD.DATE_TIME)
				ELSE DATEADD(hh, -6, ATD.DATE_TIME)
			END AS Local_Time,
            CASE WHEN SIGN_FLG = -1 THEN 0 ELSE ATD.EAR_REV END EAR_REV,
            CASE WHEN SIGN_FLG = -1 THEN 0 ELSE ATD.EXP_REV END EXP_REV,
            0 ACT_REV,
            ATD.VCLY_VCLY_ID AVC_CLASS,
            ATD.VCLY_VCLY_ID IND_CLASS,
            ATD.REV_AXLE_CT,
            ATD.ATT_CLASS,
            ATD.FWD_AXLE_CT,
            ATD.EXIT_LOOP_CTS,
            ATD.ATT_FARE,
            ATD.PRE_CLASS,
            ATD.MISCLASS_CT,
            ATD.SIGN_FLG,
            ''!'' ADJ_STATUS,
            TART.TXID_ID TXID_ID,                
            EE.VES_SERIAL_NO,                    
			EE.VES_DATE_TIME,
            TART.TRANSACTION_FILE_DETAIL_ID,      
			CAST(BB.AVI_HANDSHAKE AS FLOAT) AVI_HANDSHAKE,
			BB.AVI_TAG_STATUS,
            EE.VEH_SPEED,
			TART.LAST_UPDATE_DATE-- SELECT TOP(100) * 
        FROM EDW_RITE.dbo.AU_TXN_ADJ_DETAILS ATD
        LEFT JOIN EDW_RITE.dbo.TA_TXN_AVI_DATAS BB ON ATD.TART_TART_ID = BB.TART_ID
        LEFT JOIN EDW_RITE.dbo.TA_TXN_RITE_DATAS EE ON ATD.TART_TART_ID = EE.TART_TART_ID
        LEFT JOIN EDW_RITE.dbo.TA_REV_TFC_EVTS TART ON ATD.TART_TART_ID = TART.TART_ID
		) A
WHERE PMTY_PMTY_ID <> -1
OPTION (LABEL = ''TOTAL_NET_REV_TFC_EVTS LOAD'');'

		--WHERE ATD.DATE_TIME BETWEEN CAST('+ CHAR(39) + @UTC_FIRST_DATE + CHAR(39) +' AS DATETIME2(0)) AND CAST('+ CHAR(39) + @UTC_LAST_DATE + CHAR(39) +' AS DATETIME2(0))
		--AND TART.DATE_TIME BETWEEN CAST('+ CHAR(39) + @UTC_FIRST_DATE + CHAR(39) +' AS DATETIME2(0)) AND CAST('+ CHAR(39) + @UTC_LAST_DATE + CHAR(39) +' AS DATETIME2(0))

--SELECT (@sql) AS sqltxt
EXECUTE (@sql)

EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = @LOG_PATTERN + ' The main query finished.'
EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

IF OBJECT_ID('dbo.TOTAL_NET_REV_TFC_EVTS_OLD') IS NOT NULL 	DROP TABLE dbo.TOTAL_NET_REV_TFC_EVTS_OLD;
IF OBJECT_ID('dbo.TOTAL_NET_REV_TFC_EVTS') IS NOT NULL		RENAME OBJECT::dbo.TOTAL_NET_REV_TFC_EVTS TO TOTAL_NET_REV_TFC_EVTS_OLD;
RENAME OBJECT::dbo.TOTAL_NET_REV_TFC_EVTS_STAGE				TO TOTAL_NET_REV_TFC_EVTS;
--IF OBJECT_ID('dbo.FTOTAL_NET_REV_TFC_EVTS_OLD') IS NOT NULL DROP TABLE dbo.TOTAL_NET_REV_TFC_EVTS_OLD;


----STEP #4: CREATE STATISTICS
CREATE STATISTICS STATS_TOTAL_NET_REV_TFC_EVTS_001 ON TOTAL_NET_REV_TFC_EVTS (TART_TART_ID)
CREATE STATISTICS STATS_TOTAL_NET_REV_TFC_EVTS_002 ON TOTAL_NET_REV_TFC_EVTS (Local_Time)

SET  @LOG_MESSAGE = @LOG_PATTERN + ' LOAD PROCESS FINISHED'
EXEC EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL

	/*
	SELECT TOP 1 * FROM EDW_RITE.dbo.TOTAL_NET_REV_TFC_EVTS
	SELECT COUNT_BIG(1) FROM EDW_RITE.dbo.TOTAL_NET_REV_TFC_EVTS

	*/
