CREATE PROC [DBO].[FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_LOAD] AS --DROP PROC [DBO].[FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_LOAD]
/*	SELECT TOP 100 * FROM FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL WHERE STATUS_DESCR = 'AVERAGE AVI_HANDSHAKE'*/  

	--STEP #1: SUMMARY
	IF OBJECT_ID('DBO.FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_STAGE')>0 DROP TABLE DBO.FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_STAGE

	CREATE TABLE DBO.FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([DAY_ID])) AS  --ROUND_ROBIN --DROP TABLE FACT_LANE_ANALYSIS
	--EXPLAIN
	SELECT      DAY_ID
			, [CAL_WEEKID]	
			, [CAL_MONTHID]	
			, [CAL_QUARTERID] 
			, [CAL_YEARID]	
			, [VW_FACT_VIOLATIONS].LANE_ID
			, [LANE_ABBREV]
			, ISNULL(CAST(VCLY_ID AS INT), -1) VCLY_ID
			, COALESCE([DIM_CATEGORY_LEVEL_0].[NAME], [DIM_CATEGORY_LEVEL_1].LEVEL_0, [DIM_CATEGORY_LEVEL_2].LEVEL_0, [DIM_CATEGORY_LEVEL_3].LEVEL_0, [DIM_CATEGORY_LEVEL_4].LEVEL_0, [DIM_CATEGORY_LEVEL_5].LEVEL_0, [DIM_CATEGORY_LEVEL_6].LEVEL_0, [DIM_CATEGORY_LEVEL_7].LEVEL_0, [DIM_CATEGORY_LEVEL_8].LEVEL_0) LEVEL_0
			, COALESCE([DIM_CATEGORY_LEVEL_1].[NAME], [DIM_CATEGORY_LEVEL_2].LEVEL_1, [DIM_CATEGORY_LEVEL_3].LEVEL_1, [DIM_CATEGORY_LEVEL_4].LEVEL_1, [DIM_CATEGORY_LEVEL_5].LEVEL_1, [DIM_CATEGORY_LEVEL_6].LEVEL_1, [DIM_CATEGORY_LEVEL_7].LEVEL_1, [DIM_CATEGORY_LEVEL_8].LEVEL_1) LEVEL_1
			, COALESCE([DIM_CATEGORY_LEVEL_2].[NAME], [DIM_CATEGORY_LEVEL_3].LEVEL_2, [DIM_CATEGORY_LEVEL_4].LEVEL_2, [DIM_CATEGORY_LEVEL_5].LEVEL_2, [DIM_CATEGORY_LEVEL_6].LEVEL_2, [DIM_CATEGORY_LEVEL_7].LEVEL_2, [DIM_CATEGORY_LEVEL_8].LEVEL_2) LEVEL_2
			, COALESCE([DIM_CATEGORY_LEVEL_3].[NAME], [DIM_CATEGORY_LEVEL_4].LEVEL_3, [DIM_CATEGORY_LEVEL_5].LEVEL_3, [DIM_CATEGORY_LEVEL_6].LEVEL_3, [DIM_CATEGORY_LEVEL_7].LEVEL_3, [DIM_CATEGORY_LEVEL_8].LEVEL_3) LEVEL_3
			, COALESCE([DIM_CATEGORY_LEVEL_4].[NAME], [DIM_CATEGORY_LEVEL_5].LEVEL_4, [DIM_CATEGORY_LEVEL_6].LEVEL_4, [DIM_CATEGORY_LEVEL_7].LEVEL_4, [DIM_CATEGORY_LEVEL_8].LEVEL_4) LEVEL_4
			, COALESCE([DIM_CATEGORY_LEVEL_5].[NAME], [DIM_CATEGORY_LEVEL_6].LEVEL_5, [DIM_CATEGORY_LEVEL_7].LEVEL_5, [DIM_CATEGORY_LEVEL_8].LEVEL_5) LEVEL_5
			, COALESCE([DIM_CATEGORY_LEVEL_6].[NAME], [DIM_CATEGORY_LEVEL_7].LEVEL_6, [DIM_CATEGORY_LEVEL_8].LEVEL_6) LEVEL_6
			, COALESCE([DIM_CATEGORY_LEVEL_7].[NAME], [DIM_CATEGORY_LEVEL_8].LEVEL_6) LEVEL_7
			, [DIM_CATEGORY_LEVEL_8].[NAME] LEVEL_8
			, [STATUS] 
			, [vw_FACT_VIOLATIONS].STATUS_DESCR
			, TXN_CNT * COALESCE([DIM_CATEGORY_LEVEL_0].[MULTIPLIER], [DIM_CATEGORY_LEVEL_1].[MULTIPLIER], [DIM_CATEGORY_LEVEL_2].[MULTIPLIER], [DIM_CATEGORY_LEVEL_3].[MULTIPLIER], [DIM_CATEGORY_LEVEL_4].[MULTIPLIER], [DIM_CATEGORY_LEVEL_5].[MULTIPLIER], [DIM_CATEGORY_LEVEL_6].[MULTIPLIER], [DIM_CATEGORY_LEVEL_7].[MULTIPLIER], [DIM_CATEGORY_LEVEL_8].[MULTIPLIER], 1) AS TXN_CNT
			, POS_REV * COALESCE([DIM_CATEGORY_LEVEL_0].[MULTIPLIER], [DIM_CATEGORY_LEVEL_1].[MULTIPLIER], [DIM_CATEGORY_LEVEL_2].[MULTIPLIER], [DIM_CATEGORY_LEVEL_3].[MULTIPLIER], [DIM_CATEGORY_LEVEL_4].[MULTIPLIER], [DIM_CATEGORY_LEVEL_5].[MULTIPLIER], [DIM_CATEGORY_LEVEL_6].[MULTIPLIER], [DIM_CATEGORY_LEVEL_7].[MULTIPLIER], [DIM_CATEGORY_LEVEL_8].[MULTIPLIER], 1) AS POS_REV
			, ACT_REV * COALESCE([DIM_CATEGORY_LEVEL_0].[MULTIPLIER], [DIM_CATEGORY_LEVEL_1].[MULTIPLIER], [DIM_CATEGORY_LEVEL_2].[MULTIPLIER], [DIM_CATEGORY_LEVEL_3].[MULTIPLIER], [DIM_CATEGORY_LEVEL_4].[MULTIPLIER], [DIM_CATEGORY_LEVEL_5].[MULTIPLIER], [DIM_CATEGORY_LEVEL_6].[MULTIPLIER], [DIM_CATEGORY_LEVEL_7].[MULTIPLIER], [DIM_CATEGORY_LEVEL_8].[MULTIPLIER], 1) AS ACT_REV
			, CASE 
					WHEN COALESCE([DIM_CATEGORY_LEVEL_4].[NAME], [DIM_CATEGORY_LEVEL_5].LEVEL_4, [DIM_CATEGORY_LEVEL_6].LEVEL_4, [DIM_CATEGORY_LEVEL_7].LEVEL_4, [DIM_CATEGORY_LEVEL_8].LEVEL_4) = 'VToll Posted' THEN
							POS_REV * COALESCE([DIM_CATEGORY_LEVEL_0].[MULTIPLIER], [DIM_CATEGORY_LEVEL_1].[MULTIPLIER], [DIM_CATEGORY_LEVEL_2].[MULTIPLIER], [DIM_CATEGORY_LEVEL_3].[MULTIPLIER], [DIM_CATEGORY_LEVEL_4].[MULTIPLIER], [DIM_CATEGORY_LEVEL_5].[MULTIPLIER], [DIM_CATEGORY_LEVEL_6].[MULTIPLIER], [DIM_CATEGORY_LEVEL_7].[MULTIPLIER], [DIM_CATEGORY_LEVEL_8].[MULTIPLIER], 1) 
					ELSE	ACT_REV * COALESCE([DIM_CATEGORY_LEVEL_0].[MULTIPLIER], [DIM_CATEGORY_LEVEL_1].[MULTIPLIER], [DIM_CATEGORY_LEVEL_2].[MULTIPLIER], [DIM_CATEGORY_LEVEL_3].[MULTIPLIER], [DIM_CATEGORY_LEVEL_4].[MULTIPLIER], [DIM_CATEGORY_LEVEL_5].[MULTIPLIER], [DIM_CATEGORY_LEVEL_6].[MULTIPLIER], [DIM_CATEGORY_LEVEL_7].[MULTIPLIER], [DIM_CATEGORY_LEVEL_8].[MULTIPLIER], 1) 
			  END AS ADJ_REV
			, 0 AVI_HANDSHAKE			--,SUM(CAST(TXN_CNT AS BIGINT)) AS TXN_CNT, SUM(CAST(POS_REV AS BIGINT)) AS POS_REV, SUM(CAST(ACT_REV AS BIGINT)) AS ACT_REV --SELECT TOP (1000) *  --SELECT COUNT(1)--42,135,551
	FROM [dbo].FACT_VIOLATIONS_SUMMARY [vw_FACT_VIOLATIONS] --WHERE DAY_ID BETWEEN 20161231 AND 20161231 --WHERE LANE_ID < 0
	LEFT JOIN [dbo].[DIM_DAY]			   ON [DIM_DAY].[DayID] = [vw_FACT_VIOLATIONS].DAY_ID
	LEFT JOIN [dbo].[DIM_LANE]			   ON [DIM_LANE].[LANE_ID] = [vw_FACT_VIOLATIONS].[LANE_ID]
	LEFT JOIN [dbo].[DIM_CATEGORY_LEVEL_0] ON [DIM_CATEGORY_LEVEL_0].[NAME] = [vw_FACT_VIOLATIONS].STATUS_DESCR
	LEFT JOIN [dbo].[DIM_CATEGORY_LEVEL_1] ON [DIM_CATEGORY_LEVEL_1].[NAME] = [vw_FACT_VIOLATIONS].STATUS_DESCR
	LEFT JOIN [dbo].[DIM_CATEGORY_LEVEL_2] ON [DIM_CATEGORY_LEVEL_2].[NAME] = [vw_FACT_VIOLATIONS].STATUS_DESCR
	LEFT JOIN [dbo].[DIM_CATEGORY_LEVEL_3] ON REPLACE([DIM_CATEGORY_LEVEL_3].[NAME],' (Offset)','') = [vw_FACT_VIOLATIONS].STATUS_DESCR
	LEFT JOIN [dbo].[DIM_CATEGORY_LEVEL_4] ON REPLACE([DIM_CATEGORY_LEVEL_4].[NAME],' (Offset)','') = [vw_FACT_VIOLATIONS].STATUS_DESCR
	LEFT JOIN [dbo].[DIM_CATEGORY_LEVEL_5] ON [DIM_CATEGORY_LEVEL_5].[NAME] = [vw_FACT_VIOLATIONS].STATUS_DESCR
	LEFT JOIN [dbo].[DIM_CATEGORY_LEVEL_6] ON [DIM_CATEGORY_LEVEL_6].[NAME] = [vw_FACT_VIOLATIONS].STATUS_DESCR
	LEFT JOIN [dbo].[DIM_CATEGORY_LEVEL_7] ON [DIM_CATEGORY_LEVEL_7].[NAME] = [vw_FACT_VIOLATIONS].STATUS_DESCR
	LEFT JOIN [dbo].[DIM_CATEGORY_LEVEL_8] ON [DIM_CATEGORY_LEVEL_8].[NAME] = [vw_FACT_VIOLATIONS].STATUS_DESCR
	WHERE [STATUS] NOT IN ('HOST-ALL', 'HOST-VIOL', 'ICRS-D', 'ICRS-POOL', 'VIOL-VTOLL', 'ICRS-ALL', 'VIOL-DMV-P', 'VIOL-UM-DMV', 'VIOL-M-DMV', 'VIOL-TX', 'VIOL-UBR', 'P')
	--Average AVI_Handshake
	UNION ALL --EXPLAIN
		SELECT    DAY_ID
				, [Cal_WeekID]	
				, [Cal_MonthID]	
				, [Cal_QuarterID] 
				, [Cal_YearID]	
				, [vw_FACT_VIOLATIONS].LANE_ID
				, [LANE_ABBREV]
				, ISNULL(CAST(VCLY_ID AS INT), -1) VCLY_ID
				, 'Average AVI_Handshake'  LEVEL_0
				, NULL LEVEL_1
				, NULL LEVEL_2
				, NULL LEVEL_3
				, NULL LEVEL_4
				, NULL LEVEL_5
				, NULL LEVEL_6
				, NULL LEVEL_7
				, NULL LEVEL_8
				, 'AVI_HNDSHK' AS [STATUS] 
				, 'Average AVI Handshake' AS STATUS_DESCR 
				, 0 AS TXN_CNT
				, 0 AS POS_REV
				, 0 AS ACT_REV
				, 0 AS ADJ_REV
				, AVG(AVI_HANDSHAKE) AVI_HANDSHAKE --SELECT COUNT_BIG(1)--SELECT *
	FROM [dbo].FACT_NET_REV_TFC_EVTS [vw_FACT_VIOLATIONS]
	LEFT JOIN [dbo].[DIM_DAY]			   ON [DIM_DAY].[DayID] = [vw_FACT_VIOLATIONS].DAY_ID
	LEFT JOIN [dbo].[DIM_LANE]			   ON [DIM_LANE].[LANE_ID] = [vw_FACT_VIOLATIONS].[LANE_ID]
	WHERE PMTY_ID <> 7 --AND DAY_ID BETWEEN 20161231 AND 20161231 
	GROUP BY DAY_ID, [Cal_WeekID]	
				, [Cal_MonthID]	
				, [Cal_QuarterID] 
				, [Cal_YearID]	
				, [vw_FACT_VIOLATIONS].LANE_ID, [LANE_ABBREV], VCLY_ID

	--STEP #2: Replace OLD table with NEW
	IF OBJECT_ID('dbo.FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_OLD')>0 	DROP TABLE dbo.FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_OLD;
	IF OBJECT_ID('dbo.FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL')>0		RENAME OBJECT::dbo.FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL TO FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_OLD;
	RENAME OBJECT::dbo.FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_STAGE TO FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL;
	IF OBJECT_ID('dbo.FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_OLD')>0 	DROP TABLE dbo.FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_OLD;

	--STEP #3: Create Statistics --[dbo].[CreateStats] 'dbo', 'FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL'
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_001 ON [dbo].FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL (DAY_ID)
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_002 ON [dbo].FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL (LANE_ID)
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_003 ON [dbo].FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL ([Cal_WeekID])
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_004 ON [dbo].FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL ([STATUS])
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_005 ON [dbo].FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL (STATUS_DESCR)
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_006 ON [dbo].FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL ([Cal_MonthID])
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_007 ON [dbo].FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL ([Cal_QuarterID])
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_008 ON [dbo].FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL ([Cal_YearID])
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_009 ON [dbo].FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL (LEVEL_0)
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_010 ON [dbo].FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL (LEVEL_1)
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_011 ON [dbo].FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL (LEVEL_2)
	CREATE STATISTICS STATS_FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL_012 ON [dbo].FACT_VIOLATIONS_SUMMARY_CATEGORY_LEVEL (VCLY_ID)




