CREATE PROC [DBO].[ACCOUNT_STATUSES_LOAD] AS 

IF OBJECT_ID('dbo.ACCOUNT_STATUSES_NEW')>0
	DROP TABLE dbo.ACCOUNT_STATUSES_NEW

CREATE TABLE dbo.ACCOUNT_STATUSES_NEW WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ACCT_STATUS_CODE)) 
AS 
-- EXPLAIN
SELECT  CONVERT(varchar(2),ACCT_STATUS_CODE) as ACCT_STATUS_CODE, ACCT_STATUS_DESCR, GETDATE() AS INSERT_DATE
FROM EDW_RITE.dbo.ACCOUNT_STATUSES A
OPTION (LABEL = 'ACCOUNT_STATUSES_LOAD: ACCOUNT_STATUSES');

IF OBJECT_ID('dbo.ACCOUNT_STATUSES')>0
	RENAME OBJECT::dbo.ACCOUNT_STATUSES TO ACCOUNT_STATUSES_OLD;

RENAME OBJECT::dbo.ACCOUNT_STATUSES_NEW TO ACCOUNT_STATUSES;

IF OBJECT_ID('dbo.ACCOUNT_STATUSES_OLD')>0
	DROP TABLE dbo.ACCOUNT_STATUSES_OLD

CREATE STATISTICS STATS_ACCOUNT_STATUSES_001 ON DBO.ACCOUNT_STATUSES (ACCT_STATUS_CODE)


INSERT INTO ACCOUNT_STATUSES 
SELECT '-1', '(Null)', GETDATE() AS INSERT_DATE
WHERE NOT EXISTS(SELECT * FROM ACCOUNT_STATUSES where ACCT_STATUS_CODE = '-1')



