CREATE PROC [DBO].[FACT_INVOICE_LOAD] AS 
--2019-04-02 Ranjith Nair Commented INNER JOIN dbo.DIM_VIOLATOR_ASOF to avoid missing the older partitions.  

/*
	SELECT TOP 100 * FROM FACT_INVOICE_ANALYSIS

*/
DECLARE @STATS_EXISTS bit = (SELECT 0)
DECLARE @PARTITION_DATE date = (SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A --INNER JOIN dbo.DIM_VIOLATOR_ASOF B ON A.PARTITION_DATE = B.PARTITION_DATE 
								ORDER BY A.PARTITION_DATE DESC) -- PRINT @PARTITION_DATE

EXEC dbo.PARTITION_AS_OF_DATE_TABLE_UPDATE 'FACT_INVOICE_ANALYSIS', @PARTITION_DATE

IF OBJECT_ID('dbo.FACT_INVOICE_ANALYSIS_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_ANALYSIS_STAGE

CREATE TABLE [dbo].FACT_INVOICE_ANALYSIS_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([VIOLATOR_ID])) AS
--SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME IN ('FACT_INVOICE_ANALYSIS_STAGE','FACT_INVOICE_ANALYSIS') ORDER BY ORDINAL_POSITION, COLUMN_NAME, TABLE_NAME
--ALTER TABLE [dbo].[FACT_INVOICE_ANALYSIS] DROP COLUMN [VEHICLE_CLASS]--SELECT * FROM FACT_INVOICE_ANALYSIS_STAGE
-- EXPLAIN 
SELECT 
	  --TOP 100
      A.VIOLATOR_ID
	, ISNULL(@PARTITION_DATE,'1/1/1900') AS PARTITION_DATE
	, ISNULL(A.DATE_BATCH_PRODUCED,'1/1/1900') AS DATE_BATCH_PRODUCED
	, A.VBI_INVOICE_ID, ISNULL(vbi.INVOICE_DATE,'1/1/1900') AS VB_INV_DATE

	, ISNULL(vbi.DUE_DATE,'1/1/1900') AS VB_INV_DUE_DATE
	, ISNULL(CAST(vbi.DATE_EXCUSED AS DATE),'1/1/1900') AS VB_INV_DATE_EXCUSED
	, vbi.EXCUSED_BY AS VB_INV_EXCUSED_BY
	, ISNULL(vbi.DATE_MODIFIED,'1/1/1900') AS VB_INV_DATE_MODIFIED

	, A.ZI_STAGE_ID AS ZI_STAGE_ID
	, ISNULL(A.INVOICE_STAGE_ID,-1) AS INVOICE_STAGE_ID
	, ISNULL(vbi.VBI_STATUS,'-1') AS VBI_STATUS
	, ISNULL(A.CONVERTED_DATE,'1/1/1900') AS CONVERTED_DATE

	, ISNULL(vi.STATUS_DATE,'1/1/1900') AS VIOL_INV_STATUS_DATE 
	, ISNULL(vi.CURR_DUE_DATE,'1/1/1900') AS VIOL_INV_DUE_DATE
	, ISNULL(vi.DATE_EXCUSED,'1/1/1900') AS VIOL_INV_DATE_EXCUSED
	, vi.EXCUSED_BY AS VIOL_INV_EXCUSED_BY
	, ISNULL(vi.DATE_MODIFIED,'1/1/1900') AS VIOL_INV_DATE_MODIFIED

	, ISNULL(A.VIOL_INVOICE_ID,-1) As VIOL_INVOICE_ID
	, ISNULL(vi.VIOL_INV_STATUS,'-1') AS VIOL_INV_STATUS
	, ISNULL(CASE WHEN A.CA_FILE_GEN_DATE >= '7/1/2015' THEN A.CA_FILE_GEN_DATE ELSE '1/1/1900' END,'1/1/1900') AS [3NNP_INV_DATE] -- Rule from the business, 3NNP started Jul 2015
	, ISNULL(A.PAID_DATE,'1/1/1900') AS FIRST_PAID_DATE, ISNULL(A.PAID_DATE,'1/1/1900') AS LAST_PAID_DATE
	, CONVERT(VARCHAR(250), CASE WHEN A.PAID_DATE IS NOT NULL AND A.PAID_DATE <> '1/1/1900' THEN A.PAID_DATE ELSE null END) AS PAID_DATE_LIST
	, CASE WHEN A.PAID_DATE IS NOT NULL AND A.PAID_DATE <> '1/1/1900' THEN 1 ELSE 0 END AS PAID_DATE_COUNT

	, A.POS_ID AS FIRST_POS_ID, A.POS_ID AS LAST_POS_ID
	, CONVERT(VARCHAR(250), CASE WHEN A.POS_ID IS NOT NULL AND A.POS_ID <> -1 THEN C.POS_NAME ELSE null END) AS POS_NAME_LIST
	, CASE WHEN A.POS_ID IS NOT NULL AND A.POS_ID <> -1 THEN 1 ELSE 0 END AS POS_COUNT

	, A.PAYMENT_SOURCE_CODE, A.DELIVERY_CODE, A.PAYMENT_FORM, A.PAYMENT_CREATED_BY

	, A.CA_INV_STATUS

	, A.CA_COMPANY_ID AS FIRST_CA_COMPANY_ID, A.CA_COMPANY_ID AS LAST_CA_COMPANY_ID
	, CASE WHEN A.CA_COMPANY_ID <> -1 THEN D.CA_COMPANY_ABBREV_NAME ELSE null END AS CA_COMPANY_NAME_LIST
	, CASE WHEN A.CA_COMPANY_ID <> -1 THEN 1 ELSE 0 END AS CA_COMPANY_COUNT
	
	, A.CA_FILE_GEN_DATE AS FIRST_CA_FILE_GEN_DATE, A.CA_FILE_GEN_DATE AS LAST_CA_FILE_GEN_DATE
	, CONVERT(VARCHAR(250),CASE WHEN A.CA_FILE_GEN_DATE <> '1/1/1900'  THEN A.CA_FILE_GEN_DATE ELSE null END) AS CA_FILE_GEN_DATE_LIST
	, CASE WHEN A.CA_FILE_GEN_DATE <> '1/1/1900'  THEN 1 ELSE 0 END AS CA_FILE_GEN_DATE_COUNT

	, A.CITATION_NBR AS FIRST_CITATION_NBR, A.CITATION_NBR AS LAST_CITATION_NBR
	, A.CITATION_NBR AS CITATION_NBR_LIST
	, CASE WHEN ISNULL(A.CITATION_NBR,'(Null)') <> '(Null)' THEN 1 ELSE 0 END AS CITATION_NBR_COUNT
	
	, A.CA_ACCT_ID AS FIRST_CA_ACCT_ID, A.CA_ACCT_ID AS LAST_CA_ACCT_ID
	, CONVERT(VARCHAR(250),CASE WHEN A.CA_ACCT_ID <> -1 THEN A.CA_ACCT_ID ELSE null END) AS CA_ACCT_ID_LIST
	, CASE WHEN A.CA_ACCT_ID <> -1 THEN 1 ELSE 0 END AS CA_ACCT_ID_COUNT

	, A.COURT_ACTION_MAIL_DATE , A.DPS_INV_STATUS 

	, ISNULL(ISNULL(A.VB_INV_AMT,0) + ISNULL(VI_INV_AMT,0),0) AS INVOICE_AMT
	, ISNULL(ISNULL(A.VB_INVOICE_AMT_DISC,0) + ISNULL(A.VI_INVOICE_AMT_DISC,0),0) AS INVOICE_AMT_DISC

   , ISNULL(CONVERT(MONEY,CASE       WHEN (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) = 0 
                     THEN (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END)--- 2 Satisfies when the AMT Paid at Zipcash Header or 2NNP Header is $0

                     WHEN (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) = ISNULL(LeftOnInv.TOLL_DUE_LEFT_ON_INV,0) 
                     THEN (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END)--- 1 Satisfies When Tolls Left On Inv is Greater than the AMT Paid at Zipcash Header or 2NNP Header

                     WHEN (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) >  0 
                     And ISNULL(LeftOnInv.TOLL_DUE_LEFT_ON_INV,0) = 0 
                                   And (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) >= ISNULL(ZC_TOLLS_DUE,0) + ISNULL(VIOL_TOLLS_DUE,0)
                                  THEN ISNULL(ZC_TOLLS_DUE,0) + ISNULL(VIOL_TOLLS_DUE,0)
                                  WHEN (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) >  0 
                     And ISNULL(LeftOnInv.TOLL_DUE_LEFT_ON_INV,0) = 0 THEN (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END)---- 3 When the AMT PAID at header is >= Tolls Due at TXN then just bring AMT PAID from Header Else in any other case give Tolls Due from TXN Layer

                     WHEN (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) < ISNULL(LeftOnInv.TOLL_DUE_LEFT_ON_INV,0)
                     And  (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) = LeftOnInv.TOLLS_PAID_ON_TXN 
                     Then LeftOnInv.TOLLS_PAID_ON_TXN
                     When (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) < ISNULL(LeftOnInv.TOLL_DUE_LEFT_ON_INV,0)
                     And  (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) = (LeftOnInv.TOLLS_PAID_ON_TXN-(ISNULL(A.VB_INVOICE_AMT_DISC,0) + ISNULL(A.VI_INVOICE_AMT_DISC,0)))
                     Then LeftOnInv.TOLLS_PAID_ON_TXN-(ISNULL(A.VB_INVOICE_AMT_DISC,0) + ISNULL(A.VI_INVOICE_AMT_DISC,0))
                     When (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) < ISNULL(LeftOnInv.TOLL_DUE_LEFT_ON_INV,0)
                     And  (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) < LeftOnInv.TOLLS_PAID_ON_TXN 
                     --Then LeftOnInv.TOLLS_PAID_ON_TXN 
                                                Then (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END)
                     When (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) < ISNULL(LeftOnInv.TOLL_DUE_LEFT_ON_INV,0)
                     And  LeftOnInv.TOLLS_PAID_ON_TXN  = 0 
                     Then (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END)
                     When (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) < ISNULL(LeftOnInv.TOLL_DUE_LEFT_ON_INV,0)
                     And  (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) > LeftOnInv.TOLLS_PAID_ON_TXN 
                     Then LeftOnInv.TOLLS_PAID_ON_TXN 

                     WHEN (CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END) >  ISNULL(LeftOnInv.TOLL_DUE_LEFT_ON_INV,0) 
                     THEN ISNULL(LeftOnInv.TOLL_DUE_LEFT_ON_INV,0)--- 5 Satisfies When Tolls Left On Inv is Less than the AMT Paid at Zipcash Header or 2NNP Header AND Tolls Left On Inv is NOT $0  at TXN Level

                     ELSE 0 
              END),0) AS INVOICE_TOLLS_PAID_CALC

	, ISNULL(ISNULL(ZC_TOLLS_DUE,0) + ISNULL(VIOL_TOLLS_DUE,0),0) AS TOLL_DUE
	, ISNULL(CONVERT(MONEY, A.VB_INV_LATE_FEES),0) AS ZI_LATE_FEES
	, ISNULL(CONVERT(MONEY,A.VIOL_INV_FEES),0) VI_LATE_FEES
	, ISNULL(CONVERT(MONEY,A.VIOL_INV_ADMIN_FEE),0) AS ADMIN_FEE
	, ISNULL(CONVERT(MONEY,A.VIOL_INV_ADMIN_FEE2),0) AS ADMIN_FEE2
	, CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_INV_AMT_PAID,0) ELSE ISNULL(VB_INV_AMT_PAID,0) END AS AMT_PAID
	, CASE WHEN A.VIOL_INVOICE_ID > 0 THEN ISNULL(VIOL_TXN_COUNT,0) ELSE ISNULL(ZC_TXN_COUNT,0) END AS VIOL_COUNT

	, ISNULL(vi.CLOSE_OUT_ELIGIBILITY_DATE,'1/1/1900') AS CLOSE_OUT_ELIGIBILITY_DATE
	, ISNULL(vi.CLOSE_OUT_STATUS,'-1') AS CLOSE_OUT_STATUS
	, ISNULL(vi.CLOSE_OUT_DATE,'1/1/1900') AS CLOSE_OUT_DATE
	, ISNULL(vi.CLOSE_OUT_TYPE,'-1') AS CLOSE_OUT_TYPE
	--, ISNULL(CAST(CURInv.CUR_INV AS SMALLINT), 0) AS CURRENT_INVOICE_FLAG
	, ISNULL(CONVERT(SMALLINT,LeftOnInv.CURRENT_INVOICE_LEVEL_FLAG), 0) AS CURRENT_INVOICE_FLAG 
	, ISNULL(CONVERT(MONEY,LeftOnInv.TOLL_DUE_LEFT_ON_INV),0) AS TOLL_DUE_LEFT_ON_INV
	, ISNULL(CONVERT(MONEY,LeftOnInv.TXN_CNT_LEFT_ON_INV),0) AS TXN_CNT_LEFT_ON_INV
	, GETDATE() AS INSERT_DATE
-- SELECT COUNT(*)
FROM dbo.FACT_INVOICE_STAGE A
INNER JOIN dbo.FACT_INVOICE_STAGE_FINAL CUR_INV_SET 
	ON		A.VIOLATOR_ID = CUR_INV_SET.VIOLATOR_ID 
		AND A.VBI_INVOICE_ID = CUR_INV_SET.VBI_INVOICE_ID
		AND A.VIOL_INVOICE_ID = CUR_INV_SET.VIOL_INVOICE_ID
		AND A.CA_FILE_GEN_DATE = CUR_INV_SET.CA_FILE_GEN_DATE
		AND A.CA_ACCT_ID = CUR_INV_SET.CA_ACCT_ID
		AND A.CITATION_NBR = CUR_INV_SET.CITATION_NBR
		AND A.PAID_DATE = CUR_INV_SET.PAID_DATE
		AND A.POS_ID = CUR_INV_SET.POS_ID 

LEFT JOIN dbo.VB_INVOICES vbi ON A.VIOLATOR_ID = vbi.VIOLATOR_ID and A.VBI_INVOICE_ID = vbi.VBI_INVOICE_ID
LEFT JOIN dbo.VIOL_INVOICES vi ON A.VIOLATOR_ID = vi.VIOLATOR_ID and A.VIOL_INVOICE_ID = vi.VIOL_INVOICE_ID
LEFT JOIN dbo.POS_LOCATIONS C ON A.POS_ID = C.POS_ID 
LEFT JOIN dbo.CA_COMPANIES D ON A.CA_COMPANY_ID = D.CA_COMPANY_ID 
--LEFT JOIN 
--	(
--		SELECT VIOLATOR_ID, VBI_INVOICE_ID, MAX(VIOL_INVOICE_ID) AS VIOL_INVOICE_ID, 1 AS CUR_INV
--		FROM dbo.FACT_INVOICE_STAGE_FINAL
--		GROUP BY VIOLATOR_ID, VBI_INVOICE_ID
--	)	 CURInv
--	ON A.VIOLATOR_ID = CURInv.VIOLATOR_ID AND A.VBI_INVOICE_ID = CURInv.VBI_INVOICE_ID AND A.VIOL_INVOICE_ID = CURInv.VIOL_INVOICE_ID
LEFT JOIN dbo.FACT_INVOICE_VIOL_LEFT_ON_INV_STAGE LeftOnInv
	ON A.VIOLATOR_ID = LeftOnInv.VIOLATOR_ID AND A.VBI_INVOICE_ID = LeftOnInv.VBI_INVOICE_ID AND A.VIOL_INVOICE_ID = LeftOnInv.VIOL_INVOICE_ID
OPTION (LABEL = 'FACT_INVOICE_LOAD: FACT_INVOICE_ANALYSIS_STAGE');

--	--Switch Partition 
--	EXEC [dbo].[PARTITION_SWITCH] @DEST_TABLE_NAME='FACT_INVOICE_ANALYSIS',@SRC_TABLE_NAME='FACT_INVOICE_ANALYSIS_FINAL',@AS_OF_DATE = @PARTITION_DATE
	
--	--IF OBJECT_ID('dbo.FACT_INVOICE_ANALYSIS_FINAL')>0 	DROP TABLE dbo.FACT_INVOICE_ANALYSIS_FINAL
----ALTER TABLE dbo.FACT_INVOICE_ANALYSIS SPLIT RANGE (<new_range_value>);
----ALTER TABLE dbo.FACT_INVOICE_ANALYSIS_FINAL SWITCH  TO dbo.FACT_INVOICE_ANALYSIS PARTITION 10

--	EXEC dbo.STATS_EXISTS 'dbo', 'FACT_INVOICE_ANALYSIS', 'STATS_FACT_INVOICE_ANALYSIS_501', @STATS_EXISTS OUTPUT
--	IF @STATS_EXISTS = 1 
--		BEGIN 
--			DROP STATISTICS dbo.FACT_INVOICE_ANALYSIS.STATS_FACT_INVOICE_ANALYSIS_501 
--			CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_501 ON dbo.FACT_INVOICE_ANALYSIS (VIOLATOR_ID, VBI_INVOICE_ID)
--		END 

--	SET @STATS_EXISTS = 0 

--	EXEC dbo.STATS_EXISTS 'dbo', 'FACT_INVOICE_ANALYSIS', 'STATS_FACT_INVOICE_ANALYSIS_502', @STATS_EXISTS OUTPUT
--	IF @STATS_EXISTS = 1 
--		BEGIN 
--			DROP STATISTICS dbo.FACT_INVOICE_ANALYSIS.STATS_FACT_INVOICE_ANALYSIS_502 
--			CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_502 ON dbo.FACT_INVOICE_ANALYSIS (VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, VB_INV_DATE)
--		END 

