CREATE PROC [DBO].[VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID_LOAD] AS 

IF OBJECT_ID('VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID_NEW') IS NOT NULL 	DROP TABLE dbo.VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID_NEW

CREATE TABLE dbo.VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID_NEW WITH (CLUSTERED INDEX (VIOLATION_ID), DISTRIBUTION = HASH(VIOLATION_ID)) AS
WITH CTE_HOST_TRANSACTIONS AS 
(
	SELECT 
		TRANSACTION_ID, VIOLATOR_ID, LANE_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, TRANSACTION_DATE, VIOL_DATE, VIOL_TIME_ID, VIOL_TYPE,
		VIOLATION_ID, LANE_VIOL_ID, EARNED_REVENUE, POSTED_REVENUE, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, 
		POSTED_DATE, VIOLATION_OR_ZIPCASH, LAST_UPDATE_DATE, ROW_NUMBER() OVER (PARTITION BY VIOLATION_ID ORDER BY TRANSACTION_DATE DESC) RN
	FROM dbo.VPS_HOST_TRANSACTIONS
	WHERE VIOLATION_ID > -1
)
SELECT 
	TRANSACTION_ID, VIOLATOR_ID, LANE_ID, LIC_PLATE_NBR, LIC_PLATE_STATE, TRANSACTION_DATE, VIOL_DATE, VIOL_TIME_ID, VIOL_TYPE,
	VIOLATION_ID, LANE_VIOL_ID, EARNED_REVENUE, POSTED_REVENUE, SOURCE_CODE, AGENCY_CODE, TAG_ID, DISPOSITION, REASON_CODE, 
	POSTED_DATE, VIOLATION_OR_ZIPCASH, LAST_UPDATE_DATE
FROM CTE_HOST_TRANSACTIONS
WHERE RN = 1

IF OBJECT_ID('dbo.VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID') IS NOT NULL		RENAME OBJECT::dbo.VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID TO VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID_OLD;
RENAME OBJECT::dbo.VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID_NEW TO VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID;
IF OBJECT_ID('dbo.VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID_OLD') IS NOT NULL		DROP TABLE dbo.VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID_OLD

-- exec DropStats 'VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID' 
CREATE STATISTICS STATS_VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID_001 ON DBO.VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID (VIOLATOR_ID, VIOLATION_ID)
CREATE STATISTICS STATS_VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID_002 ON DBO.VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID (POSTED_DATE, DISPOSITION)




