CREATE PROC [dbo].[rptDrivingOnWithBadAddress] @FACILITY_BITMASK_ID_SUM [bigint],@FROM_VIOL_DATE [date],@TO_VIOL_DATE [date],@OnlyDrivingOn [bit] AS

/*
	DECLARE @FACILITY_BITMASK_ID_SUM bigint, @FROM_VIOL_DATE date, @TO_VIOL_DATE date, @OnlyDrivingOn bit
	SET @FACILITY_BITMASK_ID_SUM = 1024
	SET @FROM_VIOL_DATE = '2014-01-01'
	SET @TO_VIOL_DATE = '2015-04-30'
	SET @OnlyDrivingOn = 1
*/

IF OBJECT_ID('tempdb..#rptDrivingOn_STAGE')<>0
	DROP TABLE #rptDrivingOn_STAGE

IF @OnlyDrivingOn = 1 
	BEGIN 

		CREATE TABLE dbo.#rptDrivingOn_STAGE WITH ( LOCATION = USER_DB, DISTRIBUTION = HASH(VIOLATOR_ID))
		AS 
			SELECT A.VIOLATOR_ID, SUM(DISTINCT C.FACILITY_BITMASK_ID) AS SUM_FACILITY_BITMASK_ID
			FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL A
			INNER JOIN dbo.DIM_LANE B ON A.LANE_ID = B.LANE_ID
			INNER JOIN dbo.DIM_FACILITY C ON B.FACILITY_ID = C.FACILITY_ID
			WHERE 
					A.VIOL_DATE BETWEEN @FROM_VIOL_DATE and @TO_VIOL_DATE
				AND CURRENT_INVOICE_LEVEL_FLAG = 1
				AND PARTITION_DATE = (SELECT TOP 1 PARTITION_DATE FROM PARTITION_AS_OF_DATE_CONTROL WHERE CURRENT_IND = 1 ORDER BY PARTITION_DATE DESC)
			GROUP BY A.VIOLATOR_ID
			HAVING SUM(DISTINCT C.FACILITY_BITMASK_ID) = @FACILITY_BITMASK_ID_SUM


	END 

IF @OnlyDrivingOn = 0
	BEGIN 

		CREATE TABLE dbo.#rptDrivingOn_STAGE WITH ( LOCATION = USER_DB, DISTRIBUTION = HASH(VIOLATOR_ID)) 
		AS 
			SELECT A.VIOLATOR_ID, SUM(DISTINCT C.FACILITY_BITMASK_ID) AS SUM_FACILITY_BITMASK_ID
			FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL A
			INNER JOIN dbo.DIM_LANE B ON A.LANE_ID = B.LANE_ID
			INNER JOIN dbo.DIM_FACILITY C ON B.FACILITY_ID = C.FACILITY_ID
			WHERE 
					A.VIOL_DATE BETWEEN @FROM_VIOL_DATE and @TO_VIOL_DATE
				AND CURRENT_INVOICE_LEVEL_FLAG = 1
				AND PARTITION_DATE = (SELECT TOP 1 PARTITION_DATE FROM PARTITION_AS_OF_DATE_CONTROL WHERE CURRENT_IND = 1 ORDER BY PARTITION_DATE DESC)
			GROUP BY A.VIOLATOR_ID
			HAVING SUM(DISTINCT C.FACILITY_BITMASK_ID) & @FACILITY_BITMASK_ID_SUM = @FACILITY_BITMASK_ID_SUM

	END 
	

SELECT COUNT(DISTINCT A.VIOLATOR_ID) as VIOL_COUNT
FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL A
INNER JOIN #rptDrivingOn_STAGE B ON A.VIOLATOR_ID = B.VIOLATOR_ID
INNER JOIN VIOLATOR_ADDRESS_MAX_SEQ BadAddr ON A.VIOLATOR_ID = BadAddr.VIOLATOR_ID
WHERE 
		A.VIOL_DATE BETWEEN @FROM_VIOL_DATE and @TO_VIOL_DATE
	AND CURRENT_INVOICE_LEVEL_FLAG = 1
	AND PARTITION_DATE = (SELECT TOP 1 PARTITION_DATE FROM PARTITION_AS_OF_DATE_CONTROL WHERE CURRENT_IND = 1 ORDER BY PARTITION_DATE DESC)
	AND ADDR_STATUS = 'B'



--SELECT COUNT(DISTINCT A.VIOLATOR_ID) as VIOL_COUNT
--FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL A
--INNER JOIN #rptDrivingOn_STAGE B ON A.VIOLATOR_ID = B.VIOLATOR_ID
--INNER JOIN VIOLATOR_ADDRESS_MAX_SEQ BadAddr ON A.VIOLATOR_ID = BadAddr.VIOLATOR_ID
--WHERE 
--		A.VIOL_DATE BETWEEN '2014-01-01' and '2015-04-30'
--	AND CURRENT_INVOICE_LEVEL_FLAG = 1
--	AND PARTITION_DATE = (SELECT TOP 1 PARTITION_DATE FROM PARTITION_AS_OF_DATE_CONTROL WHERE CURRENT_IND = 1 ORDER BY PARTITION_DATE DESC)
	
--SET @TO_VIOL_DATE = 

--select COUNT(*) FROM #rptDrivingOn_STAGE

