CREATE PROC [DBO].[DIM_SOURCE_TS_LOAD] AS
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.DIM_SOURCE_TS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.DIM_SOURCE_TS_LOAD
GO

EXEC EDW_RITE.DBO.DIM_SOURCE_TS_LOAD



*/

IF OBJECT_ID('DBO.DIM_SOURCE_TS_NEW_SET') > 0 DROP TABLE DBO.DIM_SOURCE_TS_NEW_SET

CREATE TABLE EDW_RITE.dbo.[DIM_SOURCE_TS_NEW_SET] WITH (CLUSTERED INDEX ( [DIM_SOURCE_TS_ID] ), DISTRIBUTION = REPLICATE)
	AS 
	SELECT 
			CAST(ROW_NUMBER() OVER (ORDER BY [SOURCE_CODE] ASC) AS smallint) AS DIM_SOURCE_TS_ID
			, ISNULL(CAST(main_table.[SOURCE_CODE] AS varchar(2)), '') AS [SOURCE_CODE]
			, ISNULL(CAST(main_table.[SC_DESCR] AS varchar(40)), '') AS [SC_DESCR]
	FROM LND_LG_TS.TAG_OWNER.SOURCE_CODE_TOLL AS main_table
	UNION ALL
	SELECT 
			CAST(-1 AS smallint) AS DIM_SOURCE_TS_ID
			, ISNULL(CAST('0' AS varchar(2)), '') AS [SOURCE_CODE]
			, ISNULL(CAST('(NULL)' AS varchar(40)), '') AS [SC_DESCR]
	OPTION (LABEL = 'DIM_SOURCE_TS_NEW_SET LOAD');

	IF OBJECT_ID('EDW_RITE.dbo.[DIM_SOURCE_TS_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_SOURCE_TS_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_SOURCE_TS]') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.[DIM_SOURCE_TS] TO [DIM_SOURCE_TS_OLD];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_SOURCE_TS_NEW_SET]') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.[DIM_SOURCE_TS_NEW_SET] TO [DIM_SOURCE_TS];
	IF OBJECT_ID('EDW_RITE.dbo.[DIM_SOURCE_TS_OLD]') IS NOT NULL		DROP TABLE EDW_RITE.dbo.[DIM_SOURCE_TS_OLD];


/*
CREATE TABLE DBO.DIM_SOURCE_TS
WITH(DISTRIBUTION = REPLICATE)
AS
SELECT 
 CAST(ROW_NUMBER() OVER (ORDER BY [SOURCE_CODE] ASC) AS TINYINT) AS DIM_SOURCE_TS_ID
,ISNULL([SOURCE_CODE],'') AS SOURCE_CODE
,ISNULL([SC_DESCR],'') AS SC_DESCR
FROM LND_LG_TS.TAG_OWNER.SOURCE_CODE_TOLL


INSERT INTO DBO.DIM_SOURCE_TS
SELECT -1,'0','(NULL)'
*/
