CREATE PROC [DBO].[GET_CREATE_TABLE_AS_SQL] @TABLE_NAME [VARCHAR](100),@SQL_STRING [VARCHAR](MAX) OUT AS

/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.GET_CREATE_TABLE_AS_SQL') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.GET_CREATE_TABLE_AS_SQL
GO

-- !!!! EXAMPLE !!!! --

DECLARE @SQL_STRING [VARCHAR](MAX),@TABLE_NAME [VARCHAR](100)  = 'FACT_UNIFIED_VIOLATION_HISTORY'

EXEC DBO.GET_CREATE_TABLE_AS_SQL @TABLE_NAME, @SQL_STRING OUTPUT 
EXEC dbo.PRINT_LONG_VARIABLE_VALUE @SQL_STRING

DECLARE @NEW_TABLE_NAME VARCHAR(100) = @TABLE_NAME + '_NEW_SET'

EXEC DBO.GET_CREATE_STATISTICS_SQL @TABLE_NAME, @NEW_TABLE_NAME, @SQL_STRING OUTPUT 
EXEC dbo.PRINT_LONG_VARIABLE_VALUE @SQL_STRING

EXEC DBO.GET_RENAME_TABLE_SQL @NEW_TABLE_NAME, @TABLE_NAME, @SQL_STRING OUTPUT 
EXEC dbo.PRINT_LONG_VARIABLE_VALUE @SQL_STRING

-- !!!! EXAMPLE !!!! --

*/

SET NOCOUNT ON


DECLARE @ERROR VARCHAR(MAX) = ''

IF @TABLE_NAME IS NULL SET @ERROR = @ERROR + 'Table name could not be NULL'

IF LEN(@ERROR) > 0
BEGIN
	PRINT @ERROR
	SET @SQL_STRING = '';
END
ELSE
BEGIN

	DECLARE @NUM_OF_COLUMNS INT
	DECLARE @TABLE_DISTRIBUTION VARCHAR(100) = ''
	--DECLARE @SQL_CREATE_STATS VARCHAR(MAX)
	--DECLARE @SQL_CREATE_TABLE VARCHAR(MAX)
	DECLARE @TABLE_INDEX VARCHAR(MAX) = ''
	DECLARE @NEW_TABLE_NAME VARCHAR(100) = @TABLE_NAME + '_NEW_SET'

	EXEC DBO.GET_DISRTIBUTION_STRING @TABLE_NAME, @TABLE_DISTRIBUTION OUTPUT 

	EXEC DBO.GET_INDEX_STRING @TABLE_NAME, @TABLE_INDEX OUTPUT 

	IF OBJECT_ID('tempdb..#TABLE_COLUMNS') IS NOT NULL DROP TABLE #TABLE_COLUMNS;
	CREATE TABLE #TABLE_COLUMNS WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(ColumnName)) AS 
	SELECT      s.name AS SchemaName, t.name AS TableName, c.name AS ColumnName, C.column_id, TYPE_NAME(c.system_type_id) AS ColumnType, c.max_length, c.PRECISION,c.scale,C.is_nullable, 
				ROW_NUMBER() OVER(ORDER BY C.column_id) AS RN
	FROM        sys.columns c
	JOIN        sys.tables  t   ON c.object_id = t.object_id
	JOIN		sys.schemas S	ON S.schema_id = t.schema_id
	--WHERE       t.name = 'TA_TXN_AVI_DATAS'
	WHERE       t.name = @TABLE_NAME

	--PRINT 'GOT NEW_TABLE_COLUMNS'

	SELECT @NUM_OF_COLUMNS = MAX(RN) FROM #TABLE_COLUMNS

	DECLARE @SELECT_String VARCHAR(MAX) = ''
	DECLARE @THIS_SELECT_String VARCHAR(MAX) = ''
	DECLARE @Delimiter VARCHAR(3) = ''
	DECLARE @INDICAT SMALLINT = 1
	-- If only 1 period (and 1 partition) - @PART_RANGES is empty

	--EXEC DBO.GET_CREATE_STATISTICS_SQL @TABLE_NAME, @NEW_TABLE_NAME, @SQL_CREATE_STATS OUTPUT 
	--PRINT 'GOT @SQL_CREATE_STATS'

	WHILE (@INDICAT <= @NUM_OF_COLUMNS)
	BEGIN
		
		--PRINT 'WHILE (' + CAST(@INDICAT AS VARCHAR) + ' <= ' + CAST(@NUM_OF_COLUMNS AS VARCHAR) + ')'
		SELECT 
			@THIS_SELECT_String = CASE WHEN m.is_nullable = 1 THEN '' ELSE 'ISNULL(' END + 'CAST(' +
				'main_table.[' + M.ColumnName + '] AS ' + M.ColumnType +
			CASE 
				WHEN M.ColumnType = 'DATETIME2' THEN '(' + CAST(m.scale AS VARCHAR) +')'
				WHEN M.ColumnType IN ('BINARY','VARBINARY') THEN '(' + ISNULL(NULLIF(CAST(m.max_length AS VARCHAR),'-1'),'MAX') +')'
				WHEN M.ColumnType IN ('DECIMAL','NUMERIC') THEN '(' + CAST(m.PRECISION AS VARCHAR) + ',' + CAST(m.scale AS VARCHAR) +')'
				WHEN M.ColumnType LIKE '%CHAR' AND LEFT(M.ColumnType,1) = 'N' THEN '(' + ISNULL(NULLIF(CAST(m.max_length / 2 AS VARCHAR),'-1'),'MAX') +')'
				WHEN M.ColumnType LIKE '%CHAR' AND LEFT(M.ColumnType,1) != 'N' THEN '(' + ISNULL(NULLIF(CAST(m.max_length AS VARCHAR),'-1'),'MAX') +')'
				ELSE ''
			END + ')' + CASE 
							WHEN m.is_nullable = 1 THEN '' 
							ELSE ', ' +	
										CASE
											WHEN M.ColumnType LIKE '%DATE%' THEN '''1900-01-01'''
											WHEN M.ColumnType IN ('BINARY','VARBINARY') THEN ''''''
											WHEN M.ColumnType LIKE '%CHAR' THEN ''''''
											ELSE '0'
										END + ')'
						END + ' AS [' + m.ColumnName + ']'
		FROM #TABLE_COLUMNS M
		WHERE M.RN = @INDICAT
		
		SET @SELECT_String = @SELECT_String + '
			' + @Delimiter + ' ' + @THIS_SELECT_String

		SET	@Delimiter = ','
		SET @INDICAT += 1

	END

	DECLARE @TABLE_PARTITION [VARCHAR](MAX)
	EXEC DBO.GET_PARTITION_STRING @TABLE_NAME, @TABLE_PARTITION OUTPUT 
	--PRINT 'GOT @TABLE_PARTITION'

	SET @SQL_STRING = 'CREATE TABLE dbo.[' + @NEW_TABLE_NAME + '] WITH (' + @TABLE_INDEX + ', ' + @TABLE_DISTRIBUTION + @TABLE_PARTITION + ')
	AS 
	SELECT ' + @SELECT_String + '
	FROM dbo.[' + @TABLE_NAME + '] AS main_table
	WHERE 1 = 1
	OPTION (LABEL = ''' + @NEW_TABLE_NAME + ' LOAD'');'

	-- WHERE 1 = 1 - we need this for automated adding filter using SUBSRTING 
	/*
	PRINT @SQL_CREATE_TABLE

	PRINT @SQL_CREATE_STATS
	
	
	DECLARE @RENAME_TABLE_SQL VARCHAR(MAX)

	SET @RENAME_TABLE_SQL = '
	IF OBJECT_ID(''dbo.' + @TABLE_NAME + '_OLD'') IS NOT NULL		DROP TABLE dbo.' + @TABLE_NAME + '_OLD;
	IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO ' + @TABLE_NAME + '_OLD;
	IF OBJECT_ID(''dbo.' + @NEW_TABLE_NAME + ''') IS NOT NULL		RENAME OBJECT::dbo.' + @NEW_TABLE_NAME + ' TO ' + @TABLE_NAME + ';
	IF OBJECT_ID(''dbo.' + @TABLE_NAME + '_OLD'') IS NOT NULL		DROP TABLE dbo.' + @TABLE_NAME + '_OLD;
	'

	--PRINT @RENAME_TABLE_SQL


	SET @SQL_STRING = @SQL_CREATE_TABLE + '
	' + @SQL_CREATE_STATS + '
	' +	@RENAME_TABLE_SQL
*/
	IF OBJECT_ID('tempdb..#TABLE_COLUMNS') IS NOT NULL DROP TABLE #TABLE_COLUMNS;


END

SET NOCOUNT OFF

















