CREATE PROC [DBO].[FACT_MISCLASS_LOAD] @LOAD_TYPE [VARCHAR](10) AS --DROP PROC [DBO].[FACT_MISCLASS_LOAD]
BEGIN

/*
EXEC [DBO].[FACT_MISCLASS_LOAD] 'FULL'

*/

	--Ranjith Nair  2017-12-10  Exclude MisMatch
	--Ranjith Nair  2017-12-11  Adding Video Transactions
	--Shankar Metla 2018-09-24  1. Image names load performance improved. 
	--							2. Added Revenue according to Daily Mode Class to be able to determine Lost Revenue.
	--							3. Predictable and repeatable results. Added Vehicle Class as second level sort after Row Count in determining Daily Vehicle Class
	--							4. Predictable and repeatable results. Extended Account Tag History lookup to all history rows, not just the top 1 row.
	--							5. Consistent Daily Mode Logic in Step#1 and #3. Look at the entire day instead of each hour separately in Step #1 to find multiple class cases.
	--							6. Now fact tables are partitioned for 60 days incremental load. This fixes the issue of randomly missing records since now the incremental load always starts at the top of the day. This also fixes the issue of duplicate fact table records found.

	--:: Debug
	--DECLARE @LOAD_TYPE VARCHAR(10) = 'FULL' -- 'FULL' or 'INCR'
	--DECLARE @LOAD_TYPE VARCHAR(10) = 'INCR'
	DECLARE @TEST INT = NULL 
	DECLARE @FROM_DAYID INT
	
	IF @LOAD_TYPE = 'FULL'
	BEGIN
		SELECT @FROM_DAYID = ISNULL(@TEST,CONVERT(VARCHAR(10),DATEADD(DAY,1,MAX(DATEADD(MONTH,-1,DATA_AS_OF_DATE))),112))							   
		FROM dbo.PARTITION_AS_OF_DATE_CONTROL
		WHERE CURRENT_IND = 1
	END
	ELSE
	BEGIN
		SELECT @FROM_DAYID = rv.[value] 
		FROM        sys.tables t
		JOIN        sys.partitions p                ON      p.[object_id]         = t.[object_id] AND p.[index_id] <=1
		JOIN        sys.indexes i                   ON      i.[object_id]         = p.[object_id] AND     i.[index_id]          = p.[index_id]
		JOIN        sys.data_spaces ds              ON      ds.[data_space_id]    = i.[data_space_id]
		LEFT JOIN   sys.partition_schemes ps        ON      ps.[data_space_id]    = ds.[data_space_id]
		LEFT JOIN   sys.partition_functions pf      ON      pf.[function_id]      = ps.[function_id]
		LEFT JOIN   sys.partition_range_values rv   ON      rv.[function_id]      = pf.[function_id] AND     rv.[boundary_id]      = p.[partition_number]
		WHERE t.[name] = 'FACT_MISCLASS' AND p.[partition_number] = 1 
	END

	--DECLARE @FROM_DAYID INT = ISNULL(@TEST,(SELECT CONVERT(VARCHAR(10),DATEADD(DAY,1,MAX(DATEADD(MONTH,-1,DATA_AS_OF_DATE))),112)							   
	--							   FROM dbo.PARTITION_AS_OF_DATE_CONTROL
	--							   WHERE CURRENT_IND = 1)) 
	DECLARE @FROMDATETIME2 DateTime2(7) = CASE WHEN @LOAD_TYPE = 'FULL' THEN '1/01/2014' ELSE CAST(CONVERT(NVARCHAR,@FROM_DAYID) AS DATETIME2) END
	DECLARE @SQL_DDL NVARCHAR(MAX)

	PRINT CAST(@FROMDATETIME2 AS VARCHAR) 
	PRINT CAST(@FROM_DAYID AS VARCHAR) 

	--STEP #1: Transactions

	--First Toll Tag
	--Step #1: Find all ACCT_ID/TAG_IDs with multiple Class
	IF OBJECT_ID('dbo.FACT_MISCLASS_STAGE00')>0 DROP TABLE dbo.FACT_MISCLASS_STAGE00;
	CREATE TABLE dbo.FACT_MISCLASS_STAGE00 WITH (DISTRIBUTION = HASH(DAY_ID)) 
	AS
	SELECT	T.ACCT_ID, T.TAG_ID, CONVERT(VARCHAR, TRANSACTION_DATE, 112) DAY_ID
	FROM	LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS T
	WHERE	AMOUNT > 0  --Exclude NTTA & FIRE FIGHTERS
	AND		LANE_ID IN (SELECT LANE_ID FROM [dbo].[DIM_LANE] WHERE AGENCY_ID = 2 AND SUB_AGENCY_ABBREV IN('NTTA SPS','NTTA System','SPS')) --NTTA
	AND		TRANSACTION_DATE >= @FROMDATETIME2
	GROUP BY T.ACCT_ID, T.TAG_ID, CONVERT(VARCHAR, TRANSACTION_DATE, 112)
	HAVING	COUNT(DISTINCT VEHICLE_CLASS_CODE) > 1  

	--Second: Video Transactions
    --Step #1a: Find all License Plates with multiple Class 
	IF OBJECT_ID('dbo.FACT_MISCLASS_ICRS_STAGE00')>0 DROP TABLE dbo.FACT_MISCLASS_ICRS_STAGE00;
	CREATE TABLE dbo.FACT_MISCLASS_ICRS_STAGE00 WITH (DISTRIBUTION = HASH(DAY_ID))
	AS
	SELECT	COALESCE(CAMERA_LIC_PLATE_NBR, LIC_PLATE_NBR) LIC_PLATE_NBR, COALESCE(CAMERA_LIC_PLATE_STATE, LIC_PLATE_STATE) LIC_PLATE_STATE, 
			CONVERT(VARCHAR, VIOL_DATE, 112) DAY_ID--, CONVERT(VARCHAR(2),VIOL_DATE, 114) AS HH
	FROM	LND_LG_ICRS.ICRS_OWNER.ICS_LANE_VIOLATIONS
	WHERE	VIOL_DATE >= @FROMDATETIME2
	AND		LANE_ID IN (SELECT LANE_ID FROM [dbo].[DIM_LANE] WHERE AGENCY_ID = 2 AND SUB_AGENCY_ABBREV IN('NTTA SPS','NTTA System','SPS')) --NTTA
	AND		COALESCE(CAMERA_LIC_PLATE_NBR, LIC_PLATE_NBR) NOT LIKE '~%'
	GROUP BY COALESCE(CAMERA_LIC_PLATE_NBR, LIC_PLATE_NBR), COALESCE(CAMERA_LIC_PLATE_STATE, LIC_PLATE_STATE), CONVERT(VARCHAR, VIOL_DATE, 112)--, CONVERT(VARCHAR(2),VIOL_DATE, 114)
	HAVING	COUNT(DISTINCT VEHICLE_CLASS) > 1;

	CREATE STATISTICS STATS_FACT_MISCLASS_STAGE00_001 ON [dbo].FACT_MISCLASS_STAGE00 (DAY_ID,ACCT_ID,TAG_ID)
	CREATE STATISTICS STATS_FACT_MISCLASS_STAGE00_001 ON [dbo].FACT_MISCLASS_ICRS_STAGE00 (DAY_ID,LIC_PLATE_NBR,LIC_PLATE_STATE)

	--First Toll Tag
	--Step #2: Find all the transaction for the above ACCT_ID/TAG_IDs
	IF OBJECT_ID('dbo.FACT_MISCLASS_STAGE01')>0 DROP TABLE dbo.FACT_MISCLASS_STAGE01
	CREATE TABLE dbo.FACT_MISCLASS_STAGE01 WITH (DISTRIBUTION = HASH(DAY_ID))
	AS 
	WITH TTXN_TAG_HIST_CTE
	AS
	(
		SELECT	TTXN_ID,T.ACCT_ID,T.TAG_ID,FIRST_NAME,LAST_NAME,COMPANY_NAME,TRANSACTION_DATE,
				CONVERT(VARCHAR, TRANSACTION_DATE, 112) AS DAY_ID, CONVERT(VARCHAR(2),TRANSACTION_DATE, 114) AS HH, POSTED_DATE,
				AMOUNT,T.AGENCY_ID,L.PLAZA_ID,T.LANE_ID,T.SOURCE_CODE,SOURCE_TRXN_ID,CREDITED_FLAG,T.VEHICLE_CLASS_CODE, TH.VEHICLE_CLASS_CODE AS TAG_CLASS_CODE,LIC_STATE,LIC_PLATE, ASSIGNED_DATE, EXPIRED_DATE, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, ACCT_TAG_STATUS,
				ROW_NUMBER() OVER (PARTITION BY TTXN_ID ORDER BY ASSIGNED_DATE DESC, ACCT_TAG_SEQ DESC, TAG_HISTORY_SEQ DESC) RID
		FROM	LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS T
		JOIN	dbo.FACT_MISCLASS_STAGE00 	ON T.ACCT_ID = FACT_MISCLASS_STAGE00.ACCT_ID 	AND T.TAG_ID = FACT_MISCLASS_STAGE00.TAG_ID 
		AND		CONVERT(VARCHAR, TRANSACTION_DATE, 112) = DAY_ID
		AND		TRANSACTION_DATE >= @FROMDATETIME2
		JOIN    [dbo].[DIM_LANE] L
				ON T.LANE_ID = L.LANE_ID AND L.AGENCY_ID = 2 AND L.SUB_AGENCY_ABBREV IN ('NTTA SPS','NTTA System','SPS') --NTTA
		JOIN    LND_LG_TS.TAG_OWNER.ACCOUNTS A ON A.ACCT_ID = T.ACCT_ID 
		JOIN	LND_LG_TS.TAG_OWNER.ACCOUNT_TAG_HISTORY TH 
				ON  TH.ACCT_ID = T.ACCT_ID AND TH.TAG_ID = T.TAG_ID AND T.TRANSACTION_DATE BETWEEN TH.ASSIGNED_DATE	AND ISNULL(TH.EXPIRED_DATE, 'December 31, 9999')
	) 
	SELECT TTXN_ID,ACCT_ID,TAG_ID,FIRST_NAME,LAST_NAME,COMPANY_NAME,TRANSACTION_DATE,DAY_ID,HH,POSTED_DATE,AMOUNT,AGENCY_ID,PLAZA_ID,LANE_ID,SOURCE_CODE,SOURCE_TRXN_ID,CREDITED_FLAG,VEHICLE_CLASS_CODE,TAG_CLASS_CODE,LIC_STATE,LIC_PLATE,ASSIGNED_DATE,EXPIRED_DATE,ACCT_TAG_SEQ,TAG_HISTORY_SEQ, ACCT_TAG_STATUS
	FROM TTXN_TAG_HIST_CTE
	WHERE RID = 1;

	--Second: Video Transactions
	--Step #2: Find all the transaction for the above with multiple Class
	IF OBJECT_ID('dbo.FACT_MISCLASS_ICRS_STAGE01')>0 DROP TABLE dbo.FACT_MISCLASS_ICRS_STAGE01;
	CREATE TABLE dbo.FACT_MISCLASS_ICRS_STAGE01 WITH (DISTRIBUTION = HASH(DAY_ID)) AS
	SELECT	VIOLATION_ID, COALESCE(LV.CAMERA_LIC_PLATE_NBR, LV.LIC_PLATE_NBR) LIC_PLATE_NBR ,COALESCE(LV.CAMERA_LIC_PLATE_STATE, LV.LIC_PLATE_STATE) LIC_PLATE_STATE,
			VIOLATOR_FNAME, VIOLATOR_LNAME,	VIOLATIONS.VIOLATOR_ID, LV.VIOL_DATE,
			CONVERT(VARCHAR, LV.VIOL_DATE, 112) AS DAY_ID, CONVERT(VARCHAR(2), LV.VIOL_DATE, 114) AS HH, 
			LV.TOLL_DUE, LV.AGENCY_ID, L.PLAZA_ID, LV.LANE_ID,VIOL_STATUS, LV.LANE_VIOL_ID, LV.VEHICLE_CLASS
	FROM	LND_LG_ICRS.ICRS_OWNER.ICS_LANE_VIOLATIONS LV
	JOIN	dbo.FACT_MISCLASS_ICRS_STAGE00 ON COALESCE(LV.CAMERA_LIC_PLATE_NBR, LV.LIC_PLATE_NBR) = FACT_MISCLASS_ICRS_STAGE00.LIC_PLATE_NBR 
	AND     COALESCE(LV.CAMERA_LIC_PLATE_STATE, LV.LIC_PLATE_STATE)  = FACT_MISCLASS_ICRS_STAGE00.LIC_PLATE_STATE 
	AND		CONVERT(VARCHAR, LV.VIOL_DATE, 112) = DAY_ID
	AND		LV.VIOL_DATE >= @FROMDATETIME2
    JOIN    [dbo].[DIM_LANE] L
            ON LV.LANE_ID = L.LANE_ID AND L.AGENCY_ID = 2 AND L.SUB_AGENCY_ABBREV IN ('NTTA SPS','NTTA System','SPS') --NTTA AND TRANSACTION_FILE_DETAIL_ID IS NOT NULL --Non TSA
	LEFT JOIN	LND_LG_VPS.VP_OWNER.VIOLATIONS ON	VIOLATIONS.LANE_VIOL_ID = LV.LANE_VIOL_ID
	LEFT JOIN	LND_LG_VPS.VP_OWNER.VIOLATORS	ON VIOLATORS.VIOLATOR_ID = VIOLATIONS.VIOLATOR_ID 

	CREATE STATISTICS STATS_FACT_MISCLASS_STAGE01_001 ON [dbo].FACT_MISCLASS_STAGE01 (DAY_ID,ACCT_ID,TAG_ID,VEHICLE_CLASS_CODE)
	CREATE STATISTICS STATS_FACT_MISCLASS_ICRS_STAGE01_001 ON [dbo].FACT_MISCLASS_ICRS_STAGE01 (DAY_ID,LIC_PLATE_NBR,LIC_PLATE_STATE, VEHICLE_CLASS)
	
	--First Toll Tag
	--Step #3: Add all the summary fields

	--DECLARE @SQL_DDL NVARCHAR(MAX), @FROM_DAYID INT = 20180801, @FROMDATETIME2 DATETIME2(0) = '8/1/2018'

	IF OBJECT_ID('dbo.FACT_MISCLASS_STAGE')>0 DROP TABLE dbo.FACT_MISCLASS_STAGE

	SET @SQL_DDL = '
	CREATE TABLE dbo.FACT_MISCLASS_STAGE 
	WITH (PARTITION ([DAY_ID] RANGE RIGHT FOR VALUES (' + CAST(@FROM_DAYID AS NVARCHAR)+ '))  
	     ,DISTRIBUTION = HASH([DAY_ID])
		 ,CLUSTERED COLUMNSTORE INDEX)    
	AS
	SELECT	TTXN_ID,FACT_MISCLASS.ACCT_ID,FACT_MISCLASS.TAG_ID,FIRST_NAME,LAST_NAME,COMPANY_NAME,TRANSACTION_DATE,FACT_MISCLASS.DAY_ID, FACT_MISCLASS.HH
			, AMOUNT, CONVERT(DECIMAL(6,2),TR.TAG_TOLL) DAILY_MODE_TAG_TOLL,TAG_CLASS_CODE, FACT_MISCLASS.VEHICLE_CLASS_CODE, AVG_CLASS.VEHICLE_CLASS_CODE DAILY_MODE_VEHICLE_CLASS
			, CASE  WHEN FACT_MISCLASS.VEHICLE_CLASS_CODE != AVG_CLASS.VEHICLE_CLASS_CODE THEN ''MISCLASS''
					WHEN FACT_MISCLASS.VEHICLE_CLASS_CODE != TAG_CLASS_CODE THEN ''MISMATCH'' 
				END ISSUE
			, AGENCY_ID,LANE_ID,SOURCE_CODE,SOURCE_TRXN_ID,CREDITED_FLAG,LIC_STATE,LIC_PLATE
			, COALESCE(IMAGES.[IMAGE_1],VTOLLIMAGES.[IMAGE_1]) [IMAGE_1], COALESCE(IMAGES.[IMAGE_2],VTOLLIMAGES.[IMAGE_2]) [IMAGE_2], COALESCE(IMAGES.[IMAGE_3],VTOLLIMAGES.[IMAGE_3]) [IMAGE_3]
			, COALESCE(IMAGES.[IMAGE_4],VTOLLIMAGES.[IMAGE_4]) [IMAGE_4], COALESCE(IMAGES.[IMAGE_5],VTOLLIMAGES.[IMAGE_5]) [IMAGE_5], COALESCE(IMAGES.[IMAGE_6],VTOLLIMAGES.[IMAGE_6]) [IMAGE_6]
	FROM	dbo.FACT_MISCLASS_STAGE01 FACT_MISCLASS
	JOIN	(SELECT  ACCT_ID, TAG_ID, DAY_ID, VEHICLE_CLASS_CODE--, HH
				FROM	(SELECT ACCT_ID, TAG_ID, DAY_ID, CAST(VEHICLE_CLASS_CODE AS INT) VEHICLE_CLASS_CODE, COUNT(1) ROWS_COUNT
								,rid = ROW_NUMBER() OVER (PARTITION BY ACCT_ID, TAG_ID, DAY_ID ORDER BY COUNT(1) DESC, CAST(VEHICLE_CLASS_CODE AS INT) ASC)
						FROM dbo.FACT_MISCLASS_STAGE01
						GROUP BY ACCT_ID, TAG_ID, DAY_ID, VEHICLE_CLASS_CODE ) A WHERE rid = 1)  AVG_CLASS
		ON FACT_MISCLASS.ACCT_ID = AVG_CLASS.ACCT_ID 
		AND FACT_MISCLASS.TAG_ID = AVG_CLASS.TAG_ID 
		AND FACT_MISCLASS.DAY_ID = AVG_CLASS.DAY_ID 
    JOIN   LND_LG_HOST.[FPL_OWNER].[CURR_TOLL_RATE] TR
            ON CONVERT(BIGINT,TR.PLAZA_ID) = FACT_MISCLASS.PLAZA_ID
            AND CONVERT(VARCHAR,TR.VEHICLE_CLASS) = AVG_CLASS.VEHICLE_CLASS_CODE
            AND FACT_MISCLASS.TRANSACTION_DATE BETWEEN TR.TOLL_START_TIME AND ISNULL(TR.TOLL_END_TIME, GETDATE())  
    LEFT JOIN (
                    SELECT  TART_ID,IMAGE_LOCATION + IMAGE_NAME_1 [IMAGE_1], IMAGE_LOCATION + IMAGE_NAME_2 [IMAGE_2], IMAGE_LOCATION + IMAGE_NAME_3 [IMAGE_3], IMAGE_LOCATION + IMAGE_NAME_4 [IMAGE_4], IMAGE_LOCATION + IMAGE_NAME_5 [IMAGE_5], IMAGE_LOCATION + IMAGE_NAME_6 [IMAGE_6],
							ROW_NUMBER() OVER (PARTITION BY TART_ID ORDER BY XREF.LANE_VIOL_ID DESC) ROW_ID
                    FROM	dbo.FACT_MISCLASS_STAGE01 M
					JOIN	dbo.HOST_ICRS_XREF XREF ON TART_ID = M.SOURCE_TRXN_ID AND M.SOURCE_CODE = ''H''
					JOIN	dbo.DIM_ICS_LANE_VIOL_IMAGES ICS ON ICS.[LANE_VIOL_ID] = XREF.[LANE_VIOL_ID]
				)  IMAGES
		ON FACT_MISCLASS.SOURCE_TRXN_ID = IMAGES.TART_ID AND IMAGES.ROW_ID = 1
	LEFT JOIN	(	SELECT  TRANSACTION_ID,IMAGE_LOCATION + IMAGE_NAME_1 [IMAGE_1], IMAGE_LOCATION + IMAGE_NAME_2 [IMAGE_2], IMAGE_LOCATION + IMAGE_NAME_3 [IMAGE_3], IMAGE_LOCATION + IMAGE_NAME_4 [IMAGE_4], IMAGE_LOCATION + IMAGE_NAME_5 [IMAGE_5], IMAGE_LOCATION + IMAGE_NAME_6 [IMAGE_6] 
                    FROM	dbo.FACT_MISCLASS_STAGE01 M
					JOIN	dbo.VPS_HOST_TRANSACTIONS XREF ON XREF.TRANSACTION_ID = M.SOURCE_TRXN_ID AND M.SOURCE_CODE != ''H''
					JOIN	dbo.DIM_ICS_LANE_VIOL_IMAGES ICS ON ICS.[LANE_VIOL_ID] = XREF.[LANE_VIOL_ID]
				)  VTOLLIMAGES
        ON FACT_MISCLASS.SOURCE_TRXN_ID = VTOLLIMAGES.TRANSACTION_ID
	WHERE FACT_MISCLASS.TRANSACTION_DATE >= ' + CHAR(39) + CAST(@FROMDATETIME2 AS NVARCHAR(30)) + CHAR(39)

	PRINT @SQL_DDL
	EXEC (@SQL_DDL)

	--Second: Video Transactions
	--Step #3a: Find the MODE for the above LIC NBR with multiple Class

	--DECLARE @SQL_DDL NVARCHAR(MAX), @FROM_DAYID INT = 20180801, @FROMDATETIME2 DATETIME2(0) = '8/1/2018'
	
	IF OBJECT_ID('dbo.FACT_MISCLASS_ICRS_STAGE')>0 DROP TABLE dbo.FACT_MISCLASS_ICRS_STAGE;
	SET @SQL_DDL = '
	CREATE TABLE dbo.FACT_MISCLASS_ICRS_STAGE 
	WITH (PARTITION ([DAY_ID] RANGE RIGHT FOR VALUES (' + CAST(@FROM_DAYID AS NVARCHAR)+ '))  
	     ,DISTRIBUTION = HASH([DAY_ID])
		 ,CLUSTERED COLUMNSTORE INDEX)    
	AS
	SELECT	FACT_MISCLASS_ICRS.LANE_VIOL_ID,VIOLATION_ID,FACT_MISCLASS_ICRS.LIC_PLATE_NBR,FACT_MISCLASS_ICRS.LIC_PLATE_STATE,VIOLATOR_FNAME,VIOLATOR_LNAME,VIOLATOR_ID,VIOL_DATE,FACT_MISCLASS_ICRS.DAY_ID,HH
			, TOLL_DUE,TR.CASH_TOLL DAILY_MODE_CASH_TOLL,FACT_MISCLASS_ICRS.VEHICLE_CLASS, AVG_CLASS.VEHICLE_CLASS_CODE DAILY_MODE_VEHICLE_CLASS
			, CASE WHEN FACT_MISCLASS_ICRS.VEHICLE_CLASS != AVG_CLASS.VEHICLE_CLASS_CODE THEN ''MISCLASS'' END ISSUE
            , AGENCY_ID,LANE_ID,VIOL_STATUS
			, [IMAGE_1], [IMAGE_2], [IMAGE_3], [IMAGE_4], [IMAGE_5], [IMAGE_6]
	FROM	dbo.FACT_MISCLASS_ICRS_STAGE01 FACT_MISCLASS_ICRS
	JOIN	(SELECT  LIC_PLATE_NBR, LIC_PLATE_STATE, DAY_ID, VEHICLE_CLASS_CODE
			 FROM	(SELECT LIC_PLATE_NBR, LIC_PLATE_STATE, DAY_ID, CAST(VEHICLE_CLASS AS INT) VEHICLE_CLASS_CODE
							 ,rid = ROW_NUMBER() OVER (PARTITION BY LIC_PLATE_NBR, LIC_PLATE_STATE, DAY_ID ORDER BY COUNT(1) DESC, CAST(VEHICLE_CLASS AS INT) ASC)
					FROM dbo.FACT_MISCLASS_ICRS_STAGE01
					GROUP BY LIC_PLATE_NBR, LIC_PLATE_STATE, DAY_ID, VEHICLE_CLASS ) A WHERE rid = 1)  AVG_CLASS
		ON FACT_MISCLASS_ICRS.LIC_PLATE_NBR = AVG_CLASS.LIC_PLATE_NBR 
		AND FACT_MISCLASS_ICRS.LIC_PLATE_STATE = AVG_CLASS.LIC_PLATE_STATE  	
		AND FACT_MISCLASS_ICRS.DAY_ID = AVG_CLASS.DAY_ID 
    JOIN   LND_LG_HOST.[FPL_OWNER].[CURR_TOLL_RATE] TR
        ON CONVERT(BIGINT,TR.PLAZA_ID) = FACT_MISCLASS_ICRS.PLAZA_ID
        AND CONVERT(VARCHAR,TR.VEHICLE_CLASS) = AVG_CLASS.VEHICLE_CLASS_CODE
        AND FACT_MISCLASS_ICRS.VIOL_DATE BETWEEN TR.TOLL_START_TIME AND ISNULL(TR.TOLL_END_TIME, GETDATE())  
	LEFT JOIN	(	SELECT  ICS.LANE_VIOL_ID,IMAGE_LOCATION + IMAGE_NAME_1 [IMAGE_1], IMAGE_LOCATION + IMAGE_NAME_2 [IMAGE_2], IMAGE_LOCATION + IMAGE_NAME_3 [IMAGE_3], IMAGE_LOCATION + IMAGE_NAME_4 [IMAGE_4], IMAGE_LOCATION + IMAGE_NAME_5 [IMAGE_5], IMAGE_LOCATION + IMAGE_NAME_6 [IMAGE_6] 
                    FROM	dbo.FACT_MISCLASS_ICRS_STAGE01 STAGE01
	                JOIN	dbo.DIM_ICS_LANE_VIOL_IMAGES ICS ON STAGE01.[LANE_VIOL_ID] = ICS.[LANE_VIOL_ID]
				)  IMAGES
		ON FACT_MISCLASS_ICRS.LANE_VIOL_ID = IMAGES.LANE_VIOL_ID
	WHERE FACT_MISCLASS_ICRS.VIOL_DATE >= ' + CHAR(39) + CAST(@FROMDATETIME2 AS NVARCHAR(30)) + CHAR(39)

	PRINT @SQL_DDL
	EXEC (@SQL_DDL)
	
	IF @LOAD_TYPE = 'FULL'
	BEGIN
		--STEP #4: Replace OLD table with NEW
		IF OBJECT_ID('dbo.FACT_MISCLASS_OLD')>0 		DROP TABLE dbo.FACT_MISCLASS_OLD;
		IF OBJECT_ID('dbo.FACT_MISCLASS')>0				RENAME OBJECT::dbo.FACT_MISCLASS TO FACT_MISCLASS_OLD;
		RENAME OBJECT::dbo.FACT_MISCLASS_STAGE TO FACT_MISCLASS;
		--IF OBJECT_ID('dbo.FACT_MISCLASS_OLD')>0 		DROP TABLE dbo.FACT_MISCLASS_OLD;

		IF OBJECT_ID('dbo.FACT_MISCLASS_ICRS_OLD')>0 	DROP TABLE dbo.FACT_MISCLASS_ICRS_OLD;
		IF OBJECT_ID('dbo.FACT_MISCLASS_ICRS')>0		RENAME OBJECT::dbo.FACT_MISCLASS_ICRS TO FACT_MISCLASS_ICRS_OLD;
		RENAME OBJECT::dbo.FACT_MISCLASS_ICRS_STAGE TO FACT_MISCLASS_ICRS;
		--IF OBJECT_ID('dbo.FACT_MISCLASS_ICRS_OLD')>0 	DROP TABLE dbo.FACT_MISCLASS_ICRS_OLD;

		--STEP #5: Create Statistics
		CREATE STATISTICS STATS_FACT_MISCLASS_001 ON [dbo].FACT_MISCLASS (DAY_ID)
		CREATE STATISTICS STATS_FACT_MISCLASS_002 ON [dbo].FACT_MISCLASS (LANE_ID)
		CREATE STATISTICS STATS_FACT_MISCLASS_003 ON [dbo].FACT_MISCLASS (HH)
		CREATE STATISTICS STATS_FACT_MISCLASS_004 ON [dbo].FACT_MISCLASS (ACCT_ID)
		CREATE STATISTICS STATS_FACT_MISCLASS_005 ON [dbo].FACT_MISCLASS (TAG_ID)
		CREATE STATISTICS STATS_FACT_MISCLASS_006 ON [dbo].FACT_MISCLASS (DAY_ID,ACCT_ID,TAG_ID)

		CREATE STATISTICS STATS_FACT_MISCLASS_ICRS_001 ON [dbo].FACT_MISCLASS_ICRS (DAY_ID)
		CREATE STATISTICS STATS_FACT_MISCLASS_ICRS_002 ON [dbo].FACT_MISCLASS_ICRS (LANE_ID)
		CREATE STATISTICS STATS_FACT_MISCLASS_ICRS_003 ON [dbo].FACT_MISCLASS_ICRS (HH)
		CREATE STATISTICS STATS_FACT_MISCLASS_ICRS_004 ON [dbo].FACT_MISCLASS_ICRS (LIC_PLATE_NBR)
		CREATE STATISTICS STATS_FACT_MISCLASS_ICRS_005 ON [dbo].FACT_MISCLASS_ICRS (LIC_PLATE_STATE)
		CREATE STATISTICS STATS_FACT_MISCLASS_ICRS_006 ON [dbo].FACT_MISCLASS_ICRS (DAY_ID,LIC_PLATE_NBR,LIC_PLATE_STATE)
	END
	ELSE
	BEGIN
		--STEP #4: SWITCH IN Incremental Load of recent data to FACT table
		IF OBJECT_ID('dbo.FACT_MISCLASS_TRUNCATE')>0 DROP TABLE dbo.FACT_MISCLASS_TRUNCATE;
		CREATE TABLE dbo.FACT_MISCLASS_TRUNCATE 
		WITH (DISTRIBUTION = HASH([DAY_ID]),CLUSTERED COLUMNSTORE INDEX) 
		AS 
		SELECT * FROM dbo.FACT_MISCLASS WHERE 1 = 2

		ALTER TABLE dbo.FACT_MISCLASS SWITCH PARTITION 2 TO dbo.FACT_MISCLASS_TRUNCATE PARTITION 1
		ALTER TABLE dbo.FACT_MISCLASS_STAGE SWITCH PARTITION 2 TO dbo.FACT_MISCLASS PARTITION 2
	
		IF OBJECT_ID('dbo.FACT_MISCLASS_ICRS_TRUNCATE')>0 DROP TABLE dbo.FACT_MISCLASS_ICRS_TRUNCATE;
		CREATE TABLE dbo.FACT_MISCLASS_ICRS_TRUNCATE 
		WITH (DISTRIBUTION = HASH([DAY_ID]),CLUSTERED COLUMNSTORE INDEX) 
		AS 
		SELECT * FROM dbo.FACT_MISCLASS_ICRS WHERE 1 = 2

		ALTER TABLE dbo.FACT_MISCLASS_ICRS SWITCH PARTITION 2 TO dbo.FACT_MISCLASS_ICRS_TRUNCATE PARTITION 1
		ALTER TABLE dbo.FACT_MISCLASS_ICRS_STAGE SWITCH PARTITION 2 TO dbo.FACT_MISCLASS_ICRS PARTITION 2

		--STEP #5: Update Statistics
		UPDATE STATISTICS [dbo].FACT_MISCLASS  
		UPDATE STATISTICS [dbo].FACT_MISCLASS_ICRS  
	END

	/*
	DROP TABLE dbo.FACT_MISCLASS_ICRS_BKUP
	DROP TABLE dbo.FACT_MISCLASS_BKUP
	CREATE TABLE dbo.FACT_MISCLASS_ICRS_BKUP 
	WITH (PARTITION ([DAY_ID] RANGE RIGHT FOR VALUES (20180801))  
	    ,DISTRIBUTION = HASH([DAY_ID])
		,CLUSTERED COLUMNSTORE INDEX) 
	AS --EXPLAIN
    SELECT * FROM dbo.FACT_MISCLASS_ICRS

	CREATE TABLE dbo.FACT_MISCLASS_BKUP 
	WITH (PARTITION ([DAY_ID] RANGE RIGHT FOR VALUES (20180801))  
	    ,DISTRIBUTION = HASH([DAY_ID])
		,CLUSTERED COLUMNSTORE INDEX) 
	AS --EXPLAIN
    SELECT * FROM dbo.FACT_MISCLASS 
    SELECT TOP 100 * FROM dbo.FACT_MISCLASS_ICRS WHERE IMAGE_6 IS NOT NULL
    SELECT TOP 100 * FROM dbo.FACT_MISCLASS  WHERE TTXN_ID = 7507084145
    SELECT TOP 100 * FROM dbo.FACT_MISCLASS_ICRS 
    SELECT TOP 100 * FROM dbo.DIM_ICS_LANE_VIOL_IMAGES

	SELECT TOP 10 * FROM FACT_MISCLASS_STAGE01
	SELECT TOP 10 * FROM FACT_MISCLASS_ICRS_STAGE01

    SELECT TOP 1000 TR.TAG_TOLL, F.DAILY_MODE_TAG_TOLL, * FROM
        FACT_MISCLASS F JOIN dbo.DIM_LANE L ON F.LANE_ID = L.LANE_ID
        JOIN LND_LG_HOST.[FPL_OWNER].[CURR_TOLL_RATE] TR
        ON CONVERT(BIGINT,TR.PLAZA_ID) = L.PLAZA_ID
        AND CONVERT(VARCHAR,TR.VEHICLE_CLASS) = F.DAILY_MODE_VEHICLE_CLASS  
        AND F.TRANSACTION_DATE BETWEEN TR.TOLL_START_TIME AND ISNULL(TR.TOLL_END_TIME, GETDATE())  
    WHERE F.TTXN_ID = 7103087704
	*/

END


