CREATE PROC [dbo].[GetFields] @SchemaName [varchar](255),@TableName [varchar](255) AS
/*
DROP PROC [dbo].[GetFields] 

EXEC [dbo].[GetFields] 'dbo', 'DIM_VIOLATOR_ASOF'
*/
BEGIN 

	IF OBJECT_ID('tempdb..#TEMP') IS NOT NULL DROP TABLE #TEMP

	CREATE TABLE #TEMP WITH (DISTRIBUTION = ROUND_ROBIN) AS
	SELECT CAST(ORDINAL_POSITION AS INT) AS ORDINAL_POSITION, 
			CAST(COLUMN_NAME AS VARCHAR(255)) AS COLUMN_NAME
	FROM INFORMATION_SCHEMA.COLUMNS 
	WHERE TABLE_SCHEMA = @SchemaName AND TABLE_NAME = @TableName 

	DECLARE @x INT = 1
	DECLARE @Str varchar(MAX) = ''
	DECLARE @DEL VARCHAR(1)= ''
	DECLARE @xMax int = ISNULL((SELECT  MAX(ORDINAL_POSITION)+1 FROM #TEMP),0);

	WHILE @x < @xMax
	BEGIN
		SET @Str = @Str + (SELECT @DEL + '[' + COLUMN_NAME + ']' FROM #TEMP WHERE ORDINAL_POSITION = @x)
		SET @x = @x + 1
		SET @DEL = ', '
	END

	SELECT @Str

END;


