CREATE PROC [dbo].[StatsFullRefresh] AS
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.StatsFullRefresh') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.StatsFullRefresh
GO

EXEC DBO.StatsFullRefresh



*/
DECLARE @SQL_DROP VARCHAR(MAX)
DECLARE @SQL_CREATE VARCHAR(MAX)



--  exec CreateStats 'DIM_DATE'
EXEC DBO.GET_DROP_STATISTICS_SQL 'DIM_DATE', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'DIM_DATE', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


--  exec CreateStats 'DIM_TIME'
EXEC DBO.GET_DROP_STATISTICS_SQL 'DIM_TIME', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'DIM_TIME', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'DIM_VEHICLE'
EXEC DBO.GET_DROP_STATISTICS_SQL 'DIM_VEHICLE', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'DIM_VEHICLE', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'SOURCE_CODE_TOLL'
EXEC DBO.GET_DROP_STATISTICS_SQL 'SOURCE_CODE_TOLL', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'SOURCE_CODE_TOLL', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'ACCOUNT_STATUSES'
EXEC DBO.GET_DROP_STATISTICS_SQL 'ACCOUNT_STATUSES', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'ACCOUNT_STATUSES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'ACCOUNT_PAYMENT_TYPES'
EXEC DBO.GET_DROP_STATISTICS_SQL 'ACCOUNT_PAYMENT_TYPES', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'ACCOUNT_PAYMENT_TYPES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'ACCOUNT_TYPES'
EXEC DBO.GET_DROP_STATISTICS_SQL 'ACCOUNT_TYPES', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'ACCOUNT_TYPES', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'ACCOUNT_TYPES'
EXEC DBO.GET_DROP_STATISTICS_SQL 'TRANSACTION_FILE_DETAILS', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'TRANSACTION_FILE_DETAILS', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)
 

-- exec CreateStats 'DIM_ZIPCODE'
EXEC DBO.GET_DROP_STATISTICS_SQL 'DIM_ZIPCODE', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'DIM_ZIPCODE', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)
 
 
-- exec CreateStats 'PARTITION_AS_OF_DATE_CONTROL'
EXEC DBO.GET_DROP_STATISTICS_SQL 'PARTITION_AS_OF_DATE_CONTROL', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'PARTITION_AS_OF_DATE_CONTROL', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'DIM_FACILITY'
EXEC DBO.GET_DROP_STATISTICS_SQL 'DIM_FACILITY', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'DIM_FACILITY', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)

 
-- exec CreateStats 'DIM_DAY'
EXEC DBO.GET_DROP_STATISTICS_SQL 'DIM_DAY', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'DIM_DAY', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)


-- exec CreateStats 'DIM_MONTH' 
EXEC DBO.GET_DROP_STATISTICS_SQL 'DIM_MONTH', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'DIM_MONTH', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)

 
-- exec CreateStats 'DIM_QUARTER'
EXEC DBO.GET_DROP_STATISTICS_SQL 'DIM_QUARTER', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'DIM_QUARTER', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)
 
 
-- exec CreateStats 'DIM_YEAR'
EXEC DBO.GET_DROP_STATISTICS_SQL 'DIM_YEAR', @SQL_DROP  OUTPUT 
EXEC DBO.GET_CREATE_STATISTICS_SQL 'DIM_YEAR', NULL, @SQL_CREATE  OUTPUT
EXEC (@SQL_DROP)
EXEC (@SQL_CREATE)

