CREATE PROC [DBO].[GET_PARTITION_DAYID_RANGE_STRING] @PART_RANGES [VARCHAR](MAX) OUT AS 
BEGIN
/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.GET_PARTITION_DAYID_RANGE_STRING') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.GET_PARTITION_DAYID_RANGE_STRING
GO

*/


	IF OBJECT_ID('tempDB..#TEMP_DIM_MONTH') IS NOT NULL DROP TABLE #TEMP_DIM_MONTH;

	SELECT Cal_MonthID AS MonthID, ROW_NUMBER() OVER (ORDER BY Cal_MonthID) AS PARTITION_NUM
	INTO #TEMP_DIM_MONTH
	FROM [dbo].[DIM_MONTH]

	SET @PART_RANGES = '' 
	DECLARE @TempVar VARCHAR(8)
	DECLARE @NUM_PART INT
	SELECT @NUM_PART = COUNT(1) FROM [dbo].[DIM_MONTH]
	DECLARE @Cur_Part INT = 2

	SELECT @PART_RANGES = CAST(MonthID AS VARCHAR(6)) + '00' FROM #TEMP_DIM_MONTH WHERE PARTITION_NUM = @Cur_Part

	WHILE (@Cur_Part < @NUM_PART) BEGIN
		SET @Cur_Part += 1
		SELECT @TempVar = CAST(MonthID AS VARCHAR(6)) + '00' FROM #TEMP_DIM_MONTH WHERE PARTITION_NUM = @Cur_Part
		SET @PART_RANGES = @PART_RANGES + ',' + @TempVar
	END;

END
