CREATE PROC [DBO].[FACT_INVOICE_DETAIL_VIOLATION_CURRENT_INVOICE_STAGE_LOAD] AS 

--TRUNCATE TABLE dbo.FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE

--INSERT INTO dbo.FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE
--	(VIOLATION_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, VIOLATION_LIFE_ROWNUM)
IF OBJECT_ID('dbo.FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE')>0 	DROP TABLE dbo.[FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE];

CREATE TABLE [dbo].[FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE] WITH (DISTRIBUTION = HASH([VIOLATION_ID])) ASEXPLAIN
SELECT 
	  A.VIOLATION_ID
	, A.VBI_INVOICE_ID
	, A.VIOL_INVOICE_ID
	, ROW_NUMBER() OVER( PARTITION BY  A.VIOLATION_ID ORDER BY (  RIGHT('0000000000000000' + CONVERT(VARCHAR(100), CASE WHEN VBI_INVOICE_ID > 0 THEN VBI_INVOICE_ID ELSE VIOL_INVOICE_ID END), 16) + '-' + RIGHT('0000000000000000' + CONVERT(VARCHAR(100),A.VIOL_INVOICE_ID), 16) ) DESC
		--SELECT RIGHT('0000000000000000' + convert(varchar(100),CASE WHEN VBI_INVOICE_ID > 0 THEN VBI_INVOICE_ID ELSE VIOL_INVOICE_ID END), 16)) + '-' + RIGHT('0000000000000000' + convert(varchar(100),A.VIOL_INVOICE_ID), 16)
		)		 AS VIOLATION_LIFE_ROWNUM
FROM dbo.FACT_INVOICE_DETAIL_STAGE A
INNER JOIN 
	(
		SELECT --TOP 10000 
				VIOLATION_ID 
		FROM dbo.FACT_INVOICE_DETAIL_STAGE B --		WHERE VIOLATION_ID = 89178358
		GROUP BY 
					VIOLATION_ID 
		HAVING COUNT(*) > 1
	) Dups ON 
	A.VIOLATION_ID = Dups.VIOLATION_ID --WHERE A.VIOLATION_ID = 89178358
--ORDER BY 
--	  A.VIOLATION_ID
--	, A.VBI_INVOICE_ID
--	, A.VIOL_INVOICE_ID

--exec DropStats 'dbo','FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE' 
--  exec CreateStats 'FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE'
CREATE STATISTICS STATS_FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE_001 ON [dbo].FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE 
	(VIOLATION_ID, VIOLATION_LIFE_ROWNUM)
CREATE STATISTICS STATS_FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE_002 ON [dbo].FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE 
	(VIOLATION_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID)


IF OBJECT_ID('dbo.FACT_INVOICE_DETAIL_VIOLATION_CURRENT_INVOICE_STAGE')>0
	DROP TABLE dbo.FACT_INVOICE_DETAIL_VIOLATION_CURRENT_INVOICE_STAGE

CREATE TABLE dbo.FACT_INVOICE_DETAIL_VIOLATION_CURRENT_INVOICE_STAGE WITH (DISTRIBUTION = HASH(VIOLATION_ID)) 
AS 

SELECT  A.VIOLATION_ID, A.VBI_INVOICE_ID, A.VIOL_INVOICE_ID
FROM FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE A
--INNER JOIN 
--(
--	SELECT VIOLATION_ID, MAX(VIOLATION_LIFE_ROWNUM) AS VIOLATION_LIFE_ROWNUM
--	FROM FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE A
--	GROUP BY VIOLATION_ID
--) B ON A.VIOLATION_ID = B.VIOLATION_ID AND A.VIOLATION_LIFE_ROWNUM = B.VIOLATION_LIFE_ROWNUM
WHERE VIOLATION_LIFE_ROWNUM = 1 --AND A.VIOLATION_ID = 89178358

UNION ALL 

SELECT A.VIOLATION_ID, A.VBI_INVOICE_ID, A.VIOL_INVOICE_ID
FROM FACT_INVOICE_DETAIL_STAGE A
INNER JOIN 
(
	SELECT VIOLATION_ID 
		FROM FACT_INVOICE_DETAIL_STAGE 
		GROUP BY VIOLATION_ID HAVING COUNT(*)=1

) B ON A.VIOLATION_ID = B.VIOLATION_ID 


CREATE STATISTICS STATS_FACT_INVOICE_DETAIL_VIOLATION_CURRENT_INVOICE_STAGE_001 ON [dbo].FACT_INVOICE_DETAIL_VIOLATION_CURRENT_INVOICE_STAGE ( VIOLATION_ID)
CREATE STATISTICS STATS_FACT_INVOICE_DETAIL_VIOLATION_CURRENT_INVOICE_STAGE_002 ON [dbo].FACT_INVOICE_DETAIL_VIOLATION_CURRENT_INVOICE_STAGE ( VIOLATION_ID, VBI_INVOICE_ID,VIOL_INVOICE_ID)


/*
	SELECT * FROM FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE order by VIOLATION_ID, VIOLATION_LIFE_ROWNUM
	
	SELECT * FROM FACT_INVOICE_DETAIL_VIOLATION_CURRENT_INVOICE_STAGE ORDER BY  VIOLATION_ID, VBI_INVOICE_ID,VIOL_INVOICE_ID

	SELECT * 
	FROM FACT_INVOICE_DETAIL_VIOLATION_CURRENT_INVOICE_STAGE 
	WHERE  VIOLATION_ID = 41932830
	ORDER BY  VIOLATION_ID, VBI_INVOICE_ID,VIOL_INVOICE_ID

	SELECT * 
	FROM FACT_INVOICE_ANALYSIS_DETAIL
	WHERE  VIOLATION_ID = 41932830
	ORDER BY  VIOLATION_ID, VBI_INVOICE_ID,VIOL_INVOICE_ID

	SELECT * 
	FROM FACT_INVOICE_DETAIL_VIOLATION_CURRENT_INVOICE_STAGE 
	WHERE VIOLATION_ID = 719927594
	ORDER BY  VIOLATION_ID, VBI_INVOICE_ID,VIOL_INVOICE_ID
	
	SELECT * 
	FROM FACT_INVOICE_DETAIL_VIOLATION_LIFE_ROWNUM_STAGE 
	WHERE VIOLATION_ID = 719927594
	ORDER BY VIOLATION_ID, VBI_INVOICE_ID,VIOL_INVOICE_ID
	

	VIOLATION_ID
	41932830


*/

