CREATE PROC [dbo].[COMPARE_ACCT_BALANCE_LOAD] @BALANCE_MONTH_ID [INT] AS
 
/*
######################################################################################################################################
Proc Name	: COMPARE_ACCT_BALANCE_LOAD
Description	: Compare current month begin account balances posted in RITE against the calculated account balances taking 
			  previous month begin account balances and all Toll Transactions and Retail Transactions posted during the previous month.
Authors		: Andy, Shankar
######################################################################################################################################
*/

-- DEBUG
-- DECLARE @BALANCE_MONTH_ID INT = 0 

DECLARE @PREV_MONTH_START_DATE DATETIME, @THIS_MONTH_START_DATE DATETIME

IF	ISDATE(CONVERT(VARCHAR,@BALANCE_MONTH_ID) + '01') = 1
BEGIN
	SET @PREV_MONTH_START_DATE = DATEADD(DAY,1,EOMONTH(DATEADD(MONTH,1,CONVERT(DATETIME,CONVERT(VARCHAR,@BALANCE_MONTH_ID) + '01')),-2))
	SET @THIS_MONTH_START_DATE = DATEADD(DAY,1,EOMONTH(DATEADD(MONTH,1,CONVERT(DATETIME,CONVERT(VARCHAR,@BALANCE_MONTH_ID) + '01')),-1))
END
ELSE
BEGIN
	SET @PREV_MONTH_START_DATE = DATEADD(DAY,1,EOMONTH(GETDATE(),-2))  
	SET @THIS_MONTH_START_DATE = DATEADD(DAY,1,EOMONTH(GETDATE(),-1)) 
END

PRINT '@BALANCE_MONTH_ID: ' + ISNULL(CONVERT(VARCHAR,@BALANCE_MONTH_ID),'NULL') + ', @PREV_MONTH_START_DATE: ' + CONVERT(VARCHAR(10), @PREV_MONTH_START_DATE,121) + ', @THIS_MONTH_START_DATE: ' + CONVERT(VARCHAR(10), @THIS_MONTH_START_DATE,121) 

--:1: Toll Transactions for the previous month 
IF OBJECT_ID('DBO.TEMP_TGS_TOLL_TRANSACTIONS') is not null DROP TABLE DBO.TEMP_TGS_TOLL_TRANSACTIONS

CREATE TABLE DBO.TEMP_TGS_TOLL_TRANSACTIONS
WITH (DISTRIBUTION = HASH(ACCT_ID))
AS
SELECT
	ACCT_ID AS ACCT_ID,	   
	CAST(POSTED_DATE AS DATE) POSTED_DATE,
	SUM(ISNULL(AMOUNT,0.00)) AS AMOUNT,
	SUM(1) AS TOLL_CNT,
	SUM(ISNULL(CASE WHEN POSTED_DATE IN (@PREV_MONTH_START_DATE,@THIS_MONTH_START_DATE) THEN AMOUNT END,0.00)) AS AMOUNT_ON_ZERO_HR,
	SUM(ISNULL(CASE WHEN POSTED_DATE IN (@PREV_MONTH_START_DATE,@THIS_MONTH_START_DATE) THEN 1 END,0)) AS TOLL_CNT_ON_ZERO_HR 
FROM LND_LG_TS.TAG_OWNER.TOLL_TRANSACTIONS
WHERE POSTED_DATE BETWEEN @PREV_MONTH_START_DATE AND @THIS_MONTH_START_DATE 
GROUP BY ACCT_ID, CAST(POSTED_DATE AS DATE)

-- SELECT TOP 1000 * FROM dbo.TEMP_TGS_TOLL_TRANSACTIONS  ORDER BY ACCT_ID, POSTED_DATE

--:2: Retail Transactions for the previous month 
IF OBJECT_ID('DBO.TEMP_TGS_RETAIL_TRANSACTIONS') IS NOT NULL DROP TABLE DBO.TEMP_TGS_RETAIL_TRANSACTIONS   

CREATE TABLE DBO.TEMP_TGS_RETAIL_TRANSACTIONS
WITH(DISTRIBUTION = HASH(ACCT_ID))
AS
SELECT 
	RT.ACCT_ID,             
	CAST(RT.POSTED_DATE AS DATE) AS POSTED_DATE,
	SUM(CASE WHEN TT.BALANCE_MULTIPLIER > 0 THEN ISNULL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS DT_AMOUNT,
	SUM(CASE WHEN TT.BALANCE_MULTIPLIER < 0 THEN ISNULL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS CT_AMOUNT,
	SUM(CASE WHEN TT.BALANCE_MULTIPLIER > 0 AND POSTED_DATE IN (@PREV_MONTH_START_DATE,@THIS_MONTH_START_DATE) THEN ISNULL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS DT_AMOUNT_ON_ZERO_HR,
	SUM(CASE WHEN TT.BALANCE_MULTIPLIER < 0 AND POSTED_DATE IN (@PREV_MONTH_START_DATE,@THIS_MONTH_START_DATE) THEN ISNULL(RTD.TRANS_AMT,0.00) ELSE 0 END) AS CT_AMOUNT_ON_ZERO_HR
 FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS RT  
 JOIN LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS RTD ON RT.RETAIL_TRANS_ID = RTD.RETAIL_TRANS_ID 		   
													AND RT.TRANS_STATUS = 'A'
													AND RTD.TRANS_STATUS = 'A'	
													AND RTD.LAST_UPDATE_TYPE != 'D'		  
 JOIN LND_LG_TS.TAG_OWNER.TRANSACTION_TYPES TT ON  RTD.TRANS_TYPE_ID = TT.TRANS_TYPE_ID
  AND TT.BALANCE_MULTIPLIER != 0
  AND TT.STATEMENT_FLAG = 'Y'
WHERE RT.POSTED_DATE BETWEEN @PREV_MONTH_START_DATE AND @THIS_MONTH_START_DATE
GROUP BY RT.ACCT_ID, CAST(RT.POSTED_DATE AS DATE)

-- SELECT TOP 1000 * FROM dbo.TEMP_TGS_RETAIL_TRANSACTIONS ORDER BY ACCT_ID, POSTED_DATE 

--:3: Toll Transactions, Retail Transactions Summary
IF OBJECT_ID('DBO.TEMP_TGS_TRANSACTIONS_SUMMARY') IS NOT NULL DROP TABLE DBO.TEMP_TGS_TRANSACTIONS_SUMMARY   
CREATE TABLE DBO.TEMP_TGS_TRANSACTIONS_SUMMARY
WITH(DISTRIBUTION = HASH(ACCT_ID))
AS
-- EXPLAIN
WITH UNION_CTE AS 
(
	SELECT
		ACCT_ID,             
		POSTED_DATE,
		CASE WHEN POSTED_DATE < @THIS_MONTH_START_DATE THEN DT_AMOUNT ELSE 0.00 END AS DT_AMOUNT,
		CASE WHEN POSTED_DATE < @THIS_MONTH_START_DATE THEN CT_AMOUNT ELSE 0.00 END AS CT_AMOUNT,
		0 AS TOLL_CNT,
		DT_AMOUNT_ON_ZERO_HR,
		CT_AMOUNT_ON_ZERO_HR,
		0 AS TOLL_CNT_ON_ZERO_HR
	FROM DBO.TEMP_TGS_RETAIL_TRANSACTIONS
	UNION ALL
	SELECT
		ACCT_ID,             
		POSTED_DATE,
		0.00 AS DT_AMOUNT,
		CASE WHEN POSTED_DATE < @THIS_MONTH_START_DATE THEN AMOUNT ELSE 0.00 END AS CT_AMOUNT,
		CASE WHEN POSTED_DATE < @THIS_MONTH_START_DATE THEN TOLL_CNT ELSE 0.00 END AS TOLL_CNT,
		0.00 AS DT_AMOUNT_ON_ZERO_HR,
		AMOUNT_ON_ZERO_HR AS CT_AMOUNT_ON_ZERO_HR,
		TOLL_CNT_ON_ZERO_HR
	FROM DBO.TEMP_TGS_TOLL_TRANSACTIONS
	UNION ALL
	SELECT
		ACCT_ID,             
		CONVERT(DATE,@THIS_MONTH_START_DATE) POSTED_DATE,
		0.00 AS DT_AMOUNT,
		0.00 AS CT_AMOUNT,
		0 AS TOLL_CNT,
		0.00 AS DT_AMOUNT_ON_ZERO_HR,
		0.00 AS CT_AMOUNT_ON_ZERO_HR,
		0 AS TOLL_CNT_ON_ZERO_HR
	FROM (SELECT ACCT_ID FROM DBO.TEMP_TGS_RETAIL_TRANSACTIONS 
		  UNION
		  SELECT ACCT_ID FROM DBO.TEMP_TGS_TOLL_TRANSACTIONS) T -- Get all accounts having Toll/Retail Transactions
)
SELECT 
	ACCT_ID,             
	POSTED_DATE,
	SUM(DT_AMOUNT) AS DEBIT,
	SUM(CT_AMOUNT) AS CREDIT,
	SUM(DT_AMOUNT) - SUM(CT_AMOUNT) AS BALANCE,
	SUM(TOLL_CNT) AS TOLL_CNT,
	SUM(DT_AMOUNT_ON_ZERO_HR) AS DEBIT_ON_ZERO_HR,
	SUM(CT_AMOUNT_ON_ZERO_HR) AS CREDIT_ON_ZERO_HR,
	SUM(DT_AMOUNT_ON_ZERO_HR) - SUM(CT_AMOUNT_ON_ZERO_HR) AS BALANCE_ON_ZERO_HR,
	SUM(TOLL_CNT_ON_ZERO_HR) AS TOLL_CNT_ON_ZERO_HR
FROM UNION_CTE
GROUP BY ACCT_ID,POSTED_DATE

CREATE STATISTICS STATS_TEMP_TGS_TRANSACTIONS_SUMMARY_001 ON dbo.TEMP_TGS_TRANSACTIONS_SUMMARY (ACCT_ID);
CREATE STATISTICS STATS_TEMP_TGS_TRANSACTIONS_SUMMARY_002 ON dbo.TEMP_TGS_TRANSACTIONS_SUMMARY (POSTED_DATE);

-- SELECT TOP 1000 * FROM dbo.TEMP_TGS_TRANSACTIONS_SUMMARY ORDER BY ACCT_ID, POSTED_DATE 

--:5: Posted Account Balance in RITE
IF OBJECT_ID('DBO.TEMP_TGS_PREV_MONTH_BAL') is not null DROP TABLE DBO.TEMP_TGS_PREV_MONTH_BAL   
CREATE TABLE DBO.TEMP_TGS_PREV_MONTH_BAL
WITH(CLUSTERED COLUMNSTORE INDEX,DISTRIBUTION = HASH(ACCT_ID))
AS
SELECT ACCT_ID, POSTED_DATE, POSTED_BALANCE
FROM (SELECT RT.ACCT_ID, CAST(RT.POSTED_DATE AS DATE) POSTED_DATE, RTD.TRANS_AMT AS POSTED_BALANCE, ISNULL(DENSE_RANK() OVER(PARTITION BY RT.ACCT_ID ORDER BY RT.POSTED_DATE),0) AS DATE_VERSION		     
		FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS RT
		JOIN LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS RTD ON RT.RETAIL_TRANS_ID = RTD.RETAIL_TRANS_ID
			 AND RTD.TRANS_TYPE_ID = 19				
			 AND CAST(RT.POSTED_DATE AS DATE) = @PREV_MONTH_START_DATE 
			 AND RT.TRANS_STATUS = 'A'
			 AND RTD.TRANS_STATUS = 'A'
			 AND RTD.LAST_UPDATE_TYPE != 'D'
) AS TG  
WHERE TG.DATE_VERSION = 1

CREATE STATISTICS STATS_TEMP_TGS_PREV_MONTH_BAL_001 ON dbo.TEMP_TGS_PREV_MONTH_BAL (ACCT_ID);
CREATE STATISTICS STATS_TEMP_TGS_PREV_MONTH_BAL_002 ON dbo.TEMP_TGS_PREV_MONTH_BAL (POSTED_DATE);

IF OBJECT_ID('DBO.TEMP_TGS_THIS_MONTH_BAL') IS NOT NULL DROP TABLE DBO.TEMP_TGS_THIS_MONTH_BAL   
CREATE TABLE DBO.TEMP_TGS_THIS_MONTH_BAL
WITH(CLUSTERED COLUMNSTORE INDEX,DISTRIBUTION = HASH(ACCT_ID))
AS
SELECT ACCT_ID, POSTED_DATE, POSTED_BALANCE
FROM (SELECT RT.ACCT_ID, CAST(RT.POSTED_DATE AS DATE) POSTED_DATE, RTD.TRANS_AMT AS POSTED_BALANCE, ISNULL(DENSE_RANK() OVER(PARTITION BY RT.ACCT_ID ORDER BY RT.POSTED_DATE),0) AS DATE_VERSION		     
		FROM LND_LG_TS.TAG_OWNER.RETAIL_TRANSACTIONS RT
		JOIN LND_LG_TS.TAG_OWNER.RETAIL_TRXN_DETAILS RTD ON RT.RETAIL_TRANS_ID = RTD.RETAIL_TRANS_ID
			 AND RTD.TRANS_TYPE_ID = 19				
			 AND CAST(RT.POSTED_DATE AS DATE) = @THIS_MONTH_START_DATE 
			 AND RT.TRANS_STATUS = 'A'
			 AND RTD.TRANS_STATUS = 'A'
			 AND RTD.LAST_UPDATE_TYPE != 'D'
) AS TG  
WHERE TG.DATE_VERSION = 1

CREATE STATISTICS STATS_TEMP_TGS_THIS_MONTH_BAL_001 ON dbo.TEMP_TGS_THIS_MONTH_BAL (ACCT_ID);
CREATE STATISTICS STATS_TEMP_TGS_THIS_MONTH_BAL_002 ON dbo.TEMP_TGS_THIS_MONTH_BAL (POSTED_DATE);

--:6: Reconcile Toll Transactions, Retail Transactions and calculate running balances for each account and posted date
IF OBJECT_ID('DBO.COMPARE_ACCT_BALANCE_DETAIL') IS NOT NULL DROP TABLE DBO.COMPARE_ACCT_BALANCE_DETAIL   
CREATE TABLE DBO.COMPARE_ACCT_BALANCE_DETAIL
WITH(CLUSTERED COLUMNSTORE INDEX,DISTRIBUTION = HASH(ACCT_ID))
AS
WITH TS_PREV_MONTH AS
(SELECT
	TS.ACCT_ID,             
	TS.POSTED_DATE,
	SUM(TS.BALANCE)	OVER (PARTITION BY TS.ACCT_ID ORDER BY TS.POSTED_DATE ASC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS END_BALANCE,
	TS.BALANCE,
	TS.DEBIT,
	TS.CREDIT,
	TS.TOLL_CNT AS TOLL_CNT,
	TS.DEBIT_ON_ZERO_HR,
	TS.CREDIT_ON_ZERO_HR,
	TS.BALANCE_ON_ZERO_HR,
	TS.TOLL_CNT_ON_ZERO_HR
FROM DBO.TEMP_TGS_TRANSACTIONS_SUMMARY TS
)
SELECT
	ISNULL(TS.ACCT_ID,-1)             			AS ACCT_ID,
	TS.POSTED_DATE,
	ISNULL(TS.TOLL_CNT,0)						AS TOLL_CNT,
	ISNULL(TS.DEBIT,0)							AS DEBIT,
	ISNULL(TS.CREDIT,0)							AS CREDIT,
	ISNULL(TS.END_BALANCE,0) + ISNULL(PB.POSTED_BALANCE,0) - ISNULL(TS.BALANCE,0)	AS BEGIN_BALANCE,
	ISNULL(TS.END_BALANCE,0) + ISNULL(PB.POSTED_BALANCE,0)	AS END_BALANCE,
	CASE WHEN TB.POSTED_DATE = TS.POSTED_DATE THEN ISNULL(TB.POSTED_BALANCE,0) 
		 WHEN PB.POSTED_DATE = TS.POSTED_DATE THEN ISNULL(PB.POSTED_BALANCE,0) 
	END	AS POSTED_BALANCE,
	CASE WHEN TB.POSTED_DATE = TS.POSTED_DATE THEN ISNULL(TB.POSTED_BALANCE,0) - (ISNULL(TS.END_BALANCE,0) + ISNULL(PB.POSTED_BALANCE,0) - ISNULL(TS.BALANCE,0)) 
		 WHEN PB.POSTED_DATE = TS.POSTED_DATE THEN 0
	END AS BAL_DIFF,
	ISNULL(TS.TOLL_CNT_ON_ZERO_HR,0)			AS TOLL_CNT_ON_ZERO_HR,
	ISNULL(TS.DEBIT_ON_ZERO_HR,0)				AS DEBIT_ON_ZERO_HR,
	ISNULL(TS.CREDIT_ON_ZERO_HR,0)				AS CREDIT_ON_ZERO_HR,
	ISNULL(TS.BALANCE_ON_ZERO_HR,0)				AS BALANCE_ON_ZERO_HR 
FROM TS_PREV_MONTH TS
LEFT JOIN DBO.TEMP_TGS_PREV_MONTH_BAL PB ON TS.ACCT_ID = PB.ACCT_ID 
LEFT JOIN DBO.TEMP_TGS_THIS_MONTH_BAL TB ON TS.ACCT_ID = TB.ACCT_ID 

CREATE STATISTICS STATS_COMPARE_ACCT_BALANCE_DETAIL_001 ON dbo.COMPARE_ACCT_BALANCE_DETAIL (ACCT_ID);
CREATE STATISTICS STATS_COMPARE_ACCT_BALANCE_DETAIL_002 ON dbo.COMPARE_ACCT_BALANCE_DETAIL (POSTED_DATE);

--SELECT TOP 1000 * FROM dbo.COMPARE_ACCT_BALANCE_DETAIL ORDER BY ACCT_ID, DATE_ID
--SELECT TOP 1000 * FROM dbo.COMPARE_ACCT_BALANCE_SUMMARY ORDER BY ACCT_ID 

--:5: Compare posted account balance with calculated account balance

IF OBJECT_ID('DBO.COMPARE_ACCT_BALANCE_SUMMARY') IS NOT NULL DROP TABLE dbo.COMPARE_ACCT_BALANCE_SUMMARY;
CREATE TABLE DBO.COMPARE_ACCT_BALANCE_SUMMARY
WITH(CLUSTERED COLUMNSTORE INDEX,DISTRIBUTION = HASH(ACCT_ID))
AS
SELECT	CALC_TM.ACCT_ID, 
		CALC_TM.POSTED_DATE AS BAL_MONTH_DATE, 
		CASE WHEN TB.POSTED_BALANCE - CALC_TM.END_BALANCE = 0 THEN CONVERT(DATETIME,@PREV_MONTH_START_DATE) -- Include PREV MONTH 00:00; exclude THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE + CALC_DC.BALANCE_THIS_MON_ZERO_HR) = 0 THEN CONVERT(DATETIME,@PREV_MONTH_START_DATE) -- Include PREV MONTH 00:00; include THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE - CALC_DC.BALANCE_PREV_MON_ZERO_HR) = 0 THEN DATEADD(SECOND,1,CONVERT(DATETIME,@PREV_MONTH_START_DATE)) -- Exclude PREV MONTH 00:00; exclude THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE + CALC_DC.BALANCE_THIS_MON_ZERO_HR - CALC_DC.BALANCE_PREV_MON_ZERO_HR) = 0 THEN DATEADD(SECOND,1,CONVERT(DATETIME,@PREV_MONTH_START_DATE)) -- Exclude PREV MONTH 00:00; include THIS MONTH 00:00
			 ELSE CONVERT(DATETIME,@PREV_MONTH_START_DATE) 
		END POSTED_DATE_FROM,
		CASE WHEN TB.POSTED_BALANCE - CALC_TM.END_BALANCE = 0 THEN CONVERT(DATETIME,DATEADD(SECOND,-1,@THIS_MONTH_START_DATE)) -- Include PREV MONTH 00:00; exclude THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE + CALC_DC.BALANCE_THIS_MON_ZERO_HR) = 0 THEN CONVERT(DATETIME,@THIS_MONTH_START_DATE) -- Include PREV MONTH 00:00; include THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE - CALC_DC.BALANCE_PREV_MON_ZERO_HR) = 0 THEN CONVERT(DATETIME,DATEADD(SECOND,-1,@THIS_MONTH_START_DATE)) -- Exclude PREV MONTH 00:00; exclude THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE + CALC_DC.BALANCE_THIS_MON_ZERO_HR - CALC_DC.BALANCE_PREV_MON_ZERO_HR) = 0 THEN CONVERT(DATETIME,@THIS_MONTH_START_DATE) -- Exclude PREV MONTH 00:00; include THIS MONTH 00:00
			 ELSE CONVERT(DATETIME,DATEADD(SECOND,-1,@THIS_MONTH_START_DATE)) 
		END POSTED_DATE_TO,
		PB.POSTED_BALANCE AS RT_PREV_MONTH_BAL, -- Posted Account Balance in RITE
		CASE WHEN TB.POSTED_BALANCE - CALC_TM.END_BALANCE = 0 THEN CALC_DC.CREDIT	--Include PREV MONTH 00:00; exclude THIS MONTH 00:00 
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE + CALC_DC.BALANCE_THIS_MON_ZERO_HR) = 0 THEN CALC_DC.CREDIT + CALC_DC.CREDIT_THIS_MON_ZERO_HR -- Include PREV MONTH 00:00; include THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE - CALC_DC.BALANCE_PREV_MON_ZERO_HR) = 0 THEN CALC_DC.CREDIT - CALC_DC.CREDIT_PREV_MON_ZERO_HR -- Exclude PREV MONTH 00:00; exclude THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE + CALC_DC.BALANCE_THIS_MON_ZERO_HR - CALC_DC.BALANCE_PREV_MON_ZERO_HR) = 0 THEN CALC_DC.CREDIT - CALC_DC.CREDIT_PREV_MON_ZERO_HR + CALC_DC.CREDIT_THIS_MON_ZERO_HR -- Exclude PREV MONTH 00:00; include THIS MONTH 00:00
			 ELSE CALC_DC.CREDIT
		END TT_CHARGES,
		CASE WHEN TB.POSTED_BALANCE - CALC_TM.END_BALANCE = 0 THEN CALC_DC.DEBIT	-- Include PREV MONTH 00:00; exclude THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE + CALC_DC.BALANCE_THIS_MON_ZERO_HR) = 0 THEN CALC_DC.DEBIT + CALC_DC.DEBIT_THIS_MON_ZERO_HR -- Include PREV MONTH 00:00; include THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE - CALC_DC.BALANCE_PREV_MON_ZERO_HR) = 0 THEN CALC_DC.DEBIT - CALC_DC.DEBIT_PREV_MON_ZERO_HR -- Exclude PREV MONTH 00:00; exclude THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE + CALC_DC.BALANCE_THIS_MON_ZERO_HR - CALC_DC.BALANCE_PREV_MON_ZERO_HR) = 0 THEN CALC_DC.DEBIT - CALC_DC.DEBIT_PREV_MON_ZERO_HR + CALC_DC.DEBIT_THIS_MON_ZERO_HR -- Exclude PREV MONTH 00:00; include THIS MONTH 00:00
			 ELSE CALC_DC.DEBIT
		END RT_PAYMENTS,
		TB.POSTED_BALANCE AS RT_THIS_MONTH_BAL, -- Posted Account Balance in RITE
		CASE WHEN TB.POSTED_BALANCE - CALC_TM.END_BALANCE = 0 THEN CALC_TM.END_BALANCE	-- Include PREV MONTH 00:00; exclude THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE + CALC_DC.BALANCE_THIS_MON_ZERO_HR) = 0 THEN CALC_TM.END_BALANCE + CALC_DC.BALANCE_THIS_MON_ZERO_HR -- Include PREV MONTH 00:00; include THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE - CALC_DC.BALANCE_PREV_MON_ZERO_HR) = 0 THEN CALC_TM.END_BALANCE - CALC_DC.BALANCE_PREV_MON_ZERO_HR -- Exclude PREV MONTH 00:00; exclude THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE + CALC_DC.BALANCE_THIS_MON_ZERO_HR - CALC_DC.BALANCE_PREV_MON_ZERO_HR) = 0 THEN CALC_TM.END_BALANCE - CALC_DC.BALANCE_PREV_MON_ZERO_HR + CALC_DC.BALANCE_THIS_MON_ZERO_HR -- Exclude PREV MONTH 00:00; include THIS MONTH 00:00
			 ELSE CALC_TM.END_BALANCE
		END CALC_THIS_MONTH_BAL,		
		CASE WHEN TB.POSTED_BALANCE - CALC_TM.END_BALANCE = 0 THEN 0.00 -- Include PREV MONTH 00:00; exclude THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE + CALC_DC.BALANCE_THIS_MON_ZERO_HR) = 0 THEN 0.00 -- Include PREV MONTH 00:00; include THIS MONTH 00:00
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE - CALC_DC.BALANCE_PREV_MON_ZERO_HR) = 0 THEN 0.00 -- Exclude PREV MONTH 00:00; exclude THIS MONTH 00:00 
			 WHEN TB.POSTED_BALANCE - (CALC_TM.END_BALANCE + CALC_DC.BALANCE_THIS_MON_ZERO_HR - CALC_DC.BALANCE_PREV_MON_ZERO_HR) = 0 THEN 0.00 -- Exclude PREV MONTH 00:00; include THIS MONTH 00:00
			 ELSE TB.POSTED_BALANCE - CALC_TM.END_BALANCE
		END BAL_DIFF,
		CALC_DC.DEBIT_PREV_MON_ZERO_HR,
		CALC_DC.CREDIT_PREV_MON_ZERO_HR,
		CALC_DC.BALANCE_PREV_MON_ZERO_HR,
		CALC_DC.DEBIT_THIS_MON_ZERO_HR,
		CALC_DC.CREDIT_THIS_MON_ZERO_HR,
		CALC_DC.BALANCE_THIS_MON_ZERO_HR,
 		CALC_DC.CREDIT AS TT_CHARGES_NORMAL,
		CALC_DC.DEBIT AS RT_PAYMENTS_NORMAL,
		CALC_TM.END_BALANCE AS CALC_THIS_MONTH_BAL_NORMAL, 
		TB.POSTED_BALANCE - CALC_TM.END_BALANCE BAL_DIFF_NORMAL 
   FROM (SELECT * FROM DBO.COMPARE_ACCT_BALANCE_DETAIL WHERE POSTED_DATE = @THIS_MONTH_START_DATE) CALC_TM
    JOIN (SELECT ACCT_ID, 
				 SUM(DEBIT) DEBIT, 
				 SUM(CREDIT) CREDIT, 
				 SUM(CASE WHEN POSTED_DATE = @PREV_MONTH_START_DATE THEN DEBIT_ON_ZERO_HR ELSE 0 END) DEBIT_PREV_MON_ZERO_HR,
				 SUM(CASE WHEN POSTED_DATE = @PREV_MONTH_START_DATE THEN CREDIT_ON_ZERO_HR ELSE 0 END) CREDIT_PREV_MON_ZERO_HR,
				 SUM(CASE WHEN POSTED_DATE = @PREV_MONTH_START_DATE THEN BALANCE_ON_ZERO_HR ELSE 0 END) BALANCE_PREV_MON_ZERO_HR,
				 SUM(CASE WHEN POSTED_DATE = @THIS_MONTH_START_DATE THEN DEBIT_ON_ZERO_HR ELSE 0 END) DEBIT_THIS_MON_ZERO_HR,
				 SUM(CASE WHEN POSTED_DATE = @THIS_MONTH_START_DATE THEN CREDIT_ON_ZERO_HR ELSE 0 END) CREDIT_THIS_MON_ZERO_HR, 
				 SUM(CASE WHEN POSTED_DATE = @THIS_MONTH_START_DATE THEN BALANCE_ON_ZERO_HR ELSE 0 END) BALANCE_THIS_MON_ZERO_HR 
			FROM DBO.COMPARE_ACCT_BALANCE_DETAIL 
		   GROUP BY ACCT_ID) CALC_DC ON CALC_DC.ACCT_ID = CALC_TM.ACCT_ID
	JOIN DBO.TEMP_TGS_THIS_MONTH_BAL AS TB ON TB.ACCT_ID = CALC_DC.ACCT_ID
	JOIN DBO.TEMP_TGS_PREV_MONTH_BAL AS PB ON PB.ACCT_ID = CALC_DC.ACCT_ID
 
CREATE STATISTICS STATS_COMPARE_ACCT_BALANCE_SUMMARY_001 ON dbo.COMPARE_ACCT_BALANCE_SUMMARY (ACCT_ID);
CREATE STATISTICS STATS_COMPARE_ACCT_BALANCE_SUMMARY_002 ON dbo.COMPARE_ACCT_BALANCE_SUMMARY (BAL_MONTH_DATE);
CREATE STATISTICS STATS_COMPARE_ACCT_BALANCE_SUMMARY_003 ON dbo.COMPARE_ACCT_BALANCE_SUMMARY (BAL_DIFF);

--=================================================================================================================================================
-- Report output
--=================================================================================================================================================
--:: Accounts with Balance Diff
SELECT * FROM DBO.COMPARE_ACCT_BALANCE_SUMMARY WHERE BAL_DIFF != 0 ORDER BY ACCT_ID 
--SELECT * FROM DBO.COMPARE_ACCT_BALANCE_DETAIL WHERE ACCT_ID IN (SELECT ACCT_ID FROM DBO.COMPARE_ACCT_BALANCE_SUMMARY WHERE BAL_DIFF != 0) ORDER BY ACCT_ID, POSTED_DATE

--:: Landing TT
--SELECT * FROM DBO.TEMP_TGS_TOLL_TRANSACTIONS WHERE ACCT_ID IN (SELECT ACCT_ID FROM DBO.COMPARE_ACCT_BALANCE_SUMMARY WHERE BAL_DIFF != 0) ORDER BY ACCT_ID, POSTED_DATE
/*
--:: Oracle TT
SELECT
       ACCT_ID AS ACCT_ID,     
       TO_CHAR(POSTED_DATE,'MM/DD/YYYY') POSTED_DATE,
       SUM(NVL(AMOUNT,0.00)) AS AMOUNT,
       SUM(1) AS TOLL_CNT
FROM TAG_OWNER.TOLL_TRANSACTIONS  
WHERE POSTED_DATE BETWEEN TO_DATE('09/01/2019','MM/DD/YYYY HH24:MI:SS') AND TO_DATE('10/01/2019 23:59:59','MM/DD/YYYY HH24:MI:SS') 
  AND ACCT_ID IN (2520094,4920993,5218096,5482034,6287155)
GROUP BY ACCT_ID, TO_CHAR(POSTED_DATE,'MM/DD/YYYY') 
ORDER BY 1,2
--:: Landing RT
SELECT * FROM DBO.TEMP_TGS_RETAIL_TRANSACTIONS WHERE ACCT_ID IN (SELECT ACCT_ID FROM DBO.COMPARE_ACCT_BALANCE_SUMMARY WHERE BAL_DIFF != 0) ORDER BY ACCT_ID, POSTED_DATE
*/



