CREATE PROC [DBO].[FACT_VPS_EXCUSALS_LOAD] AS 
	IF OBJECT_ID('dbo.FACT_VPS_EXCUSALS_STAGE')>0 DROP TABLE dbo.FACT_VPS_EXCUSALS_STAGE

	CREATE TABLE dbo.FACT_VPS_EXCUSALS_STAGE 
	WITH (DISTRIBUTION = HASH([STATUS_DAY_ID]), CLUSTERED INDEX ([STATUS_DAY_ID])) AS  --ROUND_ROBIN --DROP TABLE FACT_LANE_ANALYSIS
    SELECT  --TOP 1 
	 CAST(CONVERT(VARCHAR, [STATUS_DATE],112) AS INT) [STATUS_DAY_ID]
			--DATEPART(HOUR, VIOL_DATE) HOUR_NBR,
	,[TRANSACTION_TYPE] 
    ,[VIOL_DATE] 
    ,[INVOICE_DATE] 
    ,[INVOICE_ID] E
    ,[VIOLATION_ID] 
    ,[LANE_VIOL_ID] 
    ,[LANE_NAME] 
    ,[LIC_PLATE_INFO] 
    ,[EXCUSED_BY] 
    ,[EXCUSED_BY_NAME] 
    ,[EXCUSED_REAS_DESCR] 
    ,[INVOICE_AMOUNT] 
    ,[TOLL_AMOUNT] 
    ,[ADMIN_FEE_AMOUNT] 
    ,[EXCUSED_TOLL_AMOUNT] 
    ,[EXCUSED_ADMIN_FEE_AMOUNT] 
    ,[EXCUSED_LATE_FEE_AMOUNT] 
    ,[PAID_INVOICE_FEE_AMOUNT] 
    ,[PAID_AMOUNT] 
    ,[PAYMENT_FORM]
    ,[PAYMENT_SOURCE_CODE] 
    ,[VIOLATOR_ID] 
    ,[TRANSACTION_SOURCE] 
    ,[VIOLATOR_TYPE] 
    ,[VTOLL_TYPE] 
    ,[PAYMENT_TXN_ID] 
    ,[SOURCE_CODE] 
    ,[WRITEOFF_FLAG] 
    ,[LANE_ID] 
    ,[EXCUSED_INV_ADMIN_FEE2_AMOUNT] 
    ,[LAST_UPDATE_TYPE] 
    ,[LAST_UPDATE_DATE] 
    FROM LND_LG_VPS.VP_OWNER.VPS_EXCUSALS

--STEP #2: Replace OLD table with NEW
   IF OBJECT_ID('dbo.FACT_VPS_EXCUSALS_OLD')>0 	DROP TABLE dbo.FACT_VPS_EXCUSALS_OLD;
   IF OBJECT_ID('dbo.FACT_VPS_EXCUSALS')>0		RENAME OBJECT::dbo.FACT_VPS_EXCUSALS TO FACT_VPS_EXCUSALS_OLD;
   RENAME OBJECT::dbo.FACT_VPS_EXCUSALS_STAGE TO FACT_VPS_EXCUSALS;
   IF OBJECT_ID('dbo.FACT_VPS_EXCUSALS_OLD')>0 	DROP TABLE dbo.FACT_VPS_EXCUSALS_OLD;

	--STEP #3: Create Statistics --[dbo].[CreateStats] 'dbo', 'FACT_VPS_EXCUSALS'
	CREATE STATISTICS STATS_FACT_VPS_EXCUSALS_001 ON [dbo].FACT_VPS_EXCUSALS ([STATUS_DAY_ID])
	CREATE STATISTICS STATS_FACT_VPS_EXCUSALS_002 ON [dbo].FACT_VPS_EXCUSALS (LANE_ID)
	CREATE STATISTICS STATS_FACT_VPS_EXCUSALS_003 ON [dbo].FACT_VPS_EXCUSALS (VIOL_DATE)
	CREATE STATISTICS STATS_FACT_VPS_EXCUSALS_004 ON [dbo].FACT_VPS_EXCUSALS ([EXCUSED_BY_NAME])
	CREATE STATISTICS STATS_FACT_VPS_EXCUSALS_005 ON [dbo].FACT_VPS_EXCUSALS ([STATUS_DAY_ID],LANE_ID,[EXCUSED_REAS_DESCR])
	CREATE STATISTICS STATS_FACT_VPS_EXCUSALS_006 ON [dbo].FACT_VPS_EXCUSALS ([STATUS_DAY_ID],LANE_ID,[VIOLATOR_ID],[TRANSACTION_TYPE])

