CREATE PROC [DBO].[HARDCASE_LP_TAGS_DRIVE_LOAD] AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.HARDCASE_LP_TAGS_DRIVE_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.HARDCASE_LP_TAGS_DRIVE_LOAD
GO

EXEC EDW_RITE.DBO.HARDCASE_LP_TAGS_DRIVE_LOAD

-- Hardcase tags
SELECT * 
FROM SANDBOX.dbo.HARDCASE_LP_TAGS_DETAIL  
WHERE TAG_TYPE = 'h'
ORDER BY TRXN_6Months DESC, ACCT_ID, TAG_ID

-- License plate tags
SELECT * 
FROM SANDBOX.dbo.HARDCASE_LP_TAGS_DETAIL  
WHERE TAG_TYPE = 'l'
ORDER BY TRXN_6Months DESC, ACCT_ID, TAG_ID


*/
IF OBJECT_ID('SANDBOX.dbo.TOLL_TAGS') > 0  DROP TABLE SANDBOX.dbo.TOLL_TAGS

CREATE TABLE SANDBOX.dbo.TOLL_TAGS WITH (HEAP, DISTRIBUTION = HASH(TAG_ID)) AS    
SELECT	
	TAG_ID,ISNULL(X.TAG_TYPE, '') AS TAG_TYPE,AGENCY_ID,OWNER_AGENCY
FROM dbo.TOLL_TAGS AS F 
JOIN dbo.[TAG_TYPES_XREF] AS X ON F.TAG_ID BETWEEN  X.[TAG_ID_BEGIN] AND X.[TAG_ID_END]
GROUP BY TAG_ID,ISNULL(X.TAG_TYPE, ''),AGENCY_ID,OWNER_AGENCY
--WHERE AGENCY_ID != 'DFW' --AND F. TAG_STATUS = 'A'


SELECT * FROM SANDBOX.dbo.TOLL_TAGS

DECLARE @BEGIN_DAY_ID INT = CAST(CONVERT(VARCHAR(8), DATEADD(MONTH, -6, GETDATE()), 112) AS INT) / 100 * 100
DECLARE @END_DAY_ID INT   = CAST(CONVERT(VARCHAR(8), GETDATE(), 112) AS INT) / 100 * 100
--SELECT @BEGIN_DAY_ID / 100 , @END_DAY_ID / 100
	--SELECT Cal_MonthID AS MONTH_ID, MonthDate, ROW_NUMBER() OVER (ORDER BY Cal_MonthID) AS RN
	--FROM  [dbo].[DIM_MONTH] 
	--WHERE Cal_MonthID BETWEEN @BEGIN_DAY_ID / 100 AND @END_DAY_ID / 100
--PRINT @BEGIN_DAY_ID
--PRINT @END_DAY_ID

--SELECT @END_DAY_ID = CAST(CONVERT(VARCHAR(8), GETDATE(), 112) AS INT)
--SELECT @BEGIN_DAY_ID = CAST(CONVERT(VARCHAR(8), DATEADD(MONTH,6, GETDATE()), 112) AS INT)


--O	VTOLL 4 - ON-LINE CSC	Vtoll Cash Rate
--V	VTOLL 1	Vtoll AVI Rate
--M	VToll3 - AVI VToll	Vtoll AVI Rate
--W	VTOLL 2	Vtoll AVI Rate
--B	INTEROP VTOLL	(Null)
--Z	VToll3 - ZipCash VToll	Vtoll Cash Rate
--X	VToll2B - ZipCash VToll	(Null)



IF OBJECT_ID('SANDBOX.dbo.HARDCASE_LP_TAGS_DETAIL') > 0  DROP TABLE SANDBOX.dbo.HARDCASE_LP_TAGS_DETAIL

CREATE TABLE SANDBOX.dbo.HARDCASE_LP_TAGS_DETAIL WITH (HEAP, DISTRIBUTION = HASH(TAG_ID)) AS 
WITH CTE_MONTHS AS 
(
	SELECT Cal_MonthID AS MONTH_ID, MonthDate, ROW_NUMBER() OVER (ORDER BY Cal_MonthID) AS RN
	FROM  [dbo].[DIM_MONTH] 
	WHERE Cal_MonthID BETWEEN @BEGIN_DAY_ID / 100 AND @END_DAY_ID / 100
	--WHERE [MonthDate] BETWEEN DATEADD(MONTH,-6, GETDATE()) AND GETDATE()
)
, CTE_LAST_ACC_SEQ AS
(
	SELECT T.ACCT_ID, T.TAG_ID, MAX(T.ACCT_TAG_SEQ) AS ACCT_TAG_SEQ, S.TAG_TYPE,S.AGENCY_ID
	FROM dbo.ACCOUNT_TAGS AS T
	JOIN SANDBOX.dbo.TOLL_TAGS AS S ON S.TAG_ID = T.TAG_ID	
	GROUP BY T.ACCT_ID, T.TAG_ID, S.TAG_TYPE,S.AGENCY_ID
)
, CTE_ACC AS
(
	SELECT 
		L.ACCT_ID, L.TAG_ID, L.TAG_TYPE,L.AGENCY_ID,
		A.FIRST_NAME, A.MIDDLE_INITIAL, A.LAST_NAME, A.ADDRESS1, A.ADDRESS2, A.CITY, A.STATE, A.ZIP_CODE, A.PLUS4,
		CASE WHEN A.ACCT_TYPE_CODE = 'E' THEN 1 ELSE 0 END AS EMPLOYEE,
		CASE WHEN T.ACCT_TAG_STATUS = 'A' THEN 1 ELSE 0 END AS ACTIVE_ACC,
		P.LICENSE_PLATE_NBR, P.LICENSE_PLATE_STATE,
		V.VEHICLE_MAKE, V.VEHICLE_MODEL, V.VEHICLE_YEAR
	FROM CTE_LAST_ACC_SEQ L
	JOIN dbo.ACCOUNT_TAGS AS T ON T.ACCT_ID = L.ACCT_ID AND T.ACCT_TAG_SEQ = L.ACCT_TAG_SEQ AND T.TAG_ID = L.TAG_ID AND T.ACCT_TAG_STATUS = 'A'
	JOIN dbo.ACCOUNTS AS A ON A.ACCT_ID = T.ACCT_ID
	JOIN dbo.DIM_LICENSE_PLATE AS P ON P.LICENSE_PLATE_ID = T.LICENSE_PLATE_ID
	JOIN dbo.DIM_VEHICLE AS V ON V.VEHICLE_ID = T.VEHICLE_ID
	--WHERE T.ACCT_TAG_STATUS = 'A'
)
, CTE_AIRPORT_DRIVES AS
(
	SELECT F.TAG_ID, (F.DAY_ID / 100) AS MONTH_DRIVE, COUNT_BIG(1) CNT
	FROM dbo.FACT_TOLL_TRANSACTIONS F
	JOIN CTE_ACC T ON T.TAG_ID = F.TAG_ID --AND T.ACTIVE_ACC = 1
	JOIN dbo.DIM_LANE L ON L.LANE_ID = F.LANE_ID
	WHERE DAY_ID BETWEEN @BEGIN_DAY_ID AND @END_DAY_ID AND L.FACILITY_ABBREV IN ('DAL','DFW')
	GROUP BY F.TAG_ID, (F.DAY_ID / 100)
)
, CTE_DRIVE_CNTS AS
(
	SELECT F.TAG_ID, (F.DAY_ID / 100) AS MONTH_DRIVE, COUNT_BIG(1) CNT, --	SELECT TOP 100 * 
	SUM(CASE WHEN F.SOURCE_CODE IN ('V','W','X','M','Z','O','B') THEN 1 ELSE 0 END) AS ALL_VTOLL,
	SUM(CASE WHEN F.SOURCE_CODE = 'V' THEN 1 ELSE 0 END) AS VTOLL1,
	SUM(CASE WHEN F.SOURCE_CODE = 'W' THEN 1 ELSE 0 END) AS VTOLL2,
	SUM(CASE WHEN F.SOURCE_CODE = 'X' THEN 1 ELSE 0 END) AS VTOLL2B_ZipCash,
	SUM(CASE WHEN F.SOURCE_CODE = 'M' THEN 1 ELSE 0 END) AS VTOLL3_AVI,
	SUM(CASE WHEN F.SOURCE_CODE = 'Z' THEN 1 ELSE 0 END) AS VTOLL3_ZipCash,
	SUM(CASE WHEN F.SOURCE_CODE = 'O' THEN 1 ELSE 0 END) AS VTOLL4_ON_LINE_CSC,
	SUM(CASE WHEN F.SOURCE_CODE = 'B' THEN 1 ELSE 0 END) AS INTEROP_VTOLL
	FROM dbo.FACT_TOLL_TRANSACTIONS F
	JOIN CTE_ACC T ON T.TAG_ID = F.TAG_ID --AND T.ACTIVE_ACC = 1
	--JOIN SANDBOX.dbo.TOLL_TAGS T ON T.TAG_ID = F.TAG_ID 
	WHERE DAY_ID BETWEEN @BEGIN_DAY_ID AND @END_DAY_ID
	GROUP BY F.TAG_ID, (F.DAY_ID / 100)
)
, CTE_ALL_DRIVES AS
(
	SELECT MONTH_ID, MonthDate, RN, C.TAG_ID, C.CNT, C.ALL_VTOLL, ISNULL(A.CNT, 0) AS AIR_CNT,
			VTOLL1,VTOLL2,VTOLL2B_ZipCash,VTOLL3_AVI,VTOLL3_ZipCash,VTOLL4_ON_LINE_CSC,INTEROP_VTOLL
	FROM CTE_DRIVE_CNTS C 
	JOIN CTE_MONTHS M ON C.MONTH_DRIVE = M.MONTH_ID
	LEFT JOIN CTE_AIRPORT_DRIVES A ON A.TAG_ID = C.TAG_ID AND A.MONTH_DRIVE = C.MONTH_DRIVE
)
, CTE_DRIVES_BY_MONTHS AS
(
	SELECT TAG_ID,
		SUM(VTOLL1)				AS VTOLL1,
		SUM(VTOLL2)				AS VTOLL2,
		SUM(VTOLL2B_ZipCash)	AS VTOLL2B_ZipCash,
		SUM(VTOLL3_AVI)			AS VTOLL3_AVI,
		SUM(VTOLL3_ZipCash)		AS VTOLL3_ZipCash,
		SUM(VTOLL4_ON_LINE_CSC)	AS VTOLL4_ON_LINE_CSC,
		SUM(INTEROP_VTOLL)		AS INTEROP_VTOLL,
		SUM(TXNS_PREV6)			AS TXNS_PREV6,
		SUM(TXNS_PREV5)			AS TXNS_PREV5,
		SUM(TXNS_PREV4)			AS TXNS_PREV4,
		SUM(TXNS_PREV3)			AS TXNS_PREV3,
		SUM(TXNS_PREV2)			AS TXNS_PREV2,
		SUM(TXNS_PREV1)			AS TXNS_PREV1,
		SUM(VTOLL_PREV6)		AS VTOLL_PREV6,
		SUM(VTOLL_PREV5)		AS VTOLL_PREV5,
		SUM(VTOLL_PREV4)		AS VTOLL_PREV4,
		SUM(VTOLL_PREV3)		AS VTOLL_PREV3,
		SUM(VTOLL_PREV2)		AS VTOLL_PREV2,
		SUM(VTOLL_PREV1)		AS VTOLL_PREV1,
		SUM(AIR_TXNS_PREV6)		AS AIR_TXNS_PREV6,
		SUM(AIR_TXNS_PREV5)		AS AIR_TXNS_PREV5,
		SUM(AIR_TXNS_PREV4)		AS AIR_TXNS_PREV4,
		SUM(AIR_TXNS_PREV3)		AS AIR_TXNS_PREV3,
		SUM(AIR_TXNS_PREV2)		AS AIR_TXNS_PREV2,
		SUM(AIR_TXNS_PREV1)		AS AIR_TXNS_PREV1
	FROM (
			SELECT
				T.TAG_ID, 
				VTOLL1,VTOLL2,VTOLL2B_ZipCash,VTOLL3_AVI,VTOLL3_ZipCash,VTOLL4_ON_LINE_CSC,INTEROP_VTOLL,
				CASE WHEN D.RN = 1 THEN D.CNT ELSE 0 END		AS TXNS_PREV6,
				CASE WHEN D.RN = 2 THEN D.CNT ELSE 0 END		AS TXNS_PREV5,
				CASE WHEN D.RN = 3 THEN D.CNT ELSE 0 END		AS TXNS_PREV4,
				CASE WHEN D.RN = 4 THEN D.CNT ELSE 0 END		AS TXNS_PREV3,
				CASE WHEN D.RN = 5 THEN D.CNT ELSE 0 END		AS TXNS_PREV2,
				CASE WHEN D.RN = 6 THEN D.CNT ELSE 0 END		AS TXNS_PREV1,
				CASE WHEN D.RN = 1 THEN D.ALL_VTOLL ELSE 0 END	AS VTOLL_PREV6,
				CASE WHEN D.RN = 2 THEN D.ALL_VTOLL ELSE 0 END	AS VTOLL_PREV5,
				CASE WHEN D.RN = 3 THEN D.ALL_VTOLL ELSE 0 END	AS VTOLL_PREV4,
				CASE WHEN D.RN = 4 THEN D.ALL_VTOLL ELSE 0 END	AS VTOLL_PREV3,
				CASE WHEN D.RN = 5 THEN D.ALL_VTOLL ELSE 0 END	AS VTOLL_PREV2,
				CASE WHEN D.RN = 6 THEN D.ALL_VTOLL ELSE 0 END	AS VTOLL_PREV1,
				CASE WHEN D.RN = 1 THEN D.AIR_CNT ELSE 0 END	AS AIR_TXNS_PREV6,
				CASE WHEN D.RN = 2 THEN D.AIR_CNT ELSE 0 END	AS AIR_TXNS_PREV5,
				CASE WHEN D.RN = 3 THEN D.AIR_CNT ELSE 0 END	AS AIR_TXNS_PREV4,
				CASE WHEN D.RN = 4 THEN D.AIR_CNT ELSE 0 END	AS AIR_TXNS_PREV3,
				CASE WHEN D.RN = 5 THEN D.AIR_CNT ELSE 0 END	AS AIR_TXNS_PREV2,
				CASE WHEN D.RN = 6 THEN D.AIR_CNT ELSE 0 END	AS AIR_TXNS_PREV1
			FROM CTE_ACC AS T			--SANDBOX.dbo.TOLL_TAGS AS T
			LEFT JOIN CTE_ALL_DRIVES AS D ON D.TAG_ID = T.TAG_ID
			--WHERE T.ACTIVE_ACC = 1
		) AS A
	GROUP BY TAG_ID
)
SELECT 
	A.ACCT_ID, A.TAG_ID, A.TAG_TYPE,A.EMPLOYEE,A.AGENCY_ID,
	A.FIRST_NAME, A.MIDDLE_INITIAL, A.LAST_NAME, A.ADDRESS1, A.ADDRESS2, A.CITY, A.STATE, A.ZIP_CODE, A.PLUS4,
	A.ACTIVE_ACC, A.LICENSE_PLATE_NBR, A.LICENSE_PLATE_STATE,A.VEHICLE_MAKE, A.VEHICLE_MODEL, A.VEHICLE_YEAR,
	TXNS_PREV6+TXNS_PREV5+TXNS_PREV4+TXNS_PREV3+TXNS_PREV2+TXNS_PREV1 AS TRXN_6Months,
	VTOLL_PREV6+VTOLL_PREV5+VTOLL_PREV4+VTOLL_PREV3+VTOLL_PREV2+VTOLL_PREV1 AS VTOLL_6Months,
	VTOLL1,VTOLL2,VTOLL2B_ZipCash,VTOLL3_AVI,VTOLL3_ZipCash,VTOLL4_ON_LINE_CSC,INTEROP_VTOLL,
	AIR_TXNS_PREV6+AIR_TXNS_PREV5+AIR_TXNS_PREV4+AIR_TXNS_PREV3+AIR_TXNS_PREV2+AIR_TXNS_PREV1 AS AIR_6Months,
	D.TXNS_PREV6,D.TXNS_PREV5,D.TXNS_PREV4,D.TXNS_PREV3,D.TXNS_PREV2,D.TXNS_PREV1,
	D.VTOLL_PREV6,D.VTOLL_PREV5,D.VTOLL_PREV4,D.VTOLL_PREV3,D.VTOLL_PREV2,D.VTOLL_PREV1,
	D.AIR_TXNS_PREV6,D.AIR_TXNS_PREV5,D.AIR_TXNS_PREV4,D.AIR_TXNS_PREV3,D.AIR_TXNS_PREV2,D.AIR_TXNS_PREV1
FROM CTE_ACC A
JOIN CTE_DRIVES_BY_MONTHS D ON D.TAG_ID = A.TAG_ID
--WHERE A.ACTIVE_ACC = 1


--AIR_TXNS_PREV12+AIR_TXNS_PREV11+AIR_TXNS_PREV10+AIR_TXNS_PREV9+AIR_TXNS_PREV8+AIR_TXNS_PREV7+AIR_TXNS_PREV6+AIR_TXNS_PREV5+AIR_TXNS_PREV4+AIR_TXNS_PREV3+AIR_TXNS_PREV2+AIR_TXNS_PREV1
/*
SELECT * 
FROM SANDBOX.dbo.HARDCASE_LP_TAGS_DETAIL  
WHERE TAG_TYPE = 'h'
ORDER BY ACCT_ID, TAG_ID,TRXN_6Months DESC 

SELECT * 
FROM SANDBOX.dbo.HARDCASE_LP_TAGS_DETAIL  
WHERE TAG_TYPE = 'l'
ORDER BY TRXN_6Months DESC, ACCT_ID, TAG_ID


*/
--SELECT TOP 1000 * FROM SANDBOX.dbo.HARDCASE_LP_TAGS_DETAIL  -- 314639 rows
--WHERE FIRST_NAME = 'RANJITH'
--ORDER BY FIRST_NAME, LAST_NAME, ACCT_ID



--- IT'S A SUMMARY DATA QUERIES BELOW

/*
CREATE TABLE SANDBOX.dbo.HARDCASE_LP_TAGS_DRIVE_LAST_YEAR WITH (HEAP, DISTRIBUTION = HASH(TAG_ID)) AS 
SELECT F.TAG_ID, T.TAG_TYPE, MAX(F.DAY_ID) / 100 AS LAST_DRIVE, COUNT_BIG(1) CNT, MAX(ISNULL(AIRP.CNT, 0)) AS AIR_DRIVE  
FROM dbo.FACT_TOLL_TRANSACTIONS F
JOIN SANDBOX.dbo.TOLL_TAGS T ON T.TAG_ID = F.TAG_ID 
LEFT JOIN (
				SELECT F.TAG_ID, COUNT_BIG(1) CNT  
				FROM dbo.FACT_TOLL_TRANSACTIONS F
				JOIN SANDBOX.dbo.TOLL_TAGS T ON T.TAG_ID = F.TAG_ID 
				JOIN dbo.DIM_LANE L ON L.LANE_ID = F.LANE_ID
				WHERE DAY_ID > PREV1200 AND L.FACILITY_ABBREV IN ('DAL','DFW')
				GROUP BY F.TAG_ID
			) AIRP ON AIRP.TAG_ID = T.TAG_ID
WHERE DAY_ID BETWEEN PREV1200 AND @END_DAY_ID
GROUP BY F.TAG_ID, T.TAG_TYPE

CREATE TABLE SANDBOX.dbo.HARDCASE_LP_TAGS_DRIVE_LAST_YEAR_REPORT WITH (HEAP, DISTRIBUTION = HASH(TAG_ID)) AS    
SELECT 	TAG_ID, TAG_TYPE,LAST_DRIVE,
		CASE 
			WHEN LAST_DRIVE BETWEEN PREV12 AND PREV10 THEN '6. Drive in last 12 months'
			WHEN LAST_DRIVE BETWEEN PREV9 AND PREV7 THEN '5. Drive in last  9 months'
			WHEN LAST_DRIVE BETWEEN PREV6 AND PREV4 THEN '4. Drive in last  6 months'
			WHEN LAST_DRIVE BETWEEN PREV3 AND PREV2 THEN '3. Drive in last  3 months'
			ELSE '2. Drive in last  1 month'
		END LAST_DRIVE_DESC,CNT,AIR_DRIVE
FROM SANDBOX.dbo.HARDCASE_LP_TAGS_DRIVE_LAST_YEAR
WHERE LAST_DRIVE < 202000 --> PREV2
UNION ALL
SELECT TAG_ID, TAG_TYPE, 0 AS LAST_DRIVE, '1. ACTIVE not driving' AS LAST_DRIVE_DESC, 0 AS CNT, 0 AS AIR_DRIVE
FROM SANDBOX.dbo.TOLL_TAGS T
WHERE NOT EXISTS (SELECT 1 FROM SANDBOX.dbo.HARDCASE_LP_TAGS_DRIVE_LAST_YEAR Y WHERE LAST_DRIVE < 202000 AND t.TAG_ID = Y.TAG_ID)

SELECT * FROM SANDBOX.dbo.HARDCASE_LP_TAGS_DRIVE_LAST_YEAR_REPORT
--WHERE LAST_DRIVE_DESC LIKE '1%'
ORDER BY LAST_DRIVE_DESC


-- GET SUMMARY DATA 
SELECT 
		CASE 
			WHEN LAST_DRIVE BETWEEN PREV12 AND PREV10 THEN '6. Drive in last 12 months'
			WHEN LAST_DRIVE BETWEEN PREV9 AND PREV7 THEN '5. Drive in last  9 months'
			WHEN LAST_DRIVE BETWEEN PREV6 AND PREV4 THEN '4. Drive in last  6 months'
			WHEN LAST_DRIVE BETWEEN PREV3 AND PREV2 THEN '3. Drive in last  3 months'
			ELSE '2. Drive in last  1 month'
		END LAST_DRIVE_DESC,
		SUM(CASE WHEN TAG_TYPE = 'H' THEN 1 ELSE 0 END) AS HardCase_Full_Count_Of_Tags,
		SUM(CASE WHEN TAG_TYPE = 'H' AND AIR_DRIVE > 0 THEN 1 ELSE 0 END) AS HardCase_SHOWS_IN_AIRPORTS,
		SUM(CASE WHEN TAG_TYPE = 'L' THEN 1 ELSE 0 END) AS LicPlate_Full_Count_Of_Tags,
		SUM(CASE WHEN TAG_TYPE = 'L' AND AIR_DRIVE > 0 THEN 1 ELSE 0 END) AS LicPlate_SHOWS_IN_AIRPORTS
FROM SANDBOX.dbo.HARDCASE_LP_TAGS_DRIVE_LAST_YEAR
WHERE LAST_DRIVE < 202000
GROUP BY 
		CASE 
			WHEN LAST_DRIVE BETWEEN PREV12 AND PREV10 THEN '6. Drive in last 12 months'
			WHEN LAST_DRIVE BETWEEN PREV9 AND PREV7 THEN '5. Drive in last  9 months'
			WHEN LAST_DRIVE BETWEEN PREV6 AND PREV4 THEN '4. Drive in last  6 months'
			WHEN LAST_DRIVE BETWEEN PREV3 AND PREV2 THEN '3. Drive in last  3 months'
			ELSE '2. Drive in last  1 month'
		END 
UNION ALL
SELECT 
'1. ACTIVE not driving' AS LAST_DRIVE_DESC,
SUM(CASE WHEN TAG_TYPE = 'H' THEN 1 ELSE 0 END) AS HardCase_Full_Count_Of_Tags,
0 AS HardCase_SHOWS_IN_AIRPORTS,
SUM(CASE WHEN TAG_TYPE = 'L' THEN 1 ELSE 0 END) AS LicPlate_Full_Count_Of_Tags,
0 AS LicPlate_SHOWS_IN_AIRPORTS
FROM SANDBOX.dbo.TOLL_TAGS T
WHERE NOT EXISTS (SELECT 1 FROM SANDBOX.dbo.HARDCASE_LP_TAGS_DRIVE_LAST_YEAR Y WHERE LAST_DRIVE < 202000 AND t.TAG_ID = Y.TAG_ID)
ORDER BY LAST_DRIVE_DESC



*/
