CREATE PROC [DBO].[FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_UPDATE_NEW] AS 
--SELECT COUNT_BIG(1) FROM FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE--2,777,644
--SELECT COUNT_BIG(1) FROM FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE--50,518,774

DECLARE @PARTITION_DATE date = (SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN dbo.DIM_VIOLATOR_ASOF B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC)
--PRINT	@PARTITION_DATE

IF EXISTS(SELECT * FROM SYS.STATS SS WHERE SS.NAME = 'FACT_INVOICE_ANALYSIS_DETAIL_FINAL_001')
BEGIN
	--DROP STATISTICS DBO.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.FACT_INVOICE_ANALYSIS_DETAIL_FINAL_001
	UPDATE STATISTICS [DBO].FACT_INVOICE_ANALYSIS_DETAIL_FINAL(FACT_INVOICE_ANALYSIS_DETAIL_FINAL_001)
END
ELSE 	CREATE STATISTICS FACT_INVOICE_ANALYSIS_DETAIL_FINAL_001 ON dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID);

IF EXISTS(SELECT * FROM SYS.STATS SS WHERE SS.NAME = 'FACT_INVOICE_ANALYSIS_DETAIL_FINAL_002')
BEGIN
	--DROP STATISTICS DBO.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.FACT_INVOICE_ANALYSIS_DETAIL_FINAL_002
	UPDATE STATISTICS [DBO].FACT_INVOICE_ANALYSIS_DETAIL_FINAL(FACT_INVOICE_ANALYSIS_DETAIL_FINAL_002)
END
ELSE 	CREATE STATISTICS FACT_INVOICE_ANALYSIS_DETAIL_FINAL_002 ON dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, VIOLATION_ID)


/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
SCENARIO #1
- Invoice has transactions left on Invoice

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
IF OBJECT_ID('FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE')<>0
	DROP TABLE FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE

CREATE TABLE dbo.FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))
AS
--EXPLAIN
SELECT 
	  fi.VIOLATOR_ID, fi.VBI_INVOICE_ID, fi.VIOL_INVOICE_ID--fi.PARTITION_DATE, 
	, convert(decimal(19,8),fi.INVOICE_TOLLS_PAID_CALC * 1.00000000) AS INVOICE_TOLLS_PAID_CALC
	, convert(decimal(19,8),DtlFix.AMT_PAID * 1.00000000) AS SUM_AMT_PAID_FROM_DTL
	, convert(decimal(19,8),(convert(decimal(19,8),fi.INVOICE_TOLLS_PAID_CALC * 1.00000000) - (convert(decimal(19,8),DtlFix.AMT_PAID) * 1.00000000))) AS DISC_AMOUNT
	--, DtlFix.VIOL_COUNT
	,	CASE 
			WHEN DtlFix.VIOL_COUNT = 0 THEN 0 
			ELSE (fi.INVOICE_TOLLS_PAID_CALC/(convert(decimal(19,8),DtlFix.VIOL_COUNT)*1.00000000)) 
		END AS TOLL_DUE_PER_VIOL_LEFT_ON_INV

FROM FACT_INVOICE_ANALYSIS_STAGE fi--FACT_INVOICE_ANALYSIS fi
JOIN 
	(
		SELECT fid.VIOLATOR_ID, fid.VBI_INVOICE_ID, fid.VIOL_INVOICE_ID
			, SUM(fid.AMT_PAID) AS AMT_PAID, SUM(AMT_PAID_ADJ) AS AMT_PAID_ADJ, COUNT(VIOLATION_ID) AS VIOL_COUNT
		FROM FACT_INVOICE_ANALYSIS_DETAIL_FINAL fid --FACT_INVOICE_ANALYSIS_DETAIL fid
		JOIN dbo.VIOL_STATUS vs on fid.INV_DTL_VIOL_STATUS = vs.VIOL_STATUS
		WHERE PARTITION_DATE = @PARTITION_DATE--(SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN FACT_INVOICE_ANALYSIS B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC)
		GROUP BY fid.VIOLATOR_ID, fid.VBI_INVOICE_ID, fid.VIOL_INVOICE_ID
		HAVING SUM(fid.AMT_PAID) <> 0
	) DtlFix ON fi.VIOLATOR_ID = DtlFix.VIOLATOR_ID AND fi.VBI_INVOICE_ID = DtlFix.VBI_INVOICE_ID AND fi.VIOL_INVOICE_ID = DtlFix.VIOL_INVOICE_ID
WHERE 
	PARTITION_DATE = @PARTITION_DATE--(SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN dbo.FACT_INVOICE_ANALYSIS B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC)
	AND (fi.INVOICE_TOLLS_PAID_CALC <> DtlFix.AMT_PAID)
	AND ABS((fi.INVOICE_TOLLS_PAID_CALC - DtlFix.AMT_PAID_ADJ)) > .01
	AND (fi.VBI_INVOICE_ID <> -1 OR fi.VIOL_INVOICE_ID <> -1)


CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE_001 ON dbo.FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE(VIOLATOR_ID)
CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE_002 ON dbo.FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID)

/* 
	SELECT * FROM FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE
*/


IF OBJECT_ID('FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE')<>0
	DROP TABLE FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE

CREATE TABLE dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))
AS
--EXPLAIN
SELECT  
	  fid.VIOLATOR_ID, fid.VBI_INVOICE_ID, fid.VIOL_INVOICE_ID, fid.VIOLATION_ID--fid.PARTITION_DATE, 
	--, Stg.INVOICE_TOLLS_PAID_CALC
	--, fid.AMT_PAID
	--,	CASE 
	--		WHEN INVOICE_TOLLS_PAID_CALC = 0 THEN 0.00000000 
	--		WHEN SUM_AMT_PAID_FROM_DTL = 0 THEN 1.00000000
	--		WHEN INVOICE_TOLLS_PAID_CALC <> SUM_AMT_PAID_FROM_DTL THEN (convert(decimal(19,8),fid.AMT_PAID) * 1.00000000) / (convert(decimal(19,8),SUM_AMT_PAID_FROM_DTL) * 1.00000000)
	--		ELSE 1.00000000
	--	END AS TOLL_DUE_WEIGHT
	--, DISC_AMOUNT
	,	CASE 
			WHEN INVOICE_TOLLS_PAID_CALC = 0 THEN convert(decimal(19,8),-fid.AMT_PAID * 1.00000000) 
			WHEN SUM_AMT_PAID_FROM_DTL = 0 THEN convert(decimal(19,8),TOLL_DUE_PER_VIOL_LEFT_ON_INV * 1.00000000) 
			WHEN INVOICE_TOLLS_PAID_CALC <> SUM_AMT_PAID_FROM_DTL THEN (convert(decimal(19,8),DISC_AMOUNT * 1.00000000) * (convert(decimal(19,8),fid.AMT_PAID * 1.00000000) / (convert(decimal(19,8),SUM_AMT_PAID_FROM_DTL * 1.00000000) ))) 
			ELSE 0.00000000
		END AS AMT_PAID_DISC

	,	CASE 
			WHEN INVOICE_TOLLS_PAID_CALC = 0 THEN 0.00000000 
			WHEN SUM_AMT_PAID_FROM_DTL = 0 THEN convert(decimal(19,8),TOLL_DUE_PER_VIOL_LEFT_ON_INV * 1.00000000)
			WHEN INVOICE_TOLLS_PAID_CALC <> SUM_AMT_PAID_FROM_DTL THEN convert(decimal(19,8),fid.AMT_PAID * 1.00000000) + (convert(decimal(19,8),DISC_AMOUNT * 1.00000000) * (convert(decimal(19,8),fid.AMT_PAID * 1.00000000) / convert(decimal(19,8),SUM_AMT_PAID_FROM_DTL * 1.00000000))) 
			ELSE convert(decimal(19,8),fid.AMT_PAID * 1.00000000)
		END AS AMT_PAID_ADJ

	
FROM FACT_INVOICE_ANALYSIS_DETAIL_FINAL fid--FACT_INVOICE_ANALYSIS_DETAIL fid
JOIN FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE Stg 
ON	fid.VIOLATOR_ID = Stg.VIOLATOR_ID 
AND fid.VBI_INVOICE_ID = Stg.VBI_INVOICE_ID 
AND fid.VIOL_INVOICE_ID = Stg.VIOL_INVOICE_ID
--AND fid.PARTITION_DATE = @PARTITION_DATE--Stg.PARTITION_DATE


CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE_001 ON dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE(VIOLATOR_ID)
CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE_002 ON dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, VIOLATION_ID)

/* -- -- -- -- -- -- -- -- -- -- -- -- -- --
	Apply Discount and ADJ Amount
-- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
--EXPLAIN
UPDATE FACT_INVOICE_ANALYSIS_DETAIL_FINAL--dbo.FACT_INVOICE_ANALYSIS_DETAIL
SET		 AMT_PAID_DISC = B.AMT_PAID_DISC
		,AMT_PAID_ADJ = B.AMT_PAID_ADJ
FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE B
WHERE 
		dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.VIOLATOR_ID  = B.VIOLATOR_ID 
	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.VBI_INVOICE_ID = B.VBI_INVOICE_ID 
	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID 
	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.VIOLATION_ID = B.VIOLATION_ID
	--AND dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.PARTITION_DATE = @PARTITION_DATE--B.PARTITION_DATE

	
/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
SCENARIO #2
- Invoice DOES NOT have transactions left on Invoice
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

IF OBJECT_ID('FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE')<>0
	DROP TABLE FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE

CREATE TABLE dbo.FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))
AS
--EXPLAIN
SELECT 
	  fi.VIOLATOR_ID, fi.VBI_INVOICE_ID, fi.VIOL_INVOICE_ID--, fi.PARTITION_DATE
	, convert(decimal(19,8),fi.INVOICE_TOLLS_PAID_CALC * 1.00000000) AS INVOICE_TOLLS_PAID_CALC
	, convert(decimal(19,8),DtlFix.AMT_PAID * 1.00000000) AS SUM_AMT_PAID_FROM_DTL
	, convert(decimal(19,8),(convert(decimal(19,8),fi.INVOICE_TOLLS_PAID_CALC * 1.00000000) - (convert(decimal(19,8),DtlFix.AMT_PAID) * 1.00000000))) AS DISC_AMOUNT
	--, DtlFix.VIOL_COUNT
	,	CASE 
			WHEN DtlFix.VIOL_COUNT = 0 THEN 0 
			ELSE (fi.INVOICE_TOLLS_PAID_CALC/(convert(decimal(19,8),DtlFix.VIOL_COUNT)*1.00000000)) 
		END AS TOLL_DUE_PER_VIOL_LEFT_ON_INV

FROM FACT_INVOICE_ANALYSIS_STAGE fi--FACT_INVOICE_ANALYSIS fi
JOIN 
	(
		SELECT fid.VIOLATOR_ID, fid.VBI_INVOICE_ID, fid.VIOL_INVOICE_ID
			, SUM(fid.AMT_PAID) AS AMT_PAID, SUM(AMT_PAID_ADJ) AS AMT_PAID_ADJ, COUNT(VIOLATION_ID) AS VIOL_COUNT
		FROM FACT_INVOICE_ANALYSIS_DETAIL_FINAL fid
		INNER JOIN dbo.VIOL_STATUS vs on fid.INV_DTL_VIOL_STATUS = vs.VIOL_STATUS
		WHERE PARTITION_DATE = @PARTITION_DATE--(SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN FACT_INVOICE_ANALYSIS B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC)
		GROUP BY fid.VIOLATOR_ID, fid.VBI_INVOICE_ID, fid.VIOL_INVOICE_ID
		HAVING SUM(fid.AMT_PAID) = 0
	) DtlFix ON fi.VIOLATOR_ID = DtlFix.VIOLATOR_ID AND fi.VBI_INVOICE_ID = DtlFix.VBI_INVOICE_ID AND fi.VIOL_INVOICE_ID = DtlFix.VIOL_INVOICE_ID
WHERE 
	PARTITION_DATE = @PARTITION_DATE--(SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN FACT_INVOICE_ANALYSIS B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC)
	AND (fi.INVOICE_TOLLS_PAID_CALC <> DtlFix.AMT_PAID)
	AND ABS((fi.INVOICE_TOLLS_PAID_CALC - DtlFix.AMT_PAID_ADJ)) > .01
	AND (fi.VBI_INVOICE_ID <> -1 OR fi.VIOL_INVOICE_ID <> -1)


CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE_001 ON dbo.FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE(VIOLATOR_ID)
CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE_002 ON dbo.FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID)

/* 
	SELECT * FROM FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE
*/


IF OBJECT_ID('FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE')<>0
	DROP TABLE FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE

CREATE TABLE dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))
AS
--EXPLAIN
SELECT  
	  fid.VIOLATOR_ID, fid.VBI_INVOICE_ID, fid.VIOL_INVOICE_ID, fid.VIOLATION_ID--, fid.PARTITION_DATE
	--, Stg.INVOICE_TOLLS_PAID_CALC
	--, fid.AMT_PAID
	--,	CASE 
	--		WHEN INVOICE_TOLLS_PAID_CALC = 0 THEN 0.00000000 
	--		WHEN SUM_AMT_PAID_FROM_DTL = 0 THEN 1.00000000
	--		WHEN INVOICE_TOLLS_PAID_CALC <> SUM_AMT_PAID_FROM_DTL THEN (convert(decimal(19,8),fid.AMT_PAID) * 1.00000000) / (convert(decimal(19,8),SUM_AMT_PAID_FROM_DTL) * 1.00000000)
	--		ELSE 1.00000000
	--	END AS TOLL_DUE_WEIGHT
	--, DISC_AMOUNT
	,	CASE 
			WHEN INVOICE_TOLLS_PAID_CALC = 0 THEN convert(decimal(19,8),-fid.AMT_PAID * 1.00000000) 
			WHEN SUM_AMT_PAID_FROM_DTL = 0 THEN convert(decimal(19,8),TOLL_DUE_PER_VIOL_LEFT_ON_INV * 1.00000000) 
			WHEN INVOICE_TOLLS_PAID_CALC <> SUM_AMT_PAID_FROM_DTL THEN (convert(decimal(19,8),DISC_AMOUNT * 1.00000000) * (convert(decimal(19,8),fid.AMT_PAID * 1.00000000) / (convert(decimal(19,8),SUM_AMT_PAID_FROM_DTL * 1.00000000) ))) 
			ELSE 0.00000000
		END AS AMT_PAID_DISC

	,	CASE 
			WHEN INVOICE_TOLLS_PAID_CALC = 0 THEN 0.00000000 
			WHEN SUM_AMT_PAID_FROM_DTL = 0 THEN convert(decimal(19,8),TOLL_DUE_PER_VIOL_LEFT_ON_INV * 1.00000000)
			WHEN INVOICE_TOLLS_PAID_CALC <> SUM_AMT_PAID_FROM_DTL THEN convert(decimal(19,8),fid.AMT_PAID * 1.00000000) + (convert(decimal(19,8),DISC_AMOUNT * 1.00000000) * (convert(decimal(19,8),fid.AMT_PAID * 1.00000000) / convert(decimal(19,8),SUM_AMT_PAID_FROM_DTL * 1.00000000))) 
			ELSE convert(decimal(19,8),fid.AMT_PAID * 1.00000000)
		END AS AMT_PAID_ADJ

	
FROM FACT_INVOICE_ANALYSIS_DETAIL_FINAL fid
JOIN FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE Stg 
ON	fid.VIOLATOR_ID = Stg.VIOLATOR_ID 
AND fid.VBI_INVOICE_ID = Stg.VBI_INVOICE_ID 
AND fid.VIOL_INVOICE_ID = Stg.VIOL_INVOICE_ID
AND fid.PARTITION_DATE = @PARTITION_DATE--Stg.PARTITION_DATE



CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE_001 ON dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE(VIOLATOR_ID)
CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE_002 ON dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, VIOLATION_ID)

/* -- -- -- -- -- -- -- -- -- -- -- -- -- --
	Apply Discount and ADJ Amount
-- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
--EXPLAIN
UPDATE dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL
SET		 AMT_PAID_DISC = B.AMT_PAID_DISC
		,AMT_PAID_ADJ = B.AMT_PAID_ADJ
FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE B
WHERE 
		dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.VIOLATOR_ID  = B.VIOLATOR_ID 
	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.VBI_INVOICE_ID = B.VBI_INVOICE_ID 
	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID 
	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.VIOLATION_ID = B.VIOLATION_ID
	--AND dbo.FACT_INVOICE_ANALYSIS_DETAIL.PARTITION_DATE = @PARTITION_DATE--B.PARTITION_DATE


	
	
/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- 
SCENARIO #3
- PAID AMOUNT and CALC are same absolute value +/-
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */



IF OBJECT_ID('FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE')<>0
	DROP TABLE FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE

CREATE TABLE dbo.FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))
AS
--EXPLAIN
SELECT 
	  fi.VIOLATOR_ID, fi.VBI_INVOICE_ID, fi.VIOL_INVOICE_ID--, fi.PARTITION_DATE
	, convert(decimal(19,8),fi.INVOICE_TOLLS_PAID_CALC * 1.00000000) AS INVOICE_TOLLS_PAID_CALC
	, convert(decimal(19,8),DtlFix.AMT_PAID * 1.00000000) AS SUM_AMT_PAID_FROM_DTL
	, convert(decimal(19,8),(convert(decimal(19,8),fi.INVOICE_TOLLS_PAID_CALC * 1.00000000) - (convert(decimal(19,8),DtlFix.AMT_PAID) * 1.00000000))) AS DISC_AMOUNT
	--, DtlFix.VIOL_COUNT
	,	CASE 
			WHEN DtlFix.VIOL_COUNT = 0 THEN 0 
			ELSE (fi.INVOICE_TOLLS_PAID_CALC/(convert(decimal(19,8),DtlFix.VIOL_COUNT)*1.00000000)) 
		END AS TOLL_DUE_PER_VIOL_LEFT_ON_INV
	------------------------
	--, DtlFix.AMT_PAID_ADJ
FROM FACT_INVOICE_ANALYSIS_STAGE fi--FACT_INVOICE_ANALYSIS fi
JOIN 
	(
		SELECT fid.VIOLATOR_ID, fid.VBI_INVOICE_ID, fid.VIOL_INVOICE_ID
			, SUM(fid.AMT_PAID) AS AMT_PAID, SUM(AMT_PAID_ADJ) AS AMT_PAID_ADJ, COUNT(fid.VIOLATION_ID) AS VIOL_COUNT
		FROM FACT_INVOICE_ANALYSIS_DETAIL_FINAL fid
		INNER JOIN dbo.VIOL_STATUS vs on fid.INV_DTL_VIOL_STATUS = vs.VIOL_STATUS
		WHERE PARTITION_DATE = @PARTITION_DATE--(SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN FACT_INVOICE_ANALYSIS B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC)
		GROUP BY fid.VIOLATOR_ID, fid.VBI_INVOICE_ID, fid.VIOL_INVOICE_ID
	) DtlFix ON fi.VIOLATOR_ID = DtlFix.VIOLATOR_ID AND fi.VBI_INVOICE_ID = DtlFix.VBI_INVOICE_ID AND fi.VIOL_INVOICE_ID = DtlFix.VIOL_INVOICE_ID
WHERE 
	PARTITION_DATE = @PARTITION_DATE--(SELECT TOP 1 A.PARTITION_DATE FROM dbo.PARTITION_AS_OF_DATE_CONTROL A INNER JOIN FACT_INVOICE_ANALYSIS B ON A.PARTITION_DATE = B.PARTITION_DATE ORDER BY A.PARTITION_DATE DESC)
	AND (fi.INVOICE_TOLLS_PAID_CALC <> DtlFix.AMT_PAID)
	AND ABS((fi.INVOICE_TOLLS_PAID_CALC - DtlFix.AMT_PAID_ADJ)) > .01
	AND (fi.VBI_INVOICE_ID <> -1 OR fi.VIOL_INVOICE_ID <> -1)
	AND ABS(fi.INVOICE_TOLLS_PAID_CALC) = ABS(DtlFix.AMT_PAID)

CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE_001 ON dbo.FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE(VIOLATOR_ID)
CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE_002 ON dbo.FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID)


IF OBJECT_ID('FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE')<>0
	DROP TABLE FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE

CREATE TABLE dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE WITH (DISTRIBUTION = HASH(VIOLATOR_ID))
AS
--EXPLAIN
SELECT  
	  fid.VIOLATOR_ID, fid.VBI_INVOICE_ID, fid.VIOL_INVOICE_ID, fid.VIOLATION_ID--, fid.PARTITION_DATE
	--, Stg.INVOICE_TOLLS_PAID_CALC
	--, fid.AMT_PAID
	--,	CASE 
	--		WHEN INVOICE_TOLLS_PAID_CALC = 0 THEN 0.00000000 
	--		WHEN SUM_AMT_PAID_FROM_DTL = 0 THEN 1.00000000
	--		WHEN INVOICE_TOLLS_PAID_CALC <> SUM_AMT_PAID_FROM_DTL THEN (convert(decimal(19,8),fid.AMT_PAID) * 1.00000000) / (convert(decimal(19,8),SUM_AMT_PAID_FROM_DTL) * 1.00000000)
	--		ELSE 1.00000000
	--	END AS TOLL_DUE_WEIGHT
	--, DISC_AMOUNT
	,	CASE 
			WHEN INVOICE_TOLLS_PAID_CALC = 0 THEN convert(decimal(19,8),-fid.AMT_PAID * 1.00000000) 
			WHEN SUM_AMT_PAID_FROM_DTL = 0 THEN convert(decimal(19,8),TOLL_DUE_PER_VIOL_LEFT_ON_INV * 1.00000000) 
			WHEN INVOICE_TOLLS_PAID_CALC <> SUM_AMT_PAID_FROM_DTL THEN (convert(decimal(19,8),DISC_AMOUNT * 1.00000000) * (convert(decimal(19,8),fid.AMT_PAID * 1.00000000) / (convert(decimal(19,8),SUM_AMT_PAID_FROM_DTL * 1.00000000) ))) 
			ELSE 0.00000000
		END AS AMT_PAID_DISC

	,	CASE 
			WHEN INVOICE_TOLLS_PAID_CALC = 0 THEN 0.00000000 
			WHEN SUM_AMT_PAID_FROM_DTL = 0 THEN convert(decimal(19,8),TOLL_DUE_PER_VIOL_LEFT_ON_INV * 1.00000000)
			WHEN INVOICE_TOLLS_PAID_CALC <> SUM_AMT_PAID_FROM_DTL THEN convert(decimal(19,8),fid.AMT_PAID * 1.00000000) + (convert(decimal(19,8),DISC_AMOUNT * 1.00000000) * (convert(decimal(19,8),fid.AMT_PAID * 1.00000000) / convert(decimal(19,8),SUM_AMT_PAID_FROM_DTL * 1.00000000))) 
			ELSE convert(decimal(19,8),fid.AMT_PAID * 1.00000000)
		END AS AMT_PAID_ADJ
	--, Stg.VIOL_COUNT
	
FROM FACT_INVOICE_ANALYSIS_DETAIL_FINAL fid
JOIN FACT_INVOICE_ANALYSIS_AMT_PAID_ADJ_STAGE Stg 
ON	fid.VIOLATOR_ID = Stg.VIOLATOR_ID 
AND fid.VBI_INVOICE_ID = Stg.VBI_INVOICE_ID 
AND fid.VIOL_INVOICE_ID = Stg.VIOL_INVOICE_ID
--AND fid.PARTITION_DATE = @PARTITION_DATE--Stg.PARTITION_DATE


CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE_001 ON dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE(VIOLATOR_ID)
CREATE STATISTICS STATS_FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE_002 ON dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE(VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, VIOLATION_ID)

/* -- -- -- -- -- -- -- -- -- -- -- -- -- --
	Apply Discount and ADJ Amount
-- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
--EXPLAIN
UPDATE dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL
SET		 AMT_PAID_DISC = B.AMT_PAID_DISC
		,AMT_PAID_ADJ = B.AMT_PAID_ADJ
FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE B
WHERE 
		dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.VIOLATOR_ID  = B.VIOLATOR_ID 
	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.VBI_INVOICE_ID = B.VBI_INVOICE_ID 
	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID 
	AND dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.VIOLATION_ID = B.VIOLATION_ID
	--AND dbo.FACT_INVOICE_ANALYSIS_DETAIL_FINAL.PARTITION_DATE = @PARTITION_DATE--B.PARTITION_DATE

/*


-- DISC Applied doesnot match to target difference
SELECT A.VIOLATOR_ID, A.VBI_INVOICE_ID, A.VIOL_INVOICE_ID
	, SUM(A.INVOICE_TOLLS_PAID_CALC - A.VIOL_COUNT) AS DIFF
	, SUM(B.AMT_PAID_DISC) as AMT_PAID_DISC,
	SUM(A.INVOICE_TOLLS_PAID_CALC - A.VIOL_COUNT) - SUM(B.AMT_PAID_DISC) as DIF_DIFF
FROM 
(
	SELECT DISTINCT VIOLATOR_ID, VBI_INVOICE_ID, VIOL_INVOICE_ID, INVOICE_TOLLS_PAID_CALC, VIOL_COUNT
	FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE
) A
INNER JOIN 
(
	SELECT  A.VIOLATOR_ID, A.VBI_INVOICE_ID, A.VIOL_INVOICE_ID, SUM(ISNULL(B.AMT_PAID_DISC,0))  AS AMT_PAID_DISC, SUM(B.AMT_PAID_ADJ) AS AMT_PAID_ADJ
	FROM dbo.FACT_INVOICE_ANALYSIS_DETAIL A
	INNER JOIN dbo.FACT_INVOICE_ANALYSIS_DETAIL_AMT_PAID_ADJ_STAGE B 
		ON A.VIOLATOR_ID = B.VIOLATOR_ID AND A.VBI_INVOICE_ID = B.VBI_INVOICE_ID AND A.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID AND A.VIOLATION_ID = B.VIOLATION_ID
	GROUP BY A.VIOLATOR_ID, A.VBI_INVOICE_ID, A.VIOL_INVOICE_ID

) B ON A.VIOLATOR_ID = B.VIOLATOR_ID AND A.VBI_INVOICE_ID = B.VBI_INVOICE_ID AND A.VIOL_INVOICE_ID = B.VIOL_INVOICE_ID
GROUP BY A.VIOLATOR_ID, A.VBI_INVOICE_ID, A.VIOL_INVOICE_ID
HAVING ABS(SUM(A.INVOICE_TOLLS_PAID_CALC - A.VIOL_COUNT) - SUM(B.AMT_PAID_DISC))>.01


*/

