CREATE PROC [DBO].[VIOL_INV_STATUS_LOAD] AS 

--DECLARE @LAST_UPDATE_DATE datetime2(2) 
--exec dbo.GetLoadStartDatetime 'dbo.VIOL_INV_STATUS', @LAST_UPDATE_DATE OUTPUT

-- GetFields 'VIOL_INV_STATUS'

IF OBJECT_ID('dbo.VIOL_INV_STATUS_STAGE')<>0
	DROP TABLE dbo.VIOL_INV_STATUS_STAGE

CREATE TABLE dbo.VIOL_INV_STATUS_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (VIOL_INV_STATUS)) 
AS 
-- EXPLAIN
SELECT *
FROM LND_LG_VPS.[VP_OWNER].[VIOL_INV_STATUS] A
OPTION (LABEL = 'VIOL_INV_STATUS_LOAD: VIOL_INV_STATUS_STAGE');

CREATE STATISTICS STATS_VIOL_INV_STATUS_STAGE_001 ON VIOL_INV_STATUS_STAGE (VIOL_INV_STATUS)


UPDATE dbo.VIOL_INV_STATUS
SET  VIOL_INV_STATUS_DESCR = B.VIOL_INV_STATUS_DESCR	
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.VIOL_INV_STATUS_STAGE B
WHERE 
	dbo.VIOL_INV_STATUS.VIOL_INV_STATUS = B.VIOL_INV_STATUS
	AND dbo.VIOL_INV_STATUS.VIOL_INV_STATUS_DESCR <> B.VIOL_INV_STATUS_DESCR


INSERT INTO dbo.VIOL_INV_STATUS (  VIOL_INV_STATUS, VIOL_INV_STATUS_DESCR, VIOL_INV_STATUS_GROUP, VIOL_INV_STATUS_SUM_GROUP, INSERT_DATE, LAST_UPDATE_DATE,VIOL_INV_STATUS_ORDER,IS_CLOSED,SUPERVISOR_ONLY,INVOICE_ONLY,IS_ACTIVE,ARCHIVE,IS_AGABLE)
SELECT  A.VIOL_INV_STATUS, A.VIOL_INV_STATUS_DESCR, '(Null)' AS VIOL_INV_STATUS_GROUP, '(Null)' AS VIOL_INV_STATUS_SUM_GROUP, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE, A.VIOL_INV_STATUS_ORDER, A.IS_CLOSED, A.SUPERVISOR_ONLY, A.INVOICE_ONLY, A.IS_ACTIVE, A.ARCHIVE, A.IS_AGABLE
FROM dbo.VIOL_INV_STATUS_STAGE A
LEFT JOIN dbo.VIOL_INV_STATUS B ON A.VIOL_INV_STATUS = B.VIOL_INV_STATUS
WHERE B.VIOL_INV_STATUS IS NULL



