CREATE PROC [dbo].[TRANSACTION_TYPES_LOAD] AS

IF OBJECT_ID('dbo.TRANSACTION_TYPES_STAGE') IS NOT NULL	DROP TABLE dbo.TRANSACTION_TYPES_STAGE

--SELECT COUNT_BIG(1) FROM dbo.TRANSACTION_TYPES
--SELECT * FROM dbo.TRANSACTION_TYPES


CREATE TABLE dbo.TRANSACTION_TYPES_STAGE WITH (HEAP, DISTRIBUTION = REPLICATE) 
AS 
SELECT TRANS_TYPE_ID,[TRANS_TYPE_DESCR], LAST_UPDATE_DATE
FROM [LND_LG_TS].[TAG_OWNER].[TRANSACTION_TYPES]
OPTION (LABEL = 'TRANSACTION_TYPES_LOAD: CTAS TRANSACTION_TYPES_STAGE');

INSERT INTO dbo.TRANSACTION_TYPES_STAGE 
		(TRANS_TYPE_ID, [TRANS_TYPE_DESCR], LAST_UPDATE_DATE)
VALUES	(-1,'(Null)','1900-01-01')

CREATE STATISTICS STATS_TRANSACTION_TYPES_001 ON TRANSACTION_TYPES_STAGE (TRANS_TYPE_ID)

IF OBJECT_ID('dbo.TRANSACTION_TYPES_OLD') IS NOT NULL 	DROP TABLE dbo.TRANSACTION_TYPES_OLD;
IF OBJECT_ID('dbo.TRANSACTION_TYPES') IS NOT NULL		RENAME OBJECT::dbo.TRANSACTION_TYPES TO TRANSACTION_TYPES_OLD;
RENAME OBJECT::dbo.TRANSACTION_TYPES_STAGE TO TRANSACTION_TYPES;
IF OBJECT_ID('dbo.TRANSACTION_TYPES_OLD') IS NOT NULL 	DROP TABLE dbo.TRANSACTION_TYPES_OLD;


--INSERT INTO dbo.TRANSACTION_TYPES 
--		(TRANS_TYPE_ID, [TRANS_TYPE_DESCR], LAST_UPDATE_DATE)
--VALUES	(-1,'(Null)','1900-01-01')

--UPDATE dbo.TRANSACTION_TYPES
--SET TRANS_TYPE_DESCR = B.TRANS_TYPE_DESCR
--	,LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
--FROM dbo.TRANSACTION_TYPES_STAGE B
--WHERE 
--	dbo.TRANSACTION_TYPES.TRANS_TYPE_ID = B.TRANS_TYPE_ID
--	AND 
--	dbo.TRANSACTION_TYPES.TRANS_TYPE_DESCR <> B.TRANS_TYPE_DESCR
--OPTION (LABEL = 'TRANSACTION_TYPES_LOAD: UPDATE TRANSACTION_TYPES');

--INSERT INTO dbo.TRANSACTION_TYPES (TRANS_TYPE_ID, TRANS_TYPE_DESCR, INSERT_DATE, LAST_UPDATE_DATE)
--SELECT A.TRANS_TYPE_ID, A.TRANS_TYPE_DESCR, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
--FROM dbo.TRANSACTION_TYPES_STAGE A
--LEFT JOIN dbo.TRANSACTION_TYPES B ON A.TRANS_TYPE_ID = B.TRANS_TYPE_ID
--WHERE B.TRANS_TYPE_ID IS NULL
--OPTION (LABEL = 'TRANSACTION_TYPES_LOAD: INSERT TRANSACTION_TYPES');



