CREATE PROC [DBO].[CA_COMPANIES_LOAD] AS 

-- GetFields 'CA_COMPANIES'
--    CA_COMPANY_ID, CA_COMPANY_NAME, LAST_UPDATE_DATE, LAST_UPDATE_TYPE

DECLARE @LAST_UPDATE_DATE datetime2(2) 
exec dbo.GetLoadStartDatetime 'dbo.CA_COMPANIES', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.CA_COMPANIES_STAGE')<>0
	DROP TABLE dbo.CA_COMPANIES_STAGE

CREATE TABLE dbo.CA_COMPANIES_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (CA_COMPANY_ID)) 
AS 
-- EXPLAIN
SELECT   CA_COMPANY_ID, CA_COMPANY_NAME, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[CA_COMPANIES] A
WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'CA_COMPANIES_LOAD: CA_COMPANIES_STAGE');

CREATE STATISTICS STATS_CA_COMPANIES_STAGE_001 ON CA_COMPANIES_STAGE (CA_COMPANY_ID)


UPDATE dbo.CA_COMPANIES
SET  CA_COMPANY_NAME = B.CA_COMPANY_NAME
	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.CA_COMPANIES_STAGE B
WHERE 
	dbo.CA_COMPANIES.CA_COMPANY_ID = B.CA_COMPANY_ID
	AND dbo.CA_COMPANIES.CA_COMPANY_NAME <> B.CA_COMPANY_NAME 

INSERT INTO dbo.CA_COMPANIES (CA_COMPANY_ID, CA_COMPANY_NAME, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT A.CA_COMPANY_ID, A.CA_COMPANY_NAME, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM dbo.CA_COMPANIES_STAGE A
LEFT JOIN dbo.CA_COMPANIES B ON A.CA_COMPANY_ID = B.CA_COMPANY_ID 
WHERE B.CA_COMPANY_ID IS NULL 





