CREATE PROC [DBO].[COURT_ACTIONS_LOAD] AS

-- EXEC EDW_RITE.DBO.COURT_ACTIONS_LOAD
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.COURT_ACTIONS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.COURT_ACTIONS_LOAD
GO

*/

/*	SELECT TOP 100 * FROM COURT_ACTIONS */  
/*	SELECT COUNT_BIG(1) FROM COURT_ACTIONS -- 22 772 914 */ 


-- GetFields 'COURT_ACTIONS'
--   COURT_ACTION_ID, CITATION_NBR, MAIL_DATE

DECLARE @LAST_UPDATE_DATE datetime2(2) 
exec dbo.GetLoadStartDatetime 'dbo.COURT_ACTIONS', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.COURT_ACTIONS_STAGE')<>0
	DROP TABLE dbo.COURT_ACTIONS_STAGE

CREATE TABLE dbo.COURT_ACTIONS_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (COURT_ACTION_ID, CITATION_NBR, MAIL_DATE)) 
AS 
-- EXPLAIN
SELECT   COURT_ACTION_ID, CITATION_NBR, MAIL_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[COURT_ACTIONS] A
WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'COURT_ACTIONS_LOAD: COURT_ACTIONS_STAGE');

CREATE STATISTICS STATS_COURT_ACTIONS_STAGE_001 ON COURT_ACTIONS_STAGE (COURT_ACTION_ID, CITATION_NBR, MAIL_DATE)


IF OBJECT_ID('dbo.COURT_ACTIONS_NEW_STAGE')>0 	DROP TABLE dbo.COURT_ACTIONS_NEW_STAGE

CREATE TABLE dbo.COURT_ACTIONS_NEW_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(COURT_ACTION_ID)) AS    
SELECT	
	COURT_ACTION_ID, CITATION_NBR, MAIL_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM dbo.COURT_ACTIONS AS F 
WHERE	NOT EXISTS (SELECT 1 FROM dbo.COURT_ACTIONS_STAGE AS NSET WHERE NSET.COURT_ACTION_ID = F.COURT_ACTION_ID) 

  UNION ALL 
  
SELECT	
	COURT_ACTION_ID, CITATION_NBR, MAIL_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM dbo.COURT_ACTIONS_STAGE
OPTION (LABEL = 'COURT_ACTIONS_LOAD: INSERT/UPDATE');


--STEP #2: Replace OLD table with NEW
IF OBJECT_ID('dbo.COURT_ACTIONS_OLD')>0 	DROP TABLE dbo.COURT_ACTIONS_OLD;
IF OBJECT_ID('dbo.COURT_ACTIONS')>0		RENAME OBJECT::dbo.COURT_ACTIONS TO COURT_ACTIONS_OLD;
RENAME OBJECT::dbo.COURT_ACTIONS_NEW_STAGE TO COURT_ACTIONS;
IF OBJECT_ID('dbo.COURT_ACTIONS_OLD')>0 	DROP TABLE dbo.COURT_ACTIONS_OLD;


CREATE STATISTICS [STATS_COURT_ACTIONS_001] ON [dbo].[COURT_ACTIONS] ([COURT_ACTION_ID]);
CREATE STATISTICS [STATS_COURT_ACTIONS_002] ON [dbo].[COURT_ACTIONS] ([COURT_ACTION_ID], [CITATION_NBR]);

IF OBJECT_ID('dbo.COURT_ACTIONS_STAGE')>0 	DROP TABLE dbo.COURT_ACTIONS_STAGE

/*
UPDATE dbo.COURT_ACTIONS
SET  CITATION_NBR = B.CITATION_NBR
	, MAIL_DATE = B.MAIL_DATE
	, LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.COURT_ACTIONS_STAGE B
WHERE 
	dbo.COURT_ACTIONS.COURT_ACTION_ID = B.COURT_ACTION_ID
	AND dbo.COURT_ACTIONS.CITATION_NBR <> B.CITATION_NBR 
	AND dbo.COURT_ACTIONS.MAIL_DATE <> B.MAIL_DATE 

INSERT INTO dbo.COURT_ACTIONS (COURT_ACTION_ID, CITATION_NBR, MAIL_DATE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT A.COURT_ACTION_ID, A.CITATION_NBR, A.MAIL_DATE, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM dbo.COURT_ACTIONS_STAGE A
LEFT JOIN dbo.COURT_ACTIONS B ON A.COURT_ACTION_ID = B.COURT_ACTION_ID 
WHERE B.COURT_ACTION_ID IS NULL 
*/




