CREATE PROC [DBO].[ADDRESS_STATUS_LOAD] AS 

--DECLARE @LAST_UPDATE_DATE datetime2(2) 
--exec dbo.GetLoadStartDatetime 'dbo.ADDRESS_STATUS', @LAST_UPDATE_DATE OUTPUT

IF OBJECT_ID('dbo.ADDRESS_STATUS_STAGE')<>0
	DROP TABLE dbo.ADDRESS_STATUS_STAGE

CREATE TABLE dbo.ADDRESS_STATUS_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ADDR_STATUS)) 
AS 
-- EXPLAIN
SELECT A.ADDR_STATUS, A.ADDR_STATUS_DESCR, A.LAST_UPDATE_DATE
FROM LND_LG_VPS.[VP_OWNER].[ADDRESS_STATUS] A
OPTION (LABEL = 'ADDRESS_STATUS_LOAD: ADDRESS_STATUS_STAGE');

CREATE STATISTICS STATS_ADDRESS_STATUS_STAGE_001 ON ADDRESS_STATUS_STAGE (ADDR_STATUS)


UPDATE dbo.ADDRESS_STATUS
SET  ADDR_STATUS_DESCR = B.ADDR_STATUS_DESCR
	, LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
FROM dbo.ADDRESS_STATUS_STAGE B
WHERE 
	dbo.ADDRESS_STATUS.ADDR_STATUS = B.ADDR_STATUS
	AND 
	dbo.ADDRESS_STATUS.ADDR_STATUS_DESCR <> B.ADDR_STATUS_DESCR

INSERT INTO dbo.ADDRESS_STATUS (ADDR_STATUS, ADDR_STATUS_DESCR, INSERT_DATE, LAST_UPDATE_DATE)
SELECT A.ADDR_STATUS, A.ADDR_STATUS_DESCR, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
FROM dbo.ADDRESS_STATUS_STAGE A
LEFT JOIN dbo.ADDRESS_STATUS B ON A.ADDR_STATUS = B.ADDR_STATUS
WHERE B.ADDR_STATUS IS NULL



