CREATE PROC [DBO].[FACT_VTOLLS_LOAD] AS --DROP PROC [DBO].[FACT_VTOLLS_LOAD]
/*	SELECT TOP 100 * FROM FACT_VTOLLS*/ 

/*
02.21.2018 CAS Updated Procedure to build tables with partitioning to allow for incremental loading
*/

DECLARE @TEST INT = NULL
DECLARE @FROM_DAYID INT = ISNULL(@TEST,(SELECT CONVERT(VARCHAR(10),DATEADD(DAY,1,MAX(DATEADD(MONTH,-1,DATA_AS_OF_DATE))),112)							   
							   FROM dbo.PARTITION_AS_OF_DATE_CONTROL
							   WHERE current_ind = 1)) 
DECLARE @FROMDATETIME2 DATETIME2 = cast (SUBSTRING(convert(NVARCHAR,@FROM_DAYID),5,2) + '/' + right(@FROM_DAYID,2) + '/' + left(@FROM_DAYID,4) as datetime2)

	--STEP #1: VIOLATIONS
	IF OBJECT_ID('dbo.FACT_VTOLLS_STAGE')>0 DROP TABLE dbo.FACT_VTOLLS_STAGE

	CREATE TABLE dbo.FACT_VTOLLS_STAGE 
	WITH (PARTITION ([DAY_ID] RANGE RIGHT FOR VALUES ())
		 ,DISTRIBUTION = HASH([DAY_ID])) AS  --ROUND_ROBIN --DROP TABLE FACT_LANE_ANALYSIS
    SELECT  --TOP 1 
			CAST(CONVERT(VARCHAR, VIOL_DATE,112) AS INT) [DAY_ID],
			--DATEPART(HOUR, VIOL_DATE) HOUR_NBR,
			CAST(ISNULL(LANE_ID, -1) AS INT)	LANE_ID,
			ISNULL(CT.VCLY_ID, -1) AS VCLY_ID,
			COALESCE(POSTED_CLASS,EARNED_CLASS -1) AS VEHICLE_CLASS,
			ISNULL(SOURCE_CODE, -1) SOURCE_CODE,    --VT_TYPE   'V', 'VT1','W', 'VT2', 'M', 'VT3', 'O', 'VT4', 'Z', 'VTZ'
			ISNULL(DISPOSITION, -1) DISPOSITION,
			COUNT(1) TXN_CNT, 
			SUM(POSTED_REVENUE) POS_REV,
			SUM(EARNED_REVENUE) ACT_REV --SELECT TOP (100) *--			SUM(COALESCE(POSTED_REVENUE, EARNED_REVENUE, 0.00)) REV--SELECT top 100 *
    FROM LND_LG_VPS.VP_OWNER.VPS_HOST_TRANSACTIONS VHT 
	LEFT JOIN [dbo].[DIM_VEH_CLSS_TYPES] CT ON COALESCE(VHT.POSTED_CLASS,VHT.EARNED_CLASS -1) = CT.AXLES
	--WHERE CAST(CONVERT(VARCHAR, VIOL_DATE,112) AS INT) BETWEEN 20171001 AND 20171031
	GROUP BY CONVERT(VARCHAR, VIOL_DATE,112),
		   --DATEPART(HOUR, VIOL_DATE),
		   LANE_ID,
		   SOURCE_CODE,
		   DISPOSITION,
		   POSTED_CLASS,
		   EARNED_CLASS,
		   CT.VCLY_ID

   DECLARE @sqlRangeSplit NVARCHAR(800) = (select 'ALTER TABLE FACT_VTOLLS_STAGE SPLIT RANGE ('+cast(@FROM_DAYID as NVARCHAR)+')');
   EXEC (@sqlRangeSplit)

   CREATE CLUSTERED COLUMNSTORE INDEX CCI_FACT_VTOLLS_STAGE ON dbo.FACT_VTOLLS_STAGE
   	
	--STEP #2: Replace OLD table with NEW
   IF OBJECT_ID('dbo.FACT_VTOLLS_OLD')>0 	DROP TABLE dbo.FACT_VTOLLS_OLD;
   IF OBJECT_ID('dbo.FACT_VTOLLS')>0		RENAME OBJECT::dbo.FACT_VTOLLS TO FACT_VTOLLS_OLD;
   RENAME OBJECT::dbo.FACT_VTOLLS_STAGE TO FACT_VTOLLS;
   IF OBJECT_ID('dbo.FACT_VTOLLS_OLD')>0 	DROP TABLE dbo.FACT_VTOLLS_OLD;

	--STEP #3: Create Statistics --[dbo].[CreateStats] 'dbo', 'FACT_VTOLLS'
	CREATE STATISTICS STATS_FACT_VTOLLS_001 ON [dbo].FACT_VTOLLS (DAY_ID)
	CREATE STATISTICS STATS_FACT_VTOLLS_002 ON [dbo].FACT_VTOLLS (LANE_ID)
	CREATE STATISTICS STATS_FACT_VTOLLS_003 ON [dbo].FACT_VTOLLS (SOURCE_CODE)
	CREATE STATISTICS STATS_FACT_VTOLLS_004 ON [dbo].FACT_VTOLLS (DISPOSITION)
	CREATE STATISTICS STATS_FACT_VTOLLS_005 ON [dbo].FACT_VTOLLS (DAY_ID,LANE_ID,SOURCE_CODE)
	CREATE STATISTICS STATS_FACT_VTOLLS_006 ON [dbo].FACT_VTOLLS (DAY_ID,LANE_ID,SOURCE_CODE,DISPOSITION)

