CREATE PROC [DBO].[zzz_Rename_Tables_Prior_Retire] AS

/*
USE EDW_RITE
GO


IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.zzz_Rename_Tables_Prior_Retire') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.zzz_Rename_Tables_Prior_Retire
GO

*/



DECLARE @SQL VARCHAR(1000)
DECLARE @TABLE_NAME VARCHAR(200)

SET @TABLE_NAME = 'ACCOUNT_VIOLATION_TGS_VPS'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'DIM_LANE_SEGMENT'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_IOP_TGS_HIST'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_IOP_TGS_HIST_STAGE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_LANE_VIOLATIONS_DETAIL_HIST'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_LANE_VIOLATIONS_DETAIL_TEST_SET'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_NET_REV_TFC_EVTS_HIST'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_NET_REV_TFC_EVTS_INCR_DISPOSE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_NOT_TRANSFERRED_TO_VPS_DETAIL_HIST'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_PAID_INVD_HIST'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_PAID_INVD_HIST_PARTITION_SWITCH'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_PAID_INVD_HIST_PARTITION_TRUNCATE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_TRIP'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_TRIP_ANALYSIS_PART'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_TRIP_HISTORY_PART'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_TRIP_ICRS'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_TRIP_LV_HISTORY_STAGE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_UNIFIED_UNPAID_INVOICE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_UNIFIED_VB_PAYMENT'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_VIOLATIONS_BR_DETAIL_HIST'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_VIOLATIONS_DETAIL_HIST'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_VIOLATIONS_DMV_STATUS_DETAIL_HIST'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_VIOLATION_PAYMENTS_T'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES_TEMP'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES_TEMP1'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_VIOLATION_VB_VIOL_INVOICES_TEMP2'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_VIOLATION_VIOLATOR_DRIVING_ON'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_VTOLLS'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_VTOLLS_HIST'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_VTOLLS_INCR_STAGE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'FACT_VTOLLS_TRUNCATE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'HOST_ICRS_TGS_XREF_NEW'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'HOST_ICRS_VPS_TGS_XREF'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'HOST_ICRS_VPS_TGS_XREF_STAGE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'HOST_TGS_XREF'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'HOST_TGS_XREF_NEW'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'ICRS_VPS_TGS_XREF_STAGE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'IMAGES_LESS_THAN_3'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'IOP_TXNS'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'IOP_TXNS_INCR'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'LANE_ID_VIOL_DATE_LANE_VIOL_ID'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'LANE_VIOL_DATE_STAGE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'LANE_VIOL_DATE_STAGE_Keep'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'MISCLASS_LESS_THAN_99_5'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'MISSCLASS_ICRS_STAGE00'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'MISSCLASS_ICRS_STAGE01'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'PARTITION_AS_OF_DATE_INFO'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'PARTITION_LOAD_Dates'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'REL_ADDR_STATUS_GROUP_TO_ADDR_STATUS'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'REL_FACILITY_GROUP_TO_FACILITY'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'REL_FinalStage_GROUP_TO_FinalStage'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)


SET @TABLE_NAME = 'REL_HVFlag_GROUP_TO_HVFlag'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'REL_PaidStatus_GROUP_TO_PaidStatus'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'RETAIL_TRXN_DETAILS_STAGE_UPDATES'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'SOURCE_IDS_XREF'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TAG_ID_TAG_TYPES_XREF'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TEMP'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TEMP_MONTH_BEGIN_TAGS'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TEMP_MONTH_CLOSED_TAGS'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TEMP_MONTH_END_TAGS'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TEMP_MONTH_OPENED_TAGS'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TEMP_TGS_PREV_MONTH_BAL'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TEMP_TGS_RETAIL_TRANSACTIONS'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TEMP_TGS_THIS_MONTH_BAL'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TEMP_TGS_TOLL_TRANSACTIONS'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TEMP_TGS_TRANSACTIONS_SUMMARY'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TOLL_TRANSACTIONS_RETAIL_TRXN_DETAILS_STAGE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TRANSACTION_TYPES_UNDO_XREF'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'TRIPHISTORY_STAGE_ICRS'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'VIOLATIONS_CHANGED_VIOLATOR_STAGE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'VIOLATIONS_STAGE_LICENSE_PLATE_STAGE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'VIOLATOR_AVI_TOLLS_20190607'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'VIOLATORS_STAGE_LICENSE_PLATE_STAGE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'VIOL_REJECT_TYPE_REVIEW_STATUS_IMAGE_QUALITY_RPT_XREF'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'VPS_HOST_TRANSACTIONS_DIST_ON_VIOLATION_ID_DUPS'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'VPS_TGS_XREF'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

SET @TABLE_NAME = 'VPS_TXN_COUNT_COMPARE'
SET @SQL = '
IF OBJECT_ID(''dbo.' + @TABLE_NAME + ''') IS NOT NULL			RENAME OBJECT::dbo.' + @TABLE_NAME + ' TO zzz_' + @TABLE_NAME + ';'
EXEC (@SQL)

