CREATE PROC [DBO].[VB_INVOICE_VIOL_FULL_LOAD] AS 
/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.VB_INVOICE_VIOL_FULL_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.VB_INVOICE_VIOL_FULL_LOAD
GO

EXEC EDW_RITE.DBO.VB_INVOICE_VIOL_FULL_LOAD

*/

--DECLARE @LAST_UPDATE_DATE datetime2(2) 
--EXEC dbo.GetLoadStartDatetime 'dbo.VB_INVOICE_VIOL', @LAST_UPDATE_DATE OUTPUT

	IF OBJECT_ID('dbo.VB_INVOICE_VIOL_STAGE')>0		DROP TABLE dbo.VB_INVOICE_VIOL_STAGE

	CREATE TABLE dbo.VB_INVOICE_VIOL_STAGE WITH (CLUSTERED INDEX (VBI_INVOICE_ID ASC, VIOLATION_ID ASC), DISTRIBUTION = HASH(VBI_INVOICE_ID)) 
	AS 
	-- EXPLAIN
	SELECT 
		  ISNULL(convert(bigint,A.VBI_INVOICE_ID) , -1) AS VBI_INVOICE_ID
		--, ISNULL(convert(bigint,B.VIOLATOR_ID)    , -1) AS VIOLATOR_ID
		, ISNULL(convert(bigint,A.VIOLATION_ID)   , -1) AS VIOLATION_ID
		, A.TOLL_DUE, A.VIOL_STATUS
		, CONVERT(DATE,A.DATE_CREATED) AS DATE_CREATED
		,A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
	FROM LND_LG_VPS.[VP_OWNER].[VB_INVOICE_VIOL] A
	--INNER JOIN LND_LG_VPS.[VP_OWNER].[VB_INVOICES] B ON A.VBI_INVOICE_ID = B.VBI_INVOICE_ID
	OPTION (LABEL = 'VB_INVOICE_VIOL_STAGE_LOAD: VB_INVOICE_VIOL_STAGE');

	INSERT INTO dbo.VB_INVOICE_VIOL_STAGE
		(	 	  
		VBI_INVOICE_ID,VIOLATION_ID,TOLL_DUE,VIOL_STATUS,DATE_CREATED,LAST_UPDATE_TYPE,LAST_UPDATE_DATE
		)
		VALUES
		(-1,-1,0,'','2000-01-01','I','2000-01-01')


	CREATE STATISTICS [STAT_VB_INVOICE_VIOL_001] ON [dbo].VB_INVOICE_VIOL_STAGE (VIOLATION_ID, [VIOL_STATUS]);

--SELECT * FROM dbo.VB_INVOICE_VIOL_STAGE
--WHERE VIOLATOR_ID IN (775328131, 790570728) AND VBI_INVOICE_ID = 188852557


	IF OBJECT_ID('dbo.VB_INVOICE_VIOL_OLD')>0		DROP TABLE dbo.VB_INVOICE_VIOL_OLD;
	IF OBJECT_ID('dbo.VB_INVOICE_VIOL')>0			RENAME OBJECT::dbo.VB_INVOICE_VIOL TO VB_INVOICE_VIOL_OLD;
	IF OBJECT_ID('dbo.VB_INVOICE_VIOL_STAGE')>0		RENAME OBJECT::dbo.VB_INVOICE_VIOL_STAGE TO VB_INVOICE_VIOL;
	IF OBJECT_ID('dbo.VB_INVOICE_VIOL_OLD')>0		DROP TABLE dbo.VB_INVOICE_VIOL_OLD;

