CREATE PROC [DBO].[FACT_VIOLATION_PAYMENTS_LOAD] AS 
/*	

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.FACT_VIOLATION_PAYMENTS_LOAD') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_VIOLATION_PAYMENTS_LOAD
GO

EXEC DBO.FACT_VIOLATION_PAYMENTS_LOAD

SELECT TOP 1000 * FROM DBO.FACT_VIOLATION_PAYMENTS  

SELECT COUNT_BIG(1) FROM DBO.FACT_VIOLATION_PAYMENTS
SELECT COUNT_BIG(1) FROM LND_LG_VPS.VP_OWNER.PAYMENT_XREF

*/  
--#1	ANDY FILIPPS	2019-02-14	Created new proc

DECLARE @TABLE_NAME VARCHAR(50) = 'FACT_VIOLATION_PAYMENTS', @LOG_START_DATE DATETIME2 (2) = GETDATE(), @LOG_MESSAGE VARCHAR(1000) = 'Started full load', @ROW_COUNT BIGINT 

EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL

IF OBJECT_ID('dbo.CTE_VIOLATION_PAYMENTS_MAIN') IS NOT NULL DROP TABLE dbo.CTE_VIOLATION_PAYMENTS_MAIN;
-- EXPLAIN
CREATE TABLE dbo.CTE_VIOLATION_PAYMENTS_MAIN WITH (HEAP, DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS
WITH CTE_PAYMENTS_VPS_SUMMARY AS
(
	SELECT
		LAST_INVOICE_ID,VIOLATION_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID,VTOLL,CAST(PAYMENT_DATE AS DATE) PAYMENT_DATE,DELIVERY_CODE,PAYMENT_SOURCE_CODE,
		CAST(DEPOSIT_DATE AS DATE) DEPOSIT_DATE,VIOLATOR_ID,SHIFT_ID,POS_ID,PAYMENT_FORM,MAX(PAYMENT_ID) AS PAYMENT_ID,SUM(AMOUNT) AS AMOUNT
	FROM dbo.PAYMENTS_VPS_DETAIL P
	GROUP BY LAST_INVOICE_ID,VIOLATION_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID,VTOLL,CAST(PAYMENT_DATE AS DATE),DELIVERY_CODE,PAYMENT_SOURCE_CODE,CAST(DEPOSIT_DATE AS DATE),VIOLATOR_ID,SHIFT_ID,POS_ID,PAYMENT_FORM
)
, CTE_VIOLATION_VB_VIOL_CURRENT AS
(
	SELECT
		LAST_INVOICE_ID
		,VIOLATION_ID
		,VBI_INVOICE_ID
		,VIOL_INVOICE_ID
		,VIOLATOR_ID
		,TOLL_DUE
		,FEES_DUE
		,INV_TOLL_DUE
		,INV_FEES_DUE
	FROM dbo.FACT_VIOLATION_VB_VIOL_INVOICES
	WHERE CURRENT_FLAG = 1 
)
, CTE_PAYMENTS_VIOLATIONS AS 
(
	SELECT 
		P.PAYMENT_ID
		,V.LAST_INVOICE_ID
		,V.VIOLATION_ID
		,V.VBI_INVOICE_ID
		,V.VIOL_INVOICE_ID
		,ISNULL(P.VIOLATOR_ID,V.VIOLATOR_ID) AS VIOLATOR_ID
		,P.SHIFT_ID
		,P.POS_ID
		,P.VTOLL
		,P.PAYMENT_DATE
		,P.DEPOSIT_DATE
		,P.DELIVERY_CODE
		,P.PAYMENT_SOURCE_CODE
		,P.PAYMENT_FORM
		,P.AMOUNT AS VIOL_AMOUNT
		,CAST(0 AS DECIMAL(10,2)) AS INV_AMOUNT
		--,CASE WHEN P.VIOLATION_ID IS NULL THEN 0 ELSE P.AMOUNT END AS VIOL_AMOUNT
		--,CASE WHEN P.VIOLATION_ID IS NULL THEN P.AMOUNT ELSE 0 END AS INV_AMOUNT
		,V.TOLL_DUE
		,V.FEES_DUE
		,V.INV_TOLL_DUE
		,V.INV_FEES_DUE
	FROM CTE_VIOLATION_VB_VIOL_CURRENT V 
	JOIN CTE_PAYMENTS_VPS_SUMMARY P ON P.VIOLATION_ID = V.VIOLATION_ID AND P.VIOLATION_ID IS NOT NULL
	UNION ALL 
	SELECT 
		P.PAYMENT_ID
		,V.LAST_INVOICE_ID
		,V.VIOLATION_ID
		,V.VBI_INVOICE_ID
		,V.VIOL_INVOICE_ID
		,ISNULL(P.VIOLATOR_ID,V.VIOLATOR_ID) AS VIOLATOR_ID
		,P.SHIFT_ID
		,P.POS_ID
		,P.VTOLL
		,P.PAYMENT_DATE
		,P.DEPOSIT_DATE
		,P.DELIVERY_CODE
		,P.PAYMENT_SOURCE_CODE
		,P.PAYMENT_FORM
		,CAST(0 AS DECIMAL(10,2)) AS VIOL_AMOUNT
		,P.AMOUNT AS INV_AMOUNT
		--,CASE WHEN P.VIOLATION_ID IS NULL THEN 0 ELSE P.AMOUNT END AS VIOL_AMOUNT
		--,CASE WHEN P.VIOLATION_ID IS NULL THEN P.AMOUNT ELSE 0 END AS INV_AMOUNT
		,V.TOLL_DUE
		,V.FEES_DUE
		,V.INV_TOLL_DUE
		,V.INV_FEES_DUE
	FROM CTE_VIOLATION_VB_VIOL_CURRENT V 
	JOIN CTE_PAYMENTS_VPS_SUMMARY P ON P.VBI_INVOICE_ID = V.VBI_INVOICE_ID AND P.VBI_INVOICE_ID IS NOT NULL
	UNION ALL 
	SELECT 
		P.PAYMENT_ID
		,V.LAST_INVOICE_ID
		,V.VIOLATION_ID
		,V.VBI_INVOICE_ID
		,V.VIOL_INVOICE_ID
		,ISNULL(P.VIOLATOR_ID,V.VIOLATOR_ID) AS VIOLATOR_ID
		,P.SHIFT_ID
		,P.POS_ID
		,P.VTOLL
		,P.PAYMENT_DATE
		,P.DEPOSIT_DATE
		,P.DELIVERY_CODE
		,P.PAYMENT_SOURCE_CODE
		,P.PAYMENT_FORM
		,CAST(0 AS DECIMAL(10,2)) AS VIOL_AMOUNT
		,P.AMOUNT AS INV_AMOUNT
		--,CASE WHEN P.VIOLATION_ID IS NULL THEN 0 ELSE P.AMOUNT END AS VIOL_AMOUNT
		--,CASE WHEN P.VIOLATION_ID IS NULL THEN P.AMOUNT ELSE 0 END AS INV_AMOUNT
		,V.TOLL_DUE
		,V.FEES_DUE
		,V.INV_TOLL_DUE
		,V.INV_FEES_DUE
	FROM CTE_VIOLATION_VB_VIOL_CURRENT V 
	JOIN CTE_PAYMENTS_VPS_SUMMARY P ON P.VIOL_INVOICE_ID = V.VIOL_INVOICE_ID AND P.VIOL_INVOICE_ID IS NOT NULL
)
--, CTE_PAYMENTS_RN AS
--(
--	SELECT
--		CAST(CONVERT(VARCHAR(8), V.PAYMENT_DATE, 112) AS INT) DAY_ID
--		,V.PAYMENT_ID
--		,V.LAST_INVOICE_ID
--		,V.VIOLATION_ID
--		,V.VBI_INVOICE_ID
--		,V.VIOL_INVOICE_ID
--		,V.VIOLATOR_ID
--		,V.SHIFT_ID
--		,V.POS_ID
--		,V.VTOLL
--		,V.PAYMENT_DATE
--		,V.DEPOSIT_DATE
--		,V.DELIVERY_CODE
--		,V.PAYMENT_SOURCE_CODE
--		,V.PAYMENT_FORM
--		,V.VIOL_AMOUNT
--		,V.INV_AMOUNT
--		,V.TOLL_DUE
--		,V.FEES_DUE
--		,V.INV_TOLL_DUE
--		,V.INV_FEES_DUE
--		,ROW_NUMBER() OVER(PARTITION BY PAYMENT_ID, V.VIOLATION_ID, V.LAST_INVOICE_ID, V.VBI_INVOICE_ID,V.TOLL_DUE, V.VIOL_AMOUNT,V.INV_AMOUNT ORDER BY PAYMENT_DATE)	AS RN -- In case there is duplicates in FACT_VIOLATION_VB_VIOL_INVOICES
--	FROM CTE_PAYMENTS_VIOLATIONS V
--) /*Commented this because duplicates in FACT_VIOLATION_VB_VIOL_INVOICES should not happen and RN in this query either filter out right payments or slow down the query */
SELECT
	CAST(CONVERT(VARCHAR(8), V.PAYMENT_DATE, 112) AS INT) DAY_ID
	,V.PAYMENT_ID
	,V.LAST_INVOICE_ID
	,V.VIOLATION_ID
	,V.VBI_INVOICE_ID
	,V.VIOL_INVOICE_ID
	,V.VIOLATOR_ID
	,V.SHIFT_ID
	,V.POS_ID
	,V.VTOLL
	,V.PAYMENT_DATE
	,V.DEPOSIT_DATE
	,V.DELIVERY_CODE
	,V.PAYMENT_SOURCE_CODE
	,V.PAYMENT_FORM
	,V.VIOL_AMOUNT
	,V.INV_AMOUNT
	,V.TOLL_DUE
	,V.FEES_DUE
	,V.INV_TOLL_DUE
	,V.INV_FEES_DUE
	,SUM(V.VIOL_AMOUNT)	OVER(PARTITION BY V.VIOLATION_ID)	AS VIOL_SPLIT_AMOUNT
	,MAX(V.VTOLL)		OVER(PARTITION BY V.VIOLATION_ID)	AS VIOL_VTOLL
	,SUM(V.INV_AMOUNT)	OVER(PARTITION BY V.VIOLATION_ID)	AS INV_INV_AMOUNT  
	,ROW_NUMBER() OVER(PARTITION BY V.VIOLATION_ID ORDER BY V.PAYMENT_DATE ASC, V.LAST_INVOICE_ID ASC)	AS PMNT_NBR
FROM CTE_PAYMENTS_VIOLATIONS V
--FROM CTE_PAYMENTS_RN V WHERE RN = 1
OPTION (LABEL = 'FACT_VIOLATION_PAYMENTS LOAD: CTE_VIOLATION_PAYMENTS_MAIN');

EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = 'Got CTE_VIOLATION_PAYMENTS_MAIN set'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT
/**/

--DECLARE @TABLE_NAME VARCHAR(50) = 'FACT_VIOLATION_PAYMENTS', @LOG_START_DATE DATETIME2 (2) = GETDATE(), @LOG_MESSAGE VARCHAR(1000) = 'Started full load', @ROW_COUNT BIGINT 

IF OBJECT_ID('dbo.CTE_SPLIT_PMNTS') IS NOT NULL DROP TABLE dbo.CTE_SPLIT_PMNTS;

CREATE TABLE dbo.CTE_SPLIT_PMNTS WITH (CLUSTERED INDEX (LAST_INVOICE_ID, VIOLATION_ID, PAYMENT_ID), DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS
-- EXPLAIN
WITH CTE_RN AS
(
	SELECT
		 PAYMENT_ID
		,LAST_INVOICE_ID
		,VIOLATION_ID
		,VBI_INVOICE_ID
		,PAYMENT_DATE
		,INV_AMOUNT			-- Paid to invoice this payment
		,INV_INV_AMOUNT		-- Paid to invoice on invoice level
		,VIOL_SPLIT_AMOUNT	-- Paid to violation on violation level
		,TOLL_DUE + FEES_DUE AS ALL_DUE
		,SUM(TOLL_DUE + FEES_DUE) OVER (PARTITION BY LAST_INVOICE_ID, PAYMENT_ID) AS ALL_INV_DUE
		,TOLL_DUE AS TOLL_DUE
		,SUM(TOLL_DUE) OVER (PARTITION BY LAST_INVOICE_ID, PAYMENT_ID) AS TOLL_INV_DUE
		,CASE	
			WHEN VIOL_VTOLL = 1 THEN 0  
			WHEN VIOL_SPLIT_AMOUNT >= TOLL_DUE + FEES_DUE THEN 0 
			ELSE TOLL_DUE + FEES_DUE - VIOL_SPLIT_AMOUNT 
		END AS REST_OF_ALL_DUE   -- Need to pay to violation on violation level
		,SUM(CASE	
				WHEN VIOL_VTOLL = 1 THEN 0  
				WHEN VIOL_SPLIT_AMOUNT >= TOLL_DUE + FEES_DUE THEN 0 
				ELSE TOLL_DUE + FEES_DUE - VIOL_SPLIT_AMOUNT 
			END) OVER(PARTITION BY LAST_INVOICE_ID, PAYMENT_ID) AS REST_OF_INV_ALL_DUE   -- Need to pay to all violations on invoice level
		,CASE	
			WHEN VIOL_VTOLL = 1 THEN 0  
			WHEN VIOL_SPLIT_AMOUNT >= TOLL_DUE THEN 0 
			ELSE TOLL_DUE - VIOL_SPLIT_AMOUNT 
		END AS REST_OF_TOLL_DUE   -- Need to pay to violation on violation level
		,SUM(CASE	
				WHEN VIOL_VTOLL = 1 THEN 0  
				WHEN VIOL_SPLIT_AMOUNT >= TOLL_DUE THEN 0 
				ELSE TOLL_DUE - VIOL_SPLIT_AMOUNT 
			END) OVER(PARTITION BY LAST_INVOICE_ID, PAYMENT_ID) AS REST_OF_INV_TOLL_DUE   -- Need to pay to all violations on invoice level
	FROM CTE_VIOLATION_PAYMENTS_MAIN
	WHERE INV_AMOUNT <> 0 -- Here is no violation level payments - only those needed to split
)
, CTE_SPLIT AS
(
	SELECT
		 PAYMENT_ID
		,LAST_INVOICE_ID
		,VIOLATION_ID
		,VBI_INVOICE_ID
		,INV_AMOUNT
		,REST_OF_INV_TOLL_DUE -- Need to pay to all violations on invoice level
		,REST_OF_INV_ALL_DUE -- Need to pay to all violations on invoice level
		,INV_INV_AMOUNT		-- Paid to invoice on invoice level
		,REST_OF_TOLL_DUE
		,REST_OF_ALL_DUE
		,TOLL_INV_DUE
		,TOLL_DUE
		,CASE 
			WHEN REST_OF_INV_TOLL_DUE = INV_AMOUNT THEN CAST(REST_OF_TOLL_DUE AS DECIMAL(10,2))
			WHEN REST_OF_INV_ALL_DUE = INV_AMOUNT THEN CAST(REST_OF_ALL_DUE AS DECIMAL(10,2))
			WHEN REST_OF_INV_ALL_DUE > 0 AND INV_INV_AMOUNT > 0 THEN CAST(ROUND((INV_AMOUNT) * REST_OF_ALL_DUE / REST_OF_INV_ALL_DUE, 2, 1) AS DECIMAL(10,2))
			WHEN ALL_INV_DUE <> 0 THEN CAST(ROUND(INV_AMOUNT * ALL_DUE / ALL_INV_DUE, 2, 1) AS DECIMAL(10,2))  -- Is they paid more then needed 
			ELSE 0  -- Is they paid more then needed 
		END AS SPLIT_AMOUNT  -- got truncated split amount for each violation
		,SUM(CASE 
				WHEN REST_OF_INV_TOLL_DUE = INV_AMOUNT THEN CAST(REST_OF_TOLL_DUE AS DECIMAL(10,2))
				WHEN REST_OF_INV_ALL_DUE = INV_AMOUNT THEN CAST(REST_OF_ALL_DUE AS DECIMAL(10,2))
				WHEN REST_OF_INV_ALL_DUE > 0 AND INV_INV_AMOUNT > 0 THEN CAST(ROUND((INV_AMOUNT) * REST_OF_ALL_DUE / REST_OF_INV_ALL_DUE, 2, 1) AS DECIMAL(10,2))
				WHEN ALL_INV_DUE <> 0 THEN CAST(ROUND(INV_AMOUNT * ALL_DUE / ALL_INV_DUE, 2, 1) AS DECIMAL(10,2))  -- Is they paid more then needed 
				ELSE 0  -- Is they paid more then needed 
			END) OVER (PARTITION BY LAST_INVOICE_ID, PAYMENT_ID) AS SUM_SPLIT_AMOUNT
		,CASE WHEN INV_AMOUNT > 0 THEN 1 ELSE -1 END AS SIG
		,ROW_NUMBER() OVER(PARTITION BY LAST_INVOICE_ID, PAYMENT_ID ORDER BY REST_OF_TOLL_DUE DESC, VIOLATION_ID)	AS RN_PMNT
		,ROW_NUMBER() OVER(PARTITION BY LAST_INVOICE_ID, VIOLATION_ID ORDER BY PAYMENT_DATE DESC)	AS PMNT_NBR
	FROM CTE_RN
)
, CTE_FULL_SPLIT AS
(
	SELECT	
		PAYMENT_ID
		,LAST_INVOICE_ID
		,VIOLATION_ID
		,VBI_INVOICE_ID
		,REST_OF_INV_TOLL_DUE -- Need to pay to all violations on invoice level
		,REST_OF_INV_ALL_DUE -- Need to pay to all violations on invoice level
		,INV_INV_AMOUNT		-- Paid to invoice on invoice level
		,REST_OF_TOLL_DUE
		,REST_OF_ALL_DUE
		,PMNT_NBR
		,INV_AMOUNT
		,CASE 
			WHEN RN_PMNT <= ABS(INV_AMOUNT - SUM_SPLIT_AMOUNT) * 100 THEN SPLIT_AMOUNT + 0.01 * SIG --INV_AMOUNT - SUM_SPLIT_AMOUNT -- PUT ALL THE REST OF CALC to the first row
			ELSE SPLIT_AMOUNT
		END AS SPLIT_AMOUNT -- This is how we get exactly the paid amount for all invoice
		,SUM(CASE 
				WHEN RN_PMNT <= ABS(INV_AMOUNT - SUM_SPLIT_AMOUNT) * 100 THEN SPLIT_AMOUNT + 0.01 * SIG --INV_AMOUNT - SUM_SPLIT_AMOUNT -- PUT ALL THE REST OF CALC to the first row
				ELSE SPLIT_AMOUNT
			END) OVER (PARTITION BY VIOLATION_ID)  AS SUM_SPLIT_AMOUNT
	FROM CTE_SPLIT
)
SELECT	
	PAYMENT_ID
	,LAST_INVOICE_ID
	,VIOLATION_ID
	,INV_AMOUNT
	,CASE	
		WHEN INV_INV_AMOUNT = REST_OF_INV_TOLL_DUE AND REST_OF_TOLL_DUE <> SUM_SPLIT_AMOUNT AND PMNT_NBR = 1       -- SUM to split equals sum needed - each violation toll_due sum should be = violation paid sum
			THEN SPLIT_AMOUNT - (SUM_SPLIT_AMOUNT - REST_OF_TOLL_DUE)
		WHEN INV_INV_AMOUNT = REST_OF_INV_ALL_DUE AND REST_OF_ALL_DUE <> SUM_SPLIT_AMOUNT AND PMNT_NBR = 1       -- SUM to split equals sum needed - each violation toll_due sum should be = violation paid sum
			THEN SPLIT_AMOUNT - (SUM_SPLIT_AMOUNT - REST_OF_ALL_DUE)
		ELSE SPLIT_AMOUNT
	END AS SPLIT_AMOUNT -- This is how we make sum of paid for violation match toll due (not working when fee included to payments)
FROM CTE_FULL_SPLIT
OPTION (LABEL = 'FACT_VIOLATION_PAYMENTS LOAD: CTE_SPLIT_PMNTS');

EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = 'Got CTE_SPLIT_PMNTS set'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT


--DECLARE @TABLE_NAME VARCHAR(50) = 'FACT_VIOLATION_PAYMENTS', @LOG_START_DATE DATETIME2 (2) = GETDATE(), @LOG_MESSAGE VARCHAR(1000) = 'Started full load', @ROW_COUNT BIGINT 

IF OBJECT_ID('dbo.FACT_VIOLATION_PAYMENTS_STAGE') IS NOT NULL DROP TABLE dbo.FACT_VIOLATION_PAYMENTS_STAGE;

DECLARE @PART_RANGES VARCHAR(MAX) = ''
--EXEC DBO.GET_PARTITION_RANGE_STRING 'FACT_UNIFIED_VIOLATION', @PART_RANGES OUTPUT
--EXEC DBO.GET_PARTITION_MONTH_RANGE_STRING @PART_RANGES OUTPUT
EXEC DBO.GET_PARTITION_DAYID_RANGE_STRING @PART_RANGES OUTPUT
DECLARE @SQL_DDL VARCHAR(MAX)

-- EXPLAIN
set @SQL_DDL = '
CREATE TABLE dbo.FACT_VIOLATION_PAYMENTS_STAGE WITH (CLUSTERED INDEX (VIOLATION_ID, PAYMENT_ID), DISTRIBUTION = HASH(LAST_INVOICE_ID), PARTITION (DAY_ID RANGE RIGHT FOR VALUES (' + @PART_RANGES + '))) AS
WITH CTE_LAST AS
(
	SELECT	
		P.DAY_ID,P.PAYMENT_ID,P.PMNT_NBR,P.SHIFT_ID,P.POS_ID,P.PAYMENT_DATE,P.DEPOSIT_DATE,P.VTOLL AS IS_VTOLL,P.DELIVERY_CODE,P.PAYMENT_SOURCE_CODE,P.PAYMENT_FORM,P.LAST_INVOICE_ID,
		P.VIOLATION_ID,P.VBI_INVOICE_ID,P.VIOL_INVOICE_ID,P.VIOLATOR_ID,P.TOLL_DUE,P.FEES_DUE,P.INV_TOLL_DUE,P.INV_FEES_DUE,
		P.VIOL_AMOUNT + ISNULL(C.SPLIT_AMOUNT, 0) AS SPLIT_AMOUNT,SUM(P.VIOL_AMOUNT + ISNULL(C.SPLIT_AMOUNT, 0)) OVER(PARTITION BY P.LAST_INVOICE_ID)	AS INV_AMOUNT 
	FROM CTE_VIOLATION_PAYMENTS_MAIN P
	LEFT JOIN CTE_SPLIT_PMNTS C ON P.LAST_INVOICE_ID = C.LAST_INVOICE_ID AND P.PAYMENT_ID = C.PAYMENT_ID AND P.VIOLATION_ID = C.VIOLATION_ID AND P.INV_AMOUNT = C.INV_AMOUNT
	WHERE P.VIOL_AMOUNT + ISNULL(C.SPLIT_AMOUNT, 0) <> 0 -- DO NOT CHANGE THIS FILTER!!! One of them ALWAYS is = 0!
)
SELECT	
	DAY_ID / 100 AS MONTH_ID,
	DAY_ID,PAYMENT_ID,LAST_INVOICE_ID,VIOLATION_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID,VIOLATOR_ID,IS_VTOLL,PMNT_NBR,SHIFT_ID,POS_ID,PAYMENT_DATE,DEPOSIT_DATE,DELIVERY_CODE,PAYMENT_SOURCE_CODE,PAYMENT_FORM,
	CAST(SUM(TOLL_DUE)		AS DECIMAL(10,2)) AS TOLL_DUE,
	CAST(SUM(FEES_DUE)		AS DECIMAL(10,2)) AS FEES_DUE,
	CAST(SUM(INV_TOLL_DUE)	AS DECIMAL(10,2)) AS INV_TOLL_DUE,
	CAST(SUM(INV_FEES_DUE)	AS DECIMAL(10,2)) AS INV_FEES_DUE,
	CAST(SUM(SPLIT_AMOUNT)	AS DECIMAL(10,2)) AS SPLIT_AMOUNT,
	CAST(SUM(INV_AMOUNT)	AS DECIMAL(10,2)) AS INV_AMOUNT 
FROM CTE_LAST
GROUP BY DAY_ID,PAYMENT_ID,LAST_INVOICE_ID,VIOLATION_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID,VIOLATOR_ID,IS_VTOLL,PMNT_NBR,SHIFT_ID,POS_ID,PAYMENT_DATE,DEPOSIT_DATE,DELIVERY_CODE,PAYMENT_SOURCE_CODE,PAYMENT_FORM
OPTION (LABEL = ''FACT_VIOLATION_PAYMENTS LOAD'');'
-- PRINT @SQL_DDL
EXEC(@SQL_DDL)


EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = 'Finisfed New set FACT_VIOLATION_PAYMENTS load'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT


CREATE STATISTICS STATS_FACT_VIOLATION_PAYMENTS_000 ON [dbo].FACT_VIOLATION_PAYMENTS_STAGE (LAST_INVOICE_ID)
CREATE STATISTICS STATS_FACT_VIOLATION_PAYMENTS_001 ON [dbo].FACT_VIOLATION_PAYMENTS_STAGE (VBI_INVOICE_ID,VIOLATION_ID)
CREATE STATISTICS STATS_FACT_VIOLATION_PAYMENTS_002 ON [dbo].FACT_VIOLATION_PAYMENTS_STAGE (VIOL_INVOICE_ID,VIOLATION_ID)
CREATE STATISTICS STATS_FACT_VIOLATION_PAYMENTS_003 ON [dbo].FACT_VIOLATION_PAYMENTS_STAGE (VIOLATOR_ID)
CREATE STATISTICS STATS_FACT_VIOLATION_PAYMENTS_004 ON [dbo].FACT_VIOLATION_PAYMENTS_STAGE (POS_ID)
CREATE STATISTICS STATS_FACT_VIOLATION_PAYMENTS_005 ON [dbo].FACT_VIOLATION_PAYMENTS_STAGE (DAY_ID,MONTH_ID)


IF OBJECT_ID('dbo.FACT_VIOLATION_PAYMENTS_OLD')>0 	DROP TABLE dbo.FACT_VIOLATION_PAYMENTS_OLD;
IF OBJECT_ID('dbo.FACT_VIOLATION_PAYMENTS')>0		RENAME OBJECT::dbo.FACT_VIOLATION_PAYMENTS TO FACT_VIOLATION_PAYMENTS_OLD;
RENAME OBJECT::dbo.FACT_VIOLATION_PAYMENTS_STAGE TO FACT_VIOLATION_PAYMENTS;


--DECLARE @TABLE_NAME VARCHAR(50) = 'FACT_VIOLATION_PAYMENTS', @LOG_START_DATE DATETIME2 (2) = GETDATE(), @LOG_MESSAGE VARCHAR(1000) = 'Started full load', @ROW_COUNT BIGINT 

IF OBJECT_ID('dbo.FACT_VIOLATION_PAYMENTS_SUMMARY_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_VIOLATION_PAYMENTS_SUMMARY_NEW_SET;
--EXPLAIN
CREATE TABLE dbo.FACT_VIOLATION_PAYMENTS_SUMMARY_NEW_SET WITH (CLUSTERED INDEX (VIOLATION_ID), DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS
WITH CTE_PMNTS_SUMMARY AS
(
	SELECT 
		P.LAST_INVOICE_ID
		,P.VIOLATION_ID
		,P.VBI_INVOICE_ID
		,P.VIOL_INVOICE_ID
		,MAX(P.SHIFT_ID) SHIFT_ID
		,MAX(P.POS_ID) POS_ID
		,MAX(P.IS_VTOLL) IS_VTOLL
		,COUNT(1) PMNT_NBR
		,MAX(P.PAYMENT_DATE) PAYMENT_DATE
		,MAX(P.DEPOSIT_DATE) DEPOSIT_DATE
		,MAX(TOLL_DUE) TOLL_DUE
		,MAX(FEES_DUE) FEES_DUE
		,MAX(INV_TOLL_DUE) INV_TOLL_DUE
		,MAX(INV_FEES_DUE) INV_FEES_DUE
		,SUM(CASE WHEN IS_VTOLL = 1 THEN 0 ELSE SPLIT_AMOUNT END) VIOL_AMOUNT
		,SUM(CASE WHEN IS_VTOLL = 1 THEN SPLIT_AMOUNT ELSE 0 END) VTOLL_AMOUNT
		,SUM(SPLIT_AMOUNT) SPLIT_AMOUNT
		,MAX(INV_AMOUNT) INV_AMOUNT 
	FROM dbo.FACT_VIOLATION_PAYMENTS P
	GROUP BY LAST_INVOICE_ID,VIOLATION_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID--,VIOLATOR_ID
)
, CTE_VIOLATION_PAYMENTS_LAST_ROW AS
(
	SELECT 
		LAST_INVOICE_ID,VIOLATION_ID,VBI_INVOICE_ID,VIOLATOR_ID,SHIFT_ID,POS_ID,PAYMENT_ID,DELIVERY_CODE,PAYMENT_SOURCE_CODE,PAYMENT_FORM,
		ROW_NUMBER() OVER (PARTITION BY LAST_INVOICE_ID, VIOLATION_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID ORDER BY PAYMENT_DATE DESC, DEPOSIT_DATE DESC) RN
	FROM dbo.FACT_VIOLATION_PAYMENTS
)
SELECT 
	P.LAST_INVOICE_ID
	,P.VIOLATION_ID
	,P.VBI_INVOICE_ID
	,P.VIOL_INVOICE_ID
	,L.VIOLATOR_ID -- There can be > 1 Violator_ID who paid - we need only one (the last one) - otherwise TOLL_PAID & FEES_PAID will not be correct
	,P.IS_VTOLL
	,P.PMNT_NBR AS NBR_OF_PMTS
	,ISNULL(NULLIF(L.SHIFT_ID,-1), P.SHIFT_ID) SHIFT_ID
	,ISNULL(NULLIF(L.POS_ID,-1), P.POS_ID) POS_ID
	,L.PAYMENT_ID
	,L.DELIVERY_CODE
	,L.PAYMENT_SOURCE_CODE
	,L.PAYMENT_FORM
	,P.PAYMENT_DATE
	,P.DEPOSIT_DATE 
	,P.TOLL_DUE 
	,P.FEES_DUE 
	,P.INV_TOLL_DUE 
	,P.INV_FEES_DUE 
	,CAST(P.VIOL_AMOUNT	AS DECIMAL(10,2)) AS  VIOL_AMOUNT	
	,CAST(P.VTOLL_AMOUNT AS DECIMAL(10,2)) AS VTOLL_AMOUNT
	,CAST(P.SPLIT_AMOUNT AS DECIMAL(10,2)) AS SPLIT_AMOUNT
	,P.INV_AMOUNT 
	,CAST(CASE WHEN P.SPLIT_AMOUNT > P.TOLL_DUE THEN P.TOLL_DUE ELSE P.SPLIT_AMOUNT END AS DECIMAL(10,2)) TOLL_PAID
	,CAST(CASE WHEN P.SPLIT_AMOUNT > P.TOLL_DUE THEN P.SPLIT_AMOUNT - P.TOLL_DUE ELSE 0 END AS DECIMAL(10,2)) FEES_PAID
FROM CTE_PMNTS_SUMMARY P
JOIN CTE_VIOLATION_PAYMENTS_LAST_ROW L ON L.LAST_INVOICE_ID = P.LAST_INVOICE_ID AND L.VIOLATION_ID = P.VIOLATION_ID AND L.VBI_INVOICE_ID = P.VBI_INVOICE_ID AND L.RN = 1
OPTION (LABEL = 'FACT_VIOLATION_PAYMENTS_SUMMARY LOAD');


EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = 'Finisfed New set FACT_VIOLATION_PAYMENTS_SUMMARY load'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

CREATE STATISTICS STATS_FACT_VIOLATION_PAYMENTS_SUMMARY_000 ON [dbo].FACT_VIOLATION_PAYMENTS_SUMMARY_NEW_SET (LAST_INVOICE_ID)
CREATE STATISTICS STATS_FACT_VIOLATION_PAYMENTS_SUMMARY_001 ON [dbo].FACT_VIOLATION_PAYMENTS_SUMMARY_NEW_SET (VBI_INVOICE_ID,VIOLATION_ID)
CREATE STATISTICS STATS_FACT_VIOLATION_PAYMENTS_SUMMARY_002 ON [dbo].FACT_VIOLATION_PAYMENTS_SUMMARY_NEW_SET (VIOL_INVOICE_ID,VIOLATION_ID)
CREATE STATISTICS STATS_FACT_VIOLATION_PAYMENTS_SUMMARY_003 ON [dbo].FACT_VIOLATION_PAYMENTS_SUMMARY_NEW_SET (VIOLATOR_ID)
CREATE STATISTICS STATS_FACT_VIOLATION_PAYMENTS_SUMMARY_004 ON [dbo].FACT_VIOLATION_PAYMENTS_SUMMARY_NEW_SET (POS_ID)

	---- Replace OLD table with NEW
IF OBJECT_ID('dbo.FACT_VIOLATION_PAYMENTS_SUMMARY_OLD')>0 	DROP TABLE dbo.FACT_VIOLATION_PAYMENTS_SUMMARY_OLD;
IF OBJECT_ID('dbo.FACT_VIOLATION_PAYMENTS_SUMMARY')>0		RENAME OBJECT::dbo.FACT_VIOLATION_PAYMENTS_SUMMARY TO FACT_VIOLATION_PAYMENTS_SUMMARY_OLD;
RENAME OBJECT::dbo.FACT_VIOLATION_PAYMENTS_SUMMARY_NEW_SET TO FACT_VIOLATION_PAYMENTS_SUMMARY;


--DECLARE @TABLE_NAME VARCHAR(50) = 'FACT_VIOLATION_PAYMENTS', @LOG_START_DATE DATETIME2 (2) = GETDATE(), @LOG_MESSAGE VARCHAR(1000) = 'Started full load', @ROW_COUNT BIGINT 

IF OBJECT_ID('dbo.FACT_INVOICE_PAYMENTS_NEW_SET') IS NOT NULL DROP TABLE dbo.FACT_INVOICE_PAYMENTS_NEW_SET;
--EXPLAIN
CREATE TABLE dbo.FACT_INVOICE_PAYMENTS_NEW_SET WITH (CLUSTERED INDEX (PAYMENT_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID), DISTRIBUTION = HASH(LAST_INVOICE_ID)) AS
WITH CTE_GROUP AS
(
	SELECT 
		LAST_INVOICE_ID
		,MAX(PAYMENT_ID) AS PAYMENT_ID
		,VBI_INVOICE_ID
		,VIOL_INVOICE_ID
		,VIOLATOR_ID
		,PAYMENT_DATE
		,DEPOSIT_DATE
		,SHIFT_ID
		,POS_ID
		,DELIVERY_CODE
		,PAYMENT_SOURCE_CODE
		,PAYMENT_FORM
		,MAX(INV_TOLL_DUE) TOLL_DUE
		,MAX(INV_FEES_DUE) FEES_DUE
		,SUM(CASE WHEN IS_VTOLL = 1 THEN 0 ELSE SPLIT_AMOUNT END) VIOL_AMOUNT
		,SUM(CASE WHEN IS_VTOLL = 1 THEN SPLIT_AMOUNT ELSE 0 END) VTOLL_AMOUNT
		,SUM(SPLIT_AMOUNT) PAID_AMOUNT
	FROM dbo.FACT_VIOLATION_PAYMENTS P
	GROUP BY LAST_INVOICE_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID,VIOLATOR_ID,PAYMENT_DATE,DEPOSIT_DATE,SHIFT_ID,POS_ID,DELIVERY_CODE,PAYMENT_SOURCE_CODE,PAYMENT_FORM
)
SELECT 
	LAST_INVOICE_ID
	,PAYMENT_ID
	,VBI_INVOICE_ID
	,VIOL_INVOICE_ID
	,VIOLATOR_ID
	,PAYMENT_DATE
	,DEPOSIT_DATE
	,SHIFT_ID
	,POS_ID
	,DELIVERY_CODE
	,PAYMENT_SOURCE_CODE
	,PAYMENT_FORM
	,TOLL_DUE
	,FEES_DUE
	,CAST(VIOL_AMOUNT  AS DECIMAL(10,2)) AS VIOL_AMOUNT 
	,CAST(VTOLL_AMOUNT AS DECIMAL(10,2)) AS VTOLL_AMOUNT
	,CAST(PAID_AMOUNT  AS DECIMAL(10,2)) AS PAID_AMOUNT 
	,CAST(SUM(VIOL_AMOUNT) OVER (PARTITION BY LAST_INVOICE_ID)  AS DECIMAL(10,2)) AS  INVOICE_VIOL_AMOUNT
	,CAST(SUM(VTOLL_AMOUNT) OVER (PARTITION BY LAST_INVOICE_ID) AS DECIMAL(10,2)) AS INVOICE_VTOLL_AMOUNT
	,CAST(SUM(PAID_AMOUNT) OVER (PARTITION BY LAST_INVOICE_ID)  AS DECIMAL(10,2)) AS  INVOICE_PAID_AMOUNT
FROM CTE_GROUP
OPTION (LABEL = 'FACT_INVOICE_PAYMENTS LOAD'); 

EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
SET  @LOG_MESSAGE = 'Finisfed New set FACT_INVOICE_PAYMENTS load'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

CREATE STATISTICS STATS_FACT_INVOICE_PAYMENTS_000 ON [dbo].FACT_INVOICE_PAYMENTS_NEW_SET (LAST_INVOICE_ID)
CREATE STATISTICS STATS_FACT_INVOICE_PAYMENTS_001 ON [dbo].FACT_INVOICE_PAYMENTS_NEW_SET (VIOLATOR_ID)
CREATE STATISTICS STATS_FACT_INVOICE_PAYMENTS_002 ON [dbo].FACT_INVOICE_PAYMENTS_NEW_SET (POS_ID)
CREATE STATISTICS STATS_FACT_INVOICE_PAYMENTS_003 ON [dbo].FACT_INVOICE_PAYMENTS_NEW_SET (PAYMENT_DATE)
CREATE STATISTICS STATS_FACT_INVOICE_PAYMENTS_004 ON [dbo].FACT_INVOICE_PAYMENTS_NEW_SET (VBI_INVOICE_ID,VIOL_INVOICE_ID)
CREATE STATISTICS STATS_FACT_INVOICE_PAYMENTS_005 ON [dbo].FACT_INVOICE_PAYMENTS_NEW_SET (VIOL_INVOICE_ID)

	---- Replace OLD table with NEW
IF OBJECT_ID('dbo.FACT_INVOICE_PAYMENTS_OLD') > 0 	DROP TABLE		dbo.FACT_INVOICE_PAYMENTS_OLD;
IF OBJECT_ID('dbo.FACT_INVOICE_PAYMENTS') > 0		RENAME OBJECT::	dbo.FACT_INVOICE_PAYMENTS TO FACT_INVOICE_PAYMENTS_OLD;
RENAME OBJECT::dbo.FACT_INVOICE_PAYMENTS_NEW_SET TO FACT_INVOICE_PAYMENTS;



SET  @LOG_MESSAGE = 'Finished full load'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL


if object_id('dbo.cte_violation_payments_main') is not null drop table dbo.cte_violation_payments_main;
if object_id('dbo.cte_split_pmnts') is not null drop table dbo.cte_split_pmnts;
--if object_id('dbo.cte_payments_violations') is not null drop table dbo.cte_payments_violations;
if object_id('dbo.cte_violation_join') is not null drop table dbo.cte_violation_join;

