CREATE PROC [DBO].[FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_LOAD] AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_LOAD
GO

EXEC EDW_RITE.DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_LOAD
*/


/*	
SELECT TOP 100 * FROM FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED 

SELECT MAX(DAY_ID) FROM FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED

SELECT COUNT_BIG(1) FROM FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED 

DBCC PDW_SHOWSPACEUSED('dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED');



*/  


	DECLARE @PARTITION_DATE INT = (SELECT CAST((CONVERT(VARCHAR(6), GETDATE(), 112) + '01') AS INT))
	DECLARE @NEWLASTPARTITION INT = (SELECT CAST((CONVERT(VARCHAR(6), DATEADD(MONTH,3,GETDATE()), 112) + '01') AS INT))
	DECLARE @MAX_BVAL INT
	DECLARE @MAX_PN INT
	DECLARE @PN INT
	DECLARE @SQL VARCHAR(MAX)

	
	--STEP #1: SUMMARY
	IF OBJECT_ID('DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE') IS NOT NULL DROP TABLE DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE

	--EXPLAIN
	CREATE TABLE DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = ROUND_ROBIN) AS -- DISTRIBUTION = HASH(LANE_ID)) AS  --ROUND_ROBIN --DROP TABLE FACT_LANE_ANALYSIS
	SELECT    --DAY_ID,
			  POSTED_DAY_ID
			, U.LANE_ID
			, ISNULL(CAST(VCLY_ID AS INT), -1) VCLY_ID
			, LEVEL_0
			, LEVEL_1
			, LEVEL_2
			, LEVEL_3
			, LEVEL_4
			, LEVEL_5
			, LEVEL_6
			, LEVEL_7
			, LEVEL_8
			, LEVEL_9
			, LEVEL_10
			, ISNULL(COALESCE(NULLIF(LEVEL_10 ,'-1'),NULLIF(LEVEL_9 ,'-1'),NULLIF(LEVEL_8 ,'-1'),NULLIF(LEVEL_7 ,'-1'),NULLIF(LEVEL_6 ,'-1'),NULLIF(LEVEL_5 ,'-1'),NULLIF(LEVEL_4 ,'-1'),NULLIF(LEVEL_3 ,'-1'),NULLIF(LEVEL_2 ,'-1'),NULLIF(LEVEL_1 ,'-1'),LEVEL_0),'') AS END_LEVEL
			, U.LVL_TVL
			, SOURCE_CODE
			, VIOL_STATUS
			, MANUAL_VIOL_FLAG -- U.VIOL_TYPE
			, U.OUT_OF_STATE_IND
			, U.DELETED
			, U.NOT_TRANS_REVIEW_STATUS_ABBREV
			, U.INVOICE_STAGE_ID
			, U.IOP_FLAG
			, U.FLEET_FLAG
			, U.UnPursuable_FLAG
			, U.BAD_ADDRESS_FLAG
			, ISNULL(SUM(U.AMOUNT)		, 0)	AMOUNT
			, ISNULL(COUNT_BIG(1)		, 0)	TXN_CNT 
			, ISNULL(SUM(POS_REV)		, 0)	POS_REV
			, ISNULL(SUM(EAR_REV)		, 0)	EAR_REV
			, ISNULL(SUM(U.TOLL_PAID)	, 0)	TOLL_PAID
			, ISNULL(SUM(U.SPLIT_AMOUNT), 0)	SPLIT_AMOUNT
			, ISNULL(SUM(U.AMT_PAID)	, 0)	AMT_PAID
			, ISNULL(SUM(U.FEES_PAID)	, 0)	FEES_PAID
			, ISNULL(SUM(U.ADJ_REV)		, 0)	ADJ_REV
			, ISNULL(SUM(U.POSTED_REV)	, 0)	POSTED_REV
			--SELECT TOP 100 * 
	FROM dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT U --WHERE DAY_ID BETWEEN 20161231 AND 20161231 --WHERE LANE_ID < 0
	GROUP BY POSTED_DAY_ID, LANE_ID, VCLY_ID, LEVEL_0, LEVEL_1, LEVEL_2, LEVEL_3, LEVEL_4, LEVEL_5, LEVEL_6, LEVEL_7, LEVEL_8, LEVEL_9, LEVEL_10,SOURCE_CODE,LVL_TVL, --DAY_ID, 
				VIOL_STATUS, MANUAL_VIOL_FLAG, OUT_OF_STATE_IND, DELETED, NOT_TRANS_REVIEW_STATUS_ABBREV, INVOICE_STAGE_ID,IOP_FLAG,FLEET_FLAG,UnPursuable_FLAG,BAD_ADDRESS_FLAG
	OPTION (LABEL = 'FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED');
	-- SELECT MAX(DAY_ID) FROM dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED
	--STEP #2: Replace OLD table with NEW

	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_001 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (POSTED_DAY_ID)
	--CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_001 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (DAY_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_002 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (LANE_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_003 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (VCLY_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_004 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (SOURCE_CODE)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_005 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (DELETED)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_009 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (LEVEL_0)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_010 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (LEVEL_1)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_011 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (LEVEL_2)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_012 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (LEVEL_3)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_013 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (LEVEL_4)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_014 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (LEVEL_5)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_015 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (LEVEL_6)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_016 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (LEVEL_7)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_017 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (LEVEL_8)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_018 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (LEVEL_9)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_019 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (LEVEL_10)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_020 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (VIOL_STATUS)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_021 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (MANUAL_VIOL_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_022 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (OUT_OF_STATE_IND)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_023 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (NOT_TRANS_REVIEW_STATUS_ABBREV)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_024 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (INVOICE_STAGE_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_025 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (END_LEVEL)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_026 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (LVL_TVL)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_027 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (IOP_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_028 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (FLEET_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_029 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (UnPursuable_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_030 ON dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE (BAD_ADDRESS_FLAG)

	IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_OLD') IS NOT NULL 	DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_OLD;
	IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED') IS NOT NULL		RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED TO FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_OLD;
	RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_STAGE TO FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED;
	IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_OLD') IS NOT NULL 	DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED_OLD;

	--STEP #3: Create Statistics --dbo.CreateStats 'dbo', 'FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_POSTED'
	

