CREATE PROC [DBO].[TA_TXN_CLASS_DATAS_LOAD] AS 


/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.TA_TXN_CLASS_DATAS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.TA_TXN_CLASS_DATAS_LOAD
GO

EXEC EDW_RITE.DBO.TA_TXN_CLASS_DATAS_LOAD

SELECT TOP 20 * FROM dbo.TA_TXN_CLASS_DATAS
SELECT COUNT_BIG(1) CNT, MIN(TART_ID) TART_ID FROM EDW_RITE.dbo.TOTAL_NET_REV_TFC_EVTS WHERE Local_Time >= '20180401'
SELECT COUNT_BIG(1) FROM dbo.TA_TXN_CLASS_DATAS WHERE TART_ID > = 14375321494 -- 970 896 713
SELECT COUNT_BIG(1) FROM LND_LG_HOST.TXNOWNER.TA_TXN_CLASS_DATAS WHERE TART_ID > = 14375321494  --974656064

*/

BEGIN
	DECLARE @TABLE_NAME VARCHAR(50) = 'TA_TXN_CLASS_DATAS'
	DECLARE @START_DATE DATETIME2 (2),@LOG_MESSAGE VARCHAR(1000),@ROW_COUNT BIGINT
	DECLARE @UPDATE_DATE datetime 

	SET @START_DATE = GETDATE()
	--STEP #1: SET PARAMETER DATE
	
	IF OBJECT_ID('dbo.TA_TXN_CLASS_DATAS') IS NULL 
	BEGIN
		SET @UPDATE_DATE ='1900-01-01' 
	END
	ELSE
	BEGIN
		SET @UPDATE_DATE = (SELECT MAX(LAST_UPDATE_DATE) LAST_UPDATE_DATE FROM dbo.TA_TXN_CLASS_DATAS)
	END
	----PRINT @UPDATE_DATE
	SELECT  @LOG_MESSAGE = 'Started to load updates from ' + CONVERT(VARCHAR(19),@UPDATE_DATE,121)
	EXEC    EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE,  NULL
	
	IF OBJECT_ID('dbo.TA_TXN_CLASS_DATAS_NEW_SET') > 0  DROP TABLE dbo.TA_TXN_CLASS_DATAS_NEW_SET


	--STEP #2: Create the NEW table with DISTRIBUTION = HASH([TART_ID]--Stage Table
	CREATE TABLE dbo.TA_TXN_CLASS_DATAS_NEW_SET WITH (HEAP, DISTRIBUTION = HASH(TART_ID))
	AS 
	SELECT
		CAST(ROUND(A.TART_ID / 500000000, 0) * 500000000 AS BIGINT)  AS PARTITION_VALUES, 
	    A.REV_AXLE_CT, A.ATT_AXLES, A.ATT_CLASS, A.ATT_FARE, A.PRE_AXLES, A.PRE_CLASS, A.PRE_FARE, A.MID_LOOP_CTS,A.ENTRY_LOOP_CTS, A.EXIT_LOOP_CTS, 
		A.UNUSUAL_OCC_CD, A.DISCREPANCY, A.CD_ID, A.TART_ID, A.FWD_AXLE_CT,	A.FWD_AXLES, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
    FROM  LND_LG_HOST.TXNOWNER.TA_TXN_CLASS_DATAS A
	WHERE A.LAST_UPDATE_DATE > @UPDATE_DATE
	--WHERE TART_ID > = 15000000000

	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got all changed rows:'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE, @ROW_COUNT

	CREATE STATISTICS STATS_TA_TXN_CLASS_DATAS_NEW_001 ON TA_TXN_CLASS_DATAS_NEW_SET (TART_ID)

	DECLARE @IDENTITY_COLUMNS VARCHAR(8000) = '[TART_ID]'

	EXEC DBO.PARTITION_SWITCH_NUMBER_BASED_LOAD @TABLE_NAME, @IDENTITY_COLUMNS

	UPDATE STATISTICS dbo.TA_TXN_CLASS_DATAS

	IF OBJECT_ID('dbo.TA_TXN_CLASS_DATAS_NEW_SET') IS NOT NULL DROP TABLE dbo.TA_TXN_CLASS_DATAS_NEW_SET

	SET  @LOG_MESSAGE = 'Load finished'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE, NULL


END


/*
BEGIN

	--STEP #1: SET PARAMETER DATE
	DECLARE @UPDATE_DATE datetime 
	
	IF OBJECT_ID('dbo.TA_TXN_CLASS_DATAS') IS NULL 
	BEGIN
	SET @UPDATE_DATE ='1900-01-01' 
	END

	ELSE
	BEGIN
	SET @UPDATE_DATE =(SELECT MAX(LAST_UPDATE_DATE) LAST_UPDATE_DATE FROM dbo.TA_TXN_CLASS_DATAS)
	END
	--PRINT @UPDATE_DATE



	IF OBJECT_ID('dbo.TA_TXN_CLASS_DATAS_NEW') > 0  DROP TABLE dbo.TA_TXN_CLASS_DATAS_NEW


	--STEP #2: Create the NEW table with DISTRIBUTION = HASH([TART_ID]--Stage Table
	CREATE TABLE dbo.[TA_TXN_CLASS_DATAS_NEW] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TART_ID]))
	AS 
	SELECT *
     FROM  LND_LG_HOST.TXNOWNER.TA_TXN_CLASS_DATAS
	 WHERE LND_LG_HOST.TXNOWNER.TA_TXN_CLASS_DATAS.LAST_UPDATE_DATE > @UPDATE_DATE
			
	CREATE STATISTICS STATS_TA_TXN_CLASS_DATAS_NEW_001 ON TA_TXN_CLASS_DATAS_NEW ([TART_ID])

	   --select * from dbo.TA_TXN_CLASS_DATAS_NEW


	--STEP #2a: INSERT MISSING ONES
	--create table structure
	IF OBJECT_ID('dbo.TA_TXN_CLASS_DATAS') IS NULL
	BEGIN		
		CREATE TABLE dbo.[TA_TXN_CLASS_DATAS] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TART_ID]))
		AS 
		SELECT *
		FROM dbo.TA_TXN_CLASS_DATAS_NEW where 1=2
		CREATE STATISTICS STATS_TA_TXN_CLASS_DATAS_001 ON TA_TXN_CLASS_DATAS ([TART_ID])
	END

	--insert values
    INSERT INTO dbo.[TA_TXN_CLASS_DATAS]

	SELECT 
	    A.REV_AXLE_CT, A.ATT_AXLES, A.ATT_CLASS, A.ATT_FARE, A.PRE_AXLES, A.PRE_CLASS, A.PRE_FARE, A.MID_LOOP_CTS, 
		A.ENTRY_LOOP_CTS, A.EXIT_LOOP_CTS, A.UNUSUAL_OCC_CD, A.DISCREPANCY, A.CD_ID, A.TART_ID, A.FWD_AXLE_CT, 
		A.FWD_AXLES, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE

    FROM  dbo.TA_TXN_CLASS_DATAS_NEW A
    LEFT JOIN  dbo.[TA_TXN_CLASS_DATAS] B ON A.TART_ID = B.TART_ID
    WHERE B.TART_ID IS NULL;

	--STEP #2b: UPDATE THE CHANGED ONES
	UPDATE dbo.[TA_TXN_CLASS_DATAS] 

	SET

  dbo.TA_TXN_CLASS_DATAS.REV_AXLE_CT = B.REV_AXLE_CT
, dbo.TA_TXN_CLASS_DATAS.ATT_AXLES = B.ATT_AXLES
, dbo.TA_TXN_CLASS_DATAS.ATT_CLASS = B.ATT_CLASS
, dbo.TA_TXN_CLASS_DATAS.ATT_FARE = B.ATT_FARE
, dbo.TA_TXN_CLASS_DATAS.PRE_AXLES = B.PRE_AXLES
, dbo.TA_TXN_CLASS_DATAS.PRE_CLASS = B.PRE_CLASS
, dbo.TA_TXN_CLASS_DATAS.PRE_FARE = B.PRE_FARE
, dbo.TA_TXN_CLASS_DATAS.MID_LOOP_CTS = B.MID_LOOP_CTS
, dbo.TA_TXN_CLASS_DATAS.ENTRY_LOOP_CTS = B.ENTRY_LOOP_CTS
, dbo.TA_TXN_CLASS_DATAS.EXIT_LOOP_CTS = B.EXIT_LOOP_CTS
, dbo.TA_TXN_CLASS_DATAS.UNUSUAL_OCC_CD = B.UNUSUAL_OCC_CD
, dbo.TA_TXN_CLASS_DATAS.DISCREPANCY = B.DISCREPANCY
, dbo.TA_TXN_CLASS_DATAS.CD_ID = B.CD_ID
, dbo.TA_TXN_CLASS_DATAS.FWD_AXLE_CT = B.FWD_AXLE_CT
, dbo.TA_TXN_CLASS_DATAS.FWD_AXLES = B.FWD_AXLES
, dbo.TA_TXN_CLASS_DATAS.LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
, dbo.TA_TXN_CLASS_DATAS.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE



	FROM dbo.TA_TXN_CLASS_DATAS_NEW B
	WHERE dbo.[TA_TXN_CLASS_DATAS].TART_ID=B.TART_ID
	AND B.LAST_UPDATE_DATE>@UPDATE_DATE
	AND checksum( dbo.TA_TXN_CLASS_DATAS.REV_AXLE_CT, dbo.TA_TXN_CLASS_DATAS.ATT_AXLES, dbo.TA_TXN_CLASS_DATAS.ATT_CLASS, dbo.TA_TXN_CLASS_DATAS.ATT_FARE, dbo.TA_TXN_CLASS_DATAS.PRE_AXLES, dbo.TA_TXN_CLASS_DATAS.PRE_CLASS, dbo.TA_TXN_CLASS_DATAS.PRE_FARE, dbo.TA_TXN_CLASS_DATAS.MID_LOOP_CTS, dbo.TA_TXN_CLASS_DATAS.ENTRY_LOOP_CTS, dbo.TA_TXN_CLASS_DATAS.EXIT_LOOP_CTS, dbo.TA_TXN_CLASS_DATAS.UNUSUAL_OCC_CD, dbo.TA_TXN_CLASS_DATAS.DISCREPANCY, dbo.TA_TXN_CLASS_DATAS.CD_ID, dbo.TA_TXN_CLASS_DATAS.TART_ID, dbo.TA_TXN_CLASS_DATAS.FWD_AXLE_CT, dbo.TA_TXN_CLASS_DATAS.FWD_AXLES, dbo.TA_TXN_CLASS_DATAS.LAST_UPDATE_TYPE, dbo.TA_TXN_CLASS_DATAS.LAST_UPDATE_DATE)
	<>
	checksum(B.REV_AXLE_CT, B.ATT_AXLES, B.ATT_CLASS, B.ATT_FARE, B.PRE_AXLES, B.PRE_CLASS, B.PRE_FARE, B.MID_LOOP_CTS, B.ENTRY_LOOP_CTS, B.EXIT_LOOP_CTS, B.UNUSUAL_OCC_CD, B.DISCREPANCY, B.CD_ID, B.TART_ID, B.FWD_AXLE_CT, B.FWD_AXLES, B.LAST_UPDATE_TYPE, B.LAST_UPDATE_DATE)


--STEP #3: UPDATE STATISTICS
	UPDATE STATISTICS dbo.[TA_TXN_CLASS_DATAS]
	IF OBJECT_ID('dbo.TA_TXN_CLASS_DATAS_NEW')>0  DROP TABLE dbo.TA_TXN_CLASS_DATAS_NEW

--STEP #4: Total Records
--SELECT COUNT_BIG(1) FROM LND_LG_HOST.TXNOWNER.TA_TXN_CLASS_DATAS; 
END
*/
