CREATE PROC [DBO].[zzzFACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_FINAL_LOAD] AS  

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_FINAL_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_FINAL_LOAD
GO

EXEC EDW_RITE.DBO.FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_FINAL_LOAD @SNAPSHOT_FIRST_DAY_ID
*/

DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @PROCEDURE_NAME VARCHAR(1000), @ERROR_MESSAGE VARCHAR(3000), @LOAD_CONTROL_DATE DATETIME2(2), @THIS_MONTH_BEGIN DATETIME2(2)
--DECLARE @FLAGS_CNT INT
DECLARE @SNAPSHOT_FIRST_DAY_ID INT
--DECLARE @CURRENT_IND_CNT INT
--DECLARE @PERIODS_CNT INT
DECLARE @sql VARCHAR(MAX)
--DECLARE @LAST_DAY_ID INT
--SET @LAST_DAY_ID = CAST(CONVERT(VARCHAR(8), @LOG_START_DATE, 112) AS INT)

SELECT  @SOURCE = 'FACT_UNIFIED_VIOLATION_SNAPSHOT', @LOG_START_DATE = GETDATE(), @PROCEDURE_NAME = 'FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_FINAL_LOAD'

SELECT
	@SNAPSHOT_FIRST_DAY_ID = MIN(DAY_ID),
	--@CURRENT_IND_CNT = SUM(CAST(CURRENT_IND AS INT)),
	--@PERIODS_CNT = COUNT(1),
	@THIS_MONTH_BEGIN = MAX(StartDate)
	--SELECT *
FROM EDW_RITE.dbo.PARTITION_DAY_ID_CONTROL 
WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND CURRENT_IND = 1  --DAY_ID BETWEEN @SNAPSHOT_FIRST_DAY_ID AND @LAST_DAY_ID 

--SET @THIS_MONTH_BEGIN = CAST(LEFT(CONVERT(VARCHAR(8), @LOG_START_DATE, 112), 6) + '01' AS DATETIME2(2))


--IF @FLAGS_CNT = @CURRENT_IND_CNT -- This means all periods was loaded to stage table
--BEGIN
--IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE') IS NOT NULL
IF (ISNULL(@SNAPSHOT_FIRST_DAY_ID, 0) > 0 AND OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE') IS NOT NULL)
BEGIN

	--IF @FLAGS_CNT > 0 
	--BEGIN

		BEGIN TRY
			
			--IF @CURRENT_IND_CNT = @PERIODS_CNT
			--BEGIN
				EXECUTE EDW_RITE.DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_FINAL_LOAD
			--END
			--ELSE
			--BEGIN
			--	EXECUTE EDW_RITE.DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_FINAL_SWITCH_LOAD
			--END

			UPDATE EDW_RITE.DBO.PARTITION_DAY_ID_CONTROL
			SET CURRENT_IND = 0
				,FLAG_1 = 0
				,FLAG_2 = 0
				,FLAG_3 = 0
				,FLAG_4 = 0
				,FLAG_5 = 0
				,FLAG_6 = 0
				,FLAG_7 = 0
				,FLAG_8 = 0
			WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND CURRENT_IND = 1 --AND DAY_ID BETWEEN 20150100 AND @LAST_DAY_ID

			IF OBJECT_ID('FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE') IS NOT NULL DROP TABLE DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE
			IF OBJECT_ID('dbo.FACT_UVS_NEW') IS NOT NULL DROP TABLE dbo.FACT_UVS_NEW;	

		END	TRY	
		BEGIN CATCH
			SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
		
			SET @ERROR_MESSAGE = @PROCEDURE_NAME + ' FAILED: ' + @ERROR_MESSAGE
			EXEC  EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  -1

		END CATCH
	--END
	
	IF @ERROR_MESSAGE IS NULL
	BEGIN

		SET @PROCEDURE_NAME = 'FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_LOAD'
		--SELECT	@LOAD_CONTROL_DATE = LAST_RUN_DATE FROM	EDW_RITE.dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = @PROCEDURE_NAME
		--IF @LOAD_CONTROL_DATE IS NULL 
		--BEGIN
		--	SET @LOAD_CONTROL_DATE = '1990-01-01'-- CAST(LEFT(CONVERT(VARCHAR(8), @START_DATE, 112), 6) + '01' AS DATETIME2(2)) 
		--	DELETE FROM EDW_RITE.dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = @PROCEDURE_NAME
		--	INSERT	INTO EDW_RITE.dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = @PROCEDURE_NAME, LAST_RUN_DATE = @LOAD_CONTROL_DATE
		--END

		--IF @THIS_MONTH_BEGIN > @LOAD_CONTROL_DATE
		--BEGIN
			-- The last step is not in the loop

			BEGIN TRY
				SET @sql = 'EXECUTE EDW_RITE.DBO.' + @PROCEDURE_NAME --FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_LOAD
				EXECUTE (@sql);

				UPDATE EDW_RITE.dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @THIS_MONTH_BEGIN WHERE TABLE_NAME = @PROCEDURE_NAME

			END	TRY	
			BEGIN CATCH
				SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
		
				SET @ERROR_MESSAGE = @PROCEDURE_NAME + ' FAILED: ' + @ERROR_MESSAGE
				EXEC    EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  -1

			END CATCH

		--END

		SET @PROCEDURE_NAME = 'FACT_TOLL_TAG_PENETRATION_LOAD'
		--SELECT	@LOAD_CONTROL_DATE = LAST_RUN_DATE FROM	EDW_RITE.dbo.LOAD_PROCESS_CONTROL WHERE	TABLE_NAME = @PROCEDURE_NAME
		--IF @LOAD_CONTROL_DATE IS NULL 
		--BEGIN
		--	SET @LOAD_CONTROL_DATE = '1990-01-01'-- CAST(LEFT(CONVERT(VARCHAR(8), @START_DATE, 112), 6) + '01' AS DATETIME2(2)) 
		--	DELETE FROM EDW_RITE.dbo.LOAD_PROCESS_CONTROL WHERE TABLE_NAME = @PROCEDURE_NAME
		--	INSERT	INTO EDW_RITE.dbo.LOAD_PROCESS_CONTROL SELECT TABLE_NAME = @PROCEDURE_NAME, LAST_RUN_DATE = @LOAD_CONTROL_DATE
		--END

		--IF @THIS_MONTH_BEGIN > @LOAD_CONTROL_DATE
		--BEGIN

			BEGIN TRY
				SET @sql = 'EXECUTE EDW_RITE.DBO.' + @PROCEDURE_NAME --FACT_TOLL_TAG_PENETRATION_LOAD
				EXECUTE (@sql);

				UPDATE EDW_RITE.dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @THIS_MONTH_BEGIN WHERE TABLE_NAME = @PROCEDURE_NAME
			END	TRY	
			BEGIN CATCH
				SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
		
				SET @ERROR_MESSAGE = @PROCEDURE_NAME + ' FAILED: ' + @ERROR_MESSAGE
				EXEC    EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  -1

			END CATCH

		--END
	END -- IF @ERROR_MESSAGE IS NULL
	

END  

