CREATE PROC [DBO].[FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE_LOAD] @START_DAY_ID [INT],@END_DAY_ID [INT] AS 

/*
EXEC DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE_LOAD 20180101, 20180331

USE EDW_RITE 
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE_LOAD
GO


*/

----TESTING PARAMETERS ONLY!!!!!!!!!!!!!!!!!!
--DECLARE
--	@START_DAY_ID INT --= 20150701
--	,@END_DAY_ID INT --= 20150731

DECLARE @sql VARCHAR(MAX)

DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT, @LOG_PATTERN VARCHAR(1000)

DECLARE @FROM_DAY_ID INT = CAST(CONVERT(VARCHAR(8),@START_DAY_ID) AS INT)  --In theory it can be not only beginning of the month
DECLARE @TO_DAY_ID  INT = CAST(CONVERT(VARCHAR(8),@END_DAY_ID) AS INT)		--In theory it can be not only ending of the month
DECLARE @ERROR BIT = 0

SELECT  @SOURCE = 'FACT_UNIFIED_VIOLATION_SNAPSHOT', @LOG_START_DATE = GETDATE(), @LOG_PATTERN = 'FACT_UNIFIED_VIOLATION_SNAPSHOT_LOAD STAGE from: ' + CAST(@FROM_DAY_ID AS VARCHAR(8)) + ' to: ' + CAST(@TO_DAY_ID AS VARCHAR(8)) + ': '
--EXEC    dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE,  NULL

--STEP 1
IF OBJECT_ID('dbo.FACT_UVS_LANE_VIOL_STAGE') IS NULL
BEGIN
	--IF OBJECT_ID('dbo.FACT_UVS_LANE_VIOL_STAGE') IS NOT NULL DROP TABLE dbo.FACT_UVS_LANE_VIOL_STAGE;	
	CREATE TABLE dbo.FACT_UVS_LANE_VIOL_STAGE WITH (CLUSTERED INDEX (LANE_FILE_ID), DISTRIBUTION = HASH(LANE_FILE_ID)) AS 
	WITH VPS AS
	(
		SELECT TRANSACTION_ID, DISPOSITION, LANE_VIOL_ID, CAST(VTOLL_SEND_DATE AS DATE) VTOLL_SEND_DATE,POSTED_REVENUE AS VTOLL_REV
		FROM dbo.VPS_HOST_TRANSACTIONS 
		WHERE DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID AND LANE_VIOL_ID > -1
	)
	, HT AS 
	(	SELECT	 
			CAST(SOURCE_TRXN_ID AS DECIMAL(14, 0))  AS TRANSACTION_ID, F.TTXN_ID, AMOUNT AS TOLL_REV, CAST(POSTED_DATE AS DATE) POSTED_DATE, SOURCE_CODE, ACCT_ID, TAG_ID, F.AGENCY_ID,F.LICENSE_PLATE_ID,LICENSE_PLATE_NBR AS LIC_PLATE,LIC_STATE --, VHT.DISPOSITION, VHT.VTOLL_SEND_DATE
		FROM dbo.FACT_TOLL_TRANSACTIONS F 	
		--LEFT JOIN dbo.TOLL_TAGS T ON T.TT_ID = F.TT_ID
		LEFT JOIN dbo.DIM_LICENSE_PLATE L ON L.LICENSE_PLATE_ID = F.LICENSE_PLATE_ID
		WHERE DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID AND SOURCE_CODE IN ('M','O','V','W','X','Z') AND CREDITED_FLAG =  'N'
	)
	, IOP  AS 
	(	-- EXPLAIN
		SELECT	SOURCE_TXN_ID, POSTED_REVENUE AS IOP_REV,  TAG_ID, I.AGENCY_CODE AS AGENCY_ID,I.LICENSE_PLATE_ID,LICENSE_PLATE_NBR AS LIC_PLATE_NBR,LIC_PLATE_STATE,DISPOSITION, 
				CASE WHEN DISPOSITION = 'P' THEN 1 ELSE 0 END AS IOP_FLAG, 
				CASE WHEN DISPOSITION = 'P' THEN CAST(POSTED_DATE AS DATE) ELSE NULL END AS POSTED_DATE,
				CASE WHEN DISPOSITION = 'P' THEN CAST(SOURCE_CODE AS VARCHAR(2)) ELSE NULL END AS SOURCE_CODE,
				--1 AS IOP_FLAG,CAST(POSTED_DATE AS DATE) POSTED_DATE, 
				CASE WHEN L.LANE_ID IS NOT NULL 
					THEN CASE WHEN I.TVL_TAG_STATUS IS NULL AND TAG_ID IS NULL THEN 'LVL' ELSE 'TVL' END 
					ELSE NULL	
				END	LVL_TVL 
		FROM dbo.FACT_IOP_TGS AS I				
		LEFT JOIN dbo.DIM_LANE L ON I.LANE_ID = L.LANE_ID AND L.AGENCY_ID = 2 AND L.SUB_AGENCY_ABBREV IN ('NTTA SPS','NTTA SYSTEM','SPS')
		--LEFT JOIN dbo.TOLL_TAGS T ON T.TT_ID = I.TT_ID
		LEFT JOIN dbo.DIM_LICENSE_PLATE LP ON LP.LICENSE_PLATE_ID = I.LICENSE_PLATE_ID
		--LEFT JOIN dbo.DIM_LICENSE_PLATE AS LP ON I.LIC_PLATE_NBR = LP.LICENSE_PLATE_NBR AND I.LIC_PLATE_STATE = LP.LICENSE_PLATE_STATE
		WHERE DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID AND SOURCE_CODE = 'V' -- AND DISPOSITION = 'P'
	)
	, IVX AS 
	(
		SELECT VPS.LANE_VIOL_ID, VPS.TRANSACTION_ID,COALESCE(IOP.DISPOSITION,VPS.DISPOSITION) DISPOSITION,VPS.VTOLL_SEND_DATE,HT.ACCT_ID,COALESCE(IOP.LICENSE_PLATE_ID,HT.LICENSE_PLATE_ID) LICENSE_PLATE_ID,COALESCE(IOP.LIC_PLATE_NBR,HT.LIC_PLATE) LIC_PLATE_NBR,COALESCE(IOP.LIC_PLATE_STATE,HT.LIC_STATE) LIC_PLATE_STATE,
				CAST(COALESCE(HT.TTXN_ID, IOP.SOURCE_TXN_ID) AS BIGINT) TTXN_ID,COALESCE(IOP.TAG_ID, HT.TAG_ID) TAG_ID,COALESCE(NULLIF(IOP.IOP_REV * IOP.IOP_FLAG,0),NULLIF(HT.TOLL_REV,0)) POSTED_REVENUE,IOP.IOP_REV,HT.TOLL_REV,VPS.VTOLL_REV,IOP.IOP_FLAG,
				IOP.LVL_TVL,COALESCE(IOP.SOURCE_CODE,HT.SOURCE_CODE) SOURCE_CODE, COALESCE(IOP.AGENCY_ID,HT.AGENCY_ID) AGENCY_ID, COALESCE(NULLIF(IOP.POSTED_DATE,'1900-01-01'),NULLIF(HT.POSTED_DATE,'1900-01-01')) POSTED_DATE
		FROM VPS 
		LEFT JOIN  IOP	ON IOP.SOURCE_TXN_ID = VPS.TRANSACTION_ID 
		LEFT JOIN  HT 	ON HT.TRANSACTION_ID = VPS.TRANSACTION_ID 
	)
	, V  AS 
	(	SELECT	V.LANE_VIOL_ID,V.VIOLATION_ID,V.VIOL_STATUS,V.VIOL_DATE,V.STATUS_DATE,V.MANUAL_VIOL_FLAG,V.DRIVER_LIC_STATE,ISNULL(V.VIOLATOR_ID, I.VIOLATOR_ID) AS VIOLATOR_ID,V.VEHICLE_CLASS,
				V.DMV_STS,V.TXN_NAME,V.LICENSE_PLATE_ID,V.LIC_PLATE_NBR,V.LIC_PLATE_STATE,V.TOLL_DUE,V.TOLL_PAID,V.TAG_ID,V.AGENCY_ID,--V.DISPOSITION,
				I.VBI_INVOICE_ID,I.VIOL_INVOICE_ID,I.PAYMENT_DATE,I.DEPOSIT_DATE,I.SPLIT_AMOUNT,I.FEES_PAID, I.TOLL_PAID AS AMOUNT_PAID,
				I.VBI_INVOICE_DATE,I.VBI_STATUS,I.VI_INVOICE_DATE,I.VIOL_INV_STATUS,I.INVOICE_STAGE_ID,V.FLEET_FLAG, 
				V.EXCUSED_REASON,V.DATE_EXCUSED,V.EXCUSED_BY
				-- SELECT COUNT_BIG(1)
		FROM (
				SELECT	VIOLATION_ID,VIOL_STATUS,CAST(VIOL_DATE AS DATE) VIOL_DATE,CAST(STATUS_DATE AS DATE) STATUS_DATE,CAST(CASE WHEN VIOL_TYPE = 'M' THEN 1 ELSE 0 END AS SMALLINT) MANUAL_VIOL_FLAG, DRIVER_LIC_STATE,VIOLATOR_ID,LANE_VIOL_ID,--DISPOSITION,
						DMV_STS,TXN_NAME,LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,TOLL_DUE,TOLL_PAID,VEHICLE_CLASS,TAG_ID,AGENCY_ID,FLEET_FLAG,
						EXCUSED_REASON,CAST(DATE_EXCUSED AS DATE) DATE_EXCUSED,EXCUSED_BY
				FROM dbo.FACT_VIOLATIONS_DETAIL	WHERE DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID
			)  AS V
		LEFT JOIN (
					SELECT	I.VBI_INVOICE_ID,I.VIOL_INVOICE_ID,CAST(PAYMENT_DATE AS DATE) PAYMENT_DATE,CAST(DEPOSIT_DATE AS DATE) DEPOSIT_DATE,I.SPLIT_AMOUNT,I.FEES_PAID, I.TOLL_PAID,VIOLATOR_ID,
							I.VIOLATION_ID,CAST(VBI_INVOICE_DATE AS DATE) VBI_INVOICE_DATE,I.VBI_STATUS,CAST(VI_INVOICE_DATE AS DATE) VI_INVOICE_DATE,I.VIOL_INV_STATUS,I.INVOICE_STAGE_ID
					FROM dbo.FACT_UNIFIED_VIOLATION_INVOICE I WHERE CURRENT_FLAG = 1 AND DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID
					) I ON V.VIOLATION_ID = I.VIOLATION_ID
	)
	, L  AS 
	(	SELECT	CASE WHEN HIX.TART_ID IS NULL THEN 'FILE' + CAST(ISNULL(L.TRANSACTION_FILE_DETAIL_ID, -1) AS VARCHAR(10)) ELSE 'T' + CAST(HIX.TART_ID AS VARCHAR(11)) END AS LANE_FILE_ID,
				L.LANE_VIOL_ID,L.VIOL_DATE,L.AXLE_COUNT,L.LANE_VIOL_STATUS,L.REVIEW_STATUS AS LANE_REVIEW_STATUS,L.VIOLATION_CODE,L.VIOL_CREATED,
				COALESCE(IVX.LICENSE_PLATE_ID,L.LICENSE_PLATE_ID) LICENSE_PLATE_ID,COALESCE(IVX.LIC_PLATE_NBR,L.LIC_PLATE_NBR) LIC_PLATE_NBR,COALESCE(IVX.LIC_PLATE_STATE,L.LIC_PLATE_STATE) LIC_PLATE_STATE,
				L.REVIEW_DATE,L.VIOL_REJECT_TYPE,L.TOLL_DUE,L.TOLL_PAID,NP.REVIEW_STATUS_ABBREV AS NOT_TRANS_REVIEW_STATUS_ABBREV, IVX.IOP_REV,IVX.TOLL_REV,IVX.VTOLL_REV,IVX.IOP_FLAG, --
				IVX.TRANSACTION_ID,IVX.DISPOSITION,IVX.VTOLL_SEND_DATE,IVX.ACCT_ID,IVX.TTXN_ID,IVX.TAG_ID,IVX.POSTED_REVENUE,IVX.SOURCE_CODE,IVX.AGENCY_ID,IVX.POSTED_DATE,IVX.LVL_TVL			
		FROM (
					SELECT		LANE_VIOL_ID,TRANSACTION_FILE_DETAIL_ID,CAST(VIOL_DATE AS DATE) VIOL_DATE,AXLE_COUNT,LANE_VIOL_STATUS,REVIEW_STATUS,VIOLATION_CODE,VIOL_CREATED,
								L.LICENSE_PLATE_ID,LICENSE_PLATE_NBR AS LIC_PLATE_NBR,LIC_PLATE_STATE,CAST(REVIEW_DATE AS DATE) REVIEW_DATE,VIOL_REJECT_TYPE,TOLL_DUE,TOLL_PAID
					FROM dbo.FACT_LANE_VIOLATIONS_DETAIL L		
					LEFT JOIN dbo.DIM_LICENSE_PLATE LP ON LP.LICENSE_PLATE_ID = L.LICENSE_PLATE_ID
					WHERE DAY_ID BETWEEN  @FROM_DAY_ID AND @TO_DAY_ID 
			) L 
		LEFT JOIN (		SELECT REVIEW_STATUS_ABBREV,LANE_VIOL_ID 
						FROM dbo.FACT_NOT_TRANSFERRED_TO_VPS_DETAIL WHERE DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID
					) NP											ON  NP.LANE_VIOL_ID = L.LANE_VIOL_ID 
		LEFT JOIN  IVX												ON IVX.LANE_VIOL_ID = L.LANE_VIOL_ID 
		LEFT JOIN  dbo.HOST_ICRS_XREF HIX							ON HIX.LANE_VIOL_ID = L.LANE_VIOL_ID 
	)
	SELECT  
		L.LANE_FILE_ID																	AS  LANE_FILE_ID
		,L.LANE_VIOL_ID																	AS  LANE_VIOL_ID
		,COALESCE(NULLIF(V.VIOL_DATE,'1900-01-01'), L.VIOL_DATE)						AS  VIOL_DATE
		,COALESCE(NULLIF(V.VEHICLE_CLASS,-1),L.AXLE_COUNT)								AS  AXLE_COUNT
		,L.LANE_VIOL_STATUS																AS  LANE_VIOL_STATUS
		,L.LANE_REVIEW_STATUS															AS  LANE_REVIEW_STATUS
		,L.VIOLATION_CODE																AS  VIOLATION_CODE
		,L.VIOL_CREATED																	AS  VIOL_CREATED
		,COALESCE(NULLIF(V.LICENSE_PLATE_ID,-1),L.LICENSE_PLATE_ID)						AS  LICENSE_PLATE_ID
		,COALESCE(NULLIF(V.LIC_PLATE_NBR,'-1'),L.LIC_PLATE_NBR)							AS  LIC_PLATE_NBR
		,COALESCE(NULLIF(V.LIC_PLATE_STATE,'-1'),L.LIC_PLATE_STATE)						AS  LIC_PLATE_STATE
		,L.REVIEW_DATE																	AS  REVIEW_DATE
		,L.VIOL_REJECT_TYPE																AS  VIOL_REJECT_TYPE
		,COALESCE(NULLIF(V.TOLL_DUE,0), L.TOLL_DUE)										AS  TOLL_DUE
		--,COALESCE(NULLIF(V.TOLL_PAID,0), L.TOLL_PAID)									AS  TOLL_PAID
		,CASE	
			WHEN ISNULL(V.VIOL_STATUS,'') = 'P' AND ISNULL(V.TOLL_PAID,0) = 0 THEN ISNULL(V.TOLL_DUE,L.TOLL_DUE) 
			WHEN L.LANE_VIOL_STATUS = 'C' THEN ISNULL(V.TOLL_PAID,0) 
			ELSE COALESCE(NULLIF(V.TOLL_PAID,0), L.TOLL_PAID)  
		END TOLL_PAID
		,V.VIOLATION_ID																	AS  VIOLATION_ID
		,V.STATUS_DATE																	AS  STATUS_DATE
		,V.MANUAL_VIOL_FLAG																AS  MANUAL_VIOL_FLAG
		,V.DRIVER_LIC_STATE																AS  DRIVER_LIC_STATE
		,V.VIOLATOR_ID																	AS  VIOLATOR_ID
		,V.VIOL_STATUS																	AS  VIOL_STATUS
		,L.TRANSACTION_ID																AS  TRANSACTION_ID
		,L.DISPOSITION																	AS  DISPOSITION
		,L.VTOLL_SEND_DATE																AS  VTOLL_SEND_DATE	
		,L.TTXN_ID																		AS  TTXN_ID		
		,L.LVL_TVL																		AS  LVL_TVL		
		,ISNULL(NULLIF(V.PAYMENT_DATE,'1900-01-01'),NULLIF(L.POSTED_DATE,'1900-01-01'))	AS  POSTED_DATE
		,L.POSTED_REVENUE																AS  POSTED_REVENUE
		,L.IOP_REV																		AS  IOP_REV
		,L.TOLL_REV																		AS  TOLL_REV
		,L.VTOLL_REV																	AS  VTOLL_REV
		,L.IOP_FLAG																		AS  IOP_FLAG
		,CAST(L.SOURCE_CODE AS VARCHAR(2))												AS  SOURCE_CODE
		,L.ACCT_ID																		AS  ACCT_ID
		,COALESCE(NULLIF(V.TAG_ID,'-1'), L.TAG_ID)										AS  TAG_ID
		,COALESCE(NULLIF(V.AGENCY_ID,'-1'), L.AGENCY_ID)								AS  AGENCY_ID
		,V.DMV_STS																		AS  DMV_STS
		,V.TXN_NAME																		AS  TXN_NAME
		,L.NOT_TRANS_REVIEW_STATUS_ABBREV												AS  NOT_TRANS_REVIEW_STATUS_ABBREV
		,V.VBI_INVOICE_ID																AS  VBI_INVOICE_ID
		,V.VIOL_INVOICE_ID																AS  VIOL_INVOICE_ID
		,V.PAYMENT_DATE																	AS  PAYMENT_DATE
		,V.DEPOSIT_DATE																	AS  DEPOSIT_DATE
		,V.SPLIT_AMOUNT																	AS  SPLIT_AMOUNT
		,V.FLEET_FLAG																	AS  FLEET_FLAG
		,V.FEES_PAID																	AS  FEES_PAID
		,V.AMOUNT_PAID																	AS  AMT_PAID
		,V.VBI_INVOICE_DATE																AS  VBI_INVOICE_DATE
		,V.VBI_STATUS																	AS  VBI_STATUS
		,V.VI_INVOICE_DATE																AS  VI_INVOICE_DATE
		,V.VIOL_INV_STATUS																AS  VIOL_INV_STATUS
		,V.INVOICE_STAGE_ID																AS  INVOICE_STAGE_ID
		,V.EXCUSED_REASON,V.DATE_EXCUSED,V.EXCUSED_BY
	FROM L			
	LEFT JOIN V	ON V.LANE_VIOL_ID = L.LANE_VIOL_ID
	WHERE L.LANE_FILE_ID <> 'FILE-1'
	OPTION (LABEL = 'FACT_UNIFIED_VIOLATION_SNAPSHOT STEP1 LOAD <<L query>>');

	EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = @LOG_PATTERN + ' The L query Stage table finished.'
	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT
END

--STEP 2
IF (OBJECT_ID('dbo.FACT_UVS_LANE_VIOL_STAGE') IS NOT NULL AND OBJECT_ID('dbo.FACT_UVS_NET_REV_STAGE') IS NULL)
BEGIN
	--IF OBJECT_ID('dbo.FACT_UVS_NET_REV_STAGE') IS NOT NULL DROP TABLE dbo.FACT_UVS_NET_REV_STAGE;	
	CREATE TABLE dbo.FACT_UVS_NET_REV_STAGE WITH (CLUSTERED INDEX (LANE_FILE_ID), DISTRIBUTION = HASH(LANE_FILE_ID)) AS 
	WITH HT AS 
	(	
		SELECT SOURCE_TRXN_ID AS TART_ID, TTXN_ID, AMOUNT AS TOLL_REV, CAST(POSTED_DATE AS DATE) POSTED_DATE, CAST(SOURCE_CODE AS VARCHAR(2)) SOURCE_CODE, ACCT_ID, TAG_ID, F.AGENCY_ID,F.LICENSE_PLATE_ID,LICENSE_PLATE_NBR AS LIC_PLATE,LIC_STATE 
		FROM dbo.FACT_TOLL_TRANSACTIONS F
		--LEFT JOIN dbo.TOLL_TAGS T ON T.TT_ID = F.TT_ID
		LEFT JOIN dbo.DIM_LICENSE_PLATE LP ON LP.LICENSE_PLATE_ID = F.LICENSE_PLATE_ID
		WHERE	SOURCE_CODE = 'H' AND CREDITED_FLAG = 'N' AND DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID--) F			
	)
	,IOP AS
	(
		SELECT	SOURCE_TXN_ID, POSTED_REVENUE AS IOP_REV, CAST(SOURCE_CODE AS VARCHAR(2)) SOURCE_CODE,TAG_ID, I.AGENCY_CODE AS AGENCY_ID, I.LICENSE_PLATE_ID,LICENSE_PLATE_NBR AS LIC_PLATE_NBR,LIC_PLATE_STATE, 
				--1 AS IOP_FLAG,CAST(POSTED_DATE AS DATE) POSTED_DATE
				CASE WHEN DISPOSITION = 'P' THEN CAST(POSTED_DATE AS DATE) ELSE NULL END AS POSTED_DATE,CASE WHEN DISPOSITION = 'P' THEN 1 ELSE 0 END AS IOP_FLAG,
				CASE WHEN L.LANE_ID IS NOT NULL 
					THEN CASE WHEN I.TVL_TAG_STATUS IS NULL AND TAG_ID IS NULL THEN 'LVL' ELSE 'TVL' END 
					ELSE NULL	
				END	LVL_TVL 
		FROM	dbo.FACT_IOP_TGS I 
		LEFT JOIN dbo.DIM_LANE L ON I.LANE_ID = L.LANE_ID AND L.AGENCY_ID = 2 AND L.SUB_AGENCY_ABBREV IN ('NTTA SPS','NTTA SYSTEM','SPS')
		--LEFT JOIN dbo.TOLL_TAGS T ON T.TT_ID = I.TT_ID
		LEFT JOIN dbo.DIM_LICENSE_PLATE LP ON LP.LICENSE_PLATE_ID = I.LICENSE_PLATE_ID
		--LEFT JOIN dbo.DIM_LICENSE_PLATE AS LP ON I.LIC_PLATE_NBR = LP.LICENSE_PLATE_NBR AND I.LIC_PLATE_STATE = LP.LICENSE_PLATE_STATE
		WHERE	SOURCE_CODE = 'H' AND DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID	-- AND DISPOSITION = 'P' 
	)
	SELECT	CASE WHEN ISNULL(F.TRANSACTION_FILE_DETAIL_ID, -1) = -1 THEN 'T' + CAST(F.TART_ID AS VARCHAR(11)) ELSE 'FILE' + CAST(ISNULL(F.TRANSACTION_FILE_DETAIL_ID, -1) AS VARCHAR(10)) END AS LANE_FILE_ID,
		F.TART_ID,F.DAY_ID,F.PMTY_ID,F.VES_SERIAL_NO,F.LANE_ID,F.Local_Time,F.VCLY_ID,F.AVI_TAG_STATUS,	F.EAR_REV,COALESCE(NULLIF(IOP.IOP_REV * IOP.IOP_FLAG,0),F.ACT_REV) POS_REV, 
		COALESCE(NULLIF(IOP.IOP_REV * IOP.IOP_FLAG,0),HT.TOLL_REV) POSTED_REVENUE,IOP.IOP_REV,HT.TOLL_REV,IOP.IOP_FLAG,F.TXID_ID, F.DELETED,
		CAST(COALESCE(IOP.SOURCE_TXN_ID, HT.TTXN_ID) AS BIGINT) TTXN_ID, COALESCE(IOP.TAG_ID, HT.TAG_ID) TAG_ID,IOP.LVL_TVL,
		COALESCE(IOP.SOURCE_CODE,HT.SOURCE_CODE) SOURCE_CODE,COALESCE(IOP.AGENCY_ID, HT.AGENCY_ID) AGENCY_ID, COALESCE(NULLIF(IOP.POSTED_DATE,'1900-01-01'),HT.POSTED_DATE) POSTED_DATE,
		F.TRANSACTION_FILE_DETAIL_ID,COALESCE(HT.LICENSE_PLATE_ID, IOP.LICENSE_PLATE_ID) AS LICENSE_PLATE_ID,COALESCE(HT.LIC_PLATE, IOP.LIC_PLATE_NBR) AS LIC_PLATE_NBR,COALESCE(HT.LIC_STATE, IOP.LIC_PLATE_STATE) AS LIC_PLATE_STATE, HT.ACCT_ID
	FROM (	
			SELECT TART_ID,DAY_ID,PMTY_ID,VES_SERIAL_NO,LANE_ID,Local_Time,VCLY_ID,AVI_TAG_STATUS,EAR_REV,ACT_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,DELETED  
			FROM dbo.FACT_NET_REV_TFC_EVTS WHERE DAY_ID BETWEEN @FROM_DAY_ID AND @TO_DAY_ID AND TART_ID IS NOT NULL
		) F
	LEFT JOIN HT									ON HT.TART_ID = F.TART_ID  
	LEFT JOIN IOP									ON IOP.SOURCE_TXN_ID = F.TART_ID  
	OPTION (LABEL = 'FACT_UNIFIED_VIOLATION_SNAPSHOT LOAD <<F query>>');

--LANE_FILE_ID,TART_ID,DAY_ID,PMTY_ID,VCLY_ID,AVI_TAG_STATUS,LANE_ID,Local_Time,EAR_REV,POS_REV,TXID_ID,TRANSACTION_FILE_DETAIL_ID,VES_SERIAL_NO,LANE_VIOL_ID,
--LICENSE_PLATE_ID,LIC_PLATE_NBR,LIC_PLATE_STATE,TTXN_ID,POSTED_REVENUE,IOP_REV,TOLL_REV,IOP_FLAG,POSTED_DATE,SOURCE_CODE,ACCT_ID,TAG_ID,AGENCY_ID,DELETED

	EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = @LOG_PATTERN + ' The F query Stage table finished.'
	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

END

--STEP 3
IF (OBJECT_ID('dbo.FACT_UVS_NET_REV_STAGE') IS NOT NULL AND OBJECT_ID('dbo.FACT_UVS_LANE_VIOL_STAGE') IS NOT NULL)
BEGIN

	DECLARE @CURRENT_DATE VARCHAR(8)
	SET @CURRENT_DATE = LEFT(CONVERT(VARCHAR(8), @LOG_START_DATE,112), 6) + '01'

	IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE') IS NOT NULL DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE;	
	CREATE TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE WITH (HEAP, DISTRIBUTION = HASH(TART_ID)) AS  
	SELECT  	
		CASE 
			WHEN TXID_ID = -14800
					THEN 'AUTO FLUSHES'
			WHEN PMTY_ID NOT IN (3,7,8)
					THEN 'CASH/UNPAID/NON-REV'
			WHEN PMTY_ID = 3 AND TXID_ID = -13800
					THEN 'TAGFLUSH'
			WHEN PMTY_ID = 3
					THEN 'AVI'
			WHEN PMTY_ID IN (7,8)
					THEN 'VIDEO'
			ELSE 'NOT POSTED'
		END AS LEVEL_0
		,CASE 
			WHEN PMTY_ID = 6
					THEN 'NON-REV'
			--WHEN PMTY_ID = 3 AND TXID_ID = -13800
			--		THEN 'TAGFLUSH'
			WHEN COALESCE(L.IOP_FLAG, F.IOP_FLAG,-1) >= 0 
				--PMTY_ID = 3
				--	AND COALESCE(NULLIF(L.ACCT_ID,-1),F.ACCT_ID,-1) = -1						
				--	AND COALESCE(NULLIF(L.TAG_ID,'-1'),F.TAG_ID,'-1') <> '-1' 
				--	AND COALESCE(NULLIF(L.AGENCY_ID,'-1'),F.AGENCY_ID) NOT IN ('-1','DNT')
					THEN 'IOP'
			WHEN PMTY_ID = 3 
					THEN 'TOLLTAG'
			WHEN PMTY_ID IN (7, 8) AND F.VES_SERIAL_NO = 0
					THEN 'No Image'
			WHEN LANE_REVIEW_STATUS IN ('D','R','E','F','O','N')
					THEN 'IMAGES ENTERING ICRS'
			ELSE 'IMAGES NOT ENTERING ICRS'
		END AS LEVEL_1
		,CASE 
			WHEN LANE_REVIEW_STATUS IN ('O')
					THEN 'Auto OCR Pass'
			WHEN LANE_REVIEW_STATUS IN ('D','R','E')
					THEN 'Manual Review'
			WHEN LANE_REVIEW_STATUS IN ('N')
					THEN 'Pending Review'
			ELSE '-1'
		END  AS LEVEL_2
		,CASE 
			WHEN LANE_REVIEW_STATUS IN ('D')
					THEN 'Images Discarded'
			WHEN LANE_REVIEW_STATUS IN ('R','E')
					THEN 'Images Kept'
			WHEN LANE_REVIEW_STATUS IN ('N')
					THEN 'Not Transferred to VPS'
			ELSE '-1'
		END  AS LEVEL_3
		,CASE 
			WHEN VIOL_REJECT_TYPE = 'NR'
					THEN 'Variance Pool'
			WHEN VIOL_REJECT_TYPE = 'RO'
					THEN 'OCR Rejects'
			ELSE ISNULL(VIOL_REJECT_TYPE,'-1')
		END AS LEVEL_4
		,ISNULL(NULLIF(LANE_VIOL_STATUS,'-'),'-1') LEVEL_5
		,CASE 
			WHEN VIOL_STATUS IN ('ZH','WJ')
					THEN 'DMV Match Processing'
			WHEN VIOL_STATUS = 'ZI'
					THEN 'Aged To Violation Invoices'
			ELSE ISNULL(VIOL_STATUS,'-1')
		END  AS LEVEL_6
		,CASE 
			WHEN VIOL_STATUS = 'P' AND (ISNULL(VBI_INVOICE_ID, -1) + ISNULL(VIOL_INVOICE_ID, -1) = -2)
					THEN 'UNINVD'
			WHEN VIOL_STATUS = 'P' AND (ISNULL(VBI_INVOICE_ID, -1) + ISNULL(VIOL_INVOICE_ID, -1) > -2)
					THEN 'INVD'
			WHEN  VBI_STATUS  = 'B' OR VIOL_INV_STATUS IN ('A', 'B')
					THEN 'INV-BAD-ADD'
			ELSE '-1'
		END AS LEVEL_7
		,CASE 
			WHEN DMV_STS IN ('VIOL-NTX','VIOL-TX','LP-M-VLTR','LP-NDMV','LP-NV-TIME','LP-OTHER')
					THEN 'VIOL-UM-DMV'
			WHEN DMV_STS = 'VIOL-M-DMV'
					THEN 'VIOL-M-DMV'
			ELSE '-1'
		END  AS LEVEL_8
		,CASE 
			WHEN TXN_NAME IN ('VIOL-UBR-C','VIOL-UBR-N')
					THEN 'VIOL-UBR'
			WHEN DMV_STS IN ('LP-M-VLTR','LP-NDMV','LP-NV-TIME','LP-OTHER')
					THEN 'VIOL-TX'
			WHEN DMV_STS = 'VIOL-NTX'
					THEN 'VIOL-NTX'
			ELSE ISNULL(TXN_NAME,'-1')
		END AS LEVEL_9
		,CASE 
			WHEN TXN_NAME IN ('VIOL-UBR-C','VIOL-UBR-N')
					THEN ISNULL(TXN_NAME,'-1')
			WHEN DMV_STS IN ('LP-M-VLTR','LP-NDMV','LP-NV-TIME','LP-OTHER')
					THEN ISNULL(DMV_STS,'-1')
			ELSE '-1'
		END AS LEVEL_10
		,ISNULL(F.TART_ID										, -1)								AS	TART_ID					
		,ISNULL(F.DAY_ID										, 19000101)							AS	DAY_ID					
		,ISNULL(F.PMTY_ID										, -1)								AS	PMTY_ID					
		,ISNULL(F.VCLY_ID										, -1)								AS	VCLY_ID					
		,ISNULL(F.AVI_TAG_STATUS								, '-1')								AS	AVI_TAG_STATUS			
		,ISNULL(F.LANE_ID										, -1)								AS	LANE_ID					
		,ISNULL(F.Local_Time									, '1900-01-01')						AS	Local_Time				
		,ISNULL(F.EAR_REV										, 0)								AS	EAR_REV					
		,ISNULL(F.POS_REV										, 0)								AS	POS_REV					
		,ISNULL(F.TXID_ID										, -1)								AS	TXID_ID					
		,ISNULL(F.TRANSACTION_FILE_DETAIL_ID					, -1)								AS	TRANSACTION_FILE_DETAIL_ID
		,ISNULL(L.LANE_VIOL_ID									, -1)								AS  LANE_VIOL_ID
		,ISNULL(L.VIOL_DATE										, '1900-01-01')						AS  VIOL_DATE			
		,ISNULL(L.AXLE_COUNT									, -1)								AS  AXLE_COUNT			
		,ISNULL(L.LANE_VIOL_STATUS								, '-1')								AS  LANE_VIOL_STATUS		
		,ISNULL(L.LANE_REVIEW_STATUS							, '-1')								AS  LANE_REVIEW_STATUS	
		,ISNULL(L.VIOLATION_CODE								, -1)								AS  VIOLATION_CODE		
		,ISNULL(L.VIOL_CREATED									, '')								AS  VIOL_CREATED			
		,ISNULL(COALESCE(NULLIF(L.LICENSE_PLATE_ID,-1),F.LICENSE_PLATE_ID)	,'-1')					AS  LICENSE_PLATE_ID
		,ISNULL(COALESCE(NULLIF(L.LIC_PLATE_NBR,'-1'),F.LIC_PLATE_NBR)		,'-1')					AS  LIC_PLATE_NBR
		,ISNULL(COALESCE(NULLIF(L.LIC_PLATE_STATE,'-1'),F.LIC_PLATE_STATE)	,'-1')					AS  LIC_PLATE_STATE
		,ISNULL(LP.OUT_OF_STATE_IND								, -1)								AS  OUT_OF_STATE_IND
		,ISNULL(L.REVIEW_DATE									, '1900-01-01')						AS  REVIEW_DATE				
		,ISNULL(L.VIOL_REJECT_TYPE								, '-1')								AS  VIOL_REJECT_TYPE				
		,ISNULL(L.TOLL_DUE										, 0)								AS  TOLL_DUE				
		,ISNULL(L.TOLL_PAID										, 0)								AS  TOLL_PAID				
		,ISNULL(L.VIOLATION_ID									, -1)								AS  VIOLATION_ID
		,ISNULL(L.STATUS_DATE									, '1900-01-01')						AS  STATUS_DATE			
		,ISNULL(L.MANUAL_VIOL_FLAG								, -1)								AS  MANUAL_VIOL_FLAG			
		,ISNULL(L.DRIVER_LIC_STATE								, '-1')								AS  DRIVER_LIC_STATE			
		,ISNULL(L.VIOLATOR_ID									, -1)								AS  VIOLATOR_ID			
		,ISNULL(L.VIOL_STATUS									, '-1')								AS  VIOL_STATUS			
		,ISNULL(L.TRANSACTION_ID								, -1)								AS  TRANSACTION_ID			
		,ISNULL(L.DISPOSITION									, '-1')								AS  DISPOSITION			
		,ISNULL(L.VTOLL_SEND_DATE								, '1900-01-01')						AS  VTOLL_SEND_DATE	
		,ISNULL(L.DATE_EXCUSED									, '1900-01-01')						AS  DATE_EXCUSED	
		,ISNULL(L.EXCUSED_REASON								, '-1')								AS  EXCUSED_REASON			
		,ISNULL(L.EXCUSED_BY									, '-1')								AS  EXCUSED_BY			
		,ISNULL(COALESCE(NULLIF(L.TTXN_ID,-1), F.TTXN_ID)		, -1)								AS  TTXN_ID
		,ISNULL(CAST(COALESCE(NULLIF(L.POSTED_REVENUE,0), F.POSTED_REVENUE) AS DECIMAL(9,2)), 0)	AS  AMOUNT

		,ISNULL(COALESCE(NULLIF(L.IOP_REV,0), F.IOP_REV)		, 0)								AS  IOP_REV
		,ISNULL(COALESCE(NULLIF(L.TOLL_REV,0), F.TOLL_REV)		, 0)								AS  TOLL_REV
		,ISNULL(L.VTOLL_REV										, 0)								AS  VTOLL_REV
		,ISNULL(COALESCE(L.IOP_FLAG, F.IOP_FLAG)				, -1)								AS  IOP_FLAG

		,ISNULL(COALESCE(NULLIF(L.POSTED_DATE,'1900-01-01'),F.POSTED_DATE)			,'1900-01-01')	AS  POSTED_DATE
		,ISNULL(CAST(CONVERT(VARCHAR,COALESCE(NULLIF(L.POSTED_DATE,'1900-01-01'),F.POSTED_DATE),112) AS INT),19000101)	AS  POSTED_DAY_ID
		,ISNULL(COALESCE(NULLIF(L.SOURCE_CODE,'-1'),F.SOURCE_CODE)			,'-1')					AS  SOURCE_CODE
		,ISNULL(COALESCE(NULLIF(L.ACCT_ID,-1), F.ACCT_ID)					, -1)					AS  ACCT_ID
		,ISNULL(CAST(COALESCE(NULLIF(L.TAG_ID,'-1'), F.TAG_ID) AS VARCHAR(12)), '-1')				AS  TAG_ID
		,ISNULL(COALESCE(NULLIF(L.AGENCY_ID,'-1'),F.AGENCY_ID)	, -1)								AS  TAG_AGENCY_ID
		,ISNULL(L.DMV_STS										, '-1')								AS  DMV_STS		
		,ISNULL(L.TXN_NAME										, '-1')								AS  TXN_NAME		
		,ISNULL(L.FLEET_FLAG									, -1)								AS  FLEET_FLAG		
		,ISNULL(L.NOT_TRANS_REVIEW_STATUS_ABBREV				, '-1')								AS  NOT_TRANS_REVIEW_STATUS_ABBREV		
		,ISNULL(COALESCE(L.LVL_TVL, F.LVL_TVL)					, '-1')								AS  LVL_TVL
		,ISNULL(L.VBI_INVOICE_ID								, -1)								AS  VBI_INVOICE_ID		
		,ISNULL(L.VIOL_INVOICE_ID								, -1)								AS  VIOL_INVOICE_ID		
		,ISNULL(L.PAYMENT_DATE									, '1900-01-01')						AS  PAYMENT_DATE		
		,ISNULL(L.DEPOSIT_DATE									, '1900-01-01')						AS  DEPOSIT_DATE		
		,ISNULL(L.SPLIT_AMOUNT									, 0)								AS  SPLIT_AMOUNT		
		,ISNULL(L.FEES_PAID										, 0)								AS  FEES_PAID		
		,ISNULL(L.AMT_PAID										, 0)								AS  AMT_PAID	
		,ISNULL(L.VBI_INVOICE_DATE								, '1900-01-01')						AS  VBI_INVOICE_DATE		
		,ISNULL(L.VBI_STATUS									, '-1')								AS  VBI_STATUS		
		,ISNULL(L.VI_INVOICE_DATE								, '1900-01-01')						AS  VI_INVOICE_DATE		
		,ISNULL(L.VIOL_INV_STATUS								, '-1')								AS  VIOL_INV_STATUS		
		,ISNULL(L.INVOICE_STAGE_ID								, -1)								AS  INVOICE_STAGE_ID		
		,ISNULL(F.VES_SERIAL_NO									, -1)								AS	VES_SERIAL_NO					
		,ISNULL(F.DELETED										, 0)								AS  DELETED		
		,ISNULL(CAST(@CURRENT_DATE AS DATE) 					, '1900-01-01')						AS  DATA_START_DATE
		,ISNULL(CAST('22221201' AS DATE) 						, '2222-12-01')						AS  DATA_END_DATE
	FROM	dbo.FACT_UVS_NET_REV_STAGE			AS F                                                                                                                
		LEFT JOIN  dbo.FACT_UVS_LANE_VIOL_STAGE	AS L			ON L.LANE_FILE_ID = F.LANE_FILE_ID											                        
		LEFT JOIN  (SELECT STATE_CODE AS LIC_STATE, OUT_OF_STATE_IND FROM dbo.DIM_STATE) LP			ON LP.LIC_STATE = COALESCE(L.LIC_PLATE_STATE,F.LIC_PLATE_STATE)
	OPTION (LABEL = 'FACT_UNIFIED_VIOLATION_SNAPSHOT LOAD <<main query>>');

	EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT

	CREATE STATISTICS [STATS_FACT_UNIFIED_VIOLATION_01] ON dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE (TART_ID);

	SET  @LOG_MESSAGE = @LOG_PATTERN + ' The Main query Stage table finished.'
	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT


	--IF OBJECT_ID('dbo.FACT_UVS_NET_REV_STAGE') IS NOT NULL DROP TABLE dbo.FACT_UVS_NET_REV_STAGE;	
	--IF OBJECT_ID('dbo.FACT_UVS_LANE_VIOL_STAGE') IS NOT NULL DROP TABLE dbo.FACT_UVS_LANE_VIOL_STAGE;	
END

