CREATE PROC [DBO].[EXCUSAL_REASONS_LOAD] AS 

	IF OBJECT_ID('dbo.EXCUSAL_REASONS_STAGE')<>0 	DROP TABLE EXCUSAL_REASONS_STAGE

	CREATE TABLE dbo.EXCUSAL_REASONS_STAGE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (EXCUSED_REASON)) AS -- EXPLAIN
	SELECT EXCUSED_REASON
	, EXCUSED_REAS_DESCR
	, EXCUSED_REAS_ORDER
	, SUPERVISOR_ONLY
	, IS_ACTIVE	
	, EXCUSE_TOLL 
	, EXCUSE_FINE 
	, LAST_UPDATE_DATE 
	, LAST_UPDATE_TYPE	--SELECT *
	FROM LND_LG_VPS.[VP_OWNER].[EXCUSAL_REASONS] A
	OPTION (LABEL = 'EXCUSAL_REASONS_LOAD: EXCUSAL_REASONS_STAGE');

	IF OBJECT_ID('dbo.EXCUSAL_REASONS_OLD') IS NOT NULL 	DROP TABLE dbo.EXCUSAL_REASONS_OLD;
	IF OBJECT_ID('dbo.EXCUSAL_REASONS') IS NOT NULL		RENAME OBJECT::dbo.EXCUSAL_REASONS TO EXCUSAL_REASONS_OLD;
	RENAME OBJECT::dbo.EXCUSAL_REASONS_STAGE TO EXCUSAL_REASONS;
	IF OBJECT_ID('dbo.EXCUSAL_REASONS_OLD') IS NOT NULL 	DROP TABLE dbo.EXCUSAL_REASONS_OLD;

	CREATE STATISTICS STATS_EXCUSAL_REASONS_STAGE_001 ON EXCUSAL_REASONS (EXCUSED_REASON)
	CREATE STATISTICS STATS_EXCUSAL_REASONS_STAGE_002 ON EXCUSAL_REASONS (EXCUSED_REAS_DESCR)


