CREATE PROC [dbo].[TRANSACTION_TYPES_VPS_LOAD] AS

IF OBJECT_ID('dbo.TRANSACTION_TYPES_VPS_STAGE')<>0	DROP TABLE dbo.TRANSACTION_TYPES_VPS_STAGE

--SELECT COUNT_BIG(1) FROM dbo.TRANSACTION_TYPES_VPS
--SELECT * FROM dbo.TRANSACTION_TYPES_VPS


CREATE TABLE dbo.TRANSACTION_TYPES_VPS_STAGE WITH (HEAP, DISTRIBUTION = REPLICATE) 
AS 
SELECT TRANSACTION_TYPE,[TRANSACTION_TYPE_DESCR], LAST_UPDATE_DATE
FROM [LND_LG_VPS].[VP_OWNER].[TRANSACTION_TYPES]
OPTION (LABEL = 'TRANSACTION_TYPES_VPS_LOAD: CTAS TRANSACTION_TYPES_VPS_STAGE');

INSERT INTO dbo.TRANSACTION_TYPES_VPS_STAGE 
		(TRANSACTION_TYPE, [TRANSACTION_TYPE_DESCR], LAST_UPDATE_DATE)
VALUES	('-1','(Null)','1900-01-01')

CREATE STATISTICS STATS_TRANSACTION_TYPES_VPS_001 ON TRANSACTION_TYPES_VPS_STAGE (TRANSACTION_TYPE)

IF OBJECT_ID('dbo.TRANSACTION_TYPES_VPS_OLD')>0 	DROP TABLE dbo.TRANSACTION_TYPES_VPS_OLD;
IF OBJECT_ID('dbo.TRANSACTION_TYPES_VPS')>0		RENAME OBJECT::dbo.TRANSACTION_TYPES_VPS TO TRANSACTION_TYPES_VPS_OLD;
RENAME OBJECT::dbo.TRANSACTION_TYPES_VPS_STAGE TO TRANSACTION_TYPES_VPS;
IF OBJECT_ID('dbo.TRANSACTION_TYPES_VPS_OLD')>0 	DROP TABLE dbo.TRANSACTION_TYPES_VPS_OLD;

--INSERT INTO dbo.TRANSACTION_TYPES_VPS 
--		(TRANSACTION_TYPE, [TRANSACTION_TYPE_DESCR], LAST_UPDATE_DATE)
--VALUES	('-1','(Null)','1900-01-01')

--UPDATE dbo.TRANSACTION_TYPES_VPS
--SET TRANSACTION_TYPE_DESCR = B.TRANSACTION_TYPE_DESCR
--	,LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
--FROM dbo.TRANSACTION_TYPES_VPS_STAGE B
--WHERE 
--	dbo.TRANSACTION_TYPES_VPS.TRANSACTION_TYPE = B.TRANSACTION_TYPE
--	AND 
--	dbo.TRANSACTION_TYPES_VPS.TRANSACTION_TYPE_DESCR <> B.TRANSACTION_TYPE_DESCR
--OPTION (LABEL = 'TRANSACTION_TYPES_VPS_LOAD: UPDATE TRANSACTION_TYPES');

--INSERT INTO dbo.TRANSACTION_TYPES_VPS (TRANSACTION_TYPE, TRANSACTION_TYPE_DESCR, INSERT_DATE, LAST_UPDATE_DATE)
--SELECT A.TRANSACTION_TYPE, A.TRANSACTION_TYPE_DESCR, A.LAST_UPDATE_DATE, A.LAST_UPDATE_DATE
--FROM dbo.TRANSACTION_TYPES_VPS_STAGE A
--LEFT JOIN dbo.TRANSACTION_TYPES_VPS B ON A.TRANSACTION_TYPE = B.TRANSACTION_TYPE
--WHERE B.TRANSACTION_TYPE IS NULL
--OPTION (LABEL = 'TRANSACTION_TYPES_VPS_LOAD: INSERT TRANSACTION_TYPES_VPS');



