CREATE PROC [DBO].[FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_LOAD] AS  

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_LOAD
GO

EXEC DBO.FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_LOAD
*/

DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2 (2), @PROCEDURE_NAME VARCHAR(1000), @ERROR_MESSAGE VARCHAR(3000), @LOAD_CONTROL_DATE DATETIME2(2), @THIS_MONTH_BEGIN DATETIME2(2)
DECLARE @SNAPSHOT_FIRST_DAY_ID INT
DECLARE @sql VARCHAR(MAX)

SELECT  @SOURCE = 'FACT_UNIFIED_VIOLATION_SNAPSHOT', @LOG_START_DATE = GETDATE(), @PROCEDURE_NAME = 'FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_LOAD'

DECLARE @START_DAY_ID INT --= 20150701
DECLARE @END_DAY_ID INT --= 20150731

SELECT	@START_DAY_ID = MIN(PDC.DAY_ID)
		,@END_DAY_ID = MAX(PDC.END_DAY_ID)
FROM dbo.PARTITION_DAY_ID_CONTROL AS PDC 
WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND PDC.FLAG_1 = 1 -- <= CAST(@FROM_DAY_ID AS INT)

IF (@START_DAY_ID IS NOT NULL)
BEGIN
	BEGIN TRY

		EXECUTE DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE_LOAD @START_DAY_ID, @END_DAY_ID
					
		UPDATE DBO.PARTITION_DAY_ID_CONTROL
		SET CURRENT_IND = 1
		WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND FLAG_1 = 1

	END	TRY	
	BEGIN CATCH
		SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
		SET @ERROR_MESSAGE = @PROCEDURE_NAME + ' STAGE from: ' + CONVERT(VARCHAR(8),@START_DAY_ID) + ' to: ' + CONVERT(VARCHAR(8),@END_DAY_ID) + ' FAILED: ' + @ERROR_MESSAGE
		EXEC    dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  -1
	END CATCH
END

SELECT
	@SNAPSHOT_FIRST_DAY_ID = MIN(DAY_ID),
	@THIS_MONTH_BEGIN = MAX(StartDate)
FROM dbo.PARTITION_DAY_ID_CONTROL 
WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND CURRENT_IND = 1  --DAY_ID BETWEEN @SNAPSHOT_FIRST_DAY_ID AND @LAST_DAY_ID 

IF (ISNULL(@SNAPSHOT_FIRST_DAY_ID, 0) > 0 AND OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE') IS NOT NULL)
BEGIN

	BEGIN TRY
		EXECUTE DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_FINAL_LOAD

		UPDATE DBO.PARTITION_DAY_ID_CONTROL
		SET CURRENT_IND = 0
			,FLAG_1 = 0
			,FLAG_2 = 0
			,FLAG_3 = 0
			,FLAG_4 = 0
			,FLAG_5 = 0
			,FLAG_6 = 0
			,FLAG_7 = 0
			,FLAG_8 = 0
		WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND CURRENT_IND = 1 --AND DAY_ID BETWEEN 20150100 AND @LAST_DAY_ID

		IF OBJECT_ID('dbo.FACT_UVS_TRUNC') IS NOT NULL DROP TABLE dbo.FACT_UVS_TRUNC;	
		IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE') IS NOT NULL 	 DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE;	
		IF OBJECT_ID('dbo.FACT_UVS_CHANGE') IS NOT NULL DROP TABLE dbo.FACT_UVS_CHANGE;	
		IF OBJECT_ID('dbo.FACT_UVH_STAGE') IS NOT NULL DROP TABLE dbo.FACT_UVH_STAGE;	
		IF OBJECT_ID('dbo.FACT_UVS_NEW') IS NOT NULL DROP TABLE dbo.FACT_UVS_NEW;	
		IF OBJECT_ID('dbo.FACT_UVS_OLD') IS NOT NULL DROP TABLE dbo.FACT_UVS_OLD;	

	END	TRY	
	BEGIN CATCH
		SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
		
		SET @ERROR_MESSAGE = @PROCEDURE_NAME + ' FAILED: ' + @ERROR_MESSAGE
		EXEC  dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  -1

	END CATCH
	
	IF @ERROR_MESSAGE IS NULL
	BEGIN

		SET @PROCEDURE_NAME = 'FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_LOAD'

		BEGIN TRY
			SET @sql = 'EXECUTE DBO.' + @PROCEDURE_NAME --FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_LOAD
			EXECUTE (@sql);

			UPDATE dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @THIS_MONTH_BEGIN WHERE TABLE_NAME = @PROCEDURE_NAME

		END	TRY	
		BEGIN CATCH
			SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
		
			SET @ERROR_MESSAGE = @PROCEDURE_NAME + ' FAILED: ' + @ERROR_MESSAGE
			EXEC    dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  -1

		END CATCH


		SET @PROCEDURE_NAME = 'FACT_TOLL_TAG_PENETRATION_LOAD'

		BEGIN TRY
			SET @sql = 'EXECUTE DBO.' + @PROCEDURE_NAME --FACT_TOLL_TAG_PENETRATION_LOAD
			EXECUTE (@sql);

			UPDATE dbo.LOAD_PROCESS_CONTROL SET LAST_RUN_DATE = @THIS_MONTH_BEGIN WHERE TABLE_NAME = @PROCEDURE_NAME
		END	TRY	
		BEGIN CATCH
			SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
		
			SET @ERROR_MESSAGE = @PROCEDURE_NAME + ' FAILED: ' + @ERROR_MESSAGE
			EXEC    dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  -1

		END CATCH

	END -- IF @ERROR_MESSAGE IS NULL
	

END  




