CREATE PROC [DBO].[AU_TXN_ADJ_DETAILS_LOAD] AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.AU_TXN_ADJ_DETAILS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.AU_TXN_ADJ_DETAILS_LOAD
GO

EXEC EDW_RITE.DBO.AU_TXN_ADJ_DETAILS_LOAD

SELECT TOP 20 * FROM dbo.AU_TXN_ADJ_DETAILS
SELECT COUNT_BIG(1) FROM dbo.AU_TXN_ADJ_DETAILS WHERE TART_ID > = 14375321494 -- 970 896 713
SELECT COUNT_BIG(1) FROM LND_LG_HOST.TXNOWNER.AU_TXN_ADJ_DETAILS WHERE TART_ID > = 14375321494  --974656064

*/

BEGIN

	--STEP #1: SET PARAMETER DATE
	DECLARE @UPDATE_DATE datetime 
	
	IF OBJECT_ID('dbo.AU_TXN_ADJ_DETAILS') IS NULL 
	BEGIN
		SET @UPDATE_DATE ='1900-01-01' 
	END
	ELSE
	BEGIN
		SET @UPDATE_DATE =(SELECT MAX(LAST_UPDATE_DATE) LAST_UPDATE_DATE FROM dbo.AU_TXN_ADJ_DETAILS)
	END
	--PRINT @UPDATE_DATE

	IF OBJECT_ID('dbo.AU_TXN_ADJ_DETAILS_NEW') > 0  DROP TABLE dbo.AU_TXN_ADJ_DETAILS_NEW


	--STEP #2: Create the NEW table with DISTRIBUTION = HASH([TART_TART_ID]--Stage Table
	CREATE TABLE dbo.AU_TXN_ADJ_DETAILS_NEW WITH (CLUSTERED INDEX (TART_TART_ID), DISTRIBUTION = HASH(TART_TART_ID))
	AS 
	SELECT 
		A.ATD_ID, A.OPNM_OPNM_ID, A.PMTY_PMTY_ID, A.VCLY_VCLY_ID, A.LANE_LANE_ID, A.ATA_ATA_ID, A.TART_TART_ID, A.DUMMY_TART_ID,A.DATE_TIME, A.EAR_REV, A.EXP_REV, A.SIGN_FLG, A.LATEST, A.CREATED_BY, 
		A.CREATION_DATE, A.UPDATED_BY, A.UPDATED_DATE, A.REV_AXLE_CT, A.ATT_CLASS, A.FWD_AXLE_CT, A.EXIT_LOOP_CTS, A.ATT_FARE, A.PRE_CLASS, A.MISCLASS_CT, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
    FROM LND_LG_HOST.TXNOWNER.AU_TXN_ADJ_DETAILS A
	WHERE LAST_UPDATE_DATE > @UPDATE_DATE 

	--select * from dbo.AU_TXN_ADJ_DETAILS_NEW

	IF OBJECT_ID('dbo.AU_TXN_ADJ_DETAILS_NEW_SET') > 0  DROP TABLE dbo.AU_TXN_ADJ_DETAILS_NEW_SET
	CREATE TABLE dbo.AU_TXN_ADJ_DETAILS_NEW_SET WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_TART_ID)) AS
	SELECT 
		A.ATD_ID, A.OPNM_OPNM_ID, A.PMTY_PMTY_ID, A.VCLY_VCLY_ID, A.LANE_LANE_ID, A.ATA_ATA_ID, A.TART_TART_ID, A.DUMMY_TART_ID,A.DATE_TIME, A.EAR_REV, A.EXP_REV, A.SIGN_FLG, A.LATEST, A.CREATED_BY, 
		A.CREATION_DATE, A.UPDATED_BY, A.UPDATED_DATE, A.REV_AXLE_CT, A.ATT_CLASS, A.FWD_AXLE_CT, A.EXIT_LOOP_CTS, A.ATT_FARE, A.PRE_CLASS, A.MISCLASS_CT, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
	FROM dbo.AU_TXN_ADJ_DETAILS AS A WHERE NOT EXISTS (SELECT 1 FROM dbo.AU_TXN_ADJ_DETAILS_NEW AS NSET WHERE NSET.TART_TART_ID = A.TART_TART_ID)   
		UNION ALL  
	SELECT 
		A.ATD_ID, A.OPNM_OPNM_ID, A.PMTY_PMTY_ID, A.VCLY_VCLY_ID, A.LANE_LANE_ID, A.ATA_ATA_ID, A.TART_TART_ID, A.DUMMY_TART_ID,A.DATE_TIME, A.EAR_REV, A.EXP_REV, A.SIGN_FLG, A.LATEST, A.CREATED_BY, 
		A.CREATION_DATE, A.UPDATED_BY, A.UPDATED_DATE, A.REV_AXLE_CT, A.ATT_CLASS, A.FWD_AXLE_CT, A.EXIT_LOOP_CTS, A.ATT_FARE, A.PRE_CLASS, A.MISCLASS_CT, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
	FROM dbo.AU_TXN_ADJ_DETAILS_NEW A

	CREATE STATISTICS STATS_AU_TXN_ADJ_DETAILS_001 ON EDW_RITE.dbo.AU_TXN_ADJ_DETAILS_NEW_SET ( TART_TART_ID );
	CREATE STATISTICS STATS_AU_TXN_ADJ_DETAILS_002 ON EDW_RITE.dbo.AU_TXN_ADJ_DETAILS_NEW_SET ( ATD_ID );

	IF OBJECT_ID('EDW_RITE.dbo.AU_TXN_ADJ_DETAILS_OLD') IS NOT NULL		DROP TABLE EDW_RITE.dbo.AU_TXN_ADJ_DETAILS_OLD;
	IF OBJECT_ID('EDW_RITE.dbo.AU_TXN_ADJ_DETAILS') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.AU_TXN_ADJ_DETAILS TO AU_TXN_ADJ_DETAILS_OLD;
	IF OBJECT_ID('EDW_RITE.dbo.AU_TXN_ADJ_DETAILS_NEW_SET') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.AU_TXN_ADJ_DETAILS_NEW_SET TO AU_TXN_ADJ_DETAILS;
	IF OBJECT_ID('EDW_RITE.dbo.AU_TXN_ADJ_DETAILS_OLD') IS NOT NULL		DROP TABLE EDW_RITE.dbo.AU_TXN_ADJ_DETAILS_OLD;
	IF OBJECT_ID('EDW_RITE.dbo.AU_TXN_ADJ_DETAILS_NEW') IS NOT NULL		DROP TABLE EDW_RITE.dbo.AU_TXN_ADJ_DETAILS_NEW;

END

	/*
	--STEP #2a: INSERT MISSING ONES
	--create table structure
	IF OBJECT_ID('dbo.AU_TXN_ADJ_DETAILS') IS NULL
	BEGIN		
		CREATE TABLE dbo.[AU_TXN_ADJ_DETAILS] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TART_TART_ID]))
		AS 
		SELECT *
		FROM dbo.AU_TXN_ADJ_DETAILS_NEW where 1=2
		CREATE STATISTICS STATS_AU_TXN_ADJ_DETAILS_001 ON AU_TXN_ADJ_DETAILS ([TART_TART_ID])
	END

	--insert values
    INSERT INTO dbo.[AU_TXN_ADJ_DETAILS]

	SELECT 
		A.ATD_ID, A.OPNM_OPNM_ID, A.PMTY_PMTY_ID, A.VCLY_VCLY_ID, A.LANE_LANE_ID, A.ATA_ATA_ID, A.TART_TART_ID, A.DUMMY_TART_ID,A.DATE_TIME, A.EAR_REV, A.EXP_REV, A.SIGN_FLG, A.LATEST, A.CREATED_BY, 
		A.CREATION_DATE, A.UPDATED_BY, A.UPDATED_DATE, A.REV_AXLE_CT, A.ATT_CLASS, A.FWD_AXLE_CT, A.EXIT_LOOP_CTS, A.ATT_FARE, A.PRE_CLASS, A.MISCLASS_CT, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE

    FROM  dbo.AU_TXN_ADJ_DETAILS_NEW A
    LEFT JOIN  dbo.[AU_TXN_ADJ_DETAILS] B ON A.TART_TART_ID = B.TART_TART_ID
    WHERE B.TART_TART_ID IS NULL;

	--STEP #2b: UPDATE THE CHANGED ONES
	UPDATE dbo.[AU_TXN_ADJ_DETAILS] 

	SET

  dbo.AU_TXN_ADJ_DETAILS.ATD_ID = B.ATD_ID
, dbo.AU_TXN_ADJ_DETAILS.OPNM_OPNM_ID = B.OPNM_OPNM_ID
, dbo.AU_TXN_ADJ_DETAILS.PMTY_PMTY_ID = B.PMTY_PMTY_ID
, dbo.AU_TXN_ADJ_DETAILS.VCLY_VCLY_ID = B.VCLY_VCLY_ID
, dbo.AU_TXN_ADJ_DETAILS.LANE_LANE_ID = B.LANE_LANE_ID
, dbo.AU_TXN_ADJ_DETAILS.ATA_ATA_ID = B.ATA_ATA_ID
, dbo.AU_TXN_ADJ_DETAILS.DUMMY_TART_ID = B.DUMMY_TART_ID
, dbo.AU_TXN_ADJ_DETAILS.DATE_TIME = B.DATE_TIME
, dbo.AU_TXN_ADJ_DETAILS.EAR_REV = B.EAR_REV
, dbo.AU_TXN_ADJ_DETAILS.EXP_REV = B.EXP_REV
, dbo.AU_TXN_ADJ_DETAILS.SIGN_FLG = B.SIGN_FLG
, dbo.AU_TXN_ADJ_DETAILS.LATEST = B.LATEST
, dbo.AU_TXN_ADJ_DETAILS.CREATED_BY = B.CREATED_BY
, dbo.AU_TXN_ADJ_DETAILS.CREATION_DATE = B.CREATION_DATE
, dbo.AU_TXN_ADJ_DETAILS.UPDATED_BY = B.UPDATED_BY
, dbo.AU_TXN_ADJ_DETAILS.UPDATED_DATE = B.UPDATED_DATE
, dbo.AU_TXN_ADJ_DETAILS.REV_AXLE_CT = B.REV_AXLE_CT
, dbo.AU_TXN_ADJ_DETAILS.ATT_CLASS = B.ATT_CLASS
, dbo.AU_TXN_ADJ_DETAILS.FWD_AXLE_CT = B.FWD_AXLE_CT
, dbo.AU_TXN_ADJ_DETAILS.EXIT_LOOP_CTS = B.EXIT_LOOP_CTS
, dbo.AU_TXN_ADJ_DETAILS.ATT_FARE = B.ATT_FARE
, dbo.AU_TXN_ADJ_DETAILS.PRE_CLASS = B.PRE_CLASS
, dbo.AU_TXN_ADJ_DETAILS.MISCLASS_CT = B.MISCLASS_CT
, dbo.AU_TXN_ADJ_DETAILS.LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
, dbo.AU_TXN_ADJ_DETAILS.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE


	FROM dbo.AU_TXN_ADJ_DETAILS_NEW B
	WHERE dbo.[AU_TXN_ADJ_DETAILS].TART_TART_ID=B.TART_TART_ID
	AND B.LAST_UPDATE_DATE>@UPDATE_DATE
	AND checksum( dbo.AU_TXN_ADJ_DETAILS.ATD_ID, dbo.AU_TXN_ADJ_DETAILS.OPNM_OPNM_ID, dbo.AU_TXN_ADJ_DETAILS.PMTY_PMTY_ID, dbo.AU_TXN_ADJ_DETAILS.VCLY_VCLY_ID, dbo.AU_TXN_ADJ_DETAILS.LANE_LANE_ID, dbo.AU_TXN_ADJ_DETAILS.ATA_ATA_ID, dbo.AU_TXN_ADJ_DETAILS.TART_TART_ID, dbo.AU_TXN_ADJ_DETAILS.DUMMY_TART_ID, dbo.AU_TXN_ADJ_DETAILS.DATE_TIME, dbo.AU_TXN_ADJ_DETAILS.EAR_REV, dbo.AU_TXN_ADJ_DETAILS.EXP_REV, dbo.AU_TXN_ADJ_DETAILS.SIGN_FLG, dbo.AU_TXN_ADJ_DETAILS.LATEST, dbo.AU_TXN_ADJ_DETAILS.CREATED_BY, dbo.AU_TXN_ADJ_DETAILS.CREATION_DATE, dbo.AU_TXN_ADJ_DETAILS.UPDATED_BY, dbo.AU_TXN_ADJ_DETAILS.UPDATED_DATE, dbo.AU_TXN_ADJ_DETAILS.REV_AXLE_CT, dbo.AU_TXN_ADJ_DETAILS.ATT_CLASS, dbo.AU_TXN_ADJ_DETAILS.FWD_AXLE_CT, dbo.AU_TXN_ADJ_DETAILS.EXIT_LOOP_CTS, dbo.AU_TXN_ADJ_DETAILS.ATT_FARE, dbo.AU_TXN_ADJ_DETAILS.PRE_CLASS, dbo.AU_TXN_ADJ_DETAILS.MISCLASS_CT, dbo.AU_TXN_ADJ_DETAILS.LAST_UPDATE_TYPE, dbo.AU_TXN_ADJ_DETAILS.LAST_UPDATE_DATE)
	<>
	checksum(B.ATD_ID, B.OPNM_OPNM_ID, B.PMTY_PMTY_ID, B.VCLY_VCLY_ID, B.LANE_LANE_ID, B.ATA_ATA_ID, B.TART_TART_ID, B.DUMMY_TART_ID, B.DATE_TIME, B.EAR_REV, B.EXP_REV, B.SIGN_FLG, B.LATEST, B.CREATED_BY, B.CREATION_DATE, B.UPDATED_BY, B.UPDATED_DATE, B.REV_AXLE_CT, B.ATT_CLASS, B.FWD_AXLE_CT, B.EXIT_LOOP_CTS, B.ATT_FARE, B.PRE_CLASS, B.MISCLASS_CT, B.LAST_UPDATE_TYPE, B.LAST_UPDATE_DATE)


--STEP #3: UPDATE STATISTICS
	UPDATE STATISTICS dbo.[AU_TXN_ADJ_DETAILS]
	IF OBJECT_ID('dbo.AU_TXN_ADJ_DETAILS_NEW')>0  DROP TABLE dbo.AU_TXN_ADJ_DETAILS_NEW

--STEP #4: Total Records
--SELECT COUNT_BIG(1) FROM LND_LG_HOST.TXNOWNER.AU_TXN_ADJ_DETAILS; 
END
*/
