CREATE PROC [DBO].[VIOLATORS_STAGE_LOAD] AS 

/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.VIOLATORS_STAGE_LOAD') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.VIOLATORS_STAGE_LOAD
GO

	--TRUNCATE TABLE dbo.VIOLATORS

*/

DECLARE @LAST_UPDATE_DATE datetime2(2) 
EXEC dbo.GetLoadStartDatetime 'dbo.VIOLATORS', @LAST_UPDATE_DATE OUTPUT


IF OBJECT_ID('dbo.VIOLATORS_STAGE')>0 	DROP TABLE dbo.VIOLATORS_STAGE	;	

-- EXPLAIN 
CREATE TABLE dbo.VIOLATORS_STAGE WITH (CLUSTERED INDEX (VIOLATOR_ID),DISTRIBUTION = HASH(VIOLATOR_ID)) 
AS 
-- EXPLAIN
SELECT 
	  convert(bigint,VIOLATOR_ID) AS VIOLATOR_ID
	, [VIOLATOR_FNAME], [VIOLATOR_LNAME]
	, [VIOLATOR_FNAME2], [VIOLATOR_LNAME2]
	, LIC_PLATE_NBR, ISNULL(LIC_PLATE_STATE,'-1') AS LIC_PLATE_STATE, [PHONE_NBR], [EMAIL_ADDR]
	, ISNULL(VIOLATOR_TYPE,'-1') AS VIOLATOR_TYPE
	, ISNULL(VEHICLE_MAKE,'-1') AS VEHICLE_MAKE, ISNULL(VEHICLE_MODEL,'-1') AS VEHICLE_MODEL
	, ISNULL(VEHICLE_BODY,'-1') AS VEHICLE_BODY ,ISNULL(VEHICLE_YEAR,'-1') AS VEHICLE_YEAR
	, ISNULL(VEHICLE_COLOR,'-1') AS VEHICLE_COLOR
	, ISNULL(DATE_CREATED,'1/1/1900') AS DATE_CREATED
	, DOCNO, VIN
	, LAST_UPDATE_TYPE 
	, LAST_UPDATE_DATE 
FROM LND_LG_VPS.VP_OWNER.VIOLATORS A
WHERE LAST_UPDATE_DATE >= @LAST_UPDATE_DATE
OPTION (LABEL = 'VIOLATORS_STAGE_LOAD: VIOLATORS_STAGE');

--CREATE STATISTICS STAT_VIOLATORS_STAGE_001 ON DBO.VIOLATORS_STAGE (VIOLATOR_ID)
CREATE STATISTICS STAT_VIOLATORS_STAGE_001 ON DBO.VIOLATORS_STAGE (LIC_PLATE_STATE,LIC_PLATE_NBR)


IF OBJECT_ID('dbo.VIOLATORS_LICENSE_PLATE_STAGE')>0 	DROP TABLE dbo.VIOLATORS_LICENSE_PLATE_STAGE		

CREATE TABLE dbo.VIOLATORS_LICENSE_PLATE_STAGE WITH (DISTRIBUTION = REPLICATE) 
AS 
	SELECT DISTINCT LIC_PLATE_NBR, LIC_PLATE_STATE
	FROM DBO.VIOLATORS_STAGE A
	LEFT JOIN  DBO.DIM_LICENSE_PLATE B
		ON A.LIC_PLATE_NBR = B.LICENSE_PLATE_NBR AND A.LIC_PLATE_STATE = B.LICENSE_PLATE_STATE
	WHERE B.LICENSE_PLATE_NBR IS NULL AND B.LICENSE_PLATE_STATE IS NULL
	OPTION (LABEL = 'VIOLATORS_STAGE_LOAD: VIOLATORS_LICENSE_PLATE_STAGE');

CREATE STATISTICS STAT_VIOLATORS_STAGE_LICENSE_PLATE_STAGE_001 ON DBO.VIOLATORS_LICENSE_PLATE_STAGE(LIC_PLATE_STATE,LIC_PLATE_NBR)


