CREATE PROC [DBO].[FACT_UNIFIED_VIOLATION_RUN_FIRST_LOAD] AS

/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_UNIFIED_VIOLATION_RUN_FIRST_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_UNIFIED_VIOLATION_RUN_FIRST_LOAD
GO

IF DATEPART(HOUR, GETDATE()) < 8 
EXEC DBO.FACT_UNIFIED_VIOLATION_RUN_FIRST_LOAD


SELECT * FROM dbo.PROCESS_LOG 
WHERE LOG_SOURCE LIKE 'FACT_UNIFIED_VIOLATION_SNAPSHOT' AND LOG_DATE > '2019-02-20 8:00:00'
ORDER BY LOG_SOURCE, LOG_DATE

*/


DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2(2), @LOG_MESSAGE VARCHAR(1000), @ERROR_MESSAGE VARCHAR(3000), @ROW_COUNT BIGINT
DECLARE @sql VARCHAR(MAX)
SELECT  @SOURCE = 'FACT_UNIFIED_VIOLATION_SNAPSHOT', @LOG_START_DATE = SYSDATETIME(), @LOG_MESSAGE = 'FACT_UNIFIED_VIOLATION_SNAPSHOT FIRST LOAD'

DECLARE @START_DAY_ID INT = 20170101
DECLARE @END_DAY_ID INT = 20200201

/**/

			
BEGIN TRY

	EXECUTE DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE_LOAD @START_DAY_ID, @END_DAY_ID
					
END	TRY	
BEGIN CATCH
	SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
	PRINT @ERROR_MESSAGE
	SET @ERROR_MESSAGE = @LOG_MESSAGE + ' STAGE from: ' + CONVERT(VARCHAR(8),@START_DAY_ID) + ' to: ' + CONVERT(VARCHAR(8),@END_DAY_ID) + ' FAILED: ' + @ERROR_MESSAGE
	EXEC    dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  -1
END CATCH
--IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_TRUNCATE') IS NOT NULL DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_TRUNCATE;	
--EXEC EDW_RITE.DBO.GET_CREATE_TRUNCATE_TABLE_SQL @SOURCE, @sql OUTPUT 
--EXECUTE (@sql);

--IF @ERROR_MESSAGE IS NULL
--BEGIN
	IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW') IS NOT NULL DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW;	

	DECLARE @PART_RANGES [VARCHAR](MAX)
	EXEC DBO.GET_PARTITION_STRING 'FACT_UNIFIED_VIOLATION_SNAPSHOT', @PART_RANGES OUTPUT 
	--PRINT @PART_RANGES

	SET @sql = '
	CREATE TABLE dbo.[FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TART_ID])' + @PART_RANGES + ') 
	AS 
	SELECT 
			 ISNULL(CAST(main_table.[LEVEL_0] AS varchar(19)), '''') AS [LEVEL_0]
			, ISNULL(CAST(main_table.[LEVEL_1] AS varchar(24)), '''') AS [LEVEL_1]
			, ISNULL(CAST(main_table.[LEVEL_2] AS varchar(14)), '''') AS [LEVEL_2]
			, ISNULL(CAST(main_table.[LEVEL_3] AS varchar(22)), '''') AS [LEVEL_3]
			, ISNULL(CAST(main_table.[LEVEL_4] AS varchar(13)), '''') AS [LEVEL_4]
			, ISNULL(CAST(main_table.[LEVEL_5] AS varchar(2)), '''') AS [LEVEL_5]
			, ISNULL(CAST(main_table.[LEVEL_6] AS varchar(26)), '''') AS [LEVEL_6]
			, ISNULL(CAST(main_table.[LEVEL_7] AS varchar(11)), '''') AS [LEVEL_7]
			, ISNULL(CAST(main_table.[LEVEL_8] AS varchar(11)), '''') AS [LEVEL_8]
			, ISNULL(CAST(main_table.[LEVEL_9] AS varchar(10)), '''') AS [LEVEL_9]
			, ISNULL(CAST(main_table.[LEVEL_10] AS varchar(10)), '''') AS [LEVEL_10]
			, ISNULL(main_table.[TART_ID], 0) AS [TART_ID]
			, ISNULL(CAST(main_table.[DAY_ID] AS int), 0) AS [DAY_ID]
			, ISNULL(CAST(main_table.[PMTY_ID] AS decimal(18,0)), 0) AS [PMTY_ID]
			, ISNULL(CAST(main_table.[VCLY_ID] AS decimal(18,0)), 0) AS [VCLY_ID]
			, ISNULL(CAST(main_table.[AVI_TAG_STATUS] AS varchar(10)), '''') AS [AVI_TAG_STATUS]
			, ISNULL(CAST(main_table.[LANE_ID] AS decimal(18,0)), 0) AS [LANE_ID]
			, ISNULL(CAST(main_table.[Local_Time] AS datetime2(0)), ''1900-01-01'') AS [Local_Time]
			, ISNULL(CAST(main_table.[EAR_REV] AS decimal(24,6)), 0) AS [EAR_REV]
			, ISNULL(CAST(main_table.[POS_REV] AS decimal(14,8)), 0) AS [POS_REV]
			, ISNULL(CAST(main_table.[TXID_ID] AS decimal(14,0)), 0) AS [TXID_ID]
			, ISNULL(CAST(main_table.[TRANSACTION_FILE_DETAIL_ID] AS decimal(14,0)), 0) AS [TRANSACTION_FILE_DETAIL_ID]
			, ISNULL(CAST(main_table.[LANE_VIOL_ID] AS decimal(12,0)), 0) AS [LANE_VIOL_ID]
			, ISNULL(CAST(main_table.[VIOL_DATE] AS date), ''1900-01-01'') AS [VIOL_DATE]
			, ISNULL(CAST(main_table.[AXLE_COUNT] AS numeric(5,0)), 0) AS [AXLE_COUNT]
			, ISNULL(CAST(main_table.[LANE_VIOL_STATUS] AS varchar(2)), '''') AS [LANE_VIOL_STATUS]
			, ISNULL(CAST(main_table.[LANE_REVIEW_STATUS] AS varchar(2)), '''') AS [LANE_REVIEW_STATUS]
			, ISNULL(CAST(main_table.[VIOLATION_CODE] AS smallint), 0) AS [VIOLATION_CODE]
			, ISNULL(CAST(main_table.[VIOL_CREATED] AS varchar(1)), '''') AS [VIOL_CREATED]
			, ISNULL(CAST(main_table.[LICENSE_PLATE_ID] AS int), 0) AS [LICENSE_PLATE_ID]
			, ISNULL(CAST(main_table.[LIC_PLATE_NBR] AS varchar(25)), '''') AS [LIC_PLATE_NBR]
			, ISNULL(CAST(main_table.[LIC_PLATE_STATE] AS varchar(3)), '''') AS [LIC_PLATE_STATE]
			, ISNULL(CAST(main_table.[OUT_OF_STATE_IND] AS smallint), 0) AS [OUT_OF_STATE_IND]
			, ISNULL(CAST(main_table.[REVIEW_DATE] AS date), ''1900-01-01'') AS [REVIEW_DATE]
			, ISNULL(CAST(main_table.[VIOL_REJECT_TYPE] AS varchar(2)), '''') AS [VIOL_REJECT_TYPE]
			, ISNULL(CAST(main_table.[TOLL_DUE] AS decimal(9,2)), 0) AS [TOLL_DUE]
			, ISNULL(CAST(main_table.[TOLL_PAID] AS decimal(9,2)), 0) AS [TOLL_PAID]
			, ISNULL(CAST(main_table.[VIOLATION_ID] AS decimal(19,0)), 0) AS [VIOLATION_ID]
			, ISNULL(CAST(main_table.[STATUS_DATE] AS date), ''1900-01-01'') AS [STATUS_DATE]
			, ISNULL(CAST(main_table.[MANUAL_VIOL_FLAG] AS SMALLINT), 0) AS [MANUAL_VIOL_FLAG]
			, ISNULL(CAST(main_table.[DRIVER_LIC_STATE] AS varchar(3)), '''') AS [DRIVER_LIC_STATE]
			, ISNULL(CAST(main_table.[VIOLATOR_ID] AS decimal(10,0)), 0) AS [VIOLATOR_ID]
			, ISNULL(CAST(main_table.[VIOL_STATUS] AS varchar(2)), '''') AS [VIOL_STATUS]
			, ISNULL(CAST(main_table.[TRANSACTION_ID] AS decimal(14,0)), 0) AS [TRANSACTION_ID]
			, ISNULL(CAST(main_table.[DISPOSITION] AS varchar(2)), '''') AS [DISPOSITION]
			, ISNULL(CAST(main_table.[VTOLL_SEND_DATE] AS date), ''1900-01-01'') AS [VTOLL_SEND_DATE]
			, ISNULL(CAST(main_table.[DATE_EXCUSED] AS date), ''1900-01-01'') AS [DATE_EXCUSED]
			, ISNULL(CAST(main_table.[EXCUSED_REASON] AS varchar(5)), '''') AS [EXCUSED_REASON]
			, ISNULL(CAST(main_table.[EXCUSED_BY] AS varchar(30)), '''') AS [EXCUSED_BY]
			, ISNULL(CAST(main_table.[TTXN_ID] AS bigint), 0) AS [TTXN_ID]
			, ISNULL(CAST(main_table.[AMOUNT] AS decimal(9,2)), 0) AS [AMOUNT]
			, ISNULL(CAST(main_table.[IOP_REV] AS decimal(9,2)), 0) AS [IOP_REV]
			, ISNULL(CAST(main_table.[TOLL_REV] AS decimal(9,2)), 0) AS [TOLL_REV]
			, ISNULL(CAST(main_table.[VTOLL_REV] AS decimal(9,2)), 0) AS [VTOLL_REV]
			, ISNULL(CAST(main_table.[IOP_FLAG] AS smallint), 0) AS [IOP_FLAG]
			, ISNULL(CAST(main_table.[POSTED_DATE] AS date), ''1900-01-01'') AS [POSTED_DATE]
			, ISNULL(CAST(main_table.[POSTED_DAY_ID] AS int), 0) AS [POSTED_DAY_ID]
			, ISNULL(CAST(main_table.[SOURCE_CODE] AS varchar(2)), '''') AS [SOURCE_CODE]
			, ISNULL(CAST(main_table.[ACCT_ID] AS bigint), 0) AS [ACCT_ID]
			, ISNULL(CAST(main_table.[TAG_ID] AS varchar(12)), '''') AS [TAG_ID]
			, ISNULL(CAST(main_table.[TAG_AGENCY_ID] AS varchar(10)), '''') AS [TAG_AGENCY_ID]
			, ISNULL(CAST(main_table.[DMV_STS] AS varchar(10)), '''') AS [DMV_STS]
			, ISNULL(CAST(main_table.[TXN_NAME] AS varchar(10)), '''') AS [TXN_NAME]
			, ISNULL(CAST(main_table.[NOT_TRANS_REVIEW_STATUS_ABBREV] AS varchar(7)), '''') AS [NOT_TRANS_REVIEW_STATUS_ABBREV]
			, ISNULL(CAST(main_table.[LVL_TVL] AS varchar(3)), '''') AS [LVL_TVL]
			, ISNULL(CAST(main_table.[VBI_INVOICE_ID] AS decimal(19,0)), 0) AS [VBI_INVOICE_ID]
			, ISNULL(CAST(main_table.[VIOL_INVOICE_ID] AS decimal(19,0)), 0) AS [VIOL_INVOICE_ID]
			, ISNULL(CAST(main_table.[PAYMENT_DATE] AS date), ''1900-01-01'') AS [PAYMENT_DATE]
			, ISNULL(CAST(main_table.[DEPOSIT_DATE] AS date), ''1900-01-01'') AS [DEPOSIT_DATE]
			, ISNULL(CAST(main_table.[SPLIT_AMOUNT] AS decimal(10,2)), 0) AS [SPLIT_AMOUNT]
			, ISNULL(CAST(main_table.[FEES_PAID] AS decimal(10,2)), 0) AS [FEES_PAID]
			, ISNULL(CAST(main_table.[AMT_PAID] AS decimal(10,2)), 0) AS [AMT_PAID]
			, ISNULL(CAST(main_table.[VBI_INVOICE_DATE] AS date), ''1900-01-01'') AS [VBI_INVOICE_DATE]
			, ISNULL(CAST(main_table.[VBI_STATUS] AS varchar(3)), '''') AS [VBI_STATUS]
			, ISNULL(CAST(main_table.[VI_INVOICE_DATE] AS date), ''1900-01-01'') AS [VI_INVOICE_DATE]
			, ISNULL(CAST(main_table.[VIOL_INV_STATUS] AS varchar(2)), '''') AS [VIOL_INV_STATUS]
			, ISNULL(CAST(main_table.[INVOICE_STAGE_ID] AS int), 0) AS [INVOICE_STAGE_ID]
			, ISNULL(CAST(main_table.[VES_SERIAL_NO] AS int), 0) AS [VES_SERIAL_NO]
			, ISNULL(CAST(CASE 
							WHEN VBI_STATUS = ''B'' OR (VBI_STATUS = ''CV'' AND VIOL_INV_STATUS IN (''B'', ''A'')) THEN 1 
							ELSE 0 
						END AS smallint), 0) AS BAD_ADDRESS_FLAG,FLEET_FLAG
			--, ISNULL(CAST(CASE 
			--				WHEN FFT.VIOLATION_ID IS NOT NULL AND (FFT.VIOL_DATE BETWEEN FFF.PURCHASE_DATE AND ISNULL(FFF.SELL_DATE,''2900-01-01'')) THEN 1
			--				ELSE 0
			--			END AS smallint), 0) AS FLEET_FLAG
			, ISNULL(CAST(CASE 
					WHEN LEVEL_1 IN (''IMAGES NOT ENTERING ICRS'',''NO IMAGE'') THEN 1
					WHEN LEVEL_2 = ''PENDING REVIEW'' THEN 1
					WHEN LEVEL_3 = ''IMAGES DISCARDED'' THEN 1
					WHEN LEVEL_4 = ''OCR REJECTS'' THEN 1
					WHEN LEVEL_5 IN (''W'',''F'',''X'',''E'',''A'',''N'') THEN 1
					WHEN LEVEL_5 = ''C'' AND LEVEL_6 IN (''B'', ''-1'') THEN 1
					WHEN LEVEL_5 = ''C'' AND LEVEL_6 = ''T'' AND SOURCE_CODE = ''-1'' THEN 1
					WHEN LEVEL_9 IN (''VIOL-NTX'',''VIOL-TX'',''VIOL-UBR'') THEN 1
					WHEN VIOL_STATUS IN (''Q'',''E'') THEN 1
					ELSE 0 
				END AS smallint), 0) AS UnPursuable_FLAG  -- !!!
			, ISNULL(CAST(CASE WHEN SOURCE_CODE != ''-1'' AND IOP_FLAG = 0 THEN EAR_REV WHEN SOURCE_CODE != ''-1'' AND DISPOSITION IN (''-1'', ''P'') THEN AMOUNT ELSE EAR_REV END AS decimal(10,2)), 0) AS ADJ_REV		-- !!!
			, ISNULL(CAST(CASE WHEN SOURCE_CODE != ''-1'' AND DISPOSITION IN (''-1'', ''P'') THEN AMOUNT ELSE AMT_PAID END AS decimal(10,2)), 0) AS POSTED_REV		-- !!!
			, ISNULL(CAST(main_table.[DELETED] AS bit), 0) AS [DELETED]
			, ISNULL(CAST(main_table.[DATA_START_DATE] AS date), ''1900-01-01'') AS [DATA_START_DATE]
			, ISNULL(CAST(main_table.[DATA_END_DATE] AS date), ''1900-01-01'') AS [DATA_END_DATE]
	FROM (
			SELECT FT.*, 
				ROW_NUMBER() OVER (PARTITION BY TART_ID ORDER BY STATUS_DATE DESC, POSTED_DATE DESC, REVIEW_DATE DESC, VIOLATION_ID DESC, LANE_VIOL_ID DESC, VIOLATOR_ID DESC) AS RN
			FROM dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE AS FT
		) AS main_table
		--LEFT JOIN LND_LG_VPS.VP_OWNER.FA_FLEET_TRANSACTIONS FFT ON FFT.VIOLATION_ID = main_table.VIOLATION_ID
		--LEFT JOIN LND_LG_VPS.VP_OWNER.FA_FLEET_FILE FFF ON FFF.FLEET_FILE_ID = FFT.FLEET_FILE_ID
	WHERE RN = 1
	OPTION (LABEL = ''FACT_UNIFIED_VIOLATION_SNAPSHOT'');'

	EXEC EDW_RITE.dbo.PRINT_LONG_VARIABLE_VALUE @SQL
		EXECUTE (@sql);

	EXEC	dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = @LOG_MESSAGE + ' New snapshot switch table created.'
	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	DECLARE @TABLE_NAME VARCHAR(100) = 'FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW'

	SET @sql = '

	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_001 ON [dbo].' + @TABLE_NAME + ' (DAY_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_002 ON [dbo].' + @TABLE_NAME + ' (LANE_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_003 ON [dbo].' + @TABLE_NAME + ' (LANE_VIOL_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_004 ON [dbo].' + @TABLE_NAME + ' (ACCT_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_005 ON [dbo].' + @TABLE_NAME + ' (TAG_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_006 ON [dbo].' + @TABLE_NAME + ' (VIOLATION_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_007 ON [dbo].' + @TABLE_NAME + ' (VIOLATOR_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_008 ON [dbo].' + @TABLE_NAME + ' (TRANSACTION_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_009 ON [dbo].' + @TABLE_NAME + ' (TRANSACTION_FILE_DETAIL_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_010 ON [dbo].' + @TABLE_NAME + ' (TTXN_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_011 ON [dbo].' + @TABLE_NAME + ' (AVI_TAG_STATUS)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_012 ON [dbo].' + @TABLE_NAME + ' (LEVEL_0)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_013 ON [dbo].' + @TABLE_NAME + ' (LEVEL_1)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_014 ON [dbo].' + @TABLE_NAME + ' (LEVEL_2)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_015 ON [dbo].' + @TABLE_NAME + ' (LEVEL_3)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_016 ON [dbo].' + @TABLE_NAME + ' (LEVEL_4)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_017 ON [dbo].' + @TABLE_NAME + ' (LEVEL_5)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_018 ON [dbo].' + @TABLE_NAME + ' (LEVEL_6)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_019 ON [dbo].' + @TABLE_NAME + ' (LEVEL_7)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_020 ON [dbo].' + @TABLE_NAME + ' (LEVEL_8)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_021 ON [dbo].' + @TABLE_NAME + ' (LEVEL_9)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_022 ON [dbo].' + @TABLE_NAME + ' (LEVEL_10)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_023 ON [dbo].' + @TABLE_NAME + ' (POSTED_DAY_ID)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_024 ON [dbo].' + @TABLE_NAME + ' (SOURCE_CODE)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_025 ON [dbo].' + @TABLE_NAME + ' (DELETED)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_026 ON [dbo].' + @TABLE_NAME + ' (LVL_TVL)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_027 ON [dbo].' + @TABLE_NAME + ' (IOP_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_028 ON [dbo].' + @TABLE_NAME + ' (FLEET_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_029 ON [dbo].' + @TABLE_NAME + ' (UnPursuable_FLAG)
	CREATE STATISTICS STATS_FACT_UNIFIED_VIOLATION_030 ON [dbo].' + @TABLE_NAME + ' (BAD_ADDRESS_FLAG)'

	EXECUTE (@sql);

	PRINT 'Finish'
	SET  @LOG_MESSAGE = 'Finish'
	EXEC dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @LOG_MESSAGE, NULL

--END
IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_OLD') IS NOT NULL 	DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_OLD;

IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT') IS NOT NULL	RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT TO FACT_UNIFIED_VIOLATION_SNAPSHOT_OLD;

IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW') IS NOT NULL	RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW TO FACT_UNIFIED_VIOLATION_SNAPSHOT;


EXECUTE DBO.FACT_UNIFIED_VIOLATION_SUMMARY_CATEGORY_LEVEL_LOAD


--EXEC DBO.FACT_UNIFIED_VIOLATION_CREATE_STATS 'FACT_UNIFIED_VIOLATION_SNAPSHOT_NEW_SET'

--IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE') IS NOT NULL 	DROP TABLE dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE;
--IF OBJECT_ID('dbo.FACT_UNIFIED_VIOLATION_SANDBOX') IS NOT NULL		RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_SANDBOX TO FACT_UNIFIED_VIOLATION_SANDBOX_OLD;
--RENAME OBJECT::dbo.FACT_UNIFIED_VIOLATION_SNAPSHOT TO FACT_UNIFIED_VIOLATION_KEEP_TO_COMPARE;
