CREATE PROC [DBO].[TA_TXN_RITE_DATAS_LOAD] AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.TA_TXN_RITE_DATAS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.TA_TXN_RITE_DATAS_LOAD
GO

EXEC EDW_RITE.DBO.TA_TXN_RITE_DATAS_LOAD

SELECT TOP 20 * FROM dbo.TA_TXN_RITE_DATAS
SELECT COUNT_BIG(1) CNT, MIN(TART_TART_ID) TART_TART_ID FROM EDW_RITE.dbo.TOTAL_NET_REV_TFC_EVTS WHERE Local_Time >= '20180401'
SELECT COUNT_BIG(1) FROM dbo.TA_TXN_RITE_DATAS WHERE TART_ID > = 14375321494 -- 970 896 713
SELECT COUNT_BIG(1) FROM LND_LG_HOST.TXNOWNER.TA_TXN_RITE_DATAS WHERE TART_ID > = 14375321494  --974656064

*/

BEGIN
	DECLARE @TABLE_NAME VARCHAR(50) = 'TA_TXN_RITE_DATAS'
	DECLARE @START_DATE DATETIME2 (2),@LOG_MESSAGE VARCHAR(1000),@ROW_COUNT BIGINT
	DECLARE @UPDATE_DATE datetime 

	SET @START_DATE = GETDATE()
	--STEP #1: SET PARAMETER DATE
	
	IF OBJECT_ID('dbo.TA_TXN_RITE_DATAS') IS NULL 
	BEGIN
		SET @UPDATE_DATE ='1900-01-01' 
	END
	ELSE
	BEGIN
		SET @UPDATE_DATE = (SELECT MAX(LAST_UPDATE_DATE) LAST_UPDATE_DATE FROM dbo.TA_TXN_RITE_DATAS)
	END
	----PRINT @UPDATE_DATE
	SELECT  @LOG_MESSAGE = 'Started to load updates from ' + CONVERT(VARCHAR(19),@UPDATE_DATE,121)
	EXEC    EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE,  NULL
	
	IF OBJECT_ID('dbo.TA_TXN_RITE_DATAS_NEW_SET') > 0  DROP TABLE dbo.TA_TXN_RITE_DATAS_NEW_SET

	--STEP #2: Create the NEW table with DISTRIBUTION = HASH([TART_ID]--Stage Table
	CREATE TABLE dbo.TA_TXN_RITE_DATAS_NEW_SET WITH (HEAP, DISTRIBUTION = HASH(TART_TART_ID))
	AS 
	SELECT
		CAST(ROUND(A.TART_TART_ID / 500000000, 0) * 500000000 AS BIGINT)  AS PARTITION_VALUES, 
	    A.VEH_SPEED, A.EVENT_IND, A.LOGON_TIME, A.ACTIVE_VLT_CH, A.TURD_ID, A.TART_TART_ID, A.LOGON_MEANS, A.EMPL_ID,A.VPLT_ID, A.REV_LANE_IND, A.ISF_SERIAL_NO, A.VES_SERIAL_NO, A.VES_DATE_TIME, A.VES_DATE_TIME_LOCAL,
		A.STANDBY_MODE_STATUS,A.ACM_STATUS, A.AVI_STATUS, A.VEH_AVC_STATUS, A.TREADLE_AVC_STATUS, A.VES_TRIGGER_STATUS, A.VES_STATUS,A.ATT_TERM_STATUS, A.FAC_SRVR_AVI_STATUS, A.FAC_SRVR_UPLOAD_TXNS, A.UPS_STATUS, 
		A.DIGITAL_IO_STATUS,A.NONREV_EMPL_ID, A.LN_STRADDLE_IND, A.ATT_CLASS_ENTERED, A.VIO_IMAGE_REQ, A.COIN_REJECTED, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
    FROM  LND_LG_HOST.TXNOWNER.TA_TXN_RITE_DATAS A
	WHERE A.LAST_UPDATE_DATE > @UPDATE_DATE
	--WHERE TART_ID > = 15000000000

	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got all changed rows:'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE, @ROW_COUNT

	CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_NEW_001 ON TA_TXN_RITE_DATAS_NEW_SET (TART_TART_ID)

	DECLARE @IDENTITY_COLUMNS VARCHAR(8000) = '[TART_TART_ID]'

	EXEC DBO.PARTITION_SWITCH_NUMBER_BASED_LOAD @TABLE_NAME, @IDENTITY_COLUMNS

	UPDATE STATISTICS dbo.TA_TXN_RITE_DATAS

	IF OBJECT_ID('dbo.TA_TXN_RITE_DATAS_NEW_SET') > 0  DROP TABLE dbo.TA_TXN_RITE_DATAS_NEW_SET

	SET  @LOG_MESSAGE = 'Load finished'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE, NULL


END

/*
BEGIN

	--STEP #1: SET PARAMETER DATE
	DECLARE @UPDATE_DATE datetime 
	
	IF OBJECT_ID('dbo.TA_TXN_RITE_DATAS') IS NULL 
	BEGIN
	SET @UPDATE_DATE ='1900-01-01' 
	END

	ELSE
	BEGIN
	SET @UPDATE_DATE =(SELECT MAX(LAST_UPDATE_DATE) LAST_UPDATE_DATE FROM dbo.TA_TXN_RITE_DATAS)
	END
	PRINT @UPDATE_DATE

	--PRINT @UPDATE_DATE
	IF OBJECT_ID('dbo.TA_TXN_RITE_DATAS_NEW') > 0  DROP TABLE dbo.TA_TXN_RITE_DATAS_NEW


	--STEP #2: Create the NEW table with DISTRIBUTION = HASH([TART_TART_ID]--Stage Table
	CREATE TABLE dbo.[TA_TXN_RITE_DATAS_NEW] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TART_TART_ID]))
	AS 
	SELECT *
     FROM  LND_LG_HOST.TXNOWNER.TA_TXN_RITE_DATAS
	 WHERE LND_LG_HOST.TXNOWNER.TA_TXN_RITE_DATAS.LAST_UPDATE_DATE > @UPDATE_DATE

	CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_NEW_001 ON TA_TXN_RITE_DATAS_NEW ([TART_TART_ID])

	   --select * from dbo.TA_TXN_RITE_DATAS_NEW


	--STEP #2a: INSERT MISSING ONES
	--create table structure
	IF OBJECT_ID('dbo.TA_TXN_RITE_DATAS') IS NULL
	BEGIN		
		CREATE TABLE dbo.[TA_TXN_RITE_DATAS] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TART_TART_ID]))
		AS 
		SELECT *
		FROM dbo.TA_TXN_RITE_DATAS_NEW where 1=2
		CREATE STATISTICS STATS_TA_TXN_RITE_DATAS_001 ON TA_TXN_RITE_DATAS ([TART_TART_ID])
	END

	--insert values
    INSERT INTO dbo.[TA_TXN_RITE_DATAS]

	SELECT 
	    A.VEH_SPEED, A.EVENT_IND, A.LOGON_TIME, A.ACTIVE_VLT_CH, A.TURD_ID, A.TART_TART_ID, A.LOGON_MEANS, A.EMPL_ID, 
		A.VPLT_ID, A.REV_LANE_IND, A.ISF_SERIAL_NO, A.VES_SERIAL_NO, A.VES_DATE_TIME, A.STANDBY_MODE_STATUS, 
		A.ACM_STATUS, A.AVI_STATUS, A.VEH_AVC_STATUS, A.TREADLE_AVC_STATUS, A.VES_TRIGGER_STATUS, A.VES_STATUS, 
		A.ATT_TERM_STATUS, A.FAC_SRVR_AVI_STATUS, A.FAC_SRVR_UPLOAD_TXNS, A.UPS_STATUS, A.DIGITAL_IO_STATUS, 
		A.NONREV_EMPL_ID, A.LN_STRADDLE_IND, A.ATT_CLASS_ENTERED, A.VIO_IMAGE_REQ, A.COIN_REJECTED, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE

    FROM  dbo.TA_TXN_RITE_DATAS_NEW A
    LEFT JOIN  dbo.[TA_TXN_RITE_DATAS] B ON A.TART_TART_ID = B.TART_TART_ID
    WHERE B.TART_TART_ID IS NULL;

	--STEP #2b: UPDATE THE CHANGED ONES
	UPDATE dbo.[TA_TXN_RITE_DATAS] 

	SET

  dbo.TA_TXN_RITE_DATAS.VEH_SPEED = B.VEH_SPEED
, dbo.TA_TXN_RITE_DATAS.EVENT_IND = B.EVENT_IND
, dbo.TA_TXN_RITE_DATAS.LOGON_TIME = B.LOGON_TIME
, dbo.TA_TXN_RITE_DATAS.ACTIVE_VLT_CH = B.ACTIVE_VLT_CH
, dbo.TA_TXN_RITE_DATAS.TURD_ID = B.TURD_ID
, dbo.TA_TXN_RITE_DATAS.LOGON_MEANS = B.LOGON_MEANS
, dbo.TA_TXN_RITE_DATAS.EMPL_ID = B.EMPL_ID
, dbo.TA_TXN_RITE_DATAS.VPLT_ID = B.VPLT_ID
, dbo.TA_TXN_RITE_DATAS.REV_LANE_IND = B.REV_LANE_IND
, dbo.TA_TXN_RITE_DATAS.ISF_SERIAL_NO = B.ISF_SERIAL_NO
, dbo.TA_TXN_RITE_DATAS.VES_SERIAL_NO = B.VES_SERIAL_NO
, dbo.TA_TXN_RITE_DATAS.VES_DATE_TIME = B.VES_DATE_TIME
, dbo.TA_TXN_RITE_DATAS.STANDBY_MODE_STATUS = B.STANDBY_MODE_STATUS
, dbo.TA_TXN_RITE_DATAS.ACM_STATUS = B.ACM_STATUS
, dbo.TA_TXN_RITE_DATAS.AVI_STATUS = B.AVI_STATUS
, dbo.TA_TXN_RITE_DATAS.VEH_AVC_STATUS = B.VEH_AVC_STATUS
, dbo.TA_TXN_RITE_DATAS.TREADLE_AVC_STATUS = B.TREADLE_AVC_STATUS
, dbo.TA_TXN_RITE_DATAS.VES_TRIGGER_STATUS = B.VES_TRIGGER_STATUS
, dbo.TA_TXN_RITE_DATAS.VES_STATUS = B.VES_STATUS
, dbo.TA_TXN_RITE_DATAS.ATT_TERM_STATUS = B.ATT_TERM_STATUS
, dbo.TA_TXN_RITE_DATAS.FAC_SRVR_AVI_STATUS = B.FAC_SRVR_AVI_STATUS
, dbo.TA_TXN_RITE_DATAS.FAC_SRVR_UPLOAD_TXNS = B.FAC_SRVR_UPLOAD_TXNS
, dbo.TA_TXN_RITE_DATAS.UPS_STATUS = B.UPS_STATUS
, dbo.TA_TXN_RITE_DATAS.DIGITAL_IO_STATUS = B.DIGITAL_IO_STATUS
, dbo.TA_TXN_RITE_DATAS.NONREV_EMPL_ID = B.NONREV_EMPL_ID
, dbo.TA_TXN_RITE_DATAS.LN_STRADDLE_IND = B.LN_STRADDLE_IND
, dbo.TA_TXN_RITE_DATAS.ATT_CLASS_ENTERED = B.ATT_CLASS_ENTERED
, dbo.TA_TXN_RITE_DATAS.VIO_IMAGE_REQ = B.VIO_IMAGE_REQ
, dbo.TA_TXN_RITE_DATAS.COIN_REJECTED = B.COIN_REJECTED
, dbo.TA_TXN_RITE_DATAS.LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
, dbo.TA_TXN_RITE_DATAS.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE


	FROM dbo.TA_TXN_RITE_DATAS_NEW B
	WHERE dbo.[TA_TXN_RITE_DATAS].TART_TART_ID=B.TART_TART_ID
	AND B.LAST_UPDATE_DATE>@UPDATE_DATE
	AND checksum(  dbo.TA_TXN_RITE_DATAS.VEH_SPEED, dbo.TA_TXN_RITE_DATAS.EVENT_IND, dbo.TA_TXN_RITE_DATAS.LOGON_TIME, dbo.TA_TXN_RITE_DATAS.ACTIVE_VLT_CH, dbo.TA_TXN_RITE_DATAS.TURD_ID, dbo.TA_TXN_RITE_DATAS.TART_TART_ID, dbo.TA_TXN_RITE_DATAS.LOGON_MEANS, dbo.TA_TXN_RITE_DATAS.EMPL_ID, dbo.TA_TXN_RITE_DATAS.VPLT_ID, dbo.TA_TXN_RITE_DATAS.REV_LANE_IND, dbo.TA_TXN_RITE_DATAS.ISF_SERIAL_NO, dbo.TA_TXN_RITE_DATAS.VES_SERIAL_NO, dbo.TA_TXN_RITE_DATAS.VES_DATE_TIME, dbo.TA_TXN_RITE_DATAS.STANDBY_MODE_STATUS, dbo.TA_TXN_RITE_DATAS.ACM_STATUS, dbo.TA_TXN_RITE_DATAS.AVI_STATUS, dbo.TA_TXN_RITE_DATAS.VEH_AVC_STATUS, dbo.TA_TXN_RITE_DATAS.TREADLE_AVC_STATUS, dbo.TA_TXN_RITE_DATAS.VES_TRIGGER_STATUS, dbo.TA_TXN_RITE_DATAS.VES_STATUS, dbo.TA_TXN_RITE_DATAS.ATT_TERM_STATUS, dbo.TA_TXN_RITE_DATAS.FAC_SRVR_AVI_STATUS, dbo.TA_TXN_RITE_DATAS.FAC_SRVR_UPLOAD_TXNS, dbo.TA_TXN_RITE_DATAS.UPS_STATUS, dbo.TA_TXN_RITE_DATAS.DIGITAL_IO_STATUS, dbo.TA_TXN_RITE_DATAS.NONREV_EMPL_ID, dbo.TA_TXN_RITE_DATAS.LN_STRADDLE_IND, dbo.TA_TXN_RITE_DATAS.ATT_CLASS_ENTERED, dbo.TA_TXN_RITE_DATAS.VIO_IMAGE_REQ, dbo.TA_TXN_RITE_DATAS.COIN_REJECTED, dbo.TA_TXN_RITE_DATAS.LAST_UPDATE_TYPE, dbo.TA_TXN_RITE_DATAS.LAST_UPDATE_DATE)
	<>
	checksum( B.VEH_SPEED, B.EVENT_IND, B.LOGON_TIME, B.ACTIVE_VLT_CH, B.TURD_ID, B.TART_TART_ID, B.LOGON_MEANS, B.EMPL_ID, B.VPLT_ID, B.REV_LANE_IND, B.ISF_SERIAL_NO, B.VES_SERIAL_NO, B.VES_DATE_TIME, B.STANDBY_MODE_STATUS, B.ACM_STATUS, B.AVI_STATUS, B.VEH_AVC_STATUS, B.TREADLE_AVC_STATUS, B.VES_TRIGGER_STATUS, B.VES_STATUS, B.ATT_TERM_STATUS, B.FAC_SRVR_AVI_STATUS, B.FAC_SRVR_UPLOAD_TXNS, B.UPS_STATUS, B.DIGITAL_IO_STATUS, B.NONREV_EMPL_ID, B.LN_STRADDLE_IND, B.ATT_CLASS_ENTERED, B.VIO_IMAGE_REQ, B.COIN_REJECTED, B.LAST_UPDATE_TYPE, B.LAST_UPDATE_DATE)


--STEP #3: UPDATE STATISTICS
	UPDATE STATISTICS dbo.[TA_TXN_RITE_DATAS]
	IF OBJECT_ID('dbo.TA_TXN_RITE_DATAS_NEW')>0  DROP TABLE dbo.TA_TXN_RITE_DATAS_NEW

--STEP #4: Total Records
--SELECT COUNT_BIG(1) FROM LND_LG_HOST.TXNOWNER.TA_TXN_RITE_DATAS; 
END
*/
