CREATE PROC [DBO].[zzzFACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_STAGE_LOAD] AS


--	@CURRENT_PROCESS_NUMBER TINYINT
--AS  

----TESTING PARAMETERS ONLY!!!!!!!!!!!!!!!!!!
--DECLARE @CURRENT_PROCESS_NUMBER TINYINT = 1
----TESTING PARAMETERS ONLY!!!!!!!!!!!!!!!!!!

/*

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_STAGE_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_STAGE_LOAD
GO

EXEC EDW_RITE.DBO.FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_STAGE_LOAD
*/
DECLARE @SOURCE VARCHAR(50), @LOG_START_DATE DATETIME2(2), @LOG_MESSAGE VARCHAR(1000), @ERROR_MESSAGE VARCHAR(3000)
DECLARE @sql VARCHAR(1000)
SELECT  @SOURCE = 'FACT_UNIFIED_VIOLATION_SNAPSHOT', @LOG_START_DATE = SYSDATETIME(), @LOG_MESSAGE = 'FACT_UNIFIED_VIOLATION_RUN_SNAPSHOT_STAGE_LOAD'

DECLARE @START_DAY_ID INT --= 20150701
DECLARE @END_DAY_ID INT --= 20150731

SELECT	@START_DAY_ID = MIN(PDC.DAY_ID)
		,@END_DAY_ID = MAX(PDC.END_DAY_ID)
FROM EDW_RITE.dbo.PARTITION_DAY_ID_CONTROL AS PDC 
WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND PDC.FLAG_1 = 1 -- <= CAST(@FROM_DAY_ID AS INT)

IF (@START_DAY_ID IS NOT NULL)
BEGIN
	BEGIN TRY

		EXECUTE EDW_RITE.DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STEP1_LOAD @START_DAY_ID, @END_DAY_ID
					
		UPDATE EDW_RITE.DBO.PARTITION_DAY_ID_CONTROL
		SET FLAG_2 = 1
		WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND FLAG_1 = 1

	END	TRY	
	BEGIN CATCH
		SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
		SET @ERROR_MESSAGE = @LOG_MESSAGE + ' STEP1 from: ' + CONVERT(VARCHAR(8),@START_DAY_ID) + ' to: ' + CONVERT(VARCHAR(8),@END_DAY_ID) + ' FAILED: ' + @ERROR_MESSAGE
		EXEC    EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  NULL
	END CATCH
END

SELECT	@START_DAY_ID = MIN(PDC.DAY_ID)
		,@END_DAY_ID = MAX(PDC.END_DAY_ID)
FROM EDW_RITE.dbo.PARTITION_DAY_ID_CONTROL AS PDC 
WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND PDC.FLAG_2 = 1 -- <= CAST(@FROM_DAY_ID AS INT)

IF (@START_DAY_ID IS NOT NULL)
BEGIN
	BEGIN TRY

		EXECUTE EDW_RITE.DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STEP2_LOAD @START_DAY_ID, @END_DAY_ID
					
		UPDATE EDW_RITE.DBO.PARTITION_DAY_ID_CONTROL
		SET FLAG_3 = 1
		WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND FLAG_2 = 1

	END	TRY	
	BEGIN CATCH
		SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
		SET @ERROR_MESSAGE = @LOG_MESSAGE + ' STEP2 from: ' + CONVERT(VARCHAR(8),@START_DAY_ID) + ' to: ' + CONVERT(VARCHAR(8),@END_DAY_ID) + ' FAILED: ' + @ERROR_MESSAGE
		EXEC    EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  NULL
	END CATCH
END

SELECT	@START_DAY_ID = MIN(PDC.DAY_ID)
		,@END_DAY_ID = MAX(PDC.END_DAY_ID)
FROM EDW_RITE.dbo.PARTITION_DAY_ID_CONTROL AS PDC 
WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND PDC.FLAG_3 = 1 -- <= CAST(@FROM_DAY_ID AS INT)

IF (@START_DAY_ID IS NOT NULL)
BEGIN
	BEGIN TRY

		EXECUTE EDW_RITE.DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STEP3_LOAD @START_DAY_ID, @END_DAY_ID
					
		UPDATE EDW_RITE.DBO.PARTITION_DAY_ID_CONTROL
		SET CURRENT_IND = 1
		WHERE TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND FLAG_3 = 1

	END	TRY	
	BEGIN CATCH
		SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
		SET @ERROR_MESSAGE = @LOG_MESSAGE + ' STEP3 from: ' + CONVERT(VARCHAR(8),@START_DAY_ID) + ' to: ' + CONVERT(VARCHAR(8),@END_DAY_ID) + ' FAILED: ' + @ERROR_MESSAGE
		EXEC    EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  NULL
	END CATCH
END

-- Do not use this now, but should keep it - good algorithm
/*


IF ISNULL(@CURRENT_PROCESS_NUMBER, 0) = 0 SET @CURRENT_PROCESS_NUMBER = 1
IF @CURRENT_PROCESS_NUMBER > 8 SET @CURRENT_PROCESS_NUMBER = 8 -- We have only 8 flags in a control table

DECLARE @PROCESS_NUMBER VARCHAR(1) = CAST(@CURRENT_PROCESS_NUMBER AS VARCHAR(1))

DECLARE @PART_NUM_BEGIN SMALLINT
DECLARE @PART_NUM_END SMALLINT
DECLARE @FROM_DAY INT -- It's always beginning of the month of the first period (and partition)
DECLARE @TO_DAY INT	-- It's always ending of the month of the last period (and partition)
DECLARE @PART_ROLL SMALLINT
DECLARE @FROM_DAY_ROLL INT -- It's always beginning of the month of the first period (and partition)
DECLARE @TO_DAY_ROLL INT	-- It's always ending of the month of the last period (and partition)
DECLARE @MAX_NUM SMALLINT


DECLARE @TimeLastLoopStarted DATETIME2(0)
DECLARE @TimeToFinish DATETIME2(0) = CONVERT(DATETIME2(0),(CONVERT(VARCHAR(8), @LOG_START_DATE, 112) + ' 23:59:59'),112)
DECLARE @Min_To_Finish INT --= DATEDIFF(SECOND, @LOG_START_DATE, @TimeToFinish)
DECLARE @Min_Last_LOOP INT = 0
DECLARE @CUR_LOOP_Number TINYINT = 1


DECLARE @SHIFT_TIME INT

SELECT @SHIFT_TIME = CASE 
						WHEN DATENAME(WEEKDAY,@LOG_START_DATE) = 'Friday' THEN 2
						WHEN DATENAME(WEEKDAY,@LOG_START_DATE) = 'Saturday' THEN 1
						ELSE 0
					END

SET @TimeToFinish = DATEADD(DAY, @SHIFT_TIME, @TimeToFinish)

--PRINT @TimeToFinish
--SELECT DATENAME(WEEKDAY,CAST('20190119' AS DATE))

--SET @sql = '
--IF OBJECT_ID(''DBO.PartitionDates' + @PROCESS_NUMBER + ''') IS NOT NULL DROP TABLE DBO.PartitionDates' + @PROCESS_NUMBER + '

--explain
--CREATE TABLE dbo.PartitionDates' + @PROCESS_NUMBER + ' 	WITH    (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = ROUND_ROBIN)		AS
SELECT 
	PDC.DAY_ID
	,CAST(CONVERT(VARCHAR(8),PDC.StartDate,112) AS INT) AS StartDay
	,CAST(CONVERT(VARCHAR(8),PDC.EndDate,112) AS INT) AS EndDay
	,PDC.PARTITION_NUM
	,Row_Number() OVER (ORDER BY PDC.PARTITION_NUM) AS INDICAT
	,LAG(PDC.PARTITION_NUM, 1, 0) OVER (ORDER BY PDC.PARTITION_NUM) AS PREV_NUM
INTO #PartitionDates_UVS
FROM EDW_RITE.dbo.PARTITION_DAY_ID_CONTROL AS PDC 
WHERE PDC.TABLE_NAME = 'FACT_UNIFIED_VIOLATION' AND PDC.CURRENT_IND = 0
	--AND PDC.FLAG_' + @PROCESS_NUMBER + ' = 1'
	AND (CASE
			WHEN @CURRENT_PROCESS_NUMBER = 1 THEN ISNULL(PDC.FLAG_1, 0) 
			WHEN @CURRENT_PROCESS_NUMBER = 2 THEN ISNULL(PDC.FLAG_2, 0)
			WHEN @CURRENT_PROCESS_NUMBER = 3 THEN ISNULL(PDC.FLAG_3, 0)
			WHEN @CURRENT_PROCESS_NUMBER = 4 THEN ISNULL(PDC.FLAG_4, 0)
			WHEN @CURRENT_PROCESS_NUMBER = 5 THEN ISNULL(PDC.FLAG_5, 0)
			WHEN @CURRENT_PROCESS_NUMBER = 6 THEN ISNULL(PDC.FLAG_6, 0)
			WHEN @CURRENT_PROCESS_NUMBER = 7 THEN ISNULL(PDC.FLAG_7, 0)
			WHEN @CURRENT_PROCESS_NUMBER = 8 THEN ISNULL(PDC.FLAG_8, 0)
	END) = 1 

--EXECUTE (@sql);

-- DEFAULT parameters
SELECT 
	@PART_NUM_BEGIN = MIN(PDC.PARTITION_NUM)
	,@FROM_DAY = MIN(PDC.StartDay)
	,@TO_DAY = MIN(PDC.EndDay)
	,@MAX_NUM = MAX(PDC.INDICAT)
FROM #PartitionDates_UVS AS PDC


IF (@FROM_DAY IS NULL)
BEGIN
	SET @ERROR_MESSAGE = @LOG_MESSAGE + ' There is no data to load for procecc #' + @PROCESS_NUMBER
	EXEC    EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  NULL
END
ELSE
BEGIN

	DECLARE @Cur_Part SMALLINT = @PART_NUM_BEGIN -- (SELECT MIN(PARTITION_NUM) FROM #PartitionDates_UVS)
	DECLARE @INDICAT SMALLINT = 1
	-- If only 1 period (and 1 partition) - @PART_RANGES is empty
	WHILE (@INDICAT < @MAX_NUM)
	BEGIN

		SET @INDICAT += 1

		SELECT @Cur_Part = PD.PARTITION_NUM, @PART_ROLL = PD.PREV_NUM, @FROM_DAY_ROLL = PD.StartDay, @TO_DAY_ROLL = PD.EndDay  FROM #PartitionDates_UVS AS PD WHERE PD.INDICAT = @INDICAT

		IF (@PART_ROLL + 1) <> @Cur_Part -- They goes one by one without gaps
		BEGIN
			SET @TimeLastLoopStarted = SYSDATETIME()
			SET @Min_To_Finish = DATEDIFF(Minute, @TimeLastLoopStarted, @TimeToFinish)
		
			IF @Min_Last_LOOP < @Min_To_Finish -- We will not run if there is not enough time to finish (approximately based on the longest loop)
			BEGIN
				BEGIN TRY

					EXECUTE EDW_RITE.DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE_LOAD @FROM_DAY, @TO_DAY, @PROCESS_NUMBER
					
					SET @sql = '
					UPDATE EDW_RITE.DBO.PARTITION_DAY_ID_CONTROL
					SET UPDATE_FLAG = 0, CURRENT_IND = 1
					WHERE TABLE_NAME = ''FACT_UNIFIED_VIOLATION'' AND FLAG_' + @PROCESS_NUMBER + ' = 1
						AND DAY_ID BETWEEN ' + CONVERT(VARCHAR(8),@FROM_DAY) + ' AND  ' + CONVERT(VARCHAR(8),@TO_DAY)

					EXECUTE (@sql);


				END	TRY	
				BEGIN CATCH
					SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
		
					SET @ERROR_MESSAGE = @LOG_MESSAGE + ' from: ' + CONVERT(VARCHAR(8),@FROM_DAY) + ' to: ' + CONVERT(VARCHAR(8),@TO_DAY) + ' proc #' + @PROCESS_NUMBER +' FAILED: ' + @ERROR_MESSAGE
					EXEC    EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  NULL

				END CATCH

				SELECT @Min_Last_LOOP = CASE WHEN @Min_Last_LOOP < DATEDIFF(Minute, @TimeLastLoopStarted, SYSDATETIME()) THEN @Min_Last_LOOP ELSE DATEDIFF(Minute, @TimeLastLoopStarted, SYSDATETIME()) END
			END -- IF @Min_Last_LOOP < @Min_To_Finish
			ELSE SET @INDICAT = @MAX_NUM -- Just to stop the while loop 
			SET @FROM_DAY = @FROM_DAY_ROLL

		END -- (@PART_ROLL + 1) <> @Cur_Part
		SET @TO_DAY = @TO_DAY_ROLL
	END;

	-- The last step is not in the loop
	SET @TimeLastLoopStarted = SYSDATETIME()
	SET @Min_To_Finish = DATEDIFF(Minute, @TimeLastLoopStarted, @TimeToFinish)
	IF @Min_Last_LOOP < @Min_To_Finish
	BEGIN
		BEGIN TRY
			EXECUTE EDW_RITE.DBO.FACT_UNIFIED_VIOLATION_SNAPSHOT_STAGE_LOAD @FROM_DAY, @TO_DAY, @PROCESS_NUMBER
					
			SET @sql = '
			UPDATE EDW_RITE.DBO.PARTITION_DAY_ID_CONTROL
			SET UPDATE_FLAG = 0, CURRENT_IND = 1
			WHERE TABLE_NAME = ''FACT_UNIFIED_VIOLATION'' AND FLAG_' + @PROCESS_NUMBER + ' = 1
				AND DAY_ID BETWEEN ' + CONVERT(VARCHAR(8),@FROM_DAY) + ' AND  ' + CONVERT(VARCHAR(8),@TO_DAY)

			EXECUTE (@sql);

		END	TRY	
		BEGIN CATCH
			SELECT @ERROR_MESSAGE = ERROR_MESSAGE();  
		
			SET @ERROR_MESSAGE = @LOG_MESSAGE + ' from: ' + CONVERT(VARCHAR(8),@FROM_DAY) + ' to: ' + CONVERT(VARCHAR(8),@TO_DAY) + ' proc #' + @PROCESS_NUMBER +' FAILED: ' + @ERROR_MESSAGE
			EXEC    EDW_RITE.dbo.LOG_PROCESS @SOURCE, @LOG_START_DATE, @ERROR_MESSAGE,  NULL

		END CATCH
	END  -- IF @Min_Last_LOOP < @Min_To_Finish
END  -- IF (@FROM_DAY IS NULL)
--SET @sql = 'IF OBJECT_ID(''DBO.PartitionDates' + @PROCESS_NUMBER + ''') IS NOT NULL DROP TABLE DBO.PartitionDates' + @PROCESS_NUMBER
--EXECUTE (@sql);
*/
















