CREATE PROC [DBO].[TA_TXN_AVI_DATAS_LOAD] AS 

/*
USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id('DBO.TA_TXN_AVI_DATAS_LOAD') 
                   and OBJECTPROPERTY(id, 'IsProcedure') = 1 )
DROP PROCEDURE DBO.TA_TXN_AVI_DATAS_LOAD
GO

EXEC EDW_RITE.DBO.TA_TXN_AVI_DATAS_LOAD

SELECT TOP 20 * FROM dbo.TA_TXN_AVI_DATAS
SELECT COUNT_BIG(1) CNT, MIN(TART_TART_ID) TART_TART_ID FROM EDW_RITE.dbo.TOTAL_NET_REV_TFC_EVTS WHERE Local_Time >= '20180401'
SELECT COUNT_BIG(1) FROM dbo.TA_TXN_AVI_DATAS WHERE TART_ID > = 14375321494 -- 970 896 713
SELECT COUNT_BIG(1) FROM LND_LG_HOST.TXNOWNER.TA_TXN_AVI_DATAS WHERE TART_ID > = 14375321494  --974656064

*/

	DECLARE @TABLE_NAME VARCHAR(50) = 'TA_TXN_AVI_DATAS'
	DECLARE @START_DATE DATETIME2 (2),@LOG_MESSAGE VARCHAR(1000),@ROW_COUNT BIGINT
	DECLARE @UPDATE_DATE datetime 

	SET @START_DATE = GETDATE()
	--STEP #1: SET PARAMETER DATE
	
	IF OBJECT_ID('dbo.TA_TXN_AVI_DATAS') IS NULL 
	BEGIN
		SET @UPDATE_DATE ='1900-01-01' 
	END
	ELSE
	BEGIN
		SET @UPDATE_DATE = (SELECT MAX(LAST_UPDATE_DATE) LAST_UPDATE_DATE FROM dbo.TA_TXN_AVI_DATAS) --2019-07-05 11:45:28.00
	END
		-- SELECT MAX(LAST_UPDATE_DATE) LAST_UPDATE_DATE FROM LND_LG_HOST.TXNOWNER.TA_TXN_AVI_DATAS --2019-07-05 11:45:28.00
	----PRINT @UPDATE_DATE
	SELECT  @LOG_MESSAGE = 'Started to load updates from ' + CONVERT(VARCHAR(19),@UPDATE_DATE,121)
	EXEC    EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE,  NULL
	
	IF OBJECT_ID('dbo.TA_TXN_AVI_DATAS_NEW_SET') > 0  DROP TABLE dbo.TA_TXN_AVI_DATAS_NEW_SET


	--STEP #2: Create the NEW table with DISTRIBUTION = HASH([TART_ID]--Stage Table
	CREATE TABLE dbo.TA_TXN_AVI_DATAS_NEW_SET WITH (HEAP, DISTRIBUTION = HASH(TART_ID))
	AS 
	SELECT 
		CAST(ROUND(TART_ID / 500000000, 0) * 500000000 AS BIGINT)  AS PARTITION_VALUES, AVI_READER_NBR,AVI_TAG_CLASS,AVI_TAG_ID,AVI_PLAZA_AND_LN_ID,AVI_TAG_STATUS,AVI_HANDSHAKE,AVI_YEAR,AVI_MONTH,AVI_DAY,AVI_HOUR,AVI_MINUTE,AVI_SECOND,TAD_ID,TART_ID,TAG_AGENCY,LAST_UPDATE_TYPE,LAST_UPDATE_DATE
    FROM  LND_LG_HOST.TXNOWNER.TA_TXN_AVI_DATAS
	WHERE LAST_UPDATE_DATE > @UPDATE_DATE 
	--WHERE TART_ID > = 15000000000

	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got all changed rows:'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE, @ROW_COUNT

	CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_NEW_001 ON TA_TXN_AVI_DATAS_NEW_SET (TART_ID)

	DECLARE @IDENTITY_COLUMNS VARCHAR(8000) = '[TART_ID]'

	EXEC DBO.PARTITION_SWITCH_NUMBER_BASED_LOAD @TABLE_NAME, @IDENTITY_COLUMNS

	UPDATE STATISTICS dbo.TA_TXN_AVI_DATAS

	IF OBJECT_ID('dbo.TA_TXN_AVI_DATAS_NEW_SET') > 0  DROP TABLE dbo.TA_TXN_AVI_DATAS_NEW_SET

	SET  @LOG_MESSAGE = 'Load finished'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE, NULL


	/*
	IF OBJECT_ID('dbo.TTAD_PARTITIONS_VALUES') > 0  DROP TABLE dbo.TTAD_PARTITIONS_VALUES
	CREATE TABLE dbo.TTAD_PARTITIONS_VALUES WITH (HEAP, DISTRIBUTION = HASH(PARTITION_VALUES))
	AS
	SELECT  CAST(p.partition_number AS INT) + CAST(pf.boundary_value_on_right AS INT) AS PARTITION_NUM, CAST(rv.value AS BIGINT)  AS PARTITION_VALUES
	FROM      sys.schemas s
	JOIN      sys.tables t                  ON t.[schema_id]      = s.[schema_id]
	JOIN      sys.partitions p              ON p.[object_id]      = t.[object_id]
	JOIN      sys.indexes i                 ON i.[object_id]      = p.[object_id] AND i.[index_id] = p.[index_id]
	JOIN      sys.data_spaces ds            ON ds.[data_space_id] = i.[data_space_id]
	LEFT JOIN sys.partition_schemes ps      ON ps.[data_space_id] = ds.[data_space_id]
	LEFT JOIN sys.partition_functions pf    ON pf.[function_id]   = ps.[function_id]
	LEFT JOIN sys.partition_range_values rv ON rv.[function_id]   = pf.[function_id] AND rv.[boundary_id] = p.[partition_number]
	WHERE p.[index_id] <=1 AND t.[name] = 'TA_TXN_AVI_DATAS' AND rv.[value] IS NOT NULL

	IF OBJECT_ID('dbo.TTAD_PARTITION_LOAD_VALUES') > 0  DROP TABLE dbo.TTAD_PARTITION_LOAD_VALUES
	CREATE TABLE dbo.TTAD_PARTITION_LOAD_VALUES WITH (HEAP, DISTRIBUTION = HASH(PARTITION_VALUES))
	AS 
	--EXPLAIN
	SELECT
		FN.PARTITION_VALUES,
		IQ.PARTITION_NUM,
		Row_Number() OVER (ORDER BY IQ.PARTITION_NUM) AS INDICAT
	FROM 
	(SELECT PARTITION_VALUES FROM EDW_RITE.dbo.TA_TXN_AVI_DATAS_NEW	GROUP BY  PARTITION_VALUES) FN
	JOIN dbo.TTAD_PARTITIONS_VALUES AS IQ ON FN.PARTITION_VALUES = IQ.PARTITION_VALUES


	DECLARE @NUM_IND INT  = (SELECT MAX(INDICAT) FROM dbo.TTAD_PARTITION_LOAD_VALUES)
	DECLARE @CUR_IND INT = 1
	DECLARE @sql VARCHAR(MAX)
	DECLARE @PERIOD_RANGES VARCHAR(MAX) = ''
	DECLARE @PARTITION_VALUES BIGINT
	DECLARE @Cur_Part_Text VARCHAR(3)

	SELECT @PARTITION_VALUES = PARTITION_VALUES FROM dbo.TTAD_PARTITION_LOAD_VALUES WHERE INDICAT = @CUR_IND

	SET @PERIOD_RANGES = CAST(@PARTITION_VALUES AS VARCHAR(11))

	WHILE (@CUR_IND < @NUM_IND) BEGIN
		SET @CUR_IND += 1 -- The first period is already here - start from 2-nd and till the end
		-- Initiate all roll variables
		SELECT @PARTITION_VALUES = PARTITION_VALUES  FROM dbo.TTAD_PARTITION_LOAD_VALUES AS PD WHERE PD.INDICAT = @CUR_IND
		SET @PERIOD_RANGES = @PERIOD_RANGES + ',' + CAST(@PARTITION_VALUES AS VARCHAR(11))
	END;

	IF OBJECT_ID('dbo.TA_TXN_AVI_DATAS_STAGE') > 0  DROP TABLE dbo.TA_TXN_AVI_DATAS_STAGE
	SET @sql =' 	
	CREATE TABLE dbo.TA_TXN_AVI_DATAS_STAGE 
	WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_ID), PARTITION (PARTITION_VALUES RANGE RIGHT FOR VALUES 
			(500000000,1000000000,1500000000,2000000000,2500000000,3000000000,3500000000,4000000000,4500000000,5000000000,5500000000,6000000000,6500000000,7000000000,7500000000,8000000000,8500000000,9000000000,9500000000,10000000000,
			10500000000,11000000000,11500000000,12000000000,12500000000,13000000000,13500000000,14000000000,14500000000,15000000000,15500000000,16000000000,16500000000,17000000000,17500000000,18000000000,18500000000,19000000000,19500000000,20000000000,
			20500000000,21000000000,21500000000,22000000000,22500000000,23000000000,23500000000,24000000000,24500000000,25000000000,25500000000,26000000000,26500000000,27000000000,27500000000,28000000000,28500000000,29000000000,29500000000,30000000000,
			30500000000,31000000000,31500000000,32000000000,32500000000,33000000000,33500000000,34000000000,34500000000,35000000000,35500000000,36000000000,36500000000,37000000000,37500000000,38000000000,38500000000,39000000000,39500000000,40000000000,
			40500000000,41000000000,41500000000,42000000000,42500000000,43000000000,43500000000,44000000000,44500000000,45000000000,45500000000,46000000000,46500000000,47000000000,47500000000,48000000000,48500000000,49000000000,49500000000,50000000000)
		)) AS
	SELECT 
		PARTITION_VALUES, AVI_READER_NBR,AVI_TAG_CLASS,AVI_TAG_ID,AVI_PLAZA_AND_LN_ID,AVI_TAG_STATUS,AVI_HANDSHAKE,AVI_YEAR,AVI_MONTH,AVI_DAY,AVI_HOUR,AVI_MINUTE,AVI_SECOND,TAD_ID,TART_ID,TAG_AGENCY,LAST_UPDATE_TYPE,LAST_UPDATE_DATE
	FROM dbo.TA_TXN_AVI_DATAS AS F WHERE NOT EXISTS (SELECT 1 FROM dbo.TA_TXN_AVI_DATAS_NEW AS NSET WHERE NSET.TART_ID = F.TART_ID) AND PARTITION_VALUES IN ( '+ @PERIOD_RANGES + ')   
		UNION ALL  
	SELECT 
		PARTITION_VALUES, AVI_READER_NBR,AVI_TAG_CLASS,AVI_TAG_ID,AVI_PLAZA_AND_LN_ID,AVI_TAG_STATUS,AVI_HANDSHAKE,AVI_YEAR,AVI_MONTH,AVI_DAY,AVI_HOUR,AVI_MINUTE,AVI_SECOND,TAD_ID,TART_ID,TAG_AGENCY,LAST_UPDATE_TYPE,LAST_UPDATE_DATE
	FROM dbo.TA_TXN_AVI_DATAS_NEW'
	EXECUTE (@sql);

	EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Stage table created with all cganges of all periods'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE, @ROW_COUNT

	--STEP #10: Switch all changed partitions from Stage to Fact.
	--SET @sql =' 	
	IF OBJECT_ID('dbo.TA_TXN_AVI_DATAS_TRUNCATE') IS NOT NULL DROP TABLE dbo.TA_TXN_AVI_DATAS_TRUNCATE;
	CREATE TABLE dbo.TA_TXN_AVI_DATAS_TRUNCATE 	
	WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_ID), PARTITION (PARTITION_VALUES RANGE RIGHT FOR VALUES 
			(500000000,1000000000,1500000000,2000000000,2500000000,3000000000,3500000000,4000000000,4500000000,5000000000,5500000000,6000000000,6500000000,7000000000,7500000000,8000000000,8500000000,9000000000,9500000000,10000000000,
			10500000000,11000000000,11500000000,12000000000,12500000000,13000000000,13500000000,14000000000,14500000000,15000000000,15500000000,16000000000,16500000000,17000000000,17500000000,18000000000,18500000000,19000000000,19500000000,20000000000,
			20500000000,21000000000,21500000000,22000000000,22500000000,23000000000,23500000000,24000000000,24500000000,25000000000,25500000000,26000000000,26500000000,27000000000,27500000000,28000000000,28500000000,29000000000,29500000000,30000000000,
			30500000000,31000000000,31500000000,32000000000,32500000000,33000000000,33500000000,34000000000,34500000000,35000000000,35500000000,36000000000,36500000000,37000000000,37500000000,38000000000,38500000000,39000000000,39500000000,40000000000,
			40500000000,41000000000,41500000000,42000000000,42500000000,43000000000,43500000000,44000000000,44500000000,45000000000,45500000000,46000000000,46500000000,47000000000,47500000000,48000000000,48500000000,49000000000,49500000000,50000000000)
		)) AS
	SELECT * FROM dbo.TA_TXN_AVI_DATAS  WHERE   1=2

	SET @CUR_IND = 1
	WHILE (@CUR_IND <= @NUM_IND) BEGIN
		SELECT @Cur_Part_Text = CAST(PARTITION_NUM AS VARCHAR(3)) FROM dbo.TTAD_PARTITION_LOAD_VALUES WHERE INDICAT = @CUR_IND
		SET @sql = '
		ALTER TABLE dbo.TA_TXN_AVI_DATAS SWITCH PARTITION ' + @Cur_Part_Text + ' TO dbo.TA_TXN_AVI_DATAS_TRUNCATE PARTITION ' + @Cur_Part_Text + ';
		ALTER TABLE dbo.TA_TXN_AVI_DATAS_STAGE SWITCH PARTITION ' + @Cur_Part_Text + ' TO dbo.TA_TXN_AVI_DATAS PARTITION ' + @Cur_Part_Text + ';'
		EXECUTE (@sql);
		SET @CUR_IND += 1
	END;
	UPDATE STATISTICS dbo.TA_TXN_AVI_DATAS

	IF OBJECT_ID('dbo.TA_TXN_AVI_DATAS_TRUNCATE') IS NOT NULL DROP TABLE dbo.TA_TXN_AVI_DATAS_TRUNCATE;
	IF OBJECT_ID('dbo.TA_TXN_AVI_DATAS_STAGE') IS NOT NULL DROP TABLE dbo.TA_TXN_AVI_DATAS_STAGE
	IF OBJECT_ID('dbo.TTAD_PARTITIONS_VALUES') > 0  DROP TABLE dbo.TTAD_PARTITIONS_VALUES
	IF OBJECT_ID('dbo.TTAD_PARTITION_LOAD_VALUES') > 0  DROP TABLE dbo.TTAD_PARTITION_LOAD_VALUES
	IF OBJECT_ID('dbo.TA_TXN_AVI_DATAS_NEW_SET') > 0  DROP TABLE dbo.TA_TXN_AVI_DATAS_NEW_SET

	SET  @LOG_MESSAGE = 'Load finished'
	EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE, NULL



	*/

/*
	SELECT PARTITION_VALUES, COUNT_BIG(1) CNT FROM dbo.TA_TXN_AVI_DATAS
	GROUP BY  PARTITION_VALUES
	ORDER BY PARTITION_VALUES

	SELECT MAX(LAST_UPDATE_DATE) FROM LND_LG_HOST.TXNOWNER.TA_TXN_AVI_DATAS
	SELECT MAX(LAST_UPDATE_DATE) FROM dbo.TA_TXN_AVI_DATAS

*/

/*

	CREATE TABLE EDW_RITE.dbo.TA_TXN_AVI_DATAS_STAGE 
	WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH(TART_ID), PARTITION (PARTITION_VALUES RANGE RIGHT FOR VALUES 
			(500000000,1000000000,1500000000,2000000000,2500000000,3000000000,3500000000,4000000000,4500000000,5000000000,5500000000,6000000000,6500000000,7000000000,7500000000,8000000000,8500000000,9000000000,9500000000,10000000000,
			10500000000,11000000000,11500000000,12000000000,12500000000,13000000000,13500000000,14000000000,14500000000,15000000000,15500000000,16000000000,16500000000,17000000000,17500000000,18000000000,18500000000,19000000000,19500000000,20000000000,
			20500000000,21000000000,21500000000,22000000000,22500000000,23000000000,23500000000,24000000000,24500000000,25000000000,25500000000,26000000000,26500000000,27000000000,27500000000,28000000000,28500000000,29000000000,29500000000,30000000000,
			30500000000,31000000000,31500000000,32000000000,32500000000,33000000000,33500000000,34000000000,34500000000,35000000000,35500000000,36000000000,36500000000,37000000000,37500000000,38000000000,38500000000,39000000000,39500000000,40000000000,
			40500000000,41000000000,41500000000,42000000000,42500000000,43000000000,43500000000,44000000000,44500000000,45000000000,45500000000,46000000000,46500000000,47000000000,47500000000,48000000000,48500000000,49000000000,49500000000,50000000000)
		)) AS
	SELECT 
		CAST(ROUND(TART_ID / 500000000, 0) * 500000000 AS BIGINT)  AS PARTITION_VALUES, AVI_READER_NBR,AVI_TAG_CLASS,AVI_TAG_ID,AVI_PLAZA_AND_LN_ID,AVI_TAG_STATUS,AVI_HANDSHAKE,AVI_YEAR,AVI_MONTH,AVI_DAY,AVI_HOUR,AVI_MINUTE,AVI_SECOND,TAD_ID,TART_ID,TAG_AGENCY,LAST_UPDATE_TYPE,LAST_UPDATE_DATE
    FROM  EDW_RITE.dbo.TA_TXN_AVI_DATAS


	CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_001 ON EDW_RITE.dbo.TA_TXN_AVI_DATAS_STAGE ( TART_ID);
	CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_002 ON EDW_RITE.dbo.TA_TXN_AVI_DATAS_STAGE ( TAD_ID);
	CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_003 ON EDW_RITE.dbo.TA_TXN_AVI_DATAS_STAGE ( TAG_AGENCY);
	CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_004 ON EDW_RITE.dbo.TA_TXN_AVI_DATAS_STAGE ( AVI_HANDSHAKE);
	CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_005 ON EDW_RITE.dbo.TA_TXN_AVI_DATAS_STAGE ( AVI_TAG_STATUS);

	IF OBJECT_ID('EDW_RITE.dbo.TA_TXN_AVI_DATAS_OLD') IS NOT NULL DROP TABLE dbo.TA_TXN_AVI_DATAS_OLD
	IF OBJECT_ID('EDW_RITE.dbo.TA_TXN_AVI_DATAS') IS NOT NULL			RENAME OBJECT::EDW_RITE.dbo.TA_TXN_AVI_DATAS TO TA_TXN_AVI_DATAS_OLD;
	IF OBJECT_ID('EDW_RITE.dbo.TA_TXN_AVI_DATAS_STAGE') IS NOT NULL		RENAME OBJECT::EDW_RITE.dbo.TA_TXN_AVI_DATAS_STAGE TO TA_TXN_AVI_DATAS;

*/


	----STEP #9: Run a big query to copy all the data to a stage table - new al not changed for all this periods.

	---- Logging
	--EXEC EDW_RITE.dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	--SET  @LOG_MESSAGE = 'Stage table created with all cganges of all periods'
	--EXEC EDW_RITE.dbo.LOG_PROCESS @TABLE_NAME, @START_DATE, @LOG_MESSAGE, @ROW_COUNT

	----STEP: CREATE STATISTICS
	--CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_001 ON dbo.TA_TXN_AVI_DATAS_STAGE ( TART_ID);
	--CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_002 ON dbo.TA_TXN_AVI_DATAS_STAGE ( TAD_ID);
	--CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_003 ON dbo.TA_TXN_AVI_DATAS_STAGE ( TAG_AGENCY);
	--CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_004 ON dbo.TA_TXN_AVI_DATAS_STAGE ( AVI_HANDSHAKE);
	--CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_005 ON dbo.TA_TXN_AVI_DATAS_STAGE ( AVI_TAG_STATUS);


	----STEP: Switch all changed partitions from Stage to Fact.

	--IF OBJECT_ID('dbo.TA_TXN_AVI_DATAS_OLD') IS NOT NULL	DROP TABLE dbo.TA_TXN_AVI_DATAS_OLD;
	--IF OBJECT_ID('dbo.TA_TXN_AVI_DATAS') IS NOT NULL			RENAME OBJECT::dbo.TA_TXN_AVI_DATAS TO TA_TXN_AVI_DATAS_OLD;
	--IF OBJECT_ID('dbo.TA_TXN_AVI_DATAS_STAGE') IS NOT NULL		RENAME OBJECT::dbo.TA_TXN_AVI_DATAS_STAGE TO TA_TXN_AVI_DATAS;




	   --select * from dbo.TA_TXN_AVI_DATAS_NEW


	--STEP #2a: INSERT MISSING ONES
	--create table structure
	/*
	IF OBJECT_ID('dbo.TA_TXN_AVI_DATAS') IS NULL
	BEGIN		
		CREATE TABLE dbo.[TA_TXN_AVI_DATAS] WITH (CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([TART_ID]))
		AS 
		SELECT *
		FROM dbo.TA_TXN_AVI_DATAS_NEW where 1=2
		CREATE STATISTICS STATS_TA_TXN_AVI_DATAS_001 ON TA_TXN_AVI_DATAS ([TART_ID])
	END

	--insert values
    INSERT INTO dbo.[TA_TXN_AVI_DATAS]

	SELECT 
	   A.AVI_READER_NBR, A.AVI_TAG_CLASS, A.AVI_TAG_ID, A.AVI_PLAZA_AND_LN_ID, A.AVI_TAG_STATUS, A.AVI_HANDSHAKE, 
	   A.AVI_YEAR, A.AVI_MONTH, A.AVI_DAY, A.AVI_HOUR, A.AVI_MINUTE, A.AVI_SECOND, A.TAD_ID, A.TART_ID, A.TAG_AGENCY,
	    A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE

    FROM  dbo.TA_TXN_AVI_DATAS_NEW A
    LEFT JOIN  dbo.[TA_TXN_AVI_DATAS] B ON A.TART_ID = B.TART_ID
    WHERE B.TART_ID IS NULL;

	--STEP #2b: UPDATE THE CHANGED ONES
	UPDATE dbo.[TA_TXN_AVI_DATAS] 

	SET

  dbo.TA_TXN_AVI_DATAS.AVI_READER_NBR = B.AVI_READER_NBR
, dbo.TA_TXN_AVI_DATAS.AVI_TAG_CLASS = B.AVI_TAG_CLASS
, dbo.TA_TXN_AVI_DATAS.AVI_TAG_ID = B.AVI_TAG_ID
, dbo.TA_TXN_AVI_DATAS.AVI_PLAZA_AND_LN_ID = B.AVI_PLAZA_AND_LN_ID
, dbo.TA_TXN_AVI_DATAS.AVI_TAG_STATUS = B.AVI_TAG_STATUS
, dbo.TA_TXN_AVI_DATAS.AVI_HANDSHAKE = B.AVI_HANDSHAKE
, dbo.TA_TXN_AVI_DATAS.AVI_YEAR = B.AVI_YEAR
, dbo.TA_TXN_AVI_DATAS.AVI_MONTH = B.AVI_MONTH
, dbo.TA_TXN_AVI_DATAS.AVI_DAY = B.AVI_DAY
, dbo.TA_TXN_AVI_DATAS.AVI_HOUR = B.AVI_HOUR
, dbo.TA_TXN_AVI_DATAS.AVI_MINUTE = B.AVI_MINUTE
, dbo.TA_TXN_AVI_DATAS.AVI_SECOND = B.AVI_SECOND
, dbo.TA_TXN_AVI_DATAS.TAD_ID = B.TAD_ID
, dbo.TA_TXN_AVI_DATAS.TAG_AGENCY = B.TAG_AGENCY
, dbo.TA_TXN_AVI_DATAS.LAST_UPDATE_TYPE = B.LAST_UPDATE_TYPE
, dbo.TA_TXN_AVI_DATAS.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE


	FROM dbo.TA_TXN_AVI_DATAS_NEW B
	WHERE dbo.[TA_TXN_AVI_DATAS].TART_ID=B.TART_ID
	AND B.LAST_UPDATE_DATE>@UPDATE_DATE
	AND checksum(dbo.TA_TXN_AVI_DATAS.AVI_READER_NBR, dbo.TA_TXN_AVI_DATAS.AVI_TAG_CLASS, dbo.TA_TXN_AVI_DATAS.AVI_TAG_ID, dbo.TA_TXN_AVI_DATAS.AVI_PLAZA_AND_LN_ID, dbo.TA_TXN_AVI_DATAS.AVI_TAG_STATUS, dbo.TA_TXN_AVI_DATAS.AVI_HANDSHAKE, dbo.TA_TXN_AVI_DATAS.AVI_YEAR, dbo.TA_TXN_AVI_DATAS.AVI_MONTH, dbo.TA_TXN_AVI_DATAS.AVI_DAY, dbo.TA_TXN_AVI_DATAS.AVI_HOUR, dbo.TA_TXN_AVI_DATAS.AVI_MINUTE, dbo.TA_TXN_AVI_DATAS.AVI_SECOND, dbo.TA_TXN_AVI_DATAS.TAD_ID, dbo.TA_TXN_AVI_DATAS.TART_ID, dbo.TA_TXN_AVI_DATAS.TAG_AGENCY, dbo.TA_TXN_AVI_DATAS.LAST_UPDATE_TYPE, dbo.TA_TXN_AVI_DATAS.LAST_UPDATE_DATE)
	<>
	checksum( B.AVI_READER_NBR, B.AVI_TAG_CLASS, B.AVI_TAG_ID, B.AVI_PLAZA_AND_LN_ID, B.AVI_TAG_STATUS, B.AVI_HANDSHAKE, B.AVI_YEAR, B.AVI_MONTH, B.AVI_DAY, B.AVI_HOUR, B.AVI_MINUTE, B.AVI_SECOND, B.TAD_ID, B.TART_ID, B.TAG_AGENCY, B.LAST_UPDATE_TYPE, B.LAST_UPDATE_DATE)


--STEP #3: UPDATE STATISTICS
	UPDATE STATISTICS dbo.[TA_TXN_AVI_DATAS]
	IF OBJECT_ID('dbo.TA_TXN_AVI_DATAS_NEW')>0  DROP TABLE dbo.TA_TXN_AVI_DATAS_NEW
*/
--STEP #4: Total Records
--SELECT COUNT_BIG(1) FROM LND_LG_HOST.TXNOWNER.TA_TXN_AVI_DATAS; 

