CREATE PROC [DBO].[FACT_INVOICES_DATA_LOAD] AS 
/*	

USE EDW_RITE
GO

IF EXISTS (SELECT * 
            FROM   sysobjects 
            WHERE  id = object_id(N'DBO.FACT_INVOICES_DATA_LOAD') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
DROP PROCEDURE DBO.FACT_INVOICES_DATA_LOAD
GO

EXEC DBO.FACT_INVOICES_DATA_LOAD

SELECT TOP 100 * FROM DBO.FACT_INVOICES_DATA  
WHERE VBI_INVOICE_ID = 709232563

SELECT COUNT_BIG(1) FROM DBO.FACT_INVOICES_DATA
SELECT MAX(VBB_LN_BATCH_ID) FROM DBO.FACT_INVOICES_DATA

SELECT MAX(VBI_INVOICE_ID) FROM dbo.VIOLATION_VB_VIOL_XREF

*/  
--#1	ANDY FILIPPS	2019-07-16	Created new proc


DECLARE @TABLE_NAME VARCHAR(50) = 'FACT_INVOICES_DATA', @LOG_START_DATE DATETIME2 (2), @LOG_MESSAGE VARCHAR(1000), @ROW_COUNT BIGINT 


SELECT  @LOG_START_DATE = GETDATE(), @LOG_MESSAGE = 'Started full load'
EXEC    dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE,  NULL


IF OBJECT_ID('dbo.FACT_INVOICES_DATA_STAGE') IS NOT NULL  DROP TABLE dbo.FACT_INVOICES_DATA_STAGE
	-- EXPLAIN
	CREATE TABLE dbo.FACT_INVOICES_DATA_STAGE WITH (CLUSTERED INDEX (VBI_INVOICE_ID,VIOL_INVOICE_ID), DISTRIBUTION = HASH (LAST_INVOICE_ID)) AS
	WITH CTE_VIOL_VB_INV AS
	(  
		SELECT
			LAST_INVOICE_ID
			,VBI_INVOICE_ID
			,VIOL_INVOICE_ID	
			,SUM(CASE WHEN DELETE_STATUS = 0 THEN TOLL_DUE ELSE 0 END) AS TOLL_DUE
			,SUM(CASE WHEN DELETE_STATUS = 0 THEN FINE_AMOUNT ELSE 0 END) AS FINE_AMOUNT
			,SUM(TOLL_DUE) AS LEGACY_TOLL_DUE
			,SUM(FINE_AMOUNT) AS LEGACY_FINE_AMOUNT
			,COUNT(1) AS ALL_TRANS_CNT 
			,SUM(CAST(DELETE_STATUS AS INT)) AS DELETE_TRANS_CNT 
		FROM dbo.VIOLATION_VB_VIOL_XREF  
		GROUP BY LAST_INVOICE_ID,VBI_INVOICE_ID,VIOL_INVOICE_ID
	)
	, CTE_MAIL AS
	(
		SELECT V.VBI_INVOICE_ID, MAX(ISNULL(M.MAIL_DATE,'1900-01-01')) AS MAIL_DATE
		FROM (SELECT VBSV_STATEMENT_ID,VBI_INVOICE_ID FROM LND_LG_VPS.VP_OWNER.VB_STATEMENT_VIOLATIONS GROUP BY VBSV_STATEMENT_ID,VBI_INVOICE_ID) V
		JOIN LND_LG_VPS.VP_OWNER.MAIL_FILE_DETAILS M ON M.STATEMENT_ID = V.VBSV_STATEMENT_ID 
		GROUP BY V.VBI_INVOICE_ID
	)
	SELECT 
		I.LAST_INVOICE_ID										LAST_INVOICE_ID
		,I.VBI_INVOICE_ID 										VBI_INVOICE_ID
		,I.VIOL_INVOICE_ID										VIOL_INVOICE_ID							
		,CAST(ISNULL(VI.VIOLATOR_ID,VB.VIOLATOR_ID) AS BIGINT)	VIOLATOR_ID
		,ISNULL(VI.VIOLATOR_ADDR_SEQ,VB.VIOLATOR_ADDR_SEQ)		VIOLATOR_ADDR_SEQ
		,CAST(I.ALL_TRANS_CNT - I.DELETE_TRANS_CNT AS INT)		TRANSACTIONS_CNT
		,CAST(I.TOLL_DUE AS DECIMAL(10,2))						TOLL_AMOUNT
		,CASE 
			WHEN I.VIOL_INVOICE_ID = -1 THEN CAST(ISNULL(VB.LATE_FEE_AMOUNT,0) AS DECIMAL(10,2))
			ELSE CAST(ISNULL(VI.INV_ADMIN_FEE,0) + ISNULL(VI.INV_ADMIN_FEE2,0) + ISNULL(I.FINE_AMOUNT,0) AS DECIMAL(10,2)) 
		END AS FEES_AMOUNT   
		,CAST(I.ALL_TRANS_CNT AS INT)							LEGACY_TRANSACTIONS_CNT
		,CAST(I.LEGACY_TOLL_DUE AS DECIMAL(10,2))				LEGACY_TOLL_AMOUNT
		,CASE 
			WHEN I.VIOL_INVOICE_ID = -1 THEN CAST(ISNULL(VB.LATE_FEE_AMOUNT,0) AS DECIMAL(10,2))
			ELSE CAST(ISNULL(VI.INV_ADMIN_FEE,0) + ISNULL(VI.INV_ADMIN_FEE2,0) + ISNULL(I.LEGACY_FINE_AMOUNT,0) AS DECIMAL(10,2)) 
		END AS LEGACY_FEES_AMOUNT   
		,VB.VBI_STATUS											VBI_STATUS
		,VB.INVOICE_DATE										VB_INVOICE_DATE
		,CAST(VB.INVOICE_AMOUNT	  	 AS DECIMAL(10,2))			VB_INVOICE_AMT
		,CAST(VB.INVOICE_AMT_DISC	 AS DECIMAL(10,2))			VB_INVOICE_AMT_DISC
		,CAST(VB.LATE_FEE_AMOUNT	 AS DECIMAL(10,2))			VB_LATE_FEE_AMOUNT
		,CAST(VB.PAST_DUE_AMOUNT	 AS DECIMAL(10,2))			VB_PAST_DUE_AMOUNT
		,CAST(VB.INVOICE_AMT_PAID	 AS DECIMAL(10,2))			VB_INVOICE_AMT_PAID
		,CAST(VB.VBB_LN_BATCH_ID AS BIGINT)						VBB_LN_BATCH_ID
		,CAST(VB.VBB_BATCH_ID AS BIGINT)						VBB_BATCH_ID
		,VB.DATE_EXCUSED										VB_DATE_EXCUSED
		,VB.EXCUSED_BY											VB_EXCUSED_BY
		,VB.EXCUSED_REASON										VB_EXCUSED_REASON
		,VB.DUE_DATE											VB_DUE_DATE
		,VB.INV_CLOSED_DATE										VB_CLOSED_DATE
		,VB.DATE_CREATED 										VB_DATE_CREATED
		,VB.DATE_MODIFIED 										VB_DATE_MODIFIED
		,VB.CONVERSION_DATE										VB_CONVERSION_DATE
		,VB.SOURCE_CODE  										VB_SOURCE_CODE
		,M.MAIL_DATE											VB_MAIL_DATE
		,VI.VIOL_INV_STATUS										VIOL_INV_STATUS
		,VI.INVOICE_DATE										VIOL_INVOICE_DATE
		,CAST(VI.INVOICE_AMOUNT	 AS DECIMAL(10,2))				VIOL_INVOICE_AMT
		,CAST(VI.INVOICE_AMT_PAID AS DECIMAL(10,2))				VIOL_INVOICE_AMT_PAID
		,CAST(VI.INVOICE_AMT_DISC AS DECIMAL(10,2))				VIOL_INVOICE_AMT_DISC
		,CAST(VI.INV_ADMIN_FEE	 AS DECIMAL(10,2))				VIOL_INV_ADMIN_FEE
		,CAST(VI.INV_ADMIN_FEE2	 AS DECIMAL(10,2))				VIOL_INV_ADMIN_FEE2
		,CAST(I.FINE_AMOUNT		 AS DECIMAL(10,2))				VIOL_FINE_AMOUNT
		,VI.VIOL_INV_BATCH_ID									VIOL_INV_BATCH_ID
		,VI.DATE_EXCUSED										VIOL_INV_DATE_EXCUSED
		,VI.EXCUSED_BY											VIOL_INV_EXCUSED_BY
		,VI.INV_EXCUSED_REASON									VIOL_INV_EXCUSED_REASON
		,VI.CURR_DUE_DATE										VIOL_INV_CURR_DUE_DATE
		,VI.STATUS_DATE											VIOL_INV_STATUS_DATE
		,VI.DATE_MODIFIED										VIOL_INV_DATE_MODIFIED
		,VI.INV_CLOSED_DATE										VIOL_INV_CLOSED_DATE
		,VI.SOURCE_CODE  										VIOL_INV_SOURCE_CODE  	
		,VI.DPS_DATE  											VIOL_INV_DPS_DATE  		
		,VI.DPS_REJECT_DATE  									VIOL_INV_DPS_REJECT_DATE 
		,VI.DATE_CREATED 										VIOL_INV_DATE_CREATED 	
		,VI.GL_STATUS  											VIOL_INV_GL_STATUS  		
		,VI.IS_VTOLL  											VIOL_INV_IS_VTOLL  		
		,VI.IS_VEA  											VIOL_INV_IS_VEA  		
		,VI.CA_INV_STATUS										CA_INV_STATUS
		,VI.DPS_INV_STATUS										DPS_INV_STATUS
		,VI.CLOSE_OUT_ELIGIBILITY_DATE							CLOSE_OUT_ELIGIBILITY_DATE
		,VI.CLOSE_OUT_STATUS									CLOSE_OUT_STATUS
		,VI.CLOSE_OUT_DATE										CLOSE_OUT_DATE
		,VI.CLOSE_OUT_TYPE										CLOSE_OUT_TYPE
	FROM  CTE_VIOL_VB_INV AS I 
	LEFT JOIN LND_LG_VPS.VP_OWNER.VB_INVOICES VB	ON I.VBI_INVOICE_ID = VB.VBI_INVOICE_ID
	LEFT JOIN LND_LG_VPS.VP_OWNER.VIOL_INVOICES VI  ON  I.VIOL_INVOICE_ID = VI.VIOL_INVOICE_ID
	LEFT JOIN CTE_MAIL M ON I.VBI_INVOICE_ID = M.VBI_INVOICE_ID
	OPTION (LABEL = 'FACT_INVOICES_DATA: STAGE');

	EXEC dbo.LAST_ROW_COUNT @ROW_COUNT OUTPUT
	SET  @LOG_MESSAGE = 'Got STAGE table'
	EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, @ROW_COUNT

	CREATE STATISTICS STATS_FACT_INVOICES_DATA_000 ON [dbo].FACT_INVOICES_DATA_STAGE (LAST_INVOICE_ID)
	CREATE STATISTICS STATS_FACT_INVOICES_DATA_001 ON [dbo].FACT_INVOICES_DATA_STAGE (VIOLATOR_ID,VIOLATOR_ADDR_SEQ)
	CREATE STATISTICS STATS_FACT_INVOICES_DATA_002 ON [dbo].FACT_INVOICES_DATA_STAGE (VIOL_INVOICE_ID)

---- Replace OLD table with NEW
IF OBJECT_ID('dbo.FACT_INVOICES_DATA_OLD')>0 	DROP TABLE dbo.FACT_INVOICES_DATA_OLD;
IF OBJECT_ID('dbo.FACT_INVOICES_DATA')>0		RENAME OBJECT::dbo.FACT_INVOICES_DATA TO FACT_INVOICES_DATA_OLD;
RENAME OBJECT::dbo.FACT_INVOICES_DATA_STAGE TO FACT_INVOICES_DATA;


SET  @LOG_MESSAGE = 'Finisfed FACT_INVOICES_DATA full load'
EXEC dbo.LOG_PROCESS @TABLE_NAME, @LOG_START_DATE, @LOG_MESSAGE, NULL

