CREATE VIEW [dbo].[vw_PARTITION_AS_OF_DATE_ENDING] AS SELECT PARTITION_DATE,DATA_AS_OF_DATE, DATA_ENDING
FROM (
		SELECT *, 
				ROW_NUMBER() OVER(PARTITION BY YEAR(PARTITION_DATE), MONTH(PARTITION_DATE) ORDER BY PARTITION_DATE) ROW_NUM, 
				CAST(CAST(YEAR(PARTITION_DATE) AS VARCHAR) + '-' + CAST(MONTH(PARTITION_DATE) AS VARCHAR) + '-' + '01' AS DATE) AS DATA_ENDING
		FROM (SELECT   CASE WHEN DATA_AS_OF_DATE = '2017-03-10' THEN '2017-03-01' WHEN DATA_AS_OF_DATE = '2017-03-30' THEN '2017-04-01'  WHEN DATA_AS_OF_DATE = '2017-04-29' THEN '2017-05-01' 
							ELSE PARTITION_DATE END PARTITION_DATE,DATA_AS_OF_DATE FROM PARTITION_AS_OF_DATE_CONTROL) P
	) A 
	WHERE ROW_NUM = 1;
