CREATE VIEW [dbo].[vw_ACCT_TAG_SUMMARY] AS WITH CTE_TAGS_SUMMARY AS
(
    SELECT	MONTH_ID, 
            ACCT_ID,
			REBILL_AMT_GRP_ID,
			REBILL_AMT,
			ACCT_TYPE_CODE,
            ACCT_STATUS_CODE,
			PMT_TYPE_CODE,
            ZIP_CODE,
            ACCT_CREATED_DATE, 
            ACCT_CLOSED_DATE,
            SUM(MONTH_END_TAG) - SUM(MONTH_BEGIN_TAG) MONTHLY_TAGS_CHG,
            SUM(MONTH_BEGIN_TAG) MONTH_BEGIN_TAGS,
            SUM(OPENED_TAG) OPENED_TAGS,
            SUM(CLOSED_TAG) CLOSED_TAGS,
            SUM(MONTH_END_TAG) MONTH_END_TAGS,
            SUM(MONTH_BEGIN_TAG) + SUM(OPENED_TAG) - SUM(CLOSED_TAG) CALC_MONTH_END_TAGS,
            SUM(MONTH_BEGIN_TAG) + SUM(OPENED_TAG) - SUM(CLOSED_TAG) - SUM(MONTH_END_TAG) DIFF_MONTH_END_TAGS,
            CASE WHEN SUM(MONTH_BEGIN_TAG) + SUM(OPENED_TAG) - SUM(CLOSED_TAG) = SUM(MONTH_END_TAG) THEN 'OK' ELSE 'NOT OK' END TAG_DIFF_CHECK,
			CASE WHEN SUM(OPENED_TAG) > SUM(CLOSED_TAG) THEN SUM(OPENED_TAG) - SUM(CLOSED_TAG) ELSE 0 END NEW_TAGS,			
			CASE WHEN SUM(OPENED_TAG) >= SUM(CLOSED_TAG) THEN SUM(CLOSED_TAG) ELSE SUM(OPENED_TAG) END EXISTING_TAGS
    FROM dbo.FACT_ACCT_TAG_DETAIL 
    GROUP BY MONTH_ID, ACCT_ID, REBILL_AMT_GRP_ID, REBILL_AMT, ACCT_STATUS_CODE, ACCT_TYPE_CODE, PMT_TYPE_CODE, ZIP_CODE, ACCT_CREATED_DATE, ACCT_CLOSED_DATE
)
SELECT *,
        CASE WHEN MONTH_BEGIN_TAGS = 0 THEN 0 ELSE 1 END MONTH_BEGIN_ACCOUNT,
        CASE WHEN MONTH_BEGIN_TAGS = 0 AND (OPENED_TAGS > 0 OR MONTH_END_TAGS >0) THEN 1 ELSE 0 END NEW_ACCOUNT, 
        CASE WHEN (MONTH_BEGIN_TAGS > 0 OR OPENED_TAGS > 0) AND MONTH_END_TAGS = 0 THEN 1 ELSE 0 END LOST_ACCOUNT,
        CASE WHEN MONTH_END_TAGS = 0 THEN 0 ELSE 1 END MONTH_END_ACCOUNT 
FROM   CTE_TAGS_SUMMARY;
