CREATE VIEW [dbo].[vw_NET_REV_TFC_EVTS] AS SELECT			TART_ID,
					CASE
						WHEN TRTE.TXID_ID = -14800 THEN   'HOST-FLUSH'
						WHEN TRTE.PMTY_ID = 3 /*AND TXID_ID <> -13800*/ THEN 'HOST-TT' --Add Tag flushes (remove TXID_ID <> -13800) from toll tag count RITE-2210-- removing Tag flushes (TXID_ID <> -13800) from toll tag count RITE-2029  --RITE 2210 Add new bubble Images Not Expected(VES Serial No = 0)
						WHEN TRTE.PMTY_ID = 7 AND VES_SERIAL_NO = 0 THEN 'HOST-NOTEXP' 
						WHEN TRTE.PMTY_ID = 8 AND VES_SERIAL_NO = 0 THEN 'HOST-NOTEXP' 
						WHEN TRTE.PMTY_ID = 7 AND TRANSACTION_FILE_DETAIL_ID IS NOT NULL THEN 'HOST-VIOL'-- 1919 TSA fix, added this case statement-- 
						WHEN TRTE.PMTY_ID = 7 AND VES_SERIAL_NO > 0 THEN 'HOST-VIOL'--RITE 2210 Add "avi mismatches" from HOST-VIOL -- RITE 2029 removing "avi mismatches" from HOST-VIOL-- 
						WHEN TRTE.PMTY_ID = 8 AND VES_SERIAL_NO > 0 THEN 'HOST-VIOL'--RITE 2210 Add "avi mismatches" from HOST-VIOL -- RITE 2029 removing "avi mismatches" from HOST-VIOL-- 
						WHEN TRTE.PMTY_ID NOT IN (3, 7, 8) THEN 'HOST-OTHR'
					END AS ABBREV, [DIM_CATEGORY].NAME, (DATEPART(HH,Local_Time) * 3600) + (DATEPART(mi,Local_Time) * 60) + DATEPART(SS,Local_Time) AS TIME_ID,-- SELECT
					TRTE.OPNM_ID,TRTE.PMTY_ID,PMTY_DESC,OPNM_DESC,TRTE.VCLY_ID,VCLY_DESC, AXLES,DAY_ID, LANE_ID,Local_Time,EAR_REV,EXP_REV,ACT_REV,AVC_CLASS,IND_CLASS,REV_AXLE_CT,ATT_CLASS,FWD_AXLE_CT,EXIT_LOOP_CTS,ATT_FARE,PRE_CLASS,MISCLASS_CT,SIGN_FLG,ADJ_STATUS,VES_SERIAL_NO,TRANSACTION_FILE_DETAIL_ID
					--TRTE.* -- SELECT TOP(100) *
	FROM	[dbo].FACT_NET_REV_TFC_EVTS TRTE
	LEFT JOIN LND_LG_HOST.TXNOWNER.LANE_OPEN_MODES  ON LANE_OPEN_MODES.OPNM_ID = TRTE.OPNM_ID
	LEFT JOIN LND_LG_HOST.TXNOWNER.PMT_TYPES  ON PMT_TYPES.PMTY_ID = TRTE.PMTY_ID
	LEFT JOIN LND_LG_HOST.TXNOWNER.VEH_CLSS_TYPES  ON VEH_CLSS_TYPES.VCLY_ID = TRTE.VCLY_ID
	LEFT JOIN [dbo].[DIM_CATEGORY]  ON 	
					(CASE
						WHEN TRTE.TXID_ID = -14800 THEN   'HOST-FLUSH'
						WHEN TRTE.PMTY_ID = 3 /*AND TXID_ID <> -13800*/ THEN 'HOST-TT' --Add Tag flushes (remove TXID_ID <> -13800) from toll tag count RITE-2210-- removing Tag flushes (TXID_ID <> -13800) from toll tag count RITE-2029  --RITE 2210 Add new bubble Images Not Expected(VES Serial No = 0)
						WHEN TRTE.PMTY_ID = 7 AND VES_SERIAL_NO = 0 THEN 'HOST-NOTEXP' 
						WHEN TRTE.PMTY_ID = 8 AND VES_SERIAL_NO = 0 THEN 'HOST-NOTEXP' 
						WHEN TRTE.PMTY_ID = 7 AND TRANSACTION_FILE_DETAIL_ID IS NOT NULL THEN 'HOST-VIOL'-- 1919 TSA fix, added this case statement-- 
						WHEN TRTE.PMTY_ID = 7 AND VES_SERIAL_NO > 0 THEN 'HOST-VIOL'--RITE 2210 Add "avi mismatches" from HOST-VIOL -- RITE 2029 removing "avi mismatches" from HOST-VIOL-- 
						WHEN TRTE.PMTY_ID = 8 AND VES_SERIAL_NO > 0 THEN 'HOST-VIOL'--RITE 2210 Add "avi mismatches" from HOST-VIOL -- RITE 2029 removing "avi mismatches" from HOST-VIOL-- 
						WHEN TRTE.PMTY_ID NOT IN (3, 7, 8) THEN 'HOST-OTHR'
					END)  = [DIM_CATEGORY].ABBREV;
