CREATE VIEW [dbo].[vw_FACT_MISCLASS] AS SELECT --TOP 10 
              TTXN_ID,ACCT_ID,TAG_ID,FIRST_NAME,LAST_NAME,COMPANY_NAME,TRANSACTION_DATE,DAY_ID,
              HH,AMOUNT,DAILY_MODE_TAG_TOLL DAILY_MODE_AMOUNT, AGENCY_ID,LANE_ID,SOURCE_CODE,CREDITED_FLAG,VEHICLE_CLASS_CODE,ISNULL(TAG_CLASS_CODE,-1) TAG_CLASS_CODE,LIC_STATE,LIC_PLATE,DAILY_MODE_VEHICLE_CLASS,ISSUE, 'Tag' AS TXN_TYPE,
			  IMAGE_1,	IMAGE_2,	IMAGE_3,	IMAGE_4,	IMAGE_5, IMAGE_6
FROM dbo.FACT_MISCLASS
--WHERE LANE_ID IN (SELECT LANE_ID FROM DBO.DIM_LANE WHERE LANY_ID != 5)
UNION ALL
SELECT --TOP 100
              COALESCE(VIOLATION_ID,LANE_VIOL_ID) VIOLATION_ID,LANE_VIOL_ID,LIC_PLATE_NBR,VIOLATOR_FNAME,VIOLATOR_LNAME,'VIOLATOR_ID:' + CAST(VIOLATOR_ID AS VARCHAR),VIOL_DATE,DAY_ID,
              HH,TOLL_DUE, DAILY_MODE_CASH_TOLL, 'DNT',LANE_ID,VIOL_STATUS,NULL,VEHICLE_CLASS,-1  AS TAG_CLASS_CODE,LIC_PLATE_STATE,LIC_PLATE_NBR,DAILY_MODE_VEHICLE_CLASS,ISSUE, 'Video' AS TXN_TYPE,
			  IMAGE_1,	IMAGE_2,	IMAGE_3,	IMAGE_4,	IMAGE_5, IMAGE_6
FROM FACT_MISCLASS_ICRS;
