CREATE VIEW [DBO].[VW_DIM_TOLL_PAID_%GROUP] AS SELECT B.*--,VBI_INVOICE_ID, F.VIOL_INVOICE_ID,F.VB_INV_DATE--,L.FACILITY_ID
FROM
(SELECT VIOLATOR_ID,PARTITION_DATE,FACILITY_ID,
CASE WHEN VTOLL_REV > 0.6 THEN 'L) 100%'
	 WHEN [TOLL_PAID%] = 0 THEN 'A) 0%' 
	 WHEN [TOLL_PAID%] > 0.0 AND [TOLL_PAID%] <= 0.10 THEN 'B) >0-10%' 
	 WHEN [TOLL_PAID%] > 0.1 AND [TOLL_PAID%] <= 0.20 THEN 'C) 10-20%'
	 WHEN [TOLL_PAID%] > 0.2 AND [TOLL_PAID%] <= 0.30 THEN 'D) 20-30%'
	 WHEN [TOLL_PAID%] > 0.3 AND [TOLL_PAID%] <= 0.40 THEN 'E) 30-40%'
	 WHEN [TOLL_PAID%] > 0.4 AND [TOLL_PAID%] <= 0.50 THEN 'F) 40-50%'
	 WHEN [TOLL_PAID%] > 0.5 AND [TOLL_PAID%] <= 0.60 THEN 'G) 50-60%'
	 WHEN [TOLL_PAID%] > 0.6 AND [TOLL_PAID%] <= 0.70 THEN 'H) 60-70%'
	 WHEN [TOLL_PAID%] > 0.7 AND [TOLL_PAID%] <= 0.80 THEN 'I) 70-80%'
	 WHEN [TOLL_PAID%] > 0.8 AND [TOLL_PAID%] <= 0.90 THEN 'J) 80-90%'
	 WHEN [TOLL_PAID%] > 0.9 AND [TOLL_PAID%] <= 0.99 THEN 'K) 90-99%'
	 WHEN [TOLL_PAID%] > 0.99 AND [TOLL_PAID%] <= 1.0 THEN 'L) 100%'
	 WHEN [TOLL_PAID%] > 1.0 AND [TOLL_PAID%] <= 2.0 THEN 'M) 100%'
ELSE NULL END  [TOLL_PAID_%GROUP], VTOLL_REV,ZC_INV_YEAR
FROM
(SELECT	YEAR(A11.VB_INV_DATE) ZC_INV_YEAR,
--A11.VIOL_INVOICE_ID,
A11.VIOLATOR_ID,
A11.PARTITION_DATE,
--A11.LANE_ID,
L.FACILITY_ID,
SUM(CAST(CASE WHEN A11.VIOL_STATUS = 'Q' AND A11.AMT_PAID_ADJ > 0 THEN A11.AMT_PAID_ADJ WHEN A11.VIOL_STATUS = 'Q' AND A11.AMT_PAID_ADJ = 0 THEN A11.TOLL_DUE WHEN ((A11.VIOL_STATUS = 'T' AND A11.DISPOSITION = 'P') OR A11.INV_DTL_VIOL_STATUS = 'T') THEN A11.VPS_HOST_POSTED_REVENUE ELSE A11.AMT_PAID_ADJ END AS MONEY))/NULLIF(SUM(CASE WHEN ((A11.VIOL_STATUS = 'T' AND A11.DISPOSITION = 'P') OR A11.INV_DTL_VIOL_STATUS = 'T') THEN A11.VPS_HOST_POSTED_REVENUE ELSE TOLL_DUE END),0) [TOLL_PAID%],
SUM(CASE WHEN ((A11.VIOL_STATUS = 'T' AND A11.DISPOSITION = 'P') OR A11.INV_DTL_VIOL_STATUS = 'TS') THEN A11.VPS_HOST_POSTED_REVENUE Else 0 END)/NULLIF(SUM(TOLL_DUE),0) VTOLL_REV
FROM	DBO.FACT_INVOICE_ANALYSIS_DETAIL	A11
JOIN DIM_LANE L
ON A11.LANE_ID = L.LANE_ID 
WHERE	(A11.VB_INV_DATE >= DATEADD(YEAR, -3, (SELECT MAX(PARTITION_DATE) FROM PARTITION_AS_OF_DATE_CONTROL)) --AND '2017-12-31'
 AND A11.PARTITION_DATE IN (SELECT MAX(PARTITION_DATE) FROM PARTITION_AS_OF_DATE_CONTROL)
 AND A11.CURRENT_INVOICE_LEVEL_FLAG IN (1))
 --AND VIOLATOR_ID = 676430844
 --AND VBI_INVOICE_ID = 338732089
GROUP BY --A11.VBI_INVOICE_ID,
--A11.VIOL_INVOICE_ID,
YEAR(A11.VB_INV_DATE),
A11.VIOLATOR_ID,
A11.PARTITION_DATE,
--A11.LANE_ID,
L.FACILITY_ID
UNION
SELECT	YEAR(A11.VB_INV_DATE) ZC_INV_YEAR,
--A11.VIOL_INVOICE_ID,
A11.VIOLATOR_ID,
A11.PARTITION_DATE,
---1 LANE_ID,
-1 FACILITY_ID,
SUM(CAST(CASE WHEN A11.VIOL_STATUS = 'Q' AND A11.AMT_PAID_ADJ > 0 THEN A11.AMT_PAID_ADJ WHEN A11.VIOL_STATUS = 'Q' AND A11.AMT_PAID_ADJ = 0 THEN A11.TOLL_DUE WHEN ((A11.VIOL_STATUS = 'T' AND A11.DISPOSITION = 'P') OR A11.INV_DTL_VIOL_STATUS = 'TS') THEN A11.VPS_HOST_POSTED_REVENUE ELSE A11.AMT_PAID_ADJ END AS MONEY))/NULLIF(SUM(CASE WHEN ((A11.VIOL_STATUS = 'T' AND A11.DISPOSITION = 'P') OR A11.INV_DTL_VIOL_STATUS = 'T') THEN A11.VPS_HOST_POSTED_REVENUE ELSE TOLL_DUE END),0) [TOLL_PAID%],
SUM(CASE WHEN ((A11.VIOL_STATUS = 'T' AND A11.DISPOSITION = 'P') OR A11.INV_DTL_VIOL_STATUS = 'TS') THEN A11.VPS_HOST_POSTED_REVENUE Else 0 END)/NULLIF(SUM(TOLL_DUE),0) VTOLL_REV
--SELECT *
FROM	DBO.FACT_INVOICE_ANALYSIS_DETAIL	A11
WHERE	(A11.VB_INV_DATE >= DATEADD(YEAR, -3, (SELECT MAX(PARTITION_DATE) FROM PARTITION_AS_OF_DATE_CONTROL)) --AND '2017-12-31'
 AND A11.PARTITION_DATE IN (SELECT MAX(PARTITION_DATE) FROM PARTITION_AS_OF_DATE_CONTROL)
 AND A11.CURRENT_INVOICE_LEVEL_FLAG IN (1))
 --AND VIOLATOR_ID = 676430844
 --AND VBI_INVOICE_ID = 338732089
GROUP BY --A11.VBI_INVOICE_ID,
--A11.VIOL_INVOICE_ID,
A11.VIOLATOR_ID,
YEAR(A11.VB_INV_DATE),
A11.PARTITION_DATE) A) B;
