CREATE VIEW [dbo].[vw_Lane] AS SELECT A.AGCY_ID,A.ABBREV AGCY_ABBREV,A.NAME AGCY_NAME,A.NOTE AGCY_NOTE,
		B.FACY_ID,B.ABBREV FACY_ABBREV,B.NAME FACY_NAME,B.NOTE FACY_NOTE,FACY_DESC,
		C.PLAZ_ID,C.ABBREV PLAZ_ABBREV,C.NAME PLAZ_NAME,C.NOTE PLAZ_NOTE,
		PG.PLGP_ID,PG.PLGP_DESC,PG.DESCR PLGP_DESCR,
		E.LANE_ID,E.NAME LANE_NAME,E.ABBREV	LANE_ABBREV,E.LANE_CUST_DESCR,E.NOTE LANE_NOTE,E.IS_INTEROP LANE_IS_INTEROP,
		LT.LANY_ID,LT.LANY_DESC,LT.NOTE LANY_NOTE,
		D.DIRE_ID,D.DIRE_DESC,D.NOTE DIRE_NOTE --SELECT PG.* --SELECT COUNT(*)  
FROM LND_LG_VPS.FPL_OWNER.AGENCIES A --4958
JOIN LND_LG_VPS.FPL_OWNER.FACILITIES B ON A.AGCY_ID = B.AGCY_ID
JOIN LND_LG_HOST.FPL_OWNER.FACILITY_TYPES FT ON FT.FACY_ID = B.FACY_ID
JOIN LND_LG_VPS.FPL_OWNER.PLAZAS C ON B.FACS_ID = C.FACS_ID
JOIN LND_LG_VPS.FPL_OWNER.LANES E ON C.PLAZ_ID = E.PLAZ_ID
JOIN LND_LG_HOST.FPL_OWNER.LANE_TYPES LT ON LT.LANY_ID = E.LANY_ID
JOIN LND_LG_HOST.FPL_OWNER.DIRECTIONS D ON E.DIRE_ID = D.DIRE_ID
LEFT JOIN LND_LG_TS.FPL_OWNER.PLAZA_GROUPS PG ON PG.PLGP_ID = C.PLGP_ID;
