CREATE VIEW [dbo].[vw_FACT_VIOLATIONS_PURSUED_LEVEL] AS SELECT DAY_ID,	Cal_WeekID,	Cal_MonthID,Cal_QuarterID,Cal_YearID,LANE_ID,LANE_ABBREV,LEVEL_0,LEVEL_1,LEVEL_2,--NULL AS LEVEL_3,NULL AS LEVEL_4,NULL AS LEVEL_5,NULL AS LEVEL_6,NULL AS LEVEL_7,NULL AS LEVEL_8,
		[STATUS],[STATUS_DESCR],TXN_CNT,POS_REV,ACT_REV,ADJ_REV--,AVI_HANDSHAKE
FROM FACT_VIOLATIONS_SUMMARY_PURSUED_LEVEL WHERE LEVEL_0 IS NOT NULL;
