CREATE VIEW [dbo].[vw_DIM_PURSUED_LEVEL] AS SELECT   DISTINCT [DIM_PURSUED_LEVEL_0].ABBREV AS LEVEL_0_ABBREV, [DIM_PURSUED_LEVEL_0].[NAME] LEVEL_0_NAME 
			,[DIM_PURSUED_LEVEL_1].ABBREV AS LEVEL_1_ABBREV, [DIM_PURSUED_LEVEL_1].[NAME] LEVEL_1_NAME 
			,[DIM_PURSUED_LEVEL_2].ABBREV AS LEVEL_2_ABBREV, [DIM_PURSUED_LEVEL_2].[NAME] LEVEL_2_NAME
	FROM [DIM_PURSUED_LEVEL_0] 
	LEFT JOIN [DIM_PURSUED_LEVEL_1] ON [DIM_PURSUED_LEVEL_1].LEVEL_0 = [DIM_PURSUED_LEVEL_0].NAME
	LEFT JOIN [DIM_PURSUED_LEVEL_2] ON [DIM_PURSUED_LEVEL_2].LEVEL_1 = [DIM_PURSUED_LEVEL_1].NAME;
