CREATE VIEW [dbo].[vw_FACT_TGS] AS SELECT --TOP(1000) --*  
       TTXN_ID, CAST(CONVERT(VARCHAR, CAST(TRANSACTION_DATE AS DATE), 112) AS INT) [DAY_ID],
       AMOUNT, 
       TRANSACTION_DATE, 
       T.ACCT_ID, 
       --T.AGENCY_ID, 
       T.LANE_ID, 
       VEHICLE_CLASS_DESCR, 
       T.TAG_ID, 
       POSTED_DATE, 
       POSTED_TIME_ID, 
       TRANSACTION_FILE_DETAIL_ID, 
       T.SOURCE_CODE, 
       SC.SC_DESCR, 
       IS_ACCOUNT_ACTIVE, 
       SOURCE_TRXN_ID, 
       TRANS_TYPE_ID, 
       A.ACCT_STATUS_CODE, 
       AST.ACCT_STATUS_DESCR, 
       A.ACCT_TYPE_CODE, 
       ACT.ACCT_TYPE_DESCR, 
       A.PMT_TYPE_CODE, 
       PMT_TYPE_DESCR, 
       --COMPANY_NAME, 
       FIRST_NAME, 
       LAST_NAME, 
       MIDDLE_INITIAL, 
       ADDRESS1, 
       ADDRESS2, 
       CITY, 
       STATE, 
       ZIP_CODE, 
       PLUS4, 
       HOME_PHO_NBR, 
       --EMAIL_ADDRESS, 
       BALANCE_AMT, 
       BAD_ADDRESS_FLAG, 
       REBILL_AMT, 
       REBILL_DATE, 
       BAL_LAST_UPDATED, 
       --TAG.AGENCY_ID 
       --TAG_AGENCY, 
       --TAG_ID_NUMERIC, 
       --TAG.TAG_MODEL_NBR, 
       --TAG_MODEL_NAME, 
       TAG.ACCT_TAG_STATUS, 
       ATS.ACCT_TAG_STATUS_DESCR, 
       --TAG_TYPE_CODE, 
       --TAG_STATUS, 
       --TS.ACCT_TAG_STATUS_DESCR TAG_STATUS_DESCR, 
       ASSIGNED_DATE, 
       EXPIRED_DATE, 
       --VEHICLE_ID, 
       VEHICLE_DESCR, 
       VEHICLE_MAKE, 
       VEHICLE_MODEL, 
       VEHICLE_YEAR, 
       VEHICLE_COLOR, 
       --LICENSE_PLATE_ID, 
       LIC_STATE, 
       LIC_PLATE,
       LANE_ABBREV, 
       LANE_NAME, 
       LANE_DIRECTION, 
       PLAZA_ABBREV, 
       PLAZA_NAME, 
       SUB_FACILITY_ABBREV, 
       FACILITY_ABBREV, 
       FACILITY_NAME, 
       SUB_AGENCY_ABBREV, 
       AGENCY_ABBREV, 
       AGENCY_NAME --SELECT COUNT_BIG(1) --SELECT  TOP(100) *--T.ACCT_ID, T.TAG_ID, 
FROM   DBO.TOLL_TRANSACTIONS T    --4,016,716,147
       LEFT JOIN DBO.ACCOUNTS A --4,016,716,147
              ON A.ACCT_ID = T.ACCT_ID 
       --LEFT JOIN LND_LG_TS.TAG_OWNER.ACCOUNT_TAGS TAG --3,748,785,681 --3,743,509,835
     --  LEFT JOIN  ( SELECT * 
                                  --FROM (      SELECT ACCT_ID, TAG_ID, ROW_NUMBER() OVER (PARTITION BY ACCT_ID, TAG_ID ORDER BY TAG_HISTORY_SEQ DESC) R1, 
                                  --                         ACCT_TAG_STATUS, --TAG_TYPE_CODE, TAG_STATUS, LICENSE_PLATE_ID, TAG_MODEL_NBR, 
                                  --                         ASSIGNED_DATE, ISNULL(EXPIRED_DATE, 'December 31, 9999') EXPIRED_DATE, VEHICLE_DESCR, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_YEAR, VEHICLE_COLOR, LIC_STATE, LIC_PLATE--SELECT *
                                  --            FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAG_HISTORY
                                  --     ) A WHERE  R1 = 1 
                                  --) TAG
              JOIN  ( SELECT ACCT_ID,TAG_ID,ASSIGNED_DATE,EXPIRED_DATE,VEHICLE_CLASS_CODE,LIC_STATE,LIC_PLATE, ACCT_TAG_STATUS,VEHICLE_DESCR, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_YEAR, VEHICLE_COLOR
                                         FROM ( SELECT ACCT_ID, TAG_ID, ACCT_TAG_SEQ, ROW_NUMBER() OVER (PARTITION BY ACCT_ID, TAG_ID ORDER BY ASSIGNED_DATE DESC) R1, ACCT_TAG_STATUS, --TAG_TYPE_CODE, TAG_STATUS, LICENSE_PLATE_ID, TAG_MODEL_NBR, 
                                                                     ASSIGNED_DATE, ISNULL(EXPIRED_DATE, 'December 31, 9999') EXPIRED_DATE, VEHICLE_CLASS_CODE,LIC_STATE,LIC_PLATE,VEHICLE_DESCR, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_YEAR, VEHICLE_COLOR --SELECT *
                                                       FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAG_HISTORY --WHERE LIC_PLATE = 'JLTESQ' AND TAG_ID = '09246300'
                                                ) A WHERE  R1 = 1 
                                         ) TAG
              ON TAG.ACCT_ID = T.ACCT_ID 
                 AND TAG.TAG_ID = T.TAG_ID AND T.TRANSACTION_DATE BETWEEN TAG.ASSIGNED_DATE     AND TAG.EXPIRED_DATE-- WHERE ACCT_ID = 4464503      AND TAG_ID = 10856570--SELECT T.ACCT_ID, T.TAG_ID, COUNT_BIG(1) FROM DBO.ACCOUNT_TAGS T GROUP BY T.ACCT_ID, T.TAG_ID HAVING COUNT_BIG(1) > 1
       LEFT JOIN DBO.VEHICLE_CLASSES VC 
              ON VC.VEHICLE_CLASS_CODE = T.VEHICLE_CLASS_CODE 
       LEFT JOIN DBO.SOURCE_CODE_TOLL SC 
              ON SC.SOURCE_CODE = T.SOURCE_CODE 
       LEFT JOIN DBO.ACCOUNT_STATUSES AST 
              ON AST.ACCT_STATUS_CODE = A.ACCT_STATUS_CODE 
       LEFT JOIN DBO.ACCOUNT_TYPES ACT 
              ON ACT.ACCT_TYPE_CODE = A.ACCT_TYPE_CODE 
       LEFT JOIN DBO.ACCOUNT_PAYMENT_TYPES APT 
              ON APT.PMT_TYPE_CODE = A.PMT_TYPE_CODE 
       --LEFT JOIN LND_LG_TS.TAG_OWNER.[ACCOUNT_TAG_MODEL] ATM 
       --       ON ATM.TAG_MODEL_NBR = TAG.TAG_MODEL_NBR 
       LEFT JOIN LND_LG_TS.TAG_OWNER.[ACCT_TAG_STATUSES] ATS 
              ON ATS.[ACCT_TAG_STATUS] = TAG.[ACCT_TAG_STATUS] 
       --LEFT JOIN LND_LG_TS.TAG_OWNER.[ACCT_TAG_STATUSES] TS 
       --       ON TS.[ACCT_TAG_STATUS] = TAG.TAG_STATUS 
       LEFT JOIN [DBO].DIM_LANE L
              ON L.LANE_ID = T.LANE_ID;
