CREATE VIEW [dbo].[vwDistributionCount] AS WITH base
AS
(
SELECT 
       CAST(SUBSTRING(@@version,34,4)    AS VARCHAR)                                                                              AS build_number
,      CAST(DB_NAME() AS VARCHAR)                                                                                                        AS database_name
,      CAST(s.name   AS VARCHAR)                                                                                                                AS schema_name
,      CAST(t.name   AS VARCHAR(100))                                                                                                    AS table_name
,	   CAST(physical_name   AS VARCHAR(100)) AS physical_name
,      CAST(QUOTENAME(s.name)+'.'+QUOTENAME(t.name) AS VARCHAR(155))                                          AS two_part_name
,      CAST(nt.name AS VARCHAR)                                                                                                          AS node_table_name
,   i.[type]                                                                                AS table_type
,   CAST(i.[type_desc]     AS VARCHAR)                                                       AS table_type_desc
,      CAST(tp.distribution_policy_desc AS VARCHAR)                                                                        AS distribution_policy_name
,      pn.pdw_node_id                                                                          AS pdw_node_id
,      CAST(pn.[type] AS VARCHAR)                                                                                                        AS pdw_node_type
,      CAST(pn.name AS VARCHAR)                                                                                                          AS pdw_node_name
,   di.distribution_id                                                                      AS dist_id
,   CAST(di.name AS VARCHAR)                                                                  AS dist_name
,   di.position                                                                             AS dist_position
,      nps.partition_number                                                                                                              AS partition_nmbr
,      nps.reserved_page_count                                                                                                                  AS reserved_space_page_count
,      nps.reserved_page_count - nps.used_page_count                                                                       AS unused_space_page_count
,      nps.in_row_data_page_count + nps.row_overflow_used_page_count + nps.lob_used_page_count  AS  data_space_page_count
,      nps.reserved_page_count 
       - (nps.reserved_page_count - nps.used_page_count) 
       - (in_row_data_page_count+row_overflow_used_page_count+lob_used_page_count)                     AS index_space_page_count
,      nps.[row_count]                                                                      AS row_count
--SELECT  *   
from sys.schemas s
join sys.tables t                                                    ON     s.schema_id                 = t.schema_id
JOIN sys.indexes i                              ON  t.object_id         = i.object_id
                                                AND i.index_id          <= 1 
join sys.pdw_table_distribution_properties      tp     ON     t.object_id                = tp.object_id
join sys.pdw_table_mappings tm                                ON     t.object_id                = tm.object_id
join sys.pdw_nodes_tables nt                                  ON     tm.physical_name     = nt.name
join sys.dm_pdw_nodes pn                                      ON  nt.pdw_node_id         = pn.pdw_node_id
LEFT join sys.pdw_distributions di                   ON  nt.distribution_id  = di.distribution_id
join sys.dm_pdw_nodes_db_partition_stats nps    ON     nt.object_id         = nps.object_id
                                                                                AND nt.pdw_node_id              = nps.pdw_node_id
--                                                AND nt.distribution_id  = nps.distribution_id
--WHERE t.[name] = 'FACT_VIOLATIONS_DETAIL'
)
, size
AS
(
SELECT --build_number,
              database_name
--,             schema_name
,             table_name
--,             two_part_name
,		physical_name
--,             node_table_name
--,       table_type
,       table_type_desc
,             distribution_policy_name
--,       dist_id
--,       dist_name
--,       dist_position
,             pdw_node_id
,             pdw_node_type
,             CAST(pdw_node_name AS VARCHAR) pdw_node_name 
--,             CAST(pdw_node_name AS VARCHAR) + dist_name AS pdw_node_name
,             partition_nmbr
--,             reserved_space_page_count
--,             unused_space_page_count
--,             data_space_page_count
--,             index_space_page_count
,             row_count
--,             (reserved_space_page_count * 8.0)                      AS reserved_space_KB
--,             (reserved_space_page_count * 8.0)/1000                 AS reserved_space_MB
--,             (reserved_space_page_count * 8.0)/1000000       AS reserved_space_GB
--,             (reserved_space_page_count * 8.0)/1000000000    AS reserved_space_TB
--,             (unused_space_page_count * 8.0)                               AS unused_space_KB
--,             (unused_space_page_count * 8.0)/1000                   AS unused_space_MB
--,             (unused_space_page_count * 8.0)/1000000                AS unused_space_GB
--,             (unused_space_page_count * 8.0)/1000000000             AS unused_space_TB
--,             (data_space_page_count * 8.0)                                 AS data_space_KB
--,             (data_space_page_count * 8.0)/1000                     AS data_space_MB
--,             (data_space_page_count * 8.0)/1000000                  AS data_space_GB
--,             (data_space_page_count * 8.0)/1000000000        AS data_space_TB
--,             (index_space_page_count * 8.0)                         AS index_space_KB
--,             (index_space_page_count * 8.0)/1000                           AS index_space_MB
--,             (index_space_page_count * 8.0)/1000000                 AS index_space_GB
--,             (index_space_page_count * 8.0)/1000000000       AS index_space_TB
FROM   base
)
SELECT Database_Name,table_name,physical_name,table_type_desc,distribution_policy_name,pdw_node_id,pdw_node_type,pdw_node_name, SUM(size.row_count)  row_count
FROM   size 
GROUP BY Database_Name,table_name,physical_name,table_type_desc,distribution_policy_name,pdw_node_id,pdw_node_type,pdw_node_name;
