CREATE VIEW [dbo].[vw_ACCOUNT_TAG] AS SELECT * 
	FROM (	SELECT	ACCT_ID, TAG_ID, ROW_NUMBER() OVER (PARTITION BY ACCT_ID, TAG_ID ORDER BY ASSIGNED_DATE DESC) R1, 
					ACCT_TAG_STATUS, --TAG_TYPE_CODE, TAG_STATUS, LICENSE_PLATE_ID, TAG_MODEL_NBR, 
					ASSIGNED_DATE, ISNULL(EXPIRED_DATE, 'December 31, 9999') EXPIRED_DATE, VEHICLE_DESCR, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_YEAR, VEHICLE_COLOR, LIC_STATE, LIC_PLATE--SELECT *
			FROM LND_LG_TS.TAG_OWNER.ACCOUNT_TAG_HISTORY
		) A WHERE  R1 = 1;
