CREATE VIEW [dbo].[vw_DIM_INV_AMT_GROUP] AS SELECT B.*,VBI_INVOICE_ID, F.VIOL_INVOICE_ID,F.VB_INV_DATE
FROM
(SELECT SUM(INV_AMT_TOLLS) INV_AMT_TOLLS,VIOLATOR_ID,PARTITION_DATE,ZC_INV_YEAR,
CASE WHEN SUM(INV_AMT_TOLLS) >= 0.0 AND SUM(INV_AMT_TOLLS) <= 2.5 THEN 'A$0-2.5' 
	 WHEN SUM(INV_AMT_TOLLS) > 2.5 AND SUM(INV_AMT_TOLLS) <= 5.0 THEN 'B$2.5-5' 
	 WHEN SUM(INV_AMT_TOLLS) > 5.0 AND SUM(INV_AMT_TOLLS) <= 10.00 THEN 'C$5-10'
	 WHEN SUM(INV_AMT_TOLLS) > 10.0 AND SUM(INV_AMT_TOLLS) <= 25.0 THEN 'D$10-25'
	 WHEN SUM(INV_AMT_TOLLS) > 25.0 AND SUM(INV_AMT_TOLLS) <= 50.0 THEN 'E$25-50'
	 WHEN SUM(INV_AMT_TOLLS) > 50.0 AND SUM(INV_AMT_TOLLS) <= 100.0 THEN 'F$50-100'
	 WHEN SUM(INV_AMT_TOLLS) > 100.0 AND SUM(INV_AMT_TOLLS) <= 250.0 THEN 'G$100-250'
	 WHEN SUM(INV_AMT_TOLLS) > 250.0 AND SUM(INV_AMT_TOLLS) <= 500.0 THEN 'H$250-500'
	 WHEN SUM(INV_AMT_TOLLS) > 500.0 THEN 'I>500'
	 ELSE NULL END  INVOICE_AMT_GROUP
 FROM
 (SELECT	A11.VBI_INVOICE_ID  VBI_INVOICE_ID,
	YEAR(A11.VB_INV_DATE) ZC_INV_YEAR,
	A11.VIOL_INVOICE_ID,
	A11.VIOLATOR_ID  VIOLATOR_ID,
	A11.PARTITION_DATE  PARTITION_DATE,
               (MAX(A11.INVOICE_AMT) - MAX(CASE WHEN (A11.VI_LATE_FEES > 0 AND A11.ADMIN_FEE = 0) THEN (A11.VI_LATE_FEES + A11.ADMIN_FEE2) WHEN (A11.VI_LATE_FEES > 0 AND (A11.ZI_LATE_FEES = 0 AND A11.VBI_STATUS = 'CV')) THEN (A11.VI_LATE_FEES+A11.ADMIN_FEE) ELSE (A11.ZI_LATE_FEES + A11.VI_LATE_FEES + A11.ADMIN_FEE2 + A11.ADMIN_FEE) END))  INV_AMT_TOLLS
FROM	DBO.FACT_INVOICE_ANALYSIS	A11
WHERE	A11.VB_INV_DATE >= '2016-01-01' --AND '2017-12-31'
 AND A11.PARTITION_DATE = (SELECT MAX(PARTITION_DATE) FROM PARTITION_AS_OF_DATE_CONTROL)
 AND A11.CURRENT_INVOICE_FLAG IN (1)
 --AND A11.VIOLATOR_ID = 728121464
GROUP BY	A11.VBI_INVOICE_ID,
YEAR(A11.VB_INV_DATE),
A11.VIOL_INVOICE_ID,
	A11.VIOLATOR_ID,
	A11.PARTITION_DATE) A
	GROUP BY VIOLATOR_ID,ZC_INV_YEAR,PARTITION_DATE) B
JOIN FACT_INVOICE_ANALYSIS F
ON B.VIOLATOR_ID = F.VIOLATOR_ID
WHERE F.PARTITION_DATE = (SELECT MAX(PARTITION_DATE) FROM PARTITION_AS_OF_DATE_CONTROL)
AND F.VB_INV_DATE >= '2016-01-01' --AND '2017-12-31'
AND F.CURRENT_INVOICE_FLAG IN (1);
