CREATE VIEW [dvo].[cal_day_x] AS select	cal_id
,	cal_x_mxm_id
,	cal_x_1x1_id
,	cal_day_bgn
,	cal_comp_day_bgn
,	cal_comp_bgn
,	cal_comp_end
,	cal_day_x_bgn
,	cal_day_x_end
from	dbo.cal_day_x;
