CREATE VIEW [dvo].[VB_INV_STATUS] AS select	STATUS  VB_INV_STATUS
,		DESCRIPTION  VB_INV_STATUS_DESCR
,		STATUS_GROUP  VB_INV_STATUS_GROUP
,		STATUS_SUM_GROUP  VB_INV_STATUS_SUM_GROUP
from	dbo.VB_INV_STATUS;
