CREATE VIEW [dvo].[DIM_PLAZA_ASOF] AS select	distinct
		PARTITION_DATE
,		PLAZA_ID
,		PLAZA_ABBREV
,		PLAZA_NAME
,		PLAZA_LATITUDE
,		PLAZA_LONGITUDE
,		SUB_FACILITY_ABBREV
,		FACILITY_ID
,		FACILITY_ABBREV
,		FACILITY_NAME
,		SUB_AGENCY_ABBREV
,		AGENCY_ID
,		AGENCY_ABBREV
,		AGENCY_NAME
,		AGENCY_IS_IOP
from	dbo.DIM_LANE_ASOF;
