CREATE VIEW [dvo].[DIM_LANE_ASOF] AS select	PARTITION_DATE
,		LANE_ID
,		LANE_ABBREV
,		LANE_NAME
,		LANE_DIRECTION
,		PLAZA_ID
,		PLAZA_ABBREV
,		PLAZA_NAME
,		PLAZA_LATITUDE
,		PLAZA_LONGITUDE
,		SUB_FACILITY_ABBREV
,		FACILITY_ID
,		FACILITY_ABBREV
,		FACILITY_NAME
,		SUB_AGENCY_ABBREV
,		AGENCY_ID
,		AGENCY_ABBREV
,		AGENCY_NAME
,		AGENCY_IS_IOP
from	dbo.DIM_LANE_ASOF;
