CREATE VIEW [dvo].[cal_day_prd] AS select	cal_id				cal_id
,	cal_day_prd_bgn			cal_day_prd_bgn
,	cal_day_prd_ix			cal_day_prd_ix
,	cal_days_prd			cal_days_prd
,	cal_day_prd				cal_day_prd
,	cal_day_prd_sid			cal_day_prd_sid
,	cal_day_prd_desc_1		cal_day_prd_desc_1
,	cal_day_prd_desc_2		cal_day_prd_desc_2
from	dbo.cal_day_prd;
