CREATE VIEW [dvo].[DIM_FACILITY_ASOF] AS select	distinct
		PARTITION_DATE
,		FACILITY_ID
,		FACILITY_ABBREV
,		FACILITY_NAME
,		SUB_AGENCY_ABBREV
,		AGENCY_ID
,		AGENCY_ABBREV
,		AGENCY_NAME
,		AGENCY_IS_IOP
from	dbo.DIM_LANE_ASOF;
