CREATE VIEW [dvo].[system_day] AS select	cal_id				cal_id
,	cal_day_bgn				cal_day_bgn
,	cal_day_end				cal_day_end
,	cal_day_ix				cal_day_ix
,	cal_day_typ_id			cal_day_typ_id
,	cal_day_typ_grp_id		cal_day_typ_grp_id
,	cal_day_wk_bgn			cal_day_wk_bgn
,	cal_day_prd_bgn			cal_day_prd_bgn
,	cal_day_qtr_bgn			cal_day_qtr_bgn
,	cal_day_sea_bgn			cal_day_sea_bgn
,	cal_day_yr_bgn			cal_day_yr_bgn
,	cal_wk_bgn				cal_wk_bgn
,	cal_wk_end				cal_wk_end
,	cal_wk_ix				cal_wk_ix
,	cal_wk_prd_bgn			cal_wk_prd_bgn
,	cal_wk_qtr_bgn			cal_wk_qtr_bgn
,	cal_wk_sea_bgn			cal_wk_sea_bgn
,	cal_wk_yr_bgn			cal_wk_yr_bgn
,	cal_prd_bgn				cal_prd_bgn
,	cal_prd_end				cal_prd_end
,	cal_prd_ix				cal_prd_ix
,	cal_prd_qtr_bgn			cal_prd_qtr_bgn
,	cal_prd_sea_bgn			cal_prd_sea_bgn
,	cal_prd_yr_bgn			cal_prd_yr_bgn
,	cal_qtr_bgn				cal_qtr_bgn
,	cal_qtr_end				cal_qtr_end
,	cal_qtr_ix				cal_qtr_ix
,	cal_qtr_sea_bgn			cal_qtr_sea_bgn
,	cal_qtr_yr_bgn			cal_qtr_yr_bgn
,	cal_sea_bgn				cal_sea_bgn
,	cal_sea_end				cal_sea_end
,	cal_sea_ix				cal_sea_ix
,	cal_sea_yr_bgn			cal_sea_yr_bgn
,	cal_yr_bgn				cal_yr_bgn
,	cal_yr_end				cal_yr_end
,	cal_yr_ix				cal_yr_ix
,	cal_yr_leap				cal_yr_leap

,	cal_days_wk				cal_days_wk
,	cal_day_wk				cal_day_wk
,	cal_days_prd			cal_days_prd
,	cal_day_prd				cal_day_prd
,	cal_days_qtr			cal_days_qtr
,	cal_day_qtr				cal_day_qtr
,	cal_days_sea			cal_days_sea
,	cal_day_sea				cal_day_sea
,	cal_days_yr				cal_days_yr
,	cal_day_yr				cal_day_yr
,	cal_wks_prd				cal_wks_prd
,	cal_wk_prd				cal_wk_prd
,	cal_wks_qtr				cal_wks_qtr
,	cal_wk_qtr				cal_wk_qtr
,	cal_wks_sea				cal_wks_sea
,	cal_wk_sea				cal_wk_sea
,	cal_wks_yr				cal_wks_yr
,	cal_wk_yr				cal_wk_yr
,	cal_prds_qtr			cal_prds_qtr
,	cal_prd_qtr				cal_prd_qtr
,	cal_prds_sea			cal_prds_sea
,	cal_prd_sea				cal_prd_sea
,	cal_prds_yr				cal_prds_yr
,	cal_prd_yr				cal_prd_yr
,	cal_qtrs_sea			cal_qtrs_sea
,	cal_qtr_sea				cal_qtr_sea
,	cal_qtrs_yr				cal_qtrs_yr
,	cal_qtr_yr				cal_qtr_yr
,	cal_seas_yr				cal_seas_yr
,	cal_sea_yr				cal_sea_yr

,	cal_day_sid				cal_day_sid
,	cal_day_typ_sid			cal_day_typ_sid
,	cal_day_typ_grp_sid		cal_day_typ_grp_sid
,	cal_wk_sid				cal_wk_sid
,	cal_prd_sid				cal_prd_sid
,	cal_qtr_sid				cal_qtr_sid
,	cal_sea_sid				cal_sea_sid
,	cal_yr_sid				cal_yr_sid
,	cal_day_wk_sid			cal_day_wk_sid
,	cal_day_prd_sid			cal_day_prd_sid
,	cal_day_qtr_sid			cal_day_qtr_sid
,	cal_day_sea_sid			cal_day_sea_sid
,	cal_day_yr_sid			cal_day_yr_sid
,	cal_wk_prd_sid			cal_wk_prd_sid
,	cal_wk_qtr_sid			cal_wk_qtr_sid
,	cal_wk_sea_sid			cal_wk_sea_sid
,	cal_wk_yr_sid			cal_wk_yr_sid
,	cal_prd_qtr_sid			cal_prd_qtr_sid
,	cal_prd_sea_sid			cal_prd_sea_sid
,	cal_prd_yr_sid			cal_prd_yr_sid
,	cal_qtr_sea_sid			cal_qtr_sea_sid
,	cal_qtr_yr_sid			cal_qtr_yr_sid
,	cal_sea_yr_sid			cal_sea_yr_sid

,	cal_day_bgn				cal_day_desc_1
,	cal_day_typ_desc_1		cal_day_typ_desc_1
,	cal_day_typ_grp_desc_1	cal_day_typ_grp_desc_1
,	cal_wk_desc_1			cal_wk_desc_1
,	cal_prd_desc_1			cal_prd_desc_1
,	cal_qtr_desc_1			cal_qtr_desc_1
,	cal_sea_desc_1			cal_sea_desc_1
,	cal_yr_desc_1			cal_yr_desc_1
,	cal_day_wk_desc_1		cal_day_wk_desc_1
,	cal_day_prd_desc_1		cal_day_prd_desc_1
,	cal_day_qtr_desc_1		cal_day_qtr_desc_1
,	cal_day_sea_desc_1		cal_day_sea_desc_1
,	cal_day_yr_desc_1		cal_day_yr_desc_1
,	cal_wk_prd_desc_1		cal_wk_prd_desc_1
,	cal_wk_qtr_desc_1		cal_wk_qtr_desc_1
,	cal_wk_sea_desc_1		cal_wk_sea_desc_1
,	cal_wk_yr_desc_1		cal_wk_yr_desc_1
,	cal_prd_qtr_desc_1		cal_prd_qtr_desc_1
,	cal_prd_sea_desc_1		cal_prd_sea_desc_1
,	cal_prd_yr_desc_1		cal_prd_yr_desc_1
,	cal_qtr_sea_desc_1		cal_qtr_sea_desc_1
,	cal_qtr_yr_desc_1		cal_qtr_yr_desc_1
,	cal_sea_yr_desc_1		cal_sea_yr_desc_1

,	cal_day_desc_2			cal_day_desc_2
,	cal_day_typ_desc_2		cal_day_typ_desc_2
,	cal_day_typ_grp_desc_2	cal_day_typ_grp_desc_2
,	cal_wk_desc_2			cal_wk_desc_2
,	cal_prd_desc_2			cal_prd_desc_2
,	cal_qtr_desc_2			cal_qtr_desc_2
,	cal_sea_desc_2			cal_sea_desc_2
,	cal_yr_desc_2			cal_yr_desc_2
,	cal_day_wk_desc_2		cal_day_wk_desc_2
,	cal_day_prd_desc_2		cal_day_prd_desc_2
,	cal_day_qtr_desc_2		cal_day_qtr_desc_2
,	cal_day_sea_desc_2		cal_day_sea_desc_2
,	cal_day_yr_desc_2		cal_day_yr_desc_2
,	cal_wk_prd_desc_2		cal_wk_prd_desc_2
,	cal_wk_qtr_desc_2		cal_wk_qtr_desc_2
,	cal_wk_sea_desc_2		cal_wk_sea_desc_2
,	cal_wk_yr_desc_2		cal_wk_yr_desc_2
,	cal_prd_qtr_desc_2		cal_prd_qtr_desc_2
,	cal_prd_sea_desc_2		cal_prd_sea_desc_2
,	cal_prd_yr_desc_2		cal_prd_yr_desc_2
,	cal_qtr_sea_desc_2		cal_qtr_sea_desc_2
,	cal_qtr_yr_desc_2		cal_qtr_yr_desc_2
,	cal_sea_yr_desc_2		cal_sea_yr_desc_2
from	dbo.cal_day
where	cal_id = 1;
