CREATE VIEW [dvo].[DIM_VIOLATOR_ASOF] AS select	PARTITION_DATE
,		VIOLATOR_ID
,		VIOLATOR_TYPE
,		VIOLATOR_FNAME
,		VIOLATOR_LNAME
,		PHONE_NBR
,		EMAIL_ADDR
,		ADDRESS1
,		CITY
,		STATE
,		ZIP_CODE  ZIPCODE
,		PLUS4
,		ADDR_STATUS
,		LIC_PLATE_NBR
,		LIC_PLATE_STATE
,		HV_FLAG
,		PAYMENT_PLAN_FLAG
from	dbo.DIM_VIOLATOR_ASOF;
