CREATE VIEW [dvo].[cal_prd_x] AS select	cal_id
,	cal_x_mxm_id
,	cal_x_1x1_id
,	cal_prd_bgn
,	cal_comp_prd_bgn
,	cal_comp_bgn
,	cal_comp_end
,	cal_prd_x_bgn
,	cal_prd_x_end
from	dbo.cal_prd_x;
