CREATE VIEW [dvo].[cal_mxm_wk_prd] AS select	cal_id				cal_id
,	cal_wk_bgn				cal_wk_bgn
,	cal_prd_bgn				cal_prd_bgn
,	cal_wk_bgn				cal_wk_end
,	cal_prd_bgn				cal_prd_end
from	dbo.cal_mxm_wk_prd;
