CREATE VIEW [dvo].[cal_yr] AS select	cal_id				cal_id
,	cal_yr_bgn				cal_yr_bgn
,	cal_yr_end				cal_yr_end
,	cal_yr_ix				cal_yr_ix
,	cal_yr_leap				cal_yr_leap
,	cal_yr_sid				cal_yr_sid
,	cal_yr_desc_1			cal_yr_desc_1
,	cal_yr_desc_2			cal_yr_desc_2
from	dbo.cal_yr;
