CREATE VIEW [dvo].[cal_day_yr] AS select	cal_id				cal_id
,	cal_day_yr_bgn			cal_day_yr_bgn
,	cal_day_yr_ix			cal_day_yr_ix
,	cal_days_yr				cal_days_yr
,	cal_day_yr				cal_day_yr
,	cal_day_yr_sid			cal_day_yr_sid
,	cal_day_yr_desc_1		cal_day_yr_desc_1
,	cal_day_yr_desc_2		cal_day_yr_desc_2
from	dbo.cal_day_yr;
