CREATE VIEW [dvo].[cal_qtr_x] AS select	cal_id
,	cal_x_mxm_id
,	cal_x_1x1_id
,	cal_qtr_bgn
,	cal_comp_qtr_bgn
,	cal_comp_bgn
,	cal_comp_end
,	cal_qtr_x_bgn
,	cal_qtr_x_end
from	dbo.cal_qtr_x;
