CREATE VIEW [dvo].[cal_day_qtr] AS select	cal_id				cal_id
,	cal_day_qtr_bgn			cal_day_qtr_bgn
,	cal_day_qtr_ix			cal_day_qtr_ix
,	cal_days_qtr			cal_days_qtr
,	cal_day_qtr				cal_day_qtr
,	cal_day_qtr_sid			cal_day_qtr_sid
,	cal_day_qtr_desc_1		cal_day_qtr_desc_1
,	cal_day_qtr_desc_2		cal_day_qtr_desc_2
from	dbo.cal_day_qtr;
