CREATE PROC [dbo].[StatsFullRefresh] AS

/*
	SELECT TABLE_SCHEMA, TABLE_NAME FROM INFORMATION_SCHEMA.TABLES  ORDER BY 1,2
*/

exec DropStats 'ACCOUNT_BALANCE_HISTORY' 
--  exec CreateStats 'ACCOUNT_BALANCE_HISTORY'
CREATE STATISTICS STATS_ACCOUNT_BALANCE_HISTORY_001 ON TAG_OWNER.ACCOUNT_BALANCE_HISTORY (ACCT_ID)
CREATE STATISTICS STATS_ACCOUNT_BALANCE_HISTORY_002 ON TAG_OWNER.ACCOUNT_BALANCE_HISTORY (ACCT_ID, STATUS_DATE)
CREATE STATISTICS STATS_ACCOUNT_BALANCE_HISTORY_003 ON TAG_OWNER.ACCOUNT_BALANCE_HISTORY (LAST_UPDATE_DATE)



/*
TAG_OWNER	ACCOUNT_BALANCES
TAG_OWNER	ACCOUNT_DEVICE_TYPES
TAG_OWNER	ACCOUNT_DEVICES
TAG_OWNER	ACCOUNT_DEVICES_HISTORY
TAG_OWNER	ACCOUNT_HISTORY
TAG_OWNER	ACCOUNT_PAYMENT_TYPES
TAG_OWNER	ACCOUNT_STATUSES
*/

exec DropStats 'ACCOUNT_TAG_HISTORY' 
--  exec CreateStats 'ACCOUNT_TAG_HISTORY'
CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_001 ON TAG_OWNER.ACCOUNT_TAG_HISTORY (ACCT_ID)
CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_002 ON TAG_OWNER.ACCOUNT_TAG_HISTORY (ACCT_ID,ACCT_TAG_SEQ)
CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_003 ON TAG_OWNER.ACCOUNT_TAG_HISTORY (LAST_UPDATE_DATE)


exec DropStats 'ACCOUNT_TAGS' 
--  exec CreateStats 'ACCOUNT_TAGS'
CREATE STATISTICS STATS_ACCOUNT_TAGS_001 ON TAG_OWNER.ACCOUNT_TAGS (ACCT_ID)
CREATE STATISTICS STATS_ACCOUNT_TAGS_002 ON TAG_OWNER.ACCOUNT_TAGS (ACCT_ID,ACCT_TAG_SEQ)
CREATE STATISTICS STATS_ACCOUNT_TAGS_003 ON TAG_OWNER.ACCOUNT_TAGS (LAST_UPDATE_DATE)


/*
TAG_OWNER	ACCOUNT_TYPES
*/


exec DropStats 'ACCOUNTS' 
--  exec CreateStats 'ACCOUNTS'
CREATE STATISTICS STATS_ACCOUNTS_001 ON TAG_OWNER.ACCOUNTS (ACCT_ID)
CREATE STATISTICS STATS_ACCOUNTS_003 ON TAG_OWNER.ACCOUNTS (LAST_UPDATE_DATE)

/*
TAG_OWNER	ACCT_TAG_STATUSES
TAG_OWNER	ACTIVITY_SUMMARIES
TAG_OWNER	CREDIT_TRXN_SOURCES
TAG_OWNER	FULFILLMENT_STATUS
TAG_OWNER	FULFILLMENT_TYPES
TAG_OWNER	FULFILLMENTS
TAG_OWNER	MERCHANT_ACCOUNTS
TAG_OWNER	POS_LOCATIONS
*/

exec DropStats 'PAYMENTS' 
--  exec CreateStats 'PAYMENTS'
CREATE STATISTICS STATS_PAYMENTS_001 ON TAG_OWNER.PAYMENTS (RETAIL_TRANS_ID)
CREATE STATISTICS STATS_PAYMENTS_003 ON TAG_OWNER.PAYMENTS (LAST_UPDATE_DATE)


exec DropStats 'RETAIL_TRANSACTIONS' 
--  exec CreateStats 'RETAIL_TRANSACTIONS'
CREATE STATISTICS STATS_RETAIL_TRANSACTIONS_001 ON TAG_OWNER.RETAIL_TRANSACTIONS (RETAIL_TRANS_ID)
CREATE STATISTICS STATS_RETAIL_TRANSACTIONS_003 ON TAG_OWNER.RETAIL_TRANSACTIONS (LAST_UPDATE_DATE)



/*

TAG_OWNER	SOURCE_CODE_TOLL
TAG_OWNER	TAG_AUTHORITIES
TAG_OWNER	TAG_SUMMARIES
TAG_OWNER	TOLL_SUMMARIES
TAG_OWNER	TOLL_TRANSACTIONS
TAG_OWNER	TRANSACTION_REASONS
TAG_OWNER	TRANSACTION_TYPES
TAG_OWNER	VEHICLE_CLASSES
*/

exec DropStats 'TOLL_TRANSACTIONS' 
--  exec CreateStats 'TOLL_TRANSACTIONS'    
CREATE STATISTICS STATS_TOLL_TRANSACTIONS_001 ON TAG_OWNER.TOLL_TRANSACTIONS (TTXN_ID)
CREATE STATISTICS STATS_TOLL_TRANSACTIONS_002 ON TAG_OWNER.TOLL_TRANSACTIONS (ACCT_ID, TTXN_ID)
CREATE STATISTICS STATS_TOLL_TRANSACTIONS_021 ON TAG_OWNER.TOLL_TRANSACTIONS (LAST_UPDATE_DATE)
 




