CREATE PROC [DBO].[TOLL_TRANSACTIONS_DEDUP_COMBINED_INIT_LOAD] AS 

/*
	Find the duplicates using the distribution key and the Primary key of the table
	This keeps the table from re-distributing 
*/

-- GetFields'TOLL_TRANSACTIONS'

IF OBJECT_ID('TOLL_TRANSACTIONS_DUPS_KEY')<>0
	DROP TABLE dbo.TOLL_TRANSACTIONS_DUPS_KEY

CREATE TABLE dbo.TOLL_TRANSACTIONS_DUPS_KEY WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TTXN_ID))
AS 
-- EXPLAIN
SELECT TTXN_ID, COUNT(*) AS RowCnt
FROM TAG_OWNER.TOLL_TRANSACTIONS
GROUP BY TTXN_ID
HAVING COUNT(*)>1
OPTION (LABEL = 'TOLL_TRANSACTIONS_DEDUP_COMBINED_INIT_LOAD: TOLL_TRANSACTIONS_DUPS_KEY');
/*
	Get the Distinct key lookup values plus the max LAST_UPDATE_DATE from Attunity timestamp
	This will be used to ensure we get the latest row values 
	
*/

IF OBJECT_ID('TOLL_TRANSACTIONS_DUPS_LAST_UPDATE')<>0
	DROP TABLE dbo.TOLL_TRANSACTIONS_DUPS_LAST_UPDATE

CREATE TABLE dbo.TOLL_TRANSACTIONS_DUPS_LAST_UPDATE WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TTXN_ID))
AS 
-- EXPLAIN
SELECT DISTINCT A.TTXN_ID, MAX(LAST_UPDATE_DATE) AS LAST_UPDATE_DATE
FROM TAG_OWNER.TOLL_TRANSACTIONS A
INNER JOIN dbo.TOLL_TRANSACTIONS_DUPS_KEY B ON A.TTXN_ID = B.TTXN_ID
GROUP BY A.TTXN_ID
OPTION (LABEL = 'TOLL_TRANSACTIONS_DEDUP_COMBINED_INIT_LOAD: TOLL_TRANSACTIONS_DUPS_LAST_UPDATE');

/*
	Get the Distinct row values for the duplicate records. 
	to protect against getting 2 non distinct rows. we also want the max LAST_UPDATE_DATE from Attunity timestamp
	This ensures we not only get the distinct row values but also the latest row

	
*/

IF OBJECT_ID('TOLL_TRANSACTIONS_DUPS_DISTINCT_RECORDS')<>0
	DROP TABLE dbo.TOLL_TRANSACTIONS_DUPS_DISTINCT_RECORDS

CREATE TABLE dbo.TOLL_TRANSACTIONS_DUPS_DISTINCT_RECORDS WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TTXN_ID))
AS 
-- EXPLAIN
SELECT DISTINCT   A.TTXN_ID, A.AMOUNT, A.TRANSACTION_DATE, A.POSTED_DATE, A.SOURCE_CODE, A.SOURCE_TRXN_ID, A.CREDITED_FLAG, A.ACCT_ID, A.AGENCY_ID, A.TAG_ID, A.LANE_ID, A.DATE_CREDITED, A.VEHICLE_CLASS_CODE, A.ENTRY_DATE, A.ENTRY_LANE_ID, A.TRANS_TYPE_ID, A.VPN_ID, A.TRANSACTION_FILE_DETAIL_ID, A.TXN_MATCH_IDENTIFIER_CODE, A.LAST_UPDATE_TYPE, A.LAST_UPDATE_DATE
FROM TAG_OWNER.TOLL_TRANSACTIONS A
INNER JOIN dbo.TOLL_TRANSACTIONS_DUPS_LAST_UPDATE B ON A.TTXN_ID = B.TTXN_ID  AND A.LAST_UPDATE_DATE = B.LAST_UPDATE_DATE
OPTION (LABEL = 'TOLL_TRANSACTIONS_DEDUP_COMBINED_INIT_LOAD: TOLL_TRANSACTIONS_DUPS_DISTINCT_RECORDS');
/*
	DELETE all the duplicate rows from the target
*/
DELETE FROM TAG_OWNER.TOLL_TRANSACTIONS 
WHERE EXISTS(SELECT * FROM dbo.TOLL_TRANSACTIONS_DUPS_KEY B WHERE TAG_OWNER.TOLL_TRANSACTIONS.TTXN_ID = B.TTXN_ID)
OPTION (LABEL = 'TOLL_TRANSACTIONS_DEDUP_COMBINED_INIT_LOAD: DELETE FROM TAG_OWNER.TOLL_TRANSACTIONS');
/*
	Re-insert the distinct row values
*/

INSERT INTO TAG_OWNER.TOLL_TRANSACTIONS(TTXN_ID, AMOUNT, TRANSACTION_DATE, POSTED_DATE, SOURCE_CODE, SOURCE_TRXN_ID, CREDITED_FLAG, ACCT_ID, AGENCY_ID, TAG_ID, LANE_ID, DATE_CREDITED, VEHICLE_CLASS_CODE, ENTRY_DATE, ENTRY_LANE_ID, TRANS_TYPE_ID, VPN_ID, TRANSACTION_FILE_DETAIL_ID, TXN_MATCH_IDENTIFIER_CODE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE)
SELECT TTXN_ID, AMOUNT, TRANSACTION_DATE, POSTED_DATE, SOURCE_CODE, SOURCE_TRXN_ID, CREDITED_FLAG, ACCT_ID, AGENCY_ID, TAG_ID, LANE_ID, DATE_CREDITED, VEHICLE_CLASS_CODE, ENTRY_DATE, ENTRY_LANE_ID, TRANS_TYPE_ID, VPN_ID, TRANSACTION_FILE_DETAIL_ID, TXN_MATCH_IDENTIFIER_CODE, LAST_UPDATE_TYPE, LAST_UPDATE_DATE
FROM dbo.TOLL_TRANSACTIONS_DUPS_DISTINCT_RECORDS 
OPTION (LABEL = 'TOLL_TRANSACTIONS_DEDUP_COMBINED_INIT_LOAD: INSERT INTO TAG_OWNER.TOLL_TRANSACTIONS');

--SELECT COUNT(*) AS TOLL_TRANSACTIONS_DUPS_KEY FROM TOLL_TRANSACTIONS_DUPS_KEY
--SELECT COUNT(*) AS TOLL_TRANSACTIONS_DUPS_DISTINCT_RECORDS FROM TOLL_TRANSACTIONS_DUPS_DISTINCT_RECORDS
--SELECT COUNT(*) AS TOLL_TRANSACTIONS_DUPS_DISTINCT_RECORDS FROM TOLL_TRANSACTIONS_DUPS_DISTINCT_RECORDS

IF OBJECT_ID('TOLL_TRANSACTIONS_DUPS_KEY')<>0
	DROP TABLE dbo.TOLL_TRANSACTIONS_DUPS_KEY
	
IF OBJECT_ID('TOLL_TRANSACTIONS_DUPS_DISTINCT_RECORDS')<>0
	DROP TABLE dbo.TOLL_TRANSACTIONS_DUPS_DISTINCT_RECORDS

IF OBJECT_ID('TOLL_TRANSACTIONS_DUPS_DISTINCT_RECORDS')<>0
	DROP TABLE dbo.TOLL_TRANSACTIONS_DUPS_DISTINCT_RECORDS

/*
-- -- -- -- -- -- -- -- -- -- -- -- 
-- Check for Dups again
-- This would be a DataMonitor
-- top portion would be a stored proc
-- -- -- -- -- -- -- -- -- -- -- -- 
SELECT TTXN_ID, COUNT(*) AS RowCnt
FROM lnd_lg_ts.TAG_OWNER.TOLL_TRANSACTIONS
GROUP BY TTXN_ID
HAVING COUNT(*)>1


SELECT DATEPART(yyyy, TRANSACTION_DATE) AS TRANSACTION_DATE, COUNT(*) 
FROM TAG_OWNER.TOLL_TRANSACTIONS 
GROUP BY DATEPART(yyyy, TRANSACTION_DATE)
ORDER BY 1

SELECT DATEPART(yyyy, TRANSACTION_DATE) AS TRANSACTION_DATE_Y, DATEPART(MM, TRANSACTION_DATE) AS TRANSACTION_DATE_M, COUNT(*) 
FROM TAG_OWNER.TOLL_TRANSACTIONS 
GROUP BY DATEPART(yyyy, TRANSACTION_DATE), DATEPART(MM, TRANSACTION_DATE) 
ORDER BY 1,2
*/



