CREATE PROC [TAG_OWNER].[ACCOUNT_DEVICES_Update_Stats] AS

EXEC DropStats 'TAG_OWNER','ACCOUNT_DEVICES'
CREATE STATISTICS STATS_ACCOUNT_DEVICES_001 ON TAG_OWNER.ACCOUNT_DEVICES (ACCT_DEVICE_ID)
CREATE STATISTICS STATS_ACCOUNT_DEVICES_002 ON TAG_OWNER.ACCOUNT_DEVICES (ACCT_DEVICE_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_ACCOUNT_DEVICES_003 ON TAG_OWNER.ACCOUNT_DEVICES (LAST_UPDATE_DATE)


