CREATE PROC [TAG_OWNER].[TOLL_TAGS_Update_Stats] AS

EXEC DropStats 'TAG_OWNER','TOLL_TAGS'
CREATE STATISTICS STATS_TOLL_TAGS_001 ON TAG_OWNER.TOLL_TAGS (TAG_ID, AGENCY_ID)
CREATE STATISTICS STATS_TOLL_TAGS_002 ON TAG_OWNER.TOLL_TAGS (TAG_ID, AGENCY_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_TOLL_TAGS_003 ON TAG_OWNER.TOLL_TAGS (LAST_UPDATE_DATE)



