CREATE PROC [TAG_OWNER].[ACCOUNT_DEVICES_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'TAG_OWNER','ACCOUNT_DEVICES'
	GetInsertFields2 'TAG_OWNER','ACCOUNT_DEVICES'
*/

EXEC DropStats 'TAG_OWNER','ACCOUNT_DEVICES_CT_INS'
CREATE STATISTICS STATS_ACCOUNT_DEVICES_CT_INS_001 ON TAG_OWNER.ACCOUNT_DEVICES_CT_INS (ACCT_DEVICE_ID)

INSERT INTO TAG_OWNER.ACCOUNT_DEVICES
	(
		 ACCT_DEVICE_ID, DEVICE_TYPE, ACCT_ID, DEVICE_VALUE, PRECEDENCE_LEVEL, IS_ACTIVE, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY,  
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  
 A.ACCT_DEVICE_ID, A.DEVICE_TYPE, A.ACCT_ID, A.DEVICE_VALUE, A.PRECEDENCE_LEVEL, A.IS_ACTIVE, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY,
 'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM TAG_OWNER.ACCOUNT_DEVICES_CT_INS A
LEFT JOIN TAG_OWNER.ACCOUNT_DEVICES B ON A.ACCT_DEVICE_ID = B.ACCT_DEVICE_ID
WHERE B.ACCT_DEVICE_ID IS NULL

