CREATE PROC [TAG_OWNER].[ACCOUNTS_DELETE] AS


EXEC DropStats 'TAG_OWNER','ACCOUNTS_CT_DEL'
CREATE STATISTICS STATS_ACCOUNTS_CT_DEL_001 ON TAG_OWNER.ACCOUNTS_CT_DEL (ACCT_ID)
CREATE STATISTICS STATS_ACCOUNTS_CT_DEL_002 ON TAG_OWNER.ACCOUNTS_CT_DEL (ACCT_ID, INSERT_DATETIME)



UPDATE TAG_OWNER.ACCOUNTS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM TAG_OWNER.ACCOUNTS_CT_DEL B
WHERE TAG_OWNER.ACCOUNTS.ACCT_ID = B.ACCT_ID

/*
	To Test With:

	INSERT INTO TAG_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM TAG_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM TAG_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

