CREATE PROC [TAG_OWNER].[FULFILLMENTS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'TAG_OWNER','FULFILLMENTS'
	GetInsertFields2 'TAG_OWNER','FULFILLMENTS'
*/

EXEC DropStats 'TAG_OWNER','FULFILLMENTS_CT_INS'
CREATE STATISTICS STATS_FULFILLMENTS_CT_INS_001 ON TAG_OWNER.FULFILLMENTS_CT_INS (FULFILLMENT_ID)

INSERT INTO TAG_OWNER.FULFILLMENTS
	(
		 ACCT_ID, FULFILLMENT_ID, FULFILLMENT_TYPE_CODE, FULFILLMENT_STATUS_CODE, RETAIL_TRANS_ID, RTD_ID, BATCH_ID, UNITS, REQUESTED_BY, REQUESTED_DATE, FULFILLED_BY, FULFILLED_DATE, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  
 A.ACCT_ID, A.FULFILLMENT_ID, A.FULFILLMENT_TYPE_CODE, A.FULFILLMENT_STATUS_CODE, A.RETAIL_TRANS_ID, A.RTD_ID, A.BATCH_ID, A.UNITS, A.REQUESTED_BY, A.REQUESTED_DATE, A.FULFILLED_BY, A.FULFILLED_DATE, 
 'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM TAG_OWNER.FULFILLMENTS_CT_INS A
LEFT JOIN TAG_OWNER.FULFILLMENTS B ON A.FULFILLMENT_ID = B.FULFILLMENT_ID
WHERE B.FULFILLMENT_ID IS NULL

