CREATE PROC [TAG_OWNER].[TOLL_TAGS_DELETE] AS


EXEC DropStats 'TAG_OWNER','TOLL_TAGS_CT_DEL'
CREATE STATISTICS STATS_TOLL_TAGS_CT_DEL_001 ON TAG_OWNER.TOLL_TAGS_CT_DEL (TAG_ID, AGENCY_ID)
CREATE STATISTICS STATS_TOLL_TAGS_CT_DEL_002 ON TAG_OWNER.TOLL_TAGS_CT_DEL (TAG_ID, AGENCY_ID, INSERT_DATETIME)



UPDATE TAG_OWNER.TOLL_TAGS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM TAG_OWNER.TOLL_TAGS_CT_DEL B
WHERE TAG_OWNER.TOLL_TAGS.TAG_ID = B.TAG_ID AND TAG_OWNER.TOLL_TAGS.AGENCY_ID = B.AGENCY_ID

/*
	To Test With:

	INSERT INTO TAG_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM TAG_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM TAG_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/


