CREATE PROC [TAG_OWNER].[ACCOUNTS_Update_Stats] AS

EXEC DropStats 'TAG_OWNER','ACCOUNTS'
CREATE STATISTICS STATS_ACCOUNTS_001 ON TAG_OWNER.ACCOUNTS (ACCT_ID)
CREATE STATISTICS STATS_ACCOUNTS_002 ON TAG_OWNER.ACCOUNTS (ACCT_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_ACCOUNTS_003 ON TAG_OWNER.ACCOUNTS (LAST_UPDATE_DATE)


