CREATE PROC [TAG_OWNER].[ACCOUNT_TAG_HISTORY_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'TAG_OWNER','ACCOUNT_TAG_HISTORY'
	GetInsertFields2 'TAG_OWNER','ACCOUNT_TAG_HISTORY'
*/

EXEC DropStats 'TAG_OWNER','ACCOUNT_TAG_HISTORY_CT_INS'
CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_CT_INS_001 ON TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_INS (ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ)

INSERT INTO TAG_OWNER.ACCOUNT_TAG_HISTORY
	(
		   ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, ACCT_TAG_STATUS, ASSIGNED_DATE, EXPIRED_DATE, LIC_PLATE, LIC_STATE, LIC_PLATE_TAG, VEHICLE_DESCR, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_YEAR, VEHICLE_COLOR, VEHICLE_CLASS_CODE, TAG_ID, DATE_CREATED, CREATED_BY, AGENCY_ID, VPN_ID, UNIT_ID
		   , LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT A.ACCT_ID, A.ACCT_TAG_SEQ, A.TAG_HISTORY_SEQ, A.ACCT_TAG_STATUS, A.ASSIGNED_DATE, A.EXPIRED_DATE, A.LIC_PLATE, A.LIC_STATE, A.LIC_PLATE_TAG, A.VEHICLE_DESCR, A.VEHICLE_MAKE, A.VEHICLE_MODEL, A.VEHICLE_YEAR, A.VEHICLE_COLOR, A.VEHICLE_CLASS_CODE, A.TAG_ID, A.DATE_CREATED, A.CREATED_BY, A.AGENCY_ID, A.VPN_ID, A.UNIT_ID,
 'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_INS A
LEFT JOIN TAG_OWNER.ACCOUNT_TAG_HISTORY B ON A.ACCT_ID = B.ACCT_ID AND  A.ACCT_TAG_SEQ = B.ACCT_TAG_SEQ AND A.TAG_HISTORY_SEQ = B.TAG_HISTORY_SEQ
WHERE B.ACCT_ID IS NULL AND B.ACCT_TAG_SEQ IS NULL AND B.TAG_HISTORY_SEQ IS NULL



