CREATE PROC [TAG_OWNER].[ACCOUNT_TAG_HISTORY_UPDATE] AS

/*
	Use this proc to help write the code
		GetUpdateFields 'TAG_OWNER','ACCOUNT_TAG_HISTORY'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TAG_OWNER','ACCOUNT_TAG_HISTORY_CT_UPD'
CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_CT_UPD_001 ON TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_UPD (ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ)
CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_CT_UPD_002 ON TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_UPD (ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#ACCOUNT_TAG_HISTORY_CT_UPD_Dups')<>0
	DROP TABLE #ACCOUNT_TAG_HISTORY_CT_UPD_Dups

CREATE TABLE #ACCOUNT_TAG_HISTORY_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.ACCT_ID, A.ACCT_TAG_SEQ, A.TAG_HISTORY_SEQ, A.INSERT_DATETIME
	FROM TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_UPD A
	INNER JOIN 
		(
			SELECT ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ
			FROM TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_UPD
			GROUP BY ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ
			HAVING COUNT(*)>1
		) Dups ON A.ACCT_ID = Dups.ACCT_ID AND A.ACCT_TAG_SEQ = Dups.ACCT_TAG_SEQ AND A.TAG_HISTORY_SEQ = Dups.TAG_HISTORY_SEQ

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#ACCOUNT_TAG_HISTORY_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #ACCOUNT_TAG_HISTORY_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #ACCOUNT_TAG_HISTORY_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ), LOCATION = USER_DB)
AS
	SELECT A.ACCT_ID, A.ACCT_TAG_SEQ, A.TAG_HISTORY_SEQ, A.ACCT_TAG_STATUS, A.ASSIGNED_DATE, A.EXPIRED_DATE, A.LIC_PLATE, A.LIC_STATE, A.LIC_PLATE_TAG, A.VEHICLE_DESCR, A.VEHICLE_MAKE, A.VEHICLE_MODEL, A.VEHICLE_YEAR, A.VEHICLE_COLOR, A.VEHICLE_CLASS_CODE, A.TAG_ID, A.DATE_CREATED, A.CREATED_BY, A.AGENCY_ID, A.VPN_ID, A.UNIT_ID, A.INSERT_DATETIME
	FROM TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_UPD A
	INNER JOIN 
		(
			SELECT ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #ACCOUNT_TAG_HISTORY_CT_UPD_Dups
			GROUP BY ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ
		) LastRcrd ON A.ACCT_ID = LastRcrd.ACCT_ID AND A.ACCT_TAG_SEQ = LastRcrd.ACCT_TAG_SEQ AND A.TAG_HISTORY_SEQ = LastRcrd.TAG_HISTORY_SEQ AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_UPD 
WHERE EXISTS(SELECT * FROM #ACCOUNT_TAG_HISTORY_CT_UPD_Dups B WHERE TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_UPD.ACCT_ID = B.ACCT_ID AND TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_UPD.ACCT_TAG_SEQ = B.ACCT_TAG_SEQ AND TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_UPD.TAG_HISTORY_SEQ = B.TAG_HISTORY_SEQ);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_UPD 
	( ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, ACCT_TAG_STATUS, ASSIGNED_DATE, EXPIRED_DATE, LIC_PLATE, LIC_STATE, LIC_PLATE_TAG, VEHICLE_DESCR, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_YEAR, VEHICLE_COLOR, VEHICLE_CLASS_CODE, TAG_ID, DATE_CREATED, CREATED_BY, AGENCY_ID, VPN_ID, UNIT_ID, INSERT_DATETIME)
SELECT ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, ACCT_TAG_STATUS, ASSIGNED_DATE, EXPIRED_DATE, LIC_PLATE, LIC_STATE, LIC_PLATE_TAG, VEHICLE_DESCR, VEHICLE_MAKE, VEHICLE_MODEL, VEHICLE_YEAR, VEHICLE_COLOR, VEHICLE_CLASS_CODE, TAG_ID, DATE_CREATED, CREATED_BY, AGENCY_ID, VPN_ID, UNIT_ID, INSERT_DATETIME
FROM #ACCOUNT_TAG_HISTORY_CT_UPD_DuplicateLastRowToReInsert


	UPDATE  TAG_OWNER.ACCOUNT_TAG_HISTORY
	SET 
    
		  TAG_OWNER.ACCOUNT_TAG_HISTORY.ACCT_TAG_STATUS = B.ACCT_TAG_STATUS
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.ASSIGNED_DATE = B.ASSIGNED_DATE
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.EXPIRED_DATE = B.EXPIRED_DATE
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.LIC_PLATE = B.LIC_PLATE
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.LIC_STATE = B.LIC_STATE
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.LIC_PLATE_TAG = B.LIC_PLATE_TAG
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.VEHICLE_DESCR = B.VEHICLE_DESCR
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.VEHICLE_MAKE = B.VEHICLE_MAKE
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.VEHICLE_MODEL = B.VEHICLE_MODEL
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.VEHICLE_YEAR = B.VEHICLE_YEAR
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.VEHICLE_COLOR = B.VEHICLE_COLOR
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.VEHICLE_CLASS_CODE = B.VEHICLE_CLASS_CODE
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.TAG_ID = B.TAG_ID
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.DATE_CREATED = B.DATE_CREATED
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.CREATED_BY = B.CREATED_BY
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.AGENCY_ID = B.AGENCY_ID
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.VPN_ID = B.VPN_ID
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.UNIT_ID = B.UNIT_ID
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.LAST_UPDATE_TYPE = 'U'
		, TAG_OWNER.ACCOUNT_TAG_HISTORY.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_UPD B
	WHERE TAG_OWNER.ACCOUNT_TAG_HISTORY.ACCT_ID = B.ACCT_ID 
		AND TAG_OWNER.ACCOUNT_TAG_HISTORY.ACCT_TAG_SEQ = B.ACCT_TAG_SEQ 
		AND TAG_OWNER.ACCOUNT_TAG_HISTORY.TAG_HISTORY_SEQ = B.TAG_HISTORY_SEQ


