CREATE PROC [TAG_OWNER].[FULFILLMENTS_UPDATE] AS

/*
	Use this proc to help write the code
		GetUpdateFields 'TAG_OWNER','FULFILLMENTS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TAG_OWNER','FULFILLMENTS_CT_UPD'
CREATE STATISTICS STATS_FULFILLMENTS_CT_UPD_001 ON TAG_OWNER.FULFILLMENTS_CT_UPD (FULFILLMENT_ID)
CREATE STATISTICS STATS_FULFILLMENTS_CT_UPD_002 ON TAG_OWNER.FULFILLMENTS_CT_UPD (FULFILLMENT_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#FULFILLMENTS_CT_UPD_Dups')<>0
	DROP TABLE #FULFILLMENTS_CT_UPD_Dups

CREATE TABLE #FULFILLMENTS_CT_UPD_Dups WITH (DISTRIBUTION = HASH(FULFILLMENT_ID), LOCATION = USER_DB)
AS
	SELECT A.FULFILLMENT_ID, A.INSERT_DATETIME
	FROM TAG_OWNER.FULFILLMENTS_CT_UPD A
	INNER JOIN 
		(
			SELECT FULFILLMENT_ID
			FROM TAG_OWNER.FULFILLMENTS_CT_UPD
			GROUP BY FULFILLMENT_ID
			HAVING COUNT(*)>1
		) Dups ON A.FULFILLMENT_ID = Dups.FULFILLMENT_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#FULFILLMENTS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #FULFILLMENTS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #FULFILLMENTS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = HASH(FULFILLMENT_ID), LOCATION = USER_DB)
AS
	SELECT A.ACCT_ID, A.FULFILLMENT_ID, A.FULFILLMENT_TYPE_CODE, A.FULFILLMENT_STATUS_CODE, A.RETAIL_TRANS_ID, A.RTD_ID, A.BATCH_ID, A.UNITS, A.REQUESTED_BY, A.REQUESTED_DATE, A.FULFILLED_BY, A.FULFILLED_DATE, A.INSERT_DATETIME
	FROM TAG_OWNER.FULFILLMENTS_CT_UPD A
	INNER JOIN 
		(
			SELECT FULFILLMENT_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #FULFILLMENTS_CT_UPD_Dups
			GROUP BY FULFILLMENT_ID
		) LastRcrd ON A.FULFILLMENT_ID = LastRcrd.FULFILLMENT_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM TAG_OWNER.FULFILLMENTS_CT_UPD 
WHERE EXISTS(SELECT * FROM #FULFILLMENTS_CT_UPD_Dups B WHERE TAG_OWNER.FULFILLMENTS_CT_UPD.FULFILLMENT_ID = B.FULFILLMENT_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO TAG_OWNER.FULFILLMENTS_CT_UPD 
	( ACCT_ID, FULFILLMENT_ID, FULFILLMENT_TYPE_CODE, FULFILLMENT_STATUS_CODE, RETAIL_TRANS_ID, RTD_ID, BATCH_ID, UNITS, REQUESTED_BY, REQUESTED_DATE, FULFILLED_BY, FULFILLED_DATE, INSERT_DATETIME)
SELECT ACCT_ID, FULFILLMENT_ID, FULFILLMENT_TYPE_CODE, FULFILLMENT_STATUS_CODE, RETAIL_TRANS_ID, RTD_ID, BATCH_ID, UNITS, REQUESTED_BY, REQUESTED_DATE, FULFILLED_BY, FULFILLED_DATE, INSERT_DATETIME
FROM #FULFILLMENTS_CT_UPD_DuplicateLastRowToReInsert


	UPDATE  TAG_OWNER.FULFILLMENTS
	SET 
		  TAG_OWNER.FULFILLMENTS.ACCT_ID = B.ACCT_ID
		, TAG_OWNER.FULFILLMENTS.FULFILLMENT_TYPE_CODE = B.FULFILLMENT_TYPE_CODE
		, TAG_OWNER.FULFILLMENTS.FULFILLMENT_STATUS_CODE = B.FULFILLMENT_STATUS_CODE
		, TAG_OWNER.FULFILLMENTS.RETAIL_TRANS_ID = B.RETAIL_TRANS_ID
		, TAG_OWNER.FULFILLMENTS.RTD_ID = B.RTD_ID
		, TAG_OWNER.FULFILLMENTS.BATCH_ID = B.BATCH_ID
		, TAG_OWNER.FULFILLMENTS.UNITS = B.UNITS
		, TAG_OWNER.FULFILLMENTS.REQUESTED_BY = B.REQUESTED_BY
		, TAG_OWNER.FULFILLMENTS.REQUESTED_DATE = B.REQUESTED_DATE
		, TAG_OWNER.FULFILLMENTS.FULFILLED_BY = B.FULFILLED_BY
		, TAG_OWNER.FULFILLMENTS.FULFILLED_DATE = B.FULFILLED_DATE
		, TAG_OWNER.FULFILLMENTS.LAST_UPDATE_TYPE = 'U'
		, TAG_OWNER.FULFILLMENTS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TAG_OWNER.FULFILLMENTS_CT_UPD B
	WHERE TAG_OWNER.FULFILLMENTS.FULFILLMENT_ID = B.FULFILLMENT_ID


