CREATE PROC [TAG_OWNER].[PAYMENTS_Update_Stats] AS

EXEC DropStats 'TAG_OWNER','PAYMENTS'
CREATE STATISTICS STATS_PAYMENTS_001 ON TAG_OWNER.PAYMENTS (RETAIL_TRANS_ID,PMT_ID)
CREATE STATISTICS STATS_PAYMENTS_002 ON TAG_OWNER.PAYMENTS (RETAIL_TRANS_ID,PMT_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_PAYMENTS_003 ON TAG_OWNER.PAYMENTS (LAST_UPDATE_DATE)

