CREATE PROC [TAG_OWNER].[PAYMENTS_DELETE] AS


EXEC DropStats 'TAG_OWNER','PAYMENTS_CT_DEL'
CREATE STATISTICS STATS_PAYMENTS_CT_DEL_001 ON TAG_OWNER.PAYMENTS_CT_DEL (RETAIL_TRANS_ID,PMT_ID)
CREATE STATISTICS STATS_PAYMENTS_CT_DEL_002 ON TAG_OWNER.PAYMENTS_CT_DEL (RETAIL_TRANS_ID,PMT_ID, INSERT_DATETIME)



UPDATE TAG_OWNER.PAYMENTS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM TAG_OWNER.PAYMENTS_CT_DEL B
WHERE TAG_OWNER.PAYMENTS.RETAIL_TRANS_ID = B.RETAIL_TRANS_ID AND TAG_OWNER.PAYMENTS.PMT_ID = B.PMT_ID

/*
	To Test With:

	INSERT INTO TAG_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM TAG_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM TAG_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

