CREATE PROC [TAG_OWNER].[ACCOUNT_TAGS_Update_Stats] AS

EXEC DropStats 'TAG_OWNER','ACCOUNT_TAGS'
CREATE STATISTICS STATS_ACCOUNT_TAGS_001 ON TAG_OWNER.ACCOUNT_TAGS (ACCT_ID, ACCT_TAG_SEQ)
CREATE STATISTICS STATS_ACCOUNT_TAGS_002 ON TAG_OWNER.ACCOUNT_TAGS (ACCT_ID, ACCT_TAG_SEQ, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_ACCOUNT_TAGS_003 ON TAG_OWNER.ACCOUNT_TAGS (LAST_UPDATE_DATE)


