CREATE PROC [TAG_OWNER].[ACCOUNT_TAG_HISTORY_DELETE] AS


EXEC DropStats 'TAG_OWNER','ACCOUNT_TAG_HISTORY_CT_DEL'
CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_CT_DEL_001 ON TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_DEL (ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ)
CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_CT_DEL_002 ON TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_DEL (ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, INSERT_DATETIME)



UPDATE TAG_OWNER.ACCOUNT_TAG_HISTORY
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM TAG_OWNER.ACCOUNT_TAG_HISTORY_CT_DEL B
WHERE TAG_OWNER.ACCOUNT_TAG_HISTORY.ACCT_ID = B.ACCT_ID AND TAG_OWNER.ACCOUNT_TAG_HISTORY.ACCT_TAG_SEQ = B.ACCT_TAG_SEQ AND TAG_OWNER.ACCOUNT_TAG_HISTORY.TAG_HISTORY_SEQ = B.TAG_HISTORY_SEQ

/*
	To Test With:

	INSERT INTO TAG_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM TAG_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM TAG_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

