CREATE PROC [TAG_OWNER].[ACCOUNTS_UPDATE] AS

/*
	Use this proc to help write the code
		GetUpdateFields 'TAG_OWNER','ACCOUNTS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TAG_OWNER','ACCOUNTS_CT_UPD'
CREATE STATISTICS STATS_ACCOUNTS_CT_UPD_001 ON TAG_OWNER.ACCOUNTS_CT_UPD (ACCT_ID)
CREATE STATISTICS STATS_ACCOUNTS_CT_UPD_002 ON TAG_OWNER.ACCOUNTS_CT_UPD (ACCT_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#ACCOUNTS_CT_UPD_Dups')<>0
	DROP TABLE #ACCOUNTS_CT_UPD_Dups

CREATE TABLE #ACCOUNTS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ACCT_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.ACCT_ID, A.INSERT_DATETIME
	FROM TAG_OWNER.ACCOUNTS_CT_UPD A
	INNER JOIN 
		(
			SELECT ACCT_ID
			FROM TAG_OWNER.ACCOUNTS_CT_UPD
			GROUP BY ACCT_ID
			HAVING COUNT(*)>1
		) Dups ON A.ACCT_ID = Dups.ACCT_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#ACCOUNTS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #ACCOUNTS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #ACCOUNTS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (ACCT_ID), LOCATION = USER_DB)
AS
	SELECT A.ACCT_ID, A.FIRST_NAME, A.MIDDLE_INITIAL, A.LAST_NAME, A.ADDRESS1, A.ADDRESS2, A.CITY, A.STATE, A.ZIP_CODE, A.PLUS4, A.HOME_PHO_NBR, A.WORK_PHO_NBR, A.WORK_PHO_EXT, A.DRIVER_LIC_NBR, A.DRIVER_LIC_STATE, A.COMPANY_NAME, A.COMPANY_TAX_ID, A.EMAIL_ADDRESS, A.MO_STMT_FLAG, A.BAD_ADDRESS_FLAG, A.REBILL_FAILED_FLAG, A.REBILL_AMT, A.REBILL_DATE, A.DEP_AMT, A.BALANCE_AMT, A.LOW_BAL_LEVEL, A.BAL_LAST_UPDATED, A.ACCT_STATUS_CODE, A.ACCT_TYPE_CODE, A.PMT_TYPE_CODE, A.ADDRESS_MODIFIED, A.DATE_CREATED, A.CREATED_BY, A.DATE_APPROVED, A.APPROVED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, A.SELECTED_FOR_REBILL, A.MS_ID, A.VEA_FLAG, A.VEA_DATE, A.VEA_EXPIRE_DATE, A.COMPANY_CODE, A.ADJUST_REBILL_AMT, A.CLOSE_OUT_STATUS, A.CLOSE_OUT_DATE, A.CLOSE_OUT_TYPE, A.INSERT_DATETIME
	FROM TAG_OWNER.ACCOUNTS_CT_UPD A
	INNER JOIN 
		(
			SELECT ACCT_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #ACCOUNTS_CT_UPD_Dups
			GROUP BY ACCT_ID
		) LastRcrd ON A.ACCT_ID = LastRcrd.ACCT_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM TAG_OWNER.ACCOUNTS_CT_UPD 
WHERE EXISTS(SELECT * FROM #ACCOUNTS_CT_UPD_Dups B WHERE TAG_OWNER.ACCOUNTS_CT_UPD.ACCT_ID = B.ACCT_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO TAG_OWNER.ACCOUNTS_CT_UPD 
	( ACCT_ID, FIRST_NAME, MIDDLE_INITIAL, LAST_NAME, ADDRESS1, ADDRESS2, CITY, STATE, ZIP_CODE, PLUS4, HOME_PHO_NBR, WORK_PHO_NBR, WORK_PHO_EXT, DRIVER_LIC_NBR, DRIVER_LIC_STATE, COMPANY_NAME, COMPANY_TAX_ID, EMAIL_ADDRESS, MO_STMT_FLAG, BAD_ADDRESS_FLAG, REBILL_FAILED_FLAG, REBILL_AMT, REBILL_DATE, DEP_AMT, BALANCE_AMT, LOW_BAL_LEVEL, BAL_LAST_UPDATED, ACCT_STATUS_CODE, ACCT_TYPE_CODE, PMT_TYPE_CODE, ADDRESS_MODIFIED, DATE_CREATED, CREATED_BY, DATE_APPROVED, APPROVED_BY, DATE_MODIFIED, MODIFIED_BY, SELECTED_FOR_REBILL, MS_ID, VEA_FLAG, VEA_DATE, VEA_EXPIRE_DATE, COMPANY_CODE, ADJUST_REBILL_AMT, CLOSE_OUT_STATUS, CLOSE_OUT_DATE, CLOSE_OUT_TYPE, INSERT_DATETIME)
SELECT ACCT_ID, FIRST_NAME, MIDDLE_INITIAL, LAST_NAME, ADDRESS1, ADDRESS2, CITY, STATE, ZIP_CODE, PLUS4, HOME_PHO_NBR, WORK_PHO_NBR, WORK_PHO_EXT, DRIVER_LIC_NBR, DRIVER_LIC_STATE, COMPANY_NAME, COMPANY_TAX_ID, EMAIL_ADDRESS, MO_STMT_FLAG, BAD_ADDRESS_FLAG, REBILL_FAILED_FLAG, REBILL_AMT, REBILL_DATE, DEP_AMT, BALANCE_AMT, LOW_BAL_LEVEL, BAL_LAST_UPDATED, ACCT_STATUS_CODE, ACCT_TYPE_CODE, PMT_TYPE_CODE, ADDRESS_MODIFIED, DATE_CREATED, CREATED_BY, DATE_APPROVED, APPROVED_BY, DATE_MODIFIED, MODIFIED_BY, SELECTED_FOR_REBILL, MS_ID, VEA_FLAG, VEA_DATE, VEA_EXPIRE_DATE, COMPANY_CODE, ADJUST_REBILL_AMT, CLOSE_OUT_STATUS, CLOSE_OUT_DATE, CLOSE_OUT_TYPE, INSERT_DATETIME
FROM #ACCOUNTS_CT_UPD_DuplicateLastRowToReInsert


	UPDATE  TAG_OWNER.ACCOUNTS
	SET 
    
		  TAG_OWNER.ACCOUNTS.FIRST_NAME = B.FIRST_NAME
		, TAG_OWNER.ACCOUNTS.MIDDLE_INITIAL = B.MIDDLE_INITIAL
		, TAG_OWNER.ACCOUNTS.LAST_NAME = B.LAST_NAME
		, TAG_OWNER.ACCOUNTS.ADDRESS1 = B.ADDRESS1
		, TAG_OWNER.ACCOUNTS.ADDRESS2 = B.ADDRESS2
		, TAG_OWNER.ACCOUNTS.CITY = B.CITY
		, TAG_OWNER.ACCOUNTS.STATE = B.STATE
		, TAG_OWNER.ACCOUNTS.ZIP_CODE = B.ZIP_CODE
		, TAG_OWNER.ACCOUNTS.PLUS4 = B.PLUS4
		, TAG_OWNER.ACCOUNTS.HOME_PHO_NBR = B.HOME_PHO_NBR
		, TAG_OWNER.ACCOUNTS.WORK_PHO_NBR = B.WORK_PHO_NBR
		, TAG_OWNER.ACCOUNTS.WORK_PHO_EXT = B.WORK_PHO_EXT
		, TAG_OWNER.ACCOUNTS.DRIVER_LIC_NBR = B.DRIVER_LIC_NBR
		, TAG_OWNER.ACCOUNTS.DRIVER_LIC_STATE = B.DRIVER_LIC_STATE
		, TAG_OWNER.ACCOUNTS.COMPANY_NAME = B.COMPANY_NAME
		, TAG_OWNER.ACCOUNTS.COMPANY_TAX_ID = B.COMPANY_TAX_ID
		, TAG_OWNER.ACCOUNTS.EMAIL_ADDRESS = B.EMAIL_ADDRESS
		, TAG_OWNER.ACCOUNTS.MO_STMT_FLAG = B.MO_STMT_FLAG
		, TAG_OWNER.ACCOUNTS.BAD_ADDRESS_FLAG = B.BAD_ADDRESS_FLAG
		, TAG_OWNER.ACCOUNTS.REBILL_FAILED_FLAG = B.REBILL_FAILED_FLAG
		, TAG_OWNER.ACCOUNTS.REBILL_AMT = B.REBILL_AMT
		, TAG_OWNER.ACCOUNTS.REBILL_DATE = B.REBILL_DATE
		, TAG_OWNER.ACCOUNTS.DEP_AMT = B.DEP_AMT
		, TAG_OWNER.ACCOUNTS.BALANCE_AMT = B.BALANCE_AMT
		, TAG_OWNER.ACCOUNTS.LOW_BAL_LEVEL = B.LOW_BAL_LEVEL
		, TAG_OWNER.ACCOUNTS.BAL_LAST_UPDATED = B.BAL_LAST_UPDATED
		, TAG_OWNER.ACCOUNTS.ACCT_STATUS_CODE = B.ACCT_STATUS_CODE
		, TAG_OWNER.ACCOUNTS.ACCT_TYPE_CODE = B.ACCT_TYPE_CODE
		, TAG_OWNER.ACCOUNTS.PMT_TYPE_CODE = B.PMT_TYPE_CODE
		, TAG_OWNER.ACCOUNTS.ADDRESS_MODIFIED = B.ADDRESS_MODIFIED
		, TAG_OWNER.ACCOUNTS.DATE_CREATED = B.DATE_CREATED
		, TAG_OWNER.ACCOUNTS.CREATED_BY = B.CREATED_BY
		, TAG_OWNER.ACCOUNTS.DATE_APPROVED = B.DATE_APPROVED
		, TAG_OWNER.ACCOUNTS.APPROVED_BY = B.APPROVED_BY
		, TAG_OWNER.ACCOUNTS.DATE_MODIFIED = B.DATE_MODIFIED
		, TAG_OWNER.ACCOUNTS.MODIFIED_BY = B.MODIFIED_BY
		, TAG_OWNER.ACCOUNTS.SELECTED_FOR_REBILL = B.SELECTED_FOR_REBILL
		, TAG_OWNER.ACCOUNTS.MS_ID = B.MS_ID
		, TAG_OWNER.ACCOUNTS.VEA_FLAG = B.VEA_FLAG
		, TAG_OWNER.ACCOUNTS.VEA_DATE = B.VEA_DATE
		, TAG_OWNER.ACCOUNTS.VEA_EXPIRE_DATE = B.VEA_EXPIRE_DATE
		, TAG_OWNER.ACCOUNTS.COMPANY_CODE = B.COMPANY_CODE
		, TAG_OWNER.ACCOUNTS.ADJUST_REBILL_AMT = B.ADJUST_REBILL_AMT
		, TAG_OWNER.ACCOUNTS.CLOSE_OUT_STATUS = B.CLOSE_OUT_STATUS
		, TAG_OWNER.ACCOUNTS.CLOSE_OUT_DATE = B.CLOSE_OUT_DATE
		, TAG_OWNER.ACCOUNTS.CLOSE_OUT_TYPE = B.CLOSE_OUT_TYPE
		, TAG_OWNER.ACCOUNTS.LAST_UPDATE_TYPE = 'U'
		, TAG_OWNER.ACCOUNTS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TAG_OWNER.ACCOUNTS_CT_UPD B
	WHERE TAG_OWNER.ACCOUNTS.ACCT_ID = B.ACCT_ID


