CREATE PROC [TAG_OWNER].[RETAIL_TRXN_DETAILS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'TAG_OWNER','RETAIL_TRXN_DETAILS'
	GetInsertFields2 'TAG_OWNER','RETAIL_TRXN_DETAILS'
*/

EXEC DropStats 'TAG_OWNER','RETAIL_TRXN_DETAILS_CT_INS'
CREATE STATISTICS STATS_RETAIL_TRXN_DETAILS_CT_INS_001 ON TAG_OWNER.RETAIL_TRXN_DETAILS_CT_INS (RETAIL_TRANS_ID,RTD_ID)

INSERT INTO TAG_OWNER.RETAIL_TRXN_DETAILS
	(
		  RTD_ID, RETAIL_TRANS_ID, TRANS_AMT, TRANS_DATE, TRANS_STATUS, DATE_CREATED, CREATED_BY, DATE_MODIFIED, TRANS_TYPE_ID, AGENCY_ID, TAG_ID, MODIFIED_BY, CREDITED_FLAG, CREDIT_SRC_CODE, CREDIT_SRC_ID1, CREDIT_SRC_ID2, LINK_ID, REASON_ID, SUPERVISOR_AP_USER_ID, PRC1, PRC2, PRC3, OL_PMT_DET_ID, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  
 A.RTD_ID, A.RETAIL_TRANS_ID, A.TRANS_AMT, A.TRANS_DATE, A.TRANS_STATUS, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.TRANS_TYPE_ID, A.AGENCY_ID, A.TAG_ID, A.MODIFIED_BY, A.CREDITED_FLAG, A.CREDIT_SRC_CODE, A.CREDIT_SRC_ID1, A.CREDIT_SRC_ID2, A.LINK_ID, A.REASON_ID, A.SUPERVISOR_AP_USER_ID, A.PRC1, A.PRC2, A.PRC3, A.OL_PMT_DET_ID,
 'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM 
	TAG_OWNER.RETAIL_TRXN_DETAILS_CT_INS A LEFT JOIN TAG_OWNER.RETAIL_TRXN_DETAILS B 
ON 
	A.RETAIL_TRANS_ID = B.RETAIL_TRANS_ID AND  
	A.RTD_ID = B.RTD_ID
WHERE 
	B.RETAIL_TRANS_ID IS NULL AND 
	B.RTD_ID IS NULL
