CREATE PROC [TAG_OWNER].[RETAIL_TRANSACTIONS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'TAG_OWNER','RETAIL_TRANSACTIONS'
	GetInsertFields2 'TAG_OWNER','RETAIL_TRANSACTIONS'
*/

EXEC DropStats 'TAG_OWNER','RETAIL_TRANSACTIONS_CT_INS'
CREATE STATISTICS STATS_RETAIL_TRANSACTIONS_CT_INS_001 ON TAG_OWNER.RETAIL_TRANSACTIONS_CT_INS (RETAIL_TRANS_ID)

INSERT INTO TAG_OWNER.RETAIL_TRANSACTIONS
	(
		 RETAIL_TRANS_ID, TRANS_AMT, TRANS_DATE, POSTED_DATE, TRANS_STATUS, BEGINNING_BALANCE, BEGINNING_DEPOSIT, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, ACCT_ID, POS_ID, AP_USER_ID, DUE_AMT, TENDERED_AMT, CHANGE_DUE_AMT, OL_PMT_ID, TTXN_ID, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  
 A.RETAIL_TRANS_ID, A.TRANS_AMT, A.TRANS_DATE, A.POSTED_DATE, A.TRANS_STATUS, A.BEGINNING_BALANCE, A.BEGINNING_DEPOSIT, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, A.ACCT_ID, A.POS_ID, A.AP_USER_ID, A.DUE_AMT, A.TENDERED_AMT, A.CHANGE_DUE_AMT, A.OL_PMT_ID, A.TTXN_ID, 
 'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM 
	TAG_OWNER.RETAIL_TRANSACTIONS_CT_INS A LEFT JOIN TAG_OWNER.RETAIL_TRANSACTIONS B 
ON 
	A.RETAIL_TRANS_ID = B.RETAIL_TRANS_ID
WHERE 
	B.RETAIL_TRANS_ID IS NULL

