CREATE PROC [TAG_OWNER].[TOLL_TRANSACTIONS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'TAG_OWNER','TOLL_TRANSACTIONS'
	GetInsertFields2 'TAG_OWNER','TOLL_TRANSACTIONS'
*/

EXEC DropStats 'TAG_OWNER','TOLL_TRANSACTIONS_CT_INS'
CREATE STATISTICS STATS_TOLL_TRANSACTIONS_CT_INS_001 ON TAG_OWNER.TOLL_TRANSACTIONS_CT_INS (TTXN_ID)

INSERT INTO TAG_OWNER.TOLL_TRANSACTIONS
	(
		  TTXN_ID, AMOUNT, TRANSACTION_DATE, POSTED_DATE, SOURCE_CODE, SOURCE_TRXN_ID, CREDITED_FLAG, ACCT_ID, AGENCY_ID, TAG_ID, LANE_ID, DATE_CREDITED, VEHICLE_CLASS_CODE, ENTRY_DATE, ENTRY_LANE_ID, TRANS_TYPE_ID, VPN_ID, TRANSACTION_FILE_DETAIL_ID, TXN_MATCH_IDENTIFIER_CODE, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  
 A.TTXN_ID, A.AMOUNT, A.TRANSACTION_DATE, A.POSTED_DATE, A.SOURCE_CODE, A.SOURCE_TRXN_ID, A.CREDITED_FLAG, A.ACCT_ID, A.AGENCY_ID, A.TAG_ID, A.LANE_ID, A.DATE_CREDITED, A.VEHICLE_CLASS_CODE, A.ENTRY_DATE, A.ENTRY_LANE_ID, A.TRANS_TYPE_ID, A.VPN_ID, A.TRANSACTION_FILE_DETAIL_ID, A.TXN_MATCH_IDENTIFIER_CODE,
 'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM TAG_OWNER.TOLL_TRANSACTIONS_CT_INS A
LEFT JOIN TAG_OWNER.TOLL_TRANSACTIONS B ON A.TTXN_ID = B.TTXN_ID
WHERE B.TTXN_ID IS NULL

