CREATE PROC [TAG_OWNER].[FULFILLMENTS_DELETE] AS


EXEC DropStats 'TAG_OWNER','FULFILLMENTS_CT_DEL'
CREATE STATISTICS STATS_FULFILLMENTS_CT_DEL_001 ON TAG_OWNER.FULFILLMENTS_CT_DEL (FULFILLMENT_ID)
CREATE STATISTICS STATS_FULFILLMENTS_CT_DEL_002 ON TAG_OWNER.FULFILLMENTS_CT_DEL (FULFILLMENT_ID, INSERT_DATETIME)



UPDATE TAG_OWNER.FULFILLMENTS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM TAG_OWNER.FULFILLMENTS_CT_DEL B
WHERE TAG_OWNER.FULFILLMENTS.FULFILLMENT_ID = B.FULFILLMENT_ID

/*
	To Test With:

	INSERT INTO TAG_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM TAG_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM TAG_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/

