CREATE PROC [TAG_OWNER].[TOLL_TAGS_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'TAG_OWNER','TOLL_TAGS'
	GetInsertFields2 'TAG_OWNER','TOLL_TAGS'
*/

EXEC DropStats 'TAG_OWNER','TOLL_TAGS_CT_INS'
CREATE STATISTICS STATS_TOLL_TAGS_CT_INS_001 ON TAG_OWNER.TOLL_TAGS_CT_INS (TAG_ID, AGENCY_ID)

INSERT INTO TAG_OWNER.TOLL_TAGS
	(
		  AGENCY_ID, TAG_ID, TAG_STATUS, LAST_READ_LOC, LAST_READ_DATE, TAG_TYPE_CODE, OWNER_AGENCY, POS_ID, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 
	  
 A.AGENCY_ID, A.TAG_ID, A.TAG_STATUS, A.LAST_READ_LOC, A.LAST_READ_DATE, A.TAG_TYPE_CODE, A.OWNER_AGENCY, A.POS_ID, 
 'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM TAG_OWNER.TOLL_TAGS_CT_INS A
LEFT JOIN TAG_OWNER.TOLL_TAGS B ON A.TAG_ID = B.TAG_ID AND A.AGENCY_ID = B.AGENCY_ID
WHERE B.TAG_ID IS NULL AND B.AGENCY_ID IS NULL


