CREATE PROC [TAG_OWNER].[RETAIL_TRANSACTIONS_UPDATE] AS

/*
	Use this proc to help write the code
		GetUpdateFields 'TAG_OWNER','RETAIL_TRANSACTIONS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TAG_OWNER','RETAIL_TRANSACTIONS_CT_UPD'
CREATE STATISTICS STATS_RETAIL_TRANSACTIONS_CT_UPD_001 ON TAG_OWNER.RETAIL_TRANSACTIONS_CT_UPD (RETAIL_TRANS_ID)
CREATE STATISTICS STATS_RETAIL_TRANSACTIONS_CT_UPD_002 ON TAG_OWNER.RETAIL_TRANSACTIONS_CT_UPD (RETAIL_TRANS_ID, INSERT_DATETIME)

/*
/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#RETAIL_TRANSACTIONS_CT_UPD_Dups')<>0
	DROP TABLE #RETAIL_TRANSACTIONS_CT_UPD_Dups

CREATE TABLE #RETAIL_TRANSACTIONS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (RETAIL_TRANS_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.RETAIL_TRANS_ID, A.INSERT_DATETIME
	FROM TAG_OWNER.RETAIL_TRANSACTIONS_CT_UPD A
	INNER JOIN 
		(
			SELECT RETAIL_TRANS_ID
			FROM TAG_OWNER.RETAIL_TRANSACTIONS_CT_UPD
			GROUP BY RETAIL_TRANS_ID
			HAVING COUNT(*)>1
		) Dups ON A.RETAIL_TRANS_ID = Dups.RETAIL_TRANS_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#RETAIL_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #RETAIL_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #RETAIL_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (RETAIL_TRANS_ID), LOCATION = USER_DB)
AS
	SELECT A.RETAIL_TRANS_ID, A.TRANS_AMT, A.TRANS_DATE, A.POSTED_DATE, A.TRANS_STATUS, A.BEGINNING_BALANCE, A.BEGINNING_DEPOSIT, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, A.ACCT_ID, A.POS_ID, A.AP_USER_ID, A.DUE_AMT, A.TENDERED_AMT, A.CHANGE_DUE_AMT, A.OL_PMT_ID, A.TTXN_ID, A.INSERT_DATETIME
	FROM TAG_OWNER.RETAIL_TRANSACTIONS_CT_UPD A
	INNER JOIN 
		(
			SELECT RETAIL_TRANS_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #RETAIL_TRANSACTIONS_CT_UPD_Dups
			GROUP BY RETAIL_TRANS_ID
		) LastRcrd ON A.RETAIL_TRANS_ID = LastRcrd.RETAIL_TRANS_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM TAG_OWNER.RETAIL_TRANSACTIONS_CT_UPD 
WHERE EXISTS(SELECT * FROM #RETAIL_TRANSACTIONS_CT_UPD_Dups B WHERE TAG_OWNER.RETAIL_TRANSACTIONS_CT_UPD.RETAIL_TRANS_ID = B.RETAIL_TRANS_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO TAG_OWNER.RETAIL_TRANSACTIONS_CT_UPD 
	( RETAIL_TRANS_ID, TRANS_AMT, TRANS_DATE, POSTED_DATE, TRANS_STATUS, BEGINNING_BALANCE, BEGINNING_DEPOSIT, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, ACCT_ID, POS_ID, AP_USER_ID, DUE_AMT, TENDERED_AMT, CHANGE_DUE_AMT, OL_PMT_ID, TTXN_ID, INSERT_DATETIME)
SELECT RETAIL_TRANS_ID, TRANS_AMT, TRANS_DATE, POSTED_DATE, TRANS_STATUS, BEGINNING_BALANCE, BEGINNING_DEPOSIT, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, ACCT_ID, POS_ID, AP_USER_ID, DUE_AMT, TENDERED_AMT, CHANGE_DUE_AMT, OL_PMT_ID, TTXN_ID, INSERT_DATETIME
FROM #RETAIL_TRANSACTIONS_CT_UPD_DuplicateLastRowToReInsert
*/

	UPDATE  TAG_OWNER.RETAIL_TRANSACTIONS
	SET 
    
		  TAG_OWNER.RETAIL_TRANSACTIONS.TRANS_AMT = B.TRANS_AMT
		, TAG_OWNER.RETAIL_TRANSACTIONS.TRANS_DATE = B.TRANS_DATE
		, TAG_OWNER.RETAIL_TRANSACTIONS.POSTED_DATE = B.POSTED_DATE
		, TAG_OWNER.RETAIL_TRANSACTIONS.TRANS_STATUS = B.TRANS_STATUS
		, TAG_OWNER.RETAIL_TRANSACTIONS.BEGINNING_BALANCE = B.BEGINNING_BALANCE
		, TAG_OWNER.RETAIL_TRANSACTIONS.BEGINNING_DEPOSIT = B.BEGINNING_DEPOSIT
		, TAG_OWNER.RETAIL_TRANSACTIONS.DATE_CREATED = B.DATE_CREATED
		, TAG_OWNER.RETAIL_TRANSACTIONS.CREATED_BY = B.CREATED_BY
		, TAG_OWNER.RETAIL_TRANSACTIONS.DATE_MODIFIED = B.DATE_MODIFIED
		, TAG_OWNER.RETAIL_TRANSACTIONS.MODIFIED_BY = B.MODIFIED_BY
		, TAG_OWNER.RETAIL_TRANSACTIONS.ACCT_ID = B.ACCT_ID
		, TAG_OWNER.RETAIL_TRANSACTIONS.POS_ID = B.POS_ID
		, TAG_OWNER.RETAIL_TRANSACTIONS.AP_USER_ID = B.AP_USER_ID
		, TAG_OWNER.RETAIL_TRANSACTIONS.DUE_AMT = B.DUE_AMT
		, TAG_OWNER.RETAIL_TRANSACTIONS.TENDERED_AMT = B.TENDERED_AMT
		, TAG_OWNER.RETAIL_TRANSACTIONS.CHANGE_DUE_AMT = B.CHANGE_DUE_AMT
		, TAG_OWNER.RETAIL_TRANSACTIONS.OL_PMT_ID = B.OL_PMT_ID
		, TAG_OWNER.RETAIL_TRANSACTIONS.TTXN_ID = B.TTXN_ID
		, TAG_OWNER.RETAIL_TRANSACTIONS.LAST_UPDATE_TYPE = 'U'
		, TAG_OWNER.RETAIL_TRANSACTIONS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TAG_OWNER.RETAIL_TRANSACTIONS_CT_UPD B
	WHERE TAG_OWNER.RETAIL_TRANSACTIONS.RETAIL_TRANS_ID = B.RETAIL_TRANS_ID


