CREATE PROC [TAG_OWNER].[RETAIL_TRXN_DETAILS_UPDATE] AS

/*
	Use this proc to help write the code
		GetUpdateFields 'TAG_OWNER','RETAIL_TRXN_DETAILS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TAG_OWNER','RETAIL_TRXN_DETAILS_CT_UPD'
CREATE STATISTICS STATS_RETAIL_TRXN_DETAILS_CT_UPD_001 ON TAG_OWNER.RETAIL_TRXN_DETAILS_CT_UPD (RETAIL_TRANS_ID,RTD_ID)
CREATE STATISTICS STATS_RETAIL_TRXN_DETAILS_CT_UPD_002 ON TAG_OWNER.RETAIL_TRXN_DETAILS_CT_UPD (RETAIL_TRANS_ID,RTD_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/
/*
IF OBJECT_ID('tempdb..#RETAIL_TRXN_DETAILS_CT_UPD_Dups')<>0
	DROP TABLE #RETAIL_TRXN_DETAILS_CT_UPD_Dups

CREATE TABLE #RETAIL_TRXN_DETAILS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (RETAIL_TRANS_ID, RTD_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.RETAIL_TRANS_ID, A.RTD_ID, A.INSERT_DATETIME
	FROM TAG_OWNER.RETAIL_TRXN_DETAILS_CT_UPD A
	INNER JOIN 
		(
			SELECT RETAIL_TRANS_ID, RTD_ID
			FROM TAG_OWNER.RETAIL_TRXN_DETAILS_CT_UPD
			GROUP BY RETAIL_TRANS_ID, RTD_ID
			HAVING COUNT(*)>1
		) Dups ON A.RETAIL_TRANS_ID = Dups.RETAIL_TRANS_ID AND A.RTD_ID = Dups.RTD_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#RETAIL_TRXN_DETAILS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #RETAIL_TRXN_DETAILS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #RETAIL_TRXN_DETAILS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (RETAIL_TRANS_ID, RTD_ID), LOCATION = USER_DB)
AS
	SELECT A.RTD_ID, A.RETAIL_TRANS_ID, A.TRANS_AMT, A.TRANS_DATE, A.TRANS_STATUS, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.TRANS_TYPE_ID, A.AGENCY_ID, A.TAG_ID, A.MODIFIED_BY, A.CREDITED_FLAG, A.CREDIT_SRC_CODE, A.CREDIT_SRC_ID1, A.CREDIT_SRC_ID2, A.LINK_ID, A.REASON_ID, A.SUPERVISOR_AP_USER_ID, A.PRC1, A.PRC2, A.PRC3, A.OL_PMT_DET_ID, A.INSERT_DATETIME
	FROM TAG_OWNER.RETAIL_TRXN_DETAILS_CT_UPD A
	INNER JOIN 
		(
			SELECT RETAIL_TRANS_ID, RTD_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #RETAIL_TRXN_DETAILS_CT_UPD_Dups
			GROUP BY RETAIL_TRANS_ID, RTD_ID
		) LastRcrd ON A.RETAIL_TRANS_ID = LastRcrd.RETAIL_TRANS_ID AND A.RTD_ID = LastRcrd.RTD_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM TAG_OWNER.RETAIL_TRXN_DETAILS_CT_UPD 
WHERE EXISTS(SELECT * FROM #RETAIL_TRXN_DETAILS_CT_UPD_Dups B WHERE TAG_OWNER.RETAIL_TRXN_DETAILS_CT_UPD.RETAIL_TRANS_ID = B.RETAIL_TRANS_ID AND TAG_OWNER.RETAIL_TRXN_DETAILS_CT_UPD.RTD_ID = B.RTD_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO TAG_OWNER.RETAIL_TRXN_DETAILS_CT_UPD 
	( RTD_ID, RETAIL_TRANS_ID, TRANS_AMT, TRANS_DATE, TRANS_STATUS, DATE_CREATED, CREATED_BY, DATE_MODIFIED, TRANS_TYPE_ID, AGENCY_ID, TAG_ID, MODIFIED_BY, CREDITED_FLAG, CREDIT_SRC_CODE, CREDIT_SRC_ID1, CREDIT_SRC_ID2, LINK_ID, REASON_ID, SUPERVISOR_AP_USER_ID, PRC1, PRC2, PRC3, OL_PMT_DET_ID, INSERT_DATETIME)
SELECT RTD_ID, RETAIL_TRANS_ID, TRANS_AMT, TRANS_DATE, TRANS_STATUS, DATE_CREATED, CREATED_BY, DATE_MODIFIED, TRANS_TYPE_ID, AGENCY_ID, TAG_ID, MODIFIED_BY, CREDITED_FLAG, CREDIT_SRC_CODE, CREDIT_SRC_ID1, CREDIT_SRC_ID2, LINK_ID, REASON_ID, SUPERVISOR_AP_USER_ID, PRC1, PRC2, PRC3, OL_PMT_DET_ID, INSERT_DATETIME
FROM #RETAIL_TRXN_DETAILS_CT_UPD_DuplicateLastRowToReInsert
*/

	UPDATE  TAG_OWNER.RETAIL_TRXN_DETAILS
	SET 
    
		TAG_OWNER.RETAIL_TRXN_DETAILS.TRANS_AMT = B.TRANS_AMT
		, TAG_OWNER.RETAIL_TRXN_DETAILS.TRANS_DATE = B.TRANS_DATE
		, TAG_OWNER.RETAIL_TRXN_DETAILS.TRANS_STATUS = B.TRANS_STATUS
		, TAG_OWNER.RETAIL_TRXN_DETAILS.DATE_CREATED = B.DATE_CREATED
		, TAG_OWNER.RETAIL_TRXN_DETAILS.CREATED_BY = B.CREATED_BY
		, TAG_OWNER.RETAIL_TRXN_DETAILS.DATE_MODIFIED = B.DATE_MODIFIED
		, TAG_OWNER.RETAIL_TRXN_DETAILS.TRANS_TYPE_ID = B.TRANS_TYPE_ID
		, TAG_OWNER.RETAIL_TRXN_DETAILS.AGENCY_ID = B.AGENCY_ID
		, TAG_OWNER.RETAIL_TRXN_DETAILS.TAG_ID = B.TAG_ID
		, TAG_OWNER.RETAIL_TRXN_DETAILS.MODIFIED_BY = B.MODIFIED_BY
		, TAG_OWNER.RETAIL_TRXN_DETAILS.CREDITED_FLAG = B.CREDITED_FLAG
		, TAG_OWNER.RETAIL_TRXN_DETAILS.CREDIT_SRC_CODE = B.CREDIT_SRC_CODE
		, TAG_OWNER.RETAIL_TRXN_DETAILS.CREDIT_SRC_ID1 = B.CREDIT_SRC_ID1
		, TAG_OWNER.RETAIL_TRXN_DETAILS.CREDIT_SRC_ID2 = B.CREDIT_SRC_ID2
		, TAG_OWNER.RETAIL_TRXN_DETAILS.LINK_ID = B.LINK_ID
		, TAG_OWNER.RETAIL_TRXN_DETAILS.REASON_ID = B.REASON_ID
		, TAG_OWNER.RETAIL_TRXN_DETAILS.SUPERVISOR_AP_USER_ID = B.SUPERVISOR_AP_USER_ID
		, TAG_OWNER.RETAIL_TRXN_DETAILS.PRC1 = B.PRC1
		, TAG_OWNER.RETAIL_TRXN_DETAILS.PRC2 = B.PRC2
		, TAG_OWNER.RETAIL_TRXN_DETAILS.PRC3 = B.PRC3
		, TAG_OWNER.RETAIL_TRXN_DETAILS.OL_PMT_DET_ID = B.OL_PMT_DET_ID
		, TAG_OWNER.RETAIL_TRXN_DETAILS.LAST_UPDATE_TYPE = 'U'
		, TAG_OWNER.RETAIL_TRXN_DETAILS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TAG_OWNER.RETAIL_TRXN_DETAILS_CT_UPD B
	WHERE TAG_OWNER.RETAIL_TRXN_DETAILS.RETAIL_TRANS_ID = B.RETAIL_TRANS_ID AND TAG_OWNER.RETAIL_TRXN_DETAILS.RTD_ID = B.RTD_ID


