CREATE PROC [TAG_OWNER].[PAYMENTS_UPDATE] AS

/*
	Use this proc to help write the code
		GetUpdateFields 'TAG_OWNER','PAYMENTS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TAG_OWNER','PAYMENTS_CT_UPD'
CREATE STATISTICS STATS_PAYMENTS_CT_UPD_001 ON TAG_OWNER.PAYMENTS_CT_UPD (RETAIL_TRANS_ID,PMT_ID)
CREATE STATISTICS STATS_PAYMENTS_CT_UPD_002 ON TAG_OWNER.PAYMENTS_CT_UPD (RETAIL_TRANS_ID,PMT_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#PAYMENTS_CT_UPD_Dups')<>0
	DROP TABLE #PAYMENTS_CT_UPD_Dups

CREATE TABLE #PAYMENTS_CT_UPD_Dups WITH (DISTRIBUTION = HASH(RETAIL_TRANS_ID), LOCATION = USER_DB)
AS
	SELECT A.RETAIL_TRANS_ID, A.PMT_ID, A.INSERT_DATETIME
	FROM TAG_OWNER.PAYMENTS_CT_UPD A
	INNER JOIN 
		(
			SELECT RETAIL_TRANS_ID,PMT_ID
			FROM TAG_OWNER.PAYMENTS_CT_UPD
			GROUP BY RETAIL_TRANS_ID,PMT_ID
			HAVING COUNT(*)>1
		) Dups ON A.RETAIL_TRANS_ID = Dups.RETAIL_TRANS_ID AND A.PMT_ID = Dups.PMT_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#PAYMENTS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #PAYMENTS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #PAYMENTS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = HASH(RETAIL_TRANS_ID), LOCATION = USER_DB)
AS
	SELECT A.RETAIL_TRANS_ID, A.PMT_ID, A.PT_TYPE_ID, A.NAME, A.PMT_AMOUNT, A.PMT_DATE, A.PMT_STATUS, A.CREDIT_SOURCE, A.DATE_CREATED, A.CREATED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, A.CHECK_NUMBER, A.CREDITED_FLAG, A.ZIP, A.SESSION_DATA, A.DATA2, A.ADDRESS1, A.ADDRESS2, A.SUPERVISOR_AP_USER_ID, A.PMT_REV_RETAIL_TRANS_ID, A.PMT_REV_PT_TYPE_ID, A.REVERSED_BY, A.INSERT_DATETIME
	FROM TAG_OWNER.PAYMENTS_CT_UPD A
	INNER JOIN 
		(
			SELECT RETAIL_TRANS_ID,PMT_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #PAYMENTS_CT_UPD_Dups
			GROUP BY RETAIL_TRANS_ID,PMT_ID
		) LastRcrd ON A.RETAIL_TRANS_ID = LastRcrd.RETAIL_TRANS_ID AND A.PMT_ID = LastRcrd.PMT_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM TAG_OWNER.PAYMENTS_CT_UPD 
WHERE EXISTS(SELECT * FROM #PAYMENTS_CT_UPD_Dups B WHERE TAG_OWNER.PAYMENTS_CT_UPD.RETAIL_TRANS_ID = B.RETAIL_TRANS_ID AND TAG_OWNER.PAYMENTS_CT_UPD.PMT_ID = B.PMT_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO TAG_OWNER.PAYMENTS_CT_UPD 
	( RETAIL_TRANS_ID, PMT_ID, PT_TYPE_ID, NAME, PMT_AMOUNT, PMT_DATE, PMT_STATUS, CREDIT_SOURCE, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, CHECK_NUMBER, CREDITED_FLAG, ZIP, SESSION_DATA, DATA2, ADDRESS1, ADDRESS2, SUPERVISOR_AP_USER_ID, PMT_REV_RETAIL_TRANS_ID, PMT_REV_PT_TYPE_ID, REVERSED_BY, INSERT_DATETIME)
SELECT RETAIL_TRANS_ID, PMT_ID, PT_TYPE_ID, NAME, PMT_AMOUNT, PMT_DATE, PMT_STATUS, CREDIT_SOURCE, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, CHECK_NUMBER, CREDITED_FLAG, ZIP, SESSION_DATA, DATA2, ADDRESS1, ADDRESS2, SUPERVISOR_AP_USER_ID, PMT_REV_RETAIL_TRANS_ID, PMT_REV_PT_TYPE_ID, REVERSED_BY, INSERT_DATETIME
FROM #PAYMENTS_CT_UPD_DuplicateLastRowToReInsert


	UPDATE  TAG_OWNER.PAYMENTS
	SET 
    
		  TAG_OWNER.PAYMENTS.PT_TYPE_ID = B.PT_TYPE_ID
		, TAG_OWNER.PAYMENTS.NAME = B.NAME
		, TAG_OWNER.PAYMENTS.PMT_AMOUNT = B.PMT_AMOUNT
		, TAG_OWNER.PAYMENTS.PMT_DATE = B.PMT_DATE
		, TAG_OWNER.PAYMENTS.PMT_STATUS = B.PMT_STATUS
		, TAG_OWNER.PAYMENTS.CREDIT_SOURCE = B.CREDIT_SOURCE
		, TAG_OWNER.PAYMENTS.DATE_CREATED = B.DATE_CREATED
		, TAG_OWNER.PAYMENTS.CREATED_BY = B.CREATED_BY
		, TAG_OWNER.PAYMENTS.DATE_MODIFIED = B.DATE_MODIFIED
		, TAG_OWNER.PAYMENTS.MODIFIED_BY = B.MODIFIED_BY
		, TAG_OWNER.PAYMENTS.CHECK_NUMBER = B.CHECK_NUMBER
		, TAG_OWNER.PAYMENTS.CREDITED_FLAG = B.CREDITED_FLAG
		, TAG_OWNER.PAYMENTS.ZIP = B.ZIP
		, TAG_OWNER.PAYMENTS.SESSION_DATA = B.SESSION_DATA
		, TAG_OWNER.PAYMENTS.DATA2 = B.DATA2
		, TAG_OWNER.PAYMENTS.ADDRESS1 = B.ADDRESS1
		, TAG_OWNER.PAYMENTS.ADDRESS2 = B.ADDRESS2
		, TAG_OWNER.PAYMENTS.SUPERVISOR_AP_USER_ID = B.SUPERVISOR_AP_USER_ID
		, TAG_OWNER.PAYMENTS.PMT_REV_RETAIL_TRANS_ID = B.PMT_REV_RETAIL_TRANS_ID
		, TAG_OWNER.PAYMENTS.PMT_REV_PT_TYPE_ID = B.PMT_REV_PT_TYPE_ID
		, TAG_OWNER.PAYMENTS.REVERSED_BY = B.REVERSED_BY
		, TAG_OWNER.PAYMENTS.LAST_UPDATE_TYPE = 'U'
		, TAG_OWNER.PAYMENTS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TAG_OWNER.PAYMENTS_CT_UPD B
	WHERE TAG_OWNER.PAYMENTS.RETAIL_TRANS_ID = B.RETAIL_TRANS_ID AND TAG_OWNER.PAYMENTS.PMT_ID = B.PMT_ID


