CREATE PROC [TAG_OWNER].[ACCOUNT_TAG_HISTORY_Update_Stats] AS

EXEC DropStats 'TAG_OWNER','ACCOUNT_TAG_HISTORY'
CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_001 ON TAG_OWNER.ACCOUNT_TAG_HISTORY (ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ)
CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_002 ON TAG_OWNER.ACCOUNT_TAG_HISTORY (ACCT_ID, ACCT_TAG_SEQ, TAG_HISTORY_SEQ, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_ACCOUNT_TAG_HISTORY_003 ON TAG_OWNER.ACCOUNT_TAG_HISTORY (LAST_UPDATE_DATE)

