CREATE PROC [TAG_OWNER].[ACCOUNT_TAGS_UPDATE] AS

/*
	Use this proc to help write the code
		GetUpdateFields 'TAG_OWNER','ACCOUNT_TAGS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TAG_OWNER','ACCOUNT_TAGS_CT_UPD'
CREATE STATISTICS STATS_ACCOUNT_TAGS_CT_UPD_001 ON TAG_OWNER.ACCOUNT_TAGS_CT_UPD (ACCT_ID, ACCT_TAG_SEQ)
CREATE STATISTICS STATS_ACCOUNT_TAGS_CT_UPD_002 ON TAG_OWNER.ACCOUNT_TAGS_CT_UPD (ACCT_ID, ACCT_TAG_SEQ, INSERT_DATETIME)


	UPDATE  TAG_OWNER.ACCOUNT_TAGS
	SET 
    
		  TAG_OWNER.ACCOUNT_TAGS.AGENCY_ID = B.AGENCY_ID
		, TAG_OWNER.ACCOUNT_TAGS.TAG_ID = B.TAG_ID
		, TAG_OWNER.ACCOUNT_TAGS.ACCT_TAG_STATUS = B.ACCT_TAG_STATUS
		, TAG_OWNER.ACCOUNT_TAGS.LIC_PLATE = B.LIC_PLATE
		, TAG_OWNER.ACCOUNT_TAGS.LIC_STATE = B.LIC_STATE
		, TAG_OWNER.ACCOUNT_TAGS.LIC_PLATE_TAG = B.LIC_PLATE_TAG
		, TAG_OWNER.ACCOUNT_TAGS.VEHICLE_DESCR = B.VEHICLE_DESCR
		, TAG_OWNER.ACCOUNT_TAGS.VEHICLE_MAKE = B.VEHICLE_MAKE
		, TAG_OWNER.ACCOUNT_TAGS.VEHICLE_MODEL = B.VEHICLE_MODEL
		, TAG_OWNER.ACCOUNT_TAGS.VEHICLE_YEAR = B.VEHICLE_YEAR
		, TAG_OWNER.ACCOUNT_TAGS.VEHICLE_COLOR = B.VEHICLE_COLOR
		, TAG_OWNER.ACCOUNT_TAGS.VEHICLE_CLASS_CODE = B.VEHICLE_CLASS_CODE
		, TAG_OWNER.ACCOUNT_TAGS.ASSIGNED_DATE = B.ASSIGNED_DATE
		, TAG_OWNER.ACCOUNT_TAGS.EXPIR_DATE = B.EXPIR_DATE
		, TAG_OWNER.ACCOUNT_TAGS.TAG_READ_CT = B.TAG_READ_CT
		, TAG_OWNER.ACCOUNT_TAGS.DATE_CREATED = B.DATE_CREATED
		, TAG_OWNER.ACCOUNT_TAGS.CREATED_BY = B.CREATED_BY
		, TAG_OWNER.ACCOUNT_TAGS.DATE_MODIFIED = B.DATE_MODIFIED
		, TAG_OWNER.ACCOUNT_TAGS.MODIFIED_BY = B.MODIFIED_BY
		, TAG_OWNER.ACCOUNT_TAGS.VPN_ID = B.VPN_ID
		, TAG_OWNER.ACCOUNT_TAGS.UNIT_ID = B.UNIT_ID
		, TAG_OWNER.ACCOUNT_TAGS.TEMP_PLATE_FLAG = B.TEMP_PLATE_FLAG
		, TAG_OWNER.ACCOUNT_TAGS.PLATE_EXPIR_DATE = B.PLATE_EXPIR_DATE
		, TAG_OWNER.ACCOUNT_TAGS.DUP_LP_DATE_SEND = B.DUP_LP_DATE_SEND
		, TAG_OWNER.ACCOUNT_TAGS.LAST_UPDATE_TYPE = 'U'
		, TAG_OWNER.ACCOUNT_TAGS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TAG_OWNER.ACCOUNT_TAGS_CT_UPD B
	WHERE TAG_OWNER.ACCOUNT_TAGS.ACCT_ID = B.ACCT_ID AND TAG_OWNER.ACCOUNT_TAGS.ACCT_TAG_SEQ = B.ACCT_TAG_SEQ
	

