CREATE PROC [TAG_OWNER].[TOLL_TRANSACTIONS_Update_Stats] AS

EXEC DropStats 'TAG_OWNER','TOLL_TRANSACTIONS'
CREATE STATISTICS STATS_TOLL_TRANSACTIONS_001 ON TAG_OWNER.TOLL_TRANSACTIONS (TTXN_ID)
CREATE STATISTICS STATS_TOLL_TRANSACTIONS_002 ON TAG_OWNER.TOLL_TRANSACTIONS (TTXN_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_TOLL_TRANSACTIONS_003 ON TAG_OWNER.TOLL_TRANSACTIONS (LAST_UPDATE_DATE)

