CREATE PROC [TAG_OWNER].[FULFILLMENTS_Update_Stats] AS

EXEC DropStats 'TAG_OWNER','FULFILLMENTS'
CREATE STATISTICS STATS_FULFILLMENTS_001 ON TAG_OWNER.FULFILLMENTS (FULFILLMENT_ID)
CREATE STATISTICS STATS_FULFILLMENTS_002 ON TAG_OWNER.FULFILLMENTS (FULFILLMENT_ID, LAST_UPDATE_DATE)
CREATE STATISTICS STATS_FULFILLMENTS_003 ON TAG_OWNER.FULFILLMENTS (LAST_UPDATE_DATE)

