CREATE PROC [TAG_OWNER].[ACCOUNT_HISTORY_INSERT] AS

/*
	Update Stats on CT_INS table to help with de-dupping and update steps
	GetFields 'TAG_OWNER','ACCOUNT_HISTORY'
	GetInsertFields2 'TAG_OWNER','ACCOUNT_HISTORY'
*/

EXEC DropStats 'TAG_OWNER','ACCOUNT_HISTORY_CT_INS'
CREATE STATISTICS STATS_ACCOUNT_HISTORY_CT_INS_001 ON TAG_OWNER.ACCOUNT_HISTORY_CT_INS (ACCT_ID,ACCT_HIST_SEQ)

INSERT INTO TAG_OWNER.ACCOUNT_HISTORY
	(
		  ACCT_ID, ACCT_HIST_SEQ, ASSIGNED_DATE, EXPIRED_DATE, FIRST_NAME, MIDDLE_INITIAL, LAST_NAME, ADDRESS1, ADDRESS2, CITY, STATE, ZIP_CODE, PLUS4, HOME_PHO_NBR, WORK_PHO_NBR, WORK_PHO_EXT, DRIVER_LIC_NBR, DRIVER_LIC_STATE, COMPANY_NAME, COMPANY_TAX_ID, EMAIL_ADDRESS, MO_STMT_FLAG, BAD_ADDRESS_FLAG, REBILL_FAILED_FLAG, REBILL_AMT, REBILL_DATE, DEP_AMT, BALANCE_AMT, LOW_BAL_LEVEL, BAL_LAST_UPDATED, ACCT_STATUS_CODE, ACCT_TYPE_CODE, PMT_TYPE_CODE, ADDRESS_MODIFIED, DATE_CREATED, CREATED_BY, DATE_APPROVED, APPROVED_BY, DATE_MODIFIED, MODIFIED_BY, MS_ID, SELECTED_FOR_REBILL, VEA_FLAG, VEA_DATE, VEA_EXPIRE_DATE, COMPANY_CODE, ADJUST_REBILL_AMT, 
		 LAST_UPDATE_TYPE, LAST_UPDATE_DATE
	)
SELECT 	  
 A.ACCT_ID, A.ACCT_HIST_SEQ, A.ASSIGNED_DATE, A.EXPIRED_DATE, A.FIRST_NAME, A.MIDDLE_INITIAL, A.LAST_NAME, A.ADDRESS1, A.ADDRESS2, A.CITY, A.STATE, A.ZIP_CODE, A.PLUS4, A.HOME_PHO_NBR, A.WORK_PHO_NBR, A.WORK_PHO_EXT, A.DRIVER_LIC_NBR, A.DRIVER_LIC_STATE, A.COMPANY_NAME, A.COMPANY_TAX_ID, A.EMAIL_ADDRESS, A.MO_STMT_FLAG, A.BAD_ADDRESS_FLAG, A.REBILL_FAILED_FLAG, A.REBILL_AMT, A.REBILL_DATE, A.DEP_AMT, A.BALANCE_AMT, A.LOW_BAL_LEVEL, A.BAL_LAST_UPDATED, A.ACCT_STATUS_CODE, A.ACCT_TYPE_CODE, A.PMT_TYPE_CODE, A.ADDRESS_MODIFIED, A.DATE_CREATED, A.CREATED_BY, A.DATE_APPROVED, A.APPROVED_BY, A.DATE_MODIFIED, A.MODIFIED_BY, A.MS_ID, A.SELECTED_FOR_REBILL, A.VEA_FLAG, A.VEA_DATE, A.VEA_EXPIRE_DATE, A.COMPANY_CODE, A.ADJUST_REBILL_AMT,
 'I' AS LAST_UPDATE_TYPE, A.INSERT_DATETIME
FROM TAG_OWNER.ACCOUNT_HISTORY_CT_INS A
LEFT JOIN TAG_OWNER.ACCOUNT_HISTORY B ON A.ACCT_ID = B.ACCT_ID AND  A.ACCT_HIST_SEQ = B.ACCT_HIST_SEQ
WHERE B.ACCT_ID IS NULL AND B.ACCT_HIST_SEQ IS NULL



