CREATE PROC [TAG_OWNER].[RETAIL_TRXN_DETAILS_DELETE] AS


EXEC DropStats 'TAG_OWNER','RETAIL_TRXN_DETAILS_CT_DEL'
CREATE STATISTICS STATS_RETAIL_TRXN_DETAILS_CT_DEL_001 ON TAG_OWNER.RETAIL_TRXN_DETAILS_CT_DEL (RETAIL_TRANS_ID,RTD_ID)
CREATE STATISTICS STATS_RETAIL_TRXN_DETAILS_CT_DEL_002 ON TAG_OWNER.RETAIL_TRXN_DETAILS_CT_DEL (RETAIL_TRANS_ID,RTD_ID, INSERT_DATETIME)



UPDATE TAG_OWNER.RETAIL_TRXN_DETAILS
	SET  LAST_UPDATE_TYPE = 'D'
		, LAST_UPDATE_DATE = B.INSERT_DATETIME
FROM 
	TAG_OWNER.RETAIL_TRXN_DETAILS_CT_DEL B
WHERE 
	TAG_OWNER.RETAIL_TRXN_DETAILS.RETAIL_TRANS_ID = B.RETAIL_TRANS_ID AND 
	TAG_OWNER.RETAIL_TRXN_DETAILS.RTD_ID = B.RTD_ID
/*
	To Test With:

	INSERT INTO TAG_OWNER.VIOLATIONS_CT_DEL
	SELECT TOP 1 * FROM TAG_OWNER.VIOLATIONS_CT_DEL 

	SELECT * FROM TAG_OWNER.VIOLATIONS WHERE LAST_UPDATE_TYPE = 'D'
*/


