CREATE PROC [TAG_OWNER].[TOLL_TAGS_UPDATE] AS

/*
	Use this proc to help write the code
		GetUpdateFields 'TAG_OWNER','TOLL_TAGS'
		You will have to remove the Distribution key from what it generates
*/

/*
	Update Stats on CT_UPD table to help with de-dupping and update steps
*/

EXEC DropStats 'TAG_OWNER','TOLL_TAGS_CT_UPD'
CREATE STATISTICS STATS_TOLL_TAGS_CT_UPD_001 ON TAG_OWNER.TOLL_TAGS_CT_UPD (TAG_ID, AGENCY_ID)
CREATE STATISTICS STATS_TOLL_TAGS_CT_UPD_002 ON TAG_OWNER.TOLL_TAGS_CT_UPD (TAG_ID, AGENCY_ID, INSERT_DATETIME)


/*
	Get Duplicate Records with the INSERT_DATETIME from the CDC Staging 
*/

IF OBJECT_ID('tempdb..#TOLL_TAGS_CT_UPD_Dups')<>0
	DROP TABLE #TOLL_TAGS_CT_UPD_Dups

CREATE TABLE #TOLL_TAGS_CT_UPD_Dups WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TAG_ID, AGENCY_ID, INSERT_DATETIME), LOCATION = USER_DB)
AS
	SELECT A.TAG_ID, A.AGENCY_ID, A.INSERT_DATETIME
	FROM TAG_OWNER.TOLL_TAGS_CT_UPD A
	INNER JOIN 
		(
			SELECT TAG_ID, AGENCY_ID
			FROM TAG_OWNER.TOLL_TAGS_CT_UPD
			GROUP BY TAG_ID, AGENCY_ID
			HAVING COUNT(*)>1
		) Dups ON A.TAG_ID = Dups.TAG_ID AND A.AGENCY_ID = Dups.AGENCY_ID

/*
	Create temp table with Last Update 
*/

IF OBJECT_ID('tempdb..#TOLL_TAGS_CT_UPD_DuplicateLastRowToReInsert')<>0
	DROP TABLE #TOLL_TAGS_CT_UPD_DuplicateLastRowToReInsert

CREATE TABLE #TOLL_TAGS_CT_UPD_DuplicateLastRowToReInsert WITH (DISTRIBUTION = REPLICATE, CLUSTERED INDEX (TAG_ID, AGENCY_ID), LOCATION = USER_DB)
AS
	SELECT A.AGENCY_ID, A.TAG_ID, A.TAG_STATUS, A.LAST_READ_LOC, A.LAST_READ_DATE, A.TAG_TYPE_CODE, A.OWNER_AGENCY, A.POS_ID, A.INSERT_DATETIME
	FROM TAG_OWNER.TOLL_TAGS_CT_UPD A
	INNER JOIN 
		(
			SELECT TAG_ID, AGENCY_ID, MAX(INSERT_DATETIME) AS LAST_INSERT_DATETIME
			FROM #TOLL_TAGS_CT_UPD_Dups
			GROUP BY TAG_ID, AGENCY_ID
		) LastRcrd ON A.TAG_ID = LastRcrd.TAG_ID AND A.AGENCY_ID = LastRcrd.AGENCY_ID AND A.INSERT_DATETIME = LastRcrd.LAST_INSERT_DATETIME

/*
	DELETE all the duplicate rows from the target
*/

DELETE FROM TAG_OWNER.TOLL_TAGS_CT_UPD 
WHERE EXISTS(SELECT * FROM #TOLL_TAGS_CT_UPD_Dups B WHERE TAG_OWNER.TOLL_TAGS_CT_UPD.TAG_ID = B.TAG_ID AND TAG_OWNER.TOLL_TAGS_CT_UPD.AGENCY_ID = B.AGENCY_ID);


/*
	Re-insert the LAST ROW for Duplicates
*/
INSERT INTO TAG_OWNER.TOLL_TAGS_CT_UPD 
	(  AGENCY_ID, TAG_ID, TAG_STATUS, LAST_READ_LOC, LAST_READ_DATE, TAG_TYPE_CODE, OWNER_AGENCY, POS_ID, INSERT_DATETIME)
SELECT AGENCY_ID, TAG_ID, TAG_STATUS, LAST_READ_LOC, LAST_READ_DATE, TAG_TYPE_CODE, OWNER_AGENCY, POS_ID, INSERT_DATETIME
FROM #TOLL_TAGS_CT_UPD_DuplicateLastRowToReInsert


	UPDATE  TAG_OWNER.TOLL_TAGS
	SET 
    
		TAG_OWNER.TOLL_TAGS.AGENCY_ID = B.AGENCY_ID
		, TAG_OWNER.TOLL_TAGS.TAG_ID = B.TAG_ID
		, TAG_OWNER.TOLL_TAGS.TAG_STATUS = B.TAG_STATUS
		, TAG_OWNER.TOLL_TAGS.LAST_READ_LOC = B.LAST_READ_LOC
		, TAG_OWNER.TOLL_TAGS.LAST_READ_DATE = B.LAST_READ_DATE
		, TAG_OWNER.TOLL_TAGS.TAG_TYPE_CODE = B.TAG_TYPE_CODE
		, TAG_OWNER.TOLL_TAGS.OWNER_AGENCY = B.OWNER_AGENCY
		, TAG_OWNER.TOLL_TAGS.POS_ID = B.POS_ID
		, TAG_OWNER.TOLL_TAGS.LAST_UPDATE_TYPE = 'U'
		, TAG_OWNER.TOLL_TAGS.LAST_UPDATE_DATE = B.INSERT_DATETIME
	FROM TAG_OWNER.TOLL_TAGS_CT_UPD B
	WHERE TAG_OWNER.TOLL_TAGS.TAG_ID = B.TAG_ID AND TAG_OWNER.TOLL_TAGS.AGENCY_ID = B.AGENCY_ID




