CREATE TABLE [Bkup].[TableLoadParameters_20210122]
(
	[TableID] int NOT NULL,
	[DataBaseName] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[SchemaName] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TableName] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[FullName] varchar(130) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[StageTableName] varchar(130) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LoadProcessID] int NULL,
	[RowCnt] bigint NULL,
	[UseUpdatedDate] bit NOT NULL,
	[UsePartition] bit NOT NULL,
	[Active] bit NOT NULL,
	[UseMultiThreadFlag] bit NOT NULL,
	[CreateFlag] bit NOT NULL,
	[CDCFlag] bit NOT NULL,
	[KeepHistoryFlag] bit NOT NULL,
	[UID_Columns] varchar(400) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDateColumn] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DistributionString] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IndexString] varchar(400) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ColumnsString] varchar(max) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[WhereString] varchar(400) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[StatsSQL] varchar(8000) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SelectSQL] varchar(max) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DeleteSQL] varchar(max) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[InsertSQL] varchar(max) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RenameSQL] varchar(max) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdateProc] varchar(250) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RunAfterProc] varchar(250) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdateDate] datetime2(3) NULL
)
WITH(CLUSTERED INDEX ([TableID] ASC), DISTRIBUTION = REPLICATE)
