CREATE TABLE [dbo].[CB_Amex_BadData]
(
	[WinLossStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CardNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SENumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OriginalReasonCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OriginalReasonCodeDescription] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChargeReferenceNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChargebackStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ReplyByDate] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RespondedOnDate] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CBDateReceived] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChargebackAmount] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChargebackAmountCurrencyCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseUpdateDate] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseUpdateAmount] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseUpdateAmountCurrencyCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AdjustmentDate] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AdjustmentNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChargeAmount] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChargeAmountCurrency] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DisputeAmount] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DisputeAmountCurrencyCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Casenote] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MerchantInitials] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ResponseNotes] varchar(1000) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseCurrentStatus] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedReasonCode] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedReasonCodeDescription] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MonthID] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Derived Column LND_UpdateDate] datetime2(3) NULL,
	[ErrorCode] int NULL,
	[ErrorColumn] int NULL
)
WITH(HEAP, DISTRIBUTION = REPLICATE)
