CREATE TABLE [dbo].[CB_Tracking_BadData]
(
	[SequenceNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MonthId] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ AmexCaseNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CustomerName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OrderIDNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CardType] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LastFourofCC] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DisputeCode] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AmountDisputed] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PrePaidAccount] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PostPaidAccount] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ZipCashInvoices] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseOwner] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ ReceivedbyNTTA] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DateReplied] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransactionDate] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TSADays] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Howpaymentwasmade] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CurrentDisputeStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Comments] varchar(1000) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[NOTES] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[WinLostSupervisorReview] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DateReviewed] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ReversalCaseNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DateCase#Approved] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ManagerReview] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Airport] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseDate ] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DC LND_UpdateDate] datetime2(3) NULL,
	[DC AmountDisputed] nvarchar(14) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DC TransactionDate] nvarchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ErrorCode] int NULL,
	[ErrorColumn] int NULL
)
WITH(HEAP, DISTRIBUTION = REPLICATE)
