CREATE TABLE [dbo].[ChargeBack_AMEX]
(
	[MonthID] int NULL,
	[WinLossStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CardNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SENumber] bigint NULL,
	[OriginalReasonCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OriginalReasonCodeDescription] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChargeReferenceNumber] bigint NULL,
	[ChargebackStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ReplyByDate] datetime2(3) NULL,
	[RespondedOnDate] datetime2(3) NULL,
	[CBDateReceived] datetime2(3) NULL,
	[ChargebackAmount] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChargebackAmountCurrencyCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseUpdateDate] datetime2(3) NULL,
	[CaseUpdateAmount] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseUpdateAmountCurrencyCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AdjustmentDate] datetime2(3) NULL,
	[AdjustmentNumber] int NULL,
	[ChargeAmount] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChargeAmountCurrency] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DisputeAmount] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DisputeAmountCurrencyCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseNote] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MerchantInitials] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ResponseNotes] varchar(1000) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseCurrentStatus] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedReasonCode] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedReasonCodeDescription] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL
)
WITH(CLUSTERED INDEX ([CaseNumber] ASC), DISTRIBUTION = REPLICATE)
