CREATE TABLE [DMV].[HardLicensePlates]
(
	[HardPlateRecordID] bigint NOT NULL,
	[VIN] varchar(22) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LicensePlateNumber] varchar(7) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LicensePlateState] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LicensePlateType] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TitleNo] varchar(17) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TitleIssueDate] datetime2(3) NULL,
	[SurrenderedTitleDate] datetime2(3) NULL,
	[DocumentTypeCode] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RegistrationEffectiveDate] datetime2(3) NULL,
	[RegistrationExpiryDate] datetime2(3) NULL,
	[OwnerName1] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OwnerName2] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OwnerAddress1] varchar(250) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OwnerAddress2] varchar(250) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OwnerCity] varchar(19) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OwnerState] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OwnerZip1] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OwnerZip2] varchar(4) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OwnerCountry] varchar(40) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[BodyVIN] varchar(22) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[County] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleBodyStyle] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleClass] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleMake] varchar(4) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleModel] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleYear] varchar(4) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleMajorColor] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleMinorColor] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TrailerTypeCode] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleSoldDate] datetime2(3) NULL,
	[IsVehicleStolen] bit NULL,
	[RecipientName] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RenewalMailingStreet1] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RenewalMailingStreet2] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RenewalMailingCity] varchar(19) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RenewalMailingState] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RenewalMailingZip1] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RenewalMailingZip2] varchar(4) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PreviousOwnerName] varchar(24) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PreviousPlateNo] varchar(7) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PreviousRegistrationExpiryDate] datetime2(3) NULL,
	[PreviousTitleNo] varchar(17) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PreviousTitleIssueDate] datetime2(3) NULL,
	[OwnerShipStartDate] datetime2(3) NOT NULL,
	[OwnerShipEndDate] datetime2(3) NOT NULL,
	[FileID] int NOT NULL,
	[Stage1RecordID] bigint NOT NULL,
	[Stage2RecordID] bigint NOT NULL,
	[IsOwnerShipDatesDefaulted] bit NULL,
	[NormalisedLicensePlateNumber] nvarchar(14) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[NormalisedPreviousPlateNo] varchar(7) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CreatedTimestamp] datetime2(3) NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedTimestamp] datetime2(3) NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([HardPlateRecordID] DESC), DISTRIBUTION = HASH([TitleNo]))
