CREATE TABLE [EIP].[Request_Tracker]
(
	[TrackerID] bigint NOT NULL,
	[Node] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[GroupID] int NOT NULL,
	[GroupSize] int NOT NULL,
	[IsValidGroup] smallint NOT NULL,
	[AgencyCode] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[PlazaID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LaneID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TranID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TransactionDate] date NOT NULL,
	[TransactionTime] int NOT NULL,
	[EIPReceivedDate] datetime2(0) NOT NULL,
	[TransactionID] bigint NOT NULL,
	[RepTransactionID] bigint NOT NULL,
	[Request_History] varchar(150) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Process_Status] int NOT NULL,
	[Pending_AIPRequest] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[StageID] int NOT NULL,
	[QueueID] int NOT NULL,
	[ImageID] bigint NULL,
	[IsEasilyConfused] smallint NOT NULL,
	[VehicleClass] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[ImageAvailability] smallint NULL,
	[RegistrationMask] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlateRegistration] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlateJurisdiction] varchar(8) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlateTypePrefix] varchar(8) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlateTypeSuffix] varchar(8) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ROIHorizontalPosition] int NULL,
	[ROIHorizontalSize] int NULL,
	[ROIVerticalPosition] int NULL,
	[ROIVerticalSize] int NULL,
	[DispositionCode] int NULL,
	[UnreadReasonCode] int NULL,
	[CompletionDate] datetime2(0) NULL,
	[SubReasonTime] int NULL,
	[LastReviewer] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransactionTypeID] smallint NULL,
	[TotalImgEnhTime] int NULL,
	[TotalMIRTime] int NULL,
	[ReviewCount] int NULL,
	[ResponseSendDate] datetime2(0) NULL,
	[RetryCount] int NULL,
	[ResponseStatus] varchar(150) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[WorkQueueDate] datetime2(0) NULL,
	[PlateType] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CreatedDate] datetime2(0) NOT NULL,
	[UpdatedDate] datetime2(0) NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([TrackerID] ASC), DISTRIBUTION = HASH([TrackerID]))
