CREATE TABLE [Notifications].[CustomerNotificationQueue]
(
	[CustomerNotificationQueueID] bigint NOT NULL,
	[ConfigAlertTypeAlertChannelID] bigint NULL,
	[CustomerID] bigint NULL,
	[CustCorrespondLogID] bigint NULL,
	[JSONDataKey] varchar(8000) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[JSONDataCommon] varchar(4000) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[NotifStatus] int NULL,
	[ParentCustomerNotificationQueueID] bigint NULL,
	[RequestedDate] datetime2(3) NULL,
	[LinkID] bigint NULL,
	[LinkSource] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[FileID] bigint NULL,
	[Remarks] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MBSRePrint] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDate] datetime2(3) NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([CustomerNotificationQueueID] ASC), DISTRIBUTION = HASH([CustomerNotificationQueueID]))
