CREATE TABLE [Stage].[HabitualViolators]
(
	[HVID] bigint NOT NULL,
	[ViolatorID] bigint NOT NULL,
	[HVseq] int NOT NULL,
	[HVEnabled] bit NOT NULL,
	[VehicleID] bigint NULL,
	[AffidavitType] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsHold] bit NOT NULL,
	[HVDesignationDate] datetime2(3) NULL,
	[HVTerminationDate] datetime2(3) NULL,
	[HVTerminationReason] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HVFirstQualifiedTranDate] datetime2(3) NULL,
	[HVLastQualifiedTranDate] datetime2(3) NULL,
	[HVQualifiedTranCount] int NULL,
	[HVQualifiedAmountDue] decimal(19,2) NULL,
	[HVQualifiedTollsDue] decimal(19,2) NULL,
	[HVQualifiedFeesDue] decimal(19,2) NULL,
	[HVQualifiedPenalitiesDue] decimal(19,2) NULL,
	[TotalAmountDue] decimal(19,2) NULL,
	[TotalTollsDue] decimal(19,2) NULL,
	[TotalFeesDue] decimal(19,2) NULL,
	[TotalTranCount] int NULL,
	[TotalCitationCount] int NULL,
	[AdminHearingCounty] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleRegistrationCounty] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RovAddressCounty] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[JobrunDate] datetime2(3) NULL,
	[CurrentStatusCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CreatedUser] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CreatedDate] datetime2(3) NULL,
	[UpdatedUser] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDate] datetime2(3) NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([HVID] ASC), DISTRIBUTION = HASH([HVID]))
