CREATE TABLE [Stage].[VehicleImages]
(
	[TxnImageID] bigint NOT NULL,
	[TransactionID] bigint NOT NULL,
	[ImageName] varchar(60) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ImageIndex] int NOT NULL,
	[ImageRows] int NULL,
	[ImageCols] int NULL,
	[CameraName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[CameraView] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[CameraID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[CameraType] int NULL,
	[SignatureType] int NULL,
	[OCRIndex] int NULL,
	[VSRHandle] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VSRConfidence] int NULL,
	[VSRCharResults] varchar(256) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VSRLoactionRight] int NULL,
	[VSRLoactionLeft] int NULL,
	[VSRLoactionTop] int NULL,
	[VSRLoactionBottom] int NULL,
	[ROIHorizontalPosition] int NULL,
	[ROIHorizontalSize] int NULL,
	[ROIVerticalPosition] int NULL,
	[ROIVerticalSize] int NULL,
	[IsSignatureValid] smallint NULL,
	[IsDayImage] smallint NULL,
	[ImageContrast] decimal(5,2) NULL,
	[ImageBrightness] decimal(5,2) NULL,
	[Disposition] int NULL,
	[ReasonCode] int NULL,
	[ROIImageName] varchar(60) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ROIImagePathID] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ROIImagePath] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OCRImagePathID] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OCRImagePath] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OCRRegistrationConfidence] int NULL,
	[OCRJurisdictionConfidence] int NULL,
	[OCRImageName] varchar(60) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CreatedDate] datetime2(0) NULL,
	[CreatedUser] nvarchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDate] datetime2(0) NULL,
	[UpdatedUser] nvarchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([TxnImageID] ASC), DISTRIBUTION = HASH([TransactionID]))
