CREATE TABLE [Stage].[MIR_Transactions]
(
	[TransactionID] bigint NOT NULL,
	[Node] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[AgencyCode] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[PlazaID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LaneID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TranID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TransactionTypeID] smallint NOT NULL,
	[TransactionDate] date NOT NULL,
	[TransactionTime] int NOT NULL,
	[EIPReceivedDate] datetime2(0) NULL,
	[VehicleClass] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlateTypePrefix] varchar(8) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlateTypeSuffix] varchar(8) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlateRegistration] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlateJurisdiction] varchar(8) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[InitStageID] int NULL,
	[StatusID] int NULL,
	[GroupID] int NULL,
	[RepTransactionID] bigint NOT NULL,
	[CameraID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DispositionCode] int NULL,
	[UnreadReasonCode] int NULL,
	[SubReasonTime] int NULL,
	[TotalMIRTime] int NULL,
	[TotalReviews] int NOT NULL,
	[TotalImgEnhTime] int NULL,
	[PlateRegistrationMIR] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlateJurisdictionMIR] varchar(8) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SyntaxPattern] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ImageOfRecordID] bigint NOT NULL,
	[ImageOfRecordID2] bigint NOT NULL,
	[IsValidGroup] smallint NOT NULL,
	[IsALPRValid] smallint NOT NULL,
	[IsLPNResultsDeleted] smallint NULL,
	[GroupSize] int NOT NULL,
	[IsROIChanged] smallint NOT NULL,
	[MIRReceivedDate] datetime2(0) NOT NULL,
	[MIRCompletedDate] datetime2(0) NULL,
	[PlateType] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([TransactionID] ASC, [TransactionTypeID] ASC), DISTRIBUTION = HASH([TransactionID]))
