CREATE TABLE [Stage].[ChargeBack_Tracking]
(
	[MonthID] int NULL,
	[SequenceNumber] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AmexCaseNumber] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CustomerName] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OrderIDNumber] bigint NULL,
	[CardType] varchar(25) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LastFourofCC] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DisputeCode] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AmountDisputed] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PrePaidAccount] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PostPaidAccount] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ZipCashInvoices] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseOwner] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ReceivedbyNTTA] datetime2(3) NULL,
	[DateReplied] datetime2(3) NULL,
	[TransactionDate] varchar(25) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TSADays] int NULL,
	[HowPaymentwasmade] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CurrentDisputeStatus] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Comments] varchar(1000) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Notes] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[WinLostSupervisorReview] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DateReviewed] datetime2(3) NULL,
	[ReversalCaseNumber] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CaseDate] varchar(25) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DateCase#Approved] varchar(25) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ManagerReview] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Airport] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL
)
WITH(CLUSTERED INDEX ([SequenceNumber] ASC), DISTRIBUTION = REPLICATE)
