CREATE TABLE [Stage].[TP_Customer_Internal_Users]
(
	[CustomerID] bigint NOT NULL,
	[UserTypeID] bigint NOT NULL,
	[UserName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Password] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsActive] bit NULL,
	[IsDomainAccount] bit NULL,
	[Themes] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Languages] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Last_LoginDate] datetime2(3) NULL,
	[Last_Pwd_ModifiedDate] datetime2(3) NULL,
	[Current_Pwd_ExpiryDate] datetime2(3) NULL,
	[Pwd_Attempts_Count] tinyint NULL,
	[IsLocked] bit NULL,
	[LockOutTime] datetime2(3) NULL,
	[LocationCode] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EmployeeID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[StartEffectiveDate] datetime2(3) NULL,
	[EndEffectiveDate] datetime2(3) NULL,
	[TerminatedDate] datetime2(3) NULL,
	[IsLoginVerificationRequired] bit NOT NULL,
	[EmailAddress] varchar(150) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChannelID] int NULL,
	[ICNID] bigint NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([CustomerID] DESC), DISTRIBUTION = HASH([CustomerID]))
