CREATE TABLE [Stage].[TSARawTransactions]
(
	[TxnID] bigint NOT NULL,
	[TransactionType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RecordType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SubscriberUniqueTransactionID] bigint NULL,
	[ReSubmittalReason] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ReSubmittalCount] int NULL,
	[AuthorityID] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LocationType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Facility] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SubscriberID] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EntryInformation] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Plaza] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Lane] int NULL,
	[LaneMode] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransactionDate] varchar(8) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransactionTime] varchar(12) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransponderID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransponderStatus] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransponderValidationListFileName] varchar(40) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LicensePlateValidationListFileName] varchar(21) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleClassification] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AxlesExpected] int NULL,
	[AxlesCounted] int NULL,
	[Speed] int NULL,
	[HovDesignation] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ExitBarrierOrGantryInformation] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CollectorID] bigint NULL,
	[VaultID] bigint NULL,
	[VehicleClassificationForTollDetermination] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransponderTollAmount] decimal(19,2) NULL,
	[TransponderDiscountType] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DiscountedTransponderTollAmount] decimal(19,2) NULL,
	[VideoTollAmountWithoutVideoTollPremium] decimal(19,2) NULL,
	[VideoTollAmountWithVideoTollPremium] decimal(19,2) NULL,
	[VideoDiscountType] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DiscountedVideoTollAmountWithoutVideoTollPremium] decimal(19,2) NULL,
	[DiscountedVideoTollAmountWithVideoTollPremium] decimal(19,2) NULL,
	[CashTollAmount] decimal(19,2) NULL,
	[CashDiscountType] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DiscountedCashTollAmount] decimal(19,2) NULL,
	[AmountPaid] decimal(19,2) NULL,
	[UnusualOccurrenceCode] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[NumberOfImages] int NULL,
	[HostBOSID] bigint NULL,
	[FileID] bigint NULL,
	[SourcePKID] bigint NULL,
	[IsMalformed] bit NOT NULL,
	[IsUnableToParse] bit NOT NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([TxnID] ASC), DISTRIBUTION = HASH([TxnID]))
