CREATE TABLE [Stage].[IOPInboundRawTransactions]
(
	[TxnID] bigint NOT NULL,
	[FileID] bigint NULL,
	[RecordType] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OriginalRecordType] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransactionReferenceID] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ExitDateTime] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[FacilityID] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[FacilityDescription] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ExitPlaza] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ExitPlazaDescription] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ExitLane] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EntryDateTime] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EntryPlaza] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EntryPlazaDescription] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EntryLane] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TagAgencyID] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TagSerialNumber] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TagStatus] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OccupancyIndicator] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleClassification] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TollAmount] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DiscountPlan] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LicensePlateCountry] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LicensePlateState] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LicensePlateNumber] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LicensePlateType] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleClassificationAdjustmentFlag] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SystemMatchedFlag] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ResubmitCount] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ResubmitReason] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ReconciliationHomeAgencyID] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HomeAgencyReferenceID] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PostingDisposition] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PostedDiscountPlan] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PostedAmount] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PostedDateTime] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransactionflatFee] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransactionpercentFee] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CorrectionDateTime] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CorrectionReason] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[OtherCorrectionDescription] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CorrectionCount] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Spare1] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Spare2] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Spare3] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Spare4] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Spare5] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CorrectionSeqeunceNo] bigint NULL,
	[TpTripID] bigint NULL,
	[FileType] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HostBOSID] bigint NULL,
	[TransactionStatusID] bigint NULL,
	[ReconFileID] bigint NULL,
	[UniqueSequenceNo] bigint NULL,
	[AwayAgencyID] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SourcePKID] bigint NULL,
	[SourceRawPKID] bigint NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([TxnID] ASC), DISTRIBUTION = HASH([TxnID]))
