CREATE TABLE [Stage].[OperationalLocations]
(
	[OperationalLocationID] bigint NOT NULL,
	[LocationName] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LocationCode] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LocationDesc] varchar(800) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Address1] varchar(150) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[City] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[State] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ZipCode] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsThirdPartyLocation] bit NOT NULL,
	[LocationType] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RetailerUserID] bigint NULL,
	[IsWarehouse] bit NOT NULL,
	[IsSemafoneEnabled] bit NOT NULL,
	[IsActive] bit NOT NULL,
	[IslinkedToUser] bit NOT NULL,
	[EncryptedLocation] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MerchantID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HostedSecureID] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HostedSecureAPIToken] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsSendTagRequestTorTp] bit NOT NULL,
	[ChannelID] int NULL,
	[ICNID] bigint NULL,
	[IsNew] bit NOT NULL,
	[CreatedDate] datetime2(3) NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDate] datetime2(3) NULL,
	[UpdateUser] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([OperationalLocationID] ASC), DISTRIBUTION = HASH([OperationalLocationID]))
