CREATE TABLE [Stage].[FailureToPayCitations]
(
	[FailureCitationID] bigint NOT NULL,
	[CourtID] smallint NOT NULL,
	[JudgeID] int NOT NULL,
	[ViolatorID] bigint NOT NULL,
	[CourtAppearanceDate] datetime2(3) NOT NULL,
	[DPSTrooperID] bigint NOT NULL,
	[MailDate] datetime2(3) NULL,
	[PrintDate] datetime2(3) NULL,
	[CitationNumber] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[NTTARepresentative] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[ReferenceTripID] bigint NOT NULL,
	[HVStatusLookupID] int NOT NULL,
	[CDLType] bigint NULL,
	[IsActive] bit NULL,
	[DPSCitationNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CustResponseLookupID] int NULL,
	[DismissalReasonDesc] varchar(2000) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DPSCitationIssuedDate] datetime2(3) NULL,
	[CaseNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SourcePKID] bigint NULL,
	[IsPrimaryOwner] bit NULL,
	[NotaryOfficerID] bigint NULL,
	[CitationInvoiceID] bigint NULL,
	[AgeStageID] int NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([FailureCitationID] ASC), DISTRIBUTION = HASH([FailureCitationID]))
