CREATE TABLE [Stage].[Invoice_Header]
(
	[InvoiceID] bigint NOT NULL,
	[InvoiceNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MasterInvoiceID] bigint NULL,
	[InvoiceDate] datetime2(3) NULL,
	[DueDate] datetime2(3) NULL,
	[StartPeriod] datetime2(3) NULL,
	[EndPeriod] datetime2(3) NULL,
	[CustomerID] bigint NULL,
	[VehicleID] bigint NULL,
	[StageStepID] bigint NULL,
	[PreviousDue] decimal(19,2) NULL,
	[TotalAmount] decimal(19,2) NULL,
	[AmountPaid] decimal(19,2) NULL,
	[BalanceDue] decimal(19,2) NULL,
	[InvoiceStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CurrentCharges] decimal(19,2) NULL,
	[AdjustedAmount] decimal(19,2) NULL,
	[IsViolator] bit NULL,
	[InvBatchID] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Inv_File_Path] varchar(256) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UnBilledAmt] decimal(19,2) NULL,
	[OverpmtAmt] decimal(19,2) NULL,
	[ServiceTax] decimal(19,2) NOT NULL,
	[Is_Hold] bit NOT NULL,
	[IsPDFGenerated] tinyint NOT NULL,
	[AgencyID] bigint NULL,
	[GracePeriodDate] datetime2(3) NULL,
	[MailingDate] datetime2(3) NULL,
	[AgeStageID] int NULL,
	[CurrentChargesToll] decimal(19,2) NULL,
	[CurrentChargesFee] decimal(19,2) NULL,
	[NonPaymentFee] decimal(19,2) NULL,
	[InvoiceAdjAmt] decimal(19,2) NULL,
	[InvoiceAccountStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PreviousDueStartPeriod] datetime2(3) NULL,
	[PreviousDueEndPeriod] datetime2(3) NULL,
	[MailReturnDate] datetime2(3) NULL,
	[IsDiscountProcessed] bit NULL,
	[UnPaidTripCnt] int NULL,
	[CollectionStatus] bigint NULL,
	[SourceID] bigint NULL,
	[SourceName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UnPaidTripAmount] decimal(19,2) NULL,
	[SourceWriteOff] bit NOT NULL,
	[ChannelID] int NULL,
	[ICNID] bigint NULL,
	[CitationStatus] varchar(250) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SecNtvDate] datetime2(3) NULL,
	[SourceInvoiceStatus] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([InvoiceID] DESC), DISTRIBUTION = HASH([InvoiceID]))
