CREATE TABLE [Stage].[TP_Customer_Vehicles]
(
	[VehicleID] bigint NOT NULL,
	[CustomerID] bigint NOT NULL,
	[VehicleNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleCountry] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[VehicleState] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[Year] smallint NULL,
	[Make] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Model] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Color] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[StartEffectiveDate] datetime2(3) NOT NULL,
	[EndEffectiveDate] datetime2(3) NOT NULL,
	[VehicleStatusID] int NOT NULL,
	[VehicleClassCode] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[VIN] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsProtected] bit NULL,
	[IsExempted] bit NULL,
	[IsTempNumber] bit NULL,
	[TagID] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ContractualTypeID] bigint NULL,
	[PlateType] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleShape] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[FuelEfficiency] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsHamRadioOperator] bit NULL,
	[IsTrailer] bit NULL,
	[LicensePlateImagePath] varchar(200) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[DepartmentName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ExcessiveVTolls] bit NULL,
	[IsInHV] bit NOT NULL,
	[Isvrh] bit NOT NULL,
	[DocNo] varchar(17) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleBodyVIN] varchar(22) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[County] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Temp_Source] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Temp_PK] bigint NULL,
	[Temp_Key] int NULL,
	[ChannelID] int NULL,
	[ICNID] bigint NULL,
	[IsVTollEnabled] bit NOT NULL,
	[FilePathConfigurationID] smallint NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([VehicleID] DESC), DISTRIBUTION = HASH([VehicleID]))
