CREATE TABLE [Stage].[ChaseTransactions]
(
	[ChaseTransactionID] bigint NOT NULL,
	[PaymentID] bigint NULL,
	[TxnRefNum] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CustomerRefNum] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ResponseCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ResponseMessage] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TraceNumber] int NULL,
	[UID] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SourceID] int NULL,
	[CreatedDate] datetime2(3) NULL,
	[UpdatedDate] datetime2(3) NULL,
	[CardExpiry] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CardKey] varchar(4) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Name] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CardType] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TxnDate] datetime2(3) NULL,
	[Amount] decimal(19,2) NULL,
	[CvvMatch] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AvsMatch] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransactionStatus] bigint NULL,
	[OrigInalTxnRefNum] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Error] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MerchantID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsAddIngNewcard] bit NOT NULL,
	[MitReceivedTransactionID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([ChaseTransactionID] ASC), DISTRIBUTION = HASH([ChaseTransactionID]))
