CREATE TABLE [Stage].[Plazas]
(
	[PlazaID] int NOT NULL,
	[PlazaCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LocationID] int NULL,
	[PlazaName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[Description] varchar(250) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IpAddress] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[PortNumber] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[AgencyID] bigint NULL,
	[PriceMode] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransactionFeeMode] int NULL,
	[ChartOfAccountID] int NULL,
	[FTPURL] varchar(40) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PGPKeyID] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[FTPLogin] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[FTPPwd] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EncryptFlag] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountType] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AccountName] varchar(200) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[BankName] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IFSCCode] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransactionType] varchar(25) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsOwned] bit NULL,
	[IsNonRevenue] bit NULL,
	[PlazaTypeID] tinyint NULL,
	[ExitPlazaCode] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ChannelID] int NULL,
	[ICNID] bigint NULL,
	[ParkingTaxRate] decimal(19,2) NOT NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([PlazaID] DESC), DISTRIBUTION = HASH([PlazaID]))
