CREATE TABLE [Stage].[PaymentPlans]
(
	[PaymentPlanID] bigint NOT NULL,
	[RemedyStage] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CustTagID] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AgreementLocation] varchar(256) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[StatusLookupCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[StatusDateTime] datetime2(3) NULL,
	[TotalAmountPayable] decimal(19,2) NULL,
	[CalculatedDownPayment] decimal(19,2) NULL,
	[CustomDownPayment] decimal(19,2) NULL,
	[MonthlyPayment] decimal(19,2) NULL,
	[TotalNoOfMonths] int NULL,
	[StartDate] datetime2(3) NULL,
	[EndDate] datetime2(3) NULL,
	[TotalReceived] decimal(19,2) NULL,
	[BalanceDue] decimal(19,2) NULL,
	[LastPaidDate] date NULL,
	[NextDueDate] date NULL,
	[LastPaidAmount] decimal(19,2) NULL,
	[DefaultedDate] datetime2(3) NULL,
	[DefaultsCount] tinyint NULL,
	[PaidInFullDate] datetime2(3) NULL,
	[QuoteExpiryDate] datetime2(3) NULL,
	[TotalSettlementAmount] decimal(19,2) NULL,
	[QuoteFinalizedDate] datetime2(3) NULL,
	[QuoteSignedDate] datetime2(3) NULL,
	[DownPaymentDate] datetime2(3) NULL,
	[DownPaymentApprovedBy] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CashPaymentApprovedBy] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TollAmount] decimal(19,2) NULL,
	[FeeAmount] decimal(19,2) NULL,
	[CitationNumber] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[FilePathConfigurationID] smallint NULL,
	[CreatedDate] datetime2(3) NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDate] datetime2(3) NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([PaymentPlanID] DESC), DISTRIBUTION = HASH([PaymentPlanID]))
