CREATE TABLE [Stage].[Mbsheader]
(
	[MbsID] bigint NOT NULL,
	[MbsGeneratedDate] datetime2(3) NOT NULL,
	[IsPresentMbs] bit NOT NULL,
	[StartPeriod] datetime2(3) NULL,
	[EndPeriod] datetime2(3) NULL,
	[DueDate] datetime2(3) NULL,
	[CustomerID] bigint NULL,
	[VehicleID] bigint NULL,
	[VehicleState] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PreviousDue] decimal(19,2) NULL,
	[AmountPaid] decimal(19,2) NULL,
	[Adjustments] decimal(19,2) NULL,
	[CurrentChargesToll] decimal(19,2) NULL,
	[CurrentChargesFee] decimal(19,2) NULL,
	[TotalAmount] decimal(19,2) NULL,
	[PlateImagePath] varchar(1000) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PDFPath] varchar(1000) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MailingDate] datetime2(3) NULL,
	[MailReturnDate] datetime2(3) NULL,
	[EmailedDate] datetime2(3) NULL,
	[EmailReturnDate] datetime2(3) NULL,
	[NewDueDate] datetime2(3) NULL,
	[SourcePKID] bigint NULL,
	[MbsStatusID] int NOT NULL,
	[QACategory] varchar(3) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[PlateFilePathConfigurationID] smallint NULL,
	[CreatedDate] datetime2(3) NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDate] datetime2(3) NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([MbsID] ASC), DISTRIBUTION = HASH([MbsID]))
