CREATE TABLE [Stage].[TP_Customer_Tags]
(
	[CustTagID] bigint NOT NULL,
	[CustomerID] bigint NOT NULL,
	[TagStartDate] datetime2(3) NOT NULL,
	[TagEndDate] datetime2(3) NOT NULL,
	[TagType] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TagStatus] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[TagAlias] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HexTagID] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SerialNo] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ReturnedOrAssignedType] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ItemCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsNonRevenue] bit NULL,
	[IsGroundTransPortation] bit NULL,
	[TagAgency] varchar(6) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SpecialityTag] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Mounting] varchar(32) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsDFWBlocked] bit NOT NULL,
	[IsDALBlocked] bit NOT NULL,
	[TagAssignedDate] datetime2(3) NULL,
	[TagStatusDate] datetime2(3) NULL,
	[ChannelID] int NULL,
	[ICNID] bigint NULL,
	[TagAssignedEndDate] datetime2(3) NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([CustTagID] DESC), DISTRIBUTION = HASH([CustTagID]))
