CREATE TABLE [Stage].[ItemInventory]
(
	[InventoryID] bigint NOT NULL,
	[ItemCode] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[FacilityCode] varchar(6) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HexTagID] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SerialNo] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CustomerID] bigint NULL,
	[LocationID] int NOT NULL,
	[ShipmentID] int NOT NULL,
	[BatchID] int NOT NULL,
	[MfgDate] datetime2(3) NOT NULL,
	[WarrantyStartDate] datetime2(3) NULL,
	[WarrantyEndDate] datetime2(3) NULL,
	[RmaNumber] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[InvStatusDate] datetime2(3) NULL,
	[ItemType] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ItemStatus] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ItemID] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Ccn] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TagAgency] varchar(6) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Frame24] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Frame25] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Frame26] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Frame27] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TransponderAuditID] bigint NULL,
	[StartDate] datetime2(3) NULL,
	[EndDate] datetime2(3) NULL,
	[TagreqID] bigint NULL,
	[RetailerUserID] bigint NULL,
	[ChannelID] int NULL,
	[ICNID] bigint NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([InventoryID] DESC), DISTRIBUTION = HASH([InventoryID]))
