CREATE TABLE [Stage].[TP_Image_Review_Result_Images]
(
	[ImageReviewResultImageID] bigint NOT NULL,
	[ImageReviewResultID] bigint NOT NULL,
	[ImageFileName] varchar(60) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ImageLocation] varchar(250) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ImageType] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ImageConfidance] int NULL,
	[ImagePriority] varchar(15) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RoiImageName] varchar(60) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RoiImagePath] varchar(255) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleCountry] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[VehicleState] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlateType] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsDownloadRequired] bit NULL,
	[IsOCRRequired] bit NULL,
	[IsMIRRequired] bit NULL,
	[IsValid] bit NULL,
	[PlateStateConfidenceLevel] smallint NULL,
	[PlateCountryConfidenceLevel] smallint NULL,
	[PlateValueConfidenceLevel] smallint NULL,
	[PlateTypeConfidenceLevel] smallint NULL,
	[PlateOverallConfidenceLevel] smallint NULL,
	[FilePathConfigurationID] smallint NULL,
	[SourceImageSeq] int NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([ImageReviewResultImageID] DESC), DISTRIBUTION = HASH([ImageReviewResultImageID]))
