CREATE TABLE [Stage].[Adjustments]
(
	[AdjustmentID] bigint NOT NULL,
	[CustomerID] bigint NOT NULL,
	[AccStatusID] bigint NOT NULL,
	[Amount] decimal(19,2) NOT NULL,
	[AdjustmentCategory] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TxnTypeID] int NOT NULL,
	[AdjustmentDate] datetime2(3) NOT NULL,
	[DrcrFlag] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[AdjustmentReason] varchar(250) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsManualEntry] bit NULL,
	[ApprovedStatusID] int NOT NULL,
	[ApprovedStatusDate] datetime2(3) NOT NULL,
	[PaymentID] bigint NULL,
	[ICNID] bigint NULL,
	[LocationID] bigint NULL,
	[SourceID] bigint NULL,
	[SourceName] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TollAdjustmentID] int NULL,
	[Comments] varchar(2500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[NewAdjustmentID] bigint NOT NULL,
	[IsCreditCardType] bit NOT NULL,
	[SourceTransTypeID] int NULL,
	[SourceRtdID] int NULL,
	[RefundRequestID] bigint NOT NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([AdjustmentID] DESC), DISTRIBUTION = HASH([AdjustmentID]))
