CREATE TABLE [TER].[CollectionAgencies]
(
	[CollAgencyID] bigint NOT NULL,
	[CollAgencyName] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[CollAgencyDesc] varchar(40) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CollAgencyCode] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[IsPrimaryAgency] bit NOT NULL,
	[ParentCollAgencyID] bigint NULL,
	[IsActive] bit NOT NULL,
	[MinDueAmount] decimal(19,2) NULL,
	[MaxDueAmount] decimal(19,2) NULL,
	[MaxNewAccounts] int NOT NULL,
	[DisplayName] varchar(6) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CustomerVolume] int NULL,
	[IsNewAccountProcessed] bit NOT NULL,
	[IsPayEnabled] bit NOT NULL,
	[IsundoEnabled] bit NOT NULL,
	[NewAccountPreference] int NOT NULL,
	[AmountVolume] int NULL,
	[CollectionFee] decimal(19,2) NULL,
	[ChannelID] int NULL,
	[ICNID] bigint NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(30) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([CollAgencyID] ASC), DISTRIBUTION = HASH([CollAgencyID]))
