CREATE TABLE [TollPlus].[TpFileTracker]
(
	[FileID] bigint NOT NULL,
	[FileName] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[FileType] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[FileSource] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Destination] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RequestSource] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[FileDirection] char(1) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[FileReceiveDate] datetime2(3) NULL,
	[FileGeneratedDate] datetime2(3) NULL,
	[BusinessDate] datetime2(3) NULL,
	[FileProcessed] char(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ProcessedDate] datetime2(3) NULL,
	[ProcessedCount] int NULL,
	[FileStatus] int NULL,
	[TotalCount] int NULL,
	[RecordCount] int NULL,
	[FailedCount] int NULL,
	[NoOfTxns] int NULL,
	[FileSequenceNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ParentFileID] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RetryAttempts] int NULL,
	[Module] varchar(55) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Remarks] varchar(100) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[SourcePKID] bigint NULL,
	[SourceName] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[UpdatedDate] datetime2(3) NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([FileID] ASC), DISTRIBUTION = HASH([FileID]))
