CREATE TABLE [TollPlus].[BOS_IOP_InboundTransactions]
(
	[BOSIOPTransactionID] int NOT NULL,
	[FileID] int NOT NULL,
	[IOPTransactionID] int NOT NULL,
	[TransactionTypeID] tinyint NOT NULL,
	[TagType] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EntryTransactionDate] datetime2(3) NOT NULL,
	[AgencyID] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EntryPlaza] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EntryLane] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TagStatus] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LicenceNumber] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LicenseState] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ExitPlaza] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ExitLane] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ResponseStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TollAmount] decimal(19,2) NOT NULL,
	[AcceptedAmount] decimal(19,2) NULL,
	[DiscountPlanID] int NULL,
	[CustomerTripID] bigint NULL,
	[VehicleClass] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[TagSerialNumber] varchar(11) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ExitTransactionDate] datetime2(3) NULL,
	[DebitorCredit] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([BOSIOPTransactionID] ASC), DISTRIBUTION = HASH([BOSIOPTransactionID]))
