CREATE TABLE [TollPlus].[ICN]
(
	[ICNID] bigint NOT NULL,
	[UserID] bigint NOT NULL,
	[CashAmount] decimal(19,2) NULL,
	[CheckAmount] decimal(19,2) NULL,
	[CreditAmount] decimal(19,2) NULL,
	[MOAmount] decimal(19,2) NULL,
	[FloatAmount] decimal(19,2) NULL,
	[ICNStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsDayShiftClosed] bit NULL,
	[CashierCheckAmount] decimal(19,2) NULL,
	[ShiftStartDate] datetime2(3) NULL,
	[ShiftEndDate] datetime2(3) NULL,
	[LocationID] bigint NULL,
	[LocationRoleID] bigint NULL,
	[RetryCnt] int NOT NULL,
	[StickerTagsCount] int NOT NULL,
	[IntegratedTagsCount] int NOT NULL,
	[LicensePlateTagsCount] int NOT NULL,
	[HardCaseTagsCount] int NOT NULL,
	[ShiftApprovalStatus] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[ShiftSubmitted] bit NULL,
	[ReasonCode] varchar(200) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CsrCashAmount] decimal(19,2) NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([ICNID] DESC), DISTRIBUTION = HASH([ICNID]))
