CREATE TABLE [TranProcessing].[NTTARawTransactions]
(
	[TxnID] bigint NOT NULL,
	[SourceSystem] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MetadataRecordType] varchar(10) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[MetadataPublishTime] datetime2(3) NULL,
	[MetadataRecordNumber] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RecordType] varchar(4) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[RecordNumber] bigint NULL,
	[Timestamp] datetime2(3) NULL,
	[FacilityCode] varchar(4) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[PlazaCode] varchar(5) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[Lane] int NULL,
	[LogonTimestamp] datetime2(3) NULL,
	[LaneMode] int NULL,
	[RevenueVehicleClass] int NULL,
	[RevenueAxles] int NULL,
	[IndicatedVehicleClass] int NULL,
	[IndicatedAxles] int NULL,
	[ForwardAxles] int NULL,
	[ReverseAxles] int NULL,
	[VehicleSpeed] int NULL,
	[FareAmount] decimal(19,2) NULL,
	[StraddleIndication] int NULL,
	[EntryloopActivation] int NULL,
	[MIDLaneloopActivation] int NULL,
	[ExitloopActivation] int NULL,
	[ImageRequested] int NULL,
	[PaymentType] int NULL,
	[TagIDNumber] bigint NULL,
	[TagAgency] int NULL,
	[TagStatus] int NULL,
	[TagClass] int NULL,
	[IagTagVehicleType] int NULL,
	[IagTagVehicleAxles] int NULL,
	[IagTagVehicleweight] int NULL,
	[IagTagdualreartires] int NULL,
	[IagTagRevenueType] int NULL,
	[IagTagCommissionFlag] int NULL,
	[TagReads] int NULL,
	[ViolationSerialNumber] bigint NULL,
	[VesTimestamp] datetime2(3) NULL,
	[StandByModeStatus] int NULL,
	[AcmStatus] int NULL,
	[AviReaderStatus] int NULL,
	[DualTireSensor] int NULL,
	[FailoverModuleStatus] int NULL,
	[RedundantLcStatus] int NULL,
	[AvcStatus] int NULL,
	[TReadLeStatus] int NULL,
	[ScannerSeparatorStatus] int NULL,
	[VesStatus] int NULL,
	[AttendantTerminalStatus] int NULL,
	[FacilityServerAviStatusDownload] int NULL,
	[FacilityServerTransactionUpload] int NULL,
	[Ups] int NULL,
	[DigitalIOInterface] int NULL,
	[ReceiptPrinter] int NULL,
	[TvlBatchID] bigint NULL,
	[FareTableID] bigint NULL,
	[TagLowBattery] int NULL,
	[EstimatedAxleCount] int NULL,
	[AuxiliaryLoopActivation] int NULL,
	[MaintenanceOverride] int NULL,
	[RawStringData] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsUnableToParse] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[IsMalformed] varchar(500) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[HostBOSID] bigint NULL,
	[Disposition] varchar(2) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[InvoiceStatus] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[EquipmentCode] int NULL,
	[DeviceInstance] int NULL,
	[StatusCode] int NULL,
	[ConditionState] int NULL,
	[MessageText] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[LogOffTimestamp] datetime2(3) NULL,
	[TagTimestamp] datetime2(3) NULL,
	[TagString] varchar(20) COLLATE Latin1_General_100_CI_AS_KS_WS NULL,
	[CreatedDate] datetime2(3) NOT NULL,
	[CreatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[UpdatedDate] datetime2(3) NOT NULL,
	[UpdatedUser] varchar(50) COLLATE Latin1_General_100_CI_AS_KS_WS NOT NULL,
	[LND_UpdateDate] datetime2(3) NULL,
	[LND_UpdateType] varchar(1) COLLATE Latin1_General_100_CI_AS_KS_WS NULL
)
WITH(CLUSTERED INDEX ([TxnID] ASC), DISTRIBUTION = HASH([TxnID]))
