CREATE PROC [Utility].[Get_TitleCaseWordsList_String] AS
/*
USE EDW_TRIPS 
GO
IF OBJECT_ID ('Utility.Get_TitleCaseWordsList_String', 'P') IS NOT NULL DROP PROCEDURE Utility.Get_TitleCaseWordsList_String
GO

###################################################################################################################
Example:
-------------------------------------------------------------------------------------------------------------------
EXEC Utility.Get_TitleCaseWordsList_String
===================================================================================================================
Proc Description: 
-------------------------------------------------------------------------------------------------------------------
This proc filling the table Utility.TitleCaseWords and creating code to use in function Utility.uf_TitleCase
Adding new words can make this proc works better.

===================================================================================================================
Change Log:
-------------------------------------------------------------------------------------------------------------------
CHG0037837 Andy	01/10/2020	New!
###################################################################################################################
*/

BEGIN

	SET NOCOUNT ON

	TRUNCATE Table Utility.TitleCaseWords

	INSERT INTO Utility.TitleCaseWords (TitleCaseWord) 
	SELECT TitleCaseWord
	FROM 
	(
		SELECT TitleCaseWord = ('Letter')
		UNION ALL SELECT TitleCaseWord = ('ID')
		UNION ALL SELECT TitleCaseWord = ('Code') 
		UNION ALL SELECT TitleCaseWord = ('Date') 
		UNION ALL SELECT TitleCaseWord = ('Type') 
		UNION ALL SELECT TitleCaseWord = ('In') 
		UNION ALL SELECT TitleCaseWord = ('Number') 
		UNION ALL SELECT TitleCaseWord = ('User') 
		UNION ALL SELECT TitleCaseWord = ('Stage') 
		UNION ALL SELECT TitleCaseWord = ('Parent') 
		UNION ALL SELECT TitleCaseWord = ('Trip') 
		UNION ALL SELECT TitleCaseWord = ('Name') 
		UNION ALL SELECT TitleCaseWord = ('Status') 
		UNION ALL SELECT TitleCaseWord = ('Is') 
		UNION ALL SELECT TitleCaseWord = ('Cust') 
		UNION ALL SELECT TitleCaseWord = ('Updat') 
		UNION ALL SELECT TitleCaseWord = ('Creat') 
		UNION ALL SELECT TitleCaseWord = ('Primar') 
		UNION ALL SELECT TitleCaseWord = ('Source') 
		UNION ALL SELECT TitleCaseWord = ('Entry') 
		UNION ALL SELECT TitleCaseWord = ('Categor') 
		UNION ALL SELECT TitleCaseWord = ('Agenc') 
		UNION ALL SELECT TitleCaseWord = ('Line') 
		UNION ALL SELECT TitleCaseWord = ('Lane') 
		UNION ALL SELECT TitleCaseWord = ('Address') 
		UNION ALL SELECT TitleCaseWord = ('Driv') 
		UNION ALL SELECT TitleCaseWord = ('Lic') 
		UNION ALL SELECT TitleCaseWord = ('Expir') 
		UNION ALL SELECT TitleCaseWord = ('Approved') 
		UNION ALL SELECT TitleCaseWord = ('Auto') 
		UNION ALL SELECT TitleCaseWord = ('Purch') 
		UNION ALL SELECT TitleCaseWord = ('Method') 
		UNION ALL SELECT TitleCaseWord = ('Calcul') 
		UNION ALL SELECT TitleCaseWord = ('Rebill') 
		UNION ALL SELECT TitleCaseWord = ('Amount') 
		UNION ALL SELECT TitleCaseWord = ('Count') 
		UNION ALL SELECT TitleCaseWord = ('Start') 
		UNION ALL SELECT TitleCaseWord = ('End') 
		UNION ALL SELECT TitleCaseWord = ('Effe') 
		UNION ALL SELECT TitleCaseWord = ('Manual') 
		UNION ALL SELECT TitleCaseWord = ('Notific') 
		UNION ALL SELECT TitleCaseWord = ('Cycle') 
		UNION ALL SELECT TitleCaseWord = ('Langu') 
		UNION ALL SELECT TitleCaseWord = ('Rev') 
		UNION ALL SELECT TitleCaseWord = ('Serial') 
		UNION ALL SELECT TitleCaseWord = ('Tag') 
		UNION ALL SELECT TitleCaseWord = ('Alias') 
		UNION ALL SELECT TitleCaseWord = ('Hex') 
		UNION ALL SELECT TitleCaseWord = ('Return') 
		UNION ALL SELECT TitleCaseWord = ('Exit') 
		UNION ALL SELECT TitleCaseWord = ('Time') 
		UNION ALL SELECT TitleCaseWord = ('Charge') 
		UNION ALL SELECT TitleCaseWord = ('Plaza') 
		UNION ALL SELECT TitleCaseWord = ('Vehicle') 
		UNION ALL SELECT TitleCaseWord = ('State') 
		UNION ALL SELECT TitleCaseWord = ('Toll') 
		UNION ALL SELECT TitleCaseWord = ('Fee') 
		UNION ALL SELECT TitleCaseWord = ('Discount') 
		UNION ALL SELECT TitleCaseWord = ('Posted') 
		UNION ALL SELECT TitleCaseWord = ('Location') 
		UNION ALL SELECT TitleCaseWord = ('Violat') 
		UNION ALL SELECT TitleCaseWord = ('Non') 
		UNION ALL SELECT TitleCaseWord = ('Acc') 
		UNION ALL SELECT TitleCaseWord = ('Image') 
		UNION ALL SELECT TitleCaseWord = ('Review') 
		UNION ALL SELECT TitleCaseWord = ('Rate') 
		UNION ALL SELECT TitleCaseWord = ('With') 
		UNION ALL SELECT TitleCaseWord = ('Disposition') 
		UNION ALL SELECT TitleCaseWord = ('Of') 
		UNION ALL SELECT TitleCaseWord = ('Class') 
		UNION ALL SELECT TitleCaseWord = ('Middle') 
		UNION ALL SELECT TitleCaseWord = ('And') 
		UNION ALL SELECT TitleCaseWord = ('New') 
		UNION ALL SELECT TitleCaseWord = ('Direct') 
		UNION ALL SELECT TitleCaseWord = ('Citat') 
		UNION ALL SELECT TitleCaseWord = ('Txn') 
		UNION ALL SELECT TitleCaseWord = ('Ref') 
		UNION ALL SELECT TitleCaseWord = ('Modif')
		UNION ALL SELECT TitleCaseWord = ('Plate')
		UNION ALL SELECT TitleCaseWord = ('Flag')
		UNION ALL SELECT TitleCaseWord = ('Active')
		UNION ALL SELECT TitleCaseWord = ('Valid')
		UNION ALL SELECT TitleCaseWord = ('Invalid')
		UNION ALL SELECT TitleCaseWord = ('Verif')
		UNION ALL SELECT TitleCaseWord = ('Bad')
		UNION ALL SELECT TitleCaseWord = ('Email')
		UNION ALL SELECT TitleCaseWord = ('Hold')
		UNION ALL SELECT TitleCaseWord = ('Threshold')
		UNION ALL SELECT TitleCaseWord = ('Invoic') 
		UNION ALL SELECT TitleCaseWord = ('Day') 
		UNION ALL SELECT TitleCaseWord = ('Deliver') 
		UNION ALL SELECT TitleCaseWord = ('Channel') 
		UNION ALL SELECT TitleCaseWord = ('Add')
		UNION ALL SELECT TitleCaseWord = ('Request')
		UNION ALL SELECT TitleCaseWord = ('Call')
		UNION ALL SELECT TitleCaseWord = ('Super')
		UNION ALL SELECT TitleCaseWord = ('Event')
		UNION ALL SELECT TitleCaseWord = ('VIP')
		UNION ALL SELECT TitleCaseWord = ('Generat')
		UNION ALL SELECT TitleCaseWord = ('Spons')
		UNION ALL SELECT TitleCaseWord = ('Carrier')
		UNION ALL SELECT TitleCaseWord = ('SSN')
		UNION ALL SELECT TitleCaseWord = ('First')
		UNION ALL SELECT TitleCaseWord = ('Last')
		UNION ALL SELECT TitleCaseWord = ('Comm')
		UNION ALL SELECT TitleCaseWord = ('Bank')
		UNION ALL SELECT TitleCaseWord = ('To')
		UNION ALL SELECT TitleCaseWord = ('Phon')
		UNION ALL SELECT TitleCaseWord = ('Check')
		UNION ALL SELECT TitleCaseWord = ('HV')
		UNION ALL SELECT TitleCaseWord = ('Or')
		UNION ALL SELECT TitleCaseWord = ('Assign')
		UNION ALL SELECT TitleCaseWord = ('Item')
		UNION ALL SELECT TitleCaseWord = ('VToll')
		UNION ALL SELECT TitleCaseWord = ('Block')
		UNION ALL SELECT TitleCaseWord = ('Protec')
		UNION ALL SELECT TitleCaseWord = ('Deposit')
		UNION ALL SELECT TitleCaseWord = ('Post')
		UNION ALL SELECT TitleCaseWord = ('Pay')
		UNION ALL SELECT TitleCaseWord = ('Paid')
		UNION ALL SELECT TitleCaseWord = ('Out')
		UNION ALL SELECT TitleCaseWord = ('Title')
		UNION ALL SELECT TitleCaseWord = ('Activ')
		UNION ALL SELECT TitleCaseWord = ('Report')
		UNION ALL SELECT TitleCaseWord = ('Case')
		UNION ALL SELECT TitleCaseWord = ('Reason')
		UNION ALL SELECT TitleCaseWord = ('Prior')
		UNION ALL SELECT TitleCaseWord = ('Data')
		UNION ALL SELECT TitleCaseWord = ('Act')
		UNION ALL SELECT TitleCaseWord = ('Trigger')
		UNION ALL SELECT TitleCaseWord = ('Service')
		UNION ALL SELECT TitleCaseWord = ('Visible')
		UNION ALL SELECT TitleCaseWord = ('Self')
		UNION ALL SELECT TitleCaseWord = ('Surve')
		UNION ALL SELECT TitleCaseWord = ('Clos')
		UNION ALL SELECT TitleCaseWord = ('Desc')
		UNION ALL SELECT TitleCaseWord = ('Look')
		UNION ALL SELECT TitleCaseWord = ('Court')
		UNION ALL SELECT TitleCaseWord = ('Mark')
		UNION ALL SELECT TitleCaseWord = ('Path')
		UNION ALL SELECT TitleCaseWord = ('By')
		UNION ALL SELECT TitleCaseWord = ('Config')
		UNION ALL SELECT TitleCaseWord = ('Read')
		UNION ALL SELECT TitleCaseWord = ('Retail')
		UNION ALL SELECT TitleCaseWord = ('Adj')
		UNION ALL SELECT TitleCaseWord = ('Mode')
		UNION ALL SELECT TitleCaseWord = ('System')
		UNION ALL SELECT TitleCaseWord = ('Note')
		UNION ALL SELECT TitleCaseWord = ('Account')
		UNION ALL SELECT TitleCaseWord = ('Value')
		UNION ALL SELECT TitleCaseWord = ('Web')
		UNION ALL SELECT TitleCaseWord = ('Mail')
		UNION ALL SELECT TitleCaseWord = ('Display')
		UNION ALL SELECT TitleCaseWord = ('Portal')
		UNION ALL SELECT TitleCaseWord = ('Quer')
		UNION ALL SELECT TitleCaseWord = ('Send')
		UNION ALL SELECT TitleCaseWord = ('Messag')
		UNION ALL SELECT TitleCaseWord = ('Table')
		UNION ALL SELECT TitleCaseWord = ('No')
		UNION ALL SELECT TitleCaseWord = ('Correspond')
		UNION ALL SELECT TitleCaseWord = ('Log')
		UNION ALL SELECT TitleCaseWord = ('Key')
		UNION ALL SELECT TitleCaseWord = ('Queue')
		UNION ALL SELECT TitleCaseWord = ('Print')
		UNION ALL SELECT TitleCaseWord = ('Alert')
		UNION ALL SELECT TitleCaseWord = ('Action')
		UNION ALL SELECT TitleCaseWord = ('Ban')
		UNION ALL SELECT TitleCaseWord = ('Upload')
		UNION ALL SELECT TitleCaseWord = ('Load')
		UNION ALL SELECT TitleCaseWord = ('Consume')
		UNION ALL SELECT TitleCaseWord = ('Volume')
		UNION ALL SELECT TitleCaseWord = ('Process')
		UNION ALL SELECT TitleCaseWord = ('Enable')
		UNION ALL SELECT TitleCaseWord = ('Num')
		UNION ALL SELECT TitleCaseWord = ('Dismiss')
		UNION ALL SELECT TitleCaseWord = ('Appear')
		UNION ALL SELECT TitleCaseWord = ('Representativ')
		UNION ALL SELECT TitleCaseWord = ('Sent')
		UNION ALL SELECT TitleCaseWord = ('Due')
		UNION ALL SELECT TitleCaseWord = ('Qualif')
		UNION ALL SELECT TitleCaseWord = ('Registrat')
		UNION ALL SELECT TitleCaseWord = ('Affidavit')
		UNION ALL SELECT TitleCaseWord = ('Terminat')
		UNION ALL SELECT TitleCaseWord = ('Tran')
		UNION ALL SELECT TitleCaseWord = ('Bankruptcy')
		UNION ALL SELECT TitleCaseWord = ('Detail')
		UNION ALL SELECT TitleCaseWord = ('Color')
		UNION ALL SELECT TitleCaseWord = ('Make')
		UNION ALL SELECT TitleCaseWord = ('Year')
		UNION ALL SELECT TitleCaseWord = ('Raise')
		UNION ALL SELECT TitleCaseWord = ('Resolve')
		UNION ALL SELECT TitleCaseWord = ('Frequen')
		UNION ALL SELECT TitleCaseWord = ('Authorit')
		UNION ALL SELECT TitleCaseWord = ('File')
		UNION ALL SELECT TitleCaseWord = ('Sequence')
		UNION ALL SELECT TitleCaseWord = ('Record')
		UNION ALL SELECT TitleCaseWord = ('Error')
		UNION ALL SELECT TitleCaseWord = ('Response')
		UNION ALL SELECT TitleCaseWord = ('Info')
		UNION ALL SELECT TitleCaseWord = ('Cash')
		UNION ALL SELECT TitleCaseWord = ('Remain')
		UNION ALL SELECT TitleCaseWord = ('Main')
		UNION ALL SELECT TitleCaseWord = ('Shift')
		UNION ALL SELECT TitleCaseWord = ('Role')
		UNION ALL SELECT TitleCaseWord = ('Approv')
		UNION ALL SELECT TitleCaseWord = ('Replace')
		UNION ALL SELECT TitleCaseWord = ('Renter')
		UNION ALL SELECT TitleCaseWord = ('Balance')
		UNION ALL SELECT TitleCaseWord = ('Float')
		UNION ALL SELECT TitleCaseWord = ('Credit')
		UNION ALL SELECT TitleCaseWord = ('Amt')
		UNION ALL SELECT TitleCaseWord = ('Cnt')
		UNION ALL SELECT TitleCaseWord = ('Batch')
		UNION ALL SELECT TitleCaseWord = ('Write')
		UNION ALL SELECT TitleCaseWord = ('Outstanding')
		UNION ALL SELECT TitleCaseWord = ('Stand')
		UNION ALL SELECT TitleCaseWord = ('Period')
		UNION ALL SELECT TitleCaseWord = ('Prev')
		UNION ALL SELECT TitleCaseWord = ('Step')
		UNION ALL SELECT TitleCaseWord = ('Bill')
		UNION ALL SELECT TitleCaseWord = ('Tax')
		UNION ALL SELECT TitleCaseWord = ('Waive')
		UNION ALL SELECT TitleCaseWord = ('Subscribe')
		UNION ALL SELECT TitleCaseWord = ('Map')
		UNION ALL SELECT TitleCaseWord = ('Port')
		UNION ALL SELECT TitleCaseWord = ('Own')
		UNION ALL SELECT TitleCaseWord = ('Decision')
		UNION ALL SELECT TitleCaseWord = ('Ground')
		UNION ALL SELECT TitleCaseWord = ('Ship')
		UNION ALL SELECT TitleCaseWord = ('Manager')
		UNION ALL SELECT TitleCaseWord = ('Inventor')
		UNION ALL SELECT TitleCaseWord = ('DMV')
		UNION ALL SELECT TitleCaseWord = ('Histor')
		UNION ALL SELECT TitleCaseWord = ('BOS')
		UNION ALL SELECT TitleCaseWord = ('IOP')
		UNION ALL SELECT TitleCaseWord = ('Plus')
		UNION ALL SELECT TitleCaseWord = ('Processing')
		UNION ALL SELECT TitleCaseWord = ('Parking')
		UNION ALL SELECT TitleCaseWord = ('TP_')
		UNION ALL SELECT TitleCaseWord = ('NTTA')
		UNION ALL SELECT TitleCaseWord = ('TSA')
		UNION ALL SELECT TitleCaseWord = ('FK_')
		UNION ALL SELECT TitleCaseWord = ('PK')
		UNION ALL SELECT TitleCaseWord = ('NIX_')
		UNION ALL SELECT TitleCaseWord = ('INX')
		UNION ALL SELECT TitleCaseWord = ('IX_')
		UNION ALL SELECT TitleCaseWord = ('IDX')
		UNION ALL SELECT TitleCaseWord = ('UQ_')
		UNION ALL SELECT TitleCaseWord = ('STAT_')
		UNION ALL SELECT TitleCaseWord = ('Customer')
		UNION ALL SELECT TitleCaseWord = ('Attr')
		UNION ALL SELECT TitleCaseWord = ('VCF')
		UNION ALL SELECT TitleCaseWord = ('Confid')
		UNION ALL SELECT TitleCaseWord = ('Confidance')
		UNION ALL SELECT TitleCaseWord = ('Require')
		UNION ALL SELECT TitleCaseWord = ('Download')
		UNION ALL SELECT TitleCaseWord = ('MIR')
		UNION ALL SELECT TitleCaseWord = ('MST_')
		UNION ALL SELECT TitleCaseWord = ('Tracker')
		UNION ALL SELECT TitleCaseWord = ('Result')
		UNION ALL SELECT TitleCaseWord = ('Index')
		UNION ALL SELECT TitleCaseWord = ('Jurisdiction')
		UNION ALL SELECT TitleCaseWord = ('Height')
		UNION ALL SELECT TitleCaseWord = ('Left')
		UNION ALL SELECT TitleCaseWord = ('Right')
		UNION ALL SELECT TitleCaseWord = ('Top')
		UNION ALL SELECT TitleCaseWord = ('Bottom')
		UNION ALL SELECT TitleCaseWord = ('Loaction') -- spelling mistake
		UNION ALL SELECT TitleCaseWord = ('Handle')  
		UNION ALL SELECT TitleCaseWord = ('Transaction') 
		UNION ALL SELECT TitleCaseWord = ('Vertical')  
		UNION ALL SELECT TitleCaseWord = ('Horiz')  
		UNION ALL SELECT TitleCaseWord = ('Bright')  
		UNION ALL SELECT TitleCaseWord = ('Contrast')  
		UNION ALL SELECT TitleCaseWord = ('Size')  
		UNION ALL SELECT TitleCaseWord = ('Position')  
		UNION ALL SELECT TitleCaseWord = ('Option')  
		UNION ALL SELECT TitleCaseWord = ('Prefer')  
		UNION ALL SELECT TitleCaseWord = ('Sponsor')  
		UNION ALL SELECT TitleCaseWord = ('JSON')  
		UNION ALL SELECT TitleCaseWord = ('Coll')  
		UNION ALL SELECT TitleCaseWord = ('Determina')  
		UNION ALL SELECT TitleCaseWord = ('Premium')  
		UNION ALL SELECT TitleCaseWord = ('Video')  
		UNION ALL SELECT TitleCaseWord = ('Exception')  
		UNION ALL SELECT TitleCaseWord = ('VIN')  
		UNION ALL SELECT TitleCaseWord = ('Raw')  
		UNION ALL SELECT TitleCaseWord = ('Remark')  
		UNION ALL SELECT TitleCaseWord = ('Malform')  
		UNION ALL SELECT TitleCaseWord = ('Work')  
		UNION ALL SELECT TitleCaseWord = ('Indicat')  
		UNION ALL SELECT TitleCaseWord = ('Plan')  
		UNION ALL SELECT TitleCaseWord = ('List')  
		UNION ALL SELECT TitleCaseWord = ('Hearing')  
		UNION ALL SELECT TitleCaseWord = ('Admin')  
		UNION ALL SELECT TitleCaseWord = ('Correct')  
		UNION ALL SELECT TitleCaseWord = ('Host')  
		UNION ALL SELECT TitleCaseWord = ('Metadata')  
		UNION ALL SELECT TitleCaseWord = ('Axle')
		UNION ALL SELECT TitleCaseWord = ('TxDot')
		UNION ALL SELECT TitleCaseWord = ('Template')
		UNION ALL SELECT TitleCaseWord = ('OCR')
		UNION ALL SELECT TitleCaseWord = ('Eligible')
		UNION ALL SELECT TitleCaseWord = ('Receive')
		UNION ALL SELECT TitleCaseWord = ('Telephone')
		UNION ALL SELECT TitleCaseWord = ('DocMgr')
		UNION ALL SELECT TitleCaseWord = ('DPS')
		UNION ALL SELECT TitleCaseWord = ('Down')
		UNION ALL SELECT TitleCaseWord = ('Term')
		UNION ALL SELECT TitleCaseWord = ('Seq')
		UNION ALL SELECT TitleCaseWord = ('Trooper')
		UNION ALL SELECT TitleCaseWord = ('RegBlocks')
		UNION ALL SELECT TitleCaseWord = ('VRB')
		UNION ALL SELECT TitleCaseWord = ('Reject')
		UNION ALL SELECT TitleCaseWord = ('Inbound')
		UNION ALL SELECT TitleCaseWord = ('Contact')
		UNION ALL SELECT TitleCaseWord = ('NNP')
		UNION ALL SELECT TitleCaseWord = ('ICN')
		UNION ALL SELECT TitleCaseWord = ('Facilit')
		UNION ALL SELECT TitleCaseWord = ('FTP')
		UNION ALL SELECT TitleCaseWord = ('Home')
		UNION ALL SELECT TitleCaseWord = ('Renewal')
		UNION ALL SELECT TitleCaseWord = ('City')
		UNION ALL SELECT TitleCaseWord = ('Zip')
		UNION ALL SELECT TitleCaseWord = ('Submit')
		UNION ALL SELECT TitleCaseWord = ('Receipt')
		UNION ALL SELECT TitleCaseWord = ('Ident')
		UNION ALL SELECT TitleCaseWord = ('PBM')
		UNION ALL SELECT TitleCaseWord = ('IPSTransaction')
		UNION ALL SELECT TitleCaseWord = ('UTC')
		UNION ALL SELECT TitleCaseWord = ('Excessive')
		UNION ALL SELECT TitleCaseWord = ('EIP')
		UNION ALL SELECT TitleCaseWord = ('Pending')
		UNION ALL SELECT TitleCaseWord = ('ALPR')
		UNION ALL SELECT TitleCaseWord = ('VSR')
		UNION ALL SELECT TitleCaseWord = ('AIP')
		UNION ALL SELECT TitleCaseWord = ('Prefix')
		UNION ALL SELECT TitleCaseWord = ('Suffix')
		UNION ALL SELECT TitleCaseWord = ('CSV')
		UNION ALL SELECT TitleCaseWord = ('Storage')
		UNION ALL SELECT TitleCaseWord = ('ROI')
		UNION ALL SELECT TitleCaseWord = ('Group')
		UNION ALL SELECT TitleCaseWord = ('Syntax')
		UNION ALL SELECT TitleCaseWord = ('Conflict')
		UNION ALL SELECT TitleCaseWord = ('Img')
		UNION ALL SELECT TitleCaseWord = ('ImgEnh')
		UNION ALL SELECT TitleCaseWord = ('Change')
		UNION ALL SELECT TitleCaseWord = ('Short')
		UNION ALL SELECT TitleCaseWord = ('Cut')
		UNION ALL SELECT TitleCaseWord = ('Hist')
		UNION ALL SELECT TitleCaseWord = ('Match')
		UNION ALL SELECT TitleCaseWord = ('Unmatch')
		UNION ALL SELECT TitleCaseWord = ('Complet')
		UNION ALL SELECT TitleCaseWord = ('Sig')
		UNION ALL SELECT TitleCaseWord = ('Misread')
		UNION ALL SELECT TitleCaseWord = ('Unread')
		UNION ALL SELECT TitleCaseWord = ('Signature')
		UNION ALL SELECT TitleCaseWord = ('Summary')
		UNION ALL SELECT TitleCaseWord = ('Setup')
		UNION ALL SELECT TitleCaseWord = ('Length')
		UNION ALL SELECT TitleCaseWord = ('Blind')
		UNION ALL SELECT TitleCaseWord = ('Speed')
		UNION ALL SELECT TitleCaseWord = ('Header')
		UNION ALL SELECT TitleCaseWord = ('Level')
		UNION ALL SELECT TitleCaseWord = ('__')

	) AS A

	UPDATE Utility.TitleCaseWords
	SET WordLen = Len(TitleCaseWord)

	-- To print REPLACE formula
	IF OBJECT_ID('tempdb..#TableColums') IS NOT NULL DROP Table #TableColums;
	SELECT      TitleCaseWord AS ColumnName, 
				ROW_NUMBER() OVER(ORDER BY WordLen, TitleCaseWord) AS RN
				INTO #TableColums
	FROM        Utility.TitleCaseWords

	DECLARE @ColumnsCnt INT
	SELECT @ColumnsCnt = MAX(RN) FROM #TableColums
	DECLARE @Counter SMALLINT = 1
	DECLARE @SELECT_String VARCHAR(MAX) = ''
	DECLARE @SQL_String VARCHAR(MAX) = '@Ret'

	WHILE (@Counter <= @ColumnsCnt)
	BEGIN
		SELECT @SELECT_String = ColumnName
		FROM #TableColums
		WHERE RN = @Counter
		
		SET @SQL_String = 'REPLACE(' + @SQL_String + ',''' + @SELECT_String + ''',''' + REPLACE(@SELECT_String,'__','_') + ''')' + ''')'

		SET @Counter += 1
	END

	EXEC  Utility.LongPrint @SQL_String

END


/*
--===============================================================================================================
-- !!! DEVELOPER TESTING ZONE to thoroughly test the code for various scenarios !!!
--===============================================================================================================

SELECT * FROM Utility.TitleCaseWords ORDER BY WordLen, TitleCaseWord
SELECT TitleCaseWord, COUNT(1) Dup_Count FROM Utility.TitleCaseWords GROUP BY TitleCaseWord HAVING COUNT(1) > 1
*/

